{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Account",
    "version" : "1.0.0",
    "x-clan-group" : "accounts",
    "x-module-group" : "accounts"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/accounts/{accountId}/associateProducts" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Associate products with an account",
        "description" : "This API associates products with an account. Only a maximum of 10 products can be associated with an account through a single API request.",
        "operationId" : "associateProductsWithAccount",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Unique ID of the account",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "associate", "ids" ],
                "properties" : {
                  "departmentId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64",
                    "x-custom-parameters-attributes" : {
                      "entity" : "Departments"
                    }
                  },
                  "ids" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "associate" : { }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "departmentId" : "7000000062800",
                    "ids" : [ "7000000027223", "7000000043968" ],
                    "associate" : true
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "massActionListView template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "results" ],
                  "properties" : {
                    "results" : {
                      "items" : {
                        "required" : [ "errors", "id", "success" ],
                        "properties" : {
                          "success" : { },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "errors" : {
                            "required" : [ "errorCode", "httpCode" ],
                            "properties" : {
                              "errorCode" : {
                                "enum" : [ "UNPROCESSABLE_ENTITY", "UNAUTHORIZED", "FORBIDDEN", "INVALID_DATA", "SCHEDULED", "SUCCESS" ]
                              },
                              "httpCode" : {
                                "enum" : [ "401", "403", "422", "202", "200", 401, 403, 422, 202, 200 ]
                              },
                              "errorMessage" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "errorJson" : {
                                "additionalProperties" : false
                              },
                              "error" : {
                                "maxLength" : 250,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "results" : [ {
                        "success" : true,
                        "id" : "7000000027223",
                        "errors" : null
                      }, {
                        "success" : false,
                        "id" : "7000000043968",
                        "errors" : {
                          "errorCode" : "UNPROCESSABLE_ENTITY",
                          "httpCode" : "422"
                        }
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Lenient_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "accounts",
          "apihash" : "243a2960a87793a8a28d2e480091afef",
          "module-group" : "accounts",
          "apimethod" : "com.zoho.support.restapi.AccountService.associateProductsWithAccount"
        }
      }
    },
    "/api/v1/accounts/{accountId}/merge" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Merge Accounts",
        "description" : "This API merges two or more accounts.",
        "operationId" : "mergeAccounts",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Unique ID of the account",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "ids" ],
                "properties" : {
                  "ids" : {
                    "uniqueItems" : true,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "source" : {
                    "required" : [ "annualrevenue", "cf", "city", "code", "country", "customFields", "description", "email", "fax", "industry", "phone", "state", "street", "website" ],
                    "properties" : {
                      "country" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "website" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "code" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "cf" : {
                        "additionalProperties" : false
                      },
                      "city" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "customFields" : {
                        "additionalProperties" : false
                      },
                      "description" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "industry" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "phone" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "annualrevenue" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "street" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "state" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "fax" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "email" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "additionalProperties" : { }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "ids" : [ "4000000018011", "4000000018033" ],
                    "source" : {
                      "country" : "4000000018011",
                      "website" : "4000000018011",
                      "code" : "4000000018011",
                      "cf" : {
                        "cf_contactcount" : 1892220000042001
                      },
                      "city" : "4000000018011",
                      "description" : "4000000018011",
                      "industry" : "4000000018011",
                      "phone" : "4000000018011",
                      "annualrevenue" : "4000000018011",
                      "street" : "4000000018011",
                      "state" : "4000000018011",
                      "fax" : "4000000018011",
                      "email" : "4000000018011"
                    }
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "accountResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "owner" : {
                        "maxProperties" : 3,
                        "minProperties" : 3,
                        "required" : [ "firstName", "id", "lastName" ],
                        "properties" : {
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "additionalProperties" : { },
                      "allOf" : [ {
                        "required" : [ "accountName", "email", "phone" ],
                        "properties" : {
                          "website" : {
                            "maxLength" : 120,
                            "minLength" : 0,
                            "pattern" : "^(ht|f)tp(s?)\\:\\/\\/[-.\\w]*(\\/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'\\/\\\\+=&%\\$#_@]*)?$",
                            "description" : "Website of the account"
                          },
                          "accountName" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "description" : "Name of the account"
                          },
                          "phone" : {
                            "maxLength" : 30,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                            "description" : "Phone number of the account"
                          },
                          "email" : {
                            "maxLength" : 255,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                            "description" : "Email ID of the account"
                          }
                        },
                        "additionalProperties" : false
                      }, {
                        "required" : [ "annualrevenue", "cf", "city", "code", "country", "customFields", "description", "fax", "industry", "ownerId", "state", "street" ],
                        "properties" : {
                          "country" : {
                            "maxLength" : 30,
                            "minLength" : 0
                          },
                          "code" : {
                            "maxLength" : 30,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "cf" : {
                            "additionalProperties" : false
                          },
                          "city" : {
                            "maxLength" : 30,
                            "minLength" : 0
                          },
                          "customFields" : {
                            "additionalProperties" : false
                          },
                          "street" : {
                            "maxLength" : 250,
                            "minLength" : 0
                          },
                          "annualrevenue" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                          },
                          "description" : {
                            "maxLength" : 65535,
                            "minLength" : 0
                          },
                          "industry" : {
                            "maxLength" : 120,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "state" : {
                            "maxLength" : 30,
                            "minLength" : 0
                          },
                          "ownerId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "fax" : {
                            "maxLength" : 30,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                          }
                        }
                      } ]
                    }, {
                      "required" : [ "associatedSLAIds", "createdTime", "id", "isDeleted", "isFollowing", "isTrashed", "layoutDetails", "layoutId", "modifiedTime", "webUrl", "zohoCRMAccount" ],
                      "properties" : {
                        "modifiedTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                        },
                        "isFollowing" : { },
                        "isDeleted" : { },
                        "isTrashed" : { },
                        "associatedSLAIds" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "webUrl" : {
                          "maxLength" : 500,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "createdTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                        },
                        "zohoCRMAccount" : {
                          "required" : [ "id" ],
                          "properties" : {
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : { }
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "layoutId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "layoutDetails" : {
                          "maxProperties" : 2,
                          "minProperties" : 2,
                          "required" : [ "id", "layoutName" ],
                          "properties" : {
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "layoutName" : {
                              "maxLength" : 120,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "additionalProperties" : { }
                        }
                      }
                    } ]
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "country" : "USA",
                      "modifiedTime" : 1425307758000,
                      "code" : "3211",
                      "accountName" : "Zylker",
                      "city" : null,
                      "associatedSLAIds" : [ 3263000000057, 3000000057001 ],
                      "description" : null,
                      "industry" : "Automation",
                      "zohoCRMAccount" : {
                        "id" : "32754000000537001"
                      },
                      "ownerId" : "3263000000057001",
                      "isDeleted" : false,
                      "isTrashed" : false,
                      "street" : null,
                      "annualrevenue" : null,
                      "createdTime" : 1424105864000,
                      "state" : null,
                      "id" : "3263000000074571",
                      "fax" : "+1 444 8656 8732",
                      "email" : "support@zylker.com",
                      "owner" : {
                        "firstName" : "Twin",
                        "lastName" : "john",
                        "id" : "3263000000057001"
                      },
                      "website" : "www.zylker.com",
                      "cf" : {
                        "cf_contactcount" : "1"
                      },
                      "isFollowing" : "true",
                      "phone" : "6218129190",
                      "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Accounts/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "accounts",
          "apihash" : "3078cad06807a3f92dc34379d3beff2d",
          "module-group" : "accounts",
          "apimethod" : "com.zoho.support.restapi.AccountService.merge"
        }
      }
    },
    "/api/v1/contacts/{contactId}/accounts" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "List accounts of contact",
        "description" : "This API lists the accounts associated with a particular contact.",
        "operationId" : "getAccountsByContact",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of accounts to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 99,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of accounts to list",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the accounts must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 1,
            "description" : "Index number, starting from which the accounts must be fetched",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Sort by a specific attribute: @accountName@ or @createdTime@ or @mappingType@ . The default sorting order is ascending. A @-@ prefix denotes descending order of sorting.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Sort by a specific attribute: @accountName@ or @createdTime@ or @mappingType@ . The default sorting order is ascending. A @-@ prefix denotes descending order of sorting.",
            "enum" : [ "accountName", "createdTime", "mappingType" ]
          }
        }, {
          "name" : "startsWith",
          "in" : "query",
          "description" : "Letter with which the names of the accounts must start",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Letter with which the names of the accounts must start"
          }
        }, {
          "name" : "contactId",
          "in" : "path",
          "description" : "Unique ID of the contact",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Key that filters ticket activities related to a particular contact",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "accountListWithMappingInfoArray template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "additionalProperties" : { },
                        "allOf" : [ {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "required" : [ "accountName", "email", "phone" ],
                            "properties" : {
                              "website" : {
                                "maxLength" : 120,
                                "minLength" : 0,
                                "pattern" : "^(ht|f)tp(s?)\\:\\/\\/[-.\\w]*(\\/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'\\/\\\\+=&%\\$#_@]*)?$",
                                "description" : "Website of the account"
                              },
                              "accountName" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "description" : "Name of the account"
                              },
                              "phone" : {
                                "maxLength" : 30,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                "description" : "Phone number of the account"
                              },
                              "email" : {
                                "maxLength" : 255,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                                "description" : "Email ID of the account"
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "createdTime", "customerHappiness", "id", "webUrl", "zohoCRMAccount" ],
                            "properties" : {
                              "webUrl" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "createdTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              },
                              "zohoCRMAccount" : {
                                "required" : [ "id" ],
                                "properties" : {
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "customerHappiness" : {
                                "required" : [ "badPercentage", "goodPercentage", "okPercentage" ],
                                "properties" : {
                                  "badPercentage" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "okPercentage" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "goodPercentage" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          } ]
                        }, {
                          "required" : [ "mappingInfo", "mappingType" ],
                          "properties" : {
                            "mappingInfo" : {
                              "required" : [ "isAccountTicketsViewable", "mappingId", "mappingType" ],
                              "properties" : {
                                "mappingId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "mappingType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "PRIMARY", "SECONDARY" ]
                                },
                                "isAccountTicketsViewable" : { }
                              },
                              "additionalProperties" : false
                            },
                            "mappingType" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          }
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "website" : "www.zoho.com",
                        "accountName" : "ZOHO",
                        "phone" : "8822120911",
                        "mappingInfo" : {
                          "mappingId" : 1892000000052072,
                          "mappingType" : "PRIMARY",
                          "isAccountTicketsViewable" : true
                        },
                        "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Accounts/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                        "createdTime" : 1424105864000,
                        "zohoCRMAccount" : {
                          "id" : "32754000000537001"
                        },
                        "customerHappiness" : {
                          "badPercentage" : "30",
                          "okPercentage" : "30",
                          "goodPercentage" : "40"
                        },
                        "id" : "1892000000052077",
                        "email" : "admin@zylker.com"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "contacts",
          "apihash" : "22cf770b56a22ef6cc65fd9c1c86cf46",
          "module-group" : "contacts",
          "apimethod" : "com.zoho.support.restapi.ContactService.getAssociatedAccountsForContact"
        }
      }
    },
    "/api/v1/accounts/{accountId}/statistics" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "Get account statistics",
        "description" : "This API fetches the overall statistics of an account.",
        "operationId" : "getAccountStatistics",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "Unique ID of the department",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the statistics must be fetched. If you do not pass this parameter in the API request, statistics from all permitted departments will be fetched.",
            "format" : "int64"
          }
        }, {
          "name" : "timeRange",
          "in" : "query",
          "description" : "Key that filters statistics observed in a specific date and time range. Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ; for example, timeRange=2017-11-05T00:00:00.000Z,2018-02-05T23:59:00.000Z. The maximum period allowed for the time range is six months.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z)),(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))|null",
            "description" : "Key that filters statistics observed in a specific date and time range. Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ; for example, timeRange=2017-11-05T00:00:00.000Z,2018-02-05T23:59:00.000Z. The maximum period allowed for the time range is six months.",
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "accountId",
          "in" : "path",
          "description" : "Unique ID of the account",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "statisticsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "channelWiseCount", "closedTickets", "customerHappiness", "escalatedTickets", "firstResponseTime", "onholdTickets", "openTickets", "overdueTickets", "resolutionTime", "responseTime", "spamTickets", "totalTickets" ],
                  "properties" : {
                    "firstResponseTime" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "openTickets" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "responseTime" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "spamTickets" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "totalTickets" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "customerHappiness" : {
                      "required" : [ "badCount", "goodCount", "okCount" ],
                      "properties" : {
                        "badCount" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "goodCount" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "okCount" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "resolutionTime" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "closedTickets" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "channelWiseCount" : {
                      "additionalProperties" : { }
                    },
                    "escalatedTickets" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "onholdTickets" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "overdueTickets" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "firstResponseTime" : "120000",
                      "openTickets" : "11",
                      "responseTime" : "13150000",
                      "spamTickets" : "0",
                      "totalTickets" : "31",
                      "customerHappiness" : {
                        "badCount" : "50",
                        "goodCount" : "0",
                        "okCount" : "50"
                      },
                      "closedTickets" : "20",
                      "resolutionTime" : "0",
                      "channelWiseCount" : {
                        "Web" : "15",
                        "Forums" : "15",
                        "Chat" : "1"
                      },
                      "onholdTickets" : "0",
                      "escalatedTickets" : "0",
                      "overdueTickets" : "0"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "accounts",
          "apihash" : "bb8cfdc78f3d8bdd5dcc962b668c3312",
          "module-group" : "accounts",
          "apimethod" : "com.zoho.support.restapi.AccountService.getStatistics"
        }
      }
    },
    "/api/v1/accounts/{accountId}/tickets" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "List tickets by account",
        "description" : "This API lists tickets received from a specific account.",
        "operationId" : "getTicketsByAccount",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Additional information related to the tickets. Values allowed are: contacts, products, departments, team, isRead and assignee. You can pass multiple values by separating them with a comma in the API request.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Additional information related to the tickets. Values allowed are: @contacts@, @products@, @departments@, @team@, @isRead@ and @assignee@. You can pass multiple values by separating them with a comma in the API request.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "contacts", "products", "departments", "team", "assignee", "isRead" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "statusType",
          "in" : "query",
          "description" : "Filter by status of the ticket. Values allowed are Open and On Hold and Closed. Both values include their sub-statuses too.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Filter by status of the ticket. Values allowed are @Open@  and @On Hold@ and @Closed@. Both values include their sub-statuses too.",
            "enum" : [ "Open", "Closed" ],
            "x-audience" : [ "company-internal" ]
          },
          "x-audience" : [ "company-internal" ]
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "Unique ID of the department",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the statistics must be fetched. If you do not pass this parameter in the API request, statistics from all permitted departments will be fetched.",
            "format" : "int64"
          }
        }, {
          "name" : "dueDate",
          "in" : "query",
          "description" : "Filter by ticket duedate. Values allowed are @overdue@, @tomorrow@, @currentWeek@, @currentMonth@ and @today@. You can include both values by separating them with a comma",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Filter by ticket duedate. Values allowed are @overdue@, @tomorrow@, @currentWeek@, @currentMonth@ and @today@. You can include both values by separating them with a comma",
            "enum" : [ "overdue", "tomorrow", "currentWeek", "currentMonth", "today" ],
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of accounts to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 99,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of accounts to list",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the accounts must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 1,
            "description" : "Index number, starting from which the accounts must be fetched",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Sort by a specific attribute: @createdTime@ or @modifiedTime@. The default sorting order is ascending. A @-@ prefix denotes descending order of sorting.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Sort by a specific attribute: @createdTime@ or @modifiedTime@. The default sorting order is ascending. A @-@ prefix denotes descending order of sorting.",
            "enum" : [ "createdTime", "modifiedTime" ]
          }
        }, {
          "name" : "isSpam",
          "in" : "query",
          "description" : "Filters Spam tickets",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Filters Spam tickets"
          }
        }, {
          "name" : "accountId",
          "in" : "path",
          "description" : "Unique ID of the account",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "getTicketsByAccountResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "product" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "id", "productName" ],
                              "properties" : {
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "productName" : {
                                  "maxLength" : 200,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "contact" : {
                              "maxProperties" : 8,
                              "minProperties" : 8,
                              "required" : [ "account", "email", "firstName", "id", "lastName", "mobile", "phone", "type" ],
                              "properties" : {
                                "lastName" : {
                                  "maxLength" : 200,
                                  "minLength" : 0
                                },
                                "firstName" : {
                                  "maxLength" : 40,
                                  "minLength" : 0
                                },
                                "phone" : {
                                  "maxLength" : 50,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                },
                                "mobile" : {
                                  "maxLength" : 50,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "type" : {
                                  "x-dynamic-enum" : true
                                },
                                "email" : {
                                  "maxLength" : 255,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                },
                                "account" : {
                                  "maxProperties" : 3,
                                  "minProperties" : 3,
                                  "required" : [ "accountName", "id", "website" ],
                                  "properties" : {
                                    "website" : {
                                      "maxLength" : 120,
                                      "minLength" : 0
                                    },
                                    "accountName" : {
                                      "maxLength" : 200,
                                      "minLength" : 0
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    }
                                  },
                                  "additionalProperties" : { }
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "isRead" : { },
                            "team" : {
                              "maxProperties" : 3,
                              "minProperties" : 3,
                              "required" : [ "id", "logoUrl", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 1,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "logoUrl" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "assignee" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "department" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "id", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : { }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "required" : [ "assigneeId", "channel", "dueDate", "email", "language", "phone", "priority", "productId", "subject" ],
                              "properties" : {
                                "productId" : {
                                  "pattern" : "([0-9]+)",
                                  "description" : "ID of the product to which the ticket is mapped",
                                  "format" : "int64"
                                },
                                "phone" : {
                                  "maxLength" : 120,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                  "description" : "Phone number in the ticket",
                                  "x-custom-parameters-attributes" : {
                                    "filterMatchedContent" : true,
                                    "replacementString" : ""
                                  }
                                },
                                "subject" : {
                                  "maxLength" : 1000,
                                  "minLength" : 0,
                                  "description" : "Subject of the ticket"
                                },
                                "dueDate" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                                  "description" : "Due date for resolving the ticket"
                                },
                                "channel" : {
                                  "description" : "Channel through which the ticket originated.",
                                  "x-dynamic-enum" : true
                                },
                                "language" : {
                                  "description" : "Language preference to set for the ticket",
                                  "x-dynamic-enum" : true
                                },
                                "priority" : {
                                  "description" : "Priority of the ticket",
                                  "x-dynamic-enum" : true
                                },
                                "assigneeId" : {
                                  "pattern" : "([0-9]+)",
                                  "description" : "ID of agent to whom the ticket is assigned",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 150,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                                  "description" : "Email ID in the ticket"
                                }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "accountId", "channelCode", "closedTime", "commentCount", "contactId", "createdTime", "customerResponseTime", "departmentId", "dueDate", "id", "isArchived", "isSpam", "lastThread", "onholdTime", "relationshipType", "responseDueDate", "sentiment", "source", "status", "statusType", "teamId", "threadCount", "ticketNumber", "webUrl" ],
                              "properties" : {
                                "ticketNumber" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "sentiment" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(POSITIVE|NEUTRAL|NEGATIVE)"
                                },
                                "customerResponseTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "statusType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "Open", "Closed", "On Hold" ]
                                },
                                "relationshipType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "contactId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isArchived" : { },
                                "departmentId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "dueDate" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "threadCount" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "onholdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "lastThread" : {
                                  "required" : [ "channel", "direction", "isDraft", "isForward" ],
                                  "properties" : {
                                    "channel" : {
                                      "x-dynamic-enum" : true
                                    },
                                    "isDraft" : { },
                                    "isForward" : { },
                                    "direction" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "in", "out" ]
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "source" : {
                                  "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                                  "properties" : {
                                    "appName" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "extId" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "permalink" : {
                                      "maxLength" : 65535,
                                      "minLength" : 0,
                                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                    },
                                    "type" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                                    },
                                    "appPhotoURL" : {
                                      "maxLength" : 65535,
                                      "minLength" : 0,
                                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                    },
                                    "uuid" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "closedTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "commentCount" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "accountId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "responseDueDate" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "webUrl" : {
                                  "maxLength" : 500,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "teamId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "createdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isSpam" : { },
                                "status" : {
                                  "x-dynamic-enum" : true
                                },
                                "channelCode" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              }
                            } ]
                          }, {
                            "required" : [ "category", "layoutId", "subCategory" ],
                            "properties" : {
                              "subCategory" : {
                                "x-dynamic-enum" : true
                              },
                              "category" : {
                                "x-dynamic-enum" : true
                              },
                              "layoutId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            }
                          } ]
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "ticketNumber" : "149",
                        "statusType" : "Open",
                        "subject" : "Hi. There is a sudden delay in the processing of the orders. Check this with high priority",
                        "dueDate" : 1509778989000,
                        "departmentId" : "1892000000006907",
                        "channel" : "Email",
                        "isRead" : false,
                        "onholdTime" : null,
                        "language" : "English",
                        "closedTime" : null,
                        "contact" : {
                          "lastName" : "Carol",
                          "firstName" : "Lucas",
                          "phone" : "1 888 900 9646",
                          "mobile" : "8845678909",
                          "id" : "18944000000421011",
                          "type" : null,
                          "email" : "carol@zylker.com",
                          "account" : {
                            "website" : "www.desk.com",
                            "accountName" : "desk Account",
                            "id" : "1892000000975382"
                          }
                        },
                        "createdTime" : 1507813910000,
                        "id" : "18944000000336005",
                        "department" : {
                          "name" : "dasdasdasd",
                          "id" : "1892000000006907"
                        },
                        "email" : "support@zylker.com",
                        "customerResponseTime" : 1509692589203,
                        "productId" : "18944000000424033",
                        "contactId" : "18944000000421011",
                        "threadCount" : "7",
                        "lastThread" : null,
                        "team" : {
                          "name" : "kjsdfjks",
                          "id" : "8920000000069071",
                          "logoUrl" : "https://desk.zoho.com/api/v1/teams/8920000000069071/logo?orgId=11278831"
                        },
                        "priority" : "Medium",
                        "assigneeId" : "1892000000042001",
                        "commentCount" : "0",
                        "accountId" : "189200000005345",
                        "phone" : "9876543321",
                        "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Cases/dv/20d7881a46edfcffefe308ab38676ec3e612657a51fd5fbe",
                        "teamId" : "8920000000069071",
                        "isSpam" : false,
                        "assignee" : {
                          "firstName" : "dasca",
                          "lastName" : "vins",
                          "photoURL" : "https://desk.zoho.com/api/v1/agent/1892000000042001/photo",
                          "id" : "1892000000042001",
                          "email" : "jack@zylker.com"
                        },
                        "status" : "Open"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ", "Desk.search.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "search" ]
            }
          },
          "clan-group" : "tickets",
          "apihash" : "56e4b4244f0ffe9e1234e3e24ba6e4ea",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.RequestService.getTicketsForAccount"
        }
      }
    },
    "/api/v1/accounts/{accountId}/dissociateContacts" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Dissociate accounts with a contact",
        "description" : "This API dissociate accounts with a contact.",
        "operationId" : "dissociateContactsWithAccount",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Unique ID of the account",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "ids" ],
                "properties" : {
                  "ids" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "ids" : [ "7000000027223", "7000000043968" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "massActionListView template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "results" ],
                  "properties" : {
                    "results" : {
                      "items" : {
                        "required" : [ "errors", "id", "success" ],
                        "properties" : {
                          "success" : { },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "errors" : {
                            "required" : [ "errorCode", "httpCode" ],
                            "properties" : {
                              "errorCode" : {
                                "enum" : [ "UNPROCESSABLE_ENTITY", "UNAUTHORIZED", "FORBIDDEN", "INVALID_DATA", "SCHEDULED", "SUCCESS" ]
                              },
                              "httpCode" : {
                                "enum" : [ "401", "403", "422", "202", "200", 401, 403, 422, 202, 200 ]
                              },
                              "errorMessage" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "errorJson" : {
                                "additionalProperties" : false
                              },
                              "error" : {
                                "maxLength" : 250,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "results" : [ {
                        "success" : true,
                        "id" : "7000000027223",
                        "errors" : null
                      }, {
                        "success" : false,
                        "id" : "7000000043968",
                        "errors" : {
                          "errorCode" : "UNPROCESSABLE_ENTITY",
                          "httpCode" : "422"
                        }
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "accounts",
          "apihash" : "b0eed9a3a6a09eab7fdf8ca2c9232586",
          "module-group" : "accounts",
          "apimethod" : "com.zoho.support.restapi.AccountService.dissociateContactsWithAccount"
        }
      }
    },
    "/api/v1/accounts" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "List accounts",
        "description" : "This API lists a particular number of accounts, based on the limit specified. ",
        "operationId" : "getAccounts",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of accounts to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 99,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of accounts to list",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the accounts must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 1,
            "description" : "Index number, starting from which the accounts must be fetched",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "website", "email", "phone", "accountName", "createdTime", "modifiedTime" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "accountListArray template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "additionalProperties" : false,
                        "allOf" : [ {
                          "required" : [ "accountName", "email", "phone" ],
                          "properties" : {
                            "website" : {
                              "maxLength" : 120,
                              "minLength" : 0,
                              "pattern" : "^(ht|f)tp(s?)\\:\\/\\/[-.\\w]*(\\/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'\\/\\\\+=&%\\$#_@]*)?$",
                              "description" : "Website of the account"
                            },
                            "accountName" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "description" : "Name of the account"
                            },
                            "phone" : {
                              "maxLength" : 30,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                              "description" : "Phone number of the account"
                            },
                            "email" : {
                              "maxLength" : 255,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                              "description" : "Email ID of the account"
                            }
                          },
                          "additionalProperties" : false
                        }, {
[...]
