{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "AccountDeduplication",
    "version" : "1.0.0",
    "x-clan-group" : "accounts",
    "x-module-group" : "accounts"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/accountsDeduplication/defaultFieldName" : {
      "get" : {
        "tags" : [ "AccountDeduplication" ],
        "summary" : "Get Default Field Name",
        "description" : "This API fetches the name of the field set as the default field for account deduplication.",
        "operationId" : "getDefaultFieldNameForAccountDeduplication",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getDefaultFieldResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "fieldName" ],
                  "properties" : {
                    "fieldName" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "email", "phone", "accountName", null ]
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "fieldName" : "email"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "accounts",
          "apihash" : "45256615ebe14438ec0d64d726ef85fc",
          "module-group" : "accounts",
          "apimethod" : "com.zoho.support.restapi.DeduplicationService.getDefaultFieldNameForAccountDeduplication"
        }
      },
      "post" : {
        "tags" : [ "AccountDeduplication" ],
        "summary" : "Set default field for account deduplication",
        "description" : "This API sets the field you specify as the default field for deduplicating accounts.",
        "operationId" : "setDefaultFieldNameForAccountDeduplication",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "fieldName", "markDefault" ],
                "properties" : {
                  "fieldName" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "email", "phone", "accountName" ]
                  },
                  "markDefault" : { }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "fieldName" : "accountName",
                    "markDefault" : true
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "commonErrorResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "errorCode" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "",
                      "enum" : [ "URL_NOT_FOUND", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "INTERNAL_SERVER_ERROR", "EMPTY_PAYLOAD" ],
                      "x-custom-parameters-attributes" : { }
                    },
                    "message" : {
                      "maxLength" : 255,
                      "minLength" : 0,
                      "description" : "",
                      "x-custom-parameters-attributes" : { }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : { }
                  }
                }
              }
            },
            "x-custom-response-attributes" : { }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 15,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "accounts",
          "apihash" : "afb77a44837e01bd1ae0751027e64323",
          "module-group" : "accounts",
          "apimethod" : "com.zoho.support.restapi.DeduplicationService.setDefaultFieldNameForAccountDeduplication"
        }
      }
    },
    "/api/v1/groupAccountDuplicateValues" : {
      "get" : {
        "tags" : [ "AccountDeduplication" ],
        "summary" : "List duplicate accounts",
        "description" : "This API lists the duplicate entries of an account.The _fieldName_ parameters is mandatory in the API request   <br/></br/>_Note:_<br/> If you encounter a 202 status code while executing this API request, it means there are 100,000 or more accounts in the help desk portal. Matching the records and finding duplicates will be time-consuming in such a scenario. Therefore, the deduplication request will be accepted, and after the process is completed, an automated report will be sent to the user who initiated the deduplication.",
        "operationId" : "listGroupedDuplicateAccounts",
        "parameters" : [ {
          "name" : "fieldName",
          "in" : "query",
          "description" : "Name of the field whose values must be matched for deduplication.Values allowed are: !@email,@! !@phone,@! and !@accountName@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Name of the field whose values must be matched for deduplication.Values allowed are: !@email,@! !@phone,@! and !@accountName@!",
            "enum" : [ "email", "phone", "accountName" ]
          }
        }, {
          "name" : "swFieldValue",
          "in" : "query",
          "description" : "Key that specifies the letter with which the field values must start",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^([a-z0-9*#])$",
            "description" : "Key that specifies the letter with which the field values must start"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of accounts to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of accounts to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number starting from which the accounts must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "pattern" : "([0-9]+)",
            "description" : "Index number starting from which the accounts must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Key that sorts the accounts by a specific attribute: @count@ or @fieldValue@. The default sorting order is ascending. A @-@ prefix denotes descending order of sorting.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Key that sorts the accounts by a specific attribute: @count@ or @fieldValue@. The default sorting order is ascending. A @-@ prefix denotes descending order of sorting.",
            "enum" : [ "count", "fieldValue" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "listDuplicateAccountsCountsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "required" : [ "count", "fieldValue" ],
                          "properties" : {
                            "count" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "fieldValue" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "errorCode" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "URL_NOT_FOUND", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "INTERNAL_SERVER_ERROR", "EMPTY_PAYLOAD" ]
                      },
                      "message" : {
                        "maxLength" : 255,
                        "minLength" : 0
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "count" : 16,
                        "fieldValue" : "Admin Account"
                      }, {
                        "count" : 2,
                        "fieldValue" : "Agent Account"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "accounts",
          "apihash" : "4004e93ff76c7ab29d38eb4f85ef0b5c",
          "module-group" : "accounts",
          "apimethod" : "com.zoho.support.restapi.DeduplicationService.getGroupedAccountDuplicateValues"
        }
      }
    },
    "/api/v1/groupAccounts" : {
      "get" : {
        "tags" : [ "AccountDeduplication" ],
        "summary" : "List details of duplicate accounts",
        "description" : "This API lists all the details of duplicate accounts.The _fieldName_ and _fieldValues_ parameters are mandatory in the API request",
        "operationId" : "listDuplicateAccounts",
        "parameters" : [ {
          "name" : "fieldName",
          "in" : "query",
          "description" : "Name of the field whose values must be matched for deduplication.Values allowed are: !@email,@! !@phone,@! and !@accountName@!",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Name of the field whose values must be matched for deduplication.Values allowed are: !@email,@! !@phone,@! and !@accountName@!",
            "enum" : [ "email", "phone", "accountName" ]
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of accounts to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of accounts to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Key that sorts the accounts by a specific attribute: @accountName@ or @createdTime@ or @modifiedTime@. The default sorting order is ascending. A @-@ prefix denotes descending order of sorting.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that sorts the accounts by a specific attribute: @accountName@ or @createdTime@ or @modifiedTime@. The default sorting order is ascending. A @-@ prefix denotes descending order of sorting.",
            "enum" : [ "accountName", "createdTime" ]
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number starting from which the accounts must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "pattern" : "([0-9]+)",
            "description" : "Index number starting from which the accounts must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "fieldValues",
          "in" : "query",
          "description" : "Actual values in each field related to the account",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Actual values in each field related to the account"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "listDuplicateAccountResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "accounts", "fieldValue" ],
                        "properties" : {
                          "accounts" : {
                            "items" : {
                              "additionalProperties" : false,
                              "allOf" : [ {
                                "required" : [ "accountName", "email", "phone" ],
                                "properties" : {
                                  "website" : {
                                    "maxLength" : 120,
                                    "minLength" : 0,
                                    "pattern" : "^(ht|f)tp(s?)\\:\\/\\/[-.\\w]*(\\/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'\\/\\\\+=&%\\$#_@]*)?$",
                                    "description" : "Website of the account"
                                  },
                                  "accountName" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "description" : "Name of the account"
                                  },
                                  "phone" : {
                                    "maxLength" : 30,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                    "description" : "Phone number of the account"
                                  },
                                  "email" : {
                                    "maxLength" : 255,
                                    "minLength" : 0,
                                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                                    "description" : "Email ID of the account"
                                  }
                                },
                                "additionalProperties" : false
                              }, {
                                "required" : [ "createdTime", "customerHappiness", "id", "webUrl", "zohoCRMAccount" ],
                                "properties" : {
                                  "webUrl" : {
                                    "maxLength" : 500,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  },
                                  "createdTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "zohoCRMAccount" : {
                                    "required" : [ "id" ],
                                    "properties" : {
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "customerHappiness" : {
                                    "required" : [ "badPercentage", "goodPercentage", "okPercentage" ],
                                    "properties" : {
                                      "badPercentage" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int32"
                                      },
                                      "okPercentage" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int32"
                                      },
                                      "goodPercentage" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int32"
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                }
                              } ]
                            }
                          },
                          "fieldValue" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "accounts" : [ {
                          "website" : "112121",
                          "accountName" : "Admin Account",
                          "phone" : "121212",
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Accounts/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                          "createdTime" : 1424105864000,
                          "zohoCRMAccount" : null,
                          "id" : "1892000000052077",
                          "email" : "admin@zylker.com"
                        }, {
                          "website" : "112121",
                          "accountName" : "Admin Account",
                          "phone" : "121212",
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Accounts/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                          "createdTime" : 1424105864000,
                          "zohoCRMAccount" : null,
                          "id" : "1892000000052077",
                          "email" : "admin@zylker.com"
                        } ],
                        "fieldValue" : "Admin Account"
                      }, {
                        "accounts" : [ {
                          "website" : "112121",
                          "accountName" : "Agent Account",
                          "phone" : "121212",
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Accounts/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                          "createdTime" : 1424105864000,
                          "zohoCRMAccount" : {
                            "id" : "32754000000537001"
                          },
                          "id" : "1892000000052077",
                          "email" : "agent@zylker.com"
                        }, {
                          "website" : "112121",
                          "accountName" : "Agent Account",
                          "phone" : "121212",
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Accounts/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                          "createdTime" : 1424105864000,
                          "zohoCRMAccount" : {
                            "id" : "32754000000537001"
                          },
                          "id" : "1892000000052077",
                          "email" : "agent@zylker.com"
                        } ],
                        "fieldValue" : "Agent Account"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "accounts",
          "apihash" : "de156988cbb8838a2fe19694ef644ff8",
          "module-group" : "accounts",
          "apimethod" : "com.zoho.support.restapi.DeduplicationService.getGroupedAccounts"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "accountsArray" : {
        "items" : {
          "additionalProperties" : false,
          "allOf" : [ {
            "required" : [ "accountName", "email", "phone" ],
            "properties" : {
              "website" : {
                "maxLength" : 120,
                "minLength" : 0,
                "pattern" : "^(ht|f)tp(s?)\\:\\/\\/[-.\\w]*(\\/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'\\/\\\\+=&%\\$#_@]*)?$",
                "description" : "Website of the account"
              },
              "accountName" : {
                "maxLength" : 200,
                "minLength" : 0,
                "description" : "Name of the account"
              },
              "phone" : {
                "maxLength" : 30,
                "minLength" : 0,
                "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                "description" : "Phone number of the account"
              },
              "email" : {
                "maxLength" : 255,
                "minLength" : 0,
                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                "description" : "Email ID of the account"
              }
            },
            "additionalProperties" : false
          }, {
            "required" : [ "createdTime", "customerHappiness", "id", "webUrl", "zohoCRMAccount" ],
            "properties" : {
              "webUrl" : {
                "maxLength" : 500,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "createdTime" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
              },
              "zohoCRMAccount" : {
                "required" : [ "id" ],
                "properties" : {
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : false
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "customerHappiness" : {
                "required" : [ "badPercentage", "goodPercentage", "okPercentage" ],
                "properties" : {
                  "badPercentage" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int32"
                  },
                  "okPercentage" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int32"
                  },
                  "goodPercentage" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int32"
                  }
                },
                "additionalProperties" : false
              }
            }
          } ]
        }
      },
      "duplicateResponse" : {
        "required" : [ "accounts", "fieldValue" ],
        "properties" : {
          "accounts" : {
            "items" : {
              "additionalProperties" : false,
              "allOf" : [ {
                "required" : [ "accountName", "email", "phone" ],
                "properties" : {
                  "website" : {
                    "maxLength" : 120,
                    "minLength" : 0,
                    "pattern" : "^(ht|f)tp(s?)\\:\\/\\/[-.\\w]*(\\/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'\\/\\\\+=&%\\$#_@]*)?$",
                    "description" : "Website of the account"
                  },
                  "accountName" : {
                    "maxLength" : 200,
                    "minLength" : 0,
                    "description" : "Name of the account"
                  },
                  "phone" : {
                    "maxLength" : 30,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                    "description" : "Phone number of the account"
                  },
                  "email" : {
                    "maxLength" : 255,
                    "minLength" : 0,
                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                    "description" : "Email ID of the account"
                  }
                },
                "additionalProperties" : false
              }, {
                "required" : [ "createdTime", "customerHappiness", "id", "webUrl", "zohoCRMAccount" ],
                "properties" : {
                  "webUrl" : {
                    "maxLength" : 500,
                    "minLength" : 0,
                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                  },
                  "createdTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                  },
                  "zohoCRMAccount" : {
                    "required" : [ "id" ],
                    "properties" : {
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "additionalProperties" : false
                  },
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "customerHappiness" : {
                    "required" : [ "badPercentage", "goodPercentage", "okPercentage" ],
                    "properties" : {
                      "badPercentage" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "okPercentage" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "goodPercentage" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      }
                    },
                    "additionalProperties" : false
                  }
                }
              } ]
            }
          },
          "fieldValue" : {
            "maxLength" : 100,
            "minLength" : 0
          }
        },
        "additionalProperties" : { }
      },
      "duplicateResponseData" : {
        "items" : {
          "required" : [ "accounts", "fieldValue" ],
          "properties" : {
            "accounts" : {
              "items" : {
                "additionalProperties" : false,
                "allOf" : [ {
                  "required" : [ "accountName", "email", "phone" ],
                  "properties" : {
                    "website" : {
                      "maxLength" : 120,
                      "minLength" : 0,
                      "pattern" : "^(ht|f)tp(s?)\\:\\/\\/[-.\\w]*(\\/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'\\/\\\\+=&%\\$#_@]*)?$",
                      "description" : "Website of the account"
                    },
                    "accountName" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "description" : "Name of the account"
                    },
                    "phone" : {
                      "maxLength" : 30,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                      "description" : "Phone number of the account"
                    },
                    "email" : {
                      "maxLength" : 255,
                      "minLength" : 0,
                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                      "description" : "Email ID of the account"
                    }
                  },
                  "additionalProperties" : false
                }, {
                  "required" : [ "createdTime", "customerHappiness", "id", "webUrl", "zohoCRMAccount" ],
                  "properties" : {
                    "webUrl" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "zohoCRMAccount" : {
                      "required" : [ "id" ],
                      "properties" : {
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "customerHappiness" : {
                      "required" : [ "badPercentage", "goodPercentage", "okPercentage" ],
                      "properties" : {
                        "badPercentage" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "okPercentage" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "goodPercentage" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        }
                      },
                      "additionalProperties" : false
                    }
                  }
                } ]
              }
            },
            "fieldValue" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          },
          "additionalProperties" : false
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "getDefaultFieldResponse" : {
        "description" : "getDefaultFieldResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "fieldName" ],
              "properties" : {
                "fieldName" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "email", "phone", "accountName", null ]
                }
              },
              "additionalProperties" : false
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "fieldName" : "email"
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "listDuplicateAccountsCountsResponse" : {
        "description" : "listDuplicateAccountsCountsResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "oneOf" : [ {
                "required" : [ "data" ],
                "properties" : {
                  "data" : {
                    "items" : {
                      "required" : [ "count", "fieldValue" ],
                      "properties" : {
                        "count" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "fieldValue" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    }
                  }
                },
                "additionalProperties" : { }
              }, {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "errorCode" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "URL_NOT_FOUND", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "INTERNAL_SERVER_ERROR", "EMPTY_PAYLOAD" ]
                  },
                  "message" : {
                    "maxLength" : 255,
                    "minLength" : 0
                  }
                },
                "additionalProperties" : { }
              } ]
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : [ {
                    "count" : 16,
                    "fieldValue" : "Admin Account"
                  }, {
                    "count" : 2,
                    "fieldValue" : "Agent Account"
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "listDuplicateAccountResponse" : {
        "description" : "listDuplicateAccountResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "data" ],
              "properties" : {
                "data" : {
                  "items" : {
                    "required" : [ "accounts", "fieldValue" ],
                    "properties" : {
                      "accounts" : {
                        "items" : {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "required" : [ "accountName", "email", "phone" ],
                            "properties" : {
                              "website" : {
                                "maxLength" : 120,
                                "minLength" : 0,
                                "pattern" : "^(ht|f)tp(s?)\\:\\/\\/[-.\\w]*(\\/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'\\/\\\\+=&%\\$#_@]*)?$",
                                "description" : "Website of the account"
                              },
                              "accountName" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "description" : "Name of the account"
                              },
                              "phone" : {
                                "maxLength" : 30,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                "description" : "Phone number of the account"
                              },
                              "email" : {
                                "maxLength" : 255,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                                "description" : "Email ID of the account"
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "createdTime", "customerHappiness", "id", "webUrl", "zohoCRMAccount" ],
                            "properties" : {
                              "webUrl" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "createdTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              },
                              "zohoCRMAccount" : {
                                "required" : [ "id" ],
                                "properties" : {
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "customerHappiness" : {
                                "required" : [ "badPercentage", "goodPercentage", "okPercentage" ],
                                "properties" : {
                                  "badPercentage" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "okPercentage" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "goodPercentage" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          } ]
                        }
                      },
                      "fieldValue" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      }
                    },
                    "additionalProperties" : false
                  }
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : [ {
                    "accounts" : [ {
                      "website" : "112121",
                      "accountName" : "Admin Account",
                      "phone" : "121212",
                      "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Accounts/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                      "createdTime" : 1424105864000,
                      "zohoCRMAccount" : null,
                      "id" : "1892000000052077",
                      "email" : "admin@zylker.com"
                    }, {
                      "website" : "112121",
                      "accountName" : "Admin Account",
                      "phone" : "121212",
                      "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Accounts/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                      "createdTime" : 1424105864000,
                      "zohoCRMAccount" : null,
                      "id" : "1892000000052077",
                      "email" : "admin@zylker.com"
                    } ],
                    "fieldValue" : "Admin Account"
                  }, {
                    "accounts" : [ {
                      "website" : "112121",
                      "accountName" : "Agent Account",
                      "phone" : "121212",
                      "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Accounts/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                      "createdTime" : 1424105864000,
                      "zohoCRMAccount" : {
                        "id" : "32754000000537001"
                      },
                      "id" : "1892000000052077",
                      "email" : "agent@zylker.com"
                    }, {
                      "website" : "112121",
                      "accountName" : "Agent Account",
                      "phone" : "121212",
                      "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Accounts/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                      "createdTime" : 1424105864000,
                      "zohoCRMAccount" : {
                        "id" : "32754000000537001"
                      },
                      "id" : "1892000000052077",
                      "email" : "agent@zylker.com"
                    } ],
                    "fieldValue" : "Agent Account"
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "OAuth Org Mismatch Error Response" : {
                "value" : {
                  "errorCode" : "OAUTH_ORG_MISMATCH",
                  "message" : "The OAuthToken is not valid for specified organization."
                }
              }
            }
          }
        }
      },
      "forbiddenErrorResponse" : {
        "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Forbidden Error Response" : {
                "value" : {
                  "errorCode" : "FORBIDDEN",
                  "message" : "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "urlNotFoundErrorResponse" : {
        "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Url Not Found Error Response" : {
                "value" : {
                  "errorCode" : "URL_NOT_FOUND",
                  "message" : "The URL you requested could not be found."
                }
              }
            }
          }
        }
      },
      "methodNotAllowedErrorResponse" : {
        "description" : "This errorCode value appears if the method in the API request is known by the server but disabled for the API requested.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Method Not Allowed Error Response" : {
                "value" : {
                  "errorCode" : "METHOD_NOT_ALLOWED",
                  "message" : "This HTTP method is not allowed on this URL."
                }
              }
            }
          }
        }
      },
      "resourceSizeExceededErrorResponse" : {
        "description" : "This errorCode value appears if the size of the resource exceeds the limit defined by the server.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Resource Size Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "RESOURCE_SIZE_EXCEEDED",
                  "message" : "Attachment size is too large. The maximum size supported is 20 MB."
                }
              }
            }
          }
        }
      },
      "unSupportedMediaTypeErrorResponse" : {
        "description" : "This errorCode value appears if the server refuses the request as a result of receiving the input in an unsupported format.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unsupported Media Type Error Response" : {
                "value" : {
                  "errorCode" : "UNSUPPORTED_MEDIA_TYPE",
                  "message" : "The given content type is not supported. Please provide the input Content-Type as application/json"
                }
              }
            }
          }
        }
      },
      "unprocessableEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The value passed for the 'from' query parameter is invalid."
                }
              }
            }
          }
        }
      },
      "missingEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not contain the mandatory parameters for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The mandatory parameter 'permission' is missing"
                }
              }
            }
          }
        }
      },
      "thresholdExceedErrorResponse" : {
        "description" : "This errorCode value appears if the user sends too many requests within a given amount of time (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Threshold Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "THRESHOLD_EXCEEDED",
                  "message" : "The maximum number of API calls that can be made per day has been exceeded."
                }
              }
            }
          }
        }
      },
      "concurrentRateLimitExceededErrorResponse" : {
        "description" : "This errorCode value appears if the user fires too many requests in a simultaneous/concurrent manner (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Concurrent Rate Limit Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "TOO_MANY_REQUESTS",
                  "message" : "The maximum number of Concurrent API Calls that can be made has been exceeded."
                }
              }
            }
          }
        }
      },
      "internalErrorResponse" : {
        "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Internal Server Error Response" : {
                "value" : {
                  "errorCode" : "INTERNAL_SERVER_ERROR",
                  "message" : "An internal server error occurred while performing this operation."
                }
              }
            }
          }
        }
      },
      "licenseErrorResponse" : {
        "description" : "This errorCode value appears if the user is unable to perform an action due to the limitations of the Zoho Desk edition in use\nThe possible values for the feature key are\n    *AGENTS*\n    *LIGHT_AGENTS*\n    *TEAM*\nThe possible values for the editionType key are\n    *FREE*\n    *PROFESSIONAL*\n    *ENTERPRISE*",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "editionType", "feature", "isTrial", "maxAllowedEntity" ],
                "properties" : {
                  "maxAllowedEntity" : {
                    "pattern" : "([0-9]+)"
                  },
                  "feature" : {
                    "enum" : [ "AGENTS", "LIGHT_AGENTS", "TEAM" ]
                  },
                  "editionType" : {
                    "enum" : [ "ENTERPRISE", "PROFESSIONAL", "STANDARD", "EXPRESS", "FREE" ]
                  },
                  "isTrial" : { }
                }
              } ]
            },
            "examples" : {
              "LicenseAccessLimited Error Response" : {
                "value" : {
                  "errorCode" : "LICENSE_ACCESS_LIMITED",
                  "maxAllowedEntity" : "10",
                  "feature" : "AGENTS",
                  "editionType" : "FREE",
                  "isTrial" : false,
                  "message" : "Your Zoho Desk Edition does not support this feature/operation."
                }
              }
            }
          }
        }
      },
      "multipleUnprocessEntityResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "anyOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "additionalProperties" : { },
                "allOf" : [ {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                }, {
                  "required" : [ "errors" ],
                  "properties" : {
                    "errors" : {
                      "items" : {
                        "required" : [ "errorMessage", "errorType", "fieldName" ],
                        "properties" : {
                          "fieldName" : { },
                          "errorType" : {
                            "enum" : [ "invalid", "duplicate", "missing" ]
                          },
                          "errorMessage" : { }
                        }
                      }
                    }
                  }
                } ]
              } ]
            }
          }
        }
      },
      "invalidDataErrorResponse" : {
        "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "errors" ],
                "properties" : {
                  "errors" : {
                    "items" : {
                      "required" : [ "errorMessage", "errorType", "fieldName" ],
                      "properties" : {
                        "fieldName" : { },
                        "errorType" : {
                          "enum" : [ "invalid", "duplicate", "missing" ]
                        },
                        "errorMessage" : { }
                      }
                    }
                  }
                }
              } ]
            },
            "examples" : {
              "Invalid Data Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_DATA",
                  "message" : "The data does not comply to the validation restrictions defined.",
                  "errors" : [ {
                    "fieldName" : "/contactId",
                    "errorType" : "invalid"
                  }, {
                    "fieldName" : "/departmentId",
                    "errorType" : "invalid"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "parameters" : {
      "fieldName" : {
        "name" : "fieldName",
        "in" : "query",
        "description" : "Name of the field whose values must be matched for deduplication.Values allowed are: !@email,@! !@phone,@! and !@accountName@!",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "description" : "Name of the field whose values must be matched for deduplication.Values allowed are: !@email,@! !@phone,@! and !@accountName@!",
          "enum" : [ "email", "phone", "accountName" ]
        }
      },
      "limit" : {
        "name" : "limit",
        "in" : "query",
        "description" : "Number of accounts to fetch",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "maximum" : 100,
          "minimum" : 1,
          "pattern" : "([0-9]+)",
          "description" : "Number of accounts to fetch",
          "format" : "int32"
        }
      },
      "from" : {
        "name" : "from",
        "in" : "query",
        "description" : "Index number starting from which the accounts must be fetched",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "minimum" : 0,
          "pattern" : "([0-9]+)",
          "description" : "Index number starting from which the accounts must be fetched",
          "format" : "int32"
        }
      },
      "orgId" : {
        "name" : "orgId",
        "in" : "query",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "([0-9]+)",
          "format" : "int32",
          "x-custom-parameters-attributes" : { }
        }
      },
      "portalId" : {
        "name" : "portalId",
        "in" : "query",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "([a-zA-Z0-9\\-\\:])+",
          "format" : "int32",
          "x-custom-parameters-attributes" : {
            "decrypt" : true
          }
        }
      }
    },
    "requestBodies" : {
      "setDefaultField" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "fieldName", "markDefault" ],
              "properties" : {
                "fieldName" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "email", "phone", "accountName" ]
                },
                "markDefault" : { }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid requestBody Definitions" : {
                "value" : {
                  "fieldName" : "accountName",
                  "markDefault" : true
                }
              }
            }
          }
        },
        "x-custom-request-body-attributes" : {
          "non-empty" : false,
          "allow-invalid" : false
        }
      }
    },
    "securitySchemes" : {
      "cookie-auth" : {
        "type" : "apiKey",
        "name" : "X-CSRF-TOKEN",
        "in" : "cookie"
      },
      "org-oauth" : {
        "type" : "oauth2",
        "description" : "Org OAuth description",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "/oauth/v2/org/auth",
            "tokenUrl" : "/oauth/v2/token",
            "scopes" : {
              "Desk.accessAll.ALL" : "All Operations on data generated by Zoho Desk"
            }
          }
        }
      },
      "iam-oauth2-schema" : {
        "type" : "oauth2",
        "description" : "Oauth description",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "/oauth/v2/auth",
            "tokenUrl" : "/oauth/v2/token",
            "scopes" : {
              "Desk.zia.create" : "CREATE Operations on data generated by ZIA",
              "Desk.zia.update" : "UPDATE Operations on data generated by ZIA",
              "Desk.zia.read" : "READ Operations on data generated by ZIA",
              "Desk.zia.delete" : "DELETE Operations on data generated by ZIA",
              "Desk.calls.create" : "CREATE operations on calls module",
              "Desk.calls.update" : "UPDATE operations on calls module",
              "Desk.calls.read" : "READ operations on calls module",
              "Desk.calls.delete" : "DELETE operations on calls module",
              "Desk.extensions.create" : "To create stored data, extension logs, and configuration params",
              "Desk.extensions.read" : "To read stored data, extension logs, and configuration params",
              "Desk.extensions.update" : "To update stored data, extension logs, and configuration params",
              "Desk.extensions.delete" : "To delete stored data, extension logs, and configuration params",
              "Desk.search.read" : "READ Search across data in your desk account.",
              "Desk.events.create" : "CREATE Desk events",
              "Desk.events.update" : "UPDATE Desk events",
              "Desk.events.read" : "READ Desk events",
              "Desk.events.delete" : "DELETE Desk events",
              "Desk.articles.create" : "CREATE Articles and its sub resources",
              "Desk.articles.update" : "UPDATE Articles and its sub resources",
              "Desk.articles.read" : "READ Articles and its sub resources",
              "Desk.articles.delete" : "DELETE Articles and its sub resources",
              "Desk.basic.create" : "CREATE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.update" : "UPDATE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.read" : "READ Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.delete" : "DELETE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.tasks.create" : "CREATE Tasks and its sub resources",
              "Desk.tasks.read" : "READ Tasks and its sub resources",
              "Desk.tasks.update" : "UPDATE Tasks and its sub resources",
              "Desk.tasks.delete" : "DELETE Tasks and its sub resources",
              "Desk.settings.create" : "CREATE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.update" : "UPDATE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.read" : "READ All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.delete" : "DELETE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.contacts.create" : "CREATE Contacts and its sub resources",
              "Desk.contacts.update" : "UPDATE Contacts and its sub resources",
              "Desk.contacts.read" : "READ Contacts and its sub resources",
              "Desk.contacts.delete" : "DELETE Contacts and its sub resources",
              "Desk.feeds.create" : "CREATE Feeds resource",
              "Desk.feeds.update" : "UPDATE Feeds resource",
              "Desk.feeds.read" : "READ Feeds resource",
              "Desk.feeds.delete" : "DELETE Feeds resource",
              "Desk.tickets.create" : "CREATE Tickets and its sub resources",
              "Desk.tickets.update" : "UPDATE Tickets and its sub resources",
              "Desk.tickets.read" : "READ Tickets and its sub resources",
              "Desk.tickets.delete" : "DELETE Tickets and its sub resources",
              "Desk.phonebridge.read" : "READ phonebridge",
              "Desk.phonebridge.create" : "CREATE phonebridge",
              "Desk.community.create" : "CREATE Operations on community topics, comments and categories",
              "Desk.community.update" : "UPDATE Operations on community topics, comments and categories",
              "Desk.community.read" : "READ Operations on community topics, comments and categories",
              "Desk.community.delete" : "DELETE Operations on community topics, comments and categories",
              "Desk.imports" : "CUSTOM Grants access to import data into Zoho Desk modules",
              "Desk.exports" : "CUSTOM Scope for Zoho Desk Export API's for ZohoDesk Modules",
              "Desk.products.create" : "CREATE Allow operations on products",
              "Desk.products.update" : "UPDATE Allow operations on products",
              "Desk.products.read" : "READ Allow operations on products",
              "Desk.products.delete" : "DELETE Allow operations on products",
              "Desk.settings.extension.create" : "CREATE Allow access to all extension related data",
              "Desk.settings.extension.update" : "UPDATE Allow access to all extension related data",
              "Desk.settings.extension.read" : "READ Allow access to all extension related data",
              "Desk.settings.extension.delete" : "DELETE Allow access to all extension related data",
              "Desk.activities.create" : "CREATE To manage activities such as tasks, calls, events and its sub resources",
              "Desk.activities.read" : "READ To manage activities such as tasks, calls, events and its sub resources",
              "Desk.activities.update" : "UPDATE To manage activities such as tasks, calls, events and its sub resources",
              "Desk.activities.delete" : "DELETE To manage activities such as tasks, calls, events and its sub resources",
              "Desk.deskOembed.read" : "null",
              "Desk.integrations.create" : "Grants access to create integration related data",
              "Desk.integrations.update" : "Grants access to update integration related data",
              "Desk.integrations.read" : "Grants access to read integration related data",
              "Desk.integrations.delete" : "Grants access to delete integration related data"
            }
          }
        }
      },
      "jwt-oauth" : {
        "type" : "oauth2",
        "description" : "Org OAuth description",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "/oauth/v2/org/auth",
            "tokenUrl" : "/oauth/v2/token",
            "scopes" : {
              "Desk.accessAll.ALL" : "All Operations on data generated by Zoho Desk"
            }
          }
        }
      }
    }
  },
  "x-entity" : "AccountDeduplication"
}