{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Activity",
    "version" : "1.0.0",
    "x-clan-group" : "secModule",
    "x-module-group" : "activity"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/contacts/{contactId}/activities" : {
      "get" : {
        "tags" : [ "Activity" ],
        "summary" : "List activities by contact",
        "description" : "This API lists a particular number of activities related to a contact, based on the limit specified. ",
        "operationId" : "getActivitiesByContactId",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Allowed values are : contacts, assignee,tickets,teams,projects,integInfo.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Additional information related to the activity. Values allowed are: contacts, assignee,tickets,teams,projects,integInfo.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "contacts", "tickets", "assignee", "teams" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department from which the activities must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the activities must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "entity" : "Departments"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of activities to list",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 99,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of activities to list",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the activities must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the activities must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Key that sorts the activities by a specific attribute: @activityTime@ or @createdTime@.The default sorting order is ascending. A @-@ prefix denotes descending order of sorting.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Key that sorts the activities by a specific attribute: @activityTime@ or @createdTime@.The default sorting order is ascending. A @-@ prefix denotes descending order of sorting.",
            "enum" : [ "activityTime", "createdTime" ]
          }
        }, {
          "name" : "isSpam",
          "in" : "query",
          "description" : "Key that denotes whether to fetch spam activities or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that denotes whether to fetch spam activities or not"
          }
        }, {
          "name" : "isCompleted",
          "in" : "query",
          "description" : "Key that denotes whether the activity is completed or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that denotes whether the activity is completed or not"
          }
        }, {
          "name" : "contactId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "activityListViewJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "ticket" : {
                              "maxProperties" : 13,
                              "minProperties" : 13,
                              "required" : [ "assignee", "channel", "closedTime", "createdTime", "dueDate", "id", "isArchived", "isSpam", "phone", "status", "subject", "teamId", "ticketNumber" ],
                              "properties" : {
                                "ticketNumber" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "subject" : {
                                  "maxLength" : 1000,
                                  "minLength" : 0
                                },
                                "isArchived" : { },
                                "dueDate" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "channel" : {
                                  "x-dynamic-enum" : true
                                },
                                "closedTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "phone" : {
                                  "maxLength" : 120,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                },
                                "teamId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "createdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "assignee" : {
                                  "maxProperties" : 4,
                                  "minProperties" : 4,
                                  "required" : [ "firstName", "id", "lastName", "photoURL" ],
                                  "properties" : {
                                    "firstName" : {
                                      "maxLength" : 50,
                                      "minLength" : 0
                                    },
                                    "lastName" : {
                                      "maxLength" : 50,
                                      "minLength" : 0
                                    },
                                    "photoURL" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    }
                                  },
                                  "additionalProperties" : { }
                                },
                                "isSpam" : { },
                                "status" : {
                                  "x-dynamic-enum" : true
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "contact" : {
                              "maxProperties" : 8,
                              "minProperties" : 8,
                              "required" : [ "accountId", "email", "firstName", "id", "isSpam", "lastName", "mobile", "phone" ],
                              "properties" : {
                                "firstName" : {
                                  "maxLength" : 40,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 200,
                                  "minLength" : 0
                                },
                                "accountId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "phone" : {
                                  "maxLength" : 50,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                },
                                "mobile" : {
                                  "maxLength" : 50,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isSpam" : { },
                                "email" : {
                                  "maxLength" : 255,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "assignee" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "emailId", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "emailId" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "team" : {
                              "maxProperties" : 3,
                              "minProperties" : 3,
                              "required" : [ "id", "logoUrl", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 1,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "logoUrl" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                }
                              },
                              "additionalProperties" : { }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "oneOf" : [ {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "additionalProperties" : false,
                              "allOf" : [ {
                                "required" : [ "category", "contactId", "departmentId", "ownerId", "priority", "startTime", "status", "subject", "ticketId" ],
                                "properties" : {
                                  "contactId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the contact associated with the event",
                                    "format" : "int64"
                                  },
                                  "subject" : {
                                    "maxLength" : 300,
                                    "minLength" : 0,
                                    "description" : "Subject of the event"
                                  },
                                  "departmentId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the department associated with the event and ticket",
                                    "format" : "int64",
                                    "x-custom-parameters-attributes" : {
                                      "entity" : "Departments"
                                    }
                                  },
                                  "startTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                                    "description" : "Time when the event started. The value of this key must be recorded in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ."
                                  },
                                  "ownerId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the user to whom the event is assigned",
                                    "format" : "int64"
                                  },
                                  "priority" : {
                                    "description" : "Priority of the event",
                                    "x-dynamic-enum" : true
                                  },
                                  "category" : {
                                    "maxLength" : 120,
                                    "minLength" : 0,
                                    "description" : "Category of the event"
                                  },
                                  "ticketId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the ticket associated with the event",
                                    "format" : "int64"
                                  },
                                  "status" : {
                                    "description" : "Completion status of the event",
                                    "x-dynamic-enum" : true
                                  }
                                },
                                "additionalProperties" : false
                              }, {
                                "required" : [ "activityTime", "callId", "completedTime", "createdTime", "creatorId", "id", "isCommented", "isSpam", "isTrashed", "layoutId", "modifiedBy", "modifiedTime", "statusType", "webUrl" ],
                                "properties" : {
                                  "callId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "modifiedTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "statusType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "Open", "Closed" ]
                                  },
                                  "completedTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "creatorId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "activityTime" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "layoutId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "isTrashed" : { },
                                  "isCommented" : { },
                                  "webUrl" : {
                                    "maxLength" : 500,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  },
                                  "createdTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "modifiedBy" : {
                                    "required" : [ "emailId", "firstName", "id", "lastName", "photoURL" ],
                                    "properties" : {
                                      "photoURL" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "firstName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "lastName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "emailId" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "isSpam" : {
                                    "x-custom-parameters-attributes" : {
                                      "removeExif" : false,
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "replacementString" : "",
                                      "allowInvalid" : false,
                                      "descrption" : "Key that denotes whether to fetch spam activities or not",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "0,5",
                                      "importUrl" : false,
                                      "decrypt" : false
                                    }
                                  }
                                }
                              } ]
                            }, {
                              "required" : [ "activityType" ],
                              "properties" : {
                                "activityType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "Calls", "Events", "Tasks" ]
                                }
                              }
                            } ]
                          }, {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "additionalProperties" : false,
                              "allOf" : [ {
                                "required" : [ "category", "contactId", "departmentId", "ownerId", "priority", "startTime", "status", "subject", "ticketId" ],
                                "properties" : {
                                  "contactId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the contact associated with the event",
                                    "format" : "int64"
                                  },
                                  "subject" : {
                                    "maxLength" : 300,
                                    "minLength" : 0,
                                    "description" : "Subject of the event"
                                  },
                                  "departmentId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the department associated with the event and ticket",
                                    "format" : "int64",
                                    "x-custom-parameters-attributes" : {
                                      "entity" : "Departments"
                                    }
                                  },
                                  "startTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                                    "description" : "Time when the event started. The value of this key must be recorded in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ."
                                  },
                                  "ownerId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the user to whom the event is assigned",
                                    "format" : "int64"
                                  },
                                  "priority" : {
                                    "description" : "Priority of the event",
                                    "x-dynamic-enum" : true
                                  },
                                  "category" : {
                                    "maxLength" : 120,
                                    "minLength" : 0,
                                    "description" : "Category of the event"
                                  },
                                  "ticketId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the ticket associated with the event",
                                    "format" : "int64"
                                  },
                                  "status" : {
                                    "description" : "Completion status of the event",
                                    "x-dynamic-enum" : true
                                  }
                                },
                                "additionalProperties" : false
                              }, {
                                "required" : [ "activityTime", "callId", "completedTime", "createdTime", "creatorId", "id", "isCommented", "isSpam", "isTrashed", "layoutId", "modifiedBy", "modifiedTime", "statusType", "webUrl" ],
                                "properties" : {
                                  "callId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "modifiedTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "statusType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "Open", "Closed" ]
                                  },
                                  "completedTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "creatorId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "activityTime" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "layoutId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "isTrashed" : { },
                                  "isCommented" : { },
                                  "webUrl" : {
                                    "maxLength" : 500,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  },
                                  "createdTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "modifiedBy" : {
                                    "required" : [ "emailId", "firstName", "id", "lastName", "photoURL" ],
                                    "properties" : {
                                      "photoURL" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "firstName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "lastName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "emailId" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "isSpam" : {
                                    "x-custom-parameters-attributes" : {
                                      "removeExif" : false,
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "replacementString" : "",
                                      "allowInvalid" : false,
                                      "descrption" : "Key that denotes whether to fetch spam activities or not",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "0,5",
                                      "importUrl" : false,
                                      "decrypt" : false
                                    }
                                  }
                                }
                              } ]
                            }, {
                              "required" : [ "activityType" ],
                              "properties" : {
                                "activityType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "Calls", "Events", "Tasks" ]
                                }
                              }
                            } ]
                          }, {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "additionalProperties" : false,
                              "allOf" : [ {
                                "required" : [ "category", "contactId", "departmentId", "ownerId", "priority", "startTime", "status", "subject", "ticketId" ],
                                "properties" : {
                                  "contactId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the contact associated with the event",
                                    "format" : "int64"
                                  },
                                  "subject" : {
                                    "maxLength" : 300,
                                    "minLength" : 0,
                                    "description" : "Subject of the event"
                                  },
                                  "departmentId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the department associated with the event and ticket",
                                    "format" : "int64",
                                    "x-custom-parameters-attributes" : {
                                      "entity" : "Departments"
                                    }
                                  },
                                  "startTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                                    "description" : "Time when the event started. The value of this key must be recorded in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ."
                                  },
                                  "ownerId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the user to whom the event is assigned",
                                    "format" : "int64"
                                  },
                                  "priority" : {
                                    "description" : "Priority of the event",
                                    "x-dynamic-enum" : true
                                  },
                                  "category" : {
                                    "maxLength" : 120,
                                    "minLength" : 0,
                                    "description" : "Category of the event"
                                  },
                                  "ticketId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the ticket associated with the event",
                                    "format" : "int64"
                                  },
                                  "status" : {
                                    "description" : "Completion status of the event",
                                    "x-dynamic-enum" : true
                                  }
                                },
                                "additionalProperties" : false
                              }, {
                                "required" : [ "activityTime", "callId", "category", "completedTime", "createdTime", "creatorId", "direction", "id", "isCommented", "isSpam", "isTrashed", "layoutId", "modifiedBy", "modifiedTime", "startTime", "statusType", "webUrl" ],
                                "properties" : {
                                  "callId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "modifiedTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "statusType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "Open", "Closed" ]
                                  },
                                  "completedTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "creatorId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "activityTime" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "layoutId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "isTrashed" : { },
                                  "isCommented" : { },
                                  "webUrl" : {
                                    "maxLength" : 500,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  },
                                  "createdTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "modifiedBy" : {
                                    "required" : [ "emailId", "firstName", "id", "lastName", "photoURL" ],
                                    "properties" : {
                                      "photoURL" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "firstName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "lastName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "emailId" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "startTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "isSpam" : {
                                    "x-custom-parameters-attributes" : {
                                      "removeExif" : false,
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "replacementString" : "",
                                      "allowInvalid" : false,
                                      "descrption" : "Key that denotes whether to fetch spam tasks or not",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "0,5",
                                      "importUrl" : false,
                                      "decrypt" : false
                                    }
                                  },
                                  "category" : {
                                    "x-dynamic-enum" : true
                                  },
                                  "direction" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "inbound", "outbound" ]
                                  }
                                }
                              } ]
                            }, {
                              "required" : [ "activityType" ],
                              "properties" : {
                                "activityType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "Calls", "Events", "Tasks" ]
                                }
                              }
                            } ]
                          } ]
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "ticket" : {
                          "ticketNumber" : "101",
                          "phone" : "1 888 900 9646",
                          "subject" : "Here's your first ticket.",
                          "dueDate" : 1553853086000,
                          "teamId" : null,
                          "id" : "3000000008753",
                          "assignee" : {
                            "photoURL" : null,
                            "firstName" : "Steve",
                            "lastName" : "McKinson",
                            "id" : "5000000015911"
                          },
                          "isSpam" : false,
                          "status" : "Open"
                        },
                        "contactId" : "30000000088017",
                        "subject" : "New Testing Event",
                        "completedTime" : 1468486046000,
                        "departmentId" : "3000000007043",
                        "creatorId" : "3000000008692",
                        "team" : {
                          "name" : "Responsive Team",
                          "id" : "3000000008763",
                          "logoUrl" : "https://desk.zoho.com/api/v1/teams/3000000008763/logo?orgId=11278831"
                        },
                        "ownerId" : "4000000009092",
                        "priority" : "High",
                        "isCommented" : true,
                        "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Events/dv/51123033fe97b2f886f750280ded9c40",
                        "contact" : {
                          "firstName" : null,
                          "lastName" : "Lawrence",
                          "id" : "30000000088017",
                          "isSpam" : false
                        },
                        "createdTime" : 1468484846000,
                        "startTime" : 1468484846000,
                        "id" : "3000000054002",
                        "assignee" : {
                          "firstName" : "dasca",
                          "lastName" : "vins",
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000009092/photo?orgId=298902",
                          "id" : "4000000009092",
                          "email" : "jack@zylker.com"
                        },
                        "isSpam" : false,
                        "category" : "Meeting",
                        "activityType" : "Events",
                        "ticketId" : "3000000008753",
                        "status" : "completed"
                      }, {
                        "ticket" : {
                          "ticketNumber" : "101",
                          "phone" : "1 888 900 9646",
                          "subject" : "Here's your first ticket.",
                          "dueDate" : 1553853086000,
                          "teamId" : null,
                          "id" : "3000000008753",
                          "assignee" : {
                            "photoURL" : null,
                            "firstName" : "Steve",
                            "lastName" : "McKinson",
                            "id" : "5000000015911"
                          },
                          "isSpam" : false,
                          "status" : "Open"
                        },
                        "contactId" : "3000000008749",
                        "subject" : "New Event",
                        "completedTime" : 1469554331000,
                        "departmentId" : "3000000007043",
                        "creatorId" : "3000000008692",
                        "team" : {
                          "name" : "Responsive Team",
                          "id" : "3000000008763",
                          "logoUrl" : "https://desk.zoho.com/api/v1/teams/3000000008763/logo?orgId=11278831"
                        },
                        "ownerId" : "4000000009092",
                        "priority" : "Normal",
                        "isCommented" : true,
                        "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Tasks/dv/51123033fe97b2f886f750280ded9c40",
                        "contact" : {
                          "firstName" : null,
                          "lastName" : "Lawrence",
                          "id" : "3000000008749",
                          "isSpam" : false
                        },
                        "createdTime" : 1469550731000,
                        "startTime" : 1469552531000,
                        "id" : "3000000018001",
                        "assignee" : {
                          "firstName" : "dasca",
                          "lastName" : "vins",
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000009092/photo?orgId=298902",
                          "id" : "4000000009092",
                          "email" : "jack@zylker.com"
                        },
                        "isSpam" : false,
                        "category" : "Meeting",
                        "activityType" : "Events",
                        "ticketId" : "3000000008753",
                        "status" : "completed"
                      }, {
                        "ticket" : {
                          "ticketNumber" : "101",
                          "phone" : "1 888 900 9646",
                          "subject" : "Here's your first ticket.",
                          "dueDate" : 1553853086000,
                          "teamId" : null,
                          "id" : "3000000008753",
                          "assignee" : {
                            "photoURL" : null,
                            "firstName" : "Steve",
                            "lastName" : "McKinson",
                            "id" : "5000000015911"
                          },
                          "isSpam" : false,
                          "status" : "Open"
                        },
                        "contactId" : "3000000008749",
                        "subject" : "Bug Fix #120",
                        "departmentId" : "3000000007043",
                        "dueDate" : 1469117776000,
                        "creatorId" : "3000000008692",
                        "team" : {
                          "name" : "Responsive Team",
                          "id" : "3000000008763",
                          "logoUrl" : "https://desk.zoho.com/api/v1/teams/3000000008763/logo?orgId=11278831"
                        },
                        "ownerId" : "4000000009092",
                        "priority" : "Normal",
                        "isCommented" : true,
                        "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Tasks/dv/51123033fe97b2f886f750280ded9c40",
                        "contact" : {
                          "firstName" : null,
                          "lastName" : "Lawrence",
                          "id" : "3000000008749",
                          "isSpam" : false
                        },
                        "createdTime" : 1468484536000,
                        "id" : "3000000053002",
                        "assignee" : {
                          "firstName" : "dasca",
                          "lastName" : "vins",
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000009092/photo?orgId=298902",
                          "id" : "4000000009092",
                          "email" : "jack@zylker.com"
                        },
                        "isSpam" : false,
                        "category" : null,
                        "activityType" : "Tasks",
                        "ticketId" : "3000000008753",
                        "status" : "In Progress"
                      }, {
                        "ticket" : {
                          "ticketNumber" : "101",
                          "phone" : "1 888 900 9646",
                          "subject" : "Here's your first ticket.",
                          "dueDate" : 1553853086000,
                          "teamId" : null,
                          "id" : "3000000008753",
                          "assignee" : {
                            "photoURL" : null,
                            "firstName" : "Steve",
                            "lastName" : "McKinson",
                            "id" : "5000000015911"
                          },
                          "isSpam" : false,
                          "status" : "Open"
                        },
                        "contactId" : "3000000008749",
                        "subject" : "New Testing Call",
                        "completedTime" : 1468484966000,
                        "departmentId" : "3000000007043",
                        "creatorId" : "3000000008692",
                        "team" : {
                          "name" : "Responsive Team",
                          "id" : "3000000008763",
                          "logoUrl" : "https://desk.zoho.com/api/v1/teams/3000000008763/logo?orgId=11278831"
                        },
                        "ownerId" : "4000000009092",
                        "priority" : "High",
                        "isCommented" : true,
                        "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Calls/dv/51123033fe97b2f886f750280ded9c40",
                        "contact" : {
                          "firstName" : null,
                          "lastName" : "Lawrence",
                          "id" : "3000000008749",
                          "isSpam" : false
                        },
                        "createdTime" : 1468484846000,
                        "startTime" : 1468484846000,
                        "id" : "3000000054002",
                        "assignee" : {
                          "firstName" : "dasca",
                          "lastName" : "vins",
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000009092/photo?orgId=298902",
                          "id" : "4000000009092",
                          "email" : "jack@zylker.com"
                        },
                        "isSpam" : false,
                        "activityType" : "Calls",
                        "ticketId" : "3000000008753",
                        "direction" : "inbound",
                        "status" : "completed"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.calls.READ", "Desk.activities.tasks.READ", "Desk.activities.events.READ", "Desk.calls.READ", "Desk.tasks.READ", "Desk.events.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "calls", "tasks", "events" ]
            }
          },
          "clan-group" : "secModule",
          "apihash" : "f090c4b6215de5c72c20a91961c839c2",
          "module-group" : "activity",
          "apimethod" : "com.zoho.support.restapi.ActivityService.getActivitiesByContactId"
        }
      }
    },
    "/api/v1/accounts/{accountId}/activities" : {
      "get" : {
        "tags" : [ "Activity" ],
        "summary" : "List activities by account",
        "description" : "This API lists a particular number of activities related to an account, based on the limit specified.",
        "operationId" : "getActivitiesByAccountId",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Allowed values are : contacts, assignee,tickets,teams,projects,integInfo.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Allowed values are : contacts, assignee,tickets,teams,projects,integInfo.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "contacts", "tickets", "assignee", "teams" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department from which the activities must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the activities must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "entity" : "Departments"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of activities to list",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 99,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of activities to list",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the activities must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the activities must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Sort by a specific attribute: @activityTime@ or @createdTime@.The default sorting order is ascending. A @-@ prefix denotes descending order of sorting.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Sort by a specific attribute: @activityTime@ or @createdTime@.The default sorting order is ascending. A @-@ prefix denotes descending order of sorting.",
            "enum" : [ "activityTime", "createdTime" ]
          }
        }, {
          "name" : "isSpam",
          "in" : "query",
          "description" : "Key that denotes whether to fetch spam activities or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that denotes whether to fetch spam activities or not"
          }
        }, {
          "name" : "isCompleted",
          "in" : "query",
          "description" : "Key that denotes whether the activity is completed or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that denotes whether the activity is completed or not"
          }
        }, {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "activityListViewJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "ticket" : {
                              "maxProperties" : 13,
                              "minProperties" : 13,
                              "required" : [ "assignee", "channel", "closedTime", "createdTime", "dueDate", "id", "isArchived", "isSpam", "phone", "status", "subject", "teamId", "ticketNumber" ],
                              "properties" : {
                                "ticketNumber" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "subject" : {
                                  "maxLength" : 1000,
                                  "minLength" : 0
                                },
                                "isArchived" : { },
                                "dueDate" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "channel" : {
                                  "x-dynamic-enum" : true
                                },
                                "closedTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "phone" : {
                                  "maxLength" : 120,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                },
                                "teamId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "createdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "assignee" : {
                                  "maxProperties" : 4,
                                  "minProperties" : 4,
                                  "required" : [ "firstName", "id", "lastName", "photoURL" ],
                                  "properties" : {
                                    "firstName" : {
                                      "maxLength" : 50,
                                      "minLength" : 0
                                    },
                                    "lastName" : {
                                      "maxLength" : 50,
                                      "minLength" : 0
                                    },
                                    "photoURL" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "isSpam" : { },
                                "status" : {
                                  "x-dynamic-enum" : true
                                }
                              },
                              "additionalProperties" : false
                            },
                            "contact" : {
                              "maxProperties" : 8,
                              "minProperties" : 8,
                              "required" : [ "accountId", "email", "firstName", "id", "isSpam", "lastName", "mobile", "phone" ],
                              "properties" : {
                                "firstName" : {
                                  "maxLength" : 40,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 200,
                                  "minLength" : 0
                                },
                                "accountId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "phone" : {
                                  "maxLength" : 50,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                },
                                "mobile" : {
                                  "maxLength" : 50,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isSpam" : { },
                                "email" : {
                                  "maxLength" : 255,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "assignee" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "emailId", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "emailId" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "team" : {
                              "maxProperties" : 3,
                              "minProperties" : 3,
                              "required" : [ "id", "logoUrl", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 1,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "logoUrl" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                }
                              },
                              "additionalProperties" : false
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "oneOf" : [ {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "additionalProperties" : false,
                              "allOf" : [ {
                                "required" : [ "category", "contactId", "departmentId", "ownerId", "priority", "startTime", "status", "subject", "ticketId" ],
                                "properties" : {
                                  "contactId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the contact associated with the event",
                                    "format" : "int64"
                                  },
                                  "subject" : {
                                    "maxLength" : 300,
                                    "minLength" : 0,
                                    "description" : "Subject of the event"
                                  },
                                  "departmentId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the department associated with the event and ticket",
                                    "format" : "int64",
                                    "x-custom-parameters-attributes" : {
                                      "entity" : "Departments"
                                    }
                                  },
                                  "startTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                                    "description" : "Time when the event started. The value of this key must be recorded in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ."
                                  },
                                  "ownerId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the user to whom the event is assigned",
                                    "format" : "int64"
                                  },
                                  "priority" : {
                                    "description" : "Priority of the event",
                                    "x-dynamic-enum" : true
                                  },
                                  "category" : {
                                    "maxLength" : 120,
                                    "minLength" : 0,
                                    "description" : "Category of the event"
                                  },
                                  "ticketId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the ticket associated with the event",
                                    "format" : "int64"
                                  },
                                  "status" : {
                                    "description" : "Completion status of the event",
                                    "x-dynamic-enum" : true
                                  }
                                },
                                "additionalProperties" : false
                              }, {
                                "required" : [ "activityTime", "callId", "completedTime", "createdTime", "creatorId", "id", "isCommented", "isSpam", "isTrashed", "layoutId", "modifiedBy", "modifiedTime", "statusType", "webUrl" ],
                                "properties" : {
                                  "callId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "modifiedTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "statusType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "Open", "Closed" ]
                                  },
                                  "completedTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "creatorId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "activityTime" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "layoutId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "isTrashed" : { },
                                  "isCommented" : { },
                                  "webUrl" : {
                                    "maxLength" : 500,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  },
                                  "createdTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "modifiedBy" : {
                                    "required" : [ "emailId", "firstName", "id", "lastName", "photoURL" ],
                                    "properties" : {
                                      "photoURL" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "firstName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "lastName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "emailId" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "isSpam" : {
                                    "x-custom-parameters-attributes" : {
                                      "removeExif" : false,
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "replacementString" : "",
                                      "allowInvalid" : false,
                                      "descrption" : "Key that denotes whether to fetch spam activities or not",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "0,5",
                                      "importUrl" : false,
                                      "decrypt" : false
                                    }
                                  }
                                }
                              } ]
                            }, {
                              "required" : [ "activityType" ],
                              "properties" : {
                                "activityType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "Calls", "Events", "Tasks" ]
                                }
                              }
                            } ]
                          }, {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "additionalProperties" : false,
                              "allOf" : [ {
                                "required" : [ "category", "contactId", "departmentId", "ownerId", "priority", "startTime", "status", "subject", "ticketId" ],
                                "properties" : {
                                  "contactId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the contact associated with the event",
                                    "format" : "int64"
                                  },
                                  "subject" : {
                                    "maxLength" : 300,
                                    "minLength" : 0,
                                    "description" : "Subject of the event"
                                  },
                                  "departmentId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the department associated with the event and ticket",
                                    "format" : "int64",
                                    "x-custom-parameters-attributes" : {
                                      "entity" : "Departments"
                                    }
                                  },
                                  "startTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                                    "description" : "Time when the event started. The value of this key must be recorded in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ."
                                  },
                                  "ownerId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the user to whom the event is assigned",
                                    "format" : "int64"
                                  },
                                  "priority" : {
                                    "description" : "Priority of the event",
                                    "x-dynamic-enum" : true
                                  },
                                  "category" : {
                                    "maxLength" : 120,
                                    "minLength" : 0,
                                    "description" : "Category of the event"
                                  },
                                  "ticketId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the ticket associated with the event",
                                    "format" : "int64"
                                  },
                                  "status" : {
                                    "description" : "Completion status of the event",
                                    "x-dynamic-enum" : true
                                  }
                                },
                                "additionalProperties" : false
                              }, {
                                "required" : [ "activityTime", "callId", "completedTime", "createdTime", "creatorId", "id", "isCommented", "isSpam", "isTrashed", "layoutId", "modifiedBy", "modifiedTime", "statusType", "webUrl" ],
                                "properties" : {
                                  "callId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "modifiedTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "statusType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "Open", "Closed" ]
                                  },
                                  "completedTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "creatorId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "activityTime" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "layoutId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "isTrashed" : { },
                                  "isCommented" : { },
                                  "webUrl" : {
                                    "maxLength" : 500,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  },
                                  "createdTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "modifiedBy" : {
                                    "required" : [ "emailId", "firstName", "id", "lastName", "photoURL" ],
                                    "properties" : {
                                      "photoURL" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "firstName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "lastName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "emailId" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "isSpam" : {
                                    "x-custom-parameters-attributes" : {
                                      "removeExif" : false,
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "replacementString" : "",
                                      "allowInvalid" : false,
                                      "descrption" : "Key that denotes whether to fetch spam activities or not",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "0,5",
                                      "importUrl" : false,
                                      "decrypt" : false
                                    }
                                  }
                                }
                              } ]
                            }, {
                              "required" : [ "activityType" ],
                              "properties" : {
                                "activityType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "Calls", "Events", "Tasks" ]
                                }
                              }
                            } ]
                          }, {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "additionalProperties" : false,
                              "allOf" : [ {
                                "required" : [ "category", "contactId", "departmentId", "ownerId", "priority", "startTime", "status", "subject", "ticketId" ],
                                "properties" : {
                                  "contactId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the contact associated with the event",
                                    "format" : "int64"
                                  },
                                  "subject" : {
                                    "maxLength" : 300,
                                    "minLength" : 0,
                                    "description" : "Subject of the event"
                                  },
                                  "departmentId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the department associated with the event and ticket",
                                    "format" : "int64",
                                    "x-custom-parameters-attributes" : {
                                      "entity" : "Departments"
                                    }
                                  },
                                  "startTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                                    "description" : "Time when the event started. The value of this key must be recorded in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ."
                                  },
                                  "ownerId" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "ID of the user to whom the event is assigned",
                                    "format" : "int64"
                                  },
                                  "priority" : {
                                    "description" : "Priority of the event",
                                    "x-dynamic-enum" : true
                                  },
                                  "category" : {
                                    "maxLength" : 120,
                                    "minLength" : 0,
                                    "description" : "Category of the event"
[...]
