{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Agent",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "users"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/myPreferences" : {
      "get" : {
        "tags" : [ "Agent" ],
        "summary" : "Get My Preferences",
        "description" : "This API fetches the preferences of the currently logged in agent.",
        "operationId" : "getMyPreference",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "myPreference template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "currentDepartment", "namePattern" ],
                    "properties" : {
                      "namePattern" : {
                        "maxItems" : 2,
                        "minItems" : 2,
                        "uniqueItems" : true,
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "LAST_NAME", "FIRST_NAME" ]
                        }
                      },
                      "currentDepartment" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "a11Y_animationControls", "a11y_adhdFriendly", "a11y_astigmatism", "a11y_blindness", "a11y_colorBlindness", "a11y_contrast", "a11y_contrastLevel", "a11y_criticalLink", "a11y_customCursor", "a11y_customCursorColor", "a11y_customCursorSize", "a11y_customScroll", "a11y_dyslexia", "a11y_elderly", "a11y_epilepsy", "a11y_errorNotificationAutoCloseTime", "a11y_focusRing", "a11y_focusRingEnabledPlaces", "a11y_highlightClick", "a11y_isContrastRatioAdaptForBg", "a11y_isErrorNotificationAutoClose", "a11y_isFontSizeAdaptToZoom", "a11y_isSuccessNotificationAutoClose", "a11y_motorDisabilities", "a11y_needAccessibilityShortCutInWms", "a11y_notificationView", "a11y_readingMask", "a11y_readingMaskHeight", "a11y_readingMaskLevel", "a11y_readingMaskOpacity", "a11y_readingMaskWidth", "a11y_seizureSafe", "a11y_successNotifcationAutoCloseTime", "a11y_underlineLink", "a11y_visuallyImpaired", "a11y_zoomLevel", "accountsView", "activitiesView", "articleAutoSuggestion", "authtokenDeprecationBanner", "callsView", "collapseSidePanel", "communityListViewMode", "communityTopicsRecordsPerPage", "communityTopicsSortBy", "communityTopicsSortOrder", "contactsView", "core_accountsDvIbarPanelView", "core_accountsTableViewContentStyle", "core_callsDvIbarPanelView", "core_callsTableViewContentStyle", "core_contactsDvIbarPanelView", "core_contactsTableViewContentStyle", "core_contractsDvIbarPanelView", "core_contractsTableViewContentStyle", "core_conversationNestedViewLineStyle", "core_conversationNestedViewShowIcons", "core_conversationViewType", "core_dviBarTabWidth", "core_editorFontFamily", "core_editorFontSize", "core_eventsDvIbarPanelView", "core_eventsTableViewContentStyle", "core_isPublicComment", "core_isTicketReplySendAndUpdateStatus", "core_needEmptyQueueColumn", "core_tasksDvIbarPanelView", "core_tasksTableViewContentStyle", "core_threadCommentViewType", "core_ticketReplyActions", "core_ticketReplyActionsOrder", "core_ticketsDvIbarPanelView", "core_ticketsTableViewContentStyle", "datePattern", "defaultSendBehavior", "deskDatePattern", "eventsView", "extnaccountrightpanel", "extncontactrightpanel", "extnticketrightpanel", "feedNotificationFilterPreference", "hideCurrentYearDate", "imNotification", "imStatus", "invoicePreferencesAccounts", "invoicePreferencesCases", "invoicePreferencesContacts", "keyBoardShortcuts", "loadGettingStartedPage", "loginLandingPage", "newClient", "outBoxDelay", "outBoxDelayTime", "pinAllAccounts", "pinAllContacts", "pinAllDashboards", "pinAllReports", "pinAllTickets", "reportDurationFormat", "tasksView", "tempForceRedirection", "ticketConversationView", "ticketsView", "timeFormat", "ui_appFontFamily", "ui_appFontSize", "ui_appearance", "ui_displayLayout", "ui_displayLayoutWidth", "ui_isTagTextDefaultColor", "ui_lhsTheme", "ui_pureDarkMode", "ui_tagColorVariant", "ui_themes" ],
                    "properties" : {
                      "a11y_epilepsy" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "ui_displayLayout" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "smartFocus", "focusedWidth", "fullWidth" ]
                      },
                      "activitiesView" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "LIST", "LIST_COMPACT", "TABLE" ]
                      },
                      "a11y_readingMask" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "a11y_successNotifcationAutoCloseTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "01", "03", "05", "10", "15", "20" ]
                      },
                      "a11y_readingMaskHeight" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "\\b([1-9][0-9]|90)\\b"
                      },
                      "datePattern" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "yyyy[\\-\\/\\.]MM[\\-\\/\\.]dd|MM[\\-\\/\\.]dd[\\-\\/\\.]yyyy|dd[\\-\\/\\.]MM[\\-\\/\\.]yyyy"
                      },
                      "a11Y_animationControls" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "regularmotion", "reducedmotion", "autoReducedmotion" ]
                      },
                      "a11y_astigmatism" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "loginLandingPage" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "LISTVIEW", "HQ", "FEEDS", "VIEWS_DUEDATE", "VIEWS_CRM", "VIEWS_STATUS", "VIEWS_PRIORITY", "REPORTS_OVERVIEW", "REPORTS_DASHBOARDS", "REPORTS", "MYPROFILE", "TASKS", "ARTICLE_DASHBOARD", "SOLUTIONS", "ACCOUNTS", "CONTACTS", "COMMUNITY", "CHAT", "SOCIALS", "ACTIVITIES", "CALLS", "EVENTS", "IM" ]
                      },
                      "ui_appFontFamily" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "Zoho Puvi", "Lato", "Roboto", "Vazirmatn" ]
                      },
                      "loadGettingStartedPage" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "a11y_errorNotificationAutoCloseTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "01", "03", "05", "10", "15", "20" ]
                      },
                      "ui_tagColorVariant" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "bold", "subtle", "minimal" ]
                      },
                      "authtokenDeprecationBanner" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "0", "1", "2", "3", "4", "5", "6", "7", "8", "9" ]
                      },
                      "invoicePreferencesContacts" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "" ]
                      },
                      "core_contractsDvIbarPanelView" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "collapse", "expand" ]
                      },
                      "imNotification" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "ENABLED", "DISABLED" ]
                      },
                      "core_tasksTableViewContentStyle" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "wrap", "clip" ]
                      },
                      "pinAllTickets" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "newClient" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "pinAllContacts" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "a11y_customCursor" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "ui_themes" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "red", "green", "blue", "yellow", "orange", "pink", "skyBlue", "teal" ]
                      },
                      "pinAllDashboards" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "pinAllReports" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "extncontactrightpanel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "ui_lhsTheme" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "light", "dark" ]
                      },
                      "articleAutoSuggestion" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "keyBoardShortcuts" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "a11y_adhdFriendly" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "collapseSidePanel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "communityListViewMode" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "CLASSIC", "COMPACT" ]
                      },
                      "a11y_isSuccessNotificationAutoClose" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "core_dviBarTabWidth" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^(\\d{1,2}(\\.\\d{1,2})?|100|357)$"
                      },
                      "core_callsDvIbarPanelView" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "collapse", "expand" ]
                      },
                      "core_contactsTableViewContentStyle" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "wrap", "clip" ]
                      },
                      "invoicePreferencesCases" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "" ]
                      },
                      "ui_appearance" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "light", "dark", "auto", "pureDark" ]
                      },
                      "a11y_visuallyImpaired" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "a11y_highlightClick" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "ui_appFontSize" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "\\b(8|9|1[0-9]|20|21|22|23|24)\\b"
                      },
                      "extnaccountrightpanel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "a11y_customCursorSize" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "8", "16", "24", "32" ]
                      },
                      "deskDatePattern" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "yyyy[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]dd|MM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]yyyy|yyyy[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]dd|MMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]yyyy|MMMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|yyyy[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]yy|MM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]yy|MMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]yy|MMMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]dd|"
                      },
                      "a11y_seizureSafe" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "core_ticketsTableViewContentStyle" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "wrap", "clip" ]
                      },
                      "outBoxDelayTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([1-9][0-9]?|100)S|([1-5][0-9]?|60)M"
                      },
                      "a11y_dyslexia" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "ticketConversationView" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "ui_pureDarkMode" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "a11y_isFontSizeAdaptToZoom" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "core_ticketReplyActionsOrder" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "forward_replyAll_reply", "forward_reply_replyAll", "replyAll_forward_reply", "replyAll_reply_forward", "reply_forward_replyAll", "reply_replyAll_forward" ]
                      },
                      "a11y_contrastLevel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "low", "medium", "high" ]
                      },
                      "a11y_blindness" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "a11y_motorDisabilities" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "tasksView" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "LIST", "LIST_COMPACT", "TABLE" ]
                      },
                      "a11y_focusRing" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "hideCurrentYearDate" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "core_contactsDvIbarPanelView" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "collapse", "expand" ]
                      },
                      "core_editorFontFamily" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "Lato", "Roboto", "Zoho Puvi", "Arial", "Carlito", "Helvetica", "Verdana", "Wide", "Courier New", "Comic Sans MS", "Garamond", "Georgia", "Narrow", "Serif", "Tahoma", "Times New Roman", "MotoyaLMaru", "Trebuchet", "Mulish", "Vazirmatn" ]
                      },
                      "defaultSendBehavior" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "Send", "Send and Close" ]
                      },
                      "a11y_customCursorColor" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "black", "white" ]
                      },
                      "core_accountsDvIbarPanelView" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "collapse", "expand" ]
                      },
                      "ui_displayLayoutWidth" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "\\b([5-8][9]|[5-8][0-9])\\b"
                      },
                      "core_needEmptyQueueColumn" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "communityTopicsRecordsPerPage" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "10", "20", "30", "40", "50" ]
                      },
                      "reportDurationFormat" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "HH:MM:SS", "YEAR" ]
                      },
                      "a11y_needAccessibilityShortCutInWms" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "a11y_notificationView" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "stack", "list" ]
                      },
                      "core_tasksDvIbarPanelView" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "collapse", "expand" ]
                      },
                      "imStatus" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "ONLINE", "OFFLINE" ]
                      },
                      "a11y_zoomLevel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24" ]
                      },
                      "core_accountsTableViewContentStyle" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "wrap", "clip" ]
                      },
                      "callsView" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "LIST", "LIST_COMPACT", "TABLE" ]
                      },
                      "a11y_criticalLink" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "pinAllAccounts" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "contactsView" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "LIST", "GRID" ]
                      },
                      "a11y_isContrastRatioAdaptForBg" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "accountsView" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "LIST", "GRID" ]
                      },
                      "a11y_underlineLink" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "communityTopicsSortBy" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "createdTime", "modifiedTime" ]
                      },
                      "a11y_contrast" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "ticketsView" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "LIST", "LIST_COMPACT", "TABLE", "STATUS_QUEUE", "CRM_QUEUE", "DUEDATE_QUEUE", "PRIORITY_QUEUE" ]
                      },
                      "extnticketrightpanel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "outBoxDelay" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "core_ticketsDvIbarPanelView" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "collapse", "expand" ]
                      },
                      "a11y_customScroll" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "a11y_readingMaskWidth" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "\\b(10[0-9]|100|[1-9][0-9])\\b"
                      },
                      "ui_isTagTextDefaultColor" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "a11y_focusRingEnabledPlaces" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "all", "main" ]
                      },
                      "tempForceRedirection" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "core_ticketReplyActions" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "reply", "replyAll", "forward", "reply_replyAll", "reply_forward", "replyAll_forward", "replyAll_reply", "forward_reply", "forward_replyAll", "forward_replyAll_reply", "forward_reply_replyAll", "replyAll_forward_reply", "replyAll_reply_forward", "reply_forward_replyAll", "reply_replyAll_forward" ]
                      },
                      "communityTopicsSortOrder" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "ascending", "descending" ]
                      },
                      "core_contractsTableViewContentStyle" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "wrap", "clip" ]
                      },
                      "core_callsTableViewContentStyle" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "wrap", "clip" ]
                      },
                      "core_eventsTableViewContentStyle" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "wrap", "clip" ]
                      },
                      "invoicePreferencesAccounts" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "" ]
                      },
                      "a11y_readingMaskOpacity" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^0?\\.([2-9][0-9]?|1[5-9])$"
                      },
                      "a11y_isErrorNotificationAutoClose" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "core_isTicketReplySendAndUpdateStatus" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "eventsView" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "LIST", "LIST_COMPACT", "TABLE" ]
                      },
                      "a11y_readingMaskLevel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "small", "medium", "full", "custom" ]
                      },
                      "a11y_colorBlindness" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "core_isPublicComment" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "a11y_elderly" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "timeFormat" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "12-hour", "24-hour" ]
                      },
                      "core_eventsDvIbarPanelView" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "collapse", "expand" ]
                      },
                      "core_editorFontSize" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "8", "10", "12", "14", "18", "24", "36" ]
                      },
                      "feedNotificationFilterPreference" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "all", "unread", "flagged", "mentions" ]
                      },
                      "core_conversationNestedViewLineStyle" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "curved", "straight" ]
                      },
                      "core_conversationNestedViewShowIcons" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DISABLED", "ENABLED" ]
                      },
                      "core_conversationViewType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "recentTop", "recentBottom", "nestedView" ]
                      },
                      "core_threadCommentViewType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "recentTop", "recentBottom" ]
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "namePattern" : [ "FIRST_NAME", "LAST_NAME" ],
                      "articleAutoSuggestion" : "ENABLED",
                      "keyBoardShortcuts" : "ENABLED",
                      "pinAllAccounts" : "ENABLED",
                      "outBoxDelayTime" : "60S",
                      "collapseSidePanel" : "DISABLED",
                      "pinAllTickets" : "ENABLED",
                      "ticketConversationView" : "ENABLED",
                      "contactsView" : "LIST",
                      "accountsView" : "LIST",
                      "pinAllContacts" : "ENABLED",
                      "ticketsView" : "DUEDATE_QUEUE",
                      "datePattern" : "dd/MM/yyyy",
                      "defaultSendBehavior" : "Send",
                      "currentDepartment" : "allDepartment",
                      "timeFormat" : "12-hour",
                      "outBoxDelay" : "DISABLED",
                      "pinAllDashboards" : "DISABLED",
                      "loginLandingPage" : "LISTVIEW",
                      "loadGettingStartedPage" : "DISABLED",
                      "pinAllReports" : "ENABLED"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "7fa1a201f2ed80a6823d4dead3dba034",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.AgentService.getMyPreferences"
        }
      },
      "patch" : {
        "tags" : [ "Agent" ],
        "summary" : "Update My Preferences",
        "description" : "This API updates the preferences of the currently logged in agent.",
        "operationId" : "updateMyPreferences",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "namePattern" : {
                    "maxItems" : 2,
                    "minItems" : 2,
                    "uniqueItems" : true,
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "LAST_NAME", "FIRST_NAME" ],
                      "x-custom-parameters-attributes" : [ ]
                    }
                  },
                  "currentDepartment" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "namePattern" : [ "LAST_NAME", "FIRST_NAME" ],
                    "articleAutoSuggestion" : "ENABLED",
                    "keyBoardShortcuts" : "ENABLED",
                    "pinAllAccounts" : "ENABLED",
                    "outBoxDelayTime" : "60S",
                    "collapseSidePanel" : "DISABLED",
                    "pinAllTickets" : "ENABLED",
                    "ticketConversationView" : "ENABLED",
                    "contactsView" : "LIST",
                    "accountsView" : "LIST",
                    "pinAllContacts" : "ENABLED",
                    "ticketsView" : "STATUS_QUEUE",
                    "defaultSendBehavior" : "Send",
                    "datePattern" : "dd/MM/yyyy",
                    "currentDepartment" : "1892000000082069",
                    "timeFormat" : "12-hour",
                    "outBoxDelay" : "DISABLED",
                    "pinAllDashboards" : "DISABLED",
                    "loginLandingPage" : "LISTVIEW",
                    "loadGettingStartedPage" : "DISABLED",
                    "pinAllReports" : "ENABLED"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE", "Desk.basic.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "f29b52fd6910f725ba4b791efaed9d4c",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.AgentService.updateMyPreferences"
        }
      }
    },
    "/api/v1/uploadMyPhoto" : {
      "post" : {
        "tags" : [ "Agent" ],
        "summary" : "Upload my photo",
        "description" : "This API sets the profile photo for the currently logged in agent.<p><b>Note</b>: To upload your photo generate OAuthToken for the scope: Desk.settings.UPDATE,profile.userphoto.UPDATE or Desk.basic.UPDATE,profile.userphoto.UPDATE </p>",
        "operationId" : "uploadMyPhoto",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "required" : [ "userPhoto" ],
                "properties" : {
                  "userPhoto" : {
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "myPhotoResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "photoURL" ],
                  "properties" : {
                    "photoURL" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "photoURL" : "https://desk.zoho.com/api/v1/agents/1892000000056007/photo?orgId=3981311"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE", "Desk.basic.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 20,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "331857cd19ece788ff7bec99bedf5aac",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.AgentService.uploadMyPhoto"
        }
      }
    },
    "/api/v1/agents/{agentId}/reassignment" : {
      "post" : {
        "tags" : [ "Agent" ],
        "summary" : "Schedule reassignment for deactivated or deleted agents",
        "description" : "This API schedules reassignment of tickets, tasks, and automations belonging to a deleted/deactivated agent to another agent within the same department.",
        "operationId" : "scheduleAgentReassignment",
        "parameters" : [ {
          "name" : "agentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "agentReassignment" ],
                "properties" : {
                  "agentReassignment" : {
                    "items" : {
                      "required" : [ "departmentId", "taskNewOwner", "ticketNewOwner" ],
                      "properties" : {
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "taskNewOwner" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "ticketNewOwner" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "agentReassignment" : [ {
                      "departmentId" : 19000000012754,
                      "taskNewOwner" : "19000000008734",
                      "ticketNewOwner" : "19000000142005"
                    }, {
                      "departmentId" : 19000000010674,
                      "taskNewOwner" : "19000000008872",
                      "ticketNewOwner" : "19000000182001"
                    }, {
                      "departmentId" : 19000000007073,
                      "taskNewOwner" : "19000000008872",
                      "ticketNewOwner" : "19000000182001"
                    } ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE", "Desk.basic.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 15,
                  "hip" : false
                }, {
                  "duration" : 21600000,
                  "lock-period" : 1800000,
                  "threshold" : 2000,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "237e488510f7ab33bf9452382a86234f",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.AgentService.reassignmentAgents"
        }
      }
    },
    "/api/v1/agentsByIds" : {
      "get" : {
        "tags" : [ "Agent" ],
        "summary" : "Get agent details by agentId",
        "description" : "This API fetches details of agents via the agent IDs passed in the API request.",
        "operationId" : "getAgentsByIds",
        "parameters" : [ {
          "name" : "agentIds",
          "in" : "query",
          "description" : "Comma-separated array of agent IDs. Maximum number of IDs allowed is 50.",
          "required" : true,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : false,
            "description" : "Comma-separated array of agent IDs. Maximum number of IDs allowed is 50.",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getAgentsByIdsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "required" : [ "aboutInfo", "associatedDepartmentIds", "channelExpert", "emailId", "extn", "firstName", "id", "isConfirmed", "lastName", "mobile", "phone", "photoURL", "profileId", "roleId", "rolePermissionType", "status", "zuid" ],
                          "properties" : {
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "extn" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                            },
                            "roleId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "mobile" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                            },
                            "emailId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            },
                            "zuid" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "associatedDepartmentIds" : {
                              "uniqueItems" : true,
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "photoURL" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "phone" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                            },
                            "profileId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "channelExpert" : {
                              "uniqueItems" : false,
                              "items" : {
                                "x-dynamic-enum" : true
                              }
                            },
                            "rolePermissionType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "AgentPublic", "AgentPersonal", "AgentTeamPersonal", "Admin", "Custom", "Light" ]
                            },
                            "isConfirmed" : { },
                            "aboutInfo" : {
                              "maxLength" : 65535,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "ACTIVE", "DISABLED", "DELETED", "IMPORTED" ]
                            },
                            "isZiaAgent" : {
                              "description" : "Indicates whether the agent is a Zia agent or a human agent"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "required" : [ "aboutInfo", "associatedDepartmentIds", "channelExpert", "emailId", "extn", "firstName", "id", "isConfirmed", "lastName", "mobile", "phone", "photoURL", "profileId", "roleId", "rolePermissionType", "status", "zuid" ],
                          "properties" : {
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "extn" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                            },
                            "roleId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "mobile" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                            },
                            "emailId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            },
                            "zuid" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "associatedDepartmentIds" : {
                              "uniqueItems" : true,
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "photoURL" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "phone" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                            },
                            "profileId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "channelExpert" : {
                              "uniqueItems" : false,
                              "items" : {
                                "x-dynamic-enum" : true
                              }
                            },
                            "rolePermissionType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "AgentPublic", "AgentPersonal", "AgentTeamPersonal", "Admin", "Custom", "Light" ]
                            },
                            "isConfirmed" : { },
                            "aboutInfo" : {
                              "maxLength" : 65535,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "ACTIVE", "DISABLED", "DELETED", "IMPORTED" ]
                            },
                            "isZiaAgent" : {
                              "description" : "Indicates whether the agent is a Zia agent or a human agent"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "oneOf" : [ {
                            "required" : [ "aboutInfo", "associatedDepartmentIds", "channelExpert", "emailId", "extn", "firstName", "id", "isConfirmed", "lastName", "mobile", "phone", "photoURL", "profileId", "roleId", "rolePermissionType", "status", "zuid" ],
                            "properties" : {
                              "lastName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "extn" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                              },
                              "roleId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "mobile" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                              },
                              "emailId" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                              },
                              "zuid" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "associatedDepartmentIds" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "firstName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "phone" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                              },
                              "profileId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "channelExpert" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "x-dynamic-enum" : true
                                }
                              },
                              "rolePermissionType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "AgentPublic", "AgentPersonal", "AgentTeamPersonal", "Admin", "Custom", "Light" ]
                              },
                              "isConfirmed" : { },
                              "aboutInfo" : {
                                "maxLength" : 65535,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "status" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ACTIVE", "DISABLED", "DELETED", "IMPORTED" ]
                              },
                              "isZiaAgent" : {
                                "description" : "Indicates whether the agent is a Zia agent or a human agent"
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "allOf" : [ {
                              "required" : [ "cf" ],
                              "properties" : {
                                "cf" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "aboutInfo", "associatedDepartmentIds", "channelExpert", "emailId", "extn", "firstName", "id", "isConfirmed", "lastName", "mobile", "phone", "photoURL", "profileId", "roleId", "rolePermissionType", "status", "zuid" ],
                              "properties" : {
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "extn" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                                },
                                "roleId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "mobile" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                                },
                                "emailId" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                },
                                "zuid" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "associatedDepartmentIds" : {
                                  "uniqueItems" : true,
                                  "items" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "phone" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                                },
                                "profileId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "channelExpert" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "x-dynamic-enum" : true
                                  }
                                },
                                "rolePermissionType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "AgentPublic", "AgentPersonal", "AgentTeamPersonal", "Admin", "Custom", "Light" ]
                                },
                                "isConfirmed" : { },
                                "aboutInfo" : {
                                  "maxLength" : 65535,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "status" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "ACTIVE", "DISABLED", "DELETED", "IMPORTED" ]
                                },
                                "isZiaAgent" : {
                                  "description" : "Indicates whether the agent is a Zia agent or a human agent"
                                }
                              },
                              "additionalProperties" : false
                            } ]
                          } ]
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "firstName" : "",
                        "lastName" : "case",
                        "photoURL" : null,
                        "roleId" : "7000000012324",
                        "profileId" : "7000000012339",
                        "emailId" : "case@zylker.com",
                        "id" : "1892000000056007",
                        "zuid" : "437793"
                      }, {
                        "firstName" : "",
                        "lastName" : "jade",
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/1892000000042001/photo?orgId=3981311",
                        "roleId" : "7000000012324",
                        "profileId" : "7000000012339",
                        "emailId" : "jade@zylker.com",
                        "id" : "1892000000042001",
                        "zuid" : "279392"
                      }, {
                        "firstName" : "Steve",
                        "lastName" : "Waugh",
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/1892000000888059/photo?orgId=3981311",
                        "roleId" : "70000000127346",
                        "profileId" : "70000000120834",
                        "emailId" : "stephen@zylker.com",
                        "id" : "1892000000888059",
                        "zuid" : "91723912"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy,IscSignatureCalls_OrgPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "system-auth" : "optional",
              "scoped-services" : [ "ZohoSupport" ]
            }
          },
          "clan-group" : "automation",
          "apihash" : "bff3fd3cde770ca7a6ff497f158d6d4a",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.AgentService.getAgentsByIds"
        }
      }
    },
    "/api/v1/agents/{agentId}/photo" : {
      "get" : {
        "tags" : [ "Agent" ],
        "summary" : "Get agent photo",
        "description" : "This API gets the profile photo for the given agent id.<p><b>Note</b>: To get agent photo generate OAuthToken for the scope: Desk.settings.READ,profile.userphoto.READ or Desk.basic.READ,profile.userphoto.READ </p>",
        "operationId" : "getAgentProfilePhoto",
        "parameters" : [ {
          "name" : "fileSize",
          "in" : "query",
          "description" : "Size of the image file to download. Values allowed are @THUMBNAIL@ (image with reduced dimensions and size) and @ACTUAL@ (image with actual dimensions and size). The default value is @ACTUAL@.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Size of the image file to download. Values allowed are @THUMBNAIL@ (image with reduced dimensions and size) and @ACTUAL@ (image with actual dimensions and size). The default value is @ACTUAL@.",
            "enum" : [ "THUMBNAIL", "ACTUAL" ]
          }
        }, {
          "name" : "agentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "File response",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "format" : "binary"
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "b5fbc059d60d72c8743cd3e8fafe8795",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.AgentService.getAgentPhotoStream"
        }
      }
    },
    "/api/v1/agents/activate" : {
      "post" : {
        "tags" : [ "Agent" ],
        "summary" : "Activate agents",
        "description" : "This API activates agents in your help desk.",
        "operationId" : "activateAgents",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "agentIds" ],
                "properties" : {
                  "agentIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "agentIds" : [ 1892000000056007, 1892000000056008 ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE", "Desk.basic.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 15,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "2dab0e2d33e8ee2fe089c75822ef64f0",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.AgentService.activateAgents"
        }
      }
    },
    "/api/v1/deletedAgents/{agentId}/anonymize" : {
      "post" : {
        "tags" : [ "Agent" ],
        "summary" : "Anonymize deleted agent",
        "description" : "This API removes the identification details of a deleted agent.",
        "operationId" : "anonymizeDeletedAgent",
        "parameters" : [ {
          "name" : "agentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "anonymizedName" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "anonymizedName" : "Anonyme"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE", "Desk.basic.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 15,
                  "hip" : false
                }, {
                  "duration" : 21600000,
                  "lock-period" : 1800000,
                  "threshold" : 2000,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "1f0dfe3d9afccbfe2aaf07e1004a66c5",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.AgentService.anonymizeAgents"
        }
      }
    },
    "/api/v1/agents" : {
      "get" : {
        "tags" : [ "Agent" ],
        "summary" : "List agents",
        "description" : "This API lists a particular number of agents, based on the limit specified.",
        "operationId" : "getAgents",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Secondary information related to agents, The allowed values are profile, role. You can include all two values by separating them with commas in the API request.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 2,
            "uniqueItems" : true,
            "description" : "Secondary information related to agents, The allowed values are @profile@, @role@. You can include all two values by separating them with commas in the API request.",
            "items" : {
              "enum" : [ "profile", "role" ]
            }
          }
        }, {
          "name" : "roleIds",
          "in" : "query",
          "description" : "Comma-separated array of role IDs. Maximum number of IDs allowed is 50.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : false,
            "description" : "Comma-separated array of role IDs. Maximum number of IDs allowed is 50.",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "Comma-separated array of role IDs. Maximum number of IDs allowed is 50.", false, 10, ",", false, false, "0,5", false, false, "Roles" ]
            }
          }
        }, {
          "name" : "searchStr",
          "in" : "query",
          "description" : "String to search for agents by first name, last name, or email ID. The string must contain at least one character. The supported search methods: 1) string* - Searches for agents whose first name, last name, or email ID start with the string, 2) *string* - Searches for agents whose first name, last name, or email ID contain the string, 3) string - Searches for agents whose first name, last name, or email ID is an exact match for the string",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
            "description" : "String to search for agents by first name, last name, or email ID. The string must contain at least one character. The supported search methods: 1) string* - Searches for agents whose first name, last name, or email ID start with the string, 2) *string* - Searches for agents whose first name, last name, or email ID contain the string, 3) string - Searches for agents whose first name, last name, or email ID is an exact match for the string"
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "IDs of the departments to which the agent belongs",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the agents must be fetched",
            "format" : "int64",
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of agents to fetch; default value is 10 and maximum value is 200",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 200,
            "minimum" : 10,
            "pattern" : "([0-9]+)",
            "description" : "Number of agents to fetch. The default value is 10 and the maximum value supported is 200.",
            "format" : "int32"
          }
        }, {
          "name" : "rolePermissionType",
          "in" : "query",
          "description" : "Types of roles and permissions of the agents to list. The allowed values are @AgentPublic@, @AgentPersonal@,@AgentTeamPersonal@, @Admin@, @Light@, @Custom@, and @${NON_LIGHT}@. @${NON_LIGHT}@ refers to agents who are not associated with the light agent profile.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Types of roles and permissions of the agents to list. The allowed values are @AgentPublic@, @AgentPersonal@,@AgentTeamPersonal@, @Admin@, @Light@, @Custom@, and @${NON_LIGHT}@. @${NON_LIGHT}@ refers to agents who are not associated with the light agent profile.",
            "enum" : [ "AgentPublic", "AgentPersonal", "AgentTeamPersonal", "Admin", "Custom", "Light" ]
          }
        }, {
          "name" : "profileIds",
          "in" : "query",
          "description" : "Comma-separated array of profile IDs. Maximum number of IDs allowed is 50.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : false,
            "description" : "Comma-separated array of profile IDs. Maximum number of IDs allowed is 50.",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "Comma-separated array of profile IDs. Maximum number of IDs allowed is 50.", false, 10, ",", false, false, "0,5", false, false, "Profiles" ]
            }
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the deleted agents must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the agents must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "isConfirmed",
          "in" : "query",
          "description" : "Filters Confirmed & Unconfirmed agents",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
[...]
