{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "AgentRoom",
    "version" : "1.0.0",
    "x-clan-group" : "agentroom",
    "x-module-group" : "agentroom"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/agentRoom/templates/{templateId}" : {
      "get" : {
        "tags" : [ "AgentRoom" ],
        "summary" : "Get a single template",
        "description" : "This API fetches a single template using the given templateId",
        "operationId" : "getTemplate",
        "parameters" : [ {
          "name" : "templateId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-x9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "isParsed",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "description" : "to get parsed json from canvas",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalparam" : false,
              "preserveChars" : "",
              "importUrl" : false,
              "decrypt" : false
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response with template details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "createdBy", "createdTime", "isCustom", "isSelected", "modifiedBy", "modifiedTime", "moduleId", "name", "page", "templateData", "templateId" ],
                  "properties" : {
                    "templateId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "name" : {
                      "maxLength" : 50,
                      "minLength" : 0
                    },
                    "isCustom" : { },
                    "isSelected" : { },
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "page" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "moduleId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "templateData" : {
                      "properties" : {
                        "slots" : {
                          "items" : {
                            "properties" : {
                              "elements" : {
                                "items" : {
                                  "properties" : {
                                    "slots" : {
                                      "items" : {
                                        "properties" : {
                                          "elements" : {
                                            "items" : {
                                              "properties" : {
                                                "name" : { },
                                                "styles" : {
                                                  "properties" : { }
                                                },
                                                "ActionLocation" : {
                                                  "properties" : {
                                                    "name" : { },
                                                    "actions" : {
                                                      "items" : {
                                                        "properties" : {
                                                          "type" : { }
                                                        }
                                                      }
                                                    }
                                                  }
                                                },
                                                "type" : { },
                                                "properties" : {
                                                  "properties" : {
                                                    "tabHeader" : {
                                                      "properties" : {
                                                        "headerStyle" : { }
                                                      }
                                                    },
                                                    "tabAlignment" : { },
                                                    "tabActionLocation" : {
                                                      "properties" : {
                                                        "ref" : { },
                                                        "type" : { }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "name" : { }
                                        }
                                      }
                                    },
                                    "name" : { },
                                    "style" : {
                                      "properties" : { }
                                    },
                                    "type" : { }
                                  }
                                }
                              },
                              "name" : { }
                            }
                          }
                        },
                        "name" : { },
                        "style" : {
                          "properties" : {
                            "displayStyle" : {
                              "properties" : {
                                "name" : { },
                                "type" : { }
                              }
                            },
                            "flexDirection" : {
                              "properties" : {
                                "name" : { },
                                "value" : { }
                              }
                            }
                          }
                        },
                        "type" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "example" : {
                  "modifiedTime" : "1752054745145",
                  "createdBy" : null,
                  "name" : "Standard",
                  "isCustom" : false,
                  "isSelected" : true,
                  "templateData" : "{'type':'pagecomponent','ui':{'value':{'style':{'default':{'padding':'0','background_color':'rgba(235, 240, 245, 1)'}},'custom_style':{},'position':{'start_x':0,'start_y':0,'end_x':4320,'width':1440,'height':607,'depth':1},'fixed':true,'class':''}},'children':[{'type':'component','ui':{'value':{'style':{'default':{'border':'none','background_color':'rgba(255,255,255,0)','border_radius':'0','box_shadow':'none'}},'custom_style':{},'position':{'start_x':0,'start_y':0,'end_x':1440,'width':1440,'height':607,'depth':1,'min_top':10,'min_left':10},'fixed':true,'class':'zc-flex-component zc-flex-direction-row-wrap','zcode':{'name':'flexNaN'},'property':{'flex':{'default':{'column_gap':'8px','row_gap':'8px','space_distribute':'normal_normal','alignment':'topleft','wrap':'wrap','direction':'row'}}}}},'theme':'Flex Layout','children':[{'type':'component','ui':{'value':{'style':{'default':{'border':'1px dashed rgb(213, 221, 231)','padding':'0','box_shadow':'0px 1px 8px 0px rgba(0, 0, 0, 0.06)','border_radius':'6px'}},'custom_style':{},'position':{'start_x':10,'start_y':10,'end_x':367,'width':357,'height':587,'depth':1},'class':'zc-flex-component zc-flex-direction-column zc-flex-self-distribute-normal','zcode':{'name':'flexNaN'},'property':{'flex':{},'flex_item':{'default':{'h_stretch':false,'v_stretch':false,'align_self':'start'}}}}},'theme':'Flex Layout','children':[{'type':'component','ui':{'value':{'style':{},'position':{'start_x':0,'start_y':0,'end_x':357,'width':357,'height':587,'depth':1,'min_top':30,'min_left':30},'class':'zc-list-component zc-flex-self-both-column-grow','related_list':true,'editorclass':'zcanvas-loading-component','property':{'flex_item':{'default':{'h_stretch':true,'v_stretch':true,'align_self':'start'}},'custom':{'default':{'tab_header_style':'iconOnly'}}}}},'theme':'Custom Layout','related_list':true,'children':[{'id':'ZD_TICKET_LEFTPANEL','type':'relatedlist','ui':{'value':{'position':{'start_x':0,'start_y':0,'end_x':355,'width':355,'height':585,'depth':1},'style':{},'theme_class':'default','class':'zcanvas-skip-selection'},'context':{}},'theme':'Table Layout','children':[]}]}]},{'type':'component','ui':{'value':{'style':{'default':{'border':'1px dashed rgb(213, 221, 231)','padding':'0','border_radius':'6px','box_shadow':'0px 1px 8px 0px rgba(0, 0, 0, 0.06)'}},'custom_style':{},'position':{'start_x':375,'start_y':10,'end_x':1100,'width':725,'height':587,'depth':1},'class':'zc-flex-component zc-flex-direction-column zc-flex-self-row-horizontal-grow','zcode':{'name':'flexNaN'},'property':{'flex':{},'flex_item':{'default':{'h_stretch':true,'v_stretch':false,'align_self':'start'}}}}},'theme':'Flex Layout','children':[{'type':'component','ui':{'value':{'style':{},'position':{'start_x':0,'start_y':0,'end_x':725,'width':725,'height':587,'depth':1,'min_top':30,'min_left':30},'class':'zc-list-component zc-flex-self-both-column-grow','related_list':true,'editorclass':'zcanvas-loading-component','property':{'flex_item':{'default':{'h_stretch':true,'v_stretch':true,'align_self':'start'}}}}},'theme':'Custom Layout','related_list':true,'children':[{'id':'ZD_TICKET_MIDDLEPANEL','type':'relatedlist','ui':{'value':{'position':{'start_x':0,'start_y':0,'end_x':723,'width':723,'height':585,'depth':1},'style':{},'theme_class':'default','class':'zcanvas-skip-selection'},'context':{}},'theme':'Table Layout','children':[]}]}]},{'type':'component','ui':{'value':{'style':{'default':{'border':'1px dashed rgb(213, 221, 231)','padding':'0','border_radius':'6px','box_shadow':'0px 1px 8px 0px rgba(0, 0, 0, 0.06)'}},'custom_style':{},'position':{'start_x':1108,'start_y':10,'end_x':1430,'width':322,'height':587,'depth':1},'class':'zc-flex-component zc-flex-direction-column zc-flex-self-distribute-normal','zcode':{'name':'flexNaN'},'property':{'flex':{},'flex_item':{'default':{'h_stretch':false,'v_stretch':false,'align_self':'start'}}}}},'theme':'Flex Layout','children':[{'type':'component','ui':{'value':{'style':{},'position':{'start_x':0,'start_y':0,'end_x':322,'width':322,'height':587,'depth':1,'min_top':30,'min_left':30},'class':'zc-list-component zc-flex-self-both-column-grow','related_list':true,'editorclass':'zcanvas-loading-component','property':{'flex_item':{'default':{'h_stretch':true,'v_stretch':true,'align_self':'start'}}}}},'theme':'Custom Layout','related_list':true,'children':[{'id':'ZD_TICKET_MARKETPLACEPANEL','type':'relatedlist','ui':{'value':{'position':{'start_x':0,'start_y':0,'end_x':320,'width':320,'height':585,'depth':1},'style':{},'theme_class':'default','class':'zcanvas-skip-selection'},'context':{}},'theme':'Table Layout','children':[]}]}]}]}]}",
                  "createdTime" : "1752054745145",
                  "modifiedBy" : null,
                  "templateId" : "1000000057053",
                  "moduleId" : "1000000000587"
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.ALL" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "c119963a37339129c84eca11788634b8",
          "module-group" : "agentroom",
          "apimethod" : "com.zoho.desk.agentroom.AgentRoomService.getTemplate"
        }
      },
      "patch" : {
        "tags" : [ "AgentRoom" ],
        "summary" : "Update Agent Room Template",
        "description" : "Updates an existing Agent Room template.",
        "operationId" : "updateTemplate",
        "parameters" : [ {
          "name" : "templateId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-x9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "name", "templateData" ],
                "properties" : {
                  "name" : {
                    "maxLength" : 50,
                    "minLength" : 1,
                    "pattern" : "cleartextpattern"
                  },
                  "templateData" : {
                    "maxLength" : 4000000,
                    "minLength" : 0
                  }
                },
                "additionalProperties" : { }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful response when user updates an existing template",
            "content" : {
              "application/json" : {
                "schema" : {
                  "modifiedTime" : {
                    "type" : "string"
                  },
                  "createdBy" : {
                    "type" : "object",
                    "properties" : {
                      "photoURL" : {
                        "type" : "string"
                      },
                      "firstName" : {
                        "type" : "string"
                      },
                      "lastName" : {
                        "type" : "string"
                      },
                      "id" : {
                        "type" : "string"
                      },
                      "email" : {
                        "type" : "string"
                      }
                    }
                  },
                  "name" : {
                    "type" : "string"
                  },
                  "isCustom" : {
                    "type" : "boolean"
                  },
                  "isSelected" : {
                    "type" : "boolean"
                  },
                  "templateData" : {
                    "type" : "object",
                    "properties" : {
                      "slots" : {
                        "type" : "array",
                        "items" : {
                          "type" : "object",
                          "properties" : {
                            "elements" : {
                              "type" : "array",
                              "items" : {
                                "type" : "object",
                                "properties" : {
                                  "slots" : {
                                    "type" : "array",
                                    "items" : {
                                      "type" : "object",
                                      "properties" : {
                                        "elements" : {
                                          "type" : "array",
                                          "items" : {
                                            "type" : "object",
                                            "properties" : {
                                              "name" : {
                                                "type" : "string"
                                              },
                                              "styles" : {
                                                "type" : "object",
                                                "properties" : { }
                                              },
                                              "ActionLocation" : {
                                                "type" : "object",
                                                "properties" : {
                                                  "name" : {
                                                    "type" : "string"
                                                  },
                                                  "actions" : {
                                                    "type" : "array",
                                                    "items" : {
                                                      "type" : "object",
                                                      "properties" : {
                                                        "type" : {
                                                          "type" : "string"
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              },
                                              "type" : {
                                                "type" : "string"
                                              },
                                              "properties" : {
                                                "type" : "object",
                                                "properties" : {
                                                  "tabHeader" : {
                                                    "type" : "object",
                                                    "properties" : {
                                                      "headerStyle" : {
                                                        "type" : "string"
                                                      }
                                                    }
                                                  },
                                                  "tabAlignment" : {
                                                    "type" : "string"
                                                  },
                                                  "tabActionLocation" : {
                                                    "type" : "object",
                                                    "properties" : {
                                                      "ref" : {
                                                        "type" : "string"
                                                      },
                                                      "type" : {
                                                        "type" : "string"
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "name" : {
                                          "type" : "string"
                                        }
                                      }
                                    }
                                  },
                                  "name" : {
                                    "type" : "string"
                                  },
                                  "style" : {
                                    "type" : "object",
                                    "properties" : { }
                                  },
                                  "type" : {
                                    "type" : "string"
                                  }
                                }
                              }
                            },
                            "name" : {
                              "type" : "string"
                            }
                          }
                        }
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "style" : {
                        "type" : "object",
                        "properties" : {
                          "displayStyle" : {
                            "type" : "object",
                            "properties" : {
                              "name" : {
                                "type" : "string"
                              },
                              "type" : {
                                "type" : "string"
                              }
                            }
                          },
                          "flexDirection" : {
                            "type" : "object",
                            "properties" : {
                              "name" : {
                                "type" : "string"
                              },
                              "value" : {
                                "type" : "string"
                              }
                            }
                          }
                        }
                      },
                      "type" : {
                        "type" : "string"
                      }
                    }
                  },
                  "createdTime" : {
                    "type" : "string"
                  },
                  "modifiedBy" : {
                    "type" : "object",
                    "properties" : {
                      "photoURL" : {
                        "type" : "string"
                      },
                      "firstName" : {
                        "type" : "string"
                      },
                      "lastName" : {
                        "type" : "string"
                      },
                      "id" : {
                        "type" : "string"
                      },
                      "email" : {
                        "type" : "string"
                      }
                    }
                  },
                  "page" : {
                    "type" : "string"
                  },
                  "templateId" : {
                    "type" : "string"
                  },
                  "moduleId" : {
                    "type" : "string"
                  }
                },
                "example" : {
                  "Valid response Definitions" : {
                    "value" : {
                      "modifiedTime" : "1752054745145",
                      "createdBy" : {
                        "email" : "jade@zylker.com",
                        "firstName" : "jade",
                        "id" : "667065000001806013",
                        "lastName" : "H",
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/1234/photo?orgId=123"
                      },
                      "name" : "custom template",
                      "isCustom" : true,
                      "isSelected" : false,
                      "templateData" : "{'type':'pagecomponent','ui':{'value':{'style':{'default':{'padding':'0','background_color':'rgba(235, 240, 245, 1)'}},'custom_style':{},'position':{'start_x':0,'start_y':0,'end_x':4320,'width':1440,'height':607,'depth':1},'fixed':true,'class':''}},'children':[{'type':'component','ui':{'value':{'style':{'default':{'border':'none','background_color':'rgba(255,255,255,0)','border_radius':'0','box_shadow':'none'}},'custom_style':{},'position':{'start_x':0,'start_y':0,'end_x':1440,'width':1440,'height':607,'depth':1,'min_top':10,'min_left':10},'fixed':true,'class':'zc-flex-component zc-flex-direction-row-wrap','zcode':{'name':'flexNaN'},'property':{'flex':{'default':{'column_gap':'8px','row_gap':'8px','space_distribute':'normal_normal','alignment':'topleft','wrap':'wrap','direction':'row'}}}}},'theme':'Flex Layout','children':[{'type':'component','ui':{'value':{'style':{'default':{'border':'1px dashed rgb(213, 221, 231)','padding':'0','box_shadow':'0px 1px 8px 0px rgba(0, 0, 0, 0.06)','border_radius':'6px'}},'custom_style':{},'position':{'start_x':10,'start_y':10,'end_x':367,'width':357,'height':587,'depth':1},'class':'zc-flex-component zc-flex-direction-column zc-flex-self-distribute-normal','zcode':{'name':'flexNaN'},'property':{'flex':{},'flex_item':{'default':{'h_stretch':false,'v_stretch':false,'align_self':'start'}}}}},'theme':'Flex Layout','children':[{'type':'component','ui':{'value':{'style':{},'position':{'start_x':0,'start_y':0,'end_x':357,'width':357,'height':587,'depth':1,'min_top':30,'min_left':30},'class':'zc-list-component zc-flex-self-both-column-grow','related_list':true,'editorclass':'zcanvas-loading-component','property':{'flex_item':{'default':{'h_stretch':true,'v_stretch':true,'align_self':'start'}},'custom':{'default':{'tab_header_style':'iconOnly'}}}}},'theme':'Custom Layout','related_list':true,'children':[{'id':'ZD_TICKET_LEFTPANEL','type':'relatedlist','ui':{'value':{'position':{'start_x':0,'start_y':0,'end_x':355,'width':355,'height':585,'depth':1},'style':{},'theme_class':'default','class':'zcanvas-skip-selection'},'context':{}},'theme':'Table Layout','children':[]}]}]},{'type':'component','ui':{'value':{'style':{'default':{'border':'1px dashed rgb(213, 221, 231)','padding':'0','border_radius':'6px','box_shadow':'0px 1px 8px 0px rgba(0, 0, 0, 0.06)'}},'custom_style':{},'position':{'start_x':375,'start_y':10,'end_x':1100,'width':725,'height':587,'depth':1},'class':'zc-flex-component zc-flex-direction-column zc-flex-self-row-horizontal-grow','zcode':{'name':'flexNaN'},'property':{'flex':{},'flex_item':{'default':{'h_stretch':true,'v_stretch':false,'align_self':'start'}}}}},'theme':'Flex Layout','children':[{'type':'component','ui':{'value':{'style':{},'position':{'start_x':0,'start_y':0,'end_x':725,'width':725,'height':587,'depth':1,'min_top':30,'min_left':30},'class':'zc-list-component zc-flex-self-both-column-grow','related_list':true,'editorclass':'zcanvas-loading-component','property':{'flex_item':{'default':{'h_stretch':true,'v_stretch':true,'align_self':'start'}}}}},'theme':'Custom Layout','related_list':true,'children':[{'id':'ZD_TICKET_MIDDLEPANEL','type':'relatedlist','ui':{'value':{'position':{'start_x':0,'start_y':0,'end_x':723,'width':723,'height':585,'depth':1},'style':{},'theme_class':'default','class':'zcanvas-skip-selection'},'context':{}},'theme':'Table Layout','children':[]}]}]},{'type':'component','ui':{'value':{'style':{'default':{'border':'1px dashed rgb(213, 221, 231)','padding':'0','border_radius':'6px','box_shadow':'0px 1px 8px 0px rgba(0, 0, 0, 0.06)'}},'custom_style':{},'position':{'start_x':1108,'start_y':10,'end_x':1430,'width':322,'height':587,'depth':1},'class':'zc-flex-component zc-flex-direction-column zc-flex-self-distribute-normal','zcode':{'name':'flexNaN'},'property':{'flex':{},'flex_item':{'default':{'h_stretch':false,'v_stretch':false,'align_self':'start'}}}}},'theme':'Flex Layout','children':[{'type':'component','ui':{'value':{'style':{},'position':{'start_x':0,'start_y':0,'end_x':322,'width':322,'height':587,'depth':1,'min_top':30,'min_left':30},'class':'zc-list-component zc-flex-self-both-column-grow','related_list':true,'editorclass':'zcanvas-loading-component','property':{'flex_item':{'default':{'h_stretch':true,'v_stretch':true,'align_self':'start'}}}}},'theme':'Custom Layout','related_list':true,'children':[{'id':'ZD_TICKET_MARKETPLACEPANEL','type':'relatedlist','ui':{'value':{'position':{'start_x':0,'start_y':0,'end_x':320,'width':320,'height':585,'depth':1},'style':{},'theme_class':'default','class':'zcanvas-skip-selection'},'context':{}},'theme':'Table Layout','children':[]}]}]}]}]}",
                      "createdTime" : "1752054745145",
                      "modifiedBy" : {
                        "email" : "jade@zylker.com",
                        "firstName" : "jade",
                        "id" : "667065000001806013",
                        "lastName" : "H",
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/1234/photo?orgId=123"
                      },
                      "page" : "detail",
                      "templateId" : "1000000057053",
                      "moduleId" : "1000000000587"
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.ALL" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "b8e665474da52bd511f306334cddff5d",
          "module-group" : "agentroom",
          "apimethod" : "com.zoho.desk.agentroom.AgentRoomService.updateTemplate"
        }
      }
    },
    "/api/v1/agentRoom/templates" : {
      "get" : {
        "tags" : [ "AgentRoom" ],
        "summary" : "Get all templates",
        "description" : "This API fetches all templates",
        "operationId" : "getTemplates",
        "parameters" : [ {
          "name" : "from",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "description" : "The starting index number from which the Agent Room templates should be fetched.",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalparam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "description" : "Number of requests to list. The default value is 10 and the maximum value supported is 100.",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalparam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          }
        }, {
          "name" : "moduleId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "description" : "ID of the module to which the Agent Room template belong.",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalparam" : false,
              "preserveChars" : "",
              "importUrl" : false,
              "decrypt" : false
            }
          }
        }, {
          "name" : "page",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ "detail" ],
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "description" : "Name of the page to which the Agent Room template belong. The allowed values are: detail",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalparam" : false,
              "preserveChars" : "",
              "importUrl" : false,
              "decrypt" : false
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response with list of templates",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "required" : [ "createdBy", "createdTime", "isCustom", "isSelected", "modifiedBy", "modifiedTime", "moduleId", "name", "page", "templateId" ],
                    "properties" : {
                      "templateId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "name" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "isCustom" : { },
                      "isSelected" : { },
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "moduleId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "modifiedBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "createdBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "page" : {
                        "enum" : [ "detail" ]
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "example" : {
                  "Valid response Definitions" : {
                    "value" : [ {
                      "modifiedTime" : "1752054745145",
                      "createdBy" : null,
                      "name" : "Standard",
                      "isCustom" : false,
                      "isSelected" : true,
                      "createdTime" : "1752054745145",
                      "modifiedBy" : null,
                      "page" : "detail",
                      "templateId" : "1000000057053",
                      "moduleId" : "1000000000587"
                    }, {
                      "modifiedTime" : "1752055043934",
                      "createdBy" : null,
                      "name" : "Classic",
                      "isCustom" : false,
                      "isSelected" : false,
                      "createdTime" : "1752055043934",
                      "modifiedBy" : null,
                      "page" : "detail",
                      "templateId" : "1000000057107",
                      "moduleId" : "1000000000587"
                    }, {
                      "modifiedTime" : "1752055309847",
                      "createdBy" : null,
                      "name" : "Morden",
                      "isCustom" : false,
                      "isSelected" : false,
                      "createdTime" : "1752055309847",
                      "modifiedBy" : null,
                      "page" : "detail",
                      "templateId" : "1000000057161",
                      "moduleId" : "1000000000587"
                    } ]
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.ALL" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "d55498b3aaf66d55f076e6e1b54bb377",
          "module-group" : "agentroom",
          "apimethod" : "com.zoho.desk.agentroom.AgentRoomService.getTemplates"
        }
      },
      "post" : {
        "tags" : [ "AgentRoom" ],
        "summary" : "Create Agent Room Template",
        "description" : "Creates a new template for the Agent Room",
        "operationId" : "createTemplate",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "moduleId", "name", "page", "sourceTemplateId", "templateData" ],
                "properties" : {
                  "name" : {
                    "maxLength" : 50,
                    "minLength" : 1,
                    "pattern" : "cleartextpattern"
                  },
                  "moduleId" : {
                    "format" : "int64"
                  },
                  "sourceTemplateId" : {
                    "format" : "int64"
                  },
                  "templateData" : {
                    "maxLength" : 4000000,
                    "minLength" : 0
                  },
                  "page" : {
                    "enum" : [ "detail" ]
                  }
                },
                "additionalProperties" : { }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful response when user create a new template",
            "content" : {
              "application/json" : {
                "schema" : {
                  "modifiedTime" : {
                    "type" : "string"
                  },
                  "createdBy" : {
                    "type" : "object",
                    "properties" : {
                      "photoURL" : {
                        "type" : "string"
                      },
                      "firstName" : {
                        "type" : "string"
                      },
                      "lastName" : {
                        "type" : "string"
                      },
                      "id" : {
                        "type" : "string"
                      },
                      "email" : {
                        "type" : "string"
                      }
                    }
                  },
                  "name" : {
                    "type" : "string"
                  },
                  "isCustom" : {
                    "type" : "boolean"
                  },
                  "isSelected" : {
                    "type" : "boolean"
                  },
                  "templateData" : {
                    "type" : "object",
                    "properties" : {
                      "slots" : {
                        "type" : "array",
                        "items" : {
                          "type" : "object",
                          "properties" : {
                            "elements" : {
                              "type" : "array",
                              "items" : {
                                "type" : "object",
                                "properties" : {
                                  "slots" : {
                                    "type" : "array",
                                    "items" : {
                                      "type" : "object",
                                      "properties" : {
                                        "elements" : {
                                          "type" : "array",
                                          "items" : {
                                            "type" : "object",
                                            "properties" : {
                                              "name" : {
                                                "type" : "string"
                                              },
                                              "styles" : {
                                                "type" : "object",
                                                "properties" : { }
                                              },
                                              "ActionLocation" : {
                                                "type" : "object",
                                                "properties" : {
                                                  "name" : {
                                                    "type" : "string"
                                                  },
                                                  "actions" : {
                                                    "type" : "array",
                                                    "items" : {
                                                      "type" : "object",
                                                      "properties" : {
                                                        "type" : {
                                                          "type" : "string"
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              },
                                              "type" : {
                                                "type" : "string"
                                              },
                                              "properties" : {
                                                "type" : "object",
                                                "properties" : {
                                                  "tabHeader" : {
                                                    "type" : "object",
                                                    "properties" : {
                                                      "headerStyle" : {
                                                        "type" : "string"
                                                      }
                                                    }
                                                  },
                                                  "tabAlignment" : {
                                                    "type" : "string"
                                                  },
                                                  "tabActionLocation" : {
                                                    "type" : "object",
                                                    "properties" : {
                                                      "ref" : {
                                                        "type" : "string"
                                                      },
                                                      "type" : {
                                                        "type" : "string"
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "name" : {
                                          "type" : "string"
                                        }
                                      }
                                    }
                                  },
                                  "name" : {
                                    "type" : "string"
                                  },
                                  "style" : {
                                    "type" : "object",
                                    "properties" : { }
                                  },
                                  "type" : {
                                    "type" : "string"
                                  }
                                }
                              }
                            },
                            "name" : {
                              "type" : "string"
                            }
                          }
                        }
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "style" : {
                        "type" : "object",
                        "properties" : {
                          "displayStyle" : {
                            "type" : "object",
                            "properties" : {
                              "name" : {
                                "type" : "string"
                              },
                              "type" : {
                                "type" : "string"
                              }
                            }
                          },
                          "flexDirection" : {
                            "type" : "object",
                            "properties" : {
                              "name" : {
                                "type" : "string"
                              },
                              "value" : {
                                "type" : "string"
                              }
                            }
                          }
                        }
                      },
                      "type" : {
                        "type" : "string"
                      }
                    }
                  },
                  "createdTime" : {
                    "type" : "string"
                  },
                  "modifiedBy" : {
                    "type" : "object",
                    "properties" : {
                      "photoURL" : {
                        "type" : "string"
                      },
                      "firstName" : {
                        "type" : "string"
                      },
                      "lastName" : {
                        "type" : "string"
                      },
                      "id" : {
                        "type" : "string"
                      },
                      "email" : {
                        "type" : "string"
                      }
                    }
                  },
                  "page" : {
                    "type" : "string"
                  },
                  "templateId" : {
                    "type" : "string"
                  },
                  "moduleId" : {
                    "type" : "string"
                  }
                },
                "example" : {
                  "Valid response Definitions" : {
                    "value" : {
                      "modifiedTime" : "1752054745145",
                      "createdBy" : {
                        "email" : "jade@zylker.com",
                        "firstName" : "jade",
                        "id" : "667065000001806013",
                        "lastName" : "H",
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/1234/photo?orgId=123"
                      },
                      "name" : "custom template",
                      "isCustom" : true,
                      "isSelected" : false,
                      "templateData" : "{'type':'pagecomponent','ui':{'value':{'style':{'default':{'padding':'0','background_color':'rgba(235, 240, 245, 1)'}},'custom_style':{},'position':{'start_x':0,'start_y':0,'end_x':4320,'width':1440,'height':607,'depth':1},'fixed':true,'class':''}},'children':[{'type':'component','ui':{'value':{'style':{'default':{'border':'none','background_color':'rgba(255,255,255,0)','border_radius':'0','box_shadow':'none'}},'custom_style':{},'position':{'start_x':0,'start_y':0,'end_x':1440,'width':1440,'height':607,'depth':1,'min_top':10,'min_left':10},'fixed':true,'class':'zc-flex-component zc-flex-direction-row-wrap','zcode':{'name':'flexNaN'},'property':{'flex':{'default':{'column_gap':'8px','row_gap':'8px','space_distribute':'normal_normal','alignment':'topleft','wrap':'wrap','direction':'row'}}}}},'theme':'Flex Layout','children':[{'type':'component','ui':{'value':{'style':{'default':{'border':'1px dashed rgb(213, 221, 231)','padding':'0','box_shadow':'0px 1px 8px 0px rgba(0, 0, 0, 0.06)','border_radius':'6px'}},'custom_style':{},'position':{'start_x':10,'start_y':10,'end_x':367,'width':357,'height':587,'depth':1},'class':'zc-flex-component zc-flex-direction-column zc-flex-self-distribute-normal','zcode':{'name':'flexNaN'},'property':{'flex':{},'flex_item':{'default':{'h_stretch':false,'v_stretch':false,'align_self':'start'}}}}},'theme':'Flex Layout','children':[{'type':'component','ui':{'value':{'style':{},'position':{'start_x':0,'start_y':0,'end_x':357,'width':357,'height':587,'depth':1,'min_top':30,'min_left':30},'class':'zc-list-component zc-flex-self-both-column-grow','related_list':true,'editorclass':'zcanvas-loading-component','property':{'flex_item':{'default':{'h_stretch':true,'v_stretch':true,'align_self':'start'}},'custom':{'default':{'tab_header_style':'iconOnly'}}}}},'theme':'Custom Layout','related_list':true,'children':[{'id':'ZD_TICKET_LEFTPANEL','type':'relatedlist','ui':{'value':{'position':{'start_x':0,'start_y':0,'end_x':355,'width':355,'height':585,'depth':1},'style':{},'theme_class':'default','class':'zcanvas-skip-selection'},'context':{}},'theme':'Table Layout','children':[]}]}]},{'type':'component','ui':{'value':{'style':{'default':{'border':'1px dashed rgb(213, 221, 231)','padding':'0','border_radius':'6px','box_shadow':'0px 1px 8px 0px rgba(0, 0, 0, 0.06)'}},'custom_style':{},'position':{'start_x':375,'start_y':10,'end_x':1100,'width':725,'height':587,'depth':1},'class':'zc-flex-component zc-flex-direction-column zc-flex-self-row-horizontal-grow','zcode':{'name':'flexNaN'},'property':{'flex':{},'flex_item':{'default':{'h_stretch':true,'v_stretch':false,'align_self':'start'}}}}},'theme':'Flex Layout','children':[{'type':'component','ui':{'value':{'style':{},'position':{'start_x':0,'start_y':0,'end_x':725,'width':725,'height':587,'depth':1,'min_top':30,'min_left':30},'class':'zc-list-component zc-flex-self-both-column-grow','related_list':true,'editorclass':'zcanvas-loading-component','property':{'flex_item':{'default':{'h_stretch':true,'v_stretch':true,'align_self':'start'}}}}},'theme':'Custom Layout','related_list':true,'children':[{'id':'ZD_TICKET_MIDDLEPANEL','type':'relatedlist','ui':{'value':{'position':{'start_x':0,'start_y':0,'end_x':723,'width':723,'height':585,'depth':1},'style':{},'theme_class':'default','class':'zcanvas-skip-selection'},'context':{}},'theme':'Table Layout','children':[]}]}]},{'type':'component','ui':{'value':{'style':{'default':{'border':'1px dashed rgb(213, 221, 231)','padding':'0','border_radius':'6px','box_shadow':'0px 1px 8px 0px rgba(0, 0, 0, 0.06)'}},'custom_style':{},'position':{'start_x':1108,'start_y':10,'end_x':1430,'width':322,'height':587,'depth':1},'class':'zc-flex-component zc-flex-direction-column zc-flex-self-distribute-normal','zcode':{'name':'flexNaN'},'property':{'flex':{},'flex_item':{'default':{'h_stretch':false,'v_stretch':false,'align_self':'start'}}}}},'theme':'Flex Layout','children':[{'type':'component','ui':{'value':{'style':{},'position':{'start_x':0,'start_y':0,'end_x':322,'width':322,'height':587,'depth':1,'min_top':30,'min_left':30},'class':'zc-list-component zc-flex-self-both-column-grow','related_list':true,'editorclass':'zcanvas-loading-component','property':{'flex_item':{'default':{'h_stretch':true,'v_stretch':true,'align_self':'start'}}}}},'theme':'Custom Layout','related_list':true,'children':[{'id':'ZD_TICKET_MARKETPLACEPANEL','type':'relatedlist','ui':{'value':{'position':{'start_x':0,'start_y':0,'end_x':320,'width':320,'height':585,'depth':1},'style':{},'theme_class':'default','class':'zcanvas-skip-selection'},'context':{}},'theme':'Table Layout','children':[]}]}]}]}]}",
                      "createdTime" : "1752054745145",
                      "modifiedBy" : {
                        "email" : "jade@zylker.com",
                        "firstName" : "jade",
                        "id" : "667065000001806013",
                        "lastName" : "H",
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/1234/photo?orgId=123"
                      },
                      "page" : "detail",
                      "templateId" : "1000000057053",
                      "moduleId" : "1000000000587"
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.ALL" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "30d8f719e47a0a99a2b959c9247fbdc5",
          "module-group" : "agentroom",
          "apimethod" : "com.zoho.desk.agentroom.AgentRoomService.createTemplate"
        }
      }
    },
    "/api/v1/agentRoom/myTemplate" : {
      "get" : {
        "tags" : [ "AgentRoom" ],
        "summary" : "Get my templates",
        "description" : "This API fetches all templates created by the user",
        "operationId" : "getMyTemplate",
        "parameters" : [ {
          "name" : "module",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ "tickets" ],
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "description" : "Name of the modules from which the template must be fetched. Values allowed are tickets",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalparam" : false,
              "preserveChars" : "",
              "importUrl" : false,
              "decrypt" : false
            }
          }
        }, {
          "name" : "page",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "enum" : [ "detail" ],
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "description" : "Name of the page to which the Agent Room template belong. The allowed values are: detail",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalparam" : false,
              "preserveChars" : "",
              "importUrl" : false,
              "decrypt" : false
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response with list of user's templates",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "createdBy", "createdTime", "isCustom", "isSelected", "modifiedBy", "modifiedTime", "moduleId", "name", "page", "templateData", "templateId" ],
                  "properties" : {
                    "templateId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "name" : {
                      "maxLength" : 50,
                      "minLength" : 0
                    },
                    "isCustom" : { },
                    "isSelected" : { },
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "moduleId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "page" : {
                      "maxLength" : 50,
                      "minLength" : 0
                    },
                    "templateData" : {
                      "properties" : {
                        "slots" : {
                          "items" : {
                            "properties" : {
                              "elements" : {
                                "items" : {
                                  "properties" : {
                                    "slots" : {
                                      "items" : {
                                        "properties" : {
                                          "elements" : {
                                            "items" : {
                                              "properties" : {
                                                "name" : { },
                                                "styles" : {
                                                  "properties" : { }
                                                },
                                                "ActionLocation" : {
                                                  "properties" : {
                                                    "name" : { },
                                                    "actions" : {
                                                      "items" : {
                                                        "properties" : {
                                                          "type" : { }
                                                        }
                                                      }
                                                    }
                                                  }
                                                },
                                                "type" : { },
                                                "properties" : {
                                                  "properties" : {
                                                    "tabHeader" : {
                                                      "properties" : {
                                                        "headerStyle" : { }
                                                      }
                                                    },
                                                    "tabAlignment" : { },
                                                    "tabActionLocation" : {
                                                      "properties" : {
                                                        "ref" : { },
                                                        "type" : { }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "name" : { }
                                        }
                                      }
                                    },
                                    "name" : { },
                                    "style" : {
                                      "properties" : { }
                                    },
                                    "type" : { }
                                  }
                                }
                              },
                              "name" : { }
                            }
                          }
                        },
                        "name" : { },
                        "style" : {
                          "properties" : {
                            "displayStyle" : {
                              "properties" : {
                                "name" : { },
                                "type" : { }
                              }
                            },
                            "flexDirection" : {
                              "properties" : {
                                "name" : { },
                                "value" : { }
                              }
                            }
                          }
                        },
                        "type" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "example" : {
                  "Valid response Definitions" : {
                    "value" : {
                      "modifiedTime" : "1752054745145",
                      "createdBy" : null,
                      "name" : "Standard",
                      "isCustom" : false,
                      "isSelected" : false,
                      "templateData" : "{'type':'pagecomponent','ui':{'value':{'style':{'default':{'padding':'0','background_color':'rgba(235, 240, 245, 1)'}},'custom_style':{},'position':{'start_x':0,'start_y':0,'end_x':4320,'width':1440,'height':607,'depth':1},'fixed':true,'class':''}},'children':[{'type':'component','ui':{'value':{'style':{'default':{'border':'none','background_color':'rgba(255,255,255,0)','border_radius':'0','box_shadow':'none'}},'custom_style':{},'position':{'start_x':0,'start_y':0,'end_x':1440,'width':1440,'height':607,'depth':1,'min_top':10,'min_left':10},'fixed':true,'class':'zc-flex-component zc-flex-direction-row-wrap','zcode':{'name':'flexNaN'},'property':{'flex':{'default':{'column_gap':'8px','row_gap':'8px','space_distribute':'normal_normal','alignment':'topleft','wrap':'wrap','direction':'row'}}}}},'theme':'Flex Layout','children':[{'type':'component','ui':{'value':{'style':{'default':{'border':'1px dashed rgb(213, 221, 231)','padding':'0','box_shadow':'0px 1px 8px 0px rgba(0, 0, 0, 0.06)','border_radius':'6px'}},'custom_style':{},'position':{'start_x':10,'start_y':10,'end_x':367,'width':357,'height':587,'depth':1},'class':'zc-flex-component zc-flex-direction-column zc-flex-self-distribute-normal','zcode':{'name':'flexNaN'},'property':{'flex':{},'flex_item':{'default':{'h_stretch':false,'v_stretch':false,'align_self':'start'}}}}},'theme':'Flex Layout','children':[{'type':'component','ui':{'value':{'style':{},'position':{'start_x':0,'start_y':0,'end_x':357,'width':357,'height':587,'depth':1,'min_top':30,'min_left':30},'class':'zc-list-component zc-flex-self-both-column-grow','related_list':true,'editorclass':'zcanvas-loading-component','property':{'flex_item':{'default':{'h_stretch':true,'v_stretch':true,'align_self':'start'}},'custom':{'default':{'tab_header_style':'iconOnly'}}}}},'theme':'Custom Layout','related_list':true,'children':[{'id':'ZD_TICKET_LEFTPANEL','type':'relatedlist','ui':{'value':{'position':{'start_x':0,'start_y':0,'end_x':355,'width':355,'height':585,'depth':1},'style':{},'theme_class':'default','class':'zcanvas-skip-selection'},'context':{}},'theme':'Table Layout','children':[]}]}]},{'type':'component','ui':{'value':{'style':{'default':{'border':'1px dashed rgb(213, 221, 231)','padding':'0','border_radius':'6px','box_shadow':'0px 1px 8px 0px rgba(0, 0, 0, 0.06)'}},'custom_style':{},'position':{'start_x':375,'start_y':10,'end_x':1100,'width':725,'height':587,'depth':1},'class':'zc-flex-component zc-flex-direction-column zc-flex-self-row-horizontal-grow','zcode':{'name':'flexNaN'},'property':{'flex':{},'flex_item':{'default':{'h_stretch':true,'v_stretch':false,'align_self':'start'}}}}},'theme':'Flex Layout','children':[{'type':'component','ui':{'value':{'style':{},'position':{'start_x':0,'start_y':0,'end_x':725,'width':725,'height':587,'depth':1,'min_top':30,'min_left':30},'class':'zc-list-component zc-flex-self-both-column-grow','related_list':true,'editorclass':'zcanvas-loading-component','property':{'flex_item':{'default':{'h_stretch':true,'v_stretch':true,'align_self':'start'}}}}},'theme':'Custom Layout','related_list':true,'children':[{'id':'ZD_TICKET_MIDDLEPANEL','type':'relatedlist','ui':{'value':{'position':{'start_x':0,'start_y':0,'end_x':723,'width':723,'height':585,'depth':1},'style':{},'theme_class':'default','class':'zcanvas-skip-selection'},'context':{}},'theme':'Table Layout','children':[]}]}]},{'type':'component','ui':{'value':{'style':{'default':{'border':'1px dashed rgb(213, 221, 231)','padding':'0','border_radius':'6px','box_shadow':'0px 1px 8px 0px rgba(0, 0, 0, 0.06)'}},'custom_style':{},'position':{'start_x':1108,'start_y':10,'end_x':1430,'width':322,'height':587,'depth':1},'class':'zc-flex-component zc-flex-direction-column zc-flex-self-distribute-normal','zcode':{'name':'flexNaN'},'property':{'flex':{},'flex_item':{'default':{'h_stretch':false,'v_stretch':false,'align_self':'start'}}}}},'theme':'Flex Layout','children':[{'type':'component','ui':{'value':{'style':{},'position':{'start_x':0,'start_y':0,'end_x':322,'width':322,'height':587,'depth':1,'min_top':30,'min_left':30},'class':'zc-list-component zc-flex-self-both-column-grow','related_list':true,'editorclass':'zcanvas-loading-component','property':{'flex_item':{'default':{'h_stretch':true,'v_stretch':true,'align_self':'start'}}}}},'theme':'Custom Layout','related_list':true,'children':[{'id':'ZD_TICKET_MARKETPLACEPANEL','type':'relatedlist','ui':{'value':{'position':{'start_x':0,'start_y':0,'end_x':320,'width':320,'height':585,'depth':1},'style':{},'theme_class':'default','class':'zcanvas-skip-selection'},'context':{}},'theme':'Table Layout','children':[]}]}]}]}]}",
                      "createdTime" : "1752054745145",
                      "modifiedBy" : null,
                      "page" : "detail",
                      "templateId" : "1000000057053",
                      "moduleId" : "1000000000587"
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.ALL" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "59d86629b486b9327babdc54fa302fe4",
          "module-group" : "agentroom",
          "apimethod" : "com.zoho.desk.agentroom.AgentRoomService.getMyTemplate"
        }
      }
    },
    "/api/v1/agentRoom/{templateId}/associate" : {
      "post" : {
        "tags" : [ "AgentRoom" ],
        "summary" : "Associate a template",
        "description" : "This API associates a template with the given templateId",
        "operationId" : "associateTemplate",
        "parameters" : [ {
          "name" : "templateId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-x9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.ALL" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "f4b6c5889a4c330879bbd47d6b11264a",
          "module-group" : "agentroom",
          "apimethod" : "com.zoho.desk.agentroom.AgentRoomService.associateTemplate"
        }
      }
    },
    "/api/v1/agentRoom/deleteTemplates" : {
      "post" : {
        "tags" : [ "AgentRoom" ],
        "summary" : "Delete Agent Room Templates",
        "description" : "Deletes Agent Room templates.",
        "operationId" : "deleteTemplates",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "templateIds" ],
                "properties" : {
                  "templateIds" : {
                    "maxItems" : 100,
                    "minItems" : 1,
                    "items" : {
                      "format" : "int64"
                    }
                  }
                },
                "additionalProperties" : { }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful response when user deletes an existing template",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "results" ],
                  "properties" : {
                    "results" : {
                      "items" : {
                        "properties" : {
                          "id" : { },
                          "success" : { },
                          "errors" : { }
                        }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "example" : {
                  "Valid response Definitions" : {
                    "value" : {
                      "results" : [ {
                        "id" : "1000000057053",
                        "success" : true,
                        "errors" : null
                      } ]
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
[...]
