{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "ArticleComment",
    "version" : "1.0.0",
    "x-clan-group" : "helpCenter",
    "x-module-group" : "kb"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/articles/{articleId}/translations/{locale}/comments" : {
      "get" : {
        "tags" : [ "ArticleComment" ],
        "summary" : "List all translation comments",
        "description" : "This API lists a particular number of comments recorded on an article translation, based on the limit specified.",
        "operationId" : "getArticleTranslationComments",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Allowed values: ticket",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Allowed values @ticket@",
            "items" : {
              "enum" : [ "ticket" ]
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "No. of comments to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "No. of comments to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number starting from which the comments must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Index number starting from which the comments must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Sort comments by the @commentedTime@ attribute. The default sorting order is ascending. @-commentedTime@ denotes descending order of sorting.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Sort comments by the @commentedTime@ attribute. The default sorting order is ascending. @-commentedTime@ denotes descending order of sorting.",
            "enum" : [ "commentedTime" ]
          }
        }, {
          "name" : "articleId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "locale",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "listOfComments template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "ticket" : {
                              "maxProperties" : 4,
                              "minProperties" : 4,
                              "required" : [ "id", "isTrashed", "ticketNumber", "webUrl" ],
                              "properties" : {
                                "ticketNumber" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "isTrashed" : { },
                                "webUrl" : {
                                  "maxLength" : 500,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : { }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "required" : [ "attachments", "commentedTime", "commenter", "commenterId", "commenterName", "content", "contentType", "encodedContent", "hashtags", "id", "impersonatedUser", "isPublic", "mentions", "modifiedTime", "status", "ticketId" ],
                          "properties" : {
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "attachments" : {
                              "items" : {
                                "required" : [ "href", "id", "name", "previewurl", "size" ],
                                "properties" : {
                                  "previewurl" : {
                                    "maxLength" : 16000000,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  },
                                  "size" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "href" : {
                                    "maxLength" : 16000000,
                                    "minLength" : 0,
                                    "pattern" : "https?:\\/\\/([a-zA-Z0-9\\.-]+)(:\\d{1,5})?(\\/[a-zA-Z0-9\\/\\.-]+)?\\?(x-service=([a-zA-Z0-9]+)&event-id=([a-f0-9]+)&x-cli-msg=\\{\\\\?\"s\\\\?\":(\\d),\\\\?\"portalname\\\\?\":\\\\?\"([a-zA-Z0-9]+)\\\\?\"\\}|orgId=(\\d+))"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "hashtags" : {
                              "items" : {
                                "required" : [ "headerId", "headerValue", "length", "offSet" ],
                                "properties" : {
                                  "offSet" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "length" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "headerValue" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "headerId" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "commentedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "commenterName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "content" : {
                              "maxLength" : 32000,
                              "minLength" : 0,
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Content of the comment. To retrieve or set user mentions, use this code format:      AGENT : _zsu[@user:{zuid}]zsu_, Enduser : _zsu[@enduser:{zuid}]zsu_, Group : _zsu[@group:{groupid}]zsu_, HashTag : _zsh[#{HEADER_DATA}]zsh_.",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "xss" : "antisamyfilter_kbcommentspolicy",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "commenterId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "commenter" : {
                              "required" : [ "email", "firstName", "id", "kbRole", "label", "lastName", "name", "photoURL", "roleName", "type", "webUrl" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "webUrl" : {
                                  "maxLength" : 255,
                                  "minLength" : 3,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "roleName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "label" : {
                                  "required" : [ "id", "logoUrl", "name", "preferences" ],
                                  "properties" : {
                                    "preferences" : {
                                      "required" : [ "bgColor", "shape", "textColor" ],
                                      "properties" : {
                                        "bgColor" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                          "description" : "background color of the label"
                                        },
                                        "shape" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "description" : "shape of the label",
                                          "enum" : [ "ROUNDED", "RECTANGLE" ]
                                        },
                                        "textColor" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                          "description" : "text color of the label"
                                        }
                                      },
                                      "additionalProperties" : false
                                    },
                                    "name" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "logoUrl" : {
                                      "maxLength" : 200,
                                      "minLength" : 0,
                                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                },
                                "kbRole" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "REVIEWER", null ]
                                }
                              },
                              "additionalProperties" : false
                            },
                            "impersonatedUser" : {
                              "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "roleName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64",
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "ID of the comment",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "encodedContent" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "mentions" : {
                              "required" : [ "groups", "users" ],
                              "properties" : {
                                "groups" : {
                                  "items" : {
                                    "required" : [ "id", "length", "logoUrl", "name", "offSet" ],
                                    "properties" : {
                                      "offSet" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int32"
                                      },
                                      "name" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                      },
                                      "length" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int32"
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "logoUrl" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                },
                                "users" : {
                                  "items" : {
                                    "additionalProperties" : false,
                                    "allOf" : [ {
                                      "required" : [ "email", "firstName", "id", "kbRole", "label", "lastName", "name", "photoURL", "roleName", "type", "webUrl" ],
                                      "properties" : {
                                        "photoURL" : {
                                          "maxLength" : 200,
                                          "minLength" : 0,
                                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                        },
                                        "firstName" : {
                                          "maxLength" : 50,
                                          "minLength" : 0
                                        },
                                        "lastName" : {
                                          "maxLength" : 50,
                                          "minLength" : 0
                                        },
                                        "webUrl" : {
                                          "maxLength" : 255,
                                          "minLength" : 3,
                                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                        },
                                        "name" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "roleName" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "id" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        },
                                        "label" : {
                                          "required" : [ "id", "logoUrl", "name", "preferences" ],
                                          "properties" : {
                                            "preferences" : {
                                              "required" : [ "bgColor", "shape", "textColor" ],
                                              "properties" : {
                                                "bgColor" : {
                                                  "maxLength" : 100,
                                                  "minLength" : 0,
                                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                                  "description" : "background color of the label"
                                                },
                                                "shape" : {
                                                  "maxLength" : 100,
                                                  "minLength" : 0,
                                                  "description" : "shape of the label",
                                                  "enum" : [ "ROUNDED", "RECTANGLE" ]
                                                },
                                                "textColor" : {
                                                  "maxLength" : 100,
                                                  "minLength" : 0,
                                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                                  "description" : "text color of the label"
                                                }
                                              },
                                              "additionalProperties" : false
                                            },
                                            "name" : {
                                              "maxLength" : 100,
                                              "minLength" : 0,
                                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                            },
                                            "id" : {
                                              "pattern" : "([0-9]+)",
                                              "format" : "int64"
                                            },
                                            "logoUrl" : {
                                              "maxLength" : 200,
                                              "minLength" : 0,
                                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                            }
                                          },
                                          "additionalProperties" : false
                                        },
                                        "type" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                        },
                                        "email" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                        },
                                        "kbRole" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "enum" : [ "REVIEWER", null ]
                                        }
                                      },
                                      "additionalProperties" : false
                                    }, {
                                      "required" : [ "kbRole", "label", "length", "offSet", "webUrl", "zuid" ],
                                      "properties" : {
                                        "offSet" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int32"
                                        },
                                        "webUrl" : {
                                          "maxLength" : 255,
                                          "minLength" : 3,
                                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                        },
                                        "length" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int32"
                                        },
                                        "label" : {
                                          "required" : [ "id", "logoUrl", "name", "preferences" ],
                                          "properties" : {
                                            "preferences" : {
                                              "required" : [ "bgColor", "shape", "textColor" ],
                                              "properties" : {
                                                "bgColor" : {
                                                  "maxLength" : 100,
                                                  "minLength" : 0,
                                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                                  "description" : "background color of the label"
                                                },
                                                "shape" : {
                                                  "maxLength" : 100,
                                                  "minLength" : 0,
                                                  "description" : "shape of the label",
                                                  "enum" : [ "ROUNDED", "RECTANGLE" ]
                                                },
                                                "textColor" : {
                                                  "maxLength" : 100,
                                                  "minLength" : 0,
                                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                                  "description" : "text color of the label"
                                                }
                                              },
                                              "additionalProperties" : false
                                            },
                                            "name" : {
                                              "maxLength" : 100,
                                              "minLength" : 0,
                                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                            },
                                            "id" : {
                                              "pattern" : "([0-9]+)",
                                              "format" : "int64"
                                            },
                                            "logoUrl" : {
                                              "maxLength" : 200,
                                              "minLength" : 0,
                                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                            }
                                          },
                                          "additionalProperties" : false
                                        },
                                        "zuid" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int32"
                                        },
                                        "kbRole" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "enum" : [ "REVIEWER", null ]
                                        }
                                      },
                                      "additionalProperties" : false
                                    } ]
                                  }
                                }
                              },
                              "additionalProperties" : false
                            },
                            "isPublic" : {
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Visibility of the comment, which can be set only at the time of commenting. ",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "contentType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "plainText", "html" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Used to denote the content-type which maybe @html@ or @plainText@. The default type is @html@.",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "ticketId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "PUBLISHED", "AWAITINGAPPROVAL" ]
                            }
                          },
                          "additionalProperties" : { }
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "modifiedTime" : 1652101829000,
                        "attachments" : [ {
                          "previewurl" : "https://desk.zoho.com/api/v1/articles/46582000006958052/translations/en/attachments/nmhny14ce774984eb4b15891e1cbe274e612c/content?orgId=57044830",
                          "size" : "35594",
                          "name" : "Zoho desk introduction.jpg",
                          "id" : "4658200041001",
                          "href" : "https://downloadserver.zoho.com/webdownload?x-service=desk&event-id=b45a36decdceb443ccb4d3445f29c9966de7dee89041ea315318c4f358836a09e07add42e10810f8961c3f92bf853"
                        } ],
                        "tickets" : {
                          "ticketNumber" : "115",
                          "isTrashed" : "false",
                          "webUrl" : "https://desk.zoho.com/agent/zohocorp/desk/tickets/details/5000000114001",
                          "id" : "5000000114001"
                        },
                        "hashtags" : [ {
                          "offset" : "47",
                          "length" : "33",
                          "headerValue" : "Introduction",
                          "headerId" : "Sample_header"
                        } ],
                        "commentedTime" : 1652072940000,
                        "commenterName" : "Jack",
                        "content" : "<div>Changed Sample content zsu[@user:695624]zsu&nbsp; zsh[#sample_header:Introduction]zsh&nbsp;</div>",
                        "commenterId" : "4658200004039",
                        "commenter" : {
                          "firstName" : "",
                          "lastName" : "Jack",
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/4658200004039/photo?orgId=292828",
                          "webUrl" : "https://desk.zoho.com/support/arunice/ShowHomePage.do#setup/users-control/agents/1000000000351",
                          "roleName" : "CEO",
                          "name" : "Jack",
                          "id" : "4658200004039",
                          "label" : {
                            "preferences" : {
                              "shape" : "RECTANGLE",
                              "bgColor" : "#5C6368",
                              "textColor" : "#FFFFFF"
                            },
                            "name" : "MVP",
                            "id" : "5000000081007",
                            "logoUrl" : "https://desk.zoho.com/portal/api/publicImages/35531135311?portalId=3153815r1fnf113131rf31n9"
                          },
                          "type" : "AGENT",
                          "email" : "Jack@gmail.com",
                          "kbRole" : "REVIEWER"
                        },
                        "mentions" : {
                          "groups" : [ {
                            "offSet" : "260",
                            "name" : "MVP",
                            "length" : "28",
                            "id" : "5000000113025",
                            "logoUrl" : "https://desk.zoho.com/portal/api/publicImages/4658200004039?portalId=292828341431fq"
                          } ],
                          "users" : [ {
                            "firstName" : "",
                            "lastName" : "Cristiano",
                            "photoURL" : "https://desk.zoho.com/api/v1/agents/4658200044017/photo?orgId=292828",
                            "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#setup/users-control/agents/5000000000347",
                            "length" : "28",
                            "name" : "Cristiano",
                            "id" : "4658200044017",
                            "label" : {
                              "preferences" : {
                                "shape" : "ROUNDED",
                                "bgColor" : "#CE6785",
                                "textColor" : "#FFFFFF"
                              },
                              "name" : "Prime user",
                              "id" : "5000000081001",
                              "logoUrl" : "https://desk.zoho.com/portal/api/publicImages/35531135311?portalId=3153815r1fnf113131rf31n8"
                            },
                            "type" : "AGENT",
                            "email" : "Cristiano@gmail.com",
                            "zuid" : "695624",
                            "kbRole" : "REVIEWER"
                          } ]
                        },
                        "isPublic" : true,
                        "id" : "4658200041003",
                        "contentType" : "html",
                        "ticketId" : "5000000114001",
                        "status" : "PUBLISHED"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "6a0029b5f9ed63565be76e98fc6f8a06",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.articles.rest.support.ArticleService.getTranslationComments"
        }
      },
      "post" : {
        "tags" : [ "ArticleComment" ],
        "summary" : "Create a translation comment",
        "description" : "This API adds a comment to an article translation.",
        "operationId" : "createArticleTranslationComment",
        "parameters" : [ {
          "name" : "articleId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "locale",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "content", "contentType", "isPublic" ],
                "properties" : {
                  "isPublic" : {
                    "description" : "Visibility of the comment, which can be set only at the time of commenting. "
                  },
                  "attachmentIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "contentType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Used to denote the content-type which maybe @html@ or @plainText@. The default type is @html@.",
                    "enum" : [ "plainText", "html" ]
                  },
                  "content" : {
                    "maxLength" : 32000,
                    "minLength" : 0,
                    "description" : "Content of the comment. To retrieve or set user mentions, use this code format:      AGENT : _zsu[@user:{zuid}]zsu_, Enduser : _zsu[@enduser:{zuid}]zsu_, Group : _zsu[@group:{groupid}]zsu_, HashTag : _zsh[#{HEADER_DATA}]zsh_.",
                    "x-custom-parameters-attributes" : {
                      "xss" : "antisamyfilter_kbcommentspolicy"
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "isPublic" : "false",
                    "attachmentIds" : [ "4658200041001" ],
                    "contentType" : "html",
                    "content" : "<div>Sample content zsu[@user:695624]zsu&nbsp; zsh[#sample_header:Introduction]zsh&nbsp;</div>"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "commentResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "attachments", "commentedTime", "commenter", "commenterId", "commenterName", "content", "contentType", "encodedContent", "hashtags", "id", "impersonatedUser", "isPublic", "mentions", "modifiedTime", "status", "ticketId" ],
                    "properties" : {
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "attachments" : {
                        "items" : {
                          "required" : [ "href", "id", "name", "previewurl", "size" ],
                          "properties" : {
                            "previewurl" : {
                              "maxLength" : 16000000,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "size" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "href" : {
                              "maxLength" : 16000000,
                              "minLength" : 0,
                              "pattern" : "https?:\\/\\/([a-zA-Z0-9\\.-]+)(:\\d{1,5})?(\\/[a-zA-Z0-9\\/\\.-]+)?\\?(x-service=([a-zA-Z0-9]+)&event-id=([a-f0-9]+)&x-cli-msg=\\{\\\\?\"s\\\\?\":(\\d),\\\\?\"portalname\\\\?\":\\\\?\"([a-zA-Z0-9]+)\\\\?\"\\}|orgId=(\\d+))"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "hashtags" : {
                        "items" : {
                          "required" : [ "headerId", "headerValue", "length", "offSet" ],
                          "properties" : {
                            "offSet" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "length" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "headerValue" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "headerId" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "commentedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "commenterName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "content" : {
                        "maxLength" : 32000,
                        "minLength" : 0,
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Content of the comment. To retrieve or set user mentions, use this code format:      AGENT : _zsu[@user:{zuid}]zsu_, Enduser : _zsu[@enduser:{zuid}]zsu_, Group : _zsu[@group:{groupid}]zsu_, HashTag : _zsh[#{HEADER_DATA}]zsh_.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "xss" : "antisamyfilter_kbcommentspolicy",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "commenterId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "commenter" : {
                        "required" : [ "email", "firstName", "id", "kbRole", "label", "lastName", "name", "photoURL", "roleName", "type", "webUrl" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "webUrl" : {
                            "maxLength" : 255,
                            "minLength" : 3,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "roleName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "label" : {
                            "required" : [ "id", "logoUrl", "name", "preferences" ],
                            "properties" : {
                              "preferences" : {
                                "required" : [ "bgColor", "shape", "textColor" ],
                                "properties" : {
                                  "bgColor" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                    "description" : "background color of the label"
                                  },
                                  "shape" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "description" : "shape of the label",
                                    "enum" : [ "ROUNDED", "RECTANGLE" ]
                                  },
                                  "textColor" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                    "description" : "text color of the label"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "logoUrl" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          },
                          "kbRole" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "REVIEWER", null ]
                          }
                        },
                        "additionalProperties" : false
                      },
                      "impersonatedUser" : {
                        "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "roleName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "ID of the comment",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "encodedContent" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "mentions" : {
                        "required" : [ "groups", "users" ],
                        "properties" : {
                          "groups" : {
                            "items" : {
                              "required" : [ "id", "length", "logoUrl", "name", "offSet" ],
                              "properties" : {
                                "offSet" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                },
                                "length" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "logoUrl" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "users" : {
                            "items" : {
                              "additionalProperties" : false,
                              "allOf" : [ {
                                "required" : [ "email", "firstName", "id", "kbRole", "label", "lastName", "name", "photoURL", "roleName", "type", "webUrl" ],
                                "properties" : {
                                  "photoURL" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  },
                                  "firstName" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "lastName" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "webUrl" : {
                                    "maxLength" : 255,
                                    "minLength" : 3,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  },
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "roleName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "label" : {
                                    "required" : [ "id", "logoUrl", "name", "preferences" ],
                                    "properties" : {
                                      "preferences" : {
                                        "required" : [ "bgColor", "shape", "textColor" ],
                                        "properties" : {
                                          "bgColor" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                            "description" : "background color of the label"
                                          },
                                          "shape" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "description" : "shape of the label",
                                            "enum" : [ "ROUNDED", "RECTANGLE" ]
                                          },
                                          "textColor" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                            "description" : "text color of the label"
                                          }
                                        },
                                        "additionalProperties" : false
                                      },
                                      "name" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "logoUrl" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "type" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                  },
                                  "email" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                  },
                                  "kbRole" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "REVIEWER", null ]
                                  }
                                },
                                "additionalProperties" : false
                              }, {
                                "required" : [ "kbRole", "label", "length", "offSet", "webUrl", "zuid" ],
                                "properties" : {
                                  "offSet" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "webUrl" : {
                                    "maxLength" : 255,
                                    "minLength" : 3,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  },
                                  "length" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "label" : {
                                    "required" : [ "id", "logoUrl", "name", "preferences" ],
                                    "properties" : {
                                      "preferences" : {
                                        "required" : [ "bgColor", "shape", "textColor" ],
                                        "properties" : {
                                          "bgColor" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                            "description" : "background color of the label"
                                          },
                                          "shape" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "description" : "shape of the label",
                                            "enum" : [ "ROUNDED", "RECTANGLE" ]
                                          },
                                          "textColor" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                            "description" : "text color of the label"
                                          }
                                        },
                                        "additionalProperties" : false
                                      },
                                      "name" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "logoUrl" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "zuid" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "kbRole" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "REVIEWER", null ]
                                  }
                                },
                                "additionalProperties" : false
                              } ]
                            }
                          }
                        },
                        "additionalProperties" : false
                      },
                      "isPublic" : {
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Visibility of the comment, which can be set only at the time of commenting. ",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "contentType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "plainText", "html" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Used to denote the content-type which maybe @html@ or @plainText@. The default type is @html@.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "ticketId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "PUBLISHED", "AWAITINGAPPROVAL" ]
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "ticket" ],
                    "properties" : {
                      "ticket" : {
                        "required" : [ "id", "isTrashed", "ticketNumber", "webUrl" ],
                        "properties" : {
                          "ticketNumber" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "isTrashed" : { },
                          "webUrl" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1652101829000,
                      "attachments" : [ {
                        "previewurl" : "https://desk.zoho.com/api/v1/articles/46582000006958052/translations/en/attachments/nmhny14ce774984eb4b15891e1cbe274e612c/content?orgId=57044830",
                        "size" : "35594",
                        "name" : "Zoho desk introduction.jpg",
                        "id" : "4658200041001",
                        "href" : "https://downloadserver.zoho.com/webdownload?x-service=desk&event-id=b45a36decdceb443ccb4d3445f29c9966de7dee89041ea315318c4f358836a09e07add42e10810f8961c3f92bf853"
                      } ],
                      "tickets" : {
                        "ticketNumber" : "115",
                        "isTrashed" : "false",
                        "webUrl" : "https://desk.zoho.com/agent/zohocorp/desk/tickets/details/5000000114001",
                        "id" : "5000000114001"
                      },
                      "hashtags" : [ {
                        "offset" : "47",
                        "length" : "33",
                        "headerValue" : "Introduction",
                        "headerId" : "Sample_header"
                      } ],
                      "commentedTime" : 1652072940000,
                      "commenterName" : "Jack",
                      "content" : "<div>Changed Sample content zsu[@user:695624]zsu&nbsp; zsh[#sample_header:Introduction]zsh&nbsp;</div>",
                      "commenterId" : "4658200004039",
                      "commenter" : {
                        "firstName" : "",
                        "lastName" : "Jack",
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/4658200004039/photo?orgId=292828",
                        "webUrl" : "https://desk.zoho.com/support/arunice/ShowHomePage.do#setup/users-control/agents/1000000000351",
                        "roleName" : "CEO",
                        "name" : "Jack",
                        "id" : "4658200004039",
                        "label" : {
                          "preferences" : {
                            "shape" : "RECTANGLE",
                            "bgColor" : "#5C6368",
                            "textColor" : "#FFFFFF"
                          },
                          "name" : "MVP",
                          "id" : "5000000081007",
                          "logoUrl" : "https://desk.zoho.com/portal/api/publicImages/35531135311?portalId=3153815r1fnf113131rf31n9"
                        },
                        "type" : "AGENT",
                        "email" : "Jack@gmail.com",
                        "kbRole" : "REVIEWER"
                      },
                      "mentions" : {
                        "groups" : [ {
                          "offSet" : "260",
                          "name" : "MVP",
                          "length" : "28",
                          "id" : "5000000113025",
                          "logoUrl" : "https://desk.zoho.com/portal/api/publicImages/4658200004039?portalId=292828341431fq"
                        } ],
                        "users" : [ {
                          "firstName" : "",
                          "lastName" : "Cristiano",
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/4658200044017/photo?orgId=292828",
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#setup/users-control/agents/5000000000347",
                          "length" : "28",
                          "name" : "Cristiano",
                          "id" : "4658200044017",
                          "label" : {
                            "preferences" : {
                              "shape" : "ROUNDED",
                              "bgColor" : "#CE6785",
                              "textColor" : "#FFFFFF"
                            },
                            "name" : "Prime user",
                            "id" : "5000000081001",
                            "logoUrl" : "https://desk.zoho.com/portal/api/publicImages/35531135311?portalId=3153815r1fnf113131rf31n8"
                          },
                          "type" : "AGENT",
                          "email" : "Cristiano@gmail.com",
                          "zuid" : "695624",
                          "kbRole" : "REVIEWER"
                        } ]
                      },
                      "isPublic" : true,
                      "id" : "4658200041003",
                      "contentType" : "html",
                      "ticketId" : "5000000114001",
                      "status" : "PUBLISHED"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "dade45c401b45f5018c164f28f2957da",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.articles.rest.support.ArticleService.addTranslationComment"
        }
      }
    },
    "/api/v1/kbComments/approve" : {
      "post" : {
        "tags" : [ "ArticleComment" ],
        "summary" : "",
        "description" : "",
        "operationId" : "approveComment",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "ids" ],
                "properties" : {
                  "ids" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "ids" : [ "2000000117009", "2000000116060" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "massActionListView template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "results" ],
                  "properties" : {
                    "results" : {
                      "items" : {
                        "required" : [ "errors", "id", "success" ],
                        "properties" : {
                          "success" : { },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "errors" : {
                            "required" : [ "errorCode", "httpCode" ],
                            "properties" : {
                              "errorCode" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "UNPROCESSABLE_ENTITY", "UNAUTHORIZED", "FORBIDDEN" ]
                              },
                              "httpCode" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "401", "422", "403", 401, 422, 403 ]
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "results" : [ {
                        "success" : true,
                        "id" : "1892000000093303",
                        "errors" : null
                      }, {
                        "success" : true,
                        "id" : "1892000000085009",
                        "errors" : null
                      }, {
                        "success" : false,
                        "id" : "1892000000050003",
                        "errors" : {
                          "errorMessage" : "Either the field is invalid or the field may be restricted to update",
                          "errorCode" : "UNPROCESSABLE_ENTITY",
                          "httpCode" : "422"
                        }
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-audience" : [ "company-internal" ]
      }
    },
    "/api/v1/kbComments/moveToTrash" : {
      "post" : {
        "tags" : [ "ArticleComment" ],
        "summary" : "Move article translations comments to recycle bin",
        "description" : "This API move the article comments to recyclebin.",
        "operationId" : "moveToTrashComment",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "ids" ],
                "properties" : {
                  "ids" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : false
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "ids" : [ "2000000117009", "2000000116060" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "massActionListView template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "results" ],
                  "properties" : {
                    "results" : {
                      "items" : {
                        "required" : [ "errors", "id", "success" ],
                        "properties" : {
                          "success" : { },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "errors" : {
                            "required" : [ "errorCode", "httpCode" ],
                            "properties" : {
                              "errorCode" : {
                                "enum" : [ "UNPROCESSABLE_ENTITY", "UNAUTHORIZED", "FORBIDDEN", "INVALID_DATA", "SCHEDULED", "SUCCESS" ]
                              },
                              "httpCode" : {
                                "enum" : [ "401", "403", "422", "202", "200", 401, 403, 422, 202, 200 ]
                              },
                              "errorMessage" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "errorJson" : {
                                "additionalProperties" : false
                              },
                              "error" : {
                                "maxLength" : 250,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "results" : [ {
                        "success" : true,
                        "id" : "7000000027223",
                        "errors" : null
                      }, {
                        "success" : false,
                        "id" : "7000000043968",
                        "errors" : {
                          "errorCode" : "UNPROCESSABLE_ENTITY",
                          "httpCode" : "422"
                        }
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "51d91cdc8924d1a3eae45af75921f777",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.recyclebin.RecycleBinService.moveArticleCommentsToTrash"
        }
      }
    },
    "/api/v1/kbComments/moderatedComments" : {
      "get" : {
        "tags" : [ "ArticleComment" ],
        "summary" : "List moderated kb comments",
        "description" : "To fetch list of kb comments that has been moderated earlier",
        "operationId" : "getModeratedComments",
        "parameters" : [ {
          "name" : "locale",
          "in" : "query",
          "description" : "Fetches the moderated comments based on the specified language.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "description" : "Fetches the moderated comments based on the specified language.",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limits the maximum number of comments to fetch.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
[...]
