{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "ArticleHistory",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : { },
  "components" : {
    "schemas" : {
      "userObject" : {
        "required" : [ "id", "name", "photoURL" ],
        "properties" : {
          "photoURL" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "name" : {
            "maxLength" : 50,
            "minLength" : 0
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "seoTitleChanged" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "newSEOTitle", "user" ],
        "properties" : {
          "newSEOTitle" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "accessRestricted" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "commentsDeleted" : {
        "required" : [ "articleId", "deletedCommentId", "event", "eventTime", "locale", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "deletedCommentId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "seoInfoEdited" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "tagsDeleted" : {
        "required" : [ "articleId", "deletedTags", "event", "eventTime", "locale", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "deletedTags" : {
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "commentsAdded" : {
        "required" : [ "addedCommentId", "articleId", "event", "eventTime", "locale", "user" ],
        "properties" : {
          "addedCommentId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "solutionImported" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "tagsEdited" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "newTags", "oldTags", "user" ],
        "properties" : {
          "newTags" : {
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          },
          "oldTags" : {
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          },
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "dispalyPermissionChanged" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "newDisplayPermission", "oldDisplayPermission", "user" ],
        "properties" : {
          "oldDisplayPermission" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "ALL_USERS", "REGISTERED_USERS", "AGENTS_ONLY", "null" ]
          },
          "newDisplayPermission" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "ALL_USERS", "REGISTERED_USERS", "AGENTS_ONLY" ]
          },
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "tagsAdded" : {
        "required" : [ "addedTags", "articleId", "event", "eventTime", "locale", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "addedTags" : {
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "scheduledToPublish" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "newPublishTime", "oldPublishTime", "user" ],
        "properties" : {
          "newPublishTime" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "oldPublishTime" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "downvoted" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "versionUpdated" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "newVersion", "oldVersion", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "oldVersion" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          },
          "newVersion" : {
            "maxLength" : 100,
            "minLength" : 0
          }
        },
        "additionalProperties" : { }
      },
      "sourceLangChanged" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "newSourceLanguage", "oldSourceLanguage", "user" ],
        "properties" : {
          "oldSourceLanguage" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          },
          "newSourceLanguage" : {
            "maxLength" : 100,
            "minLength" : 0
          }
        },
        "additionalProperties" : { }
      },
      "seoDescriptionChanged" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "versionDeleted" : {
        "required" : [ "articleId", "deltedVersion", "event", "eventTime", "locale", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "deltedVersion" : {
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "versionReverted" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "newVersion", "oldVersion", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "oldVersion" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          },
          "newVersion" : {
            "maxLength" : 100,
            "minLength" : 0
          }
        },
        "additionalProperties" : { }
      },
      "seoKeywordsChanged" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "viewed" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "translationStateUpdated" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "newTranslationState", "oldTranslationState", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "newTranslationState" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          },
          "oldTranslationState" : {
            "maxLength" : 100,
            "minLength" : 0
          }
        },
        "additionalProperties" : { }
      },
      "seoInfoAdded" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "statusChanged" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "newStatus", "oldStatus", "user" ],
        "properties" : {
          "newStatus" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "PUBLISH", "DRAFT", "REVIEW", "EXPIRED" ]
          },
          "oldStatus" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "PUBLISH", "DRAFT", "REVIEW", "EXPIRED", "null" ]
          },
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "redirectPermalinkDeleted" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "oldPermalink", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          },
          "oldPermalink" : {
            "maxLength" : 100,
            "minLength" : 0
          }
        },
        "additionalProperties" : { }
      },
      "positionUpdated" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "attachmentModified" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "newAttachments", "oldAttachements", "user" ],
        "properties" : {
          "oldAttachements" : {
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          },
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          },
          "newAttachments" : {
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "^([a-zA-Z0-9]{37}|-1)$"
            }
          }
        },
        "additionalProperties" : { }
      },
      "commentsEdited" : {
        "required" : [ "articleId", "editedCommentId", "event", "eventTime", "locale", "user" ],
        "properties" : {
          "editedCommentId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "attachmentRemoved" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "removedAttachments", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "removedAttachments" : {
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "^([a-zA-Z0-9]{37}|-1)$"
            }
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "translationAdded" : {
        "required" : [ "addedTranslations", "articleId", "event", "eventTime", "locale", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          },
          "addedTranslations" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          }
        },
        "additionalProperties" : { }
      },
      "created" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "feedbackAdded" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "versionCreated" : {
        "required" : [ "articleId", "createdVersion", "event", "eventTime", "locale", "user" ],
        "properties" : {
          "createdVersion" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "scheduledToExpire" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "newExpireTime", "oldExpireTime", "user" ],
        "properties" : {
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "oldExpireTime" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          },
          "newExpireTime" : {
            "maxLength" : 100,
            "minLength" : 0
          }
        },
        "additionalProperties" : { }
      },
      "attachmentAdded" : {
        "required" : [ "addedAttachments", "articleId", "event", "eventTime", "locale", "user" ],
        "properties" : {
          "addedAttachments" : {
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "^([a-zA-Z0-9]{37}|-1)$"
            }
          },
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          },
          "user" : {
            "required" : [ "id", "name", "photoURL" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "permalinkEdited" : {
        "required" : [ "articleId", "event", "eventTime", "locale", "newPermalink", "user" ],
        "properties" : {
          "newPermalink" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "articleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "VIEWED", "UPVOTED", "DOWNVOTED", "CREATED", "SEO_INFO_ADDED", "TAGS_ADDED", "ATTACHMENT_ADDED", "ATTACHMENT_REMOVED", "FEEDBACK_ADDED", "TAGS_EDITED", "STATUS_CHANGED", "DISPALY_PERMISSION_CHANGED", "PERMALINK_EDITED", "OWNER_CHANGED", "SECTION_CHANGED", "TITLE_EDITED", "SEO_INFO_EDITED", "VERSION_CREATED", "DELETED", "MOVED_TO_TRASH", "RESTORED", "POSITION_UPDATED", "ATTACHMENT_MODIFIED", "HISTORY_REVERTED", "TRANSLATION_ADDED", "TRANSLATION_TRASHED", "VERSION_REVERTED", "ACCESS_RESTRICTED", "TAGS_DELETED", "COMMENTS_ADDED", "COMMENTS_EDITED", "COMMENTS_DELETED", "SOLUTION_IMPORTED", "VERSION_UPDATED", "VERSION_QUICKEDIT", "VERSION_DELETED", "SEO_TITLE_CHANGED", "SEO_KEYWORDS_CHANGED", "SEO_DESCRIPTION_CHANGED", "SEO_STATUS_CHANGED", "SCHEDULED_TO_PUBLISH", "SCHEDULED_TO_EXPIRE", "SOURCE_LANG_CHANGED", "TRANSLATION_OWNER_CHANGED", "EXPIRY_DATE_REMOVED", "TRANSLATION_DELETED", "TRANSLATION_STATE_UPDATED", "REDIRECT_PERMALINK_DELETED", "TRANSLATION_CLONED", "ARTICLE_CLONED" ]
          },
          "locale" : {
            "maxLength" : 100,
            "minLength" : 0,
[...]
