{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Article",
    "version" : "1.0.0",
    "x-clan-group" : "helpCenter",
    "x-module-group" : "kb"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/articles/updateMany" : {
      "post" : {
        "tags" : [ "Article" ],
        "summary" : "Bulk update articles",
        "description" : "This API helps simultaneously update certain properties of multiple articles. These properties include: categoryId, permission, status, authorId, tag, and expiryDate. Free users can only set the visibility of articles to agents. Enterprise users alone can bulk update the expiry date.",
        "operationId" : "updateManyArticles",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "fieldName", "fieldValue", "ids" ],
                "properties" : {
                  "fieldName" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Allowed values are :  !@expiryDate,@!  !@categoryId,@!  !@permission,@!  !@status,@!  !@authorId,@!  !@tag@!",
                    "enum" : [ "expiryDate", "categoryId", "permission", "status", "authorId", "tag" ]
                  },
                  "ids" : {
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "fieldValue" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : "The value of the field"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "fieldName" : "tag",
                    "ids" : [ "10000000220345", "1200000022015" ],
                    "fieldValue" : "new"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "massActionListView template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "results" ],
                  "properties" : {
                    "results" : {
                      "items" : {
                        "required" : [ "errors", "id", "success" ],
                        "properties" : {
                          "success" : { },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "errors" : {
                            "required" : [ "errorCode", "httpCode" ],
                            "properties" : {
                              "errorCode" : {
                                "enum" : [ "UNPROCESSABLE_ENTITY", "UNAUTHORIZED", "FORBIDDEN", "INVALID_DATA", "SCHEDULED", "SUCCESS" ]
                              },
                              "httpCode" : {
                                "enum" : [ "401", "403", "422", "202", "200", 401, 403, 422, 202, 200 ]
                              },
                              "errorMessage" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "errorJson" : {
                                "additionalProperties" : false
                              },
                              "error" : {
                                "maxLength" : 250,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "results" : [ {
                        "success" : true,
                        "id" : "7000000027223",
                        "errors" : null
                      }, {
                        "success" : false,
                        "id" : "7000000043968",
                        "errors" : {
                          "errorCode" : "UNPROCESSABLE_ENTITY",
                          "httpCode" : "422"
                        }
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "8161ef9290beb2fbd346f83d97f3f11f",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.articles.rest.support.ArticleService.updateManyArticles"
        }
      }
    },
    "/api/v1/articles/{id}/scheduleAutoTranslate" : {
      "post" : {
        "tags" : [ "Article" ],
        "summary" : "Schedule Autotranslation for an article",
        "description" : "This api creates a schedule for auto translation article",
        "operationId" : "scheduleAutoTranslate",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "id" ],
                "properties" : {
                  "fromLocale" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
                    "description" : "Source locale from which content is to be translated",
                    "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
                  },
                  "sourceVersion" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Source version of the source language to be used for translations"
                  },
                  "toLocales" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
                      "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ],
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "installationId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Installation Id of the Z-App to be used for translation",
                    "format" : "int64",
                    "x-audience" : [ "company-internal" ]
                  },
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Publishing status of the article. Values allowed are @Draft@, @Published@, @Review@",
                    "enum" : [ "Published", "Unpublished", "Draft", "Review", "Expired", "Auto-translate Pending", "Auto-translate Failed" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "fromLocale" : "en",
                    "sourceVersion" : "2.0",
                    "toLocales" : [ "ar", "bg", "en", "bn", "fr" ],
                    "status" : "Draft"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "articleCUDJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "answer", "attachmentCount", "attachmentCount", "attachments", "author", "authorId", "availableLocaleTranslations", "category", "categoryId", "commentCount", "commentCount", "createdBy", "createdTime", "creatorId", "currentVersion", "departmentId", "dislikeCount", "expiryDate", "feedbackCount", "id", "isFollowing", "isLocked", "isTemplate", "isTrashed", "latestPublishedVersion", "latestVersion", "latestVersionModifiedBy", "latestVersionModifierId", "latestVersionStatus", "likeCount", "locale", "metrics", "modifiedBy", "modifiedTime", "modifierId", "myVote", "owner", "ownerId", "permalink", "permission", "portalUrl", "position", "reviewedBy", "reviewedTime", "rootCategoryId", "seo", "sourceLocale", "status", "summary", "tags", "templateLastUpdatedTime", "templateUsageCount", "templateUsedUsersCount", "title", "translationId", "translationSource", "translationState", "translationState", "usageCount", "viewCount", "webUrl" ],
                    "properties" : {
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "dislikeCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "modifierId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "likeCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "ownerId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "latestVersionModifierId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "translationState" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "OUTDATED", "UP-TO-DATE", "AUTO-TRANSLATE INPROGRESS", "AUTO-TRANSLATE FAILED" ]
                      },
                      "isTrashed" : { },
                      "isTemplate" : { },
                      "isLocked" : { },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "translationSource" : {
                        "required" : [ "locale", "version" ],
                        "properties" : {
                          "locale" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
                            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ],
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Language of the trashed translations",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "version" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      },
                      "latestVersionStatus" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "Published", "Draft", "Review", "Expired", "Unpublished" ]
                      },
                      "author" : {
                        "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "name" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                          },
                          "zuid" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "reviewedBy" : {
                        "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "name" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                          },
                          "zuid" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "currentVersion" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "commentCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "tags" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[a-z0-9_\\-+%\\P{InBasicLatin}\\s]+"
                        }
                      },
                      "sourceLocale" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
                        "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
                      },
                      "translationId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "webUrl" : {
                        "maxLength" : 500,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "feedbackCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "latestPublishedVersion" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "position" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "metrics" : {
                        "required" : [ "dislikeCount", "feedbackCount", "lastActivityTime", "lastUsageTime", "likeCount", "templateUsageCount", "unlikeCount", "usageCount", "viewCount" ],
                        "properties" : {
                          "feedbackCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "templateUsageCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "unlikeCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "lastUsageTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "dislikeCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "likeCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "viewCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "lastActivityTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "usageCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "templateUsageCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "templateUsedUsersCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "templateLastUpdatedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "permalink" : {
                        "maxLength" : 500,
                        "minLength" : 0,
                        "pattern" : "[a-zA-Z0-9%\\-._/?\\P{InBasicLatin}]*"
                      },
                      "latestVersionModifiedBy" : {
                        "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "name" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                          },
                          "zuid" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "Published", "Draft", "Review", "Expired", "Unpublished" ]
                      },
                      "attachments" : {
                        "items" : {
                          "required" : [ "createdTime", "downloadUrl", "extension", "name", "resourceId", "size", "viewUrl" ],
                          "properties" : {
                            "resourceId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^([a-zA-Z0-9]{37}|-1)$"
                            },
                            "extension" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "size" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "name" : {
                              "maxLength" : 500,
                              "minLength" : 0
                            },
                            "viewUrl" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "downloadUrl" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "reviewedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "creatorId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "locale" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
                        "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
                      },
                      "title" : {
                        "maxLength" : 500,
                        "minLength" : 0
                      },
                      "expiryDate" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "modifiedBy" : {
                        "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "name" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                          },
                          "zuid" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "viewCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "seo" : {
                        "required" : [ "description", "isEnabled", "keywords", "title" ],
                        "properties" : {
                          "keywords" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "isEnabled" : { },
                          "description" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "title" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      },
                      "owner" : {
                        "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "name" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                          },
                          "zuid" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "summary" : {
                        "maxLength" : 65553,
                        "minLength" : 0
                      },
                      "isFollowing" : { },
                      "myVote" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "permission" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "ALL", "REGISTEREDUSERS", "AGENTS" ]
                      },
                      "authorId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "usageCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "rootCategoryId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "answer" : {
                        "maxLength" : 16777215,
                        "minLength" : 0
                      },
                      "createdBy" : {
                        "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "name" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                          },
                          "zuid" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "latestVersion" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "portalUrl" : {
                        "maxLength" : 500,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "attachmentCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "availableLocaleTranslations" : {
                        "items" : {
                          "required" : [ "authorId", "href", "isLocked", "isTrashed", "latestPublishedVersion", "latestVersion", "latestVersionStatus", "locale", "status", "translationId", "translationState" ],
                          "properties" : {
                            "latestVersionStatus" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Published", "Draft", "Review", "Expired", "Unpublished", "Auto-translate Pending" ]
                            },
                            "isTrashed" : { },
                            "translationId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "latestVersion" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "isLocked" : { },
                            "latestPublishedVersion" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "href" : {
                              "maxLength" : 500,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "locale" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
                              "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
                            },
                            "authorId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "translationState" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "OUTDATED", "UP-TO-DATE", "AUTO-TRANSLATE INPROGRESS", "AUTO-TRANSLATE FAILED" ]
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Published", "Draft", "Review", "Expired", "Unpublished", "Auto-translate Pending" ]
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "category" : {
                        "required" : [ "id", "locale", "name" ],
                        "properties" : {
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Get trashed translations under the given topic",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "locale" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
                            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
                          }
                        },
                        "additionalProperties" : false
                      },
                      "categoryId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "quickEdit" ],
                    "properties" : {
                      "quickEdit" : {
                        "required" : [ "modifiedBy", "modifierId" ],
                        "properties" : {
                          "modifierId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "modifiedBy" : {
                            "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                            "properties" : {
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "name" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "status" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                              },
                              "zuid" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "isTemplate" : false,
                      "modifiedTime" : 1592999203000,
                      "departmentId" : "24073000000006907",
                      "dislikeCount" : "0",
                      "modifierId" : "4000000000059",
                      "likeCount" : "0",
                      "latestVersionModifierId" : "4000000000060",
                      "ownerId" : "4000000000059",
                      "translationState" : "UP-TO-DATE",
                      "isTrashed" : false,
                      "quickEdit" : {
                        "modifierId" : null,
                        "modifiedBy" : null
                      },
                      "createdTime" : 1592999203000,
                      "id" : "4000000019059",
                      "translationSource" : null,
                      "latestVersionStatus" : "Published",
                      "author" : {
                        "photoURL" : null,
                        "name" : "Hill",
                        "id" : "4000000000059",
                        "status" : "ACTIVE",
                        "zuid" : "234543"
                      },
                      "reviewedBy" : {
                        "photoURL" : null,
                        "name" : "Hill",
                        "id" : "4000000000059",
                        "status" : "ACTIVE",
                        "zuid" : "234543"
                      },
                      "currentVersion" : "1.0",
                      "commentCount" : "0",
                      "tags" : [ "first ticket" ],
                      "sourceLocale" : "en",
                      "translationId" : "4000000017294",
                      "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Solutions/dv/4000000019059/en",
                      "feedbackCount" : "0",
                      "latestPublishedVersion" : "1.0",
                      "metrics" : {
                        "feedbackCount" : "0",
                        "unlikeCount" : "0",
                        "dislikeCount" : "0",
                        "lastUsageTime" : null,
                        "likeCount" : "0",
                        "viewCount" : "0",
                        "lastActivityTime" : null,
                        "usageCount" : "0"
                      },
                      "position" : "28",
                      "permalink" : "answering-your-first-ticket",
                      "latestVersionModifiedBy" : {
                        "photoURL" : null,
                        "name" : "will smith",
                        "id" : "4000000000060",
                        "status" : "ACTIVE",
                        "zuid" : "234544"
                      },
                      "status" : "Draft",
                      "attachments" : [ ],
                      "reviewedTime" : 1592999203000,
                      "creatorId" : "4000000000059",
                      "locale" : "en",
                      "title" : "Answering your first ticket.",
                      "expiryDate" : null,
                      "modifiedBy" : {
                        "photoURL" : null,
                        "name" : "Hill",
                        "id" : "4000000000059",
                        "status" : "ACTIVE",
                        "zuid" : "234543"
                      },
                      "viewCount" : "0",
                      "seo" : {
                        "keywords" : "helpcenter, knowledge base",
                        "isEnabled" : true,
                        "description" : "Knowledge base",
                        "title" : "Helpcenter and knowledge base"
                      },
                      "owner" : {
                        "photoURL" : null,
                        "name" : "Hill",
                        "id" : "4000000000059",
                        "status" : "ACTIVE",
                        "zuid" : "234543"
                      },
                      "summary" : "Zoho Desk packs a bunch of features that are expressly there to help you respond to tickets smartly. The first of these, you've already discovered: Auto-Suggest Articles. Zoho Desk pulls up relevant articles on the ticket's content—so you can save ...",
                      "isFollowing" : true,
                      "myVote" : null,
                      "permission" : "AGENTS",
                      "authorId" : "22372000000094004",
                      "usageCount" : "0",
                      "rootCategoryId" : "4000000017276",
                      "answer" : "The knowledge base is a key component of a good help center. This is where you can share the basics of using your products or services to your customers. Help articles and FAQs are great assets when it comes to answering the most fundamental questions your customers might have regarding your offerings. Help articles also ease the burden of your customer support agents by enabling self-service.",
                      "createdBy" : {
                        "photoURL" : null,
                        "name" : "Hill",
                        "id" : "4000000000059",
                        "status" : "ACTIVE",
                        "zuid" : "234543"
                      },
                      "latestVersion" : "1.0",
                      "portalUrl" : "https://desk.zoho.com/portal/zylker/en/kb/articles/answering-your-first-ticket",
                      "attachmentCount" : "0",
                      "availableLocaleTranslations" : [ {
                        "latestVersionStatus" : "Published",
                        "translationId" : "24073000007814015",
                        "isTrashed" : false,
                        "latestVersion" : "1.0",
                        "isLocked" : false,
                        "latestPublishedVersion" : "1.0",
                        "href" : "https://desk.zoho.com/api/v1/articles/24073000007814013/translations/en?orgId=54325703",
                        "authorId" : "24073000000095005",
                        "locale" : "en",
                        "translationState" : "UP-TO-DATE",
                        "status" : "Published"
                      } ],
                      "category" : {
                        "name" : "General",
                        "id" : "4000000017287",
                        "locale" : "en"
                      },
                      "categoryId" : "22372000000094160",
                      "templateUsageCount" : "2",
                      "templateUsedUsersCount" : "2",
                      "templateLastUpdatedTime" : "2019-12-31T09:45:52.000Z"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 75,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 3600000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "b2708b35be5ad66b6038d031973d1a17",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.articles.rest.support.ArticleService.scheduleAutoTranslationOfArticle"
        }
      }
    },
    "/api/v1/articleTags" : {
      "get" : {
        "tags" : [ "Article" ],
        "summary" : "Get tags associated with articles",
        "description" : "API lists article associated tags",
        "operationId" : "getArticleTags",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of tags to fetch",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of tags to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number starting from which the tags must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Index number starting from which the tags must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "articleTagsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "[a-z0-9_\\-+%\\P{InBasicLatin}\\s]+"
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ "set conditions in merge", "conditional function in merge", "conditional text in mail merge" ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 150,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 3600000,
                  "threshold" : 250,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "a12a0a51271ded116e3586f502e30b9d",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.articles.rest.support.ArticleTagsService.getTags"
        }
      }
    },
    "/api/v1/articles" : {
      "get" : {
        "tags" : [ "Article" ],
        "summary" : "List articles",
        "description" : "This API fetches a specific number of articles from your knowledge base, based on the limit defined.",
        "operationId" : "getArticles",
        "parameters" : [ {
          "name" : "unAvailableLocales",
          "in" : "query",
          "description" : "Filter articles by unavailable translations.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : false,
            "description" : "Filter articles by unavailable translations.",
            "items" : {
              "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
              "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
            },
            "x-audience" : [ "company-internal" ]
          },
          "x-audience" : [ "company-internal" ]
        }, {
          "name" : "createdTimeRange",
          "in" : "query",
          "description" : "Filter article translations count by Created time. Enter the dates in the ISO date format of 'yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ'",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z)),(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))|null",
            "description" : "Filter article translations count by Created time. Enter the dates in the ISO date format of 'yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ'",
            "x-audience" : [ "company-internal" ]
          },
          "x-audience" : [ "company-internal" ]
        }, {
          "name" : "permission",
          "in" : "query",
          "description" : "Permission of the article.Values allowed are <br>ALL</br><br>REGISTEREDUSERS</br><br>AGENTS",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Access permission for the article. Values allowed are: @ALL@, @REGISTEREDUSERS@, and @AGENTS@",
            "items" : {
              "enum" : [ "ALL", "REGISTEREDUSERS", "AGENTS" ]
            }
          }
        }, {
          "name" : "authorId",
          "in" : "query",
          "description" : "ID of article owner",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of article owner",
            "format" : "int64"
          }
        }, {
          "name" : "translationState",
          "in" : "query",
          "description" : "Translation state of the article",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Translation state of the article",
            "items" : {
              "enum" : [ "OUTDATED", "UP-TO-DATE" ]
            },
            "x-audience" : [ "company-internal" ]
          },
          "x-audience" : [ "company-internal" ]
        }, {
          "name" : "sourceLocale",
          "in" : "query",
          "description" : "Source language of the article",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "description" : "Source language of the article",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ],
            "x-audience" : [ "company-internal" ]
          },
          "x-audience" : [ "company-internal" ]
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of tags to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of articles to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number starting from which the tags must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Index number starting from which the articles must be fetched.",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Key that sorts the articles based on a specific attribute: !@createdTime,@! or !@modifiedTime@! or     !@likeCount@! or !@viewCount@! or !@feedbackCount@! or !@dislikeCount@! or !@positionArticle@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that sorts the articles based on a specific attribute: !@createdTime,@! or !@modifiedTime@! or     !@likeCount@! or !@viewCount@! or !@feedbackCount@! or !@dislikeCount@! or !@positionArticle@!",
            "enum" : [ "createdTime", "modifiedTime", "likeCount", "viewCount", "feedbackCount", "dislikeCount", "-createdTime", "-modifiedTime", "-likeCount", "-viewCount", "-feedbackCount", "-dislikeCount" ]
          }
        }, {
          "name" : "modifiedTimeRange",
          "in" : "query",
          "description" : "Key that filters articles modified within a specific date and time range. Enter the dates in the ISO date format of 'yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ'",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z)),(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))|null",
            "description" : "Key that filters articles modified within a specific date and time range. Enter the dates in the ISO date format of 'yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ'"
          }
        }, {
          "name" : "tag",
          "in" : "query",
          "description" : "Tag",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[a-z0-9_\\-+%\\P{InBasicLatin}\\s]+",
            "description" : "Tag",
            "x-audience" : [ "company-internal" ]
          },
          "x-audience" : [ "company-internal" ]
        }, {
          "name" : "expiryTimeRange",
          "in" : "query",
          "description" : "Key that filters articles which will expire within a specific date and time range. Enter the dates in the ISO date format of 'yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ'",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z)),(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))|null",
            "description" : "Key that filters articles which will expire within a specific date and time range. Enter the dates in the ISO date format of 'yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ'"
          }
        }, {
          "name" : "categoryId",
          "in" : "query",
          "description" : "ID of the category to which the article belongs",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the category to which the article belongs",
            "format" : "int64"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Publishing status of the article. Values allowed are Draft, Published, Review, Expired, Unpublished",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Publishing status of the article. Values allowed are @Draft@, @Published@, @Review@, @Expired@, @Unpublished@",
            "items" : {
              "enum" : [ "Draft", "Published", "Review", "Expired", "Unpublished" ]
            }
          }
        }, {
          "name" : "isTemplate",
          "in" : "query",
          "description" : "Is it a template",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "To search the article template",
            "default" : false,
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "listAllNewArticle template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "secondaryTitles" : {
                              "maxProperties" : 1,
                              "minProperties" : 1,
                              "required" : [ "secondaryTitles" ],
                              "properties" : {
                                "secondaryTitles" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 500,
                                    "minLength" : 0
                                  }
                                }
                              },
                              "additionalProperties" : { }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "additionalProperties" : { },
                          "allOf" : [ {
                            "required" : [ "authorId", "createdTime", "id", "latestPublishedVersion", "latestVersion", "latestVersionStatus", "modifiedTime", "permalink", "permission", "status", "summary", "title", "webUrl" ],
                            "properties" : {
                              "summary" : {
                                "maxLength" : 65553,
                                "minLength" : 0
                              },
                              "modifiedTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              },
                              "latestVersionStatus" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "Published", "Draft", "Review", "Expired", "Unpublished" ]
                              },
                              "permission" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ALL", "REGISTEREDUSERS", "AGENTS" ],
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Access permission for the article. Values allowed are: @ALL@, @REGISTEREDUSERS@, and @AGENTS@",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "split" : ",",
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "title" : {
                                "maxLength" : 500,
                                "minLength" : 0
                              },
                              "authorId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "ID of article owner",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "latestVersion" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "webUrl" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "createdTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              },
                              "latestPublishedVersion" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "permalink" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "[a-zA-Z0-9%\\-._/?\\P{InBasicLatin}]*"
                              },
                              "status" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "Published", "Draft", "Review", "Expired", "Unpublished" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "attachmentCount", "author", "availableLocaleTranslations", "category", "category", "categoryId", "commentCount", "createdBy", "creatorId", "departmentId", "dislikeCount", "feedbackCount", "isLocked", "isTemplate", "isTrashed", "latestVersionModifiedBy", "latestVersionModifierId", "likeCount", "locale", "modifiedBy", "modifierId", "owner", "ownerId", "portalUrl", "position", "rootCategoryId", "sourceLocale", "templateLastUpdatedTime", "templateUsageCount", "templateUsedUsersCount", "translationId", "translationSource", "translationState", "usageCount", "viewCount" ],
                            "properties" : {
                              "departmentId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "creatorId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "modifierId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "dislikeCount" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "likeCount" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "locale" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
                                "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
                              },
                              "ownerId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "latestVersionModifierId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "translationState" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "OUTDATED", "UP-TO-DATE", "AUTO-TRANSLATE INPROGRESS", "AUTO-TRANSLATE FAILED" ],
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Translation state of the article",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "split" : ",",
                                  "trim" : false,
                                  "internalParam" : true,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "isTrashed" : { },
                              "isTemplate" : { },
                              "templateUsageCount" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "templateUsedUsersCount" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "templateLastUpdatedTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              },
                              "isLocked" : { },
                              "modifiedBy" : {
                                "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                                "properties" : {
                                  "photoURL" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "name" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "status" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                                  },
                                  "zuid" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "viewCount" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "translationSource" : {
                                "required" : [ "locale", "version" ],
                                "properties" : {
                                  "locale" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
                                    "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ],
                                    "x-custom-parameters-attributes" : {
                                      "removeExif" : false,
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "replacementString" : "",
                                      "allowInvalid" : false,
                                      "descrption" : "Language of the trashed translations",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "0,5",
                                      "importUrl" : false,
                                      "decrypt" : false
                                    }
                                  },
                                  "version" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "owner" : {
                                "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                                "properties" : {
                                  "photoURL" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "name" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "status" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                                  },
                                  "zuid" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "author" : {
                                "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                                "properties" : {
                                  "photoURL" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "name" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "status" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                                  },
                                  "zuid" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "usageCount" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "commentCount" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "rootCategoryId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "ID of the category to which the article belongs",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "sourceLocale" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
                                "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
                              },
                              "translationId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "createdBy" : {
                                "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                                "properties" : {
                                  "photoURL" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "name" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "status" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                                  },
                                  "zuid" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "portalUrl" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "feedbackCount" : {
[...]
