{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "ArticleStatistics",
    "version" : "1.0.0",
    "x-clan-group" : "helpCenter",
    "x-module-group" : "kb"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/articleDashboard/statistics" : {
      "get" : {
        "tags" : [ "ArticleStatistics" ],
        "summary" : "Get article statistics",
        "description" : "This API fetches the statistics related to help articles in your Knowledge Base.",
        "operationId" : "getArticleDashboardStatistics",
        "parameters" : [ {
          "name" : "rootCategoryIds",
          "in" : "query",
          "description" : "IDs of the Knowledge Base root categories that must be considered",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 10,
            "minItems" : 1,
            "uniqueItems" : false,
            "description" : "IDs of the Knowledge Base root categories that must be considered",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "IDs of the Knowledge Base root categories that must be considered", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "statsType",
          "in" : "query",
          "description" : "Type of statistical data that must be fetched. Values allowed are: ARTICLES_REFERENCED, VOTED_PORTAL_USERS, CREATED_ARTICLES and MODIFIED_ARTICLES",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Type of statistical data that must be fetched. Values allowed are: ARTICLES_REFERENCED, VOTED_PORTAL_USERS, CREATED_ARTICLES and MODIFIED_ARTICLES",
            "enum" : [ "ARTICLES_REFERENCED", "VOTED_PORTAL_USERS", "CREATED_ARTICLES", "MODIFIED_ARTICLES" ],
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "departmentIds",
          "in" : "query",
          "description" : "IDs of the departments that must be considered",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 10,
            "minItems" : 1,
            "uniqueItems" : false,
            "description" : "IDs of the departments that must be considered",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "IDs of the departments that must be considered", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Language that must be considered",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "description" : "Language that must be considered",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          }
        }, {
          "name" : "timeRange",
          "in" : "query",
          "description" : "Period in which the statistics were recorded. Values allowed are: LAST_24_HRS, LAST_7_DAYS, LAST_30_DAYS, LAST_365_DAYS, and yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Period in which the statistics were recorded. Values allowed are: LAST_24_HRS, LAST_7_DAYS, LAST_30_DAYS, LAST_365_DAYS, and yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ",
            "enum" : [ "LAST_24_HRS", "LAST_7_DAYS", "LAST_30_DAYS", "LAST_365_DAYS" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "kbDashboardStatisticsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "count", "statsType" ],
                        "properties" : {
                          "count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "statsType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ARTICLES_REFERENCED", "VOTED_PORTAL_USERS", "CREATED_ARTICLES", "MODIFIED_ARTICLES" ]
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "count" : "99",
                        "statsType" : "ARTICLES_REFERENCED"
                      }, {
                        "count" : "75",
                        "statsType" : "VOTED_PORTAL_USERS"
                      }, {
                        "count" : "108",
                        "statsType" : "CREATED_ARTICLES"
                      }, {
                        "count" : "135",
                        "statsType" : "MODIFIED_ARTICLES"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 300,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "163f3dac9c452d6d7784684afa3c4b02",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.articles.rest.support.ArticleDashboardService.getKBDashboardStatistics"
        }
      }
    },
    "/api/v1/articles/trends" : {
      "get" : {
        "tags" : [ "ArticleStatistics" ],
        "summary" : "Get data related to trend of Knowledge Base",
        "description" : "This API fetches data related to the overall trend of user actions recorded in your Knowledge Base.",
        "operationId" : "getKBTrends",
        "parameters" : [ {
          "name" : "rootCategoryIds",
          "in" : "query",
          "description" : "IDs of the Knowledge Base root categories that must be considered",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 10,
            "minItems" : 1,
            "uniqueItems" : false,
            "description" : "IDs of the Knowledge Base root categories that must be considered",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "IDs of the Knowledge Base root categories that must be considered", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of trend-related records to list. The default value is 1000 and the maximum value allowed is 18000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 10000,
            "pattern" : "([0-9]+)",
            "description" : "Number of trend-related records to list. The default value is 1000 and the maximum value allowed is 18000.",
            "format" : "int32"
          }
        }, {
          "name" : "action",
          "in" : "query",
          "description" : "User action whose trend-related records must be fetched. Values allowed are: !@LIKE,@! !@DISLIKE,@! !@VIEW,@! !@TICKET_USAGE,@! !@COMMENT,@! !@TEMPLATE_USAGE@! and !@FEEDBACK@!. If you do not pass a value, all actions are included.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 6,
            "uniqueItems" : false,
            "description" : "User action whose trend-related records must be fetched. Values allowed are: !@LIKE,@! !@DISLIKE,@! !@VIEW,@! !@TICKET_USAGE,@! !@COMMENT,@! !@TEMPLATE_USAGE@! and !@FEEDBACK@!. If you do not pass a value, all actions are included.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "",
              "enum" : [ "LIKE", "DISLIKE", "VIEW", "COMMENT", "TICKET_USAGE", "FEEDBACK", "TEMPLATE_USAGE" ],
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "User action whose trend-related records must be fetched. Values allowed are: !@LIKE,@! !@TEMPLATE_USAGE,@! !@DISLIKE,@! !@VIEW,@! !@TICKET_USAGE,@! !@COMMENT@! and !@FEEDBACK@!. If you do not pass a value, all actions are included.", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "permission",
          "in" : "query",
          "description" : "User visibility permission set for the translation. Values allowed are: !@ALL,@! !@REGISTEREDUSERS@! and !@AGENTS@!.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "User visibility permission set for the translation. Values allowed are: !@ALL,@! !@REGISTEREDUSERS@! and !@AGENTS@!.",
            "enum" : [ "ALL", "REGISTEREDUSERS", "AGENTS" ],
            "x-custom-parameters-attributes" : [ false, false, false, "", false, "User visibility permission set for the translation. Values allowed are: !@ALL,@! !@REGISTEREDUSERS@! and !@AGENTS@!.", false, 10, ",", false, false, "0,5", false, false ]
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the trend-related records must be fetched. The default value is 1.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the trend-related records must be fetched. The default value is 1.",
            "format" : "int32"
          }
        }, {
          "name" : "departmentIds",
          "in" : "query",
          "description" : "IDs of the departments that must be considered",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 10,
            "minItems" : 1,
            "uniqueItems" : false,
            "description" : "IDs of the departments that must be considered",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "IDs of the departments that must be considered", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "userType",
          "in" : "query",
          "description" : " Type of users. Values allowed are: AGENTS, REGISTERED_USERS, PUBLIC_USERS, END_USERS and ALL_USERS (default).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : " Type of users. Values allowed are: AGENTS, REGISTERED_USERS, PUBLIC_USERS, END_USERS and ALL_USERS (default).",
            "enum" : [ "AGENTS", "REGISTERED_USERS", "PUBLIC_USERS", "END_USERS", "ALL_USERS" ]
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Language that must be considered",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "description" : "Language that must be considered",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          }
        }, {
          "name" : "helpcenterIds",
          "in" : "query",
          "description" : "IDs of the help centers that must be considered.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 20,
            "minItems" : 0,
            "uniqueItems" : false,
            "description" : "IDs of the help centers that must be considered.",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "IDs of the help centers that must be considered.", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "timeRange",
          "in" : "query",
          "description" : "Period in which the statistics were recorded. Values allowed are: LAST_24_HRS, LAST_7_DAYS, LAST_30_DAYS, LAST_365_DAYS, and yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Period in which the statistics were recorded. Values allowed are: LAST_24_HRS, LAST_7_DAYS, LAST_30_DAYS, LAST_365_DAYS, and yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ",
            "enum" : [ "LAST_24_HRS", "LAST_7_DAYS", "LAST_30_DAYS", "LAST_365_DAYS" ]
          }
        }, {
          "name" : "actionSource",
          "in" : "query",
          "description" : "Channel/medium in which the action was performed. Values allowed are: !@API,@! !@HELPCENTER,@! !@ASAP_WEB,@! !@ASAP_ANDROID,@! !@ASAP_IOS@! and !@AGENT_VIEW@!. If you do not pass a value, all sources are included.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 6,
            "uniqueItems" : false,
            "description" : "Channel/medium in which the action was performed. Values allowed are: !@API,@! !@HELPCENTER,@! !@ASAP_WEB,@! !@ASAP_ANDROID,@! !@ASAP_IOS@! and !@AGENT_VIEW@!. If you do not pass a value, all sources are included.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "",
              "enum" : [ "API", "HELPCENTER", "ASAP_WEB", "ASAP_ANDROID", "ASAP_IOS", "AGENT_VIEW" ],
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "Channel/medium in which the action was performed. Values allowed are: !@API,@! !@HELPCENTER,@! !@ASAP_WEB,@! !@ASAP_ANDROID,@! !@ASAP_IOS@! and !@AGENT_VIEW@!. If you do not pass a value, all sources are included.", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Publishing status of the translation. Values allowed are: Draft, Published, Review, Expired and Unpublished.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 4,
            "minItems" : 0,
            "uniqueItems" : false,
            "description" : "Publishing status of the translation. Values allowed are: Draft, Published, Review, Expired and Unpublished.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "Published", "Draft", "Review", "Expired", "Unpublished" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "articleTrendResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "fromTime", "plotUnitType", "toTime", "trends", "userType" ],
                  "properties" : {
                    "fromTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "plotUnitType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "hourly" ]
                    },
                    "userType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "AGENTS", "REGISTERED_USERS", "PUBLIC_USERS", "END_USERS", "ALL_USERS" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Type of users. Values allowed are: AGENTS, REGISTERED_USERS, PUBLIC_USERS, END_USERS and ALL_USERS (default).",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "trends" : {
                      "items" : {
                        "required" : [ "action", "count", "eventTime" ],
                        "properties" : {
                          "eventTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "action" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "LIKE", "DISLIKE", "VIEW", "COMMENT", "TICKET_USAGE", "FEEDBACK" ],
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "User action whose trend-related records must be fetched. Values allowed are: !@LIKE,@! !@DISLIKE,@! !@VIEW,@! !@TICKET_USAGE,@! !@COMMENT@! and !@FEEDBACK@!. If you do not pass a value, all actions are included.",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "toTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "fromTime" : 1589130000000,
                      "plotUnitType" : "hourly",
                      "userType" : "ALL_USERS",
                      "trends" : [ {
                        "eventTime" : 1589612548000,
                        "count" : "12",
                        "action" : "VIEW"
                      }, {
                        "eventTime" : 1589616416000,
                        "count" : "80",
                        "action" : "VIEW"
                      }, {
                        "eventTime" : 1589619809000,
                        "count" : "64",
                        "action" : "VIEW"
                      }, {
                        "eventTime" : 1589612541000,
                        "count" : "10",
                        "action" : "LIKE"
                      }, {
                        "eventTime" : 1589619754000,
                        "count" : "50",
                        "action" : "LIKE"
                      } ],
                      "toTime" : 1591809067000
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "229372f64a186c9a53160075827971b8",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.articles.rest.support.ArticleDashboardService.getKBTrends"
        }
      }
    },
    "/api/v1/articles/{articleId}/translations/{locale}/insights/reset" : {
      "post" : {
        "tags" : [ "ArticleStatistics" ],
        "summary" : "Reset metrics of a translation in the article",
        "description" : "This API resets the metrics on a translated version of an article.",
        "operationId" : "resetArticleTranslationMetrics",
        "parameters" : [ {
          "name" : "articleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64"
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Language that must be considered",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "description" : "Language that must be considered",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "action" ],
                "properties" : {
                  "action" : {
                    "description" : "",
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "",
                      "enum" : [ "LIKE", "DISLIKE", "VIEW", "COMMENT", "TICKET_USAGE", "FEEDBACK", "TEMPLATE_USAGE" ],
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "action" : [ "VIEW", "FEEDBACK" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 5,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 3600000,
                  "threshold" : 80,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "857e1400f15e7c79f0ac8f25e484b10c",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.articles.rest.support.ArticleDashboardService.resetTranslationMetrics"
        }
      }
    },
    "/api/v1/articles/{articleId}/insights/reset" : {
      "post" : {
        "tags" : [ "ArticleStatistics" ],
        "summary" : "Reset metrics of all translations in the article",
        "description" : "This API resets the metrics on all translated versions of an article.",
        "operationId" : "resetArticleMetrics",
        "parameters" : [ {
          "name" : "articleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "action" ],
                "properties" : {
                  "action" : {
                    "description" : "",
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "",
                      "enum" : [ "LIKE", "DISLIKE", "VIEW", "COMMENT", "TICKET_USAGE", "FEEDBACK", "TEMPLATE_USAGE" ],
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "action" : [ "VIEW" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 5,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 3600000,
                  "threshold" : 80,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "8cf22dc1920349c2ee0ed0c089b821a9",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.articles.rest.support.ArticleDashboardService.resetArticleMetrics"
        }
      }
    },
    "/api/v1/articles/{articleId}/translations/{locale}/trends" : {
      "get" : {
        "tags" : [ "ArticleStatistics" ],
        "summary" : "Get data related to translation trend",
        "description" : "This API fetches data related to the trend of user actions recorded on a particular translation of a help article.",
        "operationId" : "getArticleTranslationTrends",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of trend-related records to list. The default value is 1000 and the maximum value allowed is 18000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 10000,
            "pattern" : "([0-9]+)",
            "description" : "Number of trend-related records to list. The default value is 1000 and the maximum value allowed is 18000.",
            "format" : "int32"
          }
        }, {
          "name" : "action",
          "in" : "query",
          "description" : "User action whose trend-related records must be fetched. Values allowed are: !@LIKE,@! !@DISLIKE,@! !@VIEW,@! !@TICKET_USAGE,@! !@COMMENT,@! !@TEMPLATE_USAGE@! and !@FEEDBACK@!. If you do not pass a value, all actions are included.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 6,
            "uniqueItems" : false,
            "description" : "User action whose trend-related records must be fetched. Values allowed are: !@LIKE,@! !@DISLIKE,@! !@VIEW,@! !@TICKET_USAGE,@! !@COMMENT,@! !@TEMPLATE_USAGE@! and !@FEEDBACK@!. If you do not pass a value, all actions are included.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "",
              "enum" : [ "LIKE", "DISLIKE", "VIEW", "COMMENT", "TICKET_USAGE", "FEEDBACK", "TEMPLATE_USAGE" ],
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "User action whose trend-related records must be fetched. Values allowed are: !@LIKE,@! !@TEMPLATE_USAGE,@! !@DISLIKE,@! !@VIEW,@! !@TICKET_USAGE,@! !@COMMENT@! and !@FEEDBACK@!. If you do not pass a value, all actions are included.", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the trend-related records must be fetched. The default value is 1.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the trend-related records must be fetched. The default value is 1.",
            "format" : "int32"
          }
        }, {
          "name" : "userType",
          "in" : "query",
          "description" : " Type of users. Values allowed are: AGENTS, REGISTERED_USERS, PUBLIC_USERS, END_USERS and ALL_USERS (default).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : " Type of users. Values allowed are: AGENTS, REGISTERED_USERS, PUBLIC_USERS, END_USERS and ALL_USERS (default).",
            "enum" : [ "AGENTS", "REGISTERED_USERS", "PUBLIC_USERS", "END_USERS", "ALL_USERS" ]
          }
        }, {
          "name" : "timeRange",
          "in" : "query",
          "description" : "Period in which the statistics were recorded. Values allowed are: LAST_24_HRS, LAST_7_DAYS, LAST_30_DAYS, LAST_365_DAYS, and yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Period in which the statistics were recorded. Values allowed are: LAST_24_HRS, LAST_7_DAYS, LAST_30_DAYS, LAST_365_DAYS, and yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ",
            "enum" : [ "LAST_24_HRS", "LAST_7_DAYS", "LAST_30_DAYS", "LAST_365_DAYS" ]
          }
        }, {
          "name" : "actionSource",
          "in" : "query",
          "description" : "Channel/medium in which the action was performed. Values allowed are: !@API,@! !@HELPCENTER,@! !@ASAP_WEB,@! !@ASAP_ANDROID,@! !@ASAP_IOS@! and !@AGENT_VIEW@!. If you do not pass a value, all sources are included.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 6,
            "uniqueItems" : false,
            "description" : "Channel/medium in which the action was performed. Values allowed are: !@API,@! !@HELPCENTER,@! !@ASAP_WEB,@! !@ASAP_ANDROID,@! !@ASAP_IOS@! and !@AGENT_VIEW@!. If you do not pass a value, all sources are included.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "",
              "enum" : [ "API", "HELPCENTER", "ASAP_WEB", "ASAP_ANDROID", "ASAP_IOS", "AGENT_VIEW" ],
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "Channel/medium in which the action was performed. Values allowed are: !@API,@! !@HELPCENTER,@! !@ASAP_WEB,@! !@ASAP_ANDROID,@! !@ASAP_IOS@! and !@AGENT_VIEW@!. If you do not pass a value, all sources are included.", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "articleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64"
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Language that must be considered",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "description" : "Language that must be considered",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "articleTrendResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "fromTime", "plotUnitType", "toTime", "trends", "userType" ],
                  "properties" : {
                    "fromTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "plotUnitType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "hourly" ]
                    },
                    "userType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "AGENTS", "REGISTERED_USERS", "PUBLIC_USERS", "END_USERS", "ALL_USERS" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Type of users. Values allowed are: AGENTS, REGISTERED_USERS, PUBLIC_USERS, END_USERS and ALL_USERS (default).",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "trends" : {
                      "items" : {
                        "required" : [ "action", "count", "eventTime" ],
                        "properties" : {
                          "eventTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "action" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "LIKE", "DISLIKE", "VIEW", "COMMENT", "TICKET_USAGE", "FEEDBACK" ],
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "User action whose trend-related records must be fetched. Values allowed are: !@LIKE,@! !@DISLIKE,@! !@VIEW,@! !@TICKET_USAGE,@! !@COMMENT@! and !@FEEDBACK@!. If you do not pass a value, all actions are included.",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "toTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "fromTime" : 1589130000000,
                      "plotUnitType" : "hourly",
                      "userType" : "ALL_USERS",
                      "trends" : [ {
                        "eventTime" : 1589612548000,
                        "count" : "12",
                        "action" : "VIEW"
                      }, {
                        "eventTime" : 1589616416000,
                        "count" : "80",
                        "action" : "VIEW"
                      }, {
                        "eventTime" : 1589619809000,
                        "count" : "64",
                        "action" : "VIEW"
                      }, {
                        "eventTime" : 1589612541000,
                        "count" : "10",
                        "action" : "LIKE"
                      }, {
                        "eventTime" : 1589619754000,
                        "count" : "50",
                        "action" : "LIKE"
                      } ],
                      "toTime" : 1591809067000
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "e21f9da94f57dbb78e8245490ab7a3f1",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.articles.rest.support.ArticleDashboardService.getArticleTranslationTrends"
        }
      }
    },
    "/api/v1/articles/searchKeywords" : {
      "get" : {
        "tags" : [ "ArticleStatistics" ],
        "summary" : "Get keyword metrics",
        "description" : "This API fetches statistics related to keywords used for finding help articles.",
        "operationId" : "getSearchKeywords",
        "parameters" : [ {
          "name" : "duration",
          "in" : "query",
          "description" : " Duration about to get the search keywords stats. Allowed Values LAST_24_HRS, LAST_7_DAYS, LAST_30_DAYS, LAST_365_DAYS and yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ. Default value : !@LAST_365_DAYS@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : " Duration about to get the search keywords stats. Allowed Values LAST_24_HRS, LAST_7_DAYS, LAST_30_DAYS, LAST_365_DAYS and yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ. Default value : !@LAST_365_DAYS@!",
            "enum" : [ "weekly", "monthly", "yearly" ]
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "Department to get the search keywords count. If departmentId is not given, it considered as all department",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Department to get the search keywords count. If departmentId is not given, it considered as all department",
            "format" : "int64"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of trend-related records to list. The default value is 1000 and the maximum value allowed is 18000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 10000,
            "pattern" : "([0-9]+)",
            "description" : "Number of trend-related records to list. The default value is 1000 and the maximum value allowed is 18000.",
            "format" : "int32"
          }
        }, {
          "name" : "searchMetricsType",
          "in" : "query",
          "description" : "Search metrics type. If not given, it will return both failure and popular keywords. Allowed Values !@SUCCESS,@! !@FAILURE@!",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 2,
            "minItems" : 1,
            "uniqueItems" : true,
            "description" : "Search metrics type. If not given, it will return both failure and popular keywords. Allowed Values !@SUCCESS,@! !@FAILURE@!",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "SUCCESS", "FAILURE" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getSearchKeywordsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "required" : [ "failureKeywords", "overallFailureKeywordsCount", "overallSuccessKeywordsCount", "popularKeywords" ],
                    "properties" : {
                      "overallSuccessKeywordsCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "failureKeywords" : {
                        "items" : {
                          "required" : [ "failureCount", "searchkeyword" ],
                          "properties" : {
                            "searchkeyword" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "failureCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "popularKeywords" : {
                        "items" : {
                          "required" : [ "searchkeyword", "successCount" ],
                          "properties" : {
                            "searchkeyword" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "successCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "overallFailureKeywordsCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "failureKeywords", "overallFailureKeywordsCount" ],
                    "properties" : {
                      "failureKeywords" : {
                        "items" : {
                          "required" : [ "failureCount", "searchkeyword" ],
                          "properties" : {
                            "searchkeyword" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "failureCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "overallFailureKeywordsCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "overallSuccessKeywordsCount", "popularKeywords" ],
                    "properties" : {
                      "overallSuccessKeywordsCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "popularKeywords" : {
                        "items" : {
                          "required" : [ "searchkeyword", "successCount" ],
                          "properties" : {
                            "searchkeyword" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "successCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "overallSuccessKeywordsCount" : "11180",
                      "failureKeywords" : [ {
                        "searchkeyword" : "Welcome",
                        "failureCount" : "1"
                      } ],
                      "popularKeywords" : [ {
                        "searchkeyword" : "image",
                        "successCount" : "1"
                      } ],
                      "overallFailureKeywordsCount" : "2500"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "dd134cfc0d9c01761411f40dba32d894",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.articles.rest.support.ArticleDashboardService.getArticleSearchKeywords"
        }
      }
    },
    "/api/v1/articles/interactedUsers" : {
      "get" : {
        "tags" : [ "ArticleStatistics" ],
        "summary" : "List users who interacted with your Knowledge Base",
        "description" : "This API lists a particular number of users who interacted with multiple help articles, based on the limit specified.",
        "operationId" : "getKBInteractedUsers",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of users to list. The default value is 10 and the maximum value allowed is 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of users to list. The default value is 10 and the maximum value allowed is 100.",
            "format" : "int32"
          }
        }, {
          "name" : "action",
          "in" : "query",
          "description" : "Action that the users performed. Values allowed are !@LIKE@! and !@DISLIKE@!. default value is !@LIKE@!",
          "required" : true,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Action that the users performed. Values allowed are !@LIKE@! and !@DISLIKE@!. default value is !@LIKE@!",
            "enum" : [ "LIKE", "DISLIKE" ],
            "x-custom-parameters-attributes" : [ false, false, false, "", false, "User action whose trend-related records must be fetched. Values allowed are: !@LIKE,@! !@DISLIKE,@! !@VIEW,@! !@TICKET_USAGE,@! !@COMMENT@! and !@FEEDBACK@!. If you do not pass a value, all actions are included.", false, 10, ",", false, false, "0,5", false, false ]
          }
        }, {
          "name" : "userType",
          "in" : "query",
          "description" : "Type of users. Values allowed are: !@AGENTS,@! !@REGISTERED_USERS@! and !@ALL_USERS@! (default).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Type of users. Values allowed are: !@AGENTS,@! !@REGISTERED_USERS@! and !@ALL_USERS@! (default).",
            "enum" : [ "AGENTS", "REGISTERED_USERS", "ALL_USERS" ]
          }
        }, {
          "name" : "rootCategoryIds",
          "in" : "query",
          "description" : "IDs of the Knowledge Base root categories that must be considered",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 10,
            "minItems" : 1,
            "uniqueItems" : false,
            "description" : "IDs of the Knowledge Base root categories that must be considered",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "IDs of the Knowledge Base root categories that must be considered", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the trend-related records must be fetched. The default value is 1.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the trend-related records must be fetched. The default value is 1.",
            "format" : "int32"
          }
        }, {
          "name" : "departmentIds",
          "in" : "query",
          "description" : "IDs of the departments that must be considered",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 10,
            "minItems" : 1,
            "uniqueItems" : false,
            "description" : "IDs of the departments that must be considered",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "IDs of the departments that must be considered", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Language that must be considered",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "description" : "Language that must be considered",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          }
        }, {
          "name" : "helpcenterIds",
          "in" : "query",
          "description" : "IDs of the help centers that must be considered.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 20,
            "minItems" : 0,
            "uniqueItems" : false,
            "description" : "IDs of the help centers that must be considered.",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "IDs of the help centers that must be considered.", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "timeRange",
          "in" : "query",
          "description" : "Period in which the statistics were recorded. Values allowed are: LAST_24_HRS, LAST_7_DAYS, LAST_30_DAYS, LAST_365_DAYS, and yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Period in which the statistics were recorded. Values allowed are: LAST_24_HRS, LAST_7_DAYS, LAST_30_DAYS, LAST_365_DAYS, and yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ",
            "enum" : [ "LAST_24_HRS", "LAST_7_DAYS", "LAST_30_DAYS", "LAST_365_DAYS" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "interactedUsersResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "action", "user" ],
                        "properties" : {
                          "action" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "LIKE", "DISLIKE", "VIEW" ]
                          },
                          "user" : {
                            "required" : [ "emailId", "firstName", "id", "lastName", "photoURL", "roleName", "type", "webUrl" ],
                            "properties" : {
                              "photoURL" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "firstName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "webUrl" : {
                                "maxLength" : 255,
                                "minLength" : 3,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "roleName" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "emailId" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "action" : "LIKE",
                        "user" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000000063/photo?orgId=15234553",
                          "firstName" : "Charlie",
                          "lastName" : "Stankovic",
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Contacts/dv/3000000039220",
                          "emailId" : "charlie@zylker.com",
                          "id" : "4000000000063",
                          "type" : "AGENT"
                        }
                      }, {
                        "action" : "LIKE",
                        "user" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000000065/photo?orgId=15234553",
                          "firstName" : "Lisa",
                          "lastName" : "Roseland",
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Contacts/dv/3000000039255",
                          "emailId" : "lisa@zylker.com",
                          "id" : "4000000000065",
                          "type" : "REGISTERED_USERS"
                        }
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "597988efab2e4bef8528cddcb84abbd7",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.articles.rest.support.ArticleDashboardService.getKBIntercatedUsers"
        }
      }
    },
    "/api/v1/articles/{articleId}/trends" : {
      "get" : {
        "tags" : [ "ArticleStatistics" ],
        "summary" : "Get data related to article trend",
        "description" : "This API fetches data related to the trend of user actions recorded on a help article and all of its translations.",
        "operationId" : "getArticleTrends",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of trend-related records to list. The default value is 1000 and the maximum value allowed is 18000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 10000,
            "pattern" : "([0-9]+)",
            "description" : "Number of trend-related records to list. The default value is 1000 and the maximum value allowed is 18000.",
            "format" : "int32"
          }
        }, {
          "name" : "action",
          "in" : "query",
          "description" : "User action whose trend-related records must be fetched. Values allowed are: !@LIKE,@! !@DISLIKE,@! !@VIEW,@! !@TICKET_USAGE,@! !@COMMENT,@! !@TEMPLATE_USAGE@! and !@FEEDBACK@!. If you do not pass a value, all actions are included.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 6,
            "uniqueItems" : false,
            "description" : "User action whose trend-related records must be fetched. Values allowed are: !@LIKE,@! !@DISLIKE,@! !@VIEW,@! !@TICKET_USAGE,@! !@COMMENT,@! !@TEMPLATE_USAGE@! and !@FEEDBACK@!. If you do not pass a value, all actions are included.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "",
              "enum" : [ "LIKE", "DISLIKE", "VIEW", "COMMENT", "TICKET_USAGE", "FEEDBACK", "TEMPLATE_USAGE" ],
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "User action whose trend-related records must be fetched. Values allowed are: !@LIKE,@! !@TEMPLATE_USAGE,@! !@DISLIKE,@! !@VIEW,@! !@TICKET_USAGE,@! !@COMMENT@! and !@FEEDBACK@!. If you do not pass a value, all actions are included.", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the trend-related records must be fetched. The default value is 1.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the trend-related records must be fetched. The default value is 1.",
            "format" : "int32"
          }
        }, {
          "name" : "userType",
          "in" : "query",
          "description" : " Type of users. Values allowed are: AGENTS, REGISTERED_USERS, PUBLIC_USERS, END_USERS and ALL_USERS (default).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : " Type of users. Values allowed are: AGENTS, REGISTERED_USERS, PUBLIC_USERS, END_USERS and ALL_USERS (default).",
            "enum" : [ "AGENTS", "REGISTERED_USERS", "PUBLIC_USERS", "END_USERS", "ALL_USERS" ]
          }
        }, {
          "name" : "timeRange",
          "in" : "query",
          "description" : "Period in which the statistics were recorded. Values allowed are: LAST_24_HRS, LAST_7_DAYS, LAST_30_DAYS, LAST_365_DAYS, and yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Period in which the statistics were recorded. Values allowed are: LAST_24_HRS, LAST_7_DAYS, LAST_30_DAYS, LAST_365_DAYS, and yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ",
            "enum" : [ "LAST_24_HRS", "LAST_7_DAYS", "LAST_30_DAYS", "LAST_365_DAYS" ]
          }
        }, {
          "name" : "actionSource",
          "in" : "query",
          "description" : "Channel/medium in which the action was performed. Values allowed are: !@API,@! !@HELPCENTER,@! !@ASAP_WEB,@! !@ASAP_ANDROID,@! !@ASAP_IOS@! and !@AGENT_VIEW@!. If you do not pass a value, all sources are included.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 6,
            "uniqueItems" : false,
            "description" : "Channel/medium in which the action was performed. Values allowed are: !@API,@! !@HELPCENTER,@! !@ASAP_WEB,@! !@ASAP_ANDROID,@! !@ASAP_IOS@! and !@AGENT_VIEW@!. If you do not pass a value, all sources are included.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "",
              "enum" : [ "API", "HELPCENTER", "ASAP_WEB", "ASAP_ANDROID", "ASAP_IOS", "AGENT_VIEW" ],
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "Channel/medium in which the action was performed. Values allowed are: !@API,@! !@HELPCENTER,@! !@ASAP_WEB,@! !@ASAP_ANDROID,@! !@ASAP_IOS@! and !@AGENT_VIEW@!. If you do not pass a value, all sources are included.", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "articleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "articleTrendResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "fromTime", "plotUnitType", "toTime", "trends", "userType" ],
                  "properties" : {
                    "fromTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "plotUnitType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "hourly" ]
                    },
                    "userType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "AGENTS", "REGISTERED_USERS", "PUBLIC_USERS", "END_USERS", "ALL_USERS" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Type of users. Values allowed are: AGENTS, REGISTERED_USERS, PUBLIC_USERS, END_USERS and ALL_USERS (default).",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "trends" : {
                      "items" : {
                        "required" : [ "action", "count", "eventTime" ],
                        "properties" : {
                          "eventTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "action" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "LIKE", "DISLIKE", "VIEW", "COMMENT", "TICKET_USAGE", "FEEDBACK" ],
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "User action whose trend-related records must be fetched. Values allowed are: !@LIKE,@! !@DISLIKE,@! !@VIEW,@! !@TICKET_USAGE,@! !@COMMENT@! and !@FEEDBACK@!. If you do not pass a value, all actions are included.",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "toTime" : {
                      "maxLength" : 100,
[...]
