{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Asap",
    "version" : "1.0.0",
    "x-clan-group" : "helpCenter",
    "x-module-group" : "asap"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/{appTypeInAPIPath}" : {
      "get" : {
        "tags" : [ "Asap" ],
        "summary" : "Get ASAP List",
        "description" : "To get the List of ASAP apps",
        "operationId" : "getAsapList",
        "parameters" : [ {
          "name" : "appTypeInAPIPath",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "description" : "",
            "enum" : [ "asapApps", "hcApps" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "asapAppList template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "required" : [ "departmentIds", "id", "isLauncherVisible", "isVisibleInHC", "modifiedBy", "modifiedTime", "modules", "name", "status" ],
                    "properties" : {
                      "modifiedTime" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "isLauncherVisible" : { },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                      },
                      "appKey" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                      },
                      "modifiedBy" : {
                        "required" : [ "id", "name", "photoURL" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "name" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "departmentIds" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "modules" : {
                        "items" : {
                          "required" : [ "clients", "displayName", "name", "status" ],
                          "properties" : {
                            "tabProperties" : {
                              "additionalProperties" : false
                            },
                            "clients" : {
                              "maxItems" : 3,
                              "uniqueItems" : false,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "iOS", "android", "web" ]
                              }
                            },
                            "displayName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                              "enum" : [ "Knowledge Base", "Community", "Ticket", "GC", "AnswerBot", "SalesIQ", "ZBM" ]
                            },
                            "status" : {
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "To get the active launcher and inactive launcher",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "status" : {
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "To get the active launcher and inactive launcher",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isVisibleInHC" : { }
                    },
                    "additionalProperties" : { }
                  }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "modifiedTime" : "1643705172000",
                        "isLauncherVisible" : true,
                        "name" : "How can I help you?",
                        "modifiedBy" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/2000000000263/photo?orgId=15458538",
                          "name" : "Manoj Nirmal",
                          "id" : "2000000000263"
                        },
                        "departmentIds" : [ "334433550" ],
                        "modules" : [ {
                          "clients" : [ "web", "ios", "android" ],
                          "displayName" : "Solutions",
                          "name" : "Knowledge Base",
                          "status" : true
                        }, {
                          "clients" : [ "web", "ios", "android" ],
                          "displayName" : "Discussions",
                          "name" : "Community",
                          "status" : true
                        }, {
                          "clients" : [ "web", "ios", "android" ],
                          "displayName" : "Requests",
                          "name" : "Ticket",
                          "status" : true
                        } ],
                        "status" : true
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 25,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "fd9779c8a11764714a3a7524477f0cee",
          "module-group" : "asap",
          "apimethod" : "com.zoho.desk.helpcenter.channel.asap.AsapAppService.getAsapAppsList"
        }
      }
    },
    "/api/v1/{appTypeInAPIPath}/{asapId}" : {
      "get" : {
        "tags" : [ "Asap" ],
        "summary" : "Get ASAP",
        "description" : "Get the ASAP app",
        "operationId" : "getAsapApp",
        "parameters" : [ {
          "name" : "appTypeInAPIPath",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "description" : "",
            "enum" : [ "asapApps", "hcApps" ]
          }
        }, {
          "name" : "asapId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "App details response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "description" : "asapAppJson template definitions",
                    "x-custom-response-attributes" : {
                      "disable-safe-headers" : "[]"
                    },
                    "content" : {
                      "application/json" : {
                        "schema" : {
                          "type" : [ "null", "object" ],
                          "additionalProperties" : false,
                          "properties" : {
                            "modifiedTime" : {
                              "type" : [ "string", "null", "integer" ],
                              "format" : "int64",
                              "pattern" : "([0-9]+)"
                            },
                            "defaultMessagesLocale" : {
                              "type" : [ "string", "null" ],
                              "enum" : [ "en-US", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br", null ],
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)"
                            },
                            "whiteListedDomains" : {
                              "type" : [ "null", "array" ],
                              "items" : {
                                "type" : [ "string", "null" ],
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                              },
                              "uniqueItems" : false
                            },
                            "isLauncherVisible" : {
                              "type" : [ "boolean", "null" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "App Launcher Icon enabled",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "departmentIds" : {
                              "type" : [ "array" ],
                              "items" : {
                                "type" : [ "string", "integer" ],
                                "format" : "int64",
                                "pattern" : "([0-9]+)",
                                "x-custom-parameters-attributes" : [ { } ]
                              },
                              "uniqueItems" : false
                            },
                            "privacySettings" : {
                              "$ref" : "#/components/schemas/asapPrivacyProperties"
                            },
                            "styleProperties" : {
                              "$ref" : "#/components/schemas/asapStylePropertiesResponse"
                            },
                            "modules" : {
                              "$ref" : "#/components/schemas/ModuleArray"
                            },
                            "installationProperties" : {
                              "$ref" : "#/components/schemas/asapInstallationProperties"
                            },
                            "name" : {
                              "type" : [ "string", "null" ],
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "App name",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "modifiedBy" : {
                              "$ref" : "#/components/schemas/agentDetails"
                            },
                            "appKey" : {
                              "type" : [ "string", "null" ],
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "defaultWelcomeMessages" : {
                              "type" : [ "null", "object" ],
                              "additionalProperties" : false,
                              "patternProperties" : {
                                "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+" : {
                                  "type" : [ "string", "null" ],
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+|^$",
                                  "x-custom-parameters-attributes" : {
                                    "name" : {
                                      "removeExif" : false,
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "replacementString" : "",
                                      "allowInvalid" : false,
                                      "descrption" : "App name",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "0,5",
                                      "importUrl" : false,
                                      "decrypt" : false
                                    },
                                    "departmentIds" : [ { } ],
                                    "isLauncherVisible" : {
                                      "removeExif" : false,
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "replacementString" : "",
                                      "allowInvalid" : false,
                                      "descrption" : "App Launcher Icon enabled",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "0,5",
                                      "importUrl" : false,
                                      "decrypt" : false
                                    },
                                    "modules" : [ {
                                      "name" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "name of the module",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      },
                                      "tabProperties" : {
                                        "isAgentTransfer" : {
                                          "removeExif" : false,
                                          "filterMatchedContent" : false,
                                          "antivirus" : false,
                                          "replacementString" : "",
                                          "allowInvalid" : false,
                                          "descrption" : "Is this chat should have the capability to transfer to the agent",
                                          "secret" : false,
                                          "preserveCharsLimit" : 10,
                                          "trim" : false,
                                          "internalParam" : false,
                                          "preserveChars" : "0,5",
                                          "importUrl" : false,
                                          "decrypt" : false
                                        },
                                        "botId" : {
                                          "removeExif" : false,
                                          "filterMatchedContent" : false,
                                          "antivirus" : false,
                                          "replacementString" : "",
                                          "allowInvalid" : false,
                                          "descrption" : "Bot or Widget Id for chat or embed scripts. Mostly used for bots which are integrated with ZohoDesk such as GC and Answer bots.",
                                          "secret" : false,
                                          "preserveCharsLimit" : 10,
                                          "trim" : false,
                                          "internalParam" : false,
                                          "preserveChars" : "0,5",
                                          "importUrl" : false,
                                          "decrypt" : false
                                        }
                                      },
                                      "clients" : [ { } ],
                                      "displayName" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "display name of the module (chosen by user)",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      },
                                      "status" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "status of the module in this asap bot",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    } ],
                                    "status" : {
                                      "removeExif" : false,
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "replacementString" : "",
                                      "allowInvalid" : false,
                                      "descrption" : "App status",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "0,5",
                                      "importUrl" : false,
                                      "decrypt" : false
                                    }
                                  }
                                }
                              }
                            },
                            "id" : {
                              "type" : [ "string", "null", "integer" ],
                              "format" : "int64",
                              "pattern" : "([0-9]+)"
                            },
                            "status" : {
                              "type" : [ "boolean", "null" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "App status",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "isVisibleInHC" : {
                              "type" : [ "boolean", "null" ]
                            }
                          },
                          "required" : [ "modifiedTime", "installationProperties", "whiteListedDomains", "isLauncherVisible", "departmentIds", "name", "modifiedBy", "id", "privacySettings", "status", "modules", "isVisibleInHC", "appKey", "styleProperties", "defaultWelcomeMessages", "defaultMessagesLocale" ]
                        },
                        "examples" : {
                          "Valid responses Definitions" : {
                            "value" : {
                              "modifiedTime" : "1643705172000",
                              "isLauncherVisible" : true,
                              "name" : "How can I help you?",
                              "modifiedBy" : {
                                "photoURL" : "https://desk.zoho.com/api/v1/agents/2000000000263/photo?orgId=15458538",
                                "name" : "Manoj Nirmal",
                                "id" : "2000000000263"
                              },
                              "departmentIds" : [ "334433550" ],
                              "modules" : [ {
                                "clients" : [ "web", "ios", "android" ],
                                "displayName" : "Solutions",
                                "name" : "Knowledge Base",
                                "status" : true
                              }, {
                                "clients" : [ "web", "ios", "android" ],
                                "displayName" : "Discussions",
                                "name" : "Community",
                                "status" : true
                              } ],
                              "status" : true
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "description" : "asapAppJson template definitions",
                    "x-custom-response-attributes" : {
                      "disable-safe-headers" : "[]"
                    },
                    "content" : {
                      "application/json" : {
                        "schema" : {
                          "type" : [ "null", "object" ],
                          "additionalProperties" : false,
                          "properties" : {
                            "modifiedTime" : {
                              "type" : [ "string", "null", "integer" ],
                              "format" : "int64",
                              "pattern" : "([0-9]+)"
                            },
                            "departmentIds" : {
                              "type" : [ "array" ],
                              "items" : {
                                "type" : [ "string", "integer" ],
                                "format" : "int64",
                                "pattern" : "([0-9]+)",
                                "x-custom-parameters-attributes" : [ { } ]
                              },
                              "uniqueItems" : false
                            },
                            "modules" : {
                              "$ref" : "#/components/schemas/ModuleArray"
                            },
                            "name" : {
                              "type" : [ "string", "null" ],
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "App name",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "modifiedBy" : {
                              "$ref" : "#/components/schemas/agentDetails"
                            },
                            "appKey" : {
                              "type" : [ "string", "null" ],
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "type" : [ "string", "null", "integer" ],
                              "format" : "int64",
                              "pattern" : "([0-9]+)"
                            },
                            "status" : {
                              "type" : [ "boolean", "null" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "App status",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "isVisibleInHC" : {
                              "type" : [ "boolean", "null" ]
                            },
                            "appProperties" : {
                              "type" : "object",
                              "properties" : {
                                "portalUrl" : {
                                  "type" : [ "string", "null" ]
                                },
                                "appearence" : {
                                  "type" : "object",
                                  "properties" : {
                                    "type" : {
                                      "type" : [ "string", "null" ]
                                    },
                                    "headerBackgroundColor" : {
                                      "type" : [ "string", "null" ]
                                    },
                                    "headerTextColor" : {
                                      "type" : [ "string", "null" ]
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "required" : [ "modifiedTime", "departmentIds", "name", "modifiedBy", "id", "status", "modules", "isVisibleInHC", "appKey", "appProperties" ]
                        },
                        "examples" : {
                          "Valid responses Definitions" : {
                            "value" : {
                              "modifiedTime" : "1643705172000",
                              "isLauncherVisible" : true,
                              "name" : "How can I help you?",
                              "modifiedBy" : {
                                "photoURL" : "https://desk.zoho.com/api/v1/agents/2000000000263/photo?orgId=15458538",
                                "name" : "Manoj Nirmal",
                                "id" : "2000000000263"
                              },
                              "departmentIds" : [ "334433550" ],
                              "modules" : [ {
                                "clients" : [ "web", "ios", "android" ],
                                "displayName" : "Solutions",
                                "name" : "Knowledge Base",
                                "status" : true
                              }, {
                                "clients" : [ "web", "ios", "android" ],
                                "displayName" : "Discussions",
                                "name" : "Community",
                                "status" : true
                              } ],
                              "status" : true
                            }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "ASAP" : {
                    "value" : {
                      "modifiedTime" : "1643705172000",
                      "isLauncherVisible" : true,
                      "name" : "How can I help you?",
                      "modifiedBy" : {
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/2000000000263/photo?orgId=15458538",
                        "name" : "Manoj Nirmal",
                        "id" : "2000000000263"
                      },
                      "departmentIds" : [ "334433550" ],
                      "modules" : [ {
                        "clients" : [ "web", "ios", "android" ],
                        "displayName" : "Solutions",
                        "name" : "Knowledge Base",
                        "status" : true
                      }, {
                        "clients" : [ "web", "ios", "android" ],
                        "displayName" : "Discussions",
                        "name" : "Community",
                        "status" : true
                      } ],
                      "status" : true
                    }
                  },
                  "AgentPortal" : {
                    "value" : {
                      "modifiedTime" : "1643705172000",
                      "type" : "AGENT_PORTAL",
                      "name" : "How can I help you?",
                      "modifiedBy" : {
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/2000000000263/photo?orgId=15458538",
                        "name" : "Manoj Nirmal",
                        "id" : "2000000000263"
                      },
                      "departmentIds" : [ "334433550" ],
                      "modules" : [ {
                        "clients" : [ "web", "ios", "android" ],
                        "displayName" : "Solutions",
                        "name" : "Knowledge Base",
                        "status" : true
                      }, {
                        "clients" : [ "web", "ios", "android" ],
                        "displayName" : "Discussions",
                        "name" : "Community",
                        "status" : true
                      } ],
                      "status" : true,
                      "appProperties" : {
                        "appearence" : {
                          "type" : "CUSTOM",
                          "headerBackgroundColor" : "#FFFF",
                          "headerTextColor" : "#AAFF"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 25,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "fff2ca5d8a748126b44739ff5da36681",
          "module-group" : "asap",
          "apimethod" : "com.zoho.desk.helpcenter.channel.asap.AsapAppService.getAsapApp"
        }
      },
      "patch" : {
        "tags" : [ "Asap" ],
        "summary" : "Update ASAP",
        "description" : "Update the Existing ASAP App",
        "operationId" : "updateAsapApp",
        "parameters" : [ {
          "name" : "appTypeInAPIPath",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "description" : "",
            "enum" : [ "asapApps", "hcApps" ]
          }
        }, {
          "name" : "asapId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "whiteListedDomains" : {
                    "uniqueItems" : false,
                    "description" : "",
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 1,
                      "pattern" : "^https:\\/\\/www\\.[a-z]+\\.com$",
                      "description" : "",
                      "x-custom-parameters-attributes" : [ ]
                    }
                  },
                  "isLauncherVisible" : {
                    "description" : ""
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                    "description" : ""
                  },
                  "departmentIds" : {
                    "uniqueItems" : false,
                    "description" : "",
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "description" : "",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "privacySettings" : {
                    "required" : [ "ios", "web" ],
                    "properties" : {
                      "web" : {
                        "required" : [ "isAnnonymousEnabled", "isJWTEnabled", "jwt" ],
                        "properties" : {
                          "isAnnonymousEnabled" : {
                            "description" : ""
                          },
                          "isJWTEnabled" : {
                            "description" : ""
                          },
                          "jwt" : {
                            "required" : [ "jsDomains" ],
                            "properties" : {
                              "jsDomains" : {
                                "maxItems" : 5,
                                "uniqueItems" : false,
                                "description" : "",
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^https:\\/\\/www\\.[a-z]+\\.com$",
                                  "description" : ""
                                }
                              }
                            },
                            "additionalProperties" : false,
                            "description" : ""
                          }
                        },
                        "additionalProperties" : { },
                        "description" : ""
                      },
                      "ios" : {
                        "required" : [ "isAnnonymousEnabled", "isJWTEnabled" ],
                        "properties" : {
                          "isAnnonymousEnabled" : {
                            "description" : ""
                          },
                          "isJWTEnabled" : {
                            "description" : ""
                          }
                        },
                        "additionalProperties" : false,
                        "description" : ""
                      }
                    },
                    "additionalProperties" : { },
                    "description" : ""
                  },
                  "modules" : {
                    "description" : "",
                    "items" : {
                      "required" : [ "clients", "displayName", "name", "status" ],
                      "properties" : {
                        "clients" : {
                          "maxItems" : 3,
                          "uniqueItems" : false,
                          "description" : "",
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "description" : "",
                            "enum" : [ "iOS", "android", "web" ]
                          }
                        },
                        "displayName" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                          "description" : ""
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                          "description" : "",
                          "enum" : [ "Knowledge Base", "Community", "Ticket", "SalesIQ" ]
                        },
                        "status" : {
                          "description" : ""
                        }
                      },
                      "additionalProperties" : false,
                      "description" : ""
                    }
                  },
                  "status" : {
                    "description" : ""
                  },
                  "isVisibleInHC" : {
                    "description" : ""
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "defaultMessagesLocale" : "fr-FR",
                    "installationProperties" : {
                      "android" : {
                        "bundleName" : "com.zoho.in.android",
                        "notificationSettings" : {
                          "credentials" : [ {
                            "gcmKey" : "nabdasjd23123kndkj90qwqewwe23asdad",
                            "deployment" : "PRODUCTION"
                          } ],
                          "isEnabled" : true
                        }
                      },
                      "ios" : {
                        "bundleName" : "com.zoho.in.ios",
                        "notificationSettings" : {
                          "credentials" : [ {
                            "password" : "sdahdj",
                            "certificateId" : "nabdasjd2fffjjjfjfjdkj90",
                            "deployment" : "PRODUCTION"
                          }, {
                            "password" : "sdahdj",
                            "certificateId" : "nabdasjd2ffqqqqjfjdkj90",
                            "deployment" : "SANDBOX"
                          } ],
                          "isEnabled" : true
                        }
                      }
                    },
                    "whiteListedDomains" : [ "https://customersite.com" ],
                    "isLauncherVisible" : true,
                    "name" : "How can I help you?",
                    "defaultWelcomeMessages" : {
                      "introMessage" : "J'espère que cette application vous aidera 24h/24 et 7j/7",
                      "greetingMessage" : "Bonjour! passe une bonne journée!"
                    },
                    "departmentIds" : [ "334433550" ],
                    "privacySettings" : {
                      "web" : {
                        "isAnnonymousEnabled" : false,
                        "isJWTEnabled" : true,
                        "jwt" : {
                          "jsDomains" : [ "https://customersite.com" ]
                        }
                      },
                      "ios" : {
                        "isAnnonymousEnabled" : false,
                        "isJWTEnabled" : true
                      }
                    },
                    "styleProperties" : {
                      "webAppAppearence" : {
                        "windowSize" : "LARGE",
                        "showZohoTag" : true,
                        "actionColor" : "#34AAF56",
                        "wallpaperUrl" : "https://desk.zoho.com/publicImages/87654323456",
                        "themeColor" : "#34AAF56",
                        "headerLogoUrl" : "https://desk.zoho.com/publicImages/87654323456",
                        "wallpaperType" : "DEFAULT"
                      },
                      "launcherAppearence" : {
                        "shape" : "ROUND",
                        "bottomSpacing" : "300",
                        "iconType" : "IDEA",
                        "iconUrl" : "https://desk.zoho.com/publicImages/87654323456",
                        "position" : "CENTER_LEFT",
                        "sideSpacing" : "45"
                      }
                    },
                    "modules" : [ {
                      "clients" : [ "web", "ios", "android" ],
                      "displayName" : "Solutions",
                      "name" : "Knowledge Base",
                      "status" : true
                    }, {
                      "clients" : [ "web", "ios", "android" ],
                      "displayName" : "Discussions",
                      "name" : "Community",
                      "status" : true
                    }, {
                      "clients" : [ "web", "ios", "android" ],
                      "displayName" : "Requests",
                      "name" : "Ticket",
                      "status" : true
                    }, {
                      "clients" : [ "web", "android" ],
                      "displayName" : "Agent Chat",
                      "name" : "SalesIQ",
                      "status" : true
                    }, {
                      "tabProperties" : {
                        "isAgentTransfer" : false,
                        "botId" : "8765434567"
                      },
                      "clients" : [ "web" ],
                      "displayName" : "Guides",
                      "name" : "GC",
                      "status" : true
                    }, {
                      "tabProperties" : {
                        "isAgentTransfer" : true,
                        "botId" : "3456765rew456yhgfde"
                      },
                      "clients" : [ "web", "iOS", "android" ],
                      "displayName" : "displayName",
                      "name" : "AnswerBot",
                      "status" : true
                    }, {
                      "tabProperties" : {
                        "botId" : "78iuy6789iu789oiuyu-dfgu3f-rtg"
                      },
                      "clients" : [ "web", "iOS", "android" ],
                      "displayName" : "displayName",
                      "name" : "ZBM",
                      "status" : true
                    } ],
                    "status" : true,
                    "isVisibleInHC" : true
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "App details response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "description" : "asapAppJson template definitions",
                    "x-custom-response-attributes" : {
                      "disable-safe-headers" : "[]"
                    },
                    "content" : {
                      "application/json" : {
                        "schema" : {
                          "type" : [ "null", "object" ],
                          "additionalProperties" : false,
                          "properties" : {
                            "modifiedTime" : {
                              "type" : [ "string", "null", "integer" ],
                              "format" : "int64",
                              "pattern" : "([0-9]+)"
                            },
                            "defaultMessagesLocale" : {
                              "type" : [ "string", "null" ],
                              "enum" : [ "en-US", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br", null ],
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)"
                            },
                            "whiteListedDomains" : {
                              "type" : [ "null", "array" ],
                              "items" : {
                                "type" : [ "string", "null" ],
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                              },
                              "uniqueItems" : false
                            },
                            "isLauncherVisible" : {
                              "type" : [ "boolean", "null" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "App Launcher Icon enabled",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "departmentIds" : {
                              "type" : [ "array" ],
                              "items" : {
                                "type" : [ "string", "integer" ],
                                "format" : "int64",
                                "pattern" : "([0-9]+)",
                                "x-custom-parameters-attributes" : [ { } ]
                              },
                              "uniqueItems" : false
                            },
                            "privacySettings" : {
                              "$ref" : "#/components/schemas/asapPrivacyProperties"
                            },
                            "styleProperties" : {
                              "$ref" : "#/components/schemas/asapStylePropertiesResponse"
                            },
                            "modules" : {
                              "$ref" : "#/components/schemas/ModuleArray"
                            },
                            "installationProperties" : {
                              "$ref" : "#/components/schemas/asapInstallationProperties"
                            },
                            "name" : {
                              "type" : [ "string", "null" ],
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "App name",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "modifiedBy" : {
                              "$ref" : "#/components/schemas/agentDetails"
                            },
                            "appKey" : {
                              "type" : [ "string", "null" ],
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "defaultWelcomeMessages" : {
                              "type" : [ "null", "object" ],
                              "additionalProperties" : false,
                              "patternProperties" : {
                                "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+" : {
                                  "type" : [ "string", "null" ],
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+|^$",
                                  "x-custom-parameters-attributes" : {
                                    "name" : {
                                      "removeExif" : false,
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "replacementString" : "",
                                      "allowInvalid" : false,
                                      "descrption" : "App name",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "0,5",
                                      "importUrl" : false,
                                      "decrypt" : false
                                    },
                                    "departmentIds" : [ { } ],
                                    "isLauncherVisible" : {
                                      "removeExif" : false,
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "replacementString" : "",
                                      "allowInvalid" : false,
                                      "descrption" : "App Launcher Icon enabled",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "0,5",
                                      "importUrl" : false,
                                      "decrypt" : false
                                    },
                                    "modules" : [ {
                                      "name" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "name of the module",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      },
                                      "tabProperties" : {
                                        "isAgentTransfer" : {
                                          "removeExif" : false,
                                          "filterMatchedContent" : false,
                                          "antivirus" : false,
                                          "replacementString" : "",
                                          "allowInvalid" : false,
                                          "descrption" : "Is this chat should have the capability to transfer to the agent",
                                          "secret" : false,
                                          "preserveCharsLimit" : 10,
                                          "trim" : false,
                                          "internalParam" : false,
                                          "preserveChars" : "0,5",
                                          "importUrl" : false,
                                          "decrypt" : false
                                        },
                                        "botId" : {
                                          "removeExif" : false,
                                          "filterMatchedContent" : false,
                                          "antivirus" : false,
                                          "replacementString" : "",
                                          "allowInvalid" : false,
                                          "descrption" : "Bot or Widget Id for chat or embed scripts. Mostly used for bots which are integrated with ZohoDesk such as GC and Answer bots.",
                                          "secret" : false,
                                          "preserveCharsLimit" : 10,
                                          "trim" : false,
                                          "internalParam" : false,
                                          "preserveChars" : "0,5",
                                          "importUrl" : false,
                                          "decrypt" : false
                                        }
                                      },
                                      "clients" : [ { } ],
                                      "displayName" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "display name of the module (chosen by user)",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      },
                                      "status" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "status of the module in this asap bot",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    } ],
                                    "status" : {
                                      "removeExif" : false,
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "replacementString" : "",
                                      "allowInvalid" : false,
                                      "descrption" : "App status",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "0,5",
                                      "importUrl" : false,
                                      "decrypt" : false
                                    }
                                  }
                                }
                              }
                            },
                            "id" : {
                              "type" : [ "string", "null", "integer" ],
                              "format" : "int64",
                              "pattern" : "([0-9]+)"
                            },
                            "status" : {
                              "type" : [ "boolean", "null" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "App status",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "isVisibleInHC" : {
                              "type" : [ "boolean", "null" ]
                            }
                          },
                          "required" : [ "modifiedTime", "installationProperties", "whiteListedDomains", "isLauncherVisible", "departmentIds", "name", "modifiedBy", "id", "privacySettings", "status", "modules", "isVisibleInHC", "appKey", "styleProperties", "defaultWelcomeMessages", "defaultMessagesLocale" ]
                        },
                        "examples" : {
                          "Valid responses Definitions" : {
                            "value" : {
                              "modifiedTime" : "1643705172000",
                              "isLauncherVisible" : true,
                              "name" : "How can I help you?",
                              "modifiedBy" : {
                                "photoURL" : "https://desk.zoho.com/api/v1/agents/2000000000263/photo?orgId=15458538",
                                "name" : "Manoj Nirmal",
                                "id" : "2000000000263"
                              },
                              "departmentIds" : [ "334433550" ],
                              "modules" : [ {
                                "clients" : [ "web", "ios", "android" ],
                                "displayName" : "Solutions",
                                "name" : "Knowledge Base",
                                "status" : true
                              }, {
                                "clients" : [ "web", "ios", "android" ],
                                "displayName" : "Discussions",
                                "name" : "Community",
                                "status" : true
                              } ],
                              "status" : true
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "description" : "asapAppJson template definitions",
                    "x-custom-response-attributes" : {
                      "disable-safe-headers" : "[]"
                    },
                    "content" : {
                      "application/json" : {
                        "schema" : {
                          "type" : [ "null", "object" ],
                          "additionalProperties" : false,
                          "properties" : {
                            "modifiedTime" : {
                              "type" : [ "string", "null", "integer" ],
                              "format" : "int64",
                              "pattern" : "([0-9]+)"
                            },
                            "departmentIds" : {
                              "type" : [ "array" ],
                              "items" : {
                                "type" : [ "string", "integer" ],
                                "format" : "int64",
                                "pattern" : "([0-9]+)",
                                "x-custom-parameters-attributes" : [ { } ]
                              },
                              "uniqueItems" : false
                            },
                            "modules" : {
                              "$ref" : "#/components/schemas/ModuleArray"
                            },
                            "name" : {
                              "type" : [ "string", "null" ],
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "App name",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "modifiedBy" : {
                              "$ref" : "#/components/schemas/agentDetails"
                            },
                            "appKey" : {
                              "type" : [ "string", "null" ],
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "type" : [ "string", "null", "integer" ],
                              "format" : "int64",
                              "pattern" : "([0-9]+)"
                            },
                            "status" : {
                              "type" : [ "boolean", "null" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "App status",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "isVisibleInHC" : {
                              "type" : [ "boolean", "null" ]
                            },
                            "appProperties" : {
                              "type" : "object",
                              "properties" : {
                                "portalUrl" : {
                                  "type" : [ "string", "null" ]
                                },
                                "appearence" : {
                                  "type" : "object",
                                  "properties" : {
                                    "type" : {
                                      "type" : [ "string", "null" ]
                                    },
                                    "headerBackgroundColor" : {
                                      "type" : [ "string", "null" ]
                                    },
                                    "headerTextColor" : {
                                      "type" : [ "string", "null" ]
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "required" : [ "modifiedTime", "departmentIds", "name", "modifiedBy", "id", "status", "modules", "isVisibleInHC", "appKey", "appProperties" ]
                        },
                        "examples" : {
                          "Valid responses Definitions" : {
                            "value" : {
                              "modifiedTime" : "1643705172000",
                              "isLauncherVisible" : true,
                              "name" : "How can I help you?",
                              "modifiedBy" : {
                                "photoURL" : "https://desk.zoho.com/api/v1/agents/2000000000263/photo?orgId=15458538",
                                "name" : "Manoj Nirmal",
                                "id" : "2000000000263"
                              },
                              "departmentIds" : [ "334433550" ],
                              "modules" : [ {
                                "clients" : [ "web", "ios", "android" ],
                                "displayName" : "Solutions",
                                "name" : "Knowledge Base",
                                "status" : true
                              }, {
                                "clients" : [ "web", "ios", "android" ],
                                "displayName" : "Discussions",
                                "name" : "Community",
                                "status" : true
                              } ],
                              "status" : true
                            }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "ASAP" : {
                    "value" : {
                      "modifiedTime" : "1643705172000",
                      "isLauncherVisible" : true,
                      "name" : "How can I help you?",
                      "modifiedBy" : {
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/2000000000263/photo?orgId=15458538",
                        "name" : "Manoj Nirmal",
                        "id" : "2000000000263"
                      },
                      "departmentIds" : [ "334433550" ],
                      "modules" : [ {
                        "clients" : [ "web", "ios", "android" ],
                        "displayName" : "Solutions",
                        "name" : "Knowledge Base",
                        "status" : true
                      }, {
                        "clients" : [ "web", "ios", "android" ],
                        "displayName" : "Discussions",
                        "name" : "Community",
                        "status" : true
                      } ],
                      "status" : true
                    }
                  },
                  "AgentPortal" : {
                    "value" : {
                      "modifiedTime" : "1643705172000",
                      "type" : "AGENT_PORTAL",
                      "name" : "How can I help you?",
                      "modifiedBy" : {
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/2000000000263/photo?orgId=15458538",
                        "name" : "Manoj Nirmal",
                        "id" : "2000000000263"
                      },
                      "departmentIds" : [ "334433550" ],
                      "modules" : [ {
                        "clients" : [ "web", "ios", "android" ],
                        "displayName" : "Solutions",
                        "name" : "Knowledge Base",
                        "status" : true
                      }, {
                        "clients" : [ "web", "ios", "android" ],
                        "displayName" : "Discussions",
                        "name" : "Community",
                        "status" : true
                      } ],
                      "status" : true,
                      "appProperties" : {
                        "appearence" : {
                          "type" : "CUSTOM",
                          "headerBackgroundColor" : "#FFFF",
                          "headerTextColor" : "#AAFF"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "bfce67b81f49ccc0cffe2b2d02380c64",
          "module-group" : "asap",
          "apimethod" : "com.zoho.desk.helpcenter.channel.asap.AsapAppService.updateAsapApp"
        }
      }
    },
    "/api/v1/{appTypeInAddAPIPath}" : {
      "post" : {
        "tags" : [ "Asap" ],
        "summary" : "Create ASAP",
        "description" : "Create New Asap",
        "operationId" : "addAsapApp",
        "parameters" : [ {
          "name" : "appTypeInAddAPIPath",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "description" : "",
            "enum" : [ "asapApp", "hcApp" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "anyOf" : [ {
                  "required" : [ "departmentIds", "name", "type" ],
                  "properties" : {
                    "isLauncherVisible" : {
                      "description" : ""
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                      "description" : ""
                    },
                    "departmentIds" : {
                      "uniqueItems" : false,
                      "description" : "",
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "description" : "",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : [ { } ]
                      }
                    },
                    "modules" : {
                      "description" : "",
                      "items" : {
                        "required" : [ "clients", "displayName", "name", "status" ],
                        "properties" : {
                          "clients" : {
                            "maxItems" : 3,
                            "uniqueItems" : false,
                            "description" : "",
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "",
                              "enum" : [ "iOS", "android", "web" ]
                            }
                          },
                          "displayName" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                            "description" : ""
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                            "description" : "",
                            "enum" : [ "Knowledge Base", "Community", "Ticket", "SalesIQ" ]
                          },
                          "status" : {
                            "description" : ""
                          }
                        },
                        "additionalProperties" : false,
                        "description" : ""
                      }
                    },
                    "status" : {
                      "description" : ""
                    },
                    "type" : {
                      "description" : "",
                      "enum" : [ "ASAP" ]
                    }
                  },
                  "additionalProperties" : { }
                }, {
                  "required" : [ "appProperties", "departmentIds", "name", "type" ],
                  "properties" : {
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                      "description" : ""
                    },
                    "departmentIds" : {
                      "uniqueItems" : false,
                      "description" : "",
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "description" : "",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : [ { } ]
                      }
                    },
                    "modules" : {
                      "description" : "",
                      "items" : {
                        "required" : [ "clients", "displayName", "name", "status" ],
                        "properties" : {
                          "clients" : {
                            "maxItems" : 3,
                            "uniqueItems" : false,
                            "description" : "",
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "",
                              "enum" : [ "iOS", "android", "web" ]
                            }
                          },
                          "displayName" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                            "description" : ""
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                            "description" : "",
                            "enum" : [ "Knowledge Base", "Community", "Ticket", "SalesIQ" ]
                          },
                          "status" : {
                            "description" : ""
                          }
                        },
                        "additionalProperties" : false,
                        "description" : ""
                      }
                    },
                    "status" : {
                      "description" : ""
                    },
                    "type" : {
                      "description" : "",
                      "enum" : [ "AGENT_PORTAL" ]
                    },
                    "appProperties" : {
                      "properties" : {
                        "appearence" : {
                          "properties" : {
                            "type" : {
                              "description" : "",
                              "enum" : [ "DEFAULT", "CONTRAST", "CUSTOM" ]
                            },
                            "headerBackgroundColor" : {
                              "pattern" : "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$",
                              "description" : ""
                            },
                            "headerTextColor" : {
                              "pattern" : "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$",
                              "description" : ""
                            }
                          },
                          "description" : ""
                        }
                      },
                      "description" : ""
                    }
                  },
                  "additionalProperties" : { }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "App details response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "description" : "asapAppJson template definitions",
                    "x-custom-response-attributes" : {
                      "disable-safe-headers" : "[]"
                    },
                    "content" : {
                      "application/json" : {
                        "schema" : {
                          "type" : [ "null", "object" ],
                          "additionalProperties" : false,
                          "properties" : {
                            "modifiedTime" : {
                              "type" : [ "string", "null", "integer" ],
                              "format" : "int64",
                              "pattern" : "([0-9]+)"
                            },
                            "defaultMessagesLocale" : {
                              "type" : [ "string", "null" ],
                              "enum" : [ "en-US", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br", null ],
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)"
                            },
                            "whiteListedDomains" : {
                              "type" : [ "null", "array" ],
                              "items" : {
                                "type" : [ "string", "null" ],
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                              },
                              "uniqueItems" : false
                            },
                            "isLauncherVisible" : {
                              "type" : [ "boolean", "null" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
[...]
