{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "AuditLog",
    "version" : "1.0.0",
    "x-clan-group" : "common",
    "x-module-group" : "common"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/fetchAuditLogs/{historyId}" : {
      "get" : {
        "tags" : [ "AuditLog" ],
        "summary" : "",
        "description" : "",
        "operationId" : "getAuditLogDetails",
        "parameters" : [ {
          "name" : "historyId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^([0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12})$",
            "description" : "",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "entityHistoryDetails template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "changeData", "department", "entityId", "entityName", "event", "eventTime", "id", "ipAddress", "module", "moduleId", "moduleName", "primaryActor", "setupModule", "subEvent" ],
                        "properties" : {
                          "subEvent" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "description" : "",
                            "x-custom-parameters-attributes" : { }
                          },
                          "setupModule" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "description" : "",
                            "x-custom-parameters-attributes" : { }
                          },
                          "module" : {
                            "required" : [ "displayLabel", "id" ],
                            "properties" : {
                              "displayLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "",
                                "x-custom-parameters-attributes" : { }
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "description" : "",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : { }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "ipAddress" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9\\.\\-\\,\\*\\ ]+",
                            "description" : "",
                            "x-custom-parameters-attributes" : { }
                          },
                          "moduleName" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "description" : "",
                            "x-custom-parameters-attributes" : { }
                          },
                          "entityId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : { }
                          },
                          "entityName" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "description" : "",
                            "x-custom-parameters-attributes" : { }
                          },
                          "eventTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                            "description" : "",
                            "x-custom-parameters-attributes" : { }
                          },
                          "primaryActor" : {
                            "required" : [ "id", "name", "photoURL", "type", "url" ],
                            "properties" : {
                              "photoURL" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                "description" : "",
                                "x-custom-parameters-attributes" : { }
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "",
                                "x-custom-parameters-attributes" : { }
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "description" : "",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : { }
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "",
                                "enum" : [ "DESK_ADMIN", "AGENT", "PORTAL_USER", "WORKFLOW", "SUPERVISE_RULE", "CUSTOM_FUNCTION", "BLUEPRINT", "BLUEPRINT_TRANSITION", "ALERT", "ASSIGNMENT_RULE", "FIELD_UPDATE", "MACRO", "ROUND_ROBIN", "NOTIFICATION_RULE", "SLA" ],
                                "x-custom-parameters-attributes" : { }
                              },
                              "url" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)",
                                "description" : "",
                                "x-custom-parameters-attributes" : { }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "id" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^([0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12})$",
                            "description" : "",
                            "x-custom-parameters-attributes" : { }
                          },
                          "department" : {
                            "required" : [ "id", "name" ],
                            "properties" : {
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "",
                                "x-custom-parameters-attributes" : { }
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "description" : "",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : { }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "event" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "description" : "",
                            "enum" : [ "ADD", "UPDATE", "DELETE", "RESTORE", "NOTIFICATION", "ASSOCIATE", "SPLIT", "MERGE", "ACTIVATE", "ARCHIVE", "DEACTIVATE", "DISASSOCIATE", "EXECUTION" ],
                            "x-custom-parameters-attributes" : { }
                          },
                          "changeData" : {
                            "items" : {
                              "required" : [ "fieldId", "fieldName", "fieldType", "newStates", "oldStates" ],
                              "properties" : {
                                "fieldName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "description" : "",
                                  "x-custom-parameters-attributes" : { }
                                },
                                "newStates" : {
                                  "items" : {
                                    "required" : [ "fieldValue", "lookupName" ],
                                    "properties" : {
                                      "fieldValue" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "description" : "",
                                        "x-custom-parameters-attributes" : { }
                                      },
                                      "lookupName" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "description" : "",
                                        "x-custom-parameters-attributes" : { }
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                },
                                "oldStates" : {
                                  "items" : {
                                    "required" : [ "fieldValue", "lookupName" ],
                                    "properties" : {
                                      "fieldValue" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "description" : "",
                                        "x-custom-parameters-attributes" : { }
                                      },
                                      "lookupName" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "description" : "",
                                        "x-custom-parameters-attributes" : { }
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                },
                                "fieldType" : {
                                  "pattern" : "([0-9]+)",
                                  "description" : "",
                                  "format" : "int32",
                                  "x-custom-parameters-attributes" : { }
                                },
                                "fieldId" : {
                                  "pattern" : "([0-9]+)",
                                  "description" : "",
                                  "format" : "int64",
                                  "x-custom-parameters-attributes" : { }
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "moduleId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : { }
                          },
                          "hasChangeData" : {
                            "source" : "system",
                            "entity" : "AuditLog"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : { }
                  }
                }
              }
            },
            "x-custom-response-attributes" : { }
          }
        },
        "x-audience" : [ "company-internal" ]
      }
    },
    "/api/v1/fetchAuditLogs" : {
      "post" : {
        "tags" : [ "AuditLog" ],
        "summary" : "List Audit Logs",
        "description" : "The audit log list all changes that transpired in the help desk for the specified filter. In request payload, either sortBy or cursor can be given. startTime & endTime attribute will be considered only when duration value is ${CUSTOM}",
        "operationId" : "fetchAuditLogs",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "filter" : {
                    "required" : [ "actorTypes", "departmentIds", "duration", "endTime", "entityId", "events", "fieldId", "modules", "startTime" ],
                    "properties" : {
                      "duration" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "${TODAY}", "${CURRENT_MONTH}", "${CURRENT_WEEK}", "${LAST7DAYS}", "${LAST30DAYS}", "${CUSTOM}" ]
                      },
                      "actorTypes" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "DESK_ADMIN", "AGENT", "PORTAL_USER", "WORKFLOW", "SUPERVISE_RULE", "CUSTOM_FUNCTION", "BLUEPRINT", "BLUEPRINT_TRANSITION", "ALERT", "ASSIGNMENT_RULE", "FIELD_UPDATE", "MACRO", "ROUND_ROBIN", "NOTIFICATION_RULE", "SLA" ]
                        }
                      },
                      "startTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "departmentIds" : {
                        "maxItems" : 6,
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "endTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "events" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ADD", "UPDATE", "DELETE", "RESTORE", "NOTIFICATION", "ASSOCIATE", "SPLIT", "MERGE", "ACTIVATE", "ARCHIVE", "DEACTIVATE", "DISASSOCIATE", "EXECUTION" ]
                        }
                      },
                      "modules" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "tickets", "contacts", "contracts", "category", "timeEntry", "social", "community", "tasks", "products", "accounts", "chat", "reports", "dashboards", "assignment_rules", "notification_rules", "workflow", "skills", "blueprint", "macros", "escalate", "supervise", "support_contract", "schedules", "alerts", "field_updates", "custom_functions", "directAssignmentRules", "roundRobinRules", "email_templates", "email_template_folders", "business_hour", "holiday_list" ]
                        }
                      },
                      "fieldId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "cursor" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "MTY2NjA3MDkyMjE4Nl9hOWRkM2E3Yi0zOGVkLTQ5YzgtYWEzYS02YzY4OGFiMGRjM2NfTkVYVF9ERVND", "MTY2NjA3MDgzNzQyMl8wMWNhZjU2Zi00Yjg0LTQ4YjEtYWRhYS02ZjY0ODE1ZmE2ZTBfUFJFVklPVVNfREVTQw==" ]
                  },
                  "limit" : {
                    "maximum" : 200,
                    "minimum" : 1,
                    "pattern" : "([0-9]+)",
                    "format" : "int32"
                  },
                  "sortBy" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "eventTime", "-eventTime" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "filter" : {
                      "duration" : "${LAST7DAYS}",
                      "startTime" : "2022-09-08T08:46:33.284Z",
                      "entityId" : "6000000074013",
                      "departmentIds" : [ "12334", "1234" ],
                      "endTime" : "2022-09-08T08:46:34.760Z",
                      "actorIds" : [ "6421233", "3421233" ],
                      "modules" : [ "workflow", "tickets", "contacts" ],
                      "events" : [ "ADD", "DELETE" ],
                      "fieldId" : "6000000074023"
                    },
                    "cursor" : "MTY2MjYwNjY2MDEyMl9jMDgwYTFhNS0yZDIwLTRjZWQtOTEzZC1mMzU3YTNlMDBhNTA=",
                    "limit" : "20"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "entityHistoryList template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "cursor", "data" ],
                  "properties" : {
                    "cursor" : {
                      "required" : [ "next", "previous" ],
                      "properties" : {
                        "next" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "previous" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "data" : {
                      "items" : {
                        "required" : [ "department", "departmentId", "departmentName", "entityId", "entityName", "event", "eventSpecificProperties", "eventTime", "id", "ipAddress", "module", "moduleId", "moduleName", "moduleSpecificProperties", "primaryActor", "subEvent" ],
                        "properties" : {
                          "departmentName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "subEvent" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "module" : {
                            "required" : [ "displayLabel", "id" ],
                            "properties" : {
                              "displayLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "",
                                "x-custom-parameters-attributes" : { }
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "description" : "",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : { }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "moduleName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "ipAddress" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9\\.\\-\\,\\*\\ ]+"
                          },
                          "entityId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "eventSpecificProperties" : {
                            "required" : [ "channel" ],
                            "properties" : {
                              "channel" : {
                                "required" : [ "apiName", "displayLabel" ],
                                "properties" : {
                                  "displayLabel" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "apiName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "additionalProperties" : false
                          },
                          "entityName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "eventTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "primaryActor" : {
                            "required" : [ "id", "name", "photoURL", "type", "url" ],
                            "properties" : {
                              "photoURL" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                "description" : "",
                                "x-custom-parameters-attributes" : { }
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "",
                                "x-custom-parameters-attributes" : { }
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "description" : "",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : { }
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "",
                                "enum" : [ "DESK_ADMIN", "AGENT", "PORTAL_USER", "WORKFLOW", "SUPERVISE_RULE", "CUSTOM_FUNCTION", "BLUEPRINT", "BLUEPRINT_TRANSITION", "ALERT", "ASSIGNMENT_RULE", "FIELD_UPDATE", "MACRO", "ROUND_ROBIN", "NOTIFICATION_RULE", "SLA" ],
                                "x-custom-parameters-attributes" : { }
                              },
                              "url" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)",
                                "description" : "",
                                "x-custom-parameters-attributes" : { }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "id" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^([0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12})$"
                          },
                          "department" : {
                            "required" : [ "id", "name" ],
                            "properties" : {
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "",
                                "x-custom-parameters-attributes" : { }
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "description" : "",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : { }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "event" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ADD", "UPDATE", "DELETE", "RESTORE", "NOTIFICATION", "ASSOCIATE", "SPLIT", "MERGE", "ACTIVATE", "ARCHIVE", "DEACTIVATE", "DISASSOCIATE", "EXECUTION" ]
                          },
                          "moduleId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "moduleSpecificProperties" : {
                            "required" : [ "relatedModuleId", "relatedModuleName" ],
                            "properties" : {
                              "relatedModuleName" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "relatedModuleId" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "cursor" : {
                        "next" : "MTY2MzMwNzEyOTc1Ml85ZDFmMjJkNS05MDE3LTQ4MGYtYjQ2MC0xZmQ4NjY1ODFhOWQ=",
                        "previous" : null
                      },
                      "data" : [ {
                        "departmentName" : "Desk",
                        "subEvent" : "UPDATE",
                        "departmentId" : "6000000019772",
                        "module" : {
                          "displayLabel" : "Workflow",
                          "id" : "null"
                        },
                        "moduleName" : "Workflow",
                        "ipAddress" : "127.0.0.1",
                        "entityId" : "6000000074013",
                        "eventSpecificProperties" : {
                          "channel" : {
                            "displayLabel" : "Mail",
                            "apiName" : "mail"
                          }
                        },
                        "entityName" : "Assign priority",
                        "eventTime" : "2022-09-16T11:15:29.752Z",
                        "id" : "9d1f22d5-9017-480f-b460-1fd866581a9d",
                        "primaryActor" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/6000000000347/photo?orgId=5576810&fileSize=THUMBNAIL",
                          "name" : "Sugan",
                          "id" : "6000000000347",
                          "type" : "AGENT",
                          "url" : "https://desk.zoho.com/api/v1/agents/6000000000347"
                        },
                        "department" : {
                          "name" : "Desk",
                          "id" : "6000000019772"
                        },
                        "moduleSpecificProperties" : {
                          "relatedModuleName" : "Tickets",
                          "relatedModuleId" : "600007658890"
                        },
                        "event" : "UPDATE",
                        "moduleId" : null
                      }, {
                        "departmentName" : null,
                        "subEvent" : "ADD",
                        "departmentId" : null,
                        "module" : {
                          "displayLabel" : "Tickets",
                          "id" : "6000000038009"
                        },
                        "moduleName" : "Tickets",
                        "ipAddress" : "127.0.0.1",
                        "entityId" : "6000000078003",
                        "entityName" : "My Laptop charging time is longer",
                        "eventTime" : "2022-09-16T11:15:30.249Z",
                        "id" : "232b9549-dcdf-4854-8e5f-14ae9f24c827",
                        "primaryActor" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/6000000000347/photo?orgId=5576810&fileSize=THUMBNAIL",
                          "name" : "Sugan",
                          "id" : "6000000000347",
                          "type" : "AGENT",
                          "url" : "desk.zoho.com/api/v1/agents/6000000000347"
                        },
                        "department" : {
                          "name" : "Desk",
                          "id" : "6000000019772"
                        },
                        "moduleSpecificProperties" : null,
                        "event" : "UPDATE",
                        "moduleId" : "6000000038009"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "201" : {
            "description" : "No content"
          },
          "400" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "BAD_REQUEST",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "5fced0e4d01b4f158053008ffb7ec85f",
          "module-group" : "common",
          "apimethod" : "com.zoho.support.restapi.AuditLogService.getAuditList"
        }
      }
    },
    "/api/v1/exportAuditLogs/{exportId}/download" : {
      "get" : {
        "tags" : [ "AuditLog" ],
        "operationId" : "downloadExportZipFile",
        "parameters" : [ {
          "name" : "exportId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "File response",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "format" : "binary"
                }
              }
            }
          },
          "400" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "BAD_REQUEST",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.exports.CUSTOM" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 5,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "iscscope" : [ "SupCrmAPI" ]
            }
          },
          "clan-group" : "common",
          "apihash" : "b173edba924eeb4d13d6d15303f93f7c",
          "module-group" : "common",
          "apimethod" : "com.zoho.support.restapi.AuditLogService.downloadExportZipFile"
        }
      }
    },
    "/api/v1/auditLogEvents" : {
      "get" : {
        "tags" : [ "AuditLog" ],
        "summary" : "List Events",
        "description" : "This API is used to list the events used in auditlog.",
        "operationId" : "getAuditLogEvents",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "auditLogEvents template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "apiName", "displayLabel" ],
                        "properties" : {
                          "displayLabel" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "apiName" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "displayLabel" : "ADD",
                        "apiName" : "ADD"
                      }, {
                        "displayLabel" : "UPDATE",
                        "apiName" : "UPDATE"
                      }, {
                        "displayLabel" : "DELETE",
                        "apiName" : "DELETE"
                      }, {
                        "displayLabel" : "RESTORE",
                        "apiName" : "RESTORE"
                      }, {
                        "displayLabel" : "ARCHIVE",
                        "apiName" : "ARCHIVE"
                      }, {
                        "displayLabel" : "NOTIFICATION",
                        "apiName" : "NOTIFICATION"
                      }, {
                        "displayLabel" : "MERGE",
                        "apiName" : "MERGE"
                      }, {
                        "displayLabel" : "SPLIT",
                        "apiName" : "SPLIT"
                      }, {
                        "displayLabel" : "EXECUTION",
                        "apiName" : "EXECUTION"
                      }, {
                        "displayLabel" : "ASSOCIATE",
                        "apiName" : "ASSOCIATE"
                      }, {
                        "displayLabel" : "ACTIVATE",
                        "apiName" : "ACTIVATE"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "5a026b8891348ce8cccddd55264a8a76",
          "module-group" : "common",
          "apimethod" : "com.zoho.support.restapi.AuditLogService.getAuditLogEvents"
        }
      }
    },
    "/api/v1/exportAuditLogs" : {
      "post" : {
        "tags" : [ "AuditLog" ],
        "summary" : "Export Auditlog",
        "description" : "This API is used to export audit log entries from a specified period.",
        "operationId" : "exportAuditLogs",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "filter" : {
                    "required" : [ "actorTypes", "departmentIds", "duration", "endTime", "events", "fieldId", "modules", "startTime" ],
                    "properties" : {
                      "duration" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "${TODAY}", "${CURRENT_MONTH}", "${CURRENT_WEEK}", "${LAST7DAYS}", "${LAST30DAYS}", "${CUSTOM}" ]
                      },
                      "actorTypes" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "DESK_ADMIN", "AGENT", "PORTAL_USER", "WORKFLOW", "SUPERVISE_RULE", "CUSTOM_FUNCTION", "BLUEPRINT", "BLUEPRINT_TRANSITION", "ALERT", "ASSIGNMENT_RULE", "FIELD_UPDATE", "MACRO", "ROUND_ROBIN", "NOTIFICATION_RULE", "SLA" ]
                        }
                      },
                      "startTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "departmentIds" : {
                        "maxItems" : 6,
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "endTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "events" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ADD", "UPDATE", "DELETE", "RESTORE", "NOTIFICATION", "ASSOCIATE", "SPLIT", "MERGE", "ACTIVATE", "ARCHIVE", "DEACTIVATE", "DISASSOCIATE", "EXECUTION" ]
                        }
                      },
                      "modules" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "tickets", "contacts", "contracts", "category", "timeEntry", "social", "community", "tasks", "products", "accounts", "chat", "reports", "dashboards", "assignment_rules", "notification_rules", "workflow", "skills", "blueprint", "macros", "escalate", "supervise", "support_contract", "schedules", "alerts", "field_updates", "custom_functions", "directAssignmentRules", "roundRobinRules", "email_templates", "email_template_folders", "business_hour", "holiday_list" ]
                        }
                      },
                      "fieldId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "additionalProperties" : false
                  },
                  "sortBy" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "eventTime", "-eventTime" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "filter" : {
                      "duration" : "${CUSTOM}",
                      "startTime" : "2022-09-08T08:46:33.284Z",
                      "entityId" : "6000000074013",
                      "departmentIds" : [ "12334", "1234" ],
                      "endTime" : "2022-09-08T08:46:34.760Z",
                      "actorIds" : [ "6421233", "3421233" ],
                      "modules" : [ "workflow", "tickets", "contacts" ],
                      "events" : [ "ADD", "DELETE" ]
                    },
                    "sortBy" : "-eventTime"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "exportResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "exportId" ],
                  "properties" : {
                    "exportId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "exportId" : "2000000205003"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 3600000,
                  "lock-period" : 3600000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 21600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "iscscope" : [ "SupCrmAPI" ]
            }
          },
          "clan-group" : "common",
          "apihash" : "dc089298f033c05ff5e84329be43937b",
          "module-group" : "common",
          "apimethod" : "com.zoho.support.restapi.AuditLogService.exportAuditLog"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "module" : {
        "required" : [ "displayLabel", "id" ],
        "properties" : {
          "displayLabel" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "",
            "x-custom-parameters-attributes" : { }
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          }
        },
        "additionalProperties" : { }
      },
      "primaryActor" : {
        "required" : [ "id", "name", "photoURL", "type", "url" ],
        "properties" : {
          "photoURL" : {
            "maxLength" : 200,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
            "description" : "",
            "x-custom-parameters-attributes" : { }
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "",
            "x-custom-parameters-attributes" : { }
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          },
          "type" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "",
            "enum" : [ "DESK_ADMIN", "AGENT", "PORTAL_USER", "WORKFLOW", "SUPERVISE_RULE", "CUSTOM_FUNCTION", "BLUEPRINT", "BLUEPRINT_TRANSITION", "ALERT", "ASSIGNMENT_RULE", "FIELD_UPDATE", "MACRO", "ROUND_ROBIN", "NOTIFICATION_RULE", "SLA" ],
            "x-custom-parameters-attributes" : { }
          },
          "url" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)",
            "description" : "",
            "x-custom-parameters-attributes" : { }
          }
        },
        "additionalProperties" : { }
      },
      "department" : {
        "required" : [ "id", "name" ],
        "properties" : {
          "name" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "",
            "x-custom-parameters-attributes" : { }
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          }
        },
        "additionalProperties" : { }
      },
      "singleStateObject" : {
        "required" : [ "fieldValue", "lookupName" ],
        "properties" : {
          "fieldValue" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "",
            "x-custom-parameters-attributes" : { }
          },
          "lookupName" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "",
            "x-custom-parameters-attributes" : { }
          }
        },
        "additionalProperties" : { }
      },
      "oldStatesArray" : {
        "items" : {
          "required" : [ "fieldValue", "lookupName" ],
          "properties" : {
            "fieldValue" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "",
              "x-custom-parameters-attributes" : { }
            },
            "lookupName" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "",
              "x-custom-parameters-attributes" : { }
            }
          },
          "additionalProperties" : false
        }
      },
      "newStatesArray" : {
        "items" : {
          "required" : [ "fieldValue", "lookupName" ],
          "properties" : {
            "fieldValue" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "",
              "x-custom-parameters-attributes" : { }
            },
            "lookupName" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "",
              "x-custom-parameters-attributes" : { }
            }
          },
          "additionalProperties" : false
        }
      },
      "singleChangeData" : {
        "required" : [ "fieldId", "fieldName", "fieldType", "newStates", "oldStates" ],
        "properties" : {
          "fieldName" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "",
            "x-custom-parameters-attributes" : { }
          },
          "newStates" : {
            "items" : {
              "required" : [ "fieldValue", "lookupName" ],
              "properties" : {
                "fieldValue" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "description" : "",
                  "x-custom-parameters-attributes" : { }
                },
                "lookupName" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "description" : "",
                  "x-custom-parameters-attributes" : { }
                }
              },
              "additionalProperties" : false
            }
          },
          "oldStates" : {
            "items" : {
              "required" : [ "fieldValue", "lookupName" ],
              "properties" : {
                "fieldValue" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "description" : "",
                  "x-custom-parameters-attributes" : { }
                },
                "lookupName" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "description" : "",
                  "x-custom-parameters-attributes" : { }
                }
              },
              "additionalProperties" : false
            }
          },
          "fieldType" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          },
          "fieldId" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          }
        },
        "additionalProperties" : { }
      },
      "changeDataArray" : {
        "items" : {
          "required" : [ "fieldId", "fieldName", "fieldType", "newStates", "oldStates" ],
          "properties" : {
            "fieldName" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "",
              "x-custom-parameters-attributes" : { }
            },
            "newStates" : {
              "items" : {
                "required" : [ "fieldValue", "lookupName" ],
                "properties" : {
                  "fieldValue" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "",
                    "x-custom-parameters-attributes" : { }
                  },
                  "lookupName" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "",
                    "x-custom-parameters-attributes" : { }
                  }
                },
                "additionalProperties" : false
              }
            },
            "oldStates" : {
              "items" : {
                "required" : [ "fieldValue", "lookupName" ],
                "properties" : {
                  "fieldValue" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "",
                    "x-custom-parameters-attributes" : { }
                  },
                  "lookupName" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "",
                    "x-custom-parameters-attributes" : { }
                  }
                },
                "additionalProperties" : false
              }
            },
            "fieldType" : {
              "pattern" : "([0-9]+)",
              "description" : "",
              "format" : "int32",
              "x-custom-parameters-attributes" : { }
            },
            "fieldId" : {
              "pattern" : "([0-9]+)",
              "description" : "",
              "format" : "int64",
              "x-custom-parameters-attributes" : { }
            }
          },
          "additionalProperties" : false
        }
      },
      "singleEntityHistoryDetail" : {
        "required" : [ "changeData", "department", "entityId", "entityName", "event", "eventTime", "id", "ipAddress", "module", "moduleId", "moduleName", "primaryActor", "setupModule", "subEvent" ],
        "properties" : {
          "subEvent" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "",
            "x-custom-parameters-attributes" : { }
          },
          "setupModule" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "",
            "x-custom-parameters-attributes" : { }
          },
          "module" : {
            "required" : [ "displayLabel", "id" ],
            "properties" : {
              "displayLabel" : {
                "maxLength" : 100,
                "minLength" : 0,
                "description" : "",
                "x-custom-parameters-attributes" : { }
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "description" : "",
                "format" : "int64",
                "x-custom-parameters-attributes" : { }
              }
            },
            "additionalProperties" : false
          },
          "ipAddress" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[0-9\\.\\-\\,\\*\\ ]+",
            "description" : "",
            "x-custom-parameters-attributes" : { }
          },
          "moduleName" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "",
            "x-custom-parameters-attributes" : { }
          },
          "entityId" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          },
          "entityName" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "",
            "x-custom-parameters-attributes" : { }
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "",
            "x-custom-parameters-attributes" : { }
          },
          "primaryActor" : {
            "required" : [ "id", "name", "photoURL", "type", "url" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 200,
                "minLength" : 0,
                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                "description" : "",
                "x-custom-parameters-attributes" : { }
              },
              "name" : {
                "maxLength" : 100,
                "minLength" : 0,
                "description" : "",
                "x-custom-parameters-attributes" : { }
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "description" : "",
                "format" : "int64",
                "x-custom-parameters-attributes" : { }
              },
              "type" : {
                "maxLength" : 100,
                "minLength" : 0,
                "description" : "",
                "enum" : [ "DESK_ADMIN", "AGENT", "PORTAL_USER", "WORKFLOW", "SUPERVISE_RULE", "CUSTOM_FUNCTION", "BLUEPRINT", "BLUEPRINT_TRANSITION", "ALERT", "ASSIGNMENT_RULE", "FIELD_UPDATE", "MACRO", "ROUND_ROBIN", "NOTIFICATION_RULE", "SLA" ],
                "x-custom-parameters-attributes" : { }
              },
              "url" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)",
                "description" : "",
                "x-custom-parameters-attributes" : { }
              }
            },
            "additionalProperties" : false
          },
          "id" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^([0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12})$",
            "description" : "",
            "x-custom-parameters-attributes" : { }
          },
          "department" : {
            "required" : [ "id", "name" ],
            "properties" : {
              "name" : {
                "maxLength" : 100,
                "minLength" : 0,
                "description" : "",
                "x-custom-parameters-attributes" : { }
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "description" : "",
                "format" : "int64",
                "x-custom-parameters-attributes" : { }
              }
            },
            "additionalProperties" : false
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "",
            "enum" : [ "ADD", "UPDATE", "DELETE", "RESTORE", "NOTIFICATION", "ASSOCIATE", "SPLIT", "MERGE", "ACTIVATE", "ARCHIVE", "DEACTIVATE", "DISASSOCIATE", "EXECUTION" ],
            "x-custom-parameters-attributes" : { }
          },
          "changeData" : {
            "items" : {
              "required" : [ "fieldId", "fieldName", "fieldType", "newStates", "oldStates" ],
              "properties" : {
                "fieldName" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "description" : "",
                  "x-custom-parameters-attributes" : { }
                },
                "newStates" : {
                  "items" : {
                    "required" : [ "fieldValue", "lookupName" ],
                    "properties" : {
                      "fieldValue" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "",
                        "x-custom-parameters-attributes" : { }
                      },
                      "lookupName" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "",
                        "x-custom-parameters-attributes" : { }
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "oldStates" : {
                  "items" : {
                    "required" : [ "fieldValue", "lookupName" ],
                    "properties" : {
                      "fieldValue" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "",
                        "x-custom-parameters-attributes" : { }
                      },
                      "lookupName" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "",
                        "x-custom-parameters-attributes" : { }
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "fieldType" : {
                  "pattern" : "([0-9]+)",
                  "description" : "",
                  "format" : "int32",
                  "x-custom-parameters-attributes" : { }
                },
                "fieldId" : {
                  "pattern" : "([0-9]+)",
                  "description" : "",
                  "format" : "int64",
                  "x-custom-parameters-attributes" : { }
                }
              },
              "additionalProperties" : false
            }
          },
          "moduleId" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          },
          "hasChangeData" : {
            "source" : "system",
            "entity" : "AuditLog"
          }
        },
        "additionalProperties" : { }
      },
      "entityHistoryDetailsArray" : {
        "items" : {
          "required" : [ "changeData", "department", "entityId", "entityName", "event", "eventTime", "id", "ipAddress", "module", "moduleId", "moduleName", "primaryActor", "setupModule", "subEvent" ],
          "properties" : {
            "subEvent" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "",
              "x-custom-parameters-attributes" : { }
            },
            "setupModule" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "",
              "x-custom-parameters-attributes" : { }
            },
            "module" : {
              "required" : [ "displayLabel", "id" ],
              "properties" : {
                "displayLabel" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "description" : "",
                  "x-custom-parameters-attributes" : { }
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "description" : "",
                  "format" : "int64",
                  "x-custom-parameters-attributes" : { }
                }
              },
              "additionalProperties" : false
            },
            "ipAddress" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "[0-9\\.\\-\\,\\*\\ ]+",
              "description" : "",
              "x-custom-parameters-attributes" : { }
            },
            "moduleName" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "",
              "x-custom-parameters-attributes" : { }
            },
            "entityId" : {
              "pattern" : "([0-9]+)",
              "description" : "",
              "format" : "int64",
              "x-custom-parameters-attributes" : { }
            },
            "entityName" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "",
              "x-custom-parameters-attributes" : { }
            },
            "eventTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
              "description" : "",
              "x-custom-parameters-attributes" : { }
            },
            "primaryActor" : {
              "required" : [ "id", "name", "photoURL", "type", "url" ],
              "properties" : {
                "photoURL" : {
                  "maxLength" : 200,
                  "minLength" : 0,
                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                  "description" : "",
                  "x-custom-parameters-attributes" : { }
                },
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "description" : "",
                  "x-custom-parameters-attributes" : { }
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "description" : "",
                  "format" : "int64",
                  "x-custom-parameters-attributes" : { }
                },
                "type" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "description" : "",
                  "enum" : [ "DESK_ADMIN", "AGENT", "PORTAL_USER", "WORKFLOW", "SUPERVISE_RULE", "CUSTOM_FUNCTION", "BLUEPRINT", "BLUEPRINT_TRANSITION", "ALERT", "ASSIGNMENT_RULE", "FIELD_UPDATE", "MACRO", "ROUND_ROBIN", "NOTIFICATION_RULE", "SLA" ],
                  "x-custom-parameters-attributes" : { }
                },
                "url" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)",
                  "description" : "",
                  "x-custom-parameters-attributes" : { }
                }
              },
              "additionalProperties" : false
            },
            "id" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "^([0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12})$",
              "description" : "",
              "x-custom-parameters-attributes" : { }
            },
            "department" : {
              "required" : [ "id", "name" ],
              "properties" : {
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "description" : "",
                  "x-custom-parameters-attributes" : { }
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "description" : "",
                  "format" : "int64",
                  "x-custom-parameters-attributes" : { }
                }
              },
              "additionalProperties" : false
            },
            "event" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "",
              "enum" : [ "ADD", "UPDATE", "DELETE", "RESTORE", "NOTIFICATION", "ASSOCIATE", "SPLIT", "MERGE", "ACTIVATE", "ARCHIVE", "DEACTIVATE", "DISASSOCIATE", "EXECUTION" ],
              "x-custom-parameters-attributes" : { }
            },
            "changeData" : {
              "items" : {
                "required" : [ "fieldId", "fieldName", "fieldType", "newStates", "oldStates" ],
                "properties" : {
                  "fieldName" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "",
                    "x-custom-parameters-attributes" : { }
                  },
                  "newStates" : {
                    "items" : {
                      "required" : [ "fieldValue", "lookupName" ],
                      "properties" : {
                        "fieldValue" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "",
                          "x-custom-parameters-attributes" : { }
                        },
                        "lookupName" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "",
                          "x-custom-parameters-attributes" : { }
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "oldStates" : {
                    "items" : {
                      "required" : [ "fieldValue", "lookupName" ],
                      "properties" : {
                        "fieldValue" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "",
                          "x-custom-parameters-attributes" : { }
                        },
                        "lookupName" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "",
                          "x-custom-parameters-attributes" : { }
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "fieldType" : {
                    "pattern" : "([0-9]+)",
                    "description" : "",
                    "format" : "int32",
                    "x-custom-parameters-attributes" : { }
                  },
                  "fieldId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "",
                    "format" : "int64",
                    "x-custom-parameters-attributes" : { }
                  }
                },
                "additionalProperties" : false
              }
            },
            "moduleId" : {
              "pattern" : "([0-9]+)",
              "description" : "",
              "format" : "int64",
              "x-custom-parameters-attributes" : { }
            },
            "hasChangeData" : {
              "source" : "system",
              "entity" : "AuditLog"
            }
          },
          "additionalProperties" : false
        }
      },
      "moduleSpecificProperties" : {
        "required" : [ "relatedModuleId", "relatedModuleName" ],
        "properties" : {
          "relatedModuleName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "relatedModuleId" : {
            "maxLength" : 100,
            "minLength" : 0
          }
        },
        "additionalProperties" : { }
      },
      "channel" : {
        "required" : [ "apiName", "displayLabel" ],
        "properties" : {
          "displayLabel" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "apiName" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          }
        },
        "additionalProperties" : { }
      },
      "eventSpecificProperties" : {
        "required" : [ "channel" ],
        "properties" : {
          "channel" : {
            "required" : [ "apiName", "displayLabel" ],
            "properties" : {
              "displayLabel" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "apiName" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "singleEntityHistory" : {
        "required" : [ "department", "departmentId", "departmentName", "entityId", "entityName", "event", "eventSpecificProperties", "eventTime", "id", "ipAddress", "module", "moduleId", "moduleName", "moduleSpecificProperties", "primaryActor", "subEvent" ],
        "properties" : {
          "departmentName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "subEvent" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "departmentId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "module" : {
            "required" : [ "displayLabel", "id" ],
            "properties" : {
              "displayLabel" : {
                "maxLength" : 100,
                "minLength" : 0,
                "description" : "",
                "x-custom-parameters-attributes" : { }
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "description" : "",
                "format" : "int64",
                "x-custom-parameters-attributes" : { }
              }
            },
            "additionalProperties" : false
          },
          "moduleName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "ipAddress" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[0-9\\.\\-\\,\\*\\ ]+"
          },
          "entityId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "eventSpecificProperties" : {
            "required" : [ "channel" ],
            "properties" : {
              "channel" : {
                "required" : [ "apiName", "displayLabel" ],
                "properties" : {
                  "displayLabel" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "apiName" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  }
                },
                "additionalProperties" : false
              }
            },
            "additionalProperties" : false
          },
          "entityName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "eventTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "primaryActor" : {
            "required" : [ "id", "name", "photoURL", "type", "url" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 200,
                "minLength" : 0,
                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                "description" : "",
                "x-custom-parameters-attributes" : { }
              },
              "name" : {
                "maxLength" : 100,
                "minLength" : 0,
                "description" : "",
                "x-custom-parameters-attributes" : { }
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "description" : "",
                "format" : "int64",
                "x-custom-parameters-attributes" : { }
              },
              "type" : {
                "maxLength" : 100,
                "minLength" : 0,
                "description" : "",
                "enum" : [ "DESK_ADMIN", "AGENT", "PORTAL_USER", "WORKFLOW", "SUPERVISE_RULE", "CUSTOM_FUNCTION", "BLUEPRINT", "BLUEPRINT_TRANSITION", "ALERT", "ASSIGNMENT_RULE", "FIELD_UPDATE", "MACRO", "ROUND_ROBIN", "NOTIFICATION_RULE", "SLA" ],
                "x-custom-parameters-attributes" : { }
              },
              "url" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)",
                "description" : "",
                "x-custom-parameters-attributes" : { }
              }
            },
            "additionalProperties" : false
          },
          "id" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^([0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12})$"
          },
          "department" : {
            "required" : [ "id", "name" ],
            "properties" : {
              "name" : {
                "maxLength" : 100,
                "minLength" : 0,
                "description" : "",
                "x-custom-parameters-attributes" : { }
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "description" : "",
                "format" : "int64",
                "x-custom-parameters-attributes" : { }
              }
            },
            "additionalProperties" : false
          },
          "event" : {
            "maxLength" : 100,
            "minLength" : 0,
[...]
