{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "AutomationEngine",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "automation"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/automationEngine/engineSupportedActions" : {
      "get" : {
        "tags" : [ "AutomationEngine" ],
        "summary" : "Get Supported Actions of an Engine",
        "description" : "This API fetches the supported Actions of an AutomationEngine",
        "operationId" : "getSupportedActionsEngine",
        "parameters" : [ {
          "name" : "engineSysName",
          "in" : "query",
          "description" : "System Name of the Engine.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "System Name of the Engine."
          }
        }, {
          "name" : "engineId",
          "in" : "query",
          "description" : "ID of the Engine",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the Engine",
            "format" : "int64"
          }
        }, {
          "name" : "module",
          "in" : "query",
          "description" : "API Name of the Module",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "API Name of the Module"
          }
        }, {
          "name" : "moduleId",
          "in" : "query",
          "description" : "ID of the Module",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the Module",
            "format" : "int64"
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department",
            "format" : "int64"
          }
        }, {
          "name" : "eventSystemNames",
          "in" : "query",
          "description" : "System names of the events (e.g., tickets_create, comments_create)",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 50,
            "uniqueItems" : true,
            "description" : "System names of the events (e.g., tickets_create, comments_create)",
            "items" : {
              "maxLength" : 200,
              "minLength" : 0
            },
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "supportedActionsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "actions", "engineName", "modules" ],
                  "properties" : {
                    "engineName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "actions" : {
                      "items" : {
                        "required" : [ "async", "name", "reusable" ],
                        "properties" : {
                          "async" : { },
                          "name" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "reusable" : { }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "modules" : {
                      "items" : {
                        "required" : [ "actions", "events", "name" ],
                        "properties" : {
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "actions" : {
                            "items" : {
                              "required" : [ "async", "name", "reusable" ],
                              "properties" : {
                                "async" : { },
                                "name" : {
                                  "maxLength" : 200,
                                  "minLength" : 0
                                },
                                "reusable" : { }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "events" : {
                            "items" : {
                              "required" : [ "actions", "name", "submodule" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "submodule" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "actions" : {
                                  "items" : {
                                    "required" : [ "async", "name", "reusable" ],
                                    "properties" : {
                                      "async" : { },
                                      "name" : {
                                        "maxLength" : 200,
                                        "minLength" : 0
                                      },
                                      "reusable" : { }
                                    },
                                    "additionalProperties" : false
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "engineName" : "AUTOMATION_STUDIO",
                      "actionCombination" : "UNION",
                      "modules" : [ {
                        "name" : "accounts",
                        "supportedActions" : {
                          "groups" : [ ],
                          "actions" : [ ]
                        },
                        "events" : [ {
                          "submodule" : null,
                          "name" : "CREATE",
                          "supportedActions" : {
                            "groups" : [ {
                              "systemName" : "recordManagement",
                              "actions" : [ {
                                "reusable" : false,
                                "async" : true,
                                "apiName" : "updateRecord",
                                "id" : "1000009730655",
                                "displayLabel" : "Update Record"
                              } ],
                              "displayLabel" : "Record Management"
                            }, {
                              "systemName" : "comment",
                              "actions" : [ {
                                "reusable" : false,
                                "async" : true,
                                "apiName" : "addComment",
                                "id" : "1000000047786",
                                "displayLabel" : "Add Comment"
                              } ],
                              "displayLabel" : "Comment"
                            }, {
                              "systemName" : "notification",
                              "actions" : [ {
                                "reusable" : false,
                                "async" : true,
                                "apiName" : "sendAutomationAlert",
                                "id" : "1000010023003",
                                "displayLabel" : "Send Automation Alert"
                              } ],
                              "displayLabel" : "Notification"
                            }, {
                              "systemName" : "scripting",
                              "actions" : [ {
                                "reusable" : false,
                                "async" : true,
                                "apiName" : "executeCustomFunction",
                                "id" : "1000009730117",
                                "displayLabel" : "Execute Custom Function"
                              } ],
                              "displayLabel" : "Scripting"
                            } ],
                            "actions" : [ ]
                          },
                          "eventSystemName" : "accounts_create"
                        }, {
                          "submodule" : null,
                          "name" : "UPDATE",
                          "supportedActions" : {
                            "groups" : [ {
                              "systemName" : "recordManagement",
                              "actions" : [ {
                                "reusable" : false,
                                "async" : true,
                                "apiName" : "updateRecord",
                                "id" : "1000009730655",
                                "displayLabel" : "Update Record"
                              } ],
                              "displayLabel" : "Record Management"
                            }, {
                              "systemName" : "comment",
                              "actions" : [ {
                                "reusable" : false,
                                "async" : true,
                                "apiName" : "addComment",
                                "id" : "1000000047786",
                                "displayLabel" : "Add Comment"
                              } ],
                              "displayLabel" : "Comment"
                            }, {
                              "systemName" : "notification",
                              "actions" : [ {
                                "reusable" : false,
                                "async" : true,
                                "apiName" : "sendAutomationAlert",
                                "id" : "1000010023003",
                                "displayLabel" : "Send Automation Alert"
                              } ],
                              "displayLabel" : "Notification"
                            }, {
                              "systemName" : "scripting",
                              "actions" : [ {
                                "reusable" : false,
                                "async" : true,
                                "apiName" : "executeCustomFunction",
                                "id" : "1000009730117",
                                "displayLabel" : "Execute Custom Function"
                              } ],
                              "displayLabel" : "Scripting"
                            } ],
                            "actions" : [ ]
                          },
                          "eventSystemName" : "accounts_update"
                        }, {
                          "submodule" : null,
                          "name" : "DELETE",
                          "supportedActions" : {
                            "groups" : [ {
                              "systemName" : "notification",
                              "actions" : [ {
                                "reusable" : false,
                                "async" : true,
                                "apiName" : "sendAutomationAlert",
                                "id" : "1000010023003",
                                "displayLabel" : "Send Automation Alert"
                              } ],
                              "displayLabel" : "Notification"
                            }, {
                              "systemName" : "scripting",
                              "actions" : [ {
                                "reusable" : false,
                                "async" : true,
                                "apiName" : "executeCustomFunction",
                                "id" : "1000009730117",
                                "displayLabel" : "Execute Custom Function"
                              } ],
                              "displayLabel" : "Scripting"
                            } ],
                            "actions" : [ ]
                          },
                          "eventSystemName" : "accounts_delete"
                        }, {
                          "submodule" : "comments",
                          "name" : "CREATE",
                          "supportedActions" : {
                            "groups" : [ {
                              "systemName" : "recordManagement",
                              "actions" : [ {
                                "reusable" : false,
                                "async" : true,
                                "apiName" : "updateRecord",
                                "id" : "1000009730655",
                                "displayLabel" : "Update Record"
                              } ],
                              "displayLabel" : "Record Management"
                            }, {
                              "systemName" : "comment",
                              "actions" : [ {
                                "reusable" : false,
                                "async" : true,
                                "apiName" : "addComment",
                                "id" : "1000000047786",
                                "displayLabel" : "Add Comment"
                              } ],
                              "displayLabel" : "Comment"
                            }, {
                              "systemName" : "notification",
                              "actions" : [ {
                                "reusable" : false,
                                "async" : true,
                                "apiName" : "sendAutomationAlert",
                                "id" : "1000010023003",
                                "displayLabel" : "Send Automation Alert"
                              } ],
                              "displayLabel" : "Notification"
                            }, {
                              "systemName" : "scripting",
                              "actions" : [ {
                                "reusable" : false,
                                "async" : true,
                                "apiName" : "executeCustomFunction",
                                "id" : "1000009730117",
                                "displayLabel" : "Execute Custom Function"
                              } ],
                              "displayLabel" : "Scripting"
                            } ],
                            "actions" : [ ]
                          },
                          "eventSystemName" : "comments_create"
                        }, {
                          "submodule" : "comments",
                          "name" : "UPDATE",
                          "supportedActions" : {
                            "groups" : [ {
                              "systemName" : "recordManagement",
                              "actions" : [ {
                                "reusable" : false,
                                "async" : true,
                                "apiName" : "updateRecord",
                                "id" : "1000009730655",
                                "displayLabel" : "Update Record"
                              } ],
                              "displayLabel" : "Record Management"
                            }, {
                              "systemName" : "comment",
                              "actions" : [ {
                                "reusable" : false,
                                "async" : true,
                                "apiName" : "addComment",
                                "id" : "1000000047786",
                                "displayLabel" : "Add Comment"
                              } ],
                              "displayLabel" : "Comment"
                            }, {
                              "systemName" : "notification",
                              "actions" : [ {
                                "reusable" : false,
                                "async" : true,
                                "apiName" : "sendAutomationAlert",
                                "id" : "1000010023003",
                                "displayLabel" : "Send Automation Alert"
                              } ],
                              "displayLabel" : "Notification"
                            }, {
                              "systemName" : "scripting",
                              "actions" : [ {
                                "reusable" : false,
                                "async" : true,
                                "apiName" : "executeCustomFunction",
                                "id" : "1000009730117",
                                "displayLabel" : "Execute Custom Function"
                              } ],
                              "displayLabel" : "Scripting"
                            } ],
                            "actions" : [ ]
                          },
                          "eventSystemName" : "comments_update"
                        }, {
                          "submodule" : "comments",
                          "name" : "DELETE",
                          "supportedActions" : {
                            "groups" : [ {
                              "systemName" : "notification",
                              "actions" : [ {
                                "reusable" : false,
                                "async" : true,
                                "apiName" : "sendAutomationAlert",
                                "id" : "1000010023003",
                                "displayLabel" : "Send Automation Alert"
                              } ],
                              "displayLabel" : "Notification"
                            }, {
                              "systemName" : "scripting",
                              "actions" : [ {
                                "reusable" : false,
                                "async" : true,
                                "apiName" : "executeCustomFunction",
                                "id" : "1000009730117",
                                "displayLabel" : "Execute Custom Function"
                              } ],
                              "displayLabel" : "Scripting"
                            } ],
                            "actions" : [ ]
                          },
                          "eventSystemName" : "comments_delete"
                        } ],
                        "groupOrder" : [ "notification", "recordManagement", "scripting", "comment" ]
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "d68fe045f86d66bd01070f5176a9cde4",
          "module-group" : "automation",
          "apimethod" : "com.zoho.desk.automationengine.restapi.AutomationEngineService.getSupportedActionsEngine"
        }
      }
    },
    "/api/v1/engines" : {
      "get" : {
        "tags" : [ "AutomationEngine" ],
        "summary" : "Get list of engines",
        "description" : "This API fetches the list of engines",
        "operationId" : "getAutomationEngine",
        "parameters" : [ {
          "name" : "systemNames",
          "in" : "query",
          "description" : "Comma separated system names of the engine",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 50,
            "uniqueItems" : true,
            "description" : "Specifies the system name of the engines (e.g., WORKFLOWS, MACRO). <br><br>_Note:_ Provide the values as a comma-separated array. A maximum of 50 system names is allowed.",
            "items" : {
              "maxLength" : 200,
              "minLength" : 0,
              "x-custom-parameters-attributes" : {
                "split" : ","
              }
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of engines to be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 200,
            "pattern" : "([0-9]+)",
            "description" : "The number of engines to be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "The starting index from which engines should be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "The starting index from which engines should be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Automation Engine JSON",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "engineExecutionType", "engineID", "engineProperties", "name", "ruleGroupOrderType", "systemName" ],
                        "properties" : {
                          "engineID" : { },
                          "name" : { },
                          "systemName" : { },
                          "engineExecutionType" : { },
                          "ruleGroupOrderType" : { },
                          "engineProperties" : {
                            "properties" : {
                              "engineDeptProperties" : {
                                "items" : {
                                  "required" : [ "configurationType", "order", "status" ],
                                  "properties" : {
                                    "departmentId" : { },
                                    "order" : { },
                                    "status" : { },
                                    "configurationType" : { }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples" : {
                  "default" : {
                    "value" : {
                      "data" : [ {
                        "engineID" : "3000000048725",
                        "name" : "Workflows",
                        "systemName" : "WORKFLOWS",
                        "engineExecutionType" : "1",
                        "ruleGroupOrderType" : "3",
                        "engineProperties" : {
                          "engineDeptProperties" : [ {
                            "departmentId" : null,
                            "order" : "10",
                            "status" : "ACTIVE",
                            "configurationType" : "0"
                          } ]
                        }
                      }, {
                        "engineID" : "3000000048711",
                        "name" : "Macro Rules",
                        "systemName" : "MACRO",
                        "engineExecutionType" : "2",
                        "ruleGroupOrderType" : "4",
                        "engineProperties" : {
                          "engineDeptProperties" : [ {
                            "departmentId" : null,
                            "order" : "2",
                            "status" : "ACTIVE",
                            "configurationType" : "2"
                          } ]
                        }
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "2d8a1895e52efecba29d866890b3540e",
          "module-group" : "automation",
          "apimethod" : "com.zoho.desk.automationengine.restapi.AutomationEngineService.getAutomationEngine"
        }
      }
    },
    "/api/v1/engines/{engineId}/modules" : {
      "get" : {
        "tags" : [ "AutomationEngine" ],
        "summary" : "Get supported modules of an engine",
        "description" : "This API gives the supported modules of an engine.",
        "operationId" : "getSupportedModulesOfEngine",
        "parameters" : [ {
          "name" : "engineId",
          "in" : "path",
          "description" : "The id  of the engine.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Supported modules of the engine",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "apiName", "displayLabel", "i18NLabel", "id", "isCustomModule", "isDeptSpecific" ],
                        "properties" : {
                          "displayLabel" : {
                            "x-custom-parameters-attributes" : {
                              "validation" : {
                                "maxLength" : 100
                              }
                            }
                          },
                          "apiName" : {
                            "x-custom-parameters-attributes" : {
                              "validation" : {
                                "maxLength" : 100
                              }
                            }
                          },
                          "id" : {
                            "x-custom-parameters-attributes" : {
                              "validation" : {
                                "maxLength" : 30
                              }
                            }
                          },
                          "isCustomModule" : { },
                          "isDeptSpecific" : { },
                          "i18NLabel" : {
                            "x-custom-parameters-attributes" : {
                              "validation" : {
                                "maxLength" : 100
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples" : {
                  "default" : {
                    "value" : {
                      "data" : [ {
                        "displayLabel" : "Tickets",
                        "apiName" : "tickets",
                        "id" : "1000000000585",
                        "isCustomModule" : false,
                        "isDeptSpecific" : true,
                        "i18NLabel" : "Tickets"
                      }, {
                        "displayLabel" : "Contacts",
                        "apiName" : "contacts",
                        "id" : "1000000000587",
                        "isCustomModule" : false,
                        "isDeptSpecific" : false,
                        "i18NLabel" : "Contacts"
                      }, {
                        "displayLabel" : "Accounts",
                        "apiName" : "accounts",
                        "id" : "1000000000589",
                        "isCustomModule" : false,
                        "isDeptSpecific" : true,
                        "i18NLabel" : "Accounts"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "headers" : { },
              "security" : { }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attributes" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "552a042d480a07bf0ec5243391e3a355",
          "module-group" : "automation",
          "apimethod" : "com.zoho.desk.automationengine.restapi.AutomationEngineService.getEngineSupportedModules"
        }
      }
    },
    "/api/v1/engines/{engineId}/modules/{moduleId}/events" : {
      "get" : {
        "tags" : [ "AutomationEngine" ],
        "summary" : "Get supported events in a module of a specific engine",
        "description" : "This API gives the supported events in a module of a specific engine.",
        "operationId" : "getSupportedEventsOfModule",
        "parameters" : [ {
          "name" : "engineId",
          "in" : "path",
          "description" : "The id of the engine.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "moduleId",
          "in" : "path",
          "description" : "The id of the module.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Supported events in a module of a specific engine",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "baseEvent", "displayLabel", "module", "sysName" ],
                        "properties" : {
                          "displayLabel" : {
                            "x-custom-parameters-attributes" : {
                              "validation" : {
                                "maxLength" : 100
                              }
                            }
                          },
                          "module" : {
                            "required" : [ "apiName", "displayLabel", "id" ],
                            "properties" : {
                              "displayLabel" : {
                                "x-custom-parameters-attributes" : {
                                  "validation" : {
                                    "maxLength" : 100
                                  }
                                }
                              },
                              "apiName" : {
                                "x-custom-parameters-attributes" : {
                                  "validation" : {
                                    "maxLength" : 100
                                  }
                                }
                              },
                              "id" : {
                                "x-custom-parameters-attributes" : {
                                  "validation" : {
                                    "maxLength" : 30
                                  }
                                }
                              }
                            }
                          },
                          "baseEvent" : {
                            "x-custom-parameters-attributes" : {
                              "validation" : {
                                "maxLength" : 30
                              }
                            }
                          },
                          "sysName" : {
                            "x-custom-parameters-attributes" : {
                              "validation" : {
                                "maxLength" : 100
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples" : {
                  "default" : {
                    "value" : {
                      "data" : [ {
                        "displayLabel" : "Ticket Created",
                        "module" : {
                          "displayLabel" : "Tickets",
                          "apiName" : "tickets",
                          "id" : "1000000000585"
                        },
                        "baseEvent" : "CREATE",
                        "sysName" : "tickets_create"
                      }, {
                        "displayLabel" : "Ticket Updated",
                        "module" : {
                          "displayLabel" : "Tickets",
                          "apiName" : "tickets",
                          "id" : "1000000000585"
                        },
                        "baseEvent" : "UPDATE",
                        "sysName" : "tickets_update"
                      }, {
                        "displayLabel" : "Ticket Deleted",
                        "module" : {
                          "displayLabel" : "Tickets",
                          "apiName" : "tickets",
                          "id" : "1000000000585"
                        },
                        "baseEvent" : "DELETE",
                        "sysName" : "tickets_delete"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "headers" : { },
              "security" : { }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attributes" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "0b8de3fa4b4fd3b05739f4193ed5bdfa",
          "module-group" : "automation",
          "apimethod" : "com.zoho.desk.automationengine.restapi.AutomationEngineService.getModuleSupportedEvents"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "actionObject" : {
        "required" : [ "async", "name", "reusable" ],
        "properties" : {
          "async" : { },
          "name" : {
            "maxLength" : 200,
            "minLength" : 0
          },
          "reusable" : { }
        },
        "additionalProperties" : { }
      },
      "actions" : {
        "items" : {
          "required" : [ "async", "name", "reusable" ],
          "properties" : {
            "async" : { },
            "name" : {
              "maxLength" : 200,
              "minLength" : 0
            },
            "reusable" : { }
          },
          "additionalProperties" : false
        }
      },
      "eventsObject" : {
        "required" : [ "actions", "name", "submodule" ],
        "properties" : {
          "name" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "submodule" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "actions" : {
            "items" : {
              "required" : [ "async", "name", "reusable" ],
              "properties" : {
                "async" : { },
                "name" : {
                  "maxLength" : 200,
                  "minLength" : 0
                },
                "reusable" : { }
              },
              "additionalProperties" : false
            }
          }
        },
        "additionalProperties" : { }
      },
      "events" : {
        "items" : {
          "required" : [ "actions", "name", "submodule" ],
          "properties" : {
            "name" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "submodule" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "actions" : {
              "items" : {
                "required" : [ "async", "name", "reusable" ],
                "properties" : {
                  "async" : { },
                  "name" : {
                    "maxLength" : 200,
                    "minLength" : 0
                  },
                  "reusable" : { }
                },
                "additionalProperties" : false
              }
            }
          },
          "additionalProperties" : false
        }
      },
      "modulesObject" : {
        "required" : [ "actions", "events", "name" ],
        "properties" : {
          "name" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "actions" : {
            "items" : {
              "required" : [ "async", "name", "reusable" ],
              "properties" : {
                "async" : { },
                "name" : {
                  "maxLength" : 200,
                  "minLength" : 0
                },
                "reusable" : { }
              },
              "additionalProperties" : false
            }
          },
          "events" : {
            "items" : {
              "required" : [ "actions", "name", "submodule" ],
              "properties" : {
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "submodule" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "actions" : {
                  "items" : {
                    "required" : [ "async", "name", "reusable" ],
                    "properties" : {
                      "async" : { },
                      "name" : {
                        "maxLength" : 200,
                        "minLength" : 0
                      },
                      "reusable" : { }
                    },
                    "additionalProperties" : false
                  }
                }
              },
              "additionalProperties" : false
            }
          }
        },
        "additionalProperties" : { }
      },
      "modules" : {
        "items" : {
          "required" : [ "actions", "events", "name" ],
          "properties" : {
            "name" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "actions" : {
              "items" : {
                "required" : [ "async", "name", "reusable" ],
                "properties" : {
                  "async" : { },
                  "name" : {
                    "maxLength" : 200,
                    "minLength" : 0
                  },
                  "reusable" : { }
                },
                "additionalProperties" : false
              }
            },
            "events" : {
              "items" : {
                "required" : [ "actions", "name", "submodule" ],
                "properties" : {
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "submodule" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "actions" : {
                    "items" : {
                      "required" : [ "async", "name", "reusable" ],
                      "properties" : {
                        "async" : { },
                        "name" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        },
                        "reusable" : { }
                      },
                      "additionalProperties" : false
                    }
                  }
                },
                "additionalProperties" : false
              }
            }
          },
          "additionalProperties" : false
        }
      },
      "EngineDeptProperty" : {
        "required" : [ "configurationType", "order", "status" ],
        "properties" : {
          "departmentId" : { },
          "order" : { },
          "status" : { },
          "configurationType" : { }
        }
      },
      "EngineProperties" : {
        "required" : [ "data" ],
        "properties" : {
          "engineDeptProperties" : {
            "items" : {
              "required" : [ "configurationType", "order", "status" ],
              "properties" : {
                "departmentId" : { },
                "order" : { },
                "status" : { },
                "configurationType" : { }
              }
            }
          }
        }
      },
      "EngineModule" : {
        "required" : [ "apiName", "displayLabel", "i18NLabel", "id", "isCustomModule", "isDeptSpecific" ],
        "properties" : {
          "displayLabel" : {
            "x-custom-parameters-attributes" : {
              "validation" : {
                "maxLength" : 100
              }
            }
          },
          "apiName" : {
            "x-custom-parameters-attributes" : {
              "validation" : {
                "maxLength" : 100
              }
            }
          },
          "id" : {
            "x-custom-parameters-attributes" : {
              "validation" : {
                "maxLength" : 30
              }
            }
          },
          "isCustomModule" : { },
          "isDeptSpecific" : { },
          "i18NLabel" : {
            "x-custom-parameters-attributes" : {
              "validation" : {
                "maxLength" : 100
              }
            }
          }
        }
      },
      "EngineModulesResponse" : {
        "required" : [ "data" ],
        "properties" : {
          "data" : {
            "items" : {
              "required" : [ "apiName", "displayLabel", "i18NLabel", "id", "isCustomModule", "isDeptSpecific" ],
              "properties" : {
                "displayLabel" : {
                  "x-custom-parameters-attributes" : {
                    "validation" : {
                      "maxLength" : 100
                    }
                  }
                },
                "apiName" : {
                  "x-custom-parameters-attributes" : {
                    "validation" : {
                      "maxLength" : 100
                    }
                  }
                },
                "id" : {
                  "x-custom-parameters-attributes" : {
                    "validation" : {
                      "maxLength" : 30
                    }
                  }
                },
                "isCustomModule" : { },
                "isDeptSpecific" : { },
                "i18NLabel" : {
                  "x-custom-parameters-attributes" : {
                    "validation" : {
                      "maxLength" : 100
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Module" : {
        "required" : [ "apiName", "displayLabel", "id" ],
        "properties" : {
          "displayLabel" : {
            "x-custom-parameters-attributes" : {
              "validation" : {
                "maxLength" : 100
              }
            }
          },
          "apiName" : {
            "x-custom-parameters-attributes" : {
              "validation" : {
                "maxLength" : 100
              }
            }
          },
          "id" : {
            "x-custom-parameters-attributes" : {
              "validation" : {
                "maxLength" : 30
              }
            }
          }
        }
      },
      "ModuleEvent" : {
        "required" : [ "baseEvent", "displayLabel", "module", "sysName" ],
        "properties" : {
          "displayLabel" : {
            "x-custom-parameters-attributes" : {
              "validation" : {
                "maxLength" : 100
              }
            }
          },
          "module" : {
            "required" : [ "apiName", "displayLabel", "id" ],
            "properties" : {
              "displayLabel" : {
                "x-custom-parameters-attributes" : {
                  "validation" : {
                    "maxLength" : 100
                  }
                }
              },
              "apiName" : {
                "x-custom-parameters-attributes" : {
                  "validation" : {
                    "maxLength" : 100
                  }
                }
              },
              "id" : {
                "x-custom-parameters-attributes" : {
                  "validation" : {
                    "maxLength" : 30
                  }
                }
              }
            }
          },
          "baseEvent" : {
            "x-custom-parameters-attributes" : {
              "validation" : {
                "maxLength" : 30
              }
            }
          },
          "sysName" : {
            "x-custom-parameters-attributes" : {
              "validation" : {
                "maxLength" : 100
              }
            }
          }
        }
      },
      "ModuleEventsResponse" : {
        "required" : [ "data" ],
        "properties" : {
          "data" : {
            "items" : {
              "required" : [ "baseEvent", "displayLabel", "module", "sysName" ],
              "properties" : {
                "displayLabel" : {
                  "x-custom-parameters-attributes" : {
                    "validation" : {
                      "maxLength" : 100
                    }
                  }
                },
                "module" : {
                  "required" : [ "apiName", "displayLabel", "id" ],
                  "properties" : {
                    "displayLabel" : {
                      "x-custom-parameters-attributes" : {
                        "validation" : {
                          "maxLength" : 100
                        }
                      }
                    },
                    "apiName" : {
                      "x-custom-parameters-attributes" : {
                        "validation" : {
                          "maxLength" : 100
                        }
                      }
                    },
                    "id" : {
                      "x-custom-parameters-attributes" : {
                        "validation" : {
                          "maxLength" : 30
                        }
                      }
                    }
                  }
                },
                "baseEvent" : {
                  "x-custom-parameters-attributes" : {
                    "validation" : {
                      "maxLength" : 30
                    }
                  }
                },
                "sysName" : {
                  "x-custom-parameters-attributes" : {
                    "validation" : {
                      "maxLength" : 100
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Engine" : {
        "required" : [ "engineExecutionType", "engineID", "engineProperties", "name", "ruleGroupOrderType", "systemName" ],
        "properties" : {
          "engineID" : { },
          "name" : { },
          "systemName" : { },
          "engineExecutionType" : { },
          "ruleGroupOrderType" : { },
          "engineProperties" : {
            "properties" : {
              "engineDeptProperties" : {
                "items" : {
                  "required" : [ "configurationType", "order", "status" ],
                  "properties" : {
                    "departmentId" : { },
                    "order" : { },
                    "status" : { },
                    "configurationType" : { }
                  }
                }
              }
            }
          }
        }
      },
      "AutomationEngineResponse" : {
        "required" : [ "data" ],
        "properties" : {
          "data" : {
            "items" : {
              "required" : [ "engineExecutionType", "engineID", "engineProperties", "name", "ruleGroupOrderType", "systemName" ],
              "properties" : {
                "engineID" : { },
                "name" : { },
                "systemName" : { },
                "engineExecutionType" : { },
                "ruleGroupOrderType" : { },
                "engineProperties" : {
                  "properties" : {
                    "engineDeptProperties" : {
                      "items" : {
                        "required" : [ "configurationType", "order", "status" ],
                        "properties" : {
                          "departmentId" : { },
                          "order" : { },
                          "status" : { },
                          "configurationType" : { }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "supportedActionsResponse" : {
        "description" : "supportedActionsResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "actions", "engineName", "modules" ],
              "properties" : {
                "engineName" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "actions" : {
                  "items" : {
                    "required" : [ "async", "name", "reusable" ],
                    "properties" : {
                      "async" : { },
                      "name" : {
                        "maxLength" : 200,
                        "minLength" : 0
                      },
                      "reusable" : { }
                    },
                    "additionalProperties" : false
                  }
                },
                "modules" : {
                  "items" : {
                    "required" : [ "actions", "events", "name" ],
                    "properties" : {
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "actions" : {
                        "items" : {
                          "required" : [ "async", "name", "reusable" ],
                          "properties" : {
                            "async" : { },
                            "name" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "reusable" : { }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "events" : {
                        "items" : {
                          "required" : [ "actions", "name", "submodule" ],
                          "properties" : {
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "submodule" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "actions" : {
                              "items" : {
                                "required" : [ "async", "name", "reusable" ],
                                "properties" : {
                                  "async" : { },
                                  "name" : {
                                    "maxLength" : 200,
                                    "minLength" : 0
                                  },
                                  "reusable" : { }
                                },
                                "additionalProperties" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : false
                  }
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "engineName" : "AUTOMATION_STUDIO",
                  "actionCombination" : "UNION",
                  "modules" : [ {
                    "name" : "accounts",
                    "supportedActions" : {
                      "groups" : [ ],
                      "actions" : [ ]
                    },
                    "events" : [ {
                      "submodule" : null,
                      "name" : "CREATE",
                      "supportedActions" : {
                        "groups" : [ {
                          "systemName" : "recordManagement",
                          "actions" : [ {
                            "reusable" : false,
                            "async" : true,
                            "apiName" : "updateRecord",
                            "id" : "1000009730655",
                            "displayLabel" : "Update Record"
                          } ],
                          "displayLabel" : "Record Management"
                        }, {
                          "systemName" : "comment",
                          "actions" : [ {
                            "reusable" : false,
                            "async" : true,
                            "apiName" : "addComment",
                            "id" : "1000000047786",
                            "displayLabel" : "Add Comment"
                          } ],
                          "displayLabel" : "Comment"
                        }, {
                          "systemName" : "notification",
                          "actions" : [ {
                            "reusable" : false,
                            "async" : true,
                            "apiName" : "sendAutomationAlert",
                            "id" : "1000010023003",
                            "displayLabel" : "Send Automation Alert"
                          } ],
                          "displayLabel" : "Notification"
                        }, {
                          "systemName" : "scripting",
                          "actions" : [ {
                            "reusable" : false,
                            "async" : true,
                            "apiName" : "executeCustomFunction",
                            "id" : "1000009730117",
                            "displayLabel" : "Execute Custom Function"
                          } ],
                          "displayLabel" : "Scripting"
                        } ],
                        "actions" : [ ]
                      },
                      "eventSystemName" : "accounts_create"
                    }, {
                      "submodule" : null,
                      "name" : "UPDATE",
                      "supportedActions" : {
                        "groups" : [ {
                          "systemName" : "recordManagement",
                          "actions" : [ {
                            "reusable" : false,
                            "async" : true,
                            "apiName" : "updateRecord",
                            "id" : "1000009730655",
                            "displayLabel" : "Update Record"
                          } ],
                          "displayLabel" : "Record Management"
                        }, {
                          "systemName" : "comment",
                          "actions" : [ {
                            "reusable" : false,
                            "async" : true,
                            "apiName" : "addComment",
                            "id" : "1000000047786",
                            "displayLabel" : "Add Comment"
                          } ],
                          "displayLabel" : "Comment"
                        }, {
                          "systemName" : "notification",
                          "actions" : [ {
                            "reusable" : false,
                            "async" : true,
                            "apiName" : "sendAutomationAlert",
                            "id" : "1000010023003",
                            "displayLabel" : "Send Automation Alert"
                          } ],
                          "displayLabel" : "Notification"
                        }, {
                          "systemName" : "scripting",
                          "actions" : [ {
                            "reusable" : false,
                            "async" : true,
                            "apiName" : "executeCustomFunction",
                            "id" : "1000009730117",
                            "displayLabel" : "Execute Custom Function"
                          } ],
                          "displayLabel" : "Scripting"
                        } ],
                        "actions" : [ ]
                      },
                      "eventSystemName" : "accounts_update"
                    }, {
                      "submodule" : null,
                      "name" : "DELETE",
                      "supportedActions" : {
                        "groups" : [ {
                          "systemName" : "notification",
                          "actions" : [ {
                            "reusable" : false,
                            "async" : true,
                            "apiName" : "sendAutomationAlert",
                            "id" : "1000010023003",
                            "displayLabel" : "Send Automation Alert"
                          } ],
                          "displayLabel" : "Notification"
                        }, {
                          "systemName" : "scripting",
                          "actions" : [ {
                            "reusable" : false,
                            "async" : true,
                            "apiName" : "executeCustomFunction",
                            "id" : "1000009730117",
                            "displayLabel" : "Execute Custom Function"
                          } ],
                          "displayLabel" : "Scripting"
                        } ],
                        "actions" : [ ]
                      },
                      "eventSystemName" : "accounts_delete"
                    }, {
                      "submodule" : "comments",
                      "name" : "CREATE",
                      "supportedActions" : {
                        "groups" : [ {
                          "systemName" : "recordManagement",
                          "actions" : [ {
                            "reusable" : false,
                            "async" : true,
                            "apiName" : "updateRecord",
                            "id" : "1000009730655",
                            "displayLabel" : "Update Record"
                          } ],
                          "displayLabel" : "Record Management"
                        }, {
                          "systemName" : "comment",
                          "actions" : [ {
                            "reusable" : false,
                            "async" : true,
                            "apiName" : "addComment",
                            "id" : "1000000047786",
                            "displayLabel" : "Add Comment"
                          } ],
                          "displayLabel" : "Comment"
                        }, {
                          "systemName" : "notification",
                          "actions" : [ {
                            "reusable" : false,
                            "async" : true,
                            "apiName" : "sendAutomationAlert",
                            "id" : "1000010023003",
                            "displayLabel" : "Send Automation Alert"
                          } ],
                          "displayLabel" : "Notification"
                        }, {
                          "systemName" : "scripting",
                          "actions" : [ {
                            "reusable" : false,
                            "async" : true,
                            "apiName" : "executeCustomFunction",
                            "id" : "1000009730117",
                            "displayLabel" : "Execute Custom Function"
                          } ],
                          "displayLabel" : "Scripting"
                        } ],
                        "actions" : [ ]
                      },
                      "eventSystemName" : "comments_create"
                    }, {
                      "submodule" : "comments",
                      "name" : "UPDATE",
                      "supportedActions" : {
                        "groups" : [ {
                          "systemName" : "recordManagement",
                          "actions" : [ {
                            "reusable" : false,
                            "async" : true,
                            "apiName" : "updateRecord",
                            "id" : "1000009730655",
                            "displayLabel" : "Update Record"
                          } ],
                          "displayLabel" : "Record Management"
                        }, {
                          "systemName" : "comment",
                          "actions" : [ {
                            "reusable" : false,
                            "async" : true,
                            "apiName" : "addComment",
                            "id" : "1000000047786",
                            "displayLabel" : "Add Comment"
                          } ],
                          "displayLabel" : "Comment"
                        }, {
                          "systemName" : "notification",
                          "actions" : [ {
                            "reusable" : false,
                            "async" : true,
                            "apiName" : "sendAutomationAlert",
                            "id" : "1000010023003",
                            "displayLabel" : "Send Automation Alert"
                          } ],
                          "displayLabel" : "Notification"
                        }, {
                          "systemName" : "scripting",
                          "actions" : [ {
                            "reusable" : false,
                            "async" : true,
                            "apiName" : "executeCustomFunction",
                            "id" : "1000009730117",
                            "displayLabel" : "Execute Custom Function"
                          } ],
                          "displayLabel" : "Scripting"
                        } ],
                        "actions" : [ ]
                      },
                      "eventSystemName" : "comments_update"
                    }, {
                      "submodule" : "comments",
                      "name" : "DELETE",
                      "supportedActions" : {
                        "groups" : [ {
                          "systemName" : "notification",
                          "actions" : [ {
                            "reusable" : false,
                            "async" : true,
                            "apiName" : "sendAutomationAlert",
                            "id" : "1000010023003",
                            "displayLabel" : "Send Automation Alert"
                          } ],
                          "displayLabel" : "Notification"
                        }, {
                          "systemName" : "scripting",
                          "actions" : [ {
                            "reusable" : false,
                            "async" : true,
                            "apiName" : "executeCustomFunction",
                            "id" : "1000009730117",
                            "displayLabel" : "Execute Custom Function"
                          } ],
                          "displayLabel" : "Scripting"
                        } ],
                        "actions" : [ ]
                      },
                      "eventSystemName" : "comments_delete"
                    } ],
                    "groupOrder" : [ "notification", "recordManagement", "scripting", "comment" ]
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "automationEngineJson" : {
        "description" : "Automation Engine JSON",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "data" ],
              "properties" : {
                "data" : {
                  "items" : {
                    "required" : [ "engineExecutionType", "engineID", "engineProperties", "name", "ruleGroupOrderType", "systemName" ],
                    "properties" : {
                      "engineID" : { },
                      "name" : { },
                      "systemName" : { },
                      "engineExecutionType" : { },
                      "ruleGroupOrderType" : { },
                      "engineProperties" : {
                        "properties" : {
                          "engineDeptProperties" : {
                            "items" : {
                              "required" : [ "configurationType", "order", "status" ],
                              "properties" : {
                                "departmentId" : { },
                                "order" : { },
                                "status" : { },
                                "configurationType" : { }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "examples" : {
              "default" : {
                "value" : {
                  "data" : [ {
                    "engineID" : "3000000048725",
                    "name" : "Workflows",
                    "systemName" : "WORKFLOWS",
                    "engineExecutionType" : "1",
                    "ruleGroupOrderType" : "3",
                    "engineProperties" : {
                      "engineDeptProperties" : [ {
                        "departmentId" : null,
                        "order" : "10",
                        "status" : "ACTIVE",
                        "configurationType" : "0"
                      } ]
                    }
                  }, {
                    "engineID" : "3000000048711",
                    "name" : "Macro Rules",
                    "systemName" : "MACRO",
                    "engineExecutionType" : "2",
                    "ruleGroupOrderType" : "4",
                    "engineProperties" : {
                      "engineDeptProperties" : [ {
                        "departmentId" : null,
                        "order" : "2",
                        "status" : "ACTIVE",
                        "configurationType" : "2"
                      } ]
                    }
                  } ]
                }
              }
            }
          }
        }
      },
      "engineModulesJson" : {
        "description" : "Supported modules of the engine",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "data" ],
              "properties" : {
                "data" : {
                  "items" : {
                    "required" : [ "apiName", "displayLabel", "i18NLabel", "id", "isCustomModule", "isDeptSpecific" ],
                    "properties" : {
                      "displayLabel" : {
                        "x-custom-parameters-attributes" : {
                          "validation" : {
                            "maxLength" : 100
                          }
                        }
                      },
                      "apiName" : {
                        "x-custom-parameters-attributes" : {
                          "validation" : {
                            "maxLength" : 100
                          }
                        }
                      },
                      "id" : {
                        "x-custom-parameters-attributes" : {
                          "validation" : {
                            "maxLength" : 30
                          }
                        }
                      },
                      "isCustomModule" : { },
                      "isDeptSpecific" : { },
                      "i18NLabel" : {
                        "x-custom-parameters-attributes" : {
                          "validation" : {
                            "maxLength" : 100
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "examples" : {
              "default" : {
                "value" : {
                  "data" : [ {
                    "displayLabel" : "Tickets",
                    "apiName" : "tickets",
                    "id" : "1000000000585",
                    "isCustomModule" : false,
                    "isDeptSpecific" : true,
                    "i18NLabel" : "Tickets"
                  }, {
                    "displayLabel" : "Contacts",
                    "apiName" : "contacts",
                    "id" : "1000000000587",
                    "isCustomModule" : false,
                    "isDeptSpecific" : false,
                    "i18NLabel" : "Contacts"
                  }, {
                    "displayLabel" : "Accounts",
                    "apiName" : "accounts",
                    "id" : "1000000000589",
                    "isCustomModule" : false,
                    "isDeptSpecific" : true,
                    "i18NLabel" : "Accounts"
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "headers" : { },
          "security" : { }
        }
      },
      "moduleEventsJson" : {
        "description" : "Supported events in a module of a specific engine",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "data" ],
              "properties" : {
                "data" : {
                  "items" : {
                    "required" : [ "baseEvent", "displayLabel", "module", "sysName" ],
                    "properties" : {
                      "displayLabel" : {
                        "x-custom-parameters-attributes" : {
                          "validation" : {
                            "maxLength" : 100
                          }
                        }
                      },
                      "module" : {
                        "required" : [ "apiName", "displayLabel", "id" ],
                        "properties" : {
                          "displayLabel" : {
                            "x-custom-parameters-attributes" : {
                              "validation" : {
                                "maxLength" : 100
                              }
                            }
                          },
                          "apiName" : {
                            "x-custom-parameters-attributes" : {
                              "validation" : {
                                "maxLength" : 100
                              }
                            }
                          },
                          "id" : {
                            "x-custom-parameters-attributes" : {
                              "validation" : {
                                "maxLength" : 30
                              }
                            }
                          }
                        }
                      },
                      "baseEvent" : {
                        "x-custom-parameters-attributes" : {
                          "validation" : {
                            "maxLength" : 30
                          }
                        }
                      },
                      "sysName" : {
                        "x-custom-parameters-attributes" : {
                          "validation" : {
                            "maxLength" : 100
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "examples" : {
              "default" : {
                "value" : {
                  "data" : [ {
                    "displayLabel" : "Ticket Created",
                    "module" : {
                      "displayLabel" : "Tickets",
                      "apiName" : "tickets",
                      "id" : "1000000000585"
                    },
                    "baseEvent" : "CREATE",
                    "sysName" : "tickets_create"
                  }, {
                    "displayLabel" : "Ticket Updated",
                    "module" : {
                      "displayLabel" : "Tickets",
                      "apiName" : "tickets",
                      "id" : "1000000000585"
                    },
                    "baseEvent" : "UPDATE",
                    "sysName" : "tickets_update"
                  }, {
                    "displayLabel" : "Ticket Deleted",
                    "module" : {
                      "displayLabel" : "Tickets",
                      "apiName" : "tickets",
                      "id" : "1000000000585"
                    },
                    "baseEvent" : "DELETE",
                    "sysName" : "tickets_delete"
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "headers" : { },
          "security" : { }
        }
      },
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "OAuth Org Mismatch Error Response" : {
                "value" : {
                  "errorCode" : "OAUTH_ORG_MISMATCH",
                  "message" : "The OAuthToken is not valid for specified organization."
                }
              }
            }
          }
        }
      },
      "forbiddenErrorResponse" : {
        "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Forbidden Error Response" : {
                "value" : {
                  "errorCode" : "FORBIDDEN",
                  "message" : "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "urlNotFoundErrorResponse" : {
        "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Url Not Found Error Response" : {
                "value" : {
                  "errorCode" : "URL_NOT_FOUND",
                  "message" : "The URL you requested could not be found."
                }
              }
            }
          }
        }
      },
      "methodNotAllowedErrorResponse" : {
        "description" : "This errorCode value appears if the method in the API request is known by the server but disabled for the API requested.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Method Not Allowed Error Response" : {
                "value" : {
                  "errorCode" : "METHOD_NOT_ALLOWED",
                  "message" : "This HTTP method is not allowed on this URL."
                }
              }
            }
          }
        }
      },
      "resourceSizeExceededErrorResponse" : {
        "description" : "This errorCode value appears if the size of the resource exceeds the limit defined by the server.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Resource Size Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "RESOURCE_SIZE_EXCEEDED",
                  "message" : "Attachment size is too large. The maximum size supported is 20 MB."
                }
              }
            }
          }
        }
      },
      "unSupportedMediaTypeErrorResponse" : {
        "description" : "This errorCode value appears if the server refuses the request as a result of receiving the input in an unsupported format.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unsupported Media Type Error Response" : {
                "value" : {
                  "errorCode" : "UNSUPPORTED_MEDIA_TYPE",
                  "message" : "The given content type is not supported. Please provide the input Content-Type as application/json"
                }
              }
            }
          }
        }
      },
      "unprocessableEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The value passed for the 'from' query parameter is invalid."
                }
              }
            }
          }
        }
      },
      "missingEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not contain the mandatory parameters for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The mandatory parameter 'permission' is missing"
                }
              }
            }
          }
        }
      },
      "thresholdExceedErrorResponse" : {
        "description" : "This errorCode value appears if the user sends too many requests within a given amount of time (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Threshold Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "THRESHOLD_EXCEEDED",
                  "message" : "The maximum number of API calls that can be made per day has been exceeded."
                }
              }
            }
          }
        }
      },
      "concurrentRateLimitExceededErrorResponse" : {
        "description" : "This errorCode value appears if the user fires too many requests in a simultaneous/concurrent manner (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Concurrent Rate Limit Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "TOO_MANY_REQUESTS",
                  "message" : "The maximum number of Concurrent API Calls that can be made has been exceeded."
                }
              }
            }
          }
        }
      },
      "internalErrorResponse" : {
        "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Internal Server Error Response" : {
                "value" : {
                  "errorCode" : "INTERNAL_SERVER_ERROR",
                  "message" : "An internal server error occurred while performing this operation."
                }
              }
            }
          }
        }
      },
      "licenseErrorResponse" : {
        "description" : "This errorCode value appears if the user is unable to perform an action due to the limitations of the Zoho Desk edition in use\nThe possible values for the feature key are\n    *AGENTS*\n    *LIGHT_AGENTS*\n    *TEAM*\nThe possible values for the editionType key are\n    *FREE*\n    *PROFESSIONAL*\n    *ENTERPRISE*",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "editionType", "feature", "isTrial", "maxAllowedEntity" ],
                "properties" : {
                  "maxAllowedEntity" : {
                    "pattern" : "([0-9]+)"
                  },
                  "feature" : {
                    "enum" : [ "AGENTS", "LIGHT_AGENTS", "TEAM" ]
                  },
                  "editionType" : {
                    "enum" : [ "ENTERPRISE", "PROFESSIONAL", "STANDARD", "EXPRESS", "FREE" ]
                  },
                  "isTrial" : { }
                }
              } ]
            },
            "examples" : {
[...]
