{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Backup",
    "version" : "1.0.0",
    "x-clan-group" : "reports",
    "x-module-group" : "reports"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/backup" : {
      "get" : {
        "tags" : [ "Backup" ],
        "summary" : "GetActiveBackupDetails",
        "description" : "To get Active Backup",
        "operationId" : "getRecentBackups",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of record limit to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of record limit to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Starting point of the record",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Starting point of the record",
            "format" : "int32"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Status of the backup",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Status of the backup",
            "enum" : [ "ACTIVE" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getRecentBackups template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "backupId", "backupType", "endsAfter", "frequency", "lastBackupDate", "limitPerFile", "modifiedAfter", "modifiedTill", "modules", "nextBackupDate", "status" ],
                        "properties" : {
                          "modifiedAfter" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "nextBackupDate" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "lastBackupDate" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "endsAfter" : {
                            "additionalProperties" : false
                          },
                          "backupId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "modifiedTill" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "modules" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "attachments", "comments", "tickets", "contacts", "departments", "agents", "products", "accounts", "tasks", "timeEntry", "solutions", "topics", "teams" ]
                            }
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "INITIATED", "IN_PROGRESS", "PARTIALLY_COMPLETED", "COMPLETED", "SUSPENDED" ]
                          },
                          "backupType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "FULL", "INCREMENTAL" ]
                          },
                          "limitPerFile" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "frequency" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "repeatsOn", "type" ],
                            "properties" : {
                              "repeatsOn" : {
                                "maxProperties" : 6,
                                "minProperties" : 6,
                                "required" : [ "dates", "daysOfWeek", "monthsOfYear", "repetitionType", "skipFrequency", "weeksOfMonth" ],
                                "properties" : {
                                  "dates" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maximum" : 31,
                                      "minimum" : 1,
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    }
                                  },
                                  "repetitionType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "WEEKLY", "MONTHLY", "YEARLY" ]
                                  },
                                  "daysOfWeek" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" ]
                                    }
                                  },
                                  "skipFrequency" : {
                                    "maximum" : 2,
                                    "minimum" : 1,
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "monthsOfYear" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ]
                                    }
                                  },
                                  "weeksOfMonth" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "FIRST", "SECOND", "THIRD", "FOURTH", "LAST" ]
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "NONE", "WEEKLY", "MONTHLY", "YEARLY" ]
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "modifiedAfter" : null,
                        "nextBackupDate" : 1606820569013,
                        "lastBackupDate" : null,
                        "endsAfter" : {
                          "type" : "NONE",
                          "value" : "0"
                        },
                        "backupId" : "45664000001403809",
                        "modifiedTill" : null,
                        "backupFiles" : null,
                        "modules" : [ "tickets", "contacts" ],
                        "backupType" : "INCREMENTAL",
                        "limitPerFile" : null,
                        "frequency" : {
                          "repeatsOn" : {
                            "dates" : null,
                            "repetitionType" : "WEEKLY",
                            "daysOfWeek" : [ "Sunday" ],
                            "skipFrequency" : "1",
                            "monthsOfYear" : null,
                            "weeksOfMonth" : null
                          },
                          "type" : "WEEKLY"
                        },
                        "status" : "INITIATED"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 60,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "0f27fba78d1923b6235b707cb6d27ac5",
          "module-group" : "reports",
          "apimethod" : "com.adventnet.support.export.service.BackupService.getRecentBackups"
        }
      },
      "post" : {
        "tags" : [ "Backup" ],
        "summary" : "initiateBackup",
        "description" : "To start the backup of the given modules.",
        "operationId" : "initiateBackup",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "modules" ],
                "properties" : {
                  "modifiedAfter" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                  },
                  "endsAfter" : {
                    "additionalProperties" : false
                  },
                  "modifiedTill" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                  },
                  "modules" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "attachments", "comments", "tickets", "contacts", "departments", "agents", "products", "accounts", "tasks", "timeEntry", "solutions", "topics", "teams" ]
                    }
                  },
                  "backupType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "FULL", "INCREMENTAL" ]
                  },
                  "limitPerFile" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "frequency" : {
                    "maxProperties" : 2,
                    "minProperties" : 2,
                    "required" : [ "repeatsOn", "type" ],
                    "properties" : {
                      "repeatsOn" : {
                        "maxProperties" : 6,
                        "minProperties" : 6,
                        "required" : [ "dates", "daysOfWeek", "monthsOfYear", "repetitionType", "skipFrequency", "weeksOfMonth" ],
                        "properties" : {
                          "dates" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maximum" : 31,
                              "minimum" : 1,
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "repetitionType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "WEEKLY", "MONTHLY", "YEARLY" ]
                          },
                          "daysOfWeek" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" ]
                            }
                          },
                          "skipFrequency" : {
                            "maximum" : 2,
                            "minimum" : 1,
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "monthsOfYear" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ]
                            }
                          },
                          "weeksOfMonth" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "FIRST", "SECOND", "THIRD", "FOURTH", "LAST" ]
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "NONE", "WEEKLY", "MONTHLY", "YEARLY" ]
                      }
                    },
                    "additionalProperties" : { }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "modules" : [ "tickets", "contacts" ],
                    "backupType" : "FULL"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "initiateBackupResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "required" : [ "backupId", "backupType", "endsAfter", "frequency", "lastBackupDate", "limitPerFile", "modifiedAfter", "modifiedTill", "modules", "nextBackupDate", "status" ],
                    "properties" : {
                      "modifiedAfter" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Specifies the timestamp after which data modifications are included in the backup.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "nextBackupDate" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "lastBackupDate" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "endsAfter" : {
                        "additionalProperties" : false
                      },
                      "backupId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "modifiedTill" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Specifies the timestamp until which data modifications are included in the backup.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "modules" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "attachments", "comments", "tickets", "contacts", "departments", "agents", "products", "accounts", "tasks", "timeEntry", "solutions", "topics", "teams" ]
                        }
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "INITIATED", "IN_PROGRESS", "PARTIALLY_COMPLETED", "COMPLETED", "SUSPENDED" ]
                      },
                      "backupType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "FULL", "INCREMENTAL" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Specifies the type of backup. The allowed values are @INCREMENTAL@ and @FULL@",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "limitPerFile" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "The maximum number of rows per file.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "frequency" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "repeatsOn", "type" ],
                        "properties" : {
                          "repeatsOn" : {
                            "maxProperties" : 6,
                            "minProperties" : 6,
                            "required" : [ "dates", "daysOfWeek", "monthsOfYear", "repetitionType", "skipFrequency", "weeksOfMonth" ],
                            "properties" : {
                              "dates" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "maximum" : 31,
                                  "minimum" : 1,
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                }
                              },
                              "repetitionType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "WEEKLY", "MONTHLY", "YEARLY" ]
                              },
                              "daysOfWeek" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" ]
                                }
                              },
                              "skipFrequency" : {
                                "maximum" : 2,
                                "minimum" : 1,
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "monthsOfYear" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ]
                                }
                              },
                              "weeksOfMonth" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "FIRST", "SECOND", "THIRD", "FOURTH", "LAST" ]
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "NONE", "WEEKLY", "MONTHLY", "YEARLY" ]
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "errorMessage" ],
                    "properties" : {
                      "errorMessage" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "Sync Already in progress" ]
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedAfter" : null,
                      "nextBackupDate" : null,
                      "lastBackupDate" : null,
                      "endsAfter" : {
                        "type" : "NONE",
                        "value" : "0"
                      },
                      "backupId" : "45664000001405433",
                      "modifiedTill" : null,
                      "backupFiles" : null,
                      "modules" : [ "tickets", "contacts" ],
                      "backupType" : "FULL",
                      "limitPerFile" : null,
                      "status" : "INITIATED",
                      "frequency" : {
                        "repeatsOn" : null,
                        "type" : "NONE"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 1800000,
                  "threshold" : 240,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "d4a8ae0ee0c6f8ca7cf3c36abe82cfc3",
          "module-group" : "reports",
          "apimethod" : "com.adventnet.support.export.service.BackupService.intiateDatabackUp"
        }
      }
    },
    "/api/v1/backup/files" : {
      "get" : {
        "tags" : [ "Backup" ],
        "summary" : "GetBackupFiles",
        "description" : "To get Backup File Details",
        "operationId" : "getBackupFiles",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of record limit to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of record limit to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Starting point of the record",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Starting point of the record",
            "format" : "int32"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getBackupFilesResp template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "backupId", "createdTime", "downloadUrl", "expiryTime", "fileId", "fileName", "fileSize", "modifiedAfter", "modifiedTill" ],
                        "properties" : {
                          "modifiedAfter" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "fileName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "fileSize" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "backupId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "downloadUrl" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "expiryTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "modifiedTill" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "fileId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "modifiedAfter" : null,
                        "fileName" : "A1111_scheduled_weekly_2020-12-01_2020-12-01.zip",
                        "fileSize" : "41319",
                        "backupId" : "45664000001403001",
                        "downloadUrl" : "https://downloadserver.zoho.com/webdownload?x-service=deskplus1&event-id=765e54dd4a25e33a16671e950de8f827bea2ad2729448d43c86de269bc4bbb628c5cafc915c1ce2867c9c93ad97d07099d030f9275115cd73f478d5d39fcaba2&x-cli-msg=%7B%22portalname%22%3A%22ffffffff%22%2C%22inline%22%3A%22false%22%7D",
                        "expiryTime" : 1607418104000,
                        "createdTime" : 1606813343892,
                        "modifiedTill" : 1606793504000,
                        "fileId" : "45664000001403793"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 60,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "d0515a1ed1924a4392c2cc2a768f273b",
          "module-group" : "reports",
          "apimethod" : "com.adventnet.support.export.service.BackupService.getValidBackupFiles"
        }
      }
    },
    "/api/v1/bulkExport" : {
      "get" : {
        "tags" : [ "Backup" ],
        "summary" : "Get Details of Multiple Exports",
        "description" : "This API fetches details of exports and provides the URL to download the bulk export ZIP file.",
        "operationId" : "GetAllExport",
        "parameters" : [ {
          "name" : "initiatedEndTime",
          "in" : "query",
          "description" : "The key that filters exports based on the end time of the duration in which the exports were initiated.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])T([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9](\\.\\d{1,3})?Z)",
            "description" : "The key that filters exports based on the end time of the duration in which the exports were initiated."
          }
        }, {
          "name" : "initiatedStartTime",
          "in" : "query",
          "description" : "The key that filters exports based on the start time of the duration in which the exports were initiated.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])T([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9](\\.\\d{1,3})?Z)",
            "description" : "The key that filters exports based on the start time of the duration in which the exports were initiated."
          }
        }, {
          "name" : "initiatedDuration",
          "in" : "query",
          "description" : "The key that filters exports within a specific duration. The allowed values are  @today@, @yesterday@, @currentWeek@, @currentMonth@, @last3days@, @last7days@, @last15days@, @last30days@, @last3months@, @CUSTOM_IN_DATE@.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "The key that filters exports within a specific duration. The allowed values are  @today@, @yesterday@, @currentWeek@, @currentMonth@, @last3days@, @last7days@, @last15days@, @last30days@, @last3months@, @CUSTOM_IN_DATE@.",
            "enum" : [ "CUSTOM_IN_DATE" ]
          }
        }, {
          "name" : "initiatorIds",
          "in" : "query",
          "description" : "The key that filters exports based on the users who initiated the exports. The default value includes all initiators.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 50,
            "uniqueItems" : false,
            "description" : "The key that filters exports based on the users who initiated the exports. The default value includes all initiators.",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "The key that filters exports based on the users who initiated the exports. The default value includes all initiators.", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of record limit to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of record limit to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Starting point of the record",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Starting point of the record",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "The key that sorts exports by _initiatedTime_.<br>         If the value of sortBy key is:<br>            * @initiatedTime@ - Sort in ascending order<br>            * @-initiatedTime@ - Sort in descending order (prefixed with '-')<br> <br>         _Note_: By default, sorting is done in descending order based on initiatedTime.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "The key that sorts exports by _initiatedTime_.<br>         If the value of sortBy key is:<br>            * @initiatedTime@ - Sort in ascending order<br>            * @-initiatedTime@ - Sort in descending order (prefixed with '-')<br> <br>         _Note_: By default, sorting is done in descending order based on initiatedTime."
          }
        }, {
          "name" : "departmentIds",
          "in" : "query",
          "description" : "The key that filters exports based on specific departments. The default value includes all departments.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 50,
            "uniqueItems" : false,
            "description" : "The key that filters exports based on specific departments. The default value includes all departments.",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "The key that filters exports based on specific departments. The default value includes all departments.", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "modules",
          "in" : "query",
          "description" : "The key that filters exports based on specific modules. The default value includes all modules.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "The key that filters exports based on specific modules. The default value includes all modules.",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "The key that filters exports based on their statuses. The allowed values are @INITIATED@, @INPROGRESS@, @COMPLETED@, @FAILED@. The default value includes all statuses",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "The key that filters exports based on their statuses. The allowed values are @INITIATED@, @INPROGRESS@, @COMPLETED@, @FAILED@. The default value includes all statuses",
            "enum" : [ "INITIATED", "INPROGRESS", "COMPLETED", "FAILED" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "GetAllExport template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "maxProperties" : 10,
                        "minProperties" : 8,
                        "required" : [ "completedTime", "count", "creator", "expiryTime", "exportId", "filePath", "initiatedBy", "initiatedTime", "module", "status" ],
                        "properties" : {
                          "creator" : {
                            "maxProperties" : 5,
                            "minProperties" : 5,
                            "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                            "properties" : {
                              "firstName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "completedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "filePath" : {
                            "maxLength" : 500,
                            "minLength" : 0
                          },
                          "module" : {
                            "maxProperties" : 6,
                            "minProperties" : 6,
                            "required" : [ "apiName", "id", "isCustomModule", "isDeptSpecific", "pluralLabel", "singularLabel" ],
                            "properties" : {
                              "apiName" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "isCustomModule" : { },
                              "isDeptSpecific" : { },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "pluralLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                              },
                              "singularLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "initiatedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "expiryTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "exportId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "initiatedBy" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "creator" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/12000000000521/photo?orgId=26825991",
                          "firstName" : "",
                          "lastName" : "chan",
                          "name" : "chan",
                          "id" : "12000000000521"
                        },
                        "completedTime" : 1733654126000,
                        "filePath" : "Expired",
                        "module" : {
                          "apiName" : "tickets",
                          "isCustomModule" : false,
                          "isDeptSpecific" : true,
                          "id" : "12000000000581",
                          "pluralLabel" : "Tickets",
                          "singularLabel" : "Ticket"
                        },
                        "initiatedTime" : 1733654038000,
                        "expiryTime" : 1724258854507,
                        "count" : "187",
                        "exportId" : "12000000109001",
                        "initiatedBy" : "12000000000521",
                        "status" : "COMPLETED"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.exports.CUSTOM" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ],
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "fe4fd00c073abb42587e92748b471b81",
          "module-group" : "reports",
          "apimethod" : "com.adventnet.support.export.service.BulkDataExportService.getAllExport"
        }
      },
      "post" : {
        "tags" : [ "Backup" ],
        "summary" : "Initiate Bulk Export",
        "description" : "To initiate module Exports.",
        "operationId" : "initiateBulkExport",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "module" ],
                "properties" : {
                  "modifiedAfter" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                  },
                  "exportTimeFilter" : {
                    "maxProperties" : 4,
                    "minProperties" : 4,
                    "required" : [ "duration", "endDate", "filterField", "startDate" ],
                    "properties" : {
                      "duration" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "endDate" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "filterField" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "startDate" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "callBackUrl" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "apiNameAsHeader" : { },
                  "criteria" : {
                    "required" : [ "criteriaFields", "criteriaPattern" ],
                    "properties" : {
                      "criteriaFields" : {
                        "items" : {
                          "maxProperties" : 3,
                          "minProperties" : 3,
                          "required" : [ "condition", "field", "value" ],
                          "properties" : {
                            "condition" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "field" : {
                              "maxProperties" : 3,
                              "minProperties" : 3,
                              "required" : [ "apiName", "fieldLabel", "module" ],
                              "properties" : {
                                "apiName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "module" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\-\\s\\P{InBasicLatin}.$@,\\?\\:]+"
                                },
                                "fieldLabel" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            },
                            "value" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "primitive", "type" ],
                              "properties" : {
                                "primitive" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "key" ],
                                    "properties" : {
                                      "key" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "criteriaPattern" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "module" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "tickets", "contacts", "departments", "agents", "products", "accounts", "tasks", "timeEntry", "solutions", "topics", "teams", "comments", "attachments", "calls", "events" ]
                  },
                  "fields" : {
                    "minItems" : 1,
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "limitPerFile" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "modifiedAfter" : 1557166837733,
                    "exportTimeFilter" : {
                      "duration" : "CUSTOM_IN_DATE",
                      "endDate" : "06-06-2024",
                      "filterField" : "4000000250354",
                      "startDate" : "06-05-2024"
                    },
                    "callBackUrl" : "https://webhook.site/c57564f2-f262-4092-adc4-7c416d401d50",
                    "viewId" : "5000000031695",
                    "criteria" : {
                      "criteriaFields" : [ {
                        "condition" : "is",
                        "field" : {
                          "apiName" : "contactId",
                          "module" : "tickets",
                          "fieldLabel" : "Contact Name"
                        },
                        "value" : {
                          "primitive" : [ {
                            "key" : "13735000002029311"
                          } ],
                          "type" : "primitive"
                        }
                      }, {
                        "condition" : "is not empty",
                        "field" : {
                          "apiName" : "contactId",
                          "module" : "tickets",
                          "fieldLabel" : "Contact Name"
                        },
                        "value" : {
                          "primitive" : [ ],
                          "type" : "primitive"
                        }
                      }, {
                        "condition" : "is CLOSED",
                        "field" : {
                          "apiName" : "status",
                          "module" : "tickets",
                          "fieldLabel" : "Status"
                        },
                        "value" : {
                          "primitive" : [ ],
                          "type" : "primitive"
                        }
                      } ],
                      "criteriaPattern" : "((1and2)and3)"
                    },
                    "module" : "tickets",
                    "departmentId" : "5000000031695",
                    "fields" : [ "email", "subject", "status", "isSpam" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "getExportRespObject template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "callBackUrl", "criteria", "exportId", "exportTimeFilter", "fields", "limitPerFile", "modifiedAfter", "module", "status" ],
                  "properties" : {
                    "modifiedAfter" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "exportTimeFilter" : {
                      "maxProperties" : 4,
                      "minProperties" : 4,
                      "required" : [ "duration", "endDate", "filterField", "startDate" ],
                      "properties" : {
                        "duration" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "endDate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "filterField" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "startDate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "callBackUrl" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "criteria" : {
                      "required" : [ "criteriaFields", "criteriaPattern" ],
                      "properties" : {
                        "criteriaFields" : {
                          "items" : {
                            "maxProperties" : 3,
                            "minProperties" : 3,
                            "required" : [ "condition", "field", "value" ],
                            "properties" : {
                              "condition" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "field" : {
                                "maxProperties" : 3,
                                "minProperties" : 3,
                                "required" : [ "apiName", "fieldLabel", "module" ],
                                "properties" : {
                                  "apiName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "module" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\s\\P{InBasicLatin}.$@,\\?\\:]+"
                                  },
                                  "fieldLabel" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "value" : {
                                "maxProperties" : 2,
                                "minProperties" : 2,
                                "required" : [ "primitive", "type" ],
                                "properties" : {
                                  "primitive" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxProperties" : 1,
                                      "minProperties" : 1,
                                      "required" : [ "key" ],
                                      "properties" : {
                                        "key" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        }
                                      },
                                      "additionalProperties" : false
                                    }
                                  },
                                  "type" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "criteriaPattern" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "module" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "tickets", "contacts", "departments", "agents", "products", "accounts", "tasks", "timeEntry", "solutions", "topics", "teams", "comments", "attachments", "calls", "events" ]
                    },
                    "fields" : {
                      "minItems" : 1,
                      "uniqueItems" : false,
                      "items" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      }
                    },
                    "exportId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "INITIATED", "INPROGRESS", "INIT_FAILED", "COMPLETED", "SUSPENDED", "FAILED", "DELETED" ]
                    },
                    "limitPerFile" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedAfter" : 1557166837733,
                      "callBackUrl" : "https://webhook.site/c57564f2-f262-4092-adc4-7c416d401d50",
                      "viewId" : "5000000031695",
                      "hasNextPage" : "false",
                      "module" : "tickets",
                      "departmentId" : "5000000031695",
                      "fields" : [ "email", "subject", "status", "isSpam" ],
                      "exportId" : "5000001003083",
                      "limitPerFile" : "100000",
                      "status" : "INITIATED"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.exports.CUSTOM" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "BulkExport_DOSRateLimiter"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "iscscope" : [ "SupCrmAPI" ]
            }
          },
          "clan-group" : "reports",
          "apihash" : "a5714549ae5daf77cb45027baac1cd70",
          "module-group" : "reports",
          "apimethod" : "com.adventnet.support.export.service.BulkDataExportService.initiateBulkExport"
        }
      }
    },
    "/api/v1/backup/logs" : {
      "get" : {
        "tags" : [ "Backup" ],
        "summary" : "Get Backup Logs",
        "description" : "To get backup logs",
        "operationId" : "getBackupLogs",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getBackupLogsResp template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "backupId", "eventTime", "message", "status", "userId" ],
                        "properties" : {
                          "backupId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "eventTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "message" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "userId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "backupId" : "45664000001403809",
                        "eventTime" : 1606820972000,
                        "message" : "Reccuring backup Stopped",
                        "userId" : "45664000002904512",
                        "status" : "STOPPED"
                      }, {
                        "backupId" : "45664000001403809",
                        "eventTime" : 1606820592000,
                        "message" : "A1111_scheduled_weekly_2020-12-01_2020-12-01.zip ready for download",
                        "userId" : "45664000002904512",
                        "status" : "COMPLETED"
                      }, {
                        "backupId" : "45664000001403809",
                        "eventTime" : 1606820570000,
                        "message" : "Weekly Backup scheduled",
                        "userId" : "45664000002904512",
                        "status" : "INPROGRESS"
                      }, {
                        "backupId" : "45664000001403809",
                        "eventTime" : 1606820549000,
                        "message" : "Weekly Backup initiated",
                        "userId" : "45664000002904512",
                        "status" : "INITIATED"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 60,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "b72dc7e4add90f2c8242c7f2fc16031e",
          "module-group" : "reports",
          "apimethod" : "com.adventnet.support.export.service.BackupService.getBackupLogs"
        }
      }
    },
    "/api/v1/bulkExport/{exportId}" : {
      "get" : {
        "tags" : [ "Backup" ],
        "summary" : "Get Bulk Export",
        "description" : "To get Bulk Export details.",
        "operationId" : "getBulkExport",
        "parameters" : [ {
          "name" : "exportId",
          "in" : "path",
          "description" : "the id of the export which was initiated for first time",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "the id of the export which was initiated for first time",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getExportRespObject template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "callBackUrl", "criteria", "exportId", "exportTimeFilter", "fields", "limitPerFile", "modifiedAfter", "module", "status" ],
                  "properties" : {
                    "modifiedAfter" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "exportTimeFilter" : {
                      "maxProperties" : 4,
                      "minProperties" : 4,
                      "required" : [ "duration", "endDate", "filterField", "startDate" ],
                      "properties" : {
                        "duration" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "endDate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "filterField" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "startDate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "callBackUrl" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "criteria" : {
                      "required" : [ "criteriaFields", "criteriaPattern" ],
                      "properties" : {
                        "criteriaFields" : {
                          "items" : {
                            "maxProperties" : 3,
                            "minProperties" : 3,
                            "required" : [ "condition", "field", "value" ],
                            "properties" : {
                              "condition" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "field" : {
                                "maxProperties" : 3,
                                "minProperties" : 3,
                                "required" : [ "apiName", "fieldLabel", "module" ],
                                "properties" : {
                                  "apiName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "module" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\s\\P{InBasicLatin}.$@,\\?\\:]+"
                                  },
                                  "fieldLabel" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "value" : {
                                "maxProperties" : 2,
                                "minProperties" : 2,
                                "required" : [ "primitive", "type" ],
                                "properties" : {
                                  "primitive" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxProperties" : 1,
                                      "minProperties" : 1,
                                      "required" : [ "key" ],
                                      "properties" : {
                                        "key" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        }
                                      },
[...]
