{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "blueprintDrafts",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "automation"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/blueprintDrafts" : {
      "post" : {
        "tags" : [ "blueprintDrafts" ],
        "summary" : "Draft Blueprint",
        "description" : "To draft a blueprint",
        "operationId" : "createDraft",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "criteria" : {
                    "required" : [ "fieldConditions", "pattern" ],
                    "properties" : {
                      "fieldConditions" : {
                        "items" : {
                          "required" : [ "condition", "fieldModule", "fieldName", "value" ],
                          "properties" : {
                            "condition" : {
                              "maxLength" : 100,
                              "minLength" : 1
                            },
                            "fieldName" : {
                              "maxLength" : 200,
                              "minLength" : 1
                            },
                            "fieldModule" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "tickets|contacts|accounts",
                              "enum" : [ "tickets", "contacts", "accounts" ]
                            },
                            "value" : {
                              "items" : {
                                "oneOf" : [ {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                }, {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                  }
                                } ]
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "pattern" : {
                        "maxLength" : 200,
                        "minLength" : 1,
                        "pattern" : "[andor()0-9\\s]*"
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "departmentId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "module" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "tickets",
                    "enum" : [ "tickets" ]
                  },
                  "description" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                  },
                  "dynamicTransOwnerType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "ACTIVE|INACTIVE",
                    "enum" : [ "ACTIVE", "INACTIVE" ]
                  },
                  "type" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "NON_CONTINUOUS|CONTINUOUS",
                    "enum" : [ "NON_CONTINUOUS", "CONTINUOUS" ]
                  },
                  "transitions" : {
                    "items" : {
                      "required" : [ "after", "autoTransitionActions", "before", "commonStates", "description", "during", "isAutoTransition", "isCommonTransition", "name" ],
                      "properties" : {
                        "isAutoTransition" : { },
                        "before" : {
                          "required" : [ "accessors", "criteriaDetails" ],
                          "properties" : {
                            "accessors" : {
                              "required" : [ "owners", "sharedDeptAccessors" ],
                              "properties" : {
                                "owners" : {
                                  "required" : [ "agentIds", "otherRecpts", "teamIds" ],
                                  "properties" : {
                                    "agentIds" : {
                                      "items" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      }
                                    },
                                    "otherRecpts" : {
                                      "items" : {
                                        "maxLength" : 100,
                                        "minLength" : 1,
                                        "pattern" : "RECORD_OWNER",
                                        "enum" : [ "RECORD_OWNER" ]
                                      }
                                    },
                                    "teamIds" : {
                                      "items" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      }
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "sharedDeptAccessors" : {
                                  "items" : {
                                    "required" : [ "accessors", "departmentId", "sharingType" ],
                                    "properties" : {
                                      "accessors" : {
                                        "required" : [ "agentIds", "teamIds" ],
                                        "properties" : {
                                          "agentIds" : {
                                            "items" : {
                                              "pattern" : "([0-9]+)",
                                              "format" : "int64"
                                            }
                                          },
                                          "teamIds" : {
                                            "items" : {
                                              "pattern" : "([0-9]+)",
                                              "format" : "int64"
                                            }
                                          }
                                        },
                                        "additionalProperties" : false
                                      },
                                      "departmentId" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "sharingType" : {
                                        "maxLength" : 100,
                                        "minLength" : 1,
                                        "pattern" : "READ_WRITE|READ_ONLY|RESTRICTED_ACCESS",
                                        "enum" : [ "READ_WRITE", "READ_ONLY", "RESTRICTED_ACCESS" ]
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                }
                              },
                              "additionalProperties" : false
                            },
                            "criteriaDetails" : {
                              "required" : [ "criteria" ],
                              "properties" : {
                                "criteria" : {
                                  "required" : [ "fieldConditions", "pattern" ],
                                  "properties" : {
                                    "fieldConditions" : {
                                      "items" : {
                                        "required" : [ "condition", "fieldModule", "fieldName", "value" ],
                                        "properties" : {
                                          "condition" : {
                                            "maxLength" : 100,
                                            "minLength" : 1
                                          },
                                          "fieldName" : {
                                            "maxLength" : 200,
                                            "minLength" : 1
                                          },
                                          "fieldModule" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "tickets|contacts|accounts",
                                            "enum" : [ "tickets", "contacts", "accounts" ]
                                          },
                                          "value" : {
                                            "items" : {
                                              "oneOf" : [ {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                              }, {
                                                "uniqueItems" : false,
                                                "items" : {
                                                  "maxLength" : 100,
                                                  "minLength" : 0,
                                                  "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                                }
                                              } ]
                                            }
                                          }
                                        },
                                        "additionalProperties" : false
                                      }
                                    },
                                    "pattern" : {
                                      "maxLength" : 200,
                                      "minLength" : 1,
                                      "pattern" : "[andor()0-9\\s]*"
                                    }
                                  },
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        },
                        "name" : {
                          "maxLength" : 30,
                          "minLength" : 1,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "description" : {
                          "maxLength" : 1000,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "commonStates" : {
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                          }
                        },
                        "during" : {
                          "items" : {
                            "oneOf" : [ {
                              "required" : [ "message" ],
                              "properties" : {
                                "message" : {
                                  "maxLength" : 255,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "fieldUpdates", "isMandatory" ],
                              "properties" : {
                                "fieldUpdates" : {
                                  "required" : [ "errorMsg", "fieldId" ],
                                  "properties" : {
                                    "criteria" : {
                                      "required" : [ "fieldConditions", "pattern" ],
                                      "properties" : {
                                        "fieldConditions" : {
                                          "items" : {
                                            "required" : [ "condition", "fieldModule", "fieldName", "value" ],
                                            "properties" : {
                                              "condition" : {
                                                "maxLength" : 100,
                                                "minLength" : 1
                                              },
                                              "fieldName" : {
                                                "maxLength" : 200,
                                                "minLength" : 1
                                              },
                                              "fieldModule" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "pattern" : "tickets|contacts|accounts",
                                                "enum" : [ "tickets", "contacts", "accounts" ]
                                              },
                                              "value" : {
                                                "items" : {
                                                  "oneOf" : [ {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                                  }, {
                                                    "uniqueItems" : false,
                                                    "items" : {
                                                      "maxLength" : 100,
                                                      "minLength" : 0,
                                                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                                    }
                                                  } ]
                                                }
                                              }
                                            },
                                            "additionalProperties" : false
                                          }
                                        },
                                        "pattern" : {
                                          "maxLength" : 200,
                                          "minLength" : 1,
                                          "pattern" : "[andor()0-9\\s]*"
                                        }
                                      },
                                      "additionalProperties" : false
                                    },
                                    "fieldId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "errorMsg" : {
                                      "maxLength" : 255,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])*"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "isMandatory" : { }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "isMandatory", "otherActions" ],
                              "properties" : {
                                "otherActions" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "REPLY|BUG|COMMENT|RESOLUTION|APPROVAL|ATTACHMENT|SHARING|FIELD_UPDATE",
                                  "enum" : [ "REPLY", "BUG", "COMMENT", "RESOLUTION", "APPROVAL", "ATTACHMENT", "SHARING", "FIELD_UPDATE" ]
                                },
                                "isMandatory" : { }
                              },
                              "additionalProperties" : false
                            } ]
                          }
                        },
                        "after" : {
                          "required" : [ "alert", "customFunction", "fieldUpdate", "task" ],
                          "properties" : {
                            "fieldUpdate" : {
                              "required" : [ "ids" ],
                              "properties" : {
                                "ids" : {
                                  "items" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                }
                              },
                              "additionalProperties" : false
                            },
                            "task" : {
                              "required" : [ "ids" ],
                              "properties" : {
                                "ids" : {
                                  "items" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                }
                              },
                              "additionalProperties" : false
                            },
                            "customFunction" : {
                              "required" : [ "ids" ],
                              "properties" : {
                                "ids" : {
                                  "items" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                }
                              },
                              "additionalProperties" : false
                            },
                            "alert" : {
                              "required" : [ "ids" ],
                              "properties" : {
                                "ids" : {
                                  "items" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        },
                        "autoTransitionActions" : {
                          "properties" : {
                            "feedback" : {
                              "maxLength" : 100,
                              "minLength" : 1,
                              "pattern" : "SURVEY_ALL|SURVEY_GOOD|SURVEY_AVG|SURVEY_BAD",
                              "enum" : [ "SURVEY_ALL", "SURVEY_GOOD", "SURVEY_AVG", "SURVEY_BAD" ]
                            },
                            "reply" : {
                              "maxLength" : 100,
                              "minLength" : 1,
                              "pattern" : "REPLY_ALL|REPLY_PRIVATE|REPLY_PUBLIC",
                              "enum" : [ "REPLY_ALL", "REPLY_PRIVATE", "REPLY_PUBLIC" ]
                            }
                          },
                          "additionalProperties" : false
                        },
                        "isCommonTransition" : { }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "layoutId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "states" : {
                    "items" : {
                      "required" : [ "businessHrId", "escalations", "name", "timeInMins", "transitionsOrder", "type" ],
                      "properties" : {
                        "timeInMins" : {
                          "maxLength" : 100,
                          "minLength" : 1,
                          "pattern" : "[0-9]+"
                        },
                        "escalations" : {
                          "items" : {
                            "required" : [ "escalationLevel", "escalationRecipients", "templateId", "whenToEscalate" ],
                            "properties" : {
                              "escalationRecipients" : {
                                "required" : [ "agentIds", "otherRecpts", "roleIds", "subordinateIds", "teamIds" ],
                                "properties" : {
                                  "agentIds" : {
                                    "items" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    }
                                  },
                                  "subordinateIds" : {
                                    "items" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    }
                                  },
                                  "roleIds" : {
                                    "items" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    }
                                  },
                                  "otherRecpts" : {
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 1,
                                      "pattern" : "RECORD_OWNER",
                                      "enum" : [ "RECORD_OWNER" ]
                                    }
                                  },
                                  "teamIds" : {
                                    "items" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    }
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "templateId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "escalationLevel" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "1|2|3",
                                "enum" : [ "1", "2", "3" ]
                              },
                              "whenToEscalate" : {
                                "minimum" : 1,
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "transitionsOrder" : {
                          "items" : {
                            "maxLength" : 120,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "businessHrId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "name" : {
                          "maxLength" : 120,
                          "minLength" : 1,
                          "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 1,
                          "pattern" : "START|INTERMEDIATE|END",
                          "enum" : [ "START", "INTERMEDIATE", "END" ]
                        }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "chartData" : {
                    "required" : [ "canvasPosition", "connectionDetails", "stateDetails" ],
                    "properties" : {
                      "canvasPosition" : {
                        "required" : [ "left", "top" ],
                        "properties" : {
                          "top" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "[0-9\\.\\-]+"
                          },
                          "left" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "[0-9\\.\\-]+"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "connectionDetails" : {
                        "items" : {
                          "required" : [ "fromUuid", "isAuto", "isCommTrans", "toUuid", "transName" ],
                          "properties" : {
                            "toUuid" : {
                              "maxLength" : 121,
                              "minLength" : 1,
                              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                            },
                            "transName" : {
                              "maxLength" : 30,
                              "minLength" : 1,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "isCommTrans" : { },
                            "fromUuid" : {
                              "maxLength" : 121,
                              "minLength" : 1,
                              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                            },
                            "usedStates" : {
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                              }
                            },
                            "isAuto" : { },
                            "fromState" : {
                              "maxLength" : 120,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                            },
                            "toState" : {
                              "maxLength" : 120,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "stateDetails" : {
                        "items" : {
                          "required" : [ "position", "slaTime", "stateName" ],
                          "properties" : {
                            "slaTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                            },
                            "stateName" : {
                              "maxLength" : 120,
                              "minLength" : 1,
                              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                            },
                            "position" : {
                              "required" : [ "left", "top" ],
                              "properties" : {
                                "top" : {
                                  "maxLength" : 500,
                                  "minLength" : 0,
                                  "pattern" : "[0-9\\.\\-]+"
                                },
                                "left" : {
                                  "maxLength" : 500,
                                  "minLength" : 0,
                                  "pattern" : "[0-9\\.\\-]+"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "strictModeConfig" : {
                    "required" : [ "actions", "fieldIds", "strictModeType" ],
                    "properties" : {
                      "strictModeType" : {
                        "maxLength" : 100,
                        "minLength" : 1,
                        "pattern" : "FULL_RESTRICTION|SELECTIVE_RESTRICTION|SELECTIVE_EXCLUSION",
                        "enum" : [ "FULL_RESTRICTION", "SELECTIVE_RESTRICTION", "SELECTIVE_EXCLUSION" ]
                      },
                      "actions" : {
                        "items" : {
                          "minLength" : 0,
                          "pattern" : "REPLY|BUG|COMMENT|RESOLUTION|APPROVAL|ATTACHMENT|SHARING",
                          "enum" : [ "REPLY", "BUG", "COMMENT", "RESOLUTION", "APPROVAL", "ATTACHMENT", "SHARING" ]
                        }
                      },
                      "fieldIds" : {
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "name" : {
                    "maxLength" : 60,
                    "minLength" : 1,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "connections" : {
                    "items" : {
                      "required" : [ "fromState", "toState", "transitions" ],
                      "properties" : {
                        "fromState" : {
                          "required" : [ "name" ],
                          "properties" : {
                            "name" : {
                              "maxLength" : 120,
                              "minLength" : 1,
                              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "toState" : {
                          "required" : [ "name" ],
                          "properties" : {
                            "name" : {
                              "maxLength" : 120,
                              "minLength" : 1,
                              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "transitions" : {
                          "items" : {
                            "required" : [ "name" ],
                            "properties" : {
                              "name" : {
                                "maxLength" : 30,
                                "minLength" : 1,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "fieldId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "chartData" : {
                      "canvasPosition" : {
                        "top" : -29,
                        "left" : -127
                      },
                      "connectionDetails" : [ {
                        "toUuid" : "Closed2",
                        "transName" : "Feedbacks need to be monitored",
                        "isCommTrans" : false,
                        "fromUuid" : "Escalated1",
                        "usedStates" : [ ],
                        "isAuto" : false
                      }, {
                        "toUuid" : "Closed3",
                        "transName" : "",
                        "isCommTrans" : false,
                        "fromUuid" : "Open2",
                        "isAuto" : false
                      } ],
                      "stateDetails" : [ {
                        "slaTime" : null,
                        "lastModifiedStateName" : "Closed",
                        "stateName" : "Closed",
                        "displayName" : "Closed",
                        "position" : {
                          "top" : 316,
                          "left" : 225
                        }
                      }, {
                        "slaTime" : null,
                        "lastModifiedStateName" : "Escalated",
                        "stateName" : "Escalated",
                        "displayName" : "Escalated",
                        "position" : {
                          "top" : 316,
                          "left" : 225
                        }
                      }, {
                        "slaTime" : null,
                        "lastModifiedStateName" : "OnHold",
                        "stateName" : "OnHold",
                        "displayName" : "OnHold",
                        "position" : {
                          "top" : 316,
                          "left" : 225
                        }
                      } ]
                    },
                    "criteria" : {
                      "fieldConditions" : [ {
                        "condition" : "is open",
                        "fieldName" : "Status",
                        "fieldModule" : "tickets",
                        "value" : [ "${OPEN}" ]
                      } ],
                      "pattern" : "(1)"
                    },
                    "departmentId" : "4000000007235",
                    "module" : "Cases",
                    "name" : "Private Threading Handling",
                    "description" : "Automates Private Threading Handling",
                    "type" : "NON_CONTINUOUS",
                    "transitions" : [ {
                      "isAutoTransition" : false,
                      "before" : {
                        "accessors" : {
                          "owners" : {
                            "agentIds" : [ 4000000009158 ],
                            "otherRecpts" : [ "RECORD_OWNER" ],
                            "teamIds" : [ 4000000009158 ]
                          },
                          "sharedDeptAccessors" : [ {
                            "accessors" : {
                              "agentIds" : [ 4000000009158 ],
                              "teamIds" : [ 4000000009158 ]
                            },
                            "deptId" : 4000000009158,
                            "sharingType" : "READ_ONLY"
                          } ]
                        },
                        "criteriaDetails" : {
                          "criteria" : {
                            "fieldConditions" : [ {
                              "condition" : "is open",
                              "fieldName" : "Status",
                              "fieldModule" : "tickets",
                              "value" : [ "${OPEN}" ]
                            } ],
                            "pattern" : "(1)"
                          }
                        }
                      },
                      "name" : "Feedbacks need to be monitored",
                      "description" : "Lack of instruments to repair",
                      "during" : [ {
                        "message" : "Add comment here"
                      }, {
                        "fieldUpdates" : {
                          "criteria" : {
                            "fieldConditions" : [ {
                              "condition" : "is open",
                              "fieldName" : "Status",
                              "fieldModule" : "tickets",
                              "value" : [ "${OPEN}" ]
                            } ],
                            "pattern" : "(1)"
                          },
                          "fieldId" : 4000000009158,
                          "errorMsg" : "Enter a valid Priority"
                        },
                        "isMandatory" : true
                      }, {
                        "otherActions" : "BUG",
                        "isMandatory" : false
                      }, {
                        "otherActions" : "COMMENT",
                        "isMandatory" : true
                      } ],
                      "after" : {
                        "fieldUpdate" : {
                          "ids" : [ 4000000307007 ]
                        },
                        "task" : {
                          "ids" : [ 4000000307007 ]
                        },
                        "customFunction" : {
                          "ids" : [ 4000000307007 ]
                        },
                        "alert" : {
                          "ids" : [ 4000000307007 ]
                        }
                      },
                      "autoTransitionActions" : {
                        "feedback" : "SURVEY_ALL",
                        "reply" : "REPLY_ALL"
                      },
                      "isCommonTransition" : false
                    } ],
                    "layoutId" : 4000000007723,
                    "connections" : [ {
                      "fromState" : "Open",
                      "toState" : "Closed",
                      "transition" : [ ]
                    }, {
                      "fromState" : "Escalated",
                      "toState" : "Closed",
                      "transition" : [ "Feedbacks need to be monitored" ]
                    } ],
                    "fieldId" : 4000000000377,
                    "states" : [ {
                      "timeInMins" : 90,
                      "escalations" : [ {
                        "escalationRecipients" : {
                          "agentIds" : [ 4000000009158 ],
                          "otherRecpts" : [ "RECORD_OWNER" ]
                        },
                        "templateId" : 4000000007355,
                        "escalationLevel" : 1,
                        "whenToEscalate" : 15
                      } ],
                      "transitionsOrder" : [ "Feedbacks need to be monitored" ],
                      "businessHrId" : 4000000007355,
                      "name" : "Open",
                      "type" : "START"
                    }, {
                      "timeInMins" : 30,
                      "name" : "Escalated",
                      "type" : "INTERMEDIATE"
                    }, {
                      "timeInMins" : 30,
                      "name" : "Closed",
                      "type" : "END"
                    } ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "createBlueprintDraftResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "active", "chartData", "connections", "createdBy", "createdTimeInMillis", "criteria", "departmentId", "description", "draft", "draftAt", "dynamicTransOwnerType", "fieldId", "id", "layout", "layoutId", "modifiedBy", "modifiedTimeInMillis", "module", "name", "orderNumber", "states", "strictModeConfig", "transitions", "type" ],
                  "properties" : {
                    "orderNumber" : {
                      "minimum" : 1,
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "criteria" : {
                      "properties" : {
                        "fieldConditions" : {
                          "items" : {
                            "required" : [ "condition", "displayValue", "fieldModule", "fieldName", "value" ],
                            "properties" : {
                              "displayValue" : {
                                "items" : {
                                  "oneOf" : [ {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                  }, {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                    }
                                  } ]
                                }
                              },
                              "condition" : {
                                "maxLength" : 100,
                                "minLength" : 1
                              },
                              "fieldName" : {
                                "maxLength" : 200,
                                "minLength" : 1
                              },
                              "fieldModule" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "tickets|contacts|accounts",
                                "enum" : [ "tickets", "contacts", "accounts" ]
                              },
                              "value" : {
                                "items" : {
                                  "oneOf" : [ {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                  }, {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                    }
                                  } ]
                                }
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "pattern" : {
                          "maxLength" : 200,
                          "minLength" : 1,
                          "pattern" : "[andor()0-9\\s]*"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "module" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "tickets",
                      "enum" : [ "tickets" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Module of the Blueprint",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "description" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Description of blueprint",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "dynamicTransOwnerType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "ACTIVE|INACTIVE",
                      "enum" : [ "ACTIVE", "INACTIVE" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Dynamic Trans Owner type",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "active" : { },
                    "draftAt" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "type" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "NON_CONTINUOUS|CONTINUOUS",
                      "enum" : [ "NON_CONTINUOUS", "CONTINUOUS" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Type of blueprint",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "transitions" : {
                      "items" : {
                        "required" : [ "after", "autoTransitionActions", "before", "commonStates", "description", "during", "id", "isAutoTransition", "isCommonTransition", "name" ],
                        "properties" : {
                          "isAutoTransition" : { },
                          "before" : {
                            "properties" : {
                              "accessors" : {
                                "required" : [ "actionId", "owners", "sharedDeptAccessors" ],
                                "properties" : {
                                  "actionId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "owners" : {
                                    "required" : [ "agentIds", "otherRecpts", "teamIds" ],
                                    "properties" : {
                                      "agentIds" : {
                                        "items" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        }
                                      },
                                      "otherRecpts" : {
                                        "items" : {
                                          "maxLength" : 100,
                                          "minLength" : 1,
                                          "pattern" : "RECORD_OWNER",
                                          "enum" : [ "RECORD_OWNER" ]
                                        }
                                      },
                                      "teamIds" : {
                                        "items" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        }
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "sharedDeptAccessors" : {
                                    "items" : {
                                      "required" : [ "accessors", "departmentId", "sharingType" ],
                                      "properties" : {
                                        "accessors" : {
                                          "required" : [ "agentIds", "teamIds" ],
                                          "properties" : {
                                            "agentIds" : {
                                              "items" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              }
                                            },
                                            "teamIds" : {
                                              "items" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              }
                                            }
                                          },
                                          "additionalProperties" : false
                                        },
                                        "departmentId" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        },
                                        "sharingType" : {
                                          "maxLength" : 100,
                                          "minLength" : 1,
                                          "pattern" : "READ_WRITE|READ_ONLY|RESTRICTED_ACCESS",
                                          "enum" : [ "READ_WRITE", "READ_ONLY", "RESTRICTED_ACCESS" ]
                                        }
                                      },
                                      "additionalProperties" : false
                                    }
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "criteriaDetails" : {
                                "required" : [ "actionId", "criteria" ],
                                "properties" : {
                                  "criteria" : {
                                    "required" : [ "fieldConditions", "pattern" ],
                                    "properties" : {
                                      "fieldConditions" : {
                                        "items" : {
                                          "required" : [ "columnName", "condition", "criteriaValues", "displayValue", "fieldModule", "fieldName", "fieldType", "i18nLabel", "staticFieldName", "tableName", "value" ],
                                          "properties" : {
                                            "criteriaValues" : {
                                              "items" : {
                                                "required" : [ "displayValue", "value" ],
                                                "properties" : {
                                                  "displayValue" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 1,
                                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                                  },
                                                  "value" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 1,
                                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                                  }
                                                },
                                                "additionalProperties" : false
                                              }
                                            },
                                            "displayValue" : {
                                              "items" : {
                                                "oneOf" : [ {
                                                  "maxLength" : 100,
                                                  "minLength" : 0,
                                                  "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                                }, {
                                                  "uniqueItems" : false,
                                                  "items" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                                  }
                                                } ]
                                              }
                                            },
                                            "condition" : {
                                              "maxLength" : 100,
                                              "minLength" : 1
                                            },
                                            "fieldName" : {
                                              "maxLength" : 200,
                                              "minLength" : 1
                                            },
                                            "staticFieldName" : {
                                              "maxLength" : 100,
                                              "minLength" : 0,
                                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                            },
                                            "fieldModule" : {
                                              "maxLength" : 100,
                                              "minLength" : 0,
                                              "pattern" : "tickets|contacts|accounts",
                                              "enum" : [ "tickets", "contacts", "accounts" ]
                                            },
                                            "fieldType" : {
                                              "maxLength" : 100,
                                              "minLength" : 0,
                                              "enum" : [ "Text", "URL", "Textarea", "Email", "Phone", "Multiselect", "Date", "DateTime", "Number", "Checkbox", "Percent", "Decimal", "Currency", "Picklist", "LookUp", "Lookup", "AutoNumber", "Boolean", "Fax" ]
                                            },
                                            "value" : {
                                              "items" : {
                                                "oneOf" : [ {
                                                  "maxLength" : 100,
                                                  "minLength" : 0,
                                                  "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                                }, {
                                                  "uniqueItems" : false,
                                                  "items" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                                  }
                                                } ]
                                              }
                                            },
                                            "i18nLabel" : {
                                              "maxLength" : 100,
                                              "minLength" : 0,
                                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                            },
                                            "tableName" : {
                                              "maxLength" : 100,
                                              "minLength" : 1,
                                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                            },
                                            "columnName" : {
                                              "maxLength" : 100,
                                              "minLength" : 1,
                                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                            }
                                          },
                                          "additionalProperties" : false
                                        }
                                      },
                                      "pattern" : {
                                        "maxLength" : 200,
                                        "minLength" : 1,
                                        "pattern" : "[andor()0-9\\s]*"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "actionId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "additionalProperties" : false
                          },
                          "name" : {
                            "maxLength" : 30,
                            "minLength" : 1,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "description" : {
                            "maxLength" : 1000,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])*"
                          },
                          "commonStates" : {
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                            }
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "during" : {
                            "items" : {
                              "oneOf" : [ {
                                "required" : [ "actionId", "message" ],
                                "properties" : {
                                  "actionId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "message" : {
                                    "maxLength" : 255,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              }, {
                                "required" : [ "actionId", "fieldUpdates", "isMandatory" ],
                                "properties" : {
                                  "fieldUpdates" : {
                                    "required" : [ "errorMsg", "fieldId" ],
                                    "properties" : {
                                      "criteria" : {
                                        "required" : [ "fieldConditions", "pattern" ],
                                        "properties" : {
                                          "fieldConditions" : {
                                            "items" : {
                                              "required" : [ "condition", "fieldModule", "fieldName", "value" ],
                                              "properties" : {
                                                "condition" : {
                                                  "maxLength" : 100,
                                                  "minLength" : 1
                                                },
                                                "fieldName" : {
                                                  "maxLength" : 200,
                                                  "minLength" : 1
                                                },
                                                "fieldModule" : {
                                                  "maxLength" : 100,
                                                  "minLength" : 0,
                                                  "pattern" : "tickets|contacts|accounts",
                                                  "enum" : [ "tickets", "contacts", "accounts" ]
                                                },
                                                "value" : {
                                                  "items" : {
                                                    "oneOf" : [ {
                                                      "maxLength" : 100,
                                                      "minLength" : 0,
                                                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                                    }, {
                                                      "uniqueItems" : false,
                                                      "items" : {
                                                        "maxLength" : 100,
                                                        "minLength" : 0,
                                                        "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                                      }
                                                    } ]
                                                  }
                                                }
                                              },
                                              "additionalProperties" : false
                                            }
                                          },
                                          "pattern" : {
                                            "maxLength" : 200,
                                            "minLength" : 1,
                                            "pattern" : "[andor()0-9\\s]*"
                                          }
                                        },
                                        "additionalProperties" : false
                                      },
                                      "fieldId" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "errorMsg" : {
                                        "maxLength" : 255,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])*"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "actionId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "isMandatory" : { }
                                },
                                "additionalProperties" : false
                              }, {
                                "required" : [ "actionId", "isMandatory", "otherActions" ],
                                "properties" : {
                                  "otherActions" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "REPLY|BUG|COMMENT|RESOLUTION|APPROVAL|ATTACHMENT|SHARING|FIELD_UPDATE",
                                    "enum" : [ "REPLY", "BUG", "COMMENT", "RESOLUTION", "APPROVAL", "ATTACHMENT", "SHARING", "FIELD_UPDATE" ]
                                  },
                                  "actionId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "isMandatory" : { }
                                },
                                "additionalProperties" : false
                              } ]
                            }
                          },
                          "after" : {
                            "properties" : {
                              "fieldUpdate" : {
                                "required" : [ "actionId", "ids" ],
                                "properties" : {
                                  "actionId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "ids" : {
                                    "items" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    }
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "task" : {
                                "required" : [ "actionId", "ids" ],
                                "properties" : {
                                  "actionId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "ids" : {
                                    "items" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    }
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "customFunction" : {
                                "required" : [ "actionId", "ids" ],
                                "properties" : {
                                  "actionId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "ids" : {
                                    "items" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    }
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "alert" : {
                                "required" : [ "actionId", "ids" ],
                                "properties" : {
                                  "actionId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "ids" : {
                                    "items" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    }
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "additionalProperties" : false
                          },
                          "autoTransitionActions" : {
                            "properties" : {
                              "feedback" : {
                                "maxLength" : 100,
                                "minLength" : 1,
                                "pattern" : "SURVEY_ALL|SURVEY_GOOD|SURVEY_AVG|SURVEY_BAD",
                                "enum" : [ "SURVEY_ALL", "SURVEY_GOOD", "SURVEY_AVG", "SURVEY_BAD" ]
                              },
                              "reply" : {
                                "maxLength" : 100,
                                "minLength" : 1,
                                "pattern" : "REPLY_ALL|REPLY_PRIVATE|REPLY_PUBLIC",
                                "enum" : [ "REPLY_ALL", "REPLY_PRIVATE", "REPLY_PUBLIC" ]
                              }
                            },
                            "additionalProperties" : false
                          },
                          "isCommonTransition" : { }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "layoutId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "states" : {
                      "items" : {
                        "required" : [ "businessHrId", "escalations", "id", "name", "timeInMins", "transitionsOrder", "type" ],
                        "properties" : {
                          "timeInMins" : {
                            "maxLength" : 100,
                            "minLength" : 1,
                            "pattern" : "[0-9]+"
                          },
                          "escalations" : {
                            "items" : {
                              "required" : [ "escalationLevel", "escalationRecipients", "templateId", "whenToEscalate" ],
                              "properties" : {
                                "escalationRecipients" : {
                                  "required" : [ "agentIds", "otherRecpts", "roleIds", "subordinateIds", "teamIds" ],
                                  "properties" : {
                                    "agentIds" : {
                                      "items" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      }
                                    },
                                    "subordinateIds" : {
                                      "items" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      }
                                    },
                                    "roleIds" : {
                                      "items" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      }
                                    },
                                    "otherRecpts" : {
                                      "items" : {
                                        "maxLength" : 100,
                                        "minLength" : 1,
                                        "pattern" : "RECORD_OWNER",
                                        "enum" : [ "RECORD_OWNER" ]
                                      }
                                    },
                                    "teamIds" : {
                                      "items" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      }
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "templateId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "escalationLevel" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "1|2|3",
                                  "enum" : [ "1", "2", "3" ]
                                },
                                "whenToEscalate" : {
                                  "minimum" : 1,
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "transitionsOrder" : {
                            "items" : {
                              "maxLength" : 120,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "businessHrId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "name" : {
                            "maxLength" : 120,
                            "minLength" : 1,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 1,
                            "pattern" : "START|INTERMEDIATE|END",
                            "enum" : [ "START", "INTERMEDIATE", "END" ]
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "layout" : {
                      "required" : [ "id", "name" ],
                      "properties" : {
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "chartData" : {
                      "required" : [ "canvasPosition", "connectionDetails", "stateDetails" ],
                      "properties" : {
                        "canvasPosition" : {
                          "required" : [ "left", "top" ],
                          "properties" : {
                            "top" : {
                              "maxLength" : 500,
                              "minLength" : 0,
                              "pattern" : "[0-9\\.\\-]+"
                            },
                            "left" : {
                              "maxLength" : 500,
                              "minLength" : 0,
                              "pattern" : "[0-9\\.\\-]+"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "connectionDetails" : {
                          "items" : {
                            "required" : [ "fromUuid", "isAuto", "isCommTrans", "toUuid", "transName" ],
                            "properties" : {
                              "toUuid" : {
                                "maxLength" : 121,
                                "minLength" : 1,
                                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                              },
                              "transName" : {
                                "maxLength" : 30,
                                "minLength" : 1,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "isCommTrans" : { },
                              "fromUuid" : {
                                "maxLength" : 121,
                                "minLength" : 1,
                                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                              },
                              "usedStates" : {
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                                }
                              },
                              "isAuto" : { },
                              "fromState" : {
                                "maxLength" : 120,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                              },
                              "toState" : {
                                "maxLength" : 120,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "stateDetails" : {
                          "items" : {
                            "required" : [ "displayName", "lastModifiedStateName", "position", "stateId", "stateName" ],
                            "properties" : {
                              "slaTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                              },
                              "lastModifiedStateName" : {
                                "maxLength" : 120,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                              },
                              "stateName" : {
                                "maxLength" : 120,
                                "minLength" : 1,
                                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                              },
                              "displayName" : {
                                "maxLength" : 120,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                              },
                              "stateId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "position" : {
                                "required" : [ "left", "top" ],
                                "properties" : {
                                  "top" : {
                                    "maxLength" : 500,
                                    "minLength" : 0,
                                    "pattern" : "[0-9\\.\\-]+"
                                  },
                                  "left" : {
                                    "maxLength" : 500,
                                    "minLength" : 0,
                                    "pattern" : "[0-9\\.\\-]+"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "strictModeConfig" : {
                      "required" : [ "actions", "fieldIds", "strictModeType" ],
                      "properties" : {
                        "strictModeType" : {
                          "maxLength" : 100,
                          "minLength" : 1,
                          "pattern" : "FULL_RESTRICTION|SELECTIVE_RESTRICTION|SELECTIVE_EXCLUSION",
                          "enum" : [ "FULL_RESTRICTION", "SELECTIVE_RESTRICTION", "SELECTIVE_EXCLUSION" ]
                        },
                        "actions" : {
                          "items" : {
                            "minLength" : 0,
                            "pattern" : "REPLY|BUG|COMMENT|RESOLUTION|APPROVAL|ATTACHMENT|SHARING",
                            "enum" : [ "REPLY", "BUG", "COMMENT", "RESOLUTION", "APPROVAL", "ATTACHMENT", "SHARING" ]
                          }
                        },
                        "fieldIds" : {
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        }
                      },
                      "additionalProperties" : false
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "draft" : { },
                    "name" : {
                      "maxLength" : 60,
                      "minLength" : 1,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Name of the blueprint",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "id" : {
                      "minimum" : 1,
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "modifiedTimeInMillis" : {
                      "minimum" : 1,
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "createdTimeInMillis" : {
                      "minimum" : 1,
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "connections" : {
                      "items" : {
                        "required" : [ "fromState", "toState", "transitions" ],
                        "properties" : {
                          "fromState" : {
                            "required" : [ "id", "name" ],
                            "properties" : {
                              "name" : {
                                "maxLength" : 120,
                                "minLength" : 1,
                                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "toState" : {
                            "required" : [ "id", "name" ],
                            "properties" : {
                              "name" : {
                                "maxLength" : 120,
                                "minLength" : 1,
                                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "transitions" : {
                            "items" : {
                              "required" : [ "id", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 30,
                                  "minLength" : 1,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : false
                            }
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "fieldId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "criteria" : {
                        "fieldConditions" : [ {
                          "condition" : "is open",
                          "fieldName" : "Status",
                          "fieldModule" : "tickets",
                          "value" : [ "${OPEN}" ]
                        } ],
                        "pattern" : "(1)"
                      },
                      "departmentId" : "4000000007235",
                      "module" : "Cases",
                      "description" : "Automates Private Threading Handling",
                      "type" : "NON_CONTINUOUS",
                      "transitions" : [ {
                        "isAutoTransition" : false,
                        "before" : {
                          "accessors" : {
                            "actionId" : 4000000007723,
                            "owners" : {
                              "agentIds" : [ 4000000009158 ],
                              "otherRecpts" : [ "RECORD_OWNER" ],
                              "teamIds" : [ 4000000009158 ]
                            },
                            "sharedDeptAccessors" : [ {
                              "accessors" : {
                                "agentIds" : [ 4000000009158 ],
                                "teamIds" : [ 4000000009158 ]
                              },
                              "deptId" : 4000000009158,
                              "sharingType" : "READ_ONLY"
                            } ]
                          },
                          "criteriaDetails" : {
                            "criteria" : {
                              "fieldConditions" : [ {
                                "condition" : "is open",
                                "fieldName" : "Status",
                                "fieldModule" : "tickets",
                                "value" : [ "${OPEN}" ]
                              } ],
                              "pattern" : "(1)"
                            },
                            "actionId" : 4000000007723
                          }
                        },
                        "name" : "Feedbacks need to be monitored",
                        "description" : "Lack of instruments to repair",
                        "id" : 4000000007723,
                        "during" : [ {
                          "actionId" : 4000000007723,
                          "message" : "Add comment here"
                        }, {
                          "fieldUpdates" : {
                            "criteria" : {
                              "fieldConditions" : [ {
                                "condition" : "is open",
                                "fieldName" : "Status",
                                "value" : [ "${OPEN}" ]
                              } ],
                              "pattern" : "(1)"
                            },
                            "fieldId" : 4000000009158,
                            "errorMsg" : "Enter a valid Priority"
                          },
                          "actionId" : 4000000007723,
                          "isMandatory" : true
                        }, {
                          "otherActions" : "BUG",
                          "actionId" : 4000000007723,
                          "isMandatory" : false
[...]
