{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "blueprintTransitions",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "automation"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/tickets/{ticket_id}/transitions/{transition_id}/attachments/{attachment_id}/content" : {
      "get" : {
        "tags" : [ "blueprintTransitions" ],
        "summary" : "View a specific attachment added to a transition draft",
        "description" : "Get attachment of a transition draft",
        "operationId" : "viewTemporaryTransitionDraftAttachment",
        "parameters" : [ {
          "name" : "attachment_id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "ticket_id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "transition_id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "File response",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "format" : "binary"
                }
              }
            }
          }
        },
        "x-audience" : [ "external-public" ]
      }
    },
    "/api/v1/tickets/{ticket_id}/transitions/{transition_id}/attachments/{attachment_id}" : {
      "delete" : {
        "tags" : [ "blueprintTransitions" ],
        "summary" : "Delete attachment of a transition draft",
        "description" : "Delete a specific attachment added to a transition draft.",
        "operationId" : "deleteTransitionDraftTemporaryAttachment",
        "parameters" : [ {
          "name" : "attachment_id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "ticket_id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "transition_id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "dfce60fabe20a4df5b9c9dbbb06376b6",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.DeskBlueprintService.deleteTransitionDraftTemporaryAttachment"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "transitionObjectWithPrimaryDetails" : {
        "required" : [ "id", "name" ],
        "properties" : {
          "name" : {
            "maxLength" : 30,
            "minLength" : 1,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "transitionArrayWithPrimaryDetails" : {
        "items" : {
          "required" : [ "id", "name" ],
          "properties" : {
            "name" : {
              "maxLength" : 30,
              "minLength" : 1,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "additionalProperties" : false
        }
      },
      "teamsArrayForGetAppliedBlueprintDetails" : {
        "items" : {
          "required" : [ "id", "logoUrl", "name" ],
          "properties" : {
            "name" : {
              "maxLength" : 50,
              "minLength" : 1,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "logoUrl" : {
              "maxLength" : 200,
              "minLength" : 0,
              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
            }
          },
          "additionalProperties" : { }
        }
      },
      "agentsArrayForGetAppliedBlueprintDetails" : {
        "items" : {
          "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
          "properties" : {
            "photoURL" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "firstName" : {
              "maxLength" : 50,
              "minLength" : 0
            },
            "lastName" : {
              "maxLength" : 50,
              "minLength" : 0
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "email" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
            }
          },
          "additionalProperties" : { }
        }
      },
      "ownersObjectForGetAppliedBlueprintDetails" : {
        "required" : [ "agentIds", "agents", "department", "departmentId", "deptSharingType", "teamIds", "teams" ],
        "properties" : {
          "agentIds" : {
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "teams" : {
            "items" : {
              "required" : [ "id", "logoUrl", "name" ],
              "properties" : {
                "name" : {
                  "maxLength" : 50,
                  "minLength" : 1,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "logoUrl" : {
                  "maxLength" : 200,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                }
              },
              "additionalProperties" : false
            }
          },
          "departmentId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "department" : {
            "required" : [ "id", "name" ],
            "properties" : {
              "name" : {
                "maxLength" : 200,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : { }
          },
          "teamIds" : {
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "agents" : {
            "items" : {
              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
              "properties" : {
                "photoURL" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                },
                "firstName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "lastName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "email" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                }
              },
              "additionalProperties" : false
            }
          },
          "deptSharingType" : {
            "maxLength" : 100,
            "minLength" : 1,
            "pattern" : "NO_SHARING|READ_ONLY|READ_WRITE|RESTRICTED_ACCESS",
            "enum" : [ "NO_SHARING", "READ_ONLY", "READ_WRITE", "RESTRICTED_ACCESS" ]
          }
        },
        "additionalProperties" : { }
      },
      "ownersArrayForGetAppliedBlueprintDetails" : {
        "items" : {
          "required" : [ "agentIds", "agents", "department", "departmentId", "deptSharingType", "teamIds", "teams" ],
          "properties" : {
            "agentIds" : {
              "items" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "teams" : {
              "items" : {
                "required" : [ "id", "logoUrl", "name" ],
                "properties" : {
                  "name" : {
                    "maxLength" : 50,
                    "minLength" : 1,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "logoUrl" : {
                    "maxLength" : 200,
                    "minLength" : 0,
                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                  }
                },
                "additionalProperties" : false
              }
            },
            "departmentId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "department" : {
              "required" : [ "id", "name" ],
              "properties" : {
                "name" : {
                  "maxLength" : 200,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "additionalProperties" : false
            },
            "teamIds" : {
              "items" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "agents" : {
              "items" : {
                "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                "properties" : {
                  "photoURL" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "firstName" : {
                    "maxLength" : 50,
                    "minLength" : 0
                  },
                  "lastName" : {
                    "maxLength" : 50,
                    "minLength" : 0
                  },
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "email" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                  }
                },
                "additionalProperties" : false
              }
            },
            "deptSharingType" : {
              "maxLength" : 100,
              "minLength" : 1,
              "pattern" : "NO_SHARING|READ_ONLY|READ_WRITE|RESTRICTED_ACCESS",
              "enum" : [ "NO_SHARING", "READ_ONLY", "READ_WRITE", "RESTRICTED_ACCESS" ]
            }
          },
          "additionalProperties" : { }
        }
      },
      "transitionsObjectForGetAppliedBlueprintDetails" : {
        "required" : [ "canUserPerformTransition", "criteria", "fromState", "id", "isAutoTransition", "isCriteriaSatisfied", "name", "owners", "toState" ],
        "properties" : {
          "fromState" : {
            "maxLength" : 120,
            "minLength" : 1,
            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
          },
          "toState" : {
            "maxLength" : 120,
            "minLength" : 1,
            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
          },
          "isAutoTransition" : { },
          "criteria" : {
            "required" : [ "fieldConditions", "pattern" ],
            "properties" : {
              "fieldConditions" : {
                "items" : {
                  "required" : [ "columnName", "condition", "criteriaValues", "displayValue", "fieldModule", "fieldName", "fieldType", "i18nLabel", "staticFieldName", "tableName", "value" ],
                  "properties" : {
                    "criteriaValues" : {
                      "items" : {
                        "required" : [ "displayValue", "value" ],
                        "properties" : {
                          "displayValue" : {
                            "maxLength" : 100,
                            "minLength" : 1,
                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                          },
                          "value" : {
                            "maxLength" : 100,
                            "minLength" : 1,
                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "displayValue" : {
                      "items" : {
                        "oneOf" : [ {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                        }, {
                          "uniqueItems" : false,
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                          }
                        } ]
                      }
                    },
                    "condition" : {
                      "maxLength" : 100,
                      "minLength" : 1
                    },
                    "fieldName" : {
                      "maxLength" : 200,
                      "minLength" : 1
                    },
                    "staticFieldName" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "fieldModule" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "tickets|contacts|accounts",
                      "enum" : [ "tickets", "contacts", "accounts" ]
                    },
                    "fieldType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "Text", "URL", "Textarea", "Email", "Phone", "Multiselect", "Date", "DateTime", "Number", "Checkbox", "Percent", "Decimal", "Currency", "Picklist", "LookUp", "Lookup", "AutoNumber", "Boolean", "Fax" ]
                    },
                    "value" : {
                      "items" : {
                        "oneOf" : [ {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                        }, {
                          "uniqueItems" : false,
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                          }
                        } ]
                      }
                    },
                    "i18nLabel" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "tableName" : {
                      "maxLength" : 100,
                      "minLength" : 1,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "columnName" : {
                      "maxLength" : 100,
                      "minLength" : 1,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    }
                  },
                  "additionalProperties" : false
                }
              },
              "pattern" : {
                "maxLength" : 200,
                "minLength" : 1,
                "pattern" : "[andor()0-9\\s]*"
              }
            },
            "additionalProperties" : { }
          },
          "name" : {
            "maxLength" : 30,
            "minLength" : 1,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "owners" : {
            "items" : {
              "required" : [ "agentIds", "agents", "department", "departmentId", "deptSharingType", "teamIds", "teams" ],
              "properties" : {
                "agentIds" : {
                  "items" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "teams" : {
                  "items" : {
                    "required" : [ "id", "logoUrl", "name" ],
                    "properties" : {
                      "name" : {
                        "maxLength" : 50,
                        "minLength" : 1,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "logoUrl" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "departmentId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "department" : {
                  "required" : [ "id", "name" ],
                  "properties" : {
                    "name" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : false
                },
                "teamIds" : {
                  "items" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "agents" : {
                  "items" : {
                    "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                    "properties" : {
                      "photoURL" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "firstName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "lastName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "email" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "deptSharingType" : {
                  "maxLength" : 100,
                  "minLength" : 1,
                  "pattern" : "NO_SHARING|READ_ONLY|READ_WRITE|RESTRICTED_ACCESS",
                  "enum" : [ "NO_SHARING", "READ_ONLY", "READ_WRITE", "RESTRICTED_ACCESS" ]
                }
              },
              "additionalProperties" : false
            }
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "canUserPerformTransition" : { },
          "isCriteriaSatisfied" : { }
        },
        "additionalProperties" : { }
      },
      "transitionsArrayForGetAppliedBlueprintDetails" : {
        "items" : {
          "required" : [ "canUserPerformTransition", "criteria", "fromState", "id", "isAutoTransition", "isCriteriaSatisfied", "name", "owners", "toState" ],
          "properties" : {
            "fromState" : {
              "maxLength" : 120,
              "minLength" : 1,
              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
            },
            "toState" : {
              "maxLength" : 120,
              "minLength" : 1,
              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
            },
            "isAutoTransition" : { },
            "criteria" : {
              "required" : [ "fieldConditions", "pattern" ],
              "properties" : {
                "fieldConditions" : {
                  "items" : {
                    "required" : [ "columnName", "condition", "criteriaValues", "displayValue", "fieldModule", "fieldName", "fieldType", "i18nLabel", "staticFieldName", "tableName", "value" ],
                    "properties" : {
                      "criteriaValues" : {
                        "items" : {
                          "required" : [ "displayValue", "value" ],
                          "properties" : {
                            "displayValue" : {
                              "maxLength" : 100,
                              "minLength" : 1,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                            },
                            "value" : {
                              "maxLength" : 100,
                              "minLength" : 1,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "displayValue" : {
                        "items" : {
                          "oneOf" : [ {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                          }, {
                            "uniqueItems" : false,
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                            }
                          } ]
                        }
                      },
                      "condition" : {
                        "maxLength" : 100,
                        "minLength" : 1
                      },
                      "fieldName" : {
                        "maxLength" : 200,
                        "minLength" : 1
                      },
                      "staticFieldName" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "fieldModule" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "tickets|contacts|accounts",
                        "enum" : [ "tickets", "contacts", "accounts" ]
                      },
                      "fieldType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "Text", "URL", "Textarea", "Email", "Phone", "Multiselect", "Date", "DateTime", "Number", "Checkbox", "Percent", "Decimal", "Currency", "Picklist", "LookUp", "Lookup", "AutoNumber", "Boolean", "Fax" ]
                      },
                      "value" : {
                        "items" : {
                          "oneOf" : [ {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                          }, {
                            "uniqueItems" : false,
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                            }
                          } ]
                        }
                      },
                      "i18nLabel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "tableName" : {
                        "maxLength" : 100,
                        "minLength" : 1,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "columnName" : {
                        "maxLength" : 100,
                        "minLength" : 1,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "pattern" : {
                  "maxLength" : 200,
                  "minLength" : 1,
                  "pattern" : "[andor()0-9\\s]*"
                }
              },
              "additionalProperties" : false
            },
            "name" : {
              "maxLength" : 30,
              "minLength" : 1,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "owners" : {
              "items" : {
                "required" : [ "agentIds", "agents", "department", "departmentId", "deptSharingType", "teamIds", "teams" ],
                "properties" : {
                  "agentIds" : {
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "teams" : {
                    "items" : {
                      "required" : [ "id", "logoUrl", "name" ],
                      "properties" : {
                        "name" : {
                          "maxLength" : 50,
                          "minLength" : 1,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "logoUrl" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "departmentId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "department" : {
                    "required" : [ "id", "name" ],
                    "properties" : {
                      "name" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "additionalProperties" : false
                  },
                  "teamIds" : {
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "agents" : {
                    "items" : {
                      "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "deptSharingType" : {
                    "maxLength" : 100,
                    "minLength" : 1,
                    "pattern" : "NO_SHARING|READ_ONLY|READ_WRITE|RESTRICTED_ACCESS",
                    "enum" : [ "NO_SHARING", "READ_ONLY", "READ_WRITE", "RESTRICTED_ACCESS" ]
                  }
                },
                "additionalProperties" : false
              }
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "canUserPerformTransition" : { },
            "isCriteriaSatisfied" : { }
          },
          "additionalProperties" : { }
        }
      },
      "ownersObject" : {
        "required" : [ "agentIds", "otherRecpts", "teamIds" ],
        "properties" : {
          "agentIds" : {
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "otherRecpts" : {
            "items" : {
              "maxLength" : 100,
              "minLength" : 1,
              "pattern" : "RECORD_OWNER",
              "enum" : [ "RECORD_OWNER" ]
            }
          },
          "teamIds" : {
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          }
        },
        "additionalProperties" : { }
      },
      "accessorsObject" : {
        "required" : [ "agentIds", "teamIds" ],
        "properties" : {
          "agentIds" : {
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "teamIds" : {
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          }
        },
        "additionalProperties" : { }
      },
      "sharedDeptAccessorsObject" : {
        "required" : [ "accessors", "departmentId", "sharingType" ],
        "properties" : {
          "accessors" : {
            "required" : [ "agentIds", "teamIds" ],
            "properties" : {
              "agentIds" : {
                "items" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "teamIds" : {
                "items" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              }
            },
            "additionalProperties" : { }
          },
          "departmentId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "sharingType" : {
            "maxLength" : 100,
            "minLength" : 1,
            "pattern" : "READ_WRITE|READ_ONLY|RESTRICTED_ACCESS",
            "enum" : [ "READ_WRITE", "READ_ONLY", "RESTRICTED_ACCESS" ]
          }
        },
        "additionalProperties" : { }
      },
      "sharedDeptAccessorsArray" : {
        "items" : {
          "required" : [ "accessors", "departmentId", "sharingType" ],
          "properties" : {
            "accessors" : {
              "required" : [ "agentIds", "teamIds" ],
              "properties" : {
                "agentIds" : {
                  "items" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "teamIds" : {
                  "items" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                }
              },
              "additionalProperties" : false
            },
            "departmentId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "sharingType" : {
              "maxLength" : 100,
              "minLength" : 1,
              "pattern" : "READ_WRITE|READ_ONLY|RESTRICTED_ACCESS",
              "enum" : [ "READ_WRITE", "READ_ONLY", "RESTRICTED_ACCESS" ]
            }
          },
          "additionalProperties" : { }
        }
      },
      "accessorsBeforeTransitionObjectForResponse" : {
        "required" : [ "actionId", "owners", "sharedDeptAccessors" ],
        "properties" : {
          "actionId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "owners" : {
            "required" : [ "agentIds", "otherRecpts", "teamIds" ],
            "properties" : {
              "agentIds" : {
                "items" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "otherRecpts" : {
                "items" : {
                  "maxLength" : 100,
                  "minLength" : 1,
                  "pattern" : "RECORD_OWNER",
                  "enum" : [ "RECORD_OWNER" ]
                }
              },
              "teamIds" : {
                "items" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              }
            },
            "additionalProperties" : { }
          },
          "sharedDeptAccessors" : {
            "items" : {
              "required" : [ "accessors", "departmentId", "sharingType" ],
              "properties" : {
                "accessors" : {
                  "required" : [ "agentIds", "teamIds" ],
                  "properties" : {
                    "agentIds" : {
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "teamIds" : {
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "departmentId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "sharingType" : {
                  "maxLength" : 100,
                  "minLength" : 1,
                  "pattern" : "READ_WRITE|READ_ONLY|RESTRICTED_ACCESS",
                  "enum" : [ "READ_WRITE", "READ_ONLY", "RESTRICTED_ACCESS" ]
                }
              },
              "additionalProperties" : false
            }
          }
        },
        "additionalProperties" : { }
      },
      "criteriaDetailsObjectForResponse" : {
        "required" : [ "actionId", "criteria" ],
        "properties" : {
          "criteria" : {
            "required" : [ "fieldConditions", "pattern" ],
            "properties" : {
              "fieldConditions" : {
                "items" : {
                  "required" : [ "columnName", "condition", "criteriaValues", "displayValue", "fieldModule", "fieldName", "fieldType", "i18nLabel", "staticFieldName", "tableName", "value" ],
                  "properties" : {
                    "criteriaValues" : {
                      "items" : {
                        "required" : [ "displayValue", "value" ],
                        "properties" : {
                          "displayValue" : {
                            "maxLength" : 100,
                            "minLength" : 1,
                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                          },
                          "value" : {
                            "maxLength" : 100,
                            "minLength" : 1,
                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "displayValue" : {
                      "items" : {
                        "oneOf" : [ {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                        }, {
                          "uniqueItems" : false,
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                          }
                        } ]
                      }
                    },
                    "condition" : {
                      "maxLength" : 100,
                      "minLength" : 1
                    },
                    "fieldName" : {
                      "maxLength" : 200,
                      "minLength" : 1
                    },
                    "staticFieldName" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "fieldModule" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "tickets|contacts|accounts",
                      "enum" : [ "tickets", "contacts", "accounts" ]
                    },
                    "fieldType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "Text", "URL", "Textarea", "Email", "Phone", "Multiselect", "Date", "DateTime", "Number", "Checkbox", "Percent", "Decimal", "Currency", "Picklist", "LookUp", "Lookup", "AutoNumber", "Boolean", "Fax" ]
                    },
                    "value" : {
                      "items" : {
                        "oneOf" : [ {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                        }, {
                          "uniqueItems" : false,
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                          }
                        } ]
                      }
                    },
                    "i18nLabel" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "tableName" : {
                      "maxLength" : 100,
                      "minLength" : 1,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "columnName" : {
                      "maxLength" : 100,
                      "minLength" : 1,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    }
                  },
                  "additionalProperties" : false
                }
              },
              "pattern" : {
                "maxLength" : 200,
                "minLength" : 1,
                "pattern" : "[andor()0-9\\s]*"
              }
            },
            "additionalProperties" : false
          },
          "actionId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "beforeObjectForResponse" : {
        "properties" : {
          "accessors" : {
            "required" : [ "actionId", "owners", "sharedDeptAccessors" ],
            "properties" : {
              "actionId" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "owners" : {
                "required" : [ "agentIds", "otherRecpts", "teamIds" ],
                "properties" : {
                  "agentIds" : {
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "otherRecpts" : {
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 1,
                      "pattern" : "RECORD_OWNER",
                      "enum" : [ "RECORD_OWNER" ]
                    }
                  },
                  "teamIds" : {
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  }
                },
                "additionalProperties" : false
              },
              "sharedDeptAccessors" : {
                "items" : {
                  "required" : [ "accessors", "departmentId", "sharingType" ],
                  "properties" : {
                    "accessors" : {
                      "required" : [ "agentIds", "teamIds" ],
                      "properties" : {
                        "agentIds" : {
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "teamIds" : {
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        }
                      },
                      "additionalProperties" : false
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "sharingType" : {
                      "maxLength" : 100,
                      "minLength" : 1,
                      "pattern" : "READ_WRITE|READ_ONLY|RESTRICTED_ACCESS",
                      "enum" : [ "READ_WRITE", "READ_ONLY", "RESTRICTED_ACCESS" ]
                    }
                  },
                  "additionalProperties" : false
                }
              }
            },
            "additionalProperties" : { }
          },
          "criteriaDetails" : {
            "required" : [ "actionId", "criteria" ],
            "properties" : {
              "criteria" : {
                "required" : [ "fieldConditions", "pattern" ],
                "properties" : {
                  "fieldConditions" : {
                    "items" : {
                      "required" : [ "columnName", "condition", "criteriaValues", "displayValue", "fieldModule", "fieldName", "fieldType", "i18nLabel", "staticFieldName", "tableName", "value" ],
                      "properties" : {
                        "criteriaValues" : {
                          "items" : {
                            "required" : [ "displayValue", "value" ],
                            "properties" : {
                              "displayValue" : {
                                "maxLength" : 100,
                                "minLength" : 1,
                                "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                              },
                              "value" : {
                                "maxLength" : 100,
                                "minLength" : 1,
                                "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "displayValue" : {
                          "items" : {
                            "oneOf" : [ {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                            }, {
                              "uniqueItems" : false,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                              }
                            } ]
                          }
                        },
                        "condition" : {
                          "maxLength" : 100,
                          "minLength" : 1
                        },
                        "fieldName" : {
                          "maxLength" : 200,
                          "minLength" : 1
                        },
                        "staticFieldName" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "fieldModule" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "tickets|contacts|accounts",
                          "enum" : [ "tickets", "contacts", "accounts" ]
                        },
                        "fieldType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "Text", "URL", "Textarea", "Email", "Phone", "Multiselect", "Date", "DateTime", "Number", "Checkbox", "Percent", "Decimal", "Currency", "Picklist", "LookUp", "Lookup", "AutoNumber", "Boolean", "Fax" ]
                        },
                        "value" : {
                          "items" : {
                            "oneOf" : [ {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                            }, {
                              "uniqueItems" : false,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                              }
                            } ]
                          }
                        },
                        "i18nLabel" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "tableName" : {
                          "maxLength" : 100,
                          "minLength" : 1,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "columnName" : {
                          "maxLength" : 100,
                          "minLength" : 1,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "pattern" : {
                    "maxLength" : 200,
                    "minLength" : 1,
                    "pattern" : "[andor()0-9\\s]*"
                  }
                },
                "additionalProperties" : false
              },
              "actionId" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : { }
          }
        },
        "additionalProperties" : { }
      },
      "commonStatesArray" : {
        "items" : {
          "maxLength" : 100,
          "minLength" : 0,
          "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
        }
      },
      "messageObjectForResponse" : {
        "required" : [ "actionId", "message" ],
        "properties" : {
          "actionId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "message" : {
            "maxLength" : 255,
            "minLength" : 0
          }
        },
        "additionalProperties" : { }
      },
      "fieldUpdatesObject" : {
        "required" : [ "errorMsg", "fieldId" ],
        "properties" : {
          "criteria" : {
            "required" : [ "fieldConditions", "pattern" ],
            "properties" : {
              "fieldConditions" : {
                "items" : {
                  "required" : [ "condition", "fieldModule", "fieldName", "value" ],
                  "properties" : {
                    "condition" : {
                      "maxLength" : 100,
                      "minLength" : 1
                    },
                    "fieldName" : {
                      "maxLength" : 200,
                      "minLength" : 1
                    },
                    "fieldModule" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "tickets|contacts|accounts",
                      "enum" : [ "tickets", "contacts", "accounts" ]
                    },
                    "value" : {
                      "items" : {
                        "oneOf" : [ {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                        }, {
                          "uniqueItems" : false,
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                          }
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : false
                }
              },
              "pattern" : {
                "maxLength" : 200,
                "minLength" : 1,
                "pattern" : "[andor()0-9\\s]*"
              }
            },
            "additionalProperties" : { }
          },
          "fieldId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "errorMsg" : {
            "maxLength" : 255,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])*"
          }
        },
        "additionalProperties" : { }
      },
      "fieldUpdatesObjectsObjForResponse" : {
        "required" : [ "actionId", "fieldUpdates", "isMandatory" ],
        "properties" : {
          "fieldUpdates" : {
            "required" : [ "errorMsg", "fieldId" ],
            "properties" : {
              "criteria" : {
                "required" : [ "fieldConditions", "pattern" ],
                "properties" : {
                  "fieldConditions" : {
                    "items" : {
                      "required" : [ "condition", "fieldModule", "fieldName", "value" ],
                      "properties" : {
                        "condition" : {
                          "maxLength" : 100,
                          "minLength" : 1
                        },
                        "fieldName" : {
                          "maxLength" : 200,
                          "minLength" : 1
                        },
                        "fieldModule" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "tickets|contacts|accounts",
                          "enum" : [ "tickets", "contacts", "accounts" ]
                        },
                        "value" : {
                          "items" : {
                            "oneOf" : [ {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                            }, {
                              "uniqueItems" : false,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                              }
                            } ]
                          }
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "pattern" : {
                    "maxLength" : 200,
                    "minLength" : 1,
                    "pattern" : "[andor()0-9\\s]*"
                  }
                },
                "additionalProperties" : false
              },
              "fieldId" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "errorMsg" : {
                "maxLength" : 255,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])*"
              }
            },
            "additionalProperties" : { }
          },
          "actionId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "isMandatory" : { }
        },
        "additionalProperties" : { }
      },
      "otherActionsObjectForResponse" : {
        "required" : [ "actionId", "isMandatory", "otherActions" ],
        "properties" : {
          "otherActions" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "REPLY|BUG|COMMENT|RESOLUTION|APPROVAL|ATTACHMENT|SHARING|FIELD_UPDATE",
            "enum" : [ "REPLY", "BUG", "COMMENT", "RESOLUTION", "APPROVAL", "ATTACHMENT", "SHARING", "FIELD_UPDATE" ]
          },
          "actionId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "isMandatory" : { }
        },
        "additionalProperties" : { }
      },
      "duringArrayForResponse" : {
        "items" : {
          "oneOf" : [ {
            "required" : [ "actionId", "message" ],
            "properties" : {
              "actionId" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "message" : {
                "maxLength" : 255,
                "minLength" : 0
              }
            },
            "additionalProperties" : { }
          }, {
            "required" : [ "actionId", "fieldUpdates", "isMandatory" ],
            "properties" : {
              "fieldUpdates" : {
                "required" : [ "errorMsg", "fieldId" ],
                "properties" : {
                  "criteria" : {
                    "required" : [ "fieldConditions", "pattern" ],
                    "properties" : {
                      "fieldConditions" : {
                        "items" : {
                          "required" : [ "condition", "fieldModule", "fieldName", "value" ],
                          "properties" : {
                            "condition" : {
                              "maxLength" : 100,
                              "minLength" : 1
                            },
                            "fieldName" : {
                              "maxLength" : 200,
                              "minLength" : 1
                            },
                            "fieldModule" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "tickets|contacts|accounts",
                              "enum" : [ "tickets", "contacts", "accounts" ]
                            },
                            "value" : {
                              "items" : {
                                "oneOf" : [ {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                }, {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                  }
                                } ]
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "pattern" : {
                        "maxLength" : 200,
                        "minLength" : 1,
                        "pattern" : "[andor()0-9\\s]*"
                      }
                    },
                    "additionalProperties" : false
                  },
                  "fieldId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "errorMsg" : {
                    "maxLength" : 255,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])*"
                  }
                },
                "additionalProperties" : false
              },
              "actionId" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "isMandatory" : { }
            },
            "additionalProperties" : { }
          }, {
            "required" : [ "actionId", "isMandatory", "otherActions" ],
            "properties" : {
              "otherActions" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "REPLY|BUG|COMMENT|RESOLUTION|APPROVAL|ATTACHMENT|SHARING|FIELD_UPDATE",
                "enum" : [ "REPLY", "BUG", "COMMENT", "RESOLUTION", "APPROVAL", "ATTACHMENT", "SHARING", "FIELD_UPDATE" ]
              },
              "actionId" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "isMandatory" : { }
            },
            "additionalProperties" : { }
          } ]
        }
      },
      "alertIds" : {
        "items" : {
          "pattern" : "([0-9]+)",
          "format" : "int64"
        }
      },
      "alertObjectForResponse" : {
        "required" : [ "actionId", "ids" ],
        "properties" : {
          "actionId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "ids" : {
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          }
        },
        "additionalProperties" : { }
      },
      "taskIds" : {
        "items" : {
          "pattern" : "([0-9]+)",
          "format" : "int64"
        }
      },
      "taskObjectForResponse" : {
        "required" : [ "actionId", "ids" ],
        "properties" : {
          "actionId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "ids" : {
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          }
        },
        "additionalProperties" : { }
      },
      "fieldUpdateIds" : {
        "items" : {
          "pattern" : "([0-9]+)",
          "format" : "int64"
        }
      },
      "fieldUpdateObjectForResponse" : {
        "required" : [ "actionId", "ids" ],
        "properties" : {
          "actionId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "ids" : {
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          }
        },
        "additionalProperties" : { }
      },
      "customFunctionIds" : {
        "items" : {
          "pattern" : "([0-9]+)",
          "format" : "int64"
        }
      },
      "customFunctionObjectForResponse" : {
        "required" : [ "actionId", "ids" ],
        "properties" : {
          "actionId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "ids" : {
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          }
        },
        "additionalProperties" : { }
      },
      "afterObjectForResponse" : {
        "properties" : {
          "fieldUpdate" : {
            "required" : [ "actionId", "ids" ],
            "properties" : {
              "actionId" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "ids" : {
                "items" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              }
            },
            "additionalProperties" : { }
          },
          "task" : {
            "required" : [ "actionId", "ids" ],
            "properties" : {
              "actionId" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "ids" : {
                "items" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              }
            },
            "additionalProperties" : { }
          },
          "customFunction" : {
            "required" : [ "actionId", "ids" ],
            "properties" : {
              "actionId" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "ids" : {
                "items" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              }
            },
            "additionalProperties" : { }
          },
          "alert" : {
            "required" : [ "actionId", "ids" ],
            "properties" : {
              "actionId" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "ids" : {
                "items" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              }
            },
            "additionalProperties" : { }
          }
        },
        "additionalProperties" : { }
      },
      "autoTransitionActionsObject" : {
        "properties" : {
          "feedback" : {
            "maxLength" : 100,
            "minLength" : 1,
            "pattern" : "SURVEY_ALL|SURVEY_GOOD|SURVEY_AVG|SURVEY_BAD",
            "enum" : [ "SURVEY_ALL", "SURVEY_GOOD", "SURVEY_AVG", "SURVEY_BAD" ]
          },
          "reply" : {
            "maxLength" : 100,
            "minLength" : 1,
            "pattern" : "REPLY_ALL|REPLY_PRIVATE|REPLY_PUBLIC",
            "enum" : [ "REPLY_ALL", "REPLY_PRIVATE", "REPLY_PUBLIC" ]
          }
        },
        "additionalProperties" : { }
      },
      "transitionsObjectForResponse" : {
        "required" : [ "after", "autoTransitionActions", "before", "commonStates", "description", "during", "id", "isAutoTransition", "isCommonTransition", "name" ],
        "properties" : {
          "isAutoTransition" : { },
          "before" : {
            "properties" : {
              "accessors" : {
                "required" : [ "actionId", "owners", "sharedDeptAccessors" ],
                "properties" : {
                  "actionId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "owners" : {
                    "required" : [ "agentIds", "otherRecpts", "teamIds" ],
                    "properties" : {
                      "agentIds" : {
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "otherRecpts" : {
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 1,
                          "pattern" : "RECORD_OWNER",
                          "enum" : [ "RECORD_OWNER" ]
                        }
                      },
                      "teamIds" : {
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      }
                    },
                    "additionalProperties" : false
                  },
                  "sharedDeptAccessors" : {
                    "items" : {
                      "required" : [ "accessors", "departmentId", "sharingType" ],
                      "properties" : {
                        "accessors" : {
                          "required" : [ "agentIds", "teamIds" ],
                          "properties" : {
                            "agentIds" : {
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "teamIds" : {
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            }
                          },
                          "additionalProperties" : false
                        },
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "sharingType" : {
                          "maxLength" : 100,
                          "minLength" : 1,
                          "pattern" : "READ_WRITE|READ_ONLY|RESTRICTED_ACCESS",
                          "enum" : [ "READ_WRITE", "READ_ONLY", "RESTRICTED_ACCESS" ]
                        }
                      },
                      "additionalProperties" : false
                    }
                  }
                },
                "additionalProperties" : false
              },
              "criteriaDetails" : {
                "required" : [ "actionId", "criteria" ],
                "properties" : {
                  "criteria" : {
                    "required" : [ "fieldConditions", "pattern" ],
                    "properties" : {
                      "fieldConditions" : {
                        "items" : {
                          "required" : [ "columnName", "condition", "criteriaValues", "displayValue", "fieldModule", "fieldName", "fieldType", "i18nLabel", "staticFieldName", "tableName", "value" ],
                          "properties" : {
                            "criteriaValues" : {
                              "items" : {
                                "required" : [ "displayValue", "value" ],
                                "properties" : {
                                  "displayValue" : {
                                    "maxLength" : 100,
                                    "minLength" : 1,
                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                  },
                                  "value" : {
                                    "maxLength" : 100,
                                    "minLength" : 1,
                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "displayValue" : {
                              "items" : {
                                "oneOf" : [ {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                }, {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                  }
                                } ]
                              }
                            },
                            "condition" : {
                              "maxLength" : 100,
                              "minLength" : 1
                            },
                            "fieldName" : {
                              "maxLength" : 200,
                              "minLength" : 1
                            },
                            "staticFieldName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "fieldModule" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "tickets|contacts|accounts",
                              "enum" : [ "tickets", "contacts", "accounts" ]
                            },
                            "fieldType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Text", "URL", "Textarea", "Email", "Phone", "Multiselect", "Date", "DateTime", "Number", "Checkbox", "Percent", "Decimal", "Currency", "Picklist", "LookUp", "Lookup", "AutoNumber", "Boolean", "Fax" ]
                            },
                            "value" : {
                              "items" : {
                                "oneOf" : [ {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                }, {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                  }
                                } ]
                              }
                            },
                            "i18nLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "tableName" : {
                              "maxLength" : 100,
                              "minLength" : 1,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "columnName" : {
                              "maxLength" : 100,
                              "minLength" : 1,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "pattern" : {
                        "maxLength" : 200,
                        "minLength" : 1,
                        "pattern" : "[andor()0-9\\s]*"
                      }
                    },
                    "additionalProperties" : false
                  },
                  "actionId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : false
              }
            },
            "additionalProperties" : { }
          },
          "name" : {
            "maxLength" : 30,
            "minLength" : 1,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "description" : {
            "maxLength" : 1000,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])*"
          },
          "commonStates" : {
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
            }
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "during" : {
            "items" : {
              "oneOf" : [ {
                "required" : [ "actionId", "message" ],
                "properties" : {
                  "actionId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "message" : {
                    "maxLength" : 255,
                    "minLength" : 0
                  }
                },
                "additionalProperties" : false
              }, {
                "required" : [ "actionId", "fieldUpdates", "isMandatory" ],
                "properties" : {
                  "fieldUpdates" : {
                    "required" : [ "errorMsg", "fieldId" ],
                    "properties" : {
                      "criteria" : {
                        "required" : [ "fieldConditions", "pattern" ],
                        "properties" : {
                          "fieldConditions" : {
                            "items" : {
                              "required" : [ "condition", "fieldModule", "fieldName", "value" ],
                              "properties" : {
                                "condition" : {
                                  "maxLength" : 100,
                                  "minLength" : 1
                                },
                                "fieldName" : {
                                  "maxLength" : 200,
                                  "minLength" : 1
                                },
                                "fieldModule" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "tickets|contacts|accounts",
                                  "enum" : [ "tickets", "contacts", "accounts" ]
                                },
                                "value" : {
                                  "items" : {
                                    "oneOf" : [ {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                    }, {
                                      "uniqueItems" : false,
                                      "items" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                      }
                                    } ]
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "pattern" : {
                            "maxLength" : 200,
                            "minLength" : 1,
                            "pattern" : "[andor()0-9\\s]*"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "fieldId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "errorMsg" : {
                        "maxLength" : 255,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])*"
                      }
                    },
                    "additionalProperties" : false
                  },
                  "actionId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "isMandatory" : { }
                },
                "additionalProperties" : false
              }, {
                "required" : [ "actionId", "isMandatory", "otherActions" ],
                "properties" : {
                  "otherActions" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "REPLY|BUG|COMMENT|RESOLUTION|APPROVAL|ATTACHMENT|SHARING|FIELD_UPDATE",
                    "enum" : [ "REPLY", "BUG", "COMMENT", "RESOLUTION", "APPROVAL", "ATTACHMENT", "SHARING", "FIELD_UPDATE" ]
                  },
                  "actionId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "isMandatory" : { }
                },
                "additionalProperties" : false
              } ]
            }
          },
          "after" : {
            "properties" : {
              "fieldUpdate" : {
                "required" : [ "actionId", "ids" ],
                "properties" : {
                  "actionId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "ids" : {
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  }
                },
                "additionalProperties" : false
              },
              "task" : {
                "required" : [ "actionId", "ids" ],
                "properties" : {
                  "actionId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "ids" : {
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  }
                },
                "additionalProperties" : false
              },
              "customFunction" : {
                "required" : [ "actionId", "ids" ],
                "properties" : {
                  "actionId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "ids" : {
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  }
                },
                "additionalProperties" : false
              },
              "alert" : {
                "required" : [ "actionId", "ids" ],
                "properties" : {
                  "actionId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "ids" : {
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  }
                },
                "additionalProperties" : false
              }
            },
            "additionalProperties" : { }
          },
          "autoTransitionActions" : {
            "properties" : {
              "feedback" : {
                "maxLength" : 100,
                "minLength" : 1,
                "pattern" : "SURVEY_ALL|SURVEY_GOOD|SURVEY_AVG|SURVEY_BAD",
                "enum" : [ "SURVEY_ALL", "SURVEY_GOOD", "SURVEY_AVG", "SURVEY_BAD" ]
              },
              "reply" : {
                "maxLength" : 100,
                "minLength" : 1,
                "pattern" : "REPLY_ALL|REPLY_PRIVATE|REPLY_PUBLIC",
                "enum" : [ "REPLY_ALL", "REPLY_PRIVATE", "REPLY_PUBLIC" ]
              }
            },
            "additionalProperties" : { }
          },
          "isCommonTransition" : { }
        },
        "additionalProperties" : { }
      },
      "transitionsArrayForResponse" : {
        "items" : {
          "required" : [ "after", "autoTransitionActions", "before", "commonStates", "description", "during", "id", "isAutoTransition", "isCommonTransition", "name" ],
          "properties" : {
            "isAutoTransition" : { },
            "before" : {
              "properties" : {
                "accessors" : {
                  "required" : [ "actionId", "owners", "sharedDeptAccessors" ],
                  "properties" : {
                    "actionId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "owners" : {
                      "required" : [ "agentIds", "otherRecpts", "teamIds" ],
                      "properties" : {
                        "agentIds" : {
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "otherRecpts" : {
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 1,
                            "pattern" : "RECORD_OWNER",
                            "enum" : [ "RECORD_OWNER" ]
                          }
                        },
                        "teamIds" : {
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        }
                      },
                      "additionalProperties" : false
                    },
                    "sharedDeptAccessors" : {
                      "items" : {
                        "required" : [ "accessors", "departmentId", "sharingType" ],
                        "properties" : {
                          "accessors" : {
                            "required" : [ "agentIds", "teamIds" ],
                            "properties" : {
                              "agentIds" : {
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "teamIds" : {
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "sharingType" : {
                            "maxLength" : 100,
                            "minLength" : 1,
                            "pattern" : "READ_WRITE|READ_ONLY|RESTRICTED_ACCESS",
                            "enum" : [ "READ_WRITE", "READ_ONLY", "RESTRICTED_ACCESS" ]
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "criteriaDetails" : {
                  "required" : [ "actionId", "criteria" ],
                  "properties" : {
                    "criteria" : {
                      "required" : [ "fieldConditions", "pattern" ],
                      "properties" : {
                        "fieldConditions" : {
                          "items" : {
                            "required" : [ "columnName", "condition", "criteriaValues", "displayValue", "fieldModule", "fieldName", "fieldType", "i18nLabel", "staticFieldName", "tableName", "value" ],
                            "properties" : {
                              "criteriaValues" : {
                                "items" : {
                                  "required" : [ "displayValue", "value" ],
                                  "properties" : {
                                    "displayValue" : {
                                      "maxLength" : 100,
                                      "minLength" : 1,
                                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                    },
                                    "value" : {
                                      "maxLength" : 100,
                                      "minLength" : 1,
                                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                    }
                                  },
                                  "additionalProperties" : false
                                }
                              },
                              "displayValue" : {
                                "items" : {
                                  "oneOf" : [ {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                  }, {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                    }
                                  } ]
                                }
                              },
                              "condition" : {
                                "maxLength" : 100,
                                "minLength" : 1
                              },
                              "fieldName" : {
                                "maxLength" : 200,
                                "minLength" : 1
                              },
                              "staticFieldName" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "fieldModule" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "tickets|contacts|accounts",
                                "enum" : [ "tickets", "contacts", "accounts" ]
                              },
                              "fieldType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "Text", "URL", "Textarea", "Email", "Phone", "Multiselect", "Date", "DateTime", "Number", "Checkbox", "Percent", "Decimal", "Currency", "Picklist", "LookUp", "Lookup", "AutoNumber", "Boolean", "Fax" ]
                              },
                              "value" : {
                                "items" : {
                                  "oneOf" : [ {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                  }, {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                    }
                                  } ]
                                }
                              },
                              "i18nLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "tableName" : {
                                "maxLength" : 100,
                                "minLength" : 1,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "columnName" : {
                                "maxLength" : 100,
                                "minLength" : 1,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "pattern" : {
                          "maxLength" : 200,
                          "minLength" : 1,
                          "pattern" : "[andor()0-9\\s]*"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "actionId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : false
                }
              },
              "additionalProperties" : false
            },
            "name" : {
              "maxLength" : 30,
              "minLength" : 1,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "description" : {
              "maxLength" : 1000,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])*"
            },
            "commonStates" : {
              "items" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
              }
            },
            "id" : {
[...]
