{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "BotInference",
    "version" : "1.0.0",
    "x-clan-group" : "zia",
    "x-module-group" : "zia"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/bots/public/resources/static" : {
      "get" : {
        "tags" : [ "BotInference" ],
        "operationId" : "getLabels",
        "parameters" : [ {
          "name" : "language",
          "in" : "query",
          "description" : "I18N Language",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]",
            "description" : "I18N Language"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "botResponseList template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data", "sessionId" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "oneOf" : [ {
                          "required" : [ "actor", "createdTime", "direction", "displayMessage", "id", "layout", "status", "type" ],
                          "properties" : {
                            "actor" : {
                              "required" : [ "name", "type" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "END_USER", "AGENT", "BOT" ]
                                }
                              },
                              "additionalProperties" : false
                            },
                            "layout" : {
                              "required" : [ "rows" ],
                              "properties" : {
                                "rows" : {
                                  "items" : {
                                    "required" : [ "arrangement", "columns" ],
                                    "properties" : {
                                      "arrangement" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "list", "carousel" ]
                                      },
                                      "columns" : {
                                        "items" : {
                                          "oneOf" : [ {
                                            "required" : [ "html", "id", "type" ],
                                            "properties" : {
                                              "html" : {
                                                "required" : [ "source" ],
                                                "properties" : {
                                                  "source" : {
                                                    "maxLength" : 5000,
                                                    "minLength" : 0
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "HTML" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "text", "type" ],
                                            "properties" : {
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "text" : {
                                                "required" : [ "text" ],
                                                "properties" : {
                                                  "text" : {
                                                    "maxLength" : 5000,
                                                    "minLength" : 0
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "TEXT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "type", "url" ],
                                            "properties" : {
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "URL" ]
                                              },
                                              "url" : {
                                                "additionalProperties" : false
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "input", "type" ],
                                            "properties" : {
                                              "input" : {
                                                "required" : [ "type" ],
                                                "properties" : {
                                                  "type" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "TEXT" ]
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "INPUT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "input", "type" ],
                                            "properties" : {
                                              "input" : {
                                                "required" : [ "type" ],
                                                "properties" : {
                                                  "type" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "TEXT" ]
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "INPUT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "input", "type" ],
                                            "properties" : {
                                              "input" : {
                                                "required" : [ "type" ],
                                                "properties" : {
                                                  "type" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "EMAIL" ]
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "INPUT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "input", "type" ],
                                            "properties" : {
                                              "input" : {
                                                "required" : [ "type" ],
                                                "properties" : {
                                                  "type" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "URL" ]
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "INPUT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "input", "type" ],
                                            "properties" : {
                                              "input" : {
                                                "required" : [ "type" ],
                                                "properties" : {
                                                  "type" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "DATE" ]
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "INPUT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "input", "type" ],
                                            "properties" : {
                                              "input" : {
                                                "required" : [ "type" ],
                                                "properties" : {
                                                  "type" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "DATETIME" ]
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "INPUT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "input", "type" ],
                                            "properties" : {
                                              "input" : {
                                                "required" : [ "type" ],
                                                "properties" : {
                                                  "type" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "FILE" ]
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "INPUT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "input", "type" ],
                                            "properties" : {
                                              "input" : {
                                                "required" : [ "labels", "step", "type" ],
                                                "properties" : {
                                                  "step" : {
                                                    "maxLength" : 5,
                                                    "minLength" : 0
                                                  },
                                                  "type" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "CURRENCY" ]
                                                  },
                                                  "labels" : {
                                                    "required" : [ "currency" ],
                                                    "properties" : {
                                                      "currency" : {
                                                        "maxLength" : 5,
                                                        "minLength" : 0
                                                      }
                                                    },
                                                    "additionalProperties" : false
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "INPUT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "input", "type" ],
                                            "properties" : {
                                              "input" : {
                                                "required" : [ "step", "type" ],
                                                "properties" : {
                                                  "step" : {
                                                    "maxLength" : 5,
                                                    "minLength" : 0
                                                  },
                                                  "type" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "NUMBER" ]
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "INPUT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "input", "type" ],
                                            "properties" : {
                                              "input" : {
                                                "required" : [ "labels", "max", "min", "step", "type" ],
                                                "properties" : {
                                                  "min" : {
                                                    "pattern" : "([0-9]+)",
                                                    "format" : "int32"
                                                  },
                                                  "max" : {
                                                    "pattern" : "([0-9]+)",
                                                    "format" : "int32"
                                                  },
                                                  "step" : {
                                                    "maxLength" : 5,
                                                    "minLength" : 0
                                                  },
                                                  "type" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "SLIDER" ]
                                                  },
                                                  "labels" : {
                                                    "additionalProperties" : false
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "INPUT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "button", "id", "type" ],
                                            "properties" : {
                                              "button" : {
                                                "required" : [ "action", "text", "value" ],
                                                "properties" : {
                                                  "action" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "REPLY", "SELECT" ]
                                                  },
                                                  "text" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0
                                                  },
                                                  "value" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "BUTTON" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "image", "type" ],
                                            "properties" : {
                                              "image" : {
                                                "required" : [ "action", "source", "text", "value" ],
                                                "properties" : {
                                                  "action" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "REPLY", "SELECT" ]
                                                  },
                                                  "text" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0
                                                  },
                                                  "source" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                                  },
                                                  "value" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "IMAGE" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "audio", "id", "type" ],
                                            "properties" : {
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "audio" : {
                                                "required" : [ "action", "source", "text", "value" ],
                                                "properties" : {
                                                  "action" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "REPLY", "SELECT" ]
                                                  },
                                                  "text" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0
                                                  },
                                                  "source" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                                  },
                                                  "value" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "AUDIO" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "type", "video" ],
                                            "properties" : {
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "video" : {
                                                "required" : [ "action", "source", "text", "value" ],
                                                "properties" : {
                                                  "action" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "REPLY", "SELECT" ]
                                                  },
                                                  "text" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0
                                                  },
                                                  "source" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                                  },
                                                  "value" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "VIDEO" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "submit", "type" ],
                                            "properties" : {
                                              "submit" : {
                                                "properties" : { },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "SUBMIT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          } ]
                                        }
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                }
                              },
                              "additionalProperties" : false
                            },
                            "displayMessage" : {
                              "maxLength" : 1000,
                              "minLength" : 0
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "TEXT", "ATTACHMENT", "LAYOUT", "EXTERNAL_INFO" ]
                            },
                            "direction" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "in", "out" ]
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "SAVED", "QUEUED", "SENT", "DELIVERED", "READ", "FAILED", "DELETED", "MISSED" ]
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "actor", "createdTime", "direction", "displayMessage", "id", "status", "text", "type" ],
                          "properties" : {
                            "actor" : {
                              "required" : [ "name", "type" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "END_USER", "AGENT", "BOT" ]
                                }
                              },
                              "additionalProperties" : false
                            },
                            "displayMessage" : {
                              "maxLength" : 1000,
                              "minLength" : 0
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "text" : {
                              "required" : [ "message" ],
                              "properties" : {
                                "message" : {
                                  "maxLength" : 50000,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "TEXT", "ATTACHMENT", "LAYOUT", "EXTERNAL_INFO" ]
                            },
                            "direction" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "in", "out" ]
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "SAVED", "QUEUED", "SENT", "DELIVERED", "READ", "FAILED", "DELETED", "MISSED" ]
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "actor", "createdTime", "direction", "displayMessage", "externalInfo", "id", "status", "type" ],
                          "properties" : {
                            "actor" : {
                              "required" : [ "name", "type" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "END_USER", "AGENT", "BOT" ]
                                }
                              },
                              "additionalProperties" : false
                            },
                            "displayMessage" : {
                              "maxLength" : 1000,
                              "minLength" : 0
                            },
                            "externalInfo" : {
                              "required" : [ "action" ],
                              "properties" : {
                                "action" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "GC_CONVERSATION_ENDED", "UN_IDENTIFIED", "NEW_FOLLOWER", "CHAT_BLOCKED", "CHAT_UNBLOCKED" ]
                                }
                              },
                              "additionalProperties" : false
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "TEXT", "ATTACHMENT", "LAYOUT", "EXTERNAL_INFO" ]
                            },
                            "direction" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "in", "out" ]
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "SAVED", "QUEUED", "SENT", "DELIVERED", "READ", "FAILED", "DELETED", "MISSED" ]
                            }
                          },
                          "additionalProperties" : false
                        } ]
                      }
                    },
                    "sessionId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Bot type",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "BAD_REQUEST",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ { } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.remoteip"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "apimethod" : "com.zoho.support.bots.restapi.BotInferenceService.getLabels"
        }
      }
    },
    "/api/v1/bots/sessions/action" : {
      "post" : {
        "tags" : [ "BotInference" ],
        "operationId" : "callBackAction",
        "parameters" : [ {
          "name" : "action",
          "in" : "query",
          "description" : "call back action",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "call back action",
            "enum" : [ "connection_authenticate" ]
          }
        }, {
          "name" : "botId",
          "in" : "query",
          "description" : "Desk Bot Id",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Desk Bot Id",
            "format" : "int64"
          }
        }, {
          "name" : "sessionId",
          "in" : "query",
          "description" : "Bot type",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Bot type",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "botResponseList template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data", "sessionId" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "oneOf" : [ {
                          "required" : [ "actor", "createdTime", "direction", "displayMessage", "id", "layout", "status", "type" ],
                          "properties" : {
                            "actor" : {
                              "required" : [ "name", "type" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "END_USER", "AGENT", "BOT" ]
                                }
                              },
                              "additionalProperties" : false
                            },
                            "layout" : {
                              "required" : [ "rows" ],
                              "properties" : {
                                "rows" : {
                                  "items" : {
                                    "required" : [ "arrangement", "columns" ],
                                    "properties" : {
                                      "arrangement" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "list", "carousel" ]
                                      },
                                      "columns" : {
                                        "items" : {
                                          "oneOf" : [ {
                                            "required" : [ "html", "id", "type" ],
                                            "properties" : {
                                              "html" : {
                                                "required" : [ "source" ],
                                                "properties" : {
                                                  "source" : {
                                                    "maxLength" : 5000,
                                                    "minLength" : 0
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "HTML" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "text", "type" ],
                                            "properties" : {
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "text" : {
                                                "required" : [ "text" ],
                                                "properties" : {
                                                  "text" : {
                                                    "maxLength" : 5000,
                                                    "minLength" : 0
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "TEXT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "type", "url" ],
                                            "properties" : {
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "URL" ]
                                              },
                                              "url" : {
                                                "additionalProperties" : false
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "input", "type" ],
                                            "properties" : {
                                              "input" : {
                                                "required" : [ "type" ],
                                                "properties" : {
                                                  "type" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "TEXT" ]
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "INPUT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "input", "type" ],
                                            "properties" : {
                                              "input" : {
                                                "required" : [ "type" ],
                                                "properties" : {
                                                  "type" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "TEXT" ]
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "INPUT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "input", "type" ],
                                            "properties" : {
                                              "input" : {
                                                "required" : [ "type" ],
                                                "properties" : {
                                                  "type" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "EMAIL" ]
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "INPUT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "input", "type" ],
                                            "properties" : {
                                              "input" : {
                                                "required" : [ "type" ],
                                                "properties" : {
                                                  "type" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "URL" ]
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "INPUT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "input", "type" ],
                                            "properties" : {
                                              "input" : {
                                                "required" : [ "type" ],
                                                "properties" : {
                                                  "type" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "DATE" ]
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "INPUT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "input", "type" ],
                                            "properties" : {
                                              "input" : {
                                                "required" : [ "type" ],
                                                "properties" : {
                                                  "type" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "DATETIME" ]
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "INPUT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "input", "type" ],
                                            "properties" : {
                                              "input" : {
                                                "required" : [ "type" ],
                                                "properties" : {
                                                  "type" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "FILE" ]
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "INPUT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "input", "type" ],
                                            "properties" : {
                                              "input" : {
                                                "required" : [ "labels", "step", "type" ],
                                                "properties" : {
                                                  "step" : {
                                                    "maxLength" : 5,
                                                    "minLength" : 0
                                                  },
                                                  "type" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "CURRENCY" ]
                                                  },
                                                  "labels" : {
                                                    "required" : [ "currency" ],
                                                    "properties" : {
                                                      "currency" : {
                                                        "maxLength" : 5,
                                                        "minLength" : 0
                                                      }
                                                    },
                                                    "additionalProperties" : false
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "INPUT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "input", "type" ],
                                            "properties" : {
                                              "input" : {
                                                "required" : [ "step", "type" ],
                                                "properties" : {
                                                  "step" : {
                                                    "maxLength" : 5,
                                                    "minLength" : 0
                                                  },
                                                  "type" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "NUMBER" ]
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "INPUT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "input", "type" ],
                                            "properties" : {
                                              "input" : {
                                                "required" : [ "labels", "max", "min", "step", "type" ],
                                                "properties" : {
                                                  "min" : {
                                                    "pattern" : "([0-9]+)",
                                                    "format" : "int32"
                                                  },
                                                  "max" : {
                                                    "pattern" : "([0-9]+)",
                                                    "format" : "int32"
                                                  },
                                                  "step" : {
                                                    "maxLength" : 5,
                                                    "minLength" : 0
                                                  },
                                                  "type" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "SLIDER" ]
                                                  },
                                                  "labels" : {
                                                    "additionalProperties" : false
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "INPUT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "button", "id", "type" ],
                                            "properties" : {
                                              "button" : {
                                                "required" : [ "action", "text", "value" ],
                                                "properties" : {
                                                  "action" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "REPLY", "SELECT" ]
                                                  },
                                                  "text" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0
                                                  },
                                                  "value" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "BUTTON" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "image", "type" ],
                                            "properties" : {
                                              "image" : {
                                                "required" : [ "action", "source", "text", "value" ],
                                                "properties" : {
                                                  "action" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "REPLY", "SELECT" ]
                                                  },
                                                  "text" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0
                                                  },
                                                  "source" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                                  },
                                                  "value" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "IMAGE" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "audio", "id", "type" ],
                                            "properties" : {
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "audio" : {
                                                "required" : [ "action", "source", "text", "value" ],
                                                "properties" : {
                                                  "action" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "REPLY", "SELECT" ]
                                                  },
                                                  "text" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0
                                                  },
                                                  "source" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                                  },
                                                  "value" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "AUDIO" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "type", "video" ],
                                            "properties" : {
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "video" : {
                                                "required" : [ "action", "source", "text", "value" ],
                                                "properties" : {
                                                  "action" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "enum" : [ "REPLY", "SELECT" ]
                                                  },
                                                  "text" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0
                                                  },
                                                  "source" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                                  },
                                                  "value" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0
                                                  }
                                                },
                                                "additionalProperties" : false
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "VIDEO" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "id", "submit", "type" ],
                                            "properties" : {
                                              "submit" : {
                                                "properties" : { },
                                                "additionalProperties" : false
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "SUBMIT" ]
                                              }
                                            },
                                            "additionalProperties" : false
                                          } ]
                                        }
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                }
                              },
                              "additionalProperties" : false
                            },
                            "displayMessage" : {
                              "maxLength" : 1000,
                              "minLength" : 0
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "TEXT", "ATTACHMENT", "LAYOUT", "EXTERNAL_INFO" ]
                            },
                            "direction" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "in", "out" ]
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "SAVED", "QUEUED", "SENT", "DELIVERED", "READ", "FAILED", "DELETED", "MISSED" ]
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "actor", "createdTime", "direction", "displayMessage", "id", "status", "text", "type" ],
                          "properties" : {
                            "actor" : {
                              "required" : [ "name", "type" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "END_USER", "AGENT", "BOT" ]
                                }
                              },
                              "additionalProperties" : false
                            },
                            "displayMessage" : {
                              "maxLength" : 1000,
                              "minLength" : 0
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "text" : {
                              "required" : [ "message" ],
                              "properties" : {
                                "message" : {
                                  "maxLength" : 50000,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "TEXT", "ATTACHMENT", "LAYOUT", "EXTERNAL_INFO" ]
                            },
                            "direction" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "in", "out" ]
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "SAVED", "QUEUED", "SENT", "DELIVERED", "READ", "FAILED", "DELETED", "MISSED" ]
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "actor", "createdTime", "direction", "displayMessage", "externalInfo", "id", "status", "type" ],
                          "properties" : {
                            "actor" : {
                              "required" : [ "name", "type" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "END_USER", "AGENT", "BOT" ]
                                }
                              },
                              "additionalProperties" : false
                            },
                            "displayMessage" : {
                              "maxLength" : 1000,
                              "minLength" : 0
                            },
                            "externalInfo" : {
                              "required" : [ "action" ],
                              "properties" : {
                                "action" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "GC_CONVERSATION_ENDED", "UN_IDENTIFIED", "NEW_FOLLOWER", "CHAT_BLOCKED", "CHAT_UNBLOCKED" ]
                                }
                              },
                              "additionalProperties" : false
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "TEXT", "ATTACHMENT", "LAYOUT", "EXTERNAL_INFO" ]
                            },
                            "direction" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "in", "out" ]
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "SAVED", "QUEUED", "SENT", "DELIVERED", "READ", "FAILED", "DELETED", "MISSED" ]
                            }
                          },
                          "additionalProperties" : false
                        } ]
                      }
                    },
                    "sessionId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Bot type",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
[...]
