{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "BotResources",
    "version" : "1.0.0",
    "x-clan-group" : "zia",
    "x-module-group" : "zia"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/bots/resources/static" : {
      "get" : {
        "tags" : [ "BotResources" ],
        "operationId" : "getBotLabels",
        "parameters" : [ {
          "name" : "language",
          "in" : "query",
          "description" : "I18N Language",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "I18N Language",
            "enum" : [ "af_za", "ar_eg", "bg_bg", "bn_in", "ca_es", "cs_cz", "da_dk", "de_de", "el_gr", "en_us", "en_gb", "es_es", "fa_ir", "fi_fi", "fr_fr", "fr_ca", "gu_in", "he_il", "hi_in", "hr_hr", "hu_hu", "id_id", "it_it", "ja_jp", "ka_ge", "kk_kz", "kn_in", "ko_kr", "ml_in", "mr_in", "ms_my", "nb_no", "nl_nl", "pl_pl", "pt_pt", "ro_ro", "ru_ru", "sk_sk", "sl_si", "sv_se", "ta_in", "te_in", "th_th", "tr_tr", "uk_ua", "ur_pk", "vi_vn", "zh_cn", "zh_tw" ]
          }
        }, {
          "name" : "type",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "chatEfc" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "botLabelsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "DESK_GC_BOT", "DESK_ZIA_BOT" ],
                  "properties" : {
                    "DESK_ZIA_BOT" : {
                      "required" : [ "labels" ],
                      "properties" : {
                        "labels" : {
                          "required" : [ "zia.chat.message.feedback.negative", "zia.chat.message.feedback.question", "zia.chat.message.feedback.response", "zia.chat.message.noanswer.ticket", "zia.chat.message.noanswer.ticket.button", "zia.chat.message.noanswer.ticket.success", "zia.chat.message.noanswer.toagent" ],
                          "properties" : {
                            "zia.chat.message.feedback.response" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "zia.chat.message.feedback.negative" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "zia.chat.message.noanswer.ticket.button" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "zia.chat.message.noanswer.toagent" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "zia.chat.message.noanswer.ticket.success" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "zia.chat.message.feedback.question" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "zia.chat.message.noanswer.ticket" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "DESK_GC_BOT" : {
                      "required" : [ "labels" ],
                      "properties" : {
                        "labels" : {
                          "required" : [ "gc.brand.name", "gc.chat.attachment.acceptedtype", "gc.chat.attachment.mobile.size.max", "gc.chat.attachment.preview", "gc.chat.attachment.remove", "gc.chat.attachment.select.placeholder", "gc.chat.attachment.size.max", "gc.chat.attachment.size.validate", "gc.chat.attachment.upload.audio", "gc.chat.attachment.upload.cancel", "gc.chat.attachment.upload.empty", "gc.chat.attachment.upload.error", "gc.chat.attachment.upload.file", "gc.chat.attachment.upload.image", "gc.chat.attachment.upload.retry", "gc.chat.attachment.upload.video", "gc.chat.button.attachment.validate", "gc.chat.button.card.validate", "gc.chat.button.emoji.validate", "gc.chat.button.no.option.found", "gc.chat.button.search.placeholder", "gc.chat.button.text.validate", "gc.chat.card.field.image.unavailable", "gc.chat.end.session", "gc.chat.footer.poweredby", "gc.chat.input.attachment.validate", "gc.chat.input.currency.validate", "gc.chat.input.date.validate", "gc.chat.input.email.validate", "gc.chat.input.name.validate", "gc.chat.input.number.validate", "gc.chat.input.text.validate", "gc.chat.input.url.validate", "gc.chat.message.button.confirm", "gc.chat.message.button.skip", "gc.chat.message.button.skipped", "gc.chat.message.button.submit", "gc.chat.message.datetime.validate", "gc.chat.message.email.length.validate", "gc.chat.message.empty.validate", "gc.chat.message.input.currency.placeholder", "gc.chat.message.input.date.select", "gc.chat.message.input.email.placeholder", "gc.chat.message.input.time.hours.placeholder", "gc.chat.message.input.time.minutes.placeholder", "gc.chat.message.input.time.select", "gc.chat.message.input.time.timezone", "gc.chat.message.input.time.timezone.nomatch", "gc.chat.message.input.time.timezone.select", "gc.chat.message.input.url.placeholder", "gc.chat.message.sending", "gc.chat.message.text.length.validate", "gc.chat.message.text.placeholder", "gc.chat.message.text.showless", "gc.chat.message.text.showmore", "gc.chat.message.time.validate", "gc.chat.message.url.length.validate" ],
                          "properties" : {
                            "gc.chat.message.sending" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.button.no.option.found" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.url.length.validate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.input.time.select" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.attachment.upload.file" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.attachment.upload.cancel" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.button.skip" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.input.attachment.validate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.input.time.timezone.nomatch" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.end.session" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.attachment.select.placeholder" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.attachment.upload.empty" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.input.time.timezone.select" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.text.showless" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.input.url.placeholder" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.empty.validate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.input.email.validate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.attachment.remove" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.button.emoji.validate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.attachment.upload.retry" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.input.currency.validate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.input.text.validate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.button.card.validate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.attachment.upload.video" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.input.name.validate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.button.attachment.validate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.attachment.size.max" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.input.url.validate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.button.text.validate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.input.date.select" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.button.skipped" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.attachment.upload.image" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.input.date.validate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.attachment.mobile.size.max" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.text.placeholder" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.text.length.validate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.card.field.image.unavailable" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.footer.poweredby" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.time.validate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.button.submit" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.input.time.hours.placeholder" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.brand.name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.input.number.validate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.attachment.upload.error" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.input.time.minutes.placeholder" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.text.showmore" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.button.confirm" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.input.time.timezone" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.input.currency.placeholder" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.attachment.upload.audio" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.attachment.size.validate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.attachment.acceptedtype" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.email.length.validate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.input.email.placeholder" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.attachment.preview" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.button.search.placeholder" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "gc.chat.message.datetime.validate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.remoteip"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "zia",
          "module-group" : "zia",
          "apimethod" : "com.zoho.support.bots.restapi.BotInferenceService.getLabels"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "gcLabelsResponse" : {
        "required" : [ "labels" ],
        "properties" : {
          "labels" : {
            "required" : [ "gc.brand.name", "gc.chat.attachment.acceptedtype", "gc.chat.attachment.mobile.size.max", "gc.chat.attachment.preview", "gc.chat.attachment.remove", "gc.chat.attachment.select.placeholder", "gc.chat.attachment.size.max", "gc.chat.attachment.size.validate", "gc.chat.attachment.upload.audio", "gc.chat.attachment.upload.cancel", "gc.chat.attachment.upload.empty", "gc.chat.attachment.upload.error", "gc.chat.attachment.upload.file", "gc.chat.attachment.upload.image", "gc.chat.attachment.upload.retry", "gc.chat.attachment.upload.video", "gc.chat.button.attachment.validate", "gc.chat.button.card.validate", "gc.chat.button.emoji.validate", "gc.chat.button.no.option.found", "gc.chat.button.search.placeholder", "gc.chat.button.text.validate", "gc.chat.card.field.image.unavailable", "gc.chat.end.session", "gc.chat.footer.poweredby", "gc.chat.input.attachment.validate", "gc.chat.input.currency.validate", "gc.chat.input.date.validate", "gc.chat.input.email.validate", "gc.chat.input.name.validate", "gc.chat.input.number.validate", "gc.chat.input.text.validate", "gc.chat.input.url.validate", "gc.chat.message.button.confirm", "gc.chat.message.button.skip", "gc.chat.message.button.skipped", "gc.chat.message.button.submit", "gc.chat.message.datetime.validate", "gc.chat.message.email.length.validate", "gc.chat.message.empty.validate", "gc.chat.message.input.currency.placeholder", "gc.chat.message.input.date.select", "gc.chat.message.input.email.placeholder", "gc.chat.message.input.time.hours.placeholder", "gc.chat.message.input.time.minutes.placeholder", "gc.chat.message.input.time.select", "gc.chat.message.input.time.timezone", "gc.chat.message.input.time.timezone.nomatch", "gc.chat.message.input.time.timezone.select", "gc.chat.message.input.url.placeholder", "gc.chat.message.sending", "gc.chat.message.text.length.validate", "gc.chat.message.text.placeholder", "gc.chat.message.text.showless", "gc.chat.message.text.showmore", "gc.chat.message.time.validate", "gc.chat.message.url.length.validate" ],
            "properties" : {
              "gc.chat.message.sending" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.button.no.option.found" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.url.length.validate" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.input.time.select" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.attachment.upload.file" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.attachment.upload.cancel" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.button.skip" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.input.attachment.validate" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.input.time.timezone.nomatch" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.end.session" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.attachment.select.placeholder" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.attachment.upload.empty" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.input.time.timezone.select" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.text.showless" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.input.url.placeholder" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.empty.validate" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.input.email.validate" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.attachment.remove" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.button.emoji.validate" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.attachment.upload.retry" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.input.currency.validate" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.input.text.validate" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.button.card.validate" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.attachment.upload.video" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.input.name.validate" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.button.attachment.validate" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.attachment.size.max" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.input.url.validate" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.button.text.validate" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.input.date.select" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.button.skipped" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.attachment.upload.image" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.input.date.validate" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.attachment.mobile.size.max" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.text.placeholder" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.text.length.validate" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.card.field.image.unavailable" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.footer.poweredby" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.time.validate" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.button.submit" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.input.time.hours.placeholder" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.brand.name" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.input.number.validate" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.attachment.upload.error" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.input.time.minutes.placeholder" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.text.showmore" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.button.confirm" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.input.time.timezone" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.input.currency.placeholder" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.attachment.upload.audio" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.attachment.size.validate" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.attachment.acceptedtype" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.email.length.validate" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.input.email.placeholder" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.attachment.preview" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.button.search.placeholder" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "gc.chat.message.datetime.validate" : {
                "maxLength" : 100,
                "minLength" : 0
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "botEFCResponse" : {
        "description" : "botEFCResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "data" ],
              "properties" : {
                "data" : {
                  "maxLength" : 5000,
                  "minLength" : 0
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : null
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "botLabelsResponse" : {
        "description" : "botLabelsResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "DESK_GC_BOT", "DESK_ZIA_BOT" ],
              "properties" : {
                "DESK_ZIA_BOT" : {
                  "required" : [ "labels" ],
                  "properties" : {
                    "labels" : {
                      "required" : [ "zia.chat.message.feedback.negative", "zia.chat.message.feedback.question", "zia.chat.message.feedback.response", "zia.chat.message.noanswer.ticket", "zia.chat.message.noanswer.ticket.button", "zia.chat.message.noanswer.ticket.success", "zia.chat.message.noanswer.toagent" ],
                      "properties" : {
                        "zia.chat.message.feedback.response" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "zia.chat.message.feedback.negative" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "zia.chat.message.noanswer.ticket.button" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "zia.chat.message.noanswer.toagent" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "zia.chat.message.noanswer.ticket.success" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "zia.chat.message.feedback.question" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "zia.chat.message.noanswer.ticket" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "additionalProperties" : false
                },
                "DESK_GC_BOT" : {
                  "required" : [ "labels" ],
                  "properties" : {
                    "labels" : {
                      "required" : [ "gc.brand.name", "gc.chat.attachment.acceptedtype", "gc.chat.attachment.mobile.size.max", "gc.chat.attachment.preview", "gc.chat.attachment.remove", "gc.chat.attachment.select.placeholder", "gc.chat.attachment.size.max", "gc.chat.attachment.size.validate", "gc.chat.attachment.upload.audio", "gc.chat.attachment.upload.cancel", "gc.chat.attachment.upload.empty", "gc.chat.attachment.upload.error", "gc.chat.attachment.upload.file", "gc.chat.attachment.upload.image", "gc.chat.attachment.upload.retry", "gc.chat.attachment.upload.video", "gc.chat.button.attachment.validate", "gc.chat.button.card.validate", "gc.chat.button.emoji.validate", "gc.chat.button.no.option.found", "gc.chat.button.search.placeholder", "gc.chat.button.text.validate", "gc.chat.card.field.image.unavailable", "gc.chat.end.session", "gc.chat.footer.poweredby", "gc.chat.input.attachment.validate", "gc.chat.input.currency.validate", "gc.chat.input.date.validate", "gc.chat.input.email.validate", "gc.chat.input.name.validate", "gc.chat.input.number.validate", "gc.chat.input.text.validate", "gc.chat.input.url.validate", "gc.chat.message.button.confirm", "gc.chat.message.button.skip", "gc.chat.message.button.skipped", "gc.chat.message.button.submit", "gc.chat.message.datetime.validate", "gc.chat.message.email.length.validate", "gc.chat.message.empty.validate", "gc.chat.message.input.currency.placeholder", "gc.chat.message.input.date.select", "gc.chat.message.input.email.placeholder", "gc.chat.message.input.time.hours.placeholder", "gc.chat.message.input.time.minutes.placeholder", "gc.chat.message.input.time.select", "gc.chat.message.input.time.timezone", "gc.chat.message.input.time.timezone.nomatch", "gc.chat.message.input.time.timezone.select", "gc.chat.message.input.url.placeholder", "gc.chat.message.sending", "gc.chat.message.text.length.validate", "gc.chat.message.text.placeholder", "gc.chat.message.text.showless", "gc.chat.message.text.showmore", "gc.chat.message.time.validate", "gc.chat.message.url.length.validate" ],
                      "properties" : {
                        "gc.chat.message.sending" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.button.no.option.found" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.url.length.validate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.input.time.select" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.attachment.upload.file" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.attachment.upload.cancel" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.button.skip" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.input.attachment.validate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.input.time.timezone.nomatch" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.end.session" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.attachment.select.placeholder" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.attachment.upload.empty" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.input.time.timezone.select" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.text.showless" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.input.url.placeholder" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.empty.validate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.input.email.validate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.attachment.remove" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.button.emoji.validate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.attachment.upload.retry" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.input.currency.validate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.input.text.validate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.button.card.validate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.attachment.upload.video" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.input.name.validate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.button.attachment.validate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.attachment.size.max" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.input.url.validate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.button.text.validate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.input.date.select" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.button.skipped" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.attachment.upload.image" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.input.date.validate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.attachment.mobile.size.max" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.text.placeholder" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.text.length.validate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.card.field.image.unavailable" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.footer.poweredby" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.time.validate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.button.submit" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.input.time.hours.placeholder" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.brand.name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.input.number.validate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.attachment.upload.error" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.input.time.minutes.placeholder" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.text.showmore" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.button.confirm" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.input.time.timezone" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.input.currency.placeholder" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.attachment.upload.audio" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.attachment.size.validate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.attachment.acceptedtype" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.email.length.validate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.input.email.placeholder" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.attachment.preview" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.button.search.placeholder" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "gc.chat.message.datetime.validate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "additionalProperties" : false
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : null
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "OAuth Org Mismatch Error Response" : {
                "value" : {
                  "errorCode" : "OAUTH_ORG_MISMATCH",
                  "message" : "The OAuthToken is not valid for specified organization."
                }
              }
            }
          }
        }
      },
      "forbiddenErrorResponse" : {
        "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Forbidden Error Response" : {
                "value" : {
                  "errorCode" : "FORBIDDEN",
                  "message" : "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "urlNotFoundErrorResponse" : {
        "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Url Not Found Error Response" : {
                "value" : {
                  "errorCode" : "URL_NOT_FOUND",
                  "message" : "The URL you requested could not be found."
                }
              }
            }
          }
        }
      },
      "methodNotAllowedErrorResponse" : {
        "description" : "This errorCode value appears if the method in the API request is known by the server but disabled for the API requested.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Method Not Allowed Error Response" : {
                "value" : {
                  "errorCode" : "METHOD_NOT_ALLOWED",
                  "message" : "This HTTP method is not allowed on this URL."
                }
              }
            }
          }
        }
      },
      "resourceSizeExceededErrorResponse" : {
        "description" : "This errorCode value appears if the size of the resource exceeds the limit defined by the server.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Resource Size Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "RESOURCE_SIZE_EXCEEDED",
                  "message" : "Attachment size is too large. The maximum size supported is 20 MB."
                }
              }
            }
          }
        }
      },
      "unSupportedMediaTypeErrorResponse" : {
        "description" : "This errorCode value appears if the server refuses the request as a result of receiving the input in an unsupported format.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unsupported Media Type Error Response" : {
                "value" : {
                  "errorCode" : "UNSUPPORTED_MEDIA_TYPE",
                  "message" : "The given content type is not supported. Please provide the input Content-Type as application/json"
                }
              }
            }
          }
        }
      },
      "unprocessableEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The value passed for the 'from' query parameter is invalid."
                }
              }
            }
          }
        }
      },
      "missingEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not contain the mandatory parameters for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The mandatory parameter 'permission' is missing"
                }
              }
            }
          }
        }
      },
      "thresholdExceedErrorResponse" : {
        "description" : "This errorCode value appears if the user sends too many requests within a given amount of time (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Threshold Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "THRESHOLD_EXCEEDED",
                  "message" : "The maximum number of API calls that can be made per day has been exceeded."
                }
              }
            }
          }
        }
      },
      "concurrentRateLimitExceededErrorResponse" : {
        "description" : "This errorCode value appears if the user fires too many requests in a simultaneous/concurrent manner (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Concurrent Rate Limit Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "TOO_MANY_REQUESTS",
                  "message" : "The maximum number of Concurrent API Calls that can be made has been exceeded."
                }
              }
            }
          }
        }
      },
      "internalErrorResponse" : {
        "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Internal Server Error Response" : {
                "value" : {
                  "errorCode" : "INTERNAL_SERVER_ERROR",
                  "message" : "An internal server error occurred while performing this operation."
                }
              }
            }
          }
        }
      },
      "licenseErrorResponse" : {
        "description" : "This errorCode value appears if the user is unable to perform an action due to the limitations of the Zoho Desk edition in use\nThe possible values for the feature key are\n    *AGENTS*\n    *LIGHT_AGENTS*\n    *TEAM*\nThe possible values for the editionType key are\n    *FREE*\n    *PROFESSIONAL*\n    *ENTERPRISE*",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "editionType", "feature", "isTrial", "maxAllowedEntity" ],
                "properties" : {
                  "maxAllowedEntity" : {
                    "pattern" : "([0-9]+)"
                  },
                  "feature" : {
                    "enum" : [ "AGENTS", "LIGHT_AGENTS", "TEAM" ]
                  },
                  "editionType" : {
                    "enum" : [ "ENTERPRISE", "PROFESSIONAL", "STANDARD", "EXPRESS", "FREE" ]
                  },
                  "isTrial" : { }
                }
              } ]
            },
            "examples" : {
              "LicenseAccessLimited Error Response" : {
                "value" : {
                  "errorCode" : "LICENSE_ACCESS_LIMITED",
                  "maxAllowedEntity" : "10",
                  "feature" : "AGENTS",
                  "editionType" : "FREE",
                  "isTrial" : false,
                  "message" : "Your Zoho Desk Edition does not support this feature/operation."
                }
              }
            }
          }
        }
      },
      "multipleUnprocessEntityResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "anyOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "additionalProperties" : { },
                "allOf" : [ {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                }, {
                  "required" : [ "errors" ],
                  "properties" : {
                    "errors" : {
                      "items" : {
                        "required" : [ "errorMessage", "errorType", "fieldName" ],
                        "properties" : {
                          "fieldName" : { },
                          "errorType" : {
                            "enum" : [ "invalid", "duplicate", "missing" ]
                          },
                          "errorMessage" : { }
                        }
                      }
                    }
                  }
                } ]
              } ]
            }
          }
        }
      },
      "invalidDataErrorResponse" : {
        "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "errors" ],
                "properties" : {
                  "errors" : {
                    "items" : {
                      "required" : [ "errorMessage", "errorType", "fieldName" ],
                      "properties" : {
                        "fieldName" : { },
                        "errorType" : {
                          "enum" : [ "invalid", "duplicate", "missing" ]
                        },
                        "errorMessage" : { }
                      }
                    }
                  }
                }
              } ]
            },
            "examples" : {
              "Invalid Data Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_DATA",
                  "message" : "The data does not comply to the validation restrictions defined.",
                  "errors" : [ {
                    "fieldName" : "/contactId",
                    "errorType" : "invalid"
                  }, {
                    "fieldName" : "/departmentId",
                    "errorType" : "invalid"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "parameters" : {
      "type" : {
        "name" : "type",
        "in" : "query",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "maxLength" : 100,
          "minLength" : 0,
          "enum" : [ "chatEfc" ]
        }
      },
      "orgId" : {
        "name" : "orgId",
        "in" : "query",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "([0-9]+)",
          "format" : "int32",
          "x-custom-parameters-attributes" : { }
        }
      },
      "portalId" : {
        "name" : "portalId",
        "in" : "query",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "([a-zA-Z0-9\\-\\:])+",
          "format" : "int32",
          "x-custom-parameters-attributes" : {
            "decrypt" : true
          }
        }
      }
    },
    "securitySchemes" : {
      "cookie-auth" : {
        "type" : "apiKey",
        "name" : "X-CSRF-TOKEN",
        "in" : "cookie"
      },
      "org-oauth" : {
        "type" : "oauth2",
        "description" : "Org OAuth description",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "/oauth/v2/org/auth",
            "tokenUrl" : "/oauth/v2/token",
            "scopes" : {
              "Desk.accessAll.ALL" : "All Operations on data generated by Zoho Desk"
            }
          }
        }
      },
      "iam-oauth2-schema" : {
        "type" : "oauth2",
        "description" : "Oauth description",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "/oauth/v2/auth",
            "tokenUrl" : "/oauth/v2/token",
            "scopes" : {
              "Desk.zia.create" : "CREATE Operations on data generated by ZIA",
              "Desk.zia.update" : "UPDATE Operations on data generated by ZIA",
              "Desk.zia.read" : "READ Operations on data generated by ZIA",
              "Desk.zia.delete" : "DELETE Operations on data generated by ZIA",
              "Desk.calls.create" : "CREATE operations on calls module",
              "Desk.calls.update" : "UPDATE operations on calls module",
              "Desk.calls.read" : "READ operations on calls module",
              "Desk.calls.delete" : "DELETE operations on calls module",
              "Desk.extensions.create" : "To create stored data, extension logs, and configuration params",
              "Desk.extensions.read" : "To read stored data, extension logs, and configuration params",
              "Desk.extensions.update" : "To update stored data, extension logs, and configuration params",
              "Desk.extensions.delete" : "To delete stored data, extension logs, and configuration params",
              "Desk.search.read" : "READ Search across data in your desk account.",
              "Desk.events.create" : "CREATE Desk events",
              "Desk.events.update" : "UPDATE Desk events",
              "Desk.events.read" : "READ Desk events",
              "Desk.events.delete" : "DELETE Desk events",
              "Desk.articles.create" : "CREATE Articles and its sub resources",
              "Desk.articles.update" : "UPDATE Articles and its sub resources",
              "Desk.articles.read" : "READ Articles and its sub resources",
              "Desk.articles.delete" : "DELETE Articles and its sub resources",
              "Desk.basic.create" : "CREATE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.update" : "UPDATE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.read" : "READ Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.delete" : "DELETE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.tasks.create" : "CREATE Tasks and its sub resources",
              "Desk.tasks.read" : "READ Tasks and its sub resources",
              "Desk.tasks.update" : "UPDATE Tasks and its sub resources",
              "Desk.tasks.delete" : "DELETE Tasks and its sub resources",
              "Desk.settings.create" : "CREATE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.update" : "UPDATE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.read" : "READ All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.delete" : "DELETE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.contacts.create" : "CREATE Contacts and its sub resources",
              "Desk.contacts.update" : "UPDATE Contacts and its sub resources",
              "Desk.contacts.read" : "READ Contacts and its sub resources",
              "Desk.contacts.delete" : "DELETE Contacts and its sub resources",
              "Desk.feeds.create" : "CREATE Feeds resource",
              "Desk.feeds.update" : "UPDATE Feeds resource",
              "Desk.feeds.read" : "READ Feeds resource",
              "Desk.feeds.delete" : "DELETE Feeds resource",
              "Desk.tickets.create" : "CREATE Tickets and its sub resources",
              "Desk.tickets.update" : "UPDATE Tickets and its sub resources",
              "Desk.tickets.read" : "READ Tickets and its sub resources",
              "Desk.tickets.delete" : "DELETE Tickets and its sub resources",
              "Desk.phonebridge.read" : "READ phonebridge",
              "Desk.phonebridge.create" : "CREATE phonebridge",
              "Desk.community.create" : "CREATE Operations on community topics, comments and categories",
              "Desk.community.update" : "UPDATE Operations on community topics, comments and categories",
              "Desk.community.read" : "READ Operations on community topics, comments and categories",
              "Desk.community.delete" : "DELETE Operations on community topics, comments and categories",
              "Desk.imports" : "CUSTOM Grants access to import data into Zoho Desk modules",
              "Desk.exports" : "CUSTOM Scope for Zoho Desk Export API's for ZohoDesk Modules",
              "Desk.products.create" : "CREATE Allow operations on products",
              "Desk.products.update" : "UPDATE Allow operations on products",
              "Desk.products.read" : "READ Allow operations on products",
              "Desk.products.delete" : "DELETE Allow operations on products",
              "Desk.settings.extension.create" : "CREATE Allow access to all extension related data",
              "Desk.settings.extension.update" : "UPDATE Allow access to all extension related data",
              "Desk.settings.extension.read" : "READ Allow access to all extension related data",
              "Desk.settings.extension.delete" : "DELETE Allow access to all extension related data",
              "Desk.activities.create" : "CREATE To manage activities such as tasks, calls, events and its sub resources",
              "Desk.activities.read" : "READ To manage activities such as tasks, calls, events and its sub resources",
              "Desk.activities.update" : "UPDATE To manage activities such as tasks, calls, events and its sub resources",
              "Desk.activities.delete" : "DELETE To manage activities such as tasks, calls, events and its sub resources",
              "Desk.deskOembed.read" : "null",
              "Desk.integrations.create" : "Grants access to create integration related data",
              "Desk.integrations.update" : "Grants access to update integration related data",
              "Desk.integrations.read" : "Grants access to read integration related data",
              "Desk.integrations.delete" : "Grants access to delete integration related data"
            }
          }
        }
      },
      "jwt-oauth" : {
        "type" : "oauth2",
        "description" : "Org OAuth description",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "/oauth/v2/org/auth",
            "tokenUrl" : "/oauth/v2/token",
            "scopes" : {
              "Desk.accessAll.ALL" : "All Operations on data generated by Zoho Desk"
            }
          }
        }
      }
    }
  },
  "x-entity" : "BotResources"
}