{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "BulkImport",
    "version" : "1.0.0",
    "x-clan-group" : "reports",
    "x-module-group" : "import"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/bulkImport/{bulkImportId}" : {
      "get" : {
        "tags" : [ "BulkImport" ],
        "summary" : "Get BulkImport",
        "description" : "This API fetches an BulkImport request from your help desk portal.",
        "operationId" : "bulkImportRead",
        "parameters" : [ {
          "name" : "bulkImportId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "bulkImportObject template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "createdBy", "createdTime", "failureReason", "file", "id", "modifiedTime", "modules", "processInStage", "status" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "processInStage" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "PREPROCESS_DATA", "MAP_FIELD", "SETUP", "IMPORT_DATA", "GENERATE_REPORT", "IMPORTED", "REVIEW", "FILE_MAPPING", "ADD_MORE_DATA" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The process in Stage involves multiple stages of data import requests which have the following stages: @PREPROCESS_DATA@, @MAP_FIELD@, @SETUP@, @IMPORT_DATA@, @GENERATE_REPORT@, and @IMPORTED@. ",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "file" : {
                      "maxProperties" : 4,
                      "minProperties" : 3,
                      "required" : [ "downloadUrl", "id", "name", "sizeInBytes" ],
                      "properties" : {
                        "sizeInBytes" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "downloadUrl" : {
                          "maxLength" : 2000,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                        },
                        "id" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "createdBy" : {
                      "maxProperties" : 6,
                      "minProperties" : 5,
                      "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "failureReason" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the data import request",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "modules" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "apiName", "displayLabel" ],
                        "properties" : {
                          "displayLabel" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "apiName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "QUEUED", "IN_PROGRESS", "RESUME", "WAITING", "STOP", "DRAFT", "COMPLETED", "FAILED", "COMPLETED_WITH_FAILURE" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The status describes what is going on in the stage. The following are the possible statuses are @QUEUED@, @IN_PROGRESS@, @RESUME@, @WAITING@, @STOP@, @COMPLETED@, @FAILED@ and @COMPLETED_WITH_FAILURE@.",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1676979023000,
                      "processInStage" : "IMPORTED",
                      "file" : {
                        "sizeInBytes" : "24325",
                        "name" : "Data.zip",
                        "id" : "4000000047001"
                      },
                      "createdBy" : {
                        "photoURL" : null,
                        "firstName" : "Markov",
                        "lastName" : "Stark",
                        "name" : "Markov Stark",
                        "id" : "4000000000351",
                        "email" : "markantony@mark.com"
                      },
                      "failureReason" : "No Failure",
                      "departmentId" : "4000000107001",
                      "createdTime" : 1676978714000,
                      "id" : "4000000081001",
                      "modules" : [ {
                        "displayLabel" : "Accounts",
                        "apiName" : "accounts"
                      } ],
                      "status" : "COMPLETED"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 120000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "ecf6d515636ff0ba5bde4c0ecc0ac7d2",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.BulkImportService.getBulkImport"
        }
      },
      "delete" : {
        "tags" : [ "BulkImport" ],
        "summary" : "Delete Bulk Import Request",
        "description" : "This API deletes a Bulk Import Request before the Import is initiated",
        "operationId" : "bulkImportDelete",
        "parameters" : [ {
          "name" : "bulkImportId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 120000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "d751dcb9ea63095e8a939b813a73becc",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.BulkImportService.deleteImport"
        }
      }
    },
    "/api/v1/bulkImport/availableFields" : {
      "get" : {
        "tags" : [ "BulkImport" ],
        "summary" : "Get BulkImport Desk Fields",
        "description" : "This API gets desk fields in data Import request.",
        "operationId" : "bulkImportAvailableFields",
        "parameters" : [ {
          "name" : "module",
          "in" : "query",
          "description" : "Api Name of the module to be migrated, Allowed modules are @accounts@, @contacts@, @tickets@, @tasks@, @calls@, @events@, @products@, @articles@ and custom modules",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Api Name of the module to be migrated, Allowed modules are @accounts@, @contacts@, @tickets@, @tasks@, @calls@, @events@, @products@, @articles@ and custom modules",
            "enum" : [ "accounts", "contacts", "tickets", "tasks", "calls", "events", "products", "articles" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "bulkImportAvailableFieldList template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "apiName", "displayLabel", "findBy", "isCustomField", "isMandatory", "isUnique", "maxLength", "type" ],
                        "properties" : {
                          "displayLabel" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "apiName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "isCustomField" : { },
                          "isUnique" : { },
                          "findBy" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "apiName", "displayLabel" ],
                              "properties" : {
                                "displayLabel" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "apiName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "TEXT", "TEXTAREA", "PICKLIST", "EMAIL", "PHONE", "URL", "MULTISELECT", "NUMBER", "PERCENT", "DECIMAL", "CURRENCY", "DATE", "DATETIME", "BOOLEAN", "ID", "LIST_ID", "EXTID", "LOOKUP", "MULTI_LOOKUP" ]
                          },
                          "maxLength" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "isMandatory" : { }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "displayLabel" : "Firstname",
                        "apiName" : "firstName",
                        "isCustomField" : false,
                        "isUnique" : false,
                        "findBy" : null,
                        "type" : "TEXT",
                        "maxLength" : "40",
                        "isMandatory" : false
                      }, {
                        "displayLabel" : "Lastname",
                        "apiName" : "lastName",
                        "isCustomField" : false,
                        "isUnique" : false,
                        "findBy" : null,
                        "type" : "TEXT",
                        "maxLength" : "200",
                        "isMandatory" : false
                      }, {
                        "displayLabel" : "Email",
                        "apiName" : "email",
                        "isCustomField" : false,
                        "isUnique" : false,
                        "findBy" : null,
                        "type" : "EMAIL",
                        "maxLength" : "255",
                        "isMandatory" : false
                      }, {
                        "displayLabel" : "Contact External Id",
                        "apiName" : "contactExtId",
                        "isCustomField" : false,
                        "isUnique" : true,
                        "findBy" : null,
                        "type" : "EXTID",
                        "maxLength" : "100",
                        "isMandatory" : true
                      }, {
                        "displayLabel" : "Account",
                        "apiName" : "accountLookup",
                        "isCustomField" : false,
                        "isUnique" : false,
                        "findBy" : [ {
                          "displayLabel" : "Account ID",
                          "apiName" : "accountId"
                        }, {
                          "displayLabel" : "Account External ID",
                          "apiName" : "accountExtId"
                        }, {
                          "displayLabel" : "Account Name",
                          "apiName" : "accountName"
                        } ],
                        "type" : "LOOKUP",
                        "maxLength" : "100",
                        "isMandatory" : false
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 120000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "501b0c5f68591af41095cb176774825b",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.BulkImportService.getDestinationFields"
        }
      }
    },
    "/api/v1/bulkImport/{bulkImportId}/sampleData" : {
      "get" : {
        "tags" : [ "BulkImport" ],
        "summary" : "Get BulkImport Sample Data",
        "description" : "This API fetches sample data for a bulk import request, including headers and sample records for specified modules.",
        "operationId" : "getBulkImportSampleData",
        "parameters" : [ {
          "name" : "bulkImportId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "modules",
          "in" : "query",
          "description" : "Api Name of the module to be migrated, Allowed modules are @accounts@, @contacts@, @tickets@, @tasks@, @calls@, @events@, @products@, @articles@ and custom modules",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Api Name of the module to be migrated, Allowed modules are @accounts@, @contacts@, @tickets@, @tasks@, @calls@, @events@, @products@, @articles@ and custom modules",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "accounts", "contacts", "tickets", "tasks", "calls", "events", "products", "articles" ]
            },
            "style" : "simple",
            "explode" : true
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "bulkImportSampleDataResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "importId", "sampleData" ],
                  "properties" : {
                    "importId" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "sampleData" : {
                      "items" : {
                        "required" : [ "data", "headers", "module" ],
                        "properties" : {
                          "module" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "headers" : {
                            "items" : {
                              "required" : [ "columnKey", "label" ],
                              "properties" : {
                                "label" : {
                                  "maxLength" : 255,
                                  "minLength" : 0
                                },
                                "columnKey" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "data" : {
                            "items" : {
                              "additionalProperties" : {
                                "maxLength" : 1000,
                                "minLength" : 0
                              }
                            }
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "importId" : "5000000086001",
                      "sampleData" : [ {
                        "headers" : [ {
                          "label" : "ID",
                          "columnKey" : "col1"
                        }, {
                          "label" : "Product Owner",
                          "columnKey" : "col2"
                        }, {
                          "label" : "Product Name",
                          "columnKey" : "col3"
                        }, {
                          "label" : "Product Code",
                          "columnKey" : "col4"
                        }, {
                          "label" : "Manufacturer",
                          "columnKey" : "col5"
                        }, {
                          "label" : "Product Category",
                          "columnKey" : "col6"
                        } ],
                        "data" : [ {
                          "col1" : "99587000005130006",
                          "col2" : "99587000000190001",
                          "col3" : "Imported product ksk",
                          "col4" : "7",
                          "col5" : "",
                          "col6" : "Hardware"
                        }, {
                          "col1" : "99587000005130026",
                          "col2" : "99587000000190001",
                          "col3" : "Hello import",
                          "col4" : "goat",
                          "col5" : "",
                          "col6" : "Software"
                        } ],
                        "module" : "products"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "oAuth2" : [ "imports.CUSTOM" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 120000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.BulkImportService.getSampleData"
        }
      }
    },
    "/api/v1/bulkImport/{bulkImportId}/addMoreData" : {
      "post" : {
        "tags" : [ "BulkImport" ],
        "summary" : "",
        "description" : "",
        "operationId" : "bulkImportAddMoreData",
        "parameters" : [ {
          "name" : "bulkImportId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "fileId" ],
                "properties" : {
                  "fileId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "",
                    "format" : "int64",
                    "x-custom-parameters-attributes" : { }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : { }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : { }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "bulkImportObject template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "createdBy", "createdTime", "failureReason", "file", "id", "modifiedTime", "modules", "processInStage", "status" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "processInStage" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "PREPROCESS_DATA", "MAP_FIELD", "SETUP", "IMPORT_DATA", "GENERATE_REPORT", "IMPORTED", "REVIEW", "FILE_MAPPING", "ADD_MORE_DATA" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The process in Stage involves multiple stages of data import requests which have the following stages: @PREPROCESS_DATA@, @MAP_FIELD@, @SETUP@, @IMPORT_DATA@, @GENERATE_REPORT@, and @IMPORTED@. ",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "file" : {
                      "maxProperties" : 4,
                      "minProperties" : 3,
                      "required" : [ "downloadUrl", "id", "name", "sizeInBytes" ],
                      "properties" : {
                        "sizeInBytes" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "downloadUrl" : {
                          "maxLength" : 2000,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                        },
                        "id" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "createdBy" : {
                      "maxProperties" : 6,
                      "minProperties" : 5,
                      "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "failureReason" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the data import request",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "modules" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "apiName", "displayLabel" ],
                        "properties" : {
                          "displayLabel" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "apiName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "QUEUED", "IN_PROGRESS", "RESUME", "WAITING", "STOP", "DRAFT", "COMPLETED", "FAILED", "COMPLETED_WITH_FAILURE" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The status describes what is going on in the stage. The following are the possible statuses are @QUEUED@, @IN_PROGRESS@, @RESUME@, @WAITING@, @STOP@, @COMPLETED@, @FAILED@ and @COMPLETED_WITH_FAILURE@.",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1676979023000,
                      "processInStage" : "IMPORTED",
                      "file" : {
                        "sizeInBytes" : "24325",
                        "name" : "Data.zip",
                        "id" : "4000000047001"
                      },
                      "createdBy" : {
                        "photoURL" : null,
                        "firstName" : "Markov",
                        "lastName" : "Stark",
                        "name" : "Markov Stark",
                        "id" : "4000000000351",
                        "email" : "markantony@mark.com"
                      },
                      "failureReason" : "No Failure",
                      "departmentId" : "4000000107001",
                      "createdTime" : 1676978714000,
                      "id" : "4000000081001",
                      "modules" : [ {
                        "displayLabel" : "Accounts",
                        "apiName" : "accounts"
                      } ],
                      "status" : "COMPLETED"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "x-audience" : [ "company-internal" ]
      }
    },
    "/api/v1/bulkImport/{bulkImportId}/stop" : {
      "post" : {
        "tags" : [ "BulkImport" ],
        "summary" : "Stop Data Import",
        "description" : "This API stop the data import.",
        "operationId" : "bulkImportStop",
        "parameters" : [ {
          "name" : "bulkImportId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "bulkImportObject template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "createdBy", "createdTime", "failureReason", "file", "id", "modifiedTime", "modules", "processInStage", "status" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "processInStage" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "PREPROCESS_DATA", "MAP_FIELD", "SETUP", "IMPORT_DATA", "GENERATE_REPORT", "IMPORTED", "REVIEW", "FILE_MAPPING", "ADD_MORE_DATA" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The process in Stage involves multiple stages of data import requests which have the following stages: @PREPROCESS_DATA@, @MAP_FIELD@, @SETUP@, @IMPORT_DATA@, @GENERATE_REPORT@, and @IMPORTED@. ",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "file" : {
                      "maxProperties" : 4,
                      "minProperties" : 3,
                      "required" : [ "downloadUrl", "id", "name", "sizeInBytes" ],
                      "properties" : {
                        "sizeInBytes" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "downloadUrl" : {
                          "maxLength" : 2000,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                        },
                        "id" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "createdBy" : {
                      "maxProperties" : 6,
                      "minProperties" : 5,
                      "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "failureReason" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the data import request",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "modules" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "apiName", "displayLabel" ],
                        "properties" : {
                          "displayLabel" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "apiName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "QUEUED", "IN_PROGRESS", "RESUME", "WAITING", "STOP", "DRAFT", "COMPLETED", "FAILED", "COMPLETED_WITH_FAILURE" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The status describes what is going on in the stage. The following are the possible statuses are @QUEUED@, @IN_PROGRESS@, @RESUME@, @WAITING@, @STOP@, @COMPLETED@, @FAILED@ and @COMPLETED_WITH_FAILURE@.",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1676979023000,
                      "processInStage" : "IMPORTED",
                      "file" : {
                        "sizeInBytes" : "24325",
                        "name" : "Data.zip",
                        "id" : "4000000047001"
                      },
                      "createdBy" : {
                        "photoURL" : null,
                        "firstName" : "Markov",
                        "lastName" : "Stark",
                        "name" : "Markov Stark",
                        "id" : "4000000000351",
                        "email" : "markantony@mark.com"
                      },
                      "failureReason" : "No Failure",
                      "departmentId" : "4000000107001",
                      "createdTime" : 1676978714000,
                      "id" : "4000000081001",
                      "modules" : [ {
                        "displayLabel" : "Accounts",
                        "apiName" : "accounts"
                      } ],
                      "status" : "COMPLETED"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 120000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "5265139df8ba9ef62cc6274e7211ef44",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.BulkImportService.stopImport"
        }
      }
    },
    "/api/v1/bulkImport/{bulkImportId}/history" : {
      "get" : {
        "tags" : [ "BulkImport" ],
        "summary" : "Get BulkImport history",
        "description" : "This API fetches the overall history of an BulkImport.",
        "operationId" : "bulkImportHistory",
        "parameters" : [ {
          "name" : "bulkImportId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "bulkImportHistories template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "batchStatus", "bulkImportId", "consolidatedReportUrl", "createdTime", "file", "id", "modifiedTime" ],
                        "properties" : {
                          "modifiedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "file" : {
                            "maxProperties" : 4,
                            "minProperties" : 3,
                            "required" : [ "downloadUrl", "id", "name", "sizeInBytes" ],
                            "properties" : {
                              "sizeInBytes" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "downloadUrl" : {
                                "maxLength" : 2000,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                              },
                              "id" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          },
                          "consolidatedReportUrl" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "bulkImportId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "batchStatus" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxProperties" : 6,
                              "minProperties" : 6,
                              "required" : [ "completedTime", "importRecordSummary", "initiatedTime", "module", "reportUrl", "status" ],
                              "properties" : {
                                "completedTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "module" : {
                                  "maxProperties" : 2,
                                  "minProperties" : 2,
                                  "required" : [ "apiName", "displayLabel" ],
                                  "properties" : {
                                    "displayLabel" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "apiName" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "initiatedTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "importRecordSummary" : {
                                  "maxProperties" : 5,
                                  "minProperties" : 5,
                                  "required" : [ "created", "failed", "skipped", "total", "updated" ],
                                  "properties" : {
                                    "total" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "created" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "failed" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "updated" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "skipped" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "reportUrl" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "status" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            }
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "importHistory" : [ {
                        "file" : {
                          "sizeInBytes" : "14630",
                          "name" : "Accounts.zip",
                          "downloadUrl" : null,
                          "id" : "4000000065001"
                        },
                        "consolidatedReportUrl" : "https://desk.zohotest.com",
                        "bulkImportId" : "4000000066003",
                        "id" : "1",
                        "batchStatus" : [ {
                          "completedTime" : 1675671336000,
                          "module" : {
                            "displayLabel" : "Accounts",
                            "apiName" : "accounts"
                          },
                          "initiatedTime" : 1675667736000,
                          "importRecordSummary" : {
                            "total" : "100",
                            "created" : "100",
                            "failed" : "0",
                            "updated" : "0",
                            "skipped" : "0"
                          },
                          "reportUrl" : null,
                          "status" : "COMPLETED"
                        } ]
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 120000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "739ae3d6153a3b078e731271209441cf",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.BulkImportService.getBulkImportHistory"
        }
      }
    },
    "/api/v1/bulkImport/{bulkImportId}/retry" : {
      "post" : {
        "tags" : [ "BulkImport" ],
        "summary" : "Retry Data Import",
        "description" : "This API retry the data import.",
        "operationId" : "bulkImportRetry",
        "parameters" : [ {
          "name" : "bulkImportId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "bulkImportObject template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "createdBy", "createdTime", "failureReason", "file", "id", "modifiedTime", "modules", "processInStage", "status" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "processInStage" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "PREPROCESS_DATA", "MAP_FIELD", "SETUP", "IMPORT_DATA", "GENERATE_REPORT", "IMPORTED", "REVIEW", "FILE_MAPPING", "ADD_MORE_DATA" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The process in Stage involves multiple stages of data import requests which have the following stages: @PREPROCESS_DATA@, @MAP_FIELD@, @SETUP@, @IMPORT_DATA@, @GENERATE_REPORT@, and @IMPORTED@. ",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "file" : {
                      "maxProperties" : 4,
                      "minProperties" : 3,
                      "required" : [ "downloadUrl", "id", "name", "sizeInBytes" ],
                      "properties" : {
                        "sizeInBytes" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "downloadUrl" : {
                          "maxLength" : 2000,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                        },
                        "id" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "createdBy" : {
                      "maxProperties" : 6,
                      "minProperties" : 5,
                      "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "failureReason" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the data import request",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "modules" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "apiName", "displayLabel" ],
                        "properties" : {
                          "displayLabel" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "apiName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "QUEUED", "IN_PROGRESS", "RESUME", "WAITING", "STOP", "DRAFT", "COMPLETED", "FAILED", "COMPLETED_WITH_FAILURE" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The status describes what is going on in the stage. The following are the possible statuses are @QUEUED@, @IN_PROGRESS@, @RESUME@, @WAITING@, @STOP@, @COMPLETED@, @FAILED@ and @COMPLETED_WITH_FAILURE@.",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1676979023000,
                      "processInStage" : "IMPORTED",
                      "file" : {
                        "sizeInBytes" : "24325",
                        "name" : "Data.zip",
                        "id" : "4000000047001"
                      },
                      "createdBy" : {
                        "photoURL" : null,
                        "firstName" : "Markov",
                        "lastName" : "Stark",
                        "name" : "Markov Stark",
                        "id" : "4000000000351",
                        "email" : "markantony@mark.com"
                      },
                      "failureReason" : "No Failure",
                      "departmentId" : "4000000107001",
                      "createdTime" : 1676978714000,
                      "id" : "4000000081001",
                      "modules" : [ {
                        "displayLabel" : "Accounts",
                        "apiName" : "accounts"
                      } ],
                      "status" : "COMPLETED"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "c476c12abe08083f02524dc71631d6e5",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.BulkImportService.retryImport"
        }
      }
    },
    "/api/v1/bulkImport/configuration" : {
      "get" : {
        "tags" : [ "BulkImport" ],
        "summary" : "Get BulkImport configuration",
        "description" : "This API fetches the configuration for ui.",
        "operationId" : "bulkImportConfiguration",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "bulkImportConfig template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "feature", "supportedModules", "uploads" ],
                  "properties" : {
                    "feature" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "supportedModules" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "apiName", "displayLabel" ],
                        "properties" : {
                          "displayLabel" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "apiName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "uploads" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "eventId", "uploadUrl", "xService" ],
                      "properties" : {
                        "eventId" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "xService" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "uploadUrl" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                        }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "feature" : "BULK_IMPORT",
                      "supportedModules" : [ {
                        "displayLabel" : "Accounts",
                        "apiName" : "accounts"
                      }, {
                        "displayLabel" : "Contacts",
                        "apiName" : "contacts"
                      }, {
                        "displayLabel" : "Tickets",
                        "apiName" : "tickets"
                      }, {
                        "displayLabel" : "Products",
                        "apiName" : "products"
                      }, {
                        "displayLabel" : "Tasks",
                        "apiName" : "tasks"
                      }, {
                        "displayLabel" : "Events",
                        "apiName" : "events"
                      }, {
                        "displayLabel" : "Calls",
                        "apiName" : "calls"
                      }, {
                        "displayLabel" : "ArticleTranslations",
                        "apiName" : "articles"
                      } ],
                      "uploads" : {
                        "eventId" : "f9d6b7db4aa4327fc131cc2bc0adb751c0fc32be39fe0d2cdd3643bf868c1d0b",
                        "xService" : "desk",
                        "uploadUrl" : "https://upload.zoho.com/upload"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 120000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "16b5eb6c317b8f57596f8aeb2273bbf5",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.BulkImportService.getBulkImportConfiguration"
        }
      }
    },
    "/api/v1/bulkImport/{bulkImportId}/history/{historyId}/revert" : {
      "post" : {
        "tags" : [ "BulkImport" ],
        "summary" : "Revert Bulk Import",
        "description" : "This API reverts data that belongs to a particular bulkimport history.",
        "operationId" : "bulkImportRevert",
        "parameters" : [ {
          "name" : "historyId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "bulkImportId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "importRevertResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "completedTime", "revertId", "revertedBy", "startTime", "status" ],
                  "properties" : {
                    "revertId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "revertedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "completedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "startTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
[...]
