{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "BulkUpdate",
    "version" : "1.0.0",
    "x-clan-group" : "tickets",
    "x-module-group" : "tickets"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/bulkUpdate" : {
      "get" : {
        "tags" : [ "BulkUpdate" ],
        "summary" : "Get Active BulkUpdate Details",
        "description" : "This API returns the bulk update in Progress, Queued, Success and Failed state",
        "operationId" : "getBulkUpdate",
        "parameters" : [ {
          "name" : "cvId",
          "in" : "query",
          "description" : "Custom view Id",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Custom view Id",
            "format" : "int64"
          }
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Additional information related to the agent, department and view. Values allowed are: @creator@, @departments@ and @views@.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Additional information related to the agent, department and view. Values allowed are: @creator@, @departments@ and @views@.",
            "enum" : [ "creator", "departments", "views" ],
            "x-custom-parameters-attributes" : {
              "split" : ",",
              "entity" : "Include"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of updates to be fetched. Default is 20",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number of updates to be fetched. Default is 20",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the update must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the update must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Status of the update. Values allowed are @In Progress@, @Queued@, @Success@ and @Failed@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Status of the update. Values allowed are @In Progress@, @Queued@, @Success@ and @Failed@",
            "enum" : [ "In Progress", "Queued", "Success", "Failed" ],
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "getBulkUpdateResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "creator" : {
                              "maxProperties" : 4,
                              "minProperties" : 4,
                              "required" : [ "firstName", "lastName", "name", "photoURL" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "updatedView" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "id", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}\\s&amp;&lt;&gt;\\+=]+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "department" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "id", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : { }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "oneOf" : [ {
                            "required" : [ "canDiscard", "createdBy", "createdTime", "cvId", "departmentId", "module", "operation", "status", "updatedRecordsCount" ],
                            "properties" : {
                              "cvId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Custom view Id",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "canDiscard" : { },
                              "createdBy" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "module" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "tickets", "contacts", "accounts" ]
                              },
                              "departmentId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "createdTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              },
                              "operation" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "Field_Update", "Move", "Delete", "Close", "Assignee_Change", "Revoke_Blueprint" ]
                              },
                              "updatedRecordsCount" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "status" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "In Progress", "Queue", "Success", "Failed" ],
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Status of the update. Values allowed are @In Progress@, @Queued@, @Success@ and @Failed@",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "split" : ",",
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "required" : [ "canDiscard", "createdBy", "createdTime", "cvId", "departmentId", "module", "operation", "status", "updatedRecordsCount" ],
                              "properties" : {
                                "cvId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64",
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "Custom view Id",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                },
                                "canDiscard" : { },
                                "createdBy" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "module" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "tickets", "contacts", "accounts" ]
                                },
                                "departmentId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "createdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "operation" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "Field_Update", "Move", "Delete", "Close", "Assignee_Change", "Revoke_Blueprint" ]
                                },
                                "updatedRecordsCount" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "status" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "In Progress", "Queue", "Success", "Failed" ],
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "Status of the update. Values allowed are @In Progress@, @Queued@, @Success@ and @Failed@",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "split" : ",",
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "fieldConditions" ],
                              "properties" : {
                                "fieldConditions" : {
                                  "maxProperties" : 1,
                                  "minProperties" : 1,
                                  "required" : [ "fieldValue" ],
                                  "properties" : {
                                    "fieldValue" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  },
                                  "additionalProperties" : false
                                }
                              }
                            } ]
                          }, {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "required" : [ "canDiscard", "createdBy", "createdTime", "cvId", "departmentId", "module", "operation", "status", "updatedRecordsCount" ],
                              "properties" : {
                                "cvId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64",
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "Custom view Id",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                },
                                "canDiscard" : { },
                                "createdBy" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "module" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "tickets", "contacts", "accounts" ]
                                },
                                "departmentId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "createdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "operation" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "Field_Update", "Move", "Delete", "Close", "Assignee_Change", "Revoke_Blueprint" ]
                                },
                                "updatedRecordsCount" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "status" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "In Progress", "Queue", "Success", "Failed" ],
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "Status of the update. Values allowed are @In Progress@, @Queued@, @Success@ and @Failed@",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "split" : ",",
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "failureReason", "fieldConditions" ],
                              "properties" : {
                                "fieldConditions" : {
                                  "maxProperties" : 1,
                                  "minProperties" : 1,
                                  "required" : [ "fieldValue" ],
                                  "properties" : {
                                    "fieldValue" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "failureReason" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              }
                            } ]
                          }, {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "required" : [ "canDiscard", "createdBy", "createdTime", "cvId", "departmentId", "module", "operation", "status", "updatedRecordsCount" ],
                              "properties" : {
                                "cvId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64",
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "Custom view Id",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                },
                                "canDiscard" : { },
                                "createdBy" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "module" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "tickets", "contacts", "accounts" ]
                                },
                                "departmentId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "createdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "operation" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "Field_Update", "Move", "Delete", "Close", "Assignee_Change", "Revoke_Blueprint" ]
                                },
                                "updatedRecordsCount" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "status" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "In Progress", "Queue", "Success", "Failed" ],
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "Status of the update. Values allowed are @In Progress@, @Queued@, @Success@ and @Failed@",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "split" : ",",
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "failureReason" ],
                              "properties" : {
                                "failureReason" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              }
                            } ]
                          } ]
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "cvId" : "11000000014252",
                        "fieldConditions" : {
                          "fieldName" : "Channel",
                          "fieldValue" : "Email"
                        },
                        "creator" : {
                          "firstName" : "Janaki",
                          "lastName" : "V",
                          "photoURL" : "https://contacts.zoho.com/file?t=user&fs=thumb&ID=15073702&nps=404&exp=20",
                          "name" : "Janaki V"
                        },
                        "canDiscard" : true,
                        "module" : "tickets",
                        "departmentId" : "11000000013058",
                        "updatedView" : {
                          "name" : "Closed Cases",
                          "id" : "11000000014252"
                        },
                        "createdBy" : "11000000016500",
                        "createdTime" : 1587620774000,
                        "department" : {
                          "name" : "API department",
                          "id" : "11000000013058"
                        },
                        "operation" : "Field_Update",
                        "status" : "Success",
                        "updatedRecordsCount" : 23252
                      }, {
                        "cvId" : "11000000014096",
                        "fieldConditions" : {
                          "fieldName" : "Classification",
                          "fieldValue" : "Problem"
                        },
                        "creator" : {
                          "firstName" : "Janaki",
                          "lastName" : "V",
                          "photoURL" : "https://contacts.zoho.com/file?t=user&fs=thumb&ID=15073702&nps=404&exp=20",
                          "name" : "Janaki V"
                        },
                        "canDiscard" : true,
                        "module" : "tickets",
                        "departmentId" : "11000000013058",
                        "updatedView" : {
                          "name" : "All Cases",
                          "id" : "11000000014096"
                        },
                        "createdBy" : "11000000016500",
                        "failureReason" : "Scheduler disabled",
                        "createdTime" : 1587620741000,
                        "department" : {
                          "name" : "API department",
                          "id" : "11000000013058"
                        },
                        "operation" : "Field_Update",
                        "status" : "Failed",
                        "updatedRecordsCount" : 0
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "f83a1927834cfeb24a2f42d32bf20904",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.bulkupdate.BulkUpdateService.get"
        }
      },
      "post" : {
        "tags" : [ "BulkUpdate" ],
        "summary" : "Bulk Update on View",
        "description" : "This API updates all the records in the view with given operation.",
        "operationId" : "createBulkUpdate",
        "parameters" : [ {
          "name" : "cvId",
          "in" : "query",
          "description" : "Custom view Id",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Custom view Id",
            "format" : "int64"
          }
        }, {
          "name" : "fieldConditions",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "\\{(.*)\\}",
            "x-custom-parameters-attributes" : {
              "cvId" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Custom view ID",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              },
              "fieldConditions" : {
                "fieldValue" : {
                  "removeExif" : false,
                  "filterMatchedContent" : false,
                  "antivirus" : false,
                  "replacementString" : "",
                  "allowInvalid" : false,
                  "descrption" : "value to be updated in the field",
                  "secret" : false,
                  "preserveCharsLimit" : 10,
                  "trim" : false,
                  "internalParam" : false,
                  "preserveChars" : "0,5",
                  "importUrl" : false,
                  "decrypt" : false
                },
                "fieldName" : {
                  "removeExif" : false,
                  "filterMatchedContent" : false,
                  "antivirus" : false,
                  "replacementString" : "",
                  "allowInvalid" : false,
                  "descrption" : "Name of the field to be updated based on the operation given",
                  "secret" : false,
                  "preserveCharsLimit" : 10,
                  "trim" : false,
                  "internalParam" : false,
                  "preserveChars" : "0,5",
                  "importUrl" : false,
                  "decrypt" : false
                }
              },
              "operation" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Action to be done in the given view. Supported operations are @FIELD_UPDATE@ @ASSIGNEE_CHANGE@ @CLOSE@ @MOVE@ @DELETE@ @REVOKE_BLUEPRINT@",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              },
              "module" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Module. Supported modules: @tickets@ @contacts@ @accounts@",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              },
              "departmentId" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Department ID",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            }
          }
        }, {
          "name" : "module",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "tickets", "contacts", "accounts" ]
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "Department Id",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Department Id",
            "format" : "int64"
          }
        }, {
          "name" : "operation",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "Field_Update", "Assignee_Change", "Close", "Move", "Delete", "Revoke_Blueprint" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "BulkUpdate_DOSRateLimiter"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "f456b81ad286b55f92c40733be1a5e90",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.bulkaction.businesslogic.BulkActionService.bulkAction"
        }
      },
      "delete" : {
        "tags" : [ "BulkUpdate" ],
        "summary" : "Delete Queued BulkUpdate",
        "description" : "This API deletes the triggered bulk update in queued state",
        "operationId" : "deleteBulkUpdate",
        "parameters" : [ {
          "name" : "cvId",
          "in" : "query",
          "description" : "Custom view Id",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Custom view Id",
            "format" : "int64"
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "Department Id",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Department Id",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.DELETE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 20,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "4fae409534a79dde738fb803a4750a69",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.bulkupdate.BulkUpdateService.delete"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "bulkUpdatejson" : {
        "required" : [ "canDiscard", "createdBy", "createdTime", "cvId", "departmentId", "module", "operation", "status", "updatedRecordsCount" ],
        "properties" : {
          "cvId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Custom view Id",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "canDiscard" : { },
          "createdBy" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "module" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "tickets", "contacts", "accounts" ]
          },
          "departmentId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "createdTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "operation" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "Field_Update", "Move", "Delete", "Close", "Assignee_Change", "Revoke_Blueprint" ]
          },
          "updatedRecordsCount" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "status" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "In Progress", "Queue", "Success", "Failed" ],
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Status of the update. Values allowed are @In Progress@, @Queued@, @Success@ and @Failed@",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "split" : ",",
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          }
        },
        "additionalProperties" : { }
      },
      "bulkUpdatejsonWithFieldConditions" : {
        "additionalProperties" : { },
        "allOf" : [ {
          "required" : [ "canDiscard", "createdBy", "createdTime", "cvId", "departmentId", "module", "operation", "status", "updatedRecordsCount" ],
          "properties" : {
            "cvId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Custom view Id",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            },
            "canDiscard" : { },
            "createdBy" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "module" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "tickets", "contacts", "accounts" ]
            },
            "departmentId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "createdTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "operation" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "Field_Update", "Move", "Delete", "Close", "Assignee_Change", "Revoke_Blueprint" ]
            },
            "updatedRecordsCount" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "status" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "In Progress", "Queue", "Success", "Failed" ],
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Status of the update. Values allowed are @In Progress@, @Queued@, @Success@ and @Failed@",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "split" : ",",
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            }
          },
          "additionalProperties" : false
        }, {
          "required" : [ "fieldConditions" ],
          "properties" : {
            "fieldConditions" : {
              "maxProperties" : 1,
              "minProperties" : 1,
              "required" : [ "fieldValue" ],
              "properties" : {
                "fieldValue" : {
                  "maxLength" : 100,
                  "minLength" : 0
                }
              },
              "additionalProperties" : { }
            }
          }
        } ]
      },
      "bulkUpdatejsonWithFieldConditionsAndFailureReason" : {
        "additionalProperties" : { },
        "allOf" : [ {
          "required" : [ "canDiscard", "createdBy", "createdTime", "cvId", "departmentId", "module", "operation", "status", "updatedRecordsCount" ],
          "properties" : {
            "cvId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Custom view Id",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            },
            "canDiscard" : { },
            "createdBy" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "module" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "tickets", "contacts", "accounts" ]
            },
            "departmentId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "createdTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "operation" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "Field_Update", "Move", "Delete", "Close", "Assignee_Change", "Revoke_Blueprint" ]
            },
            "updatedRecordsCount" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "status" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "In Progress", "Queue", "Success", "Failed" ],
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Status of the update. Values allowed are @In Progress@, @Queued@, @Success@ and @Failed@",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "split" : ",",
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            }
          },
          "additionalProperties" : false
        }, {
          "required" : [ "failureReason", "fieldConditions" ],
          "properties" : {
            "fieldConditions" : {
              "maxProperties" : 1,
              "minProperties" : 1,
              "required" : [ "fieldValue" ],
              "properties" : {
                "fieldValue" : {
                  "maxLength" : 100,
                  "minLength" : 0
                }
              },
              "additionalProperties" : { }
            },
            "failureReason" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          }
        } ]
      },
      "bulkUpdatejsonWithFailureReason" : {
        "additionalProperties" : { },
        "allOf" : [ {
          "required" : [ "canDiscard", "createdBy", "createdTime", "cvId", "departmentId", "module", "operation", "status", "updatedRecordsCount" ],
          "properties" : {
            "cvId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Custom view Id",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            },
            "canDiscard" : { },
            "createdBy" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "module" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "tickets", "contacts", "accounts" ]
            },
            "departmentId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "createdTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "operation" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "Field_Update", "Move", "Delete", "Close", "Assignee_Change", "Revoke_Blueprint" ]
            },
            "updatedRecordsCount" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "status" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "In Progress", "Queue", "Success", "Failed" ],
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Status of the update. Values allowed are @In Progress@, @Queued@, @Success@ and @Failed@",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "split" : ",",
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            }
          },
          "additionalProperties" : false
        }, {
          "required" : [ "failureReason" ],
          "properties" : {
            "failureReason" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          }
        } ]
      },
      "getBulkUpdateData" : {
        "items" : {
          "oneOf" : [ {
            "required" : [ "canDiscard", "createdBy", "createdTime", "cvId", "departmentId", "module", "operation", "status", "updatedRecordsCount" ],
            "properties" : {
              "cvId" : {
                "pattern" : "([0-9]+)",
                "format" : "int64",
                "x-custom-parameters-attributes" : {
                  "removeExif" : false,
                  "filterMatchedContent" : false,
                  "antivirus" : false,
                  "replacementString" : "",
                  "allowInvalid" : false,
                  "descrption" : "Custom view Id",
                  "secret" : false,
                  "preserveCharsLimit" : 10,
                  "trim" : false,
                  "internalParam" : false,
                  "preserveChars" : "0,5",
                  "importUrl" : false,
                  "decrypt" : false
                }
              },
              "canDiscard" : { },
              "createdBy" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "module" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "tickets", "contacts", "accounts" ]
              },
              "departmentId" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "createdTime" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
              },
              "operation" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "Field_Update", "Move", "Delete", "Close", "Assignee_Change", "Revoke_Blueprint" ]
              },
              "updatedRecordsCount" : {
                "pattern" : "([0-9]+)",
                "format" : "int32"
              },
              "status" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "In Progress", "Queue", "Success", "Failed" ],
                "x-custom-parameters-attributes" : {
                  "removeExif" : false,
                  "filterMatchedContent" : false,
                  "antivirus" : false,
                  "replacementString" : "",
                  "allowInvalid" : false,
                  "descrption" : "Status of the update. Values allowed are @In Progress@, @Queued@, @Success@ and @Failed@",
                  "secret" : false,
                  "preserveCharsLimit" : 10,
                  "split" : ",",
                  "trim" : false,
                  "internalParam" : false,
                  "preserveChars" : "0,5",
                  "importUrl" : false,
                  "decrypt" : false
                }
              }
            },
            "additionalProperties" : false
          }, {
            "additionalProperties" : false,
            "allOf" : [ {
              "required" : [ "canDiscard", "createdBy", "createdTime", "cvId", "departmentId", "module", "operation", "status", "updatedRecordsCount" ],
              "properties" : {
                "cvId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64",
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Custom view Id",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "canDiscard" : { },
                "createdBy" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "module" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "tickets", "contacts", "accounts" ]
                },
                "departmentId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "createdTime" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                },
                "operation" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "Field_Update", "Move", "Delete", "Close", "Assignee_Change", "Revoke_Blueprint" ]
                },
                "updatedRecordsCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "status" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "In Progress", "Queue", "Success", "Failed" ],
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Status of the update. Values allowed are @In Progress@, @Queued@, @Success@ and @Failed@",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "split" : ",",
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                }
              },
              "additionalProperties" : false
            }, {
              "required" : [ "fieldConditions" ],
              "properties" : {
                "fieldConditions" : {
                  "maxProperties" : 1,
                  "minProperties" : 1,
                  "required" : [ "fieldValue" ],
                  "properties" : {
                    "fieldValue" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                }
              }
            } ]
          }, {
            "additionalProperties" : false,
            "allOf" : [ {
              "required" : [ "canDiscard", "createdBy", "createdTime", "cvId", "departmentId", "module", "operation", "status", "updatedRecordsCount" ],
              "properties" : {
                "cvId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64",
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Custom view Id",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "canDiscard" : { },
                "createdBy" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "module" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "tickets", "contacts", "accounts" ]
                },
                "departmentId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "createdTime" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                },
                "operation" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "Field_Update", "Move", "Delete", "Close", "Assignee_Change", "Revoke_Blueprint" ]
                },
                "updatedRecordsCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "status" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "In Progress", "Queue", "Success", "Failed" ],
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Status of the update. Values allowed are @In Progress@, @Queued@, @Success@ and @Failed@",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "split" : ",",
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                }
              },
              "additionalProperties" : false
            }, {
              "required" : [ "failureReason", "fieldConditions" ],
              "properties" : {
                "fieldConditions" : {
                  "maxProperties" : 1,
                  "minProperties" : 1,
                  "required" : [ "fieldValue" ],
                  "properties" : {
                    "fieldValue" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "failureReason" : {
                  "maxLength" : 100,
                  "minLength" : 0
                }
              }
            } ]
          }, {
            "additionalProperties" : false,
            "allOf" : [ {
              "required" : [ "canDiscard", "createdBy", "createdTime", "cvId", "departmentId", "module", "operation", "status", "updatedRecordsCount" ],
              "properties" : {
                "cvId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64",
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Custom view Id",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "canDiscard" : { },
                "createdBy" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "module" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "tickets", "contacts", "accounts" ]
                },
                "departmentId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "createdTime" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                },
                "operation" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "Field_Update", "Move", "Delete", "Close", "Assignee_Change", "Revoke_Blueprint" ]
                },
                "updatedRecordsCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "status" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "In Progress", "Queue", "Success", "Failed" ],
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Status of the update. Values allowed are @In Progress@, @Queued@, @Success@ and @Failed@",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "split" : ",",
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                }
              },
              "additionalProperties" : false
            }, {
              "required" : [ "failureReason" ],
              "properties" : {
                "failureReason" : {
                  "maxLength" : 100,
                  "minLength" : 0
                }
              }
            } ]
          } ]
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "getBulkUpdateResponse" : {
        "description" : "getBulkUpdateResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "allOf" : [ {
                "properties" : {
                  "data" : {
                    "items" : {
                      "properties" : {
                        "creator" : {
                          "maxProperties" : 4,
                          "minProperties" : 4,
                          "required" : [ "firstName", "lastName", "name", "photoURL" ],
                          "properties" : {
                            "photoURL" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "name" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        },
                        "updatedView" : {
                          "maxProperties" : 2,
                          "minProperties" : 2,
                          "required" : [ "id", "name" ],
                          "properties" : {
                            "name" : {
                              "maxLength" : 50,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}\\s&amp;&lt;&gt;\\+=]+"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : { }
                        },
                        "department" : {
                          "maxProperties" : 2,
                          "minProperties" : 2,
                          "required" : [ "id", "name" ],
                          "properties" : {
                            "name" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : { }
                        }
                      }
                    }
                  }
                }
              }, {
                "required" : [ "data" ],
                "properties" : {
                  "data" : {
                    "items" : {
                      "oneOf" : [ {
                        "required" : [ "canDiscard", "createdBy", "createdTime", "cvId", "departmentId", "module", "operation", "status", "updatedRecordsCount" ],
                        "properties" : {
                          "cvId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Custom view Id",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "canDiscard" : { },
                          "createdBy" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "module" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "tickets", "contacts", "accounts" ]
                          },
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "operation" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "Field_Update", "Move", "Delete", "Close", "Assignee_Change", "Revoke_Blueprint" ]
                          },
                          "updatedRecordsCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "In Progress", "Queue", "Success", "Failed" ],
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Status of the update. Values allowed are @In Progress@, @Queued@, @Success@ and @Failed@",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          }
                        },
                        "additionalProperties" : false
                      }, {
                        "additionalProperties" : false,
                        "allOf" : [ {
                          "required" : [ "canDiscard", "createdBy", "createdTime", "cvId", "departmentId", "module", "operation", "status", "updatedRecordsCount" ],
                          "properties" : {
                            "cvId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Custom view Id",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "canDiscard" : { },
                            "createdBy" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "module" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "tickets", "contacts", "accounts" ]
                            },
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "operation" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Field_Update", "Move", "Delete", "Close", "Assignee_Change", "Revoke_Blueprint" ]
                            },
                            "updatedRecordsCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "In Progress", "Queue", "Success", "Failed" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Status of the update. Values allowed are @In Progress@, @Queued@, @Success@ and @Failed@",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "split" : ",",
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "fieldConditions" ],
                          "properties" : {
                            "fieldConditions" : {
                              "maxProperties" : 1,
                              "minProperties" : 1,
                              "required" : [ "fieldValue" ],
                              "properties" : {
                                "fieldValue" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            }
                          }
                        } ]
                      }, {
                        "additionalProperties" : false,
                        "allOf" : [ {
                          "required" : [ "canDiscard", "createdBy", "createdTime", "cvId", "departmentId", "module", "operation", "status", "updatedRecordsCount" ],
                          "properties" : {
                            "cvId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Custom view Id",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "canDiscard" : { },
                            "createdBy" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "module" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "tickets", "contacts", "accounts" ]
                            },
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "operation" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Field_Update", "Move", "Delete", "Close", "Assignee_Change", "Revoke_Blueprint" ]
                            },
                            "updatedRecordsCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "In Progress", "Queue", "Success", "Failed" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Status of the update. Values allowed are @In Progress@, @Queued@, @Success@ and @Failed@",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "split" : ",",
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "failureReason", "fieldConditions" ],
                          "properties" : {
                            "fieldConditions" : {
                              "maxProperties" : 1,
                              "minProperties" : 1,
                              "required" : [ "fieldValue" ],
                              "properties" : {
                                "fieldValue" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            },
                            "failureReason" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          }
                        } ]
                      }, {
                        "additionalProperties" : false,
                        "allOf" : [ {
                          "required" : [ "canDiscard", "createdBy", "createdTime", "cvId", "departmentId", "module", "operation", "status", "updatedRecordsCount" ],
                          "properties" : {
                            "cvId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Custom view Id",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "canDiscard" : { },
                            "createdBy" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "module" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "tickets", "contacts", "accounts" ]
                            },
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "operation" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Field_Update", "Move", "Delete", "Close", "Assignee_Change", "Revoke_Blueprint" ]
                            },
                            "updatedRecordsCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "In Progress", "Queue", "Success", "Failed" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Status of the update. Values allowed are @In Progress@, @Queued@, @Success@ and @Failed@",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "split" : ",",
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "failureReason" ],
                          "properties" : {
                            "failureReason" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          }
                        } ]
                      } ]
                    }
                  }
                },
                "additionalProperties" : { }
              } ]
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : [ {
                    "cvId" : "11000000014252",
                    "fieldConditions" : {
                      "fieldName" : "Channel",
                      "fieldValue" : "Email"
                    },
                    "creator" : {
                      "firstName" : "Janaki",
                      "lastName" : "V",
                      "photoURL" : "https://contacts.zoho.com/file?t=user&fs=thumb&ID=15073702&nps=404&exp=20",
                      "name" : "Janaki V"
                    },
                    "canDiscard" : true,
                    "module" : "tickets",
                    "departmentId" : "11000000013058",
                    "updatedView" : {
                      "name" : "Closed Cases",
                      "id" : "11000000014252"
                    },
                    "createdBy" : "11000000016500",
                    "createdTime" : 1587620774000,
                    "department" : {
                      "name" : "API department",
                      "id" : "11000000013058"
                    },
                    "operation" : "Field_Update",
                    "status" : "Success",
                    "updatedRecordsCount" : 23252
                  }, {
                    "cvId" : "11000000014096",
                    "fieldConditions" : {
                      "fieldName" : "Classification",
                      "fieldValue" : "Problem"
                    },
                    "creator" : {
                      "firstName" : "Janaki",
                      "lastName" : "V",
                      "photoURL" : "https://contacts.zoho.com/file?t=user&fs=thumb&ID=15073702&nps=404&exp=20",
                      "name" : "Janaki V"
                    },
                    "canDiscard" : true,
                    "module" : "tickets",
                    "departmentId" : "11000000013058",
                    "updatedView" : {
                      "name" : "All Cases",
                      "id" : "11000000014096"
                    },
                    "createdBy" : "11000000016500",
[...]
