{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "BusinessHour",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "automation"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/businessHours/{businessHourId}" : {
      "get" : {
        "tags" : [ "BusinessHour" ],
        "summary" : "Get business hours set",
        "description" : "This API fetches the details of a business hours set configured in your help desk portal",
        "operationId" : "getBusinessHour",
        "parameters" : [ {
          "name" : "businessHourId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "businessHourJSON template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "associatedHolidayList", "businessTimes", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime", "name", "status", "timeZone", "type" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "associatedHolidayList" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "holidayListId", "holidayListName", "holidayListStatus" ],
                      "properties" : {
                        "holidayListStatus" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ACTIVE", "INACTIVE" ]
                        },
                        "holidayListId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "holidayListName" : {
                          "maxLength" : 100,
                          "minLength" : 1,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 1,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Name of the business hours set",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "businessTimes" : {
                      "items" : {
                        "required" : [ "day", "endTime", "startTime" ],
                        "properties" : {
                          "startTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                          },
                          "endTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                          },
                          "day" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "SUNDAY|MONDAY|TUESDAY|WEDNESDAY|THURSDAY|FRIDAY|SATURDAY"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "timeZone" : {
                      "maxProperties" : 2,
                      "minProperties" : 2,
                      "required" : [ "id", "name" ],
                      "properties" : {
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "id" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "type" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "24X7", "SPECIFIC", "CUSTOM" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Type of the business hours set. Values allowed are @24X7@ (available anytime throughout the week), @SPECIFIC@ (available during specific hours on the days selected),and @CUSTOM@ (available during different hours on different days",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ACTIVE", "INACTIVE" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Activation status of the business hours set. Values allowed are @ACTIVE@ and @INACTIVE@",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1544426319796,
                      "createdBy" : "4000000016079",
                      "associatedHolidayList" : null,
                      "name" : "BusinssHour Pakistan Shift",
                      "businessTimes" : [ {
                        "startTime" : 600,
                        "endTime" : 960,
                        "day" : "MONDAY"
                      }, {
                        "startTime" : 600,
                        "endTime" : 960,
                        "day" : "TUESDAY"
                      }, {
                        "startTime" : 600,
                        "endTime" : 960,
                        "day" : "WEDNESDAY"
                      }, {
                        "startTime" : 600,
                        "endTime" : 960,
                        "day" : "THURSDAY"
                      }, {
                        "startTime" : 600,
                        "endTime" : 960,
                        "day" : "FRIDAY"
                      }, {
                        "startTime" : "00:00",
                        "endTime" : "00:00",
                        "day" : "SATURDAY"
                      }, {
                        "startTime" : "00:00",
                        "endTime" : "00:00",
                        "day" : "SUNDAY"
                      } ],
                      "timeZone" : {
                        "name" : "( GMT 5:00 ) Pakistan Time( PLT )",
                        "id" : "PLT"
                      },
                      "createdTime" : 1544426319796,
                      "modifiedBy" : "4000000016079",
                      "id" : "4000000186010",
                      "type" : "SPECIFIC",
                      "status" : "ACTIVE"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "71f5749cb341bf6ea5d54f1166598398",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.BusinessHoursService.getBusinessHour"
        }
      },
      "patch" : {
        "tags" : [ "BusinessHour" ],
        "summary" : "Update business hours set",
        "description" : "This API updates the details of a business hours set configured in your help desk portal",
        "operationId" : "updateBusinessHour",
        "parameters" : [ {
          "name" : "businessHourId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "timeZoneId" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 1,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "holidayListId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "businessTimes" : {
                    "items" : {
                      "required" : [ "day", "endTime", "startTime" ],
                      "properties" : {
                        "startTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                        },
                        "endTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                        },
                        "day" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "SUNDAY|MONDAY|TUESDAY|WEDNESDAY|THURSDAY|FRIDAY|SATURDAY"
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "type" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "24X7", "SPECIFIC", "CUSTOM" ]
                  },
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "ACTIVE", "INACTIVE" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "holidayListId" : "4000000105030"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "businessHourJSON template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "associatedHolidayList", "businessTimes", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime", "name", "status", "timeZone", "type" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "associatedHolidayList" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "holidayListId", "holidayListName", "holidayListStatus" ],
                      "properties" : {
                        "holidayListStatus" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ACTIVE", "INACTIVE" ]
                        },
                        "holidayListId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "holidayListName" : {
                          "maxLength" : 100,
                          "minLength" : 1,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 1,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Name of the business hours set",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "businessTimes" : {
                      "items" : {
                        "required" : [ "day", "endTime", "startTime" ],
                        "properties" : {
                          "startTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                          },
                          "endTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                          },
                          "day" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "SUNDAY|MONDAY|TUESDAY|WEDNESDAY|THURSDAY|FRIDAY|SATURDAY"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "timeZone" : {
                      "maxProperties" : 2,
                      "minProperties" : 2,
                      "required" : [ "id", "name" ],
                      "properties" : {
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "id" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "type" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "24X7", "SPECIFIC", "CUSTOM" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Type of the business hours set. Values allowed are @24X7@ (available anytime throughout the week), @SPECIFIC@ (available during specific hours on the days selected),and @CUSTOM@ (available during different hours on different days",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ACTIVE", "INACTIVE" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Activation status of the business hours set. Values allowed are @ACTIVE@ and @INACTIVE@",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1544426319796,
                      "createdBy" : "4000000016079",
                      "associatedHolidayList" : null,
                      "name" : "BusinssHour Pakistan Shift",
                      "businessTimes" : [ {
                        "startTime" : 600,
                        "endTime" : 960,
                        "day" : "MONDAY"
                      }, {
                        "startTime" : 600,
                        "endTime" : 960,
                        "day" : "TUESDAY"
                      }, {
                        "startTime" : 600,
                        "endTime" : 960,
                        "day" : "WEDNESDAY"
                      }, {
                        "startTime" : 600,
                        "endTime" : 960,
                        "day" : "THURSDAY"
                      }, {
                        "startTime" : 600,
                        "endTime" : 960,
                        "day" : "FRIDAY"
                      }, {
                        "startTime" : "00:00",
                        "endTime" : "00:00",
                        "day" : "SATURDAY"
                      }, {
                        "startTime" : "00:00",
                        "endTime" : "00:00",
                        "day" : "SUNDAY"
                      } ],
                      "timeZone" : {
                        "name" : "( GMT 5:00 ) Pakistan Time( PLT )",
                        "id" : "PLT"
                      },
                      "createdTime" : 1544426319796,
                      "modifiedBy" : "4000000016079",
                      "id" : "4000000186010",
                      "type" : "SPECIFIC",
                      "status" : "ACTIVE"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 1200000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "11c73170f9b31662b6d8837f75f5e53f",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.BusinessHoursService.updateBusinessHour"
        }
      }
    },
    "/api/v1/businessHours" : {
      "get" : {
        "tags" : [ "BusinessHour" ],
        "summary" : "List business hour sets",
        "description" : "This API lists a particular number of business hour sets, based on the limit specified",
        "operationId" : "getBusinessHours",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of business hour sets to list",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of business hour sets to list",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the business hour sets must be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the business hour sets must be listed",
            "format" : "int32"
          }
        }, {
          "name" : "businessHourIds",
          "in" : "query",
          "description" : "The IDs of the BusinessHours to list separated by commas. You can pass upto 50 IDs.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : false,
            "description" : "The IDs of the BusinessHours to list separated by commas. You can pass upto 50 IDs.",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "The IDs of the BusinessHours to list separated by commas. You can pass upto 50 IDs.", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Activation status of the business hour sets. Values allowed are @ACTIVE@ and @INACTIVE@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Activation status of the business hour sets. Values allowed are @ACTIVE@ and @INACTIVE@",
            "enum" : [ "ACTIVE", "INACTIVE" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "businessHourListViewJSON template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "associatedHolidayList", "businessTimes", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime", "name", "status", "timeZone", "type" ],
                        "properties" : {
                          "modifiedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "createdBy" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "associatedHolidayList" : {
                            "maxProperties" : 3,
                            "minProperties" : 3,
                            "required" : [ "holidayListId", "holidayListName", "holidayListStatus" ],
                            "properties" : {
                              "holidayListStatus" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ACTIVE", "INACTIVE" ]
                              },
                              "holidayListId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "holidayListName" : {
                                "maxLength" : 100,
                                "minLength" : 1,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 1,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "businessTimes" : {
                            "items" : {
                              "required" : [ "day", "endTime", "startTime" ],
                              "properties" : {
                                "startTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                                },
                                "endTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                                },
                                "day" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "SUNDAY|MONDAY|TUESDAY|WEDNESDAY|THURSDAY|FRIDAY|SATURDAY"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "timeZone" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "id", "name" ],
                            "properties" : {
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "id" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "modifiedBy" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "24X7", "SPECIFIC", "CUSTOM" ]
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTIVE", "INACTIVE" ],
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Activation status of the business hour sets. Values allowed are @ACTIVE@ and @INACTIVE@",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "modifiedTime" : 1544425791265,
                        "createdBy" : "4000000016079",
                        "associatedHolidayList" : null,
                        "name" : "BusinssHour Pak Shift",
                        "businessTimes" : [ {
                          "startTime" : 600,
                          "endTime" : 960,
                          "day" : "MONDAY"
                        }, {
                          "startTime" : 600,
                          "endTime" : 960,
                          "day" : "TUESDAY"
                        }, {
                          "startTime" : 600,
                          "endTime" : 960,
                          "day" : "WEDNESDAY"
                        }, {
                          "startTime" : 600,
                          "endTime" : 960,
                          "day" : "THURSDAY"
                        }, {
                          "startTime" : 600,
                          "endTime" : 960,
                          "day" : "FRIDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : "00:00",
                          "day" : "SATURDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : "00:00",
                          "day" : "SUNDAY"
                        } ],
                        "timeZone" : {
                          "name" : "( GMT 5:00 ) Pakistan Time( PLT )",
                          "id" : "PLT"
                        },
                        "createdTime" : 1544425791265,
                        "modifiedBy" : "4000000016079",
                        "id" : "4000000185071",
                        "type" : "SPECIFIC",
                        "status" : "ACTIVE"
                      }, {
                        "modifiedTime" : 1543920264258,
                        "createdBy" : "4000000016079",
                        "associatedHolidayList" : null,
                        "name" : "Specific BH",
                        "businessTimes" : [ {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "MONDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "TUESDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "WEDNESDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "THURSDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "FRIDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "SATURDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "SUNDAY"
                        } ],
                        "timeZone" : {
                          "name" : "( GMT 0:00 ) Greenwich Mean Time( GMT )",
                          "id" : "GMT"
                        },
                        "createdTime" : 1543404345082,
                        "modifiedBy" : "4000000016079",
                        "id" : "4000000101003",
                        "type" : "SPECIFIC",
                        "status" : "ACTIVE"
                      }, {
                        "modifiedTime" : 1543906124595,
                        "createdBy" : "4000000016079",
                        "associatedHolidayList" : {
                          "holidayListStatus" : "INACTIVE",
                          "holidayListId" : "4000000117001",
                          "holidayListName" : "Overlapping Holidays"
                        },
                        "name" : "24X7 BusinessHour",
                        "businessTimes" : [ {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "MONDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "TUESDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "WEDNESDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "THURSDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "FRIDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "SATURDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "SUNDAY"
                        } ],
                        "timeZone" : {
                          "name" : "( GMT 0:00 ) Greenwich Mean Time( GMT )",
                          "id" : "GMT"
                        },
                        "createdTime" : 1543404345082,
                        "modifiedBy" : "4000000016079",
                        "id" : "4000000103001",
                        "type" : "24X7",
                        "status" : "ACTIVE"
                      }, {
                        "modifiedTime" : 1543821419198,
                        "createdBy" : "4000000016079",
                        "associatedHolidayList" : null,
                        "name" : "Indian Shift 2",
                        "businessTimes" : [ {
                          "startTime" : "09:00",
                          "endTime" : 1080,
                          "day" : "MONDAY"
                        }, {
                          "startTime" : "09:00",
                          "endTime" : 1080,
                          "day" : "TUESDAY"
                        }, {
                          "startTime" : "09:00",
                          "endTime" : 1080,
                          "day" : "WEDNESDAY"
                        }, {
                          "startTime" : "09:00",
                          "endTime" : 1080,
                          "day" : "THURSDAY"
                        }, {
                          "startTime" : "09:00",
                          "endTime" : 1080,
                          "day" : "FRIDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : "00:00",
                          "day" : "SATURDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : "00:00",
                          "day" : "SUNDAY"
                        } ],
                        "timeZone" : {
                          "name" : "( GMT 0:00 ) Greenwich Mean Time( GMT )",
                          "id" : "GMT"
                        },
                        "createdTime" : 1543408571781,
                        "modifiedBy" : "4000000016079",
                        "id" : "4000000104068",
                        "type" : "SPECIFIC",
                        "status" : "ACTIVE"
                      }, {
                        "modifiedTime" : 1543821419198,
                        "createdBy" : "4000000016079",
                        "associatedHolidayList" : {
                          "holidayListStatus" : "INACTIVE",
                          "holidayListId" : "4000000105030",
                          "holidayListName" : "General HolidayList"
                        },
                        "name" : "UK 24X7 Shift",
                        "businessTimes" : [ {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "MONDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "TUESDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "WEDNESDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "THURSDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "FRIDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "SATURDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : 1439,
                          "day" : "SUNDAY"
                        } ],
                        "timeZone" : {
                          "name" : "( GMT 0:00 ) Greenwich Mean Time( GMT )",
                          "id" : "GMT"
                        },
                        "createdTime" : 1543404345082,
                        "modifiedBy" : "4000000016079",
                        "id" : "4000000101005",
                        "type" : "24X7",
                        "status" : "ACTIVE"
                      }, {
                        "modifiedTime" : 1543821419198,
                        "createdBy" : "4000000016079",
                        "associatedHolidayList" : {
                          "holidayListStatus" : "INACTIVE",
                          "holidayListId" : "4000000105030",
                          "holidayListName" : "General HolidayList"
                        },
                        "name" : "UK Shift",
                        "businessTimes" : [ {
                          "startTime" : "09:00",
                          "endTime" : 1080,
                          "day" : "MONDAY"
                        }, {
                          "startTime" : "09:00",
                          "endTime" : 1080,
                          "day" : "TUESDAY"
                        }, {
                          "startTime" : "09:00",
                          "endTime" : 1080,
                          "day" : "WEDNESDAY"
                        }, {
                          "startTime" : "09:00",
                          "endTime" : 1080,
                          "day" : "THURSDAY"
                        }, {
                          "startTime" : "09:00",
                          "endTime" : 1080,
                          "day" : "FRIDAY"
                        }, {
                          "startTime" : "09:00",
                          "endTime" : 1080,
                          "day" : "SATURDAY"
                        }, {
                          "startTime" : "00:00",
                          "endTime" : "00:00",
                          "day" : "SUNDAY"
                        } ],
                        "timeZone" : {
                          "name" : "( GMT 0:00 ) Greenwich Mean Time( GMT )",
                          "id" : "GMT"
                        },
                        "createdTime" : 1543404345082,
                        "modifiedBy" : "4000000016079",
                        "id" : "4000000101009",
                        "type" : "CUSTOM",
                        "status" : "INACTIVE"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 40,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "9b9f0889ef5c9e484fc74faf52a15e3f",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.BusinessHoursService.getBusinessHours"
        }
      },
      "post" : {
        "tags" : [ "BusinessHour" ],
        "summary" : "Create business hours set",
        "description" : "This API creates a business hours set in your help desk portal",
        "operationId" : "createBusinessHour",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "businessTimes", "name", "status", "timeZoneId", "type" ],
                "properties" : {
                  "timeZoneId" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 1,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "holidayListId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "businessTimes" : {
                    "items" : {
                      "required" : [ "day", "endTime", "startTime" ],
                      "properties" : {
                        "startTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                        },
                        "endTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                        },
                        "day" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "SUNDAY|MONDAY|TUESDAY|WEDNESDAY|THURSDAY|FRIDAY|SATURDAY"
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "type" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "24X7", "SPECIFIC", "CUSTOM" ]
                  },
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "ACTIVE", "INACTIVE" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "timeZoneId" : "PLT",
                    "name" : "BusinssHour Pakistan Shift",
                    "businessTimes" : [ {
                      "startTime" : 600,
                      "endTime" : 960,
                      "day" : "MONDAY"
                    }, {
                      "startTime" : 600,
                      "endTime" : 960,
                      "day" : "TUESDAY"
                    }, {
                      "startTime" : 600,
                      "endTime" : 960,
                      "day" : "WEDNESDAY"
                    }, {
                      "startTime" : 600,
                      "endTime" : 960,
                      "day" : "THURSDAY"
                    }, {
                      "startTime" : 600,
                      "endTime" : 960,
                      "day" : "FRIDAY"
                    } ],
                    "type" : "SPECIFIC",
                    "status" : "ACTIVE"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "201" : {
            "description" : "businessHourJSON template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "associatedHolidayList", "businessTimes", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime", "name", "status", "timeZone", "type" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "associatedHolidayList" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "holidayListId", "holidayListName", "holidayListStatus" ],
                      "properties" : {
                        "holidayListStatus" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ACTIVE", "INACTIVE" ]
                        },
                        "holidayListId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "holidayListName" : {
                          "maxLength" : 100,
                          "minLength" : 1,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 1,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Name of the business hours set",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "businessTimes" : {
                      "items" : {
                        "required" : [ "day", "endTime", "startTime" ],
                        "properties" : {
                          "startTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                          },
                          "endTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                          },
                          "day" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "SUNDAY|MONDAY|TUESDAY|WEDNESDAY|THURSDAY|FRIDAY|SATURDAY"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "timeZone" : {
                      "maxProperties" : 2,
                      "minProperties" : 2,
                      "required" : [ "id", "name" ],
                      "properties" : {
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "id" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "type" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "24X7", "SPECIFIC", "CUSTOM" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Type of the business hours set. Values allowed are @24X7@ (available anytime throughout the week), @SPECIFIC@ (available during specific hours on the days selected),and @CUSTOM@ (available during different hours on different days",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ACTIVE", "INACTIVE" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Activation status of the business hours set. Values allowed are @ACTIVE@ and @INACTIVE@",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1544426319796,
                      "createdBy" : "4000000016079",
                      "associatedHolidayList" : null,
                      "name" : "BusinssHour Pakistan Shift",
                      "businessTimes" : [ {
                        "startTime" : 600,
                        "endTime" : 960,
                        "day" : "MONDAY"
                      }, {
                        "startTime" : 600,
                        "endTime" : 960,
                        "day" : "TUESDAY"
                      }, {
                        "startTime" : 600,
                        "endTime" : 960,
                        "day" : "WEDNESDAY"
                      }, {
                        "startTime" : 600,
                        "endTime" : 960,
                        "day" : "THURSDAY"
                      }, {
                        "startTime" : 600,
                        "endTime" : 960,
                        "day" : "FRIDAY"
                      }, {
                        "startTime" : "00:00",
                        "endTime" : "00:00",
                        "day" : "SATURDAY"
                      }, {
                        "startTime" : "00:00",
                        "endTime" : "00:00",
                        "day" : "SUNDAY"
                      } ],
                      "timeZone" : {
                        "name" : "( GMT 5:00 ) Pakistan Time( PLT )",
                        "id" : "PLT"
                      },
                      "createdTime" : 1544426319796,
                      "modifiedBy" : "4000000016079",
                      "id" : "4000000186010",
                      "type" : "SPECIFIC",
                      "status" : "ACTIVE"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 1200000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "8d14031ff19cbf00b36b714d5df7c7ee",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.BusinessHoursService.createBusinessHour"
        }
      }
    },
    "/api/v1/businessHours/{businessHourId}/relatedRules" : {
      "get" : {
        "tags" : [ "BusinessHour" ],
        "summary" : "List associated automation rules for the business hour",
        "description" : "This API lists a particular number of automation rules that include a business hours set,based on the limit specified",
        "operationId" : "getRelatedRulesForBusinessHour",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of business hour sets to list",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of business hour sets to list",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the business hour sets must be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the business hour sets must be listed",
            "format" : "int32"
          }
        }, {
          "name" : "businessHourId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "relatedRuleListArray template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "ruleId", "ruleName", "ruleType" ],
                        "properties" : {
                          "ruleType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "SUPERVISE", "MACRO", "WORKFLOW", "BLUEPRINT", "SLA", "SKILLS", "CUSTOMVIEW", "CONTRACTS" ]
                          },
                          "ruleName" : {
                            "maxLength" : 255,
                            "minLength" : 1,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "ruleId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "ruleType" : "SUPERVISE",
                        "ruleName" : "TBA1",
                        "ruleId" : "6000000019012"
                      }, {
                        "ruleType" : "SLA",
                        "ruleName" : "Priority-based SLAs",
                        "ruleId" : "6000000013508"
                      }, {
                        "ruleType" : "SLA",
                        "ruleName" : "Bronze SLAs",
                        "ruleId" : "6000000013514"
                      }, {
                        "ruleType" : "BLUEPRINT",
                        "ruleName" : "Default Blueprint",
                        "ruleId" : "6000000016083"
                      }, {
                        "ruleType" : "BLUEPRINT",
                        "ruleName" : "BH BP",
                        "ruleId" : "6000000018143"
                      }, {
                        "ruleType" : "BLUEPRINT",
                        "ruleName" : "Third Bp",
                        "ruleId" : "6000000023018"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 1200000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "cd71c7b95969eff9970e67e25153faf8",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.BusinessHoursService.getRelatedRules"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "businessTimesJson" : {
        "required" : [ "day", "endTime", "startTime" ],
        "properties" : {
          "startTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
          },
          "endTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
          },
          "day" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "SUNDAY|MONDAY|TUESDAY|WEDNESDAY|THURSDAY|FRIDAY|SATURDAY"
          }
        },
        "additionalProperties" : { }
      },
      "businessTimesList" : {
        "items" : {
          "required" : [ "day", "endTime", "startTime" ],
          "properties" : {
            "startTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
            },
            "endTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
            },
            "day" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "SUNDAY|MONDAY|TUESDAY|WEDNESDAY|THURSDAY|FRIDAY|SATURDAY"
            }
          },
          "additionalProperties" : false
        }
      },
      "rulesListviewJson" : {
        "required" : [ "ruleId", "ruleName", "ruleType" ],
        "properties" : {
          "ruleType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "SUPERVISE", "MACRO", "WORKFLOW", "BLUEPRINT", "SLA", "SKILLS", "CUSTOMVIEW", "CONTRACTS" ]
          },
          "ruleName" : {
            "maxLength" : 255,
            "minLength" : 1,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "ruleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "relatedRulesData" : {
        "items" : {
          "required" : [ "ruleId", "ruleName", "ruleType" ],
          "properties" : {
            "ruleType" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "SUPERVISE", "MACRO", "WORKFLOW", "BLUEPRINT", "SLA", "SKILLS", "CUSTOMVIEW", "CONTRACTS" ]
            },
            "ruleName" : {
              "maxLength" : 255,
              "minLength" : 1,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "ruleId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "additionalProperties" : false
        }
      },
      "businessHourJSON" : {
        "required" : [ "associatedHolidayList", "businessTimes", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime", "name", "status", "timeZone", "type" ],
        "properties" : {
          "modifiedTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "createdBy" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "associatedHolidayList" : {
            "maxProperties" : 3,
            "minProperties" : 3,
            "required" : [ "holidayListId", "holidayListName", "holidayListStatus" ],
            "properties" : {
              "holidayListStatus" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "ACTIVE", "INACTIVE" ]
              },
              "holidayListId" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "holidayListName" : {
                "maxLength" : 100,
                "minLength" : 1,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              }
            },
            "additionalProperties" : { }
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 1,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "businessTimes" : {
            "items" : {
              "required" : [ "day", "endTime", "startTime" ],
              "properties" : {
                "startTime" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                },
                "endTime" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                },
                "day" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "SUNDAY|MONDAY|TUESDAY|WEDNESDAY|THURSDAY|FRIDAY|SATURDAY"
                }
              },
              "additionalProperties" : false
            }
          },
          "timeZone" : {
            "maxProperties" : 2,
            "minProperties" : 2,
            "required" : [ "id", "name" ],
            "properties" : {
              "name" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "id" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
              }
            },
            "additionalProperties" : { }
          },
          "createdTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "modifiedBy" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "type" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "24X7", "SPECIFIC", "CUSTOM" ]
          },
          "status" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "ACTIVE", "INACTIVE" ],
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Activation status of the business hour sets. Values allowed are @ACTIVE@ and @INACTIVE@",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          }
        },
        "additionalProperties" : { }
      },
      "businessHourDataArray" : {
        "items" : {
          "required" : [ "associatedHolidayList", "businessTimes", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime", "name", "status", "timeZone", "type" ],
          "properties" : {
            "modifiedTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "createdBy" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "associatedHolidayList" : {
              "maxProperties" : 3,
              "minProperties" : 3,
              "required" : [ "holidayListId", "holidayListName", "holidayListStatus" ],
              "properties" : {
                "holidayListStatus" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "ACTIVE", "INACTIVE" ]
                },
                "holidayListId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "holidayListName" : {
                  "maxLength" : 100,
                  "minLength" : 1,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                }
              },
              "additionalProperties" : false
            },
            "name" : {
              "maxLength" : 100,
              "minLength" : 1,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "businessTimes" : {
              "items" : {
                "required" : [ "day", "endTime", "startTime" ],
                "properties" : {
                  "startTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                  },
                  "endTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                  },
                  "day" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "SUNDAY|MONDAY|TUESDAY|WEDNESDAY|THURSDAY|FRIDAY|SATURDAY"
                  }
                },
                "additionalProperties" : false
              }
            },
            "timeZone" : {
              "maxProperties" : 2,
              "minProperties" : 2,
              "required" : [ "id", "name" ],
              "properties" : {
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                },
                "id" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                }
              },
              "additionalProperties" : false
            },
            "createdTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "modifiedBy" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "type" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "24X7", "SPECIFIC", "CUSTOM" ]
            },
            "status" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "ACTIVE", "INACTIVE" ],
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Activation status of the business hour sets. Values allowed are @ACTIVE@ and @INACTIVE@",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            }
          },
          "additionalProperties" : false
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "businessHourJSON" : {
        "description" : "businessHourJSON template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "associatedHolidayList", "businessTimes", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime", "name", "status", "timeZone", "type" ],
              "properties" : {
                "modifiedTime" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                },
                "createdBy" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "associatedHolidayList" : {
                  "maxProperties" : 3,
                  "minProperties" : 3,
                  "required" : [ "holidayListId", "holidayListName", "holidayListStatus" ],
                  "properties" : {
                    "holidayListStatus" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ACTIVE", "INACTIVE" ]
                    },
                    "holidayListId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "holidayListName" : {
                      "maxLength" : 100,
                      "minLength" : 1,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    }
                  },
                  "additionalProperties" : { }
                },
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 1,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Name of the business hours set",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "businessTimes" : {
                  "items" : {
                    "required" : [ "day", "endTime", "startTime" ],
                    "properties" : {
                      "startTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                      },
                      "endTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                      },
                      "day" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "SUNDAY|MONDAY|TUESDAY|WEDNESDAY|THURSDAY|FRIDAY|SATURDAY"
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "timeZone" : {
                  "maxProperties" : 2,
                  "minProperties" : 2,
                  "required" : [ "id", "name" ],
                  "properties" : {
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "id" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                    }
                  },
                  "additionalProperties" : { }
                },
                "createdTime" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                },
                "modifiedBy" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "type" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "24X7", "SPECIFIC", "CUSTOM" ],
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Type of the business hours set. Values allowed are @24X7@ (available anytime throughout the week), @SPECIFIC@ (available during specific hours on the days selected),and @CUSTOM@ (available during different hours on different days",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "status" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "ACTIVE", "INACTIVE" ],
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Activation status of the business hours set. Values allowed are @ACTIVE@ and @INACTIVE@",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "modifiedTime" : 1544426319796,
                  "createdBy" : "4000000016079",
                  "associatedHolidayList" : null,
                  "name" : "BusinssHour Pakistan Shift",
                  "businessTimes" : [ {
                    "startTime" : 600,
                    "endTime" : 960,
                    "day" : "MONDAY"
                  }, {
                    "startTime" : 600,
                    "endTime" : 960,
                    "day" : "TUESDAY"
                  }, {
                    "startTime" : 600,
                    "endTime" : 960,
                    "day" : "WEDNESDAY"
                  }, {
                    "startTime" : 600,
                    "endTime" : 960,
                    "day" : "THURSDAY"
                  }, {
                    "startTime" : 600,
                    "endTime" : 960,
                    "day" : "FRIDAY"
                  }, {
                    "startTime" : "00:00",
                    "endTime" : "00:00",
                    "day" : "SATURDAY"
                  }, {
                    "startTime" : "00:00",
                    "endTime" : "00:00",
                    "day" : "SUNDAY"
                  } ],
                  "timeZone" : {
                    "name" : "( GMT 5:00 ) Pakistan Time( PLT )",
                    "id" : "PLT"
                  },
                  "createdTime" : 1544426319796,
                  "modifiedBy" : "4000000016079",
                  "id" : "4000000186010",
                  "type" : "SPECIFIC",
                  "status" : "ACTIVE"
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "relatedRuleListArray" : {
        "description" : "relatedRuleListArray template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "data" ],
              "properties" : {
                "data" : {
[...]
