{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "CallComments",
    "version" : "1.0.0",
    "x-clan-group" : "secModule",
    "x-module-group" : "activity"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/calls/{callId}/comments/{commentId}" : {
      "get" : {
        "tags" : [ "CallComments" ],
        "summary" : "Get a call comment",
        "description" : "This API fetches a call comment from the portal.",
        "operationId" : "getCallComment",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Secondary information related to the comments. Value allowed is @mentions@, which returns the details of users mentioned in the comments.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Secondary information related to the comments. Value allowed is @mentions@, which returns the details of users mentioned in the comments.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "mentions" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "callId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "commentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "addCallComment template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "mention" : {
                        "uniqueItems" : false,
                        "items" : {
                          "required" : [ "email", "firstName", "id", "lastName", "length", "offset", "photoURL", "type", "zuid" ],
                          "properties" : {
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "photoURL" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "offset" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "length" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "AGENT", "TEAM" ]
                            },
                            "email" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            },
                            "zuid" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    }
                  }, {
                    "required" : [ "attachments", "commentedTime", "commenter", "commenterId", "content", "contentType", "encodedContent", "id", "impersonatedUser", "modifiedTime" ],
                    "properties" : {
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "attachments" : {
                        "uniqueItems" : false,
                        "items" : {
                          "additionalProperties" : false
                        }
                      },
                      "encodedContent" : {
                        "maxLength" : 32000,
                        "minLength" : 0
                      },
                      "commentedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "contentType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "html", "plainText" ]
                      },
                      "content" : {
                        "maxLength" : 32000,
                        "minLength" : 0
                      },
                      "commenterId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "commenter" : {
                        "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "roleName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "impersonatedUser" : {
                        "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "roleName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "ID of the comment",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : null,
                      "attachments" : [ {
                        "size" : "12734",
                        "name" : "Attachment.png",
                        "id" : "4000000008994",
                        "href" : "https://desk.zoho.com/api/v1/calls/4000000528005/comments/4000000529001/attachments/4000000008994/content"
                      } ],
                      "commentedTime" : 1485269673534,
                      "id" : "4000000530003",
                      "contentType" : "html",
                      "content" : "First Call comment.",
                      "commenterId" : "4000000008692",
                      "commenter" : {
                        "firstName" : "Jade",
                        "lastName" : "Tywin",
                        "photoURL" : "https://desk.zoho.com/api/v1/agent/4000000008692/photo",
                        "name" : "Jade Tywin",
                        "roleName" : "LightAgent",
                        "type" : "AGENT",
                        "email" : "jade12tywin@zylker.com"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.calls.READ", "Desk.tasks.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Lenient_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "tasks" ]
            }
          },
          "clan-group" : "secModule",
          "apihash" : "18c4c9d680126a2b062a0f5844e71605",
          "module-group" : "activity",
          "apimethod" : "com.zoho.support.restapi.CommentService.getCallComment"
        }
      },
      "put" : {
        "tags" : [ "CallComments" ],
        "summary" : "Update a call comment",
        "description" : "This API updates an existing call comment.",
        "operationId" : "updateCallComment",
        "parameters" : [ {
          "name" : "callId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "commentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "contentType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "html", "plainText" ]
                  },
                  "content" : {
                    "maxLength" : 32000,
                    "minLength" : 0,
                    "x-custom-parameters-attributes" : {
                      "xss" : "antisamyfilter_custom"
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "content" : "Edit Call comment"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "addCallComment template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "attachments", "commentedTime", "commenter", "commenterId", "content", "contentType", "encodedContent", "id", "impersonatedUser", "modifiedTime" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "attachments" : {
                      "uniqueItems" : false,
                      "items" : {
                        "additionalProperties" : false
                      }
                    },
                    "encodedContent" : {
                      "maxLength" : 32000,
                      "minLength" : 0
                    },
                    "commentedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "contentType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "html", "plainText" ]
                    },
                    "content" : {
                      "maxLength" : 32000,
                      "minLength" : 0
                    },
                    "commenterId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "commenter" : {
                      "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "roleName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "impersonatedUser" : {
                      "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "roleName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "ID of the comment",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : null,
                      "attachments" : [ {
                        "size" : "12734",
                        "name" : "Attachment.png",
                        "id" : "4000000008994",
                        "href" : "https://desk.zoho.com/api/v1/calls/4000000528005/comments/4000000529001/attachments/4000000008994/content"
                      } ],
                      "commentedTime" : 1485269673534,
                      "id" : "4000000530003",
                      "contentType" : "html",
                      "content" : "First Call comment.",
                      "commenterId" : "4000000008692",
                      "commenter" : {
                        "firstName" : "Jade",
                        "lastName" : "Tywin",
                        "photoURL" : "https://desk.zoho.com/api/v1/agent/4000000008692/photo",
                        "name" : "Jade Tywin",
                        "roleName" : "LightAgent",
                        "type" : "AGENT",
                        "email" : "jade12tywin@zylker.com"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.calls.UPDATE", "Desk.tasks.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 200,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 3000000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "tasks" ]
            }
          },
          "clan-group" : "secModule",
          "apihash" : "97b01c80101d22bf4bde39bf52c531ad",
          "module-group" : "activity",
          "apimethod" : "com.zoho.support.restapi.CommentService.editCallComment"
        }
      }
    },
    "/api/v1/calls/{entityId}/comments" : {
      "get" : {
        "tags" : [ "CallComments" ],
        "summary" : "List all call comments",
        "description" : "This API lists a particular number of comments recorded on a call, based on the limit specified.",
        "operationId" : "getCallComments",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Secondary information related to the comments. Value allowed is @mentions@, which returns the details of users mentioned in the comments.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Secondary information related to the comments. Value allowed is @mentions@, which returns the details of users mentioned in the comments.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "mentions" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "No. of comments to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "No. of comments to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number starting from which the comments must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number starting from which the comments must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Sort comments by the @commentedTime@ attribute. The default sorting order is ascending. A @-@ prefix denotes descending order of sorting.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "-?(commentedTime)",
            "description" : "Sort comments by the @commentedTime@ attribute. The default sorting order is ascending. A @-@ prefix denotes descending order of sorting."
          }
        }, {
          "name" : "entityId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "listCallComments template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "mention" : {
                              "uniqueItems" : false,
                              "items" : {
                                "required" : [ "email", "firstName", "id", "lastName", "length", "offset", "photoURL", "type", "zuid" ],
                                "properties" : {
                                  "firstName" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "lastName" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "photoURL" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "offset" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "length" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "type" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "AGENT", "TEAM" ]
                                  },
                                  "email" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                  },
                                  "zuid" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "required" : [ "attachments", "commentedTime", "commenter", "commenterId", "content", "contentType", "encodedContent", "id", "impersonatedUser", "modifiedTime" ],
                          "properties" : {
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "attachments" : {
                              "uniqueItems" : false,
                              "items" : {
                                "additionalProperties" : false
                              }
                            },
                            "encodedContent" : {
                              "maxLength" : 32000,
                              "minLength" : 0
                            },
                            "commentedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "contentType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "html", "plainText" ]
                            },
                            "content" : {
                              "maxLength" : 32000,
                              "minLength" : 0
                            },
                            "commenterId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "commenter" : {
                              "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "roleName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "impersonatedUser" : {
                              "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "roleName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64",
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "ID of the comment",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : { }
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "modifiedTime" : null,
                        "commentedTime" : 1485270287000,
                        "id" : "4000000530005",
                        "contentType" : "plainText",
                        "commenterId" : "4000000008692",
                        "content" : "Second Call Comment......",
                        "mention" : [ ],
                        "commenter" : {
                          "firstName" : "Jade",
                          "lastName" : "Tywin",
                          "photoURL" : "https://desk.zoho.com/api/v1/agent/4000000008692/photo",
                          "name" : "Jade Tywin",
                          "roleName" : "LightAgent",
                          "type" : "AGENT",
                          "email" : "jade12tywin@zylker.com"
                        }
                      }, {
                        "modifiedTime" : 1485269780000,
                        "attachments" : [ {
                          "size" : "12734",
                          "name" : "Attachment_list.png",
                          "id" : "4000000008994",
                          "href" : "https://desk.zoho.com/api/v1/calls/4000000528005/comments/4000000529001/attachments/4000000008994/content"
                        } ],
                        "commentedTime" : 1485269673000,
                        "id" : "4000000530003",
                        "contentType" : "html",
                        "commenterId" : "4000000008692",
                        "content" : "Edit Call comment",
                        "mention" : [ ],
                        "commenter" : {
                          "firstName" : "Jade",
                          "lastName" : "Tywin",
                          "photoURL" : "https://desk.zoho.com/api/v1/portalUser/4000000008692/photo",
                          "name" : "Jade Tywin",
                          "roleName" : "PortalUser",
                          "type" : "END_USER",
                          "email" : "jade12tywin@zylker.com"
                        }
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.calls.READ", "Desk.tasks.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "tasks" ]
            }
          },
          "clan-group" : "secModule",
          "apihash" : "d366728886a9cd59dc494422f0109030",
          "module-group" : "activity",
          "apimethod" : "com.zoho.support.restapi.CommentService.getCallComments"
        }
      }
    },
    "/api/v1/calls/{callId}/comments" : {
      "post" : {
        "tags" : [ "CallComments" ],
        "summary" : "Create a call comment",
        "description" : "This API adds a comment to a call.",
        "operationId" : "createCallComment",
        "parameters" : [ {
          "name" : "callId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "content" ],
                "properties" : {
                  "contentType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "html", "plainText" ]
                  },
                  "content" : {
                    "maxLength" : 32000,
                    "minLength" : 0,
                    "x-custom-parameters-attributes" : {
                      "xss" : "antisamyfilter_custom"
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "contentType" : "html",
                    "content" : "First Call comment."
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "addCallComment template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "attachments", "commentedTime", "commenter", "commenterId", "content", "contentType", "encodedContent", "id", "impersonatedUser", "modifiedTime" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "attachments" : {
                      "uniqueItems" : false,
                      "items" : {
                        "additionalProperties" : false
                      }
                    },
                    "encodedContent" : {
                      "maxLength" : 32000,
                      "minLength" : 0
                    },
                    "commentedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "contentType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "html", "plainText" ]
                    },
                    "content" : {
                      "maxLength" : 32000,
                      "minLength" : 0
                    },
                    "commenterId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "commenter" : {
                      "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "roleName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "impersonatedUser" : {
                      "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "roleName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "ID of the comment",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : null,
                      "attachments" : [ {
                        "size" : "12734",
                        "name" : "Attachment.png",
                        "id" : "4000000008994",
                        "href" : "https://desk.zoho.com/api/v1/calls/4000000528005/comments/4000000529001/attachments/4000000008994/content"
                      } ],
                      "commentedTime" : 1485269673534,
                      "id" : "4000000530003",
                      "contentType" : "html",
                      "content" : "First Call comment.",
                      "commenterId" : "4000000008692",
                      "commenter" : {
                        "firstName" : "Jade",
                        "lastName" : "Tywin",
                        "photoURL" : "https://desk.zoho.com/api/v1/agent/4000000008692/photo",
                        "name" : "Jade Tywin",
                        "roleName" : "LightAgent",
                        "type" : "AGENT",
                        "email" : "jade12tywin@zylker.com"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.calls.UPDATE", "Desk.tasks.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy,IscSignatureCalls_OrgPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "system-auth" : "optional",
              "deprecatedScopes" : [ "tasks" ],
              "scoped-services" : [ "ZohoSupport" ]
            }
          },
          "clan-group" : "secModule",
          "apihash" : "000e8a4640219fe9be51bbecb9d3909d",
          "module-group" : "activity",
          "apimethod" : "com.zoho.support.restapi.CommentService.addCallComment"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "addCallComment" : {
        "required" : [ "attachments", "commentedTime", "commenter", "commenterId", "content", "contentType", "encodedContent", "id", "impersonatedUser", "modifiedTime" ],
        "properties" : {
          "modifiedTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "attachments" : {
            "uniqueItems" : false,
            "items" : {
              "additionalProperties" : { }
            }
          },
          "encodedContent" : {
            "maxLength" : 32000,
            "minLength" : 0
          },
          "commentedTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "contentType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "html", "plainText" ]
          },
          "content" : {
            "maxLength" : 32000,
            "minLength" : 0
          },
          "commenterId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "commenter" : {
            "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 200,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "firstName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "lastName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "name" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "roleName" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "type" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
              },
              "email" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
              }
            },
            "additionalProperties" : false
          },
          "impersonatedUser" : {
            "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 200,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "firstName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "lastName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "name" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "roleName" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64",
                "x-custom-parameters-attributes" : {
                  "removeExif" : false,
                  "filterMatchedContent" : false,
                  "antivirus" : false,
                  "replacementString" : "",
                  "allowInvalid" : false,
                  "descrption" : "ID of the comment",
                  "secret" : false,
                  "preserveCharsLimit" : 10,
                  "trim" : false,
                  "internalParam" : false,
                  "preserveChars" : "0,5",
                  "importUrl" : false,
                  "decrypt" : false
                }
              },
              "type" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
              },
              "email" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "data" : {
        "items" : {
          "required" : [ "attachments", "commentedTime", "commenter", "commenterId", "content", "contentType", "encodedContent", "id", "impersonatedUser", "modifiedTime" ],
          "properties" : {
            "modifiedTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "attachments" : {
              "uniqueItems" : false,
              "items" : {
                "additionalProperties" : false
              }
            },
            "encodedContent" : {
              "maxLength" : 32000,
              "minLength" : 0
            },
            "commentedTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "contentType" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "html", "plainText" ]
            },
            "content" : {
              "maxLength" : 32000,
              "minLength" : 0
            },
            "commenterId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "commenter" : {
              "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
              "properties" : {
                "photoURL" : {
                  "maxLength" : 200,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "firstName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "lastName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "roleName" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "type" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                },
                "email" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                }
              },
              "additionalProperties" : false
            },
            "impersonatedUser" : {
              "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
              "properties" : {
                "photoURL" : {
                  "maxLength" : 200,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "firstName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "lastName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "roleName" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64",
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "ID of the comment",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "type" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                },
                "email" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                }
              },
              "additionalProperties" : false
            }
          },
          "additionalProperties" : false
        }
      },
      "mention" : {
        "uniqueItems" : false,
        "items" : {
          "required" : [ "email", "firstName", "id", "lastName", "length", "offset", "photoURL", "type", "zuid" ],
          "properties" : {
            "firstName" : {
              "maxLength" : 50,
              "minLength" : 0
            },
            "lastName" : {
              "maxLength" : 50,
              "minLength" : 0
            },
            "photoURL" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "offset" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "length" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "type" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "AGENT", "TEAM" ]
            },
            "email" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
            },
            "zuid" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            }
          },
          "additionalProperties" : false
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "listCallComments" : {
        "description" : "listCallComments template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "allOf" : [ {
                "properties" : {
                  "data" : {
                    "items" : {
                      "properties" : {
                        "mention" : {
                          "uniqueItems" : false,
                          "items" : {
                            "required" : [ "email", "firstName", "id", "lastName", "length", "offset", "photoURL", "type", "zuid" ],
                            "properties" : {
                              "firstName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "offset" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "length" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "AGENT", "TEAM" ]
                              },
                              "email" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                              },
                              "zuid" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      }
                    }
                  }
                }
              }, {
                "required" : [ "data" ],
                "properties" : {
                  "data" : {
                    "items" : {
                      "required" : [ "attachments", "commentedTime", "commenter", "commenterId", "content", "contentType", "encodedContent", "id", "impersonatedUser", "modifiedTime" ],
                      "properties" : {
                        "modifiedTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                        },
                        "attachments" : {
                          "uniqueItems" : false,
                          "items" : {
                            "additionalProperties" : false
                          }
                        },
                        "encodedContent" : {
                          "maxLength" : 32000,
                          "minLength" : 0
                        },
                        "commentedTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "contentType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "html", "plainText" ]
                        },
                        "content" : {
                          "maxLength" : 32000,
                          "minLength" : 0
                        },
                        "commenterId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "commenter" : {
                          "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                          "properties" : {
                            "photoURL" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "roleName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                            },
                            "email" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "impersonatedUser" : {
                          "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                          "properties" : {
                            "photoURL" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "roleName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "ID of the comment",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                            },
                            "email" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : false
                    }
                  }
                },
                "additionalProperties" : { }
              } ]
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : [ {
                    "modifiedTime" : null,
                    "commentedTime" : 1485270287000,
                    "id" : "4000000530005",
                    "contentType" : "plainText",
                    "commenterId" : "4000000008692",
                    "content" : "Second Call Comment......",
                    "mention" : [ ],
                    "commenter" : {
                      "firstName" : "Jade",
                      "lastName" : "Tywin",
                      "photoURL" : "https://desk.zoho.com/api/v1/agent/4000000008692/photo",
                      "name" : "Jade Tywin",
                      "roleName" : "LightAgent",
                      "type" : "AGENT",
                      "email" : "jade12tywin@zylker.com"
                    }
                  }, {
                    "modifiedTime" : 1485269780000,
                    "attachments" : [ {
                      "size" : "12734",
                      "name" : "Attachment_list.png",
                      "id" : "4000000008994",
                      "href" : "https://desk.zoho.com/api/v1/calls/4000000528005/comments/4000000529001/attachments/4000000008994/content"
                    } ],
                    "commentedTime" : 1485269673000,
                    "id" : "4000000530003",
                    "contentType" : "html",
                    "commenterId" : "4000000008692",
                    "content" : "Edit Call comment",
                    "mention" : [ ],
                    "commenter" : {
                      "firstName" : "Jade",
                      "lastName" : "Tywin",
                      "photoURL" : "https://desk.zoho.com/api/v1/portalUser/4000000008692/photo",
                      "name" : "Jade Tywin",
                      "roleName" : "PortalUser",
                      "type" : "END_USER",
                      "email" : "jade12tywin@zylker.com"
                    }
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "addCallComment" : {
        "description" : "addCallComment template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "attachments", "commentedTime", "commenter", "commenterId", "content", "contentType", "encodedContent", "id", "impersonatedUser", "modifiedTime" ],
              "properties" : {
                "modifiedTime" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                },
                "attachments" : {
                  "uniqueItems" : false,
                  "items" : {
                    "additionalProperties" : false
                  }
                },
                "encodedContent" : {
                  "maxLength" : 32000,
                  "minLength" : 0
                },
                "commentedTime" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "contentType" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "html", "plainText" ]
                },
                "content" : {
                  "maxLength" : 32000,
                  "minLength" : 0
                },
                "commenterId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "commenter" : {
                  "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                  "properties" : {
                    "photoURL" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "firstName" : {
                      "maxLength" : 50,
                      "minLength" : 0
                    },
                    "lastName" : {
                      "maxLength" : 50,
                      "minLength" : 0
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "roleName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "type" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                    },
                    "email" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                    }
                  },
                  "additionalProperties" : false
                },
                "impersonatedUser" : {
                  "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                  "properties" : {
                    "photoURL" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "firstName" : {
                      "maxLength" : 50,
                      "minLength" : 0
                    },
                    "lastName" : {
                      "maxLength" : 50,
                      "minLength" : 0
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "roleName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the comment",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "type" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                    },
                    "email" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                    }
                  },
                  "additionalProperties" : false
                }
              },
              "additionalProperties" : false
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "modifiedTime" : null,
                  "attachments" : [ {
                    "size" : "12734",
                    "name" : "Attachment.png",
                    "id" : "4000000008994",
                    "href" : "https://desk.zoho.com/api/v1/calls/4000000528005/comments/4000000529001/attachments/4000000008994/content"
                  } ],
                  "commentedTime" : 1485269673534,
                  "id" : "4000000530003",
                  "contentType" : "html",
                  "content" : "First Call comment.",
                  "commenterId" : "4000000008692",
                  "commenter" : {
                    "firstName" : "Jade",
                    "lastName" : "Tywin",
                    "photoURL" : "https://desk.zoho.com/api/v1/agent/4000000008692/photo",
                    "name" : "Jade Tywin",
                    "roleName" : "LightAgent",
                    "type" : "AGENT",
                    "email" : "jade12tywin@zylker.com"
                  }
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "getCallComment" : {
        "description" : "addCallComment template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "allOf" : [ {
                "properties" : {
                  "mention" : {
                    "uniqueItems" : false,
                    "items" : {
                      "required" : [ "email", "firstName", "id", "lastName", "length", "offset", "photoURL", "type", "zuid" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "offset" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "length" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "AGENT", "TEAM" ]
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        },
                        "zuid" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        }
                      },
                      "additionalProperties" : false
                    }
                  }
                }
              }, {
                "required" : [ "attachments", "commentedTime", "commenter", "commenterId", "content", "contentType", "encodedContent", "id", "impersonatedUser", "modifiedTime" ],
                "properties" : {
                  "modifiedTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                  },
                  "attachments" : {
                    "uniqueItems" : false,
                    "items" : {
                      "additionalProperties" : false
                    }
                  },
                  "encodedContent" : {
                    "maxLength" : 32000,
                    "minLength" : 0
                  },
                  "commentedTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                  },
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "contentType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "html", "plainText" ]
                  },
                  "content" : {
                    "maxLength" : 32000,
                    "minLength" : 0
                  },
                  "commenterId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "commenter" : {
                    "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                    "properties" : {
                      "photoURL" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "firstName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "lastName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "roleName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                      },
                      "email" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                      }
                    },
                    "additionalProperties" : false
                  },
                  "impersonatedUser" : {
                    "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                    "properties" : {
                      "photoURL" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "firstName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "lastName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "roleName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the comment",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
[...]
