{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Call",
    "version" : "1.0.0",
    "x-clan-group" : "secModule",
    "x-module-group" : "activity"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/calls/updateMany" : {
      "post" : {
        "tags" : [ "Call" ],
        "summary" : "Update many calls",
        "description" : "This API updates multiple calls at once.",
        "operationId" : "bulkUpdateCalls",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "fieldName", "ids" ],
                "properties" : {
                  "isCustomField" : { },
                  "fieldName" : {
                    "x-dynamic-enum" : true
                  },
                  "ids" : {
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "fieldValue" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "fieldName" : "mobile",
                    "isCustomField" : false,
                    "ids" : [ "1892000000093303", "1892000000085009", "1892000000050003" ],
                    "fieldValue" : "8508569875"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "massActionListView template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "results" ],
                  "properties" : {
                    "results" : {
                      "items" : {
                        "required" : [ "errors", "id", "success" ],
                        "properties" : {
                          "success" : { },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "errors" : {
                            "required" : [ "errorCode", "httpCode" ],
                            "properties" : {
                              "errorCode" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "UNPROCESSABLE_ENTITY", "UNAUTHORIZED", "FORBIDDEN" ]
                              },
                              "httpCode" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "401", "422", "403", 401, 422, 403 ]
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "results" : [ {
                        "success" : true,
                        "id" : "1892000000093303",
                        "errors" : null
                      }, {
                        "success" : true,
                        "id" : "1892000000085009",
                        "errors" : null
                      }, {
                        "success" : false,
                        "id" : "1892000000050003",
                        "errors" : {
                          "errorMessage" : "Either the field is invalid or the field may be restricted to update",
                          "errorCode" : "UNPROCESSABLE_ENTITY",
                          "httpCode" : "422"
                        }
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.calls.UPDATE", "Desk.calls.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "calls" ]
            }
          },
          "clan-group" : "secModule",
          "apihash" : "253f23f568e374e985c1139066fa0b68",
          "module-group" : "activity",
          "apimethod" : "com.zoho.support.restapi.ActivityService.updateManyCalls"
        }
      }
    },
    "/api/v1/calls/{callId}" : {
      "get" : {
        "tags" : [ "Call" ],
        "summary" : "Get call",
        "description" : "This API fetches the details of a call.",
        "operationId" : "getCall",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Additional information related to the call. Values allowed are:  @contacts@, @assignee@,@tickets@,@teams@,@livecalls@,@creator@.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Additional information related to the call. Values allowed are:  @contacts@, @assignee@,@tickets@,@teams@,@livecalls@,@creator@.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "contacts", "tickets", "assignee", "teams", "livecalls" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "callId",
          "in" : "path",
          "description" : "ID of the live call",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the live call",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "callResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "contactId", "departmentId", "ownerId", "priority", "startTime", "status", "subject", "ticketId" ],
                    "properties" : {
                      "contactId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the contact associated with the call",
                        "format" : "int64"
                      },
                      "subject" : {
                        "maxLength" : 300,
                        "minLength" : 0,
                        "description" : "Subject of the call"
                      },
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the department from which the activities must be fetched",
                        "format" : "int64"
                      },
                      "startTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "description" : "Time when the call started. The value of this key must be recorded in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ."
                      },
                      "ownerId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the user to whom the call is assigned",
                        "format" : "int64"
                      },
                      "priority" : {
                        "description" : "Priority of the call",
                        "x-dynamic-enum" : true
                      },
                      "ticketId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the ticket associated with the call",
                        "format" : "int64"
                      },
                      "status" : {
                        "description" : "Completion status of the call",
                        "enum" : [ "Completed", "Scheduled", "Missed", "Canceled", "In Progress" ]
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "activityTime", "callId", "cf", "completedTime", "createdTime", "creatorId", "customFields", "description", "direction", "duration", "id", "isSpam", "isTrashed", "layoutId", "modifiedBy", "modifiedTime", "reminder", "statusType", "webUrl" ],
                    "properties" : {
                      "callId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the live call",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Time when details of the call entry were modified",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "cf" : {
                        "additionalProperties" : { }
                      },
                      "reminder" : {
                        "items" : {
                          "oneOf" : [ {
                            "required" : [ "alertType", "relativeReminderInMin", "reminderType" ],
                            "properties" : {
                              "relativeReminderInMin" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "alertType" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "EMAIL", "POPUP", "SMS" ]
                                }
                              },
                              "reminderType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "RELATIVE" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "alertType", "reminderTime", "reminderType" ],
                            "properties" : {
                              "alertType" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "EMAIL", "POPUP", "SMS" ]
                                }
                              },
                              "reminderType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ABSOLUTE" ]
                              },
                              "reminderTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              }
                            },
                            "additionalProperties" : false
                          } ]
                        }
                      },
                      "statusType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "Open", "Closed" ]
                      },
                      "completedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "customFields" : {
                        "additionalProperties" : { }
                      },
                      "creatorId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of user who created the call ",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "description" : {
                        "maxLength" : 65535,
                        "minLength" : 0,
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Description of the call",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "activityTime" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "layoutId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Layout of Call",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : true,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "duration" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Duration of the call in seconds",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isTrashed" : { },
                      "webUrl" : {
                        "maxLength" : 500,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "URL to access the resource",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Time when the call entry was added",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "modifiedBy" : {
                        "required" : [ "emailId", "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "emailId" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the call",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isSpam" : { },
                      "direction" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "outbound", "inbound" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Direction of the call: inbound or outbound",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "cf" : { },
                      "contactId" : "1892000000088017",
                      "subject" : "New Testing Call",
                      "departmentId" : "3000000007043",
                      "creatorId" : "3000000008692",
                      "description" : null,
                      "ownerId" : null,
                      "priority" : "High",
                      "duration" : "300",
                      "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Calls/dv/51123033fe97b2f886f750280ded9c40",
                      "createdTime" : 1468484846000,
                      "startTime" : 1469465531000,
                      "id" : "3000000054002",
                      "ticketId" : "3000000008753",
                      "direction" : "inbound",
                      "status" : "In Progress"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.calls.READ", "Desk.calls.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Lenient_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "calls" ]
            }
          },
          "clan-group" : "secModule",
          "apihash" : "dcb3d9d5defa561b6ee15900915357ef",
          "module-group" : "activity",
          "apimethod" : "com.zoho.support.restapi.ActivityService.getCall"
        }
      },
      "patch" : {
        "tags" : [ "Call" ],
        "summary" : "Update call",
        "description" : "This API updates the details of a call.",
        "operationId" : "updateCall",
        "parameters" : [ {
          "name" : "callId",
          "in" : "path",
          "description" : "ID of the live call",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the live call",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "additionalProperties" : { },
                "allOf" : [ {
                  "required" : [ "contactId", "departmentId", "ownerId", "priority", "startTime", "status", "subject", "ticketId" ],
                  "properties" : {
                    "contactId" : {
                      "pattern" : "([0-9]+)",
                      "description" : "ID of the contact associated with the call",
                      "format" : "int64"
                    },
                    "subject" : {
                      "maxLength" : 300,
                      "minLength" : 0,
                      "description" : "Subject of the call"
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "description" : "ID of the department from which the activities must be fetched",
                      "format" : "int64"
                    },
                    "startTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                      "description" : "Time when the call started. The value of this key must be recorded in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ."
                    },
                    "ownerId" : {
                      "pattern" : "([0-9]+)",
                      "description" : "ID of the user to whom the call is assigned",
                      "format" : "int64"
                    },
                    "priority" : {
                      "description" : "Priority of the call",
                      "x-dynamic-enum" : true
                    },
                    "ticketId" : {
                      "pattern" : "([0-9]+)",
                      "description" : "ID of the ticket associated with the call",
                      "format" : "int64"
                    },
                    "status" : {
                      "description" : "Completion status of the call",
                      "enum" : [ "Completed", "Scheduled", "Missed", "Canceled", "In Progress" ]
                    }
                  },
                  "additionalProperties" : false
                }, {
                  "properties" : {
                    "duration" : {
                      "pattern" : "([0-9]+)",
                      "description" : "Duration of the call in seconds",
                      "format" : "int32"
                    },
                    "cf" : {
                      "additionalProperties" : { }
                    },
                    "reminder" : {
                      "items" : {
                        "oneOf" : [ {
                          "required" : [ "alertType", "relativeReminderInMin", "reminderType" ],
                          "properties" : {
                            "relativeReminderInMin" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "alertType" : {
                              "uniqueItems" : true,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "EMAIL", "POPUP", "SMS" ]
                              }
                            },
                            "reminderType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "RELATIVE" ]
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "alertType", "reminderTime", "reminderType" ],
                          "properties" : {
                            "alertType" : {
                              "uniqueItems" : true,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "EMAIL", "POPUP", "SMS" ]
                              }
                            },
                            "reminderType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "ABSOLUTE" ]
                            },
                            "reminderTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            }
                          },
                          "additionalProperties" : false
                        } ]
                      }
                    },
                    "customFields" : {
                      "additionalProperties" : { }
                    },
                    "ticketId" : {
                      "pattern" : "([0-9]+)",
                      "description" : "ID of the ticket associated with the call",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "entity" : "Tickets"
                      }
                    },
                    "direction" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "Direction of the call: inbound or outbound",
                      "enum" : [ "outbound", "inbound" ]
                    }
                  }
                }, { } ]
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : null
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "callResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "contactId", "departmentId", "ownerId", "priority", "startTime", "status", "subject", "ticketId" ],
                    "properties" : {
                      "contactId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the contact associated with the call",
                        "format" : "int64"
                      },
                      "subject" : {
                        "maxLength" : 300,
                        "minLength" : 0,
                        "description" : "Subject of the call"
                      },
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the department from which the activities must be fetched",
                        "format" : "int64"
                      },
                      "startTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "description" : "Time when the call started. The value of this key must be recorded in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ."
                      },
                      "ownerId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the user to whom the call is assigned",
                        "format" : "int64"
                      },
                      "priority" : {
                        "description" : "Priority of the call",
                        "x-dynamic-enum" : true
                      },
                      "ticketId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the ticket associated with the call",
                        "format" : "int64"
                      },
                      "status" : {
                        "description" : "Completion status of the call",
                        "enum" : [ "Completed", "Scheduled", "Missed", "Canceled", "In Progress" ]
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "activityTime", "callId", "cf", "completedTime", "createdTime", "creatorId", "customFields", "description", "direction", "duration", "id", "isSpam", "isTrashed", "layoutId", "modifiedBy", "modifiedTime", "reminder", "statusType", "webUrl" ],
                    "properties" : {
                      "callId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the live call",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Time when details of the call entry were modified",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "cf" : {
                        "additionalProperties" : false
                      },
                      "reminder" : {
                        "items" : {
                          "oneOf" : [ {
                            "required" : [ "alertType", "relativeReminderInMin", "reminderType" ],
                            "properties" : {
                              "relativeReminderInMin" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "alertType" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "EMAIL", "POPUP", "SMS" ]
                                }
                              },
                              "reminderType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "RELATIVE" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "alertType", "reminderTime", "reminderType" ],
                            "properties" : {
                              "alertType" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "EMAIL", "POPUP", "SMS" ]
                                }
                              },
                              "reminderType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ABSOLUTE" ]
                              },
                              "reminderTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              }
                            },
                            "additionalProperties" : false
                          } ]
                        }
                      },
                      "statusType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "Open", "Closed" ]
                      },
                      "completedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "customFields" : {
                        "additionalProperties" : false
                      },
                      "creatorId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of user who created the call ",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "description" : {
                        "maxLength" : 65535,
                        "minLength" : 0,
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Description of the call",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "activityTime" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "layoutId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Layout of Call",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : true,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "duration" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Duration of the call in seconds",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isTrashed" : { },
                      "webUrl" : {
                        "maxLength" : 500,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "URL to access the resource",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Time when the call entry was added",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "modifiedBy" : {
                        "required" : [ "emailId", "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "emailId" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the call",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isSpam" : { },
                      "direction" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "outbound", "inbound" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Direction of the call: inbound or outbound",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "cf" : { },
                      "contactId" : "1892000000088017",
                      "subject" : "New Testing Call",
                      "departmentId" : "3000000007043",
                      "creatorId" : "3000000008692",
                      "description" : null,
                      "ownerId" : null,
                      "priority" : "High",
                      "duration" : "300",
                      "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Calls/dv/51123033fe97b2f886f750280ded9c40",
                      "createdTime" : 1468484846000,
                      "startTime" : 1469465531000,
                      "id" : "3000000054002",
                      "ticketId" : "3000000008753",
                      "direction" : "inbound",
                      "status" : "In Progress"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.calls.UPDATE", "Desk.calls.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "calls" ]
            }
          },
          "clan-group" : "secModule",
          "apihash" : "96a937f8c247b59e27cb714f207ad37b",
          "module-group" : "activity",
          "apimethod" : "com.zoho.support.restapi.ActivityService.updateCall"
        }
      }
    },
    "/api/v1/contacts/{contactId}/calls" : {
      "get" : {
        "tags" : [ "Call" ],
        "summary" : "List calls by contact",
        "description" : "This API lists a particular number of calls associated with a contact, based on the limit specified.",
        "operationId" : "getCallsByContactId",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Allowed values are : contacts, assignee,tickets,teams.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Allowed values are : contacts, assignee,tickets,teams.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "contacts", "tickets", "assignee", "teams" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department from which the calls count must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the calls count must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "entity" : "Departments"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of calls to list",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 99,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of calls to list",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the calls must be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the calls must be listed",
            "format" : "int32"
          }
        }, {
          "name" : "isSpam",
          "in" : "query",
          "description" : "Key that denotes whether to fetch spam calls or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that denotes whether to fetch spam calls or not"
          }
        }, {
          "name" : "isCompleted",
          "in" : "query",
          "description" : "Key that denotes if the call was completed or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that denotes if the call was completed or not"
          }
        }, {
          "name" : "contactId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "contactOrAccountCallsListView template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "ticket" : {
                              "maxProperties" : 13,
                              "minProperties" : 13,
                              "required" : [ "assignee", "channel", "closedTime", "createdTime", "dueDate", "id", "isArchived", "isSpam", "phone", "status", "subject", "teamId", "ticketNumber" ],
                              "properties" : {
                                "ticketNumber" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "subject" : {
                                  "maxLength" : 1000,
                                  "minLength" : 0
                                },
                                "isArchived" : { },
                                "dueDate" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "channel" : {
                                  "x-dynamic-enum" : true
                                },
                                "closedTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "phone" : {
                                  "maxLength" : 120,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                },
                                "teamId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "createdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "assignee" : {
                                  "maxProperties" : 4,
                                  "minProperties" : 4,
                                  "required" : [ "firstName", "id", "lastName", "photoURL" ],
                                  "properties" : {
                                    "firstName" : {
                                      "maxLength" : 50,
                                      "minLength" : 0
                                    },
                                    "lastName" : {
                                      "maxLength" : 50,
                                      "minLength" : 0
                                    },
                                    "photoURL" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    }
                                  },
                                  "additionalProperties" : { }
                                },
                                "isSpam" : { },
                                "status" : {
                                  "x-dynamic-enum" : true
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "contact" : {
                              "maxProperties" : 8,
                              "minProperties" : 8,
                              "required" : [ "accountId", "email", "firstName", "id", "isSpam", "lastName", "mobile", "phone" ],
                              "properties" : {
                                "firstName" : {
                                  "maxLength" : 40,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 200,
                                  "minLength" : 0
                                },
                                "accountId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "phone" : {
                                  "maxLength" : 50,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                },
                                "mobile" : {
                                  "maxLength" : 50,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isSpam" : { },
                                "email" : {
                                  "maxLength" : 255,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "assignee" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "emailId", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "emailId" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "team" : {
                              "maxProperties" : 3,
                              "minProperties" : 3,
                              "required" : [ "id", "logoUrl", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 1,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "logoUrl" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                }
                              },
                              "additionalProperties" : { }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "required" : [ "contactId", "departmentId", "ownerId", "priority", "startTime", "status", "subject", "ticketId" ],
                            "properties" : {
                              "contactId" : {
                                "pattern" : "([0-9]+)",
                                "description" : "ID of the contact associated with the call",
                                "format" : "int64"
                              },
                              "subject" : {
                                "maxLength" : 300,
                                "minLength" : 0,
                                "description" : "Subject of the call"
                              },
                              "departmentId" : {
                                "pattern" : "([0-9]+)",
                                "description" : "ID of the department from which the activities must be fetched",
                                "format" : "int64"
                              },
                              "startTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                                "description" : "Time when the call started. The value of this key must be recorded in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ."
                              },
                              "ownerId" : {
                                "pattern" : "([0-9]+)",
                                "description" : "ID of the user to whom the call is assigned",
                                "format" : "int64"
                              },
                              "priority" : {
                                "description" : "Priority of the call",
                                "x-dynamic-enum" : true
                              },
                              "ticketId" : {
                                "pattern" : "([0-9]+)",
                                "description" : "ID of the ticket associated with the call",
                                "format" : "int64"
                              },
                              "status" : {
                                "description" : "Completion status of the call",
                                "enum" : [ "Completed", "Scheduled", "Missed", "Canceled", "In Progress" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "activityTime", "callId", "completedTime", "createdTime", "creatorId", "id", "isCommented", "isSpam", "isTrashed", "layoutId", "modifiedBy", "modifiedTime", "statusType", "webUrl" ],
                            "properties" : {
                              "callId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "modifiedTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              },
                              "statusType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "Open", "Closed" ]
                              },
                              "completedTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              },
                              "creatorId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "activityTime" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "layoutId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "isTrashed" : { },
                              "isCommented" : { },
                              "webUrl" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "createdTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              },
                              "modifiedBy" : {
                                "required" : [ "emailId", "firstName", "id", "lastName", "photoURL" ],
                                "properties" : {
                                  "photoURL" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "firstName" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "lastName" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "emailId" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "isSpam" : {
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Key that denotes whether to fetch spam activities or not",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              }
                            }
                          } ]
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "ticket" : null,
                        "contactId" : "5000000016252",
                        "subject" : "Macbook pro 238",
                        "completedTime" : null,
                        "departmentId" : "5000000012710",
                        "dueDate" : null,
                        "creatorId" : "5000000015911",
                        "team" : null,
                        "ownerId" : "5000000015911",
                        "priority" : "High",
                        "isCommented" : false,
                        "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Calls/dv/302a2d4c42298889f57d6f662be516d9",
                        "contact" : {
                          "firstName" : null,
                          "lastName" : "Lawrence",
                          "phone" : "1 888 900 9646",
                          "mobile" : null,
                          "id" : "5000000016252",
                          "isSpam" : false
                        },
                        "createdTime" : 1556033083000,
                        "startTime" : 1556470331000,
                        "id" : "5000000103001",
                        "assignee" : {
                          "firstName" : "George",
                          "lastName" : "McKinson",
                          "photoURL" : null,
                          "id" : "5000000015911"
                        },
                        "isSpam" : false,
                        "category" : null,
                        "activityType" : "Calls",
                        "ticketId" : null,
                        "status" : "Scheduled",
                        "direction" : "outbound"
                      }, {
                        "ticket" : null,
                        "contactId" : "5000000016252",
                        "subject" : "New Testing Call with new test",
                        "completedTime" : null,
                        "departmentId" : "5000000012710",
                        "dueDate" : null,
                        "creatorId" : "5000000015911",
                        "team" : {
                          "name" : "Testing Team",
                          "id" : "3691000006805001",
                          "logoUrl" : "https://desk.zoho.com/api/v1/teams/3691000006805001/logo?orgId=11278831"
                        },
                        "ownerId" : "5000000015911",
                        "priority" : "High",
                        "isCommented" : false,
                        "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Calls/dv/9d4883f2d94d59e4d9131691e669039b",
                        "contact" : {
                          "firstName" : null,
                          "lastName" : "Lawrence",
                          "phone" : "1 888 900 9646",
                          "mobile" : null,
                          "id" : "5000000016252",
                          "isSpam" : false
                        },
                        "createdTime" : 1555676039000,
                        "startTime" : 1561096940000,
                        "id" : "5000000088001",
                        "assignee" : {
                          "firstName" : "George",
                          "lastName" : "McKinson",
                          "photoURL" : null,
                          "id" : "5000000015911"
                        },
                        "isSpam" : false,
                        "category" : null,
                        "activityType" : "Calls",
                        "ticketId" : null,
                        "direction" : "outbound",
                        "status" : "Scheduled"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.calls.READ", "Desk.calls.READ", "Desk.contacts.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "calls", "contacts" ]
            }
          },
          "clan-group" : "secModule",
          "apihash" : "787970a19481b2f26615680fb0e56781",
          "module-group" : "activity",
          "apimethod" : "com.zoho.support.restapi.ActivityService.getCallsByContactId"
        }
      }
    },
    "/api/v1/accounts/{accountId}/calls" : {
      "get" : {
        "tags" : [ "Call" ],
        "summary" : "List calls by account",
        "description" : "This API lists a particular number of calls associated with an account, based on the limit specified.",
        "operationId" : "getCallsByAccountId",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Allowed values are : contacts, assignee,tickets,teams.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Allowed values are : contacts, assignee,tickets,teams.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "contacts", "tickets", "assignee", "teams" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department from which the calls count must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the calls count must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "entity" : "Departments"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of calls to list",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 99,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of calls to list",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the calls must be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the calls must be listed",
            "format" : "int32"
          }
        }, {
          "name" : "isSpam",
          "in" : "query",
          "description" : "Key that denotes whether to fetch spam calls or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that denotes whether to fetch spam calls or not"
          }
        }, {
          "name" : "isCompleted",
          "in" : "query",
          "description" : "Key that denotes if the call was completed or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that denotes if the call was completed or not"
          }
        }, {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "contactOrAccountCallsListView template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "ticket" : {
                              "maxProperties" : 13,
                              "minProperties" : 13,
                              "required" : [ "assignee", "channel", "closedTime", "createdTime", "dueDate", "id", "isArchived", "isSpam", "phone", "status", "subject", "teamId", "ticketNumber" ],
                              "properties" : {
                                "ticketNumber" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "subject" : {
                                  "maxLength" : 1000,
                                  "minLength" : 0
                                },
                                "isArchived" : { },
                                "dueDate" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "channel" : {
                                  "x-dynamic-enum" : true
                                },
                                "closedTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "phone" : {
                                  "maxLength" : 120,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                },
                                "teamId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "createdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "assignee" : {
                                  "maxProperties" : 4,
                                  "minProperties" : 4,
                                  "required" : [ "firstName", "id", "lastName", "photoURL" ],
                                  "properties" : {
                                    "firstName" : {
                                      "maxLength" : 50,
                                      "minLength" : 0
                                    },
                                    "lastName" : {
                                      "maxLength" : 50,
                                      "minLength" : 0
                                    },
                                    "photoURL" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    },
                                    "id" : {
[...]
