{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "CallHistory",
    "version" : "1.0.0",
    "x-clan-group" : "secModule",
    "x-module-group" : "telephony"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/contacts/{contactId}/phoneCalls" : {
      "get" : {
        "tags" : [ "CallHistory" ],
        "summary" : "List phone calls by contact",
        "description" : "This API lists phone calls related to a particular contact.",
        "operationId" : "getCallsByContact",
        "parameters" : [ {
          "name" : "duration",
          "in" : "query",
          "description" : "The duration for which filter is to be applied.Values can be LAST24HOURS or LAST_7_DAYS",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "The duration for which filter is to be applied.Values can be LAST24HOURS or LAST_7_DAYS",
            "enum" : [ "LAST24HOURS", "LAST_7_DAYS" ]
          }
        }, {
          "name" : "number",
          "in" : "query",
          "description" : "Phone number from which all the phone calls will be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9]+)",
            "description" : "Phone number from which all the phone calls will be listed"
          }
        }, {
          "name" : "agentIds",
          "in" : "query",
          "description" : "ID of the agent to apply while fetching the resources",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : false,
            "description" : "ID of the agent to apply while fetching the resources",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "ID of the agent to apply while fetching the resources", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "ivrMenuId",
          "in" : "query",
          "description" : "ID of the parent ivrMenu from which all the phone calls will be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the parent ivrMenu from which all the phone calls will be listed",
            "format" : "int64"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of phone calls to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 99,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of phone calls to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which phone calls has to be fetched.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which phone calls has to be fetched.",
            "format" : "int32"
          }
        }, {
          "name" : "contactId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getCallsByContact template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "callRefId", "createdTime", "direction", "durationInSec", "from", "id", "owner", "state", "ticket", "to", "voiceMailUrl", "voiceMailUrlDuration" ],
                        "properties" : {
                          "owner" : {
                            "required" : [ "firstName", "id", "lastName", "photoURL" ],
                            "properties" : {
                              "firstName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "photoURL" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "durationInSec" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "ticket" : {
                            "required" : [ "id", "ticketNumber", "webUrl" ],
                            "properties" : {
                              "ticketNumber" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "webUrl" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "callRefId" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "from" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Index number, starting from which phone calls has to be fetched.",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "to" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "state" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ANSWERED", "MISSED" ]
                          },
                          "voiceMailUrl" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "direction" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "INBOUND", "OUTBOUND" ]
                          },
                          "voiceMailUrlDuration" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "owner" : {
                          "photoURL" : null,
                          "firstName" : null,
                          "lastName" : "Pattudurai",
                          "id" : "40000012312"
                        },
                        "durationInSec" : "200",
                        "ticket" : {
                          "ticketNumber" : "123",
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Cases/dv/137605000003037170",
                          "id" : "40000012312"
                        },
                        "callRefId" : "CA10001",
                        "createdTime" : 1574433984000,
                        "voiceMailDuration" : 0,
                        "from" : "9876543210",
                        "id" : "40000012345",
                        "to" : "1234765890",
                        "state" : "ANSWERED",
                        "voiceMailUrl" : null,
                        "direction" : "INBOUND"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.calls.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 40,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 240,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "b57e284bc0a732c783f9b109c42c0aea",
          "module-group" : "telephony",
          "apimethod" : "com.zoho.desk.telephony.callbar.phonecalls.PhoneCallsService.getCallsByContact"
        }
      }
    },
    "/api/v1/phoneCallsCount" : {
      "get" : {
        "tags" : [ "CallHistory" ],
        "summary" : "Get the all PhoneCalls Count by its state",
        "description" : "This API gives all PhoneCalls Count by its state",
        "operationId" : "getCount",
        "parameters" : [ {
          "name" : "duration",
          "in" : "query",
          "description" : "The duration for which filter is to be applied.Values can be LAST24HOURS or LAST_7_DAYS",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "The duration for which filter is to be applied.Values can be LAST24HOURS or LAST_7_DAYS",
            "enum" : [ "LAST24HOURS", "LAST_7_DAYS" ]
          }
        }, {
          "name" : "number",
          "in" : "query",
          "description" : "Phone number from which all the phone calls will be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9]+)",
            "description" : "Phone number from which all the phone calls will be listed"
          }
        }, {
          "name" : "agentIds",
          "in" : "query",
          "description" : "ID of the agent to apply while fetching the resources",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : false,
            "description" : "ID of the agent to apply while fetching the resources",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "ID of the agent to apply while fetching the resources", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "ivrMenuId",
          "in" : "query",
          "description" : "ID of the parent ivrMenu from which all the phone calls will be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the parent ivrMenu from which all the phone calls will be listed",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getCount template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "INBOUND", "INBOUND_ANSWERED", "INBOUND_MISSED", "OUTBOUND", "OUTBOUND_ANSWERED", "OUTBOUND_UNANSWERED" ],
                  "properties" : {
                    "INBOUND" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "INBOUND_ANSWERED" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "INBOUND_MISSED" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "OUTBOUND_ANSWERED" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "OUTBOUND" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "OUTBOUND_UNANSWERED" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "ALL" : "100",
                      "INBOUND" : "50",
                      "INBOUND_ANSWERED" : "25",
                      "INBOUND_MISSED" : "25",
                      "OUTBOUND_ANSWERED" : "25",
                      "OUTBOUND" : "50",
                      "OUTBOUND_UNANSWERED" : "25"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.calls.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "6d0ad33b81966bca33b1fff508941db1",
          "module-group" : "telephony",
          "apimethod" : "com.zoho.desk.telephony.callbar.phonecalls.PhoneCallsService.getCount"
        }
      }
    },
    "/api/v1/phoneCallsLogs" : {
      "get" : {
        "tags" : [ "CallHistory" ],
        "summary" : "Get the all PhoneCall logs grouped by contacts",
        "description" : "This API gives all PhoneCall logs grouped by Contacts",
        "operationId" : "getCallLogs",
        "parameters" : [ {
          "name" : "duration",
          "in" : "query",
          "description" : "The duration for which filter is to be applied.Values can be LAST24HOURS or LAST_7_DAYS",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "The duration for which filter is to be applied.Values can be LAST24HOURS or LAST_7_DAYS",
            "enum" : [ "LAST24HOURS", "LAST_7_DAYS" ]
          }
        }, {
          "name" : "number",
          "in" : "query",
          "description" : "Phone number from which all the phone calls will be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9]+)",
            "description" : "Phone number from which all the phone calls will be listed"
          }
        }, {
          "name" : "agentIds",
          "in" : "query",
          "description" : "ID of the agent to apply while fetching the resources",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : false,
            "description" : "ID of the agent to apply while fetching the resources",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "ID of the agent to apply while fetching the resources", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "searchStr",
          "in" : "query",
          "description" : "Contact name or number by which the completed phone call logs will be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Contact name or number by which the completed phone call logs will be listed"
          }
        }, {
          "name" : "ivrMenuId",
          "in" : "query",
          "description" : "ID of the parent ivrMenu from which all the phone calls will be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the parent ivrMenu from which all the phone calls will be listed",
            "format" : "int64"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of phone calls to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 99,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of phone calls to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which phone calls has to be fetched.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which phone calls has to be fetched.",
            "format" : "int32"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Type of the completed phone calls. We can give multiple types comma saperated. Allowed values !@INBOUND_ANSWERED@!, !@INBOUND_MISSED@!, !@OUTBOUND_ANSWERED@!, !@OUTBOUND_UNANSWERED@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Type of the completed phone calls. We can give multiple types comma saperated. Allowed values !@INBOUND_ANSWERED@!, !@INBOUND_MISSED@!, !@OUTBOUND_ANSWERED@!, !@OUTBOUND_UNANSWERED@!",
            "enum" : [ "INBOUND_ANSWERED", "INBOUND_MISSED", "OUTBOUND_ANSWERED", "OUTBOUND_UNANSWERED" ],
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "getCallLogs template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "activity", "aliasName", "callRefId", "contact", "createdTime", "direction", "durationInSec", "from", "id", "ivrName", "owner", "state", "ticket", "to", "type", "voiceMailUrl", "voiceMailUrlDuration" ],
                        "properties" : {
                          "owner" : {
                            "required" : [ "firstName", "id", "lastName", "photoURL" ],
                            "properties" : {
                              "firstName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "photoURL" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "aliasName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "activity" : {
                            "required" : [ "id", "webUrl" ],
                            "properties" : {
                              "webUrl" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "ticket" : {
                            "required" : [ "id", "ticketNumber", "webUrl" ],
                            "properties" : {
                              "ticketNumber" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "webUrl" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "ivrName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "INBOUND_ANSWERED", "INBOUND_MISSED", "OUTBOUND_ANSWERED", "OUTBOUND_UNANSWERED" ],
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Type of the completed phone calls. We can give multiple types comma saperated. Allowed values !@INBOUND_ANSWERED@!, !@INBOUND_MISSED@!, !@OUTBOUND_ANSWERED@!, !@OUTBOUND_UNANSWERED@!",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "durationInSec" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "contact" : {
                            "required" : [ "account", "customerHappiness", "email", "firstName", "id", "isSpam", "lastName", "photoURL", "totalCalls", "type", "webUrl" ],
                            "properties" : {
                              "totalCalls" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "firstName" : {
                                "maxLength" : 40,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 200,
                                "minLength" : 0
                              },
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "webUrl" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "customerHappiness" : {
                                "required" : [ "badPercentage", "goodPercentage", "okPercentage" ],
                                "properties" : {
                                  "badPercentage" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "okPercentage" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "goodPercentage" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "isSpam" : { },
                              "type" : {
                                "x-dynamic-enum" : true,
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Type of the completed phone calls. We can give multiple types comma saperated. Allowed values !@INBOUND_ANSWERED@!, !@INBOUND_MISSED@!, !@OUTBOUND_ANSWERED@!, !@OUTBOUND_UNANSWERED@!",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "split" : ",",
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "account" : {
                                "required" : [ "accountName", "id", "webUrl" ],
                                "properties" : {
                                  "accountName" : {
                                    "maxLength" : 200,
                                    "minLength" : 0
                                  },
                                  "webUrl" : {
                                    "maxLength" : 500,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "email" : {
                                "maxLength" : 255,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "callRefId" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "from" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Index number, starting from which completed phone call logs has to be fetched.",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "to" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "state" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ANSWERED", "MISSED" ]
                          },
                          "voiceMailUrl" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "direction" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "INBOUND", "OUTBOUND" ]
                          },
                          "voiceMailUrlDuration" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "owner" : {
                          "photoURL" : null,
                          "firstName" : null,
                          "lastName" : "Pattudurai",
                          "id" : "40000012312"
                        },
                        "aliasName" : "US Number",
                        "activity" : {
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Calls/dv/137605120003037170",
                          "id" : "40000012312"
                        },
                        "ticket" : {
                          "ticketNumber" : "123",
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Cases/dv/137605000003037170",
                          "id" : "40000012312"
                        },
                        "ivrName" : "Support",
                        "type" : "INBOUND_MISSED",
                        "durationInSec" : 0,
                        "contact" : {
                          "lastName" : "Pattu",
                          "mobile" : "9876543210",
                          "type" : "paidUser",
                          "totalCalls" : "9",
                          "firstName" : null,
                          "photoURL" : null,
                          "phone" : "14562378790",
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Contacts/dv/137605000003037456",
                          "id" : "40000012312",
                          "isSpam" : false,
                          "customerHappiness" : {
                            "badPercentage" : "22",
                            "okPercentage" : "31",
                            "goodPercentage" : "47"
                          },
                          "email" : "pattu@zylker.com",
                          "account" : {
                            "accountName" : "ABC Company",
                            "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Accounts/dv/137605000003037134",
                            "id" : "40000012312"
                          }
                        },
                        "callRefId" : "CA10002",
                        "createdTime" : 1574433984000,
                        "from" : "9876543210",
                        "id" : "40000012345",
                        "to" : "1234765890",
                        "state" : "MISSED",
                        "voiceMailUrl" : "https://api.twilio.com/recordings/CA137605000003037170",
                        "direction" : "INBOUND",
                        "voiceMailUrlDuration" : 105
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.calls.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 40,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 240,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "45cf73af1cbd310e7b15d9db57aa46b4",
          "module-group" : "telephony",
          "apimethod" : "com.zoho.desk.telephony.callbar.phonecalls.PhoneCallsService.getCallLogs"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "owner" : {
        "required" : [ "firstName", "id", "lastName", "photoURL" ],
        "properties" : {
          "firstName" : {
            "maxLength" : 50,
            "minLength" : 0
          },
          "lastName" : {
            "maxLength" : 50,
            "minLength" : 0
          },
          "photoURL" : {
            "maxLength" : 200,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "ticket" : {
        "required" : [ "id", "ticketNumber", "webUrl" ],
        "properties" : {
          "ticketNumber" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "webUrl" : {
            "maxLength" : 500,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "contactCallsData" : {
        "required" : [ "callRefId", "createdTime", "direction", "durationInSec", "from", "id", "owner", "state", "ticket", "to", "voiceMailUrl", "voiceMailUrlDuration" ],
        "properties" : {
          "owner" : {
            "required" : [ "firstName", "id", "lastName", "photoURL" ],
            "properties" : {
              "firstName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "lastName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "photoURL" : {
                "maxLength" : 200,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          },
          "durationInSec" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "ticket" : {
            "required" : [ "id", "ticketNumber", "webUrl" ],
            "properties" : {
              "ticketNumber" : {
                "pattern" : "([0-9]+)",
                "format" : "int32"
              },
              "webUrl" : {
                "maxLength" : 500,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          },
          "callRefId" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "createdTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "from" : {
            "maxLength" : 100,
            "minLength" : 0,
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Index number, starting from which phone calls has to be fetched.",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "to" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "state" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "ANSWERED", "MISSED" ]
          },
          "voiceMailUrl" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "direction" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "INBOUND", "OUTBOUND" ]
          },
          "voiceMailUrlDuration" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          }
        },
        "additionalProperties" : { }
      },
      "contactCallsDataArr" : {
        "items" : {
          "required" : [ "callRefId", "createdTime", "direction", "durationInSec", "from", "id", "owner", "state", "ticket", "to", "voiceMailUrl", "voiceMailUrlDuration" ],
          "properties" : {
            "owner" : {
              "required" : [ "firstName", "id", "lastName", "photoURL" ],
              "properties" : {
                "firstName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "lastName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "photoURL" : {
                  "maxLength" : 200,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "additionalProperties" : false
            },
            "durationInSec" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "ticket" : {
              "required" : [ "id", "ticketNumber", "webUrl" ],
              "properties" : {
                "ticketNumber" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "webUrl" : {
                  "maxLength" : 500,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "additionalProperties" : false
            },
            "callRefId" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "createdTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "from" : {
              "maxLength" : 100,
              "minLength" : 0,
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Index number, starting from which phone calls has to be fetched.",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "to" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "state" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "ANSWERED", "MISSED" ]
            },
            "voiceMailUrl" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
            },
            "direction" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "INBOUND", "OUTBOUND" ]
            },
            "voiceMailUrlDuration" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            }
          },
          "additionalProperties" : false
        }
      },
      "activity" : {
        "required" : [ "id", "webUrl" ],
        "properties" : {
          "webUrl" : {
            "maxLength" : 500,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "account" : {
        "required" : [ "accountName", "id", "webUrl" ],
        "properties" : {
          "accountName" : {
            "maxLength" : 200,
            "minLength" : 0
          },
          "webUrl" : {
            "maxLength" : 500,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "contact" : {
        "required" : [ "account", "customerHappiness", "email", "firstName", "id", "isSpam", "lastName", "photoURL", "totalCalls", "type", "webUrl" ],
        "properties" : {
          "totalCalls" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "firstName" : {
            "maxLength" : 40,
            "minLength" : 0
          },
          "lastName" : {
            "maxLength" : 200,
            "minLength" : 0
          },
          "photoURL" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "webUrl" : {
            "maxLength" : 500,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "customerHappiness" : {
            "required" : [ "badPercentage", "goodPercentage", "okPercentage" ],
            "properties" : {
              "badPercentage" : {
                "pattern" : "([0-9]+)",
                "format" : "int32"
              },
              "okPercentage" : {
                "pattern" : "([0-9]+)",
                "format" : "int32"
              },
              "goodPercentage" : {
                "pattern" : "([0-9]+)",
                "format" : "int32"
              }
            },
            "additionalProperties" : false
          },
          "isSpam" : { },
          "type" : {
            "x-dynamic-enum" : true,
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Type of the completed phone calls. We can give multiple types comma saperated. Allowed values !@INBOUND_ANSWERED@!, !@INBOUND_MISSED@!, !@OUTBOUND_ANSWERED@!, !@OUTBOUND_UNANSWERED@!",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "split" : ",",
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "account" : {
            "required" : [ "accountName", "id", "webUrl" ],
            "properties" : {
              "accountName" : {
                "maxLength" : 200,
                "minLength" : 0
              },
              "webUrl" : {
                "maxLength" : 500,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          },
          "email" : {
            "maxLength" : 255,
            "minLength" : 0,
            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
          }
        },
        "additionalProperties" : { }
      },
      "data" : {
        "required" : [ "activity", "aliasName", "callRefId", "contact", "createdTime", "direction", "durationInSec", "from", "id", "ivrName", "owner", "state", "ticket", "to", "type", "voiceMailUrl", "voiceMailUrlDuration" ],
        "properties" : {
          "owner" : {
            "required" : [ "firstName", "id", "lastName", "photoURL" ],
            "properties" : {
              "firstName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "lastName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "photoURL" : {
                "maxLength" : 200,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          },
          "aliasName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "activity" : {
            "required" : [ "id", "webUrl" ],
            "properties" : {
              "webUrl" : {
                "maxLength" : 500,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          },
          "ticket" : {
            "required" : [ "id", "ticketNumber", "webUrl" ],
            "properties" : {
              "ticketNumber" : {
                "pattern" : "([0-9]+)",
                "format" : "int32"
              },
              "webUrl" : {
                "maxLength" : 500,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          },
          "ivrName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "type" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "INBOUND_ANSWERED", "INBOUND_MISSED", "OUTBOUND_ANSWERED", "OUTBOUND_UNANSWERED" ],
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Type of the completed phone calls. We can give multiple types comma saperated. Allowed values !@INBOUND_ANSWERED@!, !@INBOUND_MISSED@!, !@OUTBOUND_ANSWERED@!, !@OUTBOUND_UNANSWERED@!",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "split" : ",",
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "durationInSec" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "contact" : {
            "required" : [ "account", "customerHappiness", "email", "firstName", "id", "isSpam", "lastName", "photoURL", "totalCalls", "type", "webUrl" ],
            "properties" : {
              "totalCalls" : {
                "pattern" : "([0-9]+)",
                "format" : "int32"
              },
              "firstName" : {
                "maxLength" : 40,
                "minLength" : 0
              },
              "lastName" : {
                "maxLength" : 200,
                "minLength" : 0
              },
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "webUrl" : {
                "maxLength" : 500,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "customerHappiness" : {
                "required" : [ "badPercentage", "goodPercentage", "okPercentage" ],
                "properties" : {
                  "badPercentage" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int32"
                  },
                  "okPercentage" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int32"
                  },
                  "goodPercentage" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int32"
                  }
                },
                "additionalProperties" : false
              },
              "isSpam" : { },
              "type" : {
                "x-dynamic-enum" : true,
                "x-custom-parameters-attributes" : {
                  "removeExif" : false,
                  "filterMatchedContent" : false,
                  "antivirus" : false,
                  "replacementString" : "",
                  "allowInvalid" : false,
                  "descrption" : "Type of the completed phone calls. We can give multiple types comma saperated. Allowed values !@INBOUND_ANSWERED@!, !@INBOUND_MISSED@!, !@OUTBOUND_ANSWERED@!, !@OUTBOUND_UNANSWERED@!",
                  "secret" : false,
                  "preserveCharsLimit" : 10,
                  "split" : ",",
                  "trim" : false,
                  "internalParam" : false,
                  "preserveChars" : "0,5",
                  "importUrl" : false,
                  "decrypt" : false
                }
              },
              "account" : {
                "required" : [ "accountName", "id", "webUrl" ],
                "properties" : {
                  "accountName" : {
                    "maxLength" : 200,
                    "minLength" : 0
                  },
                  "webUrl" : {
                    "maxLength" : 500,
                    "minLength" : 0,
                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                  },
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : false
              },
              "email" : {
                "maxLength" : 255,
                "minLength" : 0,
                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
              }
            },
            "additionalProperties" : false
          },
          "callRefId" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "createdTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "from" : {
            "maxLength" : 100,
            "minLength" : 0,
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Index number, starting from which completed phone call logs has to be fetched.",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "to" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "state" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "ANSWERED", "MISSED" ]
          },
          "voiceMailUrl" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "direction" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "INBOUND", "OUTBOUND" ]
          },
          "voiceMailUrlDuration" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          }
        },
        "additionalProperties" : { }
      },
      "dataArr" : {
        "items" : {
          "required" : [ "activity", "aliasName", "callRefId", "contact", "createdTime", "direction", "durationInSec", "from", "id", "ivrName", "owner", "state", "ticket", "to", "type", "voiceMailUrl", "voiceMailUrlDuration" ],
          "properties" : {
            "owner" : {
              "required" : [ "firstName", "id", "lastName", "photoURL" ],
              "properties" : {
                "firstName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "lastName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "photoURL" : {
                  "maxLength" : 200,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "additionalProperties" : false
            },
            "aliasName" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "activity" : {
              "required" : [ "id", "webUrl" ],
              "properties" : {
                "webUrl" : {
                  "maxLength" : 500,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "additionalProperties" : false
            },
            "ticket" : {
              "required" : [ "id", "ticketNumber", "webUrl" ],
              "properties" : {
                "ticketNumber" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "webUrl" : {
                  "maxLength" : 500,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "additionalProperties" : false
            },
            "ivrName" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "type" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "INBOUND_ANSWERED", "INBOUND_MISSED", "OUTBOUND_ANSWERED", "OUTBOUND_UNANSWERED" ],
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Type of the completed phone calls. We can give multiple types comma saperated. Allowed values !@INBOUND_ANSWERED@!, !@INBOUND_MISSED@!, !@OUTBOUND_ANSWERED@!, !@OUTBOUND_UNANSWERED@!",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "split" : ",",
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            },
            "durationInSec" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "contact" : {
              "required" : [ "account", "customerHappiness", "email", "firstName", "id", "isSpam", "lastName", "photoURL", "totalCalls", "type", "webUrl" ],
              "properties" : {
                "totalCalls" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "firstName" : {
                  "maxLength" : 40,
                  "minLength" : 0
                },
                "lastName" : {
                  "maxLength" : 200,
                  "minLength" : 0
                },
                "photoURL" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "webUrl" : {
                  "maxLength" : 500,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "customerHappiness" : {
                  "required" : [ "badPercentage", "goodPercentage", "okPercentage" ],
                  "properties" : {
                    "badPercentage" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "okPercentage" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "goodPercentage" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    }
                  },
                  "additionalProperties" : false
                },
                "isSpam" : { },
                "type" : {
                  "x-dynamic-enum" : true,
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Type of the completed phone calls. We can give multiple types comma saperated. Allowed values !@INBOUND_ANSWERED@!, !@INBOUND_MISSED@!, !@OUTBOUND_ANSWERED@!, !@OUTBOUND_UNANSWERED@!",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "split" : ",",
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "account" : {
                  "required" : [ "accountName", "id", "webUrl" ],
                  "properties" : {
                    "accountName" : {
                      "maxLength" : 200,
                      "minLength" : 0
                    },
                    "webUrl" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : false
                },
                "email" : {
                  "maxLength" : 255,
                  "minLength" : 0,
                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                }
              },
              "additionalProperties" : false
            },
            "callRefId" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "createdTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "from" : {
              "maxLength" : 100,
              "minLength" : 0,
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Index number, starting from which completed phone call logs has to be fetched.",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "to" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "state" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "ANSWERED", "MISSED" ]
            },
            "voiceMailUrl" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
            },
            "direction" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "INBOUND", "OUTBOUND" ]
            },
            "voiceMailUrlDuration" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            }
          },
          "additionalProperties" : false
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "getCallsByContact" : {
        "description" : "getCallsByContact template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "data" ],
              "properties" : {
                "data" : {
                  "items" : {
                    "required" : [ "callRefId", "createdTime", "direction", "durationInSec", "from", "id", "owner", "state", "ticket", "to", "voiceMailUrl", "voiceMailUrlDuration" ],
                    "properties" : {
                      "owner" : {
                        "required" : [ "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "durationInSec" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "ticket" : {
                        "required" : [ "id", "ticketNumber", "webUrl" ],
                        "properties" : {
                          "ticketNumber" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "webUrl" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "callRefId" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "from" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Index number, starting from which phone calls has to be fetched.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "to" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "state" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "ANSWERED", "MISSED" ]
                      },
                      "voiceMailUrl" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "direction" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "INBOUND", "OUTBOUND" ]
                      },
                      "voiceMailUrlDuration" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      }
                    },
                    "additionalProperties" : false
                  }
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : [ {
                    "owner" : {
                      "photoURL" : null,
                      "firstName" : null,
                      "lastName" : "Pattudurai",
                      "id" : "40000012312"
                    },
                    "durationInSec" : "200",
                    "ticket" : {
                      "ticketNumber" : "123",
                      "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Cases/dv/137605000003037170",
                      "id" : "40000012312"
                    },
                    "callRefId" : "CA10001",
                    "createdTime" : 1574433984000,
                    "voiceMailDuration" : 0,
                    "from" : "9876543210",
                    "id" : "40000012345",
                    "to" : "1234765890",
                    "state" : "ANSWERED",
                    "voiceMailUrl" : null,
                    "direction" : "INBOUND"
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "getCount" : {
        "description" : "getCount template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "INBOUND", "INBOUND_ANSWERED", "INBOUND_MISSED", "OUTBOUND", "OUTBOUND_ANSWERED", "OUTBOUND_UNANSWERED" ],
              "properties" : {
                "INBOUND" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "INBOUND_ANSWERED" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "INBOUND_MISSED" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "OUTBOUND_ANSWERED" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "OUTBOUND" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "OUTBOUND_UNANSWERED" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "ALL" : "100",
                  "INBOUND" : "50",
                  "INBOUND_ANSWERED" : "25",
                  "INBOUND_MISSED" : "25",
                  "OUTBOUND_ANSWERED" : "25",
                  "OUTBOUND" : "50",
                  "OUTBOUND_UNANSWERED" : "25"
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "getCallLogs" : {
        "description" : "getCallLogs template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "data" ],
              "properties" : {
                "data" : {
                  "items" : {
                    "required" : [ "activity", "aliasName", "callRefId", "contact", "createdTime", "direction", "durationInSec", "from", "id", "ivrName", "owner", "state", "ticket", "to", "type", "voiceMailUrl", "voiceMailUrlDuration" ],
                    "properties" : {
                      "owner" : {
                        "required" : [ "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "aliasName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "activity" : {
                        "required" : [ "id", "webUrl" ],
                        "properties" : {
                          "webUrl" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "ticket" : {
                        "required" : [ "id", "ticketNumber", "webUrl" ],
                        "properties" : {
                          "ticketNumber" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "webUrl" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "ivrName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "INBOUND_ANSWERED", "INBOUND_MISSED", "OUTBOUND_ANSWERED", "OUTBOUND_UNANSWERED" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Type of the completed phone calls. We can give multiple types comma saperated. Allowed values !@INBOUND_ANSWERED@!, !@INBOUND_MISSED@!, !@OUTBOUND_ANSWERED@!, !@OUTBOUND_UNANSWERED@!",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "split" : ",",
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "durationInSec" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "contact" : {
                        "required" : [ "account", "customerHappiness", "email", "firstName", "id", "isSpam", "lastName", "photoURL", "totalCalls", "type", "webUrl" ],
                        "properties" : {
                          "totalCalls" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "firstName" : {
                            "maxLength" : 40,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "webUrl" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "customerHappiness" : {
                            "required" : [ "badPercentage", "goodPercentage", "okPercentage" ],
                            "properties" : {
                              "badPercentage" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "okPercentage" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "goodPercentage" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "isSpam" : { },
                          "type" : {
                            "x-dynamic-enum" : true,
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Type of the completed phone calls. We can give multiple types comma saperated. Allowed values !@INBOUND_ANSWERED@!, !@INBOUND_MISSED@!, !@OUTBOUND_ANSWERED@!, !@OUTBOUND_UNANSWERED@!",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "account" : {
                            "required" : [ "accountName", "id", "webUrl" ],
                            "properties" : {
                              "accountName" : {
                                "maxLength" : 200,
                                "minLength" : 0
                              },
                              "webUrl" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
[...]
