{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Channel",
    "version" : "1.0.0",
    "x-clan-group" : "microservices",
    "x-module-group" : "im"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/channels/{channelCode}/photo" : {
      "get" : {
        "tags" : [ "Channel" ],
        "summary" : "Get Channel logo",
        "description" : "This API gets the logo for the given channel.",
        "operationId" : "getChannelPhoto",
        "parameters" : [ {
          "name" : "height",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 500,
            "minimum" : 10,
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int32"
          }
        }, {
          "name" : "channelCode",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z0-9_\\-]+)",
            "description" : ""
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "File response",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "format" : "binary"
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 60,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "8b36d9a25083171bd99e98d3d53e539d",
          "module-group" : "common",
          "apimethod" : "com.zoho.support.restapi.AnyChannelService.getChannelPhotoStream"
        }
      },
      "post" : {
        "tags" : [ "Channel" ],
        "summary" : "Update Channel logo",
        "description" : "This API updates the logo for the given channel. Logo of SYSTEM channels cannot be updated.",
        "operationId" : "uploadChannelPhoto",
        "parameters" : [ {
          "name" : "channelCode",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z0-9_\\-]+)",
            "description" : ""
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "required" : [ "photo" ],
                "properties" : {
                  "photo" : {
                    "description" : "",
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 86400000,
                  "lock-period" : 86400000,
                  "threshold" : 20,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "microservices",
          "apihash" : "7cd538fb6662d61873c07f075a956737",
          "module-group" : "im",
          "apimethod" : "com.zoho.support.restapi.AnyChannelService.uploadChannelPhoto"
        }
      }
    },
    "/api/v1/channels/{channelCode}" : {
      "get" : {
        "tags" : [ "Channel" ],
        "summary" : "Get a Channel",
        "description" : "This API gets fetches details of a given channel.",
        "operationId" : "getChannelByCode",
        "parameters" : [ {
          "name" : "channelCode",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z0-9_\\-]+)",
            "description" : ""
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getChannelResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "acceptsReplies", "appName", "code", "departmentId", "externalId", "mappedIntegration", "name", "photoURL", "replyConfig", "type" ],
                  "properties" : {
                    "photoURL" : {
                      "maxLength" : 65535,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "code" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([a-zA-Z0-9_\\-]+)"
                    },
                    "appName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "externalId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "mappedIntegration" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "replyConfig" : {
                      "required" : [ "acceptsAttachments", "contentTypes", "includeQuotedMessage", "updateRecords" ],
                      "properties" : {
                        "updateRecords" : { },
                        "acceptsAttachments" : { },
                        "contentTypes" : {
                          "maxItems" : 2,
                          "uniqueItems" : true,
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "text/plain", "text/html" ]
                          }
                        },
                        "includeQuotedMessage" : { }
                      },
                      "additionalProperties" : { }
                    },
                    "type" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                    },
                    "acceptsReplies" : { }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "photoURL" : "https://desk.zoho.com/api/v1/channels/sales_whatsapp_account/photo?orgId=60856948",
                      "code" : "SALES_WHATSAPP_ACCOUNT",
                      "appName" : "Sales Whatsapp Account",
                      "departmentId" : "76389000000006907",
                      "name" : "Sales Whatsapp Account",
                      "externalId" : "109000000002003",
                      "replyConfig" : {
                        "updateRecords" : false,
                        "acceptsAttachments" : false,
                        "contentTypes" : [ "text/plain" ],
                        "includeQuotedMessage" : false
                      },
                      "type" : "INSTANT_MESSAGE",
                      "acceptsReplies" : true
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "a641c2e1276b00f50f5ffd5c77e787ef",
          "module-group" : "common",
          "apimethod" : "com.zoho.support.restapi.AnyChannelService.getCustomChannel"
        }
      }
    },
    "/api/v1/channels" : {
      "get" : {
        "tags" : [ "Channel" ],
        "summary" : "List configured channels",
        "description" : "This API fetches currently installed channels including System, Channel integration and Instant Messaging channels",
        "operationId" : "getChannels",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getChannelsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "acceptsReplies", "appName", "code", "departmentId", "externalId", "mappedIntegration", "name", "photoURL", "replyConfig", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "code" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([a-zA-Z0-9_\\-]+)"
                          },
                          "appName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "externalId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "mappedIntegration" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "replyConfig" : {
                            "required" : [ "acceptsAttachments", "contentTypes", "includeQuotedMessage", "updateRecords" ],
                            "properties" : {
                              "updateRecords" : { },
                              "acceptsAttachments" : { },
                              "contentTypes" : {
                                "maxItems" : 2,
                                "uniqueItems" : true,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "text/plain", "text/html" ]
                                }
                              },
                              "includeQuotedMessage" : { }
                            },
                            "additionalProperties" : false
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                          },
                          "acceptsReplies" : { }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "photoURL" : "https://desk.zoho.com/api/v1/channels/sales_whatsapp_account/photo?orgId=60856948",
                        "code" : "SALES_WHATSAPP_ACCOUNT",
                        "appName" : "Sales Whatsapp Account",
                        "departmentId" : "76389000000006907",
                        "name" : "Sales Whatsapp Account",
                        "externalId" : "109000000002003",
                        "mappedIntegration" : null,
                        "replyConfig" : {
                          "updateRecords" : false,
                          "acceptsAttachments" : false,
                          "contentTypes" : [ "text/plain" ],
                          "includeQuotedMessage" : false
                        },
                        "type" : "INSTANT_MESSAGE",
                        "acceptsReplies" : true
                      }, {
                        "photoURL" : "https://desk.zoho.com/api/v1/channels/youtubecat/photo?orgId=647164567",
                        "code" : "YOUTUBECAT",
                        "appName" : "Youtube Cat",
                        "departmentId" : "188422000009189044",
                        "name" : "Youtube Cat",
                        "externalId" : null,
                        "mappedIntegration" : null,
                        "replyConfig" : {
                          "updateRecords" : false,
                          "acceptsAttachments" : false,
                          "contentTypes" : [ "text/plain" ],
                          "includeQuotedMessage" : false
                        },
                        "type" : "INTEGRATION",
                        "acceptsReplies" : true
                      }, {
                        "photoURL" : null,
                        "code" : "EMAIL",
                        "appName" : null,
                        "departmentId" : null,
                        "name" : "Email",
                        "externalId" : null,
                        "mappedIntegration" : null,
                        "replyConfig" : {
                          "updateRecords" : false,
                          "acceptsAttachments" : true,
                          "contentTypes" : [ "text/plain", "text/html" ],
                          "includeQuotedMessage" : true
                        },
                        "type" : "SYSTEM",
                        "acceptsReplies" : true
                      }, {
                        "photoURL" : null,
                        "code" : "TWITTER",
                        "appName" : null,
                        "departmentId" : null,
                        "name" : "Twitter",
                        "externalId" : null,
                        "mappedIntegration" : null,
                        "replyConfig" : {
                          "updateRecords" : false,
                          "acceptsAttachments" : false,
                          "contentTypes" : [ "text/plain" ],
                          "includeQuotedMessage" : false
                        },
                        "type" : "SYSTEM",
                        "acceptsReplies" : true
                      }, {
                        "photoURL" : null,
                        "code" : "TWITTER_DM",
                        "appName" : null,
                        "departmentId" : null,
                        "name" : "Twitter",
                        "externalId" : null,
                        "mappedIntegration" : null,
                        "replyConfig" : {
                          "updateRecords" : false,
                          "acceptsAttachments" : false,
                          "contentTypes" : [ "text/plain" ],
                          "includeQuotedMessage" : false
                        },
                        "type" : "SYSTEM",
                        "acceptsReplies" : true
                      }, {
                        "photoURL" : null,
                        "code" : "FACEBOOK",
                        "appName" : null,
                        "departmentId" : null,
                        "name" : "Facebook",
                        "externalId" : null,
                        "mappedIntegration" : null,
                        "replyConfig" : {
                          "updateRecords" : false,
                          "acceptsAttachments" : false,
                          "contentTypes" : [ "text/plain" ],
                          "includeQuotedMessage" : false
                        },
                        "type" : "SYSTEM",
                        "acceptsReplies" : true
                      }, {
                        "photoURL" : null,
                        "code" : "FACEBOOK_DM",
                        "appName" : null,
                        "departmentId" : null,
                        "name" : "Facebook",
                        "externalId" : null,
                        "mappedIntegration" : null,
                        "replyConfig" : {
                          "updateRecords" : false,
                          "acceptsAttachments" : false,
                          "contentTypes" : [ "text/plain" ],
                          "includeQuotedMessage" : false
                        },
                        "type" : "SYSTEM",
                        "acceptsReplies" : true
                      }, {
                        "photoURL" : null,
                        "code" : "INSTAGRAM",
                        "appName" : null,
                        "departmentId" : null,
                        "name" : "Instagram",
                        "externalId" : null,
                        "mappedIntegration" : null,
                        "replyConfig" : {
                          "updateRecords" : false,
                          "acceptsAttachments" : false,
                          "contentTypes" : [ "text/plain" ],
                          "includeQuotedMessage" : false
                        },
                        "type" : "SYSTEM",
                        "acceptsReplies" : true
                      }, {
                        "photoURL" : null,
                        "code" : "INSTAGRAM_DM",
                        "appName" : null,
                        "departmentId" : null,
                        "name" : "Instagram",
                        "externalId" : null,
                        "mappedIntegration" : null,
                        "replyConfig" : {
                          "updateRecords" : false,
                          "acceptsAttachments" : false,
                          "contentTypes" : [ "text/plain" ],
                          "includeQuotedMessage" : false
                        },
                        "type" : "SYSTEM",
                        "acceptsReplies" : true
                      }, {
                        "photoURL" : null,
                        "code" : "WEB",
                        "appName" : null,
                        "departmentId" : null,
                        "name" : "Web",
                        "externalId" : null,
                        "mappedIntegration" : null,
                        "replyConfig" : null,
                        "type" : "SYSTEM",
                        "acceptsReplies" : false
                      }, {
                        "photoURL" : null,
                        "code" : "ONLINE_CHAT",
                        "appName" : null,
                        "departmentId" : null,
                        "name" : "Chat",
                        "externalId" : null,
                        "mappedIntegration" : null,
                        "replyConfig" : null,
                        "type" : "SYSTEM",
                        "acceptsReplies" : false
                      }, {
                        "photoURL" : null,
                        "code" : "OFFLINE_CHAT",
                        "appName" : null,
                        "departmentId" : null,
                        "name" : "Chat",
                        "externalId" : null,
                        "mappedIntegration" : null,
                        "replyConfig" : null,
                        "type" : "SYSTEM",
                        "acceptsReplies" : false
                      }, {
                        "photoURL" : null,
                        "code" : "FORUMS",
                        "appName" : null,
                        "departmentId" : null,
                        "name" : "Forums",
                        "externalId" : null,
                        "mappedIntegration" : null,
                        "replyConfig" : {
                          "updateRecords" : false,
                          "acceptsAttachments" : false,
                          "contentTypes" : [ "text/plain", "text/html" ],
                          "includeQuotedMessage" : true
                        },
                        "type" : "SYSTEM",
                        "acceptsReplies" : true
                      }, {
                        "photoURL" : null,
                        "code" : "PHONE",
                        "appName" : null,
                        "departmentId" : null,
                        "name" : "Phone",
                        "externalId" : null,
                        "mappedIntegration" : null,
                        "replyConfig" : null,
                        "type" : "SYSTEM",
                        "acceptsReplies" : false
                      }, {
                        "photoURL" : null,
                        "code" : "ZTI",
                        "appName" : null,
                        "departmentId" : null,
                        "name" : "Phone",
                        "externalId" : null,
                        "mappedIntegration" : null,
                        "replyConfig" : null,
                        "type" : "SYSTEM",
                        "acceptsReplies" : false
                      }, {
                        "photoURL" : null,
                        "code" : "CUSTOMERPORTAL",
                        "appName" : null,
                        "departmentId" : null,
                        "name" : "Web",
                        "externalId" : null,
                        "mappedIntegration" : null,
                        "replyConfig" : null,
                        "type" : "SYSTEM",
                        "acceptsReplies" : false
                      }, {
                        "photoURL" : null,
                        "code" : "FEEDBACK",
                        "appName" : null,
                        "departmentId" : null,
                        "name" : "FeedBack",
                        "externalId" : null,
                        "mappedIntegration" : null,
                        "replyConfig" : null,
                        "type" : "SYSTEM",
                        "acceptsReplies" : false
                      }, {
                        "photoURL" : null,
                        "code" : "FEEDBACK_WIDGET",
                        "appName" : null,
                        "departmentId" : null,
                        "name" : "Feedback Widget",
                        "externalId" : null,
                        "mappedIntegration" : null,
                        "replyConfig" : null,
                        "type" : "SYSTEM",
                        "acceptsReplies" : false
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "96d1ebc69d8f484fce4350911dcde95a",
          "module-group" : "common",
          "apimethod" : "com.zoho.support.restapi.AnyChannelService.getChannels"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "replyConfig" : {
        "required" : [ "acceptsAttachments", "contentTypes", "includeQuotedMessage", "updateRecords" ],
        "properties" : {
          "updateRecords" : { },
          "acceptsAttachments" : { },
          "contentTypes" : {
            "maxItems" : 2,
            "uniqueItems" : true,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "text/plain", "text/html" ]
            }
          },
          "includeQuotedMessage" : { }
        },
        "additionalProperties" : { }
      },
      "getChannelResponse" : {
        "required" : [ "acceptsReplies", "appName", "code", "departmentId", "externalId", "mappedIntegration", "name", "photoURL", "replyConfig", "type" ],
        "properties" : {
          "photoURL" : {
            "maxLength" : 65535,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "code" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z0-9_\\-]+)"
          },
          "appName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "departmentId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "externalId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "mappedIntegration" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "replyConfig" : {
            "required" : [ "acceptsAttachments", "contentTypes", "includeQuotedMessage", "updateRecords" ],
            "properties" : {
              "updateRecords" : { },
              "acceptsAttachments" : { },
              "contentTypes" : {
                "maxItems" : 2,
                "uniqueItems" : true,
                "items" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "text/plain", "text/html" ]
                }
              },
              "includeQuotedMessage" : { }
            },
            "additionalProperties" : false
          },
          "type" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
          },
          "acceptsReplies" : { }
        },
        "additionalProperties" : { }
      },
      "getChannelsArray" : {
        "items" : {
          "required" : [ "acceptsReplies", "appName", "code", "departmentId", "externalId", "mappedIntegration", "name", "photoURL", "replyConfig", "type" ],
          "properties" : {
            "photoURL" : {
              "maxLength" : 65535,
              "minLength" : 0,
              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
            },
            "code" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([a-zA-Z0-9_\\-]+)"
            },
            "appName" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "departmentId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "name" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "externalId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "mappedIntegration" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "replyConfig" : {
              "required" : [ "acceptsAttachments", "contentTypes", "includeQuotedMessage", "updateRecords" ],
              "properties" : {
                "updateRecords" : { },
                "acceptsAttachments" : { },
                "contentTypes" : {
                  "maxItems" : 2,
                  "uniqueItems" : true,
                  "items" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "text/plain", "text/html" ]
                  }
                },
                "includeQuotedMessage" : { }
              },
              "additionalProperties" : false
            },
            "type" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
            },
            "acceptsReplies" : { }
          },
          "additionalProperties" : false
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "getChannelResponse" : {
        "description" : "getChannelResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "acceptsReplies", "appName", "code", "departmentId", "externalId", "mappedIntegration", "name", "photoURL", "replyConfig", "type" ],
              "properties" : {
                "photoURL" : {
                  "maxLength" : 65535,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "code" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([a-zA-Z0-9_\\-]+)"
                },
                "appName" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "departmentId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "externalId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "mappedIntegration" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "replyConfig" : {
                  "required" : [ "acceptsAttachments", "contentTypes", "includeQuotedMessage", "updateRecords" ],
                  "properties" : {
                    "updateRecords" : { },
                    "acceptsAttachments" : { },
                    "contentTypes" : {
                      "maxItems" : 2,
                      "uniqueItems" : true,
                      "items" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "text/plain", "text/html" ]
                      }
                    },
                    "includeQuotedMessage" : { }
                  },
                  "additionalProperties" : false
                },
                "type" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                },
                "acceptsReplies" : { }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "photoURL" : "https://desk.zoho.com/api/v1/channels/sales_whatsapp_account/photo?orgId=60856948",
                  "code" : "SALES_WHATSAPP_ACCOUNT",
                  "appName" : "Sales Whatsapp Account",
                  "departmentId" : "76389000000006907",
                  "name" : "Sales Whatsapp Account",
                  "externalId" : "109000000002003",
                  "replyConfig" : {
                    "updateRecords" : false,
                    "acceptsAttachments" : false,
                    "contentTypes" : [ "text/plain" ],
                    "includeQuotedMessage" : false
                  },
                  "type" : "INSTANT_MESSAGE",
                  "acceptsReplies" : true
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "getChannelsResponse" : {
        "description" : "getChannelsResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "data" ],
              "properties" : {
                "data" : {
                  "items" : {
                    "required" : [ "acceptsReplies", "appName", "code", "departmentId", "externalId", "mappedIntegration", "name", "photoURL", "replyConfig", "type" ],
                    "properties" : {
                      "photoURL" : {
                        "maxLength" : 65535,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "code" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([a-zA-Z0-9_\\-]+)"
                      },
                      "appName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "externalId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "mappedIntegration" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "replyConfig" : {
                        "required" : [ "acceptsAttachments", "contentTypes", "includeQuotedMessage", "updateRecords" ],
                        "properties" : {
                          "updateRecords" : { },
                          "acceptsAttachments" : { },
                          "contentTypes" : {
                            "maxItems" : 2,
                            "uniqueItems" : true,
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "text/plain", "text/html" ]
                            }
                          },
                          "includeQuotedMessage" : { }
                        },
                        "additionalProperties" : false
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                      },
                      "acceptsReplies" : { }
                    },
                    "additionalProperties" : false
                  }
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : [ {
                    "photoURL" : "https://desk.zoho.com/api/v1/channels/sales_whatsapp_account/photo?orgId=60856948",
                    "code" : "SALES_WHATSAPP_ACCOUNT",
                    "appName" : "Sales Whatsapp Account",
                    "departmentId" : "76389000000006907",
                    "name" : "Sales Whatsapp Account",
                    "externalId" : "109000000002003",
                    "mappedIntegration" : null,
                    "replyConfig" : {
                      "updateRecords" : false,
                      "acceptsAttachments" : false,
                      "contentTypes" : [ "text/plain" ],
                      "includeQuotedMessage" : false
                    },
                    "type" : "INSTANT_MESSAGE",
                    "acceptsReplies" : true
                  }, {
                    "photoURL" : "https://desk.zoho.com/api/v1/channels/youtubecat/photo?orgId=647164567",
                    "code" : "YOUTUBECAT",
                    "appName" : "Youtube Cat",
                    "departmentId" : "188422000009189044",
                    "name" : "Youtube Cat",
                    "externalId" : null,
                    "mappedIntegration" : null,
                    "replyConfig" : {
                      "updateRecords" : false,
                      "acceptsAttachments" : false,
                      "contentTypes" : [ "text/plain" ],
                      "includeQuotedMessage" : false
                    },
                    "type" : "INTEGRATION",
                    "acceptsReplies" : true
                  }, {
                    "photoURL" : null,
                    "code" : "EMAIL",
                    "appName" : null,
                    "departmentId" : null,
                    "name" : "Email",
                    "externalId" : null,
                    "mappedIntegration" : null,
                    "replyConfig" : {
                      "updateRecords" : false,
                      "acceptsAttachments" : true,
                      "contentTypes" : [ "text/plain", "text/html" ],
                      "includeQuotedMessage" : true
                    },
                    "type" : "SYSTEM",
                    "acceptsReplies" : true
                  }, {
                    "photoURL" : null,
                    "code" : "TWITTER",
                    "appName" : null,
                    "departmentId" : null,
                    "name" : "Twitter",
                    "externalId" : null,
                    "mappedIntegration" : null,
                    "replyConfig" : {
                      "updateRecords" : false,
                      "acceptsAttachments" : false,
                      "contentTypes" : [ "text/plain" ],
                      "includeQuotedMessage" : false
                    },
                    "type" : "SYSTEM",
                    "acceptsReplies" : true
                  }, {
                    "photoURL" : null,
                    "code" : "TWITTER_DM",
                    "appName" : null,
                    "departmentId" : null,
                    "name" : "Twitter",
                    "externalId" : null,
                    "mappedIntegration" : null,
                    "replyConfig" : {
                      "updateRecords" : false,
                      "acceptsAttachments" : false,
                      "contentTypes" : [ "text/plain" ],
                      "includeQuotedMessage" : false
                    },
                    "type" : "SYSTEM",
                    "acceptsReplies" : true
                  }, {
                    "photoURL" : null,
                    "code" : "FACEBOOK",
                    "appName" : null,
                    "departmentId" : null,
                    "name" : "Facebook",
                    "externalId" : null,
                    "mappedIntegration" : null,
                    "replyConfig" : {
                      "updateRecords" : false,
                      "acceptsAttachments" : false,
                      "contentTypes" : [ "text/plain" ],
                      "includeQuotedMessage" : false
                    },
                    "type" : "SYSTEM",
                    "acceptsReplies" : true
                  }, {
                    "photoURL" : null,
                    "code" : "FACEBOOK_DM",
                    "appName" : null,
                    "departmentId" : null,
                    "name" : "Facebook",
                    "externalId" : null,
                    "mappedIntegration" : null,
                    "replyConfig" : {
                      "updateRecords" : false,
                      "acceptsAttachments" : false,
                      "contentTypes" : [ "text/plain" ],
                      "includeQuotedMessage" : false
                    },
                    "type" : "SYSTEM",
                    "acceptsReplies" : true
                  }, {
                    "photoURL" : null,
                    "code" : "INSTAGRAM",
                    "appName" : null,
                    "departmentId" : null,
                    "name" : "Instagram",
                    "externalId" : null,
                    "mappedIntegration" : null,
                    "replyConfig" : {
                      "updateRecords" : false,
                      "acceptsAttachments" : false,
                      "contentTypes" : [ "text/plain" ],
                      "includeQuotedMessage" : false
                    },
                    "type" : "SYSTEM",
                    "acceptsReplies" : true
                  }, {
                    "photoURL" : null,
                    "code" : "INSTAGRAM_DM",
                    "appName" : null,
                    "departmentId" : null,
                    "name" : "Instagram",
                    "externalId" : null,
                    "mappedIntegration" : null,
                    "replyConfig" : {
                      "updateRecords" : false,
                      "acceptsAttachments" : false,
                      "contentTypes" : [ "text/plain" ],
                      "includeQuotedMessage" : false
                    },
                    "type" : "SYSTEM",
                    "acceptsReplies" : true
                  }, {
                    "photoURL" : null,
                    "code" : "WEB",
                    "appName" : null,
                    "departmentId" : null,
                    "name" : "Web",
                    "externalId" : null,
                    "mappedIntegration" : null,
                    "replyConfig" : null,
                    "type" : "SYSTEM",
                    "acceptsReplies" : false
                  }, {
                    "photoURL" : null,
                    "code" : "ONLINE_CHAT",
                    "appName" : null,
                    "departmentId" : null,
                    "name" : "Chat",
                    "externalId" : null,
                    "mappedIntegration" : null,
                    "replyConfig" : null,
                    "type" : "SYSTEM",
                    "acceptsReplies" : false
                  }, {
                    "photoURL" : null,
                    "code" : "OFFLINE_CHAT",
                    "appName" : null,
                    "departmentId" : null,
                    "name" : "Chat",
                    "externalId" : null,
                    "mappedIntegration" : null,
                    "replyConfig" : null,
                    "type" : "SYSTEM",
                    "acceptsReplies" : false
                  }, {
                    "photoURL" : null,
                    "code" : "FORUMS",
                    "appName" : null,
                    "departmentId" : null,
                    "name" : "Forums",
                    "externalId" : null,
                    "mappedIntegration" : null,
                    "replyConfig" : {
                      "updateRecords" : false,
                      "acceptsAttachments" : false,
                      "contentTypes" : [ "text/plain", "text/html" ],
                      "includeQuotedMessage" : true
                    },
                    "type" : "SYSTEM",
                    "acceptsReplies" : true
                  }, {
                    "photoURL" : null,
                    "code" : "PHONE",
                    "appName" : null,
                    "departmentId" : null,
                    "name" : "Phone",
                    "externalId" : null,
                    "mappedIntegration" : null,
                    "replyConfig" : null,
                    "type" : "SYSTEM",
                    "acceptsReplies" : false
                  }, {
                    "photoURL" : null,
                    "code" : "ZTI",
                    "appName" : null,
                    "departmentId" : null,
                    "name" : "Phone",
                    "externalId" : null,
                    "mappedIntegration" : null,
                    "replyConfig" : null,
                    "type" : "SYSTEM",
                    "acceptsReplies" : false
                  }, {
                    "photoURL" : null,
                    "code" : "CUSTOMERPORTAL",
                    "appName" : null,
                    "departmentId" : null,
                    "name" : "Web",
                    "externalId" : null,
                    "mappedIntegration" : null,
                    "replyConfig" : null,
                    "type" : "SYSTEM",
                    "acceptsReplies" : false
                  }, {
                    "photoURL" : null,
                    "code" : "FEEDBACK",
                    "appName" : null,
                    "departmentId" : null,
                    "name" : "FeedBack",
                    "externalId" : null,
                    "mappedIntegration" : null,
                    "replyConfig" : null,
                    "type" : "SYSTEM",
                    "acceptsReplies" : false
                  }, {
                    "photoURL" : null,
                    "code" : "FEEDBACK_WIDGET",
                    "appName" : null,
                    "departmentId" : null,
                    "name" : "Feedback Widget",
                    "externalId" : null,
                    "mappedIntegration" : null,
                    "replyConfig" : null,
                    "type" : "SYSTEM",
                    "acceptsReplies" : false
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "OAuth Org Mismatch Error Response" : {
                "value" : {
                  "errorCode" : "OAUTH_ORG_MISMATCH",
                  "message" : "The OAuthToken is not valid for specified organization."
                }
              }
            }
          }
        }
      },
      "forbiddenErrorResponse" : {
        "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Forbidden Error Response" : {
                "value" : {
                  "errorCode" : "FORBIDDEN",
                  "message" : "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "urlNotFoundErrorResponse" : {
        "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Url Not Found Error Response" : {
                "value" : {
                  "errorCode" : "URL_NOT_FOUND",
                  "message" : "The URL you requested could not be found."
                }
              }
            }
          }
        }
      },
      "methodNotAllowedErrorResponse" : {
        "description" : "This errorCode value appears if the method in the API request is known by the server but disabled for the API requested.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Method Not Allowed Error Response" : {
                "value" : {
                  "errorCode" : "METHOD_NOT_ALLOWED",
                  "message" : "This HTTP method is not allowed on this URL."
                }
              }
            }
          }
        }
      },
      "resourceSizeExceededErrorResponse" : {
        "description" : "This errorCode value appears if the size of the resource exceeds the limit defined by the server.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Resource Size Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "RESOURCE_SIZE_EXCEEDED",
                  "message" : "Attachment size is too large. The maximum size supported is 20 MB."
                }
              }
            }
          }
        }
      },
      "unSupportedMediaTypeErrorResponse" : {
        "description" : "This errorCode value appears if the server refuses the request as a result of receiving the input in an unsupported format.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unsupported Media Type Error Response" : {
                "value" : {
                  "errorCode" : "UNSUPPORTED_MEDIA_TYPE",
                  "message" : "The given content type is not supported. Please provide the input Content-Type as application/json"
                }
              }
            }
          }
        }
      },
      "unprocessableEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The value passed for the 'from' query parameter is invalid."
                }
              }
            }
          }
        }
      },
      "missingEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not contain the mandatory parameters for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The mandatory parameter 'permission' is missing"
                }
              }
            }
          }
        }
      },
      "thresholdExceedErrorResponse" : {
        "description" : "This errorCode value appears if the user sends too many requests within a given amount of time (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Threshold Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "THRESHOLD_EXCEEDED",
                  "message" : "The maximum number of API calls that can be made per day has been exceeded."
                }
              }
            }
          }
        }
      },
      "concurrentRateLimitExceededErrorResponse" : {
        "description" : "This errorCode value appears if the user fires too many requests in a simultaneous/concurrent manner (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Concurrent Rate Limit Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "TOO_MANY_REQUESTS",
                  "message" : "The maximum number of Concurrent API Calls that can be made has been exceeded."
                }
              }
            }
          }
        }
      },
      "internalErrorResponse" : {
        "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Internal Server Error Response" : {
                "value" : {
                  "errorCode" : "INTERNAL_SERVER_ERROR",
                  "message" : "An internal server error occurred while performing this operation."
                }
              }
            }
          }
        }
      },
      "licenseErrorResponse" : {
        "description" : "This errorCode value appears if the user is unable to perform an action due to the limitations of the Zoho Desk edition in use\nThe possible values for the feature key are\n    *AGENTS*\n    *LIGHT_AGENTS*\n    *TEAM*\nThe possible values for the editionType key are\n    *FREE*\n    *PROFESSIONAL*\n    *ENTERPRISE*",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "editionType", "feature", "isTrial", "maxAllowedEntity" ],
                "properties" : {
                  "maxAllowedEntity" : {
                    "pattern" : "([0-9]+)"
                  },
                  "feature" : {
                    "enum" : [ "AGENTS", "LIGHT_AGENTS", "TEAM" ]
                  },
                  "editionType" : {
                    "enum" : [ "ENTERPRISE", "PROFESSIONAL", "STANDARD", "EXPRESS", "FREE" ]
                  },
                  "isTrial" : { }
                }
              } ]
            },
            "examples" : {
              "LicenseAccessLimited Error Response" : {
                "value" : {
                  "errorCode" : "LICENSE_ACCESS_LIMITED",
                  "maxAllowedEntity" : "10",
                  "feature" : "AGENTS",
                  "editionType" : "FREE",
                  "isTrial" : false,
                  "message" : "Your Zoho Desk Edition does not support this feature/operation."
                }
              }
            }
          }
        }
      },
      "multipleUnprocessEntityResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "anyOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "additionalProperties" : { },
                "allOf" : [ {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                }, {
                  "required" : [ "errors" ],
                  "properties" : {
                    "errors" : {
                      "items" : {
                        "required" : [ "errorMessage", "errorType", "fieldName" ],
                        "properties" : {
                          "fieldName" : { },
                          "errorType" : {
                            "enum" : [ "invalid", "duplicate", "missing" ]
                          },
                          "errorMessage" : { }
                        }
                      }
                    }
                  }
                } ]
              } ]
            }
          }
        }
      },
      "invalidDataErrorResponse" : {
        "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "errors" ],
                "properties" : {
                  "errors" : {
                    "items" : {
                      "required" : [ "errorMessage", "errorType", "fieldName" ],
                      "properties" : {
                        "fieldName" : { },
                        "errorType" : {
                          "enum" : [ "invalid", "duplicate", "missing" ]
                        },
                        "errorMessage" : { }
                      }
                    }
                  }
                }
              } ]
            },
            "examples" : {
              "Invalid Data Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_DATA",
                  "message" : "The data does not comply to the validation restrictions defined.",
                  "errors" : [ {
                    "fieldName" : "/contactId",
                    "errorType" : "invalid"
                  }, {
                    "fieldName" : "/departmentId",
                    "errorType" : "invalid"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "parameters" : {
      "channelCode" : {
        "name" : "channelCode",
        "in" : "path",
        "description" : "",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "maxLength" : 100,
          "minLength" : 0,
          "pattern" : "([a-zA-Z0-9_\\-]+)",
          "description" : ""
        }
      },
      "orgId" : {
        "name" : "orgId",
        "in" : "query",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "([0-9]+)",
          "format" : "int32",
          "x-custom-parameters-attributes" : { }
        }
      },
      "portalId" : {
        "name" : "portalId",
        "in" : "query",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "([a-zA-Z0-9\\-\\:])+",
          "format" : "int32",
          "x-custom-parameters-attributes" : {
            "decrypt" : true
          }
        }
      }
    },
    "securitySchemes" : {
      "cookie-auth" : {
        "type" : "apiKey",
        "name" : "X-CSRF-TOKEN",
        "in" : "cookie"
      },
      "org-oauth" : {
        "type" : "oauth2",
        "description" : "Org OAuth description",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "/oauth/v2/org/auth",
            "tokenUrl" : "/oauth/v2/token",
            "scopes" : {
              "Desk.accessAll.ALL" : "All Operations on data generated by Zoho Desk"
            }
          }
        }
      },
      "jwt-oauth" : {
        "type" : "oauth2",
        "description" : "Org OAuth description",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "/oauth/v2/org/auth",
            "tokenUrl" : "/oauth/v2/token",
            "scopes" : {
              "Desk.accessAll.ALL" : "All Operations on data generated by Zoho Desk"
            }
          }
        }
      },
      "iam-oauth2-schema" : {
        "type" : "oauth2",
        "description" : "Oauth description",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "/oauth/v2/auth",
            "tokenUrl" : "/oauth/v2/token",
            "scopes" : {
              "Desk.zia.create" : "CREATE Operations on data generated by ZIA",
              "Desk.zia.update" : "UPDATE Operations on data generated by ZIA",
              "Desk.zia.read" : "READ Operations on data generated by ZIA",
              "Desk.zia.delete" : "DELETE Operations on data generated by ZIA",
              "Desk.calls.create" : "CREATE operations on calls module",
              "Desk.calls.update" : "UPDATE operations on calls module",
              "Desk.calls.read" : "READ operations on calls module",
              "Desk.calls.delete" : "DELETE operations on calls module",
              "Desk.extensions.create" : "To create stored data, extension logs, and configuration params",
              "Desk.extensions.read" : "To read stored data, extension logs, and configuration params",
              "Desk.extensions.update" : "To update stored data, extension logs, and configuration params",
              "Desk.extensions.delete" : "To delete stored data, extension logs, and configuration params",
              "Desk.search.read" : "READ Search across data in your desk account.",
              "Desk.events.create" : "CREATE Desk events",
              "Desk.events.update" : "UPDATE Desk events",
              "Desk.events.read" : "READ Desk events",
              "Desk.events.delete" : "DELETE Desk events",
              "Desk.articles.create" : "CREATE Articles and its sub resources",
              "Desk.articles.update" : "UPDATE Articles and its sub resources",
              "Desk.articles.read" : "READ Articles and its sub resources",
              "Desk.articles.delete" : "DELETE Articles and its sub resources",
              "Desk.basic.create" : "CREATE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.update" : "UPDATE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.read" : "READ Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.delete" : "DELETE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.tasks.create" : "CREATE Tasks and its sub resources",
              "Desk.tasks.read" : "READ Tasks and its sub resources",
              "Desk.tasks.update" : "UPDATE Tasks and its sub resources",
              "Desk.tasks.delete" : "DELETE Tasks and its sub resources",
              "Desk.settings.create" : "CREATE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.update" : "UPDATE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.read" : "READ All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.delete" : "DELETE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.contacts.create" : "CREATE Contacts and its sub resources",
              "Desk.contacts.update" : "UPDATE Contacts and its sub resources",
              "Desk.contacts.read" : "READ Contacts and its sub resources",
              "Desk.contacts.delete" : "DELETE Contacts and its sub resources",
              "Desk.feeds.create" : "CREATE Feeds resource",
              "Desk.feeds.update" : "UPDATE Feeds resource",
              "Desk.feeds.read" : "READ Feeds resource",
              "Desk.feeds.delete" : "DELETE Feeds resource",
              "Desk.tickets.create" : "CREATE Tickets and its sub resources",
              "Desk.tickets.update" : "UPDATE Tickets and its sub resources",
              "Desk.tickets.read" : "READ Tickets and its sub resources",
              "Desk.tickets.delete" : "DELETE Tickets and its sub resources",
              "Desk.phonebridge.read" : "READ phonebridge",
              "Desk.phonebridge.create" : "CREATE phonebridge",
              "Desk.community.create" : "CREATE Operations on community topics, comments and categories",
              "Desk.community.update" : "UPDATE Operations on community topics, comments and categories",
              "Desk.community.read" : "READ Operations on community topics, comments and categories",
              "Desk.community.delete" : "DELETE Operations on community topics, comments and categories",
              "Desk.imports" : "CUSTOM Grants access to import data into Zoho Desk modules",
              "Desk.exports" : "CUSTOM Scope for Zoho Desk Export API's for ZohoDesk Modules",
              "Desk.products.create" : "CREATE Allow operations on products",
              "Desk.products.update" : "UPDATE Allow operations on products",
              "Desk.products.read" : "READ Allow operations on products",
              "Desk.products.delete" : "DELETE Allow operations on products",
              "Desk.settings.extension.create" : "CREATE Allow access to all extension related data",
              "Desk.settings.extension.update" : "UPDATE Allow access to all extension related data",
              "Desk.settings.extension.read" : "READ Allow access to all extension related data",
              "Desk.settings.extension.delete" : "DELETE Allow access to all extension related data",
              "Desk.activities.create" : "CREATE To manage activities such as tasks, calls, events and its sub resources",
              "Desk.activities.read" : "READ To manage activities such as tasks, calls, events and its sub resources",
              "Desk.activities.update" : "UPDATE To manage activities such as tasks, calls, events and its sub resources",
              "Desk.activities.delete" : "DELETE To manage activities such as tasks, calls, events and its sub resources",
              "Desk.deskOembed.read" : "null",
              "Desk.integrations.create" : "Grants access to create integration related data",
              "Desk.integrations.update" : "Grants access to update integration related data",
              "Desk.integrations.read" : "Grants access to read integration related data",
              "Desk.integrations.delete" : "Grants access to delete integration related data"
            }
          }
        }
      }
    }
  },
  "x-entity" : "Channel"
}