{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "ChatTicket",
    "version" : "1.0.0",
    "x-clan-group" : "chat",
    "x-module-group" : "chat"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/chatTicket" : {
      "post" : {
        "tags" : [ "ChatTicket" ],
        "summary" : "Add Chat Ticket",
        "description" : "Add Chat Ticket",
        "operationId" : "addRequest",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "additionalProperties" : { },
                "allOf" : [ {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "assigneeId", "channel", "dueDate", "email", "language", "phone", "priority", "productId", "subject" ],
                      "properties" : {
                        "productId" : {
                          "pattern" : "([0-9]+)",
                          "description" : "ID of the product to which the ticket is mapped",
                          "format" : "int64"
                        },
                        "phone" : {
                          "maxLength" : 120,
                          "minLength" : 0,
                          "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                          "description" : "Phone number in the ticket",
                          "x-custom-parameters-attributes" : {
                            "filterMatchedContent" : true,
                            "replacementString" : ""
                          }
                        },
                        "subject" : {
                          "maxLength" : 1000,
                          "minLength" : 0,
                          "description" : "Subject of the ticket"
                        },
                        "dueDate" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                          "description" : "Due date for resolving the ticket"
                        },
                        "channel" : {
                          "description" : "Channel through which the ticket originated.",
                          "x-dynamic-enum" : true
                        },
                        "language" : {
                          "description" : "Language preference to set for the ticket",
                          "x-dynamic-enum" : true
                        },
                        "priority" : {
                          "description" : "Priority of the ticket",
                          "x-dynamic-enum" : true
                        },
                        "assigneeId" : {
                          "pattern" : "([0-9]+)",
                          "description" : "ID of agent to whom the ticket is assigned",
                          "format" : "int64"
                        },
                        "email" : {
                          "maxLength" : 150,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                          "description" : "Email ID in the ticket"
                        }
                      },
                      "additionalProperties" : false
                    }, {
                      "required" : [ "category", "cf", "classification", "customFields", "description", "status", "subCategory", "webUrl" ],
                      "properties" : {
                        "subCategory" : {
                          "x-dynamic-enum" : true,
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Subcategory of the ticket",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "cf" : {
                          "additionalProperties" : false
                        },
                        "customFields" : {
                          "additionalProperties" : false
                        },
                        "webUrl" : {
                          "maxLength" : 500,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "URL to access the resource",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "description" : {
                          "maxLength" : 65535,
                          "minLength" : 0,
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Description in the ticket",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "xss" : "antisamyfilter_custom",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "classification" : {
                          "x-dynamic-enum" : true,
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Type of ticket. Values supported are @Problem@, @Request@, @Question@, and @Others@.",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "category" : {
                          "x-dynamic-enum" : true,
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Category of the ticket",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "status" : {
                          "x-dynamic-enum" : true,
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Status of the ticket. Includes the custom statuses configured in your help desk portal.",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        }
                      }
                    } ]
                  }, {
                    "required" : [ "contactId", "departmentId" ],
                    "properties" : {
                      "contactId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the contact who raised the ticket",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "entity" : "Contacts"
                        }
                      },
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the department to which the ticket belongs",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "entity" : "Departments"
                        }
                      }
                    }
                  } ]
                }, {
                  "properties" : {
                    "encryptedChatId" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "Unique Chat ID"
                    },
                    "isActiveChat" : {
                      "description" : "Online chat or Missed chat"
                    }
                  }
                }, {
                  "required" : [ "contactId", "departmentId", "encryptedChatId", "status", "subject" ]
                } ]
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "subCategory" : "Sub General",
                    "productId" : "",
                    "contactId" : "1892000000042032",
                    "subject" : "Real Time analysis Requirement",
                    "customFields" : {
                      "secondaryEmail" : null,
                      "ModelName" : "F3 2017",
                      "severityPercentage" : "0.0",
                      "phone" : null,
                      "numberOfItems" : null,
                      "dateofPurchase" : null,
                      "permanentAddress" : null,
                      "url" : null
                    },
                    "dueDate" : 1466525776000,
                    "departmentId" : "1892000000006907",
                    "channel" : "Email",
                    "description" : "Hai This is Description",
                    "priority" : "High",
                    "classification" : "",
                    "assigneeId" : "1892000000056007",
                    "phone" : "1 888 900 9646",
                    "category" : "general",
                    "email" : "carol@zylker.com",
                    "status" : "Open"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "chatresponsejson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "additionalProperties" : { },
                      "allOf" : [ {
                        "additionalProperties" : false,
                        "allOf" : [ {
                          "required" : [ "assigneeId", "channel", "dueDate", "email", "language", "phone", "priority", "productId", "subject" ],
                          "properties" : {
                            "productId" : {
                              "pattern" : "([0-9]+)",
                              "description" : "ID of the product to which the ticket is mapped",
                              "format" : "int64"
                            },
                            "phone" : {
                              "maxLength" : 120,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                              "description" : "Phone number in the ticket",
                              "x-custom-parameters-attributes" : {
                                "filterMatchedContent" : true,
                                "replacementString" : ""
                              }
                            },
                            "subject" : {
                              "maxLength" : 1000,
                              "minLength" : 0,
                              "description" : "Subject of the ticket"
                            },
                            "dueDate" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                              "description" : "Due date for resolving the ticket"
                            },
                            "channel" : {
                              "description" : "Channel through which the ticket originated.",
                              "x-dynamic-enum" : true
                            },
                            "language" : {
                              "description" : "Language preference to set for the ticket",
                              "x-dynamic-enum" : true
                            },
                            "priority" : {
                              "description" : "Priority of the ticket",
                              "x-dynamic-enum" : true
                            },
                            "assigneeId" : {
                              "pattern" : "([0-9]+)",
                              "description" : "ID of agent to whom the ticket is assigned",
                              "format" : "int64"
                            },
                            "email" : {
                              "maxLength" : 150,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                              "description" : "Email ID in the ticket"
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "category", "cf", "classification", "customFields", "description", "status", "subCategory", "webUrl" ],
                          "properties" : {
                            "subCategory" : {
                              "x-dynamic-enum" : true,
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Subcategory of the ticket",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "cf" : {
                              "additionalProperties" : false
                            },
                            "customFields" : {
                              "additionalProperties" : false
                            },
                            "webUrl" : {
                              "maxLength" : 500,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "URL to access the resource",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "description" : {
                              "maxLength" : 65535,
                              "minLength" : 0,
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Description in the ticket",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "xss" : "antisamyfilter_custom",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "classification" : {
                              "x-dynamic-enum" : true,
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Type of ticket. Values supported are @Problem@, @Request@, @Question@, and @Others@.",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "category" : {
                              "x-dynamic-enum" : true,
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Category of the ticket",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "status" : {
                              "x-dynamic-enum" : true,
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Status of the ticket. Includes the custom statuses configured in your help desk portal.",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            }
                          }
                        } ]
                      }, {
                        "required" : [ "accountId", "approvalCount", "attachmentCount", "channelCode", "channelRelatedInfo", "closedTime", "commentCount", "createdTime", "customerResponseTime", "departmentId", "entitySkills", "id", "isArchived", "isDeleted", "isEscalated", "isOverDue", "isResponseOverdue", "isSpam", "isTrashed", "modifiedBy", "modifiedTime", "onholdTime", "resolution", "responseDueDate", "secondaryContacts", "source", "statusType", "taskCount", "teamId", "threadCount", "ticketNumber", "timeEntryCount" ],
                        "properties" : {
                          "entitySkills" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "modifiedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Time of modifying the ticket",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "ticketNumber" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Index/Serial number of the ticket",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "statusType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "Open", "Closed", "On Hold" ],
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Type of ticket resolution status.The values supported are @OPEN@ and @ON HOLD@ and @CLOSED@.",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "isArchived" : { },
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "ID of the department to which the ticket belongs",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false,
                              "entity" : "Departments"
                            }
                          },
                          "onholdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "source" : {
                            "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                            "properties" : {
                              "appName" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "extId" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "permalink" : {
                                "maxLength" : 65535,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                              },
                              "appPhotoURL" : {
                                "maxLength" : 65535,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "uuid" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "resolution" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Resolution notes recorded in the ticket",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "closedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Time of closing the ticket",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "approvalCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Number of approvals associated with the ticket",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "timeEntryCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Number of time entries recorded in the ticket",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "isOverDue" : { },
                          "channelRelatedInfo" : {
                            "required" : [ "forumStatus", "isTopicDeleted", "sourceLink", "topicId", "topicType" ],
                            "properties" : {
                              "topicId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "isTopicDeleted" : { },
                              "forumStatus" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "NOSTATUS", "NEEDMOREINFO", "WORKINGONIT", "ANSWERED", "UNANSWERED", "MAYBELATER", "UNDERREVIEW", "IMPLEMENTED", "WILLNOTIMPLEMENT", "NOTAPROBLEM", "TEMPORARYFIX", "ANALYZING", "SOLVED", "UNSOLVED", "MOSTVOTED", "INPROGRESS", "" ]
                              },
                              "sourceLink" : {
                                "maxLength" : 255,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "topicType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "DISCUSSION", "QUESTION", "IDEA", "ANNOUNCEMENT", "PROBLEM" ]
                              }
                            },
                            "additionalProperties" : false
                          },
                          "isDeleted" : {
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Key that returns if the ticket is deleted or not",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "isTrashed" : {
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Field that denotes whether the ticket is in trash",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "responseDueDate" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Time of creating the ticket",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "modifiedBy" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "ID of the ticket",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "isResponseOverdue" : { },
                          "channelCode" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "customerResponseTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Time of receiving  customer response",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "threadCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Number of threads associated in the ticket",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "secondaryContacts" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : [ { } ]
                            }
                          },
                          "commentCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Number of comments in the ticket",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "accountId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "taskCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Number of tasks associated with the ticket",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "teamId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "ID of the team assigned to resolve the ticket",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "attachmentCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Number of attachments in the ticket",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "isEscalated" : { },
                          "isSpam" : { }
                        }
                      } ]
                    }, {
                      "required" : [ "contactId", "layoutDetails", "layoutId", "sharedDepartments", "slaId" ],
                      "properties" : {
                        "slaId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "contactId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "ID of the contact who raised the ticket",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false,
                            "entity" : "Contacts"
                          }
                        },
                        "sharedDepartments" : {
                          "items" : {
                            "required" : [ "id", "name", "type" ],
                            "properties" : {
                              "name" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "READ_ONLY", "READ_WRITE", "RESTRICTED_ACCESS" ]
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "layoutId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Layout of Ticket",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : true,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "layoutDetails" : {
                          "maxProperties" : 2,
                          "minProperties" : 2,
                          "required" : [ "id", "layoutName" ],
                          "properties" : {
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "layoutName" : {
                              "maxLength" : 120,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    } ]
                  }, {
                    "required" : [ "assignee", "channelRelatedInfo", "contactId", "layoutId", "sharedDepartments", "threadId" ],
                    "properties" : {
                      "threadId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "channelRelatedInfo" : {
                        "required" : [ "forumStatus", "isTopicDeleted", "sourceLink", "topicId", "topicType" ],
                        "properties" : {
                          "topicId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "isTopicDeleted" : { },
                          "forumStatus" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "NOSTATUS", "NEEDMOREINFO", "WORKINGONIT", "ANSWERED", "UNANSWERED", "MAYBELATER", "UNDERREVIEW", "IMPLEMENTED", "WILLNOTIMPLEMENT", "NOTAPROBLEM", "TEMPORARYFIX", "ANALYZING", "SOLVED", "UNSOLVED", "MOSTVOTED", "INPROGRESS", "" ]
                          },
                          "sourceLink" : {
                            "maxLength" : 255,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "topicType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "DISCUSSION", "QUESTION", "IDEA", "ANNOUNCEMENT", "PROBLEM" ]
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "contactId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the contact who raised the ticket",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false,
                          "entity" : "Contacts"
                        }
                      },
                      "assignee" : {
                        "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "ID of the ticket",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Email ID in the ticket",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "sharedDepartments" : {
                        "items" : {
                          "required" : [ "id", "name", "type" ],
                          "properties" : {
                            "name" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "READ_ONLY", "READ_WRITE", "RESTRICTED_ACCESS" ]
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "layoutId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Layout of Ticket",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : true,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1466513404000,
                      "ticketNumber" : "773",
                      "subCategory" : "Sub General",
                      "statusType" : "Open",
                      "subject" : "Real Time analysis Requirement",
                      "customFields" : {
                        "secondaryEmail" : null,
                        "ModelName" : "F3 2017",
                        "severityPercentage" : "0.0",
                        "phone" : null,
                        "numberOfItems" : null,
                        "dateofPurchase" : null,
                        "permanentAddress" : null,
                        "url" : null
                      },
                      "dueDate" : 1466535004573,
                      "departmentId" : "1892000000006907",
                      "channel" : "Email",
                      "onholdTime" : null,
                      "description" : "Hai This is description",
                      "resolution" : null,
                      "sharedDepartments" : [ ],
                      "closedTime" : null,
                      "sharedCount" : "0",
                      "approvalCount" : "0",
                      "timeEntryCount" : "0",
                      "channelRelatedInfo" : null,
                      "isDeleted" : "false",
                      "isTrashed" : false,
                      "createdTime" : 1466513404000,
                      "id" : "1892000001054003",
                      "email" : "carol@zylker.com",
                      "customerResponseTime" : 1383564067912,
                      "productId" : null,
                      "contactId" : "1892000000042032",
                      "threadCount" : "1",
                      "priority" : "High",
                      "classification" : null,
                      "assigneeId" : "1892000000056007",
                      "commentCount" : "0",
                      "taskCount" : "0",
                      "phone" : "1 888 900 9646",
                      "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Cases/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                      "attachmentCount" : "0",
                      "category" : "general",
                      "status" : "Open"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 100,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 1000,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 6000000,
                  "threshold" : 10000,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "chat",
          "apihash" : "8b6659728e38f41d95396abb5a22234b",
          "module-group" : "chat",
          "apimethod" : "com.zoho.support.restapi.ChatService.addRequest"
        }
      }
    },
    "/api/v1/chatTicket/{ticketId}/thread/{threadId}" : {
      "put" : {
        "tags" : [ "ChatTicket" ],
        "summary" : "Update Chat Thread",
        "description" : "Update Chat Thread",
        "operationId" : "updateThread",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "content" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "x-custom-parameters-attributes" : {
                      "xss" : "antisamyfilter"
                    }
                  },
                  "isActiveChat" : { }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "attachmentIds" : [ "1312123141313" ],
                    "content" : "This is the sample content of the threads",
                    "isActiveChat" : "true"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 100,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 1000,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 6000000,
                  "threshold" : 10000,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "chat",
          "apihash" : "0cc7fd31ff149217e0e87e9254959eef",
          "module-group" : "chat",
          "apimethod" : "com.zoho.support.restapi.ChatService.updateThread"
        }
      }
    },
    "/api/v1/chatTicket/{ticketId}/thread" : {
      "post" : {
        "tags" : [ "ChatTicket" ],
        "summary" : "Add Chat Thread",
        "description" : "Add Chat Thread",
        "operationId" : "addThread",
        "parameters" : [ {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "description", "email", "encryptedChatId", "isActiveChat" ],
                "properties" : {
                  "encryptedChatId" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "description" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "x-custom-parameters-attributes" : {
                      "xss" : "antisamyfilter"
                    }
                  },
                  "email" : {
                    "maxLength" : 150,
                    "minLength" : 0,
                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                  },
                  "isActiveChat" : { }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "encryptedChatId" : "123123abcd133a",
                    "description" : "This is the sample description of the threads",
                    "email" : "test@zylker.com",
                    "isActiveChat" : "true"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "addthreadresponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "threadId" ],
                  "properties" : {
                    "threadId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "threadId" : "123123123123"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 100,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 1000,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 6000000,
                  "threshold" : 10000,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "chat",
          "apihash" : "3324429e765df16916a3537aa955018f",
          "module-group" : "chat",
          "apimethod" : "com.zoho.support.restapi.ChatService.addThread"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "chatresponsejson" : {
        "description" : "chatresponsejson template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "additionalProperties" : false,
                "allOf" : [ {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "assigneeId", "channel", "dueDate", "email", "language", "phone", "priority", "productId", "subject" ],
                      "properties" : {
                        "productId" : {
                          "pattern" : "([0-9]+)",
                          "description" : "ID of the product to which the ticket is mapped",
                          "format" : "int64"
                        },
                        "phone" : {
                          "maxLength" : 120,
                          "minLength" : 0,
                          "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                          "description" : "Phone number in the ticket",
                          "x-custom-parameters-attributes" : {
                            "filterMatchedContent" : true,
                            "replacementString" : ""
                          }
                        },
                        "subject" : {
                          "maxLength" : 1000,
                          "minLength" : 0,
                          "description" : "Subject of the ticket"
                        },
                        "dueDate" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                          "description" : "Due date for resolving the ticket"
                        },
                        "channel" : {
                          "description" : "Channel through which the ticket originated.",
                          "x-dynamic-enum" : true
                        },
                        "language" : {
                          "description" : "Language preference to set for the ticket",
                          "x-dynamic-enum" : true
                        },
                        "priority" : {
                          "description" : "Priority of the ticket",
                          "x-dynamic-enum" : true
                        },
                        "assigneeId" : {
                          "pattern" : "([0-9]+)",
                          "description" : "ID of agent to whom the ticket is assigned",
                          "format" : "int64"
                        },
                        "email" : {
                          "maxLength" : 150,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                          "description" : "Email ID in the ticket"
                        }
                      },
                      "additionalProperties" : false
                    }, {
                      "required" : [ "category", "cf", "classification", "customFields", "description", "status", "subCategory", "webUrl" ],
                      "properties" : {
                        "subCategory" : {
                          "x-dynamic-enum" : true,
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Subcategory of the ticket",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "cf" : {
                          "additionalProperties" : false
                        },
                        "customFields" : {
                          "additionalProperties" : false
                        },
                        "webUrl" : {
                          "maxLength" : 500,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "URL to access the resource",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "description" : {
                          "maxLength" : 65535,
                          "minLength" : 0,
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Description in the ticket",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "xss" : "antisamyfilter_custom",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "classification" : {
                          "x-dynamic-enum" : true,
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Type of ticket. Values supported are @Problem@, @Request@, @Question@, and @Others@.",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "category" : {
                          "x-dynamic-enum" : true,
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Category of the ticket",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "status" : {
                          "x-dynamic-enum" : true,
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Status of the ticket. Includes the custom statuses configured in your help desk portal.",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        }
                      }
                    } ]
                  }, {
                    "required" : [ "accountId", "approvalCount", "attachmentCount", "channelCode", "channelRelatedInfo", "closedTime", "commentCount", "createdTime", "customerResponseTime", "departmentId", "entitySkills", "id", "isArchived", "isDeleted", "isEscalated", "isOverDue", "isResponseOverdue", "isSpam", "isTrashed", "modifiedBy", "modifiedTime", "onholdTime", "resolution", "responseDueDate", "secondaryContacts", "source", "statusType", "taskCount", "teamId", "threadCount", "ticketNumber", "timeEntryCount" ],
                    "properties" : {
                      "entitySkills" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Time of modifying the ticket",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "ticketNumber" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Index/Serial number of the ticket",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "statusType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "Open", "Closed", "On Hold" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Type of ticket resolution status.The values supported are @OPEN@ and @ON HOLD@ and @CLOSED@.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isArchived" : { },
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the department to which the ticket belongs",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false,
                          "entity" : "Departments"
                        }
                      },
                      "onholdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "source" : {
                        "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                        "properties" : {
                          "appName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "extId" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "permalink" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                          },
                          "appPhotoURL" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "uuid" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "resolution" : {
                        "maxLength" : 65535,
                        "minLength" : 0,
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Resolution notes recorded in the ticket",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "closedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Time of closing the ticket",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "approvalCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Number of approvals associated with the ticket",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "timeEntryCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Number of time entries recorded in the ticket",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isOverDue" : { },
                      "channelRelatedInfo" : {
                        "required" : [ "forumStatus", "isTopicDeleted", "sourceLink", "topicId", "topicType" ],
                        "properties" : {
                          "topicId" : {
                            "pattern" : "([0-9]+)",
[...]
