{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Client Action",
    "version" : "1.0.0",
    "x-clan-group" : "clientAction",
    "x-module-group" : "clientAction"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/clientActions" : {
      "get" : {
        "tags" : [ "ClientAction" ],
        "summary" : "Get all client actions",
        "description" : "With the help of this API, we can able to call get all client actions in a portal.",
        "operationId" : "getClientActions",
        "parameters" : [ {
          "name" : "components",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "The actual component names.",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "names",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "The client action names.",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "The number of custom buttons that need to be fetched.",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "from",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "The starting index number from which the custom buttons should be fetched.",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "locations",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "The locations where the components can be rendered or shown.",
            "enum" : [ "row_actions", "mass_actions" ],
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "modules",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Desk module API names.",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get Client Action Response Template Definition",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "component", "conditions", "id", "location", "name", "uiComponentMapping" ],
                        "properties" : {
                          "uiComponentMapping" : {
                            "required" : [ "component", "eventMappings", "id", "name", "propertiesValueMapping" ],
                            "properties" : {
                              "component" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "Specify the name of a valid, registered component that can be used in the UI.",
                                "x-custom-parameters-attributes" : { }
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "Name of the UI component.",
                                "x-custom-parameters-attributes" : { }
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "description" : "Unique identifier for the UI component mapping.",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : { }
                              },
                              "propertiesValueMapping" : {
                                "additionalProperties" : false,
                                "description" : "Define UI component properties such as labels and icons.",
                                "x-custom-parameters-attributes" : { }
                              },
                              "eventMappings" : {
                                "items" : {
                                  "required" : [ "payloadValueMapping", "sourceEvent", "targetEvent" ],
                                  "properties" : {
                                    "payloadValueMapping" : {
                                      "properties" : { },
                                      "additionalProperties" : false,
                                      "description" : "Data passed to the target event for execution. Note: You can pass only the configured property key values.",
                                      "x-custom-parameters-attributes" : { }
                                    },
                                    "sourceEvent" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "description" : "The event triggered by the component or a user interaction, such as buttonClick or iconClick.",
                                      "x-custom-parameters-attributes" : { }
                                    },
                                    "targetEvent" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "description" : "The event that should be triggered in response to a source event. For example, clicking the 'edit' icon (source event) triggers the opening of the edit page (target event).",
                                      "x-custom-parameters-attributes" : { }
                                    }
                                  },
                                  "additionalProperties" : false
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "component" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "description" : "Specify the name of a valid, registered component that can be used in the UI.",
                            "x-custom-parameters-attributes" : { }
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "description" : "Name of the UI component.",
                            "x-custom-parameters-attributes" : { }
                          },
                          "location" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "description" : "Location of the UI component.",
                            "enum" : [ "row_actions", "mass_actions" ],
                            "x-custom-parameters-attributes" : { }
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "description" : "Unique identifier for the UI component mapping.",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : { }
                          },
                          "conditions" : {
                            "required" : [ "fields", "pattern" ],
                            "properties" : {
                              "pattern" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "Defines a logical pattern formed by combining several conditions.",
                                "x-custom-parameters-attributes" : { }
                              },
                              "fields" : {
                                "uniqueItems" : false,
                                "description" : "Defines field-based conditions to execute or render the client action. Note: Refer to the Field condition data table for more information.",
                                "items" : {
                                  "maxProperties" : 3,
                                  "minProperties" : 3,
                                  "required" : [ "condition", "fieldName", "value" ],
                                  "properties" : {
                                    "fieldName" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "description" : "Name of the field that is to be used for the condition. Example: record.email",
                                      "x-custom-parameters-attributes" : { }
                                    },
                                    "value" : {
                                      "uniqueItems" : false,
                                      "description" : "Expected values for the condition.",
                                      "items" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "description" : "",
                                        "x-custom-parameters-attributes" : { }
                                      },
                                      "x-custom-parameters-attributes" : { }
                                    },
                                    "condition" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "description" : "Specifies the conditional operator.",
                                      "enum" : [ "is", "is not", "contains", "=", "does", "doesn't" ],
                                      "x-custom-parameters-attributes" : { }
                                    }
                                  },
                                  "additionalProperties" : false,
                                  "description" : "The condition field properties.",
                                  "x-custom-parameters-attributes" : { }
                                },
                                "x-custom-parameters-attributes" : { }
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : { }
                  }
                }
              }
            },
            "x-custom-response-attributes" : { }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "x-audience" : [ "company-internal" ]
      },
      "post" : {
        "tags" : [ "ClientAction" ],
        "summary" : "Create a client action",
        "description" : "With the help of this API, we can able to call create a client action in a portal.",
        "operationId" : "createClientAction",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "component", "name", "uiComponentMapping" ],
                "properties" : {
                  "uiComponentMapping" : {
                    "required" : [ "component", "name", "propertiesValueMapping" ],
                    "properties" : {
                      "component" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Specify the name of a valid, registered component that can be used in the UI.",
                        "x-custom-parameters-attributes" : { }
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Name of the UI component.",
                        "x-custom-parameters-attributes" : { }
                      },
                      "propertiesValueMapping" : {
                        "properties" : { },
                        "additionalProperties" : false,
                        "description" : "Define UI component properties such as labels and icons.",
                        "x-custom-parameters-attributes" : { }
                      },
                      "eventMappings" : {
                        "items" : {
                          "required" : [ "payloadValueMapping", "sourceEvent", "targetEvent" ],
                          "properties" : {
                            "payloadValueMapping" : {
                              "properties" : { },
                              "additionalProperties" : false,
                              "description" : "Data passed to the target event for execution. Note: You can pass only the configured property key values.",
                              "x-custom-parameters-attributes" : { }
                            },
                            "sourceEvent" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "The event triggered by the component or a user interaction, such as buttonClick or iconClick.",
                              "x-custom-parameters-attributes" : { }
                            },
                            "targetEvent" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "The event that should be triggered in response to a source event. For example, clicking the 'edit' icon (source event) triggers the opening of the edit page (target event).",
                              "x-custom-parameters-attributes" : { }
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "component" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Specify the name of a valid, registered component that can be used in the UI.",
                    "x-custom-parameters-attributes" : { }
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Name of the UI component.",
                    "x-custom-parameters-attributes" : { }
                  },
                  "location" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Location of the UI component.",
                    "enum" : [ "row_actions", "mass_actions" ],
                    "x-custom-parameters-attributes" : { }
                  },
                  "conditions" : {
                    "required" : [ "fields", "pattern" ],
                    "properties" : {
                      "pattern" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Defines a logical pattern formed by combining several conditions.",
                        "x-custom-parameters-attributes" : { }
                      },
                      "fields" : {
                        "uniqueItems" : false,
                        "description" : "Defines field-based conditions to execute or render the client action. Note: Refer to the Field condition data table for more information.",
                        "items" : {
                          "maxProperties" : 3,
                          "minProperties" : 3,
                          "required" : [ "condition", "fieldName", "value" ],
                          "properties" : {
                            "fieldName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "Name of the field that is to be used for the condition. Example: record.email",
                              "x-custom-parameters-attributes" : { }
                            },
                            "value" : {
                              "uniqueItems" : false,
                              "description" : "Expected values for the condition.",
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "",
                                "x-custom-parameters-attributes" : { }
                              },
                              "x-custom-parameters-attributes" : { }
                            },
                            "condition" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "Specifies the conditional operator.",
                              "enum" : [ "is", "is not", "contains", "=", "does", "doesn't" ],
                              "x-custom-parameters-attributes" : { }
                            }
                          },
                          "additionalProperties" : false,
                          "description" : "The condition field properties.",
                          "x-custom-parameters-attributes" : { }
                        },
                        "x-custom-parameters-attributes" : { }
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : { }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Client Action Response Template Definition",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "component", "conditions", "id", "location", "name", "uiComponentMapping" ],
                  "properties" : {
                    "uiComponentMapping" : {
                      "required" : [ "component", "eventMappings", "id", "name", "propertiesValueMapping" ],
                      "properties" : {
                        "component" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "Specify the name of a valid, registered component that can be used in the UI.",
                          "x-custom-parameters-attributes" : { }
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "Name of the UI component.",
                          "x-custom-parameters-attributes" : { }
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "description" : "Unique identifier for the UI component mapping.",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : { }
                        },
                        "propertiesValueMapping" : {
                          "additionalProperties" : false,
                          "description" : "Define UI component properties such as labels and icons.",
                          "x-custom-parameters-attributes" : { }
                        },
                        "eventMappings" : {
                          "items" : {
                            "required" : [ "payloadValueMapping", "sourceEvent", "targetEvent" ],
                            "properties" : {
                              "payloadValueMapping" : {
                                "properties" : { },
                                "additionalProperties" : false,
                                "description" : "Data passed to the target event for execution. Note: You can pass only the configured property key values.",
                                "x-custom-parameters-attributes" : { }
                              },
                              "sourceEvent" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "The event triggered by the component or a user interaction, such as buttonClick or iconClick.",
                                "x-custom-parameters-attributes" : { }
                              },
                              "targetEvent" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "The event that should be triggered in response to a source event. For example, clicking the 'edit' icon (source event) triggers the opening of the edit page (target event).",
                                "x-custom-parameters-attributes" : { }
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      },
                      "additionalProperties" : false
                    },
                    "component" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "Specify the name of a valid, registered component that can be used in the UI.",
                      "x-custom-parameters-attributes" : { }
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "Name of the UI component.",
                      "x-custom-parameters-attributes" : { }
                    },
                    "location" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "Location of the UI component.",
                      "enum" : [ "row_actions", "mass_actions" ],
                      "x-custom-parameters-attributes" : { }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "description" : "Unique identifier for the UI component mapping.",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : { }
                    },
                    "conditions" : {
                      "required" : [ "fields", "pattern" ],
                      "properties" : {
                        "pattern" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "Defines a logical pattern formed by combining several conditions.",
                          "x-custom-parameters-attributes" : { }
                        },
                        "fields" : {
                          "uniqueItems" : false,
                          "description" : "Defines field-based conditions to execute or render the client action. Note: Refer to the Field condition data table for more information.",
                          "items" : {
                            "maxProperties" : 3,
                            "minProperties" : 3,
                            "required" : [ "condition", "fieldName", "value" ],
                            "properties" : {
                              "fieldName" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "Name of the field that is to be used for the condition. Example: record.email",
                                "x-custom-parameters-attributes" : { }
                              },
                              "value" : {
                                "uniqueItems" : false,
                                "description" : "Expected values for the condition.",
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "description" : "",
                                  "x-custom-parameters-attributes" : { }
                                },
                                "x-custom-parameters-attributes" : { }
                              },
                              "condition" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "Specifies the conditional operator.",
                                "enum" : [ "is", "is not", "contains", "=", "does", "doesn't" ],
                                "x-custom-parameters-attributes" : { }
                              }
                            },
                            "additionalProperties" : false,
                            "description" : "The condition field properties.",
                            "x-custom-parameters-attributes" : { }
                          },
                          "x-custom-parameters-attributes" : { }
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : { }
                  }
                }
              }
            },
            "x-custom-response-attributes" : { }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "x-audience" : [ "company-internal" ]
      }
    },
    "/api/v1/clientActions/{clientActionId}" : {
      "get" : {
        "tags" : [ "ClientAction" ],
        "summary" : "Get a client action",
        "description" : "With the help of this API, we can able to call get a client action in a portal.",
        "operationId" : "getClientAction",
        "parameters" : [ {
          "name" : "clientActionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Client action id",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Client Action Response Template Definition",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "component", "conditions", "id", "location", "name", "uiComponentMapping" ],
                  "properties" : {
                    "uiComponentMapping" : {
                      "required" : [ "component", "eventMappings", "id", "name", "propertiesValueMapping" ],
                      "properties" : {
                        "component" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "Specify the name of a valid, registered component that can be used in the UI.",
                          "x-custom-parameters-attributes" : { }
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "Name of the UI component.",
                          "x-custom-parameters-attributes" : { }
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "description" : "Unique identifier for the UI component mapping.",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : { }
                        },
                        "propertiesValueMapping" : {
                          "additionalProperties" : false,
                          "description" : "Define UI component properties such as labels and icons.",
                          "x-custom-parameters-attributes" : { }
                        },
                        "eventMappings" : {
                          "items" : {
                            "required" : [ "payloadValueMapping", "sourceEvent", "targetEvent" ],
                            "properties" : {
                              "payloadValueMapping" : {
                                "properties" : { },
                                "additionalProperties" : false,
                                "description" : "Data passed to the target event for execution. Note: You can pass only the configured property key values.",
                                "x-custom-parameters-attributes" : { }
                              },
                              "sourceEvent" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "The event triggered by the component or a user interaction, such as buttonClick or iconClick.",
                                "x-custom-parameters-attributes" : { }
                              },
                              "targetEvent" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "The event that should be triggered in response to a source event. For example, clicking the 'edit' icon (source event) triggers the opening of the edit page (target event).",
                                "x-custom-parameters-attributes" : { }
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      },
                      "additionalProperties" : false
                    },
                    "component" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "Specify the name of a valid, registered component that can be used in the UI.",
                      "x-custom-parameters-attributes" : { }
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "Name of the UI component.",
                      "x-custom-parameters-attributes" : { }
                    },
                    "location" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "Location of the UI component.",
                      "enum" : [ "row_actions", "mass_actions" ],
                      "x-custom-parameters-attributes" : { }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "description" : "Unique identifier for the UI component mapping.",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : { }
                    },
                    "conditions" : {
                      "required" : [ "fields", "pattern" ],
                      "properties" : {
                        "pattern" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "Defines a logical pattern formed by combining several conditions.",
                          "x-custom-parameters-attributes" : { }
                        },
                        "fields" : {
                          "uniqueItems" : false,
                          "description" : "Defines field-based conditions to execute or render the client action. Note: Refer to the Field condition data table for more information.",
                          "items" : {
                            "maxProperties" : 3,
                            "minProperties" : 3,
                            "required" : [ "condition", "fieldName", "value" ],
                            "properties" : {
                              "fieldName" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "Name of the field that is to be used for the condition. Example: record.email",
                                "x-custom-parameters-attributes" : { }
                              },
                              "value" : {
                                "uniqueItems" : false,
                                "description" : "Expected values for the condition.",
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "description" : "",
                                  "x-custom-parameters-attributes" : { }
                                },
                                "x-custom-parameters-attributes" : { }
                              },
                              "condition" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "Specifies the conditional operator.",
                                "enum" : [ "is", "is not", "contains", "=", "does", "doesn't" ],
                                "x-custom-parameters-attributes" : { }
                              }
                            },
                            "additionalProperties" : false,
                            "description" : "The condition field properties.",
                            "x-custom-parameters-attributes" : { }
                          },
                          "x-custom-parameters-attributes" : { }
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : { }
                  }
                }
              }
            },
            "x-custom-response-attributes" : { }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "x-audience" : [ "company-internal" ]
      },
      "delete" : {
        "tags" : [ "ClientAction" ],
        "summary" : "Delete a client action",
        "description" : "With the help of this API, we can able to delete a client action in a portal.",
        "operationId" : "deleteClientAction",
        "parameters" : [ {
          "name" : "clientActionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Client action id",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "x-audience" : [ "company-internal" ]
      },
      "patch" : {
        "tags" : [ "ClientAction" ],
        "summary" : "Update a client action",
        "description" : "With the help of this API, we can able to call update a client action in a portal.",
        "operationId" : "updateClientAction",
        "parameters" : [ {
          "name" : "clientActionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Client action id",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "component", "name", "uiComponentMapping" ],
                "properties" : {
                  "uiComponentMapping" : {
                    "required" : [ "component", "id", "name", "propertiesValueMapping" ],
                    "properties" : {
                      "component" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Specify the name of a valid, registered component that can be used in the UI.",
                        "x-custom-parameters-attributes" : { }
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Name of the UI component.",
                        "x-custom-parameters-attributes" : { }
                      },
                      "propertiesValueMapping" : {
                        "additionalProperties" : false,
                        "description" : "Define UI component properties such as labels and icons.",
                        "x-custom-parameters-attributes" : { }
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "description" : "Unique identifier for the UI component mapping.",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : { }
                      },
                      "eventMappings" : {
                        "items" : {
                          "required" : [ "payloadValueMapping", "sourceEvent", "targetEvent" ],
                          "properties" : {
                            "payloadValueMapping" : {
                              "properties" : { },
                              "additionalProperties" : false,
                              "description" : "Data passed to the target event for execution. Note: You can pass only the configured property key values.",
                              "x-custom-parameters-attributes" : { }
                            },
                            "sourceEvent" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "The event triggered by the component or a user interaction, such as buttonClick or iconClick.",
                              "x-custom-parameters-attributes" : { }
                            },
                            "targetEvent" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "The event that should be triggered in response to a source event. For example, clicking the 'edit' icon (source event) triggers the opening of the edit page (target event).",
                              "x-custom-parameters-attributes" : { }
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "component" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Specify the name of a valid, registered component that can be used in the UI.",
                    "x-custom-parameters-attributes" : { }
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Name of the UI component.",
                    "x-custom-parameters-attributes" : { }
                  },
                  "location" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Location of the UI component.",
                    "enum" : [ "row_actions", "mass_actions" ],
                    "x-custom-parameters-attributes" : { }
                  },
                  "conditions" : {
                    "required" : [ "fields", "pattern" ],
                    "properties" : {
                      "pattern" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Defines a logical pattern formed by combining several conditions.",
                        "x-custom-parameters-attributes" : { }
                      },
                      "fields" : {
                        "uniqueItems" : false,
                        "description" : "Defines field-based conditions to execute or render the client action. Note: Refer to the Field condition data table for more information.",
                        "items" : {
                          "maxProperties" : 3,
                          "minProperties" : 3,
                          "required" : [ "condition", "fieldName", "value" ],
                          "properties" : {
                            "fieldName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "Name of the field that is to be used for the condition. Example: record.email",
                              "x-custom-parameters-attributes" : { }
                            },
                            "value" : {
                              "uniqueItems" : false,
                              "description" : "Expected values for the condition.",
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "",
                                "x-custom-parameters-attributes" : { }
                              },
                              "x-custom-parameters-attributes" : { }
                            },
                            "condition" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "Specifies the conditional operator.",
                              "enum" : [ "is", "is not", "contains", "=", "does", "doesn't" ],
                              "x-custom-parameters-attributes" : { }
                            }
                          },
                          "additionalProperties" : false,
                          "description" : "The condition field properties.",
                          "x-custom-parameters-attributes" : { }
                        },
                        "x-custom-parameters-attributes" : { }
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : { }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Client Action Response Template Definition",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "component", "conditions", "id", "location", "name", "uiComponentMapping" ],
                  "properties" : {
                    "uiComponentMapping" : {
                      "required" : [ "component", "eventMappings", "id", "name", "propertiesValueMapping" ],
                      "properties" : {
                        "component" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "Specify the name of a valid, registered component that can be used in the UI.",
                          "x-custom-parameters-attributes" : { }
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "Name of the UI component.",
                          "x-custom-parameters-attributes" : { }
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "description" : "Unique identifier for the UI component mapping.",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : { }
                        },
                        "propertiesValueMapping" : {
                          "additionalProperties" : false,
                          "description" : "Define UI component properties such as labels and icons.",
                          "x-custom-parameters-attributes" : { }
                        },
                        "eventMappings" : {
                          "items" : {
                            "required" : [ "payloadValueMapping", "sourceEvent", "targetEvent" ],
                            "properties" : {
                              "payloadValueMapping" : {
                                "properties" : { },
                                "additionalProperties" : false,
                                "description" : "Data passed to the target event for execution. Note: You can pass only the configured property key values.",
                                "x-custom-parameters-attributes" : { }
                              },
                              "sourceEvent" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "The event triggered by the component or a user interaction, such as buttonClick or iconClick.",
                                "x-custom-parameters-attributes" : { }
                              },
                              "targetEvent" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "The event that should be triggered in response to a source event. For example, clicking the 'edit' icon (source event) triggers the opening of the edit page (target event).",
                                "x-custom-parameters-attributes" : { }
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      },
                      "additionalProperties" : false
                    },
                    "component" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "Specify the name of a valid, registered component that can be used in the UI.",
                      "x-custom-parameters-attributes" : { }
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "Name of the UI component.",
                      "x-custom-parameters-attributes" : { }
                    },
                    "location" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "Location of the UI component.",
                      "enum" : [ "row_actions", "mass_actions" ],
                      "x-custom-parameters-attributes" : { }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "description" : "Unique identifier for the UI component mapping.",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : { }
                    },
                    "conditions" : {
                      "required" : [ "fields", "pattern" ],
                      "properties" : {
                        "pattern" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "Defines a logical pattern formed by combining several conditions.",
                          "x-custom-parameters-attributes" : { }
                        },
                        "fields" : {
                          "uniqueItems" : false,
                          "description" : "Defines field-based conditions to execute or render the client action. Note: Refer to the Field condition data table for more information.",
                          "items" : {
                            "maxProperties" : 3,
                            "minProperties" : 3,
                            "required" : [ "condition", "fieldName", "value" ],
                            "properties" : {
                              "fieldName" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "Name of the field that is to be used for the condition. Example: record.email",
                                "x-custom-parameters-attributes" : { }
                              },
                              "value" : {
                                "uniqueItems" : false,
                                "description" : "Expected values for the condition.",
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "description" : "",
                                  "x-custom-parameters-attributes" : { }
                                },
                                "x-custom-parameters-attributes" : { }
                              },
                              "condition" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "Specifies the conditional operator.",
                                "enum" : [ "is", "is not", "contains", "=", "does", "doesn't" ],
                                "x-custom-parameters-attributes" : { }
                              }
                            },
                            "additionalProperties" : false,
                            "description" : "The condition field properties.",
                            "x-custom-parameters-attributes" : { }
                          },
                          "x-custom-parameters-attributes" : { }
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : { }
                  }
                }
              }
            },
            "x-custom-response-attributes" : { }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "x-audience" : [ "company-internal" ]
      }
    },
    "/api/v1/componentDefinition" : {
      "get" : {
        "tags" : [ "ComponentDefinition" ],
        "summary" : "Get component definitions",
        "description" : "With the help of this API, we can get all available component definitions with their properties, events, and locations.",
        "operationId" : "getComponentDefinitions",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Component Definitions Response Template Definition",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "required" : [ "displayLabel", "events", "locations", "name", "properties" ],
                    "properties" : {
                      "displayLabel" : {
                        "maxLength" : 255,
                        "minLength" : 0,
                        "description" : "Display label for the component",
                        "x-custom-parameters-attributes" : { }
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Name of the component",
                        "x-custom-parameters-attributes" : { }
                      },
                      "locations" : {
                        "description" : "Available locations for the component",
                        "items" : {
                          "required" : [ "allowedComponents", "displayLabel", "name" ],
                          "properties" : {
                            "displayLabel" : {
                              "maxLength" : 255,
                              "minLength" : 0,
                              "description" : "Display label for the location",
                              "x-custom-parameters-attributes" : { }
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "Name of the location",
                              "x-custom-parameters-attributes" : { }
                            },
                            "allowedComponents" : {
                              "description" : "List of allowed components in this location",
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "x-custom-parameters-attributes" : { }
                              },
                              "x-custom-parameters-attributes" : { }
                            }
                          },
                          "additionalProperties" : false
                        },
                        "x-custom-parameters-attributes" : { }
                      },
                      "properties" : {
                        "description" : "Properties of the component",
                        "items" : {
                          "required" : [ "displayLabel", "isMandatory", "name", "type" ],
                          "properties" : {
                            "displayLabel" : {
                              "maxLength" : 255,
                              "minLength" : 0,
                              "description" : "Display label for the property",
                              "x-custom-parameters-attributes" : { }
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "Type of the property",
                              "x-custom-parameters-attributes" : { }
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "Name of the property",
                              "x-custom-parameters-attributes" : { }
                            },
                            "maxLength" : {
                              "description" : "Maximum length allowed for the property",
                              "format" : "int32",
                              "x-custom-parameters-attributes" : { }
                            },
                            "isMandatory" : {
                              "description" : "Whether the property is mandatory",
                              "x-custom-parameters-attributes" : { }
                            },
                            "defaultValue" : {
                              "description" : "Default value of the property",
                              "x-custom-parameters-attributes" : { }
                            }
                          },
                          "additionalProperties" : false
                        },
                        "x-custom-parameters-attributes" : { }
                      },
                      "events" : {
                        "description" : "Events supported by the component",
                        "items" : {
                          "required" : [ "displayLabel", "name", "payload" ],
                          "properties" : {
                            "displayLabel" : {
                              "maxLength" : 255,
                              "minLength" : 0,
                              "description" : "Display label for the event",
                              "x-custom-parameters-attributes" : { }
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "Name of the event",
                              "x-custom-parameters-attributes" : { }
                            },
                            "payload" : {
                              "description" : "Payload data for the event",
                              "items" : {
                                "additionalProperties" : false,
                                "x-custom-parameters-attributes" : { }
                              },
                              "x-custom-parameters-attributes" : { }
                            }
                          },
                          "additionalProperties" : false
                        },
                        "x-custom-parameters-attributes" : { }
                      }
                    },
                    "additionalProperties" : { }
                  }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : [ ]
                  }
                }
              }
            },
            "x-custom-response-attributes" : { }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "x-audience" : [ "company-internal" ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "eventMappingPayload" : {
        "required" : [ "payloadValueMapping", "sourceEvent", "targetEvent" ],
        "properties" : {
          "payloadValueMapping" : {
            "properties" : { },
            "additionalProperties" : { },
            "description" : "Data passed to the target event for execution. Note: You can pass only the configured property key values.",
            "x-custom-parameters-attributes" : { }
          },
          "sourceEvent" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "The event triggered by the component or a user interaction, such as buttonClick or iconClick.",
            "x-custom-parameters-attributes" : { }
          },
          "targetEvent" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "The event that should be triggered in response to a source event. For example, clicking the 'edit' icon (source event) triggers the opening of the edit page (target event).",
            "x-custom-parameters-attributes" : { }
          }
        },
        "additionalProperties" : { }
      },
      "arrayOfEventMappings" : {
        "items" : {
          "required" : [ "payloadValueMapping", "sourceEvent", "targetEvent" ],
          "properties" : {
            "payloadValueMapping" : {
              "properties" : { },
              "additionalProperties" : false,
              "description" : "Data passed to the target event for execution. Note: You can pass only the configured property key values.",
              "x-custom-parameters-attributes" : { }
            },
            "sourceEvent" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "The event triggered by the component or a user interaction, such as buttonClick or iconClick.",
              "x-custom-parameters-attributes" : { }
            },
            "targetEvent" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "The event that should be triggered in response to a source event. For example, clicking the 'edit' icon (source event) triggers the opening of the edit page (target event).",
              "x-custom-parameters-attributes" : { }
            }
          },
          "additionalProperties" : false
        }
      },
      "conditionPayload" : {
        "required" : [ "fields", "pattern" ],
        "properties" : {
          "pattern" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Defines a logical pattern formed by combining several conditions.",
            "x-custom-parameters-attributes" : { }
          },
          "fields" : {
            "uniqueItems" : false,
            "description" : "Defines field-based conditions to execute or render the client action. Note: Refer to the Field condition data table for more information.",
            "items" : {
              "maxProperties" : 3,
              "minProperties" : 3,
              "required" : [ "condition", "fieldName", "value" ],
              "properties" : {
                "fieldName" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "description" : "Name of the field that is to be used for the condition. Example: record.email",
                  "x-custom-parameters-attributes" : { }
                },
                "value" : {
                  "uniqueItems" : false,
                  "description" : "Expected values for the condition.",
                  "items" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "",
                    "x-custom-parameters-attributes" : { }
                  },
                  "x-custom-parameters-attributes" : { }
                },
                "condition" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "description" : "Specifies the conditional operator.",
                  "enum" : [ "is", "is not", "contains", "=", "does", "doesn't" ],
                  "x-custom-parameters-attributes" : { }
                }
              },
              "additionalProperties" : { },
              "description" : "The condition field properties.",
              "x-custom-parameters-attributes" : { }
            },
            "x-custom-parameters-attributes" : { }
          }
        },
        "additionalProperties" : { }
      },
      "uiComponentMappingPayload" : {
        "required" : [ "component", "name", "propertiesValueMapping" ],
        "properties" : {
          "component" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Specify the name of a valid, registered component that can be used in the UI.",
            "x-custom-parameters-attributes" : { }
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Name of the UI component.",
            "x-custom-parameters-attributes" : { }
          },
          "propertiesValueMapping" : {
            "properties" : { },
            "additionalProperties" : { },
            "description" : "Define UI component properties such as labels and icons.",
            "x-custom-parameters-attributes" : { }
          },
          "eventMappings" : {
            "items" : {
              "required" : [ "payloadValueMapping", "sourceEvent", "targetEvent" ],
              "properties" : {
                "payloadValueMapping" : {
                  "properties" : { },
                  "additionalProperties" : false,
                  "description" : "Data passed to the target event for execution. Note: You can pass only the configured property key values.",
                  "x-custom-parameters-attributes" : { }
                },
                "sourceEvent" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "description" : "The event triggered by the component or a user interaction, such as buttonClick or iconClick.",
                  "x-custom-parameters-attributes" : { }
                },
                "targetEvent" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "description" : "The event that should be triggered in response to a source event. For example, clicking the 'edit' icon (source event) triggers the opening of the edit page (target event).",
                  "x-custom-parameters-attributes" : { }
                }
              },
              "additionalProperties" : false
            }
          }
        },
        "additionalProperties" : { }
      },
      "updateUiComponentMappingPayload" : {
        "required" : [ "component", "id", "name", "propertiesValueMapping" ],
        "properties" : {
          "component" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Specify the name of a valid, registered component that can be used in the UI.",
            "x-custom-parameters-attributes" : { }
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Name of the UI component.",
            "x-custom-parameters-attributes" : { }
          },
          "propertiesValueMapping" : {
            "additionalProperties" : false,
            "description" : "Define UI component properties such as labels and icons.",
            "x-custom-parameters-attributes" : { }
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "description" : "Unique identifier for the UI component mapping.",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          },
          "eventMappings" : {
            "items" : {
              "required" : [ "payloadValueMapping", "sourceEvent", "targetEvent" ],
              "properties" : {
                "payloadValueMapping" : {
                  "properties" : { },
                  "additionalProperties" : false,
                  "description" : "Data passed to the target event for execution. Note: You can pass only the configured property key values.",
                  "x-custom-parameters-attributes" : { }
                },
                "sourceEvent" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "description" : "The event triggered by the component or a user interaction, such as buttonClick or iconClick.",
                  "x-custom-parameters-attributes" : { }
                },
                "targetEvent" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "description" : "The event that should be triggered in response to a source event. For example, clicking the 'edit' icon (source event) triggers the opening of the edit page (target event).",
                  "x-custom-parameters-attributes" : { }
                }
              },
              "additionalProperties" : false
            }
          }
        },
        "additionalProperties" : { }
      },
      "uiComponentMappingResponse" : {
        "required" : [ "component", "eventMappings", "id", "name", "propertiesValueMapping" ],
        "properties" : {
          "component" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Specify the name of a valid, registered component that can be used in the UI.",
            "x-custom-parameters-attributes" : { }
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Name of the UI component.",
            "x-custom-parameters-attributes" : { }
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "description" : "Unique identifier for the UI component mapping.",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          },
          "propertiesValueMapping" : {
            "additionalProperties" : false,
            "description" : "Define UI component properties such as labels and icons.",
            "x-custom-parameters-attributes" : { }
          },
          "eventMappings" : {
            "items" : {
              "required" : [ "payloadValueMapping", "sourceEvent", "targetEvent" ],
              "properties" : {
                "payloadValueMapping" : {
                  "properties" : { },
                  "additionalProperties" : false,
                  "description" : "Data passed to the target event for execution. Note: You can pass only the configured property key values.",
                  "x-custom-parameters-attributes" : { }
                },
                "sourceEvent" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "description" : "The event triggered by the component or a user interaction, such as buttonClick or iconClick.",
                  "x-custom-parameters-attributes" : { }
                },
                "targetEvent" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "description" : "The event that should be triggered in response to a source event. For example, clicking the 'edit' icon (source event) triggers the opening of the edit page (target event).",
                  "x-custom-parameters-attributes" : { }
                }
              },
              "additionalProperties" : false
            }
          }
        },
        "additionalProperties" : { }
      },
      "clientActionResponseSchema" : {
        "required" : [ "component", "conditions", "id", "location", "name", "uiComponentMapping" ],
        "properties" : {
          "uiComponentMapping" : {
            "required" : [ "component", "eventMappings", "id", "name", "propertiesValueMapping" ],
            "properties" : {
              "component" : {
                "maxLength" : 100,
                "minLength" : 0,
                "description" : "Specify the name of a valid, registered component that can be used in the UI.",
                "x-custom-parameters-attributes" : { }
              },
              "name" : {
                "maxLength" : 100,
                "minLength" : 0,
                "description" : "Name of the UI component.",
                "x-custom-parameters-attributes" : { }
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "description" : "Unique identifier for the UI component mapping.",
                "format" : "int64",
                "x-custom-parameters-attributes" : { }
              },
              "propertiesValueMapping" : {
                "additionalProperties" : false,
                "description" : "Define UI component properties such as labels and icons.",
                "x-custom-parameters-attributes" : { }
              },
              "eventMappings" : {
                "items" : {
                  "required" : [ "payloadValueMapping", "sourceEvent", "targetEvent" ],
                  "properties" : {
                    "payloadValueMapping" : {
                      "properties" : { },
                      "additionalProperties" : false,
                      "description" : "Data passed to the target event for execution. Note: You can pass only the configured property key values.",
                      "x-custom-parameters-attributes" : { }
                    },
                    "sourceEvent" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "The event triggered by the component or a user interaction, such as buttonClick or iconClick.",
                      "x-custom-parameters-attributes" : { }
                    },
                    "targetEvent" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "The event that should be triggered in response to a source event. For example, clicking the 'edit' icon (source event) triggers the opening of the edit page (target event).",
                      "x-custom-parameters-attributes" : { }
                    }
                  },
                  "additionalProperties" : false
                }
              }
            },
            "additionalProperties" : false
          },
          "component" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Specify the name of a valid, registered component that can be used in the UI.",
            "x-custom-parameters-attributes" : { }
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Name of the UI component.",
            "x-custom-parameters-attributes" : { }
          },
          "location" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Location of the UI component.",
            "enum" : [ "row_actions", "mass_actions" ],
            "x-custom-parameters-attributes" : { }
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "description" : "Unique identifier for the UI component mapping.",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          },
          "conditions" : {
            "required" : [ "fields", "pattern" ],
            "properties" : {
              "pattern" : {
                "maxLength" : 100,
                "minLength" : 0,
                "description" : "Defines a logical pattern formed by combining several conditions.",
                "x-custom-parameters-attributes" : { }
              },
              "fields" : {
                "uniqueItems" : false,
                "description" : "Defines field-based conditions to execute or render the client action. Note: Refer to the Field condition data table for more information.",
                "items" : {
                  "maxProperties" : 3,
                  "minProperties" : 3,
                  "required" : [ "condition", "fieldName", "value" ],
                  "properties" : {
                    "fieldName" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "Name of the field that is to be used for the condition. Example: record.email",
                      "x-custom-parameters-attributes" : { }
                    },
                    "value" : {
                      "uniqueItems" : false,
                      "description" : "Expected values for the condition.",
                      "items" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "",
                        "x-custom-parameters-attributes" : { }
                      },
                      "x-custom-parameters-attributes" : { }
                    },
                    "condition" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "Specifies the conditional operator.",
                      "enum" : [ "is", "is not", "contains", "=", "does", "doesn't" ],
                      "x-custom-parameters-attributes" : { }
                    }
                  },
                  "additionalProperties" : false,
                  "description" : "The condition field properties.",
[...]
