{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Community",
    "version" : "1.0.0",
    "x-clan-group" : "helpCenter",
    "x-module-group" : "community"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/communityUsers/{communityUserId}/topics/moveToTrash" : {
      "post" : {
        "tags" : [ "Community" ],
        "summary" : "Trash all user topics",
        "description" : "This API is to trash all the topics of a user",
        "operationId" : "scheduleTrashAllUserTopics",
        "parameters" : [ {
          "name" : "communityUserId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "categoryId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the community category",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "categoryId" : "1000000012755"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "4cc974ccde38c53c2842c7b7b4a40bed",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.moderation.ModerationService.scheduleTrashUserTopics"
        }
      }
    },
    "/api/v1/community/statistics" : {
      "get" : {
        "tags" : [ "Community" ],
        "summary" : "Get community stats",
        "description" : "This API fetches the overall statistics related to the community module and displays them on the community dashboard.",
        "operationId" : "getStats",
        "parameters" : [ {
          "name" : "categoryIds",
          "in" : "query",
          "description" : "IDs of the community categories that must be included. This value can also be empty",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "IDs of the community categories that must be included. This value can also be empty",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "startTime",
          "in" : "query",
          "description" : "Starting time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "Starting time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone."
          }
        }, {
          "name" : "endTime",
          "in" : "query",
          "description" : "Ending time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "Ending time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone."
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getStats template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "commentsCount", "topicsCount", "uniqueUsersCount" ],
                  "properties" : {
                    "uniqueUsersCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "topicsCount" : {
                      "required" : [ "ANNOUNCEMENT", "DISCUSSION", "IDEA", "PROBLEM", "QUESTION" ],
                      "properties" : {
                        "ANNOUNCEMENT" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "DISCUSSION" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "IDEA" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "PROBLEM" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "QUESTION" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "commentsCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "uniqueUsersCount" : "2",
                      "topicsCount" : {
                        "ANNOUNCEMENT" : "0",
                        "DISCUSSION" : "0",
                        "IDEA" : "0",
                        "PROBLEM" : "1",
                        "QUESTION" : "23"
                      },
                      "commentsCount" : "21"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "606a9689b98df58d915ef541b894e09a",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.reports.CommunityReportService.getStats"
        }
      }
    },
    "/api/v1/community/trashAllAwaitingComments" : {
      "post" : {
        "tags" : [ "Community" ],
        "summary" : "Trash all comments pending moderation",
        "description" : "This API moves all comments that are pending moderation to trash of your help desk portal.",
        "operationId" : "scheduleBulkTrashOfAwaitingComments",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "categoryId" ],
                "properties" : {
                  "categoryId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the community category",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "categoryId" : "1000000012755"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.UPDATE", "Desk.community.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "fd794f4c50ba2cfa5ef3f821cc03382a",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.moderation.ModerationService.scheduleBulkTrashOfAwaitingComments"
        }
      }
    },
    "/api/v1/community/topicResponseTrend" : {
      "get" : {
        "tags" : [ "Community" ],
        "summary" : "Get topic response trend",
        "description" : "This API displays the trends of topics and responses.",
        "operationId" : "getTopicResponseTrend",
        "parameters" : [ {
          "name" : "categoryIds",
          "in" : "query",
          "description" : "IDs of the community categories that must be included. This value can also be empty",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "IDs of the community categories that must be included. This value can also be empty",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "startTime",
          "in" : "query",
          "description" : "Starting time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "Starting time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone."
          }
        }, {
          "name" : "endTime",
          "in" : "query",
          "description" : "Ending time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "Ending time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone."
          }
        }, {
          "name" : "topicType",
          "in" : "query",
          "description" : "Topic type for which the trend must be generated. Values allowed are: @ANNOUNCEMENT@, @DISCUSSION@, @IDEA@, @PROBLEM@, and @QUESTION@. ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Topic type for which the trend must be generated. Values allowed are: @ANNOUNCEMENT@, @DISCUSSION@, @IDEA@, @PROBLEM@, and @QUESTION@. ",
            "enum" : [ "DISCUSSION", "QUESTION", "IDEA", "ANNOUNCEMENT", "PROBLEM" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getTopicResponseTrend template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "comments", "topics" ],
                  "properties" : {
                    "comments" : {
                      "items" : {
                        "required" : [ "count", "date" ],
                        "properties" : {
                          "date" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "topics" : {
                      "items" : {
                        "required" : [ "count", "date" ],
                        "properties" : {
                          "date" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "comments" : [ {
                        "date" : "2-Feb-2017",
                        "count" : "2"
                      }, {
                        "date" : "3-Feb-2017",
                        "count" : "3"
                      }, {
                        "date" : "4-Feb-2017",
                        "count" : "5"
                      }, {
                        "date" : "5-Feb-2017",
                        "count" : "8"
                      } ],
                      "topics" : [ {
                        "date" : "2-Feb-2017",
                        "count" : "2"
                      }, {
                        "date" : "3-Feb-2017",
                        "count" : "3"
                      }, {
                        "date" : "4-Feb-2017",
                        "count" : "5"
                      }, {
                        "date" : "5-Feb-2017",
                        "count" : "8"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "f12af6a9c351c643d984ebbfab853bcc",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.reports.CommunityReportService.getTopicResponseTrend"
        }
      }
    },
    "/api/v1/community/topicTypeResponsiveness" : {
      "get" : {
        "tags" : [ "Community" ],
        "summary" : "Get label-wise topic count",
        "description" : "This API fetches the label-wise break-up of the total number of topics that are of a particular type.",
        "operationId" : "getTopicTypeResponsiveness",
        "parameters" : [ {
          "name" : "categoryIds",
          "in" : "query",
          "description" : "IDs of the community categories that must be included. This value can also be empty",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "IDs of the community categories that must be included. This value can also be empty",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "startTime",
          "in" : "query",
          "description" : "Starting time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "Starting time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone."
          }
        }, {
          "name" : "endTime",
          "in" : "query",
          "description" : "Ending time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "Ending time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone."
          }
        }, {
          "name" : "topicType",
          "in" : "query",
          "description" : "Topic type for which the statistics must be fetched. Values allowed are: @ANNOUNCEMENT@, @DISCUSSION@, @IDEA@, @PROBLEM@, and @QUESTION@.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Topic type for which the statistics must be fetched. Values allowed are: @ANNOUNCEMENT@, @DISCUSSION@, @IDEA@, @PROBLEM@, and @QUESTION@.",
            "enum" : [ "DISCUSSION", "QUESTION", "IDEA", "ANNOUNCEMENT", "PROBLEM" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getTopicTypeResponsivenessResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "required" : [ "labelWiseTopicsCount" ],
                    "properties" : {
                      "labelWiseTopicsCount" : {
                        "required" : [ "ANSWERED", "NEEDMOREINFO", "NOSTATUS", "UNANSWERED", "WORKINGONIT" ],
                        "properties" : {
                          "ANSWERED" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "NEEDMOREINFO" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "NOSTATUS" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "UNANSWERED" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "WORKINGONIT" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "labelWiseTopicsCount" ],
                    "properties" : {
                      "labelWiseTopicsCount" : {
                        "required" : [ "IMPLEMENTED", "MAYBELATER", "NOSTATUS", "UNDERREVIEW", "WILLNOTIMPLEMENT", "WORKINGONIT" ],
                        "properties" : {
                          "MAYBELATER" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "NOSTATUS" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "IMPLEMENTED" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "WILLNOTIMPLEMENT" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "WORKINGONIT" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "UNDERREVIEW" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "labelWiseTopicsCount" ],
                    "properties" : {
                      "labelWiseTopicsCount" : {
                        "required" : [ "ANALYZING", "NEEDMOREINFO", "NOSTATUS", "NOTAPROBLEM", "SOLVED", "TEMPORARYFIX", "UNSOLVED", "WORKINGONIT" ],
                        "properties" : {
                          "NOTAPROBLEM" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "UNSOLVED" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "ANALYZING" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "TEMPORARYFIX" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "NEEDMOREINFO" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "SOLVED" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "NOSTATUS" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "WORKINGONIT" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "labelWiseTopicsCount" ],
                    "properties" : {
                      "labelWiseTopicsCount" : {
                        "required" : [ "NOSTATUS" ],
                        "properties" : {
                          "NOSTATUS" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "labelWiseTopicsCount" : {
                        "ANSWERED" : "0",
                        "NEEDMOREINFO" : "1",
                        "NOSTATUS" : "22",
                        "WORKINGONIT" : "0"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "368bc48579aed83b47ef55c4ece68553",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.reports.CommunityReportService.getTopicTypeResponsiveness"
        }
      }
    },
    "/api/v1/communityTopics/{topicId}/attachments/{attachmentId}/content" : {
      "get" : {
        "tags" : [ "Community" ],
        "summary" : "Get community topic attachment",
        "description" : "This API fetches a file attachment from a topic.",
        "operationId" : "getCommunityTopicAttachment",
        "parameters" : [ {
          "name" : "topicId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "attachmentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "File response",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "format" : "binary"
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.READ", "Desk.community.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "f4da4e88fdc3a0746fd5ce88c6214c45",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.attachments.AttachmentRestService.downloadTopicAttachment"
        }
      }
    },
    "/api/v1/community/approveAllSpamComments" : {
      "post" : {
        "tags" : [ "Community" ],
        "summary" : "Approve all spam comments",
        "description" : "This API approves all comments that are marked as spam in the user community.",
        "operationId" : "scheduleBulkApprovalOfSpamComments",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "categoryId" ],
                "properties" : {
                  "categoryId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the community category",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "categoryId" : "1000000012755"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.UPDATE", "Desk.community.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "c35d87349f10889072d9bdfe801d155f",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.moderation.ModerationService.scheduleBulkApprovalOfSpamComments"
        }
      }
    },
    "/api/v1/community/topicResponsiveness" : {
      "get" : {
        "tags" : [ "Community" ],
        "summary" : "Get topic responsiveness stats",
        "description" : "TThis API fetches statistics related to users responsiveness to topics in the community module.",
        "operationId" : "getTopicResponsiveness",
        "parameters" : [ {
          "name" : "categoryIds",
          "in" : "query",
          "description" : "IDs of the community categories that must be included. This value can also be empty",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "IDs of the community categories that must be included. This value can also be empty",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "startTime",
          "in" : "query",
          "description" : "Starting time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "Starting time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone."
          }
        }, {
          "name" : "endTime",
          "in" : "query",
          "description" : "Ending time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "Ending time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone."
          }
        }, {
          "name" : "topicType",
          "in" : "query",
          "description" : "Topic type for which the trend must be generated. Values allowed are: @ANNOUNCEMENT@, @DISCUSSION@, @IDEA@, @PROBLEM@, and @QUESTION@. ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Topic type for which the trend must be generated. Values allowed are: @ANNOUNCEMENT@, @DISCUSSION@, @IDEA@, @PROBLEM@, and @QUESTION@. ",
            "enum" : [ "DISCUSSION", "QUESTION", "IDEA", "ANNOUNCEMENT", "PROBLEM" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getTopicResponsiveness template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "topicResponsiveness" ],
                  "properties" : {
                    "topicResponsiveness" : {
                      "required" : [ "repliedTopicsCount", "unrepliedTopicsCount" ],
                      "properties" : {
                        "repliedTopicsCount" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "unrepliedTopicsCount" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "topicResponsiveness" : {
                        "repliedTopicsCount" : "3",
                        "unrepliedTopicsCount" : "21"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "4a24aa498fbe9792b21baa905f08f937",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.reports.CommunityReportService.getTopicResponsiveness"
        }
      }
    },
    "/api/v1/community/uniqueUsersParticipationTrend" : {
      "get" : {
        "tags" : [ "Community" ],
        "summary" : "Get unique users participation trend",
        "description" : "This API displays the trend related to participation of unique users.",
        "operationId" : "getUniqueUserParticipationTrend",
        "parameters" : [ {
          "name" : "categoryIds",
          "in" : "query",
          "description" : "IDs of the community categories that must be included. This value can also be empty",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "IDs of the community categories that must be included. This value can also be empty",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "startTime",
          "in" : "query",
          "description" : "Starting time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "Starting time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone."
          }
        }, {
          "name" : "endTime",
          "in" : "query",
          "description" : "Ending time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "Ending time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone."
          }
        }, {
          "name" : "topicType",
          "in" : "query",
          "description" : "Topic type for which the trend must be generated. Values allowed are: @ANNOUNCEMENT@, @DISCUSSION@, @IDEA@, @PROBLEM@, and @QUESTION@. ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Topic type for which the trend must be generated. Values allowed are: @ANNOUNCEMENT@, @DISCUSSION@, @IDEA@, @PROBLEM@, and @QUESTION@. ",
            "enum" : [ "DISCUSSION", "QUESTION", "IDEA", "ANNOUNCEMENT", "PROBLEM" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getUniqueUserParticipationTrend template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "uniqueUsersParticipation" ],
                  "properties" : {
                    "uniqueUsersParticipation" : {
                      "items" : {
                        "required" : [ "count", "date" ],
                        "properties" : {
                          "date" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "uniqueUsersParticipation" : [ {
                        "date" : "2-Feb-2017",
                        "count" : "2"
                      }, {
                        "date" : "3-Feb-2017",
                        "count" : "3"
                      }, {
                        "date" : "4-Feb-2017",
                        "count" : "5"
                      }, {
                        "date" : "5-Feb-2017",
                        "count" : "8"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "33610223a3baba94ef22f94ecc6c8071",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.reports.CommunityReportService.getUniqueUserParticipationTrend"
        }
      }
    },
    "/api/v1/community/trashAllSpamComments" : {
      "post" : {
        "tags" : [ "Community" ],
        "summary" : "Trash all spam comments",
        "description" : "This API moves all comments marked as spam to trash of your help desk portal.",
        "operationId" : "scheduleBulkTrashOfSpamComments",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "categoryId" ],
                "properties" : {
                  "categoryId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the community category",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "categoryId" : "1000000012755"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.UPDATE", "Desk.community.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "6940fc84f3509fb2008ebb857619007b",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.moderation.ModerationService.scheduleBulkTrashOfSpamComments"
        }
      }
    },
    "/api/v1/communityTopics/{topicId}/voters/trend" : {
      "get" : {
        "tags" : [ "Community" ],
        "summary" : "Topic voters trend",
        "description" : "To get trend of voters of a topic",
        "operationId" : "getCommunityTopicVotersTrend",
        "parameters" : [ {
          "name" : "startTime",
          "in" : "query",
          "description" : "Starting time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "Starting time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone."
          }
        }, {
          "name" : "endTime",
          "in" : "query",
          "description" : "Ending time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "Ending time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone."
          }
        }, {
          "name" : "topicId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "topicVoterTrendResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "topicVoterTrend" ],
                  "properties" : {
                    "topicVoterTrend" : {
                      "items" : {
                        "required" : [ "count", "date" ],
                        "properties" : {
                          "date" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "topicVoterTrend" : [ {
                        "date" : "May-2023",
                        "count" : "0"
                      }, {
                        "date" : "Jun-2023",
                        "count" : "0"
                      }, {
                        "date" : "Jul-2023",
                        "count" : "0"
                      }, {
                        "date" : "Aug-2023",
                        "count" : "0"
                      }, {
                        "date" : "Sep-2023",
                        "count" : "1"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.READ", "Desk.community.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 25,
                  "hip" : false
                }, {
                  "duration" : 1800000,
                  "lock-period" : 900000,
                  "threshold" : 300,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "a37b3bc3de14ce4193e90ee2bef1f339",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.reports.CommunityReportService.getTopicVoteTrend"
        }
      }
    },
    "/api/v1/community/topicTypeTrend" : {
      "get" : {
        "tags" : [ "Community" ],
        "summary" : "Get topic type trend",
        "description" : "This API displays the trend related to topic types (announcement, discussion, idea, problem, and question), on the community dashboard.",
        "operationId" : "getTopicTypeTrend",
        "parameters" : [ {
          "name" : "categoryIds",
          "in" : "query",
          "description" : "IDs of the community categories that must be included. This value can also be empty",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "IDs of the community categories that must be included. This value can also be empty",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "startTime",
          "in" : "query",
          "description" : "Starting time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "Starting time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone."
          }
        }, {
          "name" : "endTime",
          "in" : "query",
          "description" : "Ending time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "Ending time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone."
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getTopicTypeTrendResponse Response definitions",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "04c4551119555c62ae08271eb0e14f86",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.reports.CommunityReportService.getTopicTypeTrend"
        }
      }
    },
    "/api/v1/communityUsers/{communityUserId}/stats" : {
      "get" : {
        "tags" : [ "Community" ],
        "summary" : "Get community stats of user",
        "description" : "This API fetches the community-related statistics of a particular user.",
        "operationId" : "getStatsOfUser",
        "parameters" : [ {
          "name" : "startTime",
          "in" : "query",
          "description" : "Starting time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "Starting time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone."
          }
        }, {
          "name" : "endTime",
          "in" : "query",
          "description" : "Ending time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "Ending time of the time range for which the statistics should be fetched. The value must be expressed according to the GMT time zone."
          }
        }, {
          "name" : "categoryId",
          "in" : "query",
          "description" : "IDs of the community categories that must be included. This value can also be empty.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "IDs of the community categories that must be included. This value can also be empty.",
            "format" : "int64"
          }
        }, {
          "name" : "communityUserId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getStatsOfUser template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "followersCount", "postCount", "responseCount" ],
                  "properties" : {
                    "postCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "responseCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "followersCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "postCount" : "8",
                      "responseCount" : "8",
                      "followersCount" : "0"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.READ", "Desk.community.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "d0128de751078dec90e77bc3e78b8d95",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.reports.CommunityReportService.getStatsOfUser"
        }
      }
    },
    "/api/v1/communityTopics/{topicId}/moveToTrash" : {
      "post" : {
        "tags" : [ "Community" ],
        "summary" : "Trash community topic",
        "description" : "This API moves a forum topic to trash of your help desk portal.",
        "operationId" : "deleteCommunityTopic",
        "parameters" : [ {
          "name" : "topicId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.UPDATE", "Desk.community.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "0b733aedac0725089d8aaf1c99bbbff9",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.posts.TopicRestService.trashTopic"
        }
      }
    },
    "/api/v1/community/trashAllSpamTopics" : {
      "post" : {
        "tags" : [ "Community" ],
        "summary" : "Trash all spam topics",
        "description" : "This API moves all topics marked as spam to the trash of your help desk portal.",
        "operationId" : "scheduleBulkTrashOfSpamTopics",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "categoryId" ],
                "properties" : {
                  "categoryId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the community category",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "categoryId" : "1000000012755"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
[...]
