{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "CommunityTopic",
    "version" : "1.0.0",
    "x-clan-group" : "helpCenter",
    "x-module-group" : "community"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/communityTopics/{topicId}/unmoderate" : {
      "post" : {
        "tags" : [ "CommunityTopic" ],
        "summary" : "Unmoderate community topic",
        "description" : "This API helps unmoderate a forum topic, which means user comments are published without reviewing.",
        "operationId" : "unmoderateCommunityTopic",
        "parameters" : [ {
          "name" : "topicId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.UPDATE", "Desk.community.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "f0559914a17bd54474194832932e7adf",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.posts.TopicRestService.unmoderateTopic"
        }
      }
    },
    "/api/v1/communityTopics/{topicId}/ticket" : {
      "get" : {
        "tags" : [ "CommunityTopic" ],
        "summary" : "Get ticket associated with topic",
        "description" : "This API fetches the ticket created from a forum topic.",
        "operationId" : "getTicketForATopic",
        "parameters" : [ {
          "name" : "topicId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "getTicketForATopic template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "departmentId", "id", "isTrashed", "ticketNumber", "webUrl" ],
                  "properties" : {
                    "ticketNumber" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "isTrashed" : { },
                    "webUrl" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : "200"
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.READ", "Desk.community.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "e3f15402313c73ed537b2dcfe0983e01",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.posts.TopicRestService.getTicketForTopic"
        }
      }
    },
    "/api/v1/communityTopics" : {
      "get" : {
        "tags" : [ "CommunityTopic" ],
        "summary" : "List forum topics",
        "description" : "This API lists a particular number of forum topics, based on the limit defined.",
        "operationId" : "getAllCommunityTopics",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of topics to list",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of topics to list",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the topics must be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the topics must be listed",
            "format" : "int32"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Type of topics to list. Values allowed are: @ANNOUNCEMENT@, @DISCUSSION@, @IDEA@, @PROBLEM@, and @QUESTION@.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Type of topics to list. Values allowed are: @ANNOUNCEMENT@, @DISCUSSION@, @IDEA@, @PROBLEM@, and @QUESTION@.",
            "enum" : [ "QUESTION", "IDEA", "ANNOUNCEMENT", "PROBLEM", "DISCUSSION" ]
          }
        }, {
          "name" : "tagName",
          "in" : "query",
          "description" : "Tag by which topics must be filtered",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[A-Za-z0-9\\P{InBasicLatin}]+",
            "description" : "Tag by which topics must be filtered"
          }
        }, {
          "name" : "isSticky",
          "in" : "query",
          "description" : "Key that defines whether the topics to list must be sticky posts or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that defines whether the topics to list must be sticky posts or not"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "listAllTopics template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "bestCommentId", "categoryId", "commentCount", "createdTime", "creator", "id", "isLocked", "isSticky", "isVoted", "label", "latestCommentTime", "latestCommenter", "likeCount", "permalink", "portalUrl", "status", "subject", "summary", "type", "viewCount" ],
                        "properties" : {
                          "summary" : {
                            "maxLength" : 300,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "creator" : {
                            "required" : [ "contactId", "id", "label", "name", "photoUrl", "type" ],
                            "properties" : {
                              "photoUrl" : {
                                "maxLength" : 400,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "contactId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "name" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "label" : {
                                "required" : [ "id", "logoUrl", "name", "preferences" ],
                                "properties" : {
                                  "preferences" : {
                                    "required" : [ "bgColor", "shape", "textColor" ],
                                    "properties" : {
                                      "bgColor" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                        "description" : "background color of the label"
                                      },
                                      "shape" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "description" : "shape of the label",
                                        "enum" : [ "ROUNDED", "RECTANGLE" ]
                                      },
                                      "textColor" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                        "description" : "text color of the label"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "logoUrl" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "END_USER", "AGENT" ],
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Type of topic. Values allowed are: @ANNOUNCEMENT@, @DISCUSSION@, @IDEA@, @PROBLEM@, and @QUESTION@.",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "latestCommentTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "subject" : {
                            "maxLength" : 1000,
                            "minLength" : 0
                          },
                          "likeCount" : {
                            "minimum" : 0,
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "label" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Status label by which topics must be filtered. The value of this key varies according to the topic type. Values allowed are: @NOSTATUS@, @NEEDMOREINFO@, @WORKINGONIT@, @ANSWERED@, @UNANSWERED@, @MAYBELATER@, @UNDERREVIEW@, @IMPLEMENTED@, @WILLNOTIMPLEMENT@, @NOTAPROBLEM@, @TEMPORARYFIX@, @ANALYZING@, @SOLVED@, @UNSOLVED@, and @MOSTVOTED@.",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "isVoted" : { },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "QUESTION", "IDEA", "ANNOUNCEMENT", "PROBLEM", "DISCUSSION" ],
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Type of topics to list. Values allowed are: @ANNOUNCEMENT@, @DISCUSSION@, @IDEA@, @PROBLEM@, and @QUESTION@.",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "latestCommenter" : {
                            "required" : [ "contactId", "id", "label", "name", "photoUrl", "type" ],
                            "properties" : {
                              "photoUrl" : {
                                "maxLength" : 400,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "contactId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "name" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "label" : {
                                "required" : [ "id", "logoUrl", "name", "preferences" ],
                                "properties" : {
                                  "preferences" : {
                                    "required" : [ "bgColor", "shape", "textColor" ],
                                    "properties" : {
                                      "bgColor" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                        "description" : "background color of the label"
                                      },
                                      "shape" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "description" : "shape of the label",
                                        "enum" : [ "ROUNDED", "RECTANGLE" ]
                                      },
                                      "textColor" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                        "description" : "text color of the label"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "logoUrl" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "END_USER", "AGENT" ],
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Type of topics to list. Values allowed are: @ANNOUNCEMENT@, @DISCUSSION@, @IDEA@, @PROBLEM@, and @QUESTION@.",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "isSticky" : {
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Key that defines whether the topics to list must be sticky posts or not",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "bestCommentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "commentCount" : {
                            "minimum" : 0,
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "portalUrl" : {
                            "maxLength" : 255,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "isLocked" : { },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "viewCount" : {
                            "minimum" : 0,
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "permalink" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[a-z0-9\\/%\\-\\P{InBasicLatin}]+"
                          },
                          "categoryId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "ID of the community category from which the topics must be listed",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "DRAFT", "PUBLISHED", "SPAM", "AWAITINGAPPROVAL", "TRASHED" ]
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "summary" : "topic 2's description",
                        "creator" : {
                          "photoUrl" : "https://desk.zoho.com/api/v1/agents/7000000015971/photo?orgId=123456",
                          "name" : "user 1",
                          "id" : "7000000015971",
                          "label" : null,
                          "type" : "AGENT"
                        },
                        "latestCommentTime" : 1539682932716,
                        "subject" : "Topic 2",
                        "likeCount" : "1",
                        "label" : "NOSTATUS",
                        "isVoted" : true,
                        "type" : "QUESTION",
                        "latestCommenter" : null,
                        "isSticky" : false,
                        "commentCount" : "0",
                        "portalUrl" : "https://desk.zoho.com/portal/portalname/community/topictopic-2",
                        "createdTime" : 1539682932716,
                        "id" : "4000000019017",
                        "permalink" : "topic-2",
                        "categoryId" : "4000000000017",
                        "status" : "PUBLISHED"
                      }, {
                        "summary" : "Topic 1 description",
                        "creator" : {
                          "photoUrl" : "https://desk.zoho.com/api/v1/portalUser/7000000015971/photo?orgId=123456",
                          "name" : "user2",
                          "id" : "7000000015972",
                          "label" : {
                            "preferences" : {
                              "shape" : "RECTANGLE",
                              "bgColor" : "#23F123",
                              "textColor" : "#2CA123"
                            },
                            "name" : "Admin",
                            "id" : "6000000158001",
                            "logoUrl" : "https://desk.zoho.com/portal/api/publicImages/6000000158231?orgId=14132"
                          },
                          "type" : "END_USER"
                        },
                        "latestCommentTime" : 1539682906621,
                        "subject" : "Topic 1",
                        "likeCount" : "1",
                        "label" : "NOSTATUS",
                        "isVoted" : true,
                        "type" : "QUESTION",
                        "latestCommenter" : {
                          "photoUrl" : "https://desk.zoho.com/api/v1/agents/7000000015971/photo?orgId=123456",
                          "name" : "user 1",
                          "id" : "7000000015971",
                          "label" : {
                            "preferences" : {
                              "shape" : "RECTANGLE",
                              "bgColor" : "#23F123",
                              "textColor" : "#2CA123"
                            },
                            "name" : "Admin",
                            "id" : "6000000158001",
                            "logoUrl" : "https://desk.zoho.com/portal/api/publicImages/6000000158231?orgId=14132"
                          },
                          "type" : "AGENT"
                        },
                        "isSticky" : false,
                        "commentCount" : "2",
                        "portalUrl" : "https://desk.zoho.com/portal/portalname/community/topictopic-1",
                        "createdTime" : 1539682893202,
                        "id" : "4000000019003",
                        "permalink" : "topic-1",
                        "categoryId" : "4000000000017",
                        "status" : "PUBLISHED"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.READ", "Desk.community.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "b25fa79bd52fa8729fc4c0ef1b895985",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.posts.TopicRestService.getPublishedTopics"
        }
      },
      "post" : {
        "tags" : [ "CommunityTopic" ],
        "summary" : "Add community topic",
        "description" : "This API helps add a forum topic in the user community. ",
        "operationId" : "addCommunityTopic",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "additionalProperties" : { },
                "allOf" : [ {
                  "required" : [ "content", "subject", "type" ],
                  "properties" : {
                    "featuredImage" : {
                      "required" : [ "imageId" ],
                      "properties" : {
                        "imageId" : {
                          "pattern" : "([0-9]+)",
                          "description" : "ID of the public image",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "subject" : {
                      "maxLength" : 1000,
                      "minLength" : 0,
                      "description" : "Title of the topic"
                    },
                    "attachmentIds" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : [ { } ]
                      }
                    },
                    "type" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "Type of topic. Values allowed are: @ANNOUNCEMENT@, @DISCUSSION@, @IDEA@, @PROBLEM@, and @QUESTION@.",
                      "enum" : [ "QUESTION", "IDEA", "PROBLEM", "DISCUSSION" ]
                    },
                    "seo" : {
                      "required" : [ "description", "keywords", "title", "useTitleAsPageTitle" ],
                      "properties" : {
                        "keywords" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "SEO-specific keywords of the topic"
                        },
                        "useTitleAsPageTitle" : {
                          "description" : "Key that indicates whether to use the title as the page title or not."
                        },
                        "description" : {
                          "maxLength" : 150,
                          "minLength" : 0,
                          "description" : "SEO-specific description of the article"
                        },
                        "title" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "SEO-specific title of the topic"
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "{removeExif=false, replacementString=, antivirus=false, filterMatchedContent=false, description=SEO-specific description of the article, allowInvalid=false, secret=false, preserveCharsLimit=10, trim=false, internalParam=false, preserveChars=0,5, name=description, importUrl=false, decrypt=false}"
                    },
                    "content" : {
                      "maxLength" : 50000,
                      "minLength" : 0,
                      "description" : "Body content of the topic",
                      "x-custom-parameters-attributes" : {
                        "xss" : "antisamyfilter_custom"
                      }
                    }
                  },
                  "additionalProperties" : { }
                }, {
                  "required" : [ "categoryId" ],
                  "properties" : {
                    "mailTo" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                      }
                    },
                    "permalink" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[a-z0-9\\/%\\-\\P{InBasicLatin}]+",
                      "description" : "permalink of the topic to be created"
                    },
                    "isSticky" : {
                      "description" : "Key that defines whether the topic must be pinned to the topics list page or not"
                    },
                    "categoryId" : {
                      "pattern" : "([0-9]+)",
                      "description" : "ID of the community category in which the topic must be posted",
                      "format" : "int64"
                    },
                    "content" : {
                      "maxLength" : 50000,
                      "minLength" : 0,
                      "description" : "Body content of the topic",
                      "x-custom-parameters-attributes" : {
                        "xss" : "antisamyfilter_custom"
                      }
                    },
                    "notifyMe" : {
                      "description" : "Key that defines whether the creator of the topic must be notified about further user actions on the topic or not"
                    },
                    "tags" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "[A-Za-z0-9\\P{InBasicLatin}]+",
                        "x-custom-parameters-attributes" : [ { } ]
                      }
                    }
                  }
                }, {
                  "required" : [ "categoryId", "content", "subject", "type" ]
                } ]
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "featuredImage" : {
                      "imageId" : "1000000061105"
                    },
                    "subject" : "Topic 1",
                    "attachmentIds" : [ "4000000019027" ],
                    "mailTo" : [ "carol@zylker.com" ],
                    "type" : "QUESTION",
                    "seo" : {
                      "keywords" : "seo,search",
                      "useTitleAsPageTitle" : "true",
                      "description" : "seo description",
                      "title" : "seo title"
                    },
                    "isSticky" : "false",
                    "content" : "<div style=\"font-size: 13px; font-family: Arial, Helvetica, Verdana, sans-serif\"><div>Topic 1 dscription<br /></div></div>",
                    "categoryId" : "4000000000017",
                    "notifyMe" : "false",
                    "tags" : [ "tag1", "tag2" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "communityMangerTopicJSON template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "approvedBy", "approvedTime", "attachments", "bestCommentId", "categoryId", "commentCount", "content", "createdTime", "creator", "featuredImage", "followersCount", "id", "isFollowing", "isLocked", "isModerated", "isSticky", "isTicketCreated", "isVoted", "isVoted", "label", "likeCount", "mentions", "modifiedBy", "modifiedTime", "notifyMe", "participantsCount", "permalink", "portalUrl", "seo", "status", "subject", "tag", "type", "viewCount" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "participantsCount" : {
                      "minimum" : 0,
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "attachments" : {
                      "items" : {
                        "required" : [ "href", "id", "name", "size" ],
                        "properties" : {
                          "size" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "href" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "subject" : {
                      "maxLength" : 1000,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Title of the topic",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "isModerated" : { },
                    "approvedBy" : {
                      "required" : [ "contactId", "id", "label", "name", "photoUrl", "type" ],
                      "properties" : {
                        "photoUrl" : {
                          "maxLength" : 400,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "contactId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "name" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "label" : {
                          "required" : [ "id", "logoUrl", "name", "preferences" ],
                          "properties" : {
                            "preferences" : {
                              "required" : [ "bgColor", "shape", "textColor" ],
                              "properties" : {
                                "bgColor" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                  "description" : "background color of the label"
                                },
                                "shape" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "description" : "shape of the label",
                                  "enum" : [ "ROUNDED", "RECTANGLE" ]
                                },
                                "textColor" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                  "description" : "text color of the label"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "logoUrl" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "END_USER", "AGENT" ],
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Type of topic. Values allowed are: @ANNOUNCEMENT@, @DISCUSSION@, @IDEA@, @PROBLEM@, and @QUESTION@.",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        }
                      },
                      "additionalProperties" : false
                    },
                    "likeCount" : {
                      "minimum" : 0,
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "type" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "QUESTION", "IDEA", "ANNOUNCEMENT", "PROBLEM", "DISCUSSION" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Type of topic. Values allowed are: @ANNOUNCEMENT@, @DISCUSSION@, @IDEA@, @PROBLEM@, and @QUESTION@.",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "isSticky" : {
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Key that defines whether the topic must be pinned to the topics list page or not",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "content" : {
                      "maxLength" : 50000,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Body content of the topic",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "xss" : "antisamyfilter_custom",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "bestCommentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "isLocked" : { },
                    "approvedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "modifiedBy" : {
                      "required" : [ "contactId", "id", "label", "name", "photoUrl", "type" ],
                      "properties" : {
                        "photoUrl" : {
                          "maxLength" : 400,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "contactId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "name" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "label" : {
                          "required" : [ "id", "logoUrl", "name", "preferences" ],
                          "properties" : {
                            "preferences" : {
                              "required" : [ "bgColor", "shape", "textColor" ],
                              "properties" : {
                                "bgColor" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                  "description" : "background color of the label"
                                },
                                "shape" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "description" : "shape of the label",
                                  "enum" : [ "ROUNDED", "RECTANGLE" ]
                                },
                                "textColor" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                  "description" : "text color of the label"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "logoUrl" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "END_USER", "AGENT" ],
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Type of topic. Values allowed are: @ANNOUNCEMENT@, @DISCUSSION@, @IDEA@, @PROBLEM@, and @QUESTION@.",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        }
                      },
                      "additionalProperties" : false
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "viewCount" : {
                      "minimum" : 0,
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "tag" : {
                      "items" : {
                        "required" : [ "name", "permalink" ],
                        "properties" : {
                          "name" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "[A-Za-z0-9\\P{InBasicLatin}]+"
                          },
                          "permalink" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[a-zA-Z0-9%\\-._/?\\P{InBasicLatin}]*"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "seo" : {
                      "required" : [ "description", "keywords", "title", "useTitleAsPageTitle" ],
                      "properties" : {
                        "keywords" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "useTitleAsPageTitle" : { },
                        "description" : {
                          "maxLength" : 150,
                          "minLength" : 0
                        },
                        "title" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "isTicketCreated" : { },
                    "creator" : {
                      "required" : [ "contactId", "id", "label", "name", "photoUrl", "type" ],
                      "properties" : {
                        "photoUrl" : {
                          "maxLength" : 400,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "contactId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "name" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "label" : {
                          "required" : [ "id", "logoUrl", "name", "preferences" ],
                          "properties" : {
                            "preferences" : {
                              "required" : [ "bgColor", "shape", "textColor" ],
                              "properties" : {
                                "bgColor" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                  "description" : "background color of the label"
                                },
                                "shape" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "description" : "shape of the label",
                                  "enum" : [ "ROUNDED", "RECTANGLE" ]
                                },
                                "textColor" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                  "description" : "text color of the label"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "logoUrl" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "END_USER", "AGENT" ],
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Type of topic. Values allowed are: @ANNOUNCEMENT@, @DISCUSSION@, @IDEA@, @PROBLEM@, and @QUESTION@.",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        }
                      },
                      "additionalProperties" : false
                    },
                    "isFollowing" : { },
                    "isVoted" : { },
                    "label" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "commentCount" : {
                      "minimum" : 0,
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "featuredImage" : {
                      "required" : [ "imageId", "imageUrl", "name", "size" ],
                      "properties" : {
                        "imageId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "size" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "imageUrl" : {
                          "maxLength" : 255,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "name" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "portalUrl" : {
                      "maxLength" : 255,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "mentions" : {
                      "required" : [ "groups", "users" ],
                      "properties" : {
                        "groups" : {
                          "items" : {
                            "required" : [ "id", "logoUrl", "mentionStatus", "name", "offsets" ],
                            "properties" : {
                              "offsets" : {
                                "items" : {
                                  "required" : [ "length", "offset" ],
                                  "properties" : {
                                    "offset" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "length" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    }
                                  },
                                  "additionalProperties" : false
                                }
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "mentionStatus" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ACTIVE", "INACTIVE", "NOT_FOUND", "DELETED" ]
                              },
                              "logoUrl" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "users" : {
                          "items" : {
                            "required" : [ "id", "mentionStatus", "name", "offsets", "photoUrl", "type", "zuid" ],
                            "properties" : {
                              "photoUrl" : {
                                "maxLength" : 400,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "offsets" : {
                                "items" : {
                                  "required" : [ "length", "offset" ],
                                  "properties" : {
                                    "offset" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "length" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    }
                                  },
                                  "additionalProperties" : false
                                }
                              },
                              "name" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "END_USER", "AGENT" ],
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Type of topic. Values allowed are: @ANNOUNCEMENT@, @DISCUSSION@, @IDEA@, @PROBLEM@, and @QUESTION@.",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "mentionStatus" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ACTIVE", "INACTIVE", "NOT_FOUND", "DELETED" ]
                              },
                              "zuid" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "followersCount" : {
                      "minimum" : 0,
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "permalink" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[a-z0-9\\/%\\-\\P{InBasicLatin}]+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "permalink of the topic to be created",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "categoryId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the community category in which the topic must be posted",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "DRAFT", "PUBLISHED", "SPAM", "AWAITINGAPPROVAL", "TRASHED" ]
                    },
                    "notifyMe" : {
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Key that defines whether the creator of the topic must be notified about further user actions on the topic or not",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "attachments" : [ {
                        "size" : "1166",
                        "name" : "download.png",
                        "id" : "4000000019027",
                        "href" : "https://desk.zoho.com/api/v1/communityTopics/4000000019003/attachments/4000000019027/content?orgId=123456"
                      } ],
                      "subject" : "Topic 1",
                      "isModerated" : false,
                      "likeCount" : "1",
                      "type" : "QUESTION",
                      "isSticky" : false,
                      "content" : "<div style=\"font-size: 13px; font-family: Arial, Helvetica, Verdana, sans-serif\"><div>Topic 1 dscription<br /></div></div>",
                      "bestCommentId" : null,
                      "isLocked" : false,
                      "createdTime" : 1539682893202,
                      "tag" : [ {
                        "name" : "tag1",
                        "permalink" : "tag1"
                      }, {
                        "name" : "tag2",
                        "permalink" : "tag2"
                      } ],
                      "id" : "4000000019003",
                      "viewCount" : "1",
                      "seo" : {
                        "keywords" : "seo,search",
                        "useTitleAsPageTitle" : "true",
                        "description" : "seo description",
                        "title" : "seo title"
                      },
                      "isTicketCreated" : false,
                      "creator" : {
                        "photoUrl" : "https://desk.zoho.com/api/v1/agents/7000000015971/photo?orgId=123456",
                        "name" : "user 1",
                        "id" : "7000000015971",
                        "type" : "AGENT"
                      },
                      "isFollowing" : false,
                      "label" : "NOSTATUS",
                      "isVoted" : true,
                      "commentCount" : "2",
                      "featuredImage" : {
                        "imageId" : "1000000061105",
                        "size" : "2048",
                        "imageUrl" : "https://desk.zoho.com/portal/api/publicImages/42065000003493086?portalId=edbsnfb8166209e6d0025b777b9d90768028d52a6ee08bbb27b1e0f251800c89a48d9",
                        "name" : "social_image.jpg"
                      },
                      "portalUrl" : "https://desk.zoho.com/portal/portalname/community/topictopic-1",
                      "followersCount" : "0",
                      "permalink" : "topic-1",
                      "categoryId" : "4000000000017",
                      "status" : "PUBLISHED",
                      "notifyMe" : false
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.CREATE", "Desk.community.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "464c1b048e08bd7b2ea6163e09ca4517",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.posts.TopicRestService.addTopic"
        }
      },
      "delete" : {
        "tags" : [ "CommunityTopic" ],
        "summary" : "Permanently delete trashed community topics",
        "description" : "This API permanently deletes forum topics from the trash.",
        "operationId" : "deleteTrashedCommunityTopics",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "topicIds" ],
                "properties" : {
                  "topicIds" : {
                    "minItems" : 1,
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "topicIds" : [ "103417000000528003", "103417000000528006", "103417000000528008" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "massActionListView template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "results" ],
                  "properties" : {
                    "results" : {
                      "items" : {
                        "required" : [ "errors", "id", "success" ],
                        "properties" : {
                          "success" : { },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "errors" : {
                            "required" : [ "errorCode", "httpCode" ],
                            "properties" : {
                              "errorCode" : {
                                "enum" : [ "UNPROCESSABLE_ENTITY", "UNAUTHORIZED", "FORBIDDEN", "INVALID_DATA", "SCHEDULED", "SUCCESS" ]
                              },
                              "httpCode" : {
                                "enum" : [ "401", "403", "422", "202", "200", 401, 403, 422, 202, 200 ]
                              },
                              "errorMessage" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "errorJson" : {
                                "additionalProperties" : false
                              },
                              "error" : {
                                "maxLength" : 250,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "results" : [ {
                        "success" : true,
                        "id" : "7000000027223",
                        "errors" : null
                      }, {
                        "success" : false,
                        "id" : "7000000043968",
                        "errors" : {
                          "errorCode" : "UNPROCESSABLE_ENTITY",
                          "httpCode" : "422"
                        }
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.DELETE", "Desk.community.DELETE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "88296fbe9704a46969fa5998914b0b7b",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.posts.TopicRestService.deleteTopics"
        }
      }
    },
    "/api/v1/communityTopics/{topicId}/associateTags" : {
      "post" : {
        "tags" : [ "CommunityTopic" ],
        "summary" : "Associate tags to community topic",
        "description" : "This API associates quick access/reference tags to a forum topic.",
        "operationId" : "addTagsToCommunityTopic",
        "parameters" : [ {
          "name" : "topicId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "tags" ],
                "properties" : {
                  "tags" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[A-Za-z0-9\\P{InBasicLatin}]+"
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "tags" : [ "tag1", "tag2" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "associateTagsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "required" : [ "name", "permalink" ],
                    "properties" : {
                      "name" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "[A-Za-z0-9\\P{InBasicLatin}]+"
                      },
                      "permalink" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "[a-zA-Z0-9%\\-._/?\\P{InBasicLatin}]*"
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "examples" : {
                  "Valid responses Definitions" : {
[...]
