{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "CommunityCategory",
    "version" : "1.0.0",
    "x-clan-group" : "helpCenter",
    "x-module-group" : "community"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/communityCategory/{categoryId}/permalinks" : {
      "get" : {
        "tags" : [ "CommunityCategory" ],
        "summary" : "Get permalinks of category or forum",
        "description" : "This API fetches all permalinks of a community category or forum.",
        "operationId" : "getAllPermalinksOfCategory",
        "parameters" : [ {
          "name" : "categoryId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "communityCategorySecondaryPermalinks template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "primaryPermalink", "secondaryPermalinks" ],
                  "properties" : {
                    "primaryPermalink" : {
                      "maxLength" : 250,
                      "minLength" : 0,
                      "pattern" : "[a-zA-Z0-9%\\-._/?\\P{InBasicLatin}]*"
                    },
                    "secondaryPermalinks" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxLength" : 250,
                        "minLength" : 0,
                        "pattern" : "[a-zA-Z0-9%\\-._/?\\P{InBasicLatin}]*"
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "secondayPermalinks" : [ "category-secondary-peramalink-updated", "category-secondary-peramalink-updated1", "category-secondary-peramalink-updated2" ],
                      "primaryPermalink" : "category-secondary-peramalink"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.READ", "Desk.community.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 300000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "29369de366a05c41e55d250e21360d25",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.categories.CategoryRestService.getAllPermalinksOfCategory"
        }
      },
      "post" : {
        "tags" : [ "CommunityCategory" ],
        "summary" : "Update permalink of category or forum",
        "description" : "This API updates the primary permalink of a community category or forum.",
        "operationId" : "addSecondaryPermalink",
        "parameters" : [ {
          "name" : "categoryId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "permalink", "useOldPermalinkForRedirection" ],
                "properties" : {
                  "useOldPermalinkForRedirection" : {
                    "description" : "Key that defines whether the primary permalink of the category/forum must be used for redirection or not. Setting @TRUE@ adds the primary permalink to the 301 list and setting @FALSE@ overwrites the primary permalink."
                  },
                  "permalink" : {
                    "maxLength" : 250,
                    "minLength" : 0,
                    "pattern" : "[a-zA-Z0-9%\\-._/?\\P{InBasicLatin}]*",
                    "description" : "Permalink of the category or forum"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "useOldPermalinkForRedirection" : "false",
                    "permalink" : "new-dep-updated-permalink"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.UPDATE", "Desk.community.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 300000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "9608e6e19191a18a0654ea505cf418fd",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.categories.CategoryRestService.addPermalink"
        }
      }
    },
    "/api/v1/communityCategory/{categoryId}/disable" : {
      "post" : {
        "tags" : [ "CommunityCategory" ],
        "summary" : "Disable community category or forum",
        "description" : "This API disables a community category or forum and restricts posting access to users.",
        "operationId" : "disableCommunityCategory",
        "parameters" : [ {
          "name" : "categoryId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.UPDATE", "Desk.community.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 300000,
                  "lock-period" : 600000,
                  "threshold" : 20,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "8f4d41d37c3972d2c9df3cf429155836",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.categories.CategoryRestService.disable"
        }
      }
    },
    "/api/v1/communityCategory/{categoryId}/enable" : {
      "post" : {
        "tags" : [ "CommunityCategory" ],
        "summary" : "Enable community category or forum",
        "description" : "This API enables a community category or forum and provides posting access to users.",
        "operationId" : "enableCommunityCategory",
        "parameters" : [ {
          "name" : "categoryId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.UPDATE", "Desk.community.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 300000,
                  "lock-period" : 600000,
                  "threshold" : 20,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "6b732b953e0ba11ece08e473bd34e079",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.categories.CategoryRestService.enable"
        }
      }
    },
    "/api/v1/allCommunityCategory" : {
      "get" : {
        "tags" : [ "CommunityCategory" ],
        "summary" : "List all categories",
        "description" : "This API lists all community categories to be displayed on the setup page of desk",
        "operationId" : "getCommunityCategoriesForSetup",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "listAllCommunityCategoriesForSetup template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "categories" ],
                  "properties" : {
                    "categories" : {
                      "items" : {
                        "required" : [ "associatedDepartmentIds", "child", "childCount", "departmentId", "description", "id", "name", "permalink", "photoUrl", "position", "status" ],
                        "properties" : {
                          "photoUrl" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "name" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "description" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "childCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "position" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "permalink" : {
                            "maxLength" : 250,
                            "minLength" : 0,
                            "pattern" : "[a-zA-Z0-9%\\-._/?\\P{InBasicLatin}]*"
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ENABLED", "LOCKED", "DISABLED" ]
                          },
                          "child" : {
                            "items" : {
                              "required" : [ "id", "name", "parentCategoryId", "position", "status" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "parentCategoryId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "position" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "status" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "ENABLED", "LOCKED", "DISABLED" ]
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "associatedDepartmentIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "categories" : [ {
                        "photoUrl" : null,
                        "departmentId" : "2000000012968",
                        "name" : "Category 1",
                        "description" : "Category 1",
                        "childCount" : "1",
                        "id" : "4000000000017",
                        "position" : "1",
                        "permalink" : "category-1",
                        "associatedDepatmentIds" : [ "2000000012968", "2000000012970", "2000000012972" ],
                        "status" : "ENABLED",
                        "child" : [ {
                          "name" : "forum - 1",
                          "parentCategoryId" : "146173000000003025",
                          "id" : "4000000000065",
                          "position" : "1",
                          "status" : "ENABLED"
                        } ]
                      }, {
                        "photoUrl" : null,
                        "departmentId" : null,
                        "name" : "Dep 2",
                        "description" : "",
                        "childCount" : "0",
                        "id" : "4000000002005",
                        "position" : "2",
                        "permalink" : "dep-2",
                        "status" : "ENABLED"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.READ", "Desk.community.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 70,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "0c15ef28d0ca7a735c71d1bb906ba9ae",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.categories.CategoryRestService.getAllCategoriesForSetup"
        }
      }
    },
    "/api/v1/communityCategory" : {
      "get" : {
        "tags" : [ "CommunityCategory" ],
        "summary" : "List community categories",
        "description" : "This API lists a particular number of community categories.",
        "operationId" : "getCommunityCategory",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department for which the categories to be filtered.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department for which the categories to be filtered.",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "listAllCommunityCategories template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "categories" ],
                  "properties" : {
                    "categories" : {
                      "items" : {
                        "required" : [ "associatedDepartmentIds", "canAutoConvertTicket", "child", "departmentId", "description", "helpCenterId", "id", "isFollowing", "moderation", "moderators", "name", "parentCategoryId", "permalink", "permissions", "permissions", "photoUrl", "position", "status", "visibility" ],
                        "properties" : {
                          "isFollowing" : { },
                          "visibility" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "description" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "canAutoConvertTicket" : { },
                          "helpCenterId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "associatedDepartmentIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "photoUrl" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "permissions" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "POST", "RESPOND" ]
                            }
                          },
                          "moderation" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "name" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "parentCategoryId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "position" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "permalink" : {
                            "maxLength" : 250,
                            "minLength" : 0,
                            "pattern" : "[a-zA-Z0-9%\\-._/?\\P{InBasicLatin}]*"
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ENABLED", "LOCKED", "DISABLED" ]
                          },
                          "moderators" : {
                            "items" : {
                              "required" : [ "id", "name", "photoUrl", "type" ],
                              "properties" : {
                                "photoUrl" : {
                                  "maxLength" : 400,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "name" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "Name of the community category or forum",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "END_USER", "AGENT" ]
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "child" : {
                            "items" : {
                              "required" : [ "associatedDepartmentIds", "canAutoConvertTicket", "child", "departmentId", "description", "helpCenterId", "id", "isFollowing", "moderation", "moderators", "name", "parentCategoryId", "permalink", "permissions", "photoUrl", "position", "status", "visibility" ],
                              "properties" : {
                                "isFollowing" : { },
                                "visibility" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "departmentId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "description" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "canAutoConvertTicket" : { },
                                "helpCenterId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "associatedDepartmentIds" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "photoUrl" : {
                                  "maxLength" : 500,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "permissions" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "POST", "RESPOND" ]
                                  }
                                },
                                "moderation" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "name" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "parentCategoryId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "position" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "permalink" : {
                                  "maxLength" : 250,
                                  "minLength" : 0,
                                  "pattern" : "[a-zA-Z0-9%\\-._/?\\P{InBasicLatin}]*"
                                },
                                "status" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "ENABLED", "LOCKED", "DISABLED" ]
                                },
                                "moderators" : {
                                  "items" : {
                                    "required" : [ "id", "name", "photoUrl", "type" ],
                                    "properties" : {
                                      "photoUrl" : {
                                        "maxLength" : 400,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      },
                                      "name" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                                        "x-custom-parameters-attributes" : {
                                          "removeExif" : false,
                                          "filterMatchedContent" : false,
                                          "antivirus" : false,
                                          "replacementString" : "",
                                          "allowInvalid" : false,
                                          "descrption" : "Name of the community category or forum",
                                          "secret" : false,
                                          "preserveCharsLimit" : 10,
                                          "trim" : false,
                                          "internalParam" : false,
                                          "preserveChars" : "0,5",
                                          "importUrl" : false,
                                          "decrypt" : false
                                        }
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "END_USER", "AGENT" ]
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                },
                                "child" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "additionalProperties" : false
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "categories" : [ {
                        "isFollowing" : true,
                        "visibility" : "LOGGED_IN_USERS",
                        "departmentId" : "2000000012968",
                        "description" : "category",
                        "canAutoConvertTicket" : false,
                        "photoUrl" : null,
                        "permissions" : [ "POST", "RESPOND" ],
                        "moderation" : "NONE",
                        "name" : "category",
                        "parentCategoryId" : null,
                        "id" : "4000000000017",
                        "position" : "1",
                        "permalink" : "category",
                        "child" : [ {
                          "isFollowing" : false,
                          "visibility" : null,
                          "departmentId" : null,
                          "description" : "Forum 1",
                          "canAutoConvertTicket" : null,
                          "photoUrl" : null,
                          "permissions" : [ "POST", "RESPOND" ],
                          "moderation" : null,
                          "name" : "forum 1",
                          "parentCategoryId" : "4000000000017",
                          "id" : "4000000000033",
                          "position" : "1",
                          "permalink" : "forum-1",
                          "child" : [ ],
                          "moderators" : [ ],
                          "status" : "ENABLED"
                        } ],
                        "moderators" : [ {
                          "photoUrl" : null,
                          "name" : "User 1",
                          "id" : "2000000016079",
                          "type" : "AGENT"
                        } ],
                        "status" : "ENABLED"
                      }, {
                        "isFollowing" : false,
                        "visibility" : "LOGGED_IN_USERS",
                        "departmentId" : null,
                        "description" : "",
                        "canAutoConvertTicket" : true,
                        "photoUrl" : null,
                        "permissions" : [ "POST", "RESPOND" ],
                        "moderation" : "FIRST_POST",
                        "name" : "Dep 2",
                        "parentCategoryId" : null,
                        "id" : "4000000002005",
                        "position" : "2",
                        "permalink" : "dep-2",
                        "child" : [ ],
                        "moderators" : [ ],
                        "status" : "ENABLED"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.READ", "Desk.community.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 70,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "90cd64600e273b1d684545af7f8d4e5c",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.categories.CategoryRestService.getCategories"
        }
      }
    },
    "/api/v1/communityCategory/{categoryId}/follow" : {
      "post" : {
        "tags" : [ "CommunityCategory" ],
        "summary" : "Follow a community category or forum",
        "description" : "This API helps users to follow a community category or forum. ",
        "operationId" : "followCommunityCategory",
        "parameters" : [ {
          "name" : "categoryId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.UPDATE", "Desk.community.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 300000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "375b20959084f4d29740667b77ab57a4",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.categories.CategoryRestService.followCategoryByControllers"
        }
      }
    },
    "/api/v1/communityCategory/{categoryId}/unfollow" : {
      "post" : {
        "tags" : [ "CommunityCategory" ],
        "summary" : "Unfollow a community category or forum",
        "description" : "This API helps end-users unfollow a community category or forum.",
        "operationId" : "unfollowCommunityCategory",
        "parameters" : [ {
          "name" : "categoryId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.UPDATE", "Desk.community.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 300000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "6e2601241543921072b6029f021ce9ec",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.categories.CategoryRestService.unfollowCategoryByControllers"
        }
      }
    },
    "/api/v1/communityCategory/{categoryId}/followers" : {
      "get" : {
        "tags" : [ "CommunityCategory" ],
        "summary" : "List followers of community category or forum",
        "description" : "This API lists a particular number of users who follow a community category or forum, based on the limit defined.",
        "operationId" : "getCommunityCategoryFollowers",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of users to list",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of users to list",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the users must be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the users must be listed",
            "format" : "int32"
          }
        }, {
          "name" : "userType",
          "in" : "query",
          "description" : "to filter agent and end user",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "to filter agent and end user",
            "enum" : [ "AGENT", "END_USER" ]
          }
        }, {
          "name" : "categoryId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "listAllCommunityCategoryFollowers template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "contactId", "email", "id", "label", "name", "photoUrl", "type" ],
                        "properties" : {
                          "photoUrl" : {
                            "maxLength" : 400,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "contactId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "name" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "label" : {
                            "required" : [ "id", "logoUrl", "name", "preferences" ],
                            "properties" : {
                              "preferences" : {
                                "required" : [ "bgColor", "shape", "textColor" ],
                                "properties" : {
                                  "bgColor" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                    "description" : "background color of the label"
                                  },
                                  "shape" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "description" : "shape of the label",
                                    "enum" : [ "ROUNDED", "RECTANGLE" ]
                                  },
                                  "textColor" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                    "description" : "text color of the label"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "logoUrl" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "photoUrl" : "https://desk.zoho.com/api/v1/agents/7000000015971/photo?orgId=123456",
                        "name" : "user 3",
                        "id" : "7000000015971",
                        "label" : {
                          "preferences" : {
                            "shape" : "RECTANGLE",
                            "bgColor" : "#23F123",
                            "textColor" : "#2CA123"
                          },
                          "name" : "Admin",
                          "id" : "6000000158001",
                          "logoUrl" : "https://desk.zoho.com/portal/api/publicImages/6000000158231?orgId=14132"
                        },
                        "type" : "AGENT"
                      }, {
                        "photoUrl" : "https://desk.zoho.com/api/v1/agents/7000000015972/photo?orgId=123456",
                        "name" : "user 2",
                        "id" : "7000000015972",
                        "label" : {
                          "preferences" : {
                            "shape" : "RECTANGLE",
                            "bgColor" : "#23F123",
                            "textColor" : "#2CA123"
                          },
                          "name" : "Admin",
                          "id" : "6000000158001",
                          "logoUrl" : "https://desk.zoho.com/portal/api/publicImages/6000000158231?orgId=14132"
                        },
                        "type" : "AGENT"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.READ", "Desk.community.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 300000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "9d050030aff0a5e04eec50da6a86d109",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.categories.CategoryRestService.getFollowersOfCategory"
        }
      }
    },
    "/api/v1/communityCategoryByPermalink" : {
      "get" : {
        "tags" : [ "CommunityCategory" ],
        "summary" : "Get category or forum by permalink",
        "description" : "This API fetches the details of a community category or forum, based on the permalink in the API request. ",
        "operationId" : "getACategoryByPermalink",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "permalink",
          "in" : "query",
          "description" : "Permalink of the category or forum to fetch",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 1000,
            "minLength" : 1,
            "pattern" : "[a-zA-Z0-9%\\-._/?\\P{InBasicLatin}]+"
          }
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Additional information related to the category or forum. Values allowed are: @postCount@, @followersCount@, and @commentCount@.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "postCount", "followersCount", "commentCount", "groups" ]
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "communityCategorySecondaryPermalinks template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "ref" : "#/components/schemas/communityGetCategoryJSON"
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "id" : "20628000000020011",
                      "name" : "new dep",
                      "description" : "description",
                      "parentCategoryId" : "null",
                      "visibility" : "ALL_USERS",
                      "moderation" : "NONE",
                      "status" : "ENABLED",
                      "position" : "1",
                      "moderators" : [ {
                        "id" : "7000000015971",
                        "name" : "user 2",
                        "photoUrl" : "https://desk.zoho.com/api/v1/agents/7000000015971/photo?orgId=123456",
                        "type" : "AGENT"
                      }, {
                        "id" : "7000000015972",
                        "name" : "user 3",
                        "photoUrl" : "https://desk.zoho.com/api/v1/agents/7000000015972/photo?orgId=123456",
                        "type" : "AGENT"
                      } ],
                      "canAutoConvertTicket" : true,
                      "departmentId" : "20628000000020011",
                      "photoUrl" : null,
                      "permalink" : "new-dep",
                      "commentCount" : "491",
                      "postCount" : "246",
                      "followersCount" : "38",
                      "isFollowing" : "true",
                      "post" : {
                        "permission" : "ALL_USERS",
                        "groupIds" : [ ]
                      },
                      "respond" : {
                        "permission" : "ALL_USERS",
                        "groupIds" : [ ]
                      },
                      "view" : {
                        "permission" : "ALL_USERS",
                        "groupIds" : [ ]
                      },
                      "permissions" : [ "POST", "RESPOND" ],
                      "associatedDepartmentIds" : [ "20628000000020011" ],
                      "deparmentIdForTicketCreation" : "20628000000020011",
                      "childs" : [ {
                        "isFollowing" : false,
                        "photoUrl" : null,
                        "child" : [ ],
                        "moderators" : [ ],
                        "parentCategoryId" : "4000000003037",
                        "visibility" : "ALL_USERS",
                        "moderation" : null,
                        "departmentId" : null,
                        "canAutoConvertTicket" : null,
                        "name" : "forum",
                        "id" : "4000000012009",
                        "description" : "forum 1",
                        "status" : "ENABLED",
                        "position" : "1",
                        "commentCount" : "491",
                        "postCount" : "246",
                        "followersCount" : "38",
                        "permalink" : "forum-43",
                        "post" : {
                          "permission" : "ALL_USERS",
                          "groupIds" : [ ]
                        },
                        "respond" : {
                          "permission" : "ALL_USERS",
                          "groupIds" : [ ]
                        },
                        "view" : {
                          "permission" : "ALL_USERS",
                          "groupIds" : [ ]
                        },
                        "permissions" : [ "POST", "RESPOND" ],
                        "associatedDepartmentIds" : [ "20628000000020011" ],
                        "deparmentIdForTicketCreation" : "20628000000020011"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.READ", "Desk.community.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "9c497f62a974030cfdfb75408871dfd2",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.categories.CategoryRestService.getCategoryByPermalinkForControllers"
        }
      }
    },
    "/api/v1/communityCategory/{categoryId}" : {
      "get" : {
        "tags" : [ "CommunityCategory" ],
        "summary" : "Get community categories",
        "description" : "This API get a community categories details.",
        "operationId" : "getACategory",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "categoryId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Additional information related to the category or forum. Values allowed are: @postCount@, @followersCount@, and @commentCount@.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "postCount", "followersCount", "commentCount", "groups" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "communityCategorySecondaryPermalinks template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "ref" : "#/components/schemas/communityGetCategoryJSON"
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "id" : "20628000000020011",
                      "name" : "new dep",
                      "description" : "description",
                      "parentCategoryId" : "null",
                      "visibility" : "ALL_USERS",
                      "moderation" : "NONE",
                      "status" : "ENABLED",
                      "position" : "1",
                      "moderators" : [ {
                        "id" : "7000000015971",
                        "name" : "user 2",
                        "photoUrl" : "https://desk.zoho.com/api/v1/agents/7000000015971/photo?orgId=123456",
                        "type" : "AGENT"
                      }, {
                        "id" : "7000000015972",
                        "name" : "user 3",
                        "photoUrl" : "https://desk.zoho.com/api/v1/agents/7000000015972/photo?orgId=123456",
                        "type" : "AGENT"
                      } ],
                      "canAutoConvertTicket" : true,
                      "departmentId" : "20628000000020011",
                      "photoUrl" : null,
                      "permalink" : "new-dep",
                      "commentCount" : "491",
                      "postCount" : "246",
                      "followersCount" : "38",
                      "isFollowing" : "true",
                      "post" : {
                        "permission" : "ALL_USERS",
                        "groupIds" : [ ]
                      },
                      "respond" : {
                        "permission" : "ALL_USERS",
                        "groupIds" : [ ]
                      },
                      "view" : {
                        "permission" : "ALL_USERS",
                        "groupIds" : [ ]
                      },
                      "permissions" : [ "POST", "RESPOND" ],
                      "associatedDepartmentIds" : [ "20628000000020011" ],
                      "deparmentIdForTicketCreation" : "20628000000020011",
                      "childs" : [ {
                        "isFollowing" : false,
                        "photoUrl" : null,
                        "child" : [ ],
                        "moderators" : [ ],
                        "parentCategoryId" : "4000000003037",
                        "visibility" : "ALL_USERS",
                        "moderation" : null,
                        "departmentId" : null,
                        "canAutoConvertTicket" : null,
                        "name" : "forum",
                        "id" : "4000000012009",
                        "description" : "forum 1",
                        "status" : "ENABLED",
                        "position" : "1",
                        "commentCount" : "491",
                        "postCount" : "246",
                        "followersCount" : "38",
                        "permalink" : "forum-43",
                        "post" : {
                          "permission" : "ALL_USERS",
                          "groupIds" : [ ]
                        },
                        "respond" : {
                          "permission" : "ALL_USERS",
                          "groupIds" : [ ]
                        },
                        "view" : {
                          "permission" : "ALL_USERS",
                          "groupIds" : [ ]
                        },
                        "permissions" : [ "POST", "RESPOND" ],
                        "associatedDepartmentIds" : [ "20628000000020011" ],
                        "deparmentIdForTicketCreation" : "20628000000020011"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.forums.READ", "Desk.community.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "92cd2705aa56090d389d464ef86147c7",
          "module-group" : "community",
          "apimethod" : "com.zoho.desk.helpcenter.community.categories.CategoryRestService.getCategory"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "moderator" : {
        "required" : [ "id", "name", "photoUrl", "type" ],
        "properties" : {
          "photoUrl" : {
            "maxLength" : 400,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "name" : {
            "maxLength" : 200,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Name of the community category or forum",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "type" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "END_USER", "AGENT" ]
          }
        },
        "additionalProperties" : { }
      },
      "communityCategoryModeratorJSONArray" : {
        "items" : {
          "required" : [ "id", "name", "photoUrl", "type" ],
          "properties" : {
            "photoUrl" : {
              "maxLength" : 400,
              "minLength" : 0,
              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
            },
            "name" : {
              "maxLength" : 200,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Name of the community category or forum",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "type" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "END_USER", "AGENT" ]
            }
          },
          "additionalProperties" : false
        }
      },
      "groups" : {
        "required" : [ "id", "name" ],
        "properties" : {
          "name" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Name of the community category or forum",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "communityCategoryGroupsJSONArray" : {
        "items" : {
          "required" : [ "id", "name" ],
          "properties" : {
            "name" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Name of the community category or forum",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "additionalProperties" : { }
        }
      },
      "communityManagerChildCategoryWithGroupsJSON" : {
        "required" : [ "canAutoConvertTicket", "child", "departmentId", "description", "groups", "id", "isFollowing", "moderation", "moderators", "name", "parentCategoryId", "permalink", "photoUrl", "position", "status", "visibility" ],
        "properties" : {
          "isFollowing" : { },
          "visibility" : {
            "maxLength" : 200,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Visibility setting of the community category or forum. Values allowed are: @ALL@, @LOGGED_IN_USERS@, @GROUPS@ , @AGENTS@ and @MODERATORS@.",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "departmentId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "description" : {
            "maxLength" : 100,
            "minLength" : 0,
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "A brief description of the community category or forum",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "xss" : "antisamyfilter_custom",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "groups" : {
            "items" : {
              "required" : [ "id", "name" ],
              "properties" : {
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Name of the community category or forum",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "additionalProperties" : false
            }
          },
          "canAutoConvertTicket" : {
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Key that defines whether topics posted in the forum must be automatically converted into tickets or not",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "photoUrl" : {
            "maxLength" : 500,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "moderation" : {
            "maxLength" : 200,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Moderation setting for the community category or forum. Values allowed are: @NONE@ (no moderation), @ALL_POSTS@ (all posts of category will be moderated) and @FIRST_POST@ (only the first forum post of users will be moderated).",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "name" : {
            "maxLength" : 200,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Name of the community category or forum",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "parentCategoryId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "position" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "permalink" : {
            "maxLength" : 250,
            "minLength" : 0,
            "pattern" : "[a-zA-Z0-9%\\-._/?\\P{InBasicLatin}]*"
          },
          "status" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "ENABLED", "LOCKED", "DISABLED" ]
          },
          "moderators" : {
            "items" : {
              "required" : [ "id", "name", "photoUrl", "type" ],
              "properties" : {
                "photoUrl" : {
                  "maxLength" : 400,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "name" : {
                  "maxLength" : 200,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Name of the community category or forum",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "type" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "END_USER", "AGENT" ]
                }
              },
              "additionalProperties" : false
            }
          },
          "child" : {
            "uniqueItems" : false,
            "items" : {
              "additionalProperties" : { }
            }
          }
        },
        "additionalProperties" : { }
      },
      "communityChildCategoryWithGroupsJSONArray" : {
        "items" : {
          "required" : [ "canAutoConvertTicket", "child", "departmentId", "description", "groups", "id", "isFollowing", "moderation", "moderators", "name", "parentCategoryId", "permalink", "photoUrl", "position", "status", "visibility" ],
          "properties" : {
            "isFollowing" : { },
            "visibility" : {
              "maxLength" : 200,
              "minLength" : 0,
[...]
