{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Contract",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "automation"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/contracts/updateMany" : {
      "post" : {
        "tags" : [ "Contract" ],
        "summary" : "Update many contracts",
        "description" : "This API updates multiple contracts at once.",
        "operationId" : "updateMany",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "fieldName", "ids", "isCustomField" ],
                "properties" : {
                  "isCustomField" : {
                    "description" : "Key that denotes if the field is a user-defined field or not"
                  },
                  "fieldName" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : " Name of the field to update"
                  },
                  "ids" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "fieldValue" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : "Value in the field"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "fieldName" : "contractNumber",
                    "isCustomField" : false,
                    "ids" : [ "1892000000093303", "1892000000085009", "1892000000050003" ],
                    "fieldValue" : "123"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "massActionListView template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "results" ],
                  "properties" : {
                    "results" : {
                      "items" : {
                        "required" : [ "errors", "id", "success" ],
                        "properties" : {
                          "success" : { },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "errors" : {
                            "required" : [ "errorCode", "httpCode" ],
                            "properties" : {
                              "errorCode" : {
                                "enum" : [ "UNPROCESSABLE_ENTITY", "UNAUTHORIZED", "FORBIDDEN", "INVALID_DATA", "SCHEDULED", "SUCCESS" ]
                              },
                              "httpCode" : {
                                "enum" : [ "401", "403", "422", "202", "200", 401, 403, 422, 202, 200 ]
                              },
                              "errorMessage" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "errorJson" : {
                                "additionalProperties" : false
                              },
                              "error" : {
                                "maxLength" : 250,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "results" : [ {
                        "success" : true,
                        "id" : "7000000027223",
                        "errors" : null
                      }, {
                        "success" : false,
                        "id" : "7000000043968",
                        "errors" : {
                          "errorCode" : "UNPROCESSABLE_ENTITY",
                          "httpCode" : "422"
                        }
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "4dd793d7216e28faa2b97865ca3c2b17",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.ContractService.updateMany"
        }
      }
    },
    "/api/v1/contracts/{contractId}/creditCycles" : {
      "get" : {
        "tags" : [ "Contract" ],
        "summary" : "List contract credit cycle",
        "description" : "This API lists credits cycles recorded for a contract, based on the filter/duration specified. For now only the @CURRENT@ filter is supported, so API will fetch details of the contract’s current credit cycle.",
        "operationId" : "getCreditCyclesOfContract",
        "parameters" : [ {
          "name" : "creditCycle",
          "in" : "query",
          "description" : "This param filters the credit cycles based on the value passed,Allowed values for this filter are @CURRENT@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "This param filters the credit cycles based on the value passed,Allowed values for this filter are @CURRENT@",
            "enum" : [ "CURRENT" ]
          }
        }, {
          "name" : "contractId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "creditCyclesResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "creditCyclePeriod", "creditLimit", "creditRemaining", "creditSpent", "extraUsedCredit" ],
                        "properties" : {
                          "creditCyclePeriod" : {
                            "maxProperties" : 3,
                            "minProperties" : 3,
                            "required" : [ "duration", "endDate", "startDate" ],
                            "properties" : {
                              "duration" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "WEEKLY", "MONTHLY", "QUARTERLY", "HALF_YEARLY", "YEARLY" ]
                              },
                              "endDate" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^([12][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$"
                              },
                              "startDate" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^([12][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "creditSpent" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "creditLimit" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "extraUsedCredit" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "creditRemaining" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "creditCyclePeriod" : {
                          "duration" : "WEEKLY",
                          "endDate" : 1683590400000,
                          "startDate" : 1683072000000
                        },
                        "creditSpent" : "0",
                        "creditLimit" : "13",
                        "extraUsedCredit" : "0",
                        "creditRemaining" : "13"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "85e6c365823c40a4ee8226089b32236e",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.ContractService.getCreditCycleDetails"
        }
      }
    },
    "/api/v1/contracts" : {
      "get" : {
        "tags" : [ "Contract" ],
        "summary" : "List all contracts",
        "description" : "To get a list of contracts",
        "operationId" : "getContracts",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "include",
          "in" : "query",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "accounts", "products", "slas", "owner", "departments" ]
            }
          }
        }, {
          "name" : "ownerIds",
          "in" : "query",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : false,
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "accountName", "contractName", "contractEndDate", "contractStartDate", "createdTime", "modifiedTime" ]
          }
        }, {
          "name" : "contractName",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 80,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          }
        }, {
          "name" : "departmentIds",
          "in" : "query",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          }
        }, {
          "name" : "fields",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "listAllContractsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "owner" : {
                              "maxProperties" : 1,
                              "minProperties" : 1,
                              "required" : [ "data" ],
                              "properties" : {
                                "data" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "owner" ],
                                    "properties" : {
                                      "owner" : {
                                        "maxProperties" : 3,
                                        "minProperties" : 3,
                                        "required" : [ "id", "name", "photoURL" ],
                                        "properties" : {
                                          "photoURL" : {
                                            "maxLength" : 200,
                                            "minLength" : 0,
                                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                          },
                                          "name" : {
                                            "maxLength" : 100,
                                            "minLength" : 0
                                          },
                                          "id" : {
                                            "pattern" : "([0-9]+)",
                                            "format" : "int64"
                                          }
                                        },
                                        "additionalProperties" : { }
                                      }
                                    },
                                    "additionalProperties" : { }
                                  }
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "product" : {
                              "maxProperties" : 1,
                              "minProperties" : 1,
                              "required" : [ "data" ],
                              "properties" : {
                                "data" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "product" ],
                                    "properties" : {
                                      "product" : {
                                        "maxProperties" : 2,
                                        "minProperties" : 2,
                                        "required" : [ "id", "productName" ],
                                        "properties" : {
                                          "id" : {
                                            "pattern" : "([0-9]+)",
                                            "format" : "int64"
                                          },
                                          "productName" : {
                                            "maxLength" : 200,
                                            "minLength" : 0
                                          }
                                        },
                                        "additionalProperties" : { }
                                      }
                                    },
                                    "additionalProperties" : { }
                                  }
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "sla" : {
                              "maxProperties" : 1,
                              "minProperties" : 1,
                              "required" : [ "data" ],
                              "properties" : {
                                "data" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "sla" ],
                                    "properties" : {
                                      "sla" : {
                                        "maxProperties" : 2,
                                        "minProperties" : 2,
                                        "required" : [ "id", "name" ],
                                        "properties" : {
                                          "name" : {
                                            "maxLength" : 100,
                                            "minLength" : 0
                                          },
                                          "id" : {
                                            "pattern" : "([0-9]+)",
                                            "format" : "int64"
                                          }
                                        },
                                        "additionalProperties" : { }
                                      }
                                    },
                                    "additionalProperties" : { }
                                  }
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "department" : {
                              "maxProperties" : 1,
                              "minProperties" : 1,
                              "required" : [ "data" ],
                              "properties" : {
                                "data" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "department" ],
                                    "properties" : {
                                      "department" : {
                                        "maxProperties" : 2,
                                        "minProperties" : 2,
                                        "required" : [ "id", "name" ],
                                        "properties" : {
                                          "name" : {
                                            "maxLength" : 200,
                                            "minLength" : 0,
                                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                          },
                                          "id" : {
                                            "pattern" : "([0-9]+)",
                                            "format" : "int64"
                                          }
                                        },
                                        "additionalProperties" : { }
                                      }
                                    },
                                    "additionalProperties" : { }
                                  }
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "account" : {
                              "maxProperties" : 1,
                              "minProperties" : 1,
                              "required" : [ "data" ],
                              "properties" : {
                                "data" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxProperties" : 1,
                                    "minProperties" : 1,
                                    "required" : [ "account" ],
                                    "properties" : {
                                      "account" : {
                                        "maxProperties" : 3,
                                        "minProperties" : 3,
                                        "required" : [ "accountName", "id", "website" ],
                                        "properties" : {
                                          "website" : {
                                            "maxLength" : 120,
                                            "minLength" : 0
                                          },
                                          "accountName" : {
                                            "maxLength" : 200,
                                            "minLength" : 0
                                          },
                                          "id" : {
                                            "pattern" : "([0-9]+)",
                                            "format" : "int64"
                                          }
                                        },
                                        "additionalProperties" : { }
                                      }
                                    },
                                    "additionalProperties" : { }
                                  }
                                }
                              },
                              "additionalProperties" : { }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "oneOf" : [ {
                      "required" : [ "data" ],
                      "properties" : {
                        "data" : {
                          "items" : {
                            "required" : [ "accountId", "associatedSLAId", "associatedSupportPlanId", "contractName", "contractStatus", "departmentId", "endDate", "id", "ownerId", "productId", "startDate", "supportPlan" ],
                            "properties" : {
                              "associatedSLAId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "accountId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "contractStatus" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ACTIVE", "EXPIRED", "FUTURE" ]
                              },
                              "productId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "endDate" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^([12][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$"
                              },
                              "departmentId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "contractName" : {
                                "maxLength" : 80,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "associatedSupportPlanId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "ownerId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "supportPlan" : {
                                "required" : [ "id", "name", "status", "supportType" ],
                                "properties" : {
                                  "supportType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "UNLIMITED_SUPPORT", "HOURS", "TICKETS", "PRICE" ]
                                  },
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "status" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "ACTIVE", "DISCONTINUED" ]
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "startDate" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^([12][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$"
                              }
                            },
                            "additionalProperties" : { }
                          }
                        }
                      },
                      "additionalProperties" : { }
                    }, {
                      "required" : [ "data" ],
                      "properties" : {
                        "data" : {
                          "items" : {
                            "required" : [ "accountId", "associatedSLAId", "contractName", "contractStatus", "departmentId", "endDate", "id", "ownerId", "productId", "startDate" ],
                            "properties" : {
                              "associatedSLAId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "accountId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "contractStatus" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ACTIVE", "EXPIRED", "FUTURE" ]
                              },
                              "productId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "endDate" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^([12][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$"
                              },
                              "departmentId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "contractName" : {
                                "maxLength" : 80,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "ownerId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "startDate" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^([12][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$"
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      },
                      "additionalProperties" : { }
                    }, {
                      "required" : [ "data" ],
                      "properties" : {
                        "data" : {
                          "items" : {
                            "required" : [ "account", "accountId", "contractName", "contractStatus", "departmentId", "id", "ownerId", "supportPlan" ],
                            "properties" : {
                              "accountId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "contractStatus" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ACTIVE", "EXPIRED", "FUTURE" ]
                              },
                              "departmentId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "contractName" : {
                                "maxLength" : 80,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "ownerId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "supportPlan" : {
                                "required" : [ "id", "name", "status", "supportType" ],
                                "properties" : {
                                  "supportType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "UNLIMITED_SUPPORT", "HOURS", "TICKETS", "PRICE" ]
                                  },
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "status" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "ACTIVE", "DISCONTINUED" ]
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "account" : {
                                "maxProperties" : 3,
                                "minProperties" : 3,
                                "required" : [ "accountName", "id", "website" ],
                                "properties" : {
                                  "website" : {
                                    "maxLength" : 120,
                                    "minLength" : 0
                                  },
                                  "accountName" : {
                                    "maxLength" : 200,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "additionalProperties" : { }
                          }
                        }
                      },
                      "additionalProperties" : { }
                    }, {
                      "required" : [ "data" ],
                      "properties" : {
                        "data" : {
                          "items" : {
                            "required" : [ "account", "accountId", "contractName", "contractStatus", "departmentId", "id", "ownerId" ],
                            "properties" : {
                              "accountId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "contractStatus" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ACTIVE", "EXPIRED", "FUTURE" ]
                              },
                              "departmentId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "contractName" : {
                                "maxLength" : 80,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "ownerId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "account" : {
                                "maxProperties" : 3,
                                "minProperties" : 3,
                                "required" : [ "accountName", "id", "website" ],
                                "properties" : {
                                  "website" : {
                                    "maxLength" : 120,
                                    "minLength" : 0
                                  },
                                  "accountName" : {
                                    "maxLength" : 200,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "additionalProperties" : { }
                          }
                        }
                      },
                      "additionalProperties" : { }
                    } ]
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "associatedSLAId" : "10000000149109",
                        "accountId" : "10000000265011",
                        "contractStatus" : "FUTURE",
                        "productId" : null,
                        "endDate" : 1541808000000,
                        "departmentId" : "10000000010762",
                        "contractName" : "C2",
                        "id" : "10000000270023",
                        "ownerId" : "10000000012902",
                        "supportPlan" : {
                          "supportType" : "UNLIMITED_SUPPORT",
                          "name" : "SupportPlan with Gold SLAs",
                          "id" : "5000000007671",
                          "status" : "ACTIVE"
                        },
                        "startDate" : 1539129600000
                      }, {
                        "associatedSLAId" : "10000000149109",
                        "accountId" : "10000000265011",
                        "contractStatus" : "EXPIRED",
                        "productId" : null,
                        "endDate" : 1536537600000,
                        "departmentId" : "10000000010762",
                        "contractName" : "New",
                        "id" : "10000000270045",
                        "ownerId" : "10000000012902",
                        "supportPlan" : {
                          "supportType" : "UNLIMITED_SUPPORT",
                          "name" : "SupportPlan with Premium SLAs",
                          "id" : "5000000007675",
                          "status" : "ACTIVE"
                        },
                        "startDate" : 1536451200000
                      }, {
                        "associatedSLAId" : "10000000149109",
                        "accountId" : "10000000272001",
                        "contractStatus" : "ACTIVE",
                        "productId" : null,
                        "endDate" : 1544486400000,
                        "departmentId" : "10000000010762",
                        "contractName" : "THIRD",
                        "id" : "10000000272013",
                        "ownerId" : "10000000012902",
                        "supportPlan" : {
                          "supportType" : "UNLIMITED_SUPPORT",
                          "name" : "SupportPlan with Gold SLAs",
                          "id" : "5000000007671",
                          "status" : "ACTIVE"
                        },
                        "startDate" : 1536624000000
                      }, {
                        "associatedSLAId" : "10000000149109",
                        "accountId" : "10000000272037",
                        "contractStatus" : "ACTIVE",
                        "productId" : null,
                        "endDate" : 1552262400000,
                        "departmentId" : "10000000010762",
                        "contractName" : "Fourth ACC",
                        "id" : "10000000272049",
                        "ownerId" : "10000000012902",
                        "supportPlan" : {
                          "supportType" : "UNLIMITED_SUPPORT",
                          "name" : "SupportPlan with Silver SLAs",
                          "id" : "5000000007673",
                          "status" : "ACTIVE"
                        },
                        "startDate" : 1536624000000
                      }, {
                        "associatedSLAId" : "10000000149109",
                        "accountId" : "10000000272071",
                        "contractStatus" : "EXPIRED",
                        "productId" : null,
                        "endDate" : 1536710400000,
                        "departmentId" : "10000000010762",
                        "contractName" : "old",
                        "id" : "10000000272083",
                        "ownerId" : "10000000012902",
                        "supportPlan" : {
                          "supportType" : "UNLIMITED_SUPPORT",
                          "name" : "SupportPlan with Gold SLAs",
                          "id" : "5000000007671",
                          "status" : "ACTIVE"
                        },
                        "startDate" : 1505088000000
                      }, {
                        "associatedSLAId" : "10000000149109",
                        "accountId" : "10000000265011",
                        "contractStatus" : "ACTIVE",
                        "productId" : null,
                        "endDate" : 1538265600000,
                        "departmentId" : "10000000010762",
                        "contractName" : "FUTURE 1",
                        "id" : "10000000273003",
                        "ownerId" : "10000000012902",
                        "supportPlan" : {
                          "supportType" : "UNLIMITED_SUPPORT",
                          "name" : "SupportPlan with Silver SLAs",
                          "id" : "5000000007673",
                          "status" : "ACTIVE"
                        },
                        "startDate" : 1536969600000
                      }, {
                        "associatedSLAId" : "10000000149109",
                        "accountId" : "10000000265011",
                        "contractStatus" : "FUTURE",
                        "productId" : null,
                        "endDate" : 1544486400000,
                        "departmentId" : "10000000010762",
                        "contractName" : "FUTURE 3",
                        "id" : "10000000273025",
                        "ownerId" : "10000000012902",
                        "supportPlan" : {
                          "supportType" : "UNLIMITED_SUPPORT",
                          "name" : "SupportPlan with Gold SLAs",
                          "id" : "5000000007671",
                          "status" : "ACTIVE"
                        },
                        "startDate" : 1541894400000
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "b8cf4438a9614f16031e87693983146a",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.ContractService.getContracts"
        }
      },
      "post" : {
        "tags" : [ "Contract" ],
        "summary" : "Create a contract",
        "description" : "This API creates a contract in your helpdesk.",
        "operationId" : "createContract",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "accountId", "associatedSLAId", "associatedSupportPlanId", "contractName", "departmentId", "ownerId", "startDate" ],
                "properties" : {
                  "associatedSLAId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the SLA associated with the contract",
                    "format" : "int64"
                  },
                  "cf" : {
                    "additionalProperties" : { }
                  },
                  "productId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the product associated with the contract",
                    "format" : "int64"
                  },
                  "endDate" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "^([12][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$",
                    "description" : "Date until which the contract is valid"
                  },
                  "customFields" : {
                    "additionalProperties" : { }
                  },
                  "departmentId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the department to which the contract belongs",
                    "format" : "int64"
                  },
                  "notifyBefore" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Number of days before endDate when notifications about contract expiry must be sent to the agents concerned ",
                    "format" : "int32"
                  },
                  "contractNumber" : {
                    "maxLength" : 50,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : "Serial number of the contract"
                  },
                  "description" : {
                    "maxLength" : 65535,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : "A short description of the contract"
                  },
                  "associatedSupportPlanId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the Associated Support Plan",
                    "format" : "int64"
                  },
                  "ownerId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the contract owner",
                    "format" : "int64"
                  },
                  "notificationAgentIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "accountId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the account associated with the contract",
                    "format" : "int64"
                  },
                  "contractName" : {
                    "maxLength" : 80,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : "Name of the contract"
                  },
                  "startDate" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "^([12][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$",
                    "description" : "Date from which the contract is valid"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "cf" : {
                      "cf_mycustomfield1" : "Some Value"
                    },
                    "productId" : null,
                    "endDate" : 1563840000000,
                    "departmentId" : "10000000013228",
                    "notifyBefore" : "3",
                    "description" : "My Description",
                    "contractNumber" : 9495,
                    "associatedSupportPlanId" : "5000000007671",
                    "ownerId" : "10000000012816",
                    "notificationAgentIds" : [ "10000000012816" ],
                    "accountId" : "10000000012985",
                    "contractName" : "MyContractName",
                    "startDate" : 1532304000000
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getContractJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "account", "accountId", "associatedSLAId", "cf", "contractName", "contractNumber", "contractStatus", "createdBy", "createdTime", "customFields", "departmentId", "description", "endDate", "id", "layoutId", "modifiedBy", "modifiedTime", "notificationAgentIds", "notifyBefore", "notifyOn", "owner", "ownerId", "product", "productId", "sla", "startDate", "supportPlan" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Time of modifying the contract",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "endDate" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^([12][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Date until which the contract is valid",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "customFields" : {
                      "additionalProperties" : { }
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the department to which the contract belongs",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "description" : {
                      "maxLength" : 65535,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "A short description of the contract",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "ownerId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the contract owner",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "notificationAgentIds" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : [ { } ]
                      }
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Time of creating the contract",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "User who modified the contract",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "contractName" : {
                      "maxLength" : 80,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Name of the contract",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the contract",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "associatedSLAId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the SLA associated with the contract",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "owner" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "id", "name", "photoURL" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "product" : {
                      "maxProperties" : 2,
                      "minProperties" : 2,
                      "required" : [ "id", "productName" ],
                      "properties" : {
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "productName" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "cf" : {
                      "additionalProperties" : { }
                    },
                    "contractStatus" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ACTIVE", "EXPIRED", "FUTURE" ]
                    },
                    "productId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the product associated with the contract",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "notifyBefore" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Number of days before endDate when notifications about contract expiry must be sent to the agents concerned ",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "contractNumber" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Serial number of the contract",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "sla" : {
                      "maxProperties" : 2,
                      "minProperties" : 2,
                      "required" : [ "id", "name" ],
                      "properties" : {
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "layoutId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Layout of Contract",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : true,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "accountId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the account associated with the contract",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "User who created the contract",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "notifyOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^([12][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The date when the contract expiry notification must be sent",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "supportPlan" : {
                      "required" : [ "id", "name", "status", "supportType" ],
                      "properties" : {
                        "supportType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "UNLIMITED_SUPPORT", "HOURS", "TICKETS", "PRICE" ]
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ACTIVE", "DISCONTINUED" ]
                        }
                      },
                      "additionalProperties" : false
                    },
                    "startDate" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^([12][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Date from which the contract is valid",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "account" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "accountName", "id", "website" ],
                      "properties" : {
                        "website" : {
                          "maxLength" : 120,
                          "minLength" : 0
                        },
                        "accountName" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "associatedSLAId" : "10000000062047",
                      "modifiedTime" : 1532417517075,
                      "product" : {
                        "id" : "500000001290",
                        "productName" : "Desk"
                      },
                      "cf" : {
                        "cf_mycustomfield1" : "Some Value"
                      },
                      "contractStatus" : "ACTIVE",
                      "productId" : null,
                      "endDate" : 1563840000000,
                      "departmentId" : "10000000013228",
                      "notifyBefore" : "3",
                      "contractNumber" : "9495",
                      "description" : "My Description",
                      "sla" : {
                        "name" : "Gold SLAs",
                        "id" : "10000000062047"
                      },
                      "ownerId" : "10000000012816",
                      "notificationAgentIds" : [ "10000000012816" ],
                      "accountId" : "10000000012985",
                      "createdBy" : "10000000012816",
                      "notifyOn" : 1563580800000,
                      "createdTime" : 1532417517075,
                      "contractName" : "MyContractName",
                      "modifiedBy" : "10000000012816",
                      "id" : "10000000082016",
                      "supportPlan" : {
                        "supportType" : "UNLIMITED_SUPPORT",
                        "name" : "SupportPlan with Gold SLAs",
                        "id" : "5000000007671",
                        "status" : "ACTIVE"
                      },
                      "startDate" : 1532304000000,
                      "account" : {
                        "website" : "https://www.zoho.com",
                        "accountName" : "Zoho",
                        "id" : "500000008909"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "6167f0539ea07cb21d080a97d613b991",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.ContractService.createContract"
        }
      }
    },
    "/api/v1/contracts/{id}" : {
      "get" : {
        "tags" : [ "Contract" ],
        "summary" : "Get a contract",
        "description" : "This API fetches a single contract from your helpdesk.",
        "operationId" : "getContract",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of the contract",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the contract",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getContractJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "account", "accountId", "associatedSLAId", "cf", "contractName", "contractNumber", "contractStatus", "createdBy", "createdTime", "customFields", "departmentId", "description", "endDate", "id", "layoutId", "modifiedBy", "modifiedTime", "notificationAgentIds", "notifyBefore", "notifyOn", "owner", "ownerId", "product", "productId", "sla", "startDate", "supportPlan" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Time of modifying the contract",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "endDate" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^([12][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Date until which the contract is valid",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "customFields" : {
                      "additionalProperties" : false
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the department to which the contract belongs",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "description" : {
                      "maxLength" : 65535,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "A short description of the contract",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "ownerId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the contract owner",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "notificationAgentIds" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : [ { } ]
                      }
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Time of creating the contract",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
[...]
