{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "ContactComments",
    "version" : "1.0.0",
    "x-clan-group" : "contacts",
    "x-module-group" : "contacts"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/contacts/{contactId}/comments" : {
      "get" : {
        "tags" : [ "ContactComments" ],
        "summary" : "List all contact comments",
        "description" : "This API lists a particular number of comments recorded on a contact, based on the limit specified.",
        "operationId" : "getContactComments",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Secondary information related to the comments. Value allowed is @mentions@, which returns the details of users mentioned in the comments.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Secondary information related to the comments. Value allowed is @mentions@, which returns the details of users mentioned in the comments.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "mentions" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "No. of comments to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "No. of comments to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number starting from which the comments must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number starting from which the comments must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "sortby can be @commentedTime@. default order : commentedTime in descending order , prefix @-@ denotes desc",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "sortby can be @commentedTime@. default order : commentedTime in descending order , prefix @-@ denotes desc",
            "enum" : [ "commentedTime" ]
          }
        }, {
          "name" : "contactId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getContactComments template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "mention" : {
                              "uniqueItems" : false,
                              "items" : {
                                "maxProperties" : 9,
                                "minProperties" : 9,
                                "required" : [ "email", "firstName", "id", "lastName", "length", "offset", "photoURL", "type", "zuid" ],
                                "properties" : {
                                  "firstName" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "lastName" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "photoURL" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "offset" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "length" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "type" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "AGENT", "TEAM" ]
                                  },
                                  "email" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                  },
                                  "zuid" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "required" : [ "commentedTime", "commenter", "commenterId", "content", "contentType", "encodedContent", "id", "impersonatedUser", "modifiedTime" ],
                          "properties" : {
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "encodedContent" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "commentedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "contentType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "plainText", "html" ]
                            },
                            "commenterId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "content" : {
                              "maxLength" : 32000,
                              "minLength" : 0
                            },
                            "commenter" : {
                              "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "roleName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64",
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "ID of the comment",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "impersonatedUser" : {
                              "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "roleName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64",
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "ID of the comment",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : { }
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "modifiedTime" : null,
                        "commentedTime" : 1485286523000,
                        "id" : "4000000530045",
                        "contentType" : "plainText",
                        "content" : "second contact comment",
                        "commenterId" : "4000000008692",
                        "mention" : [ ],
                        "commenter" : {
                          "firstName" : "Jade",
                          "lastName" : "Tywin",
                          "photoURL" : "https://desk.zoho.com/api/v1/portalUser/4000000008692/photo?orgId=292828",
                          "name" : "Jade Tywin",
                          "roleName" : "PortalUser",
                          "type" : "END_USER",
                          "email" : "jade12tywin@zylker.com"
                        }
                      }, {
                        "modifiedTime" : null,
                        "commentedTime" : 1485286496000,
                        "id" : "4000000530043",
                        "contentType" : "html",
                        "content" : "First contact comment",
                        "commenterId" : "4000000008692",
                        "mention" : [ ],
                        "commenter" : {
                          "firstName" : "Jade",
                          "lastName" : "Tywin",
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000008692/photo?orgId=292828",
                          "name" : "Jade Tywin",
                          "roleName" : "CEO",
                          "type" : "AGENT",
                          "email" : "jade12tywin@zylker.com"
                        }
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "contacts",
          "apihash" : "8f80db0b41f6e5270cc033e77d02231e",
          "module-group" : "contacts",
          "apimethod" : "com.zoho.support.restapi.CommentService.getContactComments"
        }
      },
      "post" : {
        "tags" : [ "ContactComments" ],
        "summary" : "Create a contact comment",
        "description" : "This API adds a comment to a contact.",
        "operationId" : "createContactComment",
        "parameters" : [ {
          "name" : "contactId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "content" ],
                "properties" : {
                  "contentType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "plainText", "html" ]
                  },
                  "content" : {
                    "maxLength" : 32000,
                    "minLength" : 0,
                    "x-custom-parameters-attributes" : {
                      "xss" : "antisamyfilter_custom"
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "contentType" : "html",
                    "content" : "First contact comment"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "contactCommentCommonResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "commentedTime", "commenter", "commenterId", "content", "contentType", "encodedContent", "id", "impersonatedUser", "modifiedTime" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "encodedContent" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "commentedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "contentType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "plainText", "html" ]
                    },
                    "commenterId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "content" : {
                      "maxLength" : 32000,
                      "minLength" : 0
                    },
                    "commenter" : {
                      "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "roleName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "ID of the comment",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "impersonatedUser" : {
                      "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "roleName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "ID of the comment",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : null,
                      "commentedTime" : 1485286523000,
                      "id" : "4000000530045",
                      "contentType" : "plainText",
                      "commenterId" : "4000000008692",
                      "content" : "second contact comment edit",
                      "commenter" : {
                        "firstName" : "Jade",
                        "lastName" : "Tywin",
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000008692/photo?orgId=292828",
                        "name" : "Jade Tywin",
                        "roleName" : "LightAgent",
                        "type" : "AGENT",
                        "email" : "jade12tywin@zylker.com"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy,IscSignatureCalls_OrgPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "system-auth" : "optional",
              "scoped-services" : [ "ZohoSupport" ]
            }
          },
          "clan-group" : "contacts",
          "apihash" : "78d9e8c542a540e1abb98f658c56386d",
          "module-group" : "contacts",
          "apimethod" : "com.zoho.support.restapi.CommentService.addContactComment"
        }
      }
    },
    "/api/v1/contacts/{contactId}/comments/{commentId}" : {
      "get" : {
        "tags" : [ "ContactComments" ],
        "summary" : "Get a contact comment",
        "description" : "This API fetches a contact comment from the portal.",
        "operationId" : "getContactComment",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Secondary information related to the comments. Value allowed is @mentions@, which returns the details of users mentioned in the comments.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Secondary information related to the comments. Value allowed is @mentions@, which returns the details of users mentioned in the comments.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "mentions" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "contactId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "commentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "get Contact Comment Response template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "required" : [ "commentedTime", "commenter", "commenterId", "content", "contentType", "encodedContent", "id", "impersonatedUser", "modifiedTime" ],
                    "properties" : {
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "encodedContent" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "commentedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "contentType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "plainText", "html" ]
                      },
                      "commenterId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "content" : {
                        "maxLength" : 32000,
                        "minLength" : 0
                      },
                      "commenter" : {
                        "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "roleName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "ID of the comment",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "impersonatedUser" : {
                        "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "roleName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "ID of the comment",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "properties" : {
                      "mention" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxProperties" : 9,
                          "minProperties" : 9,
                          "required" : [ "email", "firstName", "id", "lastName", "length", "offset", "photoURL", "type", "zuid" ],
                          "properties" : {
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "photoURL" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "offset" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "length" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "AGENT", "TEAM" ]
                            },
                            "email" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            },
                            "zuid" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : null,
                      "commentedTime" : 1485286523000,
                      "id" : "4000000530045",
                      "contentType" : "plainText",
                      "commenterId" : "4000000008692",
                      "content" : "second contact comment edit",
                      "commenter" : {
                        "firstName" : "Jade",
                        "lastName" : "Tywin",
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000008692/photo?orgId=292828",
                        "name" : "Jade Tywin",
                        "roleName" : "LightAgent",
                        "type" : "AGENT",
                        "email" : "jade12tywin@zylker.com"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Lenient_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "contacts",
          "apihash" : "7a4a4e97388c56f76a9541739a5c98bd",
          "module-group" : "contacts",
          "apimethod" : "com.zoho.support.restapi.CommentService.getContactComment"
        }
      },
      "put" : {
        "tags" : [ "ContactComments" ],
        "summary" : "Update a contact comment",
        "description" : "This API updates an existing contact comment.",
        "operationId" : "updateContactComment",
        "parameters" : [ {
          "name" : "contactId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "commentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "content" : {
                    "maxLength" : 32000,
                    "minLength" : 0,
                    "x-custom-parameters-attributes" : {
                      "xss" : "antisamyfilter_custom"
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "content" : "second contact comment edit"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "contactCommentCommonResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "commentedTime", "commenter", "commenterId", "content", "contentType", "encodedContent", "id", "impersonatedUser", "modifiedTime" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "encodedContent" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "commentedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "contentType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "plainText", "html" ]
                    },
                    "commenterId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "content" : {
                      "maxLength" : 32000,
                      "minLength" : 0
                    },
                    "commenter" : {
                      "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "roleName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "ID of the comment",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "impersonatedUser" : {
                      "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "roleName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "ID of the comment",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : null,
                      "commentedTime" : 1485286523000,
                      "id" : "4000000530045",
                      "contentType" : "plainText",
                      "commenterId" : "4000000008692",
                      "content" : "second contact comment edit",
                      "commenter" : {
                        "firstName" : "Jade",
                        "lastName" : "Tywin",
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000008692/photo?orgId=292828",
                        "name" : "Jade Tywin",
                        "roleName" : "LightAgent",
                        "type" : "AGENT",
                        "email" : "jade12tywin@zylker.com"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "contacts",
          "apihash" : "ce816a971b273864a4880dbbad4fc065",
          "module-group" : "contacts",
          "apimethod" : "com.zoho.support.restapi.CommentService.editContactComment"
        }
      },
      "delete" : {
        "tags" : [ "ContactComments" ],
        "summary" : "Delete a contact comment",
        "description" : "This API deletes an existing contact comment.",
        "operationId" : "deleteContactComment",
        "parameters" : [ {
          "name" : "contactId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "commentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "contacts",
          "apihash" : "fae8e0d7987f25009115fdef524088d0",
          "module-group" : "contacts",
          "apimethod" : "com.zoho.support.restapi.CommentService.deleteContactComment"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "mentions" : {
        "uniqueItems" : false,
        "items" : {
          "maxProperties" : 9,
          "minProperties" : 9,
          "required" : [ "email", "firstName", "id", "lastName", "length", "offset", "photoURL", "type", "zuid" ],
          "properties" : {
            "firstName" : {
              "maxLength" : 50,
              "minLength" : 0
            },
            "lastName" : {
              "maxLength" : 50,
              "minLength" : 0
            },
            "photoURL" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "offset" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "length" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "type" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "AGENT", "TEAM" ]
            },
            "email" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
            },
            "zuid" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            }
          },
          "additionalProperties" : false
        }
      },
      "commenter" : {
        "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
        "properties" : {
          "photoURL" : {
            "maxLength" : 200,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "firstName" : {
            "maxLength" : 50,
            "minLength" : 0
          },
          "lastName" : {
            "maxLength" : 50,
            "minLength" : 0
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "roleName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "ID of the comment",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "type" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
          },
          "email" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
          }
        },
        "additionalProperties" : { }
      },
      "contactCommentCommonResponse" : {
        "required" : [ "commentedTime", "commenter", "commenterId", "content", "contentType", "encodedContent", "id", "impersonatedUser", "modifiedTime" ],
        "properties" : {
          "modifiedTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "encodedContent" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "commentedTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "contentType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "plainText", "html" ]
          },
          "commenterId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "content" : {
            "maxLength" : 32000,
            "minLength" : 0
          },
          "commenter" : {
            "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 200,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "firstName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "lastName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "name" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "roleName" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64",
                "x-custom-parameters-attributes" : {
                  "removeExif" : false,
                  "filterMatchedContent" : false,
                  "antivirus" : false,
                  "replacementString" : "",
                  "allowInvalid" : false,
                  "descrption" : "ID of the comment",
                  "secret" : false,
                  "preserveCharsLimit" : 10,
                  "trim" : false,
                  "internalParam" : false,
                  "preserveChars" : "0,5",
                  "importUrl" : false,
                  "decrypt" : false
                }
              },
              "type" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
              },
              "email" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
              }
            },
            "additionalProperties" : false
          },
          "impersonatedUser" : {
            "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 200,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "firstName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "lastName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "name" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "roleName" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64",
                "x-custom-parameters-attributes" : {
                  "removeExif" : false,
                  "filterMatchedContent" : false,
                  "antivirus" : false,
                  "replacementString" : "",
                  "allowInvalid" : false,
                  "descrption" : "ID of the comment",
                  "secret" : false,
                  "preserveCharsLimit" : 10,
                  "trim" : false,
                  "internalParam" : false,
                  "preserveChars" : "0,5",
                  "importUrl" : false,
                  "decrypt" : false
                }
              },
              "type" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
              },
              "email" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "dataArr" : {
        "items" : {
          "required" : [ "commentedTime", "commenter", "commenterId", "content", "contentType", "encodedContent", "id", "impersonatedUser", "modifiedTime" ],
          "properties" : {
            "modifiedTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "encodedContent" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "commentedTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "contentType" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "plainText", "html" ]
            },
            "commenterId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "content" : {
              "maxLength" : 32000,
              "minLength" : 0
            },
            "commenter" : {
              "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
              "properties" : {
                "photoURL" : {
                  "maxLength" : 200,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "firstName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "lastName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "roleName" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64",
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "ID of the comment",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "type" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                },
                "email" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                }
              },
              "additionalProperties" : false
            },
            "impersonatedUser" : {
              "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
              "properties" : {
                "photoURL" : {
                  "maxLength" : 200,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "firstName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "lastName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "roleName" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64",
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "ID of the comment",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "type" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                },
                "email" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                }
              },
              "additionalProperties" : false
            }
          },
          "additionalProperties" : false
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "getContactCommentResponse" : {
        "description" : "get Contact Comment Response template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "allOf" : [ {
                "required" : [ "commentedTime", "commenter", "commenterId", "content", "contentType", "encodedContent", "id", "impersonatedUser", "modifiedTime" ],
                "properties" : {
                  "modifiedTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                  },
                  "encodedContent" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "commentedTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                  },
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "contentType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "plainText", "html" ]
                  },
                  "commenterId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "content" : {
                    "maxLength" : 32000,
                    "minLength" : 0
                  },
                  "commenter" : {
                    "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                    "properties" : {
                      "photoURL" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "firstName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "lastName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "roleName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the comment",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                      },
                      "email" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                      }
                    },
                    "additionalProperties" : false
                  },
                  "impersonatedUser" : {
                    "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                    "properties" : {
                      "photoURL" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "firstName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "lastName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "roleName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the comment",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                      },
                      "email" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "additionalProperties" : false
              }, {
                "properties" : {
                  "mention" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxProperties" : 9,
                      "minProperties" : 9,
                      "required" : [ "email", "firstName", "id", "lastName", "length", "offset", "photoURL", "type", "zuid" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "offset" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "length" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "AGENT", "TEAM" ]
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        },
                        "zuid" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        }
                      },
                      "additionalProperties" : false
                    }
                  }
                }
              } ]
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "modifiedTime" : null,
                  "commentedTime" : 1485286523000,
                  "id" : "4000000530045",
                  "contentType" : "plainText",
                  "commenterId" : "4000000008692",
                  "content" : "second contact comment edit",
                  "commenter" : {
                    "firstName" : "Jade",
                    "lastName" : "Tywin",
                    "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000008692/photo?orgId=292828",
                    "name" : "Jade Tywin",
                    "roleName" : "LightAgent",
                    "type" : "AGENT",
                    "email" : "jade12tywin@zylker.com"
                  }
                }
              }
            }
          }
        }
      },
      "contactCommentCommonResponse" : {
        "description" : "contactCommentCommonResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "commentedTime", "commenter", "commenterId", "content", "contentType", "encodedContent", "id", "impersonatedUser", "modifiedTime" ],
              "properties" : {
                "modifiedTime" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                },
                "encodedContent" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "commentedTime" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "contentType" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "plainText", "html" ]
                },
                "commenterId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "content" : {
                  "maxLength" : 32000,
                  "minLength" : 0
                },
                "commenter" : {
                  "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                  "properties" : {
                    "photoURL" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "firstName" : {
                      "maxLength" : 50,
                      "minLength" : 0
                    },
                    "lastName" : {
                      "maxLength" : 50,
                      "minLength" : 0
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "roleName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the comment",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "type" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                    },
                    "email" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                    }
                  },
                  "additionalProperties" : false
                },
                "impersonatedUser" : {
                  "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                  "properties" : {
                    "photoURL" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "firstName" : {
                      "maxLength" : 50,
                      "minLength" : 0
                    },
                    "lastName" : {
                      "maxLength" : 50,
                      "minLength" : 0
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "roleName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the comment",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "type" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                    },
                    "email" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                    }
                  },
                  "additionalProperties" : false
                }
              },
              "additionalProperties" : false
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "modifiedTime" : null,
                  "commentedTime" : 1485286523000,
                  "id" : "4000000530045",
                  "contentType" : "plainText",
                  "commenterId" : "4000000008692",
                  "content" : "second contact comment edit",
                  "commenter" : {
                    "firstName" : "Jade",
                    "lastName" : "Tywin",
                    "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000008692/photo?orgId=292828",
                    "name" : "Jade Tywin",
                    "roleName" : "LightAgent",
                    "type" : "AGENT",
                    "email" : "jade12tywin@zylker.com"
                  }
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "getContactComments" : {
        "description" : "getContactComments template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "allOf" : [ {
                "properties" : {
                  "data" : {
                    "items" : {
                      "properties" : {
                        "mention" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxProperties" : 9,
                            "minProperties" : 9,
                            "required" : [ "email", "firstName", "id", "lastName", "length", "offset", "photoURL", "type", "zuid" ],
                            "properties" : {
                              "firstName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "offset" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "length" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "AGENT", "TEAM" ]
                              },
                              "email" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                              },
                              "zuid" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      }
                    }
                  }
                }
              }, {
                "required" : [ "data" ],
                "properties" : {
                  "data" : {
                    "items" : {
                      "required" : [ "commentedTime", "commenter", "commenterId", "content", "contentType", "encodedContent", "id", "impersonatedUser", "modifiedTime" ],
                      "properties" : {
                        "modifiedTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                        },
                        "encodedContent" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "commentedTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "contentType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "plainText", "html" ]
                        },
                        "commenterId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "content" : {
                          "maxLength" : 32000,
                          "minLength" : 0
                        },
                        "commenter" : {
                          "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type" ],
                          "properties" : {
                            "photoURL" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "roleName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "ID of the comment",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                            },
                            "email" : {
                              "maxLength" : 100,
                              "minLength" : 0,
[...]
