{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "ContactDeduplication",
    "version" : "1.0.0",
    "x-clan-group" : "contacts",
    "x-module-group" : "contacts"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/groupContactDuplicateValues" : {
      "get" : {
        "tags" : [ "ContactDeduplication" ],
        "summary" : "List duplicate contacts",
        "description" : "This API lists the duplicate entries of a contact.The _fieldName_ parameters is mandatory in the API request <br/></br/>_Note:_<br/> If you encounter a 202 status code while executing this API request, it means there are 100,000 or more contacts in the help desk portal. Matching the records and finding duplicates will be time-consuming in such a scenario. Therefore, the deduplication request will be accepted, and after the process is completed, an automated report will be sent to the user who initiated the deduplication.",
        "operationId" : "getDuplicateContactFieldValueCounts",
        "parameters" : [ {
          "name" : "fieldName",
          "in" : "query",
          "description" : "Name of the field whose values must be matched for deduplication.Values allowed are: !@firstName,@! !@lastName,@! !@email,@! !@secondaryEmail,@! !@phone,@! !@fullName,@! and !@bothEmail.@!",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Name of the field whose values must be matched for deduplication.Values allowed are: !@firstName,@! !@lastName,@! !@email,@! !@secondaryEmail,@! !@phone,@! !@fullName,@! and !@bothEmail.@!",
            "enum" : [ "firstName", "lastName", "email", "secondaryEmail", "phone", "fullName", "bothEmail" ]
          }
        }, {
          "name" : "swFieldValue",
          "in" : "query",
          "description" : "Key that specifies the letter with which the field values must start",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^([a-z0-9*#])$",
            "description" : "Key that specifies the letter with which the field values must start"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of contacts to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of contacts to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number starting from which the contacts must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "pattern" : "([0-9]+)",
            "description" : "Index number starting from which the contacts must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Key that sorts the contacts by a specific attribute: @count@ or @fieldValue@. The default sorting order is ascending. A @-@ prefix denotes descending order of sorting",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Key that sorts the contacts by a specific attribute: @count@ or @fieldValue@. The default sorting order is ascending. A @-@ prefix denotes descending order of sorting",
            "enum" : [ "count", "fieldValue" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "listDuplicateContactCountResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "count", "fieldValue" ],
                        "properties" : {
                          "count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "fieldValue" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "count" : 16,
                        "fieldValue" : "Jade"
                      }, {
                        "count" : 2,
                        "fieldValue" : "saran"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "202" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "contacts",
          "apihash" : "4533ee7d5a941b8651c7f91bee2d5912",
          "module-group" : "contacts",
          "apimethod" : "com.zoho.support.restapi.DeduplicationService.getGroupedContactDuplicateValues"
        }
      }
    },
    "/api/v1/contactsDeduplication/defaultFieldName" : {
      "get" : {
        "tags" : [ "ContactDeduplication" ],
        "summary" : "Get name of default field",
        "description" : "This API fetches the name of the field set as the default field for contact deduplication.",
        "operationId" : "getDefaultFieldNameForContactDeduplication",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getDefaultField template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "fieldName" ],
                  "properties" : {
                    "fieldName" : {
                      "enum" : [ "firstName", "lastName", "email", "secondaryEmail", "phone", "fullName", "bothEmail", null ]
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "fieldName" : "email"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "contacts",
          "apihash" : "812ba61d020dc396a9bb51feb18ef283",
          "module-group" : "contacts",
          "apimethod" : "com.zoho.support.restapi.DeduplicationService.getDefaultFieldNameForContactDeduplication"
        }
      },
      "post" : {
        "tags" : [ "ContactDeduplication" ],
        "summary" : "Set default field for contact deduplication",
        "description" : "This API sets the field you specify as the default field for deduplicating contacts.",
        "operationId" : "setDefaultFieldNameForContactDeduplication",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "fieldName", "markDefault" ],
                "properties" : {
                  "fieldName" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "firstName", "lastName", "email", "secondaryEmail", "phone", "fullName", "bothEmail" ]
                  },
                  "markDefault" : { }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "fieldName" : "email",
                    "markDefault" : true
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "commonErrorResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "errorCode" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "",
                      "enum" : [ "URL_NOT_FOUND", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "INTERNAL_SERVER_ERROR", "EMPTY_PAYLOAD" ],
                      "x-custom-parameters-attributes" : { }
                    },
                    "message" : {
                      "maxLength" : 255,
                      "minLength" : 0,
                      "description" : "",
                      "x-custom-parameters-attributes" : { }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : { }
                  }
                }
              }
            },
            "x-custom-response-attributes" : { }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 15,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "contacts",
          "apihash" : "77d75bd2ba48649f25ac788bf6a6e863",
          "module-group" : "contacts",
          "apimethod" : "com.zoho.support.restapi.DeduplicationService.setDefaultFieldNameForContactDeduplication"
        }
      }
    },
    "/api/v1/groupContacts" : {
      "get" : {
        "tags" : [ "ContactDeduplication" ],
        "summary" : "List details of duplicate contacts",
        "description" : "This API lists all the details of duplicate contacts.The _fieldName_ and _fieldValues_ parameters are mandatory in the API request",
        "operationId" : "listGroupedDuplicateContacts",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Secondary information related to the contact. Value allowed is: @accounts@",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Secondary information related to the contact. Value allowed is: @accounts@",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "accounts" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "fieldName",
          "in" : "query",
          "description" : "Name of the field whose values must be matched for deduplication.Values allowed are: !@firstName,@! !@lastName,@! !@email,@! !@secondaryEmail,@! !@phone,@! !@fullName,@! and !@bothEmail.@!",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Name of the field whose values must be matched for deduplication.Values allowed are: !@firstName,@! !@lastName,@! !@email,@! !@secondaryEmail,@! !@phone,@! !@fullName,@! and !@bothEmail.@!",
            "enum" : [ "firstName", "lastName", "email", "secondaryEmail", "phone", "fullName", "bothEmail" ]
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of contacts to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of contacts to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Key that sorts the contacts by a specific attribute:  !@firstName,@! !@lastName,@! !@fullName,@! !@phone,@! !@email,@! !@account,@! !@createdTime,@! !@modifiedTime@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Key that sorts the contacts by a specific attribute:  !@firstName,@! !@lastName,@! !@fullName,@! !@phone,@! !@email,@! !@account,@! !@createdTime,@! !@modifiedTime@!",
            "enum" : [ "firstName", "lastName", "fullName", "phone", "email", "createdTime", "modifiedTime" ]
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number starting from which the contacts must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "pattern" : "([0-9]+)",
            "description" : "Index number starting from which the contacts must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "fieldValues",
          "in" : "query",
          "description" : "Actual values in each field related to the contact",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Actual values in each field related to the contact"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "listDuplicateContactResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "account" : {
                              "maxProperties" : 3,
                              "minProperties" : 3,
                              "required" : [ "accountName", "id", "website" ],
                              "properties" : {
                                "website" : {
                                  "maxLength" : 120,
                                  "minLength" : 0
                                },
                                "accountName" : {
                                  "maxLength" : 200,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : { }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "required" : [ "contacts", "fieldValue" ],
                          "properties" : {
                            "fieldValue" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "contacts" : {
                              "items" : {
                                "additionalProperties" : false,
                                "allOf" : [ {
                                  "required" : [ "accountId", "email", "firstName", "lastName", "mobile", "ownerId", "phone", "secondaryEmail", "type" ],
                                  "properties" : {
                                    "lastName" : {
                                      "maxLength" : 200,
                                      "minLength" : 0,
                                      "description" : "Last name of the contact"
                                    },
                                    "accountId" : {
                                      "pattern" : "([0-9]+)",
                                      "description" : "Account to which the contact is mapped",
                                      "format" : "int64"
                                    },
                                    "firstName" : {
                                      "maxLength" : 40,
                                      "minLength" : 0,
                                      "description" : "First name of the contact"
                                    },
                                    "secondaryEmail" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                                      "description" : "Secondary email ID of the contact"
                                    },
                                    "phone" : {
                                      "maxLength" : 50,
                                      "minLength" : 0,
                                      "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                      "description" : "Phone number of the contact"
                                    },
                                    "mobile" : {
                                      "maxLength" : 50,
                                      "minLength" : 0,
                                      "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                      "description" : "Mobile number of the contact"
                                    },
                                    "ownerId" : {
                                      "pattern" : "([0-9]+)",
                                      "description" : "ID of the user who creates the contact",
                                      "format" : "int64"
                                    },
                                    "type" : {
                                      "description" : "Contact type",
                                      "x-dynamic-enum" : true
                                    },
                                    "email" : {
                                      "maxLength" : 255,
                                      "minLength" : 0,
                                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                                      "description" : "Email ID of the contact"
                                    }
                                  },
                                  "additionalProperties" : false
                                }, {
                                  "required" : [ "accountCount", "createdTime", "customerHappiness", "id", "isAnonymous", "isEndUser", "isSpam", "photoURL", "webUrl", "zohoCRMContact" ],
                                  "properties" : {
                                    "photoURL" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                    },
                                    "isAnonymous" : { },
                                    "accountCount" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "webUrl" : {
                                      "maxLength" : 500,
                                      "minLength" : 0,
                                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                    },
                                    "createdTime" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                    },
                                    "isEndUser" : { },
                                    "zohoCRMContact" : {
                                      "required" : [ "id", "type" ],
                                      "properties" : {
                                        "id" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        },
                                        "type" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "enum" : [ "new", "potentials", "customers", "contacts", "leads" ]
                                        }
                                      },
                                      "additionalProperties" : false
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "customerHappiness" : {
                                      "required" : [ "badPercentage", "goodPercentage", "okPercentage" ],
                                      "properties" : {
                                        "badPercentage" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int32"
                                        },
                                        "okPercentage" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int32"
                                        },
                                        "goodPercentage" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int32"
                                        }
                                      },
                                      "additionalProperties" : false
                                    },
                                    "isSpam" : { }
                                  }
                                } ]
                              }
                            }
                          },
                          "additionalProperties" : { }
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "fieldValue" : "Jade",
                        "contacts" : [ {
                          "lastName" : "Jade",
                          "secondaryEmail" : null,
                          "ownerId" : null,
                          "type" : null,
                          "accountId" : "1892000000091433",
                          "firstName" : "Jonathan",
                          "photoURL" : "https://desk.zoho.com/api/v1/contacts/1892000000772003/photo",
                          "phone" : "555555",
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Contacts/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                          "createdTime" : 1507813910000,
                          "zohoCRMContact" : null,
                          "id" : "1892000000772003",
                          "isSpam" : false,
                          "customerHappiness" : {
                            "badPercentage" : "0",
                            "okPercentage" : "0",
                            "goodPercentage" : "0"
                          },
                          "email" : "case@zylker.com"
                        }, {
                          "lastName" : "Jade",
                          "secondaryEmail" : null,
                          "ownerId" : null,
                          "type" : null,
                          "accountId" : "1892000000052077",
                          "firstName" : "Christ",
                          "photoURL" : null,
                          "phone" : null,
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Contacts/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                          "createdTime" : 1507813910000,
                          "zohoCRMContact" : {
                            "id" : "1892000000772030",
                            "type" : "contacts_leads"
                          },
                          "id" : "1892000000772001",
                          "isSpam" : false,
                          "customerHappiness" : {
                            "badPercentage" : "22",
                            "okPercentage" : "31",
                            "goodPercentage" : "47"
                          },
                          "email" : "jade@zylker.com"
                        } ]
                      }, {
                        "fieldValue" : "Christ",
                        "contacts" : [ {
                          "lastName" : "Jade",
                          "secondaryEmail" : null,
                          "ownerId" : null,
                          "type" : null,
                          "accountId" : "1892000000091433",
                          "firstName" : "Christ",
                          "photoURL" : "https://desk.zoho.com/api/v1/contacts/1892000000772003/photo",
                          "phone" : "555555",
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Contacts/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                          "createdTime" : 1507813910000,
                          "zohoCRMContact" : null,
                          "id" : "1892000000772003",
                          "isSpam" : false,
                          "customerHappiness" : {
                            "badPercentage" : "0",
                            "okPercentage" : "0",
                            "goodPercentage" : "0"
                          },
                          "email" : "case@zylker.com"
                        }, {
                          "lastName" : "Jade",
                          "secondaryEmail" : null,
                          "ownerId" : null,
                          "type" : null,
                          "accountId" : "1892000000052077",
                          "firstName" : "Christ",
                          "photoURL" : null,
                          "phone" : null,
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Contacts/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                          "createdTime" : 1507813910000,
                          "zohoCRMContact" : {
                            "id" : "1892000000772030",
                            "type" : "contacts_leads"
                          },
                          "id" : "1892000000772001",
                          "isSpam" : false,
                          "customerHappiness" : {
                            "badPercentage" : "22",
                            "okPercentage" : "31",
                            "goodPercentage" : "47"
                          },
                          "email" : "jade@zylker.com"
                        } ]
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "contacts",
          "apihash" : "a36bb4117aa5f794c0d35467c0bb3dc3",
          "module-group" : "contacts",
          "apimethod" : "com.zoho.support.restapi.DeduplicationService.getGroupedContacts"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "countResponse" : {
        "required" : [ "count", "fieldValue" ],
        "properties" : {
          "count" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "fieldValue" : {
            "maxLength" : 100,
            "minLength" : 0
          }
        },
        "additionalProperties" : { }
      },
      "counts" : {
        "items" : {
          "required" : [ "count", "fieldValue" ],
          "properties" : {
            "count" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "fieldValue" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          },
          "additionalProperties" : false
        }
      },
      "contactsArray" : {
        "items" : {
          "additionalProperties" : false,
          "allOf" : [ {
            "required" : [ "accountId", "email", "firstName", "lastName", "mobile", "ownerId", "phone", "secondaryEmail", "type" ],
            "properties" : {
              "lastName" : {
                "maxLength" : 200,
                "minLength" : 0,
                "description" : "Last name of the contact"
              },
              "accountId" : {
                "pattern" : "([0-9]+)",
                "description" : "Account to which the contact is mapped",
                "format" : "int64"
              },
              "firstName" : {
                "maxLength" : 40,
                "minLength" : 0,
                "description" : "First name of the contact"
              },
              "secondaryEmail" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                "description" : "Secondary email ID of the contact"
              },
              "phone" : {
                "maxLength" : 50,
                "minLength" : 0,
                "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                "description" : "Phone number of the contact"
              },
              "mobile" : {
                "maxLength" : 50,
                "minLength" : 0,
                "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                "description" : "Mobile number of the contact"
              },
              "ownerId" : {
                "pattern" : "([0-9]+)",
                "description" : "ID of the user who creates the contact",
                "format" : "int64"
              },
              "type" : {
                "description" : "Contact type",
                "x-dynamic-enum" : true
              },
              "email" : {
                "maxLength" : 255,
                "minLength" : 0,
                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                "description" : "Email ID of the contact"
              }
            },
            "additionalProperties" : false
          }, {
            "required" : [ "accountCount", "createdTime", "customerHappiness", "id", "isAnonymous", "isEndUser", "isSpam", "photoURL", "webUrl", "zohoCRMContact" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "isAnonymous" : { },
              "accountCount" : {
                "pattern" : "([0-9]+)",
                "format" : "int32"
              },
              "webUrl" : {
                "maxLength" : 500,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "createdTime" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
              },
              "isEndUser" : { },
              "zohoCRMContact" : {
                "required" : [ "id", "type" ],
                "properties" : {
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "type" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "new", "potentials", "customers", "contacts", "leads" ]
                  }
                },
                "additionalProperties" : false
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "customerHappiness" : {
                "required" : [ "badPercentage", "goodPercentage", "okPercentage" ],
                "properties" : {
                  "badPercentage" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int32"
                  },
                  "okPercentage" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int32"
                  },
                  "goodPercentage" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int32"
                  }
                },
                "additionalProperties" : false
              },
              "isSpam" : { }
            }
          } ]
        }
      },
      "duplicateResponse" : {
        "required" : [ "contacts", "fieldValue" ],
        "properties" : {
          "fieldValue" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "contacts" : {
            "items" : {
              "additionalProperties" : false,
              "allOf" : [ {
                "required" : [ "accountId", "email", "firstName", "lastName", "mobile", "ownerId", "phone", "secondaryEmail", "type" ],
                "properties" : {
                  "lastName" : {
                    "maxLength" : 200,
                    "minLength" : 0,
                    "description" : "Last name of the contact"
                  },
                  "accountId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Account to which the contact is mapped",
                    "format" : "int64"
                  },
                  "firstName" : {
                    "maxLength" : 40,
                    "minLength" : 0,
                    "description" : "First name of the contact"
                  },
                  "secondaryEmail" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                    "description" : "Secondary email ID of the contact"
                  },
                  "phone" : {
                    "maxLength" : 50,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                    "description" : "Phone number of the contact"
                  },
                  "mobile" : {
                    "maxLength" : 50,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                    "description" : "Mobile number of the contact"
                  },
                  "ownerId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the user who creates the contact",
                    "format" : "int64"
                  },
                  "type" : {
                    "description" : "Contact type",
                    "x-dynamic-enum" : true
                  },
                  "email" : {
                    "maxLength" : 255,
                    "minLength" : 0,
                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                    "description" : "Email ID of the contact"
                  }
                },
                "additionalProperties" : false
              }, {
                "required" : [ "accountCount", "createdTime", "customerHappiness", "id", "isAnonymous", "isEndUser", "isSpam", "photoURL", "webUrl", "zohoCRMContact" ],
                "properties" : {
                  "photoURL" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                  },
                  "isAnonymous" : { },
                  "accountCount" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int32"
                  },
                  "webUrl" : {
                    "maxLength" : 500,
                    "minLength" : 0,
                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                  },
                  "createdTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                  },
                  "isEndUser" : { },
                  "zohoCRMContact" : {
                    "required" : [ "id", "type" ],
                    "properties" : {
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "new", "potentials", "customers", "contacts", "leads" ]
                      }
                    },
                    "additionalProperties" : false
                  },
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "customerHappiness" : {
                    "required" : [ "badPercentage", "goodPercentage", "okPercentage" ],
                    "properties" : {
                      "badPercentage" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "okPercentage" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "goodPercentage" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      }
                    },
                    "additionalProperties" : false
                  },
                  "isSpam" : { }
                }
              } ]
            }
          }
        },
        "additionalProperties" : { }
      },
      "duplicateResponseData" : {
        "items" : {
          "required" : [ "contacts", "fieldValue" ],
          "properties" : {
            "fieldValue" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "contacts" : {
              "items" : {
                "additionalProperties" : false,
                "allOf" : [ {
                  "required" : [ "accountId", "email", "firstName", "lastName", "mobile", "ownerId", "phone", "secondaryEmail", "type" ],
                  "properties" : {
                    "lastName" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "description" : "Last name of the contact"
                    },
                    "accountId" : {
                      "pattern" : "([0-9]+)",
                      "description" : "Account to which the contact is mapped",
                      "format" : "int64"
                    },
                    "firstName" : {
                      "maxLength" : 40,
                      "minLength" : 0,
                      "description" : "First name of the contact"
                    },
                    "secondaryEmail" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                      "description" : "Secondary email ID of the contact"
                    },
                    "phone" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                      "description" : "Phone number of the contact"
                    },
                    "mobile" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                      "description" : "Mobile number of the contact"
                    },
                    "ownerId" : {
                      "pattern" : "([0-9]+)",
                      "description" : "ID of the user who creates the contact",
                      "format" : "int64"
                    },
                    "type" : {
                      "description" : "Contact type",
                      "x-dynamic-enum" : true
                    },
                    "email" : {
                      "maxLength" : 255,
                      "minLength" : 0,
                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                      "description" : "Email ID of the contact"
                    }
                  },
                  "additionalProperties" : false
                }, {
                  "required" : [ "accountCount", "createdTime", "customerHappiness", "id", "isAnonymous", "isEndUser", "isSpam", "photoURL", "webUrl", "zohoCRMContact" ],
                  "properties" : {
                    "photoURL" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "isAnonymous" : { },
                    "accountCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "webUrl" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "isEndUser" : { },
                    "zohoCRMContact" : {
                      "required" : [ "id", "type" ],
                      "properties" : {
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "new", "potentials", "customers", "contacts", "leads" ]
                        }
                      },
                      "additionalProperties" : false
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "customerHappiness" : {
                      "required" : [ "badPercentage", "goodPercentage", "okPercentage" ],
                      "properties" : {
                        "badPercentage" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "okPercentage" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "goodPercentage" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "isSpam" : { }
                  }
                } ]
              }
            }
          },
          "additionalProperties" : false
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "listDuplicateContactCountResponse" : {
        "description" : "listDuplicateContactCountResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "data" ],
              "properties" : {
                "data" : {
                  "items" : {
                    "required" : [ "count", "fieldValue" ],
                    "properties" : {
                      "count" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "fieldValue" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      }
                    },
                    "additionalProperties" : false
                  }
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : [ {
                    "count" : 16,
                    "fieldValue" : "Jade"
                  }, {
                    "count" : 2,
                    "fieldValue" : "saran"
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "getDefaultField" : {
        "description" : "getDefaultField template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "fieldName" ],
              "properties" : {
                "fieldName" : {
                  "enum" : [ "firstName", "lastName", "email", "secondaryEmail", "phone", "fullName", "bothEmail", null ]
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "fieldName" : "email"
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "listDuplicateContactResponse" : {
        "description" : "listDuplicateContactResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "allOf" : [ {
                "properties" : {
                  "data" : {
                    "items" : {
                      "properties" : {
                        "account" : {
                          "maxProperties" : 3,
                          "minProperties" : 3,
                          "required" : [ "accountName", "id", "website" ],
                          "properties" : {
                            "website" : {
                              "maxLength" : 120,
                              "minLength" : 0
                            },
                            "accountName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : { }
                        }
                      }
                    }
                  }
                }
              }, {
                "required" : [ "data" ],
                "properties" : {
                  "data" : {
                    "items" : {
                      "required" : [ "contacts", "fieldValue" ],
                      "properties" : {
                        "fieldValue" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "contacts" : {
                          "items" : {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "required" : [ "accountId", "email", "firstName", "lastName", "mobile", "ownerId", "phone", "secondaryEmail", "type" ],
                              "properties" : {
                                "lastName" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "description" : "Last name of the contact"
                                },
                                "accountId" : {
                                  "pattern" : "([0-9]+)",
                                  "description" : "Account to which the contact is mapped",
                                  "format" : "int64"
                                },
                                "firstName" : {
                                  "maxLength" : 40,
                                  "minLength" : 0,
                                  "description" : "First name of the contact"
                                },
                                "secondaryEmail" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                                  "description" : "Secondary email ID of the contact"
                                },
                                "phone" : {
                                  "maxLength" : 50,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                  "description" : "Phone number of the contact"
                                },
                                "mobile" : {
                                  "maxLength" : 50,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                  "description" : "Mobile number of the contact"
                                },
                                "ownerId" : {
                                  "pattern" : "([0-9]+)",
                                  "description" : "ID of the user who creates the contact",
                                  "format" : "int64"
                                },
                                "type" : {
                                  "description" : "Contact type",
                                  "x-dynamic-enum" : true
                                },
                                "email" : {
                                  "maxLength" : 255,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                                  "description" : "Email ID of the contact"
                                }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "accountCount", "createdTime", "customerHappiness", "id", "isAnonymous", "isEndUser", "isSpam", "photoURL", "webUrl", "zohoCRMContact" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "isAnonymous" : { },
                                "accountCount" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "webUrl" : {
                                  "maxLength" : 500,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "createdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "isEndUser" : { },
                                "zohoCRMContact" : {
                                  "required" : [ "id", "type" ],
                                  "properties" : {
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "type" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "new", "potentials", "customers", "contacts", "leads" ]
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "customerHappiness" : {
                                  "required" : [ "badPercentage", "goodPercentage", "okPercentage" ],
                                  "properties" : {
                                    "badPercentage" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "okPercentage" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "goodPercentage" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "isSpam" : { }
                              }
                            } ]
                          }
                        }
                      },
                      "additionalProperties" : false
                    }
                  }
                },
                "additionalProperties" : { }
              } ]
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : [ {
                    "fieldValue" : "Jade",
                    "contacts" : [ {
                      "lastName" : "Jade",
                      "secondaryEmail" : null,
                      "ownerId" : null,
                      "type" : null,
                      "accountId" : "1892000000091433",
                      "firstName" : "Jonathan",
                      "photoURL" : "https://desk.zoho.com/api/v1/contacts/1892000000772003/photo",
                      "phone" : "555555",
                      "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Contacts/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                      "createdTime" : 1507813910000,
                      "zohoCRMContact" : null,
                      "id" : "1892000000772003",
                      "isSpam" : false,
                      "customerHappiness" : {
                        "badPercentage" : "0",
                        "okPercentage" : "0",
                        "goodPercentage" : "0"
                      },
                      "email" : "case@zylker.com"
                    }, {
                      "lastName" : "Jade",
                      "secondaryEmail" : null,
                      "ownerId" : null,
                      "type" : null,
                      "accountId" : "1892000000052077",
                      "firstName" : "Christ",
                      "photoURL" : null,
                      "phone" : null,
                      "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Contacts/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                      "createdTime" : 1507813910000,
                      "zohoCRMContact" : {
                        "id" : "1892000000772030",
                        "type" : "contacts_leads"
                      },
                      "id" : "1892000000772001",
                      "isSpam" : false,
                      "customerHappiness" : {
                        "badPercentage" : "22",
                        "okPercentage" : "31",
                        "goodPercentage" : "47"
                      },
                      "email" : "jade@zylker.com"
                    } ]
                  }, {
                    "fieldValue" : "Christ",
                    "contacts" : [ {
                      "lastName" : "Jade",
                      "secondaryEmail" : null,
                      "ownerId" : null,
                      "type" : null,
                      "accountId" : "1892000000091433",
                      "firstName" : "Christ",
                      "photoURL" : "https://desk.zoho.com/api/v1/contacts/1892000000772003/photo",
                      "phone" : "555555",
                      "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Contacts/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                      "createdTime" : 1507813910000,
                      "zohoCRMContact" : null,
                      "id" : "1892000000772003",
                      "isSpam" : false,
                      "customerHappiness" : {
                        "badPercentage" : "0",
                        "okPercentage" : "0",
                        "goodPercentage" : "0"
                      },
                      "email" : "case@zylker.com"
                    }, {
                      "lastName" : "Jade",
                      "secondaryEmail" : null,
                      "ownerId" : null,
                      "type" : null,
                      "accountId" : "1892000000052077",
                      "firstName" : "Christ",
                      "photoURL" : null,
                      "phone" : null,
                      "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Contacts/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                      "createdTime" : 1507813910000,
                      "zohoCRMContact" : {
                        "id" : "1892000000772030",
                        "type" : "contacts_leads"
                      },
                      "id" : "1892000000772001",
                      "isSpam" : false,
                      "customerHappiness" : {
                        "badPercentage" : "22",
                        "okPercentage" : "31",
                        "goodPercentage" : "47"
                      },
                      "email" : "jade@zylker.com"
                    } ]
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "OAuth Org Mismatch Error Response" : {
                "value" : {
                  "errorCode" : "OAUTH_ORG_MISMATCH",
                  "message" : "The OAuthToken is not valid for specified organization."
                }
              }
            }
          }
        }
      },
      "forbiddenErrorResponse" : {
        "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Forbidden Error Response" : {
                "value" : {
                  "errorCode" : "FORBIDDEN",
                  "message" : "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "urlNotFoundErrorResponse" : {
        "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Url Not Found Error Response" : {
                "value" : {
                  "errorCode" : "URL_NOT_FOUND",
                  "message" : "The URL you requested could not be found."
                }
              }
            }
          }
        }
      },
      "methodNotAllowedErrorResponse" : {
        "description" : "This errorCode value appears if the method in the API request is known by the server but disabled for the API requested.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Method Not Allowed Error Response" : {
                "value" : {
                  "errorCode" : "METHOD_NOT_ALLOWED",
                  "message" : "This HTTP method is not allowed on this URL."
                }
              }
            }
          }
        }
      },
      "resourceSizeExceededErrorResponse" : {
        "description" : "This errorCode value appears if the size of the resource exceeds the limit defined by the server.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Resource Size Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "RESOURCE_SIZE_EXCEEDED",
                  "message" : "Attachment size is too large. The maximum size supported is 20 MB."
                }
              }
            }
          }
        }
      },
      "unSupportedMediaTypeErrorResponse" : {
        "description" : "This errorCode value appears if the server refuses the request as a result of receiving the input in an unsupported format.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unsupported Media Type Error Response" : {
                "value" : {
                  "errorCode" : "UNSUPPORTED_MEDIA_TYPE",
                  "message" : "The given content type is not supported. Please provide the input Content-Type as application/json"
                }
              }
            }
          }
        }
      },
      "unprocessableEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The value passed for the 'from' query parameter is invalid."
                }
              }
            }
          }
        }
      },
      "missingEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not contain the mandatory parameters for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The mandatory parameter 'permission' is missing"
                }
              }
            }
          }
        }
      },
      "thresholdExceedErrorResponse" : {
        "description" : "This errorCode value appears if the user sends too many requests within a given amount of time (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Threshold Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "THRESHOLD_EXCEEDED",
                  "message" : "The maximum number of API calls that can be made per day has been exceeded."
                }
              }
            }
          }
        }
      },
      "concurrentRateLimitExceededErrorResponse" : {
        "description" : "This errorCode value appears if the user fires too many requests in a simultaneous/concurrent manner (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Concurrent Rate Limit Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "TOO_MANY_REQUESTS",
                  "message" : "The maximum number of Concurrent API Calls that can be made has been exceeded."
                }
              }
            }
          }
        }
      },
      "internalErrorResponse" : {
        "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Internal Server Error Response" : {
                "value" : {
                  "errorCode" : "INTERNAL_SERVER_ERROR",
                  "message" : "An internal server error occurred while performing this operation."
                }
              }
            }
          }
        }
      },
      "licenseErrorResponse" : {
        "description" : "This errorCode value appears if the user is unable to perform an action due to the limitations of the Zoho Desk edition in use\nThe possible values for the feature key are\n    *AGENTS*\n    *LIGHT_AGENTS*\n    *TEAM*\nThe possible values for the editionType key are\n    *FREE*\n    *PROFESSIONAL*\n    *ENTERPRISE*",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "editionType", "feature", "isTrial", "maxAllowedEntity" ],
                "properties" : {
                  "maxAllowedEntity" : {
                    "pattern" : "([0-9]+)"
                  },
                  "feature" : {
                    "enum" : [ "AGENTS", "LIGHT_AGENTS", "TEAM" ]
                  },
                  "editionType" : {
                    "enum" : [ "ENTERPRISE", "PROFESSIONAL", "STANDARD", "EXPRESS", "FREE" ]
                  },
                  "isTrial" : { }
                }
              } ]
            },
            "examples" : {
              "LicenseAccessLimited Error Response" : {
                "value" : {
                  "errorCode" : "LICENSE_ACCESS_LIMITED",
                  "maxAllowedEntity" : "10",
                  "feature" : "AGENTS",
                  "editionType" : "FREE",
                  "isTrial" : false,
                  "message" : "Your Zoho Desk Edition does not support this feature/operation."
                }
              }
            }
          }
        }
      },
      "multipleUnprocessEntityResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "anyOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
[...]
