{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "CountriesAndLanguages",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "users"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/countries" : {
      "get" : {
        "tags" : [ "CountriesAndLanguages" ],
        "summary" : "List all countries",
        "description" : "This API lists the countries that can be set in the locale field in Zoho Desk. Keep in mind that the <b>countries</b> object will be deprecated soon. Therefore, make sure to use the <b>data</b> object instead, wherever needed.",
        "operationId" : "getAllCountries",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "countriesCommonResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "countries", "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "currencyCode", "currencySymbol", "id", "name" ],
                        "properties" : {
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "currencySymbol" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "currencyCode" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "countries" : {
                      "required" : [ "Afghanistan", "Albanian", "Algerian", "American Samoa", "Andorra", "Angola", "Anguilla", "Antarctica", "Antigua and Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "BelgiumDutch", "BelgiumFrench", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia and Herzegovina", "Botswana", "Bouvet Island", "Brazil", "British Indian Ocean Territory", "British Virgin Islands", "Brunei", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "CanadaEnglish", "CanadaFrench", "Cape Verde", "Cayman Islands", "Central African Republic", "Chad", "Chile", "China", "Christmas Island", "Cocos Islands", "Colombia", "Comoros", "Congo", "Cook Islands", "Costa Rica", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Falkland Islands", "Faroe Islands", "Fiji", "Finland", "France", "French Guiana", "French Polynesia", "French Southern Territories", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guadeloupe", "Guam", "Guatemala", "Guinea", "GuineaBissau", "Guyana", "Haiti", "Heard Island And McDonald Islands", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Israel", "Italy", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Kosovo", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "LuxembourgFrench", "LuxembourgGerman", "Macao", "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Martinique", "Mauritania", "Mauritius", "Mayotte", "Mexico", "Micronesia", "Moldova", "Monaco", "Mongolia", "Montserrat", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauru", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "Niue", "Norfolk Island", "North Korea", "Northern Mariana Islands", "Norway", "Oman", "Pakistan", "Palau", "Palestine", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Pitcairn", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romania", "Russia", "Rwanda", "Saint Helena", "Saint Kitts And Nevis", "Saint Lucia", "Saint Pierre And Miquelon", "Saint Vincent And The Grenadines", "Samoa", "San Marino", "Sao Tome And Principe", "Saudi Arabia", "Senegal", "Serbia and Montenegro", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Georgia And The South Sandwich Islands", "South Korea", "SpainCatalan", "SpainSpanish", "Sri Lanka", "Sudan", "Suriname", "Svalbard And Jan Mayen", "Swaziland", "Sweden", "SwitzerlandFrench", "SwitzerlandGerman", "SwitzerlandItalian", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "The Democratic Republic Of Congo", "TimorLeste", "Togo", "Tokelau", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks And Caicos Islands", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States", "United States Minor Outlying Islands", "Uruguay", "Uzbekistan", "Vanuatu", "Vatican", "Venezuela", "Vietnam", "Virgin Islands", "Wallis And Futuna", "Western Sahara", "Yemen", "Zambia", "Zimbabwe", "dIvoire", "land Islands" ],
                      "properties" : {
                        "Papua New Guinea" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_PG" ]
                        },
                        "Cambodia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "km_KH" ]
                        },
                        "Kazakhstan" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ru_KZ" ]
                        },
                        "Paraguay" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_PY" ]
                        },
                        "Syria" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_SY" ]
                        },
                        "Bahamas" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_BS" ]
                        },
                        "Solomon Islands" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_SB" ]
                        },
                        "Montserrat" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_MS" ]
                        },
                        "Mali" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_ML" ]
                        },
                        "Marshall Islands" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_MH" ]
                        },
                        "Guadeloupe" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_GP" ]
                        },
                        "Panama" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_PA" ]
                        },
                        "Laos" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "lo_LA" ]
                        },
                        "Vatican" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "it_VA" ]
                        },
                        "Argentina" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_AR" ]
                        },
                        "Falkland Islands" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_FK" ]
                        },
                        "Virgin Islands" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_VI" ]
                        },
                        "Seychelles" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_SC" ]
                        },
                        "Belize" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_BZ" ]
                        },
                        "Zambia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_ZM" ]
                        },
                        "Bahrain" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_BH" ]
                        },
                        "Congo" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_CG" ]
                        },
                        "Namibia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_NA" ]
                        },
                        "Comoros" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_KM" ]
                        },
                        "Faroe Islands" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fo_FO" ]
                        },
                        "Finland" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fi_FI" ]
                        },
                        "Netherlands Antilles" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "nl_AN" ]
                        },
                        "Georgia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ka_GE" ]
                        },
                        "Yemen" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_YE" ]
                        },
                        "Eritrea" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_ER" ]
                        },
                        "Puerto Rico" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_PR" ]
                        },
                        "Aruba" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "nl_AW" ]
                        },
                        "Madagascar" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_MG" ]
                        },
                        "Libya" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_LY" ]
                        },
                        "Sweden" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "sv_SE" ]
                        },
                        "Malawi" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_MW" ]
                        },
                        "Andorra" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ca_AD" ]
                        },
                        "Liechtenstein" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "de_LI" ]
                        },
                        "Algerian" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_DZ" ]
                        },
                        "Poland" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "pl_PL" ]
                        },
                        "Bulgaria" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "bg_BG" ]
                        },
                        "Jordan" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_JO" ]
                        },
                        "Tunisia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_TN" ]
                        },
                        "Tuvalu" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_TV" ]
                        },
                        "United Arab Emirates" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_AE" ]
                        },
                        "Kenya" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "sw_KE" ]
                        },
                        "French Polynesia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_PF" ]
                        },
                        "Brunei" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ms_BN" ]
                        },
                        "Djibouti" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_DJ" ]
                        },
                        "Lebanon" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_LB" ]
                        },
                        "Azerbaijan" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "az_AZ" ]
                        },
                        "Cuba" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_CU" ]
                        },
                        "Czech Republic" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "cs_CZ" ]
                        },
                        "Mauritania" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_MR" ]
                        },
                        "Saint Lucia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_LC" ]
                        },
                        "Mayotte" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_YT" ]
                        },
                        "Israel" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "iw_IL" ]
                        },
                        "San Marino" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "it_SM" ]
                        },
                        "Australia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_AU" ]
                        },
                        "Tajikistan" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fa_TJ" ]
                        },
                        "Myanmar" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "my_MM" ]
                        },
                        "Cameroon" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_CM" ]
                        },
                        "Gibraltar" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_GI" ]
                        },
                        "Cyprus" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "el_CY" ]
                        },
                        "Northern Mariana Islands" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_MP" ]
                        },
                        "Malaysia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ms_MY" ]
                        },
                        "BelgiumFrench" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_BE" ]
                        },
                        "dIvoire" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_CI" ]
                        },
                        "Iceland" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "is_IS" ]
                        },
                        "Oman" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_OM" ]
                        },
                        "Armenia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "hy_AM" ]
                        },
                        "Gabon" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_GA" ]
                        },
                        "CanadaFrench" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_CA" ]
                        },
                        "Brazil" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "pt_BR" ]
                        },
                        "Slovenia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "sl_SI" ]
                        },
                        "LuxembourgFrench" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_LU" ]
                        },
                        "Antigua and Barbuda" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_AG" ]
                        },
                        "Colombia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_CO" ]
                        },
                        "Ecuador" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_EC" ]
                        },
                        "Moldova" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ro_MD" ]
                        },
                        "Vanuatu" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "bi_VU" ]
                        },
                        "United States Minor Outlying Islands" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_UM" ]
                        },
                        "Cocos Islands" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_CC" ]
                        },
                        "Honduras" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_HN" ]
                        },
                        "Italy" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "it_IT" ]
                        },
                        "Antarctica" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_AQ" ]
                        },
                        "Nauru" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_NR" ]
                        },
                        "SwitzerlandFrench" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_CH" ]
                        },
                        "Haiti" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_HT" ]
                        },
                        "Afghanistan" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ps_AF" ]
                        },
                        "Burundi" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_BI" ]
                        },
                        "CanadaEnglish" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_CA" ]
                        },
                        "Singapore" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_SG" ]
                        },
                        "French Guiana" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_GF" ]
                        },
                        "GuineaBissau" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "pt_GW" ]
                        },
                        "American Samoa" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_AS" ]
                        },
                        "Christmas Island" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_CX" ]
                        },
                        "Russia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ru_RU" ]
                        },
                        "Netherlands" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "nl_NL" ]
                        },
                        "China" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "zh_CN" ]
                        },
                        "Martinique" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_MQ" ]
                        },
                        "The Democratic Republic Of Congo" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_CD" ]
                        },
                        "Kyrgyzstan" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "uz_KG" ]
                        },
                        "Wallis And Futuna" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_WF" ]
                        },
                        "Reunion" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_RE" ]
                        },
                        "Saint Pierre And Miquelon" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_PM" ]
                        },
                        "Bhutan" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_BT" ]
                        },
                        "Romania" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ro_RO" ]
                        },
                        "Togo" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_TG" ]
                        },
                        "Philippines" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_PH" ]
                        },
                        "Uzbekistan" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "uz_UZ" ]
                        },
                        "Pitcairn" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_PN" ]
                        },
                        "British Virgin Islands" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_VG" ]
                        },
                        "Zimbabwe" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_ZW" ]
                        },
                        "British Indian Ocean Territory" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_IO" ]
                        },
                        "Dominica" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_DM" ]
                        },
                        "Indonesia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "id_ID" ]
                        },
                        "Benin" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_BJ" ]
                        },
                        "Angola" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "pt_AO" ]
                        },
                        "Sudan" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_SD" ]
                        },
                        "Portugal" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "pt_PT" ]
                        },
                        "New Caledonia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_NC" ]
                        },
                        "Grenada" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_GD" ]
                        },
                        "North Korea" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ko_KP" ]
                        },
                        "Cayman Islands" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_KY" ]
                        },
                        "Greece" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "el_GR" ]
                        },
                        "Latvia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "lv_LV" ]
                        },
                        "Mongolia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "mn_MN" ]
                        },
                        "Iran" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fa_IR" ]
                        },
                        "Morocco" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_MA" ]
                        },
                        "Guatemala" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_GT" ]
                        },
                        "Guyana" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_GY" ]
                        },
                        "Iraq" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_IQ" ]
                        },
                        "Chile" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_CL" ]
                        },
                        "Nepal" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ne_NP" ]
                        },
                        "SpainCatalan" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ca_ES" ]
                        },
                        "Tanzania" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "sw_TZ" ]
                        },
                        "Ukraine" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "uk_UA" ]
                        },
                        "Ghana" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_GH" ]
                        },
                        "Anguilla" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_AI" ]
                        },
                        "Saint Vincent And The Grenadines" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_VC" ]
                        },
                        "SwitzerlandItalian" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "it_CH" ]
                        },
                        "India" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_IN" ]
                        },
                        "Maldives" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "dv_MV" ]
                        },
                        "Turkey" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "tr_TR" ]
                        },
                        "Taiwan" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "zh_TW" ]
                        },
                        "South Africa" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_ZA" ]
                        },
                        "Trinidad and Tobago" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_TT" ]
                        },
                        "Bermuda" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_BM" ]
                        },
                        "Central African Republic" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_CF" ]
                        },
                        "Jamaica" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_JM" ]
                        },
                        "Peru" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_PE" ]
                        },
                        "Turkmenistan" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "tk_TM" ]
                        },
                        "Germany" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "de_DE" ]
                        },
                        "Fiji" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fj_FJ" ]
                        },
                        "Tokelau" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_TK" ]
                        },
                        "Hong Kong" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "zh_HK" ]
                        },
                        "Guinea" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_GN" ]
                        },
                        "United States" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_US" ]
                        },
                        "Chad" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_TD" ]
                        },
                        "Somalia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "so_SO" ]
                        },
                        "Thailand" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "th_TH" ]
                        },
                        "Equatorial Guinea" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_GQ" ]
                        },
                        "Kiribati" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_KI" ]
                        },
                        "Costa Rica" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_CR" ]
                        },
                        "Vietnam" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "vi_VN" ]
                        },
                        "Kuwait" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_KW" ]
                        },
                        "Nigeria" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_NG" ]
                        },
                        "Croatia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "hr_HR" ]
                        },
                        "Sao Tome And Principe" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "pt_ST" ]
                        },
                        "Cook Islands" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_CK" ]
                        },
                        "Sri Lanka" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "si_LK" ]
                        },
                        "Uruguay" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_UY" ]
                        },
                        "United Kingdom" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_GB" ]
                        },
                        "Samoa" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_WS" ]
                        },
                        "Palestine" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_PS" ]
                        },
                        "Liberia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_LR" ]
                        },
                        "Venezuela" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_VE" ]
                        },
                        "Burkina Faso" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_BF" ]
                        },
                        "Swaziland" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_SZ" ]
                        },
                        "Palau" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_PW" ]
                        },
                        "Turks And Caicos Islands" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_TC" ]
                        },
                        "Estonia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "et_EE" ]
                        },
                        "Niue" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_NU" ]
                        },
                        "Heard Island And McDonald Islands" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_HM" ]
                        },
                        "Svalbard And Jan Mayen" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "no_SJ" ]
                        },
                        "BelgiumDutch" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "nl_BE" ]
                        },
                        "SpainSpanish" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_ES" ]
                        },
                        "Austria" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "de_AT" ]
                        },
                        "South Korea" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ko_KR" ]
                        },
                        "Mozambique" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "pt_MZ" ]
                        },
                        "El Salvador" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_SV" ]
                        },
                        "Monaco" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_MC" ]
                        },
                        "Guam" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_GU" ]
                        },
                        "Lesotho" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_LS" ]
                        },
                        "Tonga" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "to_TO" ]
                        },
                        "Western Sahara" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_EH" ]
                        },
                        "Hungary" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "hu_HU" ]
                        },
                        "land Islands" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "sv_AX" ]
                        },
                        "Japan" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ja_JP" ]
                        },
                        "Belarus" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "be_BY" ]
                        },
                        "SwitzerlandGerman" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "de_CH" ]
                        },
                        "Mauritius" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_MU" ]
                        },
                        "Bouvet Island" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "no_BV" ]
                        },
                        "Norfolk Island" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_NF" ]
                        },
                        "New Zealand" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_NZ" ]
                        },
                        "Senegal" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_SN" ]
                        },
                        "TimorLeste" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "pt_TL" ]
                        },
                        "Macedonia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "mk_MK" ]
                        },
                        "Ethiopia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "am_ET" ]
                        },
                        "Egypt" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_EG" ]
                        },
                        "Sierra Leone" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_SL" ]
                        },
                        "Bolivia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_BO" ]
                        },
                        "LuxembourgGerman" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "de_LU" ]
                        },
                        "Malta" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "mt_MT" ]
                        },
                        "Saudi Arabia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_SA" ]
                        },
                        "Cape Verde" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "pt_CV" ]
                        },
                        "South Georgia And The South Sandwich Islands" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_GS" ]
                        },
                        "Pakistan" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_PK" ]
                        },
                        "Kosovo" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_XK" ]
                        },
                        "Gambia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_GM" ]
                        },
                        "Ireland" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_IE" ]
                        },
                        "Qatar" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ar_QA" ]
                        },
                        "Serbia and Montenegro" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "sr_CS" ]
                        },
                        "Slovakia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "sk_SK" ]
                        },
                        "France" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_FR" ]
                        },
                        "Lithuania" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "lt_LT" ]
                        },
                        "Bosnia and Herzegovina" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "bs_BA" ]
                        },
                        "Albanian" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "sq_AL" ]
                        },
                        "Niger" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_NE" ]
                        },
                        "Rwanda" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "rw_RW" ]
                        },
                        "Saint Kitts And Nevis" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_KN" ]
                        },
                        "French Southern Territories" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "fr_TF" ]
                        },
                        "Bangladesh" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "bn_BD" ]
                        },
                        "Barbados" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_BB" ]
                        },
                        "Nicaragua" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_NI" ]
                        },
                        "Norway" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "no_NO" ]
                        },
                        "Botswana" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_BW" ]
                        },
                        "Macao" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "zh_MO" ]
                        },
                        "Denmark" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "da_DK" ]
                        },
                        "Dominican Republic" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_DO" ]
                        },
                        "Mexico" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "es_MX" ]
                        },
                        "Uganda" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_UG" ]
                        },
                        "Micronesia" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_FM" ]
                        },
                        "Suriname" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "nl_SR" ]
                        },
                        "Greenland" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "kl_GL" ]
                        },
                        "Saint Helena" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "en_SH" ]
                        }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "name" : "Puerto Rico",
                        "currencySymbol" : "USD",
                        "id" : "PR",
                        "currencyCode" : "USD"
                      }, {
                        "name" : "Palestinian Territories",
                        "currencySymbol" : "ILS",
                        "id" : "PS",
                        "currencyCode" : "ILS"
                      }, {
                        "name" : "Portugal",
                        "currencySymbol" : "EUR",
                        "id" : "PT",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Palau",
                        "currencySymbol" : "USD",
                        "id" : "PW",
                        "currencyCode" : "USD"
                      }, {
                        "name" : "Paraguay",
                        "currencySymbol" : "PYG",
                        "id" : "PY",
                        "currencyCode" : "PYG"
                      }, {
                        "name" : "Qatar",
                        "currencySymbol" : "QAR",
                        "id" : "QA",
                        "currencyCode" : "QAR"
                      }, {
                        "name" : "Andorra",
                        "currencySymbol" : "EUR",
                        "id" : "AD",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "United Arab Emirates",
                        "currencySymbol" : "AED",
                        "id" : "AE",
                        "currencyCode" : "AED"
                      }, {
                        "name" : "Afghanistan",
                        "currencySymbol" : "AFN",
                        "id" : "AF",
                        "currencyCode" : "AFN"
                      }, {
                        "name" : "Antigua & Barbuda",
                        "currencySymbol" : "XCD",
                        "id" : "AG",
                        "currencyCode" : "XCD"
                      }, {
                        "name" : "Anguilla",
                        "currencySymbol" : "XCD",
                        "id" : "AI",
                        "currencyCode" : "XCD"
                      }, {
                        "name" : "Albania",
                        "currencySymbol" : "ALL",
                        "id" : "AL",
                        "currencyCode" : "ALL"
                      }, {
                        "name" : "Armenia",
                        "currencySymbol" : "AMD",
                        "id" : "AM",
                        "currencyCode" : "AMD"
                      }, {
                        "name" : "Netherlands Antilles",
                        "currencySymbol" : "ANG",
                        "id" : "AN",
                        "currencyCode" : "ANG"
                      }, {
                        "name" : "Angola",
                        "currencySymbol" : "AOA",
                        "id" : "AO",
                        "currencyCode" : "AOA"
                      }, {
                        "name" : "Antarctica",
                        "currencySymbol" : "XXX",
                        "id" : "AQ",
                        "currencyCode" : "-"
                      }, {
                        "name" : "Argentina",
                        "currencySymbol" : "ARS",
                        "id" : "AR",
                        "currencyCode" : "ARS"
                      }, {
                        "name" : "American Samoa",
                        "currencySymbol" : "USD",
                        "id" : "AS",
                        "currencyCode" : "USD"
                      }, {
                        "name" : "Austria",
                        "currencySymbol" : "EUR",
                        "id" : "AT",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Réunion",
                        "currencySymbol" : "EUR",
                        "id" : "RE",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Australia",
                        "currencySymbol" : "$",
                        "id" : "AU",
                        "currencyCode" : "AUD"
                      }, {
                        "name" : "Aruba",
                        "currencySymbol" : "AWG",
                        "id" : "AW",
                        "currencyCode" : "AWG"
                      }, {
                        "name" : "Åland Islands",
                        "currencySymbol" : "EUR",
                        "id" : "AX",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Azerbaijan",
                        "currencySymbol" : "AZN",
                        "id" : "AZ",
                        "currencyCode" : "AZN"
                      }, {
                        "name" : "Romania",
                        "currencySymbol" : "RON",
                        "id" : "RO",
                        "currencyCode" : "RON"
                      }, {
                        "name" : "Bosnia & Herzegovina",
                        "currencySymbol" : "BAM",
                        "id" : "BA",
                        "currencyCode" : "BAM"
                      }, {
                        "name" : "Barbados",
                        "currencySymbol" : "BBD",
                        "id" : "BB",
                        "currencyCode" : "BBD"
                      }, {
                        "name" : "Serbia",
                        "currencySymbol" : "RSD",
                        "id" : "RS",
                        "currencyCode" : "RSD"
                      }, {
                        "name" : "Bangladesh",
                        "currencySymbol" : "BDT",
                        "id" : "BD",
                        "currencyCode" : "BDT"
                      }, {
                        "name" : "Belgium",
                        "currencySymbol" : "EUR",
                        "id" : "BE",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Russia",
                        "currencySymbol" : "RUB",
                        "id" : "RU",
                        "currencyCode" : "RUB"
                      }, {
                        "name" : "Burkina Faso",
                        "currencySymbol" : "XOF",
                        "id" : "BF",
                        "currencyCode" : "XOF"
                      }, {
                        "name" : "Bulgaria",
                        "currencySymbol" : "BGN",
                        "id" : "BG",
                        "currencyCode" : "BGN"
                      }, {
                        "name" : "Rwanda",
                        "currencySymbol" : "RWF",
                        "id" : "RW",
                        "currencyCode" : "RWF"
                      }, {
                        "name" : "Bahrain",
                        "currencySymbol" : "BHD",
                        "id" : "BH",
                        "currencyCode" : "BHD"
                      }, {
                        "name" : "Burundi",
                        "currencySymbol" : "BIF",
                        "id" : "BI",
                        "currencyCode" : "BIF"
                      }, {
                        "name" : "Benin",
                        "currencySymbol" : "XOF",
                        "id" : "BJ",
                        "currencyCode" : "XOF"
                      }, {
                        "name" : "St. Barthélemy",
                        "currencySymbol" : "EUR",
                        "id" : "BL",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Bermuda",
                        "currencySymbol" : "BMD",
                        "id" : "BM",
                        "currencyCode" : "BMD"
                      }, {
                        "name" : "Brunei",
                        "currencySymbol" : "BND",
                        "id" : "BN",
                        "currencyCode" : "BND"
                      }, {
                        "name" : "Bolivia",
                        "currencySymbol" : "BOB",
                        "id" : "BO",
                        "currencyCode" : "BOB"
                      }, {
                        "name" : "Saudi Arabia",
                        "currencySymbol" : "SAR",
                        "id" : "SA",
                        "currencyCode" : "SAR"
                      }, {
                        "name" : "Caribbean Netherlands",
                        "currencySymbol" : "USD",
                        "id" : "BQ",
                        "currencyCode" : "USD"
                      }, {
                        "name" : "Solomon Islands",
                        "currencySymbol" : "SBD",
                        "id" : "SB",
                        "currencyCode" : "SBD"
                      }, {
                        "name" : "Brazil",
                        "currencySymbol" : "BRL",
                        "id" : "BR",
                        "currencyCode" : "BRL"
                      }, {
                        "name" : "Seychelles",
                        "currencySymbol" : "SCR",
                        "id" : "SC",
                        "currencyCode" : "SCR"
                      }, {
                        "name" : "Bahamas",
                        "currencySymbol" : "BSD",
                        "id" : "BS",
                        "currencyCode" : "BSD"
                      }, {
                        "name" : "Sudan",
                        "currencySymbol" : "SDG",
                        "id" : "SD",
                        "currencyCode" : "SDG"
                      }, {
                        "name" : "Bhutan",
                        "currencySymbol" : "BTN",
                        "id" : "BT",
                        "currencyCode" : "BTN"
                      }, {
                        "name" : "Sweden",
                        "currencySymbol" : "SEK",
                        "id" : "SE",
                        "currencyCode" : "SEK"
                      }, {
                        "name" : "Bouvet Island",
                        "currencySymbol" : "NOK",
                        "id" : "BV",
                        "currencyCode" : "NOK"
                      }, {
                        "name" : "Singapore",
                        "currencySymbol" : "$",
                        "id" : "SG",
                        "currencyCode" : "SGD"
                      }, {
                        "name" : "Botswana",
                        "currencySymbol" : "BWP",
                        "id" : "BW",
                        "currencyCode" : "BWP"
                      }, {
                        "name" : "St. Helena",
                        "currencySymbol" : "SHP",
                        "id" : "SH",
                        "currencyCode" : "SHP"
                      }, {
                        "name" : "Slovenia",
                        "currencySymbol" : "EUR",
                        "id" : "SI",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Belarus",
                        "currencySymbol" : "BYN",
                        "id" : "BY",
                        "currencyCode" : "BYN"
                      }, {
                        "name" : "Svalbard & Jan Mayen",
                        "currencySymbol" : "NOK",
                        "id" : "SJ",
                        "currencyCode" : "NOK"
                      }, {
                        "name" : "Belize",
                        "currencySymbol" : "BZD",
                        "id" : "BZ",
                        "currencyCode" : "BZD"
                      }, {
                        "name" : "Slovakia",
                        "currencySymbol" : "EUR",
                        "id" : "SK",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Sierra Leone",
                        "currencySymbol" : "SLL",
                        "id" : "SL",
                        "currencyCode" : "SLL"
                      }, {
                        "name" : "San Marino",
                        "currencySymbol" : "EUR",
                        "id" : "SM",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Senegal",
                        "currencySymbol" : "XOF",
                        "id" : "SN",
                        "currencyCode" : "XOF"
                      }, {
                        "name" : "Somalia",
                        "currencySymbol" : "SOS",
                        "id" : "SO",
                        "currencyCode" : "SOS"
                      }, {
                        "name" : "Canada",
                        "currencySymbol" : "$",
                        "id" : "CA",
                        "currencyCode" : "CAD"
                      }, {
                        "name" : "Suriname",
                        "currencySymbol" : "SRD",
                        "id" : "SR",
                        "currencyCode" : "SRD"
                      }, {
                        "name" : "Cocos (Keeling) Islands",
                        "currencySymbol" : "AUD",
                        "id" : "CC",
                        "currencyCode" : "AUD"
                      }, {
                        "name" : "South Sudan",
                        "currencySymbol" : "SSP",
                        "id" : "SS",
                        "currencyCode" : "SSP"
                      }, {
                        "name" : "Congo - Kinshasa",
                        "currencySymbol" : "CDF",
                        "id" : "CD",
                        "currencyCode" : "CDF"
                      }, {
                        "name" : "São Tomé & Príncipe",
                        "currencySymbol" : "STN",
                        "id" : "ST",
                        "currencyCode" : "STN"
                      }, {
                        "name" : "Central African Republic",
                        "currencySymbol" : "XAF",
                        "id" : "CF",
                        "currencyCode" : "XAF"
                      }, {
                        "name" : "El Salvador",
                        "currencySymbol" : "SVC",
                        "id" : "SV",
                        "currencyCode" : "SVC"
                      }, {
                        "name" : "Congo - Brazzaville",
                        "currencySymbol" : "XAF",
                        "id" : "CG",
                        "currencyCode" : "XAF"
                      }, {
                        "name" : "Switzerland",
                        "currencySymbol" : "CHF",
                        "id" : "CH",
                        "currencyCode" : "CHF"
                      }, {
                        "name" : "Sint Maarten",
                        "currencySymbol" : "ANG",
                        "id" : "SX",
                        "currencyCode" : "ANG"
                      }, {
                        "name" : "Côte d’Ivoire",
                        "currencySymbol" : "XOF",
                        "id" : "CI",
                        "currencyCode" : "XOF"
                      }, {
                        "name" : "Syria",
                        "currencySymbol" : "SYP",
                        "id" : "SY",
                        "currencyCode" : "SYP"
                      }, {
                        "name" : "Eswatini",
                        "currencySymbol" : "SZL",
                        "id" : "SZ",
                        "currencyCode" : "SZL"
                      }, {
                        "name" : "Cook Islands",
                        "currencySymbol" : "NZD",
                        "id" : "CK",
                        "currencyCode" : "NZD"
                      }, {
                        "name" : "Chile",
                        "currencySymbol" : "CLP",
                        "id" : "CL",
                        "currencyCode" : "CLP"
                      }, {
                        "name" : "Cameroon",
                        "currencySymbol" : "XAF",
                        "id" : "CM",
                        "currencyCode" : "XAF"
                      }, {
                        "name" : "China",
                        "currencySymbol" : "CNY",
                        "id" : "CN",
                        "currencyCode" : "CNY"
                      }, {
                        "name" : "Colombia",
                        "currencySymbol" : "COP",
                        "id" : "CO",
                        "currencyCode" : "COP"
                      }, {
                        "name" : "Costa Rica",
                        "currencySymbol" : "CRC",
                        "id" : "CR",
                        "currencyCode" : "CRC"
                      }, {
                        "name" : "Turks & Caicos Islands",
                        "currencySymbol" : "USD",
                        "id" : "TC",
                        "currencyCode" : "USD"
                      }, {
                        "name" : "Chad",
                        "currencySymbol" : "XAF",
                        "id" : "TD",
                        "currencyCode" : "XAF"
                      }, {
                        "name" : "Cuba",
                        "currencySymbol" : "CUP",
                        "id" : "CU",
                        "currencyCode" : "CUP"
                      }, {
                        "name" : "French Southern Territories",
                        "currencySymbol" : "EUR",
                        "id" : "TF",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Cape Verde",
                        "currencySymbol" : "CVE",
                        "id" : "CV",
                        "currencyCode" : "CVE"
                      }, {
                        "name" : "Togo",
                        "currencySymbol" : "XOF",
                        "id" : "TG",
                        "currencyCode" : "XOF"
                      }, {
                        "name" : "Curaçao",
                        "currencySymbol" : "ANG",
                        "id" : "CW",
                        "currencyCode" : "ANG"
                      }, {
                        "name" : "Thailand",
                        "currencySymbol" : "THB",
                        "id" : "TH",
                        "currencyCode" : "THB"
                      }, {
                        "name" : "Christmas Island",
                        "currencySymbol" : "AUD",
                        "id" : "CX",
                        "currencyCode" : "AUD"
                      }, {
                        "name" : "Cyprus",
                        "currencySymbol" : "EUR",
                        "id" : "CY",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Tajikistan",
                        "currencySymbol" : "TJS",
                        "id" : "TJ",
                        "currencyCode" : "TJS"
                      }, {
                        "name" : "Czechia",
                        "currencySymbol" : "CZK",
                        "id" : "CZ",
                        "currencyCode" : "CZK"
                      }, {
                        "name" : "Tokelau",
                        "currencySymbol" : "NZD",
                        "id" : "TK",
                        "currencyCode" : "NZD"
                      }, {
                        "name" : "Timor-Leste",
                        "currencySymbol" : "USD",
                        "id" : "TL",
                        "currencyCode" : "USD"
                      }, {
                        "name" : "Turkmenistan",
                        "currencySymbol" : "TMT",
                        "id" : "TM",
                        "currencyCode" : "TMT"
                      }, {
                        "name" : "Tunisia",
                        "currencySymbol" : "TND",
                        "id" : "TN",
                        "currencyCode" : "TND"
                      }, {
                        "name" : "Tonga",
                        "currencySymbol" : "TOP",
                        "id" : "TO",
                        "currencyCode" : "TOP"
                      }, {
                        "name" : "Turkey",
                        "currencySymbol" : "TRY",
                        "id" : "TR",
                        "currencyCode" : "TRY"
                      }, {
                        "name" : "Trinidad & Tobago",
                        "currencySymbol" : "TTD",
                        "id" : "TT",
                        "currencyCode" : "TTD"
                      }, {
                        "name" : "Germany",
                        "currencySymbol" : "EUR",
                        "id" : "DE",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Tuvalu",
                        "currencySymbol" : "AUD",
                        "id" : "TV",
                        "currencyCode" : "AUD"
                      }, {
                        "name" : "Taiwan",
                        "currencySymbol" : "TWD",
                        "id" : "TW",
                        "currencyCode" : "TWD"
                      }, {
                        "name" : "Djibouti",
                        "currencySymbol" : "DJF",
                        "id" : "DJ",
                        "currencyCode" : "DJF"
                      }, {
                        "name" : "Tanzania",
                        "currencySymbol" : "TZS",
                        "id" : "TZ",
                        "currencyCode" : "TZS"
                      }, {
                        "name" : "Denmark",
                        "currencySymbol" : "DKK",
                        "id" : "DK",
                        "currencyCode" : "DKK"
                      }, {
                        "name" : "Dominica",
                        "currencySymbol" : "XCD",
                        "id" : "DM",
                        "currencyCode" : "XCD"
                      }, {
                        "name" : "Dominican Republic",
                        "currencySymbol" : "DOP",
                        "id" : "DO",
                        "currencyCode" : "DOP"
                      }, {
                        "name" : "Ukraine",
                        "currencySymbol" : "UAH",
                        "id" : "UA",
                        "currencyCode" : "UAH"
                      }, {
                        "name" : "Uganda",
                        "currencySymbol" : "UGX",
                        "id" : "UG",
                        "currencyCode" : "UGX"
                      }, {
                        "name" : "Algeria",
                        "currencySymbol" : "DZD",
                        "id" : "DZ",
                        "currencyCode" : "DZD"
                      }, {
                        "name" : "U.S. Outlying Islands",
                        "currencySymbol" : "USD",
                        "id" : "UM",
                        "currencyCode" : "USD"
                      }, {
                        "name" : "Ecuador",
                        "currencySymbol" : "USD",
                        "id" : "EC",
                        "currencyCode" : "USD"
                      }, {
                        "name" : "United States",
                        "currencySymbol" : "$",
                        "id" : "US",
                        "currencyCode" : "USD"
                      }, {
                        "name" : "Estonia",
                        "currencySymbol" : "EUR",
                        "id" : "EE",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Egypt",
                        "currencySymbol" : "EGP",
                        "id" : "EG",
                        "currencyCode" : "EGP"
                      }, {
                        "name" : "Western Sahara",
                        "currencySymbol" : "MAD",
                        "id" : "EH",
                        "currencyCode" : "MAD"
                      }, {
                        "name" : "Uruguay",
                        "currencySymbol" : "UYU",
                        "id" : "UY",
                        "currencyCode" : "UYU"
                      }, {
                        "name" : "Uzbekistan",
                        "currencySymbol" : "UZS",
                        "id" : "UZ",
                        "currencyCode" : "UZS"
                      }, {
                        "name" : "Vatican City",
                        "currencySymbol" : "EUR",
                        "id" : "VA",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Eritrea",
                        "currencySymbol" : "ERN",
                        "id" : "ER",
                        "currencyCode" : "ERN"
                      }, {
                        "name" : "St. Vincent & Grenadines",
                        "currencySymbol" : "XCD",
                        "id" : "VC",
                        "currencyCode" : "XCD"
                      }, {
                        "name" : "Spain",
                        "currencySymbol" : "EUR",
                        "id" : "ES",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Ethiopia",
                        "currencySymbol" : "ETB",
                        "id" : "ET",
                        "currencyCode" : "ETB"
                      }, {
                        "name" : "Venezuela",
                        "currencySymbol" : "VES",
                        "id" : "VE",
                        "currencyCode" : "VES"
                      }, {
                        "name" : "British Virgin Islands",
                        "currencySymbol" : "USD",
                        "id" : "VG",
                        "currencyCode" : "USD"
                      }, {
                        "name" : "U.S. Virgin Islands",
                        "currencySymbol" : "USD",
                        "id" : "VI",
                        "currencyCode" : "USD"
                      }, {
                        "name" : "Vietnam",
                        "currencySymbol" : "VND",
                        "id" : "VN",
                        "currencyCode" : "VND"
                      }, {
                        "name" : "Vanuatu",
                        "currencySymbol" : "VUV",
                        "id" : "VU",
                        "currencyCode" : "VUV"
                      }, {
                        "name" : "Finland",
                        "currencySymbol" : "EUR",
                        "id" : "FI",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Fiji",
                        "currencySymbol" : "FJD",
                        "id" : "FJ",
                        "currencyCode" : "FJD"
                      }, {
                        "name" : "Falkland Islands",
                        "currencySymbol" : "FKP",
                        "id" : "FK",
                        "currencyCode" : "FKP"
                      }, {
                        "name" : "Micronesia",
                        "currencySymbol" : "USD",
                        "id" : "FM",
                        "currencyCode" : "USD"
                      }, {
                        "name" : "Faroe Islands",
                        "currencySymbol" : "DKK",
                        "id" : "FO",
                        "currencyCode" : "DKK"
                      }, {
                        "name" : "France",
                        "currencySymbol" : "EUR",
                        "id" : "FR",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Wallis & Futuna",
                        "currencySymbol" : "XPF",
                        "id" : "WF",
                        "currencyCode" : "XPF"
                      }, {
                        "name" : "Gabon",
                        "currencySymbol" : "XAF",
                        "id" : "GA",
                        "currencyCode" : "XAF"
                      }, {
                        "name" : "United Kingdom",
                        "currencySymbol" : "£",
                        "id" : "GB",
                        "currencyCode" : "GBP"
                      }, {
                        "name" : "Samoa",
                        "currencySymbol" : "WST",
                        "id" : "WS",
                        "currencyCode" : "WST"
                      }, {
                        "name" : "Grenada",
                        "currencySymbol" : "XCD",
                        "id" : "GD",
                        "currencyCode" : "XCD"
                      }, {
                        "name" : "Georgia",
                        "currencySymbol" : "GEL",
                        "id" : "GE",
                        "currencyCode" : "GEL"
                      }, {
                        "name" : "French Guiana",
                        "currencySymbol" : "EUR",
                        "id" : "GF",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Guernsey",
                        "currencySymbol" : "GBP",
                        "id" : "GG",
                        "currencyCode" : "GBP"
                      }, {
                        "name" : "Ghana",
                        "currencySymbol" : "GHS",
                        "id" : "GH",
                        "currencyCode" : "GHS"
                      }, {
                        "name" : "Gibraltar",
                        "currencySymbol" : "GIP",
                        "id" : "GI",
                        "currencyCode" : "GIP"
                      }, {
                        "name" : "Greenland",
                        "currencySymbol" : "DKK",
                        "id" : "GL",
                        "currencyCode" : "DKK"
                      }, {
                        "name" : "Gambia",
                        "currencySymbol" : "GMD",
                        "id" : "GM",
                        "currencyCode" : "GMD"
                      }, {
                        "name" : "Guinea",
                        "currencySymbol" : "GNF",
                        "id" : "GN",
                        "currencyCode" : "GNF"
                      }, {
                        "name" : "Guadeloupe",
                        "currencySymbol" : "EUR",
                        "id" : "GP",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Equatorial Guinea",
                        "currencySymbol" : "XAF",
                        "id" : "GQ",
                        "currencyCode" : "XAF"
                      }, {
                        "name" : "Greece",
                        "currencySymbol" : "EUR",
                        "id" : "GR",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "South Georgia & South Sandwich Islands",
                        "currencySymbol" : "GBP",
                        "id" : "GS",
                        "currencyCode" : "GBP"
                      }, {
                        "name" : "Guatemala",
                        "currencySymbol" : "GTQ",
                        "id" : "GT",
                        "currencyCode" : "GTQ"
                      }, {
                        "name" : "Guam",
                        "currencySymbol" : "USD",
                        "id" : "GU",
                        "currencyCode" : "USD"
                      }, {
                        "name" : "Guinea-Bissau",
                        "currencySymbol" : "XOF",
                        "id" : "GW",
                        "currencyCode" : "XOF"
                      }, {
                        "name" : "Guyana",
                        "currencySymbol" : "GYD",
                        "id" : "GY",
                        "currencyCode" : "GYD"
                      }, {
                        "name" : "Kosovo",
                        "currencySymbol" : "XXX",
                        "id" : "XK",
                        "currencyCode" : "-"
                      }, {
                        "name" : "Hong Kong SAR China",
                        "currencySymbol" : "HKD",
                        "id" : "HK",
                        "currencyCode" : "HKD"
                      }, {
                        "name" : "Heard & McDonald Islands",
                        "currencySymbol" : "AUD",
                        "id" : "HM",
                        "currencyCode" : "AUD"
                      }, {
                        "name" : "Honduras",
                        "currencySymbol" : "HNL",
                        "id" : "HN",
                        "currencyCode" : "HNL"
                      }, {
                        "name" : "Croatia",
                        "currencySymbol" : "HRK",
                        "id" : "HR",
                        "currencyCode" : "HRK"
                      }, {
                        "name" : "Haiti",
                        "currencySymbol" : "HTG",
                        "id" : "HT",
                        "currencyCode" : "HTG"
                      }, {
                        "name" : "Yemen",
                        "currencySymbol" : "YER",
                        "id" : "YE",
                        "currencyCode" : "YER"
                      }, {
                        "name" : "Hungary",
                        "currencySymbol" : "HUF",
                        "id" : "HU",
                        "currencyCode" : "HUF"
                      }, {
                        "name" : "Indonesia",
                        "currencySymbol" : "IDR",
                        "id" : "ID",
                        "currencyCode" : "IDR"
                      }, {
                        "name" : "Mayotte",
                        "currencySymbol" : "EUR",
                        "id" : "YT",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Ireland",
                        "currencySymbol" : "€",
                        "id" : "IE",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Israel",
                        "currencySymbol" : "ILS",
                        "id" : "IL",
                        "currencyCode" : "ILS"
                      }, {
                        "name" : "Isle of Man",
                        "currencySymbol" : "GBP",
                        "id" : "IM",
                        "currencyCode" : "GBP"
                      }, {
                        "name" : "India",
                        "currencySymbol" : "Rs.",
                        "id" : "IN",
                        "currencyCode" : "INR"
                      }, {
                        "name" : "British Indian Ocean Territory",
                        "currencySymbol" : "USD",
                        "id" : "IO",
                        "currencyCode" : "USD"
                      }, {
                        "name" : "South Africa",
                        "currencySymbol" : "R",
                        "id" : "ZA",
                        "currencyCode" : "ZAR"
                      }, {
                        "name" : "Iraq",
                        "currencySymbol" : "IQD",
                        "id" : "IQ",
                        "currencyCode" : "IQD"
                      }, {
                        "name" : "Iran",
                        "currencySymbol" : "IRR",
                        "id" : "IR",
                        "currencyCode" : "IRR"
                      }, {
                        "name" : "Iceland",
                        "currencySymbol" : "ISK",
                        "id" : "IS",
                        "currencyCode" : "ISK"
                      }, {
                        "name" : "Italy",
                        "currencySymbol" : "EUR",
                        "id" : "IT",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Zambia",
                        "currencySymbol" : "ZMW",
                        "id" : "ZM",
                        "currencyCode" : "ZMW"
                      }, {
                        "name" : "Jersey",
                        "currencySymbol" : "GBP",
                        "id" : "JE",
                        "currencyCode" : "GBP"
                      }, {
                        "name" : "Zimbabwe",
                        "currencySymbol" : "ZWL",
                        "id" : "ZW",
                        "currencyCode" : "ZWL"
                      }, {
                        "name" : "Jamaica",
                        "currencySymbol" : "JMD",
                        "id" : "JM",
                        "currencyCode" : "JMD"
                      }, {
                        "name" : "Jordan",
                        "currencySymbol" : "JOD",
                        "id" : "JO",
                        "currencyCode" : "JOD"
                      }, {
                        "name" : "Japan",
                        "currencySymbol" : "JPY",
                        "id" : "JP",
                        "currencyCode" : "JPY"
                      }, {
                        "name" : "Kenya",
                        "currencySymbol" : "KES",
                        "id" : "KE",
                        "currencyCode" : "KES"
                      }, {
                        "name" : "Kyrgyzstan",
                        "currencySymbol" : "KGS",
                        "id" : "KG",
                        "currencyCode" : "KGS"
                      }, {
                        "name" : "Cambodia",
                        "currencySymbol" : "KHR",
                        "id" : "KH",
                        "currencyCode" : "KHR"
                      }, {
                        "name" : "Kiribati",
                        "currencySymbol" : "AUD",
                        "id" : "KI",
                        "currencyCode" : "AUD"
                      }, {
                        "name" : "Comoros",
                        "currencySymbol" : "KMF",
                        "id" : "KM",
                        "currencyCode" : "KMF"
                      }, {
                        "name" : "St. Kitts & Nevis",
                        "currencySymbol" : "XCD",
                        "id" : "KN",
                        "currencyCode" : "XCD"
                      }, {
                        "name" : "North Korea",
                        "currencySymbol" : "KPW",
                        "id" : "KP",
                        "currencyCode" : "KPW"
                      }, {
                        "name" : "South Korea",
                        "currencySymbol" : "KRW",
                        "id" : "KR",
                        "currencyCode" : "KRW"
                      }, {
                        "name" : "Kuwait",
                        "currencySymbol" : "KWD",
                        "id" : "KW",
                        "currencyCode" : "KWD"
                      }, {
                        "name" : "Cayman Islands",
                        "currencySymbol" : "KYD",
                        "id" : "KY",
                        "currencyCode" : "KYD"
                      }, {
                        "name" : "Kazakhstan",
                        "currencySymbol" : "KZT",
                        "id" : "KZ",
                        "currencyCode" : "KZT"
                      }, {
                        "name" : "Laos",
                        "currencySymbol" : "LAK",
                        "id" : "LA",
                        "currencyCode" : "LAK"
                      }, {
                        "name" : "Lebanon",
                        "currencySymbol" : "LBP",
                        "id" : "LB",
                        "currencyCode" : "LBP"
                      }, {
                        "name" : "St. Lucia",
                        "currencySymbol" : "XCD",
                        "id" : "LC",
                        "currencyCode" : "XCD"
                      }, {
                        "name" : "Liechtenstein",
                        "currencySymbol" : "CHF",
                        "id" : "LI",
                        "currencyCode" : "CHF"
                      }, {
                        "name" : "Sri Lanka",
                        "currencySymbol" : "LKR",
                        "id" : "LK",
                        "currencyCode" : "LKR"
                      }, {
                        "name" : "Liberia",
                        "currencySymbol" : "LRD",
                        "id" : "LR",
                        "currencyCode" : "LRD"
                      }, {
                        "name" : "Lesotho",
                        "currencySymbol" : "LSL",
                        "id" : "LS",
                        "currencyCode" : "LSL"
                      }, {
                        "name" : "Lithuania",
                        "currencySymbol" : "EUR",
                        "id" : "LT",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Luxembourg",
                        "currencySymbol" : "EUR",
                        "id" : "LU",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Latvia",
                        "currencySymbol" : "EUR",
                        "id" : "LV",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Libya",
                        "currencySymbol" : "LYD",
                        "id" : "LY",
                        "currencyCode" : "LYD"
                      }, {
                        "name" : "Morocco",
                        "currencySymbol" : "MAD",
                        "id" : "MA",
                        "currencyCode" : "MAD"
                      }, {
                        "name" : "Monaco",
                        "currencySymbol" : "EUR",
                        "id" : "MC",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Moldova",
                        "currencySymbol" : "MDL",
                        "id" : "MD",
                        "currencyCode" : "MDL"
                      }, {
                        "name" : "Montenegro",
                        "currencySymbol" : "EUR",
                        "id" : "ME",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "St. Martin",
                        "currencySymbol" : "EUR",
                        "id" : "MF",
                        "currencyCode" : "EUR"
                      }, {
                        "name" : "Madagascar",
                        "currencySymbol" : "MGA",
                        "id" : "MG",
                        "currencyCode" : "MGA"
[...]
