{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Criteria",
    "version" : "1.0.0",
    "x-clan-group" : "common",
    "x-module-group" : "views"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/cvCriteriaFields" : {
      "get" : {
        "tags" : [ "Criteria" ],
        "summary" : "List Criteria Fields For Custom View",
        "description" : "This API lists the fields allowed in criteria for specified modules in customview.Availale pre-defined values may contain @${EMPTY}@,@${NOTEMPTY}@,@${OPEN}@,@${ONHOLD}@,@${CLOSED}@,@${CURRENTTIME}@.Available types are @Text@,@Date@,@DateTime@,@Text@,@Boolean@,@Arithmetic@.",
        "operationId" : "getCustomViewCriteria",
        "parameters" : [ {
          "name" : "module",
          "in" : "query",
          "description" : "Allowed values are : @tickets@, @tasks@,@contacts@, @accounts@,@contracts@, @products@,@activities@,@calls@,@events@  and @Custom modules@.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Allowed values are : @tickets@, @tasks@,@contacts@, @accounts@,@contracts@, @products@,@activities@,@calls@,@events@  and @Custom modules@.",
            "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "products", "calls", "events", "activities" ],
            "x-custom-parameters-attributes" : {
              "entity" : "Criteria"
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "Allowed values are : @Valid Department Id@.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Allowed values are : @Valid Department Id@.",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "entity" : "Criteria"
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getCustomViewCriteriaResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "criteriaFields" ],
                  "properties" : {
                    "criteriaFields" : {
                      "description" : "",
                      "items" : {
                        "required" : [ "displayLabel", "fieldDetails", "name" ],
                        "properties" : {
                          "displayLabel" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "description" : "",
                            "enum" : [ "Tickets", "Contacts", "Accounts", "Tasks", "Solutions", "Products", "Contracts", "Calls - Call Information", "Events - Event Information", "Activities", "TimeEntry", "Cases", "Calls", "Events" ]
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "description" : "",
                            "enum" : [ "tickets", "contacts", "products", "accounts", "tasks", "social", "articles", "community", "timeEntry", "contracts", "topics", "departments", "agents", "category", "attachments", "solutions", "reports", "kbCategory", "dashboards", "chat", "calls", "events", "activities" ]
                          },
                          "fieldDetails" : {
                            "description" : "",
                            "items" : {
                              "required" : [ "apiName", "availableConditions", "fieldLabel", "fieldName", "fieldType", "i18NLabel", "id", "primitiveConditions", "type" ],
                              "properties" : {
                                "availableConditions" : {
                                  "description" : "",
                                  "items" : {
                                    "required" : [ "condition", "i18NCondition", "value" ],
                                    "properties" : {
                                      "condition" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "(.*|null|undefined)",
                                        "description" : ""
                                      },
                                      "i18NCondition" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "(.*|null|undefined)",
                                        "description" : ""
                                      },
                                      "value" : {
                                        "uniqueItems" : false,
                                        "description" : "",
                                        "items" : {
                                          "description" : "",
                                          "oneOf" : [ {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                            "description" : ""
                                          }, {
                                            "uniqueItems" : false,
                                            "description" : "",
                                            "items" : {
                                              "maxLength" : 100,
                                              "minLength" : 0,
                                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                              "description" : ""
                                            }
                                          } ]
                                        }
                                      }
                                    },
                                    "additionalProperties" : false,
                                    "description" : ""
                                  }
                                },
                                "apiName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                                  "description" : ""
                                },
                                "fieldName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                                  "description" : ""
                                },
                                "fieldLabel" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                                  "description" : ""
                                },
                                "i18NLabel" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                                  "description" : ""
                                },
                                "primitiveConditions" : {
                                  "description" : "",
                                  "items" : {
                                    "description" : "",
                                    "oneOf" : [ {
                                      "required" : [ "condition", "conditionType", "i18NCondition", "url" ],
                                      "properties" : {
                                        "condition" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "(.*|null|undefined)",
                                          "description" : ""
                                        },
                                        "conditionType" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                                          "description" : ""
                                        },
                                        "i18NCondition" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "(.*|null|undefined)",
                                          "description" : ""
                                        },
                                        "url" : {
                                          "maxLength" : 500,
                                          "minLength" : 0,
                                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                                          "description" : ""
                                        }
                                      },
                                      "additionalProperties" : false,
                                      "description" : ""
                                    }, {
                                      "required" : [ "condition", "conditionType", "i18NCondition" ],
                                      "properties" : {
                                        "condition" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "(.*|null|undefined)",
                                          "description" : ""
                                        },
                                        "conditionType" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                                          "description" : ""
                                        },
                                        "i18NCondition" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "(.*|null|undefined)",
                                          "description" : ""
                                        }
                                      },
                                      "additionalProperties" : false,
                                      "description" : ""
                                    }, {
                                      "required" : [ "allowedValues", "condition", "conditionType", "i18NCondition" ],
                                      "properties" : {
                                        "allowedValues" : {
                                          "uniqueItems" : false,
                                          "description" : "",
                                          "items" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                            "description" : ""
                                          }
                                        },
                                        "condition" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "(.*|null|undefined)",
                                          "description" : ""
                                        },
                                        "conditionType" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                                          "description" : ""
                                        },
                                        "i18NCondition" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "(.*|null|undefined)",
                                          "description" : ""
                                        }
                                      },
                                      "additionalProperties" : false,
                                      "description" : ""
                                    } ]
                                  }
                                },
                                "id" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                                  "description" : ""
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                                  "description" : ""
                                },
                                "fieldType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "description" : "",
                                  "enum" : [ "Text", "URL", "Textarea", "Email", "Phone", "Multiselect", "Date", "DateTime", "Number", "Checkbox", "Percent", "Decimal", "Currency", "Picklist", "LookUp", "Lookup", "AutoNumber", "Boolean", "Fax", "Formula", "formula" ]
                                }
                              },
                              "additionalProperties" : false,
                              "description" : ""
                            }
                          }
                        },
                        "additionalProperties" : false,
                        "description" : ""
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "criteriaFields" : [ {
                        "displayLabel" : "Activities",
                        "name" : "activities",
                        "fieldDetails" : [ {
                          "availableConditions" : [ {
                            "condition" : "is",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "isn't",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "starts with",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "contains",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "doesn't contain",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "ends with",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "is empty",
                            "value" : [ "${EMPTY}" ]
                          }, {
                            "condition" : "is not empty",
                            "value" : [ "${NOTEMPTY}" ]
                          } ],
                          "fieldLabel" : "Subject",
                          "type" : "text"
                        }, {
                          "availableConditions" : [ {
                            "condition" : "is",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "isn't",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "starts with",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "contains",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "doesn't contain",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "ends with",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "is empty",
                            "value" : [ "${EMPTY}" ]
                          }, {
                            "condition" : "is not empty",
                            "value" : [ "${NOTEMPTY}" ]
                          } ],
                          "fieldLabel" : "Category",
                          "type" : "text"
                        }, {
                          "availableConditions" : [ {
                            "condition" : "is MISSED",
                            "value" : [ "${MISSED}" ]
                          }, {
                            "condition" : "is OPEN",
                            "value" : [ "${OPEN}" ]
                          }, {
                            "condition" : "is ON HOLD",
                            "value" : [ "${ONHOLD}" ]
                          }, {
                            "condition" : "is CLOSED",
                            "value" : [ "${CLOSED}" ]
                          }, {
                            "condition" : "is",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "isn't",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "starts with",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "contains",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "doesn't contain",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "ends with",
                            "value" : [ "${CUSTOM}" ]
                          } ],
                          "fieldLabel" : "Status",
                          "type" : "text"
                        }, {
                          "availableConditions" : [ {
                            "condition" : "is",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "isn't",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "is empty",
                            "value" : [ "${EMPTY}" ]
                          }, {
                            "condition" : "is not empty",
                            "value" : [ "${NOTEMPTY}" ]
                          } ],
                          "fieldLabel" : "Request",
                          "type" : "lookup"
                        }, {
                          "availableConditions" : [ {
                            "condition" : "is",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "isn't",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "is empty",
                            "value" : [ "${EMPTY}" ]
                          }, {
                            "condition" : "is not empty",
                            "value" : [ "${NOTEMPTY}" ]
                          } ],
                          "fieldLabel" : "Contact Name",
                          "type" : "lookup"
                        }, {
                          "availableConditions" : [ {
                            "condition" : "is",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "isn't",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "is empty",
                            "value" : [ "${EMPTY}" ]
                          }, {
                            "condition" : "is not empty",
                            "value" : [ "${NOTEMPTY}" ]
                          } ],
                          "fieldLabel" : "Owner",
                          "type" : "user"
                        }, {
                          "availableConditions" : [ {
                            "condition" : "is",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "isn't",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "starts with",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "contains",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "doesn't contain",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "ends with",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "is empty",
                            "value" : [ "${EMPTY}" ]
                          }, {
                            "condition" : "is not empty",
                            "value" : [ "${NOTEMPTY}" ]
                          } ],
                          "fieldLabel" : "Priority",
                          "type" : "text"
                        }, {
                          "availableConditions" : [ {
                            "condition" : "is",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "isn't",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "starts with",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "contains",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "doesn't contain",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "ends with",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "is empty",
                            "value" : [ "${EMPTY}" ]
                          }, {
                            "condition" : "is not empty",
                            "value" : [ "${NOTEMPTY}" ]
                          } ],
                          "fieldLabel" : "Description",
                          "type" : "text"
                        }, {
                          "availableConditions" : [ {
                            "condition" : "is",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "isn't",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "is after",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "is before",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "between",
                            "value" : [ [ "${CURRENTTIME}", "${CUSTOM}" ], [ "${CURRENTTIME}", "${CUSTOM}" ] ]
                          }, {
                            "condition" : "not between",
                            "value" : [ [ "${CURRENTTIME}", "${CUSTOM}" ], [ "${CURRENTTIME}", "${CUSTOM}" ] ]
                          }, {
                            "condition" : "is empty",
                            "value" : [ "${EMPTY}" ]
                          }, {
                            "condition" : "is not empty",
                            "value" : [ "${NOTEMPTY}" ]
                          } ],
                          "fieldLabel" : "Remind me",
                          "type" : "dateTime"
                        }, {
                          "availableConditions" : [ {
                            "condition" : "is",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "isn't",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "is empty",
                            "value" : [ "${EMPTY}" ]
                          }, {
                            "condition" : "is not empty",
                            "value" : [ "${NOTEMPTY}" ]
                          } ],
                          "fieldLabel" : "Created By",
                          "type" : "user"
                        }, {
                          "availableConditions" : [ {
                            "condition" : "is",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "isn't",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "is empty",
                            "value" : [ "${EMPTY}" ]
                          }, {
                            "condition" : "is not empty",
                            "value" : [ "${NOTEMPTY}" ]
                          } ],
                          "fieldLabel" : "Modified By",
                          "type" : "user"
                        }, {
                          "availableConditions" : [ {
                            "condition" : "is",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "isn't",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "is after",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "is before",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "between",
                            "value" : [ [ "${CURRENTTIME}", "${CUSTOM}" ], [ "${CURRENTTIME}", "${CUSTOM}" ] ]
                          }, {
                            "condition" : "not between",
                            "value" : [ [ "${CURRENTTIME}", "${CUSTOM}" ], [ "${CURRENTTIME}", "${CUSTOM}" ] ]
                          }, {
                            "condition" : "is empty",
                            "value" : [ "${EMPTY}" ]
                          }, {
                            "condition" : "is not empty",
                            "value" : [ "${NOTEMPTY}" ]
                          } ],
                          "fieldLabel" : "Created Time",
                          "type" : "dateTime"
                        }, {
                          "availableConditions" : [ {
                            "condition" : "is",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "isn't",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "is after",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "is before",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "between",
                            "value" : [ [ "${CURRENTTIME}", "${CUSTOM}" ], [ "${CURRENTTIME}", "${CUSTOM}" ] ]
                          }, {
                            "condition" : "not between",
                            "value" : [ [ "${CURRENTTIME}", "${CUSTOM}" ], [ "${CURRENTTIME}", "${CUSTOM}" ] ]
                          }, {
                            "condition" : "is empty",
                            "value" : [ "${EMPTY}" ]
                          }, {
                            "condition" : "is not empty",
                            "value" : [ "${NOTEMPTY}" ]
                          } ],
                          "fieldLabel" : "Modified Time",
                          "type" : "dateTime"
                        }, {
                          "availableConditions" : [ {
                            "condition" : "=",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "<>",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "<",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "<=",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : ">",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : ">=",
                            "value" : [ "${CUSTOM}" ]
                          } ],
                          "fieldLabel" : "Age In Days",
                          "type" : "integer"
                        }, {
                          "availableConditions" : [ {
                            "condition" : "is",
                            "value" : [ "Calls", "Tasks", "Events" ]
                          }, {
                            "condition" : "isn't",
                            "value" : [ "Calls", "Tasks", "Events" ]
                          } ],
                          "fieldLabel" : "Activity Type",
                          "type" : "text"
                        } ]
                      }, {
                        "displayLabel" : "Tasks",
                        "name" : "tasks",
                        "fieldDetails" : [ {
                          "availableConditions" : [ {
                            "condition" : "is",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "isn't",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "is after",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "is before",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "between",
                            "value" : [ [ "${CURRENTTIME}", "${CUSTOM}" ], [ "${CURRENTTIME}", "${CUSTOM}" ] ]
                          }, {
                            "condition" : "not between",
                            "value" : [ [ "${CURRENTTIME}", "${CUSTOM}" ], [ "${CURRENTTIME}", "${CUSTOM}" ] ]
                          }, {
                            "condition" : "is empty",
                            "value" : [ "${EMPTY}" ]
                          }, {
                            "condition" : "is not empty",
                            "value" : [ "${NOTEMPTY}" ]
                          } ],
                          "fieldLabel" : "Due Date",
                          "type" : "dateTime"
                        }, {
                          "availableConditions" : [ {
                            "condition" : "is",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "isn't",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "starts with",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "contains",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "doesn't contain",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "ends with",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "is empty",
                            "value" : [ "${EMPTY}" ]
                          }, {
                            "condition" : "is not empty",
                            "value" : [ "${NOTEMPTY}" ]
                          } ],
                          "fieldLabel" : "Category",
                          "type" : "text"
                        } ]
                      }, {
                        "displayLabel" : "Calls - Call Information",
                        "name" : "calls",
                        "fieldDetails" : [ {
                          "availableConditions" : [ {
                            "condition" : "is",
                            "value" : [ "Inbound", "Outbound" ]
                          } ],
                          "fieldLabel" : "Direction",
                          "type" : "text"
                        }, {
                          "availableConditions" : [ {
                            "condition" : "is",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "isn't",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "is after",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "is before",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "between",
                            "value" : [ [ "${CURRENTTIME}", "${CUSTOM}" ], [ "${CURRENTTIME}", "${CUSTOM}" ] ]
                          }, {
                            "condition" : "not between",
                            "value" : [ [ "${CURRENTTIME}", "${CUSTOM}" ], [ "${CURRENTTIME}", "${CUSTOM}" ] ]
                          } ],
                          "fieldLabel" : "Start Time",
                          "type" : "dateTime"
                        }, {
                          "availableConditions" : [ {
                            "condition" : "=",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "<>",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "<",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "<=",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : ">",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : ">=",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "is empty",
                            "value" : [ "${EMPTY}" ]
                          }, {
                            "condition" : "is not empty",
                            "value" : [ "${NOTEMPTY}" ]
                          } ],
                          "fieldLabel" : "Duration",
                          "type" : "integer"
                        } ]
                      }, {
                        "displayLabel" : "Events - Event Information",
                        "name" : "events",
                        "fieldDetails" : [ {
                          "availableConditions" : [ {
                            "condition" : "is",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "isn't",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "starts with",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "contains",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "doesn't contain",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "ends with",
                            "value" : [ "${CUSTOM}" ]
                          }, {
                            "condition" : "is empty",
                            "value" : [ "${EMPTY}" ]
                          }, {
                            "condition" : "is not empty",
                            "value" : [ "${NOTEMPTY}" ]
                          } ],
                          "fieldLabel" : "Category",
                          "type" : "text"
                        }, {
                          "availableConditions" : [ {
                            "condition" : "is",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "isn't",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "is after",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "is before",
                            "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                          }, {
                            "condition" : "between",
                            "value" : [ [ "${CURRENTTIME}", "${CUSTOM}" ], [ "${CURRENTTIME}", "${CUSTOM}" ] ]
                          }, {
                            "condition" : "not between",
                            "value" : [ [ "${CURRENTTIME}", "${CUSTOM}" ], [ "${CURRENTTIME}", "${CUSTOM}" ] ]
                          }, {
                            "condition" : "is empty",
                            "value" : [ "${EMPTY}" ]
                          }, {
                            "condition" : "is not empty",
                            "value" : [ "${NOTEMPTY}" ]
                          } ],
                          "fieldLabel" : "Start Time",
                          "type" : "dateTime"
                        } ]
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "f195524d0ae6737febf289c55efd47bc",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.CriteriaService.getCustomViewCriteria"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "automationCriteriaResponse" : {
        "required" : [ "condition", "displayValue", "fieldModule", "fieldName", "value" ],
        "properties" : {
          "displayValue" : {
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          },
          "condition" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(.*|null|undefined)"
          },
          "fieldName" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "fieldModule" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "products", "calls", "events", "activities" ]
          },
          "value" : {
            "uniqueItems" : false,
            "items" : {
              "oneOf" : [ {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
              }, {
                "uniqueItems" : false,
                "items" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                }
              } ]
            }
          }
        },
        "additionalProperties" : { }
      },
      "availableConditionJson" : {
        "required" : [ "condition", "i18NCondition", "value" ],
        "properties" : {
          "condition" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(.*|null|undefined)",
            "description" : ""
          },
          "i18NCondition" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(.*|null|undefined)",
            "description" : ""
          },
          "value" : {
            "uniqueItems" : false,
            "description" : "",
            "items" : {
              "description" : "",
              "oneOf" : [ {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                "description" : ""
              }, {
                "uniqueItems" : false,
                "description" : "",
                "items" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                  "description" : ""
                }
              } ]
            }
          }
        },
        "additionalProperties" : { },
        "description" : ""
      },
      "availableConditionArr" : {
        "description" : "",
        "items" : {
          "required" : [ "condition", "i18NCondition", "value" ],
          "properties" : {
            "condition" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(.*|null|undefined)",
              "description" : ""
            },
            "i18NCondition" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(.*|null|undefined)",
              "description" : ""
            },
            "value" : {
              "uniqueItems" : false,
              "description" : "",
              "items" : {
                "description" : "",
                "oneOf" : [ {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                  "description" : ""
                }, {
                  "uniqueItems" : false,
                  "description" : "",
                  "items" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                    "description" : ""
                  }
                } ]
              }
            }
          },
          "additionalProperties" : false,
          "description" : ""
        }
      },
      "primitiveConditionJson" : {
        "required" : [ "condition", "conditionType", "i18NCondition", "url" ],
        "properties" : {
          "condition" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(.*|null|undefined)",
            "description" : ""
          },
          "conditionType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
            "description" : ""
          },
          "i18NCondition" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(.*|null|undefined)",
            "description" : ""
          },
          "url" : {
            "maxLength" : 500,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
            "description" : ""
          }
        },
        "additionalProperties" : { },
        "description" : ""
      },
      "primitiveConditionJsonWithoutURL" : {
        "required" : [ "condition", "conditionType", "i18NCondition" ],
        "properties" : {
          "condition" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(.*|null|undefined)",
            "description" : ""
          },
          "conditionType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
            "description" : ""
          },
          "i18NCondition" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(.*|null|undefined)",
            "description" : ""
          }
        },
        "additionalProperties" : { },
        "description" : ""
      },
      "primitiveConditionJsonWithAllowedValues" : {
        "required" : [ "allowedValues", "condition", "conditionType", "i18NCondition" ],
        "properties" : {
          "allowedValues" : {
            "uniqueItems" : false,
            "description" : "",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
              "description" : ""
            }
          },
          "condition" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(.*|null|undefined)",
            "description" : ""
          },
          "conditionType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
            "description" : ""
          },
          "i18NCondition" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(.*|null|undefined)",
            "description" : ""
          }
        },
        "additionalProperties" : { },
        "description" : ""
      },
      "primitiveConditionArr" : {
        "description" : "",
        "items" : {
          "description" : "",
          "oneOf" : [ {
            "required" : [ "condition", "conditionType", "i18NCondition", "url" ],
            "properties" : {
              "condition" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "(.*|null|undefined)",
                "description" : ""
              },
              "conditionType" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                "description" : ""
              },
              "i18NCondition" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "(.*|null|undefined)",
                "description" : ""
              },
              "url" : {
                "maxLength" : 500,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                "description" : ""
              }
            },
            "additionalProperties" : false,
            "description" : ""
          }, {
            "required" : [ "condition", "conditionType", "i18NCondition" ],
            "properties" : {
              "condition" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "(.*|null|undefined)",
                "description" : ""
              },
              "conditionType" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                "description" : ""
              },
              "i18NCondition" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "(.*|null|undefined)",
                "description" : ""
              }
            },
            "additionalProperties" : false,
            "description" : ""
          }, {
            "required" : [ "allowedValues", "condition", "conditionType", "i18NCondition" ],
            "properties" : {
              "allowedValues" : {
                "uniqueItems" : false,
                "description" : "",
                "items" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                  "description" : ""
                }
              },
              "condition" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "(.*|null|undefined)",
                "description" : ""
              },
              "conditionType" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                "description" : ""
              },
              "i18NCondition" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "(.*|null|undefined)",
                "description" : ""
              }
            },
            "additionalProperties" : false,
            "description" : ""
          } ]
        }
      },
      "criteriaJson" : {
        "required" : [ "apiName", "availableConditions", "fieldLabel", "fieldName", "fieldType", "i18NLabel", "id", "primitiveConditions", "type" ],
        "properties" : {
          "availableConditions" : {
            "description" : "",
            "items" : {
              "required" : [ "condition", "i18NCondition", "value" ],
              "properties" : {
                "condition" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "(.*|null|undefined)",
                  "description" : ""
                },
                "i18NCondition" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "(.*|null|undefined)",
                  "description" : ""
                },
                "value" : {
                  "uniqueItems" : false,
                  "description" : "",
                  "items" : {
                    "description" : "",
                    "oneOf" : [ {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                      "description" : ""
                    }, {
                      "uniqueItems" : false,
                      "description" : "",
                      "items" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                        "description" : ""
                      }
                    } ]
                  }
                }
              },
              "additionalProperties" : false,
              "description" : ""
            }
          },
          "apiName" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
            "description" : ""
          },
          "fieldName" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
            "description" : ""
          },
          "fieldLabel" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
            "description" : ""
          },
          "i18NLabel" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
            "description" : ""
          },
          "primitiveConditions" : {
            "description" : "",
            "items" : {
              "description" : "",
              "oneOf" : [ {
                "required" : [ "condition", "conditionType", "i18NCondition", "url" ],
                "properties" : {
                  "condition" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(.*|null|undefined)",
                    "description" : ""
                  },
                  "conditionType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : ""
                  },
                  "i18NCondition" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(.*|null|undefined)",
                    "description" : ""
                  },
                  "url" : {
                    "maxLength" : 500,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : ""
                  }
                },
                "additionalProperties" : false,
                "description" : ""
              }, {
                "required" : [ "condition", "conditionType", "i18NCondition" ],
                "properties" : {
                  "condition" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(.*|null|undefined)",
                    "description" : ""
                  },
                  "conditionType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : ""
                  },
                  "i18NCondition" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(.*|null|undefined)",
                    "description" : ""
                  }
                },
                "additionalProperties" : false,
                "description" : ""
              }, {
                "required" : [ "allowedValues", "condition", "conditionType", "i18NCondition" ],
                "properties" : {
                  "allowedValues" : {
                    "uniqueItems" : false,
                    "description" : "",
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                      "description" : ""
                    }
                  },
                  "condition" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(.*|null|undefined)",
                    "description" : ""
                  },
                  "conditionType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : ""
                  },
                  "i18NCondition" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(.*|null|undefined)",
                    "description" : ""
                  }
                },
                "additionalProperties" : false,
                "description" : ""
              } ]
            }
          },
          "id" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
            "description" : ""
          },
          "type" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
            "description" : ""
          },
          "fieldType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "",
            "enum" : [ "Text", "URL", "Textarea", "Email", "Phone", "Multiselect", "Date", "DateTime", "Number", "Checkbox", "Percent", "Decimal", "Currency", "Picklist", "LookUp", "Lookup", "AutoNumber", "Boolean", "Fax", "Formula", "formula" ]
          }
        },
        "additionalProperties" : { },
        "description" : ""
      },
      "fieldDetailsArr" : {
        "description" : "",
        "items" : {
          "required" : [ "apiName", "availableConditions", "fieldLabel", "fieldName", "fieldType", "i18NLabel", "id", "primitiveConditions", "type" ],
          "properties" : {
            "availableConditions" : {
              "description" : "",
              "items" : {
                "required" : [ "condition", "i18NCondition", "value" ],
                "properties" : {
                  "condition" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(.*|null|undefined)",
                    "description" : ""
                  },
                  "i18NCondition" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(.*|null|undefined)",
                    "description" : ""
                  },
                  "value" : {
                    "uniqueItems" : false,
                    "description" : "",
                    "items" : {
                      "description" : "",
                      "oneOf" : [ {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                        "description" : ""
                      }, {
                        "uniqueItems" : false,
                        "description" : "",
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                          "description" : ""
                        }
                      } ]
                    }
                  }
                },
                "additionalProperties" : false,
                "description" : ""
              }
            },
            "apiName" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
              "description" : ""
            },
            "fieldName" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
              "description" : ""
            },
            "fieldLabel" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
              "description" : ""
            },
            "i18NLabel" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
              "description" : ""
            },
            "primitiveConditions" : {
              "description" : "",
              "items" : {
                "description" : "",
                "oneOf" : [ {
                  "required" : [ "condition", "conditionType", "i18NCondition", "url" ],
                  "properties" : {
                    "condition" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(.*|null|undefined)",
                      "description" : ""
                    },
                    "conditionType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "description" : ""
                    },
                    "i18NCondition" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(.*|null|undefined)",
                      "description" : ""
                    },
                    "url" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "description" : ""
                    }
                  },
                  "additionalProperties" : false,
                  "description" : ""
                }, {
                  "required" : [ "condition", "conditionType", "i18NCondition" ],
                  "properties" : {
                    "condition" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(.*|null|undefined)",
                      "description" : ""
                    },
                    "conditionType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "description" : ""
                    },
                    "i18NCondition" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(.*|null|undefined)",
                      "description" : ""
                    }
                  },
                  "additionalProperties" : false,
                  "description" : ""
                }, {
                  "required" : [ "allowedValues", "condition", "conditionType", "i18NCondition" ],
                  "properties" : {
                    "allowedValues" : {
                      "uniqueItems" : false,
                      "description" : "",
                      "items" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                        "description" : ""
                      }
                    },
                    "condition" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(.*|null|undefined)",
                      "description" : ""
                    },
                    "conditionType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "description" : ""
                    },
                    "i18NCondition" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(.*|null|undefined)",
                      "description" : ""
                    }
                  },
                  "additionalProperties" : false,
                  "description" : ""
                } ]
              }
            },
            "id" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
              "description" : ""
            },
            "type" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
              "description" : ""
            },
            "fieldType" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "",
              "enum" : [ "Text", "URL", "Textarea", "Email", "Phone", "Multiselect", "Date", "DateTime", "Number", "Checkbox", "Percent", "Decimal", "Currency", "Picklist", "LookUp", "Lookup", "AutoNumber", "Boolean", "Fax", "Formula", "formula" ]
            }
          },
          "additionalProperties" : false,
          "description" : ""
        }
      },
      "criteriaFieldsJson" : {
        "required" : [ "displayLabel", "fieldDetails", "name" ],
        "properties" : {
          "displayLabel" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "",
            "enum" : [ "Tickets", "Contacts", "Accounts", "Tasks", "Solutions", "Products", "Contracts", "Calls - Call Information", "Events - Event Information", "Activities", "TimeEntry", "Cases", "Calls", "Events" ]
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "",
            "enum" : [ "tickets", "contacts", "products", "accounts", "tasks", "social", "articles", "community", "timeEntry", "contracts", "topics", "departments", "agents", "category", "attachments", "solutions", "reports", "kbCategory", "dashboards", "chat", "calls", "events", "activities" ]
          },
          "fieldDetails" : {
            "description" : "",
            "items" : {
              "required" : [ "apiName", "availableConditions", "fieldLabel", "fieldName", "fieldType", "i18NLabel", "id", "primitiveConditions", "type" ],
              "properties" : {
                "availableConditions" : {
                  "description" : "",
                  "items" : {
                    "required" : [ "condition", "i18NCondition", "value" ],
                    "properties" : {
                      "condition" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(.*|null|undefined)",
                        "description" : ""
                      },
                      "i18NCondition" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(.*|null|undefined)",
                        "description" : ""
                      },
                      "value" : {
                        "uniqueItems" : false,
                        "description" : "",
                        "items" : {
                          "description" : "",
                          "oneOf" : [ {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                            "description" : ""
                          }, {
                            "uniqueItems" : false,
                            "description" : "",
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                              "description" : ""
                            }
                          } ]
                        }
                      }
                    },
                    "additionalProperties" : false,
                    "description" : ""
                  }
                },
                "apiName" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                  "description" : ""
                },
                "fieldName" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                  "description" : ""
                },
                "fieldLabel" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                  "description" : ""
                },
                "i18NLabel" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                  "description" : ""
                },
                "primitiveConditions" : {
                  "description" : "",
                  "items" : {
                    "description" : "",
                    "oneOf" : [ {
                      "required" : [ "condition", "conditionType", "i18NCondition", "url" ],
                      "properties" : {
                        "condition" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(.*|null|undefined)",
                          "description" : ""
                        },
                        "conditionType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                          "description" : ""
                        },
                        "i18NCondition" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(.*|null|undefined)",
                          "description" : ""
                        },
                        "url" : {
                          "maxLength" : 500,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                          "description" : ""
                        }
                      },
                      "additionalProperties" : false,
                      "description" : ""
                    }, {
                      "required" : [ "condition", "conditionType", "i18NCondition" ],
                      "properties" : {
                        "condition" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(.*|null|undefined)",
                          "description" : ""
                        },
                        "conditionType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                          "description" : ""
                        },
                        "i18NCondition" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(.*|null|undefined)",
                          "description" : ""
                        }
                      },
                      "additionalProperties" : false,
                      "description" : ""
                    }, {
                      "required" : [ "allowedValues", "condition", "conditionType", "i18NCondition" ],
                      "properties" : {
                        "allowedValues" : {
                          "uniqueItems" : false,
                          "description" : "",
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                            "description" : ""
                          }
                        },
                        "condition" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(.*|null|undefined)",
                          "description" : ""
                        },
                        "conditionType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                          "description" : ""
                        },
                        "i18NCondition" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(.*|null|undefined)",
                          "description" : ""
                        }
                      },
                      "additionalProperties" : false,
                      "description" : ""
                    } ]
                  }
                },
                "id" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                  "description" : ""
                },
                "type" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                  "description" : ""
                },
                "fieldType" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "description" : "",
                  "enum" : [ "Text", "URL", "Textarea", "Email", "Phone", "Multiselect", "Date", "DateTime", "Number", "Checkbox", "Percent", "Decimal", "Currency", "Picklist", "LookUp", "Lookup", "AutoNumber", "Boolean", "Fax", "Formula", "formula" ]
                }
              },
              "additionalProperties" : false,
              "description" : ""
            }
          }
        },
        "additionalProperties" : { },
        "description" : ""
      },
      "criteriaFieldsArr" : {
        "description" : "",
        "items" : {
          "required" : [ "displayLabel", "fieldDetails", "name" ],
          "properties" : {
            "displayLabel" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "",
              "enum" : [ "Tickets", "Contacts", "Accounts", "Tasks", "Solutions", "Products", "Contracts", "Calls - Call Information", "Events - Event Information", "Activities", "TimeEntry", "Cases", "Calls", "Events" ]
            },
            "name" : {
              "maxLength" : 100,
              "minLength" : 0,
              "description" : "",
              "enum" : [ "tickets", "contacts", "products", "accounts", "tasks", "social", "articles", "community", "timeEntry", "contracts", "topics", "departments", "agents", "category", "attachments", "solutions", "reports", "kbCategory", "dashboards", "chat", "calls", "events", "activities" ]
            },
            "fieldDetails" : {
              "description" : "",
              "items" : {
                "required" : [ "apiName", "availableConditions", "fieldLabel", "fieldName", "fieldType", "i18NLabel", "id", "primitiveConditions", "type" ],
                "properties" : {
                  "availableConditions" : {
                    "description" : "",
                    "items" : {
                      "required" : [ "condition", "i18NCondition", "value" ],
                      "properties" : {
                        "condition" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(.*|null|undefined)",
                          "description" : ""
                        },
                        "i18NCondition" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(.*|null|undefined)",
                          "description" : ""
                        },
                        "value" : {
                          "uniqueItems" : false,
                          "description" : "",
                          "items" : {
                            "description" : "",
                            "oneOf" : [ {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                              "description" : ""
                            }, {
                              "uniqueItems" : false,
                              "description" : "",
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                "description" : ""
                              }
                            } ]
                          }
                        }
                      },
                      "additionalProperties" : false,
                      "description" : ""
                    }
                  },
                  "apiName" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : ""
                  },
                  "fieldName" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : ""
                  },
                  "fieldLabel" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : ""
                  },
                  "i18NLabel" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : ""
                  },
                  "primitiveConditions" : {
                    "description" : "",
                    "items" : {
                      "description" : "",
                      "oneOf" : [ {
                        "required" : [ "condition", "conditionType", "i18NCondition", "url" ],
                        "properties" : {
                          "condition" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(.*|null|undefined)",
                            "description" : ""
                          },
                          "conditionType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                            "description" : ""
                          },
                          "i18NCondition" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(.*|null|undefined)",
                            "description" : ""
                          },
                          "url" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                            "description" : ""
                          }
                        },
                        "additionalProperties" : false,
                        "description" : ""
                      }, {
                        "required" : [ "condition", "conditionType", "i18NCondition" ],
                        "properties" : {
                          "condition" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(.*|null|undefined)",
                            "description" : ""
                          },
                          "conditionType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                            "description" : ""
                          },
                          "i18NCondition" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(.*|null|undefined)",
                            "description" : ""
                          }
                        },
                        "additionalProperties" : false,
                        "description" : ""
                      }, {
                        "required" : [ "allowedValues", "condition", "conditionType", "i18NCondition" ],
                        "properties" : {
                          "allowedValues" : {
                            "uniqueItems" : false,
                            "description" : "",
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                              "description" : ""
                            }
                          },
                          "condition" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(.*|null|undefined)",
                            "description" : ""
                          },
                          "conditionType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                            "description" : ""
                          },
                          "i18NCondition" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(.*|null|undefined)",
                            "description" : ""
                          }
                        },
                        "additionalProperties" : false,
                        "description" : ""
                      } ]
                    }
                  },
                  "id" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : ""
                  },
                  "type" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : ""
                  },
                  "fieldType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "",
                    "enum" : [ "Text", "URL", "Textarea", "Email", "Phone", "Multiselect", "Date", "DateTime", "Number", "Checkbox", "Percent", "Decimal", "Currency", "Picklist", "LookUp", "Lookup", "AutoNumber", "Boolean", "Fax", "Formula", "formula" ]
                  }
                },
                "additionalProperties" : false,
                "description" : ""
              }
            }
          },
          "additionalProperties" : false,
          "description" : ""
        }
      },
      "criteriaFieldsObject" : {
        "required" : [ "criteriaFields" ],
        "properties" : {
          "criteriaFields" : {
            "description" : "",
            "items" : {
              "required" : [ "displayLabel", "fieldDetails", "name" ],
              "properties" : {
                "displayLabel" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "description" : "",
                  "enum" : [ "Tickets", "Contacts", "Accounts", "Tasks", "Solutions", "Products", "Contracts", "Calls - Call Information", "Events - Event Information", "Activities", "TimeEntry", "Cases", "Calls", "Events" ]
                },
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "description" : "",
                  "enum" : [ "tickets", "contacts", "products", "accounts", "tasks", "social", "articles", "community", "timeEntry", "contracts", "topics", "departments", "agents", "category", "attachments", "solutions", "reports", "kbCategory", "dashboards", "chat", "calls", "events", "activities" ]
                },
                "fieldDetails" : {
                  "description" : "",
                  "items" : {
                    "required" : [ "apiName", "availableConditions", "fieldLabel", "fieldName", "fieldType", "i18NLabel", "id", "primitiveConditions", "type" ],
                    "properties" : {
                      "availableConditions" : {
                        "description" : "",
                        "items" : {
                          "required" : [ "condition", "i18NCondition", "value" ],
                          "properties" : {
                            "condition" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(.*|null|undefined)",
                              "description" : ""
                            },
                            "i18NCondition" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(.*|null|undefined)",
                              "description" : ""
                            },
                            "value" : {
                              "uniqueItems" : false,
                              "description" : "",
                              "items" : {
                                "description" : "",
                                "oneOf" : [ {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                  "description" : ""
                                }, {
                                  "uniqueItems" : false,
                                  "description" : "",
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                    "description" : ""
                                  }
                                } ]
                              }
                            }
                          },
                          "additionalProperties" : false,
                          "description" : ""
                        }
                      },
                      "apiName" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                        "description" : ""
                      },
                      "fieldName" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                        "description" : ""
                      },
                      "fieldLabel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                        "description" : ""
                      },
                      "i18NLabel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                        "description" : ""
                      },
                      "primitiveConditions" : {
                        "description" : "",
                        "items" : {
                          "description" : "",
                          "oneOf" : [ {
                            "required" : [ "condition", "conditionType", "i18NCondition", "url" ],
                            "properties" : {
                              "condition" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(.*|null|undefined)",
                                "description" : ""
                              },
                              "conditionType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                                "description" : ""
                              },
                              "i18NCondition" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(.*|null|undefined)",
                                "description" : ""
                              },
                              "url" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                                "description" : ""
                              }
                            },
                            "additionalProperties" : false,
                            "description" : ""
                          }, {
                            "required" : [ "condition", "conditionType", "i18NCondition" ],
                            "properties" : {
                              "condition" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(.*|null|undefined)",
                                "description" : ""
                              },
                              "conditionType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                                "description" : ""
                              },
                              "i18NCondition" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(.*|null|undefined)",
                                "description" : ""
                              }
                            },
                            "additionalProperties" : false,
                            "description" : ""
                          }, {
                            "required" : [ "allowedValues", "condition", "conditionType", "i18NCondition" ],
                            "properties" : {
                              "allowedValues" : {
                                "uniqueItems" : false,
                                "description" : "",
                                "items" : {
                                  "maxLength" : 100,
[...]
