{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "CrmInteg",
    "version" : "1.0.0",
    "x-clan-group" : "integration",
    "x-module-group" : "integration"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/crmContactCalls" : {
      "get" : {
        "tags" : [ "CrmInteg" ],
        "summary" : "Get CRM Contacts Calls  Info",
        "description" : "This API fetches account Events information from Zoho CRM.",
        "operationId" : "getContactCalls",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of Notes to be fetched from Zoho CRM",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 10,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of Notes to be fetched from Zoho CRM",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Number denoting the start of the Note to get fetched from Zoho CRM",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number denoting the start of the Note to get fetched from Zoho CRM",
            "format" : "int32"
          }
        }, {
          "name" : "crmContactID",
          "in" : "query",
          "description" : "CRM Reference ID of the Contact",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "CRM Reference ID of the Contact",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "callsJSONResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "callDuration", "callStartTime", "callStatus", "callType", "createdTime", "ownerName", "subject", "uri" ],
                        "properties" : {
                          "callDuration" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "ownerName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "subject" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "callStatus" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "callStartTime" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "uri" : {
                            "maxLength" : 300,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "callType" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "callDuration" : "00:00",
                        "ownerName" : "Siddarth Siddarth",
                        "subject" : "TEST",
                        "callStatus" : "Unattended Dialled",
                        "callStartTime" : "2019-11-08 04:46:00",
                        "createdTime" : "2019-11-08 04:46:46",
                        "uri" : "http://crm.zoho.com/crm/EntityInfo.do?module=Calls&id=709295000000347297",
                        "callType" : "Outbound"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "c1769b4b908698195ad36800c9f15ab4",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.CRMService.getContactCalls"
        }
      }
    },
    "/api/v1/zohoCRMIntegration/failureLog" : {
      "get" : {
        "tags" : [ "CrmInteg" ],
        "summary" : "Sync Failure Log",
        "description" : "To List out top 20 failed sync data and their corresponding reason - date-wise along with time of failure",
        "operationId" : "getSyncFailureLog",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getSyncFailureLogResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "required" : [ "accounts", "contacts", "date" ],
                          "properties" : {
                            "date" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "accounts" : {
                              "items" : {
                                "required" : [ "error", "id", "name", "time" ],
                                "properties" : {
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "time" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "error" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "contacts" : {
                              "items" : {
                                "required" : [ "error", "id", "name", "time" ],
                                "properties" : {
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "time" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "error" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "required" : [ "apiName", "displayLabel", "id" ],
                          "properties" : {
                            "displayLabel" : {
                              "maxLength" : 300,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "apiName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "24-08-2017" : {
                          "accounts" : [ {
                            "name" : "Account1",
                            "id" : 4000000013011,
                            "time" : "01:50 AM",
                            "error" : "CRM_ID_ALREADY_MAPPED"
                          } ],
                          "contacts" : [ {
                            "name" : "Duplicate",
                            "id" : 4000000013007,
                            "time" : "01:48 AM",
                            "error" : "MANDATORY_FIELD_MISSING"
                          }, {
                            "name" : "Duplicate",
                            "id" : 4000000013005,
                            "time" : "01:47 AM",
                            "error" : "FIELD_TYPE_MISMATCH"
                          } ],
                          "products" : [ {
                            "name" : "DeskProduct1",
                            "id" : 4000000023311,
                            "time" : "01:50 AM",
                            "error" : "CRM_ID_ALREADY_MAPPED"
                          } ]
                        },
                        "30-08-2017" : {
                          "contacts" : [ {
                            "name" : "Duplicate",
                            "id" : 4000000013001,
                            "time" : "06:46 AM",
                            "error" : "FIELD_TYPE_MISMATCH"
                          }, {
                            "name" : "Duplicate",
                            "id" : 4000000013003,
                            "time" : "06:46 AM",
                            "error" : "CRM_ID_ALREADY_MAPPED"
                          } ],
                          "products" : [ {
                            "name" : "DeskProduct2",
                            "id" : 4000000023313,
                            "time" : "03:50 AM",
                            "error" : "CRM_ID_ALREADY_MAPPED"
                          } ]
                        }
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "a922b3681819766f3f51c512b8aada53",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.CRMService.getSyncFailureLog"
        }
      }
    },
    "/api/v1/crmContactEvents" : {
      "get" : {
        "tags" : [ "CrmInteg" ],
        "summary" : "Get CRM Contacts Events  Info",
        "description" : "This API fetches contact Events information from Zoho CRM.",
        "operationId" : "getContactEvents",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of Notes to be fetched from Zoho CRM",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 10,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of Notes to be fetched from Zoho CRM",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Number denoting the start of the Note to get fetched from Zoho CRM",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number denoting the start of the Note to get fetched from Zoho CRM",
            "format" : "int32"
          }
        }, {
          "name" : "crmContactID",
          "in" : "query",
          "description" : "CRM Reference ID of the Contact",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "CRM Reference ID of the Contact",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "eventJSONResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "createdTime", "endDateTime", "ownerName", "startDateTime", "subject", "uri" ],
                        "properties" : {
                          "startDateTime" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "ownerName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "subject" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "endDateTime" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "uri" : {
                            "maxLength" : 300,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "startDateTime" : "2019-11-08 05:30:00",
                        "ownerName" : "Siddarth Siddarth",
                        "subject" : "TESTEvent",
                        "createdTime" : "2019-11-08 04:47:42",
                        "endDateTime" : "2019-11-08 06:30:00",
                        "uri" : "http://crm.zoho.com/crm/EntityInfo.do?module=Events&id=709295000000347306"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "5d4dcc650d60a98adc211dc377e96235",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.CRMService.getContactEvents"
        }
      }
    },
    "/api/v1/crmAccountNotes" : {
      "get" : {
        "tags" : [ "CrmInteg" ],
        "summary" : "Get CRM Account Notes  Info",
        "description" : "This API fetches account notes information from Zoho CRM.",
        "operationId" : "getAccountNotes",
        "parameters" : [ {
          "name" : "crmAccountID",
          "in" : "query",
          "description" : "CRM Reference ID of the Account",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "CRM Reference ID of the Account",
            "format" : "int64"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of Notes to be fetched from Zoho CRM",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 10,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of Notes to be fetched from Zoho CRM",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Number denoting the start of the Note to get fetched from Zoho CRM",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number denoting the start of the Note to get fetched from Zoho CRM",
            "format" : "int32"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "notesJSONResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "content", "createdTime", "ownerName", "title" ],
                        "properties" : {
                          "ownerName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "title" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "content" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "ownerName" : "Siddarth Siddarth",
                        "createdTime" : "2019-11-08 04:48:33",
                        "title" : "Third",
                        "content" : "Third Note"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "25553defa8f46c3b54546a51fd19194f",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.CRMService.getAccountNotes"
        }
      }
    },
    "/api/v1/zohoCRMIntegration/sync/preference" : {
      "get" : {
        "tags" : [ "CrmInteg" ],
        "summary" : "To get Sync Preference",
        "description" : "This API is used to get Sync Preference",
        "operationId" : "getCRMSyncPreference",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "peferenceResponseJSON template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "preference" ],
                  "properties" : {
                    "preference" : {
                      "required" : [ "crmToDesk", "deskToCrm" ],
                      "properties" : {
                        "deskToCrm" : {
                          "required" : [ "ACCOUNT", "CONTACT", "PRODUCT" ],
                          "properties" : {
                            "ACCOUNT" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "DELETE", "NOCHANGE" ]
                            },
                            "CONTACT" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "DELETE", "NOCHANGE" ]
                            },
                            "PRODUCT" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "DELETE", "NOCHANGE" ]
                            }
                          },
                          "additionalProperties" : false
                        },
                        "crmToDesk" : {
                          "required" : [ "ACCOUNT", "CONTACT", "PRODUCT" ],
                          "properties" : {
                            "ACCOUNT" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "DELETE_ENTITY", "DELETE_ENTITY_IF_NO_ASSOCATION_WITH_DESK_CHILDENTITY", "REMOVE_ASSOCIATION_WITHCRM" ]
                            },
                            "CONTACT" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "DELETE_ENTITY", "DELETE_ENTITY_IF_NO_ASSOCATION_WITH_DESK_CHILDENTITY", "REMOVE_ASSOCIATION_WITHCRM" ]
                            },
                            "PRODUCT" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "DELETE_ENTITY", "DELETE_ENTITY_IF_NO_ASSOCATION_WITH_DESK_CHILDENTITY", "REMOVE_ASSOCIATION_WITHCRM" ]
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "preference" : {
                        "deskToCrm" : {
                          "ACCOUNT" : "DELETE",
                          "CONTACT" : "DELETE",
                          "PRODUCT" : "DELETE"
                        },
                        "crmToDesk" : {
                          "ACCOUNT" : "DELETE_ENTITY",
                          "CONTACT" : "DELETE_ENTITY_IF_NO_ASSOCATION_WITH_DESK_CHILDENTITY",
                          "PRODUCT" : "DELETE_ENTITY"
                        }
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "c33ad919cea45f203d529295930302b8",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.CRMService.getCRMSyncPreference"
        }
      },
      "post" : {
        "tags" : [ "CrmInteg" ],
        "summary" : "To update Sync Preference",
        "description" : "This API is for updating Sync Preference",
        "operationId" : "updateCrmSyncPreference",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "preference" ],
                "properties" : {
                  "preference" : {
                    "required" : [ "crmToDesk", "deskToCrm" ],
                    "properties" : {
                      "deskToCrm" : {
                        "required" : [ "ACCOUNT", "CONTACT", "PRODUCT" ],
                        "properties" : {
                          "ACCOUNT" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "DELETE", "NOCHANGE" ]
                          },
                          "CONTACT" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "DELETE", "NOCHANGE" ]
                          },
                          "PRODUCT" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "DELETE", "NOCHANGE" ]
                          }
                        },
                        "additionalProperties" : false
                      },
                      "crmToDesk" : {
                        "required" : [ "ACCOUNT", "CONTACT", "PRODUCT" ],
                        "properties" : {
                          "ACCOUNT" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "DELETE_ENTITY", "DELETE_ENTITY_IF_NO_ASSOCATION_WITH_DESK_CHILDENTITY", "REMOVE_ASSOCIATION_WITHCRM" ]
                          },
                          "CONTACT" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "DELETE_ENTITY", "DELETE_ENTITY_IF_NO_ASSOCATION_WITH_DESK_CHILDENTITY", "REMOVE_ASSOCIATION_WITHCRM" ]
                          },
                          "PRODUCT" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "DELETE_ENTITY", "DELETE_ENTITY_IF_NO_ASSOCATION_WITH_DESK_CHILDENTITY", "REMOVE_ASSOCIATION_WITHCRM" ]
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "preference" : {
                      "deskToCrm" : {
                        "ACCOUNT" : "DELETE",
                        "CONTACT" : "DELETE",
                        "PRODUCT" : "DELETE"
                      },
                      "crmToDesk" : {
                        "ACCOUNT" : "DELETE_ENTITY",
                        "CONTACT" : "DELETE_ENTITY_IF_NO_ASSOCATION_WITH_DESK_CHILDENTITY",
                        "PRODUCT" : "DELETE_ENTITY"
                      }
                    }
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "peferenceResponseJSON template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "preference" ],
                  "properties" : {
                    "preference" : {
                      "required" : [ "crmToDesk", "deskToCrm" ],
                      "properties" : {
                        "deskToCrm" : {
                          "required" : [ "ACCOUNT", "CONTACT", "PRODUCT" ],
                          "properties" : {
                            "ACCOUNT" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "DELETE", "NOCHANGE" ]
                            },
                            "CONTACT" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "DELETE", "NOCHANGE" ]
                            },
                            "PRODUCT" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "DELETE", "NOCHANGE" ]
                            }
                          },
                          "additionalProperties" : false
                        },
                        "crmToDesk" : {
                          "required" : [ "ACCOUNT", "CONTACT", "PRODUCT" ],
                          "properties" : {
                            "ACCOUNT" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "DELETE_ENTITY", "DELETE_ENTITY_IF_NO_ASSOCATION_WITH_DESK_CHILDENTITY", "REMOVE_ASSOCIATION_WITHCRM" ]
                            },
                            "CONTACT" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "DELETE_ENTITY", "DELETE_ENTITY_IF_NO_ASSOCATION_WITH_DESK_CHILDENTITY", "REMOVE_ASSOCIATION_WITHCRM" ]
                            },
                            "PRODUCT" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "DELETE_ENTITY", "DELETE_ENTITY_IF_NO_ASSOCATION_WITH_DESK_CHILDENTITY", "REMOVE_ASSOCIATION_WITHCRM" ]
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "preference" : {
                        "deskToCrm" : {
                          "ACCOUNT" : "DELETE",
                          "CONTACT" : "DELETE",
                          "PRODUCT" : "DELETE"
                        },
                        "crmToDesk" : {
                          "ACCOUNT" : "DELETE_ENTITY",
                          "CONTACT" : "DELETE_ENTITY_IF_NO_ASSOCATION_WITH_DESK_CHILDENTITY",
                          "PRODUCT" : "DELETE_ENTITY"
                        }
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "ff0dd0aea30ffac0669861b6034081b0",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.CRMService.updateCrmSyncPreference"
        }
      }
    },
    "/api/v1/crmAccountTasks" : {
      "get" : {
        "tags" : [ "CrmInteg" ],
        "summary" : "Get CRM Account Tasks  Info",
        "description" : "This API fetches account tasks information from Zoho CRM.",
        "operationId" : "getAccountTasks",
        "parameters" : [ {
          "name" : "crmAccountID",
          "in" : "query",
          "description" : "CRM Reference ID of the Account",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "CRM Reference ID of the Account",
            "format" : "int64"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of Notes to be fetched from Zoho CRM",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 10,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of Notes to be fetched from Zoho CRM",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Number denoting the start of the Note to get fetched from Zoho CRM",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number denoting the start of the Note to get fetched from Zoho CRM",
            "format" : "int32"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getAccountTasksResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "required" : [ "createdTime", "dueDate", "ownerName", "priority", "status", "subject", "uri" ],
                          "properties" : {
                            "ownerName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "subject" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "dueDate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "priority" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "uri" : {
                              "maxLength" : 300,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "required" : [ "createdTime", "dueDate", "ownerName", "priority", "status", "subject", "uri" ],
                          "properties" : {
                            "ownerName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "subject" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "dueDate" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "priority" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "uri" : {
                              "maxLength" : 300,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "ownerName" : "Siddarth Siddarth",
                        "subject" : "Task 1",
                        "createdTime" : "2019-12-04 13:01:00",
                        "priority" : "Highest",
                        "uri" : "http://crm.zoho.com/crm/EntityInfo.do?module=Tasks&id=709295000000428050",
                        "status" : "Not Started"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "f68fa6bc3fcd38bd51cb7959ed03c395",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.CRMService.getAccountTasks"
        }
      }
    },
    "/api/v1/zohoCRMIntegration" : {
      "get" : {
        "tags" : [ "CrmInteg" ],
        "summary" : "Get the current Integration Details",
        "description" : "This API retrieves the current integration details between Zoho Desk and Zoho CRM or Bigin.<br/>If an integration exists, it also returns the field mappings and the type of sync used.",
        "operationId" : "getDeskCRMConfiguration",
        "parameters" : [ {
          "name" : "type",
          "in" : "query",
          "description" : "Specifies the type of CRM that is to be integrated with Zoho desk. The allowed values are @zohocrm@, @bigin@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Specifies the type of CRM that is to be integrated with Zoho desk. The allowed values are @zohocrm@, @bigin@",
            "enum" : [ "zohocrm" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getDeskCRMConfigurationResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "required" : [ "accounts", "adminEmail", "companyName", "contacts", "isActive", "isNewVersionEnabled", "products", "status", "zgid" ],
                    "properties" : {
                      "zgid" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "companyName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "isNewVersionEnabled" : { },
                      "accounts" : {
                        "required" : [ "customViewDetails", "fieldMapping", "syncState", "syncType" ],
                        "properties" : {
                          "fieldMapping" : {
                            "items" : {
                              "required" : [ "crmField", "deskField" ],
                              "properties" : {
                                "deskField" : {
                                  "maxLength" : 300,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "crmField" : {
                                  "maxLength" : 300,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "customViewDetails" : {
                            "required" : [ "crmcvid" ],
                            "properties" : {
                              "crmcvid" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "syncState" : { },
                          "syncType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "oneway", "twoway", "off" ]
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "isActive" : { },
                      "contacts" : {
                        "additionalProperties" : { },
                        "allOf" : [ {
                          "required" : [ "customViewDetails", "fieldMapping", "syncState", "syncType" ],
                          "properties" : {
                            "fieldMapping" : {
                              "items" : {
                                "required" : [ "crmField", "deskField" ],
                                "properties" : {
                                  "deskField" : {
                                    "maxLength" : 300,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "crmField" : {
                                    "maxLength" : 300,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "customViewDetails" : {
                              "required" : [ "crmcvid" ],
                              "properties" : {
                                "crmcvid" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "syncState" : { },
                            "syncType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "oneway", "twoway", "off" ]
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "isSecondaryEmailDuplicateCheckEnabled" ],
                          "properties" : {
                            "isSecondaryEmailDuplicateCheckEnabled" : { }
                          }
                        } ]
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "products" : {
                        "additionalProperties" : { },
                        "allOf" : [ {
                          "required" : [ "customViewDetails", "fieldMapping", "syncState", "syncType" ],
                          "properties" : {
                            "fieldMapping" : {
                              "items" : {
                                "required" : [ "crmField", "deskField" ],
                                "properties" : {
                                  "deskField" : {
                                    "maxLength" : 300,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "crmField" : {
                                    "maxLength" : 300,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "customViewDetails" : {
                              "required" : [ "crmcvid" ],
                              "properties" : {
                                "crmcvid" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "syncState" : { },
                            "syncType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "oneway", "twoway", "off" ]
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "departmentIds" ],
                          "properties" : {
                            "departmentIds" : {
                              "uniqueItems" : false,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            }
                          }
                        } ]
                      },
                      "adminEmail" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "accounts", "adminEmail", "companyName", "contacts", "isActive", "isNewVersionEnabled", "products", "status", "zgid" ],
                    "properties" : {
                      "zgid" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "companyName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "isNewVersionEnabled" : { },
                      "accounts" : {
                        "required" : [ "customViewDetails", "fieldMapping", "syncState", "syncType" ],
                        "properties" : {
                          "fieldMapping" : {
                            "items" : {
                              "required" : [ "crmField", "deskField" ],
                              "properties" : {
                                "deskField" : {
                                  "maxLength" : 300,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "crmField" : {
                                  "maxLength" : 300,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "customViewDetails" : {
                            "required" : [ "crmcvid" ],
                            "properties" : {
                              "crmcvid" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "syncState" : { },
                          "syncType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "oneway", "twoway", "off" ]
                          }
                        },
                        "additionalProperties" : false
                      },
                      "isActive" : { },
                      "contacts" : {
                        "additionalProperties" : false,
                        "allOf" : [ {
                          "required" : [ "customViewDetails", "fieldMapping", "syncState", "syncType" ],
                          "properties" : {
                            "fieldMapping" : {
                              "items" : {
                                "required" : [ "crmField", "deskField" ],
                                "properties" : {
                                  "deskField" : {
                                    "maxLength" : 300,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "crmField" : {
                                    "maxLength" : 300,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "customViewDetails" : {
                              "required" : [ "crmcvid" ],
                              "properties" : {
                                "crmcvid" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "syncState" : { },
                            "syncType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "oneway", "twoway", "off" ]
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "isSecondaryEmailDuplicateCheckEnabled" ],
                          "properties" : {
                            "isSecondaryEmailDuplicateCheckEnabled" : { }
                          }
                        } ]
                      },
                      "products" : {
                        "required" : [ "customViewDetails", "fieldMapping", "syncState", "syncType" ],
                        "properties" : {
                          "fieldMapping" : {
                            "items" : {
                              "required" : [ "crmField", "deskField" ],
                              "properties" : {
                                "deskField" : {
                                  "maxLength" : 300,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "crmField" : {
                                  "maxLength" : 300,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "customViewDetails" : {
                            "required" : [ "crmcvid" ],
                            "properties" : {
                              "crmcvid" : {
                                "pattern" : "([0-9]+)",
[...]
