{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "CustomButton",
    "version" : "1.0.0",
    "x-clan-group" : "integration",
    "x-module-group" : "marketplace"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/customButtons/{buttonId}" : {
      "get" : {
        "tags" : [ "CustomButton" ],
        "summary" : "Get details of a custom button",
        "description" : "This API is used to fetch details of a custom button.",
        "operationId" : "getButton",
        "parameters" : [ {
          "name" : "buttonId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getButtonResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "additionalProperties" : { },
                      "allOf" : [ {
                        "additionalProperties" : { },
                        "allOf" : [ {
                          "required" : [ "departmentId", "description", "isEnable", "layoutIds", "location", "module", "name", "profileIds", "visibilityType" ],
                          "properties" : {
                            "module" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "API name of the module to which the custom button belongs.",
                              "enum" : [ "tickets" ]
                            },
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "description" : "The ID of the department to which the custom button belongs.",
                              "format" : "int64"
                            },
                            "name" : {
                              "maxLength" : 30,
                              "minLength" : 0,
                              "description" : "Name of the custom button."
                            },
                            "description" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "Description of the custom button."
                            },
                            "profileIds" : {
                              "uniqueItems" : false,
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "location" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "The location of the custom button on the desk.",
                              "enum" : [ "desk.ticket.detail.moreaction" ]
                            },
                            "layoutIds" : {
                              "uniqueItems" : false,
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "visibilityType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "The visibility of custom button in the Layouts. The allowed values are @NO_LAYOUT@,@SPECIFIC_LAYOUT@ and @ALL_LAYOUT@",
                              "enum" : [ "SPECIFIC_LAYOUT" ]
                            },
                            "isEnable" : {
                              "description" : "Specifies whether the visibility of the custom button for the particular location should be enabled or disabled."
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime" ],
                          "properties" : {
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "createdBy" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "modifiedBy" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        } ]
                      }, {
                        "required" : [ "action" ],
                        "properties" : {
                          "action" : {
                            "required" : [ "encodeType", "href", "id", "openType", "type" ],
                            "properties" : {
                              "encodeType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "UTF_8" ]
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "href" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "INVOKE_URL" ]
                              },
                              "openType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "NEW_TAB" ]
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      } ]
                    }, {
                      "required" : [ "creatorDetails", "department", "layouts", "modifierDetails", "profiles" ],
                      "properties" : {
                        "creatorDetails" : {
                          "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                          "properties" : {
                            "photoURL" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "email" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            }
                          },
                          "additionalProperties" : { }
                        },
                        "profiles" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "id", "name" ],
                            "properties" : {
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : { }
                          }
                        },
                        "modifierDetails" : {
                          "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                          "properties" : {
                            "photoURL" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "email" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "department" : {
                          "maxProperties" : 2,
                          "minProperties" : 2,
                          "required" : [ "id", "name" ],
                          "properties" : {
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : { }
                        },
                        "layouts" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "id", "name" ],
                            "properties" : {
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : { }
                          }
                        }
                      }
                    } ]
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "additionalProperties" : { },
                      "allOf" : [ {
                        "additionalProperties" : false,
                        "allOf" : [ {
                          "required" : [ "departmentId", "description", "isEnable", "layoutIds", "location", "module", "name", "profileIds", "visibilityType" ],
                          "properties" : {
                            "module" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "API name of the module to which the custom button belongs.",
                              "enum" : [ "tickets" ]
                            },
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "description" : "The ID of the department to which the custom button belongs.",
                              "format" : "int64"
                            },
                            "name" : {
                              "maxLength" : 30,
                              "minLength" : 0,
                              "description" : "Name of the custom button."
                            },
                            "description" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "Description of the custom button."
                            },
                            "profileIds" : {
                              "uniqueItems" : false,
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "location" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "The location of the custom button on the desk.",
                              "enum" : [ "desk.ticket.detail.moreaction" ]
                            },
                            "layoutIds" : {
                              "uniqueItems" : false,
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "visibilityType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "The visibility of custom button in the Layouts. The allowed values are @NO_LAYOUT@,@SPECIFIC_LAYOUT@ and @ALL_LAYOUT@",
                              "enum" : [ "SPECIFIC_LAYOUT" ]
                            },
                            "isEnable" : {
                              "description" : "Specifies whether the visibility of the custom button for the particular location should be enabled or disabled."
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime" ],
                          "properties" : {
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "createdBy" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "modifiedBy" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        } ]
                      }, {
                        "required" : [ "action" ],
                        "properties" : {
                          "action" : {
                            "required" : [ "description", "id", "name", "type" ],
                            "properties" : {
                              "name" : {
                                "maxLength" : 30,
                                "minLength" : 0
                              },
                              "description" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "CUSTOM_FUNCTION" ]
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      } ]
                    }, {
                      "required" : [ "creatorDetails", "department", "layouts", "modifierDetails", "profiles" ],
                      "properties" : {
                        "creatorDetails" : {
                          "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                          "properties" : {
                            "photoURL" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "email" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "profiles" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "id", "name" ],
                            "properties" : {
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : { }
                          }
                        },
                        "modifierDetails" : {
                          "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                          "properties" : {
                            "photoURL" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "email" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "department" : {
                          "maxProperties" : 2,
                          "minProperties" : 2,
                          "required" : [ "id", "name" ],
                          "properties" : {
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : { }
                        },
                        "layouts" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "id", "name" ],
                            "properties" : {
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : { }
                          }
                        }
                      }
                    } ]
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1712927538000,
                      "departmentId" : "1000000025940",
                      "module" : "tickets",
                      "description" : null,
                      "profileIds" : [ "1000000029914" ],
                      "isEnable" : true,
                      "createdBy" : "1000000000519",
                      "name" : "CB1",
                      "action" : {
                        "encodeType" : "UTF_8",
                        "id" : "1000000085180",
                        "href" : "https://acceptancetestdesk.requestcatcher.com",
                        "type" : "INVOKE_URL",
                        "openType" : "NEW_TAB"
                      },
                      "createdTime" : 1712927538000,
                      "location" : "desk.ticket.detail.moreaction",
                      "modifiedBy" : "1000000000519",
                      "id" : "1000000085179",
                      "layoutIds" : [ "1000000027886" ],
                      "visibilityType" : "SPECIFIC_LAYOUT"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "4854d623d49da7fcda9dcc30baa58a82",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.desk.app.button.api.CustomButtonService.getButton"
        }
      },
      "delete" : {
        "tags" : [ "CustomButton" ],
        "summary" : "Delete a custom button",
        "description" : "This API is used to delete a custom button.",
        "operationId" : "deleteButton",
        "parameters" : [ {
          "name" : "buttonId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.DELETE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "e0d1d4f35cd587685b6bb5695b38cbad",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.desk.app.button.api.CustomButtonService.deleteButton"
        }
      },
      "patch" : {
        "tags" : [ "CustomButton" ],
        "summary" : "Update the custom button",
        "description" : "This API is used to update the details associated with a custom button.",
        "operationId" : "updateButtonInvokeUrl",
        "parameters" : [ {
          "name" : "buttonId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "additionalProperties" : { },
                "allOf" : [ {
                  "required" : [ "departmentId", "description", "isEnable", "layoutIds", "location", "module", "name", "profileIds", "visibilityType" ],
                  "properties" : {
                    "module" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "API name of the module to which the custom button belongs.",
                      "enum" : [ "tickets" ]
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "description" : "The ID of the department to which the custom button belongs.",
                      "format" : "int64"
                    },
                    "name" : {
                      "maxLength" : 30,
                      "minLength" : 0,
                      "description" : "Name of the custom button."
                    },
                    "description" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "Description of the custom button."
                    },
                    "profileIds" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "location" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "The location of the custom button on the desk.",
                      "enum" : [ "desk.ticket.detail.moreaction" ]
                    },
                    "layoutIds" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "visibilityType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "The visibility of custom button in the Layouts. The allowed values are @NO_LAYOUT@,@SPECIFIC_LAYOUT@ and @ALL_LAYOUT@",
                      "enum" : [ "SPECIFIC_LAYOUT" ]
                    },
                    "isEnable" : {
                      "description" : "Specifies whether the visibility of the custom button for the particular location should be enabled or disabled."
                    }
                  },
                  "additionalProperties" : false
                }, {
                  "properties" : {
                    "action" : {
                      "required" : [ "encodeType", "href", "openType", "type" ],
                      "properties" : {
                        "encodeType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "The encoding type to encode the provided data. The allowed values are @UTF_8@, @UTF_16@, @ISO_8859_1@, @ISO_8859_9@, @GB2312@, @BIG_5@, @SHIFT_JIS@",
                          "enum" : [ "UTF_8" ]
                        },
                        "href" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]",
                          "description" : "The URL to be invoked."
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "Action execution type. Allowed values are @INVOKE_URL@, @CUSTOM_FUNCTION@",
                          "enum" : [ "INVOKE_URL" ]
                        },
                        "openType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "Indicates where the provided action link should be opened. The allowed values are @NEW_TAB@, @NEW_WINDOW@ and @SAME_TAB@",
                          "enum" : [ "NEW_TAB" ]
                        }
                      },
                      "additionalProperties" : { }
                    }
                  }
                }, {
                  "required" : [ "action", "departmentId", "location", "module", "name", "profileIds", "visibilityType" ]
                } ]
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "departmentId" : "1000000025940",
                    "module" : "tickets",
                    "name" : "CB1",
                    "profileIds" : [ "1000000029914" ],
                    "action" : {
                      "encodeType" : "UTF_8",
                      "href" : "https://acceptancetestdesk.requestcatcher.com",
                      "type" : "INVOKE_URL",
                      "openType" : "NEW_TAB"
                    },
                    "location" : "desk.ticket.detail.moreaction",
                    "modifiedBy" : "1000000000519",
                    "layoutIds" : [ "1000000027886" ],
                    "visibilityType" : "SPECIFIC_LAYOUT"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "updateButtonInvokeUrlResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "additionalProperties" : false,
                      "allOf" : [ {
                        "required" : [ "departmentId", "description", "isEnable", "layoutIds", "location", "module", "name", "profileIds", "visibilityType" ],
                        "properties" : {
                          "module" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "description" : "API name of the module to which the custom button belongs.",
                            "enum" : [ "tickets" ]
                          },
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "The ID of the department to which the custom button belongs.",
                            "format" : "int64"
                          },
                          "name" : {
                            "maxLength" : 30,
                            "minLength" : 0,
                            "description" : "Name of the custom button."
                          },
                          "description" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "description" : "Description of the custom button."
                          },
                          "profileIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "location" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "description" : "The location of the custom button on the desk.",
                            "enum" : [ "desk.ticket.detail.moreaction" ]
                          },
                          "layoutIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "visibilityType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "description" : "The visibility of custom button in the Layouts. The allowed values are @NO_LAYOUT@,@SPECIFIC_LAYOUT@ and @ALL_LAYOUT@",
                            "enum" : [ "SPECIFIC_LAYOUT" ]
                          },
                          "isEnable" : {
                            "description" : "Specifies whether the visibility of the custom button for the particular location should be enabled or disabled."
                          }
                        },
                        "additionalProperties" : false
                      }, {
                        "required" : [ "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime" ],
                        "properties" : {
                          "modifiedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "createdBy" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "modifiedBy" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        }
                      } ]
                    }, {
                      "required" : [ "action" ],
                      "properties" : {
                        "action" : {
                          "required" : [ "encodeType", "href", "id", "openType", "type" ],
                          "properties" : {
                            "encodeType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "UTF_8" ]
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "href" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "INVOKE_URL" ]
                            },
                            "openType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "NEW_TAB" ]
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    } ]
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "additionalProperties" : false,
                      "allOf" : [ {
                        "required" : [ "departmentId", "description", "isEnable", "layoutIds", "location", "module", "name", "profileIds", "visibilityType" ],
                        "properties" : {
                          "module" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "description" : "API name of the module to which the custom button belongs.",
                            "enum" : [ "tickets" ]
                          },
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "The ID of the department to which the custom button belongs.",
                            "format" : "int64"
                          },
                          "name" : {
                            "maxLength" : 30,
                            "minLength" : 0,
                            "description" : "Name of the custom button."
                          },
                          "description" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "description" : "Description of the custom button."
                          },
                          "profileIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "location" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "description" : "The location of the custom button on the desk.",
                            "enum" : [ "desk.ticket.detail.moreaction" ]
                          },
                          "layoutIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "visibilityType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "description" : "The visibility of custom button in the Layouts. The allowed values are @NO_LAYOUT@,@SPECIFIC_LAYOUT@ and @ALL_LAYOUT@",
                            "enum" : [ "SPECIFIC_LAYOUT" ]
                          },
                          "isEnable" : {
                            "description" : "Specifies whether the visibility of the custom button for the particular location should be enabled or disabled."
                          }
                        },
                        "additionalProperties" : false
                      }, {
                        "required" : [ "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime" ],
                        "properties" : {
                          "modifiedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "createdBy" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "modifiedBy" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        }
                      } ]
                    }, {
                      "required" : [ "action" ],
                      "properties" : {
                        "action" : {
                          "required" : [ "description", "id", "name", "type" ],
                          "properties" : {
                            "name" : {
                              "maxLength" : 30,
                              "minLength" : 0
                            },
                            "description" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "CUSTOM_FUNCTION" ]
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    } ]
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1712927538000,
                      "departmentId" : "1000000025940",
                      "module" : "tickets",
                      "description" : null,
                      "profileIds" : [ "1000000029914" ],
                      "isEnable" : true,
                      "createdBy" : "1000000000519",
                      "name" : "CB1",
                      "action" : {
                        "encodeType" : "UTF_8",
                        "id" : "1000000085180",
                        "href" : "https://acceptancetestdesk.requestcatcher.com",
                        "type" : "INVOKE_URL",
                        "openType" : "NEW_TAB"
                      },
                      "createdTime" : 1712927538000,
                      "location" : "desk.ticket.detail.moreaction",
                      "modifiedBy" : "1000000000519",
                      "id" : "1000000085179",
                      "layoutIds" : [ "1000000027886" ],
                      "visibilityType" : "SPECIFIC_LAYOUT"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "4b4795b296d8c2a60147749f23192202",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.desk.app.button.api.CustomButtonService.updateButton"
        }
      }
    },
    "/api/v1/myAccessibleCustomButtons" : {
      "get" : {
        "tags" : [ "CustomButton" ],
        "summary" : "Get my accessible custom buttons",
        "description" : "This API fetches custom buttons that are accessible by a particular user.",
        "operationId" : "getMyAccessibleButtons",
        "parameters" : [ {
          "name" : "module",
          "in" : "query",
          "description" : "API name of the module.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "API name of the module.",
            "enum" : [ "tickets" ]
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "The ID of the department.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "The ID of the department.",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getMyAccessibleButtonResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "oneOf" : [ {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "required" : [ "id", "layoutIds", "location", "module", "name", "sequenceNumber", "visibilityType" ],
                            "properties" : {
                              "sequenceNumber" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "module" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "tickets" ],
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "API name of the module.",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "name" : {
                                "maxLength" : 30,
                                "minLength" : 0
                              },
                              "location" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "desk.ticket.detail.moreaction" ],
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "The location of the custom button on the desk.",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "layoutIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "visibilityType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "SPECIFIC_LAYOUT" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "action" ],
                            "properties" : {
                              "action" : {
                                "required" : [ "encodeType", "href", "id", "openType", "type" ],
                                "properties" : {
                                  "encodeType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "UTF_8" ]
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "href" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                                  },
                                  "type" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "INVOKE_URL" ]
                                  },
                                  "openType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "NEW_TAB" ]
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          } ]
                        }, {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "required" : [ "id", "layoutIds", "location", "module", "name", "sequenceNumber", "visibilityType" ],
                            "properties" : {
                              "sequenceNumber" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "module" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "tickets" ],
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "API name of the module.",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "name" : {
                                "maxLength" : 30,
                                "minLength" : 0
                              },
                              "location" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "desk.ticket.detail.moreaction" ],
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "The location of the custom button on the desk.",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "layoutIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "visibilityType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "SPECIFIC_LAYOUT" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "action" ],
                            "properties" : {
                              "action" : {
                                "required" : [ "description", "id", "name", "type" ],
                                "properties" : {
                                  "name" : {
                                    "maxLength" : 30,
                                    "minLength" : 0
                                  },
                                  "description" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "type" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "CUSTOM_FUNCTION" ]
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          } ]
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "modifiedTime" : 1712927538000,
                        "departmentId" : "1000000025940",
                        "module" : "tickets",
                        "description" : null,
                        "profileIds" : [ "1000000029914" ],
                        "isEnable" : true,
                        "createdBy" : "1000000000519",
                        "name" : "CB1",
                        "action" : {
                          "encodeType" : "UTF_8",
                          "id" : "1000000085180",
                          "href" : "https://acceptancetestdesk.requestcatcher.com",
                          "type" : "INVOKE_URL",
                          "openType" : "NEW_TAB"
                        },
                        "createdTime" : 1712927538000,
                        "location" : "desk.ticket.detail.moreaction",
                        "modifiedBy" : "1000000000519",
                        "id" : "1000000085179",
                        "layoutIds" : [ "1000000027886" ],
                        "visibilityType" : "SPECIFIC_LAYOUT"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "461aac7210365261b4de827b8dc6f955",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.desk.app.button.api.CustomButtonService.getMyAccessibleButtons"
        }
      }
    },
    "/api/v1/customButtons/{buttonId}/execute" : {
      "post" : {
        "tags" : [ "CustomButton" ],
        "summary" : "Execute a custom button",
        "description" : "This API is used to execute the action associated with a custom button that was configured during its creation.",
        "operationId" : "executeButton",
        "parameters" : [ {
          "name" : "buttonId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "entityId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "IDs of entities that are associated with the custom button",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "entityId" : "1000000084646"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "executeButtonResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "required" : [ "type", "url" ],
                    "properties" : {
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "INVOKE_URL" ]
                      },
                      "url" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "href", "openType" ],
                        "properties" : {
                          "href" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                          },
                          "openType" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "result", "status", "type" ],
                    "properties" : {
                      "result" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "CUSTOM_FUNCTION" ]
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "type" : "INVOKE_URL",
                      "url" : {
                        "href" : "https://acceptancetestdesk.requestcatcher.com",
                        "openType" : "NEW_TAB"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "245b27f9ead68582738a77d1fd9337a5",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.desk.app.button.api.CustomButtonService.executeButton"
        }
      }
    },
    "/api/v1/customButtons" : {
      "get" : {
        "tags" : [ "CustomButton" ],
        "summary" : "List the custom buttons",
        "description" : "This API is used to fetch a list of custom buttons and their corresponding details.",
        "operationId" : "getButtons",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Fetches the profiles, department, actor and layout details of the custom button. The allowed values are: @profiles@, @department@, @actor@ and @layouts@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Fetches the profiles, department, actor and layout details of the custom button. The allowed values are: @profiles@, @department@, @actor@ and @layouts@",
            "enum" : [ "profiles", "department", "actor", "layouts" ],
            "x-custom-parameters-attributes" : {
              "split" : ",",
              "entity" : "Include"
            },
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "The ID of the department.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "The ID of the department.",
            "format" : "int64"
          }
        }, {
          "name" : "module",
          "in" : "query",
          "description" : "API name of the module.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "API name of the module.",
            "enum" : [ "tickets" ]
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of custom buttons that need to be fetched.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "The number of custom buttons that need to be fetched.",
            "format" : "int32"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "The name of the custom button.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 30,
            "minLength" : 3,
            "description" : "The name of the custom button."
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "The starting index number from which the custom buttons should be fetched.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "The starting index number from which the custom buttons should be fetched.",
            "format" : "int32"
          }
        }, {
          "name" : "location",
          "in" : "query",
          "description" : "The location of the custom button on the desk.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "The location of the custom button on the desk.",
            "enum" : [ "desk.ticket.detail.moreaction" ]
          }
        }, {
          "name" : "layoutId",
          "in" : "query",
[...]
