{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "CustomAction",
    "version" : "1.0.0",
    "x-clan-group" : "integration",
    "x-module-group" : "marketplace"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/customActions/{customActionId}" : {
      "get" : {
        "tags" : [ "CustomAction" ],
        "summary" : "Retrieve a CustomAction",
        "description" : "This API gets a CustomAction in your helpdesk",
        "operationId" : "readCustomAction",
        "parameters" : [ {
          "name" : "customActionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getCustomActionResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "apiName", "createdBy", "createdTime", "customActionId", "customActionName", "definedBy", "extensionId", "inputFieldScriptUrl", "inputFields", "modifiedBy", "modifiedTime", "outputFieldScriptUrl", "outputFields", "postRequestScriptUrl", "preRequestScriptUrl", "secondaryTargetIds", "targetId" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "inputFieldScriptUrl" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The Input Field request script",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "outputFieldScriptUrl" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The Output Field request script",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "apiName" : {
                      "maxLength" : 200,
                      "minLength" : 0
                    },
                    "targetId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The Id of the target",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "postRequestScriptUrl" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*(:[0-9]{1,5})?/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The post request script",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "inputFields" : {
                      "items" : {
                        "required" : [ "apiName", "context", "customActionId", "displayName", "hooks", "inputFieldId", "isMandatory", "isPlaceHolderNeeded", "length", "mappingTargetTemplateName", "type", "value", "valueUrl", "values" ],
                        "properties" : {
                          "mappingTargetTemplateName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "apiName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "displayName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "values" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "prompt", "value" ],
                              "properties" : {
                                "prompt" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "value" : {
                                  "maxLength" : 500,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "length" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                          },
                          "valueUrl" : {
                            "maxLength" : 2048,
                            "minLength" : 0,
                            "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*(:[0-9]{1,5})?/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
                          },
                          "isPlaceHolderNeeded" : { },
                          "customActionId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "context" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "tickets", "contacts", "accounts", "tasks", "products", "events", "calls", "departments", "agents", "teams", null ]
                          },
                          "hooks" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "event", "preRequisites" ],
                              "properties" : {
                                "preRequisites" : {
                                  "additionalProperties" : false
                                },
                                "event" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "ON_ENTRY", "ON_TYPE", "AFTER_SELECTION", "ON_BEFORE_LOAD" ]
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "value" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "inputFieldId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "isMandatory" : { }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "outputFields" : {
                      "items" : {
                        "required" : [ "apiName", "customActionId", "displayName", "jsonPointerPath", "length", "outputFieldId", "type", "usedInputFields", "version", "versionHash" ],
                        "properties" : {
                          "outputFieldId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "customActionId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "jsonPointerPath" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "apiName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "displayName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "length" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "usedInputFields" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "versionHash" : {
                            "maxLength" : 1000,
                            "minLength" : 0
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                          },
                          "version" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "customActionId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "preRequestScriptUrl" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*(:[0-9]{1,5})?/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The pre request script",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "secondaryTargetIds" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : [ { } ]
                      }
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "customActionName" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The name of the Custom Action",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "definedBy" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "SYSTEM", "USER_DEFINED", "EXTENSION_DEFINED" ]
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "extensionId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1586759707000,
                      "apiName" : "create_ticket",
                      "targetId" : "4000000019007",
                      "postRequestScriptUrl" : null,
                      "type" : "STATIC",
                      "inputFields" : [ {
                        "mappingTargetTemplateName" : null,
                        "customActionId" : "4000000031001",
                        "apiName" : "subject",
                        "displayName" : "Subject",
                        "values" : null,
                        "length" : "300",
                        "valueUrl" : null,
                        "type" : "TEXT",
                        "inputFieldId" : "4000000031005",
                        "isMandatory" : false
                      }, {
                        "mappingTargetTemplateName" : null,
                        "customActionId" : "4000000031001",
                        "apiName" : "email",
                        "displayName" : "Email",
                        "values" : null,
                        "length" : "100",
                        "valueUrl" : null,
                        "type" : "TEXT",
                        "inputFieldId" : "4000000031007",
                        "isMandatory" : false
                      }, {
                        "mappingTargetTemplateName" : null,
                        "customActionId" : "4000000031001",
                        "apiName" : "category",
                        "displayName" : "Category",
                        "values" : null,
                        "length" : "100",
                        "valueUrl" : null,
                        "type" : "TEXT",
                        "inputFieldId" : "4000000031009",
                        "isMandatory" : false
                      } ],
                      "outputFields" : [ {
                        "outputFieldId" : "4000000031003",
                        "customActionId" : "4000000031001",
                        "jsonPointerPath" : "/ticketNumber",
                        "apiName" : "ticket_number",
                        "displayName" : "ticket_number",
                        "length" : "20",
                        "type" : "TEXT"
                      } ],
                      "customActionId" : "4000000031001",
                      "preRequestScriptUrl" : "https://desk.zoho.com/api/v1/scripts/4000000030001/invoke?orgId=15081752",
                      "secondaryTargetIds" : [ ],
                      "createdBy" : "4000000016526",
                      "customActionName" : "Create Ticket",
                      "definedBy" : "USER_DEFINED",
                      "createdTime" : 1586759707000,
                      "modifiedBy" : "4000000016526",
                      "extensionId" : null
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 40,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "f7f016c5c4e9694a107e9407e17a7181",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.desk.customactions.core.CustomActionService.getCustomAction"
        }
      },
      "delete" : {
        "tags" : [ "CustomAction" ],
        "summary" : "Delete Custom Action",
        "description" : "Delete a custom action from your helpdesk",
        "operationId" : "deleteCustomAction",
        "parameters" : [ {
          "name" : "customActionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.DELETE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 40,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "ea3fa32d893d1d1e4f3d2f0f0919d506",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.desk.customactions.core.CustomActionService.deleteCustomAction"
        }
      },
      "patch" : {
        "tags" : [ "CustomAction" ],
        "summary" : "Update a CustomAction",
        "description" : "This API update a CustomAction in your helpdesk",
        "operationId" : "updateCustomAction",
        "parameters" : [ {
          "name" : "customActionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "inputFields" : {
                    "items" : {
                      "additionalProperties" : { },
                      "allOf" : [ {
                        "required" : [ "displayName", "length", "type" ],
                        "properties" : {
                          "displayName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "length" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                          }
                        },
                        "additionalProperties" : false
                      }, {
                        "required" : [ "isMandatory", "mappingTargetTemplateName", "valueUrl", "values" ],
                        "properties" : {
                          "mappingTargetTemplateName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "values" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "prompt", "value" ],
                              "properties" : {
                                "prompt" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "value" : {
                                  "maxLength" : 500,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "valueUrl" : {
                            "maxLength" : 2048,
                            "minLength" : 0,
                            "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*(:[0-9]{1,5})?/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
                          },
                          "isMandatory" : { }
                        }
                      } ]
                    }
                  },
                  "outputFields" : {
                    "items" : {
                      "additionalProperties" : false,
                      "allOf" : [ {
                        "required" : [ "displayName", "length", "type" ],
                        "properties" : {
                          "displayName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "length" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                          }
                        },
                        "additionalProperties" : false
                      }, {
                        "required" : [ "jsonPointerPath" ],
                        "properties" : {
                          "jsonPointerPath" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          }
                        }
                      } ]
                    }
                  },
                  "preRequestScriptUrl" : {
                    "maxLength" : 500,
                    "minLength" : 0,
                    "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*(:[0-9]{1,5})?/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$",
                    "description" : "The pre request script"
                  },
                  "targetId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "The Id of the target",
                    "format" : "int64"
                  },
                  "secondaryTargetIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "customActionName" : {
                    "maxLength" : 200,
                    "minLength" : 0,
                    "description" : "The name of the Custom Action"
                  },
                  "postRequestScriptUrl" : {
                    "maxLength" : 500,
                    "minLength" : 0,
                    "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*(:[0-9]{1,5})?/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$",
                    "description" : "The post request script"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "customActionName" : "Assign followers to a Ticket 2"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getCustomActionResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "apiName", "createdBy", "createdTime", "customActionId", "customActionName", "definedBy", "extensionId", "inputFieldScriptUrl", "inputFields", "modifiedBy", "modifiedTime", "outputFieldScriptUrl", "outputFields", "postRequestScriptUrl", "preRequestScriptUrl", "secondaryTargetIds", "targetId" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "inputFieldScriptUrl" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The Input Field request script",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "outputFieldScriptUrl" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The Output Field request script",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "apiName" : {
                      "maxLength" : 200,
                      "minLength" : 0
                    },
                    "targetId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The Id of the target",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "postRequestScriptUrl" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*(:[0-9]{1,5})?/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The post request script",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "inputFields" : {
                      "items" : {
                        "required" : [ "apiName", "context", "customActionId", "displayName", "hooks", "inputFieldId", "isMandatory", "isPlaceHolderNeeded", "length", "mappingTargetTemplateName", "type", "value", "valueUrl", "values" ],
                        "properties" : {
                          "mappingTargetTemplateName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "apiName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "displayName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "values" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "prompt", "value" ],
                              "properties" : {
                                "prompt" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "value" : {
                                  "maxLength" : 500,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "length" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                          },
                          "valueUrl" : {
                            "maxLength" : 2048,
                            "minLength" : 0,
                            "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*(:[0-9]{1,5})?/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
                          },
                          "isPlaceHolderNeeded" : { },
                          "customActionId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "context" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "tickets", "contacts", "accounts", "tasks", "products", "events", "calls", "departments", "agents", "teams", null ]
                          },
                          "hooks" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "event", "preRequisites" ],
                              "properties" : {
                                "preRequisites" : {
                                  "additionalProperties" : false
                                },
                                "event" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "ON_ENTRY", "ON_TYPE", "AFTER_SELECTION", "ON_BEFORE_LOAD" ]
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "value" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "inputFieldId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "isMandatory" : { }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "outputFields" : {
                      "items" : {
                        "required" : [ "apiName", "customActionId", "displayName", "jsonPointerPath", "length", "outputFieldId", "type", "usedInputFields", "version", "versionHash" ],
                        "properties" : {
                          "outputFieldId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "customActionId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "jsonPointerPath" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "apiName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "displayName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "length" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "usedInputFields" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "versionHash" : {
                            "maxLength" : 1000,
                            "minLength" : 0
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                          },
                          "version" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "customActionId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "preRequestScriptUrl" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*(:[0-9]{1,5})?/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The pre request script",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "secondaryTargetIds" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : [ { } ]
                      }
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "customActionName" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The name of the Custom Action",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "definedBy" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "SYSTEM", "USER_DEFINED", "EXTENSION_DEFINED" ]
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "extensionId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1586759707000,
                      "apiName" : "create_ticket",
                      "targetId" : "4000000019007",
                      "postRequestScriptUrl" : null,
                      "type" : "STATIC",
                      "inputFields" : [ {
                        "mappingTargetTemplateName" : null,
                        "customActionId" : "4000000031001",
                        "apiName" : "subject",
                        "displayName" : "Subject",
                        "values" : null,
                        "length" : "300",
                        "valueUrl" : null,
                        "type" : "TEXT",
                        "inputFieldId" : "4000000031005",
                        "isMandatory" : false
                      }, {
                        "mappingTargetTemplateName" : null,
                        "customActionId" : "4000000031001",
                        "apiName" : "email",
                        "displayName" : "Email",
                        "values" : null,
                        "length" : "100",
                        "valueUrl" : null,
                        "type" : "TEXT",
                        "inputFieldId" : "4000000031007",
                        "isMandatory" : false
                      }, {
                        "mappingTargetTemplateName" : null,
                        "customActionId" : "4000000031001",
                        "apiName" : "category",
                        "displayName" : "Category",
                        "values" : null,
                        "length" : "100",
                        "valueUrl" : null,
                        "type" : "TEXT",
                        "inputFieldId" : "4000000031009",
                        "isMandatory" : false
                      } ],
                      "outputFields" : [ {
                        "outputFieldId" : "4000000031003",
                        "customActionId" : "4000000031001",
                        "jsonPointerPath" : "/ticketNumber",
                        "apiName" : "ticket_number",
                        "displayName" : "ticket_number",
                        "length" : "20",
                        "type" : "TEXT"
                      } ],
                      "customActionId" : "4000000031001",
                      "preRequestScriptUrl" : "https://desk.zoho.com/api/v1/scripts/4000000030001/invoke?orgId=15081752",
                      "secondaryTargetIds" : [ ],
                      "createdBy" : "4000000016526",
                      "customActionName" : "Create Ticket",
                      "definedBy" : "USER_DEFINED",
                      "createdTime" : 1586759707000,
                      "modifiedBy" : "4000000016526",
                      "extensionId" : null
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 40,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "28ba6f8bffbe53ad5e911361e44ca430",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.desk.customactions.core.CustomActionService.updateCustomAction"
        }
      }
    },
    "/api/v1/customActions/defaults" : {
      "get" : {
        "tags" : [ "CustomAction" ],
        "summary" : "List Default Custom Actions",
        "description" : "This API List all default actions provided by the helpdesk",
        "operationId" : "listDefaultCustomAction",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "customActionDefaultListArray template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "customActionName", "definedBy", "id", "isAlreadyPresent", "resourceName" ],
                        "properties" : {
                          "isAlreadyPresent" : { },
                          "customActionName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "definedBy" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "SYSTEM", "USER_DEFINED", "EXTENSION_DEFINED" ]
                          },
                          "resourceName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "isAlreadyPresent" : true,
                        "customActionName" : "Add Comment for a Ticket",
                        "definedBy" : "SYSTEM",
                        "resourceName" : "createTicketComment"
                      }, {
                        "isAlreadyPresent" : true,
                        "customActionName" : "Share a Ticket to a Department",
                        "definedBy" : "SYSTEM",
                        "resourceName" : "shareTicketToADepartment"
                      }, {
                        "isAlreadyPresent" : false,
                        "customActionName" : "Add Comment for a Event",
                        "definedBy" : "SYSTEM",
                        "resourceName" : "createEventComment"
                      }, {
                        "isAlreadyPresent" : false,
                        "customActionName" : "Add Comment for a Call",
                        "definedBy" : "SYSTEM",
                        "resourceName" : "createCallComment"
                      }, {
                        "isAlreadyPresent" : false,
                        "customActionName" : "Add Comment for a Account",
                        "definedBy" : "SYSTEM",
                        "resourceName" : "createAccountComment"
                      }, {
                        "isAlreadyPresent" : true,
                        "customActionName" : "Assign followers to a Ticket",
                        "definedBy" : "SYSTEM",
                        "resourceName" : "addTicketFollowers"
                      }, {
                        "isAlreadyPresent" : false,
                        "customActionName" : "Add Comment for a Task",
                        "definedBy" : "SYSTEM",
                        "resourceName" : "createTaskComment"
                      }, {
                        "isAlreadyPresent" : false,
                        "customActionName" : "Dissociate Tags for tickets",
                        "definedBy" : "SYSTEM",
                        "resourceName" : "dissociateTagforTicket"
                      }, {
                        "isAlreadyPresent" : true,
                        "customActionName" : "Assign ticket to an Agent",
                        "definedBy" : "SYSTEM",
                        "resourceName" : "assignTicket"
                      }, {
                        "isAlreadyPresent" : false,
                        "customActionName" : "Add Comment for a Contact",
                        "definedBy" : "SYSTEM",
                        "resourceName" : "createContactComment"
                      }, {
                        "isAlreadyPresent" : true,
                        "customActionName" : "Mark the ticket as spam",
                        "definedBy" : "SYSTEM",
                        "resourceName" : "markTicketAsSpam"
                      }, {
                        "isAlreadyPresent" : true,
                        "customActionName" : "Add Tags for tickets",
                        "definedBy" : "SYSTEM",
                        "resourceName" : "associateTagforTicket"
                      }, {
                        "isAlreadyPresent" : true,
                        "customActionName" : "Send Email Reply for a ticket",
                        "definedBy" : "SYSTEM",
                        "resourceName" : "sendEmailReply"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 40,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "915f3b45bb7cb54c18072aecf623a1cc",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.desk.customactions.core.CustomActionService.listDefaultActions"
        }
      }
    },
    "/api/v1/placeHolders" : {
      "get" : {
        "tags" : [ "CustomAction" ],
        "summary" : "List Placeholders",
        "description" : "This API lists all placeholders for a module",
        "operationId" : "getPlaceHolders",
        "parameters" : [ {
          "name" : "module",
          "in" : "query",
          "description" : "Name of the module for which you want to fetch the layout rules. Allowed values are tickets, contacts, accounts, tasks, timeEntry, contracts, products, calls, events",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Name of the module for which you want to fetch the layout rules. Allowed values are tickets, contacts, accounts, tasks, timeEntry, contracts, products, calls, events",
            "enum" : [ "tickets", "contacts", "accounts", "tasks", "calls", "events", "timeEntry", "contracts", "products" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "placeHolderListArray template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "module", "placeHolders" ],
                        "properties" : {
                          "placeHolders" : {
                            "items" : {
                              "required" : [ "context", "fieldLabel", "placeHolder", "type" ],
                              "properties" : {
                                "fieldLabel" : {
                                  "maxLength" : 300,
                                  "minLength" : 1,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "context" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "BOOLEAN", "ARRAY", "OBJECT", "LOOKUP", "TEXT", "EMAIL", "MULTI_LINE_TEXT", "PHONE" ]
                                },
                                "placeHolder" : {
                                  "maxLength" : 300,
                                  "minLength" : 1,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "module" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "tickets", "contacts", "accounts", "tasks", "calls", "events", "timeEntry", "contracts", "products", "owner", "assignee" ],
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Name of the module for which you want to fetch the layout rules. Allowed values are tickets, contacts, accounts, tasks, timeEntry, contracts, products, calls, events",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "placeHolders" : [ {
                          "fieldLabel" : "Is Response Overdue",
                          "type" : "BOOLEAN",
                          "placeHolder" : "${deskPlaceHolders.tickets.isResponseOverdue}"
                        }, {
                          "fieldLabel" : "Department",
                          "type" : "LOOKUP",
                          "placeHolder" : "${deskPlaceHolders.tickets.departmentId}"
                        }, {
                          "fieldLabel" : "Account Name",
                          "type" : "LOOKUP",
                          "placeHolder" : "${deskPlaceHolders.tickets.accountId}"
                        }, {
                          "fieldLabel" : "Contact Name",
                          "type" : "LOOKUP",
                          "placeHolder" : "${deskPlaceHolders.tickets.contactId}"
                        }, {
                          "fieldLabel" : "Email",
                          "type" : "EMAIL",
                          "placeHolder" : "${deskPlaceHolders.tickets.email}"
                        }, {
                          "fieldLabel" : "Phone",
                          "type" : "PHONE",
                          "placeHolder" : "${deskPlaceHolders.tickets.phone}"
                        }, {
                          "fieldLabel" : "Subject",
                          "type" : "TEXT",
                          "placeHolder" : "${deskPlaceHolders.tickets.subject}"
                        }, {
                          "fieldLabel" : "Description",
                          "type" : "MULTI_LINE_TEXT",
                          "placeHolder" : "${deskPlaceHolders.tickets.description}"
                        }, {
                          "fieldLabel" : "Status",
                          "type" : "ENUM",
                          "placeHolder" : "${deskPlaceHolders.tickets.status}"
                        }, {
                          "fieldLabel" : "Product Name",
                          "type" : "LOOKUP",
                          "placeHolder" : "${deskPlaceHolders.tickets.productId}"
                        }, {
                          "fieldLabel" : "Case Owner",
                          "type" : "LOOKUP",
                          "placeHolder" : "${deskPlaceHolders.tickets.assigneeId}"
                        }, {
                          "fieldLabel" : "Created By",
                          "type" : "LOOKUP",
                          "placeHolder" : "${deskPlaceHolders.tickets.createdBy}"
                        }, {
                          "fieldLabel" : "Modified By",
                          "type" : "LOOKUP",
                          "placeHolder" : "${deskPlaceHolders.tickets.modifiedBy}"
                        }, {
                          "fieldLabel" : "Created Time",
                          "type" : "DATETIME",
                          "placeHolder" : "${deskPlaceHolders.tickets.createdTime}"
                        }, {
                          "fieldLabel" : "Modified Time",
                          "type" : "DATETIME",
                          "placeHolder" : "${deskPlaceHolders.tickets.modifiedTime}"
                        }, {
                          "fieldLabel" : "Request Id",
                          "type" : "AUTONUMBER",
                          "placeHolder" : "${deskPlaceHolders.tickets.ticketNumber}"
                        }, {
                          "fieldLabel" : "isSpam",
                          "type" : "NUMBER",
                          "placeHolder" : "${deskPlaceHolders.tickets.isSpam}"
                        }, {
                          "fieldLabel" : "Thread Status",
                          "type" : "NUMBER",
                          "placeHolder" : "${deskPlaceHolders.tickets.threadStatus}"
                        }, {
                          "fieldLabel" : "Customer Responded Time",
                          "type" : "NUMBER",
                          "placeHolder" : "${deskPlaceHolders.tickets.customerResponseTime}"
                        }, {
                          "fieldLabel" : "Thread Count",
                          "type" : "NUMBER",
                          "placeHolder" : "${deskPlaceHolders.tickets.threadCount}"
                        }, {
                          "fieldLabel" : "Comment Count",
                          "type" : "NUMBER",
                          "placeHolder" : "${deskPlaceHolders.tickets.commentCount}"
                        }, {
                          "fieldLabel" : "Team",
                          "type" : "LOOKUP",
                          "placeHolder" : "${deskPlaceHolders.tickets.teamId}"
                        }, {
                          "fieldLabel" : "Due Date",
                          "type" : "DATETIME",
                          "placeHolder" : "${deskPlaceHolders.tickets.dueDate}"
                        }, {
                          "fieldLabel" : "Priority",
                          "type" : "ENUM",
                          "placeHolder" : "${deskPlaceHolders.tickets.priority}"
                        }, {
                          "fieldLabel" : "Mode",
                          "type" : "ENUM",
                          "placeHolder" : "${deskPlaceHolders.tickets.channel}"
                        }, {
                          "fieldLabel" : "Is Overdue",
                          "type" : "BOOLEAN",
                          "placeHolder" : "${deskPlaceHolders.tickets.isOverdue}"
                        }, {
                          "fieldLabel" : "Is Escalated",
                          "type" : "BOOLEAN",
                          "placeHolder" : "${deskPlaceHolders.tickets.isEscalated}"
                        }, {
                          "fieldLabel" : "Classification",
                          "type" : "ENUM",
                          "placeHolder" : "${deskPlaceHolders.tickets.classification}"
                        }, {
                          "fieldLabel" : "Resolution",
                          "type" : "MULTI_LINE_TEXT",
                          "placeHolder" : "${deskPlaceHolders.tickets.resolution}"
                        }, {
                          "fieldLabel" : "Category",
                          "type" : "ENUM",
                          "placeHolder" : "${deskPlaceHolders.tickets.category}"
                        }, {
                          "fieldLabel" : "Sub Category",
                          "type" : "ENUM",
                          "placeHolder" : "${deskPlaceHolders.tickets.subCategory}"
                        }, {
                          "fieldLabel" : "Shared Count",
                          "type" : "NUMBER",
                          "placeHolder" : "${deskPlaceHolders.tickets.sharedCount}"
                        }, {
                          "fieldLabel" : "Ticket Id",
                          "type" : "LOOKUP",
                          "placeHolder" : "${deskPlaceHolders.tickets.ticketId}"
                        } ],
                        "module" : "tickets"
                      }, {
                        "placeHolders" : [ {
                          "fieldLabel" : "First Name",
                          "type" : "TEXT",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.firstName}"
                        }, {
                          "fieldLabel" : "Last Name",
                          "type" : "TEXT",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.lastName}"
                        }, {
                          "fieldLabel" : "Email",
                          "type" : "EMAIL",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.email}"
                        }, {
                          "fieldLabel" : "Secondary Email",
                          "type" : "EMAIL",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.secondaryEmail}"
                        }, {
                          "fieldLabel" : "Twitter",
                          "type" : "TEXT",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.twitter}"
                        }, {
                          "fieldLabel" : "Facebook",
                          "type" : "TEXT",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.facebook}"
                        }, {
                          "fieldLabel" : "Account Name",
                          "type" : "LOOKUP",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.accountId}"
                        }, {
                          "fieldLabel" : "Phone",
                          "type" : "PHONE",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.phone}"
                        }, {
                          "fieldLabel" : "Mobile",
                          "type" : "PHONE",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.mobile}"
                        }, {
                          "fieldLabel" : "Type",
                          "type" : "ENUM",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.type}"
                        }, {
                          "fieldLabel" : "Contact Owner",
                          "type" : "LOOKUP",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.ownerId}"
                        }, {
                          "fieldLabel" : "Title",
                          "type" : "TEXT",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.title}"
                        }, {
                          "fieldLabel" : "Created By",
                          "type" : "LOOKUP",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.createdBy}"
                        }, {
                          "fieldLabel" : "Modified By",
                          "type" : "LOOKUP",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.modifiedBy}"
                        }, {
                          "fieldLabel" : "Created Time",
                          "type" : "DATETIME",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.createdTime}"
                        }, {
                          "fieldLabel" : "Modified Time",
                          "type" : "DATETIME",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.modifiedTime}"
                        }, {
                          "fieldLabel" : "isPortalUser",
                          "type" : "NUMBER",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.isEndUser}"
                        }, {
                          "fieldLabel" : "Mapped With CRM",
                          "type" : "NUMBER",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.crmContactId}"
                        }, {
                          "fieldLabel" : "CRM Contact Type",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.crmContactType}"
                        }, {
                          "fieldLabel" : "Total Revenue",
                          "type" : "CURRENCY",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.potentialsRevenue}"
                        }, {
                          "fieldLabel" : "Closing Date",
                          "type" : "DATE",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.potentialsClosingDate}"
                        }, {
                          "fieldLabel" : "Customer Since",
                          "type" : "DATE",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.customerSince}"
                        }, {
                          "fieldLabel" : "Revenue Received",
                          "type" : "CURRENCY",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.revenueReceived}"
                        }, {
                          "fieldLabel" : "Street",
                          "type" : "TEXT",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.street}"
                        }, {
                          "fieldLabel" : "City",
                          "type" : "TEXT",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.city}"
                        }, {
                          "fieldLabel" : "State",
                          "type" : "TEXT",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.state}"
                        }, {
                          "fieldLabel" : "Zip",
                          "type" : "TEXT",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.zip}"
                        }, {
                          "fieldLabel" : "Country",
                          "type" : "TEXT",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.country}"
                        }, {
                          "fieldLabel" : "Description",
                          "type" : "MULTI_LINE_TEXT",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.description}"
                        }, {
                          "fieldLabel" : "Contact Id",
                          "type" : "LOOKUP",
                          "placeHolder" : "${deskPlaceHolders.tickets.contacts.contactId}"
                        } ],
                        "module" : "contacts"
                      }, {
                        "placeHolders" : [ {
                          "fieldLabel" : "First Name",
                          "type" : "TEXT",
                          "placeHolder" : "${deskPlaceHolders.tickets.assignee.firstName}"
                        }, {
                          "fieldLabel" : "Last Name",
                          "type" : "TEXT",
                          "placeHolder" : "${deskPlaceHolders.tickets.assignee.lastName}"
                        }, {
                          "fieldLabel" : "Full Name",
                          "type" : "TEXT",
                          "placeHolder" : "${deskPlaceHolders.tickets.assignee.fullName}"
                        }, {
                          "fieldLabel" : "Email",
                          "type" : "EMAIL",
                          "placeHolder" : "${deskPlaceHolders.tickets.assignee.email}"
                        } ],
                        "module" : "assignee"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "57425e99d6300ad8771c095bd597c0e3",
          "module-group" : "setup",
          "apimethod" : "com.zoho.desk.placeholders.core.PlaceHolderService.getAllPlaceHolders"
        }
      }
    },
    "/api/v1/customActionByIds" : {
      "get" : {
        "tags" : [ "CustomAction" ],
        "summary" : "Retrieve CustomAction By Ids",
        "description" : "This API gets a CustomAction By ids in your helpdesk",
        "operationId" : "readCustomActionByIds",
        "parameters" : [ {
          "name" : "customActionIds",
          "in" : "query",
          "description" : "Comma-separated array of customAction IDs. Maximum number of IDs allowed is 20.",
          "required" : true,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : false,
            "description" : "Comma-separated array of customAction IDs. Maximum number of IDs allowed is 20.",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "Comma-separated array of customAction IDs. Maximum number of IDs allowed is 20.", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "customActionArray template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "apiName", "createdBy", "createdTime", "customActionId", "customActionName", "definedBy", "extensionId", "inputFieldScriptUrl", "inputFields", "modifiedBy", "modifiedTime", "outputFieldScriptUrl", "outputFields", "postRequestScriptUrl", "preRequestScriptUrl", "secondaryTargetIds", "targetId" ],
                        "properties" : {
                          "modifiedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "inputFieldScriptUrl" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
                          },
                          "outputFieldScriptUrl" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
                          },
                          "apiName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "targetId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "postRequestScriptUrl" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*(:[0-9]{1,5})?/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
                          },
[...]
