{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "CustomerHappiness",
    "version" : "1.0.0",
    "x-clan-group" : "tickets",
    "x-module-group" : "tickets"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/customerHappiness/generateLink" : {
      "post" : {
        "tags" : [ "CustomerHappiness" ],
        "summary" : "Generate link for receiving customer feedback rating",
        "description" : "This API generates a URL using which you can get a customer feedback rating from the user.",
        "operationId" : "generateLink",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "agentId", "ticketId" ],
                "properties" : {
                  "agentId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "languageCode" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "aa", "ab", "ae", "af-ZA", "ak", "am", "an", "ar-EG", "as-IN", "av", "ay", "az-AZ", "ba", "be-BY", "bg-BG", "bh-IN", "bi", "bm", "bn-IN", "bo", "br", "bs-BA", "ca-ES", "ce", "ch", "co", "cr", "cs-CZ", "cu", "cv", "cy", "da-DK", "de-DE", "dv-MV", "dz", "ee", "el-GR", "en-US", "eo", "es-ES", "et-EE", "eu-ES", "fa-IR", "ff", "fi-FI", "fj", "fo-FO", "fr-FR", "fy", "ga", "gd", "gl-ES", "gn", "gu-IN", "gv", "ha", "he-IL", "hi-IN", "ho", "hr-HR", "ht", "hu-HU", "hy-AM", "hz", "ia", "id-ID", "ie", "ig", "ii", "ik", "io", "is-IS", "it-IT", "iu", "ja-JP", "jv", "ka-GE", "kg", "ki", "kj", "kk-KZ", "kl", "km", "kn-IN", "ko-KR", "kr", "ks", "ku", "kv", "kw", "ky-KZ", "la", "lb", "lg", "li", "ln", "lo", "lt-LT", "lu", "lv-LV", "mg", "mh", "mi-NZ", "mk-MK", "ml-IN", "mn-MN", "mr-IN", "ms-MY", "mt-MT", "my-MM", "na", "nb-NO", "nd", "ne", "ng", "nl-NL", "nn-NO", "no", "nr", "nv", "ny", "oc", "oj", "om", "or", "os", "pa-IN", "pi", "pl-PL", "ps-AR", "pt-PT", "qu-BO", "rm", "rn", "ro-RO", "ru-RU", "rw", "sa-IN", "sc", "sd", "se-NO", "sg", "si", "sk-SK", "sl-SI", "sm", "sn", "so", "sq-AL", "sr-SP", "ss", "st", "su", "sv-SE", "sw-KE", "ta-IN", "te-IN", "tg", "th-TH", "ti", "tk", "tl-PH", "tn-ZA", "to", "tr-TR", "ts", "tt-RU", "tw", "ty", "ug", "uk-UA", "ur-PK", "uz-UZ", "ve", "vi-VN", "vo", "wa", "wo", "xh-ZA", "yi", "yo", "za", "zh-CN", "zu-ZA", "fr-CA", "en-GB", "zh-TW", "pt-BR" ]
                  },
                  "ticketId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "agentId" : "5000000084581",
                    "ticketId" : "5000000084864"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "generateLinkOutput template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "link" ],
                  "properties" : {
                    "link" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "link" : "https://desk.zoho.com/support/SurveyForm?gid=edbsnf591cca16e4ead04c5b0ffb0afd22869&thd=edbsn13ea07c268a86e189307418ea7ef4922ff7a2cddce13d49063b43633ee865c83&uid=edbsn7a0b45a6a2b684b342c9c23c5613e4cf&aid=edbsn23c81c1ad2e350d127a07b83237d1eec8e57a89d07e61a52f00a1880e3305f5f&did=edbsna66cd60b037628690ed4548c0c4522620d464ccfee87d1db1aecc931c550175b&sop=1"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "959eaa7ae017b13c327131f9a6af8d28",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.CustomerRatingService.generateSurveyLink"
        }
      }
    },
    "/api/v1/customerHappiness/export" : {
      "get" : {
        "tags" : [ "CustomerHappiness" ],
        "summary" : "Export customer feedback",
        "description" : "API to export customer feedback data",
        "operationId" : "exportCHR",
        "parameters" : [ {
          "name" : "duration",
          "in" : "query",
          "description" : "Period from which the customer happiness rating must be fetched. Values allowed are: @TODAY@, @THIS_WEEK@, @LAST_WEEK@, @THIS_MONTH@, @LAST_MONTH@, @LAST_7_DAYS@, @YESTERDAY@, @LAST_1_HOUR@, @CUSTOM_IN_DATE@, @LAST_100_RATINGS@, @LAST24HOURS@ and @LAST_30_DAYS@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Period from which the customer happiness rating must be fetched. Values allowed are: @TODAY@, @THIS_WEEK@, @LAST_WEEK@, @THIS_MONTH@, @LAST_MONTH@, @LAST_7_DAYS@, @YESTERDAY@, @LAST_1_HOUR@, @CUSTOM_IN_DATE@, @LAST_100_RATINGS@, @LAST24HOURS@ and @LAST_30_DAYS@",
            "enum" : [ "TODAY", "THIS_MONTH", "THIS_WEEK", "LAST_MONTH", "LAST_WEEK", "LAST_7_DAYS", "LAST_30_DAYS", "YESTERDAY", "LAST_1_HOUR", "LAST24HOURS", "CUSTOM_IN_DATE", "LAST_100_RATINGS" ]
          }
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Allowed values are :  @contacts@, @tickets@, @agents@. You can include both by separating them with a comma in the query param.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : false,
            "description" : "Allowed values are :  @contacts@, @tickets@, @agents@. You can include both by separating them with a comma in the query param.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "contacts", "tickets", "agents" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "agentId",
          "in" : "query",
          "description" : "Filter that returns the customer-happiness list for a particular agent",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Filter that returns the customer-happiness list for a particular agent",
            "format" : "int64"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "end date time",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^(0?[1-9]|[12][0-9]|3[01])-(0?[1-9]|1[012])-([12][0-9]{3})$",
            "description" : "end date time"
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "Mandatory param to fetch the customer-happiness list for a given ID of the department. You can also provide department as @allDepartment@ to fetch customer happiness from all departments",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Mandatory param to fetch the customer-happiness list for a given ID of the department. You can also provide department as @allDepartment@ to fetch customer happiness from all departments",
            "format" : "int64"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of ratings to be displayed in the list",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "pattern" : "([0-9]+)",
            "description" : "Number of ratings to be displayed in the list",
            "format" : "int32"
          }
        }, {
          "name" : "rating",
          "in" : "query",
          "description" : "Segregate the list based on the type of rating. Allowed values are @good@, @ok@, or @bad@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Segregate the list based on the type of rating. Allowed values are @good@, @ok@, or @bad@",
            "enum" : [ "good", "bad", "ok" ]
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "The starting index from which the list should be displayed based on the time of receiving customer feedback",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "The starting index from which the list should be displayed based on the time of receiving customer feedback",
            "format" : "int32"
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "start date time",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^(0?[1-9]|[12][0-9]|3[01])-(0?[1-9]|1[012])-([12][0-9]{3})$",
            "description" : "start date time"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "File response",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "format" : "binary"
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 150,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "8947b840121b655bc964a9e2ef24d448",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.CustomerRatingService.export"
        }
      }
    },
    "/api/v1/customerHappinessLinkHolder" : {
      "get" : {
        "tags" : [ "CustomerHappiness" ],
        "summary" : "Get the customer feedback placeholder link",
        "description" : "This API provides an html placeholder to insert the customer feedback link into the reply mail. The link, when clicked by the email recipient, leads them to a feedback form where they can provide their feedback.",
        "operationId" : "GetCustomerHappinessLinkHolder",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "Mandatory param to fetch the customer-happiness list for a given ID of the department. You can also provide department as @allDepartment@ to fetch customer happiness from all departments",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Mandatory param to fetch the customer-happiness list for a given ID of the department. You can also provide department as @allDepartment@ to fetch customer happiness from all departments",
            "format" : "int64"
          }
        }, {
          "name" : "languageCode",
          "in" : "query",
          "description" : "Localization languageCode of Customer Happiness page to be displayed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Localization languageCode of Customer Happiness page to be displayed",
            "enum" : [ "aa", "ab", "ae", "af-ZA", "ak", "am", "an", "ar-EG", "as-IN", "av", "ay", "az-AZ", "ba", "be-BY", "bg-BG", "bh-IN", "bi", "bm", "bn-IN", "bo", "br", "bs-BA", "ca-ES", "ce", "ch", "co", "cr", "cs-CZ", "cu", "cv", "cy", "da-DK", "de-DE", "dv-MV", "dz", "ee", "el-GR", "en-US", "eo", "es-ES", "et-EE", "eu-ES", "fa-IR", "ff", "fi-FI", "fj", "fo-FO", "fr-FR", "fy", "ga", "gd", "gl-ES", "gn", "gu-IN", "gv", "ha", "he-IL", "hi-IN", "ho", "hr-HR", "ht", "hu-HU", "hy-AM", "hz", "ia", "id-ID", "ie", "ig", "ii", "ik", "io", "is-IS", "it-IT", "iu", "ja-JP", "jv", "ka-GE", "kg", "ki", "kj", "kk-KZ", "kl", "km", "kn-IN", "ko-KR", "kr", "ks", "ku", "kv", "kw", "ky-KZ", "la", "lb", "lg", "li", "ln", "lo", "lt-LT", "lu", "lv-LV", "mg", "mh", "mi-NZ", "mk-MK", "ml-IN", "mn-MN", "mr-IN", "ms-MY", "mt-MT", "my-MM", "na", "nb-NO", "nd", "ne", "ng", "nl-NL", "nn-NO", "no", "nr", "nv", "ny", "oc", "oj", "om", "or", "os", "pa-IN", "pi", "pl-PL", "ps-AR", "pt-PT", "qu-BO", "rm", "rn", "ro-RO", "ru-RU", "rw", "sa-IN", "sc", "sd", "se-NO", "sg", "si", "sk-SK", "sl-SI", "sm", "sn", "so", "sq-AL", "sr-SP", "ss", "st", "su", "sv-SE", "sw-KE", "ta-IN", "te-IN", "tg", "th-TH", "ti", "tk", "tl-PH", "tn-ZA", "to", "tr-TR", "ts", "tt-RU", "tw", "ty", "ug", "uk-UA", "ur-PK", "uz-UZ", "ve", "vi-VN", "vo", "wa", "wo", "xh-ZA", "yi", "yo", "za", "zh-CN", "zu-ZA", "fr-CA", "en-GB", "zh-TW", "pt-BR" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "LinkHolderResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "linkHolder" ],
                  "properties" : {
                    "linkHolder" : {
                      "maxLength" : 10000,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "linkHolder" : "<div title=\"link:::\"></div><a href=\"javascript:void(0)\">How would you rate our customer service?</a><br/><div  style=\"line-height: 16px; cursor: pointer; float: left; color:#666; margin: 15px 10px 10px 0; background: #f5f5f5; border-radius: 50px; font-size: 13px; min-width: 100px; padding: 5px 10px 5px 5px;\"><img width=\"24\" height=\"24\" align=\"left\" style=\"margin-right:5px;background: transparent\" src=\"https://static.zohocdn.com/desk/app/images/emo-g.27152b145e7c33304a9b.png\" alt=\"\" ><div style=\"float: left; margin-top: 4px;\">Good</div> </div><div  style=\"line-height: 16px; cursor: pointer; float: left; color:#666; margin: 15px 10px 10px 0; background: #f5f5f5; border-radius: 50px; font-size: 13px; min-width: 100px; padding: 5px 10px 5px 5px;\"><img width=\"24\" height=\"24\" align=\"left\" style=\"margin-right:5px;background: transparent\" src=\"https://static.zohocdn.com/desk/app/images/emo-y.2c45cbbe146a58f59ee0.png\" alt=\"\"><div style=\"float: left; margin-top: 4px;\">Okay</div> </div><div  style=\"line-height: 16px; cursor: pointer; float: left; color:#666; margin: 15px 10px 10px 0; background: #f5f5f5; border-radius: 50px; font-size: 13px; min-width: 100px; padding: 5px 10px 5px 5px;\"><img width=\"24\" height=\"24\" align=\"left\" style=\"margin-right:5px;background: transparent\" src=\"https://static.zohocdn.com/desk/app/images/emo-r.8d4f8a095a2c3e1be1ab.png\" alt=\"\"><div style=\"float: left; margin-top: 4px;\">Bad</div> </div><div style=\"clear:both\"></div><div title=\"link:::\"></div></div>"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 150,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "1707de35ef4423e8f00bc04b5e25c39b",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.CustomerRatingService.getSmileLinkHolder"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "customerHappiness" : {
        "required" : [ "badCount", "goodCount", "okCount" ],
        "properties" : {
          "badCount" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "goodCount" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "okCount" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          }
        },
        "additionalProperties" : { }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "generateLinkOutput" : {
        "description" : "generateLinkOutput template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "link" ],
              "properties" : {
                "link" : {
                  "maxLength" : 500,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "link" : "https://desk.zoho.com/support/SurveyForm?gid=edbsnf591cca16e4ead04c5b0ffb0afd22869&thd=edbsn13ea07c268a86e189307418ea7ef4922ff7a2cddce13d49063b43633ee865c83&uid=edbsn7a0b45a6a2b684b342c9c23c5613e4cf&aid=edbsn23c81c1ad2e350d127a07b83237d1eec8e57a89d07e61a52f00a1880e3305f5f&did=edbsna66cd60b037628690ed4548c0c4522620d464ccfee87d1db1aecc931c550175b&sop=1"
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "LinkHolderResponse" : {
        "description" : "LinkHolderResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "linkHolder" ],
              "properties" : {
                "linkHolder" : {
                  "maxLength" : 10000,
                  "minLength" : 0
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "linkHolder" : "<div title=\"link:::\"></div><a href=\"javascript:void(0)\">How would you rate our customer service?</a><br/><div  style=\"line-height: 16px; cursor: pointer; float: left; color:#666; margin: 15px 10px 10px 0; background: #f5f5f5; border-radius: 50px; font-size: 13px; min-width: 100px; padding: 5px 10px 5px 5px;\"><img width=\"24\" height=\"24\" align=\"left\" style=\"margin-right:5px;background: transparent\" src=\"https://static.zohocdn.com/desk/app/images/emo-g.27152b145e7c33304a9b.png\" alt=\"\" ><div style=\"float: left; margin-top: 4px;\">Good</div> </div><div  style=\"line-height: 16px; cursor: pointer; float: left; color:#666; margin: 15px 10px 10px 0; background: #f5f5f5; border-radius: 50px; font-size: 13px; min-width: 100px; padding: 5px 10px 5px 5px;\"><img width=\"24\" height=\"24\" align=\"left\" style=\"margin-right:5px;background: transparent\" src=\"https://static.zohocdn.com/desk/app/images/emo-y.2c45cbbe146a58f59ee0.png\" alt=\"\"><div style=\"float: left; margin-top: 4px;\">Okay</div> </div><div  style=\"line-height: 16px; cursor: pointer; float: left; color:#666; margin: 15px 10px 10px 0; background: #f5f5f5; border-radius: 50px; font-size: 13px; min-width: 100px; padding: 5px 10px 5px 5px;\"><img width=\"24\" height=\"24\" align=\"left\" style=\"margin-right:5px;background: transparent\" src=\"https://static.zohocdn.com/desk/app/images/emo-r.8d4f8a095a2c3e1be1ab.png\" alt=\"\"><div style=\"float: left; margin-top: 4px;\">Bad</div> </div><div style=\"clear:both\"></div><div title=\"link:::\"></div></div>"
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "OAuth Org Mismatch Error Response" : {
                "value" : {
                  "errorCode" : "OAUTH_ORG_MISMATCH",
                  "message" : "The OAuthToken is not valid for specified organization."
                }
              }
            }
          }
        }
      },
      "forbiddenErrorResponse" : {
        "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Forbidden Error Response" : {
                "value" : {
                  "errorCode" : "FORBIDDEN",
                  "message" : "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "urlNotFoundErrorResponse" : {
        "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Url Not Found Error Response" : {
                "value" : {
                  "errorCode" : "URL_NOT_FOUND",
                  "message" : "The URL you requested could not be found."
                }
              }
            }
          }
        }
      },
      "methodNotAllowedErrorResponse" : {
        "description" : "This errorCode value appears if the method in the API request is known by the server but disabled for the API requested.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Method Not Allowed Error Response" : {
                "value" : {
                  "errorCode" : "METHOD_NOT_ALLOWED",
                  "message" : "This HTTP method is not allowed on this URL."
                }
              }
            }
          }
        }
      },
      "resourceSizeExceededErrorResponse" : {
        "description" : "This errorCode value appears if the size of the resource exceeds the limit defined by the server.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Resource Size Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "RESOURCE_SIZE_EXCEEDED",
                  "message" : "Attachment size is too large. The maximum size supported is 20 MB."
                }
              }
            }
          }
        }
      },
      "unSupportedMediaTypeErrorResponse" : {
        "description" : "This errorCode value appears if the server refuses the request as a result of receiving the input in an unsupported format.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unsupported Media Type Error Response" : {
                "value" : {
                  "errorCode" : "UNSUPPORTED_MEDIA_TYPE",
                  "message" : "The given content type is not supported. Please provide the input Content-Type as application/json"
                }
              }
            }
          }
        }
      },
      "unprocessableEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The value passed for the 'from' query parameter is invalid."
                }
              }
            }
          }
        }
      },
      "missingEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not contain the mandatory parameters for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The mandatory parameter 'permission' is missing"
                }
              }
            }
          }
        }
      },
      "thresholdExceedErrorResponse" : {
        "description" : "This errorCode value appears if the user sends too many requests within a given amount of time (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Threshold Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "THRESHOLD_EXCEEDED",
                  "message" : "The maximum number of API calls that can be made per day has been exceeded."
                }
              }
            }
          }
        }
      },
      "concurrentRateLimitExceededErrorResponse" : {
        "description" : "This errorCode value appears if the user fires too many requests in a simultaneous/concurrent manner (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Concurrent Rate Limit Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "TOO_MANY_REQUESTS",
                  "message" : "The maximum number of Concurrent API Calls that can be made has been exceeded."
                }
              }
            }
          }
        }
      },
      "internalErrorResponse" : {
        "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Internal Server Error Response" : {
                "value" : {
                  "errorCode" : "INTERNAL_SERVER_ERROR",
                  "message" : "An internal server error occurred while performing this operation."
                }
              }
            }
          }
        }
      },
      "licenseErrorResponse" : {
        "description" : "This errorCode value appears if the user is unable to perform an action due to the limitations of the Zoho Desk edition in use\nThe possible values for the feature key are\n    *AGENTS*\n    *LIGHT_AGENTS*\n    *TEAM*\nThe possible values for the editionType key are\n    *FREE*\n    *PROFESSIONAL*\n    *ENTERPRISE*",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "editionType", "feature", "isTrial", "maxAllowedEntity" ],
                "properties" : {
                  "maxAllowedEntity" : {
                    "pattern" : "([0-9]+)"
                  },
                  "feature" : {
                    "enum" : [ "AGENTS", "LIGHT_AGENTS", "TEAM" ]
                  },
                  "editionType" : {
                    "enum" : [ "ENTERPRISE", "PROFESSIONAL", "STANDARD", "EXPRESS", "FREE" ]
                  },
                  "isTrial" : { }
                }
              } ]
            },
            "examples" : {
              "LicenseAccessLimited Error Response" : {
                "value" : {
                  "errorCode" : "LICENSE_ACCESS_LIMITED",
                  "maxAllowedEntity" : "10",
                  "feature" : "AGENTS",
                  "editionType" : "FREE",
                  "isTrial" : false,
                  "message" : "Your Zoho Desk Edition does not support this feature/operation."
                }
              }
            }
          }
        }
      },
      "multipleUnprocessEntityResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "anyOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "additionalProperties" : { },
                "allOf" : [ {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                }, {
                  "required" : [ "errors" ],
                  "properties" : {
                    "errors" : {
                      "items" : {
                        "required" : [ "errorMessage", "errorType", "fieldName" ],
                        "properties" : {
                          "fieldName" : { },
                          "errorType" : {
                            "enum" : [ "invalid", "duplicate", "missing" ]
                          },
                          "errorMessage" : { }
                        }
                      }
                    }
                  }
                } ]
              } ]
            }
          }
        }
      },
      "invalidDataErrorResponse" : {
        "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "errors" ],
                "properties" : {
                  "errors" : {
                    "items" : {
                      "required" : [ "errorMessage", "errorType", "fieldName" ],
                      "properties" : {
                        "fieldName" : { },
                        "errorType" : {
                          "enum" : [ "invalid", "duplicate", "missing" ]
                        },
                        "errorMessage" : { }
                      }
                    }
                  }
                }
              } ]
            },
            "examples" : {
              "Invalid Data Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_DATA",
                  "message" : "The data does not comply to the validation restrictions defined.",
                  "errors" : [ {
                    "fieldName" : "/contactId",
                    "errorType" : "invalid"
                  }, {
                    "fieldName" : "/departmentId",
                    "errorType" : "invalid"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "parameters" : {
      "departmentId" : {
        "name" : "departmentId",
        "in" : "query",
        "description" : "Mandatory param to fetch the customer-happiness list for a given ID of the department. You can also provide department as @allDepartment@ to fetch customer happiness from all departments",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "([0-9]+)",
          "description" : "Mandatory param to fetch the customer-happiness list for a given ID of the department. You can also provide department as @allDepartment@ to fetch customer happiness from all departments",
          "format" : "int64"
        }
      },
      "orgId" : {
        "name" : "orgId",
        "in" : "query",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "([0-9]+)",
          "format" : "int32",
          "x-custom-parameters-attributes" : { }
        }
      },
      "portalId" : {
        "name" : "portalId",
        "in" : "query",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "([a-zA-Z0-9\\-\\:])+",
          "format" : "int32",
          "x-custom-parameters-attributes" : {
            "decrypt" : true
          }
        }
      }
    },
    "requestBodies" : {
      "generateLinkInput" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "agentId", "ticketId" ],
              "properties" : {
                "agentId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "languageCode" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "aa", "ab", "ae", "af-ZA", "ak", "am", "an", "ar-EG", "as-IN", "av", "ay", "az-AZ", "ba", "be-BY", "bg-BG", "bh-IN", "bi", "bm", "bn-IN", "bo", "br", "bs-BA", "ca-ES", "ce", "ch", "co", "cr", "cs-CZ", "cu", "cv", "cy", "da-DK", "de-DE", "dv-MV", "dz", "ee", "el-GR", "en-US", "eo", "es-ES", "et-EE", "eu-ES", "fa-IR", "ff", "fi-FI", "fj", "fo-FO", "fr-FR", "fy", "ga", "gd", "gl-ES", "gn", "gu-IN", "gv", "ha", "he-IL", "hi-IN", "ho", "hr-HR", "ht", "hu-HU", "hy-AM", "hz", "ia", "id-ID", "ie", "ig", "ii", "ik", "io", "is-IS", "it-IT", "iu", "ja-JP", "jv", "ka-GE", "kg", "ki", "kj", "kk-KZ", "kl", "km", "kn-IN", "ko-KR", "kr", "ks", "ku", "kv", "kw", "ky-KZ", "la", "lb", "lg", "li", "ln", "lo", "lt-LT", "lu", "lv-LV", "mg", "mh", "mi-NZ", "mk-MK", "ml-IN", "mn-MN", "mr-IN", "ms-MY", "mt-MT", "my-MM", "na", "nb-NO", "nd", "ne", "ng", "nl-NL", "nn-NO", "no", "nr", "nv", "ny", "oc", "oj", "om", "or", "os", "pa-IN", "pi", "pl-PL", "ps-AR", "pt-PT", "qu-BO", "rm", "rn", "ro-RO", "ru-RU", "rw", "sa-IN", "sc", "sd", "se-NO", "sg", "si", "sk-SK", "sl-SI", "sm", "sn", "so", "sq-AL", "sr-SP", "ss", "st", "su", "sv-SE", "sw-KE", "ta-IN", "te-IN", "tg", "th-TH", "ti", "tk", "tl-PH", "tn-ZA", "to", "tr-TR", "ts", "tt-RU", "tw", "ty", "ug", "uk-UA", "ur-PK", "uz-UZ", "ve", "vi-VN", "vo", "wa", "wo", "xh-ZA", "yi", "yo", "za", "zh-CN", "zu-ZA", "fr-CA", "en-GB", "zh-TW", "pt-BR" ]
                },
                "ticketId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "additionalProperties" : false
            },
            "examples" : {
              "Valid requestBody Definitions" : {
                "value" : {
                  "agentId" : "5000000084581",
                  "ticketId" : "5000000084864"
                }
              }
            }
          }
        },
        "x-custom-request-body-attributes" : {
          "non-empty" : false,
          "allow-invalid" : false
        }
      }
    },
    "securitySchemes" : {
      "cookie-auth" : {
        "type" : "apiKey",
        "name" : "X-CSRF-TOKEN",
        "in" : "cookie"
      },
      "org-oauth" : {
        "type" : "oauth2",
        "description" : "Org OAuth description",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "/oauth/v2/org/auth",
            "tokenUrl" : "/oauth/v2/token",
            "scopes" : {
              "Desk.accessAll.ALL" : "All Operations on data generated by Zoho Desk"
            }
          }
        }
      },
      "iam-oauth2-schema" : {
        "type" : "oauth2",
        "description" : "Oauth description",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "/oauth/v2/auth",
            "tokenUrl" : "/oauth/v2/token",
            "scopes" : {
              "Desk.zia.create" : "CREATE Operations on data generated by ZIA",
              "Desk.zia.update" : "UPDATE Operations on data generated by ZIA",
              "Desk.zia.read" : "READ Operations on data generated by ZIA",
              "Desk.zia.delete" : "DELETE Operations on data generated by ZIA",
              "Desk.calls.create" : "CREATE operations on calls module",
              "Desk.calls.update" : "UPDATE operations on calls module",
              "Desk.calls.read" : "READ operations on calls module",
              "Desk.calls.delete" : "DELETE operations on calls module",
              "Desk.extensions.create" : "To create stored data, extension logs, and configuration params",
              "Desk.extensions.read" : "To read stored data, extension logs, and configuration params",
              "Desk.extensions.update" : "To update stored data, extension logs, and configuration params",
              "Desk.extensions.delete" : "To delete stored data, extension logs, and configuration params",
              "Desk.search.read" : "READ Search across data in your desk account.",
              "Desk.events.create" : "CREATE Desk events",
              "Desk.events.update" : "UPDATE Desk events",
              "Desk.events.read" : "READ Desk events",
              "Desk.events.delete" : "DELETE Desk events",
              "Desk.articles.create" : "CREATE Articles and its sub resources",
              "Desk.articles.update" : "UPDATE Articles and its sub resources",
              "Desk.articles.read" : "READ Articles and its sub resources",
              "Desk.articles.delete" : "DELETE Articles and its sub resources",
              "Desk.basic.create" : "CREATE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.update" : "UPDATE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.read" : "READ Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.delete" : "DELETE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.tasks.create" : "CREATE Tasks and its sub resources",
              "Desk.tasks.read" : "READ Tasks and its sub resources",
              "Desk.tasks.update" : "UPDATE Tasks and its sub resources",
              "Desk.tasks.delete" : "DELETE Tasks and its sub resources",
              "Desk.settings.create" : "CREATE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.update" : "UPDATE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.read" : "READ All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.delete" : "DELETE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.contacts.create" : "CREATE Contacts and its sub resources",
              "Desk.contacts.update" : "UPDATE Contacts and its sub resources",
              "Desk.contacts.read" : "READ Contacts and its sub resources",
              "Desk.contacts.delete" : "DELETE Contacts and its sub resources",
              "Desk.feeds.create" : "CREATE Feeds resource",
              "Desk.feeds.update" : "UPDATE Feeds resource",
              "Desk.feeds.read" : "READ Feeds resource",
              "Desk.feeds.delete" : "DELETE Feeds resource",
              "Desk.tickets.create" : "CREATE Tickets and its sub resources",
              "Desk.tickets.update" : "UPDATE Tickets and its sub resources",
              "Desk.tickets.read" : "READ Tickets and its sub resources",
              "Desk.tickets.delete" : "DELETE Tickets and its sub resources",
              "Desk.phonebridge.read" : "READ phonebridge",
              "Desk.phonebridge.create" : "CREATE phonebridge",
              "Desk.community.create" : "CREATE Operations on community topics, comments and categories",
              "Desk.community.update" : "UPDATE Operations on community topics, comments and categories",
              "Desk.community.read" : "READ Operations on community topics, comments and categories",
              "Desk.community.delete" : "DELETE Operations on community topics, comments and categories",
              "Desk.imports" : "CUSTOM Grants access to import data into Zoho Desk modules",
              "Desk.exports" : "CUSTOM Scope for Zoho Desk Export API's for ZohoDesk Modules",
              "Desk.products.create" : "CREATE Allow operations on products",
              "Desk.products.update" : "UPDATE Allow operations on products",
              "Desk.products.read" : "READ Allow operations on products",
              "Desk.products.delete" : "DELETE Allow operations on products",
              "Desk.settings.extension.create" : "CREATE Allow access to all extension related data",
              "Desk.settings.extension.update" : "UPDATE Allow access to all extension related data",
              "Desk.settings.extension.read" : "READ Allow access to all extension related data",
              "Desk.settings.extension.delete" : "DELETE Allow access to all extension related data",
              "Desk.activities.create" : "CREATE To manage activities such as tasks, calls, events and its sub resources",
              "Desk.activities.read" : "READ To manage activities such as tasks, calls, events and its sub resources",
              "Desk.activities.update" : "UPDATE To manage activities such as tasks, calls, events and its sub resources",
              "Desk.activities.delete" : "DELETE To manage activities such as tasks, calls, events and its sub resources",
              "Desk.deskOembed.read" : "null",
              "Desk.integrations.create" : "Grants access to create integration related data",
              "Desk.integrations.update" : "Grants access to update integration related data",
              "Desk.integrations.read" : "Grants access to read integration related data",
              "Desk.integrations.delete" : "Grants access to delete integration related data"
            }
          }
        }
      },
      "jwt-oauth" : {
        "type" : "oauth2",
        "description" : "Org OAuth description",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "/oauth/v2/org/auth",
            "tokenUrl" : "/oauth/v2/token",
            "scopes" : {
              "Desk.accessAll.ALL" : "All Operations on data generated by Zoho Desk"
            }
          }
        }
      }
    }
  },
  "x-entity" : "CustomerHappiness"
}