{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "CustomTheme",
    "version" : "1.0.0",
    "x-clan-group" : "helpCenter",
    "x-module-group" : "helpCenter"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/customThemes/{id}" : {
      "get" : {
        "tags" : [ "CustomTheme" ],
        "summary" : "Get Custom theme",
        "description" : "To get a custom theme",
        "operationId" : "getCustomTheme",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getCustomThemeJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "color", "css", "customThemeId", "font", "footerHtml", "headerHtml", "isEnabled" ],
                  "properties" : {
                    "footerHtml" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "headerHtml" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "css" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "customThemeId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "color" : {
                      "maxProperties" : 8,
                      "minProperties" : 8,
                      "required" : [ "body", "breadCrumb", "buttons", "footer", "header", "link", "menuBar", "tab" ],
                      "properties" : {
                        "menuBar" : {
                          "maxProperties" : 7,
                          "minProperties" : 7,
                          "required" : [ "border", "hoverMenu", "hoverMenuText", "normalMenu", "normalMenuText", "selectedMenu", "selectedMenuText" ],
                          "properties" : {
                            "border" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : { }
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "normalMenu" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "selectedMenu" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "hoverMenuText" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "selectedMenuText" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "hoverMenu" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "normalMenuText" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            }
                          },
                          "additionalProperties" : { }
                        },
                        "buttons" : {
                          "maxProperties" : 4,
                          "minProperties" : 4,
                          "required" : [ "primary", "primaryText", "secondary", "secondaryText" ],
                          "properties" : {
                            "secondary" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "primaryText" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "primarySelectedText" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "primary" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "secondaryText" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            }
                          },
                          "additionalProperties" : { }
                        },
                        "tab" : {
                          "maxProperties" : 2,
                          "minProperties" : 2,
                          "required" : [ "background", "opacity" ],
                          "properties" : {
                            "background" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "opacity" : {
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : { }
                        },
                        "footer" : {
                          "maxProperties" : 4,
                          "minProperties" : 4,
                          "required" : [ "background", "link", "linkHover", "text" ],
                          "properties" : {
                            "background" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "link" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "text" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "linkHover" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            }
                          },
                          "additionalProperties" : { }
                        },
                        "breadCrumb" : {
                          "maxProperties" : 3,
                          "minProperties" : 3,
                          "required" : [ "background", "hoverText", "text" ],
                          "properties" : {
                            "background" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "text" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "hoverText" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            }
                          },
                          "additionalProperties" : { }
                        },
                        "link" : {
                          "maxProperties" : 8,
                          "minProperties" : 8,
                          "required" : [ "hoverText", "normalText", "primaryHoverText", "primarySelectedText", "primaryText", "secondaryHoverText", "secondaryText", "selectedText" ],
                          "properties" : {
                            "secondaryText" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "normalText" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "selectedText" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "primaryHoverText" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "hoverText" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "primaryText" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "primarySelectedText" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "secondaryHoverText" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            }
                          },
                          "additionalProperties" : { }
                        },
                        "header" : {
                          "maxProperties" : 6,
                          "minProperties" : 6,
                          "required" : [ "background", "backgroundEnd", "backgroundImage", "backgroundStart", "text", "textHover" ],
                          "properties" : {
                            "background" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "color", "enabled", "endColor", "image", "startColor" ],
                              "properties" : {
                                "image" : {
                                  "maxProperties" : 4,
                                  "minProperties" : 4,
                                  "required" : [ "fileName", "id", "imageDataURI", "imageURL" ],
                                  "properties" : {
                                    "fileName" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "imageDataURI" : {
                                      "description" : "Base64-encoded image data URI",
                                      "format" : "uri"
                                    },
                                    "imageURL" : {
                                      "description" : "Direct URL to the image resource",
                                      "format" : "uri"
                                    }
                                  },
                                  "additionalProperties" : { }
                                },
                                "color" : {
                                  "maxProperties" : 2,
                                  "minProperties" : 2,
                                  "required" : [ "hex", "opacity" ],
                                  "properties" : {
                                    "hex" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                    },
                                    "opacity" : {
                                      "additionalProperties" : false
                                    }
                                  },
                                  "additionalProperties" : { }
                                },
                                "endColor" : {
                                  "maxProperties" : 2,
                                  "minProperties" : 2,
                                  "required" : [ "hex", "opacity" ],
                                  "properties" : {
                                    "hex" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                    },
                                    "opacity" : {
                                      "additionalProperties" : false
                                    }
                                  },
                                  "additionalProperties" : { }
                                },
                                "enabled" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                                  }
                                },
                                "startColor" : {
                                  "maxProperties" : 2,
                                  "minProperties" : 2,
                                  "required" : [ "hex", "opacity" ],
                                  "properties" : {
                                    "hex" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                    },
                                    "opacity" : {
                                      "additionalProperties" : false
                                    }
                                  },
                                  "additionalProperties" : { }
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "backgroundImage" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "text" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "backgroundEnd" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "textHover" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "backgroundStart" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            }
                          },
                          "additionalProperties" : { }
                        },
                        "body" : {
                          "maxProperties" : 2,
                          "minProperties" : 2,
                          "required" : [ "background", "middleContainer" ],
                          "properties" : {
                            "middleContainer" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "background" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            }
                          },
                          "additionalProperties" : { }
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "isEnabled" : { },
                    "font" : {
                      "required" : [ "font", "fontUrl" ],
                      "properties" : {
                        "fontUrl" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]",
                          "description" : "URL to the font resource (e.g., Google Fonts or custom font URL)"
                        },
                        "font" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[a-zA-z\\s]+",
                          "description" : "Font family used for the theme (e.g., Arial, Roboto, etc.)"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "customScript" : {
                      "required" : [ "inlineScript", "jsFunctions" ],
                      "properties" : {
                        "jsFunctions" : {
                          "maxLength" : 4500,
                          "description" : "Custom script JS functions"
                        },
                        "inlineScript" : {
                          "maxLength" : 500,
                          "description" : "Custom script inline embeds"
                        }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "footerHtml" : null,
                      "headerHtml" : null,
                      "css" : null,
                      "defaultThemeId" : "4000000000177",
                      "color" : {
                        "menuBar" : {
                          "border" : {
                            "hex" : "#e46317"
                          },
                          "normalMenu" : {
                            "hex" : "#ffffff"
                          },
                          "selectedMenu" : {
                            "hex" : "#e46317"
                          },
                          "hoverMenu" : {
                            "hex" : "#e46317"
                          }
                        },
                        "buttons" : {
                          "secondary" : {
                            "hex" : "#f9f9f9"
                          },
                          "primaryText" : {
                            "hex" : "#ffffff"
                          },
                          "primary" : {
                            "hex" : "#e46317"
                          },
                          "secondaryText" : {
                            "hex" : "#333333"
                          }
                        },
                        "tab" : {
                          "background" : {
                            "hex" : "#000000"
                          },
                          "opacity" : 0.45
                        },
                        "footer" : {
                          "background" : {
                            "hex" : "#252525"
                          },
                          "link" : {
                            "hex" : "#ffffff"
                          },
                          "text" : {
                            "hex" : "#ffffff"
                          },
                          "linkHover" : {
                            "hex" : "#ffffff"
                          }
                        },
                        "breadCrumb" : {
                          "background" : {
                            "hex" : "#f8f8f8"
                          },
                          "text" : {
                            "hex" : "#333333"
                          },
                          "hoverText" : {
                            "hex" : "#e46317"
                          }
                        },
                        "link" : {
                          "normalText" : {
                            "hex" : "#000000"
                          },
                          "hoverText" : {
                            "hex" : "#e46317"
                          }
                        },
                        "header" : {
                          "background" : {
                            "image" : {
                              "fileName" : "deskTheme1.jpg",
                              "id" : "344782000000003000"
                            },
                            "color" : {
                              "hex" : "#ffffff"
                            },
                            "enabled" : [ "image" ]
                          },
                          "text" : {
                            "hex" : "#ffffff"
                          }
                        },
                        "body" : {
                          "background" : {
                            "hex" : "#f9d1d1"
                          }
                        }
                      },
                      "isEnabled" : true,
                      "helpCenterId" : "687686876868",
                      "font" : {
                        "fontUrl" : "",
                        "font" : "Default"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 10,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "cc6a5983a6fa94048b2468484ea68873",
          "module-group" : "helpCenter",
          "apimethod" : "com.zoho.desk.helpcenter.setup.customization.SupportThemeService.getCustomTheme"
        }
      },
      "patch" : {
        "tags" : [ "CustomTheme" ],
        "summary" : "Update Custom theme",
        "description" : "To update custom theme",
        "operationId" : "publishCustomTheme",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "footerHtml" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Custom HTML for the theme footer",
                    "x-custom-parameters-attributes" : {
                      "xss" : "antisamyfilter_withcomments"
                    }
                  },
                  "headerHtml" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Custom HTML for the theme header",
                    "x-custom-parameters-attributes" : {
                      "xss" : "antisamyfilter_withcomments"
                    }
                  },
                  "css" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Custom CSS code for theme styling"
                  },
                  "color" : {
                    "maxProperties" : 8,
                    "minProperties" : 8,
                    "required" : [ "body", "breadCrumb", "buttons", "footer", "header", "link", "menuBar", "tab" ],
                    "properties" : {
                      "menuBar" : {
                        "maxProperties" : 7,
                        "minProperties" : 7,
                        "required" : [ "border", "hoverMenu", "hoverMenuText", "normalMenu", "normalMenuText", "selectedMenu", "selectedMenuText" ],
                        "properties" : {
                          "border" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "normalMenu" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "selectedMenu" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "hoverMenuText" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "selectedMenuText" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "hoverMenu" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "normalMenuText" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "buttons" : {
                        "maxProperties" : 4,
                        "minProperties" : 4,
                        "required" : [ "primary", "primaryText", "secondary", "secondaryText" ],
                        "properties" : {
                          "secondary" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "primaryText" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "primary" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "secondaryText" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "tab" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "background", "opacity" ],
                        "properties" : {
                          "background" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "opacity" : {
                            "description" : "theme opacity",
                            "format" : "float"
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "footer" : {
                        "maxProperties" : 4,
                        "minProperties" : 4,
                        "required" : [ "background", "link", "linkHover", "text" ],
                        "properties" : {
                          "background" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "link" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "text" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "linkHover" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "breadCrumb" : {
                        "maxProperties" : 3,
                        "minProperties" : 3,
                        "required" : [ "background", "hoverText", "text" ],
                        "properties" : {
                          "background" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "text" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "hoverText" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "link" : {
                        "maxProperties" : 7,
                        "minProperties" : 7,
                        "required" : [ "hoverText", "normalText", "primaryHoverText", "primarySelectedText", "primaryText", "secondaryHoverText", "secondaryText", "selectedText" ],
                        "properties" : {
                          "secondaryText" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "normalText" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "selectedText" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "primaryHoverText" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "hoverText" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "primaryText" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "secondaryHoverText" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "header" : {
                        "maxProperties" : 6,
                        "minProperties" : 6,
                        "required" : [ "background", "backgroundEnd", "backgroundImage", "backgroundStart", "text", "textHover" ],
                        "properties" : {
                          "background" : {
                            "maxProperties" : 5,
                            "minProperties" : 5,
                            "required" : [ "color", "enabled", "endColor", "image", "startColor" ],
                            "properties" : {
                              "image" : {
                                "maxProperties" : 2,
                                "minProperties" : 2,
                                "required" : [ "fileName", "id" ],
                                "properties" : {
                                  "fileName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "description" : "Theme Background Image id in zfs",
                                    "format" : "int64"
                                  }
                                },
                                "additionalProperties" : { }
                              },
                              "color" : {
                                "maxProperties" : 2,
                                "minProperties" : 2,
                                "required" : [ "hex", "opacity" ],
                                "properties" : {
                                  "hex" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                    "description" : "color hex"
                                  },
                                  "opacity" : {
                                    "description" : "color opacity",
                                    "format" : "float"
                                  }
                                },
                                "additionalProperties" : { }
                              },
                              "endColor" : {
                                "maxProperties" : 2,
                                "minProperties" : 2,
                                "required" : [ "hex", "opacity" ],
                                "properties" : {
                                  "hex" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                    "description" : "color hex"
                                  },
                                  "opacity" : {
                                    "description" : "color opacity",
                                    "format" : "float"
                                  }
                                },
                                "additionalProperties" : { }
                              },
                              "enabled" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                                }
                              },
                              "startColor" : {
                                "maxProperties" : 2,
                                "minProperties" : 2,
                                "required" : [ "hex", "opacity" ],
                                "properties" : {
                                  "hex" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                    "description" : "color hex"
                                  },
                                  "opacity" : {
                                    "description" : "color opacity",
                                    "format" : "float"
                                  }
                                },
                                "additionalProperties" : { }
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "backgroundImage" : {
                            "pattern" : "([0-9]+)",
                            "description" : "to be deleted old background image specification for themes",
                            "format" : "int64"
                          },
                          "text" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "backgroundEnd" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "textHover" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "backgroundStart" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "body" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "background", "middleContainer" ],
                        "properties" : {
                          "middleContainer" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "background" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "hex", "opacity" ],
                            "properties" : {
                              "hex" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                "description" : "color hex"
                              },
                              "opacity" : {
                                "description" : "color opacity",
                                "format" : "float"
                              }
                            },
                            "additionalProperties" : { }
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "font" : {
                    "required" : [ "font", "fontUrl" ],
                    "properties" : {
                      "fontUrl" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]",
                        "description" : "URL to the font resource (e.g., Google Fonts or custom font URL)"
                      },
                      "font" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "[a-zA-z\\s]+",
                        "description" : "Font family used for the theme (e.g., Arial, Roboto, etc.)"
                      }
                    },
                    "additionalProperties" : false
                  },
                  "customScript" : {
                    "required" : [ "inlineScript", "jsFunctions" ],
                    "properties" : {
                      "jsFunctions" : {
                        "maxLength" : 4500,
                        "description" : "Custom script JS functions"
                      },
                      "inlineScript" : {
                        "maxLength" : 500,
                        "description" : "Custom script inline embeds"
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "footerHtml" : "<div>Footer Text</div>",
                    "headerHtml" : null,
                    "css" : null,
                    "color" : {
                      "menuBar" : {
                        "border" : {
                          "hex" : "#e46317"
                        },
                        "normalMenu" : {
                          "hex" : "#ffffff"
                        },
                        "selectedMenu" : {
                          "hex" : "#e46317"
                        },
                        "hoverMenu" : {
                          "hex" : "#e46317"
                        }
                      },
                      "buttons" : {
                        "secondary" : {
                          "hex" : "#f9f9f9"
                        },
                        "primaryText" : {
                          "hex" : "#ffffff"
                        },
                        "primary" : {
                          "hex" : "#e46317"
                        },
                        "secondaryText" : {
                          "hex" : "#333333"
                        }
                      },
                      "tab" : {
                        "background" : {
                          "hex" : "#000000"
                        },
                        "opacity" : 0.45
                      },
                      "footer" : {
                        "background" : {
                          "hex" : "#252525"
                        },
                        "link" : {
                          "hex" : "#ffffff"
                        },
                        "text" : {
                          "hex" : "#ffffff"
                        },
                        "linkHover" : {
                          "hex" : "#ffffff"
                        }
                      },
                      "breadCrumb" : {
                        "background" : {
                          "hex" : "#f8f8f8"
                        },
                        "text" : {
                          "hex" : "#333333"
                        },
                        "hoverText" : {
                          "hex" : "#e46317"
                        }
                      },
                      "link" : {
                        "normalText" : {
                          "hex" : "#000000"
                        },
                        "hoverText" : {
                          "hex" : "#e46317"
                        }
                      },
                      "header" : {
                        "background" : {
                          "image" : {
                            "fileName" : "deskTheme1.jpg",
                            "id" : "344782000000003000"
                          },
                          "color" : {
                            "hex" : "#ffffff"
                          },
                          "enabled" : [ "image" ]
                        },
                        "text" : {
                          "hex" : "#ffffff"
                        }
                      },
                      "body" : {
                        "background" : {
                          "hex" : "#f9d1d1"
                        }
                      }
                    },
                    "tabs" : [ {
                      "isDefault" : false,
                      "displayName" : "HelpCenter",
                      "id" : "4000000015031",
                      "isVisible" : false
                    }, {
                      "isDefault" : true,
                      "displayName" : "My Home",
                      "id" : "4000000015029",
                      "isVisible" : true
                    }, {
                      "isDefault" : false,
                      "displayName" : "MyRequests",
                      "id" : "4000000015035",
                      "isVisible" : true
                    }, {
                      "isDefault" : false,
                      "displayName" : "Community",
                      "id" : "4000000015033",
                      "isVisible" : true
                    } ],
                    "widgets" : [ {
                      "view" : "RIGHT",
                      "section" : "1",
                      "id" : "4000000013092",
                      "page" : "COMMUNITY_HOMEPAGE",
                      "order" : "1"
                    }, {
                      "view" : "RIGHT",
                      "section" : "1",
                      "id" : "4000000013092",
                      "page" : "COMMUNITY_LISTPAGE",
                      "order" : "1"
                    }, {
                      "view" : "LEFT",
                      "section" : "2",
                      "id" : "4000000013098",
                      "page" : "HOMEPAGE",
                      "order" : "1"
                    } ],
                    "font" : {
                      "fontUrl" : "",
                      "font" : "Default"
                    }
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "publishCustomThemeJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "color", "css", "customThemeId", "defaultThemeId", "font", "footerHtml", "headerHtml", "helpCenterId", "isEnabled", "tabs", "widgets" ],
                  "properties" : {
                    "footerHtml" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Footer html for theme customization",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "xss" : "antisamyfilter_withcomments",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "headerHtml" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Header html for theme customization",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "xss" : "antisamyfilter_withcomments",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "css" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "css for theme customization",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "customThemeId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "defaultThemeId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "color" : {
                      "maxProperties" : 8,
                      "minProperties" : 8,
                      "required" : [ "body", "breadCrumb", "buttons", "footer", "header", "link", "menuBar", "tab" ],
                      "properties" : {
                        "menuBar" : {
                          "maxProperties" : 7,
                          "minProperties" : 7,
                          "required" : [ "border", "hoverMenu", "hoverMenuText", "normalMenu", "normalMenuText", "selectedMenu", "selectedMenuText" ],
                          "properties" : {
                            "border" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "normalMenu" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "selectedMenu" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "hoverMenuText" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "selectedMenuText" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "hoverMenu" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "normalMenuText" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            }
                          },
                          "additionalProperties" : { }
                        },
                        "buttons" : {
                          "maxProperties" : 4,
                          "minProperties" : 4,
                          "required" : [ "primary", "primaryText", "secondary", "secondaryText" ],
                          "properties" : {
                            "secondary" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$"
                                },
                                "opacity" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "primaryText" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "hex", "opacity" ],
                              "properties" : {
                                "hex" : {
[...]
