{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "CustomFunctions",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "automation"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/customFunctions/argumentFields" : {
      "get" : {
        "tags" : [ "CustomFunctions" ],
        "summary" : "List all argument fields for module in custom functions",
        "description" : "This API lists all argument fields for module in custom functions",
        "operationId" : "getArgumentFields",
        "parameters" : [ {
          "name" : "module",
          "in" : "query",
          "description" : "Module for which the fields have to be considered for arguments. Values allowed are @tickets@, @contacts@, @accounts@, @tasks@, @timeEntry@, @products@, @calls@, @events@, @CustomModule@",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Module for which the fields have to be considered for arguments. Values allowed are @tickets@, @contacts@, @accounts@, @tasks@, @timeEntry@, @products@, @calls@, @events@, @CustomModule@",
            "enum" : [ "accounts", "contacts", "tickets", "products", "timeEntry", "tasks", "calls", "events" ]
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "department from which arguments fields to be listed",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "department from which arguments fields to be listed",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getArgumentFieldsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "fields", "module", "name" ],
                        "properties" : {
                          "module" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "accounts", "contacts", "tasks", "tickets", "products", "timeEntry", "calls", "events", "user", "organization" ],
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Module for which the fields have to be considered for arguments. Values allowed are @tickets@, @contacts@, @accounts@, @tasks@, @timeEntry@, @products@, @calls@, @events@, @CustomModule@",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "fields" : {
                            "items" : {
                              "required" : [ "apiName", "displayLabel", "type", "value" ],
                              "properties" : {
                                "displayLabel" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "apiName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "string", "bool", "int", "date", "float" ]
                                },
                                "value" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            }
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "module" : "tickets",
                        "name" : "Ticket Sections",
                        "fields" : [ {
                          "displayLabel" : "Ticket Id",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "Cases:recordid"
                        }, {
                          "displayLabel" : "Ticket Layout Name",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "Cases:Layout Name"
                        }, {
                          "displayLabel" : "Layout",
                          "apiName" : "layoutId",
                          "type" : "int",
                          "value" : "6000000000921"
                        }, {
                          "displayLabel" : "Contact Name",
                          "apiName" : "contactId",
                          "type" : "string",
                          "value" : "6000000000925"
                        }, {
                          "displayLabel" : "Email",
                          "apiName" : "email",
                          "type" : "string",
                          "value" : "6000000000927"
                        }, {
                          "displayLabel" : "Phone",
                          "apiName" : "phone",
                          "type" : "string",
                          "value" : "6000000000929"
                        }, {
                          "displayLabel" : "Subject",
                          "apiName" : "subject",
                          "type" : "string",
                          "value" : "6000000000931"
                        }, {
                          "displayLabel" : "Description",
                          "apiName" : "description",
                          "type" : "string",
                          "value" : "6000000000933"
                        }, {
                          "displayLabel" : "Status",
                          "apiName" : "status",
                          "type" : "string",
                          "value" : "6000000000935"
                        }, {
                          "displayLabel" : "Product Name",
                          "apiName" : "productId",
                          "type" : "string",
                          "value" : "6000000000937"
                        }, {
                          "displayLabel" : "Ticket Owner",
                          "apiName" : "assigneeId",
                          "type" : "string",
                          "value" : "6000000000939"
                        }, {
                          "displayLabel" : "Created By",
                          "apiName" : "createdBy",
                          "type" : "string",
                          "value" : "6000000000941"
                        }, {
                          "displayLabel" : "Modified By",
                          "apiName" : "modifiedBy",
                          "type" : "string",
                          "value" : "6000000000943"
                        }, {
                          "displayLabel" : "Created Time",
                          "apiName" : "createdTime",
                          "type" : "date",
                          "value" : "6000000000945"
                        }, {
                          "displayLabel" : "Ticket On Hold Time",
                          "apiName" : "onholdTime",
                          "type" : "date",
                          "value" : "6000000000947"
                        }, {
                          "displayLabel" : "Ticket Closed Time",
                          "apiName" : "closedTime",
                          "type" : "date",
                          "value" : "6000000000949"
                        }, {
                          "displayLabel" : "Modified Time",
                          "apiName" : "modifiedTime",
                          "type" : "date",
                          "value" : "6000000000951"
                        }, {
                          "displayLabel" : "Ticket Number",
                          "apiName" : "ticketNumber",
                          "type" : "string",
                          "value" : "6000000000957"
                        }, {
                          "displayLabel" : "isSpam",
                          "apiName" : "isSpam",
                          "type" : "bool",
                          "value" : "6000000000959"
                        }, {
                          "displayLabel" : "Happiness Rating",
                          "apiName" : "happinessRating",
                          "type" : "int",
                          "value" : "6000000000975"
                        }, {
                          "displayLabel" : "Team",
                          "apiName" : "teamId",
                          "type" : "string",
                          "value" : "6000000000979"
                        }, {
                          "displayLabel" : "Due Date",
                          "apiName" : "dueDate",
                          "type" : "date",
                          "value" : "6000000002005"
                        }, {
                          "displayLabel" : "Priority",
                          "apiName" : "priority",
                          "type" : "string",
                          "value" : "6000000002009"
                        }, {
                          "displayLabel" : "Channel",
                          "apiName" : "channel",
                          "type" : "string",
                          "value" : "6000000002011"
                        }, {
                          "displayLabel" : "Is Overdue",
                          "apiName" : "isOverdue",
                          "type" : "bool",
                          "value" : "6000000002013"
                        }, {
                          "displayLabel" : "Is Escalated",
                          "apiName" : "isEscalated",
                          "type" : "bool",
                          "value" : "6000000002015"
                        }, {
                          "displayLabel" : "Classifications",
                          "apiName" : "classification",
                          "type" : "string",
                          "value" : "6000000002017"
                        }, {
                          "displayLabel" : "Resolution",
                          "apiName" : "resolution",
                          "type" : "string",
                          "value" : "6000000002019"
                        }, {
                          "displayLabel" : "Category",
                          "apiName" : "category",
                          "type" : "string",
                          "value" : "6000000002025"
                        }, {
                          "displayLabel" : "Language",
                          "apiName" : "language",
                          "type" : "string",
                          "value" : "6000000002027"
                        }, {
                          "displayLabel" : "Percent 1",
                          "apiName" : "cf_percent_1",
                          "type" : "float",
                          "value" : "6000000068264"
                        } ]
                      }, {
                        "module" : "contacts",
                        "name" : "Contact Sections",
                        "fields" : [ {
                          "displayLabel" : "Contact Id",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "Contacts:recordid"
                        }, {
                          "displayLabel" : "Contact Layout Name",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "Contacts:Layout Name"
                        }, {
                          "displayLabel" : "Layout",
                          "apiName" : "layoutId",
                          "type" : "int",
                          "value" : "6000000000789"
                        }, {
                          "displayLabel" : "First Name",
                          "apiName" : "firstName",
                          "type" : "string",
                          "value" : "6000000000791"
                        }, {
                          "displayLabel" : "Last Name",
                          "apiName" : "lastName",
                          "type" : "string",
                          "value" : "6000000000793"
                        }, {
                          "displayLabel" : "Email",
                          "apiName" : "email",
                          "type" : "string",
                          "value" : "6000000000795"
                        }, {
                          "displayLabel" : "Secondary Email",
                          "apiName" : "secondaryEmail",
                          "type" : "string",
                          "value" : "6000000000797"
                        }, {
                          "displayLabel" : "Twitter",
                          "apiName" : "twitter",
                          "type" : "string",
                          "value" : "6000000000799"
                        }, {
                          "displayLabel" : "Facebook",
                          "apiName" : "facebook",
                          "type" : "string",
                          "value" : "6000000000801"
                        }, {
                          "displayLabel" : "Account Name",
                          "apiName" : "accountId",
                          "type" : "string",
                          "value" : "6000000000803"
                        }, {
                          "displayLabel" : "Phone",
                          "apiName" : "phone",
                          "type" : "string",
                          "value" : "6000000000805"
                        }, {
                          "displayLabel" : "Mobile",
                          "apiName" : "mobile",
                          "type" : "string",
                          "value" : "6000000000807"
                        }, {
                          "displayLabel" : "Type",
                          "apiName" : "type",
                          "type" : "string",
                          "value" : "6000000000809"
                        }, {
                          "displayLabel" : "Contact Owner",
                          "apiName" : "ownerId",
                          "type" : "string",
                          "value" : "6000000000811"
                        }, {
                          "displayLabel" : "Title",
                          "apiName" : "title",
                          "type" : "string",
                          "value" : "6000000000813"
                        }, {
                          "displayLabel" : "Created By",
                          "apiName" : "createdBy",
                          "type" : "string",
                          "value" : "6000000000815"
                        }, {
                          "displayLabel" : "Modified By",
                          "apiName" : "modifiedBy",
                          "type" : "string",
                          "value" : "6000000000817"
                        }, {
                          "displayLabel" : "Created Time",
                          "apiName" : "createdTime",
                          "type" : "date",
                          "value" : "6000000000819"
                        }, {
                          "displayLabel" : "Modified Time",
                          "apiName" : "modifiedTime",
                          "type" : "date",
                          "value" : "6000000000821"
                        }, {
                          "displayLabel" : "isPortalUser",
                          "apiName" : "isEndUser",
                          "type" : "bool",
                          "value" : "6000000000831"
                        }, {
                          "displayLabel" : "CRM Contact Type",
                          "apiName" : "crmContactType",
                          "type" : "string",
                          "value" : "6000000000835"
                        }, {
                          "displayLabel" : "Total Revenue To Get",
                          "apiName" : "potentialsRevenue",
                          "type" : "float",
                          "value" : "6000000000837"
                        }, {
                          "displayLabel" : "Closing Date",
                          "apiName" : "potentialsClosingDate",
                          "type" : "date",
                          "value" : "6000000000839"
                        }, {
                          "displayLabel" : "Customer Since",
                          "apiName" : "customerSince",
                          "type" : "date",
                          "value" : "6000000000841"
                        }, {
                          "displayLabel" : "Total Revenue Received",
                          "apiName" : "revenueReceived",
                          "type" : "float",
                          "value" : "6000000000843"
                        } ]
                      }, {
                        "module" : "accounts",
                        "name" : "Account Sections",
                        "fields" : [ {
                          "displayLabel" : "Account Id",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "Accounts:recordid"
                        }, {
                          "displayLabel" : "Account Layout Name",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "Accounts:Layout Name"
                        }, {
                          "displayLabel" : "Layout",
                          "apiName" : "layoutId",
                          "type" : "int",
                          "value" : "6000000000737"
                        }, {
                          "displayLabel" : "Account Name",
                          "apiName" : "accountName",
                          "type" : "string",
                          "value" : "6000000000739"
                        }, {
                          "displayLabel" : "Phone",
                          "apiName" : "phone",
                          "type" : "string",
                          "value" : "6000000000741"
                        }, {
                          "displayLabel" : "Email",
                          "apiName" : "email",
                          "type" : "string",
                          "value" : "6000000000743"
                        }, {
                          "displayLabel" : "Website",
                          "apiName" : "website",
                          "type" : "string",
                          "value" : "6000000000745"
                        }, {
                          "displayLabel" : "Account Owner",
                          "apiName" : "ownerId",
                          "type" : "string",
                          "value" : "6000000000747"
                        }, {
                          "displayLabel" : "Created By",
                          "apiName" : "createdBy",
                          "type" : "string",
                          "value" : "6000000000757"
                        }, {
                          "displayLabel" : "Modified By",
                          "apiName" : "modifiedBy",
                          "type" : "string",
                          "value" : "6000000000759"
                        }, {
                          "displayLabel" : "Created Time",
                          "apiName" : "createdTime",
                          "type" : "date",
                          "value" : "6000000000761"
                        }, {
                          "displayLabel" : "Modified Time",
                          "apiName" : "modifiedTime",
                          "type" : "date",
                          "value" : "6000000000763"
                        }, {
                          "displayLabel" : "Country",
                          "apiName" : "country",
                          "type" : "string",
                          "value" : "6000000000777"
                        } ]
                      }, {
                        "module" : "products",
                        "name" : "Product Sections",
                        "fields" : [ {
                          "displayLabel" : "Product Id",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "Products:recordid"
                        }, {
                          "displayLabel" : "Product Layout Name",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "Products:Layout Name"
                        }, {
                          "displayLabel" : "Department",
                          "apiName" : "departmentIds",
                          "type" : "string",
                          "value" : "6000000002125"
                        }, {
                          "displayLabel" : "Layout",
                          "apiName" : "layoutId",
                          "type" : "int",
                          "value" : "6000000002127"
                        }, {
                          "displayLabel" : "Product Name",
                          "apiName" : "productName",
                          "type" : "string",
                          "value" : "6000000002129"
                        }, {
                          "displayLabel" : "Product Owner",
                          "apiName" : "ownerId",
                          "type" : "string",
                          "value" : "6000000002131"
                        }, {
                          "displayLabel" : "Description",
                          "apiName" : "description",
                          "type" : "string",
                          "value" : "6000000002133"
                        }, {
                          "displayLabel" : "Product Code",
                          "apiName" : "productCode",
                          "type" : "string",
                          "value" : "6000000002135"
                        }, {
                          "displayLabel" : "Manufacturer",
                          "apiName" : "manufacturer",
                          "type" : "string",
                          "value" : "6000000002137"
                        }, {
                          "displayLabel" : "Product Category",
                          "apiName" : "productCategory",
                          "type" : "string",
                          "value" : "6000000002139"
                        }, {
                          "displayLabel" : "Created By",
                          "apiName" : "createdBy",
                          "type" : "string",
                          "value" : "6000000002141"
                        }, {
                          "displayLabel" : "Modified By",
                          "apiName" : "modifiedBy",
                          "type" : "string",
                          "value" : "6000000002143"
                        }, {
                          "displayLabel" : "Created Time",
                          "apiName" : "createdTime",
                          "type" : "date",
                          "value" : "6000000002145"
                        }, {
                          "displayLabel" : "Modified Time",
                          "apiName" : "modifiedTime",
                          "type" : "date",
                          "value" : "6000000002147"
                        }, {
                          "displayLabel" : "Unit Price",
                          "apiName" : "unitPrice",
                          "type" : "float",
                          "value" : "6000000002151"
                        } ]
                      }, {
                        "module" : "user",
                        "name" : "User Information",
                        "fields" : [ {
                          "displayLabel" : "First Name",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "User:FirstName"
                        }, {
                          "displayLabel" : "Last Name",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "User:LastName"
                        }, {
                          "displayLabel" : "Support Rep Name",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "User:FullName"
                        }, {
                          "displayLabel" : "Email",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "User:Email"
                        }, {
                          "displayLabel" : "Mobile",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "User:Mobile"
                        }, {
                          "displayLabel" : "Phone",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "User:Phone"
                        } ]
                      }, {
                        "module" : "organization",
                        "name" : "Organization Information",
                        "fields" : [ {
                          "displayLabel" : "Organization Name",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "Organization:orgName"
                        }, {
                          "displayLabel" : "Organization Description",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "Organization:Description"
                        }, {
                          "displayLabel" : "Website",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "Organization:Website"
                        }, {
                          "displayLabel" : "Mobile",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "Organization:Mobile"
                        }, {
                          "displayLabel" : "Fax",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "Organization:Fax"
                        }, {
                          "displayLabel" : "Phone",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "Organization:Phone"
                        }, {
                          "displayLabel" : "Organization Logo",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "Organization:Logo"
                        }, {
                          "displayLabel" : "City",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "Organization:City"
                        }, {
                          "displayLabel" : "Street",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "Organization:Street"
                        }, {
                          "displayLabel" : "State",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "Organization:State"
                        }, {
                          "displayLabel" : "Country",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "Organization:Country"
                        }, {
                          "displayLabel" : "Zip Code",
                          "apiName" : null,
                          "type" : "string",
                          "value" : "Organization:Zip"
                        } ]
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "9dfe36cc86c8729e105904ba581eff39",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.CustomFunctionService.getArgumentFields"
        }
      }
    },
    "/api/v1/customFunctions/failures" : {
      "get" : {
        "tags" : [ "CustomFunctions" ],
        "summary" : "List all failures in custom functions",
        "description" : "This API lists all custom function failures",
        "operationId" : "getCustomFunctionFailures",
        "parameters" : [ {
          "name" : "duration",
          "in" : "query",
          "description" : "Duration. Values allowed are  @TODAY@, @YESTERDAY@, @LAST_7_DAYS@, @LAST_30_DAYS@, @CUSTOM@",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Duration. Values allowed are  @TODAY@, @YESTERDAY@, @LAST_7_DAYS@, @LAST_30_DAYS@, @CUSTOM@",
            "enum" : [ "TODAY", "YESTERDAY", "LAST_7_DAYS", "LAST_30_DAYS", "CUSTOM" ]
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "Specify custom end date (YYYY-MM-DD) if duration is CUSTOM",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^([12][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$",
            "description" : "Specify custom end date (YYYY-MM-DD) if duration is CUSTOM"
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "department from which arguments fields to be listed",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "department from which arguments fields to be listed",
            "format" : "int64"
          }
        }, {
          "name" : "module",
          "in" : "query",
          "description" : "Module for which the fields have to be considered for arguments. Values allowed are @tickets@, @contacts@, @accounts@, @tasks@, @timeEntry@, @products@, @calls@, @events@, @CustomModule@",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Module for which the fields have to be considered for arguments. Values allowed are @tickets@, @contacts@, @accounts@, @tasks@, @timeEntry@, @products@, @calls@, @events@, @CustomModule@",
            "enum" : [ "accounts", "contacts", "tickets", "products", "timeEntry", "tasks", "calls", "events" ]
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of custom functions to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number of custom functions to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which custom functions must be fetched.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which custom functions must be fetched.",
            "format" : "int32"
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Specify custom start date (YYYY-MM-DD) if duration is CUSTOM",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^([12][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$",
            "description" : "Specify custom start date (YYYY-MM-DD) if duration is CUSTOM"
          }
        }, {
          "name" : "customFunctionId",
          "in" : "query",
          "description" : "Filter by CustomFunctionId",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Filter by CustomFunctionId",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getCustomFunctionFailuresResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "customFunctionId", "entity", "failureEntryTime", "failureId", "functionName", "responseMsg", "source" ],
                        "properties" : {
                          "failureId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "failureEntryTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "functionName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "source" : {
                            "maxProperties" : 3,
                            "minProperties" : 3,
                            "required" : [ "name", "type", "webUrl" ],
                            "properties" : {
                              "webUrl" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "workflow", "blueprint" ]
                              }
                            },
                            "additionalProperties" : false
                          },
                          "entity" : {
                            "maxProperties" : 3,
                            "minProperties" : 3,
                            "required" : [ "entityValue", "module", "webUrl" ],
                            "properties" : {
                              "entityValue" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "webUrl" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "module" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "accounts", "contacts", "tickets", "products", "timeEntry", "tasks", "calls", "events", "-" ]
                              }
                            },
                            "additionalProperties" : false
                          },
                          "responseMsg" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "customFunctionId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "failureId" : "1000000019099",
                        "failureEntryTime" : 1553167027595,
                        "functionName" : "test no api fail",
                        "source" : {
                          "webUrl" : "https://desk.zoho.com/support/denindocker2/ShowHomePage.do#setup/automation/1000000012710/workflows/rules/edit/1000000019005",
                          "name" : "test",
                          "type" : "workflow"
                        },
                        "entity" : {
                          "entityValue" : "test 1",
                          "webUrl" : "https://desk.zoho.com/support/denindocker2/ShowHomePage.do#Cases/dv/a23592d44ed6339c57febf42c53080dd",
                          "module" : "tickets"
                        },
                        "customFunctionId" : "1000000019001",
                        "responseMsg" : "Given index 5 is greater than the list size"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "2d4d42dd9f82599f53f2619fd77c2a89",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.CustomFunctionService.getCustomFunctionFailures"
        }
      }
    },
    "/api/v1/customFunctions" : {
      "get" : {
        "tags" : [ "CustomFunctions" ],
        "summary" : "List all custom functions",
        "description" : "This API lists all custom functions in the department..",
        "operationId" : "getAllCustomFunctions",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Secondary information related to custom functions. Values allowed are @createdBy@, @modifiedBy@. You can include all these values by separating them with commas in the API request.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Secondary information related to custom functions. Values allowed are @createdBy@, @modifiedBy@. You can include all these values by separating them with commas in the API request.",
            "enum" : [ "createdBy", "modifiedBy" ],
            "x-custom-parameters-attributes" : {
              "split" : ",",
              "entity" : "Include"
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "department from which arguments fields to be listed",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "department from which arguments fields to be listed",
            "format" : "int64"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of custom functions to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number of custom functions to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which custom functions must be fetched.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which custom functions must be fetched.",
            "format" : "int32"
          }
        }, {
          "name" : "category",
          "in" : "query",
          "description" : "Category of custom function. Category are @AUTOMATION@|@SCHEDULER@. If category isnt mentioned all custom functions will be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Category of custom function. Category are @AUTOMATION@|@SCHEDULER@. If category isnt mentioned all custom functions will be listed",
            "enum" : [ "AUTOMATION", "SCHEDULER" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getAllCustomFunctionsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "creator" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "modifier" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : { }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "required" : [ "category", "description", "id", "modifiedTime", "module", "name" ],
                          "properties" : {
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "module" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "accounts", "contacts", "tickets", "products", "timeEntry", "tasks", "calls", "events", "-" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Module of the CustomFunction. Values allowed are @tickets@, @contacts@, @accounts@, @tasks@, @timeEntry@, @products@, @calls@, @events@, @CustomModule@",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "description" : {
                              "maxLength" : 1000,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "category" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "AUTOMATION", "SCHEDULER" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Category of custom function. Category are @AUTOMATION@|@SCHEDULER@. If category isnt mentioned all custom functions will be listed",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "creator" : {
                              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "modifier" : {
                              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : { }
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "modifiedTime" : 1693986945000,
                        "creator" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/1000000024001/photo?orgId=10000090",
                          "firstName" : "Faizal",
                          "lastName" : "K",
                          "id" : "1000000024001",
                          "email" : "faizal@k.com"
                        },
                        "module" : "accounts",
                        "modifier" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/1000000024001/photo?orgId=10000090",
                          "firstName" : "Faizal",
                          "lastName" : "K",
                          "id" : "1000000024001",
                          "email" : "faizal@k.com"
                        },
                        "name" : "CustomFunction test from api",
                        "description" : "Description of custom function here",
                        "id" : "1000000024001",
                        "category" : "AUTOMATION"
                      }, {
                        "modifiedTime" : 1693986945000,
                        "creator" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/1000000024001/photo?orgId=10000090",
                          "firstName" : "Faizal",
                          "lastName" : "K",
                          "id" : "1000000024001",
                          "email" : "faizal@l.com"
                        },
                        "module" : "tickets",
                        "modifier" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/1000000024001/photo?orgId=10000090",
                          "firstName" : "Faizal",
                          "lastName" : "K",
                          "id" : "1000000024001",
                          "email" : "faizal@k.com"
                        },
                        "name" : "CustomFunction test 2",
                        "description" : "Description of custom function here",
                        "id" : "1000000028001",
                        "category" : "AUTOMATION"
                      }, {
                        "modifiedTime" : 1693986945000,
                        "creator" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/1000000024001/photo?orgId=10000090",
                          "firstName" : "Faizal",
                          "lastName" : "K",
                          "id" : "1000000024001",
                          "email" : "faizal@k.com"
                        },
                        "module" : "contacts",
                        "modifier" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/1000000024001/photo?orgId=10000090",
                          "firstName" : "Faizal",
                          "lastName" : "K",
                          "id" : "1000000024001",
                          "email" : "faizal@k.com"
                        },
                        "name" : "CustomFunction test 3",
                        "description" : "some other description",
                        "id" : "1000000037001",
                        "category" : "AUTOMATION"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 900000,
                  "lock-period" : 900000,
                  "threshold" : 600,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.remoteip"
              } ],
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "023905bf335b454867cf4377b700d113",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.CustomFunctionService.getAllCustomFunctions"
        }
      },
      "post" : {
        "tags" : [ "CustomFunctions" ],
        "summary" : "Create a custom function",
        "description" : "This API creates a custom function in your helpdesk.",
        "operationId" : "createCustomFunction",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "departmentId", "methodName", "name", "script" ],
                "properties" : {
                  "customParams" : {
                    "items" : {
                      "required" : [ "name", "value" ],
                      "properties" : {
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z][a-zA-Z0-9\\_]*$"
                        },
                        "value" : {
                          "maxLength" : 500,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "departmentId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "entityParams" : {
                    "items" : {
                      "required" : [ "name", "value" ],
                      "properties" : {
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z][a-zA-Z0-9\\_]*$"
                        },
                        "value" : {
                          "maxLength" : 30,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "module" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "accounts", "contacts", "tickets", "products", "timeEntry", "tasks", "calls", "events", "-" ]
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "description" : {
                    "maxLength" : 1000,
                    "minLength" : 0
                  },
                  "methodName" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "^[a-zA-Z][a-zA-Z0-9\\_]*$"
                  },
                  "category" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "AUTOMATION", "SCHEDULER" ]
                  },
                  "script" : {
                    "maxLength" : 5000000,
                    "minLength" : 0,
                    "x-custom-parameters-attributes" : {
                      "secret" : true
                    }
                  },
                  "returnType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "void", "string", "int", "float", "bool", "map", "list", "date" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "customParams" : [ {
                      "name" : "cParam1",
                      "value" : "123"
                    }, {
                      "name" : "cParam2",
                      "value" : "asdfasdf"
                    } ],
                    "departmentId" : "1000000012710",
                    "module" : "tickets",
                    "entityParams" : [ {
                      "name" : "cntName",
                      "value" : "1000000000560"
                    } ],
                    "name" : "MyCustomFunctionName",
                    "description" : "Description of custom function",
                    "methodName" : "method_name4",
                    "script" : "info \"new function create\";"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "201" : {
            "description" : "createCustomFunctionResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "category", "createdBy", "createdTime", "creator", "customParams", "departmentId", "description", "entityParams", "id", "methodName", "modifiedBy", "modifiedTime", "modifier", "module", "name", "returnType", "script" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "creator" : {
                      "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "customParams" : {
                      "items" : {
                        "required" : [ "name", "type", "value" ],
                        "properties" : {
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z][a-zA-Z0-9\\_]*$",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Name for CustomFunction",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "string" ]
                          },
                          "value" : {
                            "maxLength" : 500,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "module" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "accounts", "contacts", "tickets", "products", "timeEntry", "tasks", "calls", "events", "-" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Module of the CustomFunction. Values allowed are tickets, contacts, accounts, tasks, timeEntry, products, calls, events or customModules",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "modifier" : {
                      "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "description" : {
                      "maxLength" : 1000,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Description of CustomFunction",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "methodName" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^[a-zA-Z][a-zA-Z0-9\\_]*$",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Method name for CustomFunction. Only alpha-numeric and underscore allowed.",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "script" : {
                      "maxLength" : 5000000,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "CustomFunction script",
                        "secret" : true,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "entityParams" : {
                      "items" : {
                        "required" : [ "fieldName", "module", "name", "type", "value" ],
                        "properties" : {
                          "fieldName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "module" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "accounts", "contacts", "tasks", "tickets", "products", "timeEntry", "calls", "events", "user", "organization" ]
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z][a-zA-Z0-9\\_]*$",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Name for CustomFunction",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "string", "bool", "int", "date", "float" ]
                          },
                          "value" : {
                            "maxLength" : 30,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Name for CustomFunction",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "category" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "AUTOMATION", "SCHEDULER" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Category under which custom function is to be created",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "returnType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "void", "string", "int", "float", "bool", "map", "list", "date" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Return type for CustomFunction. Values allowed are void, string, int, float, bool, map, list or date",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1553442406000,
                      "customParams" : [ {
                        "name" : "cParam1",
                        "type" : "string",
                        "value" : "123"
                      }, {
                        "name" : "cParam2",
                        "type" : "string",
                        "value" : "asdfasdf"
                      } ],
                      "module" : "tickets",
                      "departmentId" : "1000000012710",
                      "description" : "Description of custom function",
                      "methodName" : "method_name44",
                      "script" : "info \"new function create\";",
                      "createdBy" : "1000000015911",
                      "entityParams" : [ {
                        "fieldName" : "Contact Name",
                        "module" : "tickets",
                        "name" : "cntName",
                        "type" : "string",
                        "value" : "1000000000560"
                      } ],
                      "name" : "MyCustomFunctionName",
                      "createdTime" : 1553442406000,
                      "modifiedBy" : "1000000015911",
                      "id" : "1000000020027",
                      "category" : "AUTOMATION"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 1200000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "b3a612e19ca7a7720a5019e4d30e5943",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.CustomFunctionService.createCustomFunction"
        }
      }
    },
    "/api/v1/customFunctions/{customFunctionId}" : {
      "get" : {
        "tags" : [ "CustomFunctions" ],
        "summary" : "Get a custom function",
        "description" : "This API fetches a custom function.",
        "operationId" : "getCustomFunction",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Allowed values are :  @dreFunctionId@, @createdBy@, @modifiedBy@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Allowed values are :  @dreFunctionId@, @createdBy@, @modifiedBy@",
            "enum" : [ "createdBy", "modifiedBy", "dreFunctionId" ],
            "x-custom-parameters-attributes" : {
              "split" : ",",
              "entity" : "Include"
            }
          }
        }, {
          "name" : "customFunctionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "customFunctionId",
          "in" : "query",
          "description" : "Filter by CustomFunctionId",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Filter by CustomFunctionId",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getCustomFunctionResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "creator" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "dreFunctionId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "modifier" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
[...]
