{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "CustomView",
    "version" : "1.0.0",
    "x-clan-group" : "common",
    "x-module-group" : "views"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/lastAccessedView/{cvId}" : {
      "put" : {
        "tags" : [ "CustomView" ],
        "summary" : "Update Last Accessed View",
        "description" : "This API updates the view last accessed by the user in the module and department specified in the request.",
        "operationId" : "updateRecentView",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department in which the view(s) is (are) configured.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department in which the view(s) is (are) configured.",
            "format" : "int64"
          }
        }, {
          "name" : "cvId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 1000,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.remoteip"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "7e053b1001161a79777f7f4366c4f1d7",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.ViewService.setRecentViews"
        }
      }
    },
    "/api/v1/views/{cvId}/star" : {
      "post" : {
        "tags" : [ "CustomView" ],
        "summary" : "Add Starred View",
        "description" : "This API stars a view, enabling quick access to the view.",
        "operationId" : "addStarredView",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department in which the view(s) is (are) configured.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department in which the view(s) is (are) configured.",
            "format" : "int64"
          }
        }, {
          "name" : "cvId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 20,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "f724c522ec870485522215c97526f458",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.StarredViewService.addStarredView"
        }
      }
    },
    "/api/v1/views/archivedEntities/myPreference" : {
      "get" : {
        "tags" : [ "CustomView" ],
        "summary" : "Get My preference for archived view",
        "description" : "This API gets my preference for provided view.",
        "operationId" : "getArchivedViewPreference",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department from which the view's preference should be fetched.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the view's preference should be fetched.",
            "format" : "int64"
          }
        }, {
          "name" : "module",
          "in" : "query",
          "description" : "Allowed values are : @tickets@, @tasks@,@contacts@, @accounts@,@contacts@, @products@ ,@activities@,@calls@,@events@.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Allowed values are : @tickets@, @tasks@,@contacts@, @accounts@,@contacts@, @products@ ,@activities@,@calls@,@events@.",
            "enum" : [ "tickets" ],
            "x-custom-parameters-attributes" : {
              "entity" : "Views"
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "archivedViewPreference template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "additionalProperties" : { },
                      "allOf" : [ {
                        "required" : [ "fields" ],
                        "properties" : {
                          "fields" : {
                            "maxItems" : 15,
                            "minItems" : 1,
                            "uniqueItems" : true,
                            "description" : "",
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                              "description" : "",
                              "x-custom-parameters-attributes" : { }
                            },
                            "x-custom-parameters-attributes" : { }
                          }
                        },
                        "additionalProperties" : false
                      }, {
                        "required" : [ "fields", "sortField" ],
                        "properties" : {
                          "sortField" : {
                            "required" : [ "name", "order" ],
                            "properties" : {
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "",
                                "enum" : [ "createdTime", "modifiedTime" ],
                                "x-custom-parameters-attributes" : { }
                              },
                              "order" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "description" : "",
                                "enum" : [ "ascending", "descending" ],
                                "x-custom-parameters-attributes" : { }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "fields" : {
                            "maxItems" : 15,
                            "minItems" : 1,
                            "uniqueItems" : true,
                            "description" : "",
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                              "description" : "",
                              "x-custom-parameters-attributes" : { }
                            },
                            "x-custom-parameters-attributes" : { }
                          }
                        }
                      } ]
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : {
                        "fields" : [ "customerResponseTime", "assigneeId", "contactId", "subject", "channel", "dueDate", "ticketNumber" ],
                        "sortField" : {
                          "name" : "createdTime",
                          "order" : "descending"
                        }
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : { }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 120000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 420000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "bb2dd0ec917511b9a7007ea7929ee81d",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.ViewService.getArchivedViewPreference"
        }
      },
      "patch" : {
        "tags" : [ "CustomView" ],
        "summary" : "Update Archived Tickets  preference",
        "description" : "This API updates my preference for Archived Ticket view. Only createdTime, modifiedTime fields supported in Sort Field.",
        "operationId" : "updateArchivedViewPreference",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "module",
          "in" : "query",
          "description" : "Allowed values are : @tickets@, @tasks@,@contacts@, @accounts@,@contacts@, @products@ ,@activities@,@calls@,@events@.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Allowed values are : @tickets@, @tasks@,@contacts@, @accounts@,@contacts@, @products@ ,@activities@,@calls@,@events@.",
            "enum" : [ "tickets" ],
            "x-custom-parameters-attributes" : {
              "entity" : "Views"
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "additionalProperties" : { },
                "allOf" : [ {
                  "required" : [ "fields" ],
                  "properties" : {
                    "fields" : {
                      "maxItems" : 15,
                      "minItems" : 1,
                      "uniqueItems" : true,
                      "description" : "",
                      "items" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                        "description" : "",
                        "x-custom-parameters-attributes" : { }
                      },
                      "x-custom-parameters-attributes" : { }
                    }
                  },
                  "additionalProperties" : false
                }, {
                  "properties" : {
                    "sortField" : {
                      "required" : [ "name", "order" ],
                      "properties" : {
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "",
                          "enum" : [ "createdTime", "modifiedTime" ],
                          "x-custom-parameters-attributes" : { }
                        },
                        "order" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "",
                          "enum" : [ "ascending", "descending" ],
                          "x-custom-parameters-attributes" : { }
                        }
                      },
                      "additionalProperties" : false
                    },
                    "fields" : {
                      "maxItems" : 15,
                      "minItems" : 1,
                      "uniqueItems" : true,
                      "items" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                        "x-custom-parameters-attributes" : [ { } ]
                      }
                    }
                  }
                }, { } ]
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "sortField" : {
                      "name" : "createdTime",
                      "order" : "descending"
                    },
                    "fields" : [ "ticketNumber", "subject", "contactId", "accountId", "customerResponseTime", "dueDate", "status", "channel" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "35fc431d243b7eaef7a1dd08461a9697",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.ViewService.updateArchivedViewPreference"
        }
      }
    },
    "/api/v1/views/availableFields" : {
      "get" : {
        "tags" : [ "CustomView" ],
        "summary" : "List Available Select Fields",
        "description" : "This API fetches the available select fields for specified module.",
        "operationId" : "getAvailableSelectFields",
        "parameters" : [ {
          "name" : "module",
          "in" : "query",
          "description" : "Allowed values are : @tickets@, @tasks@,@contacts@, @accounts@,@contacts@, @products@ ,@activities@,@calls@,@events@.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Allowed values are : @tickets@, @tasks@,@contacts@, @accounts@,@contacts@, @products@ ,@activities@,@calls@,@events@.",
            "enum" : [ "tickets" ],
            "x-custom-parameters-attributes" : {
              "entity" : "Views"
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department in which the view(s) is (are) configured.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department in which the view(s) is (are) configured.",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getAvailableFieldsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "fields" ],
                  "properties" : {
                    "fields" : {
                      "items" : {
                        "oneOf" : [ {
                          "required" : [ "displayLabel", "i18NLabel", "id", "isCustomField", "isEncryptedField", "isMandatory", "isPHI", "isReadOnly", "isSortable", "isVisible", "maxLength", "name", "returnType", "type" ],
                          "properties" : {
                            "displayLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "isCustomField" : { },
                            "i18NLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "isSortable" : { },
                            "isVisible" : { },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula" ]
                            },
                            "isReadOnly" : { },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "isEncryptedField" : { },
                            "isPHI" : { },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "isMandatory" : { },
                            "maxLength" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "returnType" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "displayLabel", "i18NLabel", "id", "isCustomField", "isEncryptedField", "isMandatory", "isPHI", "isReadOnly", "isSortable", "isVisible", "maxLength", "name", "type" ],
                          "properties" : {
                            "displayLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "isCustomField" : { },
                            "i18NLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "isSortable" : { },
                            "isVisible" : { },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula" ]
                            },
                            "isReadOnly" : { },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "isEncryptedField" : { },
                            "isPHI" : { },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "isMandatory" : { },
                            "maxLength" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "displayLabel", "i18NLabel", "id", "isCustomField", "isEncryptedField", "isMandatory", "isPHI", "isReadOnly", "isVisible", "maxLength", "name", "type" ],
                          "properties" : {
                            "displayLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "isReadOnly" : { },
                            "isCustomField" : { },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "isEncryptedField" : { },
                            "i18NLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "isPHI" : { },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "isVisible" : { },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula" ]
                            },
                            "isMandatory" : { },
                            "maxLength" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "fields" : [ {
                        "displayLabel" : "Account Name",
                        "isReadOnly" : "false",
                        "name" : "accountName",
                        "id" : "5000000000369",
                        "isVisible" : "true",
                        "type" : "Text"
                      }, {
                        "displayLabel" : "Email",
                        "isReadOnly" : "false",
                        "name" : "email",
                        "id" : "5000000000373",
                        "isVisible" : "true",
                        "type" : "Email"
                      }, {
                        "displayLabel" : "Phone",
                        "isReadOnly" : "false",
                        "name" : "phone",
                        "id" : "5000000000371",
                        "isVisible" : "true",
                        "type" : "Phone"
                      }, {
                        "displayLabel" : "Website",
                        "isReadOnly" : "false",
                        "name" : "website",
                        "id" : "5000000000375",
                        "isVisible" : "true",
                        "type" : "URL"
                      }, {
                        "displayLabel" : "Country",
                        "isReadOnly" : "false",
                        "name" : "country",
                        "id" : "5000000000403",
                        "isVisible" : "true",
                        "type" : "Text"
                      }, {
                        "displayLabel" : "Category",
                        "isReadOnly" : "true",
                        "name" : "cf_category",
                        "id" : "5000000000446",
                        "isVisible" : "true",
                        "type" : "Text"
                      }, {
                        "displayLabel" : "Account Owner",
                        "isReadOnly" : "false",
                        "name" : "ownerId",
                        "id" : "5000000000377",
                        "isVisible" : "true",
                        "type" : "LookUp"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 60000,
                  "threshold" : 20,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "iscscope" : [ "SupCrmAPI" ]
            }
          },
          "clan-group" : "common",
          "apihash" : "741a45101de8a7359680d30079baab8b",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.FeatureFieldService.getAvailableFields"
        }
      }
    },
    "/api/v1/views/{cvId}" : {
      "get" : {
        "tags" : [ "CustomView" ],
        "summary" : "Get Custom View",
        "description" : "This API fetches the details of a particular custom view.",
        "operationId" : "getCustomView",
        "parameters" : [ {
          "name" : "featureFlags",
          "in" : "header",
          "description" : "Feature flags for special cases",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "enum" : [ "requestNewResponse", "showI18NFields", "sanitizedName" ]
          }
        }, {
          "name" : "cvId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "customViewResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "accessibility", "criteria", "department", "id", "moduleMapping", "name" ],
                  "properties" : {
                    "accessibility" : {
                      "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                      "properties" : {
                        "type" : {
                          "enum" : [ "onlyMe", "allAgents", "restrictedAccess" ]
                        },
                        "agents" : {
                          "items" : {
                            "format" : "int64"
                          }
                        },
                        "rolesAndSubordinates" : {
                          "items" : {
                            "format" : "int64"
                          }
                        },
                        "teams" : {
                          "items" : {
                            "format" : "int64"
                          }
                        },
                        "roles" : {
                          "items" : {
                            "format" : "int64"
                          }
                        }
                      }
                    },
                    "criteria" : {
                      "required" : [ "criteriaFields", "criteriaPattern" ],
                      "properties" : {
                        "criteriaFields" : {
                          "required" : [ "condition", "field", "value" ],
                          "properties" : {
                            "field" : {
                              "required" : [ "apiName", "fieldLabel", "module" ],
                              "properties" : {
                                "module" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "products", "calls", "events", "activities" ]
                                },
                                "apiName" : { },
                                "fieldLabel" : { }
                              },
                              "additionalProperties" : false
                            },
                            "condition" : { },
                            "value" : {
                              "required" : [ "type" ],
                              "properties" : {
                                "type" : {
                                  "enum" : [ "primitive" ]
                                },
                                "primitive" : {
                                  "additionalProperties" : false,
                                  "properites" : {
                                    "key" : {
                                      "type" : [ "null", "string", "integer" ]
                                    },
                                    "displaykey" : {
                                      "type" : [ "null", "string", "integer" ]
                                    }
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        },
                        "criteriaPattern" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "moduleMapping" : {
                      "required" : [ "primaryModule" ],
                      "properties" : {
                        "primaryModule" : {
                          "required" : [ "apiName" ],
                          "properties" : {
                            "apiName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "calls", "events", "activities" ]
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "name" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}\\s&amp;&lt;&gt;\\+=]+"
                    },
                    "displayLabel" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}\\s&amp;&lt;&gt;\\+=]+"
                    },
                    "sanitizedName" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}&amp;&lt;&gt;\\+=]+"
                    },
                    "department" : {
                      "pattern" : "([0-9]+|allDepartment)",
                      "format" : "int64"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "oldFormat" : {
                        "accessibility" : {
                          "roles" : null,
                          "groups" : null,
                          "type" : "restrictedAccess",
                          "rolesAndSubordinates" : null,
                          "agents" : [ "20998000000101010" ]
                        },
                        "criteria" : {
                          "fieldConditions" : [ {
                            "displayValue" : [ "${OPEN}" ],
                            "criteriaValues" : [ {
                              "displayValue" : "${OPEN}",
                              "value" : "${OPEN}"
                            } ],
                            "condition" : "is OPEN",
                            "fieldName" : "Status",
                            "value" : [ "${OPEN}" ]
                          }, {
                            "displayValue" : [ "${CURRENTTIME}" ],
                            "criteriaValues" : [ {
                              "displayValue" : "${CURRENTTIME}",
                              "value" : "${CURRENTTIME}"
                            } ],
                            "condition" : "is",
                            "fieldName" : "Due Date",
                            "value" : [ "${CURRENTTIME}" ]
                          }, {
                            "displayValue" : [ "Johnson" ],
                            "criteriaValues" : [ {
                              "displayValue" : "Johnson",
                              "value" : "20998000000101010"
                            } ],
                            "condition" : "is",
                            "fieldName" : "Case Owner",
                            "value" : [ "20998000000101010" ]
                          } ],
                          "pattern" : "(1and2)or3"
                        },
                        "module" : "tickets",
                        "name" : "my customview",
                        "id" : "20998000000101016",
                        "department" : "allDepartment"
                      },
                      "newFormat" : {
                        "moduleMapping" : {
                          "primaryModule" : {
                            "apiName" : "tickets"
                          }
                        },
                        "accessibility" : {
                          "teams" : null,
                          "roles" : null,
                          "type" : "restrictedAccess",
                          "rolesAndSubordinates" : null,
                          "agents" : [ "20998000000101010" ]
                        },
                        "criteria" : {
                          "criteriaFields" : [ {
                            "condition" : "is OPEN",
                            "field" : {
                              "apiName" : "status",
                              "module" : "tickets"
                            },
                            "value" : {
                              "type" : "primitive"
                            }
                          }, {
                            "condition" : "is",
                            "field" : {
                              "apiName" : "dueDate",
                              "module" : "tickets"
                            },
                            "value" : {
                              "primitive" : [ {
                                "displayKey" : "${CURRENTTIME}",
                                "key" : "${CURRENTTIME}"
                              } ],
                              "type" : "primitive"
                            }
                          }, {
                            "condition" : "is",
                            "field" : {
                              "apiName" : "assigneeId",
                              "module" : "tickets"
                            },
                            "value" : {
                              "primitive" : [ {
                                "displayKey" : "Johnson",
                                "key" : "20998000000101010"
                              } ],
                              "type" : "primitive"
                            }
                          } ],
                          "criteriaPattern" : "(1and2)or3"
                        },
                        "name" : "my customview",
                        "id" : "20998000000101016",
                        "department" : "allDepartment"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "ec409d76c6df6e424f556f62345be0ff",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.ViewService.getCustomView"
        }
      },
      "delete" : {
        "tags" : [ "CustomView" ],
        "summary" : "Delete Custom View",
        "description" : "This API deletes the custom view specified.",
        "operationId" : "deleteCustomView",
        "parameters" : [ {
          "name" : "cvId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.DELETE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "6a2c0734506d162ce83e2de82785ae1d",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.ViewService.deleteCustomView"
        }
      },
      "patch" : {
        "tags" : [ "CustomView" ],
        "summary" : "Update Custom View",
        "description" : "This API updates the details of an existing custom view. The value of the department attribute can be a valid department ID or allDepartments. Similarly, the value of agents can be a valid agent ID or allAgents. If you want the custom view to be visible only to you, do not pass any attribute values in the API request. Either module or moduleMapping is mandatory (For old format: module should be given, for new format: moduleMapping should be given)",
        "operationId" : "updateCustomView",
        "parameters" : [ {
          "name" : "featureFlags",
          "in" : "header",
          "description" : "Feature flags for special cases",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "enum" : [ "requestNewResponse", "showI18NFields", "sanitizedName" ]
          }
        }, {
          "name" : "cvId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "accessibility", "criteria", "department", "name" ],
                "properties" : {
                  "accessibility" : {
                    "oneOf" : [ {
                      "required" : [ "type" ],
                      "properties" : {
                        "type" : {
                          "enum" : [ "onlyMe", "allAgents" ]
                        }
                      }
                    }, {
                      "required" : [ "agents", "type" ],
                      "properties" : {
                        "type" : {
                          "enum" : [ "restrictedAccess" ]
                        },
                        "agents" : {
                          "items" : {
                            "format" : "int64"
                          }
                        }
                      }
                    } ]
                  },
                  "criteria" : {
                    "required" : [ "fieldConditions", "pattern" ],
                    "properties" : {
                      "fieldConditions" : {
                        "items" : {
                          "required" : [ "condition", "fieldModule", "fieldName", "value" ],
                          "properties" : {
                            "condition" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(.*|null|undefined)"
                            },
                            "fieldName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "fieldModule" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "products", "calls", "events", "activities" ]
                            },
                            "value" : {
                              "uniqueItems" : false,
                              "items" : {
                                "oneOf" : [ {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                }, {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                  }
                                } ]
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "pattern" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "[andor()0-9\\s]*"
                      }
                    },
                    "additionalProperties" : false
                  },
                  "name" : {
                    "maxLength" : 50,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}\\s&<>\\+=]+"
                  },
                  "department" : {
                    "pattern" : "([0-9]+|allDepartment)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "oldFormat" : {
                      "accessibility" : {
                        "type" : "allAgents"
                      },
                      "criteria" : {
                        "fieldConditions" : [ {
                          "condition" : "is OPEN",
                          "fieldName" : "Status",
                          "value" : [ "${OPEN}" ]
                        }, {
                          "condition" : "is",
                          "fieldName" : "Due Date",
                          "value" : [ "${CURRENTTIME}" ]
                        }, {
                          "condition" : "is",
                          "fieldName" : "Case Owner",
                          "value" : [ "20998000000101010" ]
                        } ],
                        "pattern" : "(1and2)or3"
                      },
                      "name" : "my customview",
                      "department" : "allDepartment"
                    },
                    "newFormat" : {
                      "accessibility" : {
                        "type" : "allAgents"
                      },
                      "criteria" : {
                        "criteriaFields" : [ {
                          "condition" : "is OPEN",
                          "field" : {
                            "apiName" : "status",
                            "module" : "tickets"
                          },
                          "value" : {
                            "type" : "primitive"
                          }
                        }, {
                          "condition" : "is",
                          "field" : {
                            "apiName" : "dueDate",
                            "module" : "tickets"
                          },
                          "value" : {
                            "primitive" : [ {
                              "key" : "${CURRENTTIME}"
                            } ],
                            "type" : "primitive"
                          }
                        }, {
                          "condition" : "is",
                          "field" : {
                            "apiName" : "assigneeId",
                            "module" : "tickets"
                          },
                          "value" : {
                            "primitive" : [ {
                              "key" : "20998000000101010"
                            } ],
                            "type" : "primitive"
                          }
                        } ],
                        "criteriaPattern" : "(1and2)or3"
                      },
                      "name" : "my customview",
                      "department" : "allDepartment"
                    }
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "customViewResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "accessibility", "criteria", "department", "id", "moduleMapping", "name" ],
                  "properties" : {
                    "accessibility" : {
                      "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                      "properties" : {
                        "type" : {
                          "enum" : [ "onlyMe", "allAgents", "restrictedAccess" ]
                        },
                        "agents" : {
                          "items" : {
                            "format" : "int64"
                          }
                        },
                        "rolesAndSubordinates" : {
                          "items" : {
                            "format" : "int64"
                          }
                        },
                        "teams" : {
                          "items" : {
                            "format" : "int64"
                          }
                        },
                        "roles" : {
                          "items" : {
                            "format" : "int64"
                          }
                        }
                      }
                    },
                    "criteria" : {
                      "required" : [ "criteriaFields", "criteriaPattern" ],
                      "properties" : {
                        "criteriaFields" : {
                          "required" : [ "condition", "field", "value" ],
                          "properties" : {
                            "field" : {
                              "required" : [ "apiName", "fieldLabel", "module" ],
                              "properties" : {
                                "module" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "products", "calls", "events", "activities" ]
                                },
                                "apiName" : { },
                                "fieldLabel" : { }
                              },
                              "additionalProperties" : false
                            },
                            "condition" : { },
                            "value" : {
                              "required" : [ "type" ],
                              "properties" : {
                                "type" : {
                                  "enum" : [ "primitive" ]
                                },
                                "primitive" : {
                                  "additionalProperties" : false,
                                  "properites" : {
                                    "key" : {
                                      "type" : [ "null", "string", "integer" ]
                                    },
                                    "displaykey" : {
                                      "type" : [ "null", "string", "integer" ]
                                    }
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        },
                        "criteriaPattern" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "moduleMapping" : {
                      "required" : [ "primaryModule" ],
                      "properties" : {
                        "primaryModule" : {
                          "required" : [ "apiName" ],
                          "properties" : {
                            "apiName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "calls", "events", "activities" ]
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : false
                    },
                    "name" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}\\s&amp;&lt;&gt;\\+=]+"
                    },
                    "displayLabel" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}\\s&amp;&lt;&gt;\\+=]+"
                    },
                    "sanitizedName" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}&amp;&lt;&gt;\\+=]+"
                    },
                    "department" : {
                      "pattern" : "([0-9]+|allDepartment)",
                      "format" : "int64"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "oldFormat" : {
                        "accessibility" : {
                          "roles" : null,
                          "groups" : null,
                          "type" : "restrictedAccess",
                          "rolesAndSubordinates" : null,
                          "agents" : [ "20998000000101010" ]
                        },
                        "criteria" : {
                          "fieldConditions" : [ {
                            "displayValue" : [ "${OPEN}" ],
                            "criteriaValues" : [ {
                              "displayValue" : "${OPEN}",
                              "value" : "${OPEN}"
                            } ],
                            "condition" : "is OPEN",
                            "fieldName" : "Status",
                            "value" : [ "${OPEN}" ]
                          }, {
                            "displayValue" : [ "${CURRENTTIME}" ],
                            "criteriaValues" : [ {
                              "displayValue" : "${CURRENTTIME}",
                              "value" : "${CURRENTTIME}"
                            } ],
                            "condition" : "is",
                            "fieldName" : "Due Date",
                            "value" : [ "${CURRENTTIME}" ]
                          }, {
                            "displayValue" : [ "Johnson" ],
                            "criteriaValues" : [ {
                              "displayValue" : "Johnson",
                              "value" : "20998000000101010"
                            } ],
                            "condition" : "is",
                            "fieldName" : "Case Owner",
                            "value" : [ "20998000000101010" ]
                          } ],
                          "pattern" : "(1and2)or3"
                        },
                        "module" : "tickets",
                        "name" : "my customview",
                        "id" : "20998000000101016",
                        "department" : "allDepartment"
                      },
                      "newFormat" : {
                        "moduleMapping" : {
                          "primaryModule" : {
                            "apiName" : "tickets"
                          }
                        },
                        "accessibility" : {
                          "teams" : null,
                          "roles" : null,
                          "type" : "restrictedAccess",
                          "rolesAndSubordinates" : null,
                          "agents" : [ "20998000000101010" ]
                        },
                        "criteria" : {
                          "criteriaFields" : [ {
                            "condition" : "is OPEN",
                            "field" : {
                              "apiName" : "status",
                              "module" : "tickets"
                            },
                            "value" : {
                              "type" : "primitive"
                            }
                          }, {
                            "condition" : "is",
                            "field" : {
                              "apiName" : "dueDate",
                              "module" : "tickets"
                            },
                            "value" : {
                              "primitive" : [ {
                                "displayKey" : "${CURRENTTIME}",
                                "key" : "${CURRENTTIME}"
                              } ],
                              "type" : "primitive"
                            }
                          }, {
                            "condition" : "is",
                            "field" : {
                              "apiName" : "assigneeId",
                              "module" : "tickets"
                            },
                            "value" : {
                              "primitive" : [ {
                                "displayKey" : "Johnson",
                                "key" : "20998000000101010"
                              } ],
                              "type" : "primitive"
                            }
                          } ],
                          "criteriaPattern" : "(1and2)or3"
                        },
                        "name" : "my customview",
                        "id" : "20998000000101016",
                        "department" : "allDepartment"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "4589e76be863e8e843ca0a7c346e3f10",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.ViewService.updateCustomView"
        }
      }
    },
    "/api/v1/lastAccessedView" : {
      "get" : {
        "tags" : [ "CustomView" ],
        "summary" : "Get Last Accessed View",
        "description" : "This API fetches the view last accessed by the user in the module and department specified in the request.",
        "operationId" : "getRecentView",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department in which the view(s) is (are) configured.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department in which the view(s) is (are) configured.",
            "format" : "int64"
          }
        }, {
          "name" : "module",
          "in" : "query",
          "description" : "Allowed values are : @tickets@, @tasks@,@contacts@, @accounts@,@contacts@, @products@ ,@activities@,@calls@,@events@.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Allowed values are : @tickets@, @tasks@,@contacts@, @accounts@,@contacts@, @products@ ,@activities@,@calls@,@events@.",
            "enum" : [ "tickets" ],
            "x-custom-parameters-attributes" : {
              "entity" : "Views"
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getRecentViewJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "displayLabel", "id", "name", "preference", "sanitizedName" ],
                  "properties" : {
                    "name" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}\\s&amp;&lt;&gt;\\+=]+"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "preference" : {
                      "ref" : "./CustomView.json#/components/schemas/recentViewPreference"
                    },
                    "sanitizedName" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}&amp;&lt;&gt;\\+=]+"
                    },
                    "displayLabel" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}\\s&amp;&lt;&gt;\\+=]+"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : {
                        "name" : "My Records",
                        "id" : "4000000008143"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
[...]
