{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "CustomActionRuleMapping",
    "version" : "1.0.0",
    "x-clan-group" : "integration",
    "x-module-group" : "marketplace"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/customActionMappings/{customActionMappingId}" : {
      "get" : {
        "tags" : [ "CustomActionRuleMapping" ],
        "summary" : "Retrieve a Custom Action Mapping",
        "description" : "Retrieve a custom action mapping upon giving an id",
        "operationId" : "getCustomActionMappings",
        "parameters" : [ {
          "name" : "customActionMappingId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getMappingResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "customActionId", "fields", "mappingName", "outputFields" ],
                    "properties" : {
                      "outputFields" : {
                        "items" : {
                          "required" : [ "apiName", "customActionId", "displayName", "jsonPointerPath", "length", "outputFieldId", "type", "usedInputFields", "version", "versionHash" ],
                          "properties" : {
                            "outputFieldId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "customActionId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "jsonPointerPath" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "apiName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "displayName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "length" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "usedInputFields" : {
                              "uniqueItems" : false,
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "versionHash" : {
                              "maxLength" : 1000,
                              "minLength" : 0
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                            },
                            "version" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "customActionId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "mappingName" : {
                        "maxLength" : 200,
                        "minLength" : 0
                      },
                      "fields" : {
                        "items" : {
                          "required" : [ "apiName", "context", "customActionId", "displayName", "hooks", "inputFieldId", "isMandatory", "isPlaceHolderNeeded", "length", "mappingTargetTemplateName", "type", "value", "valueUrl", "values" ],
                          "properties" : {
                            "mappingTargetTemplateName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "apiName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "displayName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "values" : {
                              "uniqueItems" : false,
                              "items" : {
                                "maxProperties" : 2,
                                "minProperties" : 2,
                                "required" : [ "prompt", "value" ],
                                "properties" : {
                                  "prompt" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "value" : {
                                    "maxLength" : 500,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "length" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                            },
                            "valueUrl" : {
                              "maxLength" : 2048,
                              "minLength" : 0,
                              "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*(:[0-9]{1,5})?/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
                            },
                            "isPlaceHolderNeeded" : { },
                            "customActionId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "context" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "tickets", "contacts", "accounts", "tasks", "products", "events", "calls", "departments", "agents", "teams", null ]
                            },
                            "hooks" : {
                              "uniqueItems" : false,
                              "items" : {
                                "maxProperties" : 2,
                                "minProperties" : 2,
                                "required" : [ "event", "preRequisites" ],
                                "properties" : {
                                  "preRequisites" : {
                                    "additionalProperties" : false
                                  },
                                  "event" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "ON_ENTRY", "ON_TYPE", "AFTER_SELECTION", "ON_BEFORE_LOAD" ]
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "value" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "inputFieldId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "isMandatory" : { }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "apiName", "children", "customAction", "dependencies", "disabledReasons", "mappedBy", "mappedTime", "mappingId", "placeHolders", "ruleId", "ruleType", "status" ],
                    "properties" : {
                      "mappingId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "placeHolders" : {
                        "items" : {
                          "required" : [ "displayName", "length", "placeHolder", "type" ],
                          "properties" : {
                            "displayName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "length" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "BOOLEAN", "ARRAY", "OBJECT", "LOOKUP", "TEXT", "EMAIL" ]
                            },
                            "placeHolder" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "customAction" : {
                        "required" : [ "apiName", "customActionId", "customActionName", "definedBy", "extensionId", "targetId" ],
                        "properties" : {
                          "customActionId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "apiName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "targetId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "customActionName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "definedBy" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "SYSTEM", "USER_DEFINED", "EXTENSION_DEFINED" ]
                          },
                          "extensionId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "apiName" : {
                        "maxLength" : 200,
                        "minLength" : 0
                      },
                      "mappedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "children" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "ruleType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "WorkFlow" ]
                      },
                      "disabledReasons" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "MANDATORY_INPUT_FIELD_ADDED", "INPUT_FIELD_REMOVED", "INPUT_FIELD_TYPE_CHANGED", "VALUE_REMOVED_FROM_INPUT_FIELD", "OUTPUT_FIELD_REMOVED", "OUTPUT_FIELD_TYPE_CHANGED", "PLACEHOLDER_REMOVED", "DEPENDING_CUSTOM_ACTION_DISABLED", "DEPENDING_CUSTOM_ACTION_DELETED" ]
                        }
                      },
                      "ruleId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "dependencies" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxProperties" : 2,
                          "minProperties" : 2,
                          "required" : [ "dependentId", "status" ],
                          "properties" : {
                            "dependentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "ACTIVE", "DISABLED" ]
                            }
                          },
                          "additionalProperties" : { }
                        }
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "ACTIVE", "DISABLED" ]
                      },
                      "mappedBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "mappingId" : "31138000013158031",
                      "placeHolders" : [ {
                        "displayName" : null,
                        "length" : "0",
                        "type" : null,
                        "placeHolder" : "${deskPlaceHolders.tickets.id}"
                      } ],
                      "mappingName" : "Tag",
                      "apiName" : "tag",
                      "disabledReasons" : [ ],
                      "dependencies" : [ ],
                      "outputFields" : [ ],
                      "customActionId" : "31138000013150044",
                      "customAction" : {
                        "customActionId" : "31138000013150044",
                        "apiName" : "dissociate_tags_for_tickets",
                        "targetId" : "31138000013150032",
                        "customActionName" : "Dissociate Tags for tickets",
                        "definedBy" : "SYSTEM",
                        "extensionId" : null
                      },
                      "mappedTime" : 1629289364000,
                      "children" : [ ],
                      "ruleType" : null,
                      "ruleId" : null,
                      "fields" : [ {
                        "mappingTargetTemplateName" : "tagsArray",
                        "apiName" : "tags",
                        "displayName" : "Tags",
                        "values" : null,
                        "length" : "500",
                        "valueUrl" : "https://deskplus1.zoho.com/api/v1/defaults/valueUrl?orgId=54983163",
                        "type" : "ARRAY",
                        "customActionId" : "31138000013150044",
                        "context" : null,
                        "hooks" : [ {
                          "preRequisites" : { },
                          "event" : "ON_ENTRY"
                        }, {
                          "preRequisites" : { },
                          "event" : "ON_TYPE"
                        } ],
                        "value" : [ "samplete", "sampl" ],
                        "inputFieldId" : "31138000013150046",
                        "isMandatory" : true
                      }, {
                        "mappingTargetTemplateName" : "ticketId",
                        "apiName" : "ticket_id",
                        "displayName" : "Ticket Id",
                        "values" : null,
                        "length" : "200",
                        "valueUrl" : "https://deskplus1.zoho.com/api/v1/defaults/valueUrl?orgId=54983163",
                        "type" : "LOOKUP",
                        "customActionId" : "31138000013150044",
                        "context" : "tickets",
                        "hooks" : [ {
                          "preRequisites" : { },
                          "event" : "ON_BEFORE_LOAD"
                        }, {
                          "preRequisites" : { },
                          "event" : "ON_ENTRY"
                        }, {
                          "preRequisites" : { },
                          "event" : "ON_TYPE"
                        } ],
                        "value" : "${deskPlaceHolders.tickets.id}",
                        "inputFieldId" : "31138000013150045",
                        "isMandatory" : true
                      } ],
                      "status" : "ACTIVE",
                      "mappedBy" : "31138000000107033"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "1126d5b87a6d3a7768d87a01ee5a458c",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.desk.customactionsmapping.core.CustomActionRuleMappingService.getSingleCustomActionMapping"
        }
      },
      "put" : {
        "tags" : [ "CustomActionRuleMapping" ],
        "summary" : "Update Custom Action Mapping",
        "description" : "Update a custom action mapping",
        "operationId" : "updateCustomActionMappings",
        "parameters" : [ {
          "name" : "customActionMappingId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "outputFields" : {
                    "items" : {
                      "required" : [ "apiName", "context", "customActionId", "displayName", "jsonPointerPath", "length", "type" ],
                      "properties" : {
                        "jsonPointerPath" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        },
                        "customActionId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "The custom action Id to be associated",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "apiName" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        },
                        "displayName" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        },
                        "context" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "tickets", "contacts", "accounts", "tasks", "products", "events", "calls", "departments", "agents", "teams" ]
                        },
                        "length" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "customActionId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "The custom action Id to be associated",
                    "format" : "int64"
                  },
                  "mappingName" : {
                    "maxLength" : 200,
                    "minLength" : 0,
                    "description" : "Mapping Name"
                  },
                  "fields" : {
                    "items" : {
                      "required" : [ "apiName", "context", "customActionId", "displayName", "hooks", "isMandatory", "isPlaceHolderNeeded", "length", "mappingTargetTemplateName", "type", "value", "valueUrl", "values" ],
                      "properties" : {
                        "mappingTargetTemplateName" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        },
                        "apiName" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        },
                        "displayName" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        },
                        "values" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "prompt", "value" ],
                            "properties" : {
                              "prompt" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "value" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "length" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                        },
                        "valueUrl" : {
                          "maxLength" : 2048,
                          "minLength" : 0,
                          "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*(:[0-9]{1,5})?/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
                        },
                        "isPlaceHolderNeeded" : { },
                        "customActionId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "The custom action Id to be associated",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "context" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "tickets", "contacts", "accounts", "tasks", "products", "events", "calls", "departments", "agents", "teams" ]
                        },
                        "hooks" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "event", "preRequisites" ],
                            "properties" : {
                              "preRequisites" : {
                                "additionalProperties" : false
                              },
                              "event" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ON_ENTRY", "ON_TYPE", "AFTER_SELECTION", "ON_BEFORE_LOAD" ]
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "value" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "isMandatory" : { }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "parents" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "outputFields" : [ ],
                    "customActionId" : "31138000013150044",
                    "mappingName" : "Remove Tag ",
                    "fields" : [ {
                      "mappingTargetTemplateName" : "ticketId",
                      "customActionId" : "31138000013150044",
                      "apiName" : "ticket_id",
                      "displayName" : "Ticket Id",
                      "length" : "200",
                      "context" : "tickets",
                      "type" : "LOOKUP",
                      "valueUrl" : "https://deskplus1.zoho.com/api/v1/defaults/valueUrl?orgId=54983163",
                      "value" : "${deskPlaceHolders.tickets.id}",
                      "hooks" : [ {
                        "preRequisites" : { },
                        "event" : "ON_BEFORE_LOAD"
                      }, {
                        "preRequisites" : { },
                        "event" : "ON_ENTRY"
                      }, {
                        "preRequisites" : { },
                        "event" : "ON_TYPE"
                      } ],
                      "isMandatory" : true
                    }, {
                      "mappingTargetTemplateName" : "tagsArray",
                      "customActionId" : "31138000013150044",
                      "apiName" : "tags",
                      "displayName" : "Tags",
                      "length" : "500",
                      "type" : "ARRAY",
                      "valueUrl" : "https://deskplus1.zoho.com/api/v1/defaults/valueUrl?orgId=54983163",
                      "value" : [ "samplete", "sampl" ],
                      "hooks" : [ {
                        "preRequisites" : { },
                        "event" : "ON_ENTRY"
                      }, {
                        "preRequisites" : { },
                        "event" : "ON_TYPE"
                      } ],
                      "isMandatory" : true
                    } ],
                    "parents" : [ ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getMappingResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "customActionId", "fields", "mappingName", "outputFields" ],
                    "properties" : {
                      "outputFields" : {
                        "items" : {
                          "required" : [ "apiName", "customActionId", "displayName", "jsonPointerPath", "length", "outputFieldId", "type", "usedInputFields", "version", "versionHash" ],
                          "properties" : {
                            "outputFieldId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "customActionId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "jsonPointerPath" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "apiName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "displayName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "length" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "usedInputFields" : {
                              "uniqueItems" : false,
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "versionHash" : {
                              "maxLength" : 1000,
                              "minLength" : 0
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                            },
                            "version" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "customActionId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "mappingName" : {
                        "maxLength" : 200,
                        "minLength" : 0
                      },
                      "fields" : {
                        "items" : {
                          "required" : [ "apiName", "context", "customActionId", "displayName", "hooks", "inputFieldId", "isMandatory", "isPlaceHolderNeeded", "length", "mappingTargetTemplateName", "type", "value", "valueUrl", "values" ],
                          "properties" : {
                            "mappingTargetTemplateName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "apiName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "displayName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "values" : {
                              "uniqueItems" : false,
                              "items" : {
                                "maxProperties" : 2,
                                "minProperties" : 2,
                                "required" : [ "prompt", "value" ],
                                "properties" : {
                                  "prompt" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "value" : {
                                    "maxLength" : 500,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "length" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                            },
                            "valueUrl" : {
                              "maxLength" : 2048,
                              "minLength" : 0,
                              "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*(:[0-9]{1,5})?/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
                            },
                            "isPlaceHolderNeeded" : { },
                            "customActionId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "context" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "tickets", "contacts", "accounts", "tasks", "products", "events", "calls", "departments", "agents", "teams", null ]
                            },
                            "hooks" : {
                              "uniqueItems" : false,
                              "items" : {
                                "maxProperties" : 2,
                                "minProperties" : 2,
                                "required" : [ "event", "preRequisites" ],
                                "properties" : {
                                  "preRequisites" : {
                                    "additionalProperties" : false
                                  },
                                  "event" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "ON_ENTRY", "ON_TYPE", "AFTER_SELECTION", "ON_BEFORE_LOAD" ]
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "value" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "inputFieldId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "isMandatory" : { }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "apiName", "children", "customAction", "dependencies", "disabledReasons", "mappedBy", "mappedTime", "mappingId", "placeHolders", "ruleId", "ruleType", "status" ],
                    "properties" : {
                      "mappingId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "placeHolders" : {
                        "items" : {
                          "required" : [ "displayName", "length", "placeHolder", "type" ],
                          "properties" : {
                            "displayName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "length" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "BOOLEAN", "ARRAY", "OBJECT", "LOOKUP", "TEXT", "EMAIL" ]
                            },
                            "placeHolder" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "customAction" : {
                        "required" : [ "apiName", "customActionId", "customActionName", "definedBy", "extensionId", "targetId" ],
                        "properties" : {
                          "customActionId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "apiName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "targetId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "customActionName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "definedBy" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "SYSTEM", "USER_DEFINED", "EXTENSION_DEFINED" ]
                          },
                          "extensionId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "apiName" : {
                        "maxLength" : 200,
                        "minLength" : 0
                      },
                      "mappedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "children" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "ruleType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "WorkFlow" ]
                      },
                      "disabledReasons" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "MANDATORY_INPUT_FIELD_ADDED", "INPUT_FIELD_REMOVED", "INPUT_FIELD_TYPE_CHANGED", "VALUE_REMOVED_FROM_INPUT_FIELD", "OUTPUT_FIELD_REMOVED", "OUTPUT_FIELD_TYPE_CHANGED", "PLACEHOLDER_REMOVED", "DEPENDING_CUSTOM_ACTION_DISABLED", "DEPENDING_CUSTOM_ACTION_DELETED" ]
                        }
                      },
                      "ruleId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "dependencies" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxProperties" : 2,
                          "minProperties" : 2,
                          "required" : [ "dependentId", "status" ],
                          "properties" : {
                            "dependentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "ACTIVE", "DISABLED" ]
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "ACTIVE", "DISABLED" ]
                      },
                      "mappedBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "mappingId" : "31138000013158031",
                      "placeHolders" : [ {
                        "displayName" : null,
                        "length" : "0",
                        "type" : null,
                        "placeHolder" : "${deskPlaceHolders.tickets.id}"
                      } ],
                      "mappingName" : "Tag",
                      "apiName" : "tag",
                      "disabledReasons" : [ ],
                      "dependencies" : [ ],
                      "outputFields" : [ ],
                      "customActionId" : "31138000013150044",
                      "customAction" : {
                        "customActionId" : "31138000013150044",
                        "apiName" : "dissociate_tags_for_tickets",
                        "targetId" : "31138000013150032",
                        "customActionName" : "Dissociate Tags for tickets",
                        "definedBy" : "SYSTEM",
                        "extensionId" : null
                      },
                      "mappedTime" : 1629289364000,
                      "children" : [ ],
                      "ruleType" : null,
                      "ruleId" : null,
                      "fields" : [ {
                        "mappingTargetTemplateName" : "tagsArray",
                        "apiName" : "tags",
                        "displayName" : "Tags",
                        "values" : null,
                        "length" : "500",
                        "valueUrl" : "https://deskplus1.zoho.com/api/v1/defaults/valueUrl?orgId=54983163",
                        "type" : "ARRAY",
                        "customActionId" : "31138000013150044",
                        "context" : null,
                        "hooks" : [ {
                          "preRequisites" : { },
                          "event" : "ON_ENTRY"
                        }, {
                          "preRequisites" : { },
                          "event" : "ON_TYPE"
                        } ],
                        "value" : [ "samplete", "sampl" ],
                        "inputFieldId" : "31138000013150046",
                        "isMandatory" : true
                      }, {
                        "mappingTargetTemplateName" : "ticketId",
                        "apiName" : "ticket_id",
                        "displayName" : "Ticket Id",
                        "values" : null,
                        "length" : "200",
                        "valueUrl" : "https://deskplus1.zoho.com/api/v1/defaults/valueUrl?orgId=54983163",
                        "type" : "LOOKUP",
                        "customActionId" : "31138000013150044",
                        "context" : "tickets",
                        "hooks" : [ {
                          "preRequisites" : { },
                          "event" : "ON_BEFORE_LOAD"
                        }, {
                          "preRequisites" : { },
                          "event" : "ON_ENTRY"
                        }, {
                          "preRequisites" : { },
                          "event" : "ON_TYPE"
                        } ],
                        "value" : "${deskPlaceHolders.tickets.id}",
                        "inputFieldId" : "31138000013150045",
                        "isMandatory" : true
                      } ],
                      "status" : "ACTIVE",
                      "mappedBy" : "31138000000107033"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 20,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "f0fef51b0ada9b3e7fdc820f7b78a0ac",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.desk.customactionsmapping.core.CustomActionRuleMappingService.updateSingleCustomAction"
        }
      },
      "delete" : {
        "tags" : [ "CustomActionRuleMapping" ],
        "summary" : "Delete Custom Action Mapping",
        "description" : "Delete a custom action mapping from your helpdesk",
        "operationId" : "deleteCustomActionMappings",
        "parameters" : [ {
          "name" : "customActionMappingId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 40,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "8c55b68e73da4c8d71b4ce0faeee416e",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.desk.customactionsmapping.core.CustomActionRuleMappingService.deleteSingleCustomActionRuleMapping"
        }
      }
    },
    "/api/v1/rules/{ruleId}/actionMappings" : {
      "get" : {
        "tags" : [ "CustomActionRuleMapping" ],
        "summary" : "Get All associated Custom Actions",
        "description" : "This API retrieves all the custom actions associated to a rule in order",
        "operationId" : "getAssociatedMappings",
        "parameters" : [ {
          "name" : "ruleId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "ruleMappingList template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "additionalProperties" : { },
                        "allOf" : [ {
                          "required" : [ "apiName", "children", "customActionId", "disabledReasons", "mappingId", "mappingName", "ruleId" ],
                          "properties" : {
                            "mappingId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "customActionId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "mappingName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "apiName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "children" : {
                              "uniqueItems" : false,
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "disabledReasons" : {
                              "uniqueItems" : false,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "MANDATORY_INPUT_FIELD_ADDED", "INPUT_FIELD_REMOVED", "INPUT_FIELD_TYPE_CHANGED", "VALUE_REMOVED_FROM_INPUT_FIELD", "OUTPUT_FIELD_REMOVED", "OUTPUT_FIELD_TYPE_CHANGED", "PLACEHOLDER_REMOVED", "DEPENDING_CUSTOM_ACTION_DISABLED", "DEPENDING_CUSTOM_ACTION_DELETED" ]
                              }
                            },
                            "ruleId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "status" ],
                          "properties" : {
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "ACTIVE", "DISABLED" ]
                            }
                          }
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "mappingId" : "31138000013158019",
                        "customActionId" : "31138000013150006",
                        "mappingName" : "SPam ticket",
                        "apiName" : "spam_ticket",
                        "children" : [ ],
                        "disabledReasons" : [ ],
                        "ruleId" : "31138000012961055",
                        "status" : "ACTIVE"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 40,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "e3f9f318acc0bf9332519ea52ea44965",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.desk.customactionsmapping.core.CustomActionRuleMappingService.getCustomActionsToARule"
        }
      },
      "put" : {
        "tags" : [ "CustomActionRuleMapping" ],
        "summary" : "Update CustomAction Mappings to A Rule",
        "description" : "Update custom action mappings to a rule",
        "operationId" : "associateCustomActionMappings",
        "parameters" : [ {
          "name" : "ruleId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "customActionMappingIds", "ruleType" ],
                "properties" : {
                  "customActionMappingIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "ruleType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "the rule",
                    "enum" : [ "WorkFlow" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "ruleType" : "WorkFlow",
                    "ruleMappingIds" : [ "10239293023", "19029329322" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 40,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "651e92cdd57a7ad6297e8612e7b8af09",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.desk.customactionsmapping.core.CustomActionRuleMappingService.updateCustomActionsToARule"
        }
      }
    },
    "/api/v1/customActionMappings" : {
      "post" : {
        "tags" : [ "CustomActionRuleMapping" ],
        "summary" : "Create Custom Action Mapping",
        "description" : "Create a custom action mapping",
        "operationId" : "createCustomActionMappings",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "customActionId", "mappingName" ],
                "properties" : {
                  "outputFields" : {
                    "items" : {
                      "required" : [ "apiName", "context", "customActionId", "displayName", "jsonPointerPath", "length", "type" ],
                      "properties" : {
                        "jsonPointerPath" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        },
                        "customActionId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "The custom action Id to be associated",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "apiName" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        },
                        "displayName" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        },
                        "context" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "tickets", "contacts", "accounts", "tasks", "products", "events", "calls", "departments", "agents", "teams" ]
                        },
                        "length" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "customActionId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "The custom action Id to be associated",
                    "format" : "int64"
                  },
                  "mappingName" : {
                    "maxLength" : 200,
                    "minLength" : 0,
                    "description" : "Mapping Name"
                  },
                  "fields" : {
                    "items" : {
                      "required" : [ "apiName", "context", "customActionId", "displayName", "hooks", "isMandatory", "isPlaceHolderNeeded", "length", "mappingTargetTemplateName", "type", "value", "valueUrl", "values" ],
                      "properties" : {
                        "mappingTargetTemplateName" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        },
                        "apiName" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        },
                        "displayName" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        },
                        "values" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "prompt", "value" ],
                            "properties" : {
                              "prompt" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "value" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "length" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                        },
                        "valueUrl" : {
                          "maxLength" : 2048,
                          "minLength" : 0,
                          "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*(:[0-9]{1,5})?/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
                        },
                        "isPlaceHolderNeeded" : { },
                        "customActionId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "The custom action Id to be associated",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "context" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "tickets", "contacts", "accounts", "tasks", "products", "events", "calls", "departments", "agents", "teams" ]
                        },
                        "hooks" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "event", "preRequisites" ],
                            "properties" : {
                              "preRequisites" : {
                                "additionalProperties" : false
                              },
                              "event" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ON_ENTRY", "ON_TYPE", "AFTER_SELECTION", "ON_BEFORE_LOAD" ]
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "value" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "isMandatory" : { }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "parents" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "outputFields" : [ ],
                    "customActionId" : "31138000013150044",
                    "mappingName" : "Tag",
                    "fields" : [ {
                      "mappingTargetTemplateName" : "ticketId",
                      "customActionId" : "31138000013150044",
                      "apiName" : "ticket_id",
                      "displayName" : "Ticket Id",
                      "length" : "200",
                      "context" : "tickets",
                      "type" : "LOOKUP",
                      "valueUrl" : "https://deskplus1.zoho.com/api/v1/defaults/valueUrl?orgId=54983163",
                      "value" : "${deskPlaceHolders.tickets.id}",
                      "hooks" : [ {
                        "preRequisites" : { },
                        "event" : "ON_BEFORE_LOAD"
                      }, {
                        "preRequisites" : { },
                        "event" : "ON_ENTRY"
                      }, {
                        "preRequisites" : { },
                        "event" : "ON_TYPE"
                      } ],
                      "isMandatory" : true
                    }, {
                      "mappingTargetTemplateName" : "tagsArray",
                      "customActionId" : "31138000013150044",
                      "apiName" : "tags",
                      "displayName" : "Tags",
                      "length" : "500",
                      "type" : "ARRAY",
                      "valueUrl" : "https://deskplus1.zoho.com/api/v1/defaults/valueUrl?orgId=54983163",
                      "value" : [ "samplete", "sampl" ],
                      "hooks" : [ {
                        "preRequisites" : { },
                        "event" : "ON_ENTRY"
                      }, {
                        "preRequisites" : { },
                        "event" : "ON_TYPE"
                      } ],
                      "isMandatory" : true
                    } ],
                    "parents" : [ ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getMappingResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "customActionId", "fields", "mappingName", "outputFields" ],
                    "properties" : {
                      "outputFields" : {
                        "items" : {
                          "required" : [ "apiName", "customActionId", "displayName", "jsonPointerPath", "length", "outputFieldId", "type", "usedInputFields", "version", "versionHash" ],
                          "properties" : {
                            "outputFieldId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "customActionId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "jsonPointerPath" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "apiName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "displayName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "length" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "usedInputFields" : {
                              "uniqueItems" : false,
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "versionHash" : {
                              "maxLength" : 1000,
                              "minLength" : 0
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                            },
                            "version" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "customActionId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "mappingName" : {
                        "maxLength" : 200,
                        "minLength" : 0
                      },
                      "fields" : {
                        "items" : {
                          "required" : [ "apiName", "context", "customActionId", "displayName", "hooks", "inputFieldId", "isMandatory", "isPlaceHolderNeeded", "length", "mappingTargetTemplateName", "type", "value", "valueUrl", "values" ],
                          "properties" : {
                            "mappingTargetTemplateName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "apiName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "displayName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "values" : {
                              "uniqueItems" : false,
                              "items" : {
                                "maxProperties" : 2,
                                "minProperties" : 2,
                                "required" : [ "prompt", "value" ],
                                "properties" : {
                                  "prompt" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
[...]
