{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "DashboardMetrics",
    "version" : "1.0.0",
    "x-clan-group" : "reports",
    "x-module-group" : "reports"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/dashboards/customerHappinessMetrics" : {
      "get" : {
        "tags" : [ "DashboardMetrics" ],
        "summary" : "CustomerHappiness",
        "description" : "To get customer happiness count.",
        "operationId" : "getCustomerHappinessMetrics",
        "parameters" : [ {
          "name" : "duration",
          "in" : "query",
          "description" : "Predefined time range from which the stats must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Predefined time range from which the stats must be fetched",
            "enum" : [ "LAST_30_DAYS", "LAST_7_DAYS", "THIS_WEEK", "LAST_WEEK", "THIS_MONTH", "LAST_MONTH" ]
          }
        }, {
          "name" : "agentId",
          "in" : "query",
          "description" : "ID(s) of the agent(s) whose stats must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the agent(s) whose stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID(s) of the department(s) from which the stats must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the department(s) from which the stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "channel",
          "in" : "query",
          "description" : "Channel through which the tickets were received",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Channel through which the tickets were received",
            "x-dynamic-enum" : true
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "To get customer happiness based on user sorting option.This value can be @rating@ | @-rating@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "To get customer happiness based on user sorting option.This value can be @rating@ | @-rating@",
            "enum" : [ "-rating", "rating" ]
          }
        }, {
          "name" : "groupBy",
          "in" : "query",
          "description" : "To get customer happiness count via particular group.This value can be @date@ @channel@ @agent@ | @hour@",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "To get customer happiness count via particular group.This value can be @date@ @channel@ @agent@ | @hour@",
            "enum" : [ "date", "channel", "agent", "hour" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "customerHappinessMetrics template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "groupedBy", "happinessMetrics", "totalBadCount", "totalGoodCount", "totalOkCount" ],
                  "properties" : {
                    "totalBadCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "totalGoodCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "groupedBy" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "date", "channel", "agent", "hour" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "To get customer happiness count via particular group.This value can be @date@ @channel@ @agent@ | @hour@",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "totalOkCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "happinessMetrics" : {
                      "items" : {
                        "required" : [ "badCount", "goodCount", "okCount", "referenceValue", "value" ],
                        "properties" : {
                          "badCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "goodCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "value" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "okCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "referenceValue" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(null|^$|NULL|[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+)"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "totalBadCount" : "20",
                      "totalGoodCount" : "20",
                      "groupedBy" : "agent",
                      "totalOkCount" : "20",
                      "happinessMetrics" : [ {
                        "badCount" : "12",
                        "goodCount" : "12",
                        "value" : "Jhon",
                        "okCount" : "12",
                        "referenceValue" : "123123213"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "823aa6b1f608d84560cd55bf8767381b",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.DashboardService.getCustomerHappinessRating"
        }
      }
    },
    "/api/v1/dashboards/onholdTickets" : {
      "get" : {
        "tags" : [ "DashboardMetrics" ],
        "summary" : "Get on hold tickets count",
        "description" : "This API fetches the number of tickets that are in the on hold status.",
        "operationId" : "getOnholdTickets",
        "parameters" : [ {
          "name" : "duration",
          "in" : "query",
          "description" : "Predefined time range from which the stats must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Predefined time range from which the stats must be fetched",
            "enum" : [ "LAST_30_DAYS", "LAST_7_DAYS", "THIS_WEEK", "LAST_WEEK", "THIS_MONTH", "LAST_MONTH" ]
          }
        }, {
          "name" : "agentId",
          "in" : "query",
          "description" : "ID(s) of the agent(s) whose stats must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the agent(s) whose stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID(s) of the department(s) from which the stats must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the department(s) from which the stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "Key that defines the sorting order for the data in the response. TRUE sets ascending order of sorting and FALSE sets descending order of sorting. This key is applicable only if the data is also grouped by agent.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that defines the sorting order for the data in the response. TRUE sets ascending order of sorting and FALSE sets descending order of sorting. This key is applicable only if the data is also grouped by agent.",
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "teamId",
          "in" : "query",
          "description" : "ID(s) of the team(s) from which the stats must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the team(s) from which the stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "channel",
          "in" : "query",
          "description" : "Channel through which the tickets were received",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Channel through which the tickets were received",
            "x-dynamic-enum" : true
          }
        }, {
          "name" : "groupBy",
          "in" : "query",
          "description" : "To get customer happiness count via particular group.This value can be @date@ @channel@ @agent@ | @hour@",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "To get customer happiness count via particular group.This value can be @date@ @channel@ @agent@ | @hour@",
            "enum" : [ "date", "channel", "agent", "hour" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "reopenedTickets template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "avg", "groupedBy", "ticketCount", "totalTicketCount" ],
                  "properties" : {
                    "totalTicketCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "avg" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                    },
                    "ticketCount" : {
                      "items" : {
                        "required" : [ "count", "referenceValue", "value" ],
                        "properties" : {
                          "count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "value" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "referenceValue" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "groupedBy" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "date", "channel", "agent", "hour" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Key that groups the ticket count according to a particular attribute.This value can be @date@ @channel@ @agent@ | @hour@",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "totalTicketCount" : "1",
                      "avg" : "0.1",
                      "ticketCount" : [ {
                        "count" : "0",
                        "value" : "2018-04-01",
                        "referenceValue" : null
                      }, {
                        "count" : "0",
                        "value" : "2018-04-02",
                        "referenceValue" : null
                      }, {
                        "count" : "0",
                        "value" : "2018-04-03",
                        "referenceValue" : null
                      }, {
                        "count" : "0",
                        "value" : "2018-04-04",
                        "referenceValue" : null
                      }, {
                        "count" : "0",
                        "value" : "2018-04-05",
                        "referenceValue" : null
                      }, {
                        "count" : "1",
                        "value" : "2018-04-06",
                        "referenceValue" : null
                      }, {
                        "count" : "0",
                        "value" : "2018-04-07",
                        "referenceValue" : null
                      } ],
                      "groupedBy" : "date"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "83118c7c39978027366caec72eaff041",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.DashboardService.getOnholdTickets"
        }
      }
    },
    "/api/v1/dashboards/solvedTickets" : {
      "get" : {
        "tags" : [ "DashboardMetrics" ],
        "summary" : "Get closed tickets count",
        "description" : "This API fetches the number of tickets that are resolved.",
        "operationId" : "getSolvedTickets",
        "parameters" : [ {
          "name" : "duration",
          "in" : "query",
          "description" : "Predefined time range from which the stats must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Predefined time range from which the stats must be fetched",
            "enum" : [ "LAST_30_DAYS", "LAST_7_DAYS", "THIS_WEEK", "LAST_WEEK", "THIS_MONTH", "LAST_MONTH" ]
          }
        }, {
          "name" : "agentId",
          "in" : "query",
          "description" : "ID(s) of the agent(s) whose stats must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the agent(s) whose stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID(s) of the department(s) from which the stats must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the department(s) from which the stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "Key that defines the sorting order for the data in the response. TRUE sets ascending order of sorting and FALSE sets descending order of sorting. This key is applicable only if the data is also grouped by agent.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that defines the sorting order for the data in the response. TRUE sets ascending order of sorting and FALSE sets descending order of sorting. This key is applicable only if the data is also grouped by agent.",
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "teamId",
          "in" : "query",
          "description" : "ID(s) of the team(s) from which the stats must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the team(s) from which the stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "channel",
          "in" : "query",
          "description" : "Channel through which the tickets were received",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Channel through which the tickets were received",
            "x-dynamic-enum" : true
          }
        }, {
          "name" : "groupBy",
          "in" : "query",
          "description" : "To get customer happiness count via particular group.This value can be @date@ @channel@ @agent@ | @hour@",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "To get customer happiness count via particular group.This value can be @date@ @channel@ @agent@ | @hour@",
            "enum" : [ "date", "channel", "agent", "hour" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "reopenedTickets template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "avg", "groupedBy", "ticketCount", "totalTicketCount" ],
                  "properties" : {
                    "totalTicketCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "avg" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                    },
                    "ticketCount" : {
                      "items" : {
                        "required" : [ "count", "referenceValue", "value" ],
                        "properties" : {
                          "count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "value" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "referenceValue" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "groupedBy" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "date", "channel", "agent", "hour" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Key that groups the ticket count according to a particular attribute.This value can be @date@ @channel@ @agent@ | @hour@",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "totalTicketCount" : "1",
                      "avg" : "0.1",
                      "ticketCount" : [ {
                        "count" : "0",
                        "value" : "2018-04-01",
                        "referenceValue" : null
                      }, {
                        "count" : "0",
                        "value" : "2018-04-02",
                        "referenceValue" : null
                      }, {
                        "count" : "0",
                        "value" : "2018-04-03",
                        "referenceValue" : null
                      }, {
                        "count" : "0",
                        "value" : "2018-04-04",
                        "referenceValue" : null
                      }, {
                        "count" : "0",
                        "value" : "2018-04-05",
                        "referenceValue" : null
                      }, {
                        "count" : "1",
                        "value" : "2018-04-06",
                        "referenceValue" : null
                      }, {
                        "count" : "0",
                        "value" : "2018-04-07",
                        "referenceValue" : null
                      } ],
                      "groupedBy" : "date"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "f55e807bb9c8657ee5633e831af41a20",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.DashboardService.getSolvedTickets"
        }
      }
    },
    "/api/v1/dashboards/ziaFieldValuePredictionMetrics" : {
      "get" : {
        "tags" : [ "DashboardMetrics" ],
        "summary" : "Field Value Prediction Metrics",
        "description" : "To get ZIA Field Value Prediction Metrics",
        "operationId" : "getInferenceValueMetrics",
        "parameters" : [ {
          "name" : "duration",
          "in" : "query",
          "description" : "Predefined time range from which the stats must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Predefined time range from which the stats must be fetched",
            "enum" : [ "LAST_30_DAYS", "LAST_7_DAYS", "THIS_WEEK", "LAST_WEEK", "THIS_MONTH", "LAST_MONTH" ]
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID(s) of the department(s) from which the stats must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the department(s) from which the stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "predictionId",
          "in" : "query",
          "description" : "ID of Prediction for which the stats must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of Prediction for which the stats must be fetched",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "inferenceValueMetric template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "fieldValuePredictionMetrics", "groupedBy", "totalPredictionOccurrences" ],
                  "properties" : {
                    "fieldValuePredictionMetrics" : {
                      "items" : {
                        "required" : [ "predictedFieldValue", "referenceValue", "totalFieldValuePredictionOccurences" ],
                        "properties" : {
                          "totalFieldValuePredictionOccurences" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "predictedFieldValue" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "referenceValue" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(null|^$|NULL|[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+)"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "groupedBy" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "totalPredictionOccurrences" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "fieldValuePredictionMetrics" : [ {
                        "predictedValue" : "High",
                        "predictionOccurences" : "2",
                        "referenceValue" : null
                      }, {
                        "predictedValue" : "Low",
                        "predictionOccurences" : "0",
                        "referenceValue" : null
                      }, {
                        "predictedValue" : "Medium",
                        "predictionOccurences" : "1",
                        "referenceValue" : null
                      } ],
                      "totalPredictionOccurrences" : "3"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "zia",
          "apihash" : "c3d11b233e434e0b0cc643d794bcff1b",
          "module-group" : "zia",
          "apimethod" : "com.zoho.support.restapi.DashboardService.getZiaInferenceValueMetrics"
        }
      }
    },
    "/api/v1/dashboards/ticketByStatus" : {
      "get" : {
        "tags" : [ "DashboardMetrics" ],
        "summary" : "TicketsByStatus",
        "description" : "To get created tickets by status.",
        "operationId" : "getTicketByStatus",
        "parameters" : [ {
          "name" : "duration",
          "in" : "query",
          "description" : "Predefined time range from which the stats must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Predefined time range from which the stats must be fetched",
            "enum" : [ "LAST_30_DAYS", "LAST_7_DAYS", "THIS_WEEK", "LAST_WEEK", "THIS_MONTH", "LAST_MONTH" ]
          }
        }, {
          "name" : "agentId",
          "in" : "query",
          "description" : "ID(s) of the agent(s) whose stats must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the agent(s) whose stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID(s) of the department(s) from which the stats must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the department(s) from which the stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "Key that defines the sorting order for the data in the response. TRUE sets ascending order of sorting and FALSE sets descending order of sorting. This key is applicable only if the data is also grouped by agent.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that defines the sorting order for the data in the response. TRUE sets ascending order of sorting and FALSE sets descending order of sorting. This key is applicable only if the data is also grouped by agent."
          }
        }, {
          "name" : "teamId",
          "in" : "query",
          "description" : "ID(s) of the team(s) from which the stats must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the team(s) from which the stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "channel",
          "in" : "query",
          "description" : "Channel through which the tickets were received",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Channel through which the tickets were received",
            "x-dynamic-enum" : true
          }
        }, {
          "name" : "groupBy",
          "in" : "query",
          "description" : "To get customer happiness count via particular group.This value can be @date@ @channel@ @agent@ | @hour@",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "To get customer happiness count via particular group.This value can be @date@ @channel@ @agent@ | @hour@",
            "enum" : [ "date", "channel", "agent", "hour" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "ticketByStatus template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "groupedBy", "ticketCount", "totalTicketCount" ],
                  "properties" : {
                    "totalTicketCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "ticketCount" : {
                      "items" : {
                        "required" : [ "statusInfo", "value" ],
                        "properties" : {
                          "statusInfo" : {
                            "items" : {
                              "required" : [ "count", "status", "statusMapping" ],
                              "properties" : {
                                "statusMapping" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "Open", "Closed", "On Hold" ]
                                },
                                "count" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "status" : {
                                  "x-dynamic-enum" : true
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "value" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "groupedBy" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "date", "channel", "agent", "hour" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "To get created tickets count via particular group.This value can be @date@ @channel@ @agent@ | @hour@",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "totalTicketCount" : 5,
                      "ticketCount" : [ {
                        "statusInfo" : [ {
                          "statusMapping" : "Open",
                          "count" : 2,
                          "status" : "open"
                        } ],
                        "value" : "2018-04-02"
                      }, {
                        "statusInfo" : [ {
                          "statusMapping" : "Onhold",
                          "count" : 2,
                          "status" : "onhold"
                        } ],
                        "value" : "2018-04-03"
                      }, {
                        "statusInfo" : [ {
                          "statusMapping" : "Closed",
                          "count" : 1,
                          "status" : "closed"
                        } ],
                        "value" : "2018-04-04"
                      }, {
                        "statusInfo" : [ ],
                        "value" : "2018-04-05"
                      }, {
                        "statusInfo" : [ ],
                        "value" : "2018-04-06"
                      }, {
                        "statusInfo" : [ ],
                        "value" : "2018-04-07"
                      }, {
                        "statusInfo" : [ ],
                        "value" : "2018-04-08"
                      } ],
                      "groupedBy" : "date"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "7c6843e99364d9c72093798c9684d5f3",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.DashboardService.getTicketByStatus"
        }
      }
    },
    "/api/v1/dashboards/backlogTickets" : {
      "get" : {
        "tags" : [ "DashboardMetrics" ],
        "summary" : "Get unresolved tickets count",
        "description" : "This API fetches the number of tickets that have remained unresolved over a particular period.",
        "operationId" : "getBacklogTickets",
        "parameters" : [ {
          "name" : "duration",
          "in" : "query",
          "description" : "Predefined time range from which the stats must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Predefined time range from which the stats must be fetched",
            "enum" : [ "LAST_30_DAYS", "LAST_7_DAYS", "THIS_WEEK", "LAST_WEEK", "THIS_MONTH", "LAST_MONTH" ]
          }
        }, {
          "name" : "agentId",
          "in" : "query",
          "description" : "ID(s) of the agent(s) whose stats must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the agent(s) whose stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID(s) of the department(s) from which the stats must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the department(s) from which the stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "channel",
          "in" : "query",
          "description" : "Channel through which the tickets were received",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Channel through which the tickets were received",
            "x-dynamic-enum" : true
          }
        }, {
          "name" : "groupBy",
          "in" : "query",
          "description" : "Key that groups the ticket count according to a particular attribute.This value can be @date@ @channel@ @agent@",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Key that groups the ticket count according to a particular attribute.This value can be @date@ @channel@ @agent@",
            "enum" : [ "date", "channel", "agent" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "reopenedTickets template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "avg", "groupedBy", "ticketCount", "totalTicketCount" ],
                  "properties" : {
                    "totalTicketCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "avg" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                    },
                    "ticketCount" : {
                      "items" : {
                        "required" : [ "count", "referenceValue", "value" ],
                        "properties" : {
                          "count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "value" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "referenceValue" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "groupedBy" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "date", "channel", "agent", "hour" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Key that groups the ticket count according to a particular attribute.This value can be @date@ @channel@ @agent@ | @hour@",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "totalTicketCount" : "1",
                      "avg" : "0.1",
                      "ticketCount" : [ {
                        "count" : "0",
                        "value" : "2018-04-01",
                        "referenceValue" : null
                      }, {
                        "count" : "0",
                        "value" : "2018-04-02",
                        "referenceValue" : null
                      }, {
                        "count" : "0",
                        "value" : "2018-04-03",
                        "referenceValue" : null
                      }, {
                        "count" : "0",
                        "value" : "2018-04-04",
                        "referenceValue" : null
                      }, {
                        "count" : "0",
                        "value" : "2018-04-05",
                        "referenceValue" : null
                      }, {
                        "count" : "1",
                        "value" : "2018-04-06",
                        "referenceValue" : null
                      }, {
                        "count" : "0",
                        "value" : "2018-04-07",
                        "referenceValue" : null
                      } ],
                      "groupedBy" : "date"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "484c12a3178f978eda356e393b1d5fad",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.DashboardService.getBacklogTickets"
        }
      }
    },
    "/api/v1/dashboards/reopenedTickets" : {
      "get" : {
        "tags" : [ "DashboardMetrics" ],
        "summary" : "Get reopened tickets count",
        "description" : "This API fetches the number of tickets that were reopened in your help desk portal.",
        "operationId" : "getReopenedTickets",
        "parameters" : [ {
          "name" : "duration",
          "in" : "query",
          "description" : "Predefined time range from which the stats must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Predefined time range from which the stats must be fetched",
            "enum" : [ "LAST_30_DAYS", "LAST_7_DAYS", "THIS_WEEK", "LAST_WEEK", "THIS_MONTH", "LAST_MONTH" ]
          }
        }, {
          "name" : "agentId",
          "in" : "query",
          "description" : "ID(s) of the agent(s) whose stats must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the agent(s) whose stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID(s) of the department(s) from which the stats must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the department(s) from which the stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "Key that defines the sorting order for the data in the response. TRUE sets ascending order of sorting and FALSE sets descending order of sorting. This key is applicable only if the data is also grouped by agent.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that defines the sorting order for the data in the response. TRUE sets ascending order of sorting and FALSE sets descending order of sorting. This key is applicable only if the data is also grouped by agent.",
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "teamId",
          "in" : "query",
          "description" : "ID(s) of the team(s) from which the stats must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the team(s) from which the stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "channel",
          "in" : "query",
          "description" : "Channel through which the tickets were received",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Channel through which the tickets were received",
            "x-dynamic-enum" : true
          }
        }, {
          "name" : "groupBy",
          "in" : "query",
          "description" : "To get customer happiness count via particular group.This value can be @date@ @channel@ @agent@ | @hour@",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "To get customer happiness count via particular group.This value can be @date@ @channel@ @agent@ | @hour@",
            "enum" : [ "date", "channel", "agent", "hour" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "reopenedTickets template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "avg", "groupedBy", "ticketCount", "totalTicketCount" ],
                  "properties" : {
                    "totalTicketCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "avg" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                    },
                    "ticketCount" : {
                      "items" : {
                        "required" : [ "count", "referenceValue", "value" ],
                        "properties" : {
                          "count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "value" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "referenceValue" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "groupedBy" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "date", "channel", "agent", "hour" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Key that groups the ticket count according to a particular attribute.This value can be @date@ @channel@ @agent@ | @hour@",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "totalTicketCount" : "1",
                      "avg" : "0.1",
                      "ticketCount" : [ {
                        "count" : "0",
                        "value" : "2018-04-01",
                        "referenceValue" : null
                      }, {
                        "count" : "0",
                        "value" : "2018-04-02",
                        "referenceValue" : null
                      }, {
                        "count" : "0",
                        "value" : "2018-04-03",
                        "referenceValue" : null
                      }, {
                        "count" : "0",
                        "value" : "2018-04-04",
                        "referenceValue" : null
                      }, {
                        "count" : "0",
                        "value" : "2018-04-05",
                        "referenceValue" : null
                      }, {
                        "count" : "1",
                        "value" : "2018-04-06",
                        "referenceValue" : null
                      }, {
                        "count" : "0",
                        "value" : "2018-04-07",
                        "referenceValue" : null
                      } ],
                      "groupedBy" : "date"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "317ffe5cf428f3d9a9a7064ee9164239",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.DashboardService.getReopenedTickets"
        }
      }
    },
    "/api/v1/dashboards/ziaPredictionMetrics" : {
      "get" : {
        "tags" : [ "DashboardMetrics" ],
        "summary" : "Zia Prediction Metrics",
        "description" : "To get ZIA Prediction Metrics",
        "operationId" : "getZiaInferenceMetrics",
        "parameters" : [ {
          "name" : "duration",
          "in" : "query",
          "description" : "Predefined time range from which the stats must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Predefined time range from which the stats must be fetched",
            "enum" : [ "LAST_30_DAYS", "LAST_7_DAYS", "THIS_WEEK", "LAST_WEEK", "THIS_MONTH", "LAST_MONTH" ]
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID(s) of the department(s) from which the stats must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the department(s) from which the stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "groupBy",
          "in" : "query",
          "description" : "To get customer happiness count via particular group.This value can be @date@ @channel@ @agent@ | @hour@",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "To get customer happiness count via particular group.This value can be @date@ @channel@ @agent@ | @hour@",
            "enum" : [ "date", "channel", "agent", "hour" ]
          }
        }, {
          "name" : "predictionId",
          "in" : "query",
          "description" : "ID of Prediction for which the stats must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of Prediction for which the stats must be fetched",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "inferenceMetrics template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "groupedBy", "predictionMetrics", "totalIncomingResponsesCount", "totalMissedPredictionsCount", "totalOverriddenPredictionsCount", "totalPredictionsCount" ],
                  "properties" : {
                    "totalMissedPredictionsCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "totalIncomingResponsesCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "groupedBy" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "totalOverriddenPredictionsCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "predictionMetrics" : {
                      "items" : {
                        "required" : [ "incomingResponsesCount", "missedPredictionsCount", "overriddenPredictionsCount", "predictionsCount", "referenceValue", "value" ],
                        "properties" : {
                          "overriddenPredictionsCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "missedPredictionsCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "predictionsCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "value" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "incomingResponsesCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "referenceValue" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(null|^$|NULL|[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+)"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "totalPredictionsCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "totalMissedPredictionsCount" : "1",
                      "totalIncomingResponsesCount" : "5",
                      "totalOverriddenPredictionsCount" : "1",
                      "predictionMetrics" : [ {
                        "overriddenPredictionsCount" : "0",
                        "missedPredictionsCount" : "0",
                        "predictionsCount" : "0",
                        "value" : "2022-06-29",
                        "incomingResponsesCount" : "0"
                      }, {
                        "overriddenPredictionsCount" : "0",
                        "missedPredictionsCount" : "0",
                        "predictionsCount" : "0",
                        "value" : "2022-06-30",
                        "incomingResponsesCount" : "0"
                      }, {
                        "overriddenPredictionsCount" : "0",
                        "missedPredictionsCount" : "0",
                        "predictionsCount" : "0",
                        "value" : "2022-07-01",
                        "incomingResponsesCount" : "0"
                      }, {
                        "overriddenPredictionsCount" : "0",
                        "missedPredictionsCount" : "0",
                        "predictionsCount" : "0",
                        "value" : "2022-07-02",
                        "incomingResponsesCount" : "0"
                      }, {
                        "overriddenPredictionsCount" : "0",
                        "missedPredictionsCount" : "0",
                        "predictionsCount" : "0",
                        "value" : "2022-07-03",
                        "incomingResponsesCount" : "0"
                      }, {
                        "overriddenPredictionsCount" : "0",
                        "missedPredictionsCount" : "1",
                        "predictionsCount" : "0",
                        "value" : "2022-07-04",
                        "incomingResponsesCount" : "1"
                      }, {
                        "overriddenPredictionsCount" : "1",
                        "missedPredictionsCount" : "0",
                        "predictionsCount" : "3",
                        "value" : "2022-07-05",
                        "incomingResponsesCount" : "4"
                      } ],
                      "totalPredictionsCount" : "3"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "zia",
          "apihash" : "bf982e05cad88e9f003eb53b50230b11",
          "module-group" : "zia",
          "apimethod" : "com.zoho.support.restapi.DashboardService.getZiaInferenceMetrics"
        }
      }
    },
    "/api/v1/dashboards/slaMetrics" : {
      "get" : {
        "tags" : [ "DashboardMetrics" ],
        "summary" : "SLAMetrics",
        "description" : "To get sla metrics like violationcount , successcount , breachtime, fullfilltime.Other params include - departmentId(list of department ids separated by commas.When departmentId is not given,data for all department is given),agentId(list of agent ids separated by commas.When agentId is not given,data for all agents is given),slaId(list of sla ids separated by commas.When slaId is not given,data for all sla is given),duration,startDate,endDate and channel.",
        "operationId" : "getSlaMetrics",
        "parameters" : [ {
          "name" : "duration",
          "in" : "query",
          "description" : "Predefined time range from which the stats must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Predefined time range from which the stats must be fetched",
            "enum" : [ "LAST_30_DAYS", "LAST_7_DAYS", "THIS_WEEK", "LAST_WEEK", "THIS_MONTH", "LAST_MONTH" ]
          }
        }, {
          "name" : "agentId",
          "in" : "query",
          "description" : "ID(s) of the agent(s) whose stats must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the agent(s) whose stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "slaId",
          "in" : "query",
          "description" : "list of SLA ids separated by commas.When slaid is not given,data for all sla is given",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "list of SLA ids separated by commas.When slaid is not given,data for all sla is given",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "violationType",
          "in" : "query",
          "description" : "To get sla metrics count for a particular SLA type. This value can be @FIRST_RESPONSE@ @RESPONSE@ @RESOLUTION@ @ALL@",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "To get sla metrics count for a particular SLA type. This value can be @FIRST_RESPONSE@ @RESPONSE@ @RESOLUTION@ @ALL@",
            "enum" : [ "ALL", "FIRST_RESPONSE", "RESPONSE", "RESOLUTION" ]
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID(s) of the department(s) from which the stats must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the department(s) from which the stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "teamId",
          "in" : "query",
          "description" : "ID(s) of the team(s) from which the stats must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID(s) of the team(s) from which the stats must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "channel",
          "in" : "query",
          "description" : "Channel through which the tickets were received",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Channel through which the tickets were received",
            "x-dynamic-enum" : true
          }
        }, {
          "name" : "groupBy",
          "in" : "query",
          "description" : "To get customer happiness count via particular group.This value can be @date@ @channel@ @agent@ | @hour@",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "To get customer happiness count via particular group.This value can be @date@ @channel@ @agent@ | @hour@",
            "enum" : [ "date", "channel", "agent", "hour" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
[...]
