{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "DashboardComponent",
    "version" : "1.0.0",
    "x-clan-group" : "reports",
    "x-module-group" : "reports"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/dashboards/{dbid}/components/{compid}" : {
      "get" : {
        "tags" : [ "DashboardComponent" ],
        "summary" : "GetComponent",
        "description" : "To get a component",
        "operationId" : "getComponent",
        "parameters" : [ {
          "name" : "needReportDetails",
          "in" : "query",
          "description" : "To include report details",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "To include report details"
          }
        }, {
          "name" : "compid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "dbid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "DashboardComponentResp template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "chartData", "chartType", "componentType", "dataSourceId", "galleryDetails", "id", "isDefault", "kpiWidgetDetails", "maxRows", "name", "position", "reportDetails", "style" ],
                  "properties" : {
                    "componentType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "REPORTS", "GALLERY", "CUSTOMVIEW", "EMBEDED", "KPI" ]
                    },
                    "reportDetails" : {
                      "required" : [ "reportId", "reportName", "series", "xaxis", "yaxis" ],
                      "properties" : {
                        "xaxis" : {
                          "items" : {
                            "required" : [ "displayLabel", "fieldId", "isSelected" ],
                            "properties" : {
                              "displayLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "isSelected" : { },
                              "fieldId" : {
                                "maxLength" : 250,
                                "minLength" : 1
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "reportId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "reportName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "series" : {
                          "items" : {
                            "required" : [ "displayLabel", "fieldId", "isSelected" ],
                            "properties" : {
                              "displayLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "isSelected" : { },
                              "fieldId" : {
                                "maxLength" : 250,
                                "minLength" : 1
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "yaxis" : {
                          "items" : {
                            "required" : [ "displayLabel", "fieldId", "isSelected" ],
                            "properties" : {
                              "displayLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "isSelected" : { },
                              "fieldId" : {
                                "maxLength" : 250,
                                "minLength" : 1
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "chartData" : {
                      "items" : {
                        "required" : [ "chartName", "url" ],
                        "properties" : {
                          "chartName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "url" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "galleryDetails" : {
                      "required" : [ "agentId", "departmentId", "duration", "endDate", "startDate" ],
                      "properties" : {
                        "duration" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([1-8]{1}|LAST24HOURS|TODAY|YESTERDAY|LAST_30_DAYS|LAST_7_DAYS|THIS_WEEK|LAST_WEEK|THIS_MONTH|LAST_MONTH|CUSTOM_IN_DATE|CUSTOM_IN_MILLIS|LAST_1_HOUR)"
                        },
                        "agentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "endDate" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "yyyy[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]dd|MM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]yyyy|yyyy[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]dd|MMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]yyyy|MMMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|yyyy[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]yy|MM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]yy|MMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]yy|MMMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]dd|"
                        },
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "startDate" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "yyyy[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]dd|MM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]yyyy|yyyy[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]dd|MMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]yyyy|MMMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|yyyy[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]yy|MM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]yy|MMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]yy|MMMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]dd|"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "dataSourceId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "maxRows" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "isDefault" : { },
                    "kpiWidgetDetails" : {
                      "required" : [ "label", "previousDuration", "primaryValueType", "secondaryValueType", "targetValue", "targetValueType", "type", "widgetId" ],
                      "properties" : {
                        "targetValueType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "CONSTANT", "PREVIOUS_PERIOD_VALUE" ]
                        },
                        "previousDuration" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "widgetId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "secondaryValueType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ACTUAL_VALUE", "PREV_PERIOD_VALUE", "PERCENT_OF_DIFF_FROM_PREVIOUS_VALUE", "DIFF_FROM_PREVIOUS_VALUE" ]
                        },
                        "targetValue" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                        },
                        "label" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "KPI_SINGLEVALUE", "KPI_DOUBLEVALUE", "KPI_SPEEDOMETER", "KPI_DIAL", "KPI_FULLDIAL" ]
                        },
                        "primaryValueType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ACTUAL_VALUE", "PREV_PERIOD_VALUE", "PERCENT_OF_DIFF_FROM_PREVIOUS_VALUE", "DIFF_FROM_PREVIOUS_VALUE" ]
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "chartType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "BAR", "STACKEDBAR", "PERCENTAGEBAR", "PIE", "LINE", "FUNNEL", "TABLE", "MULTIPLELINE", "MATRIX_TABLE", "KPI" ]
                    },
                    "style" : {
                      "required" : [ "height", "width", "xCoordinate", "yCoordinate" ],
                      "properties" : {
                        "xCoordinate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "yCoordinate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "width" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "height" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "position" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "componentType" : "REPORTS",
                      "reportDetails" : null,
                      "chartData" : [ {
                        "chartName" : "Sample",
                        "url" : "/api/v1/dashboards/12000000114041/components/12000003727001/getData"
                      } ],
                      "galleryDetails" : null,
                      "dataSourceId" : "12000003013011",
                      "maxRows" : "25",
                      "isDefault" : false,
                      "kpiWidgetDetails" : null,
                      "name" : "Sample",
                      "chartType" : "BAR",
                      "style" : null,
                      "id" : "12000003727001",
                      "position" : "0"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "07f60c8409d30801dd7b0f67e4661d41",
          "module-group" : "reports",
          "apimethod" : "com.adventnet.support.dashboards.gallery.service.ReportGalleryService.getComponent"
        }
      },
      "delete" : {
        "tags" : [ "DashboardComponent" ],
        "summary" : "DeleteComponent",
        "description" : "To delete a component",
        "operationId" : "deleteDashboardComponent",
        "parameters" : [ {
          "name" : "compid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "dbid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.DELETE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "4f0ddc732024dd186b20cba3a232fe37",
          "module-group" : "reports",
          "apimethod" : "com.adventnet.support.dashboards.gallery.service.ReportGalleryService.deleteDashboardComponent"
        }
      },
      "patch" : {
        "tags" : [ "DashboardComponent" ],
        "summary" : "UpdateComponent",
        "description" : "To update a component from API.",
        "operationId" : "updateDashboardComponent",
        "parameters" : [ {
          "name" : "compid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "dbid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "componentMeta" : {
                    "maxProperties" : 5,
                    "minProperties" : 5,
                    "required" : [ "cvComponent", "embededComponent", "galleryComponent", "kpiComponent", "reportComponent" ],
                    "properties" : {
                      "reportComponent" : {
                        "maxProperties" : 6,
                        "minProperties" : 6,
                        "required" : [ "chartType", "maxRows", "reportId", "series", "xaxis", "yaxis" ],
                        "properties" : {
                          "xaxis" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "maxRows" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "reportId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "series" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "chartType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "BAR", "STACKEDBAR", "PERCENTAGEBAR", "PIE", "LINE", "FUNNEL", "TABLE", "MULTIPLELINE", "MATRIX_TABLE", "KPI" ]
                          },
                          "yaxis" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "cvComponent" : {
                        "maxProperties" : 3,
                        "minProperties" : 3,
                        "required" : [ "cvId", "maxRows", "module" ],
                        "properties" : {
                          "cvId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "maxRows" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "module" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "embededComponent" : {
                        "maxProperties" : 1,
                        "minProperties" : 1,
                        "required" : [ "url" ],
                        "properties" : {
                          "url" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "kpiComponent" : {
                        "maxProperties" : 6,
                        "minProperties" : 6,
                        "required" : [ "KPIConfiguration", "primaryValueFormat", "secondaryValueFormat", "targetValue", "targetValueType", "widgetType" ],
                        "properties" : {
                          "secondaryValueFormat" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTUAL_VALUE", "PREV_PERIOD_VALUE", "PERCENT_OF_DIFF_FROM_PREVIOUS_VALUE", "DIFF_FROM_PREVIOUS_VALUE" ]
                          },
                          "targetValueType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "CONSTANT", "PREVIOUS_PERIOD_VALUE" ]
                          },
                          "targetValue" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                          },
                          "primaryValueFormat" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTUAL_VALUE", "PREV_PERIOD_VALUE", "PERCENT_OF_DIFF_FROM_PREVIOUS_VALUE", "DIFF_FROM_PREVIOUS_VALUE" ]
                          },
                          "KPIConfiguration" : {
                            "maxProperties" : 5,
                            "minProperties" : 5,
                            "required" : [ "criteriaFields", "dataCalcFields", "primaryModule", "secondaryModule", "standardFilter" ],
                            "properties" : {
                              "standardFilter" : {
                                "additionalProperties" : { }
                              },
                              "primaryModule" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "criteriaFields" : {
                                "additionalProperties" : { }
                              },
                              "secondaryModule" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "dataCalcFields" : {
                                "additionalProperties" : { }
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "widgetType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "KPI_SINGLEVALUE", "KPI_DOUBLEVALUE", "KPI_SPEEDOMETER", "KPI_DIAL", "KPI_FULLDIAL" ]
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "galleryComponent" : {
                        "maxProperties" : 4,
                        "minProperties" : 4,
                        "required" : [ "agentId", "departmentId", "duration", "galleryId" ],
                        "properties" : {
                          "duration" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([1-8]{1}|LAST24HOURS|TODAY|YESTERDAY|LAST_30_DAYS|LAST_7_DAYS|THIS_WEEK|LAST_WEEK|THIS_MONTH|LAST_MONTH|CUSTOM_IN_DATE|CUSTOM_IN_MILLIS|LAST_1_HOUR)"
                          },
                          "agentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "galleryId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "componentType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "REPORTS", "GALLERY", "CUSTOMVIEW", "EMBEDED", "KPI" ]
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "yAxis" : "CrmCasesNewCF:CASECF66:Decimal 1hh:3",
                    "maxRows" : 25,
                    "xAxis" : "CrmCase:MODE:Channel",
                    "reportId" : 12000003013011,
                    "series" : "CrmCase:MODE:Channel",
                    "chartType" : "BAR",
                    "name" : "Sample"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "DashboardComponentResp template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "chartData", "chartType", "componentType", "dataSourceId", "galleryDetails", "id", "isDefault", "kpiWidgetDetails", "maxRows", "name", "position", "reportDetails", "style" ],
                  "properties" : {
                    "componentType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "REPORTS", "GALLERY", "CUSTOMVIEW", "EMBEDED", "KPI" ]
                    },
                    "reportDetails" : {
                      "required" : [ "reportId", "reportName", "series", "xaxis", "yaxis" ],
                      "properties" : {
                        "xaxis" : {
                          "items" : {
                            "required" : [ "displayLabel", "fieldId", "isSelected" ],
                            "properties" : {
                              "displayLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "isSelected" : { },
                              "fieldId" : {
                                "maxLength" : 250,
                                "minLength" : 1
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "reportId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "reportName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "series" : {
                          "items" : {
                            "required" : [ "displayLabel", "fieldId", "isSelected" ],
                            "properties" : {
                              "displayLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "isSelected" : { },
                              "fieldId" : {
                                "maxLength" : 250,
                                "minLength" : 1
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "yaxis" : {
                          "items" : {
                            "required" : [ "displayLabel", "fieldId", "isSelected" ],
                            "properties" : {
                              "displayLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "isSelected" : { },
                              "fieldId" : {
                                "maxLength" : 250,
                                "minLength" : 1
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      },
                      "additionalProperties" : false
                    },
                    "chartData" : {
                      "items" : {
                        "required" : [ "chartName", "url" ],
                        "properties" : {
                          "chartName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "url" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "galleryDetails" : {
                      "required" : [ "agentId", "departmentId", "duration", "endDate", "startDate" ],
                      "properties" : {
                        "duration" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([1-8]{1}|LAST24HOURS|TODAY|YESTERDAY|LAST_30_DAYS|LAST_7_DAYS|THIS_WEEK|LAST_WEEK|THIS_MONTH|LAST_MONTH|CUSTOM_IN_DATE|CUSTOM_IN_MILLIS|LAST_1_HOUR)"
                        },
                        "agentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "endDate" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "yyyy[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]dd|MM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]yyyy|yyyy[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]dd|MMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]yyyy|MMMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|yyyy[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]yy|MM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]yy|MMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]yy|MMMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]dd|"
                        },
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "startDate" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "yyyy[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]dd|MM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]yyyy|yyyy[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]dd|MMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]yyyy|MMMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|yyyy[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]yy|MM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]yy|MMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]yy|MMMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]dd|"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "dataSourceId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "maxRows" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "isDefault" : { },
                    "kpiWidgetDetails" : {
                      "required" : [ "label", "previousDuration", "primaryValueType", "secondaryValueType", "targetValue", "targetValueType", "type", "widgetId" ],
                      "properties" : {
                        "targetValueType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "CONSTANT", "PREVIOUS_PERIOD_VALUE" ]
                        },
                        "previousDuration" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "widgetId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "secondaryValueType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ACTUAL_VALUE", "PREV_PERIOD_VALUE", "PERCENT_OF_DIFF_FROM_PREVIOUS_VALUE", "DIFF_FROM_PREVIOUS_VALUE" ]
                        },
                        "targetValue" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                        },
                        "label" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "KPI_SINGLEVALUE", "KPI_DOUBLEVALUE", "KPI_SPEEDOMETER", "KPI_DIAL", "KPI_FULLDIAL" ]
                        },
                        "primaryValueType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ACTUAL_VALUE", "PREV_PERIOD_VALUE", "PERCENT_OF_DIFF_FROM_PREVIOUS_VALUE", "DIFF_FROM_PREVIOUS_VALUE" ]
                        }
                      },
                      "additionalProperties" : false
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "chartType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "BAR", "STACKEDBAR", "PERCENTAGEBAR", "PIE", "LINE", "FUNNEL", "TABLE", "MULTIPLELINE", "MATRIX_TABLE", "KPI" ]
                    },
                    "style" : {
                      "required" : [ "height", "width", "xCoordinate", "yCoordinate" ],
                      "properties" : {
                        "xCoordinate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "yCoordinate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "width" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "height" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "position" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "componentType" : "REPORTS",
                      "reportDetails" : null,
                      "chartData" : [ {
                        "chartName" : "Sample",
                        "url" : "/api/v1/dashboards/12000000114041/components/12000003727001/getData"
                      } ],
                      "galleryDetails" : null,
                      "dataSourceId" : "12000003013011",
                      "maxRows" : "25",
                      "isDefault" : false,
                      "kpiWidgetDetails" : null,
                      "name" : "Sample",
                      "chartType" : "BAR",
                      "style" : null,
                      "id" : "12000003727001",
                      "position" : "0"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "c45465614dabf1a0dcdd939604b078f6",
          "module-group" : "reports",
          "apimethod" : "com.adventnet.support.dashboards.gallery.service.ReportGalleryService.updateDashboardComponent"
        }
      }
    },
    "/api/v1/dashboards/{id}/components" : {
      "get" : {
        "tags" : [ "DashboardComponent" ],
        "summary" : "GetAllComponents",
        "description" : "To get the list of components in a dashboard",
        "operationId" : "getAllDashboardComponents",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "dashboardComponentListObj template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "chartData", "chartType", "componentType", "dataSourceId", "galleryDetails", "id", "isDefault", "kpiWidgetDetails", "maxRows", "name", "position", "reportDetails", "style" ],
                        "properties" : {
                          "componentType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "REPORTS", "GALLERY", "CUSTOMVIEW", "EMBEDED", "KPI" ]
                          },
                          "reportDetails" : {
                            "required" : [ "reportId", "reportName", "series", "xaxis", "yaxis" ],
                            "properties" : {
                              "xaxis" : {
                                "items" : {
                                  "required" : [ "displayLabel", "fieldId", "isSelected" ],
                                  "properties" : {
                                    "displayLabel" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "isSelected" : { },
                                    "fieldId" : {
                                      "maxLength" : 250,
                                      "minLength" : 1
                                    }
                                  },
                                  "additionalProperties" : false
                                }
                              },
                              "reportId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "reportName" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "series" : {
                                "items" : {
                                  "required" : [ "displayLabel", "fieldId", "isSelected" ],
                                  "properties" : {
                                    "displayLabel" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "isSelected" : { },
                                    "fieldId" : {
                                      "maxLength" : 250,
                                      "minLength" : 1
                                    }
                                  },
                                  "additionalProperties" : false
                                }
                              },
                              "yaxis" : {
                                "items" : {
                                  "required" : [ "displayLabel", "fieldId", "isSelected" ],
                                  "properties" : {
                                    "displayLabel" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "isSelected" : { },
                                    "fieldId" : {
                                      "maxLength" : 250,
                                      "minLength" : 1
                                    }
                                  },
                                  "additionalProperties" : false
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "chartData" : {
                            "items" : {
                              "required" : [ "chartName", "url" ],
                              "properties" : {
                                "chartName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "url" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "galleryDetails" : {
                            "required" : [ "agentId", "departmentId", "duration", "endDate", "startDate" ],
                            "properties" : {
                              "duration" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([1-8]{1}|LAST24HOURS|TODAY|YESTERDAY|LAST_30_DAYS|LAST_7_DAYS|THIS_WEEK|LAST_WEEK|THIS_MONTH|LAST_MONTH|CUSTOM_IN_DATE|CUSTOM_IN_MILLIS|LAST_1_HOUR)"
                              },
                              "agentId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "endDate" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "yyyy[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]dd|MM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]yyyy|yyyy[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]dd|MMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]yyyy|MMMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|yyyy[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]yy|MM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]yy|MMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]yy|MMMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]dd|"
                              },
                              "departmentId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "startDate" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "yyyy[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]dd|MM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]yyyy|yyyy[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]dd|MMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]yyyy|MMMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|yyyy[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]yy|MM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]yy|MMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]yy|MMMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]dd|"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "dataSourceId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "maxRows" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "isDefault" : { },
                          "kpiWidgetDetails" : {
                            "required" : [ "label", "previousDuration", "primaryValueType", "secondaryValueType", "targetValue", "targetValueType", "type", "widgetId" ],
                            "properties" : {
                              "targetValueType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "CONSTANT", "PREVIOUS_PERIOD_VALUE" ]
                              },
                              "previousDuration" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "widgetId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "secondaryValueType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ACTUAL_VALUE", "PREV_PERIOD_VALUE", "PERCENT_OF_DIFF_FROM_PREVIOUS_VALUE", "DIFF_FROM_PREVIOUS_VALUE" ]
                              },
                              "targetValue" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                              },
                              "label" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "KPI_SINGLEVALUE", "KPI_DOUBLEVALUE", "KPI_SPEEDOMETER", "KPI_DIAL", "KPI_FULLDIAL" ]
                              },
                              "primaryValueType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ACTUAL_VALUE", "PREV_PERIOD_VALUE", "PERCENT_OF_DIFF_FROM_PREVIOUS_VALUE", "DIFF_FROM_PREVIOUS_VALUE" ]
                              }
                            },
                            "additionalProperties" : false
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "chartType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "BAR", "STACKEDBAR", "PERCENTAGEBAR", "PIE", "LINE", "FUNNEL", "TABLE", "MULTIPLELINE", "MATRIX_TABLE", "KPI" ]
                          },
                          "style" : {
                            "required" : [ "height", "width", "xCoordinate", "yCoordinate" ],
                            "properties" : {
                              "xCoordinate" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "yCoordinate" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "width" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "height" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "position" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "reportDetails" : null,
                        "chartData" : [ {
                          "chartName" : "Requests by Priority",
                          "url" : "/api/web/dashboards/1000000007291/components/1000000007299/getData"
                        } ],
                        "galleryDetails" : {
                          "depIdFilter" : "3471000000066065",
                          "duration" : "2",
                          "agentIdFilter" : "3471000000053001"
                        },
                        "dataSourceId" : "3471000000930490",
                        "isDefault" : false,
                        "maxRows" : 10,
                        "dashboardId" : "3471000000852018",
                        "name" : "Created Tickets",
                        "chartType" : "line",
                        "style" : "none",
                        "id" : "3471000000943003",
                        "position" : "0",
                        "dataSource" : "StaticGallery"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "961fd1d11d4c67b1e4943c8bf1510d72",
          "module-group" : "reports",
          "apimethod" : "com.adventnet.support.dashboards.gallery.service.ReportGalleryService.getAllDashboardComponents"
        }
      }
    },
    "/api/v1/dashboards/{dbid}/components" : {
      "post" : {
        "tags" : [ "DashboardComponent" ],
        "operationId" : "addDashboardComponent",
        "parameters" : [ {
          "name" : "dbid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "componentType", "name" ],
                "properties" : {
                  "componentMeta" : {
                    "maxProperties" : 5,
                    "minProperties" : 5,
                    "required" : [ "cvComponent", "embededComponent", "galleryComponent", "kpiComponent", "reportComponent" ],
                    "properties" : {
                      "reportComponent" : {
                        "maxProperties" : 6,
                        "minProperties" : 6,
                        "required" : [ "chartType", "maxRows", "reportId", "series", "xaxis", "yaxis" ],
                        "properties" : {
                          "xaxis" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "maxRows" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "reportId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "series" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "chartType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "BAR", "STACKEDBAR", "PERCENTAGEBAR", "PIE", "LINE", "FUNNEL", "TABLE", "MULTIPLELINE", "MATRIX_TABLE", "KPI" ]
                          },
                          "yaxis" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "cvComponent" : {
                        "maxProperties" : 3,
                        "minProperties" : 3,
                        "required" : [ "cvId", "maxRows", "module" ],
                        "properties" : {
                          "cvId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "maxRows" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "module" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "embededComponent" : {
                        "maxProperties" : 1,
                        "minProperties" : 1,
                        "required" : [ "url" ],
                        "properties" : {
                          "url" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "kpiComponent" : {
                        "maxProperties" : 6,
                        "minProperties" : 6,
                        "required" : [ "KPIConfiguration", "primaryValueFormat", "secondaryValueFormat", "targetValue", "targetValueType", "widgetType" ],
                        "properties" : {
                          "secondaryValueFormat" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTUAL_VALUE", "PREV_PERIOD_VALUE", "PERCENT_OF_DIFF_FROM_PREVIOUS_VALUE", "DIFF_FROM_PREVIOUS_VALUE" ]
                          },
                          "targetValueType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "CONSTANT", "PREVIOUS_PERIOD_VALUE" ]
                          },
                          "targetValue" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                          },
                          "primaryValueFormat" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTUAL_VALUE", "PREV_PERIOD_VALUE", "PERCENT_OF_DIFF_FROM_PREVIOUS_VALUE", "DIFF_FROM_PREVIOUS_VALUE" ]
                          },
                          "KPIConfiguration" : {
                            "maxProperties" : 5,
                            "minProperties" : 5,
                            "required" : [ "criteriaFields", "dataCalcFields", "primaryModule", "secondaryModule", "standardFilter" ],
                            "properties" : {
                              "standardFilter" : {
                                "additionalProperties" : { }
                              },
                              "primaryModule" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "criteriaFields" : {
                                "additionalProperties" : { }
                              },
                              "secondaryModule" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "dataCalcFields" : {
                                "additionalProperties" : { }
                              }
                            },
                            "additionalProperties" : { }
                          },
                          "widgetType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "KPI_SINGLEVALUE", "KPI_DOUBLEVALUE", "KPI_SPEEDOMETER", "KPI_DIAL", "KPI_FULLDIAL" ]
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "galleryComponent" : {
                        "maxProperties" : 4,
                        "minProperties" : 4,
                        "required" : [ "agentId", "departmentId", "duration", "galleryId" ],
                        "properties" : {
                          "duration" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([1-8]{1}|LAST24HOURS|TODAY|YESTERDAY|LAST_30_DAYS|LAST_7_DAYS|THIS_WEEK|LAST_WEEK|THIS_MONTH|LAST_MONTH|CUSTOM_IN_DATE|CUSTOM_IN_MILLIS|LAST_1_HOUR)"
                          },
                          "agentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "galleryId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "componentType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "REPORTS", "GALLERY", "CUSTOMVIEW", "EMBEDED", "KPI" ]
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : null
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "DashboardComponentResp template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "chartData", "chartType", "componentType", "dataSourceId", "galleryDetails", "id", "isDefault", "kpiWidgetDetails", "maxRows", "name", "position", "reportDetails", "style" ],
                  "properties" : {
                    "componentType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "REPORTS", "GALLERY", "CUSTOMVIEW", "EMBEDED", "KPI" ]
                    },
                    "reportDetails" : {
                      "required" : [ "reportId", "reportName", "series", "xaxis", "yaxis" ],
                      "properties" : {
                        "xaxis" : {
                          "items" : {
                            "required" : [ "displayLabel", "fieldId", "isSelected" ],
                            "properties" : {
                              "displayLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "isSelected" : { },
                              "fieldId" : {
                                "maxLength" : 250,
                                "minLength" : 1
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "reportId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "reportName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "series" : {
                          "items" : {
                            "required" : [ "displayLabel", "fieldId", "isSelected" ],
                            "properties" : {
                              "displayLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "isSelected" : { },
                              "fieldId" : {
                                "maxLength" : 250,
                                "minLength" : 1
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "yaxis" : {
                          "items" : {
                            "required" : [ "displayLabel", "fieldId", "isSelected" ],
                            "properties" : {
                              "displayLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "isSelected" : { },
                              "fieldId" : {
                                "maxLength" : 250,
                                "minLength" : 1
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      },
                      "additionalProperties" : false
                    },
                    "chartData" : {
                      "items" : {
                        "required" : [ "chartName", "url" ],
                        "properties" : {
                          "chartName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "url" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "galleryDetails" : {
                      "required" : [ "agentId", "departmentId", "duration", "endDate", "startDate" ],
                      "properties" : {
                        "duration" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([1-8]{1}|LAST24HOURS|TODAY|YESTERDAY|LAST_30_DAYS|LAST_7_DAYS|THIS_WEEK|LAST_WEEK|THIS_MONTH|LAST_MONTH|CUSTOM_IN_DATE|CUSTOM_IN_MILLIS|LAST_1_HOUR)"
                        },
                        "agentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "endDate" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "yyyy[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]dd|MM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]yyyy|yyyy[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]dd|MMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]yyyy|MMMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|yyyy[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]yy|MM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]yy|MMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]yy|MMMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]dd|"
                        },
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "startDate" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "yyyy[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]dd|MM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]yyyy|yyyy[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]dd|MMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]yyyy|dd[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]yyyy|MMMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yyyy|yyyy[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]yy|MM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]yy|MMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MMM[\\/\\-\\.\\s]dd|dd[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]yy|MMMM[\\/\\-\\.\\s]dd[\\/\\-\\.\\s]yy|yy[\\/\\-\\.\\s]MMMM[\\/\\-\\.\\s]dd|"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "dataSourceId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "maxRows" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "isDefault" : { },
                    "kpiWidgetDetails" : {
                      "required" : [ "label", "previousDuration", "primaryValueType", "secondaryValueType", "targetValue", "targetValueType", "type", "widgetId" ],
                      "properties" : {
                        "targetValueType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "CONSTANT", "PREVIOUS_PERIOD_VALUE" ]
                        },
                        "previousDuration" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "widgetId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "secondaryValueType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ACTUAL_VALUE", "PREV_PERIOD_VALUE", "PERCENT_OF_DIFF_FROM_PREVIOUS_VALUE", "DIFF_FROM_PREVIOUS_VALUE" ]
                        },
                        "targetValue" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                        },
                        "label" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "KPI_SINGLEVALUE", "KPI_DOUBLEVALUE", "KPI_SPEEDOMETER", "KPI_DIAL", "KPI_FULLDIAL" ]
                        },
                        "primaryValueType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ACTUAL_VALUE", "PREV_PERIOD_VALUE", "PERCENT_OF_DIFF_FROM_PREVIOUS_VALUE", "DIFF_FROM_PREVIOUS_VALUE" ]
                        }
                      },
                      "additionalProperties" : false
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "chartType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "BAR", "STACKEDBAR", "PERCENTAGEBAR", "PIE", "LINE", "FUNNEL", "TABLE", "MULTIPLELINE", "MATRIX_TABLE", "KPI" ]
                    },
                    "style" : {
                      "required" : [ "height", "width", "xCoordinate", "yCoordinate" ],
                      "properties" : {
                        "xCoordinate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "yCoordinate" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "width" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "height" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "position" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "componentType" : "REPORTS",
                      "reportDetails" : null,
                      "chartData" : [ {
                        "chartName" : "Sample",
                        "url" : "/api/v1/dashboards/12000000114041/components/12000003727001/getData"
                      } ],
                      "galleryDetails" : null,
                      "dataSourceId" : "12000003013011",
                      "maxRows" : "25",
                      "isDefault" : false,
                      "kpiWidgetDetails" : null,
                      "name" : "Sample",
                      "chartType" : "BAR",
                      "style" : null,
                      "id" : "12000003727001",
                      "position" : "0"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "0cd7f1e549e058ab2799d81b58e603df",
          "module-group" : "reports",
          "apimethod" : "com.adventnet.support.dashboards.gallery.service.ReportGalleryService.addComponentToDashboard"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "axisObject" : {
        "required" : [ "displayLabel", "fieldId", "isSelected" ],
        "properties" : {
          "displayLabel" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "isSelected" : { },
          "fieldId" : {
            "maxLength" : 250,
            "minLength" : 1
          }
        },
        "additionalProperties" : { }
      },
      "axisArray" : {
        "items" : {
          "required" : [ "displayLabel", "fieldId", "isSelected" ],
          "properties" : {
            "displayLabel" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "isSelected" : { },
            "fieldId" : {
              "maxLength" : 250,
              "minLength" : 1
            }
          },
          "additionalProperties" : false
        }
      },
      "reportComponentDetails" : {
        "required" : [ "reportId", "reportName", "series", "xaxis", "yaxis" ],
        "properties" : {
          "xaxis" : {
            "items" : {
              "required" : [ "displayLabel", "fieldId", "isSelected" ],
              "properties" : {
                "displayLabel" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "isSelected" : { },
                "fieldId" : {
                  "maxLength" : 250,
                  "minLength" : 1
                }
              },
              "additionalProperties" : false
            }
          },
          "reportId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "reportName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "series" : {
            "items" : {
              "required" : [ "displayLabel", "fieldId", "isSelected" ],
              "properties" : {
                "displayLabel" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "isSelected" : { },
                "fieldId" : {
                  "maxLength" : 250,
                  "minLength" : 1
                }
              },
              "additionalProperties" : false
            }
          },
          "yaxis" : {
            "items" : {
              "required" : [ "displayLabel", "fieldId", "isSelected" ],
              "properties" : {
                "displayLabel" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "isSelected" : { },
                "fieldId" : {
                  "maxLength" : 250,
                  "minLength" : 1
                }
              },
              "additionalProperties" : false
            }
          }
        },
        "additionalProperties" : { }
      },
      "chartDataObject" : {
        "required" : [ "chartName", "url" ],
        "properties" : {
          "chartName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "url" : {
            "maxLength" : 100,
            "minLength" : 0
          }
        },
        "additionalProperties" : { }
      },
      "chartDataArray" : {
        "items" : {
          "required" : [ "chartName", "url" ],
          "properties" : {
            "chartName" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "url" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          },
          "additionalProperties" : false
        }
      },
      "galleryComponentObject" : {
        "required" : [ "agentId", "departmentId", "duration", "endDate", "startDate" ],
        "properties" : {
          "duration" : {
            "maxLength" : 100,
            "minLength" : 0,
[...]
