{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Dashboards",
    "version" : "1.0.0",
    "x-clan-group" : "reports",
    "x-module-group" : "reports"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/dashboards/default" : {
      "get" : {
        "tags" : [ "Dashboards" ],
        "summary" : "getDefaultDashboard",
        "description" : "To get default dashboard",
        "operationId" : "getDefaultDashboard",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "dashboards template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "dashboardFolder", "dashboardUIUrl", "description", "displayLabel", "id", "isCustomizable", "isDefault", "isEditable", "isFavorite", "isSystemGenerated", "lastAccessedBy", "lastAccessedTime", "modifiedBy", "modifiedTime", "name", "reactNiceUrl" ],
                  "properties" : {
                    "displayLabel" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "isSystemGenerated" : { },
                    "description" : {
                      "maxLength" : 65535,
                      "minLength" : 0
                    },
                    "reactNiceUrl" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                    },
                    "dashboardFolder" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "departmentId", "id", "name" ],
                      "properties" : {
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "lastAccessedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "isDefault" : { },
                    "dashboardUIUrl" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                    },
                    "isEditable" : { },
                    "isCustomizable" : { },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "modifiedBy" : {
                      "maxProperties" : 5,
                      "minProperties" : 5,
                      "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "lastAccessedBy" : {
                      "maxProperties" : 5,
                      "minProperties" : 5,
                      "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "isFavorite" : { }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "displayLabel" : "UPDATED_NEW",
                      "modifiedTime" : "2024-02-07T06:30:25.012Z",
                      "isSystemGenerated" : false,
                      "description" : "updated new dashboard",
                      "reactNiceUrl" : null,
                      "dashboardFolder" : {
                        "departmentId" : "168450000000006907",
                        "name" : "Public Dashboards",
                        "id" : "168450000000276018"
                      },
                      "lastAccessedTime" : "2024-02-07T06:30:13.502Z",
                      "isDefault" : false,
                      "dashboardUIUrl" : null,
                      "isEditable" : true,
                      "isCustomizable" : true,
                      "name" : "UPDATED_NEW",
                      "modifiedBy" : {
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/168450000000190001/photo?orgId=75236028",
                        "firstName" : "Siva",
                        "lastName" : "S",
                        "name" : "Siva S",
                        "id" : "168450000000190001"
                      },
                      "id" : "168450000001454021",
                      "lastAccessedBy" : {
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/168450000000190001/photo?orgId=75236028",
                        "firstName" : "Siva",
                        "lastName" : "S",
                        "name" : "Siva S",
                        "id" : "168450000000190001"
                      },
                      "isFavorite" : true
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 90,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "ae69f33b1438ee135842a070d08d7978",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.DashboardFolderService.getDefaultDashboard"
        }
      }
    },
    "/api/v1/dashboards" : {
      "get" : {
        "tags" : [ "Dashboards" ],
        "summary" : "GetAllDashboards",
        "description" : "To get the list of all dashboards",
        "operationId" : "getAllDashboards",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department for which dashboard folders should be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department for which dashboard folders should be listed",
            "format" : "int64"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of dashboards to fetch. ! _Note:_  !The default value is 50. The maximum supported value is 50.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "pattern" : "([0-9]+)",
            "description" : "Number of dashboards to fetch. ! _Note:_  !The default value is 50. The maximum supported value is 50.",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "The starting index from which dashboards should be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "pattern" : "([0-9]+)",
            "description" : "The starting index from which dashboards should be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "category",
          "in" : "query",
          "description" : "Category of dashboards to be listed. The allowed values are @ALL@,@CUSTOMIZABLE@,@STATIC@,@FAVORITES@,@MY_DASHBOARDS@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Category of dashboards to be listed. The allowed values are @ALL@,@CUSTOMIZABLE@,@STATIC@,@FAVORITES@,@MY_DASHBOARDS@",
            "enum" : [ "ALL", "CUSTOMIZABLE", "STATIC" ]
          }
        }, {
          "name" : "folderId",
          "in" : "query",
          "description" : "ID of the folder for which dashboards should be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the folder for which dashboards should be listed",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "dashboardList template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "dashboardsCount", "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "dashboardFolder", "description", "displayLabel", "id", "isCustomizable", "isDefault", "isEditable", "isFavorite", "isSystemGenerated", "lastAccessedBy", "lastAccessedTime", "modifiedBy", "modifiedTime", "name" ],
                        "properties" : {
                          "displayLabel" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "modifiedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "isSystemGenerated" : { },
                          "description" : {
                            "maxLength" : 65535,
                            "minLength" : 0
                          },
                          "dashboardFolder" : {
                            "maxProperties" : 3,
                            "minProperties" : 3,
                            "required" : [ "departmentId", "id", "name" ],
                            "properties" : {
                              "departmentId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "lastAccessedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "isDefault" : { },
                          "isEditable" : { },
                          "isCustomizable" : { },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "modifiedBy" : {
                            "maxProperties" : 5,
                            "minProperties" : 5,
                            "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                            "properties" : {
                              "firstName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "photoURL" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "lastAccessedBy" : {
                            "maxProperties" : 5,
                            "minProperties" : 5,
                            "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                            "properties" : {
                              "firstName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "photoURL" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "isFavorite" : { }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "dashboardsCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "displayLabel" : "SLA Dashboards",
                        "modifiedTime" : null,
                        "isSystemGenerated" : true,
                        "description" : null,
                        "dashboardFolder" : {
                          "departmentId" : null,
                          "name" : "Popular Dashboards",
                          "id" : "4000000000209"
                        },
                        "lastAccessedTime" : "2022-08-05T12:43:05.730Z",
                        "isDefault" : false,
                        "isEditable" : false,
                        "isCustomizable" : false,
                        "name" : "slaDashboard",
                        "modifiedBy" : null,
                        "id" : "4000000012872",
                        "lastAccessedBy" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/27185000000097005/photo?orgId=54587981",
                          "firstName" : "N",
                          "lastName" : "Priyanka",
                          "name" : "N Priyanka",
                          "id" : "27185000000097005"
                        }
                      } ],
                      "dashboardsCount" : "1"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "fe8ac549b82d9f7fb472ea41470e2eb0",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.DashboardFolderService.getAllDashboards"
        }
      },
      "post" : {
        "tags" : [ "Dashboards" ],
        "summary" : "AddDashboard",
        "description" : "To add a dashboard",
        "operationId" : "addDashboard",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "dashboardFolderId", "name" ],
                "properties" : {
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "description" : {
                    "maxLength" : 65535,
                    "minLength" : 0
                  },
                  "dashboardFolderId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "name" : "NEW",
                    "description" : "new dashboard",
                    "dashboardFolderId" : "168450000000276018"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "dashboards template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "dashboardFolder", "dashboardUIUrl", "description", "displayLabel", "id", "isCustomizable", "isDefault", "isEditable", "isFavorite", "isSystemGenerated", "lastAccessedBy", "lastAccessedTime", "modifiedBy", "modifiedTime", "name", "reactNiceUrl" ],
                  "properties" : {
                    "displayLabel" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "isSystemGenerated" : { },
                    "description" : {
                      "maxLength" : 65535,
                      "minLength" : 0
                    },
                    "reactNiceUrl" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                    },
                    "dashboardFolder" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "departmentId", "id", "name" ],
                      "properties" : {
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "lastAccessedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "isDefault" : { },
                    "dashboardUIUrl" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                    },
                    "isEditable" : { },
                    "isCustomizable" : { },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "modifiedBy" : {
                      "maxProperties" : 5,
                      "minProperties" : 5,
                      "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "lastAccessedBy" : {
                      "maxProperties" : 5,
                      "minProperties" : 5,
                      "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "isFavorite" : { }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "displayLabel" : "UPDATED_NEW",
                      "modifiedTime" : "2024-02-07T06:30:25.012Z",
                      "isSystemGenerated" : false,
                      "description" : "updated new dashboard",
                      "reactNiceUrl" : null,
                      "dashboardFolder" : {
                        "departmentId" : "168450000000006907",
                        "name" : "Public Dashboards",
                        "id" : "168450000000276018"
                      },
                      "lastAccessedTime" : "2024-02-07T06:30:13.502Z",
                      "isDefault" : false,
                      "dashboardUIUrl" : null,
                      "isEditable" : true,
                      "isCustomizable" : true,
                      "name" : "UPDATED_NEW",
                      "modifiedBy" : {
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/168450000000190001/photo?orgId=75236028",
                        "firstName" : "Siva",
                        "lastName" : "S",
                        "name" : "Siva S",
                        "id" : "168450000000190001"
                      },
                      "id" : "168450000001454021",
                      "lastAccessedBy" : {
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/168450000000190001/photo?orgId=75236028",
                        "firstName" : "Siva",
                        "lastName" : "S",
                        "name" : "Siva S",
                        "id" : "168450000000190001"
                      },
                      "isFavorite" : true
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "388a43403f07d88eeef632930161c8cb",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.DashboardFolderService.addDashboard"
        }
      }
    },
    "/api/v1/dashboards/{id}/unstar" : {
      "patch" : {
        "tags" : [ "Dashboards" ],
        "summary" : "removeFromFavorites",
        "description" : "This API allows users to remove a dashboard from Favorites",
        "operationId" : "unstarDashboard",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 60000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "5f870d0064d2ff411b61268b099d0166",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.DashboardPersonalizationService.unstarDashboard"
        }
      }
    },
    "/api/v1/dashboards/{id}" : {
      "get" : {
        "tags" : [ "Dashboards" ],
        "summary" : "GetDashboard",
        "description" : "To get a specific dashboard",
        "operationId" : "getDashboard",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "dashboards template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "dashboardFolder", "dashboardUIUrl", "description", "displayLabel", "id", "isCustomizable", "isDefault", "isEditable", "isFavorite", "isSystemGenerated", "lastAccessedBy", "lastAccessedTime", "modifiedBy", "modifiedTime", "name", "reactNiceUrl" ],
                  "properties" : {
                    "displayLabel" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "isSystemGenerated" : { },
                    "description" : {
                      "maxLength" : 65535,
                      "minLength" : 0
                    },
                    "reactNiceUrl" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                    },
                    "dashboardFolder" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "departmentId", "id", "name" ],
                      "properties" : {
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "lastAccessedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "isDefault" : { },
                    "dashboardUIUrl" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                    },
                    "isEditable" : { },
                    "isCustomizable" : { },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "modifiedBy" : {
                      "maxProperties" : 5,
                      "minProperties" : 5,
                      "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "lastAccessedBy" : {
                      "maxProperties" : 5,
                      "minProperties" : 5,
                      "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "isFavorite" : { }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "displayLabel" : "UPDATED_NEW",
                      "modifiedTime" : "2024-02-07T06:30:25.012Z",
                      "isSystemGenerated" : false,
                      "description" : "updated new dashboard",
                      "reactNiceUrl" : null,
                      "dashboardFolder" : {
                        "departmentId" : "168450000000006907",
                        "name" : "Public Dashboards",
                        "id" : "168450000000276018"
                      },
                      "lastAccessedTime" : "2024-02-07T06:30:13.502Z",
                      "isDefault" : false,
                      "dashboardUIUrl" : null,
                      "isEditable" : true,
                      "isCustomizable" : true,
                      "name" : "UPDATED_NEW",
                      "modifiedBy" : {
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/168450000000190001/photo?orgId=75236028",
                        "firstName" : "Siva",
                        "lastName" : "S",
                        "name" : "Siva S",
                        "id" : "168450000000190001"
                      },
                      "id" : "168450000001454021",
                      "lastAccessedBy" : {
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/168450000000190001/photo?orgId=75236028",
                        "firstName" : "Siva",
                        "lastName" : "S",
                        "name" : "Siva S",
                        "id" : "168450000000190001"
                      },
                      "isFavorite" : true
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "13ba4d17c53c686d50abf3cdd75132db",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.DashboardFolderService.getDashboard"
        }
      },
      "patch" : {
        "tags" : [ "Dashboards" ],
        "summary" : "UpdateDashboard",
        "description" : "To update a dashboard",
        "operationId" : "editDashboard",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "dashboardFolderId", "name" ],
                "properties" : {
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "description" : {
                    "maxLength" : 65535,
                    "minLength" : 0
                  },
                  "dashboardFolderId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "name" : "UPDATED_NEW",
                    "description" : "updated new dashboard",
                    "dashboardFolderId" : "168450000000276018"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "dashboards template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "dashboardFolder", "dashboardUIUrl", "description", "displayLabel", "id", "isCustomizable", "isDefault", "isEditable", "isFavorite", "isSystemGenerated", "lastAccessedBy", "lastAccessedTime", "modifiedBy", "modifiedTime", "name", "reactNiceUrl" ],
                  "properties" : {
                    "displayLabel" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "isSystemGenerated" : { },
                    "description" : {
                      "maxLength" : 65535,
                      "minLength" : 0
                    },
                    "reactNiceUrl" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                    },
                    "dashboardFolder" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "departmentId", "id", "name" ],
                      "properties" : {
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "lastAccessedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "isDefault" : { },
                    "dashboardUIUrl" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                    },
                    "isEditable" : { },
                    "isCustomizable" : { },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "modifiedBy" : {
                      "maxProperties" : 5,
                      "minProperties" : 5,
                      "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "lastAccessedBy" : {
                      "maxProperties" : 5,
                      "minProperties" : 5,
                      "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "isFavorite" : { }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "displayLabel" : "UPDATED_NEW",
                      "modifiedTime" : "2024-02-07T06:30:25.012Z",
                      "isSystemGenerated" : false,
                      "description" : "updated new dashboard",
                      "reactNiceUrl" : null,
                      "dashboardFolder" : {
                        "departmentId" : "168450000000006907",
                        "name" : "Public Dashboards",
                        "id" : "168450000000276018"
                      },
                      "lastAccessedTime" : "2024-02-07T06:30:13.502Z",
                      "isDefault" : false,
                      "dashboardUIUrl" : null,
                      "isEditable" : true,
                      "isCustomizable" : true,
                      "name" : "UPDATED_NEW",
                      "modifiedBy" : {
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/168450000000190001/photo?orgId=75236028",
                        "firstName" : "Siva",
                        "lastName" : "S",
                        "name" : "Siva S",
                        "id" : "168450000000190001"
                      },
                      "id" : "168450000001454021",
                      "lastAccessedBy" : {
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/168450000000190001/photo?orgId=75236028",
                        "firstName" : "Siva",
                        "lastName" : "S",
                        "name" : "Siva S",
                        "id" : "168450000000190001"
                      },
                      "isFavorite" : true
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "87345aba9feddf0fe39f1ce835ed2a27",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.DashboardFolderService.editDashboard"
        }
      }
    },
    "/api/v1/dashboards/{id}/star" : {
      "patch" : {
        "tags" : [ "Dashboards" ],
        "summary" : "addToFavorites",
        "description" : "This API allows users to add a dashboard to Favorites",
        "operationId" : "starDashboard",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 60000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "3d1608da4e7b49d36ee3b52b8c4ff16c",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.DashboardPersonalizationService.starDashboard"
        }
      }
    },
    "/api/v1/dashboardsGalleries" : {
      "get" : {
        "tags" : [ "Dashboards" ],
        "summary" : "GetAllGalleries",
        "description" : "To get the list of galleries",
        "operationId" : "getGalleryDetails",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department for which dashboard folders should be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department for which dashboard folders should be listed",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getDashboardGalleryResp template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "templates", "type" ],
                        "properties" : {
                          "templates" : {
                            "items" : {
                              "required" : [ "allowedFilters", "chartType", "description", "galleryType", "id", "isCustom", "isStatic", "name" ],
                              "properties" : {
                                "isStatic" : { },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "galleryType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "Tickets", "Tasks", "Article", "Survey", "Response Time", "Resolution Time" ]
                                },
                                "chartType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "BAR", "STACKEDBAR", "PERCENTAGEBAR", "PIE", "LINE", "FUNNEL" ]
                                },
                                "isCustom" : { },
                                "description" : {
                                  "maxLength" : 65535,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "allowedFilters" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "Tickets", "Tasks", "Article", "Survey", "Response Time", "Resolution Time" ]
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "templates" : [ {
                          "isStatic" : false,
                          "name" : "Created Tickets",
                          "galleryType" : "Tickets",
                          "chartType" : "percentageBar",
                          "isCustom" : false,
                          "description" : "Created tickets for given duration",
                          "id" : "1000000007353",
                          "allowedFilters" : [ "durationFilter", "agentFilter" ]
                        }, {
                          "isStatic" : false,
                          "name" : "Solved Tickets",
                          "galleryType" : "Tickets",
                          "chartType" : "percentageBar",
                          "isCustom" : false,
                          "description" : "Solved tickets for given duration",
                          "id" : "1000000007355",
                          "allowedFilters" : [ "durationFilter", "agentFilter" ]
                        } ],
                        "type" : "Tickets"
                      }, {
                        "templates" : [ {
                          "isStatic" : true,
                          "name" : "Tasks By Owner",
                          "galleryType" : "Tasks",
                          "chartType" : "bar",
                          "isCustom" : false,
                          "description" : "Tasks created in given duration by owners",
                          "id" : "3471000000930512",
                          "allowedFilters" : [ "durationFilter", "agentFilter" ]
                        }, {
                          "isStatic" : true,
                          "name" : "Tasks By Status",
                          "galleryType" : "Tasks",
                          "chartType" : "pie",
                          "isCustom" : false,
                          "description" : "Tasks created in given duration with its current status",
                          "id" : "3471000000930514",
                          "allowedFilters" : [ "durationFilter", "agentFilter" ]
                        } ],
                        "type" : "Tasks"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "c54860091bcf7952e90f3ce4c24d42e2",
          "module-group" : "reports",
          "apimethod" : "com.adventnet.support.dashboards.gallery.service.ReportGalleryService.getGalleryDetails"
        }
      }
    },
    "/api/v1/dashboards/{dashboardId}" : {
      "delete" : {
        "tags" : [ "Dashboards" ],
        "summary" : "",
        "description" : "",
        "operationId" : "deleteDashboard",
        "parameters" : [ {
          "name" : "dashboardId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "No content"
          }
        },
        "x-audience" : [ "company-internal" ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "dashboardObject" : {
        "required" : [ "dashboardFolder", "description", "displayLabel", "id", "isCustomizable", "isDefault", "isEditable", "isFavorite", "isSystemGenerated", "lastAccessedBy", "lastAccessedTime", "modifiedBy", "modifiedTime", "name" ],
        "properties" : {
          "displayLabel" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "modifiedTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "isSystemGenerated" : { },
          "description" : {
            "maxLength" : 65535,
            "minLength" : 0
          },
          "dashboardFolder" : {
            "maxProperties" : 3,
            "minProperties" : 3,
            "required" : [ "departmentId", "id", "name" ],
            "properties" : {
              "departmentId" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "name" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          },
          "lastAccessedTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "isDefault" : { },
          "isEditable" : { },
          "isCustomizable" : { },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "modifiedBy" : {
            "maxProperties" : 5,
            "minProperties" : 5,
            "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
            "properties" : {
              "firstName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "lastName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "photoURL" : {
                "maxLength" : 200,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "name" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : { }
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "lastAccessedBy" : {
            "maxProperties" : 5,
            "minProperties" : 5,
            "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
            "properties" : {
              "firstName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "lastName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "photoURL" : {
                "maxLength" : 200,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "name" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : { }
          },
          "isFavorite" : { }
        },
        "additionalProperties" : { }
      },
      "dashboardArr" : {
        "items" : {
          "required" : [ "dashboardFolder", "description", "displayLabel", "id", "isCustomizable", "isDefault", "isEditable", "isFavorite", "isSystemGenerated", "lastAccessedBy", "lastAccessedTime", "modifiedBy", "modifiedTime", "name" ],
          "properties" : {
            "displayLabel" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "modifiedTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "isSystemGenerated" : { },
            "description" : {
              "maxLength" : 65535,
              "minLength" : 0
            },
            "dashboardFolder" : {
              "maxProperties" : 3,
              "minProperties" : 3,
              "required" : [ "departmentId", "id", "name" ],
              "properties" : {
                "departmentId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "additionalProperties" : false
            },
            "lastAccessedTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "isDefault" : { },
            "isEditable" : { },
            "isCustomizable" : { },
            "name" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "modifiedBy" : {
              "maxProperties" : 5,
              "minProperties" : 5,
              "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
              "properties" : {
                "firstName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "lastName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "photoURL" : {
                  "maxLength" : 200,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "additionalProperties" : false
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "lastAccessedBy" : {
              "maxProperties" : 5,
              "minProperties" : 5,
              "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
              "properties" : {
                "firstName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "lastName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "photoURL" : {
                  "maxLength" : 200,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "additionalProperties" : false
            },
            "isFavorite" : { }
          },
          "additionalProperties" : false
        }
      },
      "galleryTemplateObject" : {
        "required" : [ "allowedFilters", "chartType", "description", "galleryType", "id", "isCustom", "isStatic", "name" ],
        "properties" : {
          "isStatic" : { },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "galleryType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "Tickets", "Tasks", "Article", "Survey", "Response Time", "Resolution Time" ]
          },
          "chartType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "BAR", "STACKEDBAR", "PERCENTAGEBAR", "PIE", "LINE", "FUNNEL" ]
          },
          "isCustom" : { },
          "description" : {
            "maxLength" : 65535,
            "minLength" : 0
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "allowedFilters" : {
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          }
        },
        "additionalProperties" : { }
      },
      "galleryTemplateArray" : {
        "items" : {
          "required" : [ "allowedFilters", "chartType", "description", "galleryType", "id", "isCustom", "isStatic", "name" ],
          "properties" : {
            "isStatic" : { },
            "name" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "galleryType" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "Tickets", "Tasks", "Article", "Survey", "Response Time", "Resolution Time" ]
            },
            "chartType" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "BAR", "STACKEDBAR", "PERCENTAGEBAR", "PIE", "LINE", "FUNNEL" ]
            },
            "isCustom" : { },
            "description" : {
              "maxLength" : 65535,
              "minLength" : 0
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "allowedFilters" : {
              "uniqueItems" : false,
              "items" : {
                "maxLength" : 100,
                "minLength" : 0
              }
            }
          },
[...]
