{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "DataImport",
    "version" : "1.0.0",
    "x-clan-group" : "reports",
    "x-module-group" : "import"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/dataImport/{dataImportId}/transformations" : {
      "get" : {
        "tags" : [ "DataImport" ],
        "summary" : "Get Transformations of Data Import",
        "description" : "This API allows to get transformations of a particular data import request",
        "operationId" : "Get Transformations of Data Import",
        "parameters" : [ {
          "name" : "module",
          "in" : "query",
          "description" : "Api Name of the module for which custom Actions are to be added.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Api Name of the module for which custom Actions are to be added."
          }
        }, {
          "name" : "dataImportId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "DataImportAddActionResponseList template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "required" : [ "column", "columnType", "criteria", "expression", "id", "moduleId", "name", "order", "parameters", "transformationType" ],
                    "properties" : {
                      "columnType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "Boolean|TinyInt|Integer|Long|Decimal|Date|DateTime|Text|MediumText|LargeText",
                        "enum" : [ "Boolean", "TinyInt", "Integer", "Long", "Decimal", "Date", "DateTime", "Text", "MediumText", "LargeText" ]
                      },
                      "expression" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "criteria" : {
                        "maxProperties" : 4,
                        "minProperties" : 4,
                        "required" : [ "criteriaId", "criterions", "pattern", "transformationId" ],
                        "properties" : {
                          "criteriaId" : {
                            "format" : "int64"
                          },
                          "transformationId" : {
                            "format" : "int64"
                          },
                          "pattern" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "criterions" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxProperties" : 6,
                              "minProperties" : 6,
                              "required" : [ "column", "comparator", "criteriaId", "criterionId", "patternOrder", "value" ],
                              "properties" : {
                                "comparator" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "criterionId" : {
                                  "format" : "int64"
                                },
                                "patternOrder" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "criteriaId" : {
                                  "format" : "int64"
                                },
                                "column" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "value" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            }
                          }
                        },
                        "additionalProperties" : false
                      },
                      "column" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "transformationType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "create|update|delete|relation|drop",
                        "enum" : [ "create", "update", "delete", "relation", "drop" ]
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "moduleId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "parameters" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxProperties" : 5,
                          "minProperties" : 5,
                          "required" : [ "transformationId", "transformationParamId", "type", "value", "variableKey" ],
                          "properties" : {
                            "transformationId" : {
                              "format" : "int64"
                            },
                            "variableKey" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "transformationParamId" : {
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "value" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "order" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      }
                    },
                    "additionalProperties" : { }
                  }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "columnType" : "TEXT",
                        "expressionParameters" : [ {
                          "variableKey" : "$1",
                          "type" : "VALUE",
                          "value" : "noname"
                        } ],
                        "expression" : "set($1)",
                        "criteria" : {
                          "pattern" : "1",
                          "criterions" : [ {
                            "comparator" : "IS_NULL",
                            "column" : "lastName",
                            "criterionOrder" : "1",
                            "value" : ""
                          } ]
                        },
                        "column" : "lastName",
                        "name" : "lastName2",
                        "transformationType" : "UPDATE",
                        "id" : "4000000139003"
                      }, {
                        "columnType" : "TEXT",
                        "expressionParameters" : [ {
                          "variableKey" : "$1",
                          "type" : "VALUE",
                          "value" : "noname"
                        } ],
                        "expression" : "set($1)",
                        "criteria" : {
                          "pattern" : "1",
                          "criterions" : [ {
                            "comparator" : "IS_NULL",
                            "column" : "lastName",
                            "criterionOrder" : "1",
                            "value" : ""
                          } ]
                        },
                        "column" : "lastName",
                        "name" : "lastName",
                        "transformationType" : "UPDATE",
                        "id" : "4000000148003"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 120000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "c4600bc6d5969f77588a9bf5432bbd6b",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.DataImportCustomActionService.getCustomActions"
        }
      },
      "post" : {
        "tags" : [ "DataImport" ],
        "summary" : "Add Transformations to Data Import",
        "description" : "This API allows to add new transformations to a data import request",
        "operationId" : "AddDataImportTransformations",
        "parameters" : [ {
          "name" : "module",
          "in" : "query",
          "description" : "Api Name of the module for which custom Actions are to be added.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Api Name of the module for which custom Actions are to be added."
          }
        }, {
          "name" : "dataImportId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "transformationsList" ],
                "properties" : {
                  "transformationsList" : {
                    "items" : {
                      "required" : [ "column", "columnType", "criteria", "expression", "name", "parameters", "transformationType" ],
                      "properties" : {
                        "columnType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "Boolean|TinyInt|Integer|Long|Decimal|Date|DateTime|Text|MediumText|LargeText",
                          "enum" : [ "Boolean", "TinyInt", "Integer", "Long", "Decimal", "Date", "DateTime", "Text", "MediumText", "LargeText" ]
                        },
                        "expression" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "criteria" : {
                          "maxProperties" : 2,
                          "minProperties" : 2,
                          "required" : [ "criterions", "pattern" ],
                          "properties" : {
                            "pattern" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "criterions" : {
                              "uniqueItems" : false,
                              "items" : {
                                "maxProperties" : 4,
                                "minProperties" : 4,
                                "required" : [ "column", "comparator", "patternOrder", "value" ],
                                "properties" : {
                                  "comparator" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "equal|not_equal|greater_equal|greater_than|less_equal|less_than|in|not_in|starts_with|ends_with|contains|not_contains|between|not_between|is_null|is_not_null",
                                    "enum" : [ "equal", "not_equal", "greater_equal", "greater_than", "less_equal", "less_than", "in", "not_in", "starts_with", "ends_with", "contains", "not_contains", "between", "not_between", "is_null", "is_not_null" ]
                                  },
                                  "patternOrder" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "column" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "value" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "column" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "transformationType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "create|update|delete|relation|drop",
                          "enum" : [ "create", "update", "delete", "relation", "drop" ]
                        },
                        "parameters" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxProperties" : 3,
                            "minProperties" : 3,
                            "required" : [ "value", "valueType", "variableKey" ],
                            "properties" : {
                              "valueType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "column|value|expr|null",
                                "enum" : [ "column", "value", "expr", "null" ]
                              },
                              "variableKey" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "value" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      },
                      "additionalProperties" : { }
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "transformationsList" : [ {
                      "columnType" : "TEXT",
                      "expressionParameters" : [ {
                        "valueType" : "VALUE",
                        "variableKey" : "$1",
                        "value" : "noname"
                      } ],
                      "expression" : "set($1)",
                      "criteria" : {
                        "pattern" : "1",
                        "criterions" : [ {
                          "comparator" : "IS_NULL",
                          "column" : "lastName",
                          "criterionOrder" : "1",
                          "value" : ""
                        } ]
                      },
                      "name" : "lastName",
                      "column" : "lastName",
                      "transformationType" : "UPDATE"
                    }, {
                      "columnType" : "TEXT",
                      "expressionParameters" : [ {
                        "valueType" : "VALUE",
                        "variableKey" : "$1",
                        "value" : "noname"
                      } ],
                      "expression" : "set($1)",
                      "criteria" : {
                        "pattern" : "1",
                        "criterions" : [ {
                          "comparator" : "IS_NULL",
                          "column" : "lastName",
                          "criterionOrder" : "1",
                          "value" : ""
                        } ]
                      },
                      "name" : "lastName2",
                      "column" : "lastName",
                      "transformationType" : "UPDATE"
                    } ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "DataImportAddActionResponseList template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "required" : [ "column", "columnType", "criteria", "expression", "id", "moduleId", "name", "order", "parameters", "transformationType" ],
                    "properties" : {
                      "columnType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "Boolean|TinyInt|Integer|Long|Decimal|Date|DateTime|Text|MediumText|LargeText",
                        "enum" : [ "Boolean", "TinyInt", "Integer", "Long", "Decimal", "Date", "DateTime", "Text", "MediumText", "LargeText" ]
                      },
                      "expression" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "criteria" : {
                        "maxProperties" : 4,
                        "minProperties" : 4,
                        "required" : [ "criteriaId", "criterions", "pattern", "transformationId" ],
                        "properties" : {
                          "criteriaId" : {
                            "format" : "int64"
                          },
                          "transformationId" : {
                            "format" : "int64"
                          },
                          "pattern" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "criterions" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxProperties" : 6,
                              "minProperties" : 6,
                              "required" : [ "column", "comparator", "criteriaId", "criterionId", "patternOrder", "value" ],
                              "properties" : {
                                "comparator" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "criterionId" : {
                                  "format" : "int64"
                                },
                                "patternOrder" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "criteriaId" : {
                                  "format" : "int64"
                                },
                                "column" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "value" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            }
                          }
                        },
                        "additionalProperties" : false
                      },
                      "column" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "transformationType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "create|update|delete|relation|drop",
                        "enum" : [ "create", "update", "delete", "relation", "drop" ]
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "moduleId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "parameters" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxProperties" : 5,
                          "minProperties" : 5,
                          "required" : [ "transformationId", "transformationParamId", "type", "value", "variableKey" ],
                          "properties" : {
                            "transformationId" : {
                              "format" : "int64"
                            },
                            "variableKey" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "transformationParamId" : {
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "value" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "order" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "columnType" : "TEXT",
                        "expressionParameters" : [ {
                          "variableKey" : "$1",
                          "type" : "VALUE",
                          "value" : "noname"
                        } ],
                        "expression" : "set($1)",
                        "criteria" : {
                          "pattern" : "1",
                          "criterions" : [ {
                            "comparator" : "IS_NULL",
                            "column" : "lastName",
                            "criterionOrder" : "1",
                            "value" : ""
                          } ]
                        },
                        "column" : "lastName",
                        "name" : "lastName2",
                        "transformationType" : "UPDATE",
                        "id" : "4000000139003"
                      }, {
                        "columnType" : "TEXT",
                        "expressionParameters" : [ {
                          "variableKey" : "$1",
                          "type" : "VALUE",
                          "value" : "noname"
                        } ],
                        "expression" : "set($1)",
                        "criteria" : {
                          "pattern" : "1",
                          "criterions" : [ {
                            "comparator" : "IS_NULL",
                            "column" : "lastName",
                            "criterionOrder" : "1",
                            "value" : ""
                          } ]
                        },
                        "column" : "lastName",
                        "name" : "lastName",
                        "transformationType" : "UPDATE",
                        "id" : "4000000148003"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 120000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "35cfd6621293ce607d50b3e9fdfdcc0a",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.DataImportCustomActionService.addCustomActions"
        }
      }
    },
    "/api/v1/dataImport/{dataImportId}/transformations/{transformationId}" : {
      "delete" : {
        "tags" : [ "DataImport" ],
        "summary" : "Delete Data Import  Transformation",
        "description" : "This API deletes a dataImport Transformation that has been added previously",
        "operationId" : "Delete Data Import  Transformation",
        "parameters" : [ {
          "name" : "dataImportId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "transformationId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 120000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "fafc0d035b4d7d4295eec7865d18abd8",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.DataImportCustomActionService.deleteCustomAction"
        }
      },
      "patch" : {
        "tags" : [ "DataImport" ],
        "summary" : "Update Transformation of Data Import",
        "description" : "This API allows to update an already added transformation of a particular data import request",
        "operationId" : "Update Data Import Transformation",
        "parameters" : [ {
          "name" : "dataImportId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "transformationId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "columnType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "Boolean|TinyInt|Integer|Long|Decimal|Date|DateTime|Text|MediumText|LargeText",
                    "enum" : [ "Boolean", "TinyInt", "Integer", "Long", "Decimal", "Date", "DateTime", "Text", "MediumText", "LargeText" ]
                  },
                  "expression" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "criteria" : {
                    "maxProperties" : 2,
                    "minProperties" : 2,
                    "required" : [ "criterions", "pattern" ],
                    "properties" : {
                      "pattern" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "criterions" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxProperties" : 4,
                          "minProperties" : 4,
                          "required" : [ "column", "comparator", "patternOrder", "value" ],
                          "properties" : {
                            "comparator" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "equal|not_equal|greater_equal|greater_than|less_equal|less_than|in|not_in|starts_with|ends_with|contains|not_contains|between|not_between|is_null|is_not_null",
                              "enum" : [ "equal", "not_equal", "greater_equal", "greater_than", "less_equal", "less_than", "in", "not_in", "starts_with", "ends_with", "contains", "not_contains", "between", "not_between", "is_null", "is_not_null" ]
                            },
                            "patternOrder" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "column" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "value" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : { }
                        }
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "column" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "transformationType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "create|update|delete|relation|drop",
                    "enum" : [ "create", "update", "delete", "relation", "drop" ]
                  },
                  "parameters" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "value", "valueType", "variableKey" ],
                      "properties" : {
                        "valueType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "column|value|expr|null",
                          "enum" : [ "column", "value", "expr", "null" ]
                        },
                        "variableKey" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "value" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : { }
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "columnType" : "TEXT",
                    "expressionParameters" : [ {
                      "valueType" : "VALUE",
                      "variableKey" : "$1",
                      "value" : "noname2"
                    } ],
                    "expression" : "set($1)",
                    "criteria" : {
                      "pattern" : "1",
                      "criterions" : [ {
                        "comparator" : "IS_NULL",
                        "column" : "lastName",
                        "criterionOrder" : "1",
                        "value" : "ABC"
                      } ]
                    },
                    "name" : "lastName9",
                    "column" : "lastName6",
                    "transformationType" : "CREATE"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "dataImportAddActionResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "column", "columnType", "criteria", "expression", "id", "moduleId", "name", "order", "parameters", "transformationType" ],
                  "properties" : {
                    "columnType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "Boolean|TinyInt|Integer|Long|Decimal|Date|DateTime|Text|MediumText|LargeText",
                      "enum" : [ "Boolean", "TinyInt", "Integer", "Long", "Decimal", "Date", "DateTime", "Text", "MediumText", "LargeText" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Column type. Allowed values are @BOOLEAN@, @TINYINT@, @INTEGER@, @LONG@, @DECIMAL@, @DATE@, @DATETIME@, @TEXT@, @MEDIUMTEXT@, @LARGETEXT@",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "expression" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Function expression to perform transformation",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "criteria" : {
                      "maxProperties" : 4,
                      "minProperties" : 4,
                      "required" : [ "criteriaId", "criterions", "pattern", "transformationId" ],
                      "properties" : {
                        "criteriaId" : {
                          "format" : "int64"
                        },
                        "transformationId" : {
                          "format" : "int64"
                        },
                        "pattern" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "criterions" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxProperties" : 6,
                            "minProperties" : 6,
                            "required" : [ "column", "comparator", "criteriaId", "criterionId", "patternOrder", "value" ],
                            "properties" : {
                              "comparator" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "criterionId" : {
                                "format" : "int64"
                              },
                              "patternOrder" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "criteriaId" : {
                                "format" : "int64"
                              },
                              "column" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "value" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "column" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Column for which the transformation is to be performed",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Name of the transformation",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "transformationType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "create|update|delete|relation|drop",
                      "enum" : [ "create", "update", "delete", "relation", "drop" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Type of transformation. Allowed values are @CREATE@, @UPDATE@, @DELETE@, @RELATION@, @DELETE_RECORDS@",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "moduleId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "parameters" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "transformationId", "transformationParamId", "type", "value", "variableKey" ],
                        "properties" : {
                          "transformationId" : {
                            "format" : "int64"
                          },
                          "variableKey" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "transformationParamId" : {
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "value" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "order" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : {
                        "columnType" : "TEXT",
                        "expressionParameters" : [ {
                          "variableKey" : "$1",
                          "type" : "VALUE",
                          "value" : "noname2"
                        } ],
                        "expression" : "set($1)",
                        "criteria" : {
                          "pattern" : "1",
                          "criterions" : [ {
                            "comparator" : "IS_NULL",
                            "column" : "lastName",
                            "criterionOrder" : "1",
                            "value" : "ABC"
                          } ]
                        },
                        "column" : "lastName6",
                        "name" : "lastName9",
                        "transformationType" : "CREATE",
                        "id" : "3263000000074591"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 120000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "6e4aa1ba690e5af665b93328662dc42b",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.DataImportCustomActionService.updateCustomAction"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "dataImportAddActionResponse" : {
        "required" : [ "column", "columnType", "criteria", "expression", "id", "moduleId", "name", "order", "parameters", "transformationType" ],
        "properties" : {
          "columnType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "Boolean|TinyInt|Integer|Long|Decimal|Date|DateTime|Text|MediumText|LargeText",
            "enum" : [ "Boolean", "TinyInt", "Integer", "Long", "Decimal", "Date", "DateTime", "Text", "MediumText", "LargeText" ]
          },
          "expression" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "criteria" : {
            "maxProperties" : 4,
            "minProperties" : 4,
            "required" : [ "criteriaId", "criterions", "pattern", "transformationId" ],
            "properties" : {
              "criteriaId" : {
                "format" : "int64"
              },
              "transformationId" : {
                "format" : "int64"
              },
              "pattern" : {
                "pattern" : "([0-9]+)",
                "format" : "int32"
              },
              "criterions" : {
                "uniqueItems" : false,
                "items" : {
                  "maxProperties" : 6,
                  "minProperties" : 6,
                  "required" : [ "column", "comparator", "criteriaId", "criterionId", "patternOrder", "value" ],
                  "properties" : {
                    "comparator" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "criterionId" : {
                      "format" : "int64"
                    },
                    "patternOrder" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "criteriaId" : {
                      "format" : "int64"
                    },
                    "column" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "value" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                }
              }
            },
            "additionalProperties" : { }
          },
          "column" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "transformationType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "create|update|delete|relation|drop",
            "enum" : [ "create", "update", "delete", "relation", "drop" ]
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "moduleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "parameters" : {
            "uniqueItems" : false,
            "items" : {
              "maxProperties" : 5,
              "minProperties" : 5,
              "required" : [ "transformationId", "transformationParamId", "type", "value", "variableKey" ],
              "properties" : {
                "transformationId" : {
                  "format" : "int64"
                },
                "variableKey" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "transformationParamId" : {
                  "format" : "int64"
                },
                "type" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "value" : {
                  "maxLength" : 100,
                  "minLength" : 0
                }
              },
              "additionalProperties" : { }
            }
          },
          "order" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          }
        },
        "additionalProperties" : { }
      },
      "DataImportAddCustomActionTemplate" : {
        "required" : [ "column", "columnType", "criteria", "expression", "name", "parameters", "transformationType" ],
        "properties" : {
          "columnType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "Boolean|TinyInt|Integer|Long|Decimal|Date|DateTime|Text|MediumText|LargeText",
            "enum" : [ "Boolean", "TinyInt", "Integer", "Long", "Decimal", "Date", "DateTime", "Text", "MediumText", "LargeText" ]
          },
          "expression" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "criteria" : {
            "maxProperties" : 2,
            "minProperties" : 2,
            "required" : [ "criterions", "pattern" ],
            "properties" : {
              "pattern" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "criterions" : {
                "uniqueItems" : false,
                "items" : {
                  "maxProperties" : 4,
                  "minProperties" : 4,
                  "required" : [ "column", "comparator", "patternOrder", "value" ],
                  "properties" : {
                    "comparator" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "equal|not_equal|greater_equal|greater_than|less_equal|less_than|in|not_in|starts_with|ends_with|contains|not_contains|between|not_between|is_null|is_not_null",
                      "enum" : [ "equal", "not_equal", "greater_equal", "greater_than", "less_equal", "less_than", "in", "not_in", "starts_with", "ends_with", "contains", "not_contains", "between", "not_between", "is_null", "is_not_null" ]
                    },
                    "patternOrder" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "column" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "value" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : { }
                }
              }
            },
            "additionalProperties" : { }
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "column" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "transformationType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "create|update|delete|relation|drop",
            "enum" : [ "create", "update", "delete", "relation", "drop" ]
          },
          "parameters" : {
            "uniqueItems" : false,
            "items" : {
              "maxProperties" : 3,
              "minProperties" : 3,
              "required" : [ "value", "valueType", "variableKey" ],
              "properties" : {
                "valueType" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "column|value|expr|null",
                  "enum" : [ "column", "value", "expr", "null" ]
                },
                "variableKey" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "value" : {
                  "maxLength" : 100,
                  "minLength" : 0
                }
              },
              "additionalProperties" : { }
            }
          }
        },
        "additionalProperties" : { }
      },
      "DataImportAddCustomActionsArray" : {
        "items" : {
          "required" : [ "column", "columnType", "criteria", "expression", "name", "parameters", "transformationType" ],
          "properties" : {
            "columnType" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "Boolean|TinyInt|Integer|Long|Decimal|Date|DateTime|Text|MediumText|LargeText",
              "enum" : [ "Boolean", "TinyInt", "Integer", "Long", "Decimal", "Date", "DateTime", "Text", "MediumText", "LargeText" ]
            },
            "expression" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "criteria" : {
              "maxProperties" : 2,
              "minProperties" : 2,
              "required" : [ "criterions", "pattern" ],
              "properties" : {
                "pattern" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "criterions" : {
                  "uniqueItems" : false,
                  "items" : {
                    "maxProperties" : 4,
                    "minProperties" : 4,
                    "required" : [ "column", "comparator", "patternOrder", "value" ],
                    "properties" : {
                      "comparator" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "equal|not_equal|greater_equal|greater_than|less_equal|less_than|in|not_in|starts_with|ends_with|contains|not_contains|between|not_between|is_null|is_not_null",
                        "enum" : [ "equal", "not_equal", "greater_equal", "greater_than", "less_equal", "less_than", "in", "not_in", "starts_with", "ends_with", "contains", "not_contains", "between", "not_between", "is_null", "is_not_null" ]
                      },
                      "patternOrder" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "column" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "value" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      }
                    },
                    "additionalProperties" : false
                  }
                }
              },
              "additionalProperties" : false
            },
            "name" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "column" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "transformationType" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "create|update|delete|relation|drop",
              "enum" : [ "create", "update", "delete", "relation", "drop" ]
            },
            "parameters" : {
              "uniqueItems" : false,
              "items" : {
                "maxProperties" : 3,
                "minProperties" : 3,
                "required" : [ "value", "valueType", "variableKey" ],
                "properties" : {
                  "valueType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "column|value|expr|null",
                    "enum" : [ "column", "value", "expr", "null" ]
                  },
                  "variableKey" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "value" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  }
                },
                "additionalProperties" : false
              }
            }
          },
          "additionalProperties" : false
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "DataImportAddActionResponseList" : {
        "description" : "DataImportAddActionResponseList template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "items" : {
                "required" : [ "column", "columnType", "criteria", "expression", "id", "moduleId", "name", "order", "parameters", "transformationType" ],
                "properties" : {
                  "columnType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "Boolean|TinyInt|Integer|Long|Decimal|Date|DateTime|Text|MediumText|LargeText",
                    "enum" : [ "Boolean", "TinyInt", "Integer", "Long", "Decimal", "Date", "DateTime", "Text", "MediumText", "LargeText" ]
                  },
                  "expression" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "criteria" : {
                    "maxProperties" : 4,
                    "minProperties" : 4,
                    "required" : [ "criteriaId", "criterions", "pattern", "transformationId" ],
                    "properties" : {
                      "criteriaId" : {
                        "format" : "int64"
                      },
                      "transformationId" : {
                        "format" : "int64"
                      },
                      "pattern" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "criterions" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxProperties" : 6,
                          "minProperties" : 6,
                          "required" : [ "column", "comparator", "criteriaId", "criterionId", "patternOrder", "value" ],
                          "properties" : {
                            "comparator" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "criterionId" : {
                              "format" : "int64"
                            },
                            "patternOrder" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "criteriaId" : {
                              "format" : "int64"
                            },
                            "column" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "value" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : false
                  },
                  "column" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "transformationType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "create|update|delete|relation|drop",
                    "enum" : [ "create", "update", "delete", "relation", "drop" ]
                  },
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "moduleId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "parameters" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxProperties" : 5,
                      "minProperties" : 5,
                      "required" : [ "transformationId", "transformationParamId", "type", "value", "variableKey" ],
                      "properties" : {
                        "transformationId" : {
                          "format" : "int64"
                        },
                        "variableKey" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "transformationParamId" : {
                          "format" : "int64"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "value" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "order" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int32"
                  }
                },
                "additionalProperties" : false
              }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : [ {
                    "columnType" : "TEXT",
                    "expressionParameters" : [ {
                      "variableKey" : "$1",
                      "type" : "VALUE",
                      "value" : "noname"
                    } ],
                    "expression" : "set($1)",
                    "criteria" : {
                      "pattern" : "1",
                      "criterions" : [ {
                        "comparator" : "IS_NULL",
                        "column" : "lastName",
                        "criterionOrder" : "1",
                        "value" : ""
                      } ]
                    },
                    "column" : "lastName",
                    "name" : "lastName2",
                    "transformationType" : "UPDATE",
                    "id" : "4000000139003"
                  }, {
                    "columnType" : "TEXT",
                    "expressionParameters" : [ {
                      "variableKey" : "$1",
                      "type" : "VALUE",
                      "value" : "noname"
                    } ],
                    "expression" : "set($1)",
                    "criteria" : {
                      "pattern" : "1",
                      "criterions" : [ {
                        "comparator" : "IS_NULL",
                        "column" : "lastName",
                        "criterionOrder" : "1",
                        "value" : ""
                      } ]
                    },
                    "column" : "lastName",
                    "name" : "lastName",
                    "transformationType" : "UPDATE",
                    "id" : "4000000148003"
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "dataImportAddActionResponse" : {
        "description" : "dataImportAddActionResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "column", "columnType", "criteria", "expression", "id", "moduleId", "name", "order", "parameters", "transformationType" ],
              "properties" : {
                "columnType" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "Boolean|TinyInt|Integer|Long|Decimal|Date|DateTime|Text|MediumText|LargeText",
                  "enum" : [ "Boolean", "TinyInt", "Integer", "Long", "Decimal", "Date", "DateTime", "Text", "MediumText", "LargeText" ],
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Column type. Allowed values are @BOOLEAN@, @TINYINT@, @INTEGER@, @LONG@, @DECIMAL@, @DATE@, @DATETIME@, @TEXT@, @MEDIUMTEXT@, @LARGETEXT@",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "expression" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Function expression to perform transformation",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "criteria" : {
                  "maxProperties" : 4,
                  "minProperties" : 4,
                  "required" : [ "criteriaId", "criterions", "pattern", "transformationId" ],
                  "properties" : {
                    "criteriaId" : {
                      "format" : "int64"
                    },
                    "transformationId" : {
                      "format" : "int64"
                    },
                    "pattern" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "criterions" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxProperties" : 6,
                        "minProperties" : 6,
                        "required" : [ "column", "comparator", "criteriaId", "criterionId", "patternOrder", "value" ],
                        "properties" : {
                          "comparator" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "criterionId" : {
                            "format" : "int64"
                          },
                          "patternOrder" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "criteriaId" : {
                            "format" : "int64"
                          },
                          "column" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "value" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "column" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Column for which the transformation is to be performed",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Name of the transformation",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "transformationType" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "create|update|delete|relation|drop",
                  "enum" : [ "create", "update", "delete", "relation", "drop" ],
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Type of transformation. Allowed values are @CREATE@, @UPDATE@, @DELETE@, @RELATION@, @DELETE_RECORDS@",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "moduleId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "parameters" : {
                  "uniqueItems" : false,
                  "items" : {
                    "maxProperties" : 5,
                    "minProperties" : 5,
                    "required" : [ "transformationId", "transformationParamId", "type", "value", "variableKey" ],
                    "properties" : {
                      "transformationId" : {
                        "format" : "int64"
                      },
                      "variableKey" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "transformationParamId" : {
                        "format" : "int64"
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "value" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      }
                    },
                    "additionalProperties" : { }
                  }
                },
                "order" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : {
                    "columnType" : "TEXT",
                    "expressionParameters" : [ {
                      "variableKey" : "$1",
                      "type" : "VALUE",
                      "value" : "noname2"
                    } ],
                    "expression" : "set($1)",
                    "criteria" : {
                      "pattern" : "1",
                      "criterions" : [ {
                        "comparator" : "IS_NULL",
                        "column" : "lastName",
                        "criterionOrder" : "1",
                        "value" : "ABC"
                      } ]
                    },
                    "column" : "lastName6",
                    "name" : "lastName9",
                    "transformationType" : "CREATE",
                    "id" : "3263000000074591"
                  }
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "OAuth Org Mismatch Error Response" : {
                "value" : {
                  "errorCode" : "OAUTH_ORG_MISMATCH",
                  "message" : "The OAuthToken is not valid for specified organization."
                }
              }
            }
          }
        }
      },
      "forbiddenErrorResponse" : {
        "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Forbidden Error Response" : {
                "value" : {
                  "errorCode" : "FORBIDDEN",
                  "message" : "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "urlNotFoundErrorResponse" : {
        "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Url Not Found Error Response" : {
                "value" : {
                  "errorCode" : "URL_NOT_FOUND",
                  "message" : "The URL you requested could not be found."
                }
              }
            }
          }
        }
      },
      "methodNotAllowedErrorResponse" : {
        "description" : "This errorCode value appears if the method in the API request is known by the server but disabled for the API requested.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Method Not Allowed Error Response" : {
                "value" : {
                  "errorCode" : "METHOD_NOT_ALLOWED",
                  "message" : "This HTTP method is not allowed on this URL."
                }
              }
            }
          }
        }
      },
      "resourceSizeExceededErrorResponse" : {
        "description" : "This errorCode value appears if the size of the resource exceeds the limit defined by the server.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Resource Size Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "RESOURCE_SIZE_EXCEEDED",
                  "message" : "Attachment size is too large. The maximum size supported is 20 MB."
                }
              }
            }
          }
        }
      },
      "unSupportedMediaTypeErrorResponse" : {
        "description" : "This errorCode value appears if the server refuses the request as a result of receiving the input in an unsupported format.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unsupported Media Type Error Response" : {
                "value" : {
                  "errorCode" : "UNSUPPORTED_MEDIA_TYPE",
                  "message" : "The given content type is not supported. Please provide the input Content-Type as application/json"
                }
              }
            }
          }
        }
      },
      "unprocessableEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The value passed for the 'from' query parameter is invalid."
                }
              }
            }
          }
        }
      },
      "missingEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not contain the mandatory parameters for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The mandatory parameter 'permission' is missing"
                }
              }
            }
          }
        }
      },
      "thresholdExceedErrorResponse" : {
        "description" : "This errorCode value appears if the user sends too many requests within a given amount of time (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Threshold Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "THRESHOLD_EXCEEDED",
                  "message" : "The maximum number of API calls that can be made per day has been exceeded."
                }
              }
            }
          }
        }
      },
      "concurrentRateLimitExceededErrorResponse" : {
        "description" : "This errorCode value appears if the user fires too many requests in a simultaneous/concurrent manner (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Concurrent Rate Limit Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "TOO_MANY_REQUESTS",
                  "message" : "The maximum number of Concurrent API Calls that can be made has been exceeded."
                }
              }
            }
          }
        }
      },
      "internalErrorResponse" : {
        "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
[...]
