{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Department",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "users"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/departments/{departmentId}/associateAgents" : {
      "post" : {
        "tags" : [ "Department" ],
        "summary" : "Associate agents to department",
        "description" : "This API associates agents to a department.",
        "operationId" : "associateAgentsToDepartment",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "agentIds" ],
                "properties" : {
                  "agentIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "agentIds" : [ "1892000000042001", "1892000000056007" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE", "Desk.basic.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 25,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "7d8a5f3bed513ecff04f22b4d4040f67",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.DepartmentService.associateAgents"
        }
      }
    },
    "/api/v1/departments/{departmentId}" : {
      "get" : {
        "tags" : [ "Department" ],
        "summary" : "Get department",
        "description" : "This API fetches the details of a department from your help desk",
        "operationId" : "getDepartment",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getDepartmentResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "chatStatus", "createdTime", "creatorId", "description", "hasLogo", "id", "isAssignToTeamEnabled", "isDefault", "isEnabled", "isVisibleInCustomerPortal", "name", "nameInCustomerPortal", "sanitizedName" ],
                    "properties" : {
                      "isAssignToTeamEnabled" : { },
                      "chatStatus" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "AVAILABLE", "DISABLED", "NOT_CREATED" ]
                      },
                      "hasLogo" : { },
                      "sanitizedName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "isVisibleInCustomerPortal" : { },
                      "creatorId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "description" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "isDefault" : { },
                      "isEnabled" : { },
                      "name" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "nameInCustomerPortal" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "associatedAgentIds" ],
                    "properties" : {
                      "associatedAgentIds" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : [ { } ]
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "isAssignToTeamEnabled" : false,
                      "chatStatus" : "NOT_CREATED",
                      "hasLogo" : false,
                      "isVisibleInCustomerPortal" : true,
                      "creatorId" : "1892000000042001",
                      "description" : "With the most advanced technology, the zPhone is the world’s largest selling smartphone.",
                      "associatedAgentIds" : [ "1892000000042001", "1892000000056007" ],
                      "isDefault" : false,
                      "isEnabled" : true,
                      "name" : "zPhone",
                      "createdTime" : 1564146662000,
                      "id" : "1892000000082085",
                      "nameInCustomerPortal" : "zPhone"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "8ff8f45c432d0e23134b63518927ae8c",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.DepartmentService.getDepartment"
        }
      },
      "patch" : {
        "tags" : [ "Department" ],
        "summary" : "Update department",
        "description" : "This API updates the details of an existing department.",
        "operationId" : "updateDepartment",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "isAssignToTeamEnabled" : {
                    "description" : "Key that denotes if the assign to team functionality is enabled or not"
                  },
                  "nameInCustomerPortal" : {
                    "maxLength" : 200,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : "Display name of the department in the help center"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "isAssignToTeamEnabled" : true,
                    "nameInCustomerPortal" : "zPhone Support"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "getDepartmentResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "chatStatus", "createdTime", "creatorId", "description", "hasLogo", "id", "isAssignToTeamEnabled", "isDefault", "isEnabled", "isVisibleInCustomerPortal", "name", "nameInCustomerPortal", "sanitizedName" ],
                    "properties" : {
                      "isAssignToTeamEnabled" : { },
                      "chatStatus" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "AVAILABLE", "DISABLED", "NOT_CREATED" ]
                      },
                      "hasLogo" : { },
                      "sanitizedName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "isVisibleInCustomerPortal" : { },
                      "creatorId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "description" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "isDefault" : { },
                      "isEnabled" : { },
                      "name" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "nameInCustomerPortal" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "associatedAgentIds" ],
                    "properties" : {
                      "associatedAgentIds" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : [ { } ]
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "isAssignToTeamEnabled" : false,
                      "chatStatus" : "NOT_CREATED",
                      "hasLogo" : false,
                      "isVisibleInCustomerPortal" : true,
                      "creatorId" : "1892000000042001",
                      "description" : "With the most advanced technology, the zPhone is the world’s largest selling smartphone.",
                      "associatedAgentIds" : [ "1892000000042001", "1892000000056007" ],
                      "isDefault" : false,
                      "isEnabled" : true,
                      "name" : "zPhone",
                      "createdTime" : 1564146662000,
                      "id" : "1892000000082085",
                      "nameInCustomerPortal" : "zPhone"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE", "Desk.basic.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "5e3f519e53eb6695f16cd98331d9c754",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.DepartmentService.updateDepartment"
        }
      }
    },
    "/api/v1/departments/{departmentId}/logo" : {
      "get" : {
        "tags" : [ "Department" ],
        "summary" : "Get department logo",
        "description" : "This API fetches the logo set for a department.",
        "operationId" : "getDepartmentLogo",
        "parameters" : [ {
          "name" : "fileSize",
          "in" : "query",
          "description" : "Size of the image file to download. Values allowed are @THUMBNAIL@ (image with reduced dimensions and size) and @ACTUAL@ (image with actual dimensions and size). The default value is @ACTUAL@.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Size of the image file to download. Values allowed are @THUMBNAIL@ (image with reduced dimensions and size) and @ACTUAL@ (image with actual dimensions and size). The default value is @ACTUAL@.",
            "enum" : [ "THUMBNAIL", "ACTUAL" ]
          }
        }, {
          "name" : "departmentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "File response",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "format" : "binary"
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "10bb761f1c551a5747038dce9fc34772",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.DepartmentService.getDepartmentsLogoStream"
        }
      },
      "post" : {
        "tags" : [ "Department" ],
        "summary" : "Upload department logo",
        "description" : "This API updates the logo set for a department.",
        "operationId" : "updateDepartmentLogo",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "required" : [ "departmentLogo" ],
                "properties" : {
                  "departmentLogo" : {
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE", "Desk.basic.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 15,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "9bad8032c0917a07252ac2bea63a9845",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.DepartmentService.uploadDepartmentLogo"
        }
      },
      "delete" : {
        "tags" : [ "Department" ],
        "summary" : "Delete department logo",
        "description" : "This API removes the logo set for a department.",
        "operationId" : "deleteDepartmentLogo",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.DELETE", "Desk.basic.DELETE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 15,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "2b5f4120e0e3632f54a1ae222ec4ff3f",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.DepartmentService.deleteDepartmentLogo"
        }
      }
    },
    "/api/v1/departments/{departmentId}/enable" : {
      "post" : {
        "tags" : [ "Department" ],
        "summary" : "Enable department",
        "description" : "This API enables a department in your help desk portal.",
        "operationId" : "enableDepartment",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE", "Desk.basic.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 15,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "a72c42afa5da9baee56292a852324ce1",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.DepartmentService.enableDepartment"
        }
      }
    },
    "/api/v1/departments/{departmentId}/disable" : {
      "post" : {
        "tags" : [ "Department" ],
        "summary" : "Disable department",
        "description" : "This API disables a department in your help desk portal.",
        "operationId" : "disableDepartment",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "agentNewDepartment" ],
                "properties" : {
                  "emailNewDepartment" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "agentNewDepartment" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "emailNewDepartment" : "1892000000082069",
                    "agentNewDepartment" : "1892000000082069"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE", "Desk.basic.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 15,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "726da229d7b7f6901dfcb6115b606b31",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.DepartmentService.disableDepartment"
        }
      }
    },
    "/api/v1/departmentsByIds" : {
      "get" : {
        "tags" : [ "Department" ],
        "summary" : "Get department details by department IDs",
        "description" : "This API fetches the details of the departments whose IDs are passed in the API request.",
        "operationId" : "getDepartmentsByIds",
        "parameters" : [ {
          "name" : "departmentIds",
          "in" : "query",
          "description" : "Comma-separated array of department IDs. Maximum number of IDs allowed is 50.",
          "required" : true,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : false,
            "description" : "Comma-separated array of department IDs. Maximum number of IDs allowed is 50.",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "Comma-separated array of department IDs. Maximum number of IDs allowed is 50.", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "departmentListViewArray template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "chatStatus", "createdTime", "creatorId", "description", "hasLogo", "id", "isAssignToTeamEnabled", "isDefault", "isEnabled", "isVisibleInCustomerPortal", "name", "nameInCustomerPortal", "sanitizedName" ],
                        "properties" : {
                          "isAssignToTeamEnabled" : { },
                          "chatStatus" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "AVAILABLE", "DISABLED", "NOT_CREATED" ]
                          },
                          "hasLogo" : { },
                          "sanitizedName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "isVisibleInCustomerPortal" : { },
                          "creatorId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "description" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "isDefault" : { },
                          "isEnabled" : { },
                          "name" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "nameInCustomerPortal" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "isAssignToTeamEnabled" : true,
                        "chatStatus" : "AVAILABLE",
                        "isDefault" : true,
                        "hasLogo" : true,
                        "isVisibleInCustomerPortal" : true,
                        "isEnabled" : true,
                        "name" : "Zylker",
                        "creatorId" : "1892000000042001",
                        "description" : "Zylker Inc. is a multinational technology company that designs, develops, and sells consumer electronics.",
                        "createdTime" : 1564146662000,
                        "id" : "1892000000082069",
                        "nameInCustomerPortal" : "ZylCares"
                      }, {
                        "isAssignToTeamEnabled" : true,
                        "chatStatus" : "AVAILABLE",
                        "isDefault" : false,
                        "hasLogo" : true,
                        "isVisibleInCustomerPortal" : true,
                        "isEnabled" : true,
                        "name" : "zPad",
                        "creatorId" : "1892000000042001",
                        "description" : "zPad is the most advanced tablet that brings you the never-experienced-before processing power.",
                        "createdTime" : 1566904321000,
                        "id" : "1892000000082085",
                        "nameInCustomerPortal" : "zPad"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy,IscSignatureCalls_OrgPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "system-auth" : "optional",
              "scoped-services" : [ "ZohoSupport" ]
            }
          },
          "clan-group" : "automation",
          "apihash" : "cde556d0e6a0149ef387c419e403c24e",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.DepartmentService.getDepartmentsByIds"
        }
      }
    },
    "/api/v1/departments/{departmentId}/agents" : {
      "get" : {
        "tags" : [ "Department" ],
        "summary" : "List agents in department",
        "description" : "This API lists the agents in a department.",
        "operationId" : "getAgentsInDepartment",
        "parameters" : [ {
          "name" : "fieldName",
          "in" : "query",
          "description" : "Name of the field that must be used for searching and listing agents. Values allowed are: @firstName@, @lastName@, @name@, and @emailId@.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Name of the field that must be used for searching and listing agents. Values allowed are: @firstName@, @lastName@, @name@, and @emailId@.",
            "enum" : [ "firstName", "lastName", "emailId", "name" ]
          }
        }, {
          "name" : "searchStr",
          "in" : "query",
          "description" : "String to search for agents by first name, last name, or email ID. The string must contain at least one character. Three search methods are supported: 1) string* - Searches for agents whose first name, last name, or email ID start with the string, 2) *string* - Searches for agents whose first name, last name, or email ID contain the string, 3) string - Searches for agents whose first name, last name, or email ID is an exact match for the string",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "String to search for agents by first name, last name, or email ID. The string must contain at least one character. Three search methods are supported: 1) string* - Searches for agents whose first name, last name, or email ID start with the string, 2) *string* - Searches for agents whose first name, last name, or email ID contain the string, 3) string - Searches for agents whose first name, last name, or email ID is an exact match for the string"
          }
        }, {
          "name" : "isLightAgent",
          "in" : "query",
          "description" : "Key that denotes if the agents must be light or non light.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that denotes if the agents must be light or non light."
          }
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "To sort the available list of agents in either ascending or descending order. Values allowed are: @asc@ or @desc@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "To sort the available list of agents in either ascending or descending order. Values allowed are: @asc@ or @desc@",
            "enum" : [ "asc", "desc" ]
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of agents to fetch; default value is 10 and maximum value is 200",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 200,
            "minimum" : 0,
            "pattern" : "([0-9]+)",
            "description" : "Number of agents to fetch; default value is 10 and maximum value is 200",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the agents must be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the agents must be listed",
            "format" : "int32"
          }
        }, {
          "name" : "isConfirmed",
          "in" : "query",
          "description" : "Key that denotes if the agents must be confirmed or unconfirmed.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that denotes if the agents must be confirmed or unconfirmed."
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Key that filters agents, based on their activation status: @ACTIVE@ or @DISABLED@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Key that filters agents, based on their activation status: @ACTIVE@ or @DISABLED@",
            "enum" : [ "ACTIVE", "DISABLED" ]
          }
        }, {
          "name" : "departmentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "agentListArray template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "anyOf" : [ {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "required" : [ "aboutInfo", "associatedChatDepartmentIds", "associatedDepartmentIds", "countryCode", "emailId", "extn", "firstName", "langCode", "lastName", "mobile", "phone", "profileId", "roleId", "rolePermissionType", "status" ],
                              "properties" : {
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "extn" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$",
                                  "x-custom-parameters-attributes" : {
                                    "filterMatchedContent" : true,
                                    "replacementString" : ""
                                  }
                                },
                                "roleId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "langCode" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[a-zA-Z_]*"
                                },
                                "mobile" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$",
                                  "x-custom-parameters-attributes" : {
                                    "filterMatchedContent" : true,
                                    "replacementString" : ""
                                  }
                                },
                                "emailId" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                },
                                "associatedChatDepartmentIds" : {
                                  "uniqueItems" : true,
                                  "items" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64",
                                    "x-custom-parameters-attributes" : [ { } ]
                                  }
                                },
                                "associatedDepartmentIds" : {
                                  "uniqueItems" : true,
                                  "items" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64",
                                    "x-custom-parameters-attributes" : [ { } ]
                                  }
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "phone" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$",
                                  "x-custom-parameters-attributes" : {
                                    "filterMatchedContent" : true,
                                    "replacementString" : ""
                                  }
                                },
                                "countryCode" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[a-zA-Z_]*"
                                },
                                "profileId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "rolePermissionType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "AgentPublic", "AgentPersonal", "AgentTeamPersonal", "Admin", "Custom", "Light" ]
                                },
                                "aboutInfo" : {
                                  "maxLength" : 65535,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                                },
                                "status" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "ACTIVE", "DISABLED" ]
                                }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "channelExpert" ],
                              "properties" : {
                                "channelExpert" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "x-dynamic-enum" : true,
                                    "x-custom-parameters-attributes" : [ { } ]
                                  }
                                }
                              }
                            } ]
                          }, {
                            "required" : [ "id", "isConfirmed", "isZiaAgent", "name", "photoURL", "profileId", "roleId", "timeZone", "zuid" ],
                            "properties" : {
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "roleId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "profileId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "timeZone" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                              },
                              "isConfirmed" : { },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "zuid" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "isZiaAgent" : {
                                "description" : "Indicates whether the agent is a Zia agent or a human agent"
                              }
                            }
                          } ]
                        }, {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "additionalProperties" : false,
                              "allOf" : [ {
                                "required" : [ "aboutInfo", "associatedChatDepartmentIds", "associatedDepartmentIds", "countryCode", "emailId", "extn", "firstName", "langCode", "lastName", "mobile", "phone", "profileId", "roleId", "rolePermissionType", "status" ],
                                "properties" : {
                                  "lastName" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "extn" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$",
                                    "x-custom-parameters-attributes" : {
                                      "filterMatchedContent" : true,
                                      "replacementString" : ""
                                    }
                                  },
                                  "roleId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "langCode" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[a-zA-Z_]*"
                                  },
                                  "mobile" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$",
                                    "x-custom-parameters-attributes" : {
                                      "filterMatchedContent" : true,
                                      "replacementString" : ""
                                    }
                                  },
                                  "emailId" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                  },
                                  "associatedChatDepartmentIds" : {
                                    "uniqueItems" : true,
                                    "items" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64",
                                      "x-custom-parameters-attributes" : [ { } ]
                                    }
                                  },
                                  "associatedDepartmentIds" : {
                                    "uniqueItems" : true,
                                    "items" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64",
                                      "x-custom-parameters-attributes" : [ { } ]
                                    }
                                  },
                                  "firstName" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "phone" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$",
                                    "x-custom-parameters-attributes" : {
                                      "filterMatchedContent" : true,
                                      "replacementString" : ""
                                    }
                                  },
                                  "countryCode" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[a-zA-Z_]*"
                                  },
                                  "profileId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "rolePermissionType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "AgentPublic", "AgentPersonal", "AgentTeamPersonal", "Admin", "Custom", "Light" ]
                                  },
                                  "aboutInfo" : {
                                    "maxLength" : 65535,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                                  },
                                  "status" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "ACTIVE", "DISABLED" ]
                                  }
                                },
                                "additionalProperties" : false
                              }, {
                                "required" : [ "channelExpert" ],
                                "properties" : {
                                  "channelExpert" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "x-dynamic-enum" : true,
                                      "x-custom-parameters-attributes" : [ { } ]
                                    }
                                  }
                                }
                              } ]
                            }, {
                              "required" : [ "cf" ],
                              "properties" : {
                                "cf" : {
                                  "additionalProperties" : false
                                }
                              }
                            } ]
                          }, {
                            "required" : [ "id", "isConfirmed", "isZiaAgent", "name", "photoURL", "timeZone", "zuid" ],
                            "properties" : {
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "timeZone" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                              },
                              "isConfirmed" : { },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "zuid" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "isZiaAgent" : {
                                "description" : "Indicates whether the agent is a Zia agent or a human agent"
                              }
                            }
                          } ]
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "lastName" : "case",
                        "extn" : "3298",
                        "roleId" : "1892000000056099",
                        "langCode" : "en_US",
                        "mobile" : "",
                        "emailId" : "case@zylker.com",
                        "associatedChatDepartmentIds" : [ ],
                        "zuid" : "10687231",
                        "associatedDepartmentIds" : [ "1892000000006907", "1892000000082069", "1892000000639717" ],
                        "firstName" : "",
                        "photoURL" : null,
                        "phone" : "12121",
                        "profileId" : "1892000000056091",
                        "countryCode" : "en_US",
                        "channelExpert" : [ "Facebook", "Chat", "Phone", "Twitter", "Web", "Email", "Forums" ],
                        "name" : "case",
                        "isConfirmed" : true,
                        "aboutInfo" : "Expert in handling tickets and Automations",
                        "id" : "1892000000056007",
                        "status" : "ACTIVE",
                        "isZiaAgent" : false
                      }, {
                        "lastName" : "jade",
                        "extn" : "3203",
                        "roleId" : "1892000000056899",
                        "langCode" : "en_US",
                        "mobile" : "",
                        "emailId" : "jade@zylker.com",
                        "associatedChatDepartmentIds" : [ ],
                        "zuid" : "10657727",
                        "associatedDepartmentIds" : [ "1892000000006907", "1892000000082069", "1892000000639717", "1892000001019041", "1892000001106673", "1892000001109673" ],
                        "firstName" : "",
                        "photoURL" : "https://contacts.zoho.com/file?t=user&ID=10657727",
                        "phone" : "",
                        "profileId" : "1892000000056091",
                        "countryCode" : "en_US",
                        "channelExpert" : [ "Facebook", "Email", "Forums" ],
                        "name" : "jade",
                        "isConfirmed" : true,
                        "aboutInfo" : "Expert in handling tickets",
                        "id" : "1892000000042001",
                        "status" : "ACTIVE",
                        "isZiaAgent" : false
                      }, {
                        "lastName" : "john",
                        "extn" : "3228",
                        "roleId" : "1892000000056004",
                        "langCode" : "en_US",
                        "mobile" : "",
                        "emailId" : "john@zylker.com",
                        "associatedChatDepartmentIds" : [ ],
                        "zuid" : "10713988",
                        "associatedDepartmentIds" : [ "1892000000006907", "1892000001019041" ],
                        "firstName" : "",
                        "photoURL" : null,
                        "phone" : "68779989",
                        "profileId" : "18920000000232043",
                        "countryCode" : "en_US",
                        "channelExpert" : [ "Facebook", "Chat", "Phone", "Twitter", "Web", "Email", "Forums" ],
                        "name" : "john",
                        "isConfirmed" : true,
                        "aboutInfo" : "Expert in handling tickets and Automations",
                        "id" : "1892000000070001",
                        "status" : "DISABLED"
                      }, {
                        "lastName" : "Waugh",
                        "extn" : "4020",
                        "roleId" : "1892000000056004",
                        "langCode" : "ja_JP",
                        "mobile" : "",
                        "emailId" : "stephen@zylker.com",
                        "associatedChatDepartmentIds" : [ ],
                        "zuid" : null,
                        "associatedDepartmentIds" : [ "1892000000006907", "1892000000082069", "1892000000639717" ],
                        "firstName" : "Steve",
                        "photoURL" : null,
                        "phone" : "",
                        "profileId" : "18920000000232043",
                        "countryCode" : "en_US",
                        "channelExpert" : [ "Facebook", "Chat" ],
                        "name" : "Steve Waugh",
                        "isConfirmed" : false,
                        "aboutInfo" : "Expert in handling Departments",
                        "id" : "1892000000888059",
                        "status" : "ACTIVE",
                        "isZiaAgent" : false
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "efa77c0515bb75d402f46bc4bfba09e8",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.DepartmentService.getAgentsByDepartment"
        }
      }
    },
    "/api/v1/departments/count" : {
      "get" : {
        "tags" : [ "Department" ],
        "summary" : "Get department count",
        "description" : "This API returns the number of departments configured in your help desk portal.",
        "operationId" : "getDepartmentsCount",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "deptCountResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "count" ],
                  "properties" : {
                    "count" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "count" : 5
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 25,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "041792329fe117b1f6038294e0f3e71c",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.DepartmentService.getDepartmentsCount"
        }
      }
    },
    "/api/v1/departments/{departmentId}/dissociateAgents" : {
      "post" : {
        "tags" : [ "Department" ],
        "summary" : "Dissociate agents from department",
        "description" : "This API dissociates agents from a department.",
        "operationId" : "dissociateAgents",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "agentIds" ],
                "properties" : {
                  "agentIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  }
                },
                "additionalProperties" : false
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "agentIds" : [ "1892000000056007" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE", "Desk.basic.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 25,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "0f4ef46f55df0ef6721a2cf9d4008c57",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.DepartmentService.dissociateAgents"
        }
      }
    },
    "/api/v1/departments/{departmentId}/associableAgents" : {
      "get" : {
        "tags" : [ "Department" ],
        "summary" : "Get associable agents in a department",
        "description" : "This API lists the associable agents in a department in your helpdesk.",
        "operationId" : "getAssociableAgents",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "getAssociableAgentsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "aboutInfo", "associatedDepartmentIds", "channelExpert", "emailId", "extn", "firstName", "id", "isConfirmed", "lastName", "mobile", "phone", "photoURL", "profileId", "roleId", "rolePermissionType", "status", "zuid" ],
                        "properties" : {
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "extn" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "roleId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "mobile" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "emailId" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          },
                          "zuid" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "associatedDepartmentIds" : {
                            "uniqueItems" : true,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "phone" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "profileId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "channelExpert" : {
                            "uniqueItems" : false,
                            "items" : {
                              "x-dynamic-enum" : true
                            }
                          },
                          "rolePermissionType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "AgentPublic", "AgentPersonal", "AgentTeamPersonal", "Admin", "Custom", "Light" ]
                          },
                          "isConfirmed" : { },
                          "aboutInfo" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTIVE", "DISABLED", "DELETED", "IMPORTED" ]
                          },
                          "isZiaAgent" : {
                            "description" : "Indicates whether the agent is a Zia agent or a human agent"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "firstName" : "",
                        "lastName" : "case",
                        "photoURL" : null,
                        "roleId" : "1892000000056099",
                        "profileId" : "1892000000056091",
                        "emailId" : "case@zylker.com",
                        "id" : "1892000000056007",
                        "zuid" : "10687231"
                      }, {
                        "firstName" : "",
                        "lastName" : "jade",
                        "photoURL" : "https://contacts.zoho.com/file?t=user&ID=10657727",
                        "roleId" : "1892000000056899",
                        "profileId" : "1892000000056091",
                        "emailId" : "jade@zylker.com",
                        "id" : "1892000000042001",
                        "zuid" : "10657727"
                      }, {
                        "firstName" : "Steve",
                        "lastName" : "Waugh",
                        "photoURL" : "https://contacts.zoho.com/file?t=user&ID=10657828",
                        "roleId" : "1892000000056004",
                        "profileId" : "18920000000232043",
                        "emailId" : "stephen@zylker.com",
                        "id" : "1892000000888059",
                        "zuid" : null
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 25,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "4bd1bf2d8ddd5daf334c9b6f966250d1",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.DepartmentService.getAssociableAgents"
        }
      }
    },
    "/api/v1/departments" : {
      "get" : {
        "tags" : [ "Department" ],
        "summary" : "List departments",
        "description" : "This API lists a particular number of departments, based on the limit specified.",
        "operationId" : "getDepartments",
        "parameters" : [ {
          "name" : "chatStatus",
          "in" : "query",
          "description" : "Key that filters departments based on their chat status. Values allowed are @AVAILABLE@, @DISABLED@, @NOT_CREATED@, and @${UNAVAILABLE}@. @${UNAVAILABLE}@ refers to departments which are not available for chat.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
[...]
