{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "EventTimeEntry",
    "version" : "1.0.0",
    "x-clan-group" : "secModule",
    "x-module-group" : "timeEntry"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/events/{eventId}/timeEntry/{eventTimeEntryId}" : {
      "get" : {
        "tags" : [ "EventTimeEntry" ],
        "summary" : "Get an Event Time Entry",
        "description" : "This API fetches an event time entry from your help desk",
        "operationId" : "getTimeEntryForEvent",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Allowed value is : @owner@ ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Allowed value is : @owner@ ",
            "enum" : [ "owner" ],
            "x-custom-parameters-attributes" : {
              "entity" : "Include"
            }
          }
        }, {
          "name" : "eventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "eventTimeEntryId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getTimeEntryJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "additionalCost", "agentCostPerHour", "cf", "customFields", "description", "executedTime", "fixedCost", "hoursSpent", "isBillable", "minutesSpent", "mode", "ownerId", "requestChargeType", "secondsSpent", "totalCost" ],
                      "properties" : {
                        "secondsSpent" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "cf" : {
                          "additionalProperties" : false
                        },
                        "executedTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                        },
                        "customFields" : {
                          "additionalProperties" : false
                        },
                        "fixedCost" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                        },
                        "minutesSpent" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "agentCostPerHour" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                        },
                        "description" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "hoursSpent" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "ownerId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "isBillable" : { },
                        "mode" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "MANUAL", "AUTO" ]
                        },
                        "requestChargeType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "Customer Service", "Upgrade Request", "Product Consultation", "Support and Maintenance", "MANUAL" ]
                        },
                        "additionalCost" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                        },
                        "totalCost" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                        }
                      },
                      "additionalProperties" : { }
                    }, {
                      "required" : [ "createdTime", "departmentId", "id", "invoiceId" ],
                      "properties" : {
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "createdTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                        },
                        "invoiceId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      }
                    } ]
                  }, {
                    "required" : [ "createdBy", "isTrashed", "layoutDetails", "layoutId", "parent", "requestId", "taskId" ],
                    "properties" : {
                      "parent" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "associatedTicketId", "id", "subject", "ticketNumber", "type" ],
                        "properties" : {
                          "ticketNumber" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "associatedTicketId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "ID of the ticket associated, if the parent module is @TASKS@, @CALLS@ or @EVENTS@",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "subject" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "isTrashed" : { },
                      "createdBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "User who created the time entry.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "requestId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "layoutId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Layout of TimeEntry",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : true,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "taskId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "layoutDetails" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "id", "layoutName" ],
                        "properties" : {
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "layoutName" : {
                            "maxLength" : 120,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "secondsSpent" : "21",
                      "parent" : {
                        "ticketNumber" : "1002",
                        "associatedTicketId" : "4000000030017",
                        "subject" : "Events subject",
                        "id" : "4000000031015",
                        "type" : "EVENTS"
                      },
                      "executedTime" : 1466627400000,
                      "customFields" : {
                        "timeEntryName" : "time2"
                      },
                      "fixedCost" : null,
                      "departmentId" : "4000000008694",
                      "minutesSpent" : "23",
                      "creatorId" : "4000000008692",
                      "agentCostPerHour" : "3.0",
                      "description" : "Time Entry description",
                      "hoursSpent" : "3",
                      "ownerId" : "4000000008692",
                      "isBillable" : true,
                      "mode" : "MANUAL",
                      "isTrashed" : "false",
                      "billingType" : "FIXED_COST_FOR_TICKETS",
                      "createdTime" : 1466488320828,
                      "id" : "4000000045001",
                      "requestChargeType" : "Customer Service",
                      "additionalCost" : "10.0",
                      "totalCost" : "20.17"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.events.READ", "Desk.tasks.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "tasks" ]
            }
          },
          "clan-group" : "secModule",
          "apihash" : "f28cf1422d8468313edc7c27d281f6c2",
          "module-group" : "timeEntry",
          "apimethod" : "com.zoho.support.restapi.TimeEntryService.getTimeEntry"
        }
      },
      "patch" : {
        "tags" : [ "EventTimeEntry" ],
        "operationId" : "updateTimeEntryForEvent",
        "parameters" : [ {
          "name" : "eventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "eventTimeEntryId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "secondsSpent" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Number of seconds in the time entry.",
                    "format" : "int32"
                  },
                  "cf" : {
                    "additionalProperties" : { }
                  },
                  "executedTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                    "description" : "Time when work related to the time entry was started."
                  },
                  "customFields" : {
                    "additionalProperties" : { }
                  },
                  "fixedCost" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)",
                    "description" : "Fixed cost"
                  },
                  "minutesSpent" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Number of minutes in the time entry.",
                    "format" : "int32"
                  },
                  "agentCostPerHour" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)",
                    "description" : "Per hour cost of an agent."
                  },
                  "description" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Description of the time entry"
                  },
                  "hoursSpent" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Number of hours in the time entry.",
                    "format" : "int32"
                  },
                  "ownerId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the user associated with the time entry",
                    "format" : "int64"
                  },
                  "isBillable" : {
                    "description" : "Billing Preference"
                  },
                  "mode" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Mode configured in time tracking. Supported values are @Manual@ and @Auto@",
                    "enum" : [ "MANUAL", "AUTO" ]
                  },
                  "requestChargeType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Type of request in the ticket. Values supported are Customer Service, Upgrade Request, Product Consultation, and Support and Maintenance.",
                    "enum" : [ "Customer Service", "Upgrade Request", "Product Consultation", "Support and Maintenance", "MANUAL" ]
                  },
                  "additionalCost" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)",
                    "description" : "Additional cost incurred"
                  },
                  "totalCost" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)",
                    "description" : "Total cost incurred"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : null
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getTimeEntryJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "additionalCost", "agentCostPerHour", "cf", "customFields", "description", "executedTime", "fixedCost", "hoursSpent", "isBillable", "minutesSpent", "mode", "ownerId", "requestChargeType", "secondsSpent", "totalCost" ],
                      "properties" : {
                        "secondsSpent" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "cf" : {
                          "additionalProperties" : false
                        },
                        "executedTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                        },
                        "customFields" : {
                          "additionalProperties" : false
                        },
                        "fixedCost" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                        },
                        "minutesSpent" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "agentCostPerHour" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                        },
                        "description" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "hoursSpent" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "ownerId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "isBillable" : { },
                        "mode" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "MANUAL", "AUTO" ]
                        },
                        "requestChargeType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "Customer Service", "Upgrade Request", "Product Consultation", "Support and Maintenance", "MANUAL" ]
                        },
                        "additionalCost" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                        },
                        "totalCost" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                        }
                      },
                      "additionalProperties" : false
                    }, {
                      "required" : [ "createdTime", "departmentId", "id", "invoiceId" ],
                      "properties" : {
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "createdTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                        },
                        "invoiceId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      }
                    } ]
                  }, {
                    "required" : [ "createdBy", "isTrashed", "layoutDetails", "layoutId", "parent", "requestId", "taskId" ],
                    "properties" : {
                      "parent" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "associatedTicketId", "id", "subject", "ticketNumber", "type" ],
                        "properties" : {
                          "ticketNumber" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "associatedTicketId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "ID of the ticket associated, if the parent module is @TASKS@, @CALLS@ or @EVENTS@",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "subject" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      },
                      "isTrashed" : { },
                      "createdBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "User who created the time entry.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "requestId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "layoutId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Layout of TimeEntry",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : true,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "taskId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "layoutDetails" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "id", "layoutName" ],
                        "properties" : {
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "layoutName" : {
                            "maxLength" : 120,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "secondsSpent" : "21",
                      "parent" : {
                        "ticketNumber" : "1002",
                        "associatedTicketId" : "4000000030017",
                        "subject" : "Events subject",
                        "id" : "4000000031015",
                        "type" : "EVENTS"
                      },
                      "executedTime" : 1466627400000,
                      "customFields" : {
                        "timeEntryName" : "time2"
                      },
                      "fixedCost" : null,
                      "departmentId" : "4000000008694",
                      "minutesSpent" : "23",
                      "creatorId" : "4000000008692",
                      "agentCostPerHour" : "3.0",
                      "description" : "Time Entry description",
                      "hoursSpent" : "3",
                      "ownerId" : "4000000008692",
                      "isBillable" : true,
                      "mode" : "MANUAL",
                      "isTrashed" : "false",
                      "billingType" : "FIXED_COST_FOR_TICKETS",
                      "createdTime" : 1466488320828,
                      "id" : "4000000045001",
                      "requestChargeType" : "Customer Service",
                      "additionalCost" : "10.0",
                      "totalCost" : "20.17"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.events.UPDATE", "Desk.tasks.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "tasks" ]
            }
          },
          "clan-group" : "secModule",
          "apihash" : "5be15bfc176fc96be4f52a4617b25e98",
          "module-group" : "timeEntry",
          "apimethod" : "com.zoho.support.restapi.TimeEntryService.updateTimeEntry"
        }
      }
    },
    "/api/v1/events/{eventId}/timeEntrySummation" : {
      "get" : {
        "tags" : [ "EventTimeEntry" ],
        "summary" : "Get summation of Event Time Entries",
        "description" : "This API fetches summation of time entries for an event from your help desk",
        "operationId" : "getSummationOfTimeEntryForEvent",
        "parameters" : [ {
          "name" : "isInvoiced",
          "in" : "query",
          "description" : "Filter to get invoiced or not invoiced time entries",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Filter to get invoiced or not invoiced time entries",
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "billStatus",
          "in" : "query",
          "description" : "Key that filters time entries, based on their billing status: @nonBillable@ , @billable@ or @billed@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Key that filters time entries, based on their billing status: @nonBillable@ , @billable@ or @billed@",
            "enum" : [ "nonBillable", "billable", "billed" ]
          }
        }, {
          "name" : "isBillable",
          "in" : "query",
          "description" : "Billable Preference ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Billable Preference ",
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "eventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getSummationOfTimeEntryForEventResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "totalCosts", "totalHours", "totalMins", "totalSeconds" ],
                  "properties" : {
                    "totalMins" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "totalHours" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "totalCosts" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "totalSeconds" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "totalMins" : 5,
                      "totalHours" : 12,
                      "totalCosts" : 1000,
                      "totalSeconds" : 24
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.events.READ", "Desk.tasks.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "tasks" ]
            }
          },
          "clan-group" : "secModule",
          "apihash" : "3e005ff1a0e8bf6950dfede5a5b530ce",
          "module-group" : "timeEntry",
          "apimethod" : "com.zoho.support.restapi.TimeEntryService.getSummationOfTimeEntries"
        }
      }
    },
    "/api/v1/events/{eventId}/timeEntry" : {
      "get" : {
        "tags" : [ "EventTimeEntry" ],
        "summary" : "List Event Time Entries",
        "description" : "This API fetches all time entries associated with an event",
        "operationId" : "getTimeEntryByEventId",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Allowed value is : @owner@ ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Allowed value is : @owner@ ",
            "enum" : [ "owner" ],
            "x-custom-parameters-attributes" : {
              "entity" : "Include"
            }
          }
        }, {
          "name" : "createdTimeRange",
          "in" : "query",
          "description" : "Key that filters time entries created in a particular period of time. Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ; for example, createdTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z)),(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))|null",
            "description" : "Key that filters time entries created in a particular period of time. Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ; for example, createdTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z."
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of time entries to be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number of time entries to be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "isInvoiced",
          "in" : "query",
          "description" : "Filter to get invoiced or not invoiced time entries",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Filter to get invoiced or not invoiced time entries",
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "billStatus",
          "in" : "query",
          "description" : "Key that filters time entries, based on their billing status: @nonBillable@ , @billable@ or @billed@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Key that filters time entries, based on their billing status: @nonBillable@ , @billable@ or @billed@",
            "enum" : [ "nonBillable", "billable", "billed" ]
          }
        }, {
          "name" : "orderBy",
          "in" : "query",
          "description" : "Sort by a specific attribute: @executedTime@. The default sorting order is ascending.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Sort by a specific attribute: @executedTime@. The default sorting order is ascending.",
            "enum" : [ "ASC", "DESC" ]
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "From index",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "From index",
            "format" : "int32"
          }
        }, {
          "name" : "modifiedTimeRange",
          "in" : "query",
          "description" : "Key that filters time entries whose details were modified in a particular period of time. Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ; for example, modifiedTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z)),(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))|null",
            "description" : "Key that filters time entries whose details were modified in a particular period of time. Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ; for example, modifiedTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z."
          }
        }, {
          "name" : "isBillable",
          "in" : "query",
          "description" : "Billable Preference ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Billable Preference ",
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "eventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getTimeEntryByEventIdResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "owner" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : { }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "additionalProperties" : false,
                              "allOf" : [ {
                                "required" : [ "additionalCost", "agentCostPerHour", "cf", "customFields", "description", "executedTime", "fixedCost", "hoursSpent", "isBillable", "minutesSpent", "mode", "ownerId", "requestChargeType", "secondsSpent", "totalCost" ],
                                "properties" : {
                                  "secondsSpent" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "cf" : {
                                    "additionalProperties" : false
                                  },
                                  "executedTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "customFields" : {
                                    "additionalProperties" : false
                                  },
                                  "fixedCost" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                                  },
                                  "minutesSpent" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "agentCostPerHour" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                                  },
                                  "description" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "hoursSpent" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "ownerId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "isBillable" : { },
                                  "mode" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "MANUAL", "AUTO" ]
                                  },
                                  "requestChargeType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "Customer Service", "Upgrade Request", "Product Consultation", "Support and Maintenance", "MANUAL" ]
                                  },
                                  "additionalCost" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                                  },
                                  "totalCost" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                                  }
                                },
                                "additionalProperties" : false
                              }, {
                                "required" : [ "createdTime", "departmentId", "id", "invoiceId" ],
                                "properties" : {
                                  "departmentId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "createdTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "invoiceId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                }
                              } ]
                            }, {
                              "required" : [ "createdBy", "isTrashed", "layoutDetails", "layoutId", "parent", "requestId", "taskId" ],
                              "properties" : {
                                "parent" : {
                                  "maxProperties" : 5,
                                  "minProperties" : 5,
                                  "required" : [ "associatedTicketId", "id", "subject", "ticketNumber", "type" ],
                                  "properties" : {
                                    "ticketNumber" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "associatedTicketId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "subject" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "type" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "isTrashed" : { },
                                "createdBy" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "requestId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "layoutId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "taskId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "layoutDetails" : {
                                  "maxProperties" : 2,
                                  "minProperties" : 2,
                                  "required" : [ "id", "layoutName" ],
                                  "properties" : {
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "layoutName" : {
                                      "maxLength" : 120,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    }
                                  },
                                  "additionalProperties" : false
                                }
                              }
                            } ]
                          }, {
                            "required" : [ "billingType" ],
                            "properties" : {
                              "billingType" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            }
                          } ]
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "owner" : {
                          "firstName" : "Eswer",
                          "lastName" : "KM",
                          "photoURL" : "https://contacts.zoho.com/file?t=user&ID=4851669",
                          "name" : "Eswer KM",
                          "id" : "4000000008688129"
                        },
                        "secondsSpent" : "21",
                        "parent" : {
                          "ticketNumber" : "1002",
                          "associatedTicketId" : "4000000030017",
                          "subject" : "Events subject",
                          "id" : "4000000031015",
                          "type" : "EVENTS"
                        },
                        "executedTime" : 1466627400000,
                        "customFields" : {
                          "timeEntryName" : "time1"
                        },
                        "fixedCost" : null,
                        "departmentId" : "4000000008694",
                        "minutesSpent" : "23",
                        "creatorId" : "4000000008692",
                        "agentCostPerHour" : "3.0",
                        "description" : "Time Entry description",
                        "hoursSpent" : "3",
                        "ownerId" : "4000000008692",
                        "isBillable" : true,
                        "mode" : "MANUAL",
                        "isTrashed" : "false",
                        "billingType" : "FIXED_COST_FOR_TICKETS",
                        "createdTime" : 1466061884000,
                        "id" : "4000000033001",
                        "requestChargeType" : "Customer Service",
                        "additionalCost" : "10.0",
                        "totalCost" : "20.17"
                      }, {
                        "owner" : {
                          "firstName" : "Eswer",
                          "lastName" : "KM",
                          "photoURL" : "https://contacts.zoho.com/file?t=user&ID=4851669",
                          "name" : "Eswer KM",
                          "id" : "4000000008688129"
                        },
                        "secondsSpent" : "21",
                        "parent" : {
                          "ticketNumber" : "1002",
                          "associatedTicketId" : "4000000030017",
                          "subject" : "Events subject",
                          "id" : "4000000031015",
                          "type" : "EVENTS"
                        },
                        "executedTime" : 1466796600000,
                        "customFields" : {
                          "timeEntryName" : "time2"
                        },
                        "fixedCost" : null,
                        "departmentId" : "4000000008694",
                        "minutesSpent" : "34",
                        "creatorId" : "4000000008692",
                        "agentCostPerHour" : "10.0",
                        "description" : "Time Entry description",
                        "hoursSpent" : "3",
                        "ownerId" : "4000000012090",
                        "isBillable" : true,
                        "mode" : "MANUAL",
                        "isTrashed" : "false",
                        "billingType" : "FIXED_COST_FOR_TICKETS",
                        "createdTime" : 1466063199000,
                        "id" : "4000000033006",
                        "requestChargeType" : "Product Consultation",
                        "additionalCost" : "10.0",
                        "totalCost" : "45.72"
                      }, {
                        "owner" : {
                          "firstName" : "Eswer",
                          "lastName" : "KM",
                          "photoURL" : "https://contacts.zoho.com/file?t=user&ID=4851669",
                          "name" : "Eswer KM",
                          "id" : "4000000008688129"
                        },
                        "secondsSpent" : "22",
                        "parent" : {
                          "ticketNumber" : "1002",
                          "associatedTicketId" : "4000000030017",
                          "subject" : "Events subject",
                          "id" : "4000000031015",
                          "type" : "EVENTS"
                        },
                        "executedTime" : 1465846200000,
                        "customFields" : {
                          "timeEntryName" : "time3"
                        },
                        "fixedCost" : null,
                        "departmentId" : "4000000008694",
                        "minutesSpent" : "22",
                        "creatorId" : "4000000008692",
                        "agentCostPerHour" : "20.0",
                        "description" : "Time Entry description",
                        "hoursSpent" : "32",
                        "ownerId" : "4000000008692",
                        "isBillable" : true,
                        "mode" : "MANUAL",
                        "isTrashed" : "false",
                        "billingType" : "FIXED_COST_FOR_TICKETS",
                        "createdTime" : 1466063392000,
                        "id" : "4000000033011",
                        "requestChargeType" : "Customer Service",
                        "additionalCost" : "10.0",
                        "totalCost" : "657.46"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.events.READ", "Desk.tasks.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "tasks" ]
            }
          },
          "clan-group" : "secModule",
          "apihash" : "4692716202d18ef6fec0bda69779f0c8",
          "module-group" : "timeEntry",
          "apimethod" : "com.zoho.support.restapi.TimeEntryService.getTimeEntries"
        }
      },
      "post" : {
        "tags" : [ "EventTimeEntry" ],
        "summary" : "Add an Event Time Entry",
        "description" : "This API creates a time entry in your help desk",
        "operationId" : "addTimeEntryForEvent",
        "parameters" : [ {
          "name" : "eventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "executedTime" ],
                "properties" : {
                  "secondsSpent" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Number of seconds in the time entry.",
                    "format" : "int32"
                  },
                  "cf" : {
                    "additionalProperties" : { }
                  },
                  "executedTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                    "description" : "Time when work related to the time entry was started."
                  },
                  "customFields" : {
                    "additionalProperties" : { }
                  },
                  "fixedCost" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)",
                    "description" : "Fixed cost"
                  },
                  "minutesSpent" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Number of minutes in the time entry.",
                    "format" : "int32"
                  },
                  "agentCostPerHour" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)",
                    "description" : "Per hour cost of an agent."
                  },
                  "description" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Description of the time entry"
                  },
                  "hoursSpent" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Number of hours in the time entry.",
                    "format" : "int32"
                  },
                  "ownerId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the user associated with the time entry",
                    "format" : "int64"
                  },
                  "isBillable" : {
                    "description" : "Billing Preference"
                  },
                  "mode" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Mode configured in time tracking. Supported values are @Manual@ and @Auto@",
                    "enum" : [ "MANUAL", "AUTO" ]
                  },
                  "requestChargeType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Type of request in the ticket. Values supported are Customer Service, Upgrade Request, Product Consultation, and Support and Maintenance.",
                    "enum" : [ "Customer Service", "Upgrade Request", "Product Consultation", "Support and Maintenance", "MANUAL" ]
                  },
                  "additionalCost" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)",
                    "description" : "Additional cost incurred"
                  },
                  "totalCost" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)",
                    "description" : "Total cost incurred"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "secondsSpent" : "21",
                    "executedTime" : 1466627400000,
                    "customFields" : {
                      "timeEntryName" : "time2"
                    },
                    "minutesSpent" : "23",
                    "agentCostPerHour" : "3.0",
                    "description" : "Time Entry description",
                    "hoursSpent" : "3",
                    "ownerId" : "4000000008692",
                    "requestChargeType" : "Customer Service",
                    "additionalCost" : "10.0",
                    "totalCost" : "20.17"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getTimeEntryJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "additionalCost", "agentCostPerHour", "cf", "customFields", "description", "executedTime", "fixedCost", "hoursSpent", "isBillable", "minutesSpent", "mode", "ownerId", "requestChargeType", "secondsSpent", "totalCost" ],
                      "properties" : {
                        "secondsSpent" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "cf" : {
                          "additionalProperties" : false
                        },
                        "executedTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                        },
                        "customFields" : {
                          "additionalProperties" : false
                        },
                        "fixedCost" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                        },
                        "minutesSpent" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "agentCostPerHour" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                        },
                        "description" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "hoursSpent" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "ownerId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "isBillable" : { },
                        "mode" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "MANUAL", "AUTO" ]
                        },
                        "requestChargeType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "Customer Service", "Upgrade Request", "Product Consultation", "Support and Maintenance", "MANUAL" ]
                        },
                        "additionalCost" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                        },
                        "totalCost" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                        }
                      },
                      "additionalProperties" : false
                    }, {
                      "required" : [ "createdTime", "departmentId", "id", "invoiceId" ],
                      "properties" : {
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "createdTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                        },
                        "invoiceId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      }
                    } ]
                  }, {
                    "required" : [ "createdBy", "isTrashed", "layoutDetails", "layoutId", "parent", "requestId", "taskId" ],
                    "properties" : {
                      "parent" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "associatedTicketId", "id", "subject", "ticketNumber", "type" ],
                        "properties" : {
                          "ticketNumber" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "associatedTicketId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "ID of the ticket associated, if the parent module is @TASKS@, @CALLS@ or @EVENTS@",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "subject" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      },
                      "isTrashed" : { },
                      "createdBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "User who created the time entry.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "requestId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "layoutId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Layout of TimeEntry",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : true,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "taskId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "layoutDetails" : {
                        "maxProperties" : 2,
                        "minProperties" : 2,
                        "required" : [ "id", "layoutName" ],
                        "properties" : {
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "layoutName" : {
                            "maxLength" : 120,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "secondsSpent" : "21",
                      "parent" : {
                        "ticketNumber" : "1002",
                        "associatedTicketId" : "4000000030017",
                        "subject" : "Events subject",
                        "id" : "4000000031015",
                        "type" : "EVENTS"
                      },
                      "executedTime" : 1466627400000,
                      "customFields" : {
                        "timeEntryName" : "time2"
                      },
                      "fixedCost" : null,
                      "departmentId" : "4000000008694",
                      "minutesSpent" : "23",
                      "creatorId" : "4000000008692",
                      "agentCostPerHour" : "3.0",
                      "description" : "Time Entry description",
                      "hoursSpent" : "3",
                      "ownerId" : "4000000008692",
                      "isBillable" : true,
                      "mode" : "MANUAL",
                      "isTrashed" : "false",
                      "billingType" : "FIXED_COST_FOR_TICKETS",
                      "createdTime" : 1466488320828,
                      "id" : "4000000045001",
                      "requestChargeType" : "Customer Service",
                      "additionalCost" : "10.0",
                      "totalCost" : "20.17"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.events.CREATE", "Desk.tasks.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "tasks" ]
            }
          },
          "clan-group" : "secModule",
          "apihash" : "736b980de5347cfcff9ec68e9093993e",
          "module-group" : "timeEntry",
          "apimethod" : "com.zoho.support.restapi.TimeEntryService.addTimeEntry"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "timeEntryJson" : {
        "required" : [ "additionalCost", "agentCostPerHour", "cf", "customFields", "description", "executedTime", "fixedCost", "hoursSpent", "isBillable", "minutesSpent", "mode", "ownerId", "requestChargeType", "secondsSpent", "totalCost" ],
        "properties" : {
          "secondsSpent" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "cf" : {
            "additionalProperties" : { }
          },
          "executedTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "customFields" : {
            "additionalProperties" : { }
          },
          "fixedCost" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
          },
          "minutesSpent" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "agentCostPerHour" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
          },
          "description" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "hoursSpent" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "ownerId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "isBillable" : { },
          "mode" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "MANUAL", "AUTO" ]
          },
          "requestChargeType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "Customer Service", "Upgrade Request", "Product Consultation", "Support and Maintenance", "MANUAL" ]
          },
          "additionalCost" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
          },
          "totalCost" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
          }
        },
        "additionalProperties" : { }
      },
      "commonTimeEntryForEventResponse" : {
        "additionalProperties" : { },
        "allOf" : [ {
          "required" : [ "additionalCost", "agentCostPerHour", "cf", "customFields", "description", "executedTime", "fixedCost", "hoursSpent", "isBillable", "minutesSpent", "mode", "ownerId", "requestChargeType", "secondsSpent", "totalCost" ],
          "properties" : {
            "secondsSpent" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "cf" : {
              "additionalProperties" : false
            },
            "executedTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "customFields" : {
              "additionalProperties" : false
            },
            "fixedCost" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
            },
            "minutesSpent" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "agentCostPerHour" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
            },
            "description" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "hoursSpent" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "ownerId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "isBillable" : { },
            "mode" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "MANUAL", "AUTO" ]
            },
            "requestChargeType" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "Customer Service", "Upgrade Request", "Product Consultation", "Support and Maintenance", "MANUAL" ]
            },
            "additionalCost" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
            },
            "totalCost" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
            }
          },
          "additionalProperties" : false
        }, {
          "required" : [ "createdTime", "departmentId", "id", "invoiceId" ],
          "properties" : {
            "departmentId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "createdTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "invoiceId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          }
        } ]
      },
      "getTimeEntryJson" : {
        "additionalProperties" : { },
        "allOf" : [ {
          "additionalProperties" : false,
          "allOf" : [ {
            "required" : [ "additionalCost", "agentCostPerHour", "cf", "customFields", "description", "executedTime", "fixedCost", "hoursSpent", "isBillable", "minutesSpent", "mode", "ownerId", "requestChargeType", "secondsSpent", "totalCost" ],
            "properties" : {
              "secondsSpent" : {
                "pattern" : "([0-9]+)",
                "format" : "int32"
              },
              "cf" : {
                "additionalProperties" : false
              },
              "executedTime" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
              },
              "customFields" : {
                "additionalProperties" : false
              },
              "fixedCost" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
              },
              "minutesSpent" : {
                "pattern" : "([0-9]+)",
                "format" : "int32"
              },
              "agentCostPerHour" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
              },
              "description" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "hoursSpent" : {
                "pattern" : "([0-9]+)",
                "format" : "int32"
              },
              "ownerId" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "isBillable" : { },
              "mode" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "MANUAL", "AUTO" ]
              },
              "requestChargeType" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "Customer Service", "Upgrade Request", "Product Consultation", "Support and Maintenance", "MANUAL" ]
              },
              "additionalCost" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
              },
              "totalCost" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
              }
            },
            "additionalProperties" : false
          }, {
            "required" : [ "createdTime", "departmentId", "id", "invoiceId" ],
            "properties" : {
              "departmentId" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "createdTime" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
              },
              "invoiceId" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            }
          } ]
        }, {
          "required" : [ "createdBy", "isTrashed", "layoutDetails", "layoutId", "parent", "requestId", "taskId" ],
          "properties" : {
            "parent" : {
              "maxProperties" : 5,
              "minProperties" : 5,
              "required" : [ "associatedTicketId", "id", "subject", "ticketNumber", "type" ],
              "properties" : {
                "ticketNumber" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "associatedTicketId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "subject" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "type" : {
                  "maxLength" : 100,
                  "minLength" : 0
                }
              },
              "additionalProperties" : { }
            },
            "isTrashed" : { },
            "createdBy" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "requestId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "layoutId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "taskId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "layoutDetails" : {
              "maxProperties" : 2,
              "minProperties" : 2,
              "required" : [ "id", "layoutName" ],
              "properties" : {
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "layoutName" : {
                  "maxLength" : 120,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                }
              },
              "additionalProperties" : { }
            }
          }
        } ]
      },
      "getTimeEntryByEventId" : {
        "additionalProperties" : { },
        "allOf" : [ {
          "additionalProperties" : false,
          "allOf" : [ {
            "additionalProperties" : false,
            "allOf" : [ {
              "required" : [ "additionalCost", "agentCostPerHour", "cf", "customFields", "description", "executedTime", "fixedCost", "hoursSpent", "isBillable", "minutesSpent", "mode", "ownerId", "requestChargeType", "secondsSpent", "totalCost" ],
              "properties" : {
                "secondsSpent" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "cf" : {
                  "additionalProperties" : false
                },
                "executedTime" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                },
                "customFields" : {
                  "additionalProperties" : false
                },
                "fixedCost" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                },
                "minutesSpent" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "agentCostPerHour" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                },
                "description" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "hoursSpent" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "ownerId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "isBillable" : { },
                "mode" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "MANUAL", "AUTO" ]
                },
                "requestChargeType" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "Customer Service", "Upgrade Request", "Product Consultation", "Support and Maintenance", "MANUAL" ]
                },
                "additionalCost" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                },
                "totalCost" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                }
              },
              "additionalProperties" : false
            }, {
              "required" : [ "createdTime", "departmentId", "id", "invoiceId" ],
              "properties" : {
                "departmentId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "createdTime" : {
                  "maxLength" : 100,
                  "minLength" : 0,
[...]
