{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Event",
    "version" : "1.0.0",
    "x-clan-group" : "secModule",
    "x-module-group" : "activity"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/events" : {
      "get" : {
        "tags" : [ "Event" ],
        "summary" : "List events",
        "description" : "This API lists a particular number of events, based on the limit specified.",
        "operationId" : "getEvents",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "contacts", "tickets", "assignee", "teams" ]
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department from which the event count must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the event count must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "entity" : "Departments"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of events to list",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 99,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of events to list",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the events must be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the events must be listed",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "startTime", "createdTime" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "getEventsListResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "ticket" : {
                              "required" : [ "assignee", "channel", "closedTime", "createdTime", "dueDate", "id", "isArchived", "isSpam", "phone", "status", "subject", "teamId", "ticketNumber" ],
                              "properties" : {
                                "contact" : {
                                  "required" : [ "accountId", "email", "firstName", "id", "isSpam", "lastName", "mobile", "phone" ],
                                  "properties" : {
                                    "firstName" : {
                                      "maxLength" : 40,
                                      "minLength" : 0
                                    },
                                    "lastName" : {
                                      "maxLength" : 200,
                                      "minLength" : 0
                                    },
                                    "accountId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "phone" : {
                                      "maxLength" : 50,
                                      "minLength" : 0,
                                      "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                    },
                                    "mobile" : {
                                      "maxLength" : 50,
                                      "minLength" : 0,
                                      "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "isSpam" : { },
                                    "email" : {
                                      "maxLength" : 255,
                                      "minLength" : 0,
                                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                    }
                                  },
                                  "additionalProperties" : { }
                                },
                                "team" : {
                                  "required" : [ "id", "logoUrl", "name" ],
                                  "properties" : {
                                    "name" : {
                                      "maxLength" : 50,
                                      "minLength" : 1,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "logoUrl" : {
                                      "maxLength" : 200,
                                      "minLength" : 0,
                                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                    }
                                  },
                                  "additionalProperties" : { }
                                },
                                "ticketNumber" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "subject" : {
                                  "maxLength" : 1000,
                                  "minLength" : 0
                                },
                                "isArchived" : { },
                                "dueDate" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "channel" : {
                                  "x-dynamic-enum" : true
                                },
                                "closedTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "phone" : {
                                  "maxLength" : 120,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                },
                                "teamId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "createdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "assignee" : {
                                  "maxProperties" : 4,
                                  "minProperties" : 4,
                                  "required" : [ "firstName", "id", "lastName", "photoURL" ],
                                  "properties" : {
                                    "firstName" : {
                                      "maxLength" : 50,
                                      "minLength" : 0
                                    },
                                    "lastName" : {
                                      "maxLength" : 50,
                                      "minLength" : 0
                                    },
                                    "photoURL" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    }
                                  },
                                  "additionalProperties" : { }
                                },
                                "isSpam" : { },
                                "status" : {
                                  "x-dynamic-enum" : true
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "contact" : {
                              "required" : [ "accountId", "email", "firstName", "id", "isSpam", "lastName", "mobile", "phone" ],
                              "properties" : {
                                "firstName" : {
                                  "maxLength" : 40,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 200,
                                  "minLength" : 0
                                },
                                "accountId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "phone" : {
                                  "maxLength" : 50,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                },
                                "mobile" : {
                                  "maxLength" : 50,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isSpam" : { },
                                "email" : {
                                  "maxLength" : 255,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "assignee" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "emailId", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "emailId" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "team" : {
                              "required" : [ "id", "logoUrl", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 1,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "logoUrl" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                }
                              },
                              "additionalProperties" : { }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "additionalProperties" : { },
                          "allOf" : [ {
                            "required" : [ "category", "contactId", "departmentId", "ownerId", "priority", "startTime", "status", "subject", "ticketId" ],
                            "properties" : {
                              "contactId" : {
                                "pattern" : "([0-9]+)",
                                "description" : "ID of the contact associated with the event",
                                "format" : "int64"
                              },
                              "subject" : {
                                "maxLength" : 300,
                                "minLength" : 0,
                                "description" : "Subject of the event"
                              },
                              "departmentId" : {
                                "pattern" : "([0-9]+)",
                                "description" : "ID of the department associated with the event and ticket",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : {
                                  "entity" : "Departments"
                                }
                              },
                              "startTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                                "description" : "Time when the event started. The value of this key must be recorded in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ."
                              },
                              "ownerId" : {
                                "pattern" : "([0-9]+)",
                                "description" : "ID of the user to whom the event is assigned",
                                "format" : "int64"
                              },
                              "priority" : {
                                "description" : "Priority of the event",
                                "x-dynamic-enum" : true
                              },
                              "category" : {
                                "maxLength" : 120,
                                "minLength" : 0,
                                "description" : "Category of the event"
                              },
                              "ticketId" : {
                                "pattern" : "([0-9]+)",
                                "description" : "ID of the ticket associated with the event",
                                "format" : "int64"
                              },
                              "status" : {
                                "description" : "Completion status of the event",
                                "x-dynamic-enum" : true
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "activityTime", "completedTime", "createdTime", "creatorId", "id", "isCommented", "isSpam", "isTrashed", "isTrashed", "layoutId", "modifiedBy", "modifiedTime", "statusType", "webUrl" ],
                            "properties" : {
                              "modifiedTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              },
                              "statusType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "Open", "Closed" ]
                              },
                              "completedTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              },
                              "creatorId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "activityTime" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "layoutId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "isTrashed" : { },
                              "isCommented" : { },
                              "webUrl" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "createdTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              },
                              "modifiedBy" : {
                                "required" : [ "emailId", "firstName", "id", "lastName", "photoURL" ],
                                "properties" : {
                                  "photoURL" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "firstName" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "lastName" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "emailId" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "isSpam" : {
                                "description" : "Key that denotes whether to fetch spam events or not"
                              }
                            }
                          } ]
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "ticket" : {
                          "ticketNumber" : "101",
                          "phone" : "1 888 900 9646",
                          "subject" : "Here's your first ticket.",
                          "dueDate" : 1553853086000,
                          "teamId" : null,
                          "id" : "5000000016294",
                          "assignee" : {
                            "photoURL" : null,
                            "firstName" : "George",
                            "lastName" : "McKinson",
                            "id" : "5000000015911"
                          },
                          "isSpam" : false,
                          "status" : "Open"
                        },
                        "contactId" : "5000000016252",
                        "subject" : "Partner's conference'",
                        "completedTime" : null,
                        "departmentId" : "5000000012710",
                        "dueDate" : null,
                        "creatorId" : "5000000015911",
                        "team" : null,
                        "ownerId" : "5000000015911",
                        "priority" : "High",
                        "isCommented" : true,
                        "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Events/dv/9d4883f2d94d59e4McKinsonf5d2f01bbb8bd4",
                        "contact" : {
                          "firstName" : null,
                          "lastName" : "Lawrence",
                          "phone" : "1 888 900 9646",
                          "mobile" : null,
                          "id" : "5000000016252",
                          "isSpam" : false
                        },
                        "createdTime" : 1554360516000,
                        "startTime" : 1555569000000,
                        "id" : "5000000065115",
                        "assignee" : {
                          "firstName" : "George",
                          "lastName" : "McKinson",
                          "photoURL" : null,
                          "id" : "5000000015911"
                        },
                        "isSpam" : false,
                        "category" : "Meeting",
                        "activityType" : "Events",
                        "ticketId" : "5000000016294",
                        "status" : "Not Started",
                        "direction" : "inbound"
                      }, {
                        "ticket" : {
                          "ticketNumber" : "101",
                          "phone" : "1 888 900 9646",
                          "subject" : "Here's your first ticket.",
                          "dueDate" : 1553853086000,
                          "teamId" : "3691000006805021",
                          "id" : "5000000016294",
                          "team" : {
                            "name" : "Desk Team",
                            "id" : "3691000006805021",
                            "logoUrl" : "https://desk.zoho.com/api/v1/teams/3691000006805021/logo?orgId=11278831"
                          },
                          "assignee" : {
                            "photoURL" : null,
                            "firstName" : "George",
                            "lastName" : "McKinson",
                            "id" : "5000000015911"
                          },
                          "isSpam" : false,
                          "status" : "Open"
                        },
                        "contactId" : "5000000016252",
                        "subject" : "Developers meet",
                        "completedTime" : null,
                        "departmentId" : "5000000012710",
                        "dueDate" : null,
                        "creatorId" : "5000000015911",
                        "team" : {
                          "name" : "Desk Team",
                          "id" : "3691000006805021",
                          "logoUrl" : "https://desk.zoho.com/api/v1/teams/3691000006805021/logo?orgId=11278831"
                        },
                        "ownerId" : "5000000015911",
                        "priority" : "High",
                        "isCommented" : true,
                        "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Events/dv/9d4883f2d94d59e41c8e46db1a43ba49",
                        "teamId" : "3691000006805021",
                        "contact" : {
                          "firstName" : null,
                          "lastName" : "Lawrence",
                          "phone" : "1 888 900 9646",
                          "mobile" : null,
                          "id" : "5000000016252",
                          "isSpam" : false
                        },
                        "createdTime" : 1555416147000,
                        "startTime" : 1556173800000,
                        "id" : "5000000084070",
                        "assignee" : {
                          "firstName" : "George",
                          "lastName" : "McKinson",
                          "photoURL" : null,
                          "id" : "5000000015911"
                        },
                        "isSpam" : false,
                        "category" : "Meeting",
                        "activityType" : "Events",
                        "ticketId" : "5000000016294",
                        "status" : "Not Started",
                        "direction" : "inbound"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.events.READ", "Desk.events.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "events" ]
            }
          },
          "clan-group" : "secModule",
          "apihash" : "3926c89c8831c1158bc64fc5d1ce9fff",
          "module-group" : "activity",
          "apimethod" : "com.zoho.support.restapi.ActivityService.getEventsList"
        }
      },
      "post" : {
        "tags" : [ "Event" ],
        "summary" : "Create event",
        "description" : "This API adds an event entry to your help desk portal.",
        "operationId" : "createEvent",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "additionalProperties" : { },
                "allOf" : [ {
                  "required" : [ "category", "contactId", "departmentId", "ownerId", "priority", "startTime", "status", "subject", "ticketId" ],
                  "properties" : {
                    "contactId" : {
                      "pattern" : "([0-9]+)",
                      "description" : "ID of the contact associated with the event",
                      "format" : "int64"
                    },
                    "subject" : {
                      "maxLength" : 300,
                      "minLength" : 0,
                      "description" : "Subject of the event"
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "description" : "ID of the department associated with the event and ticket",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "entity" : "Departments"
                      }
                    },
                    "startTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                      "description" : "Time when the event started. The value of this key must be recorded in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ."
                    },
                    "ownerId" : {
                      "pattern" : "([0-9]+)",
                      "description" : "ID of the user to whom the event is assigned",
                      "format" : "int64"
                    },
                    "priority" : {
                      "description" : "Priority of the event",
                      "x-dynamic-enum" : true
                    },
                    "category" : {
                      "maxLength" : 120,
                      "minLength" : 0,
                      "description" : "Category of the event"
                    },
                    "ticketId" : {
                      "pattern" : "([0-9]+)",
                      "description" : "ID of the ticket associated with the event",
                      "format" : "int64"
                    },
                    "status" : {
                      "description" : "Completion status of the event",
                      "x-dynamic-enum" : true
                    }
                  },
                  "additionalProperties" : false
                }, {
                  "properties" : {
                    "duration" : {
                      "pattern" : "([0-9]+)",
                      "description" : "Duration of the event in seconds",
                      "format" : "int32"
                    },
                    "cf" : {
                      "additionalProperties" : { }
                    },
                    "reminder" : {
                      "items" : {
                        "oneOf" : [ {
                          "required" : [ "alertType", "relativeReminderInMin", "reminderType" ],
                          "properties" : {
                            "relativeReminderInMin" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "alertType" : {
                              "uniqueItems" : true,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "EMAIL", "POPUP", "SMS" ]
                              }
                            },
                            "reminderType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "RELATIVE" ]
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "alertType", "reminderTime", "reminderType" ],
                          "properties" : {
                            "alertType" : {
                              "uniqueItems" : true,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "EMAIL", "POPUP", "SMS" ]
                              }
                            },
                            "reminderType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "ABSOLUTE" ]
                            },
                            "reminderTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            }
                          },
                          "additionalProperties" : false
                        } ]
                      }
                    },
                    "customFields" : {
                      "additionalProperties" : { }
                    },
                    "category" : {
                      "maxLength" : 120,
                      "minLength" : 0,
                      "description" : "Category of the event"
                    }
                  }
                }, {
                  "required" : [ "category", "contactId", "departmentId", "duration", "startTime", "subject" ]
                } ]
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "duration" : "40",
                    "contactId" : "3000000001234",
                    "subject" : "Dubai startup meet",
                    "departmentId" : "3000000007043",
                    "startTime" : 1468484846000,
                    "priority" : "High",
                    "category" : "Meeting",
                    "ticketId" : "3000000008753",
                    "status" : "In Progress"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "eventResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "category", "contactId", "departmentId", "ownerId", "priority", "startTime", "status", "subject", "ticketId" ],
                    "properties" : {
                      "contactId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the contact associated with the event",
                        "format" : "int64"
                      },
                      "subject" : {
                        "maxLength" : 300,
                        "minLength" : 0,
                        "description" : "Subject of the event"
                      },
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the department associated with the event and ticket",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "entity" : "Departments"
                        }
                      },
                      "startTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "description" : "Time when the event started. The value of this key must be recorded in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ."
                      },
                      "ownerId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the user to whom the event is assigned",
                        "format" : "int64"
                      },
                      "priority" : {
                        "description" : "Priority of the event",
                        "x-dynamic-enum" : true
                      },
                      "category" : {
                        "maxLength" : 120,
                        "minLength" : 0,
                        "description" : "Category of the event"
                      },
                      "ticketId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the ticket associated with the event",
                        "format" : "int64"
                      },
                      "status" : {
                        "description" : "Completion status of the event",
                        "x-dynamic-enum" : true
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "activityTime", "cf", "completedTime", "createdTime", "creatorId", "customFields", "description", "duration", "id", "isSpam", "isTrashed", "layoutId", "modifiedBy", "modifiedTime", "reminder", "statusType", "webUrl" ],
                    "properties" : {
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Time when details of the event entry were modified",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "cf" : {
                        "additionalProperties" : { }
                      },
                      "reminder" : {
                        "items" : {
                          "oneOf" : [ {
                            "required" : [ "alertType", "relativeReminderInMin", "reminderType" ],
                            "properties" : {
                              "relativeReminderInMin" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "alertType" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "EMAIL", "POPUP", "SMS" ]
                                }
                              },
                              "reminderType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "RELATIVE" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "alertType", "reminderTime", "reminderType" ],
                            "properties" : {
                              "alertType" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "EMAIL", "POPUP", "SMS" ]
                                }
                              },
                              "reminderType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ABSOLUTE" ]
                              },
                              "reminderTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              }
                            },
                            "additionalProperties" : false
                          } ]
                        }
                      },
                      "statusType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "Open", "Closed" ]
                      },
                      "customFields" : {
                        "additionalProperties" : { }
                      },
                      "completedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "creatorId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the user who created the event",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "description" : {
                        "maxLength" : 65535,
                        "minLength" : 0,
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Description of the event",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "activityTime" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "layoutId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Layout of Event",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : true,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "duration" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Duration of the event in seconds",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isTrashed" : { },
                      "webUrl" : {
                        "maxLength" : 500,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "URL to access the resource",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Time when the event entry was added",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "modifiedBy" : {
                        "required" : [ "emailId", "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "emailId" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the event",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isSpam" : { }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.events.CREATE", "Desk.events.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "events" ]
            }
          },
          "clan-group" : "secModule",
          "apihash" : "f93bfa092158f73199881e4a9216ceb7",
          "module-group" : "activity",
          "apimethod" : "com.zoho.support.restapi.ActivityService.addEvent"
        }
      }
    },
    "/api/v1/events/{eventId}" : {
      "get" : {
        "tags" : [ "Event" ],
        "summary" : "Get event",
        "description" : "This API fetches the details of an event.",
        "operationId" : "getEvent",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Allowed values are : @contacts@, @assignee@,@tickets@,@teams@,@integInfo@,@creator@.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Allowed values are : @contacts@, @assignee@,@tickets@,@teams@,@integInfo@,@creator@.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "contacts", "tickets", "assignee", "teams" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "eventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "eventResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "category", "contactId", "departmentId", "ownerId", "priority", "startTime", "status", "subject", "ticketId" ],
                    "properties" : {
                      "contactId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the contact associated with the event",
                        "format" : "int64"
                      },
                      "subject" : {
                        "maxLength" : 300,
                        "minLength" : 0,
                        "description" : "Subject of the event"
                      },
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the department associated with the event and ticket",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "entity" : "Departments"
                        }
                      },
                      "startTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "description" : "Time when the event started. The value of this key must be recorded in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ."
                      },
                      "ownerId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the user to whom the event is assigned",
                        "format" : "int64"
                      },
                      "priority" : {
                        "description" : "Priority of the event",
                        "x-dynamic-enum" : true
                      },
                      "category" : {
                        "maxLength" : 120,
                        "minLength" : 0,
                        "description" : "Category of the event"
                      },
                      "ticketId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the ticket associated with the event",
                        "format" : "int64"
                      },
                      "status" : {
                        "description" : "Completion status of the event",
                        "x-dynamic-enum" : true
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "activityTime", "cf", "completedTime", "createdTime", "creatorId", "customFields", "description", "duration", "id", "isSpam", "isTrashed", "layoutId", "modifiedBy", "modifiedTime", "reminder", "statusType", "webUrl" ],
                    "properties" : {
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Time when details of the event entry were modified",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "cf" : {
                        "additionalProperties" : false
                      },
                      "reminder" : {
                        "items" : {
                          "oneOf" : [ {
                            "required" : [ "alertType", "relativeReminderInMin", "reminderType" ],
                            "properties" : {
                              "relativeReminderInMin" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "alertType" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "EMAIL", "POPUP", "SMS" ]
                                }
                              },
                              "reminderType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "RELATIVE" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "alertType", "reminderTime", "reminderType" ],
                            "properties" : {
                              "alertType" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "EMAIL", "POPUP", "SMS" ]
                                }
                              },
                              "reminderType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ABSOLUTE" ]
                              },
                              "reminderTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              }
                            },
                            "additionalProperties" : false
                          } ]
                        }
                      },
                      "statusType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "Open", "Closed" ]
                      },
                      "customFields" : {
                        "additionalProperties" : false
                      },
                      "completedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "creatorId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the user who created the event",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "description" : {
                        "maxLength" : 65535,
                        "minLength" : 0,
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Description of the event",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "activityTime" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "layoutId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Layout of Event",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : true,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "duration" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Duration of the event in seconds",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isTrashed" : { },
                      "webUrl" : {
                        "maxLength" : 500,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "URL to access the resource",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Time when the event entry was added",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "modifiedBy" : {
                        "required" : [ "emailId", "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "emailId" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the event",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isSpam" : { }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.events.READ", "Desk.events.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Lenient_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "events" ]
            }
          },
          "clan-group" : "secModule",
          "apihash" : "245570001ad438c045ed8bd4dfad7815",
          "module-group" : "activity",
          "apimethod" : "com.zoho.support.restapi.ActivityService.getEvent"
        }
      },
      "patch" : {
        "tags" : [ "Event" ],
        "summary" : "Update an event",
        "description" : "This API updates the details of an event.",
        "operationId" : "updateEvent",
        "parameters" : [ {
          "name" : "eventId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "additionalProperties" : { },
                "allOf" : [ {
                  "required" : [ "category", "contactId", "departmentId", "ownerId", "priority", "startTime", "status", "subject", "ticketId" ],
                  "properties" : {
                    "contactId" : {
                      "pattern" : "([0-9]+)",
                      "description" : "ID of the contact associated with the event",
                      "format" : "int64"
                    },
                    "subject" : {
                      "maxLength" : 300,
                      "minLength" : 0,
                      "description" : "Subject of the event"
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "description" : "ID of the department associated with the event and ticket",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "entity" : "Departments"
                      }
                    },
                    "startTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                      "description" : "Time when the event started. The value of this key must be recorded in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ."
                    },
                    "ownerId" : {
                      "pattern" : "([0-9]+)",
                      "description" : "ID of the user to whom the event is assigned",
                      "format" : "int64"
                    },
                    "priority" : {
                      "description" : "Priority of the event",
                      "x-dynamic-enum" : true
                    },
                    "category" : {
                      "maxLength" : 120,
                      "minLength" : 0,
                      "description" : "Category of the event"
                    },
                    "ticketId" : {
                      "pattern" : "([0-9]+)",
                      "description" : "ID of the ticket associated with the event",
                      "format" : "int64"
                    },
                    "status" : {
                      "description" : "Completion status of the event",
                      "x-dynamic-enum" : true
                    }
                  },
                  "additionalProperties" : false
                }, {
                  "properties" : {
                    "duration" : {
                      "pattern" : "([0-9]+)",
                      "description" : "Duration of the event in seconds",
                      "format" : "int32"
                    },
                    "cf" : {
                      "additionalProperties" : { }
                    },
                    "reminder" : {
                      "items" : {
                        "oneOf" : [ {
                          "required" : [ "alertType", "relativeReminderInMin", "reminderType" ],
                          "properties" : {
                            "relativeReminderInMin" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "alertType" : {
                              "uniqueItems" : true,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "EMAIL", "POPUP", "SMS" ]
                              }
                            },
                            "reminderType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "RELATIVE" ]
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "alertType", "reminderTime", "reminderType" ],
                          "properties" : {
                            "alertType" : {
                              "uniqueItems" : true,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "EMAIL", "POPUP", "SMS" ]
                              }
                            },
                            "reminderType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "ABSOLUTE" ]
                            },
                            "reminderTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            }
                          },
                          "additionalProperties" : false
                        } ]
                      }
                    },
                    "customFields" : {
                      "additionalProperties" : { }
                    },
                    "category" : {
                      "maxLength" : 120,
                      "minLength" : 0,
                      "description" : "Category of the event"
                    }
                  }
                }, { } ]
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : null
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "eventResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "category", "contactId", "departmentId", "ownerId", "priority", "startTime", "status", "subject", "ticketId" ],
                    "properties" : {
                      "contactId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the contact associated with the event",
                        "format" : "int64"
                      },
                      "subject" : {
                        "maxLength" : 300,
                        "minLength" : 0,
                        "description" : "Subject of the event"
                      },
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the department associated with the event and ticket",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "entity" : "Departments"
                        }
                      },
                      "startTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "description" : "Time when the event started. The value of this key must be recorded in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ."
                      },
                      "ownerId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the user to whom the event is assigned",
                        "format" : "int64"
                      },
                      "priority" : {
                        "description" : "Priority of the event",
                        "x-dynamic-enum" : true
                      },
                      "category" : {
                        "maxLength" : 120,
                        "minLength" : 0,
                        "description" : "Category of the event"
                      },
                      "ticketId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the ticket associated with the event",
                        "format" : "int64"
                      },
                      "status" : {
                        "description" : "Completion status of the event",
                        "x-dynamic-enum" : true
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "activityTime", "cf", "completedTime", "createdTime", "creatorId", "customFields", "description", "duration", "id", "isSpam", "isTrashed", "layoutId", "modifiedBy", "modifiedTime", "reminder", "statusType", "webUrl" ],
                    "properties" : {
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Time when details of the event entry were modified",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "cf" : {
                        "additionalProperties" : false
                      },
                      "reminder" : {
                        "items" : {
                          "oneOf" : [ {
                            "required" : [ "alertType", "relativeReminderInMin", "reminderType" ],
                            "properties" : {
                              "relativeReminderInMin" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "alertType" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "EMAIL", "POPUP", "SMS" ]
                                }
                              },
                              "reminderType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "RELATIVE" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "alertType", "reminderTime", "reminderType" ],
                            "properties" : {
                              "alertType" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "EMAIL", "POPUP", "SMS" ]
                                }
                              },
                              "reminderType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ABSOLUTE" ]
                              },
                              "reminderTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              }
                            },
                            "additionalProperties" : false
                          } ]
                        }
                      },
                      "statusType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "Open", "Closed" ]
                      },
                      "customFields" : {
                        "additionalProperties" : false
                      },
                      "completedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "creatorId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the user who created the event",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "description" : {
                        "maxLength" : 65535,
                        "minLength" : 0,
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Description of the event",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "activityTime" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "layoutId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Layout of Event",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : true,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "duration" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Duration of the event in seconds",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isTrashed" : { },
                      "webUrl" : {
                        "maxLength" : 500,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "URL to access the resource",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Time when the event entry was added",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "modifiedBy" : {
                        "required" : [ "emailId", "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "emailId" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the event",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isSpam" : { }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
[...]
