{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Extension",
    "version" : "1.0.0",
    "x-clan-group" : "integration",
    "x-module-group" : "marketplace"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/installedExtensions/{installationId}/customPermissions/{permissionId}" : {
      "get" : {
        "tags" : [ "Extension" ],
        "summary" : "Get Custom Permission By Id",
        "description" : "This API is used to get the custom permission associated with the given installation Id",
        "operationId" : "getCustomPermissionById",
        "parameters" : [ {
          "name" : "permissionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "installationId",
          "in" : "path",
          "description" : "The id of the installed extension",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "The id of the installed extension",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "customPermissionsJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "apiName", "description", "displayName", "permissionId", "profileIds" ],
                  "properties" : {
                    "permissionId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "apiName" : {
                      "maxLength" : 250,
                      "minLength" : 0
                    },
                    "displayName" : {
                      "maxLength" : 250,
                      "minLength" : 0
                    },
                    "description" : {
                      "maxLength" : 65535,
                      "minLength" : 0
                    },
                    "profileIds" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "permissionId" : "332844000000463034",
                      "apiName" : "createResolution",
                      "displayName" : "create Resolution",
                      "description" : "Able to create the Resolution task",
                      "profileIds" : [ "332844000000463041", "332844000000463041" ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.extension.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "fdb132f29f32346a8213aab066d7f5f3",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.support.restapi.MarketPlaceServices.getExtensionCustomPermissionsById"
        }
      },
      "patch" : {
        "tags" : [ "Extension" ],
        "summary" : "Update Custom Permission",
        "description" : "This API is used to update the custom permission associated with the given installation Id",
        "operationId" : "updateCustomPermissionById",
        "parameters" : [ {
          "name" : "permissionId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "installationId",
          "in" : "path",
          "description" : "The id of the installed extension",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "The id of the installed extension",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "profileIds" ],
                "properties" : {
                  "profileIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "profileIds" : [ "332844000000463041", "332844000000463041" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "customPermissionsJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "apiName", "description", "displayName", "permissionId", "profileIds" ],
                  "properties" : {
                    "permissionId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "apiName" : {
                      "maxLength" : 250,
                      "minLength" : 0
                    },
                    "displayName" : {
                      "maxLength" : 250,
                      "minLength" : 0
                    },
                    "description" : {
                      "maxLength" : 65535,
                      "minLength" : 0
                    },
                    "profileIds" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "permissionId" : "332844000000463034",
                      "apiName" : "createResolution",
                      "displayName" : "create Resolution",
                      "description" : "Able to create the Resolution task",
                      "profileIds" : [ "332844000000463041", "332844000000463041" ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.extension.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "62bdb8ce49251ec6fd20de63df624c5e",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.support.restapi.MarketPlaceServices.updateCustomPermissionById"
        }
      }
    },
    "/api/v1/installDevExtension" : {
      "post" : {
        "tags" : [ "Extension" ],
        "summary" : "Install DevMode Extension",
        "description" : "This API installs the extension in development mode.",
        "operationId" : "installDevExtension",
        "parameters" : [ {
          "name" : "featureFlags",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "newFieldConfigParams" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "manifest", "name" ],
                "properties" : {
                  "resource" : {
                    "additionalProperties" : { },
                    "description" : "Resorece json"
                  },
                  "manifest" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "manifest request"
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Extension name"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "resource" : { },
                    "manifest" : {
                      "connectors" : [ ],
                      "zohoAuthorisation" : { },
                      "whiteListedDomains" : [ "https://api.trlo.com" ],
                      "moduleSupport" : false,
                      "service" : "DESK",
                      "callBackListeners" : {
                        "onInstall" : "https://desk.zoho.com"
                      },
                      "storage" : true,
                      "secret" : "amtheunbreakable",
                      "locale" : [ "en" ],
                      "type" : "org",
                      "config" : [ {
                        "name" : "Desk"
                      } ],
                      "modules" : {
                        "widgets" : [ {
                          "name" : "Trello",
                          "icon" : "/app/img/icon.png",
                          "logo" : "/app/img/logo.png",
                          "location" : "desk.ticket.detail.rightpanel",
                          "url" : "/app/widget.html"
                        } ]
                      }
                    }
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "installDevExtension template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "extensionName", "hashkey", "installationId", "installedBy", "installedOn", "isAdminAuthorisationNeeded", "isAdminConfigurationNeeded", "isDevExtension", "isPrivate", "isUserAuthorisationNeeded", "isUserConfigurationNeeded", "manifest", "securityContext", "storage", "uuId", "visibilityPerType" ],
                  "properties" : {
                    "extensionName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "isAdminConfigurationNeeded" : { },
                    "hashkey" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^[a-zA-Z0-9]+$"
                    },
                    "manifest" : {
                      "required" : [ "config", "connectors", "locale", "modules", "oAuth", "whiteListedDomains", "zohoAuthorisation" ],
                      "properties" : {
                        "connectors" : {
                          "items" : {
                            "required" : [ "authoriseUrl", "connectionLinkName", "connectionName", "isAuthorised", "revokeUrl", "service", "userAccess" ],
                            "properties" : {
                              "revokeUrl" : {
                                "maxLength" : 65535,
                                "minLength" : 0
                              },
                              "service" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "userAccess" : { },
                              "connectionLinkName" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "isAuthorised" : { },
                              "connectionName" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "authoriseUrl" : {
                                "maxLength" : 65535,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "zohoAuthorisation" : {
                          "required" : [ "authoriseUrl", "connectionLinkName", "connectionName", "isAuthorised", "revokeUrl", "service", "userAccess" ],
                          "properties" : {
                            "revokeUrl" : {
                              "maxLength" : 65535,
                              "minLength" : 0
                            },
                            "service" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "userAccess" : { },
                            "connectionLinkName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "isAuthorised" : { },
                            "connectionName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "authoriseUrl" : {
                              "maxLength" : 65535,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        },
                        "whiteListedDomains" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "locale" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "oAuth" : {
                          "items" : {
                            "required" : [ "authType", "authType", "authoriseUrl", "isAuthorised", "name", "revokeUrl", "userAccess" ],
                            "properties" : {
                              "revokeUrl" : {
                                "maxLength" : 65535,
                                "minLength" : 0
                              },
                              "userAccess" : { },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Extension name",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "isAuthorised" : { },
                              "authType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "desk", "TPA", "apikey" ]
                              },
                              "authoriseUrl" : {
                                "maxLength" : 65535,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "config" : {
                          "items" : {
                            "oneOf" : [ {
                              "required" : [ "authType", "defaultValue", "description", "displayName", "mandatory", "name", "options", "secure", "type", "userDefined", "value", "varId" ],
                              "properties" : {
                                "displayName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "defaultValue" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "userDefined" : { },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "Extension name",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                },
                                "options" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "description" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "secure" : { },
                                "authType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "org", "personal" ]
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "mandatory" : { },
                                "value" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "varId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "authType", "defaultValue", "description", "displayName", "mandatory", "name", "options", "secure", "type", "userDefined", "value", "varId" ],
                              "properties" : {
                                "displayName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "defaultValue" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "userDefined" : { },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "Extension name",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                },
                                "options" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "description" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "secure" : { },
                                "authType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "org", "personal" ]
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "mandatory" : { },
                                "value" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "varId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : false
                            } ]
                          }
                        },
                        "modules" : {
                          "required" : [ "widgets" ],
                          "properties" : {
                            "widgets" : {
                              "items" : {
                                "required" : [ "icon", "isCollapsed", "location", "logo", "name", "position", "sanitisedName", "title", "url", "widgetId" ],
                                "properties" : {
                                  "isCollapsed" : { },
                                  "widgetId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "sanitisedName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "icon" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "x-custom-parameters-attributes" : {
                                      "removeExif" : false,
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "replacementString" : "",
                                      "allowInvalid" : false,
                                      "descrption" : "Extension name",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "0,5",
                                      "importUrl" : false,
                                      "decrypt" : false
                                    }
                                  },
                                  "logo" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "location" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "desk.ticket.detail.rightpanel", "desk.ticket.detail.subtab", "desk.bottomband", "desk.background", "desk.topband", "desk.task.detail.rightpanel", "desk.extension.preference", "desk.ticket.detail.lefttab", "desk.contact.detail.lefttab", "desk.account.detail.lefttab", "desk.ticket.detail.moreaction", "desk.ticket.thread.moreaction", "desk.ticket.form.rightpanel", "desk.contact.form.rightpanel", "desk.account.form.rightpanel", "desk.extension.telephony", "desk.contact.detail.subtab", "desk.account.detail.subtab", "desk.contact.detail.rightpanel", "desk.account.detail.rightpanel", "helpcenter.ticket.list", "helpcenter.ticket.detail", "helpcenter.ticket.form", "helpcenter.homepage", "helpcenter.kb.homepage", "helpcenter.kb.article.list", "helpcenter.kb.article.detail", "helpcenter.community.homepage", "helpcenter.community.topic.list", "helpcenter.community.topic.detail", "desk.kb.article.detail.subtab" ]
                                  },
                                  "position" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "title" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "url" : {
                                    "maxLength" : 65535,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "isAdminAuthorisationNeeded" : { },
                    "isPrivate" : { },
                    "storage" : { },
                    "securityContext" : {
                      "maxLength" : 700,
                      "minLength" : 0
                    },
                    "uuId" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^[A-z0-9_.,@:\\-\\s/]*$"
                    },
                    "installedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "isDevExtension" : { },
                    "visibilityPerType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "PROFILE", "SPECIFIC_USER", "ALL_USER" ]
                    },
                    "installedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "isUserConfigurationNeeded" : { },
                    "installationId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "isUserAuthorisationNeeded" : { }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "extensionName" : "DEVAPP",
                      "hashkey" : "encryptedHash",
                      "installedOn" : 1559126287000,
                      "visibilityPerType" : "SPECIFIC_USER",
                      "manifest" : {
                        "connectors" : [ ],
                        "zohoAuthorisation" : { },
                        "oAuth" : [ ],
                        "config" : [ ],
                        "modules" : {
                          "widgets" : [ {
                            "extensionName" : "DEVAPP",
                            "isCollapsed" : "false",
                            "widgetId" : "1000000023034",
                            "sanitisedName" : "trello",
                            "icon" : "/app/img/icon.png",
                            "name" : "Trello",
                            "logo" : "/app/img/logo.png",
                            "location" : "desk.ticket.detail.rightpanel",
                            "installationId" : "1000000023028",
                            "position" : "0",
                            "title" : null,
                            "url" : "/app/widget.html"
                          } ]
                        }
                      },
                      "ConfigurationPendingFor" : [ ],
                      "installedBy" : "1000000015894",
                      "isPrivate" : true,
                      "installationId" : "1000000023028",
                      "storage" : true,
                      "uuId" : "00000000",
                      "isAuthorisationNeeded" : true
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.extension.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 20,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "248001bb07ef8642285d1babb9f93d96",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.support.restapi.MarketPlaceServices.addDevExtensionDetails"
        }
      }
    },
    "/api/v1/installedExtensions/{installationId}/storage/bulk" : {
      "post" : {
        "tags" : [ "Extension" ],
        "summary" : "Add or Update a Extension storage",
        "description" : "This API is to add or update the bulk data to an extension",
        "operationId" : "addOrUpdateBulkExtensionStorage",
        "parameters" : [ {
          "name" : "installationId",
          "in" : "path",
          "description" : "The id of the installed extension",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "The id of the installed extension",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "storage" ],
                "properties" : {
                  "storage" : {
                    "items" : {
                      "required" : [ "key", "queriableValue", "value" ],
                      "properties" : {
                        "queriableValue" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "value" : {
                          "additionalProperties" : false
                        },
                        "key" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : { }
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "storage" : [ {
                      "queriableValue" : "bugid:94208395746",
                      "value" : {
                        "buginfo" : "portal"
                      },
                      "key" : "id:674883524897539"
                    }, {
                      "queriableValue" : "bugid:94208395746",
                      "value" : {
                        "buginfo" : "support"
                      },
                      "key" : "id:674883524897537"
                    } ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "BAD_REQUEST",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getExtensionStorageByIdResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "key", "queriableValue", "value" ],
                        "properties" : {
                          "queriableValue" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "value" : {
                            "additionalProperties" : false
                          },
                          "key" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "queriableValue" : "bugid:94208395746",
                        "value" : {
                          "buginfo" : "portal"
                        },
                        "key" : "id:674883524897539"
                      }, {
                        "queriableValue" : "bugid:94208395746",
                        "value" : {
                          "buginfo" : "portal"
                        },
                        "key" : "id:674883524897537"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.CREATE", "Desk.extensions.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "a78ed3f9479d5c856d0bcaace6f57fe5",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.support.restapi.MarketPlaceServices.addOrUpdateBulkExtensionStorage"
        }
      }
    },
    "/api/v1/installedExtensions/{installationId}/authoriseConnection" : {
      "post" : {
        "tags" : [ "Extension" ],
        "summary" : "Authorise connections",
        "description" : "This API is to uninstall the app",
        "operationId" : "authoriseConnections",
        "parameters" : [ {
          "name" : "installationId",
          "in" : "path",
          "description" : "The id of the installed extension",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "The id of the installed extension",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "connectionLinkName", "connectionName", "serviceLinkName" ],
                "properties" : {
                  "connectionLinkName" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "unique connection name"
                  },
                  "connectionName" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "connection display name"
                  },
                  "serviceLinkName" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "unique service name"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "connectionLinkName" : "imaginaryworld",
                    "connectionName" : "imaginaryworld",
                    "serviceLinkName" : "imaginaryworld"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.extension.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "bb8f46e1663c46e2c343fef15045e1ec",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.support.restapi.MarketPlaceServices.authoriseConnections"
        }
      }
    },
    "/api/v1/installedExtensions/{installationId}" : {
      "get" : {
        "tags" : [ "Extension" ],
        "summary" : "Get a Installed Extension",
        "description" : "This API is to get details of installed Extension",
        "operationId" : "installedExtensionsById",
        "parameters" : [ {
          "name" : "installationId",
          "in" : "path",
          "description" : "The id of the installed extension",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "The id of the installed extension",
            "format" : "int64"
          }
        }, {
          "name" : "featureFlags",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "newFieldConfigParams" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "installedFrameworkExtensionsByIdResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "ConfigurationPendingFor", "accessTo", "edition", "expiresOn", "extensionName", "framework", "hashkey", "installationId", "installedBy", "installedOn", "isAdminAuthorisationNeeded", "isAdminConfigurationNeeded", "isChannelApp", "isDevExtension", "isEnabled", "isPaid", "isPermissionsEnabled", "isPrivate", "isUpdateAvailable", "isUserAuthorisationNeeded", "isUserConfigurationNeeded", "manifest", "paymentType", "purchasedUserCount", "resources", "storage", "tag", "trigger", "uuId", "version", "visibilityPerType" ],
                  "properties" : {
                    "extensionName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "hashkey" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^[a-zA-Z0-9]+$"
                    },
                    "edition" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "trail", "paid", "paymentExpired", "trailExpired", null ]
                    },
                    "isPrivate" : { },
                    "storage" : { },
                    "paymentType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "perInstallation", "perUser", null ]
                    },
                    "isUpdateAvailable" : { },
                    "expiresOn" : {
                      "additionalProperties" : { }
                    },
                    "tag" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "multilingual", "default" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Tag for an extensions",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "purchasedUserCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "isUserAuthorisationNeeded" : { },
                    "isAdminConfigurationNeeded" : { },
                    "isPermissionsEnabled" : { },
                    "manifest" : {
                      "required" : [ "config", "connectors", "locale", "modules", "oAuth", "whiteListedDomains", "zohoAuthorisation" ],
                      "properties" : {
                        "connectors" : {
                          "items" : {
                            "required" : [ "authoriseUrl", "connectionLinkName", "connectionName", "isAuthorised", "revokeUrl", "service", "userAccess" ],
                            "properties" : {
                              "revokeUrl" : {
                                "maxLength" : 65535,
                                "minLength" : 0
                              },
                              "service" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "userAccess" : { },
                              "connectionLinkName" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "isAuthorised" : { },
                              "connectionName" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "authoriseUrl" : {
                                "maxLength" : 65535,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "zohoAuthorisation" : {
                          "required" : [ "authoriseUrl", "connectionLinkName", "connectionName", "isAuthorised", "revokeUrl", "service", "userAccess" ],
                          "properties" : {
                            "revokeUrl" : {
                              "maxLength" : 65535,
                              "minLength" : 0
                            },
                            "service" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "userAccess" : { },
                            "connectionLinkName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "isAuthorised" : { },
                            "connectionName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "authoriseUrl" : {
                              "maxLength" : 65535,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        },
                        "whiteListedDomains" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "locale" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "oAuth" : {
                          "items" : {
                            "required" : [ "authType", "authType", "authoriseUrl", "isAuthorised", "name", "revokeUrl", "userAccess" ],
                            "properties" : {
                              "revokeUrl" : {
                                "maxLength" : 65535,
                                "minLength" : 0
                              },
                              "userAccess" : { },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Extension name",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "isAuthorised" : { },
                              "authType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "desk", "TPA", "apikey" ]
                              },
                              "authoriseUrl" : {
                                "maxLength" : 65535,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "config" : {
                          "items" : {
                            "oneOf" : [ {
                              "required" : [ "authType", "defaultValue", "description", "displayName", "mandatory", "name", "options", "secure", "type", "userDefined", "value", "varId" ],
                              "properties" : {
                                "displayName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "defaultValue" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "userDefined" : { },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "Extension name",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                },
                                "options" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "description" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "secure" : { },
                                "authType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "org", "personal" ]
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "mandatory" : { },
                                "value" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "varId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "authType", "defaultValue", "description", "displayName", "mandatory", "name", "options", "secure", "type", "userDefined", "value", "varId" ],
                              "properties" : {
                                "displayName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "defaultValue" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "userDefined" : { },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "Extension name",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                },
                                "options" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "description" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "secure" : { },
                                "authType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "org", "personal" ]
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "mandatory" : { },
                                "value" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "varId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : false
                            } ]
                          }
                        },
                        "modules" : {
                          "required" : [ "widgets" ],
                          "properties" : {
                            "widgets" : {
                              "items" : {
                                "required" : [ "icon", "isCollapsed", "location", "logo", "name", "position", "sanitisedName", "title", "url", "widgetId" ],
                                "properties" : {
                                  "isCollapsed" : { },
                                  "widgetId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "sanitisedName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "icon" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "x-custom-parameters-attributes" : {
                                      "removeExif" : false,
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "replacementString" : "",
                                      "allowInvalid" : false,
                                      "descrption" : "Extension name",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "0,5",
                                      "importUrl" : false,
                                      "decrypt" : false
                                    }
                                  },
                                  "logo" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "location" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "desk.ticket.detail.rightpanel", "desk.ticket.detail.subtab", "desk.bottomband", "desk.background", "desk.topband", "desk.task.detail.rightpanel", "desk.extension.preference", "desk.ticket.detail.lefttab", "desk.contact.detail.lefttab", "desk.account.detail.lefttab", "desk.ticket.detail.moreaction", "desk.ticket.thread.moreaction", "desk.ticket.form.rightpanel", "desk.contact.form.rightpanel", "desk.account.form.rightpanel", "desk.extension.telephony", "desk.contact.detail.subtab", "desk.account.detail.subtab", "desk.contact.detail.rightpanel", "desk.account.detail.rightpanel", "helpcenter.ticket.list", "helpcenter.ticket.detail", "helpcenter.ticket.form", "helpcenter.homepage", "helpcenter.kb.homepage", "helpcenter.kb.article.list", "helpcenter.kb.article.detail", "helpcenter.community.homepage", "helpcenter.community.topic.list", "helpcenter.community.topic.detail", "desk.kb.article.detail.subtab" ]
                                  },
                                  "position" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "title" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "url" : {
                                    "maxLength" : 65535,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : false
                    },
                    "isAdminAuthorisationNeeded" : { },
                    "resources" : {
                      "required" : [ "fields" ],
                      "properties" : {
                        "fields" : {
                          "items" : {
                            "required" : [ "displayLabel", "fieldId", "module" ],
                            "properties" : {
                              "displayLabel" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "module" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "tickets", "contacts", "accounts", "tasks", "calls", "events", "timeEntry", "contracts", "products" ]
                              },
                              "fieldId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "trigger" : {
                      "required" : [ "authoriseUrl", "isAuthorised" ],
                      "properties" : {
                        "isAuthorised" : { },
                        "authoriseUrl" : {
                          "maxLength" : 65535,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "version" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "\\d+(\\.\\d{1,2})?"
                    },
                    "uuId" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^[A-z0-9_.,@:\\-\\s/]*$"
                    },
                    "accessTo" : {
                      "required" : [ "departmentIds", "hasMoreUsers", "helpcenterIds", "permittedUsers", "profileIds" ],
                      "properties" : {
                        "hasMoreUsers" : { },
                        "profileIds" : {
                          "uniqueItems" : true,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "departmentIds" : {
                          "uniqueItems" : true,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "helpcenterIds" : {
                          "uniqueItems" : true,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "permittedUsers" : {
                          "items" : {
                            "required" : [ "associatedDepartmentIds", "id", "name" ],
                            "properties" : {
                              "name" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "associatedDepartmentIds" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "isPaid" : { },
                    "installedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "framework" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      }
                    },
                    "isDevExtension" : { },
                    "visibilityPerType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "PROFILE", "SPECIFIC_USER", "ALL_USER" ]
                    },
                    "isEnabled" : { },
                    "ConfigurationPendingFor" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "DESK", "HELPCENTER" ]
                      }
                    },
                    "installedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "installationId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "isUserConfigurationNeeded" : { },
                    "isChannelApp" : { }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "extensionName" : "Sprints(3)",
                      "isAdminConfigurationNeeded" : "true",
                      "hashkey" : "5e02e14e99737b81dddd612465b13aff929421b1e85b1137ff419b5b8ec734d7",
                      "manifest" : {
                        "connectors" : [ ],
                        "zohoAuthorisation" : {
                          "revokeUrl" : "/api/v1/installedExtensions/2000000040033/auth/2000000040035",
                          "userAccess" : true,
                          "name" : "zohotoken",
                          "isAuthorised" : false,
                          "authType" : "desk",
                          "authoriseUrl" : "https://accounts.zoho.com/oauth/v2/auth?client_id=1000.4ZJ7TC3062S662247GUOFZIKDSQUKF&response_type=code&redirect_uri=https://desk.zoho.com/callBackOauthUrl&state=5636216_2000000040033_2000000012902_zohotoken&scope=ZohoSprints.items.ALL+ZohoSprints.projects.ALL+ZohoSprints.sprints.ALL+ZohoSprints.teams.ALL&access_type=offline"
                        },
                        "whiteListedDomains" : [ "https://sprintsapi.zoho.com" ],
                        "oAuth" : [ ],
                        "config" : [ ],
                        "modules" : {
                          "widgets" : [ {
                            "widgetId" : "2000000040037",
                            "sanitisedName" : "zoho-sprints",
                            "name" : "Zoho Sprints",
                            "icon" : "/app/img/icon.png",
                            "logo" : "/app/img/logo.png",
                            "location" : "desk.ticket.detail.rightpanel",
                            "position" : "1",
                            "title" : null,
                            "url" : "/app/rightpanel.html"
                          }, {
                            "widgetId" : "2000000040039",
                            "sanitisedName" : "sprints",
                            "name" : "Sprints",
                            "icon" : "/app/img/icon.png",
                            "logo" : "/app/img/logo.png",
                            "location" : "desk.bottomband",
                            "position" : "3",
                            "title" : null,
                            "url" : "/app/preference.html"
                          } ]
                        }
                      },
                      "isAdminAuthorisationNeeded" : "true",
                      "edition" : null,
                      "storage" : true,
                      "isPrivate" : true,
                      "version" : "8.0",
                      "uuId" : "3a0fce2c-96ba-43f3-9dfe-4ec78a8bc845",
                      "paymentType" : null,
                      "accessTo" : {
                        "profileId" : [ "2000000012283", "2000000012286" ],
                        "departmentIds" : [ "2000000010762" ],
                        "permittedUsers" : [ ]
                      },
                      "isPaid" : false,
                      "installedOn" : 1535351687000,
                      "visibilityPerType" : "profile",
                      "isEnabled" : true,
                      "isUpdateAvailable" : false,
                      "ConfigurationPendingFor" : [ ],
                      "installedBy" : "2000000012902",
                      "installationId" : "2000000040033",
                      "isUserConfigurationNeeded" : "true",
                      "purchasedUserCount" : null,
                      "isUserAuthorisationNeeded" : "true"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.extension.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "d7c0a5664fb51bde107c6b4ba13cfffc",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.support.restapi.MarketPlaceServices.getExtension"
        }
      },
      "delete" : {
        "tags" : [ "Extension" ],
        "summary" : "Unistall an extension",
        "description" : "This API is to uninstall the app",
        "operationId" : "uninstallExtension",
        "parameters" : [ {
          "name" : "installationId",
          "in" : "path",
          "description" : "The id of the installed extension",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "The id of the installed extension",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.extension.DELETE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "a2f80dab3ca52a083daec6f30af9c113",
          "module-group" : "marketplace",
          "apimethod" : "com.zoho.support.restapi.MarketPlaceServices.unInstallExtension"
        }
      }
    },
    "/api/v1/myInstalledExtensions" : {
      "get" : {
        "tags" : [ "Extension" ],
        "summary" : "My Installed Extension List",
        "description" : "This API is to get my installed Extension details of the extension",
        "operationId" : "myInstalledExtensions",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of extensions to be fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of extensions to be fetch",
            "format" : "int32"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "name of the extension",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "name of the extension"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "From index",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "From index",
            "format" : "int32"
          }
        }, {
          "name" : "location",
          "in" : "query",
          "description" : "Location of the apps are @desk.ticket.detail.rightpanel@ @desk.ticket.detail.subtab@ @desk.ticket.detail.replyeditor@ @desk.bottomband@desk.background@desk.topband@desk.task.detail.rightpanel@desk.extension.preference@desk.ticket.detail.lefttab@desk.ticket.detail.moreaction@desk.ticket.thread.moreaction@desk.ticket.form.rightpanel@desk.contact.form.rightpanel@desk.account.form.rightpanel@desk.contact.detail.lefttab@desk.account.detail.lefttab@desk.contact.detail.rightpanel@desk.account.detail.rightpanel@desk.contact.detail.subtab@desk.account.detail.subtab@desk.kb.article.detail.subtab@desk.ticket.blueprint.transition",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Location of the apps are @desk.ticket.detail.rightpanel@ @desk.ticket.detail.subtab@ @desk.ticket.detail.replyeditor@ @desk.bottomband@desk.background@desk.topband@desk.task.detail.rightpanel@desk.extension.preference@desk.ticket.detail.lefttab@desk.ticket.detail.moreaction@desk.ticket.thread.moreaction@desk.ticket.form.rightpanel@desk.contact.form.rightpanel@desk.account.form.rightpanel@desk.contact.detail.lefttab@desk.account.detail.lefttab@desk.contact.detail.rightpanel@desk.account.detail.rightpanel@desk.contact.detail.subtab@desk.account.detail.subtab@desk.kb.article.detail.subtab@desk.ticket.blueprint.transition",
            "enum" : [ "desk.ticket.detail.rightpanel", "desk.ticket.detail.subtab", "desk.bottomband", "desk.background", "desk.topband", "desk.task.detail.rightpanel", "desk.extension.preference", "desk.ticket.detail.lefttab", "desk.ticket.detail.moreaction", "desk.ticket.thread.moreaction", "desk.ticket.form.rightpanel", "desk.contact.detail.lefttab", "desk.account.detail.lefttab", "desk.extension.telephony", "desk.contact.form.rightpanel", "desk.account.form.rightpanel", "desk.contact.detail.subtab", "desk.account.detail.subtab", "desk.contact.detail.rightpanel", "desk.account.detail.rightpanel", "desk.kb.article.detail.subtab" ]
          }
        }, {
          "name" : "featureFlags",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "newFieldConfigParams" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "installedExtensionResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
[...]
