{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "GC_Guide",
    "version" : "1.0.0",
    "x-clan-group" : "microservices",
    "x-module-group" : "gc"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/zohogc/guides/{guideId}" : {
      "get" : {
        "tags" : [ "GC_Guide" ],
        "operationId" : "getGCGuide",
        "parameters" : [ {
          "name" : "deptId",
          "in" : "query",
          "description" : "dept Id",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "dept Id",
            "format" : "int64"
          }
        }, {
          "name" : "guideId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getGCGuide template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "createdBy", "createdTime", "defaultLanguage", "deptId", "description", "errors", "flowVersions", "guideId", "guideStatus", "guideType", "languages", "lastModifiedBy", "lastModifiedTime", "name" ],
                  "properties" : {
                    "lastModifiedTime" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "languages" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "af_za", "ar_eg", "bg_bg", "bn_in", "ca_es", "cs_cz", "da_dk", "de_de", "el_gr", "en_us", "en_gb", "es_es", "fa_ir", "fi_fi", "fr_fr", "fr_ca", "gu_in", "he_il", "hi_in", "hr_hr", "hu_hu", "id_id", "it_it", "ja_jp", "ka_ge", "kk_kz", "kn_in", "ko_kr", "ml_in", "mr_in", "ms_my", "nb_no", "nl_nl", "pl_pl", "pt_pt", "ro_ro", "ru_ru", "sk_sk", "sl_si", "sv_se", "ta_in", "te_in", "th_th", "tr_tr", "uk_ua", "ur_pk", "vi_vn", "zh_cn", "zh_tw" ],
                        "x-custom-parameters-attributes" : [ { } ]
                      }
                    },
                    "lastModifiedBy" : {
                      "required" : [ "displayName", "email", "firstName", "id", "lastName", "middleName", "photoURL", "userStatus", "zuid" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "userStatus" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "active", "inactive" ]
                        },
                        "displayName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "middleName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "zuid" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "guideId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "deptId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "description" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "allowInvalid" : false,
                        "importUrl" : false,
                        "secret" : false,
                        "decrypt" : false,
                        "preserveCharsLimit" : 10
                      }
                    },
                    "guideType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "general", "faq", "system" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "allowInvalid" : false,
                        "importUrl" : false,
                        "secret" : false,
                        "decrypt" : false,
                        "preserveCharsLimit" : 10
                      }
                    },
                    "guideStatus" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "enabled", "disabled", "deleted" ]
                    },
                    "defaultLanguage" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "af_za", "ar_eg", "bg_bg", "bn_in", "ca_es", "cs_cz", "da_dk", "de_de", "el_gr", "en_us", "en_gb", "es_es", "fa_ir", "fi_fi", "fr_fr", "fr_ca", "gu_in", "he_il", "hi_in", "hr_hr", "hu_hu", "id_id", "it_it", "ja_jp", "ka_ge", "kk_kz", "kn_in", "ko_kr", "ml_in", "mr_in", "ms_my", "nb_no", "nl_nl", "pl_pl", "pt_pt", "ro_ro", "ru_ru", "sk_sk", "sl_si", "sv_se", "ta_in", "te_in", "th_th", "tr_tr", "uk_ua", "ur_pk", "vi_vn", "zh_cn", "zh_tw" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "allowInvalid" : false,
                        "importUrl" : false,
                        "secret" : false,
                        "decrypt" : false,
                        "preserveCharsLimit" : 10
                      }
                    },
                    "createdBy" : {
                      "required" : [ "displayName", "email", "firstName", "id", "lastName", "middleName", "photoURL", "userStatus", "zuid" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "userStatus" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "active", "inactive" ]
                        },
                        "displayName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "middleName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "zuid" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "allowInvalid" : false,
                        "importUrl" : false,
                        "secret" : false,
                        "decrypt" : false,
                        "preserveCharsLimit" : 10
                      }
                    },
                    "createdTime" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "flowVersions" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(published|draft)",
                        "enum" : [ "draft", "published" ]
                      }
                    },
                    "errors" : {
                      "required" : [ "runTime" ],
                      "properties" : {
                        "runTime" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "BAD_REQUEST",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 60,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.remoteip"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "microservices",
          "module-group" : "gc",
          "apimethod" : "com.zoho.desk.gc.restapi.GCFlowService.getFlow"
        }
      },
      "put" : {
        "tags" : [ "GC_Guide" ],
        "operationId" : "updateGCGuide",
        "parameters" : [ {
          "name" : "deptId",
          "in" : "query",
          "description" : "dept Id",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "dept Id",
            "format" : "int64"
          }
        }, {
          "name" : "guideId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "defaultLanguage", "description", "guideType", "languages", "name" ],
                "properties" : {
                  "defaultLanguage" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "af_za", "ar_eg", "bg_bg", "bn_in", "ca_es", "cs_cz", "da_dk", "de_de", "el_gr", "en_us", "en_gb", "es_es", "fa_ir", "fi_fi", "fr_fr", "fr_ca", "gu_in", "he_il", "hi_in", "hr_hr", "hu_hu", "id_id", "it_it", "ja_jp", "ka_ge", "kk_kz", "kn_in", "ko_kr", "ml_in", "mr_in", "ms_my", "nb_no", "nl_nl", "pl_pl", "pt_pt", "ro_ro", "ru_ru", "sk_sk", "sl_si", "sv_se", "ta_in", "te_in", "th_th", "tr_tr", "uk_ua", "ur_pk", "vi_vn", "zh_cn", "zh_tw" ]
                  },
                  "languages" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "af_za", "ar_eg", "bg_bg", "bn_in", "ca_es", "cs_cz", "da_dk", "de_de", "el_gr", "en_us", "en_gb", "es_es", "fa_ir", "fi_fi", "fr_fr", "fr_ca", "gu_in", "he_il", "hi_in", "hr_hr", "hu_hu", "id_id", "it_it", "ja_jp", "ka_ge", "kk_kz", "kn_in", "ko_kr", "ml_in", "mr_in", "ms_my", "nb_no", "nl_nl", "pl_pl", "pt_pt", "ro_ro", "ru_ru", "sk_sk", "sl_si", "sv_se", "ta_in", "te_in", "th_th", "tr_tr", "uk_ua", "ur_pk", "vi_vn", "zh_cn", "zh_tw" ],
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "description" : {
                    "maxLength" : 200,
                    "minLength" : 0
                  },
                  "guideType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "general", "faq", "system" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : null
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getGCGuide template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "createdBy", "createdTime", "defaultLanguage", "deptId", "description", "errors", "flowVersions", "guideId", "guideStatus", "guideType", "languages", "lastModifiedBy", "lastModifiedTime", "name" ],
                  "properties" : {
                    "lastModifiedTime" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "languages" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "af_za", "ar_eg", "bg_bg", "bn_in", "ca_es", "cs_cz", "da_dk", "de_de", "el_gr", "en_us", "en_gb", "es_es", "fa_ir", "fi_fi", "fr_fr", "fr_ca", "gu_in", "he_il", "hi_in", "hr_hr", "hu_hu", "id_id", "it_it", "ja_jp", "ka_ge", "kk_kz", "kn_in", "ko_kr", "ml_in", "mr_in", "ms_my", "nb_no", "nl_nl", "pl_pl", "pt_pt", "ro_ro", "ru_ru", "sk_sk", "sl_si", "sv_se", "ta_in", "te_in", "th_th", "tr_tr", "uk_ua", "ur_pk", "vi_vn", "zh_cn", "zh_tw" ],
                        "x-custom-parameters-attributes" : [ { } ]
                      }
                    },
                    "lastModifiedBy" : {
                      "required" : [ "displayName", "email", "firstName", "id", "lastName", "middleName", "photoURL", "userStatus", "zuid" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "userStatus" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "active", "inactive" ]
                        },
                        "displayName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "middleName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "zuid" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "guideId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "deptId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "description" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "allowInvalid" : false,
                        "importUrl" : false,
                        "secret" : false,
                        "decrypt" : false,
                        "preserveCharsLimit" : 10
                      }
                    },
                    "guideType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "general", "faq", "system" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "allowInvalid" : false,
                        "importUrl" : false,
                        "secret" : false,
                        "decrypt" : false,
                        "preserveCharsLimit" : 10
                      }
                    },
                    "guideStatus" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "enabled", "disabled", "deleted" ]
                    },
                    "defaultLanguage" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "af_za", "ar_eg", "bg_bg", "bn_in", "ca_es", "cs_cz", "da_dk", "de_de", "el_gr", "en_us", "en_gb", "es_es", "fa_ir", "fi_fi", "fr_fr", "fr_ca", "gu_in", "he_il", "hi_in", "hr_hr", "hu_hu", "id_id", "it_it", "ja_jp", "ka_ge", "kk_kz", "kn_in", "ko_kr", "ml_in", "mr_in", "ms_my", "nb_no", "nl_nl", "pl_pl", "pt_pt", "ro_ro", "ru_ru", "sk_sk", "sl_si", "sv_se", "ta_in", "te_in", "th_th", "tr_tr", "uk_ua", "ur_pk", "vi_vn", "zh_cn", "zh_tw" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "allowInvalid" : false,
                        "importUrl" : false,
                        "secret" : false,
                        "decrypt" : false,
                        "preserveCharsLimit" : 10
                      }
                    },
                    "createdBy" : {
                      "required" : [ "displayName", "email", "firstName", "id", "lastName", "middleName", "photoURL", "userStatus", "zuid" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "userStatus" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "active", "inactive" ]
                        },
                        "displayName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "middleName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "zuid" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "allowInvalid" : false,
                        "importUrl" : false,
                        "secret" : false,
                        "decrypt" : false,
                        "preserveCharsLimit" : 10
                      }
                    },
                    "createdTime" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "flowVersions" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(published|draft)",
                        "enum" : [ "draft", "published" ]
                      }
                    },
                    "errors" : {
                      "required" : [ "runTime" ],
                      "properties" : {
                        "runTime" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "BAD_REQUEST",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 60,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.remoteip"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "microservices",
          "module-group" : "gc",
          "apimethod" : "com.zoho.desk.gc.restapi.GCFlowService.updateFlow"
        }
      },
      "delete" : {
        "tags" : [ "GC_Guide" ],
        "operationId" : "deleteGCGuide",
        "parameters" : [ {
          "name" : "deptId",
          "in" : "query",
          "description" : "dept Id",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "dept Id",
            "format" : "int64"
          }
        }, {
          "name" : "guideId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "BAD_REQUEST",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 60,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.remoteip"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "microservices",
          "module-group" : "gc",
          "apimethod" : "com.zoho.desk.gc.restapi.GCFlowService.deleteFlow"
        }
      },
      "patch" : {
        "tags" : [ "GC_Guide" ],
        "operationId" : "updateGCGuideStatus",
        "parameters" : [ {
          "name" : "deptId",
          "in" : "query",
          "description" : "dept Id",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "dept Id",
            "format" : "int64"
          }
        }, {
          "name" : "guideStatus",
          "in" : "query",
          "description" : "Bot Status",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Bot Status",
            "enum" : [ "enabled", "disabled" ]
          }
        }, {
          "name" : "guideId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "No content"
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "BAD_REQUEST",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 60,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.remoteip"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "microservices",
          "module-group" : "gc",
          "apimethod" : "com.zoho.desk.gc.restapi.GCFlowService.updateFlowStatus"
        }
      }
    },
    "/api/v1/zohogc/guides" : {
      "get" : {
        "tags" : [ "GC_Guide" ],
        "operationId" : "getGCGuides",
        "parameters" : [ {
          "name" : "deptId",
          "in" : "query",
          "description" : "dept Id",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "dept Id",
            "format" : "int64"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Bot Name",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Bot Name"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 20,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Limit",
            "format" : "int64"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Offset",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 500,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Offset",
            "format" : "int64"
          }
        }, {
          "name" : "flowStatus",
          "in" : "query",
          "description" : "Flow Status",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Flow Status",
            "enum" : [ "enabled", "disabled", "deleted" ]
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Bot Type",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Bot Type",
            "enum" : [ "general", "faq", "system" ]
          }
        }, {
          "name" : "sortByStr",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "name", "created_time", "last_modified_time" ]
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Flow Status",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(published|draft)",
            "description" : "Flow Status",
            "enum" : [ "draft", "published" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getGuides template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "createdBy", "createdTime", "defaultLanguage", "deptId", "description", "errors", "flowVersions", "guideId", "guideStatus", "guideType", "languages", "lastModifiedBy", "lastModifiedTime", "name" ],
                        "properties" : {
                          "lastModifiedTime" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "languages" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "af_za", "ar_eg", "bg_bg", "bn_in", "ca_es", "cs_cz", "da_dk", "de_de", "el_gr", "en_us", "en_gb", "es_es", "fa_ir", "fi_fi", "fr_fr", "fr_ca", "gu_in", "he_il", "hi_in", "hr_hr", "hu_hu", "id_id", "it_it", "ja_jp", "ka_ge", "kk_kz", "kn_in", "ko_kr", "ml_in", "mr_in", "ms_my", "nb_no", "nl_nl", "pl_pl", "pt_pt", "ro_ro", "ru_ru", "sk_sk", "sl_si", "sv_se", "ta_in", "te_in", "th_th", "tr_tr", "uk_ua", "ur_pk", "vi_vn", "zh_cn", "zh_tw" ]
                            }
                          },
                          "lastModifiedBy" : {
                            "required" : [ "displayName", "email", "firstName", "id", "lastName", "middleName", "photoURL", "userStatus", "zuid" ],
                            "properties" : {
                              "firstName" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "userStatus" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "active", "inactive" ]
                              },
                              "displayName" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "middleName" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "email" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "zuid" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "guideId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "deptId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "dept Id",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "description" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "guideType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "general", "faq", "system" ]
                          },
                          "guideStatus" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "enabled", "disabled", "deleted" ]
                          },
                          "defaultLanguage" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "af_za", "ar_eg", "bg_bg", "bn_in", "ca_es", "cs_cz", "da_dk", "de_de", "el_gr", "en_us", "en_gb", "es_es", "fa_ir", "fi_fi", "fr_fr", "fr_ca", "gu_in", "he_il", "hi_in", "hr_hr", "hu_hu", "id_id", "it_it", "ja_jp", "ka_ge", "kk_kz", "kn_in", "ko_kr", "ml_in", "mr_in", "ms_my", "nb_no", "nl_nl", "pl_pl", "pt_pt", "ro_ro", "ru_ru", "sk_sk", "sl_si", "sv_se", "ta_in", "te_in", "th_th", "tr_tr", "uk_ua", "ur_pk", "vi_vn", "zh_cn", "zh_tw" ]
                          },
                          "createdBy" : {
                            "required" : [ "displayName", "email", "firstName", "id", "lastName", "middleName", "photoURL", "userStatus", "zuid" ],
                            "properties" : {
                              "firstName" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "userStatus" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "active", "inactive" ]
                              },
                              "displayName" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "middleName" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "email" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "zuid" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Bot Name",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "createdTime" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "flowVersions" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(published|draft)",
                              "enum" : [ "draft", "published" ]
                            }
                          },
                          "errors" : {
                            "required" : [ "runTime" ],
                            "properties" : {
                              "runTime" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "BAD_REQUEST",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 60,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.remoteip"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "microservices",
          "module-group" : "gc",
          "apimethod" : "com.zoho.desk.gc.restapi.GCFlowService.getFlows"
        }
      },
      "post" : {
        "tags" : [ "GC_Guide" ],
        "operationId" : "addGCGuide",
        "parameters" : [ {
          "name" : "deptId",
          "in" : "query",
          "description" : "dept Id",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "dept Id",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "defaultLanguage", "description", "guideType", "languages", "name" ],
                "properties" : {
                  "defaultLanguage" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "af_za", "ar_eg", "bg_bg", "bn_in", "ca_es", "cs_cz", "da_dk", "de_de", "el_gr", "en_us", "en_gb", "es_es", "fa_ir", "fi_fi", "fr_fr", "fr_ca", "gu_in", "he_il", "hi_in", "hr_hr", "hu_hu", "id_id", "it_it", "ja_jp", "ka_ge", "kk_kz", "kn_in", "ko_kr", "ml_in", "mr_in", "ms_my", "nb_no", "nl_nl", "pl_pl", "pt_pt", "ro_ro", "ru_ru", "sk_sk", "sl_si", "sv_se", "ta_in", "te_in", "th_th", "tr_tr", "uk_ua", "ur_pk", "vi_vn", "zh_cn", "zh_tw" ]
                  },
                  "languages" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "af_za", "ar_eg", "bg_bg", "bn_in", "ca_es", "cs_cz", "da_dk", "de_de", "el_gr", "en_us", "en_gb", "es_es", "fa_ir", "fi_fi", "fr_fr", "fr_ca", "gu_in", "he_il", "hi_in", "hr_hr", "hu_hu", "id_id", "it_it", "ja_jp", "ka_ge", "kk_kz", "kn_in", "ko_kr", "ml_in", "mr_in", "ms_my", "nb_no", "nl_nl", "pl_pl", "pt_pt", "ro_ro", "ru_ru", "sk_sk", "sl_si", "sv_se", "ta_in", "te_in", "th_th", "tr_tr", "uk_ua", "ur_pk", "vi_vn", "zh_cn", "zh_tw" ],
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "description" : {
                    "maxLength" : 200,
                    "minLength" : 0
                  },
                  "guideType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "general", "faq", "system" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : null
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getGCGuide template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "createdBy", "createdTime", "defaultLanguage", "deptId", "description", "errors", "flowVersions", "guideId", "guideStatus", "guideType", "languages", "lastModifiedBy", "lastModifiedTime", "name" ],
                  "properties" : {
                    "lastModifiedTime" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "languages" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "af_za", "ar_eg", "bg_bg", "bn_in", "ca_es", "cs_cz", "da_dk", "de_de", "el_gr", "en_us", "en_gb", "es_es", "fa_ir", "fi_fi", "fr_fr", "fr_ca", "gu_in", "he_il", "hi_in", "hr_hr", "hu_hu", "id_id", "it_it", "ja_jp", "ka_ge", "kk_kz", "kn_in", "ko_kr", "ml_in", "mr_in", "ms_my", "nb_no", "nl_nl", "pl_pl", "pt_pt", "ro_ro", "ru_ru", "sk_sk", "sl_si", "sv_se", "ta_in", "te_in", "th_th", "tr_tr", "uk_ua", "ur_pk", "vi_vn", "zh_cn", "zh_tw" ],
                        "x-custom-parameters-attributes" : [ { } ]
                      }
                    },
                    "lastModifiedBy" : {
                      "required" : [ "displayName", "email", "firstName", "id", "lastName", "middleName", "photoURL", "userStatus", "zuid" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "userStatus" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "active", "inactive" ]
                        },
                        "displayName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "middleName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "zuid" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "guideId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "deptId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "description" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "allowInvalid" : false,
                        "importUrl" : false,
                        "secret" : false,
                        "decrypt" : false,
                        "preserveCharsLimit" : 10
                      }
                    },
                    "guideType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "general", "faq", "system" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "allowInvalid" : false,
                        "importUrl" : false,
                        "secret" : false,
                        "decrypt" : false,
                        "preserveCharsLimit" : 10
                      }
                    },
                    "guideStatus" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "enabled", "disabled", "deleted" ]
                    },
                    "defaultLanguage" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "af_za", "ar_eg", "bg_bg", "bn_in", "ca_es", "cs_cz", "da_dk", "de_de", "el_gr", "en_us", "en_gb", "es_es", "fa_ir", "fi_fi", "fr_fr", "fr_ca", "gu_in", "he_il", "hi_in", "hr_hr", "hu_hu", "id_id", "it_it", "ja_jp", "ka_ge", "kk_kz", "kn_in", "ko_kr", "ml_in", "mr_in", "ms_my", "nb_no", "nl_nl", "pl_pl", "pt_pt", "ro_ro", "ru_ru", "sk_sk", "sl_si", "sv_se", "ta_in", "te_in", "th_th", "tr_tr", "uk_ua", "ur_pk", "vi_vn", "zh_cn", "zh_tw" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "allowInvalid" : false,
                        "importUrl" : false,
                        "secret" : false,
                        "decrypt" : false,
                        "preserveCharsLimit" : 10
                      }
                    },
                    "createdBy" : {
                      "required" : [ "displayName", "email", "firstName", "id", "lastName", "middleName", "photoURL", "userStatus", "zuid" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "userStatus" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "active", "inactive" ]
                        },
                        "displayName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "middleName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "zuid" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "allowInvalid" : false,
                        "importUrl" : false,
                        "secret" : false,
                        "decrypt" : false,
                        "preserveCharsLimit" : 10
                      }
                    },
                    "createdTime" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "flowVersions" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(published|draft)",
                        "enum" : [ "draft", "published" ]
                      }
                    },
                    "errors" : {
                      "required" : [ "runTime" ],
                      "properties" : {
                        "runTime" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "BAD_REQUEST",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 60,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.remoteip"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "microservices",
          "module-group" : "gc",
          "apimethod" : "com.zoho.desk.gc.restapi.GCFlowService.addFlow"
        }
      }
    },
    "/api/v1/zohogc/guides/trash" : {
      "delete" : {
        "tags" : [ "GC_Guide" ],
        "operationId" : "deleteTrashedFlows",
        "parameters" : [ {
          "name" : "deptId",
          "in" : "query",
          "description" : "dept Id",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "dept Id",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "flowIds" ],
                "properties" : {
                  "flowIds" : {
                    "uniqueItems" : true,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : null
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "BAD_REQUEST",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
[...]
