{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "GenericAction",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "automation"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/actions/{id}" : {
      "get" : {
        "tags" : [ "GenericAction" ],
        "summary" : "Get an Action",
        "description" : "This API gets a GenericAction in your helpdesk",
        "operationId" : "getAction",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getActionResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "required" : [ "apiName", "createdBy", "createdTime", "creatorType", "executionType", "id", "inputParams", "modifiedBy", "modifiedTime", "name", "outputParams", "paramDependencies", "type" ],
                    "properties" : {
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "apiName" : {
                        "maxLength" : 200,
                        "minLength" : 0
                      },
                      "creatorType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "SYSTEM", "USER_DEFINED", "EXTENSION_DEFINED" ]
                      },
                      "paramDependencies" : {
                        "items" : {
                          "required" : [ "actionId", "childAPIName", "childId", "paramDependencyId", "paramDependencyMapping", "parentAPIName", "parentId" ],
                          "properties" : {
                            "paramDependencyId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "paramDependencyMapping" : {
                              "additionalProperties" : false
                            },
                            "childAPIName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "actionId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "childId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "parentAPIName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "parentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : { }
                        }
                      },
                      "executionType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "SYNC", "ASYNC", "SCHEDULED" ]
                      },
                      "inputParams" : {
                        "items" : {
                          "required" : [ "actionId", "apiName", "defaultValue", "hooks", "id", "isEncrypted", "isFullSizeField", "isHidden", "isMandatory", "isReadOnly", "isRowBreakNeeded", "length", "name", "order", "origin", "picklistValues", "placeHolderContext", "placeHolderFilters", "targetTemplateName", "textAreaDimensions", "tooltips", "type", "uiType", "version" ],
                          "properties" : {
                            "picklistValues" : {
                              "uniqueItems" : false,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              }
                            },
                            "placeHolderFilters" : {
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            },
                            "textAreaDimensions" : {
                              "properties" : {
                                "rows" : {
                                  "pattern" : "^[0-9]+$"
                                }
                              }
                            },
                            "isFullSizeField" : { },
                            "isRowBreakNeeded" : { },
                            "isHidden" : { },
                            "isReadOnly" : { },
                            "defaultValue" : {
                              "minLength" : 0
                            },
                            "tooltips" : {
                              "properties" : {
                                "INFO" : {
                                  "description" : "Tooltip text for INFO type"
                                },
                                "PLACEHOLDER" : {
                                  "description" : "Tooltip text for PLACEHOLDER type"
                                }
                              },
                              "additionalProperties" : { },
                              "description" : "Map of tooltip types"
                            },
                            "apiName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "placeHolderContext" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "origin" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "STATIC", "DYNAMIC" ]
                            },
                            "length" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                            },
                            "version" : {
                              "maximum" : 9999,
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "isEncrypted" : { },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "uiType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula", "Hidden", "MultiLookup", "PrimaryIdentifier", "Expression", "Collection", "RichPlainText", "FileUpload", "LargeText", "Long", "Watchfields", null ]
                            },
                            "targetTemplateName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "actionId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "hooks" : {
                              "uniqueItems" : false,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              }
                            },
                            "isMandatory" : { },
                            "order" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "RESOLVER_ACTION", "INBUILT_FUNCTION", "CUSTOM_ACTION", "SCHEDULE_ACTION" ]
                      },
                      "createdBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "outputParams" : {
                        "items" : {
                          "required" : [ "actionId", "apiName", "id", "jsonPointerPath", "length", "name", "order", "origin", "type" ],
                          "properties" : {
                            "jsonPointerPath" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "apiName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "origin" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "STATIC", "DYNAMIC" ]
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "length" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "actionId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                            },
                            "order" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "name" : {
                        "maxLength" : 200,
                        "minLength" : 0
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "modifiedBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "apiName", "createdBy", "createdTime", "creatorType", "executionType", "id", "inputParams", "modifiedBy", "modifiedTime", "name", "outputParams", "preRequisite", "type" ],
                    "properties" : {
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "apiName" : {
                        "maxLength" : 200,
                        "minLength" : 0
                      },
                      "creatorType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "SYSTEM", "USER_DEFINED", "EXTENSION_DEFINED" ]
                      },
                      "preRequisite" : {
                        "required" : [ "actionId", "id", "inputParamsScriptUrl", "outputParamsScriptUrl", "postRequestScriptUrl", "preRequestScriptUrl", "targetId" ],
                        "properties" : {
                          "preRequestScriptUrl" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*(:[0-9]{1,5})?/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
                          },
                          "targetId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "postRequestScriptUrl" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*(:[0-9]{1,5})?/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
                          },
                          "inputParamsScriptUrl" : {
                            "maxLength" : 2000,
                            "minLength" : 0,
                            "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
                          },
                          "outputParamsScriptUrl" : {
                            "maxLength" : 2000,
                            "minLength" : 0,
                            "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
                          },
                          "actionId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "executionType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "SYNC", "ASYNC", "SCHEDULED" ]
                      },
                      "inputParams" : {
                        "items" : {
                          "required" : [ "actionId", "apiName", "defaultValue", "hooks", "id", "isEncrypted", "isFullSizeField", "isHidden", "isMandatory", "isReadOnly", "isRowBreakNeeded", "length", "name", "order", "origin", "picklistValues", "placeHolderContext", "placeHolderFilters", "targetTemplateName", "textAreaDimensions", "tooltips", "type", "uiType", "version" ],
                          "properties" : {
                            "picklistValues" : {
                              "uniqueItems" : false,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              }
                            },
                            "placeHolderFilters" : {
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            },
                            "textAreaDimensions" : {
                              "properties" : {
                                "rows" : {
                                  "pattern" : "^[0-9]+$"
                                }
                              }
                            },
                            "isFullSizeField" : { },
                            "isRowBreakNeeded" : { },
                            "isHidden" : { },
                            "isReadOnly" : { },
                            "defaultValue" : {
                              "minLength" : 0
                            },
                            "tooltips" : {
                              "properties" : {
                                "INFO" : {
                                  "description" : "Tooltip text for INFO type"
                                },
                                "PLACEHOLDER" : {
                                  "description" : "Tooltip text for PLACEHOLDER type"
                                }
                              },
                              "additionalProperties" : { },
                              "description" : "Map of tooltip types"
                            },
                            "apiName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "placeHolderContext" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "origin" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "STATIC", "DYNAMIC" ]
                            },
                            "length" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                            },
                            "version" : {
                              "maximum" : 9999,
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "isEncrypted" : { },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "uiType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula", "Hidden", "MultiLookup", "PrimaryIdentifier", "Expression", "Collection", "RichPlainText", "FileUpload", "LargeText", "Long", "Watchfields", null ]
                            },
                            "targetTemplateName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "actionId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "hooks" : {
                              "uniqueItems" : false,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              }
                            },
                            "isMandatory" : { },
                            "order" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "RESOLVER_ACTION", "INBUILT_FUNCTION", "CUSTOM_ACTION", "SCHEDULE_ACTION" ]
                      },
                      "createdBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "outputParams" : {
                        "items" : {
                          "required" : [ "actionId", "apiName", "id", "jsonPointerPath", "length", "name", "order", "origin", "type" ],
                          "properties" : {
                            "jsonPointerPath" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "apiName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "origin" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "STATIC", "DYNAMIC" ]
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "length" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "actionId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                            },
                            "order" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "name" : {
                        "maxLength" : 200,
                        "minLength" : 0
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "modifiedBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1706026777000,
                      "apiName" : "assignTicket",
                      "creatorType" : "SYSTEM",
                      "createdBy" : "1000000000517",
                      "preRequisite" : {
                        "preRequestScriptUrl" : "https://desk.zoho.com/api/v1/preRequestScript/assignTickets?orgId=19562073",
                        "targetId" : "1000000046195",
                        "postRequestScriptUrl" : null,
                        "actionId" : "1000000046197",
                        "inputParamsScriptUrl" : null,
                        "outputParamsScriptUrl" : null,
                        "targetAPIName" : null,
                        "preRequisiteDO" : null,
                        "id" : "1000000046198"
                      },
                      "outputParams" : [ {
                        "jsonPointerPath" : "/id",
                        "apiName" : "ticketId",
                        "origin" : "STATIC",
                        "length" : "30",
                        "name" : "Ticket Id",
                        "actionId" : "1000000046197",
                        "id" : "1000000046202",
                        "type" : "TEXT",
                        "version" : "1",
                        "order" : "1"
                      }, {
                        "jsonPointerPath" : "/assigneeId",
                        "apiName" : "assigneeId",
                        "origin" : "STATIC",
                        "length" : "30",
                        "name" : "Assignee Id",
                        "actionId" : "1000000046197",
                        "id" : "1000000046203",
                        "type" : "PICKLIST",
                        "version" : "1",
                        "order" : "2"
                      }, {
                        "jsonPointerPath" : "/teamId",
                        "apiName" : "teamId",
                        "origin" : "STATIC",
                        "length" : "30",
                        "name" : "Team Id",
                        "actionId" : "1000000046197",
                        "id" : "1000000046204",
                        "type" : "PICKLIST",
                        "version" : "1",
                        "order" : "3"
                      }, {
                        "jsonPointerPath" : "/modifiedTime",
                        "apiName" : "modifiedTime",
                        "origin" : "STATIC",
                        "length" : "30",
                        "name" : "Modified Time",
                        "actionId" : "1000000046197",
                        "id" : "1000000046205",
                        "type" : "TEXT",
                        "version" : "1",
                        "order" : "4"
                      }, {
                        "jsonPointerPath" : "/ticketNumber",
                        "apiName" : "ticketNumber",
                        "origin" : "STATIC",
                        "length" : "30",
                        "name" : "Ticket Number",
                        "actionId" : "1000000046197",
                        "id" : "1000000046206",
                        "type" : "TEXT",
                        "version" : "1",
                        "order" : "5"
                      } ],
                      "name" : "Assign Ticket",
                      "inputParams" : [ {
                        "picklistValues" : [ ],
                        "apiName" : "ticketId",
                        "placeHolderContext" : "tickets",
                        "origin" : "STATIC",
                        "length" : "200",
                        "type" : "LOOKUP",
                        "version" : "1",
                        "targetTemplateKey" : "ticketId",
                        "isEncrypted" : false,
                        "name" : "Record ID",
                        "uiType" : "LookUp",
                        "actionId" : "1000000046197",
                        "id" : "1000000046199",
                        "hooks" : [ ],
                        "isMandatory" : true,
                        "order" : "1",
                        "placeHolderFilters" : [ "PrimaryIdentifier" ]
                      }, {
                        "picklistValues" : [ {
                          "prompt" : "Agent",
                          "value" : "AGENT"
                        }, {
                          "prompt" : "Team",
                          "value" : "TEAM"
                        }, {
                          "prompt" : "Agent in a Team",
                          "value" : "TEAM_WITH_AGENT"
                        } ],
                        "apiName" : "type",
                        "placeHolderContext" : null,
                        "origin" : "STATIC",
                        "length" : "200",
                        "type" : "PICKLIST",
                        "version" : "1",
                        "targetTemplateKey" : "type",
                        "isEncrypted" : false,
                        "name" : "Assignee",
                        "actionId" : "1000000046197",
                        "id" : "1000000046200",
                        "hooks" : [ {
                          "payload" : { },
                          "id" : "1000000046201",
                          "paramId" : "1000000046200",
                          "event" : "AFTER_SELECTION",
                          "valueUrl" : "https://desk.zoho.com/api/v1/defaults/listAssignFields?orgId=19562073&event=${EVENT}&fieldValue=${FIELD_VALUE}"
                        } ],
                        "isMandatory" : true,
                        "order" : "2"
                      } ],
                      "createdTime" : 1706026777000,
                      "modifiedBy" : "1000000000517",
                      "id" : "1000000046197",
                      "type" : "CUSTOM_ACTION"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "2d8a1895e52efecba29d866890b3540e",
          "module-group" : "automation",
          "apimethod" : "com.zoho.desk.genericactions.restapi.GenericActionService.getAction"
        }
      }
    },
    "/api/v1/actions" : {
      "get" : {
        "tags" : [ "GenericAction" ],
        "summary" : "List Generic Actions",
        "description" : "This API gets a list of generic actions in your helpdesk. If both actionAPINames and actionIds are provided, priority will be given to actionAPINames. If only one is present, it will be considered accordingly.",
        "operationId" : "getActions",
        "parameters" : [ {
          "name" : "actionIds",
          "in" : "query",
          "description" : "Comma-separated array of ActionID. Maximum number of ids allowed is 50.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 50,
            "uniqueItems" : false,
            "description" : "Comma-separated array of ActionID. Maximum number of ids allowed is 50.",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "Comma-separated array of ActionID. Maximum number of ids allowed is 50.", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of actions",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 200,
            "pattern" : "([0-9]+)",
            "description" : "Number of actions",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "from index",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "from index",
            "format" : "int32"
          }
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Essential fields for list view",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 3,
            "uniqueItems" : true,
            "description" : "Essential fields for list view",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "inputParams", "outputParams", "preRequisite" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "actionAPINames",
          "in" : "query",
          "description" : "Comma-separated array of Action's API names. Maximum number of API names allowed is 50.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 50,
            "uniqueItems" : false,
            "description" : "Comma-separated array of Action's API names. Maximum number of API names allowed is 50.",
            "items" : {
              "maxLength" : 200,
              "minLength" : 0,
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "Comma-separated array of Action's API names. Maximum number of API names allowed is 50.", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getActionsFinalJsonResp template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "actions" : {
                        "items" : {
                          "properties" : {
                            "preRequisite" : {
                              "maxProperties" : 7,
                              "minProperties" : 7,
                              "required" : [ "actionId", "id", "inputParamsScriptUrl", "outputParamsScriptUrl", "postRequestScriptUrl", "preRequestScriptUrl", "targetId" ],
                              "properties" : {
                                "preRequestScriptUrl" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*(:[0-9]{1,5})?/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
                                },
                                "targetId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "postRequestScriptUrl" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*(:[0-9]{1,5})?/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
                                },
                                "inputParamsScriptUrl" : {
                                  "maxLength" : 2000,
                                  "minLength" : 0,
                                  "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
                                },
                                "outputParamsScriptUrl" : {
                                  "maxLength" : 2000,
                                  "minLength" : 0,
                                  "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
                                },
                                "actionId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "outputParams" : {
                              "uniqueItems" : false,
                              "items" : {
                                "maxProperties" : 9,
                                "minProperties" : 9,
                                "required" : [ "actionId", "apiName", "id", "jsonPointerPath", "length", "name", "order", "origin", "type" ],
                                "properties" : {
                                  "jsonPointerPath" : {
                                    "maxLength" : 200,
                                    "minLength" : 0
                                  },
                                  "apiName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "origin" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "STATIC", "DYNAMIC" ]
                                  },
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "length" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "actionId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "type" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                                  },
                                  "order" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : { }
                              }
                            },
                            "inputParams" : {
                              "uniqueItems" : false,
                              "items" : {
                                "maxProperties" : 16,
                                "minProperties" : 16,
                                "required" : [ "actionId", "apiName", "defaultValue", "hooks", "id", "isEncrypted", "isFullSizeField", "isHidden", "isMandatory", "isReadOnly", "isRowBreakNeeded", "length", "name", "order", "origin", "picklistValues", "placeHolderContext", "placeHolderFilters", "targetTemplateName", "textAreaDimensions", "tooltips", "type", "uiType", "version" ],
                                "properties" : {
                                  "picklistValues" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    }
                                  },
                                  "placeHolderFilters" : {
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  },
                                  "textAreaDimensions" : {
                                    "properties" : {
                                      "rows" : {
                                        "pattern" : "^[0-9]+$"
                                      }
                                    }
                                  },
                                  "isFullSizeField" : { },
                                  "isRowBreakNeeded" : { },
                                  "isHidden" : { },
                                  "isReadOnly" : { },
                                  "defaultValue" : {
                                    "minLength" : 0
                                  },
                                  "tooltips" : {
                                    "properties" : {
                                      "INFO" : {
                                        "description" : "Tooltip text for INFO type"
                                      },
                                      "PLACEHOLDER" : {
                                        "description" : "Tooltip text for PLACEHOLDER type"
                                      }
                                    },
                                    "additionalProperties" : { },
                                    "description" : "Map of tooltip types"
                                  },
                                  "apiName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "placeHolderContext" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "origin" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "STATIC", "DYNAMIC" ]
                                  },
                                  "length" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "type" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                                  },
                                  "version" : {
                                    "maximum" : 9999,
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "isEncrypted" : { },
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "uiType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula", "Hidden", "MultiLookup", "PrimaryIdentifier", "Expression", "Collection", "RichPlainText", "FileUpload", "LargeText", "Long", "Watchfields", null ]
                                  },
                                  "targetTemplateName" : {
                                    "maxLength" : 200,
                                    "minLength" : 0
                                  },
                                  "actionId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "hooks" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    }
                                  },
                                  "isMandatory" : { },
                                  "order" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : { }
                              }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "actions" ],
                    "properties" : {
                      "actions" : {
                        "items" : {
                          "required" : [ "apiName", "createdBy", "createdTime", "creatorType", "executionType", "id", "inputParams", "modifiedBy", "modifiedTime", "name", "outputParams", "paramDependencies", "type" ],
                          "properties" : {
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "apiName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "creatorType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "SYSTEM", "USER_DEFINED", "EXTENSION_DEFINED" ]
                            },
                            "paramDependencies" : {
                              "items" : {
                                "required" : [ "actionId", "childAPIName", "childId", "paramDependencyId", "paramDependencyMapping", "parentAPIName", "parentId" ],
                                "properties" : {
                                  "paramDependencyId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "paramDependencyMapping" : {
                                    "additionalProperties" : false
                                  },
                                  "childAPIName" : {
                                    "maxLength" : 200,
                                    "minLength" : 0
                                  },
                                  "actionId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "childId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "parentAPIName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "parentId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "executionType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "SYNC", "ASYNC", "SCHEDULED" ]
                            },
                            "inputParams" : {
                              "items" : {
                                "required" : [ "actionId", "apiName", "defaultValue", "hooks", "id", "isEncrypted", "isFullSizeField", "isHidden", "isMandatory", "isReadOnly", "isRowBreakNeeded", "length", "name", "order", "origin", "picklistValues", "placeHolderContext", "placeHolderFilters", "targetTemplateName", "textAreaDimensions", "tooltips", "type", "uiType", "version" ],
                                "properties" : {
                                  "picklistValues" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    }
                                  },
                                  "placeHolderFilters" : {
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  },
                                  "textAreaDimensions" : {
                                    "properties" : {
                                      "rows" : {
                                        "pattern" : "^[0-9]+$"
                                      }
                                    }
                                  },
                                  "isFullSizeField" : { },
                                  "isRowBreakNeeded" : { },
                                  "isHidden" : { },
                                  "isReadOnly" : { },
                                  "defaultValue" : {
                                    "minLength" : 0
                                  },
                                  "tooltips" : {
                                    "properties" : {
                                      "INFO" : {
                                        "description" : "Tooltip text for INFO type"
                                      },
                                      "PLACEHOLDER" : {
                                        "description" : "Tooltip text for PLACEHOLDER type"
                                      }
                                    },
                                    "additionalProperties" : { },
                                    "description" : "Map of tooltip types"
                                  },
                                  "apiName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "placeHolderContext" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "origin" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "STATIC", "DYNAMIC" ]
                                  },
                                  "length" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "type" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                                  },
                                  "version" : {
                                    "maximum" : 9999,
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "isEncrypted" : { },
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "uiType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula", "Hidden", "MultiLookup", "PrimaryIdentifier", "Expression", "Collection", "RichPlainText", "FileUpload", "LargeText", "Long", "Watchfields", null ]
                                  },
                                  "targetTemplateName" : {
                                    "maxLength" : 200,
                                    "minLength" : 0
                                  },
                                  "actionId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "hooks" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    }
                                  },
                                  "isMandatory" : { },
                                  "order" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "RESOLVER_ACTION", "INBUILT_FUNCTION", "CUSTOM_ACTION", "SCHEDULE_ACTION" ]
                            },
                            "createdBy" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "outputParams" : {
                              "items" : {
                                "required" : [ "actionId", "apiName", "id", "jsonPointerPath", "length", "name", "order", "origin", "type" ],
                                "properties" : {
                                  "jsonPointerPath" : {
                                    "maxLength" : 200,
                                    "minLength" : 0
                                  },
                                  "apiName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "origin" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "STATIC", "DYNAMIC" ]
                                  },
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "length" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "actionId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "type" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                                  },
                                  "order" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "name" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "modifiedBy" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "actions" : [ {
                        "modifiedTime" : 1706026775000,
                        "apiName" : "layoutMove",
                        "creatorType" : "SYSTEM",
                        "createdBy" : "1000000000517",
                        "outputParams" : [ ],
                        "name" : "Layout Move",
                        "inputParams" : [ ],
                        "createdTime" : 1706026775000,
                        "modifiedBy" : "1000000000517",
                        "id" : "1000000045698",
                        "type" : "RESOLVER_ACTION"
                      }, {
                        "modifiedTime" : 1706026775000,
                        "apiName" : "automationAction",
                        "creatorType" : "SYSTEM",
                        "createdBy" : "1000000000517",
                        "outputParams" : [ ],
                        "name" : "Automation Action",
                        "inputParams" : [ ],
                        "createdTime" : 1706026775000,
                        "modifiedBy" : "1000000000517",
                        "id" : "1000000045706",
                        "type" : "RESOLVER_ACTION"
                      }, {
                        "modifiedTime" : 1706026775000,
                        "apiName" : "validationAction",
                        "creatorType" : "SYSTEM",
                        "createdBy" : "1000000000517",
                        "outputParams" : [ ],
                        "name" : "Validation Action",
                        "inputParams" : [ ],
                        "createdTime" : 1706026775000,
                        "modifiedBy" : "1000000000517",
                        "id" : "1000000045710",
                        "type" : "RESOLVER_ACTION"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "327a68cb210f8558b51b0145843685a2",
          "module-group" : "automation",
          "apimethod" : "com.zoho.desk.genericactions.restapi.GenericActionService.getActions"
        }
      }
    },
    "/api/v1/actions/{id}/execute" : {
      "post" : {
        "tags" : [ "GenericAction" ],
        "summary" : "Execute Action",
        "description" : "This API executes an action with the given input values.",
        "operationId" : "executeAction",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "actionParamMappings", "entityIds", "moduleId" ],
                "properties" : {
                  "executionType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Specifies the type of action execution. The allowed values are SYNC and ASYNC.",
                    "enum" : [ "SYNC", "ASYNC" ]
                  },
                  "actionParamMappings" : {
                    "items" : {
                      "required" : [ "apiName", "hooks", "id", "isEncrypted", "isMandatory", "length", "name", "order", "origin", "picklistValues", "placeHolderContext", "type", "uiType", "value" ],
                      "properties" : {
                        "picklistValues" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "apiName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "placeHolderContext" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "origin" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "STATIC", "DYNAMIC" ]
                        },
                        "length" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                        },
                        "isEncrypted" : { },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "uiType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula", "Hidden", "MultiLookup", "PrimaryIdentifier", "Expression", "Collection", "RichPlainText", "FileUpload", "LargeText", "Long", "Watchfields", "null" ]
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "hooks" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "value" : {
                          "minLength" : 0
                        },
                        "isMandatory" : { },
                        "order" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "moduleId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the module to which the entities belong. It could be a system or custom module.",
                    "format" : "int64"
                  },
                  "entityIds" : {
                    "maxItems" : 50,
                    "minItems" : 2,
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "executionType" : "SYNC",
                    "actionParamMappings" : [ {
                      "apiName" : "staticParam1",
                      "value" : "My Action"
                    }, {
                      "apiName" : "staticParam2",
                      "value" : "1000000026140"
                    }, {
                      "apiName" : "staticParam3",
                      "value" : {
                        "subject" : "hello ${tickets.$createdBy}"
                      }
                    }, {
                      "picklistValues" : [ ],
                      "apiName" : "dyamicParam1",
                      "placeHolderContext" : null,
                      "origin" : "STATIC",
                      "length" : "100",
                      "type" : "TEXT",
                      "isEncrypted" : false,
                      "name" : "Dynamic Param",
                      "uiType" : null,
                      "targetTemplateName" : null,
                      "hooks" : [ ],
                      "value" : "Some value",
                      "isMandatory" : true,
                      "order" : "1"
                    } ],
                    "moduleId" : "1000000000581",
                    "entityIds" : [ "1000000048371" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "executeActionRespFinal template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "required" : [ "actionResult", "message", "status" ],
                      "properties" : {
                        "message" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "SUCCESS", "FAILURE", "OFFLOADED" ]
                        },
                        "actionResult" : {
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : {
                        "message" : "Action Execution completed for Action ID - 1000009638757",
                        "status" : "SUCCESS",
                        "actionResult" : {
                          "executionResult" : {
                            "executionStatus" : "true",
                            "skippedFieldUpdates" : [ {
                              "skippedFields" : [ {
                                "displayLabel" : "Subject",
                                "apiName" : "subject",
                                "fieldId" : "1000000002157"
                              } ],
                              "name" : "My Action"
                            } ]
                          },
                          "entityId" : 1000000048371
                        }
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "oAuth2" : [ "settings.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ResourseIntensiveQuery_Policy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "d49a6ddcb23635968d344802c941ea5f",
          "module-group" : "automation",
          "apimethod" : "com.zoho.desk.genericactions.restapi.GenericActionService.executeAction"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "outputParamRespJson" : {
        "required" : [ "actionId", "apiName", "id", "jsonPointerPath", "length", "name", "order", "origin", "type" ],
        "properties" : {
          "jsonPointerPath" : {
            "maxLength" : 200,
            "minLength" : 0
          },
          "apiName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "origin" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "STATIC", "DYNAMIC" ]
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "length" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "actionId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "type" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
          },
          "order" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          }
        },
        "additionalProperties" : { }
      },
      "outputParamsRespList" : {
        "items" : {
          "required" : [ "actionId", "apiName", "id", "jsonPointerPath", "length", "name", "order", "origin", "type" ],
          "properties" : {
            "jsonPointerPath" : {
              "maxLength" : 200,
              "minLength" : 0
            },
            "apiName" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "origin" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "STATIC", "DYNAMIC" ]
            },
            "name" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "length" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "actionId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "type" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
            },
            "order" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            }
          },
          "additionalProperties" : false
        }
      },
      "inputParamRespJson" : {
        "required" : [ "actionId", "apiName", "defaultValue", "hooks", "id", "isEncrypted", "isFullSizeField", "isHidden", "isMandatory", "isReadOnly", "isRowBreakNeeded", "length", "name", "order", "origin", "picklistValues", "placeHolderContext", "placeHolderFilters", "targetTemplateName", "textAreaDimensions", "tooltips", "type", "uiType", "version" ],
        "properties" : {
          "picklistValues" : {
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            }
          },
          "placeHolderFilters" : {
            "items" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          },
          "textAreaDimensions" : {
            "properties" : {
              "rows" : {
                "pattern" : "^[0-9]+$"
              }
            }
          },
          "isFullSizeField" : { },
          "isRowBreakNeeded" : { },
          "isHidden" : { },
          "isReadOnly" : { },
          "defaultValue" : {
            "minLength" : 0
          },
          "tooltips" : {
            "properties" : {
              "INFO" : {
                "description" : "Tooltip text for INFO type"
              },
              "PLACEHOLDER" : {
                "description" : "Tooltip text for PLACEHOLDER type"
              }
            },
            "additionalProperties" : { },
            "description" : "Map of tooltip types"
          },
          "apiName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "placeHolderContext" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "origin" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "STATIC", "DYNAMIC" ]
          },
          "length" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "type" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
          },
          "version" : {
            "maximum" : 9999,
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "isEncrypted" : { },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "uiType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula", "Hidden", "MultiLookup", "PrimaryIdentifier", "Expression", "Collection", "RichPlainText", "FileUpload", "LargeText", "Long", "Watchfields", null ]
          },
          "targetTemplateName" : {
            "maxLength" : 200,
            "minLength" : 0
          },
          "actionId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "hooks" : {
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            }
          },
          "isMandatory" : { },
          "order" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          }
        },
        "additionalProperties" : { }
      },
      "inputParamsRespList" : {
        "items" : {
          "required" : [ "actionId", "apiName", "defaultValue", "hooks", "id", "isEncrypted", "isFullSizeField", "isHidden", "isMandatory", "isReadOnly", "isRowBreakNeeded", "length", "name", "order", "origin", "picklistValues", "placeHolderContext", "placeHolderFilters", "targetTemplateName", "textAreaDimensions", "tooltips", "type", "uiType", "version" ],
          "properties" : {
            "picklistValues" : {
              "uniqueItems" : false,
              "items" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              }
            },
            "placeHolderFilters" : {
              "items" : {
                "maxLength" : 100,
                "minLength" : 0
              }
            },
            "textAreaDimensions" : {
              "properties" : {
                "rows" : {
                  "pattern" : "^[0-9]+$"
                }
              }
            },
            "isFullSizeField" : { },
            "isRowBreakNeeded" : { },
            "isHidden" : { },
            "isReadOnly" : { },
            "defaultValue" : {
              "minLength" : 0
            },
            "tooltips" : {
              "properties" : {
                "INFO" : {
                  "description" : "Tooltip text for INFO type"
                },
                "PLACEHOLDER" : {
                  "description" : "Tooltip text for PLACEHOLDER type"
                }
              },
              "additionalProperties" : { },
              "description" : "Map of tooltip types"
            },
            "apiName" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "placeHolderContext" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "origin" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "STATIC", "DYNAMIC" ]
            },
            "length" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "type" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
            },
            "version" : {
              "maximum" : 9999,
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "isEncrypted" : { },
            "name" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "uiType" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula", "Hidden", "MultiLookup", "PrimaryIdentifier", "Expression", "Collection", "RichPlainText", "FileUpload", "LargeText", "Long", "Watchfields", null ]
            },
            "targetTemplateName" : {
              "maxLength" : 200,
              "minLength" : 0
            },
            "actionId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "hooks" : {
              "uniqueItems" : false,
              "items" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              }
            },
            "isMandatory" : { },
            "order" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            }
          },
          "additionalProperties" : false
        }
      },
      "paramDependencyRespJson" : {
        "required" : [ "actionId", "childAPIName", "childId", "paramDependencyId", "paramDependencyMapping", "parentAPIName", "parentId" ],
        "properties" : {
          "paramDependencyId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "paramDependencyMapping" : {
            "additionalProperties" : { }
          },
          "childAPIName" : {
            "maxLength" : 200,
            "minLength" : 0
          },
          "actionId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "childId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "parentAPIName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "parentId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "paramDependencyRespArray" : {
        "items" : {
          "required" : [ "actionId", "childAPIName", "childId", "paramDependencyId", "paramDependencyMapping", "parentAPIName", "parentId" ],
          "properties" : {
            "paramDependencyId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "paramDependencyMapping" : {
              "additionalProperties" : false
            },
            "childAPIName" : {
              "maxLength" : 200,
              "minLength" : 0
            },
            "actionId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "childId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "parentAPIName" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "parentId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "additionalProperties" : false
        }
      },
      "preRequisiteRespJson" : {
        "required" : [ "actionId", "id", "inputParamsScriptUrl", "outputParamsScriptUrl", "postRequestScriptUrl", "preRequestScriptUrl", "targetId" ],
        "properties" : {
          "preRequestScriptUrl" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*(:[0-9]{1,5})?/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
          },
          "targetId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "postRequestScriptUrl" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*(:[0-9]{1,5})?/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
          },
          "inputParamsScriptUrl" : {
            "maxLength" : 2000,
            "minLength" : 0,
            "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
          },
          "outputParamsScriptUrl" : {
            "maxLength" : 2000,
            "minLength" : 0,
            "pattern" : "^(https?\\://[0-9a-zA-Z][-.\\w]*/[a-zA-Z0-9\\-\\.\\?\\,|\\:\\'/\\\\+=&amp;%\\${}#_\\[\\]@!\\(\\)\\*;~]*)$"
          },
          "actionId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "getActionsBasicJsonResp" : {
        "required" : [ "apiName", "createdBy", "createdTime", "creatorType", "executionType", "id", "inputParams", "modifiedBy", "modifiedTime", "name", "outputParams", "paramDependencies", "type" ],
        "properties" : {
          "modifiedTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "apiName" : {
            "maxLength" : 200,
            "minLength" : 0
          },
          "creatorType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "SYSTEM", "USER_DEFINED", "EXTENSION_DEFINED" ]
          },
          "paramDependencies" : {
            "items" : {
              "required" : [ "actionId", "childAPIName", "childId", "paramDependencyId", "paramDependencyMapping", "parentAPIName", "parentId" ],
              "properties" : {
                "paramDependencyId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "paramDependencyMapping" : {
                  "additionalProperties" : false
                },
                "childAPIName" : {
                  "maxLength" : 200,
                  "minLength" : 0
                },
                "actionId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "childId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "parentAPIName" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "parentId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "additionalProperties" : false
            }
          },
          "executionType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "SYNC", "ASYNC", "SCHEDULED" ]
          },
          "inputParams" : {
            "items" : {
              "required" : [ "actionId", "apiName", "defaultValue", "hooks", "id", "isEncrypted", "isFullSizeField", "isHidden", "isMandatory", "isReadOnly", "isRowBreakNeeded", "length", "name", "order", "origin", "picklistValues", "placeHolderContext", "placeHolderFilters", "targetTemplateName", "textAreaDimensions", "tooltips", "type", "uiType", "version" ],
              "properties" : {
                "picklistValues" : {
                  "uniqueItems" : false,
                  "items" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  }
                },
                "placeHolderFilters" : {
                  "items" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  }
                },
                "textAreaDimensions" : {
                  "properties" : {
                    "rows" : {
                      "pattern" : "^[0-9]+$"
                    }
                  }
                },
                "isFullSizeField" : { },
                "isRowBreakNeeded" : { },
                "isHidden" : { },
                "isReadOnly" : { },
                "defaultValue" : {
                  "minLength" : 0
                },
                "tooltips" : {
                  "properties" : {
                    "INFO" : {
                      "description" : "Tooltip text for INFO type"
                    },
                    "PLACEHOLDER" : {
                      "description" : "Tooltip text for PLACEHOLDER type"
                    }
                  },
                  "additionalProperties" : { },
                  "description" : "Map of tooltip types"
                },
                "apiName" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "placeHolderContext" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "origin" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "STATIC", "DYNAMIC" ]
                },
                "length" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "type" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                },
                "version" : {
                  "maximum" : 9999,
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "isEncrypted" : { },
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "uiType" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula", "Hidden", "MultiLookup", "PrimaryIdentifier", "Expression", "Collection", "RichPlainText", "FileUpload", "LargeText", "Long", "Watchfields", null ]
                },
                "targetTemplateName" : {
                  "maxLength" : 200,
                  "minLength" : 0
                },
                "actionId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "hooks" : {
                  "uniqueItems" : false,
                  "items" : {
                    "maxLength" : 100,
                    "minLength" : 0,
[...]
