{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "GenericActionMapping",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "automation"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/actionMappings/{id}" : {
      "get" : {
        "tags" : [ "GenericActionMapping" ],
        "summary" : "Get an Action Mapping",
        "description" : "This API is used to get a particular Action Mapping",
        "operationId" : "getActionMapping",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "ActionMappingResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "actionAPIName", "actionId", "actionName", "actionParamMappings", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime", "name" ],
                  "properties" : {
                    "modifiedTime" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "actionAPIName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "name" : {
                      "maxLength" : 30000,
                      "minLength" : 0
                    },
                    "actionId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "createdTime" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "actionParamMappings" : {
                      "items" : {
                        "required" : [ "apiName", "hooks", "id", "isEncrypted", "isMandatory", "length", "name", "order", "origin", "paramMappingId", "picklistValues", "placeHolderContext", "targetTemplateName", "type", "uiType", "value", "version" ],
                        "properties" : {
                          "picklistValues" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "apiName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "placeHolderContext" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "origin" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "STATIC", "DYNAMIC" ]
                          },
                          "length" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                          },
                          "paramMappingId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "version" : {
                            "maximum" : 9999,
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "isEncrypted" : { },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "uiType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula", "Hidden", "MultiLookup", "PrimaryIdentifier", "Expression", "Collection", "RichPlainText", "FileUpload", "LargeText", "Long", "Watchfields", "null" ]
                          },
                          "targetTemplateName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "value" : {
                            "minLength" : 0
                          },
                          "hooks" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "isMandatory" : { },
                          "order" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "actionName" : {
                      "maxLength" : 200,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : "1707455082929",
                      "createdBy" : "1000000000459",
                      "actionAPIName" : "createEntity",
                      "actionId" : "1000000210001",
                      "createdTime" : "1707455082929",
                      "modifiedBy" : "1000000000459",
                      "id" : "1000000223019",
                      "actionParamMappings" : [ {
                        "apiName" : "module",
                        "placeHolderContext" : null,
                        "origin" : "STATIC",
                        "length" : "500",
                        "type" : "PICKLIST",
                        "version" : "1",
                        "paramMappingId" : "1000000223020",
                        "targetTemplateKey" : "module",
                        "isEncrypted" : false,
                        "name" : "Module",
                        "uiType" : "Picklist",
                        "id" : "1000000210002",
                        "hooks" : [ {
                          "payload" : { },
                          "id" : "1000000210003",
                          "paramId" : "1000000210002",
                          "event" : "ON_ENTRY",
                          "valueUrl" : "http://localhost/api/v1/modules"
                        } ],
                        "value" : "tickets",
                        "isMandatory" : true,
                        "order" : "1"
                      }, {
                        "apiName" : "layout",
                        "placeHolderContext" : null,
                        "origin" : "STATIC",
                        "length" : "100",
                        "type" : "PICKLIST",
                        "version" : "1",
                        "paramMappingId" : "1000000223021",
                        "targetTemplateKey" : "layout",
                        "isEncrypted" : false,
                        "name" : "Layout",
                        "uiType" : "Picklist",
                        "id" : "1000000210004",
                        "hooks" : [ {
                          "payload" : { },
                          "id" : "1000000210005",
                          "paramId" : "1000000210004",
                          "event" : "ON_ENTRY",
                          "valueUrl" : "http://localhost/api/v1/layouts"
                        }, {
                          "payload" : { },
                          "id" : "1000000210006",
                          "paramId" : "1000000210004",
                          "event" : "AFTER_SELECTION",
                          "valueUrl" : "http://localhost/api/v1/layouts/987"
                        } ],
                        "value" : "987",
                        "isMandatory" : true,
                        "order" : "2"
                      }, {
                        "apiName" : "dynamicParam2",
                        "placeHolderContext" : null,
                        "origin" : "DYNAMIC",
                        "length" : "100",
                        "type" : "PICKLIST",
                        "version" : "1",
                        "paramMappingId" : "1000000223022",
                        "targetTemplateKey" : null,
                        "isEncrypted" : false,
                        "name" : "dynamicParam",
                        "uiType" : "Picklist",
                        "id" : "1000000223017",
                        "hooks" : [ ],
                        "value" : "987",
                        "isMandatory" : true,
                        "order" : "4"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "9b97686fa8259a8e6a67f9a8fe9a51c4",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.ActionMappingService.getActionMapping"
        }
      },
      "put" : {
        "tags" : [ "GenericActionMapping" ],
        "summary" : "Update an Action Mapping",
        "description" : "This API is used to update an ActionMapping",
        "operationId" : "updateActionMapping",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "inputParams" : {
                    "items" : {
                      "required" : [ "apiName", "hooks", "id", "isEncrypted", "isMandatory", "length", "name", "order", "origin", "picklistValues", "placeHolderContext", "type", "uiType", "value" ],
                      "properties" : {
                        "picklistValues" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "apiName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "placeHolderContext" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "origin" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "STATIC", "DYNAMIC" ]
                        },
                        "length" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                        },
                        "isEncrypted" : { },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "uiType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula", "Hidden", "MultiLookup", "PrimaryIdentifier", "Expression", "Collection", "RichPlainText", "FileUpload", "LargeText", "Long", "Watchfields", "null" ]
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "hooks" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "value" : {
                          "minLength" : 0
                        },
                        "isMandatory" : { },
                        "order" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "actionId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Action Id",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "inputParams" : [ {
                      "picklistValues" : [ ],
                      "apiName" : "module",
                      "placeHolderContext" : null,
                      "origin" : "STATIC",
                      "length" : "500",
                      "type" : "PICKLIST",
                      "isEncrypted" : false,
                      "name" : "Module",
                      "uiType" : "Picklist",
                      "id" : "1000000210002",
                      "value" : "tickets",
                      "hooks" : [ {
                        "targetResponseInfo" : {
                          "responseType" : "DATA_ARRAY",
                          "responsePaths" : {
                            "apiName" : "${targetRes.data[id!=${moduleId}]/apiName}",
                            "prompt" : "${targetRes.data[id!=${moduleId}]/displayLabel}",
                            "value" : "${targetRes.data[id!=${moduleId}]/id}"
                          },
                          "responsePathsPayload" : {
                            "moduleId" : "${moduleId}"
                          },
                          "targetAPIName" : null,
                          "target" : {
                            "headers" : "{\"orgId\": \"24756722\"}",
                            "displayType" : null,
                            "targetName" : "Fetch modules",
                            "apiName" : "fetch_all_modules",
                            "encodeType" : null,
                            "executionType" : "SERVER",
                            "connectionName" : null,
                            "type" : "DEFAULT",
                            "httpMethod" : "GET",
                            "url" : "https://localhost:7070/api/v1/modules",
                            "targetTemplate" : null
                          }
                        },
                        "payload" : { },
                        "id" : "1000000210003",
                        "paramId" : "1000000210002",
                        "event" : "ON_ENTRY",
                        "valueUrl" : null
                      } ],
                      "isMandatory" : true,
                      "order" : "1"
                    }, {
                      "picklistValues" : [ ],
                      "apiName" : "layout",
                      "placeHolderContext" : null,
                      "origin" : "STATIC",
                      "length" : "100",
                      "type" : "PICKLIST",
                      "isEncrypted" : false,
                      "name" : "Layout",
                      "uiType" : "Picklist",
                      "id" : "1000000210004",
                      "value" : "987",
                      "isMandatory" : true,
                      "order" : "2"
                    }, {
                      "apiName" : "dynamicParam2",
                      "placeHolderContext" : null,
                      "origin" : "DYNAMIC",
                      "length" : "100",
                      "type" : "PICKLIST",
                      "isEncrypted" : false,
                      "name" : "dynamicParam",
                      "uiType" : "Picklist",
                      "id" : "1000000223017",
                      "hooks" : [ ],
                      "value" : "987",
                      "isMandatory" : true,
                      "order" : "4"
                    } ],
                    "actionId" : "1000000210001"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "ActionMappingResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "actionAPIName", "actionId", "actionName", "actionParamMappings", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime", "name" ],
                  "properties" : {
                    "modifiedTime" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "actionAPIName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "name" : {
                      "maxLength" : 30000,
                      "minLength" : 0
                    },
                    "actionId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "createdTime" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "actionParamMappings" : {
                      "items" : {
                        "required" : [ "apiName", "hooks", "id", "isEncrypted", "isMandatory", "length", "name", "order", "origin", "paramMappingId", "picklistValues", "placeHolderContext", "targetTemplateName", "type", "uiType", "value", "version" ],
                        "properties" : {
                          "picklistValues" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "apiName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "placeHolderContext" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "origin" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "STATIC", "DYNAMIC" ]
                          },
                          "length" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                          },
                          "paramMappingId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "version" : {
                            "maximum" : 9999,
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "isEncrypted" : { },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "uiType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula", "Hidden", "MultiLookup", "PrimaryIdentifier", "Expression", "Collection", "RichPlainText", "FileUpload", "LargeText", "Long", "Watchfields", "null" ]
                          },
                          "targetTemplateName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "value" : {
                            "minLength" : 0
                          },
                          "hooks" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "isMandatory" : { },
                          "order" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "actionName" : {
                      "maxLength" : 200,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : "1707455082929",
                      "createdBy" : "1000000000459",
                      "actionAPIName" : "createEntity",
                      "actionId" : "1000000210001",
                      "createdTime" : "1707455082929",
                      "modifiedBy" : "1000000000459",
                      "id" : "1000000223019",
                      "actionParamMappings" : [ {
                        "apiName" : "module",
                        "placeHolderContext" : null,
                        "origin" : "STATIC",
                        "length" : "500",
                        "type" : "PICKLIST",
                        "version" : "1",
                        "paramMappingId" : "1000000223020",
                        "targetTemplateKey" : "module",
                        "isEncrypted" : false,
                        "name" : "Module",
                        "uiType" : "Picklist",
                        "id" : "1000000210002",
                        "hooks" : [ {
                          "payload" : { },
                          "id" : "1000000210003",
                          "paramId" : "1000000210002",
                          "event" : "ON_ENTRY",
                          "valueUrl" : "http://localhost/api/v1/modules"
                        } ],
                        "value" : "tickets",
                        "isMandatory" : true,
                        "order" : "1"
                      }, {
                        "apiName" : "layout",
                        "placeHolderContext" : null,
                        "origin" : "STATIC",
                        "length" : "100",
                        "type" : "PICKLIST",
                        "version" : "1",
                        "paramMappingId" : "1000000223021",
                        "targetTemplateKey" : "layout",
                        "isEncrypted" : false,
                        "name" : "Layout",
                        "uiType" : "Picklist",
                        "id" : "1000000210004",
                        "hooks" : [ {
                          "payload" : { },
                          "id" : "1000000210005",
                          "paramId" : "1000000210004",
                          "event" : "ON_ENTRY",
                          "valueUrl" : "http://localhost/api/v1/layouts"
                        }, {
                          "payload" : { },
                          "id" : "1000000210006",
                          "paramId" : "1000000210004",
                          "event" : "AFTER_SELECTION",
                          "valueUrl" : "http://localhost/api/v1/layouts/987"
                        } ],
                        "value" : "987",
                        "isMandatory" : true,
                        "order" : "2"
                      }, {
                        "apiName" : "dynamicParam2",
                        "placeHolderContext" : null,
                        "origin" : "DYNAMIC",
                        "length" : "100",
                        "type" : "PICKLIST",
                        "version" : "1",
                        "paramMappingId" : "1000000223022",
                        "targetTemplateKey" : null,
                        "isEncrypted" : false,
                        "name" : "dynamicParam",
                        "uiType" : "Picklist",
                        "id" : "1000000223017",
                        "hooks" : [ ],
                        "value" : "987",
                        "isMandatory" : true,
                        "order" : "4"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "e8a6cf34307222ed9b673d743b082fd5",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.ActionMappingService.updateActionMapping"
        }
      },
      "delete" : {
        "tags" : [ "GenericActionMapping" ],
        "summary" : "Delete an Action Mapping",
        "description" : "This API is used to delete an ActionMapping",
        "operationId" : "deleteActionMapping",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.DELETE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "46cbac8fb2cc2c434c6a50b4797f7e7c",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.ActionMappingService.deleteActionMapping"
        }
      }
    },
    "/api/v1/actionMappings" : {
      "get" : {
        "tags" : [ "GenericActionMapping" ],
        "summary" : "Get a list of  ActionMappings",
        "description" : "This API gets a list of ActionMappings",
        "operationId" : "getActionMappings",
        "parameters" : [ {
          "name" : "filterValue1",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 1000,
            "minLength" : 0
          }
        }, {
          "name" : "filterField1",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 1000,
            "minLength" : 0,
            "pattern" : "filterField[0-9]*"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of ActionMappings to be recieved",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "pattern" : "([0-9]+)",
            "description" : "Maximum number of ActionMappings to be recieved",
            "format" : "int32"
          }
        }, {
          "name" : "actionId",
          "in" : "query",
          "description" : "ActionId for which actionMappings to be listed",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ActionId for which actionMappings to be listed",
            "format" : "int64"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting index of Actionmapping to be recieved",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting index of Actionmapping to be recieved",
            "format" : "int32"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "ListAllActionMappingsArrayResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "required" : [ "actionAPIName", "actionId", "actionParamMappings", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime" ],
                    "properties" : {
                      "modifiedTime" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "createdBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "actionAPIName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "actionId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ActionId for which actionMappings to be listed",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "createdTime" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "modifiedBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "actionParamMappings" : {
                        "items" : {
                          "required" : [ "apiName", "value" ],
                          "properties" : {
                            "apiName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "value" : {
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "additionalProperties" : { }
                  }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : [ {
                      "modifiedTime" : "1705905603120",
                      "createdBy" : "1000000000459",
                      "actionAPIName" : "createEntity",
                      "actionId" : "1000000210001",
                      "createdTime" : "1705905603120",
                      "modifiedBy" : "1000000000459",
                      "id" : "1000000212065",
                      "actionParamMappings" : [ {
                        "apiName" : "module",
                        "value" : "tickets"
                      }, {
                        "apiName" : "layout",
                        "value" : "987"
                      } ]
                    }, {
                      "modifiedTime" : "1705905732662",
                      "createdBy" : "1000000000459",
                      "actionAPIName" : "createEntity",
                      "actionId" : "1000000210001",
                      "createdTime" : "1705905732662",
                      "modifiedBy" : "1000000000459",
                      "id" : "1000000212071",
                      "actionParamMappings" : [ {
                        "apiName" : "module",
                        "value" : "tickets"
                      }, {
                        "apiName" : "layout",
                        "value" : "987"
                      } ]
                    }, {
                      "modifiedTime" : "1705906462060",
                      "createdBy" : "1000000000459",
                      "actionAPIName" : "createEntity",
                      "actionId" : "1000000210001",
                      "createdTime" : "1705906462060",
                      "modifiedBy" : "1000000000459",
                      "id" : "1000000212077",
                      "actionParamMappings" : [ {
                        "apiName" : "module",
                        "value" : "tickets"
                      }, {
                        "apiName" : "layout",
                        "value" : "987"
                      } ]
                    }, {
                      "modifiedTime" : "1707395169369",
                      "createdBy" : "1000000000459",
                      "actionAPIName" : "createEntity",
                      "actionId" : "1000000210001",
                      "createdTime" : "1707395169369",
                      "modifiedBy" : "1000000000459",
                      "id" : "1000000223009",
                      "actionParamMappings" : [ {
                        "apiName" : "module",
                        "value" : "tickets"
                      }, {
                        "apiName" : "layout",
                        "value" : "987"
                      }, {
                        "apiName" : "dynamicParam",
                        "value" : "987"
                      } ]
                    }, {
                      "modifiedTime" : "1707455082929",
                      "createdBy" : "1000000000459",
                      "actionAPIName" : "createEntity",
                      "actionId" : "1000000210001",
                      "createdTime" : "1707455082929",
                      "modifiedBy" : "1000000000459",
                      "id" : "1000000223019",
                      "actionParamMappings" : [ {
                        "apiName" : "module",
                        "value" : "tickets"
                      }, {
                        "apiName" : "layout",
                        "value" : "987"
                      }, {
                        "apiName" : "dynamicParam2",
                        "value" : "987"
                      } ]
                    } ]
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "bbed91ae43c6df2763aa095d03922540",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.ActionMappingService.getActionMappings"
        }
      },
      "post" : {
        "tags" : [ "GenericActionMapping" ],
        "summary" : "Create an Action Mapping",
        "description" : "This API creates an actionMapping.",
        "operationId" : "createActionMapping",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "actionId", "inputParams" ],
                "properties" : {
                  "inputParams" : {
                    "items" : {
                      "required" : [ "apiName", "hooks", "id", "isEncrypted", "isMandatory", "length", "name", "order", "origin", "picklistValues", "placeHolderContext", "type", "uiType", "value" ],
                      "properties" : {
                        "picklistValues" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "apiName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "placeHolderContext" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "origin" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "STATIC", "DYNAMIC" ]
                        },
                        "length" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                        },
                        "isEncrypted" : { },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "uiType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula", "Hidden", "MultiLookup", "PrimaryIdentifier", "Expression", "Collection", "RichPlainText", "FileUpload", "LargeText", "Long", "Watchfields", "null" ]
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "hooks" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "value" : {
                          "minLength" : 0
                        },
                        "isMandatory" : { },
                        "order" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "actionId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Action Id",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "inputParams" : [ {
                      "picklistValues" : [ ],
                      "apiName" : "module",
                      "placeHolderContext" : null,
                      "origin" : "STATIC",
                      "length" : "500",
                      "type" : "PICKLIST",
                      "isEncrypted" : false,
                      "name" : "Module",
                      "uiType" : "Picklist",
                      "id" : "1000000210002",
                      "value" : "tickets",
                      "hooks" : [ {
                        "targetResponseInfo" : {
                          "responseType" : "DATA_ARRAY",
                          "responsePaths" : {
                            "apiName" : "${targetRes.data[id!=${moduleId}]/apiName}",
                            "prompt" : "${targetRes.data[id!=${moduleId}]/displayLabel}",
                            "value" : "${targetRes.data[id!=${moduleId}]/id}"
                          },
                          "responsePathsPayload" : {
                            "moduleId" : "${moduleId}"
                          },
                          "targetAPIName" : null,
                          "target" : {
                            "headers" : "{\"orgId\": \"24756722\"}",
                            "displayType" : null,
                            "targetName" : "Fetch modules",
                            "apiName" : "fetch_all_modules",
                            "encodeType" : null,
                            "executionType" : "SERVER",
                            "connectionName" : null,
                            "type" : "DEFAULT",
                            "httpMethod" : "GET",
                            "url" : "https://localhost:7070/api/v1/modules",
                            "targetTemplate" : null
                          }
                        },
                        "payload" : { },
                        "id" : "1000000210003",
                        "paramId" : "1000000210002",
                        "event" : "ON_ENTRY",
                        "valueUrl" : null
                      } ],
                      "isMandatory" : true,
                      "order" : "1"
                    }, {
                      "picklistValues" : [ ],
                      "apiName" : "layout",
                      "placeHolderContext" : null,
                      "origin" : "STATIC",
                      "length" : "100",
                      "type" : "PICKLIST",
                      "isEncrypted" : false,
                      "name" : "Layout",
                      "uiType" : "Picklist",
                      "id" : "1000000210004",
                      "value" : "987",
                      "isMandatory" : true,
                      "order" : "2"
                    }, {
                      "apiName" : "dynamicParam2",
                      "placeHolderContext" : null,
                      "origin" : "DYNAMIC",
                      "length" : "100",
                      "type" : "PICKLIST",
                      "isEncrypted" : false,
                      "name" : "dynamicParam",
                      "uiType" : "Picklist",
                      "id" : "1000000223017",
                      "hooks" : [ ],
                      "value" : "987",
                      "isMandatory" : true,
                      "order" : "4"
                    } ],
                    "actionId" : "1000000210001"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "ActionMappingResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "actionAPIName", "actionId", "actionName", "actionParamMappings", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime", "name" ],
                  "properties" : {
                    "modifiedTime" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "actionAPIName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "name" : {
                      "maxLength" : 30000,
                      "minLength" : 0
                    },
                    "actionId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "createdTime" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "actionParamMappings" : {
                      "items" : {
                        "required" : [ "apiName", "hooks", "id", "isEncrypted", "isMandatory", "length", "name", "order", "origin", "paramMappingId", "picklistValues", "placeHolderContext", "targetTemplateName", "type", "uiType", "value", "version" ],
                        "properties" : {
                          "picklistValues" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "apiName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "placeHolderContext" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "origin" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "STATIC", "DYNAMIC" ]
                          },
                          "length" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                          },
                          "paramMappingId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "version" : {
                            "maximum" : 9999,
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "isEncrypted" : { },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "uiType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula", "Hidden", "MultiLookup", "PrimaryIdentifier", "Expression", "Collection", "RichPlainText", "FileUpload", "LargeText", "Long", "Watchfields", "null" ]
                          },
                          "targetTemplateName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "value" : {
                            "minLength" : 0
                          },
                          "hooks" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "isMandatory" : { },
                          "order" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "actionName" : {
                      "maxLength" : 200,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : "1707455082929",
                      "createdBy" : "1000000000459",
                      "actionAPIName" : "createEntity",
                      "actionId" : "1000000210001",
                      "createdTime" : "1707455082929",
                      "modifiedBy" : "1000000000459",
                      "id" : "1000000223019",
                      "actionParamMappings" : [ {
                        "apiName" : "module",
                        "placeHolderContext" : null,
                        "origin" : "STATIC",
                        "length" : "500",
                        "type" : "PICKLIST",
                        "version" : "1",
                        "paramMappingId" : "1000000223020",
                        "targetTemplateKey" : "module",
                        "isEncrypted" : false,
                        "name" : "Module",
                        "uiType" : "Picklist",
                        "id" : "1000000210002",
                        "hooks" : [ {
                          "payload" : { },
                          "id" : "1000000210003",
                          "paramId" : "1000000210002",
                          "event" : "ON_ENTRY",
                          "valueUrl" : "http://localhost/api/v1/modules"
                        } ],
                        "value" : "tickets",
                        "isMandatory" : true,
                        "order" : "1"
                      }, {
                        "apiName" : "layout",
                        "placeHolderContext" : null,
                        "origin" : "STATIC",
                        "length" : "100",
                        "type" : "PICKLIST",
                        "version" : "1",
                        "paramMappingId" : "1000000223021",
                        "targetTemplateKey" : "layout",
                        "isEncrypted" : false,
                        "name" : "Layout",
                        "uiType" : "Picklist",
                        "id" : "1000000210004",
                        "hooks" : [ {
                          "payload" : { },
                          "id" : "1000000210005",
                          "paramId" : "1000000210004",
                          "event" : "ON_ENTRY",
                          "valueUrl" : "http://localhost/api/v1/layouts"
                        }, {
                          "payload" : { },
                          "id" : "1000000210006",
                          "paramId" : "1000000210004",
                          "event" : "AFTER_SELECTION",
                          "valueUrl" : "http://localhost/api/v1/layouts/987"
                        } ],
                        "value" : "987",
                        "isMandatory" : true,
                        "order" : "2"
                      }, {
                        "apiName" : "dynamicParam2",
                        "placeHolderContext" : null,
                        "origin" : "DYNAMIC",
                        "length" : "100",
                        "type" : "PICKLIST",
                        "version" : "1",
                        "paramMappingId" : "1000000223022",
                        "targetTemplateKey" : null,
                        "isEncrypted" : false,
                        "name" : "dynamicParam",
                        "uiType" : "Picklist",
                        "id" : "1000000223017",
                        "hooks" : [ ],
                        "value" : "987",
                        "isMandatory" : true,
                        "order" : "4"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "5d9a72935a357063ad6584e1977e4018",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.ActionMappingService.createActionMapping"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "actionParamMappingResponseJson" : {
        "required" : [ "apiName", "hooks", "id", "isEncrypted", "isMandatory", "length", "name", "order", "origin", "paramMappingId", "picklistValues", "placeHolderContext", "targetTemplateName", "type", "uiType", "value", "version" ],
        "properties" : {
          "picklistValues" : {
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            }
          },
          "apiName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "placeHolderContext" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "origin" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "STATIC", "DYNAMIC" ]
          },
          "length" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "type" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
          },
          "paramMappingId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "version" : {
            "maximum" : 9999,
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "isEncrypted" : { },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "uiType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula", "Hidden", "MultiLookup", "PrimaryIdentifier", "Expression", "Collection", "RichPlainText", "FileUpload", "LargeText", "Long", "Watchfields", "null" ]
          },
          "targetTemplateName" : {
            "maxLength" : 200,
            "minLength" : 0
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "value" : {
            "minLength" : 0
          },
          "hooks" : {
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            }
          },
          "isMandatory" : { },
          "order" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          }
        },
        "additionalProperties" : { }
      },
      "actionParamMappingResponseJsonArray" : {
        "items" : {
          "required" : [ "apiName", "hooks", "id", "isEncrypted", "isMandatory", "length", "name", "order", "origin", "paramMappingId", "picklistValues", "placeHolderContext", "targetTemplateName", "type", "uiType", "value", "version" ],
          "properties" : {
            "picklistValues" : {
              "uniqueItems" : false,
              "items" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              }
            },
            "apiName" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "placeHolderContext" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "origin" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "STATIC", "DYNAMIC" ]
            },
            "length" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "type" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
            },
            "paramMappingId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "version" : {
              "maximum" : 9999,
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "isEncrypted" : { },
            "name" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "uiType" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula", "Hidden", "MultiLookup", "PrimaryIdentifier", "Expression", "Collection", "RichPlainText", "FileUpload", "LargeText", "Long", "Watchfields", "null" ]
            },
            "targetTemplateName" : {
              "maxLength" : 200,
              "minLength" : 0
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "value" : {
              "minLength" : 0
            },
            "hooks" : {
              "uniqueItems" : false,
              "items" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              }
            },
            "isMandatory" : { },
            "order" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            }
          },
          "additionalProperties" : false
        }
      },
      "inputParamPayloadJson" : {
        "required" : [ "apiName", "hooks", "id", "isEncrypted", "isMandatory", "length", "name", "order", "origin", "picklistValues", "placeHolderContext", "type", "uiType", "value" ],
        "properties" : {
          "picklistValues" : {
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            }
          },
          "apiName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "placeHolderContext" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "origin" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "STATIC", "DYNAMIC" ]
          },
          "length" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "type" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
          },
          "isEncrypted" : { },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "uiType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula", "Hidden", "MultiLookup", "PrimaryIdentifier", "Expression", "Collection", "RichPlainText", "FileUpload", "LargeText", "Long", "Watchfields", "null" ]
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "hooks" : {
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            }
          },
          "value" : {
            "minLength" : 0
          },
          "isMandatory" : { },
          "order" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          }
        },
        "additionalProperties" : { }
      },
      "inputParamPayloadJsonArray" : {
        "items" : {
          "required" : [ "apiName", "hooks", "id", "isEncrypted", "isMandatory", "length", "name", "order", "origin", "picklistValues", "placeHolderContext", "type", "uiType", "value" ],
          "properties" : {
            "picklistValues" : {
              "uniqueItems" : false,
              "items" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              }
            },
            "apiName" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "placeHolderContext" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "origin" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "STATIC", "DYNAMIC" ]
            },
            "length" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "type" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
            },
            "isEncrypted" : { },
            "name" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "uiType" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula", "Hidden", "MultiLookup", "PrimaryIdentifier", "Expression", "Collection", "RichPlainText", "FileUpload", "LargeText", "Long", "Watchfields", "null" ]
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "hooks" : {
              "uniqueItems" : false,
              "items" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              }
            },
            "value" : {
              "minLength" : 0
            },
            "isMandatory" : { },
            "order" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            }
          },
          "additionalProperties" : false
        }
      },
      "actionParamMappingInListAllActionMappings" : {
        "required" : [ "apiName", "value" ],
        "properties" : {
          "apiName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "value" : {
            "minLength" : 0
          }
        },
        "additionalProperties" : { }
      },
      "actionParamMappingsArrayInListAllActionMappings" : {
        "items" : {
          "required" : [ "apiName", "value" ],
          "properties" : {
            "apiName" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "value" : {
              "minLength" : 0
            }
          },
          "additionalProperties" : false
        }
      },
      "ListAllActionMappingsResponse" : {
        "required" : [ "actionAPIName", "actionId", "actionParamMappings", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime" ],
        "properties" : {
          "modifiedTime" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "createdBy" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "actionAPIName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "actionId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "ActionId for which actionMappings to be listed",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "createdTime" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "modifiedBy" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "actionParamMappings" : {
            "items" : {
              "required" : [ "apiName", "value" ],
              "properties" : {
                "apiName" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "value" : {
                  "minLength" : 0
                }
              },
              "additionalProperties" : false
            }
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "ActionMappingResponse" : {
        "description" : "ActionMappingResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "actionAPIName", "actionId", "actionName", "actionParamMappings", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime", "name" ],
              "properties" : {
                "modifiedTime" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "createdBy" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "actionAPIName" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "name" : {
                  "maxLength" : 30000,
                  "minLength" : 0
                },
                "actionId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "createdTime" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "modifiedBy" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "actionParamMappings" : {
                  "items" : {
                    "required" : [ "apiName", "hooks", "id", "isEncrypted", "isMandatory", "length", "name", "order", "origin", "paramMappingId", "picklistValues", "placeHolderContext", "targetTemplateName", "type", "uiType", "value", "version" ],
                    "properties" : {
                      "picklistValues" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        }
                      },
                      "apiName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "placeHolderContext" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "origin" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "STATIC", "DYNAMIC" ]
                      },
                      "length" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "STRING", "NUMBER", "DECIMAL", "PICKLIST", "URL", "MULTIPICKLIST", "ARRAY", "OBJECT", "LOOKUP", "BOOLEAN", "TEXT" ]
                      },
                      "paramMappingId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "version" : {
                        "maximum" : 9999,
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "isEncrypted" : { },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "uiType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "Text", "Number", "Percent", "Decimal", "Currency", "Date", "DateTime", "Email", "Phone", "Picklist", "URL", "Textarea", "Boolean", "Multiselect", "AutoNumber", "LookUp", "Fax", "Formula", "Hidden", "MultiLookup", "PrimaryIdentifier", "Expression", "Collection", "RichPlainText", "FileUpload", "LargeText", "Long", "Watchfields", "null" ]
                      },
                      "targetTemplateName" : {
                        "maxLength" : 200,
                        "minLength" : 0
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "value" : {
                        "minLength" : 0
                      },
                      "hooks" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        }
                      },
                      "isMandatory" : { },
                      "order" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "actionName" : {
                  "maxLength" : 200,
                  "minLength" : 0
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "modifiedTime" : "1707455082929",
                  "createdBy" : "1000000000459",
                  "actionAPIName" : "createEntity",
                  "actionId" : "1000000210001",
                  "createdTime" : "1707455082929",
                  "modifiedBy" : "1000000000459",
                  "id" : "1000000223019",
                  "actionParamMappings" : [ {
                    "apiName" : "module",
                    "placeHolderContext" : null,
                    "origin" : "STATIC",
                    "length" : "500",
                    "type" : "PICKLIST",
                    "version" : "1",
                    "paramMappingId" : "1000000223020",
                    "targetTemplateKey" : "module",
                    "isEncrypted" : false,
                    "name" : "Module",
                    "uiType" : "Picklist",
                    "id" : "1000000210002",
                    "hooks" : [ {
                      "payload" : { },
                      "id" : "1000000210003",
                      "paramId" : "1000000210002",
                      "event" : "ON_ENTRY",
                      "valueUrl" : "http://localhost/api/v1/modules"
                    } ],
                    "value" : "tickets",
                    "isMandatory" : true,
                    "order" : "1"
                  }, {
                    "apiName" : "layout",
                    "placeHolderContext" : null,
                    "origin" : "STATIC",
                    "length" : "100",
                    "type" : "PICKLIST",
                    "version" : "1",
                    "paramMappingId" : "1000000223021",
                    "targetTemplateKey" : "layout",
                    "isEncrypted" : false,
                    "name" : "Layout",
                    "uiType" : "Picklist",
                    "id" : "1000000210004",
                    "hooks" : [ {
                      "payload" : { },
                      "id" : "1000000210005",
                      "paramId" : "1000000210004",
                      "event" : "ON_ENTRY",
                      "valueUrl" : "http://localhost/api/v1/layouts"
                    }, {
                      "payload" : { },
                      "id" : "1000000210006",
                      "paramId" : "1000000210004",
                      "event" : "AFTER_SELECTION",
                      "valueUrl" : "http://localhost/api/v1/layouts/987"
                    } ],
                    "value" : "987",
                    "isMandatory" : true,
                    "order" : "2"
                  }, {
                    "apiName" : "dynamicParam2",
                    "placeHolderContext" : null,
                    "origin" : "DYNAMIC",
                    "length" : "100",
                    "type" : "PICKLIST",
                    "version" : "1",
                    "paramMappingId" : "1000000223022",
                    "targetTemplateKey" : null,
                    "isEncrypted" : false,
                    "name" : "dynamicParam",
                    "uiType" : "Picklist",
                    "id" : "1000000223017",
                    "hooks" : [ ],
                    "value" : "987",
                    "isMandatory" : true,
                    "order" : "4"
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "ListAllActionMappingsArrayResponse" : {
        "description" : "ListAllActionMappingsArrayResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "items" : {
                "required" : [ "actionAPIName", "actionId", "actionParamMappings", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime" ],
                "properties" : {
                  "modifiedTime" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "createdBy" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "actionAPIName" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "actionId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64",
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "replacementString" : "",
                      "allowInvalid" : false,
                      "descrption" : "ActionId for which actionMappings to be listed",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  },
                  "createdTime" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "modifiedBy" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "actionParamMappings" : {
                    "items" : {
                      "required" : [ "apiName", "value" ],
                      "properties" : {
                        "apiName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "value" : {
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : false
              }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : [ {
                  "modifiedTime" : "1705905603120",
                  "createdBy" : "1000000000459",
                  "actionAPIName" : "createEntity",
                  "actionId" : "1000000210001",
                  "createdTime" : "1705905603120",
                  "modifiedBy" : "1000000000459",
                  "id" : "1000000212065",
                  "actionParamMappings" : [ {
                    "apiName" : "module",
                    "value" : "tickets"
                  }, {
                    "apiName" : "layout",
                    "value" : "987"
                  } ]
                }, {
                  "modifiedTime" : "1705905732662",
                  "createdBy" : "1000000000459",
                  "actionAPIName" : "createEntity",
                  "actionId" : "1000000210001",
                  "createdTime" : "1705905732662",
                  "modifiedBy" : "1000000000459",
                  "id" : "1000000212071",
                  "actionParamMappings" : [ {
                    "apiName" : "module",
                    "value" : "tickets"
                  }, {
                    "apiName" : "layout",
                    "value" : "987"
                  } ]
                }, {
                  "modifiedTime" : "1705906462060",
                  "createdBy" : "1000000000459",
                  "actionAPIName" : "createEntity",
                  "actionId" : "1000000210001",
                  "createdTime" : "1705906462060",
                  "modifiedBy" : "1000000000459",
                  "id" : "1000000212077",
                  "actionParamMappings" : [ {
                    "apiName" : "module",
                    "value" : "tickets"
                  }, {
                    "apiName" : "layout",
                    "value" : "987"
                  } ]
                }, {
                  "modifiedTime" : "1707395169369",
                  "createdBy" : "1000000000459",
                  "actionAPIName" : "createEntity",
                  "actionId" : "1000000210001",
                  "createdTime" : "1707395169369",
                  "modifiedBy" : "1000000000459",
                  "id" : "1000000223009",
                  "actionParamMappings" : [ {
                    "apiName" : "module",
                    "value" : "tickets"
                  }, {
                    "apiName" : "layout",
                    "value" : "987"
                  }, {
                    "apiName" : "dynamicParam",
                    "value" : "987"
                  } ]
                }, {
                  "modifiedTime" : "1707455082929",
                  "createdBy" : "1000000000459",
                  "actionAPIName" : "createEntity",
                  "actionId" : "1000000210001",
                  "createdTime" : "1707455082929",
                  "modifiedBy" : "1000000000459",
                  "id" : "1000000223019",
                  "actionParamMappings" : [ {
                    "apiName" : "module",
                    "value" : "tickets"
                  }, {
                    "apiName" : "layout",
                    "value" : "987"
                  }, {
                    "apiName" : "dynamicParam2",
                    "value" : "987"
                  } ]
                } ]
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "OAuth Org Mismatch Error Response" : {
                "value" : {
                  "errorCode" : "OAUTH_ORG_MISMATCH",
                  "message" : "The OAuthToken is not valid for specified organization."
                }
              }
            }
          }
        }
      },
      "forbiddenErrorResponse" : {
        "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Forbidden Error Response" : {
                "value" : {
                  "errorCode" : "FORBIDDEN",
                  "message" : "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "urlNotFoundErrorResponse" : {
        "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Url Not Found Error Response" : {
                "value" : {
                  "errorCode" : "URL_NOT_FOUND",
[...]
