{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Help_Center_OIDC_Authentication",
    "version" : "1.0.0",
    "x-clan-group" : "helpCenter",
    "x-module-group" : "helpCenter"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/helpCenter/{id}/oidcAuthentication/{oidcId}" : {
      "get" : {
        "tags" : [ "Help_Center_OIDC_Authentication" ],
        "summary" : "Get OIDC Authentication",
        "description" : "This API fetches the OIDC authentication configuration for a given Help Center",
        "operationId" : "getOIDCAuthentication",
        "parameters" : [ {
          "name" : "oidcId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "hcOIDCGetResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "accessTokenURL", "authorizationURL", "clientId", "clientSecret", "oidcCustomAttributes", "providerName", "scopes", "userInfoURL" ],
                      "properties" : {
                        "userInfoURL" : {
                          "maxLength" : 50,
                          "minLength" : 1,
                          "pattern" : "https://oauth2.googleapis.com/token",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "replacementString" : "",
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "allowInvalid" : false,
                            "descrption" : "OIDC Provider Name",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "clientId" : {
                          "maxLength" : 100,
                          "minLength" : 1,
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "replacementString" : "",
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "allowInvalid" : false,
                            "descrption" : "OIDC Client Id",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "authorizationURL" : {
                          "maxLength" : 100,
                          "minLength" : 1,
                          "pattern" : "https://accounts.google.com/o/oauth2/v2/auth",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "replacementString" : "",
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "allowInvalid" : false,
                            "descrption" : "OIDC Authorization Url",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "accessTokenURL" : {
                          "maxLength" : 50,
                          "minLength" : 1,
                          "pattern" : "https://oauth2.googleapis.com/token",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "replacementString" : "",
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "allowInvalid" : false,
                            "descrption" : "OIDC Access Token Url",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "oidcCustomAttributes" : {
                          "maxItems" : 1,
                          "minItems" : 0,
                          "uniqueItems" : false,
                          "items" : {
                            "maxProperties" : 2,
                            "minProperties" : 2,
                            "required" : [ "attributeName", "fieldName" ],
                            "properties" : {
                              "fieldName" : {
                                "maxLength" : 50,
                                "minLength" : 1,
                                "pattern" : "first_name|last_name|username|gender|profile|address",
                                "x-custom-parameters-attributes" : [ ]
                              },
                              "attributeName" : {
                                "maxLength" : 50,
                                "minLength" : 1,
                                "x-custom-parameters-attributes" : [ ]
                              }
                            },
                            "additionalProperties" : false,
                            "x-custom-parameters-attributes" : [ ]
                          }
                        },
                        "clientSecret" : {
                          "maxLength" : 100,
                          "minLength" : 1,
                          "pattern" : "[0-9a-zA-Z_\\-\\.\\~\\$@\\?\\,\\:\\'\\/\\!\\=\\P{InBasicLatin}\\s]+",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "replacementString" : "",
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "allowInvalid" : false,
                            "descrption" : "OIDC Client Secret",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "scopes" : {
                          "maxItems" : 20,
                          "minItems" : 1,
                          "uniqueItems" : false,
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "x-custom-parameters-attributes" : [ ]
                          }
                        },
                        "providerName" : {
                          "maxLength" : 100,
                          "minLength" : 1,
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "replacementString" : "",
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "allowInvalid" : false,
                            "descrption" : "OIDC Provider Name",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        }
                      },
                      "additionalProperties" : { }
                    }, {
                      "required" : [ "oidcId" ],
                      "properties" : {
                        "oidcId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      }
                    } ]
                  }, {
                    "required" : [ "redirectUrl" ],
                    "properties" : {
                      "redirectUrl" : {
                        "maxLength" : 1000,
                        "minLength" : 0
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "userInfoURL" : "https://oauth2.googleapis.com/token",
                      "clientId" : "51043487231-p63gk10o0e8koq3u0j6iel7uhs8dw7.apps.googleusercontent.com",
                      "redirectUrl" : "https://desk.local.com/accounts/p/8-1030969993/oidcauthrequest/1030969993/1034248212",
                      "oidcId" : "1000000051149",
                      "authorizationURL" : "https://accounts.google.com/o/oauth2/v2/auth",
                      "accessTokenURL" : "https://oauth2.googleapis.com/token",
                      "oidcCustomAttributes" : [ {
                        "fieldName" : "email",
                        "attributeName" : "email"
                      }, {
                        "fieldName" : "name",
                        "attributeName" : "name"
                      } ],
                      "clientSecret" : "hb4jh34j-0SHLeSaaPF7VvprKz_hbj4hb34j",
                      "scopes" : [ "openid", "profile" ],
                      "providerName" : "Microsoft5"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Lenient_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "9c0794b5cb6437e58c4dcd1ebefbde7d",
          "module-group" : "helpCenter",
          "apimethod" : "com.zoho.desk.helpcenter.authentication.oidc.rest.OIDCAuthenticationRestService.getOIDCAuthentication"
        }
      },
      "put" : {
        "tags" : [ "Help_Center_OIDC_Authentication" ],
        "summary" : "Update OIDC Authentication",
        "description" : "This API updates the OIDC authentication configuration for a given Help Center",
        "operationId" : "updateOIDCAuthentication",
        "parameters" : [ {
          "name" : "oidcId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "accessTokenURL", "authorizationURL", "clientId", "clientSecret", "providerName", "scopes", "userInfoURL" ],
                "properties" : {
                  "userInfoURL" : {
                    "maxLength" : 50,
                    "minLength" : 1,
                    "pattern" : "https://oauth2.googleapis.com/token",
                    "description" : "Specifies the URL used to retrieve user information from the OIDC provider Note: The response from this URL must include the following mandatory claims: emailId, firstName, lastName, displayName, and emailVerified."
                  },
                  "clientId" : {
                    "maxLength" : 100,
                    "minLength" : 1,
                    "description" : "Specifies the OIDC client Id issued by the identity provider."
                  },
                  "authorizationURL" : {
                    "maxLength" : 100,
                    "minLength" : 1,
                    "pattern" : "https://accounts.google.com/o/oauth2/v2/auth",
                    "description" : "Specifies the URL used to initiate the OIDC authorization request."
                  },
                  "accessTokenURL" : {
                    "maxLength" : 50,
                    "minLength" : 1,
                    "pattern" : "https://oauth2.googleapis.com/token",
                    "description" : "Specifies the URL used to obtain the OIDC access token."
                  },
                  "oidcCustomAttributes" : {
                    "maxItems" : 1,
                    "minItems" : 0,
                    "uniqueItems" : false,
                    "items" : {
                      "maxProperties" : 2,
                      "minProperties" : 2,
                      "required" : [ "attributeName", "fieldName" ],
                      "properties" : {
                        "fieldName" : {
                          "maxLength" : 50,
                          "minLength" : 1,
                          "pattern" : "first_name|last_name|username|gender|profile|address",
                          "x-custom-parameters-attributes" : [ ]
                        },
                        "attributeName" : {
                          "maxLength" : 50,
                          "minLength" : 1,
                          "x-custom-parameters-attributes" : [ ]
                        }
                      },
                      "additionalProperties" : { },
                      "x-custom-parameters-attributes" : [ ]
                    }
                  },
                  "clientSecret" : {
                    "maxLength" : 100,
                    "minLength" : 1,
                    "pattern" : "[0-9a-zA-Z_\\-\\.\\~\\$@\\?\\,\\:\\'\\/\\!\\=\\P{InBasicLatin}\\s]+",
                    "description" : "Specifies the client secret associated with the OIDC client ID."
                  },
                  "scopes" : {
                    "maxItems" : 20,
                    "minItems" : 1,
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : [ ]
                    }
                  },
                  "providerName" : {
                    "maxLength" : 100,
                    "minLength" : 1,
                    "description" : "Specifies the user-defined name for the OIDC identity provider."
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "userInfoURL" : "https://oauth2.googleapis.com/token",
                    "clientId" : "51043487231-p63gk10o0e8koq3u0j6iel7uhs8dw7.apps.googleusercontent.com",
                    "authorizationURL" : "https://accounts.google.com/o/oauth2/v2/auth",
                    "accessTokenURL" : "https://oauth2.googleapis.com/token",
                    "oidcCustomAttributes" : [ {
                      "fieldName" : "email",
                      "attributeName" : "email"
                    }, {
                      "fieldName" : "name",
                      "attributeName" : "name"
                    } ],
                    "clientSecret" : "hb4jh34j-0SHLeSaaPF7VvprKz_hbj4hb34j",
                    "scopes" : [ "openid", "profile" ],
                    "providerName" : "Microsoft5"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "hcOIDCResponseJSON template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "accessTokenURL", "authorizationURL", "clientId", "clientSecret", "oidcCustomAttributes", "providerName", "scopes", "userInfoURL" ],
                    "properties" : {
                      "userInfoURL" : {
                        "maxLength" : 50,
                        "minLength" : 1,
                        "pattern" : "https://oauth2.googleapis.com/token",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "OIDC Provider Name",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "clientId" : {
                        "maxLength" : 100,
                        "minLength" : 1,
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "OIDC Client Id",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "authorizationURL" : {
                        "maxLength" : 100,
                        "minLength" : 1,
                        "pattern" : "https://accounts.google.com/o/oauth2/v2/auth",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "OIDC Authorization Url",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "accessTokenURL" : {
                        "maxLength" : 50,
                        "minLength" : 1,
                        "pattern" : "https://oauth2.googleapis.com/token",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "OIDC Access Token Url",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "oidcCustomAttributes" : {
                        "maxItems" : 1,
                        "minItems" : 0,
                        "uniqueItems" : false,
                        "items" : {
                          "maxProperties" : 2,
                          "minProperties" : 2,
                          "required" : [ "attributeName", "fieldName" ],
                          "properties" : {
                            "fieldName" : {
                              "maxLength" : 50,
                              "minLength" : 1,
                              "pattern" : "first_name|last_name|username|gender|profile|address",
                              "x-custom-parameters-attributes" : [ ]
                            },
                            "attributeName" : {
                              "maxLength" : 50,
                              "minLength" : 1,
                              "x-custom-parameters-attributes" : [ ]
                            }
                          },
                          "additionalProperties" : false,
                          "x-custom-parameters-attributes" : [ ]
                        }
                      },
                      "clientSecret" : {
                        "maxLength" : 100,
                        "minLength" : 1,
                        "pattern" : "[0-9a-zA-Z_\\-\\.\\~\\$@\\?\\,\\:\\'\\/\\!\\=\\P{InBasicLatin}\\s]+",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "OIDC Client Secret",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "scopes" : {
                        "maxItems" : 20,
                        "minItems" : 1,
                        "uniqueItems" : false,
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "x-custom-parameters-attributes" : [ ]
                        }
                      },
                      "providerName" : {
                        "maxLength" : 100,
                        "minLength" : 1,
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "OIDC Provider Name",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "oidcId" ],
                    "properties" : {
                      "oidcId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "userInfoURL" : "https://oauth2.googleapis.com/token",
                      "clientId" : "51043487231-p63gk10o0e8koq3u0j6iel7uhs8dw7.apps.googleusercontent.com",
                      "oidcId" : "1000000051149",
                      "authorizationURL" : "https://accounts.google.com/o/oauth2/v2/auth",
                      "accessTokenURL" : "https://oauth2.googleapis.com/token",
                      "oidcCustomAttributes" : [ {
                        "fieldName" : "email",
                        "attributeName" : "email"
                      }, {
                        "fieldName" : "name",
                        "attributeName" : "name"
                      } ],
                      "clientSecret" : "hb4jh34j-0SHLeSaaPF7VvprKz_hbj4hb34j",
                      "scopes" : [ "openid", "profile" ],
                      "providerName" : "Microsoft5"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "db79b22956371145d2bffd70a898ec71",
          "module-group" : "helpCenter",
          "apimethod" : "com.zoho.desk.helpcenter.authentication.oidc.rest.OIDCAuthenticationRestService.updateOIDCAuthentication"
        }
      },
      "delete" : {
        "tags" : [ "Help_Center_OIDC_Authentication" ],
        "summary" : "Delete OIDC Authentication",
        "description" : "This API deletes the OIDC authentication configuration for a given Help Center",
        "operationId" : "deleteOIDCAuthentication",
        "parameters" : [ {
          "name" : "oidcId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.DELETE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "ff0a8854945bc5633409643080dee270",
          "module-group" : "helpCenter",
          "apimethod" : "com.zoho.desk.helpcenter.authentication.oidc.rest.OIDCAuthenticationRestService.deleteOIDCAuthentication"
        }
      }
    },
    "/api/v1/helpCenter/{id}/oidcAuthentication" : {
      "post" : {
        "tags" : [ "Help_Center_OIDC_Authentication" ],
        "summary" : "Add OIDC Authentication",
        "description" : "This API adds a new OIDC authentication configuration for a given Help Center",
        "operationId" : "addOIDCAuthentication",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "accessTokenURL", "authorizationURL", "clientId", "clientSecret", "providerName", "scopes", "userInfoURL" ],
                "properties" : {
                  "userInfoURL" : {
                    "maxLength" : 50,
                    "minLength" : 1,
                    "pattern" : "https://oauth2.googleapis.com/token",
                    "description" : "Specifies the URL used to retrieve user information from the OIDC provider Note: The response from this URL must include the following mandatory claims: emailId, firstName, lastName, displayName, and emailVerified."
                  },
                  "clientId" : {
                    "maxLength" : 100,
                    "minLength" : 1,
                    "description" : "Specifies the OIDC client Id issued by the identity provider."
                  },
                  "authorizationURL" : {
                    "maxLength" : 100,
                    "minLength" : 1,
                    "pattern" : "https://accounts.google.com/o/oauth2/v2/auth",
                    "description" : "Specifies the URL used to initiate the OIDC authorization request."
                  },
                  "accessTokenURL" : {
                    "maxLength" : 50,
                    "minLength" : 1,
                    "pattern" : "https://oauth2.googleapis.com/token",
                    "description" : "Specifies the URL used to obtain the OIDC access token."
                  },
                  "oidcCustomAttributes" : {
                    "maxItems" : 1,
                    "minItems" : 0,
                    "uniqueItems" : false,
                    "items" : {
                      "maxProperties" : 2,
                      "minProperties" : 2,
                      "required" : [ "attributeName", "fieldName" ],
                      "properties" : {
                        "fieldName" : {
                          "maxLength" : 50,
                          "minLength" : 1,
                          "pattern" : "first_name|last_name|username|gender|profile|address",
                          "x-custom-parameters-attributes" : [ ]
                        },
                        "attributeName" : {
                          "maxLength" : 50,
                          "minLength" : 1,
                          "x-custom-parameters-attributes" : [ ]
                        }
                      },
                      "additionalProperties" : { },
                      "x-custom-parameters-attributes" : [ ]
                    }
                  },
                  "clientSecret" : {
                    "maxLength" : 100,
                    "minLength" : 1,
                    "pattern" : "[0-9a-zA-Z_\\-\\.\\~\\$@\\?\\,\\:\\'\\/\\!\\=\\P{InBasicLatin}\\s]+",
                    "description" : "Specifies the client secret associated with the OIDC client ID."
                  },
                  "scopes" : {
                    "maxItems" : 20,
                    "minItems" : 1,
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : [ ]
                    }
                  },
                  "providerName" : {
                    "maxLength" : 100,
                    "minLength" : 1,
                    "description" : "Specifies the user-defined name for the OIDC identity provider."
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "userInfoURL" : "https://oauth2.googleapis.com/token",
                    "clientId" : "51043487231-p63gk10o0e8koq3u0j6iel7uhs8dw7.apps.googleusercontent.com",
                    "authorizationURL" : "https://accounts.google.com/o/oauth2/v2/auth",
                    "accessTokenURL" : "https://oauth2.googleapis.com/token",
                    "oidcCustomAttributes" : [ {
                      "fieldName" : "email",
                      "attributeName" : "email"
                    }, {
                      "fieldName" : "name",
                      "attributeName" : "name"
                    } ],
                    "clientSecret" : "hb4jh34j-0SHLeSaaPF7VvprKz_hbj4hb34j",
                    "scopes" : [ "openid", "profile" ],
                    "providerName" : "Microsoft5"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "hcOIDCResponseJSON template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "accessTokenURL", "authorizationURL", "clientId", "clientSecret", "oidcCustomAttributes", "providerName", "scopes", "userInfoURL" ],
                    "properties" : {
                      "userInfoURL" : {
                        "maxLength" : 50,
                        "minLength" : 1,
                        "pattern" : "https://oauth2.googleapis.com/token",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "OIDC Provider Name",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "clientId" : {
                        "maxLength" : 100,
                        "minLength" : 1,
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "OIDC Client Id",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "authorizationURL" : {
                        "maxLength" : 100,
                        "minLength" : 1,
                        "pattern" : "https://accounts.google.com/o/oauth2/v2/auth",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "OIDC Authorization Url",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "accessTokenURL" : {
                        "maxLength" : 50,
                        "minLength" : 1,
                        "pattern" : "https://oauth2.googleapis.com/token",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "OIDC Access Token Url",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "oidcCustomAttributes" : {
                        "maxItems" : 1,
                        "minItems" : 0,
                        "uniqueItems" : false,
                        "items" : {
                          "maxProperties" : 2,
                          "minProperties" : 2,
                          "required" : [ "attributeName", "fieldName" ],
                          "properties" : {
                            "fieldName" : {
                              "maxLength" : 50,
                              "minLength" : 1,
                              "pattern" : "first_name|last_name|username|gender|profile|address",
                              "x-custom-parameters-attributes" : [ ]
                            },
                            "attributeName" : {
                              "maxLength" : 50,
                              "minLength" : 1,
                              "x-custom-parameters-attributes" : [ ]
                            }
                          },
                          "additionalProperties" : false,
                          "x-custom-parameters-attributes" : [ ]
                        }
                      },
                      "clientSecret" : {
                        "maxLength" : 100,
                        "minLength" : 1,
                        "pattern" : "[0-9a-zA-Z_\\-\\.\\~\\$@\\?\\,\\:\\'\\/\\!\\=\\P{InBasicLatin}\\s]+",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "OIDC Client Secret",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "scopes" : {
                        "maxItems" : 20,
                        "minItems" : 1,
                        "uniqueItems" : false,
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "x-custom-parameters-attributes" : [ ]
                        }
                      },
                      "providerName" : {
                        "maxLength" : 100,
                        "minLength" : 1,
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "OIDC Provider Name",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "oidcId" ],
                    "properties" : {
                      "oidcId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "userInfoURL" : "https://oauth2.googleapis.com/token",
                      "clientId" : "51043487231-p63gk10o0e8koq3u0j6iel7uhs8dw7.apps.googleusercontent.com",
                      "oidcId" : "1000000051149",
                      "authorizationURL" : "https://accounts.google.com/o/oauth2/v2/auth",
                      "accessTokenURL" : "https://oauth2.googleapis.com/token",
                      "oidcCustomAttributes" : [ {
                        "fieldName" : "email",
                        "attributeName" : "email"
                      }, {
                        "fieldName" : "name",
                        "attributeName" : "name"
                      } ],
                      "clientSecret" : "hb4jh34j-0SHLeSaaPF7VvprKz_hbj4hb34j",
                      "scopes" : [ "openid", "profile" ],
                      "providerName" : "Microsoft5"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "2fe3b28f5340877151bb711cc7671c91",
          "module-group" : "helpCenter",
          "apimethod" : "com.zoho.desk.helpcenter.authentication.oidc.rest.OIDCAuthenticationRestService.addOIDCAuthentication"
        }
      }
    },
    "/api/v1/helpCenter/{id}/oidcAuthentication/metaData" : {
      "get" : {
        "tags" : [ "Help_Center_OIDC_Authentication" ],
        "summary" : "Get OIDC Meta Data",
        "description" : "This API fetches the OIDC authentication metadata for the specified Help Center.",
        "operationId" : "getAllOIDCMetaData",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "hcOIDCMetaDataJSON template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxProperties" : 3,
                        "minProperties" : 3,
                        "required" : [ "oidcId", "providerName", "redirectUrl" ],
                        "properties" : {
                          "redirectUrl" : {
                            "maxLength" : 1000,
                            "minLength" : 1
                          },
                          "oidcId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "providerName" : {
                            "maxLength" : 100,
                            "minLength" : 1
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "redirectUrl" : "https://desk.local.com/accounts/p/8-1030969993/oidcauthrequest/1030969993/1034248212",
                        "oidcId" : "1034248212",
                        "providerName" : "Google"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Lenient_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "4ef13f153f885193e461f35f606c0510",
          "module-group" : "helpCenter",
          "apimethod" : "com.zoho.desk.helpcenter.authentication.oidc.rest.OIDCAuthenticationRestService.getAllOIDCMetaData"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "hcOIDCJson" : {
        "required" : [ "accessTokenURL", "authorizationURL", "clientId", "clientSecret", "oidcCustomAttributes", "providerName", "scopes", "userInfoURL" ],
        "properties" : {
          "userInfoURL" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "https://oauth2.googleapis.com/token",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "replacementString" : "",
              "filterMatchedContent" : false,
              "antivirus" : false,
              "allowInvalid" : false,
              "descrption" : "OIDC Provider Name",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "clientId" : {
            "maxLength" : 100,
            "minLength" : 1,
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "replacementString" : "",
              "filterMatchedContent" : false,
              "antivirus" : false,
              "allowInvalid" : false,
              "descrption" : "OIDC Client Id",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "authorizationURL" : {
            "maxLength" : 100,
            "minLength" : 1,
            "pattern" : "https://accounts.google.com/o/oauth2/v2/auth",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "replacementString" : "",
              "filterMatchedContent" : false,
              "antivirus" : false,
              "allowInvalid" : false,
              "descrption" : "OIDC Authorization Url",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "accessTokenURL" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "https://oauth2.googleapis.com/token",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "replacementString" : "",
              "filterMatchedContent" : false,
              "antivirus" : false,
              "allowInvalid" : false,
              "descrption" : "OIDC Access Token Url",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "oidcCustomAttributes" : {
            "maxItems" : 1,
            "minItems" : 0,
            "uniqueItems" : false,
            "items" : {
              "maxProperties" : 2,
              "minProperties" : 2,
              "required" : [ "attributeName", "fieldName" ],
              "properties" : {
                "fieldName" : {
                  "maxLength" : 50,
                  "minLength" : 1,
                  "pattern" : "first_name|last_name|username|gender|profile|address",
                  "x-custom-parameters-attributes" : [ ]
                },
                "attributeName" : {
                  "maxLength" : 50,
                  "minLength" : 1,
                  "x-custom-parameters-attributes" : [ ]
                }
              },
              "additionalProperties" : { },
              "x-custom-parameters-attributes" : [ ]
            }
          },
          "clientSecret" : {
            "maxLength" : 100,
            "minLength" : 1,
            "pattern" : "[0-9a-zA-Z_\\-\\.\\~\\$@\\?\\,\\:\\'\\/\\!\\=\\P{InBasicLatin}\\s]+",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "replacementString" : "",
              "filterMatchedContent" : false,
              "antivirus" : false,
              "allowInvalid" : false,
              "descrption" : "OIDC Client Secret",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "scopes" : {
            "maxItems" : 20,
            "minItems" : 1,
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "x-custom-parameters-attributes" : [ ]
            }
          },
          "providerName" : {
            "maxLength" : 100,
            "minLength" : 1,
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "replacementString" : "",
              "filterMatchedContent" : false,
              "antivirus" : false,
              "allowInvalid" : false,
              "descrption" : "OIDC Provider Name",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          }
        },
        "additionalProperties" : { }
      },
      "hcOIDCResponseJSON" : {
        "additionalProperties" : { },
        "allOf" : [ {
          "required" : [ "accessTokenURL", "authorizationURL", "clientId", "clientSecret", "oidcCustomAttributes", "providerName", "scopes", "userInfoURL" ],
          "properties" : {
            "userInfoURL" : {
              "maxLength" : 50,
              "minLength" : 1,
              "pattern" : "https://oauth2.googleapis.com/token",
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "replacementString" : "",
                "filterMatchedContent" : false,
                "antivirus" : false,
                "allowInvalid" : false,
                "descrption" : "OIDC Provider Name",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            },
            "clientId" : {
              "maxLength" : 100,
              "minLength" : 1,
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "replacementString" : "",
                "filterMatchedContent" : false,
                "antivirus" : false,
                "allowInvalid" : false,
                "descrption" : "OIDC Client Id",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            },
            "authorizationURL" : {
              "maxLength" : 100,
              "minLength" : 1,
              "pattern" : "https://accounts.google.com/o/oauth2/v2/auth",
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "replacementString" : "",
                "filterMatchedContent" : false,
                "antivirus" : false,
                "allowInvalid" : false,
                "descrption" : "OIDC Authorization Url",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            },
            "accessTokenURL" : {
              "maxLength" : 50,
              "minLength" : 1,
              "pattern" : "https://oauth2.googleapis.com/token",
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "replacementString" : "",
                "filterMatchedContent" : false,
                "antivirus" : false,
                "allowInvalid" : false,
                "descrption" : "OIDC Access Token Url",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            },
            "oidcCustomAttributes" : {
              "maxItems" : 1,
              "minItems" : 0,
              "uniqueItems" : false,
              "items" : {
                "maxProperties" : 2,
                "minProperties" : 2,
                "required" : [ "attributeName", "fieldName" ],
                "properties" : {
                  "fieldName" : {
                    "maxLength" : 50,
                    "minLength" : 1,
                    "pattern" : "first_name|last_name|username|gender|profile|address",
                    "x-custom-parameters-attributes" : [ ]
                  },
                  "attributeName" : {
                    "maxLength" : 50,
                    "minLength" : 1,
                    "x-custom-parameters-attributes" : [ ]
                  }
                },
                "additionalProperties" : false,
                "x-custom-parameters-attributes" : [ ]
              }
            },
            "clientSecret" : {
              "maxLength" : 100,
              "minLength" : 1,
              "pattern" : "[0-9a-zA-Z_\\-\\.\\~\\$@\\?\\,\\:\\'\\/\\!\\=\\P{InBasicLatin}\\s]+",
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "replacementString" : "",
                "filterMatchedContent" : false,
                "antivirus" : false,
                "allowInvalid" : false,
                "descrption" : "OIDC Client Secret",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            },
            "scopes" : {
              "maxItems" : 20,
              "minItems" : 1,
              "uniqueItems" : false,
              "items" : {
                "maxLength" : 100,
                "minLength" : 0,
                "x-custom-parameters-attributes" : [ ]
              }
            },
            "providerName" : {
              "maxLength" : 100,
              "minLength" : 1,
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "replacementString" : "",
                "filterMatchedContent" : false,
                "antivirus" : false,
                "allowInvalid" : false,
                "descrption" : "OIDC Provider Name",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            }
          },
          "additionalProperties" : false
        }, {
          "required" : [ "oidcId" ],
          "properties" : {
            "oidcId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          }
        } ]
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "hcOIDCResponseJSON" : {
        "description" : "hcOIDCResponseJSON template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "accessTokenURL", "authorizationURL", "clientId", "clientSecret", "oidcCustomAttributes", "providerName", "scopes", "userInfoURL" ],
                "properties" : {
                  "userInfoURL" : {
                    "maxLength" : 50,
                    "minLength" : 1,
                    "pattern" : "https://oauth2.googleapis.com/token",
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "replacementString" : "",
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "allowInvalid" : false,
                      "descrption" : "OIDC Provider Name",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  },
                  "clientId" : {
                    "maxLength" : 100,
                    "minLength" : 1,
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "replacementString" : "",
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "allowInvalid" : false,
                      "descrption" : "OIDC Client Id",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  },
                  "authorizationURL" : {
                    "maxLength" : 100,
                    "minLength" : 1,
                    "pattern" : "https://accounts.google.com/o/oauth2/v2/auth",
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "replacementString" : "",
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "allowInvalid" : false,
                      "descrption" : "OIDC Authorization Url",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  },
                  "accessTokenURL" : {
                    "maxLength" : 50,
                    "minLength" : 1,
                    "pattern" : "https://oauth2.googleapis.com/token",
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "replacementString" : "",
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "allowInvalid" : false,
                      "descrption" : "OIDC Access Token Url",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  },
                  "oidcCustomAttributes" : {
                    "maxItems" : 1,
                    "minItems" : 0,
                    "uniqueItems" : false,
                    "items" : {
                      "maxProperties" : 2,
                      "minProperties" : 2,
                      "required" : [ "attributeName", "fieldName" ],
                      "properties" : {
                        "fieldName" : {
                          "maxLength" : 50,
                          "minLength" : 1,
                          "pattern" : "first_name|last_name|username|gender|profile|address",
                          "x-custom-parameters-attributes" : [ ]
                        },
                        "attributeName" : {
                          "maxLength" : 50,
                          "minLength" : 1,
                          "x-custom-parameters-attributes" : [ ]
                        }
                      },
                      "additionalProperties" : false,
                      "x-custom-parameters-attributes" : [ ]
                    }
                  },
                  "clientSecret" : {
                    "maxLength" : 100,
                    "minLength" : 1,
                    "pattern" : "[0-9a-zA-Z_\\-\\.\\~\\$@\\?\\,\\:\\'\\/\\!\\=\\P{InBasicLatin}\\s]+",
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "replacementString" : "",
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "allowInvalid" : false,
                      "descrption" : "OIDC Client Secret",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  },
                  "scopes" : {
                    "maxItems" : 20,
                    "minItems" : 1,
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : [ ]
                    }
                  },
                  "providerName" : {
                    "maxLength" : 100,
                    "minLength" : 1,
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "replacementString" : "",
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "allowInvalid" : false,
                      "descrption" : "OIDC Provider Name",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  }
                },
                "additionalProperties" : false
              }, {
                "required" : [ "oidcId" ],
                "properties" : {
                  "oidcId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                }
              } ]
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "userInfoURL" : "https://oauth2.googleapis.com/token",
                  "clientId" : "51043487231-p63gk10o0e8koq3u0j6iel7uhs8dw7.apps.googleusercontent.com",
                  "oidcId" : "1000000051149",
                  "authorizationURL" : "https://accounts.google.com/o/oauth2/v2/auth",
                  "accessTokenURL" : "https://oauth2.googleapis.com/token",
                  "oidcCustomAttributes" : [ {
                    "fieldName" : "email",
                    "attributeName" : "email"
                  }, {
                    "fieldName" : "name",
                    "attributeName" : "name"
                  } ],
                  "clientSecret" : "hb4jh34j-0SHLeSaaPF7VvprKz_hbj4hb34j",
                  "scopes" : [ "openid", "profile" ],
                  "providerName" : "Microsoft5"
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "hcOIDCMetaDataJSON" : {
        "description" : "hcOIDCMetaDataJSON template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "data" ],
              "properties" : {
                "data" : {
                  "uniqueItems" : false,
                  "items" : {
                    "maxProperties" : 3,
                    "minProperties" : 3,
                    "required" : [ "oidcId", "providerName", "redirectUrl" ],
                    "properties" : {
                      "redirectUrl" : {
                        "maxLength" : 1000,
                        "minLength" : 1
                      },
                      "oidcId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "providerName" : {
                        "maxLength" : 100,
                        "minLength" : 1
                      }
                    },
                    "additionalProperties" : { }
                  }
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : [ {
                    "redirectUrl" : "https://desk.local.com/accounts/p/8-1030969993/oidcauthrequest/1030969993/1034248212",
                    "oidcId" : "1034248212",
                    "providerName" : "Google"
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "hcOIDCGetResponse" : {
        "description" : "hcOIDCGetResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "additionalProperties" : false,
                "allOf" : [ {
                  "required" : [ "accessTokenURL", "authorizationURL", "clientId", "clientSecret", "oidcCustomAttributes", "providerName", "scopes", "userInfoURL" ],
                  "properties" : {
                    "userInfoURL" : {
                      "maxLength" : 50,
                      "minLength" : 1,
                      "pattern" : "https://oauth2.googleapis.com/token",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "replacementString" : "",
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "allowInvalid" : false,
                        "descrption" : "OIDC Provider Name",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "clientId" : {
                      "maxLength" : 100,
                      "minLength" : 1,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "replacementString" : "",
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "allowInvalid" : false,
                        "descrption" : "OIDC Client Id",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "authorizationURL" : {
                      "maxLength" : 100,
                      "minLength" : 1,
[...]
