{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "HelpcenterGroups",
    "version" : "1.0.0",
    "x-clan-group" : "helpCenter",
    "x-module-group" : "solutions"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/groups/{groupId}/users" : {
      "get" : {
        "tags" : [ "HelpcenterGroups" ],
        "summary" : "List users in a group",
        "description" : "This API lists a particular number of users in a group, based on the limit defined.",
        "operationId" : "getHelpCenterGroupUsers",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "userListViewJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "additionalProperties" : { },
                        "allOf" : [ {
                          "required" : [ "id", "name", "photoUrl" ],
                          "properties" : {
                            "photoUrl" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "addedTime", "creator", "emailAddress", "label", "status", "userType" ],
                          "properties" : {
                            "emailAddress" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            },
                            "creator" : {
                              "maxProperties" : 3,
                              "minProperties" : 3,
                              "required" : [ "id", "name", "photoUrl" ],
                              "properties" : {
                                "photoUrl" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "addedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "userType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "ENDUSER", "SUPPORTREP" ]
                            },
                            "label" : {
                              "required" : [ "id", "logoUrl", "name", "preferences" ],
                              "properties" : {
                                "preferences" : {
                                  "required" : [ "bgColor", "shape", "textColor" ],
                                  "properties" : {
                                    "bgColor" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                      "description" : "background color of the label"
                                    },
                                    "shape" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "description" : "shape of the label",
                                      "enum" : [ "ROUNDED", "RECTANGLE" ]
                                    },
                                    "textColor" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                      "description" : "text color of the label"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "logoUrl" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "ACTIVE", "DISABLED", "DELETED" ]
                            }
                          }
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "photoUrl" : null,
                        "creator" : {
                          "photoUrl" : "https://desk.zoho.com/portal/api/user/24073000000095005/photo?orgId=143315",
                          "name" : "ZylCare Admin",
                          "id" : "24073000000095005"
                        },
                        "emailAddress" : "carol@zylker.com",
                        "name" : "John ",
                        "addedTime" : 1573225059000,
                        "userType" : "ENDUSER",
                        "label" : {
                          "preferences" : {
                            "shape" : "RECTANGLE",
                            "bgColor" : "#6CD4DF",
                            "textColor" : "#FFFFFF"
                          },
                          "name" : "Prime Customer",
                          "id" : "24073000002132001"
                        },
                        "id" : "24073000001997453",
                        "status" : "ACTIVE"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.READ", "Desk.settings.READ", "Desk.search.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 80,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 500,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 1800000,
                  "threshold" : 1000,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "settings" ]
            }
          },
          "clan-group" : "helpCenter",
          "apihash" : "5c778d9d648702346cd906c9d513d5ed",
          "module-group" : "solutions",
          "apimethod" : "com.zoho.desk.helpcenter.group.restapi.support.GroupService.getUsers"
        }
      }
    },
    "/api/v1/groups/{groupId}" : {
      "get" : {
        "tags" : [ "HelpcenterGroups" ],
        "summary" : "Get details of group",
        "description" : "This API fetches the details of a particular user group.",
        "operationId" : "getHelpCenterGroup",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "addGroupResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "count", "createdTime", "creator", "description", "helpCenterId", "id", "isAssociated", "logoUrl", "modifiedTime", "modifier", "name", "status" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "creator" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "id", "name", "photoUrl" ],
                      "properties" : {
                        "photoUrl" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "modifier" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "id", "name", "photoUrl" ],
                      "properties" : {
                        "photoUrl" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Name of the group",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "count" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "description" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "A brief description of the group",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "helpCenterId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the help center in which the group must be created",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "isAssociated" : { },
                    "logoUrl" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ACTIVE", "DISABLED" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Activation status of the group. Values supported are @ACTIVE@ and @DISABLED@",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : true,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1505797130000,
                      "creator" : {
                        "photoURL" : "https://desk.zoho.com/portal/api/user/6000000015895/photo?orgId=143315",
                        "name" : "SupportAdmin",
                        "id" : "310975130121"
                      },
                      "modifier" : {
                        "photoURL" : "https://desk.zoho.com/portal/api/user/6000000015895/photo?orgId=143315",
                        "name" : "SupportAdmin",
                        "id" : "310975130121"
                      },
                      "name" : "Prime Customer",
                      "count" : "0",
                      "description" : "Prime customer will have special access to Knowledge base module and Community categories",
                      "createdTime" : 1505797130000,
                      "id" : "310975134902",
                      "helpCenterId" : "31097519102",
                      "logoUrl" : "https://desk.zoho.com/portal/api/publicImages/310975130121?portalId=5c9470fcc808cc98932703e28221d6c302e105dc4da8b23fafb6719abeecaa48",
                      "status" : "ACTIVE"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.READ", "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "settings" ]
            }
          },
          "clan-group" : "helpCenter",
          "apihash" : "b3c26f4bc5df209063925c44f8d3a02c",
          "module-group" : "solutions",
          "apimethod" : "com.zoho.desk.helpcenter.group.restapi.support.GroupService.getGroup"
        }
      },
      "delete" : {
        "tags" : [ "HelpcenterGroups" ],
        "summary" : "Delete helpcenter user group",
        "description" : "This API deletes a user group from your help center.",
        "operationId" : "deleteHelpCenterUserGroup",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.DELETE", "Desk.settings.DELETE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "settings" ]
            }
          },
          "clan-group" : "helpCenter",
          "apihash" : "d422f5bd60e0c52494d87951af16b277",
          "module-group" : "solutions",
          "apimethod" : "com.zoho.desk.helpcenter.group.restapi.support.GroupService.deleteGroup"
        }
      },
      "patch" : {
        "tags" : [ "HelpcenterGroups" ],
        "summary" : "Update group",
        "description" : "This API helps update the details of a user group.",
        "operationId" : "updateHelpCenterUserGroup",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                    "description" : "Name of the group"
                  },
                  "description" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "A brief description of the group"
                  },
                  "logoId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the logo to associate with the group",
                    "format" : "int64"
                  },
                  "status" : {
                    "description" : "Activation status of the group. Values supported are @ACTIVE@ and @DISABLED@",
                    "enum" : [ "ACTIVE", "DISABLED" ],
                    "x-audience" : [ "company-internal" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "name" : "MVP Customer",
                    "description" : "Prime customer will have special access to Knowledge base module and Community categories",
                    "logoId" : "310975130133",
                    "status" : "ACTIVE"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "addGroupResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "count", "createdTime", "creator", "description", "helpCenterId", "id", "isAssociated", "logoUrl", "modifiedTime", "modifier", "name", "status" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "creator" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "id", "name", "photoUrl" ],
                      "properties" : {
                        "photoUrl" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "modifier" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "id", "name", "photoUrl" ],
                      "properties" : {
                        "photoUrl" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Name of the group",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "count" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "description" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "A brief description of the group",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "helpCenterId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the help center in which the group must be created",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "isAssociated" : { },
                    "logoUrl" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ACTIVE", "DISABLED" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Activation status of the group. Values supported are @ACTIVE@ and @DISABLED@",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : true,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1505797130000,
                      "creator" : {
                        "photoURL" : "https://desk.zoho.com/portal/api/user/6000000015895/photo?orgId=143315",
                        "name" : "SupportAdmin",
                        "id" : "310975130121"
                      },
                      "modifier" : {
                        "photoURL" : "https://desk.zoho.com/portal/api/user/6000000015895/photo?orgId=143315",
                        "name" : "SupportAdmin",
                        "id" : "310975130121"
                      },
                      "name" : "Prime Customer",
                      "count" : "0",
                      "description" : "Prime customer will have special access to Knowledge base module and Community categories",
                      "createdTime" : 1505797130000,
                      "id" : "310975134902",
                      "helpCenterId" : "31097519102",
                      "logoUrl" : "https://desk.zoho.com/portal/api/publicImages/310975130121?portalId=5c9470fcc808cc98932703e28221d6c302e105dc4da8b23fafb6719abeecaa48",
                      "status" : "ACTIVE"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.UPDATE", "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 250,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "settings" ]
            }
          },
          "clan-group" : "helpCenter",
          "apihash" : "7280e1d688c29be4c4c722c5b42eb7bb",
          "module-group" : "solutions",
          "apimethod" : "com.zoho.desk.helpcenter.group.restapi.support.GroupService.updateGroup"
        }
      }
    },
    "/api/v1/groups/{groupId}/users/remove" : {
      "post" : {
        "tags" : [ "HelpcenterGroups" ],
        "summary" : "Remove users from group",
        "description" : "This API removes particular users from a group. ",
        "operationId" : "deleteHCGroupUsers",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "userIds" ],
                "properties" : {
                  "userIds" : {
                    "minItems" : 1,
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "userIds" : [ "17883000000013101", "17883000000094023" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.UPDATE", "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "settings" ]
            }
          },
          "clan-group" : "helpCenter",
          "apihash" : "5aa4fae05b2aeb944a43a782fa874060",
          "module-group" : "solutions",
          "apimethod" : "com.zoho.desk.helpcenter.group.restapi.support.GroupService.removeUsers"
        }
      }
    },
    "/api/v1/groups" : {
      "get" : {
        "tags" : [ "HelpcenterGroups" ],
        "summary" : "List helpcenter groups",
        "description" : "This API lists a particular number of groups, based on the limit defined.",
        "operationId" : "getHelpCenterGroupList",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of groups to list. The default value and the maximum value allowed is 50.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number of groups to list. The default value and the maximum value allowed is 50.",
            "format" : "int32"
          }
        }, {
          "name" : "searchBy",
          "in" : "query",
          "description" : "Search keyword to use for finding a particular group The keyword must contain at least two characters.        Three types of search are supported: @keyword*@ (search for values that start with the keyword, @*keyword*@ (search for values that contain the keyword),          and @keyword@ (search for values that are exact matches of the keyword).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
            "description" : "Search keyword to use for finding a particular group The keyword must contain at least two characters.        Three types of search are supported: @keyword*@ (search for values that start with the keyword, @*keyword*@ (search for values that contain the keyword),          and @keyword@ (search for values that are exact matches of the keyword)."
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the groups must be fetched. The default value is 1. ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the groups must be fetched. The default value is 1. ",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Key that sorts the list of groups by a particular attribute: -(@createdTime@, @modifiedTime@, @name@, or @count@)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Key that sorts the list of groups by a particular attribute: -(@createdTime@, @modifiedTime@, @name@, or @count@)",
            "enum" : [ "name", "modifiedTime", "createdTime", "count" ]
          }
        }, {
          "name" : "helpCenterId",
          "in" : "query",
          "description" : "ID of the help center from which the resource must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the help center from which the resource must be fetched",
            "format" : "int64"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Activation status of the group. Values supported are @ACTIVE@ and @DISABLED@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Activation status of the group. Values supported are @ACTIVE@ and @DISABLED@",
            "enum" : [ "ACTIVE", "DISABLED" ],
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "listOfGroupResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "count", "createdTime", "creator", "description", "helpCenterId", "id", "isAssociated", "logoUrl", "modifiedTime", "modifier", "name", "status" ],
                        "properties" : {
                          "modifiedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "creator" : {
                            "maxProperties" : 3,
                            "minProperties" : 3,
                            "required" : [ "id", "name", "photoUrl" ],
                            "properties" : {
                              "photoUrl" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "modifier" : {
                            "maxProperties" : 3,
                            "minProperties" : 3,
                            "required" : [ "id", "name", "photoUrl" ],
                            "properties" : {
                              "photoUrl" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                          },
                          "count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "description" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "helpCenterId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "ID of the help center from which the resource must be fetched",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "isAssociated" : { },
                          "logoUrl" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTIVE", "DISABLED" ],
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Activation status of the group. Values supported are @ACTIVE@ and @DISABLED@",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : true,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "modifiedTime" : 1505797130000,
                        "creator" : {
                          "photoURL" : "https://desk.zoho.com/portal/api/user/310975130121/photo?orgId=143315",
                          "name" : "SupportAdmin",
                          "id" : "310975130121"
                        },
                        "modifier" : {
                          "photoURL" : "https://desk.zoho.com/portal/api/user/310975130121/photo?orgId=143315",
                          "name" : "SupportAdmin",
                          "id" : "310975130121"
                        },
                        "name" : "Pro Customer",
                        "count" : "353",
                        "description" : "Pro Customers paid customers of the org will avail 24x7 Support service",
                        "createdTime" : 1505797130000,
                        "id" : "310975130110",
                        "helpCenterId" : "310975130119",
                        "logoUrl" : "https://desk.zoho.com/portal/api/publicImages/310975130133?portalId=5c9470fcc808cc98932703e28221d6c302e105dc4da8b23fafb6719abeecaa48",
                        "status" : "ACTIVE"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.READ", "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "settings" ]
            }
          },
          "clan-group" : "helpCenter",
          "apihash" : "d131078316c66b7a999d8a5bce59a1b3",
          "module-group" : "solutions",
          "apimethod" : "com.zoho.desk.helpcenter.group.restapi.support.GroupService.getGroups"
        }
      },
      "post" : {
        "tags" : [ "HelpcenterGroups" ],
        "summary" : "Create user groups",
        "description" : "This API creates a user group in your help center.",
        "operationId" : "addHelpCenterGroup",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "helpCenterId", "name" ],
                "properties" : {
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                    "description" : "Name of the group"
                  },
                  "description" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "A brief description of the group"
                  },
                  "helpCenterId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the help center in which the group must be created",
                    "format" : "int64"
                  },
                  "logoId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the logo to associate with the group",
                    "format" : "int64"
                  },
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Activation status of the group. Values supported are @ACTIVE@ and @DISABLED@",
                    "enum" : [ "ACTIVE", "DISABLED" ],
                    "x-audience" : [ "company-internal" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "name" : "Prime Customer",
                    "description" : "Prime customer will have special access to Knowledge base module and Community categories",
                    "helpCenterId" : "31097519102",
                    "logoId" : "310975130121"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "addGroupResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "count", "createdTime", "creator", "description", "helpCenterId", "id", "isAssociated", "logoUrl", "modifiedTime", "modifier", "name", "status" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "creator" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "id", "name", "photoUrl" ],
                      "properties" : {
                        "photoUrl" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "modifier" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "id", "name", "photoUrl" ],
                      "properties" : {
                        "photoUrl" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Name of the group",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "count" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "description" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "A brief description of the group",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "helpCenterId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the help center in which the group must be created",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "isAssociated" : { },
                    "logoUrl" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ACTIVE", "DISABLED" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Activation status of the group. Values supported are @ACTIVE@ and @DISABLED@",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : true,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1505797130000,
                      "creator" : {
                        "photoURL" : "https://desk.zoho.com/portal/api/user/6000000015895/photo?orgId=143315",
                        "name" : "SupportAdmin",
                        "id" : "310975130121"
                      },
                      "modifier" : {
                        "photoURL" : "https://desk.zoho.com/portal/api/user/6000000015895/photo?orgId=143315",
                        "name" : "SupportAdmin",
                        "id" : "310975130121"
                      },
                      "name" : "Prime Customer",
                      "count" : "0",
                      "description" : "Prime customer will have special access to Knowledge base module and Community categories",
                      "createdTime" : 1505797130000,
                      "id" : "310975134902",
                      "helpCenterId" : "31097519102",
                      "logoUrl" : "https://desk.zoho.com/portal/api/publicImages/310975130121?portalId=5c9470fcc808cc98932703e28221d6c302e105dc4da8b23fafb6719abeecaa48",
                      "status" : "ACTIVE"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.contacts.CREATE", "Desk.settings.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 300,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "settings" ]
            }
          },
          "clan-group" : "helpCenter",
          "apihash" : "8751395ea1cc4262caed87ee40047355",
          "module-group" : "solutions",
          "apimethod" : "com.zoho.desk.helpcenter.group.restapi.support.GroupService.addGroup"
        }
      }
    },
    "/api/v1/groups/{groupId}/users/add" : {
      "post" : {
        "tags" : [ "HelpcenterGroups" ],
        "summary" : "Add users to group",
        "description" : "This API adds users to a particular group.",
        "operationId" : "addHelpCenterGroupUsers",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "users" ],
                "properties" : {
                  "labelIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "groupIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "users" : {
                    "minItems" : 1,
                    "uniqueItems" : true,
                    "items" : {
                      "maxProperties" : 1,
                      "minProperties" : 1,
                      "required" : [ "id" ],
                      "properties" : {
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : [ ]
                        }
                      },
                      "additionalProperties" : { },
                      "x-custom-parameters-attributes" : [ ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "users" : [ {
                      "id" : "17883000000094001"
                    }, {
                      "id" : "17883000000094023"
                    } ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
[...]
