{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "HolidayList",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "automation"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/holidayList" : {
      "get" : {
        "tags" : [ "HolidayList" ],
        "summary" : "List holiday lists",
        "description" : "This API lists a particular number of holiday lists, based on the limit specified",
        "operationId" : "getHolidayLists",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of holiday lists to list",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of holiday lists to list",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the holiday lists must be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the holiday lists must be listed",
            "format" : "int32"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Activation status of the holiday list. Values allowed are @ACTIVE@ and @INACTIVE@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Activation status of the holiday list. Values allowed are @ACTIVE@ and @INACTIVE@",
            "enum" : [ "ACTIVE", "INACTIVE" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "holidayListLViewJSON template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "associatedBusinessHours", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime", "name", "status" ],
                        "properties" : {
                          "modifiedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "associatedBusinessHours" : {
                            "items" : {
                              "required" : [ "businessHourId", "businessHourName", "businessHourStatus" ],
                              "properties" : {
                                "businessHourStatus" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "ACTIVE", "INACTIVE" ],
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "Activation status of the holiday list. Values allowed are @ACTIVE@ and @INACTIVE@",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                },
                                "businessHourId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "businessHourName" : {
                                  "maxLength" : 100,
                                  "minLength" : 1,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "createdBy" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 1,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "modifiedBy" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTIVE", "INACTIVE" ],
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Activation status of the holiday list. Values allowed are @ACTIVE@ and @INACTIVE@",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "modifiedTime" : 1544438928772,
                        "associatedBusinessHours" : [ {
                          "businessHourStatus" : "ACTIVE",
                          "businessHourId" : "4000000101003",
                          "businessHourName" : "UK Day Shift"
                        }, {
                          "businessHourStatus" : "ACTIVE",
                          "businessHourId" : "4000000103001",
                          "businessHourName" : "UK Night Shift"
                        }, {
                          "businessHourStatus" : "ACTIVE",
                          "businessHourId" : "4000000101005",
                          "businessHourName" : "Indian Night Shift"
                        } ],
                        "createdBy" : "4000000016079",
                        "name" : "My Company Holidays",
                        "createdTime" : 1544438928772,
                        "modifiedBy" : "4000000016079",
                        "id" : "4000000191456",
                        "status" : "ACTIVE"
                      }, {
                        "modifiedTime" : 1544438136071,
                        "associatedBusinessHours" : [ ],
                        "createdBy" : "4000000016079",
                        "name" : "My Holidays",
                        "createdTime" : 1544438136071,
                        "modifiedBy" : "4000000016079",
                        "id" : "4000000191337",
                        "status" : "INACTIVE"
                      }, {
                        "modifiedTime" : 1543935377481,
                        "associatedBusinessHours" : [ ],
                        "createdBy" : "4000000016079",
                        "name" : "Overlapping Holidays",
                        "createdTime" : 1543843650454,
                        "modifiedBy" : "4000000016079",
                        "id" : "4000000117001",
                        "status" : "INACTIVE"
                      }, {
                        "modifiedTime" : 1543821414223,
                        "associatedBusinessHours" : [ {
                          "businessHourStatus" : "INACTIVE",
                          "businessHourId" : "4000000101009",
                          "businessHourName" : "Indian Shift"
                        } ],
                        "createdBy" : "4000000016079",
                        "name" : "General HolidayList",
                        "createdTime" : 1543410293327,
                        "modifiedBy" : "4000000016079",
                        "id" : "4000000105030",
                        "status" : "ACTIVE"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 1200000,
                  "threshold" : 40,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "2404975644efe7324d49e436b8fd0241",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.HolidayListService.getHolidayLists"
        }
      },
      "post" : {
        "tags" : [ "HolidayList" ],
        "summary" : "Create holiday list",
        "description" : "This API creates a holiday list in your help desk portal",
        "operationId" : "createHolidayList",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "holidays", "name", "status" ],
                "properties" : {
                  "associatedBusinessHourIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "holidays" : {
                    "items" : {
                      "required" : [ "from", "holidayName", "to" ],
                      "properties" : {
                        "from" : {
                          "maxLength" : 5,
                          "minLength" : 5,
                          "pattern" : "^([0-1][0-2]|0[0-9])-([12][0-9]|3[01]|0[1-9])"
                        },
                        "to" : {
                          "maxLength" : 5,
                          "minLength" : 5,
                          "pattern" : "^([0-1][0-2]|0[0-9])-([12][0-9]|3[01]|0[1-9])"
                        },
                        "holidayName" : {
                          "maxLength" : 100,
                          "minLength" : 1,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 1,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "ACTIVE", "INACTIVE" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "associatedBusinessHourIds" : [ "4000000101003", "4000000101005", "4000000103001" ],
                    "holidays" : [ {
                      "from" : "02-20",
                      "to" : "02-21",
                      "holidayName" : "Holiday1"
                    }, {
                      "from" : "03-26",
                      "to" : "03-26",
                      "holidayName" : "Holiday2"
                    }, {
                      "from" : "12-24",
                      "to" : "12-25",
                      "holidayName" : "Christmas Holidays"
                    } ],
                    "name" : "My Company Holidays",
                    "status" : "ACTIVE"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "201" : {
            "description" : "holidaylistJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "associatedBusinessHours", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime", "name", "status" ],
                    "properties" : {
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "associatedBusinessHours" : {
                        "items" : {
                          "required" : [ "businessHourId", "businessHourName", "businessHourStatus" ],
                          "properties" : {
                            "businessHourStatus" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "ACTIVE", "INACTIVE" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Activation status of the holiday list. Values allowed are @ACTIVE@ and @INACTIVE@",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "businessHourId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "businessHourName" : {
                              "maxLength" : 100,
                              "minLength" : 1,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "createdBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 1,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "modifiedBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "ACTIVE", "INACTIVE" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Activation status of the holiday list. Values allowed are @ACTIVE@ and @INACTIVE@",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "holidays" ],
                    "properties" : {
                      "holidays" : {
                        "items" : {
                          "required" : [ "from", "holidayName", "to" ],
                          "properties" : {
                            "from" : {
                              "maxLength" : 5,
                              "minLength" : 5,
                              "pattern" : "^([0-1][0-2]|0[0-9])-([12][0-9]|3[01]|0[1-9])"
                            },
                            "to" : {
                              "maxLength" : 5,
                              "minLength" : 5,
                              "pattern" : "^([0-1][0-2]|0[0-9])-([12][0-9]|3[01]|0[1-9])"
                            },
                            "holidayName" : {
                              "maxLength" : 100,
                              "minLength" : 1,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1544438213136,
                      "associatedBusinessHours" : [ {
                        "businessHourStatus" : "ACTIVE",
                        "businessHourId" : "4000000101003",
                        "businessHourName" : "UK Day Shift"
                      }, {
                        "businessHourStatus" : "ACTIVE",
                        "businessHourId" : "4000000101005",
                        "businessHourName" : "Indian Night Shift"
                      }, {
                        "businessHourStatus" : "ACTIVE",
                        "businessHourId" : "4000000103001",
                        "businessHourName" : "UK Night Shift"
                      } ],
                      "holidays" : [ {
                        "from" : "02-20",
                        "to" : "02-21",
                        "holidayName" : "Holiday1"
                      }, {
                        "from" : "03-26",
                        "to" : "03-26",
                        "holidayName" : "Holiday2"
                      }, {
                        "from" : "12-24",
                        "to" : "12-25",
                        "holidayName" : "Christmas Holidays"
                      } ],
                      "createdBy" : "4000000016079",
                      "name" : "My Company Holidays",
                      "createdTime" : 1544438213136,
                      "modifiedBy" : "4000000016079",
                      "id" : "4000000191371",
                      "status" : "ACTIVE"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 1200000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "ab730bcddcc94112d3f02f8c6b68d5e5",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.HolidayListService.createHolidayList"
        }
      }
    },
    "/api/v1/holidayList/{holidayListId}" : {
      "get" : {
        "tags" : [ "HolidayList" ],
        "summary" : "Get holiday list",
        "description" : "This API fetches the details of a holiday list configured in your help desk portal",
        "operationId" : "getHolidayList",
        "parameters" : [ {
          "name" : "holidayListId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "holidaylistJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "associatedBusinessHours", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime", "name", "status" ],
                    "properties" : {
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "associatedBusinessHours" : {
                        "items" : {
                          "required" : [ "businessHourId", "businessHourName", "businessHourStatus" ],
                          "properties" : {
                            "businessHourStatus" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "ACTIVE", "INACTIVE" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Activation status of the holiday list. Values allowed are @ACTIVE@ and @INACTIVE@",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "businessHourId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "businessHourName" : {
                              "maxLength" : 100,
                              "minLength" : 1,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "createdBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 1,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "modifiedBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "ACTIVE", "INACTIVE" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Activation status of the holiday list. Values allowed are @ACTIVE@ and @INACTIVE@",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "holidays" ],
                    "properties" : {
                      "holidays" : {
                        "items" : {
                          "required" : [ "from", "holidayName", "to" ],
                          "properties" : {
                            "from" : {
                              "maxLength" : 5,
                              "minLength" : 5,
                              "pattern" : "^([0-1][0-2]|0[0-9])-([12][0-9]|3[01]|0[1-9])"
                            },
                            "to" : {
                              "maxLength" : 5,
                              "minLength" : 5,
                              "pattern" : "^([0-1][0-2]|0[0-9])-([12][0-9]|3[01]|0[1-9])"
                            },
                            "holidayName" : {
                              "maxLength" : 100,
                              "minLength" : 1,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1544438213136,
                      "associatedBusinessHours" : [ {
                        "businessHourStatus" : "ACTIVE",
                        "businessHourId" : "4000000101003",
                        "businessHourName" : "UK Day Shift"
                      }, {
                        "businessHourStatus" : "ACTIVE",
                        "businessHourId" : "4000000101005",
                        "businessHourName" : "Indian Night Shift"
                      }, {
                        "businessHourStatus" : "ACTIVE",
                        "businessHourId" : "4000000103001",
                        "businessHourName" : "UK Night Shift"
                      } ],
                      "holidays" : [ {
                        "from" : "02-20",
                        "to" : "02-21",
                        "holidayName" : "Holiday1"
                      }, {
                        "from" : "03-26",
                        "to" : "03-26",
                        "holidayName" : "Holiday2"
                      }, {
                        "from" : "12-24",
                        "to" : "12-25",
                        "holidayName" : "Christmas Holidays"
                      } ],
                      "createdBy" : "4000000016079",
                      "name" : "My Company Holidays",
                      "createdTime" : 1544438213136,
                      "modifiedBy" : "4000000016079",
                      "id" : "4000000191371",
                      "status" : "ACTIVE"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "2b24ee738de938283b00d496f0bf2d8d",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.HolidayListService.getHolidayList"
        }
      },
      "patch" : {
        "tags" : [ "HolidayList" ],
        "summary" : "Update holiday list",
        "description" : "This API updates the details of a holiday list configured in your help desk portal",
        "operationId" : "updateHolidayList",
        "parameters" : [ {
          "name" : "holidayListId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "associatedBusinessHourIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "holidays" : {
                    "items" : {
                      "required" : [ "from", "holidayName", "to" ],
                      "properties" : {
                        "from" : {
                          "maxLength" : 5,
                          "minLength" : 5,
                          "pattern" : "^([0-1][0-2]|0[0-9])-([12][0-9]|3[01]|0[1-9])"
                        },
                        "to" : {
                          "maxLength" : 5,
                          "minLength" : 5,
                          "pattern" : "^([0-1][0-2]|0[0-9])-([12][0-9]|3[01]|0[1-9])"
                        },
                        "holidayName" : {
                          "maxLength" : 100,
                          "minLength" : 1,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 1,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "ACTIVE", "INACTIVE" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "associatedBusinessHourIds" : [ "4000000101003", "4000000103001" ],
                    "name" : "My Holidays"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "holidaylistJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "associatedBusinessHours", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime", "name", "status" ],
                    "properties" : {
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "associatedBusinessHours" : {
                        "items" : {
                          "required" : [ "businessHourId", "businessHourName", "businessHourStatus" ],
                          "properties" : {
                            "businessHourStatus" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "ACTIVE", "INACTIVE" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Activation status of the holiday list. Values allowed are @ACTIVE@ and @INACTIVE@",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "businessHourId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "businessHourName" : {
                              "maxLength" : 100,
                              "minLength" : 1,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "createdBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 1,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "modifiedBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "ACTIVE", "INACTIVE" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Activation status of the holiday list. Values allowed are @ACTIVE@ and @INACTIVE@",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "holidays" ],
                    "properties" : {
                      "holidays" : {
                        "items" : {
                          "required" : [ "from", "holidayName", "to" ],
                          "properties" : {
                            "from" : {
                              "maxLength" : 5,
                              "minLength" : 5,
                              "pattern" : "^([0-1][0-2]|0[0-9])-([12][0-9]|3[01]|0[1-9])"
                            },
                            "to" : {
                              "maxLength" : 5,
                              "minLength" : 5,
                              "pattern" : "^([0-1][0-2]|0[0-9])-([12][0-9]|3[01]|0[1-9])"
                            },
                            "holidayName" : {
                              "maxLength" : 100,
                              "minLength" : 1,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1544438213136,
                      "associatedBusinessHours" : [ {
                        "businessHourStatus" : "ACTIVE",
                        "businessHourId" : "4000000101003",
                        "businessHourName" : "UK Day Shift"
                      }, {
                        "businessHourStatus" : "ACTIVE",
                        "businessHourId" : "4000000101005",
                        "businessHourName" : "Indian Night Shift"
                      }, {
                        "businessHourStatus" : "ACTIVE",
                        "businessHourId" : "4000000103001",
                        "businessHourName" : "UK Night Shift"
                      } ],
                      "holidays" : [ {
                        "from" : "02-20",
                        "to" : "02-21",
                        "holidayName" : "Holiday1"
                      }, {
                        "from" : "03-26",
                        "to" : "03-26",
                        "holidayName" : "Holiday2"
                      }, {
                        "from" : "12-24",
                        "to" : "12-25",
                        "holidayName" : "Christmas Holidays"
                      } ],
                      "createdBy" : "4000000016079",
                      "name" : "My Company Holidays",
                      "createdTime" : 1544438213136,
                      "modifiedBy" : "4000000016079",
                      "id" : "4000000191371",
                      "status" : "ACTIVE"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 1200000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "576f41f4c617f600806aa6775f633d4f",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.HolidayListService.updateHolidayList"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "associatedBusinessHoursJson" : {
        "required" : [ "businessHourId", "businessHourName", "businessHourStatus" ],
        "properties" : {
          "businessHourStatus" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "ACTIVE", "INACTIVE" ],
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Activation status of the holiday list. Values allowed are @ACTIVE@ and @INACTIVE@",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "businessHourId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "businessHourName" : {
            "maxLength" : 100,
            "minLength" : 1,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          }
        },
        "additionalProperties" : { }
      },
      "associatedBusinessHoursArr" : {
        "items" : {
          "required" : [ "businessHourId", "businessHourName", "businessHourStatus" ],
          "properties" : {
            "businessHourStatus" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "ACTIVE", "INACTIVE" ],
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Activation status of the holiday list. Values allowed are @ACTIVE@ and @INACTIVE@",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            },
            "businessHourId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "businessHourName" : {
              "maxLength" : 100,
              "minLength" : 1,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            }
          },
          "additionalProperties" : false
        }
      },
      "holidayListJSON" : {
        "required" : [ "associatedBusinessHours", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime", "name", "status" ],
        "properties" : {
          "modifiedTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "associatedBusinessHours" : {
            "items" : {
              "required" : [ "businessHourId", "businessHourName", "businessHourStatus" ],
              "properties" : {
                "businessHourStatus" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "ACTIVE", "INACTIVE" ],
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Activation status of the holiday list. Values allowed are @ACTIVE@ and @INACTIVE@",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "businessHourId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "businessHourName" : {
                  "maxLength" : 100,
                  "minLength" : 1,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                }
              },
              "additionalProperties" : false
            }
          },
          "createdBy" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 1,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "createdTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "modifiedBy" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "status" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "ACTIVE", "INACTIVE" ],
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Activation status of the holiday list. Values allowed are @ACTIVE@ and @INACTIVE@",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          }
        },
        "additionalProperties" : { }
      },
      "holidayListDataArray" : {
        "items" : {
          "required" : [ "associatedBusinessHours", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime", "name", "status" ],
          "properties" : {
            "modifiedTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "associatedBusinessHours" : {
              "items" : {
                "required" : [ "businessHourId", "businessHourName", "businessHourStatus" ],
                "properties" : {
                  "businessHourStatus" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "ACTIVE", "INACTIVE" ],
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "replacementString" : "",
                      "allowInvalid" : false,
                      "descrption" : "Activation status of the holiday list. Values allowed are @ACTIVE@ and @INACTIVE@",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  },
                  "businessHourId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "businessHourName" : {
                    "maxLength" : 100,
                    "minLength" : 1,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  }
                },
                "additionalProperties" : false
              }
            },
            "createdBy" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "name" : {
              "maxLength" : 100,
              "minLength" : 1,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "createdTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "modifiedBy" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "status" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "ACTIVE", "INACTIVE" ],
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Activation status of the holiday list. Values allowed are @ACTIVE@ and @INACTIVE@",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            }
          },
          "additionalProperties" : false
        }
      },
      "holidayJson" : {
        "required" : [ "from", "holidayName", "to" ],
        "properties" : {
          "from" : {
            "maxLength" : 5,
            "minLength" : 5,
            "pattern" : "^([0-1][0-2]|0[0-9])-([12][0-9]|3[01]|0[1-9])"
          },
          "to" : {
            "maxLength" : 5,
            "minLength" : 5,
            "pattern" : "^([0-1][0-2]|0[0-9])-([12][0-9]|3[01]|0[1-9])"
          },
          "holidayName" : {
            "maxLength" : 100,
            "minLength" : 1,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          }
        },
        "additionalProperties" : { }
      },
      "holidayList" : {
        "items" : {
          "required" : [ "from", "holidayName", "to" ],
          "properties" : {
            "from" : {
              "maxLength" : 5,
              "minLength" : 5,
              "pattern" : "^([0-1][0-2]|0[0-9])-([12][0-9]|3[01]|0[1-9])"
            },
            "to" : {
              "maxLength" : 5,
              "minLength" : 5,
              "pattern" : "^([0-1][0-2]|0[0-9])-([12][0-9]|3[01]|0[1-9])"
            },
            "holidayName" : {
              "maxLength" : 100,
              "minLength" : 1,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            }
          },
          "additionalProperties" : false
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "holidayListLViewJSON" : {
        "description" : "holidayListLViewJSON template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "data" ],
              "properties" : {
                "data" : {
                  "items" : {
                    "required" : [ "associatedBusinessHours", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime", "name", "status" ],
                    "properties" : {
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "associatedBusinessHours" : {
                        "items" : {
                          "required" : [ "businessHourId", "businessHourName", "businessHourStatus" ],
                          "properties" : {
                            "businessHourStatus" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "ACTIVE", "INACTIVE" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Activation status of the holiday list. Values allowed are @ACTIVE@ and @INACTIVE@",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "businessHourId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "businessHourName" : {
                              "maxLength" : 100,
                              "minLength" : 1,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "createdBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 1,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "modifiedBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "ACTIVE", "INACTIVE" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Activation status of the holiday list. Values allowed are @ACTIVE@ and @INACTIVE@",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      }
                    },
                    "additionalProperties" : false
                  }
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : [ {
                    "modifiedTime" : 1544438928772,
                    "associatedBusinessHours" : [ {
                      "businessHourStatus" : "ACTIVE",
                      "businessHourId" : "4000000101003",
                      "businessHourName" : "UK Day Shift"
                    }, {
                      "businessHourStatus" : "ACTIVE",
                      "businessHourId" : "4000000103001",
                      "businessHourName" : "UK Night Shift"
                    }, {
                      "businessHourStatus" : "ACTIVE",
                      "businessHourId" : "4000000101005",
                      "businessHourName" : "Indian Night Shift"
                    } ],
                    "createdBy" : "4000000016079",
                    "name" : "My Company Holidays",
                    "createdTime" : 1544438928772,
                    "modifiedBy" : "4000000016079",
                    "id" : "4000000191456",
                    "status" : "ACTIVE"
                  }, {
                    "modifiedTime" : 1544438136071,
                    "associatedBusinessHours" : [ ],
                    "createdBy" : "4000000016079",
                    "name" : "My Holidays",
                    "createdTime" : 1544438136071,
                    "modifiedBy" : "4000000016079",
                    "id" : "4000000191337",
                    "status" : "INACTIVE"
                  }, {
                    "modifiedTime" : 1543935377481,
                    "associatedBusinessHours" : [ ],
                    "createdBy" : "4000000016079",
                    "name" : "Overlapping Holidays",
                    "createdTime" : 1543843650454,
                    "modifiedBy" : "4000000016079",
                    "id" : "4000000117001",
                    "status" : "INACTIVE"
                  }, {
                    "modifiedTime" : 1543821414223,
                    "associatedBusinessHours" : [ {
                      "businessHourStatus" : "INACTIVE",
                      "businessHourId" : "4000000101009",
                      "businessHourName" : "Indian Shift"
                    } ],
                    "createdBy" : "4000000016079",
                    "name" : "General HolidayList",
                    "createdTime" : 1543410293327,
                    "modifiedBy" : "4000000016079",
                    "id" : "4000000105030",
                    "status" : "ACTIVE"
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "holidaylistJson" : {
        "description" : "holidaylistJson template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "associatedBusinessHours", "createdBy", "createdTime", "id", "modifiedBy", "modifiedTime", "name", "status" ],
                "properties" : {
                  "modifiedTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                  },
                  "associatedBusinessHours" : {
                    "items" : {
                      "required" : [ "businessHourId", "businessHourName", "businessHourStatus" ],
                      "properties" : {
                        "businessHourStatus" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ACTIVE", "INACTIVE" ],
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Activation status of the holiday list. Values allowed are @ACTIVE@ and @INACTIVE@",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "businessHourId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "businessHourName" : {
                          "maxLength" : 100,
                          "minLength" : 1,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "createdBy" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 1,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "createdTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                  },
                  "modifiedBy" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "ACTIVE", "INACTIVE" ],
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "replacementString" : "",
                      "allowInvalid" : false,
                      "descrption" : "Activation status of the holiday list. Values allowed are @ACTIVE@ and @INACTIVE@",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  }
                },
                "additionalProperties" : false
              }, {
                "required" : [ "holidays" ],
                "properties" : {
                  "holidays" : {
                    "items" : {
                      "required" : [ "from", "holidayName", "to" ],
                      "properties" : {
                        "from" : {
                          "maxLength" : 5,
                          "minLength" : 5,
                          "pattern" : "^([0-1][0-2]|0[0-9])-([12][0-9]|3[01]|0[1-9])"
                        },
                        "to" : {
                          "maxLength" : 5,
                          "minLength" : 5,
                          "pattern" : "^([0-1][0-2]|0[0-9])-([12][0-9]|3[01]|0[1-9])"
                        },
                        "holidayName" : {
                          "maxLength" : 100,
                          "minLength" : 1,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        }
                      },
                      "additionalProperties" : false
                    }
                  }
                }
              } ]
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "modifiedTime" : 1544438213136,
                  "associatedBusinessHours" : [ {
                    "businessHourStatus" : "ACTIVE",
                    "businessHourId" : "4000000101003",
                    "businessHourName" : "UK Day Shift"
                  }, {
                    "businessHourStatus" : "ACTIVE",
                    "businessHourId" : "4000000101005",
                    "businessHourName" : "Indian Night Shift"
                  }, {
                    "businessHourStatus" : "ACTIVE",
                    "businessHourId" : "4000000103001",
                    "businessHourName" : "UK Night Shift"
                  } ],
                  "holidays" : [ {
                    "from" : "02-20",
                    "to" : "02-21",
                    "holidayName" : "Holiday1"
                  }, {
                    "from" : "03-26",
                    "to" : "03-26",
                    "holidayName" : "Holiday2"
                  }, {
                    "from" : "12-24",
                    "to" : "12-25",
                    "holidayName" : "Christmas Holidays"
                  } ],
                  "createdBy" : "4000000016079",
                  "name" : "My Company Holidays",
                  "createdTime" : 1544438213136,
                  "modifiedBy" : "4000000016079",
                  "id" : "4000000191371",
                  "status" : "ACTIVE"
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "OAuth Org Mismatch Error Response" : {
                "value" : {
                  "errorCode" : "OAUTH_ORG_MISMATCH",
                  "message" : "The OAuthToken is not valid for specified organization."
                }
              }
            }
          }
        }
      },
      "forbiddenErrorResponse" : {
        "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Forbidden Error Response" : {
                "value" : {
                  "errorCode" : "FORBIDDEN",
                  "message" : "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "urlNotFoundErrorResponse" : {
        "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Url Not Found Error Response" : {
                "value" : {
                  "errorCode" : "URL_NOT_FOUND",
                  "message" : "The URL you requested could not be found."
                }
              }
            }
          }
        }
      },
      "methodNotAllowedErrorResponse" : {
        "description" : "This errorCode value appears if the method in the API request is known by the server but disabled for the API requested.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Method Not Allowed Error Response" : {
                "value" : {
                  "errorCode" : "METHOD_NOT_ALLOWED",
                  "message" : "This HTTP method is not allowed on this URL."
                }
              }
            }
          }
        }
      },
      "resourceSizeExceededErrorResponse" : {
        "description" : "This errorCode value appears if the size of the resource exceeds the limit defined by the server.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Resource Size Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "RESOURCE_SIZE_EXCEEDED",
                  "message" : "Attachment size is too large. The maximum size supported is 20 MB."
                }
              }
            }
          }
        }
      },
      "unSupportedMediaTypeErrorResponse" : {
        "description" : "This errorCode value appears if the server refuses the request as a result of receiving the input in an unsupported format.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unsupported Media Type Error Response" : {
                "value" : {
                  "errorCode" : "UNSUPPORTED_MEDIA_TYPE",
                  "message" : "The given content type is not supported. Please provide the input Content-Type as application/json"
                }
              }
            }
          }
        }
      },
      "unprocessableEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The value passed for the 'from' query parameter is invalid."
                }
              }
            }
          }
        }
      },
      "missingEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not contain the mandatory parameters for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The mandatory parameter 'permission' is missing"
                }
              }
            }
          }
        }
      },
      "thresholdExceedErrorResponse" : {
        "description" : "This errorCode value appears if the user sends too many requests within a given amount of time (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Threshold Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "THRESHOLD_EXCEEDED",
                  "message" : "The maximum number of API calls that can be made per day has been exceeded."
                }
              }
            }
          }
        }
      },
      "concurrentRateLimitExceededErrorResponse" : {
        "description" : "This errorCode value appears if the user fires too many requests in a simultaneous/concurrent manner (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
[...]
