{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "IM_Message",
    "version" : "1.0.0",
    "x-clan-group" : "microservices",
    "x-module-group" : "im"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/im/sessions/{sid}/messages/{msg_id}/resend" : {
      "post" : {
        "tags" : [ "IM_Message" ],
        "operationId" : "resendMessage",
        "parameters" : [ {
          "name" : "msg_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "sid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getMessage_listView template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "actor", "attachment", "contentType", "createdTime", "direction", "displayMessage", "fullContentURL", "id", "index", "info", "isRead", "kbArticle", "location", "meta", "sessionId", "status", "statusUpdatedTime", "ticketWebUrl", "type" ],
                    "properties" : {
                      "kbArticle" : {
                        "required" : [ "createdTime", "id", "owner", "summary", "title", "translationId", "webUrl" ],
                        "properties" : {
                          "summary" : {
                            "maxLength" : 65553,
                            "minLength" : 0
                          },
                          "owner" : {
                            "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                            "properties" : {
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "name" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "status" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                              },
                              "zuid" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "translationId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "webUrl" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "title" : {
                            "maxLength" : 500,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "fullContentURL" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "isRead" : { },
                      "index" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "[0-9]+"
                      },
                      "sessionId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "TEXT", "INFO", "ATTACHMENT", "LOCATION", "TEMPLATE", "CAROUSEL", "LAYOUT" ]
                      },
                      "ticketWebUrl" : {
                        "maxLength" : 500,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "actor" : {
                        "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "contactId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Filter conversations of a contact",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "contactName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "botType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "GC", "ZIA" ]
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "externalId" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "BOT" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "displayMessage" : {
                        "maxLength" : 300,
                        "minLength" : 0
                      },
                      "attachment" : {
                        "required" : [ "id", "name", "size", "type", "url" ],
                        "properties" : {
                          "size" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9]+"
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "url" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "meta" : {
                        "additionalProperties" : { },
                        "allOf" : [ {
                          "required" : [ "DESK_TICKET_ID", "DESK_TICKET_NUMBER" ],
                          "properties" : {
                            "DESK_TICKET_ID" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "DESK_TICKET_NUMBER" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "BOT_REPLY_STATUS", "COST", "DESK_KB_ARTICLE_TRANSLATION_ID", "GC_SELECTED", "GC_SKIPPED", "GC_TRANSFERRED", "RATING_STAR", "REACTION" ],
                          "properties" : {
                            "BOT_REPLY_STATUS" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "GC_TRANSFERRED" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "COST" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "RATING_STAR" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "DESK_KB_ARTICLE_TRANSLATION_ID" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "REACTION" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "GC_SELECTED" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "GC_SKIPPED" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          }
                        } ]
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "statusUpdatedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "location" : {
                        "required" : [ "latitude", "longitude" ],
                        "properties" : {
                          "latitude" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "longitude" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "contentType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "text/html", "text/plain", "application/json" ]
                      },
                      "direction" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "IN", "OUT" ]
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "SAVED", "QUEUED", "SENT", "DELIVERED", "READ", "FAILED", "DELETED", "MISSED" ]
                      },
                      "info" : {
                        "required" : [ "action", "actor", "sessionStatus", "targets" ],
                        "properties" : {
                          "actor" : {
                            "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                            "properties" : {
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "contactId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Filter conversations of a contact",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "contactName" : {
                                "maxLength" : 200,
                                "minLength" : 0
                              },
                              "botType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "GC", "ZIA" ]
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "externalId" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "END_USER", "AGENT", "BOT" ]
                              },
                              "email" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "sessionStatus" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "CREATED", "OPEN", "ON_PROGRESS", "ON_HOLD", "ENDED", "BLOCKED", "MISSED" ]
                          },
                          "action" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "UN_IDENTIFIED", "END_SESSION", "BLOCK_SESSION", "UNBLOCK_SESSION", "CHAT_ACCEPT", "CHAT_REOPEN", "CHAT_TRANSFER", "ADD_PARTICIPANT", "REMOVE_PARTICIPANT" ]
                          },
                          "targets" : {
                            "items" : {
                              "additionalProperties" : false,
                              "allOf" : [ {
                                "required" : [ "email", "id", "name", "photoURL", "type", "zuid" ],
                                "properties" : {
                                  "photoURL" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "type" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "END_USER", "AGENT", "BOT" ]
                                  },
                                  "email" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                  },
                                  "zuid" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : false
                              }, {
                                "required" : [ "deskActorId" ],
                                "properties" : {
                                  "deskActorId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                }
                              } ]
                            }
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "replyToMessage" ],
                    "properties" : {
                      "replyToMessage" : {
                        "additionalProperties" : { },
                        "allOf" : [ {
                          "required" : [ "actor", "attachment", "contentType", "createdTime", "direction", "displayMessage", "fullContentURL", "id", "index", "info", "isRead", "kbArticle", "location", "meta", "sessionId", "status", "statusUpdatedTime", "ticketWebUrl", "type" ],
                          "properties" : {
                            "kbArticle" : {
                              "required" : [ "createdTime", "id", "owner", "summary", "title", "translationId", "webUrl" ],
                              "properties" : {
                                "summary" : {
                                  "maxLength" : 65553,
                                  "minLength" : 0
                                },
                                "owner" : {
                                  "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                                  "properties" : {
                                    "photoURL" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    },
                                    "name" : {
                                      "maxLength" : 50,
                                      "minLength" : 0
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "status" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                                    },
                                    "zuid" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "translationId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "webUrl" : {
                                  "maxLength" : 500,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "createdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "title" : {
                                  "maxLength" : 500,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            },
                            "fullContentURL" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "isRead" : { },
                            "index" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9]+"
                            },
                            "sessionId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "TEXT", "INFO", "ATTACHMENT", "LOCATION", "TEMPLATE", "CAROUSEL", "LAYOUT" ]
                            },
                            "ticketWebUrl" : {
                              "maxLength" : 500,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "actor" : {
                              "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "contactId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64",
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "Filter conversations of a contact",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                },
                                "contactName" : {
                                  "maxLength" : 200,
                                  "minLength" : 0
                                },
                                "botType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "GC", "ZIA" ]
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "externalId" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "END_USER", "AGENT", "BOT" ]
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "displayMessage" : {
                              "maxLength" : 300,
                              "minLength" : 0
                            },
                            "attachment" : {
                              "required" : [ "id", "name", "size", "type", "url" ],
                              "properties" : {
                                "size" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[0-9]+"
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "url" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "meta" : {
                              "additionalProperties" : false,
                              "allOf" : [ {
                                "required" : [ "DESK_TICKET_ID", "DESK_TICKET_NUMBER" ],
                                "properties" : {
                                  "DESK_TICKET_ID" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "DESK_TICKET_NUMBER" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : false
                              }, {
                                "required" : [ "BOT_REPLY_STATUS", "COST", "DESK_KB_ARTICLE_TRANSLATION_ID", "GC_SELECTED", "GC_SKIPPED", "GC_TRANSFERRED", "RATING_STAR", "REACTION" ],
                                "properties" : {
                                  "BOT_REPLY_STATUS" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "GC_TRANSFERRED" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "COST" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "RATING_STAR" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "DESK_KB_ARTICLE_TRANSLATION_ID" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "REACTION" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "GC_SELECTED" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "GC_SKIPPED" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                }
                              } ]
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "statusUpdatedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "location" : {
                              "required" : [ "latitude", "longitude" ],
                              "properties" : {
                                "latitude" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "longitude" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "contentType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "text/html", "text/plain", "application/json" ]
                            },
                            "direction" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "IN", "OUT" ]
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "SAVED", "QUEUED", "SENT", "DELIVERED", "READ", "FAILED", "DELETED", "MISSED" ]
                            },
                            "info" : {
                              "required" : [ "action", "actor", "sessionStatus", "targets" ],
                              "properties" : {
                                "actor" : {
                                  "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                                  "properties" : {
                                    "photoURL" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    },
                                    "contactId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "Filter conversations of a contact",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    },
                                    "contactName" : {
                                      "maxLength" : 200,
                                      "minLength" : 0
                                    },
                                    "botType" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "GC", "ZIA" ]
                                    },
                                    "name" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "externalId" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "type" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "END_USER", "AGENT", "BOT" ]
                                    },
                                    "email" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "sessionStatus" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "CREATED", "OPEN", "ON_PROGRESS", "ON_HOLD", "ENDED", "BLOCKED", "MISSED" ]
                                },
                                "action" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "UN_IDENTIFIED", "END_SESSION", "BLOCK_SESSION", "UNBLOCK_SESSION", "CHAT_ACCEPT", "CHAT_REOPEN", "CHAT_TRANSFER", "ADD_PARTICIPANT", "REMOVE_PARTICIPANT" ]
                                },
                                "targets" : {
                                  "items" : {
                                    "additionalProperties" : false,
                                    "allOf" : [ {
                                      "required" : [ "email", "id", "name", "photoURL", "type", "zuid" ],
                                      "properties" : {
                                        "photoURL" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                        },
                                        "name" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "id" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        },
                                        "type" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "enum" : [ "END_USER", "AGENT", "BOT" ]
                                        },
                                        "email" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                        },
                                        "zuid" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int32"
                                        }
                                      },
                                      "additionalProperties" : false
                                    }, {
                                      "required" : [ "deskActorId" ],
                                      "properties" : {
                                        "deskActorId" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        }
                                      }
                                    } ]
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "replyToMessage" ],
                          "properties" : {
                            "replyToMessage" : {
                              "additionalProperties" : false
                            }
                          }
                        } ]
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 60000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "microservices",
          "module-group" : "im",
          "apimethod" : "com.zoho.support.restapi.im.IMMessageService.resendMessage"
        }
      }
    },
    "/api/v1/im/sessions/{sid}/messages/{msg_id}" : {
      "get" : {
        "tags" : [ "IM_Message" ],
        "operationId" : "getMessage",
        "parameters" : [ {
          "name" : "msg_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "sid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getMessage_listView template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "actor", "attachment", "contentType", "createdTime", "direction", "displayMessage", "fullContentURL", "id", "index", "info", "isRead", "kbArticle", "location", "meta", "sessionId", "status", "statusUpdatedTime", "ticketWebUrl", "type" ],
                    "properties" : {
                      "kbArticle" : {
                        "required" : [ "createdTime", "id", "owner", "summary", "title", "translationId", "webUrl" ],
                        "properties" : {
                          "summary" : {
                            "maxLength" : 65553,
                            "minLength" : 0
                          },
                          "owner" : {
                            "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                            "properties" : {
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "name" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "status" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                              },
                              "zuid" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "translationId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "webUrl" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "title" : {
                            "maxLength" : 500,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      },
                      "fullContentURL" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "isRead" : { },
                      "index" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "[0-9]+"
                      },
                      "sessionId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "TEXT", "INFO", "ATTACHMENT", "LOCATION", "TEMPLATE", "CAROUSEL", "LAYOUT" ]
                      },
                      "ticketWebUrl" : {
                        "maxLength" : 500,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "actor" : {
                        "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "contactId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Filter conversations of a contact",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "contactName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "botType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "GC", "ZIA" ]
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "externalId" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "BOT" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "displayMessage" : {
                        "maxLength" : 300,
                        "minLength" : 0
                      },
                      "attachment" : {
                        "required" : [ "id", "name", "size", "type", "url" ],
                        "properties" : {
                          "size" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9]+"
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "url" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "meta" : {
                        "additionalProperties" : false,
                        "allOf" : [ {
                          "required" : [ "DESK_TICKET_ID", "DESK_TICKET_NUMBER" ],
                          "properties" : {
                            "DESK_TICKET_ID" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "DESK_TICKET_NUMBER" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "BOT_REPLY_STATUS", "COST", "DESK_KB_ARTICLE_TRANSLATION_ID", "GC_SELECTED", "GC_SKIPPED", "GC_TRANSFERRED", "RATING_STAR", "REACTION" ],
                          "properties" : {
                            "BOT_REPLY_STATUS" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "GC_TRANSFERRED" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "COST" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "RATING_STAR" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "DESK_KB_ARTICLE_TRANSLATION_ID" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "REACTION" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "GC_SELECTED" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "GC_SKIPPED" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          }
                        } ]
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "statusUpdatedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "location" : {
                        "required" : [ "latitude", "longitude" ],
                        "properties" : {
                          "latitude" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "longitude" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "contentType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "text/html", "text/plain", "application/json" ]
                      },
                      "direction" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "IN", "OUT" ]
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "SAVED", "QUEUED", "SENT", "DELIVERED", "READ", "FAILED", "DELETED", "MISSED" ]
                      },
                      "info" : {
                        "required" : [ "action", "actor", "sessionStatus", "targets" ],
                        "properties" : {
                          "actor" : {
                            "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                            "properties" : {
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "contactId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Filter conversations of a contact",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "contactName" : {
                                "maxLength" : 200,
                                "minLength" : 0
                              },
                              "botType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "GC", "ZIA" ]
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "externalId" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "END_USER", "AGENT", "BOT" ]
                              },
                              "email" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "sessionStatus" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "CREATED", "OPEN", "ON_PROGRESS", "ON_HOLD", "ENDED", "BLOCKED", "MISSED" ]
                          },
                          "action" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "UN_IDENTIFIED", "END_SESSION", "BLOCK_SESSION", "UNBLOCK_SESSION", "CHAT_ACCEPT", "CHAT_REOPEN", "CHAT_TRANSFER", "ADD_PARTICIPANT", "REMOVE_PARTICIPANT" ]
                          },
                          "targets" : {
                            "items" : {
                              "additionalProperties" : false,
                              "allOf" : [ {
                                "required" : [ "email", "id", "name", "photoURL", "type", "zuid" ],
                                "properties" : {
                                  "photoURL" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "type" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "END_USER", "AGENT", "BOT" ]
                                  },
                                  "email" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                  },
                                  "zuid" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : false
                              }, {
                                "required" : [ "deskActorId" ],
                                "properties" : {
                                  "deskActorId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                }
                              } ]
                            }
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "replyToMessage" ],
                    "properties" : {
                      "replyToMessage" : {
                        "additionalProperties" : false,
                        "allOf" : [ {
                          "required" : [ "actor", "attachment", "contentType", "createdTime", "direction", "displayMessage", "fullContentURL", "id", "index", "info", "isRead", "kbArticle", "location", "meta", "sessionId", "status", "statusUpdatedTime", "ticketWebUrl", "type" ],
                          "properties" : {
                            "kbArticle" : {
                              "required" : [ "createdTime", "id", "owner", "summary", "title", "translationId", "webUrl" ],
                              "properties" : {
                                "summary" : {
                                  "maxLength" : 65553,
                                  "minLength" : 0
                                },
                                "owner" : {
                                  "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                                  "properties" : {
                                    "photoURL" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    },
                                    "name" : {
                                      "maxLength" : 50,
                                      "minLength" : 0
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "status" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                                    },
                                    "zuid" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "translationId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "webUrl" : {
                                  "maxLength" : 500,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "createdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "title" : {
                                  "maxLength" : 500,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            },
                            "fullContentURL" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "isRead" : { },
                            "index" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9]+"
                            },
                            "sessionId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "TEXT", "INFO", "ATTACHMENT", "LOCATION", "TEMPLATE", "CAROUSEL", "LAYOUT" ]
                            },
                            "ticketWebUrl" : {
                              "maxLength" : 500,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "actor" : {
                              "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "contactId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64",
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "Filter conversations of a contact",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                },
                                "contactName" : {
                                  "maxLength" : 200,
                                  "minLength" : 0
                                },
                                "botType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "GC", "ZIA" ]
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "externalId" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "END_USER", "AGENT", "BOT" ]
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "displayMessage" : {
                              "maxLength" : 300,
                              "minLength" : 0
                            },
                            "attachment" : {
                              "required" : [ "id", "name", "size", "type", "url" ],
                              "properties" : {
                                "size" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[0-9]+"
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "url" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "meta" : {
                              "additionalProperties" : false,
                              "allOf" : [ {
                                "required" : [ "DESK_TICKET_ID", "DESK_TICKET_NUMBER" ],
                                "properties" : {
                                  "DESK_TICKET_ID" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "DESK_TICKET_NUMBER" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : false
                              }, {
                                "required" : [ "BOT_REPLY_STATUS", "COST", "DESK_KB_ARTICLE_TRANSLATION_ID", "GC_SELECTED", "GC_SKIPPED", "GC_TRANSFERRED", "RATING_STAR", "REACTION" ],
                                "properties" : {
                                  "BOT_REPLY_STATUS" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "GC_TRANSFERRED" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "COST" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "RATING_STAR" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "DESK_KB_ARTICLE_TRANSLATION_ID" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "REACTION" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "GC_SELECTED" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "GC_SKIPPED" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                }
                              } ]
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "statusUpdatedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "location" : {
                              "required" : [ "latitude", "longitude" ],
                              "properties" : {
                                "latitude" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "longitude" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "contentType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "text/html", "text/plain", "application/json" ]
                            },
                            "direction" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "IN", "OUT" ]
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "SAVED", "QUEUED", "SENT", "DELIVERED", "READ", "FAILED", "DELETED", "MISSED" ]
                            },
                            "info" : {
                              "required" : [ "action", "actor", "sessionStatus", "targets" ],
                              "properties" : {
                                "actor" : {
                                  "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                                  "properties" : {
                                    "photoURL" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    },
                                    "contactId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "Filter conversations of a contact",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    },
                                    "contactName" : {
                                      "maxLength" : 200,
                                      "minLength" : 0
                                    },
                                    "botType" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "GC", "ZIA" ]
                                    },
                                    "name" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "externalId" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "type" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "END_USER", "AGENT", "BOT" ]
                                    },
                                    "email" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "sessionStatus" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "CREATED", "OPEN", "ON_PROGRESS", "ON_HOLD", "ENDED", "BLOCKED", "MISSED" ]
                                },
                                "action" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "UN_IDENTIFIED", "END_SESSION", "BLOCK_SESSION", "UNBLOCK_SESSION", "CHAT_ACCEPT", "CHAT_REOPEN", "CHAT_TRANSFER", "ADD_PARTICIPANT", "REMOVE_PARTICIPANT" ]
                                },
                                "targets" : {
                                  "items" : {
                                    "additionalProperties" : false,
                                    "allOf" : [ {
                                      "required" : [ "email", "id", "name", "photoURL", "type", "zuid" ],
                                      "properties" : {
                                        "photoURL" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                        },
                                        "name" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "id" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        },
                                        "type" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "enum" : [ "END_USER", "AGENT", "BOT" ]
                                        },
                                        "email" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                        },
                                        "zuid" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int32"
                                        }
                                      },
                                      "additionalProperties" : false
                                    }, {
                                      "required" : [ "deskActorId" ],
                                      "properties" : {
                                        "deskActorId" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        }
                                      }
                                    } ]
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "replyToMessage" ],
                          "properties" : {
                            "replyToMessage" : {
                              "additionalProperties" : false
                            }
                          }
                        } ]
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 10,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "microservices",
          "module-group" : "im",
          "apimethod" : "com.zoho.support.restapi.im.IMMessageService.getMessage"
        }
      },
      "delete" : {
        "tags" : [ "IM_Message" ],
        "operationId" : "deleteMessage",
        "parameters" : [ {
          "name" : "msg_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "sid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
[...]
