{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "IM_Session",
    "version" : "1.0.0",
    "x-clan-group" : "microservices",
    "x-module-group" : "im"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/im/sessions/metrics" : {
      "get" : {
        "tags" : [ "IM_Session" ],
        "operationId" : "getSessionMetrics",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "Filter conversations of all channels in given department",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Filter conversations of all channels in given department",
            "format" : "int64"
          }
        }, {
          "name" : "integrationServiceId",
          "in" : "query",
          "description" : "IntegrationService type",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "IntegrationService type",
            "enum" : [ "TELEGRAM", "TWILIO", "IM_TALK", "LINE", "WECHAT", "WHATSAPP", "FACEBOOKMESSENGER" ]
          }
        }, {
          "name" : "channelId",
          "in" : "query",
          "description" : "Filter conversations of a channel",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Filter conversations of a channel",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "getSessionMetrics template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "assignee", "kind" ],
                  "properties" : {
                    "kind" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "single.session.metrics" ]
                    },
                    "assignee" : {
                      "required" : [ "MINE", "NONE" ],
                      "properties" : {
                        "MINE" : {
                          "required" : [ "BLOCKED", "CREATED", "ENDED", "MISSED", "ON_HOLD", "ON_PROGRESS", "OPEN" ],
                          "properties" : {
                            "CREATED" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "BLOCKED" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "ENDED" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "MISSED" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "ON_HOLD" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "ON_PROGRESS" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "OPEN" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "NONE" : {
                          "required" : [ "BLOCKED", "CREATED", "ENDED", "MISSED", "ON_HOLD", "ON_PROGRESS", "OPEN" ],
                          "properties" : {
                            "CREATED" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "BLOCKED" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "ENDED" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "MISSED" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "ON_HOLD" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "ON_PROGRESS" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "OPEN" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "microservices",
          "module-group" : "im",
          "apimethod" : "com.zoho.support.restapi.im.IMSessionService.getSessionMetrics"
        }
      }
    },
    "/api/v1/im/sessions/{id}/tickets" : {
      "get" : {
        "tags" : [ "IM_Session" ],
        "operationId" : "getIMSessionTickets",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of tickets to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number of tickets to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the tickets must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the tickets must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getIMSessionTickets template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "additionalProperties" : false,
                        "allOf" : [ {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "required" : [ "assigneeId", "channel", "dueDate", "email", "language", "phone", "priority", "productId", "subject" ],
                            "properties" : {
                              "productId" : {
                                "pattern" : "([0-9]+)",
                                "description" : "ID of the product to which the ticket is mapped",
                                "format" : "int64"
                              },
                              "phone" : {
                                "maxLength" : 120,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                "description" : "Phone number in the ticket",
                                "x-custom-parameters-attributes" : {
                                  "filterMatchedContent" : true,
                                  "replacementString" : ""
                                }
                              },
                              "subject" : {
                                "maxLength" : 1000,
                                "minLength" : 0,
                                "description" : "Subject of the ticket"
                              },
                              "dueDate" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                                "description" : "Due date for resolving the ticket"
                              },
                              "channel" : {
                                "description" : "Channel through which the ticket originated.",
                                "x-dynamic-enum" : true
                              },
                              "language" : {
                                "description" : "Language preference to set for the ticket",
                                "x-dynamic-enum" : true
                              },
                              "priority" : {
                                "description" : "Priority of the ticket",
                                "x-dynamic-enum" : true
                              },
                              "assigneeId" : {
                                "pattern" : "([0-9]+)",
                                "description" : "ID of agent to whom the ticket is assigned",
                                "format" : "int64"
                              },
                              "email" : {
                                "maxLength" : 150,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                                "description" : "Email ID in the ticket"
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "accountId", "channelCode", "closedTime", "commentCount", "contactId", "createdTime", "customerResponseTime", "departmentId", "dueDate", "id", "isArchived", "isSpam", "lastThread", "onholdTime", "relationshipType", "responseDueDate", "sentiment", "source", "status", "statusType", "teamId", "threadCount", "ticketNumber", "webUrl" ],
                            "properties" : {
                              "ticketNumber" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "sentiment" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(POSITIVE|NEUTRAL|NEGATIVE)"
                              },
                              "customerResponseTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              },
                              "statusType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "Open", "Closed", "On Hold" ]
                              },
                              "relationshipType" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "contactId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "isArchived" : { },
                              "departmentId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "dueDate" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              },
                              "threadCount" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "onholdTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              },
                              "lastThread" : {
                                "required" : [ "channel", "direction", "isDraft", "isForward" ],
                                "properties" : {
                                  "channel" : {
                                    "x-dynamic-enum" : true
                                  },
                                  "isDraft" : { },
                                  "isForward" : { },
                                  "direction" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "in", "out" ]
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "source" : {
                                "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                                "properties" : {
                                  "appName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "extId" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "permalink" : {
                                    "maxLength" : 65535,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  },
                                  "type" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                                  },
                                  "appPhotoURL" : {
                                    "maxLength" : 65535,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  },
                                  "uuid" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "closedTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              },
                              "commentCount" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "accountId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "responseDueDate" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              },
                              "webUrl" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "teamId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "createdTime" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "isSpam" : { },
                              "status" : {
                                "x-dynamic-enum" : true
                              },
                              "channelCode" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            }
                          } ]
                        }, {
                          "required" : [ "category", "layoutId", "subCategory" ],
                          "properties" : {
                            "subCategory" : {
                              "x-dynamic-enum" : true
                            },
                            "category" : {
                              "x-dynamic-enum" : true
                            },
                            "layoutId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "BAD_REQUEST",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "microservices",
          "module-group" : "im",
          "apimethod" : "com.zoho.support.restapi.RequestService.getIMSessionTickets"
        }
      }
    },
    "/api/v1/im/sessions" : {
      "get" : {
        "tags" : [ "IM_Session" ],
        "summary" : "List Sessions",
        "description" : "This API lists all sessions",
        "operationId" : "getSessions",
        "parameters" : [ {
          "name" : "modifiedAfter",
          "in" : "query",
          "description" : "After which modified date conversations should be included. Enter a date in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "After which modified date conversations should be included. Enter a date in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ."
          }
        }, {
          "name" : "agentId",
          "in" : "query",
          "description" : "Filter conversations assigned to an agent",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Filter conversations assigned to an agent",
            "format" : "int64"
          }
        }, {
          "name" : "contactId",
          "in" : "query",
          "description" : "Filter conversations of a contact",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Filter conversations of a contact",
            "format" : "int64"
          }
        }, {
          "name" : "profileId",
          "in" : "query",
          "description" : "Filter conversations of a profile",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Filter conversations of a profile",
            "format" : "int64"
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "Filter conversations of all channels in given department",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Filter conversations of all channels in given department",
            "format" : "int64"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of tickets to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number of tickets to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the tickets must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the tickets must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "assigneeFilter",
          "in" : "query",
          "description" : "Assignment status filter for the conversations. Allowed values are @MINE@, @UNASSIGNED@ ,@NONE@ ,@BOT@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Assignment status filter for the conversations. Allowed values are @MINE@, @UNASSIGNED@ ,@NONE@ ,@BOT@",
            "enum" : [ "MINE", "UNASSIGNED", "NONE" ]
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Before which date conversations should be included. Enter a date in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "Before which date conversations should be included. Enter a date in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ."
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "After which date conversations should be included. Enter a date in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "After which date conversations should be included. Enter a date in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ."
          }
        }, {
          "name" : "channelId",
          "in" : "query",
          "description" : "Filter conversations of a channel",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Filter conversations of a channel",
            "format" : "int64"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Status filter for the conversations. Allowed values are @OPEN@, @ON_PROGRESS@ ,@ON_HOLD@ ,@BLOCKED@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "additionalProperties" : { },
            "description" : "Status filter for the conversations. Allowed values are @OPEN@, @ON_PROGRESS@ ,@ON_HOLD@ ,@BLOCKED@"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "getSessions template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data", "hasMore" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "actor", "agentId", "agentLastActiveTime", "channel", "contactId", "contactLastActiveTime", "createdTime", "deskAssignee", "id", "integrationService", "lastActiveTime", "messagesCount", "meta", "replyStatus", "status", "subject", "unreadMessagesCount" ],
                        "properties" : {
                          "agentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Filter conversations assigned to an agent",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "lastActiveTime" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "contactId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Filter conversations of a contact",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "subject" : {
                            "maxLength" : 50000,
                            "minLength" : 0
                          },
                          "unreadMessagesCount" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "channel" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "integrationService" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "TELEGRAM", "TWILIO", "IM_TALK", "LINE", "WECHAT", "WHATSAPP", "FACEBOOKMESSENGER" ]
                          },
                          "deskAssignee" : {
                            "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                            "properties" : {
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "contactId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Filter conversations of a contact",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "contactName" : {
                                "maxLength" : 200,
                                "minLength" : 0
                              },
                              "botType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "GC", "ZIA" ]
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "externalId" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "END_USER", "AGENT", "BOT" ]
                              },
                              "email" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "contactLastActiveTime" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "actor" : {
                            "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                            "properties" : {
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "contactId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Filter conversations of a contact",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "contactName" : {
                                "maxLength" : 200,
                                "minLength" : 0
                              },
                              "botType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "GC", "ZIA" ]
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "externalId" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "END_USER", "AGENT", "BOT" ]
                              },
                              "email" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "meta" : {
                            "required" : [ "DESK_TICKET_ID", "DESK_TICKET_NUMBER" ],
                            "properties" : {
                              "DESK_TICKET_ID" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "DESK_TICKET_NUMBER" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "replyStatus" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACCEPTED", "CHANNEL_INACTIVE", "SESSION_ENDED", "SESSION_BLOCKED", "SESSION_EXPIRED", "UNASSIGNED", "NOT_AN_ASSIGNEE" ]
                          },
                          "messagesCount" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "agentLastActiveTime" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "CREATED", "OPEN", "ON_PROGRESS", "ON_HOLD", "ENDED", "BLOCKED", "MISSED" ],
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Status filter for the conversations. Allowed values are @OPEN@, @ON_PROGRESS@ ,@ON_HOLD@ ,@BLOCKED@",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "hasMore" : { }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "agentId" : "78412824",
                        "lastActiveTime" : 1711094233000,
                        "contactId" : "186543000000451259",
                        "subject" : "This is test 2   Abhishek Aich",
                        "unreadMessagesCount" : "0",
                        "channel" : "TEST_WA_CHANNEL_4",
                        "integrationService" : "WHATSAPP",
                        "deskAssignee" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/186543000000190001/photo?orgId=78412359",
                          "botType" : null,
                          "contactName" : null,
                          "name" : "Abhishek Aich",
                          "externalId" : null,
                          "id" : "186543000000190001",
                          "type" : "AGENT",
                          "email" : "zykler.sales@zoho.com"
                        },
                        "contactLastActiveTime" : 1711086669000,
                        "actor" : {
                          "photoURL" : null,
                          "botType" : null,
                          "contactName" : "Abhishek Aich",
                          "name" : "Abhishek Aich",
                          "externalId" : "+918478935387",
                          "id" : "186543000000451285",
                          "type" : "ENDUSER",
                          "email" : null
                        },
                        "meta" : {
                          "DESK_TICKET_ID" : "186543000001662116",
                          "DESK_TICKET_NUMBER" : "480"
                        },
                        "createdTime" : 1711085659000,
                        "replyStatus" : "SESSION_EXPIRED",
                        "botId" : null,
                        "messagesCount" : "10",
                        "id" : "3942000001423083",
                        "channelId" : "3942000001423029",
                        "agentLastActiveTime" : 1711094233000,
                        "status" : "ON_PROGRESS"
                      }, {
                        "agentId" : "78412824",
                        "lastActiveTime" : 1711094223000,
                        "contactId" : "186543000000451259",
                        "subject" : "This is test 2   Abhishek Aich",
                        "unreadMessagesCount" : "0",
                        "channel" : "SANDBOX",
                        "integrationService" : "WHATSAPP",
                        "deskAssignee" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/186543000000190001/photo?orgId=78412359",
                          "botType" : null,
                          "contactName" : null,
                          "name" : "Abhishek Aich",
                          "externalId" : null,
                          "id" : "186543000000190001",
                          "type" : "AGENT",
                          "email" : "zykler.sales@zoho.com"
                        },
                        "contactLastActiveTime" : 1711012260000,
                        "actor" : {
                          "photoURL" : null,
                          "botType" : null,
                          "contactName" : "Abhishek Aich",
                          "name" : "Abhishek Aich",
                          "externalId" : "+918478935387",
                          "id" : "186543000000451285",
                          "type" : "ENDUSER",
                          "email" : null
                        },
                        "meta" : {
                          "DESK_TICKET_ID" : "186543000001653193",
                          "DESK_TICKET_NUMBER" : "477"
                        },
                        "createdTime" : 1693819815000,
                        "replyStatus" : "SESSION_EXPIRED",
                        "botId" : null,
                        "messagesCount" : "65",
                        "id" : "3942000000042104",
                        "channelId" : "3942000000045001",
                        "agentLastActiveTime" : 1711094223000,
                        "status" : "ON_PROGRESS"
                      }, {
                        "agentId" : "78412824",
                        "lastActiveTime" : 1711085558000,
                        "contactId" : "186543000000451259",
                        "subject" : "Hi good morning",
                        "unreadMessagesCount" : "0",
                        "channel" : "WA_CHANNEL",
                        "integrationService" : "WHATSAPP",
                        "deskAssignee" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/186543000000190001/photo?orgId=78412359",
                          "botType" : null,
                          "contactName" : null,
                          "name" : "Abhishek Aich",
                          "externalId" : null,
                          "id" : "186543000000190001",
                          "type" : "AGENT",
                          "email" : "zykler.sales@zoho.com"
                        },
                        "contactLastActiveTime" : 1711083846000,
                        "actor" : {
                          "photoURL" : null,
                          "botType" : null,
                          "contactName" : "Abhishek Aich",
                          "name" : "Abhishek Aich",
                          "externalId" : "+918478935387",
                          "id" : "186543000000451285",
                          "type" : "ENDUSER",
                          "email" : null
                        },
                        "meta" : {
                          "DESK_TICKET_ID" : "186543000001662009",
                          "DESK_TICKET_NUMBER" : "479"
                        },
                        "createdTime" : 1711083846000,
                        "replyStatus" : "CHANNEL_DELETED",
                        "botId" : null,
                        "messagesCount" : "5",
                        "id" : "3942000001422171",
                        "channelId" : "3942000001422011",
                        "agentLastActiveTime" : 1711085558000,
                        "status" : "ON_PROGRESS"
                      } ],
                      "hasMore" : false
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.InstantMessages.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 25,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "microservices",
          "apihash" : "8e629b6ea7966969b94a041a8f18d8ff",
          "module-group" : "im",
          "apimethod" : "com.zoho.support.restapi.im.IMSessionService.getSessions"
        }
      }
    },
    "/api/v1/im/sessions/{id}" : {
      "get" : {
        "tags" : [ "IM_Session" ],
        "summary" : "Get a session",
        "description" : "This API fetches details of an session.",
        "operationId" : "getSession",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getSession template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "actor", "agentId", "agentLastActiveTime", "channel", "contactId", "contactLastActiveTime", "createdTime", "deskAssignee", "id", "integrationService", "lastActiveTime", "messagesCount", "meta", "replyStatus", "status", "subject", "unreadMessagesCount" ],
                  "properties" : {
                    "agentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "lastActiveTime" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "contactId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "subject" : {
                      "maxLength" : 50000,
                      "minLength" : 0
                    },
                    "unreadMessagesCount" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "channel" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "integrationService" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "TELEGRAM", "TWILIO", "IM_TALK", "LINE", "WECHAT", "WHATSAPP", "FACEBOOKMESSENGER" ]
                    },
                    "deskAssignee" : {
                      "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "contactId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Filter conversations of a contact",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "contactName" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        },
                        "botType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "GC", "ZIA" ]
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "externalId" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "END_USER", "AGENT", "BOT" ]
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "contactLastActiveTime" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "actor" : {
                      "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "contactId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Filter conversations of a contact",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "contactName" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        },
                        "botType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "GC", "ZIA" ]
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "externalId" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "END_USER", "AGENT", "BOT" ]
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "meta" : {
                      "required" : [ "DESK_TICKET_ID", "DESK_TICKET_NUMBER" ],
                      "properties" : {
                        "DESK_TICKET_ID" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "DESK_TICKET_NUMBER" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "replyStatus" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ACCEPTED", "CHANNEL_INACTIVE", "SESSION_ENDED", "SESSION_BLOCKED", "SESSION_EXPIRED", "UNASSIGNED", "NOT_AN_ASSIGNEE" ]
                    },
                    "messagesCount" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "agentLastActiveTime" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "CREATED", "OPEN", "ON_PROGRESS", "ON_HOLD", "ENDED", "BLOCKED", "MISSED" ]
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "agentId" : "78412824",
                      "lastActiveTime" : 1711094233000,
                      "contactId" : "186543000000451259",
                      "subject" : "This is test 2   Abhishek Aich",
                      "unreadMessagesCount" : "0",
                      "channel" : "TEST_WA_CHANNEL_4",
                      "integrationService" : "WHATSAPP",
                      "deskAssignee" : {
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/186543000000190001/photo?orgId=78412359",
                        "botType" : null,
                        "contactName" : null,
                        "name" : "Abhishek Aich",
                        "externalId" : null,
                        "id" : "186543000000190001",
                        "type" : "AGENT",
                        "email" : "zykler.sales@zoho.com"
                      },
                      "contactLastActiveTime" : 1711086669000,
                      "actor" : {
                        "photoURL" : null,
                        "botType" : null,
                        "contactName" : "Abhishek Aich",
                        "name" : "Abhishek Aich",
                        "externalId" : "+918478935387",
                        "id" : "186543000000451285",
                        "type" : "ENDUSER",
                        "email" : null
                      },
                      "meta" : {
                        "DESK_TICKET_ID" : "186543000001662116",
                        "DESK_TICKET_NUMBER" : "480"
                      },
                      "createdTime" : 1711085659000,
                      "botId" : null,
                      "messagesCount" : "10",
                      "id" : "3942000001423083",
                      "channelId" : "3942000001423029",
                      "agentLastActiveTime" : 1711094233000,
                      "status" : "ON_PROGRESS"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "BAD_REQUEST",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.InstantMessages.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 25,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "microservices",
          "apihash" : "0e7418c8475c4ed4b2201f55f46d991b",
          "module-group" : "im",
          "apimethod" : "com.zoho.support.restapi.im.IMSessionService.getSession"
        }
      },
      "patch" : {
        "tags" : [ "IM_Session" ],
        "operationId" : "updateSession",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "agentId", "status" ],
                "properties" : {
                  "agentId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Current assignee of this session",
                    "format" : "int64"
                  },
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Current status of the session to be set. Possible values are @OPEN@, @ENDED@, @ON_PROGRESS@, @ON_HOLD@, @BLOCKED@",
                    "enum" : [ "OPEN", "ON_HOLD", "ENDED", "BLOCKED" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : null
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getSession template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "actor", "agentId", "agentLastActiveTime", "channel", "contactId", "contactLastActiveTime", "createdTime", "deskAssignee", "id", "integrationService", "lastActiveTime", "messagesCount", "meta", "replyStatus", "status", "subject", "unreadMessagesCount" ],
                  "properties" : {
                    "agentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "lastActiveTime" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "contactId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "subject" : {
                      "maxLength" : 50000,
                      "minLength" : 0
                    },
                    "unreadMessagesCount" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "channel" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "integrationService" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "TELEGRAM", "TWILIO", "IM_TALK", "LINE", "WECHAT", "WHATSAPP", "FACEBOOKMESSENGER" ]
                    },
                    "deskAssignee" : {
                      "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "contactId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Filter conversations of a contact",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "contactName" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        },
                        "botType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "GC", "ZIA" ]
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "externalId" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "END_USER", "AGENT", "BOT" ]
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "contactLastActiveTime" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "actor" : {
                      "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "contactId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Filter conversations of a contact",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "contactName" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        },
                        "botType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "GC", "ZIA" ]
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "externalId" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "END_USER", "AGENT", "BOT" ]
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "meta" : {
                      "required" : [ "DESK_TICKET_ID", "DESK_TICKET_NUMBER" ],
                      "properties" : {
                        "DESK_TICKET_ID" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "DESK_TICKET_NUMBER" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "replyStatus" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ACCEPTED", "CHANNEL_INACTIVE", "SESSION_ENDED", "SESSION_BLOCKED", "SESSION_EXPIRED", "UNASSIGNED", "NOT_AN_ASSIGNEE" ]
                    },
                    "messagesCount" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "agentLastActiveTime" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "CREATED", "OPEN", "ON_PROGRESS", "ON_HOLD", "ENDED", "BLOCKED", "MISSED" ]
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "agentId" : "78412824",
                      "lastActiveTime" : 1711094233000,
                      "contactId" : "186543000000451259",
                      "subject" : "This is test 2   Abhishek Aich",
                      "unreadMessagesCount" : "0",
                      "channel" : "TEST_WA_CHANNEL_4",
                      "integrationService" : "WHATSAPP",
                      "deskAssignee" : {
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/186543000000190001/photo?orgId=78412359",
                        "botType" : null,
                        "contactName" : null,
                        "name" : "Abhishek Aich",
                        "externalId" : null,
                        "id" : "186543000000190001",
                        "type" : "AGENT",
                        "email" : "zykler.sales@zoho.com"
                      },
                      "contactLastActiveTime" : 1711086669000,
                      "actor" : {
                        "photoURL" : null,
                        "botType" : null,
                        "contactName" : "Abhishek Aich",
                        "name" : "Abhishek Aich",
                        "externalId" : "+918478935387",
                        "id" : "186543000000451285",
                        "type" : "ENDUSER",
                        "email" : null
                      },
                      "meta" : {
                        "DESK_TICKET_ID" : "186543000001662116",
                        "DESK_TICKET_NUMBER" : "480"
                      },
                      "createdTime" : 1711085659000,
                      "botId" : null,
                      "messagesCount" : "10",
                      "id" : "3942000001423083",
                      "channelId" : "3942000001423029",
                      "agentLastActiveTime" : 1711094233000,
                      "status" : "ON_PROGRESS"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "BAD_REQUEST",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "microservices",
          "module-group" : "im",
          "apimethod" : "com.zoho.support.restapi.im.IMSessionService.updateSession"
        }
      }
    },
    "/api/v1/im/sessions/{id}/pickup" : {
      "post" : {
        "tags" : [ "IM_Session" ],
        "operationId" : "pickupSession",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getSession template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "actor", "agentId", "agentLastActiveTime", "channel", "contactId", "contactLastActiveTime", "createdTime", "deskAssignee", "id", "integrationService", "lastActiveTime", "messagesCount", "meta", "replyStatus", "status", "subject", "unreadMessagesCount" ],
                  "properties" : {
                    "agentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "lastActiveTime" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "contactId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "subject" : {
                      "maxLength" : 50000,
                      "minLength" : 0
                    },
                    "unreadMessagesCount" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "channel" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "integrationService" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "TELEGRAM", "TWILIO", "IM_TALK", "LINE", "WECHAT", "WHATSAPP", "FACEBOOKMESSENGER" ]
                    },
                    "deskAssignee" : {
                      "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "contactId" : {
[...]
