{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "IM_Search",
    "version" : "1.0.0",
    "x-clan-group" : "microservices",
    "x-module-group" : "im"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/im/messages/search" : {
      "get" : {
        "tags" : [ "IM_Search" ],
        "operationId" : "searchMessages",
        "parameters" : [ {
          "name" : "convoCreatedTimeRange",
          "in" : "query",
          "description" : "time range of conversation created",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z)),(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))|null",
            "description" : "time range of conversation created"
          }
        }, {
          "name" : "agentId",
          "in" : "query",
          "description" : "Agent zuid who sent the message",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Agent zuid who sent the message",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int32",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "Agent zuid who sent the message", false, 10, false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "convoName",
          "in" : "query",
          "description" : "Conversation name",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Conversation name",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)",
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "attachmentType",
          "in" : "query",
          "description" : "Filter messages based on attachmentType",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Filter messages based on attachmentType",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "Filter messages based on attachmentType", false, 10, false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "deskContactId",
          "in" : "query",
          "description" : "desk contact Ids from which the conversations must be fetched",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "desk contact Ids from which the conversations must be fetched",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "desk contact Ids from which the conversations must be fetched", false, 10, false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "createdTimeRange",
          "in" : "query",
          "description" : "Message ctime filter",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z)),(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))|null",
            "description" : "Message ctime filter"
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "Filter conversations of a channels in given department Id",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Filter conversations of a channels in given department Id",
            "format" : "int64"
          }
        }, {
          "name" : "contactProfileName",
          "in" : "query",
          "description" : "Contact Profile name to be fetched",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Contact Profile name to be fetched",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "Contact Profile name to be fetched", false, 10, false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "updatedTimeRange",
          "in" : "query",
          "description" : "message mtime filter",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z)),(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))|null",
            "description" : "message mtime filter"
          }
        }, {
          "name" : "channelType",
          "in" : "query",
          "description" : "Filter conversations with channelType",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Filter conversations with channelType",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "TELEGRAM", "TWILIO", "IM_TALK", "LINE", "WECHAT", "WHATSAPP", "FACEBOOKMESSENGER" ],
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "Filter conversations with channelType", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "sessionId",
          "in" : "query",
          "description" : "Filter conversations using conversation id",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Filter conversations using conversation id",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "Filter conversations using conversation id", false, 10, false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "message",
          "in" : "query",
          "description" : "Key to Search (Message text)",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Key to Search (Message text)",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "participantId",
          "in" : "query",
          "description" : "agentID for which the conversations must be fetched (Handle multiple Ids)",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "agentID for which the conversations must be fetched (Handle multiple Ids)",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int32",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "agentID for which the conversations must be fetched (Handle multiple Ids)", false, 10, false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "metaValue",
          "in" : "query",
          "description" : "Filter messages based on metaValue (CRMLEAD|1234, DESKTICKET|123458)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Filter messages based on metaValue (CRMLEAD|1234, DESKTICKET|123458)",
            "format" : "int64"
          }
        }, {
          "name" : "searchStr",
          "in" : "query",
          "description" : "Key to Search in all fields.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Key to Search in all fields.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)",
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "messageType",
          "in" : "query",
          "description" : "type of Messge to be fetched",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "type of Messge to be fetched",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "TEXT", "INFO", "ATTACHMENT", "LOCATION", "CAROUSEL" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "sort order",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "sort order",
            "enum" : [ "ASC", "DESC" ]
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of conversations to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number of conversations to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "metaType",
          "in" : "query",
          "description" : "Filter messages based on metaType (CF-1 to CF-20)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Filter messages based on metaType (CF-1 to CF-20)",
            "enum" : [ "DESK_TICKET_ID", "DESK_TICKET_NUMBER" ],
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the conversations must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the conversations must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "sort by column (To discuss which key to handle)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "sort by column (To discuss which key to handle)",
            "enum" : [ "CREATED_TIME", "STATUS_UPDATED_TIME" ]
          }
        }, {
          "name" : "attachmentName",
          "in" : "query",
          "description" : "Filter messages based on attachmentName",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Filter messages based on attachmentName",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "Filter messages based on attachmentName", false, 10, false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "channelId",
          "in" : "query",
          "description" : "Filter conversations of a channel using channel external id",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Filter conversations of a channel using channel external id",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "Filter conversations of a channel using channel external id", false, 10, false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "convoUpdatedTimeRange",
          "in" : "query",
          "description" : "time range of conversation update",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z)),(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))|null",
            "description" : "time range of conversation update"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "searchMessages template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data", "hasMore" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "additionalProperties" : { },
                        "allOf" : [ {
                          "required" : [ "actor", "attachment", "contentType", "createdTime", "direction", "displayMessage", "fullContentURL", "id", "index", "info", "isRead", "kbArticle", "location", "meta", "sessionId", "status", "statusUpdatedTime", "ticketWebUrl", "type" ],
                          "properties" : {
                            "kbArticle" : {
                              "required" : [ "createdTime", "id", "owner", "summary", "title", "translationId", "webUrl" ],
                              "properties" : {
                                "summary" : {
                                  "maxLength" : 65553,
                                  "minLength" : 0
                                },
                                "owner" : {
                                  "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                                  "properties" : {
                                    "photoURL" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    },
                                    "name" : {
                                      "maxLength" : 50,
                                      "minLength" : 0
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "status" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                                    },
                                    "zuid" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "translationId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "webUrl" : {
                                  "maxLength" : 500,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "createdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "title" : {
                                  "maxLength" : 500,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            },
                            "fullContentURL" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "isRead" : { },
                            "index" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9]+"
                            },
                            "sessionId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "TEXT", "INFO", "ATTACHMENT", "LOCATION", "TEMPLATE", "CAROUSEL", "LAYOUT" ]
                            },
                            "ticketWebUrl" : {
                              "maxLength" : 500,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "actor" : {
                              "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "contactId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64",
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "Filter conversations of a contact",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                },
                                "contactName" : {
                                  "maxLength" : 200,
                                  "minLength" : 0
                                },
                                "botType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "GC", "ZIA" ]
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "externalId" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "END_USER", "AGENT", "BOT" ]
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "displayMessage" : {
                              "maxLength" : 300,
                              "minLength" : 0
                            },
                            "attachment" : {
                              "required" : [ "id", "name", "size", "type", "url" ],
                              "properties" : {
                                "size" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[0-9]+"
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "url" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "meta" : {
                              "additionalProperties" : false,
                              "allOf" : [ {
                                "required" : [ "DESK_TICKET_ID", "DESK_TICKET_NUMBER" ],
                                "properties" : {
                                  "DESK_TICKET_ID" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "DESK_TICKET_NUMBER" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : false
                              }, {
                                "required" : [ "BOT_REPLY_STATUS", "COST", "DESK_KB_ARTICLE_TRANSLATION_ID", "GC_SELECTED", "GC_SKIPPED", "GC_TRANSFERRED", "RATING_STAR", "REACTION" ],
                                "properties" : {
                                  "BOT_REPLY_STATUS" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "GC_TRANSFERRED" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "COST" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "RATING_STAR" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "DESK_KB_ARTICLE_TRANSLATION_ID" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "REACTION" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "GC_SELECTED" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "GC_SKIPPED" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                }
                              } ]
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "statusUpdatedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "location" : {
                              "required" : [ "latitude", "longitude" ],
                              "properties" : {
                                "latitude" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "longitude" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "contentType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "text/html", "text/plain", "application/json" ]
                            },
                            "direction" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "IN", "OUT" ]
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "SAVED", "QUEUED", "SENT", "DELIVERED", "READ", "FAILED", "DELETED", "MISSED" ]
                            },
                            "info" : {
                              "required" : [ "action", "actor", "sessionStatus", "targets" ],
                              "properties" : {
                                "actor" : {
                                  "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                                  "properties" : {
                                    "photoURL" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    },
                                    "contactId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "Filter conversations of a contact",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    },
                                    "contactName" : {
                                      "maxLength" : 200,
                                      "minLength" : 0
                                    },
                                    "botType" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "GC", "ZIA" ]
                                    },
                                    "name" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "externalId" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "type" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "END_USER", "AGENT", "BOT" ]
                                    },
                                    "email" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "sessionStatus" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "CREATED", "OPEN", "ON_PROGRESS", "ON_HOLD", "ENDED", "BLOCKED", "MISSED" ]
                                },
                                "action" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "UN_IDENTIFIED", "END_SESSION", "BLOCK_SESSION", "UNBLOCK_SESSION", "CHAT_ACCEPT", "CHAT_REOPEN", "CHAT_TRANSFER", "ADD_PARTICIPANT", "REMOVE_PARTICIPANT" ]
                                },
                                "targets" : {
                                  "items" : {
                                    "additionalProperties" : false,
                                    "allOf" : [ {
                                      "required" : [ "email", "id", "name", "photoURL", "type", "zuid" ],
                                      "properties" : {
                                        "photoURL" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                        },
                                        "name" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "id" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        },
                                        "type" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "enum" : [ "END_USER", "AGENT", "BOT" ]
                                        },
                                        "email" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                        },
                                        "zuid" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int32"
                                        }
                                      },
                                      "additionalProperties" : false
                                    }, {
                                      "required" : [ "deskActorId" ],
                                      "properties" : {
                                        "deskActorId" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        }
                                      }
                                    } ]
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "replyToMessage", "session" ],
                          "properties" : {
                            "session" : {
                              "required" : [ "actor", "agentId", "agentLastActiveTime", "channel", "contactId", "contactLastActiveTime", "createdTime", "deskAssignee", "id", "integrationService", "lastActiveTime", "messagesCount", "meta", "replyStatus", "status", "subject", "unreadMessagesCount" ],
                              "properties" : {
                                "agentId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64",
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "Filter conversations assigned to an agent",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                },
                                "lastActiveTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "contactId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64",
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "Filter conversations of a contact",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                },
                                "subject" : {
                                  "maxLength" : 50000,
                                  "minLength" : 0
                                },
                                "unreadMessagesCount" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "channel" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "integrationService" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "TELEGRAM", "TWILIO", "IM_TALK", "LINE", "WECHAT", "WHATSAPP", "FACEBOOKMESSENGER" ]
                                },
                                "deskAssignee" : {
                                  "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                                  "properties" : {
                                    "photoURL" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    },
                                    "contactId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "Filter conversations of a contact",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    },
                                    "contactName" : {
                                      "maxLength" : 200,
                                      "minLength" : 0
                                    },
                                    "botType" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "GC", "ZIA" ]
                                    },
                                    "name" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "externalId" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "type" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "END_USER", "AGENT", "BOT" ]
                                    },
                                    "email" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "contactLastActiveTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "actor" : {
                                  "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                                  "properties" : {
                                    "photoURL" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    },
                                    "contactId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "Filter conversations of a contact",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    },
                                    "contactName" : {
                                      "maxLength" : 200,
                                      "minLength" : 0
                                    },
                                    "botType" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "GC", "ZIA" ]
                                    },
                                    "name" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "externalId" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "type" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "END_USER", "AGENT", "BOT" ]
                                    },
                                    "email" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "meta" : {
                                  "required" : [ "DESK_TICKET_ID", "DESK_TICKET_NUMBER" ],
                                  "properties" : {
                                    "DESK_TICKET_ID" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "DESK_TICKET_NUMBER" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "createdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "replyStatus" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "ACCEPTED", "CHANNEL_INACTIVE", "SESSION_ENDED", "SESSION_BLOCKED", "SESSION_EXPIRED", "UNASSIGNED", "NOT_AN_ASSIGNEE" ]
                                },
                                "messagesCount" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "agentLastActiveTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "status" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "CREATED", "OPEN", "ON_PROGRESS", "ON_HOLD", "ENDED", "BLOCKED", "MISSED" ],
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "Status filter for the conversations. Allowed values are @OPEN@, @ON_PROGRESS@ ,@ON_HOLD@ ,@BLOCKED@",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "split" : ",",
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                }
                              },
                              "additionalProperties" : false
                            },
                            "replyToMessage" : {
                              "additionalProperties" : false,
                              "allOf" : [ {
                                "required" : [ "actor", "attachment", "contentType", "createdTime", "direction", "displayMessage", "fullContentURL", "id", "index", "info", "isRead", "kbArticle", "location", "meta", "sessionId", "status", "statusUpdatedTime", "ticketWebUrl", "type" ],
                                "properties" : {
                                  "kbArticle" : {
                                    "required" : [ "createdTime", "id", "owner", "summary", "title", "translationId", "webUrl" ],
                                    "properties" : {
                                      "summary" : {
                                        "maxLength" : 65553,
                                        "minLength" : 0
                                      },
                                      "owner" : {
                                        "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                                        "properties" : {
                                          "photoURL" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                          },
                                          "name" : {
                                            "maxLength" : 50,
                                            "minLength" : 0
                                          },
                                          "id" : {
                                            "pattern" : "([0-9]+)",
                                            "format" : "int64"
                                          },
                                          "status" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                                          },
                                          "zuid" : {
                                            "pattern" : "([0-9]+)",
                                            "format" : "int32"
                                          }
                                        },
                                        "additionalProperties" : false
                                      },
                                      "translationId" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "webUrl" : {
                                        "maxLength" : 500,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      },
                                      "createdTime" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "title" : {
                                        "maxLength" : 500,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "fullContentURL" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  },
                                  "isRead" : { },
                                  "index" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9]+"
                                  },
                                  "sessionId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "type" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "TEXT", "INFO", "ATTACHMENT", "LOCATION", "TEMPLATE", "CAROUSEL", "LAYOUT" ]
                                  },
                                  "ticketWebUrl" : {
                                    "maxLength" : 500,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  },
                                  "actor" : {
                                    "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                                    "properties" : {
                                      "photoURL" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "contactId" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64",
                                        "x-custom-parameters-attributes" : {
                                          "removeExif" : false,
                                          "filterMatchedContent" : false,
                                          "antivirus" : false,
                                          "replacementString" : "",
                                          "allowInvalid" : false,
                                          "descrption" : "Filter conversations of a contact",
                                          "secret" : false,
                                          "preserveCharsLimit" : 10,
                                          "trim" : false,
                                          "internalParam" : false,
                                          "preserveChars" : "0,5",
                                          "importUrl" : false,
                                          "decrypt" : false
                                        }
                                      },
                                      "contactName" : {
                                        "maxLength" : 200,
                                        "minLength" : 0
                                      },
                                      "botType" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "GC", "ZIA" ]
                                      },
                                      "name" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "externalId" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "END_USER", "AGENT", "BOT" ]
                                      },
                                      "email" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "displayMessage" : {
                                    "maxLength" : 300,
                                    "minLength" : 0
                                  },
                                  "attachment" : {
                                    "required" : [ "id", "name", "size", "type", "url" ],
                                    "properties" : {
                                      "size" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "[0-9]+"
                                      },
                                      "name" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "url" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "meta" : {
                                    "additionalProperties" : false,
                                    "allOf" : [ {
                                      "required" : [ "DESK_TICKET_ID", "DESK_TICKET_NUMBER" ],
                                      "properties" : {
                                        "DESK_TICKET_ID" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        },
                                        "DESK_TICKET_NUMBER" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int32"
                                        }
                                      },
                                      "additionalProperties" : false
                                    }, {
                                      "required" : [ "BOT_REPLY_STATUS", "COST", "DESK_KB_ARTICLE_TRANSLATION_ID", "GC_SELECTED", "GC_SKIPPED", "GC_TRANSFERRED", "RATING_STAR", "REACTION" ],
                                      "properties" : {
                                        "BOT_REPLY_STATUS" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "GC_TRANSFERRED" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "COST" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "RATING_STAR" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "DESK_KB_ARTICLE_TRANSLATION_ID" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "REACTION" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "GC_SELECTED" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "GC_SKIPPED" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        }
                                      }
                                    } ]
                                  },
                                  "createdTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "statusUpdatedTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "location" : {
                                    "required" : [ "latitude", "longitude" ],
                                    "properties" : {
                                      "latitude" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "longitude" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "contentType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "text/html", "text/plain", "application/json" ]
                                  },
                                  "direction" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "IN", "OUT" ]
                                  },
                                  "status" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "SAVED", "QUEUED", "SENT", "DELIVERED", "READ", "FAILED", "DELETED", "MISSED" ]
                                  },
                                  "info" : {
                                    "required" : [ "action", "actor", "sessionStatus", "targets" ],
                                    "properties" : {
                                      "actor" : {
                                        "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                                        "properties" : {
                                          "photoURL" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                          },
                                          "contactId" : {
                                            "pattern" : "([0-9]+)",
                                            "format" : "int64",
                                            "x-custom-parameters-attributes" : {
                                              "removeExif" : false,
                                              "filterMatchedContent" : false,
                                              "antivirus" : false,
                                              "replacementString" : "",
                                              "allowInvalid" : false,
                                              "descrption" : "Filter conversations of a contact",
                                              "secret" : false,
                                              "preserveCharsLimit" : 10,
                                              "trim" : false,
                                              "internalParam" : false,
                                              "preserveChars" : "0,5",
                                              "importUrl" : false,
                                              "decrypt" : false
                                            }
                                          },
                                          "contactName" : {
                                            "maxLength" : 200,
                                            "minLength" : 0
                                          },
                                          "botType" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "enum" : [ "GC", "ZIA" ]
                                          },
                                          "name" : {
                                            "maxLength" : 100,
                                            "minLength" : 0
                                          },
                                          "externalId" : {
                                            "maxLength" : 100,
                                            "minLength" : 0
                                          },
                                          "id" : {
                                            "pattern" : "([0-9]+)",
                                            "format" : "int64"
                                          },
                                          "type" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "enum" : [ "END_USER", "AGENT", "BOT" ]
                                          },
                                          "email" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                          }
                                        },
                                        "additionalProperties" : false
                                      },
                                      "sessionStatus" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "CREATED", "OPEN", "ON_PROGRESS", "ON_HOLD", "ENDED", "BLOCKED", "MISSED" ]
                                      },
                                      "action" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "UN_IDENTIFIED", "END_SESSION", "BLOCK_SESSION", "UNBLOCK_SESSION", "CHAT_ACCEPT", "CHAT_REOPEN", "CHAT_TRANSFER", "ADD_PARTICIPANT", "REMOVE_PARTICIPANT" ]
                                      },
                                      "targets" : {
                                        "items" : {
                                          "additionalProperties" : false,
                                          "allOf" : [ {
                                            "required" : [ "email", "id", "name", "photoURL", "type", "zuid" ],
                                            "properties" : {
                                              "photoURL" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                              },
                                              "name" : {
                                                "maxLength" : 100,
                                                "minLength" : 0
                                              },
                                              "id" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              },
                                              "type" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "END_USER", "AGENT", "BOT" ]
                                              },
                                              "email" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                              },
                                              "zuid" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int32"
                                              }
                                            },
                                            "additionalProperties" : false
                                          }, {
                                            "required" : [ "deskActorId" ],
                                            "properties" : {
                                              "deskActorId" : {
                                                "pattern" : "([0-9]+)",
                                                "format" : "int64"
                                              }
                                            }
                                          } ]
                                        }
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                },
                                "additionalProperties" : false
                              }, {
                                "required" : [ "replyToMessage", "session" ],
                                "properties" : {
                                  "session" : {
                                    "required" : [ "actor", "agentId", "agentLastActiveTime", "channel", "contactId", "contactLastActiveTime", "createdTime", "deskAssignee", "id", "integrationService", "lastActiveTime", "messagesCount", "meta", "replyStatus", "status", "subject", "unreadMessagesCount" ],
                                    "properties" : {
                                      "agentId" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64",
                                        "x-custom-parameters-attributes" : {
                                          "removeExif" : false,
                                          "filterMatchedContent" : false,
                                          "antivirus" : false,
                                          "replacementString" : "",
                                          "allowInvalid" : false,
                                          "descrption" : "Filter conversations assigned to an agent",
                                          "secret" : false,
                                          "preserveCharsLimit" : 10,
                                          "trim" : false,
                                          "internalParam" : false,
                                          "preserveChars" : "0,5",
                                          "importUrl" : false,
                                          "decrypt" : false
                                        }
                                      },
                                      "lastActiveTime" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "contactId" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64",
                                        "x-custom-parameters-attributes" : {
                                          "removeExif" : false,
                                          "filterMatchedContent" : false,
                                          "antivirus" : false,
                                          "replacementString" : "",
                                          "allowInvalid" : false,
                                          "descrption" : "Filter conversations of a contact",
                                          "secret" : false,
                                          "preserveCharsLimit" : 10,
                                          "trim" : false,
                                          "internalParam" : false,
                                          "preserveChars" : "0,5",
                                          "importUrl" : false,
                                          "decrypt" : false
                                        }
                                      },
                                      "subject" : {
                                        "maxLength" : 50000,
                                        "minLength" : 0
                                      },
                                      "unreadMessagesCount" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "channel" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "integrationService" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "TELEGRAM", "TWILIO", "IM_TALK", "LINE", "WECHAT", "WHATSAPP", "FACEBOOKMESSENGER" ]
                                      },
                                      "deskAssignee" : {
                                        "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                                        "properties" : {
                                          "photoURL" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                          },
                                          "contactId" : {
                                            "pattern" : "([0-9]+)",
                                            "format" : "int64",
                                            "x-custom-parameters-attributes" : {
                                              "removeExif" : false,
                                              "filterMatchedContent" : false,
                                              "antivirus" : false,
                                              "replacementString" : "",
                                              "allowInvalid" : false,
                                              "descrption" : "Filter conversations of a contact",
                                              "secret" : false,
                                              "preserveCharsLimit" : 10,
                                              "trim" : false,
                                              "internalParam" : false,
                                              "preserveChars" : "0,5",
                                              "importUrl" : false,
                                              "decrypt" : false
                                            }
                                          },
                                          "contactName" : {
                                            "maxLength" : 200,
                                            "minLength" : 0
                                          },
                                          "botType" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "enum" : [ "GC", "ZIA" ]
                                          },
                                          "name" : {
                                            "maxLength" : 100,
                                            "minLength" : 0
                                          },
                                          "externalId" : {
                                            "maxLength" : 100,
                                            "minLength" : 0
                                          },
                                          "id" : {
                                            "pattern" : "([0-9]+)",
                                            "format" : "int64"
                                          },
                                          "type" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "enum" : [ "END_USER", "AGENT", "BOT" ]
                                          },
                                          "email" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                          }
                                        },
                                        "additionalProperties" : false
                                      },
                                      "contactLastActiveTime" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "actor" : {
                                        "required" : [ "botType", "contactId", "contactName", "email", "externalId", "id", "name", "photoURL", "type" ],
                                        "properties" : {
                                          "photoURL" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                          },
                                          "contactId" : {
                                            "pattern" : "([0-9]+)",
                                            "format" : "int64",
                                            "x-custom-parameters-attributes" : {
                                              "removeExif" : false,
                                              "filterMatchedContent" : false,
                                              "antivirus" : false,
                                              "replacementString" : "",
                                              "allowInvalid" : false,
                                              "descrption" : "Filter conversations of a contact",
                                              "secret" : false,
                                              "preserveCharsLimit" : 10,
                                              "trim" : false,
                                              "internalParam" : false,
                                              "preserveChars" : "0,5",
                                              "importUrl" : false,
                                              "decrypt" : false
                                            }
                                          },
                                          "contactName" : {
                                            "maxLength" : 200,
                                            "minLength" : 0
                                          },
                                          "botType" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "enum" : [ "GC", "ZIA" ]
                                          },
                                          "name" : {
                                            "maxLength" : 100,
                                            "minLength" : 0
                                          },
                                          "externalId" : {
                                            "maxLength" : 100,
                                            "minLength" : 0
                                          },
                                          "id" : {
                                            "pattern" : "([0-9]+)",
                                            "format" : "int64"
                                          },
                                          "type" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "enum" : [ "END_USER", "AGENT", "BOT" ]
                                          },
                                          "email" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                          }
                                        },
                                        "additionalProperties" : false
                                      },
                                      "meta" : {
                                        "required" : [ "DESK_TICKET_ID", "DESK_TICKET_NUMBER" ],
                                        "properties" : {
                                          "DESK_TICKET_ID" : {
                                            "pattern" : "([0-9]+)",
                                            "format" : "int64"
                                          },
                                          "DESK_TICKET_NUMBER" : {
                                            "pattern" : "([0-9]+)",
                                            "format" : "int32"
                                          }
                                        },
                                        "additionalProperties" : false
                                      },
                                      "createdTime" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "replyStatus" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "ACCEPTED", "CHANNEL_INACTIVE", "SESSION_ENDED", "SESSION_BLOCKED", "SESSION_EXPIRED", "UNASSIGNED", "NOT_AN_ASSIGNEE" ]
                                      },
                                      "messagesCount" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "agentLastActiveTime" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "status" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "CREATED", "OPEN", "ON_PROGRESS", "ON_HOLD", "ENDED", "BLOCKED", "MISSED" ],
                                        "x-custom-parameters-attributes" : {
                                          "removeExif" : false,
                                          "filterMatchedContent" : false,
                                          "antivirus" : false,
                                          "replacementString" : "",
                                          "allowInvalid" : false,
                                          "descrption" : "Status filter for the conversations. Allowed values are @OPEN@, @ON_PROGRESS@ ,@ON_HOLD@ ,@BLOCKED@",
                                          "secret" : false,
                                          "preserveCharsLimit" : 10,
                                          "split" : ",",
                                          "trim" : false,
                                          "internalParam" : false,
                                          "preserveChars" : "0,5",
                                          "importUrl" : false,
                                          "decrypt" : false
                                        }
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "replyToMessage" : {
                                    "additionalProperties" : false
                                  }
                                }
                              } ]
                            }
                          }
                        } ]
                      }
                    },
                    "hasMore" : { }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "BAD_REQUEST",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 30,
[...]
