{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Import",
    "version" : "1.0.0",
    "x-clan-group" : "reports",
    "x-module-group" : "import"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/importMappings" : {
      "post" : {
        "tags" : [ "Import" ],
        "summary" : "Get Import Mappings",
        "description" : "This API fetches entity id's for given external ids your help desk portal.",
        "operationId" : "getImportMappings",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "externalIds", "module", "scopeId" ],
                "properties" : {
                  "scopeId" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "^([0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12})$"
                  },
                  "module" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "accounts", "contacts", "tickets", "tasks", "calls", "events", "threads", "ticketComments", "kbRootCategories", "kbSections", "articles", "products", "taskComments", "callComments", "eventComments", "ticketTimeEntries", "taskTimeEntries", "callTimeEntries", "eventTimeEntries", "agents", "layouts", "departments", "fields" ]
                  },
                  "externalIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "scopeId" : "74da0304-e8e2-4f74-9da1-5359e4359d9a",
                    "module" : "tickets",
                    "externalIds" : [ "ticketLayout1", "ticketLayout3" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "importMappingResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "entityId", "externalId" ],
                        "properties" : {
                          "externalId" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                          },
                          "entityId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "externalId" : "ticketLayout1",
                        "entityId" : "6000000073007"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "0c2e5ab6451f1d57ed671c8433d1c178",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.ImportService.getImportMappings"
        }
      }
    },
    "/api/v1/imports/{importId}" : {
      "get" : {
        "tags" : [ "Import" ],
        "summary" : "Get Import",
        "description" : "This API fetches a single import info from your help desk portal.",
        "operationId" : "getImport",
        "parameters" : [ {
          "name" : "importId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "importResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorReportUrl", "hasError", "id", "importCompletedTime", "importInitiatedTime", "importedBy", "notifyUrl", "runAutomation", "scopeId", "status" ],
                  "properties" : {
                    "importInitiatedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "importCompletedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "scopeId" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^([0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12})$"
                    },
                    "runAutomation" : { },
                    "errorReportUrl" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "notifyUrl" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "hasError" : { },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "queued", "completed" ]
                    },
                    "importedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "importInitiatedTime" : "2018-12-17T06:40:57.109Z",
                      "importCompletedTime" : "2018-12-17T12:11:04.000Z",
                      "scopeId" : "7d69f2c6-1d6d-4a75-99d1-fafc4e4177a7",
                      "errorReportUrl" : "https://desk.zoho.com/api/v1/importErrorLog/4000000024001",
                      "runAutomation" : "false",
                      "notifyUrl" : null,
                      "hasError" : true,
                      "id" : "4000000024001",
                      "importedBy" : "4000000016079",
                      "status" : "completed"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "64d97e22ef3276d09290334679379d41",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.ImportService.getimportInfo"
        }
      }
    },
    "/api/v1/importRevert/{revertId}" : {
      "get" : {
        "tags" : [ "Import" ],
        "summary" : "Revert import status",
        "description" : "This API fetches status of import revert from your help desk portal.",
        "operationId" : "getRevertInfo",
        "parameters" : [ {
          "name" : "revertId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "importRevertResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "completedTime", "revertId", "revertedBy", "startTime", "status" ],
                  "properties" : {
                    "revertId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "revertedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "completedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "startTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "queued", "completed" ]
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "revertId" : "6000000075001",
                      "revertedBy" : "6000000000247",
                      "completedTime" : null,
                      "startTime" : "2019-07-17T14:00:32.000Z",
                      "status" : "QUEUED"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "151f596f7703ff047b45441e809de88f",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.ImportService.getImportRevertInfo"
        }
      }
    },
    "/api/v1/importRevert" : {
      "post" : {
        "tags" : [ "Import" ],
        "summary" : "Revert imports",
        "description" : "This API reverts the imported data for the specified scopeId.",
        "operationId" : "importRevert",
        "parameters" : [ {
          "name" : "scopeId",
          "in" : "query",
          "description" : "The ID is used to uniquely identify the Import scope, enabling multiple Import requests within the same scope. The purpose of the scopeId is to categorize external data under a specific classification. This categorization ensures that the parent-child relationship between entities is established only within the same category. The value of scopeId will be a UUID.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^([0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12})$",
            "description" : "The ID is used to uniquely identify the Import scope, enabling multiple Import requests within the same scope. The purpose of the scopeId is to categorize external data under a specific classification. This categorization ensures that the parent-child relationship between entities is established only within the same category. The value of scopeId will be a UUID."
          }
        }, {
          "name" : "modules",
          "in" : "query",
          "description" : "Modules for which the imported data should be reverted. The Allowed Modules are @accounts@,@contact@,@tickets@,@tasks@,@calls@,@events@,@threads@,@ticketComments@,@kbRootCategories@,@kbSections@,@articles@,@products@,@taskComments@,@callComments@,@eventComments@,@ticketTimeEntries@,@taskTimeEntries@,@callTimeEntries@,@eventTimeEntries@,@endusers@",
          "required" : true,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : false,
            "description" : "Modules for which the imported data should be reverted. The Allowed Modules are @accounts@,@contact@,@tickets@,@tasks@,@calls@,@events@,@threads@,@ticketComments@,@kbRootCategories@,@kbSections@,@articles@,@products@,@taskComments@,@callComments@,@eventComments@,@ticketTimeEntries@,@taskTimeEntries@,@callTimeEntries@,@eventTimeEntries@,@endusers@",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "attachments", "accounts", "contacts", "tickets", "tasks", "calls", "events", "threads", "ticketComments", "kbRootCategories", "kbSections", "articles", "products", "taskComments", "callComments", "eventComments", "ticketTimeEntries", "taskTimeEntries", "callTimeEntries", "eventTimeEntries" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "importRevertResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "completedTime", "revertId", "revertedBy", "startTime", "status" ],
                  "properties" : {
                    "revertId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "revertedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "completedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "startTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "queued", "completed" ]
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "revertId" : "6000000075001",
                      "revertedBy" : "6000000000247",
                      "completedTime" : null,
                      "startTime" : "2019-07-17T14:00:32.000Z",
                      "status" : "QUEUED"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 1800000,
                  "lock-period" : 600000,
                  "threshold" : 1,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 2,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 1200000,
                  "threshold" : 10,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "2bfb81b0345037a4fb68b34f87b4ee1b",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.ImportService.revertImport"
        }
      }
    },
    "/api/v1/imports" : {
      "post" : {
        "tags" : [ "Import" ],
        "summary" : "Create Import",
        "description" : "This API add a import entry under a given scope in your help desk portal.",
        "operationId" : "createImport",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "data", "scopeId" ],
                "properties" : {
                  "scopeId" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "^([0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12})$"
                  },
                  "data" : {
                    "required" : [ "accounts", "callComments", "calls", "contacts", "eventComments", "events", "taskComments", "tasks", "threads", "ticketComments", "tickets" ],
                    "properties" : {
                      "tickets" : {
                        "items" : {
                          "required" : [ "assigneeId", "category", "channel", "classification", "closedTime", "contactExtId", "contactId", "createdTime", "customFields", "departmentId", "description", "dueDate", "email", "modifiedTime", "phone", "priority", "productId", "resolution", "status", "subCategory", "subject", "ticketExtId" ],
                          "properties" : {
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "subCategory" : {
                              "x-dynamic-enum" : true
                            },
                            "contactExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "productId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "contactId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "customFields" : {
                              "additionalProperties" : false
                            },
                            "subject" : {
                              "maxLength" : 1000,
                              "minLength" : 0
                            },
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "dueDate" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "channel" : {
                              "x-dynamic-enum" : true
                            },
                            "description" : {
                              "maxLength" : 65535,
                              "minLength" : 0
                            },
                            "priority" : {
                              "x-dynamic-enum" : true
                            },
                            "classification" : {
                              "x-dynamic-enum" : true
                            },
                            "assigneeId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "resolution" : {
                              "maxLength" : 65535,
                              "minLength" : 0
                            },
                            "closedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "ticketExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "phone" : {
                              "maxLength" : 120,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "category" : {
                              "x-dynamic-enum" : true
                            },
                            "email" : {
                              "maxLength" : 150,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            },
                            "status" : {
                              "x-dynamic-enum" : true
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "ticketComments" : {
                        "items" : {
                          "required" : [ "commentExtId", "commentedTime", "commenterId", "content", "contentType", "isPublic", "modifiedTime", "ticketExtId" ],
                          "properties" : {
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "ticketExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "commentExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "commentedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "isPublic" : { },
                            "contentType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "plainText", "html" ]
                            },
                            "content" : {
                              "maxLength" : 32000,
                              "minLength" : 0
                            },
                            "commenterId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "calls" : {
                        "items" : {
                          "required" : [ "callExtId", "completedTime", "contactExtId", "contactId", "createdTime", "customFields", "departmentId", "description", "direction", "duration", "modifiedTime", "ownerId", "priority", "startTime", "status", "subject", "ticketExtId", "ticketId" ],
                          "properties" : {
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "contactExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "contactId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "customFields" : {
                              "additionalProperties" : false
                            },
                            "subject" : {
                              "maxLength" : 300,
                              "minLength" : 0
                            },
                            "completedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "callExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "description" : {
                              "maxLength" : 65535,
                              "minLength" : 0
                            },
                            "ownerId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "priority" : {
                              "x-dynamic-enum" : true
                            },
                            "duration" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "ticketExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "startTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "ticketId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Completed", "Scheduled", "Missed", "Canceled", "In Progress" ]
                            },
                            "direction" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "outbound", "inbound" ]
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "callComments" : {
                        "items" : {
                          "required" : [ "callExtId", "commentExtId", "commentedTime", "commenterId", "content", "contentType", "modifiedTime" ],
                          "properties" : {
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "commentExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "commentedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "callExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "contentType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "html", "plainText" ]
                            },
                            "content" : {
                              "maxLength" : 32000,
                              "minLength" : 0
                            },
                            "commenterId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "taskComments" : {
                        "items" : {
                          "required" : [ "commentExtId", "commentedTime", "commenterId", "content", "contentType", "modifiedTime", "taskExtId" ],
                          "properties" : {
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "commentExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "commentedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "taskExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "contentType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "html", "plainText" ]
                            },
                            "content" : {
                              "maxLength" : 32000,
                              "minLength" : 0
                            },
                            "commenterId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "threads" : {
                        "items" : {
                          "required" : [ "bcc", "cc", "channel", "content", "direction", "fromEmailAddress", "isPrivate", "receivedDateTime", "sentDateTime", "threadExtId", "ticketExtId", "to" ],
                          "properties" : {
                            "cc" : {
                              "maxLength" : 13000,
                              "minLength" : 0,
                              "pattern" : "(^((.*?)((<)*?[a-zA-Z0-9]([\\w\\-.+]*)@([\\w\\-.]*)(\\.[a-zA-Z]{2,22}(.[a-zA-Z]{2}){0,2})(>)*?(\\s)*((,|;)\\s*)?))+|^$)"
                            },
                            "ticketExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "receivedDateTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "bcc" : {
                              "maxLength" : 13000,
                              "minLength" : 0,
                              "pattern" : "(^((.*?)((<)*?[a-zA-Z0-9]([\\w\\-.+]*)@([\\w\\-.]*)(\\.[a-zA-Z]{2,22}(.[a-zA-Z]{2}){0,2})(>)*?(\\s)*((,|;)\\s*)?))+|^$)"
                            },
                            "channel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "EMAIL" ]
                            },
                            "isPrivate" : { },
                            "to" : {
                              "maxLength" : 13000,
                              "minLength" : 0,
                              "pattern" : "(^((.*?)((<)*?[a-zA-Z0-9]([\\w\\-.+]*)@([\\w\\-.]*)(\\.[a-zA-Z]{2,22}(.[a-zA-Z]{2}){0,2})(>)*?(\\s)*((,|;)\\s*)?))+|^$)"
                            },
                            "fromEmailAddress" : {
                              "maxLength" : 300,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            },
                            "sentDateTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "threadExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "content" : {
                              "maxLength" : 16000000,
                              "minLength" : 0
                            },
                            "direction" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "in", "out" ]
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "accounts" : {
                        "items" : {
                          "required" : [ "accountExtId", "accountName", "annualrevenue", "city", "code", "country", "createdTime", "customFields", "description", "email", "fax", "industry", "modifiedTime", "ownerId", "phone", "state", "street", "website" ],
                          "properties" : {
                            "country" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "website" : {
                              "maxLength" : 120,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "code" : {
                              "maxLength" : 30,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "accountName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "city" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "customFields" : {
                              "additionalProperties" : false
                            },
                            "description" : {
                              "maxLength" : 65535,
                              "minLength" : 0
                            },
                            "industry" : {
                              "maxLength" : 120,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "ownerId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "accountExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "phone" : {
                              "maxLength" : 30,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                            },
                            "street" : {
                              "maxLength" : 250,
                              "minLength" : 0
                            },
                            "annualrevenue" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "state" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "fax" : {
                              "maxLength" : 30,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                            },
                            "email" : {
                              "maxLength" : 255,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "contacts" : {
                        "items" : {
                          "required" : [ "accountExtId", "accountId", "city", "contactExtId", "country", "createdTime", "customFields", "description", "email", "facebook", "firstName", "lastName", "mobile", "modifiedTime", "ownerId", "phone", "secondaryEmail", "state", "street", "title", "twitter", "type", "zip" ],
                          "properties" : {
                            "zip" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "lastName" : {
                              "maxLength" : 200,
                              "minLength" : 0
                            },
                            "country" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "contactExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "secondaryEmail" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            },
                            "city" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "customFields" : {
                              "additionalProperties" : false
                            },
                            "facebook" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "mobile" : {
                              "maxLength" : 50,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                            },
                            "description" : {
                              "maxLength" : 65535,
                              "minLength" : 0
                            },
                            "title" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "type" : {
                              "x-dynamic-enum" : true
                            },
                            "ownerId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "accountExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "accountId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "firstName" : {
                              "maxLength" : 40,
                              "minLength" : 0
                            },
                            "twitter" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "phone" : {
                              "maxLength" : 50,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                            },
                            "street" : {
                              "maxLength" : 250,
                              "minLength" : 0
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "state" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "email" : {
                              "maxLength" : 255,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "tasks" : {
                        "items" : {
                          "required" : [ "completedTime", "contactExtId", "contactId", "createdTime", "customFields", "departmentId", "description", "dueDate", "modifiedTime", "ownerId", "priority", "status", "subject", "taskExtId", "ticketExtId", "ticketId" ],
                          "properties" : {
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "contactExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "contactId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "customFields" : {
                              "additionalProperties" : false
                            },
                            "subject" : {
                              "maxLength" : 300,
                              "minLength" : 0
                            },
                            "completedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "dueDate" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "description" : {
                              "maxLength" : 65535,
                              "minLength" : 0
                            },
                            "taskExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "ownerId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "priority" : {
                              "x-dynamic-enum" : true
                            },
                            "ticketExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "ticketId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "status" : {
                              "x-dynamic-enum" : true
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "events" : {
                        "items" : {
                          "required" : [ "category", "completedTime", "contactExtId", "contactId", "createdTime", "customFields", "departmentId", "description", "duration", "eventExtId", "modifiedTime", "ownerId", "priority", "startTime", "status", "subject", "ticketExtId", "ticketId" ],
                          "properties" : {
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "contactExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "contactId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "customFields" : {
                              "additionalProperties" : false
                            },
                            "subject" : {
                              "maxLength" : 300,
                              "minLength" : 0
                            },
                            "completedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "description" : {
                              "maxLength" : 65535,
                              "minLength" : 0
                            },
                            "ownerId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "priority" : {
                              "x-dynamic-enum" : true
                            },
                            "duration" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "ticketExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "startTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "category" : {
                              "maxLength" : 120,
                              "minLength" : 0
                            },
                            "eventExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "ticketId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "status" : {
                              "x-dynamic-enum" : true
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "eventComments" : {
                        "items" : {
                          "required" : [ "commentExtId", "commentedTime", "commenterId", "content", "contentType", "eventExtId", "modifiedTime" ],
                          "properties" : {
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "commentExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "commentedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "eventExtId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
                            },
                            "contentType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "html", "plainText" ]
                            },
                            "content" : {
                              "maxLength" : 32000,
                              "minLength" : 0
                            },
                            "commenterId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "runAutomation" : { }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "scopeId" : "7d69f2c6-1d6d-4a75-99d1-fafc4e4177a7",
                    "data" : {
                      "endusers" : [ {
                        "firstName" : "John",
                        "lastName" : "Abraham",
                        "phone" : null,
                        "city" : null,
                        "displayName" : "John",
                        "mobile" : null,
                        "timeZone" : "Asia/Kolkata",
                        "endUserExtId" : "14091310393191",
                        "countryLocale" : "en_US",
                        "helpCenterId" : "894114121213421",
                        "email" : [ {
                          "emailAddress" : "john.ab@zylker.com",
                          "isPrimary" : "true"
                        } ],
                        "status" : "ACTIVE"
                      } ],
                      "tickets" : [ {
                        "modifiedTime" : "2016-10-12T06:57:38.000Z",
                        "subCategory" : null,
                        "contactExtId" : "externalContact1",
                        "productId" : null,
                        "contactId" : null,
                        "subject" : "Here's your first import ticket1.",
                        "departmentId" : "1000000012806",
                        "channel" : "Email",
                        "priority" : null,
                        "assigneeId" : "1000000016086",
                        "tags" : [ "meenakshi" ],
                        "ticketExtId" : "externalTicket1",
                        "phone" : "1 888 900 9646",
                        "createdTime" : "2019-07-17T14:00:32.000Z",
                        "category" : null,
                        "email" : "testmail@zylker.com",
                        "status" : "Open"
                      }, {
                        "modifiedTime" : "2016-10-12T06:57:38.000Z",
                        "subCategory" : null,
                        "contactExtId" : null,
                        "productId" : null,
                        "contactId" : 5000000016426,
                        "subject" : "Here's your first import ticket2.",
                        "departmentId" : "1000000012806",
                        "channel" : "Email",
                        "priority" : null,
                        "assigneeId" : "1000000016086",
                        "tags" : [ "meenakshi" ],
                        "ticketExtId" : "externalTicket2",
                        "phone" : "1 888 900 9646",
                        "createdTime" : "2019-07-17T14:00:32.000Z",
                        "category" : null,
                        "email" : "testmail123@zylker.com",
                        "status" : "Open"
                      } ],
                      "kbRootCategories" : [ {
                        "isReviewEnabled" : "false",
                        "visibility" : "NONE",
                        "articleViewType" : "LISTVIEW",
                        "translations" : [ {
                          "name" : "Import sdcwed 1289",
                          "locale" : "en_US",
                          "permalink" : "importis1289"
                        } ],
                        "name" : "Import RootCatesdcwedgory 1289",
                        "description" : "sdcwed data 7812899",
                        "primaryDepartmentExtId" : "1000000025808",
                        "kbRootCategoryExtId" : "1289",
                        "status" : "SHOW_IN_HELPCENTER",
                        "associatedDepartmentIds" : [ "1000000025808", "1000000069588" ]
                      } ],
                      "accounts" : [ {
                        "modifiedTime" : "2016-10-12T06:57:38.000Z",
                        "country" : "0country",
                        "website" : "www.test0.com",
                        "accountName" : "externalAccount-1",
                        "city" : "0city",
                        "customFields" : { },
                        "description" : "import account",
                        "industry" : "0industry",
                        "accountExtId" : "externalAccount-1",
                        "phone" : "+123 0",
                        "street" : "0street",
                        "createdTime" : "2016-08-12T06:57:38.000Z",
                        "state" : "0state",
                        "fax" : "+111 0",
                        "email" : "02email@zylker.com"
                      } ],
                      "contacts" : [ {
                        "zip" : 94588,
                        "lastName" : " lastname 02",
                        "country" : "India",
                        "modifiedTime" : "2016-10-12T06:57:38.000Z",
                        "contactExtId" : "externalContactWithExternalAccount-1",
                        "secondaryEmail" : "00secondaryemail@zylker.com",
                        "city" : "0city",
                        "customFields" : { },
                        "facebook" : "testfacebook",
                        "mobile" : null,
                        "description" : "test contact for Import",
                        "title" : "Customer Support Executive",
                        "type" : null,
                        "accountExtId" : "externalAccount-1",
                        "accountId" : null,
                        "firstName" : null,
                        "twitter" : "testTwitter",
                        "phone" : "+1111 0",
                        "street" : "0street",
                        "createdTime" : "2016-08-12T06:57:38.000Z",
                        "state" : "0state",
                        "email" : "00email@zylker.com"
                      }, {
                        "zip" : 94588,
                        "lastName" : " lastname 03",
                        "country" : "India",
                        "modifiedTime" : "2016-10-12T06:57:38.000Z",
                        "contactExtId" : "externalContactWithDeskAccount",
                        "secondaryEmail" : "03secondaryemail@zylker.com",
                        "city" : "03city",
                        "customFields" : { },
                        "facebook" : "testfacebook",
                        "mobile" : null,
                        "description" : "test contact for Import",
                        "title" : "Customer Support Executive",
                        "type" : null,
                        "accountExtId" : null,
                        "accountId" : "359876756",
                        "firstName" : null,
                        "twitter" : "testTwitter",
                        "phone" : "+1111 03",
                        "street" : "03street",
                        "createdTime" : "2016-08-12T06:57:38.000Z",
                        "state" : "03state",
                        "email" : "03email@zylker.com"
                      } ]
                    },
                    "runAutomation" : true
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "importResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorReportUrl", "hasError", "id", "importCompletedTime", "importInitiatedTime", "importedBy", "notifyUrl", "runAutomation", "scopeId", "status" ],
                  "properties" : {
                    "importInitiatedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "importCompletedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "scopeId" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^([0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12})$"
                    },
                    "runAutomation" : { },
                    "errorReportUrl" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "notifyUrl" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "hasError" : { },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "queued", "completed" ]
                    },
                    "importedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "importInitiatedTime" : "2018-12-17T06:40:57.109Z",
                      "importCompletedTime" : "2018-12-17T12:11:04.000Z",
                      "scopeId" : "7d69f2c6-1d6d-4a75-99d1-fafc4e4177a7",
                      "errorReportUrl" : "https://desk.zoho.com/api/v1/importErrorLog/4000000024001",
                      "runAutomation" : "false",
                      "notifyUrl" : null,
                      "hasError" : true,
                      "id" : "4000000024001",
                      "importedBy" : "4000000016079",
                      "status" : "completed"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.imports.CUSTOM" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 120000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "9e7e077681b5c79621b0b07893ffecb2",
          "module-group" : "import",
          "apimethod" : "com.zoho.support.restapi.ImportService.addImportEntry"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "importMappingDataObject" : {
        "required" : [ "entityId", "externalId" ],
        "properties" : {
          "externalId" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
          },
          "entityId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "importMappingData" : {
        "items" : {
          "required" : [ "entityId", "externalId" ],
          "properties" : {
            "externalId" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
            },
            "entityId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "additionalProperties" : false
        }
      },
      "contacts" : {
        "required" : [ "accountExtId", "accountId", "city", "contactExtId", "country", "createdTime", "customFields", "description", "email", "facebook", "firstName", "lastName", "mobile", "modifiedTime", "ownerId", "phone", "secondaryEmail", "state", "street", "title", "twitter", "type", "zip" ],
        "properties" : {
          "zip" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "lastName" : {
            "maxLength" : 200,
            "minLength" : 0
          },
          "country" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "modifiedTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "contactExtId" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
          },
          "secondaryEmail" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
          },
          "city" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "customFields" : {
            "additionalProperties" : { }
          },
          "facebook" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "mobile" : {
            "maxLength" : 50,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
          },
          "description" : {
            "maxLength" : 65535,
            "minLength" : 0
          },
          "title" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "type" : {
            "x-dynamic-enum" : true
          },
          "ownerId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "accountExtId" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
          },
          "accountId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "firstName" : {
            "maxLength" : 40,
            "minLength" : 0
          },
          "twitter" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "phone" : {
            "maxLength" : 50,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
          },
          "street" : {
            "maxLength" : 250,
            "minLength" : 0
          },
          "createdTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "state" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "email" : {
            "maxLength" : 255,
            "minLength" : 0,
            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
          }
        },
        "additionalProperties" : { }
      },
      "contactData" : {
        "items" : {
          "required" : [ "accountExtId", "accountId", "city", "contactExtId", "country", "createdTime", "customFields", "description", "email", "facebook", "firstName", "lastName", "mobile", "modifiedTime", "ownerId", "phone", "secondaryEmail", "state", "street", "title", "twitter", "type", "zip" ],
          "properties" : {
            "zip" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "lastName" : {
              "maxLength" : 200,
              "minLength" : 0
            },
            "country" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "modifiedTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "contactExtId" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
            },
            "secondaryEmail" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
            },
            "city" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "customFields" : {
              "additionalProperties" : false
            },
            "facebook" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
            },
            "mobile" : {
              "maxLength" : 50,
              "minLength" : 0,
              "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
            },
            "description" : {
              "maxLength" : 65535,
              "minLength" : 0
            },
            "title" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "type" : {
              "x-dynamic-enum" : true
            },
            "ownerId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "accountExtId" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
            },
            "accountId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "firstName" : {
              "maxLength" : 40,
              "minLength" : 0
            },
            "twitter" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
            },
            "phone" : {
              "maxLength" : 50,
              "minLength" : 0,
              "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
            },
            "street" : {
              "maxLength" : 250,
              "minLength" : 0
            },
            "createdTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "state" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "email" : {
              "maxLength" : 255,
              "minLength" : 0,
              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
            }
          },
          "additionalProperties" : false
        }
      },
      "accounts" : {
        "required" : [ "accountExtId", "accountName", "annualrevenue", "city", "code", "country", "createdTime", "customFields", "description", "email", "fax", "industry", "modifiedTime", "ownerId", "phone", "state", "street", "website" ],
        "properties" : {
          "country" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "modifiedTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "website" : {
            "maxLength" : 120,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "code" : {
            "maxLength" : 30,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "accountName" : {
            "maxLength" : 200,
            "minLength" : 0
          },
          "city" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "customFields" : {
            "additionalProperties" : { }
          },
          "description" : {
            "maxLength" : 65535,
            "minLength" : 0
          },
          "industry" : {
            "maxLength" : 120,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "ownerId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "accountExtId" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[A-Za-z0-9@\\$&+\\:\\.\\{\\}\\(\\)#\\-]+"
          },
          "phone" : {
            "maxLength" : 30,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
          },
          "street" : {
            "maxLength" : 250,
            "minLength" : 0
          },
          "annualrevenue" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9]{1,13}(\\.[0-9]*)?)"
          },
          "createdTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "state" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "fax" : {
            "maxLength" : 30,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
          },
          "email" : {
            "maxLength" : 255,
            "minLength" : 0,
            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
          }
        },
        "additionalProperties" : { }
      },
      "accountData" : {
        "items" : {
[...]
