{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Integrations",
    "version" : "1.0.0",
    "x-clan-group" : "reports",
    "x-module-group" : "reports"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/integrations/info" : {
      "get" : {
        "tags" : [ "Integrations" ],
        "summary" : "Get integrations basic info",
        "description" : "Get integrations basic info by type",
        "operationId" : "getAvailableIntegrationsInfo",
        "parameters" : [ {
          "name" : "type",
          "in" : "query",
          "description" : "To filter the integrations by their type",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "To filter the integrations by their type",
            "enum" : [ "zoho", "microsoft", "others" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "integrationsInfoResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "integrations" ],
                  "properties" : {
                    "integrations" : {
                      "items" : {
                        "required" : [ "apiName", "displayName", "label", "visibility" ],
                        "properties" : {
                          "apiName" : {
                            "maxLength" : 300,
                            "minLength" : 0
                          },
                          "visibility" : {
                            "maxLength" : 300,
                            "minLength" : 0
                          },
                          "displayName" : {
                            "maxLength" : 300,
                            "minLength" : 0
                          },
                          "label" : {
                            "maxLength" : 300,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "integrations" : [ {
                        "apiName" : "Zohocrm",
                        "visibility" : true,
                        "displayName" : "Zoho CRM",
                        "label" : "Enabled",
                        "status" : "enabled"
                      }, {
                        "apiName" : "Zohobugtracker",
                        "visibility" : true,
                        "displayName" : "Zoho BugTracker",
                        "label" : "Enabled",
                        "status" : "enabled"
                      }, {
                        "apiName" : "Zohoprojects",
                        "visibility" : true,
                        "displayName" : "Zoho Projects",
                        "label" : "",
                        "status" : ""
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 300,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "iscscope" : [ "SupCrmAPI" ]
            }
          },
          "clan-group" : "integration",
          "apihash" : "a23571e5ec075efd8433307beea08e1c",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.IntegrationsService.getAvailableIntegrationsInfo"
        }
      }
    },
    "/api/v1/integrations/agentstudio" : {
      "get" : {
        "tags" : [ "Integrations" ],
        "summary" : "Get Agent Studio Integration Status",
        "description" : "Checks whether Agent Studio integration is currently enabled.",
        "operationId" : "getAgentStudioIntegrationStatus",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns the Agent Studio integration status.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "isIntegrationEnabled" ],
                  "properties" : {
                    "isIntegrationEnabled" : {
                      "description" : "Indicates whether Agent Studio integration is enabled.",
                      "example" : true
                    },
                    "createdBy" : {
                      "description" : "The Agent ID of the user who created the integration.",
                      "example" : "9222000000002097"
                    }
                  },
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "integrations.READ" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "business-unit-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 300,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            }
          },
          "clan-group" : "integration",
          "apihash" : "18b6fdd045be72bab0285fc09cc3bd74",
          "module-group" : "integration",
          "apimethod" : "com.zoho.desk.integ.agentstudio.restapi.AgentStudioService.getIntegration"
        }
      },
      "post" : {
        "tags" : [ "Integrations" ],
        "summary" : "Create Agent Studio Integration",
        "description" : "Creates an integration for Agent Studio. Admin privileges are required.",
        "operationId" : "createAgentStudioIntegration",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Integration created successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "status" ],
                  "properties" : {
                    "status" : {
                      "maxLength" : 20,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Success response" : {
                    "value" : {
                      "status" : "success"
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "409" : {
            "description" : "Integration failed response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "message", "status" ],
                  "properties" : {
                    "status" : {
                      "maxLength" : 20,
                      "minLength" : 0
                    },
                    "message" : {
                      "maxLength" : 200,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Error response" : {
                    "value" : {
                      "status" : "error",
                      "message" : "Some error message here."
                    }
                  }
                }
              }
            }
          },
          "424" : {
            "description" : "Integration failed response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "message", "status" ],
                  "properties" : {
                    "status" : {
                      "maxLength" : 20,
                      "minLength" : 0
                    },
                    "message" : {
                      "maxLength" : 200,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Error response" : {
                    "value" : {
                      "status" : "error",
                      "message" : "Some error message here."
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "integrations.CREATE" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "business-unit-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            }
          },
          "clan-group" : "integration",
          "apihash" : "9cff29de69376603ba3c3e3db586c4d2",
          "module-group" : "integration",
          "apimethod" : "com.zoho.desk.integ.agentstudio.restapi.AgentStudioService.createIntegration"
        }
      }
    },
    "/api/v1/integrations/agentstudio/agents" : {
      "get" : {
        "tags" : [ "Integrations" ],
        "summary" : "Get Predefined Agents",
        "description" : "Retrieves a list of predefined agents available for Agent Studio integration.",
        "operationId" : "getPredefinedAgentStudioAgents",
        "parameters" : [ {
          "name" : "view",
          "in" : "query",
          "description" : "Specifies the response format for agent details. Use 'detailed' to get complete agent configurations and metadata, or 'summary' for a concise overview.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Specifies the response format for agent details. Use 'detailed' to get complete agent configurations and metadata, or 'summary' for a concise overview.",
            "enum" : [ "detailed" ]
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "To Paginate agents",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "To Paginate agents"
          }
        }, {
          "name" : "agentState",
          "in" : "query",
          "description" : "To fetch agents by its state",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "To fetch agents by its state",
            "enum" : [ "deployed", "not-deployed" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of predefined agents available for Agent Studio integration.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "properties" : {
                    "status" : {
                      "example" : "success"
                    },
                    "agents" : {
                      "items" : {
                        "required" : [ "agentName", "description", "isUpcoming", "tags" ],
                        "properties" : {
                          "templateName" : {
                            "example" : "zoho_desk_resolution_expert_agent"
                          },
                          "agentName" : {
                            "example" : "Resolution Expert"
                          },
                          "description" : {
                            "example" : "Documents ticket resolutions..."
                          },
                          "agentMode" : {
                            "example" : "async"
                          },
                          "roleName" : {
                            "example" : "A virtual support agent specialized in..."
                          },
                          "guidelines" : {
                            "example" : "You are “Resolution Expert,” an AI Agent that..."
                          },
                          "actions" : {
                            "items" : {
                              "required" : [ "description", "displayName" ],
                              "properties" : {
                                "displayName" : {
                                  "example" : "Ticket View"
                                },
                                "description" : {
                                  "example" : "Access all tickets in the help desk"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "additionalProperties" : { }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "integrations.READ" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "business-unit-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 300,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            }
          },
          "clan-group" : "integration",
          "apihash" : "fac1802891876b57340236124470403a",
          "module-group" : "integration",
          "apimethod" : "com.zoho.desk.integ.agentstudio.restapi.AgentStudioService.getAgents"
        }
      },
      "post" : {
        "tags" : [ "Integrations" ],
        "summary" : "Get Predefined Agent Deploy Url",
        "description" : "Retrieves deployUrl of a predefined agent from a given template in Agent Studio.",
        "operationId" : "getPredefinedAgentStudioAgentsDeployUrl",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "agentTemplateName" ],
                "properties" : {
                  "agentTemplateName" : {
                    "description" : "Unique name of the agent template to instantiate.",
                    "example" : "zoho_desk_resolution_expert_agent"
                  }
                },
                "additionalProperties" : { }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns details of the predefined agent to be hired.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "agent", "status" ],
                  "properties" : {
                    "agent" : {
                      "required" : [ "agentId", "agentName", "deployUrl", "deploymentState", "zuid" ],
                      "properties" : {
                        "deploymentState" : {
                          "example" : "active"
                        },
                        "agentId" : {
                          "example" : "9222000000002097"
                        },
                        "deployUrl" : {
                          "format" : "uri",
                          "example" : "https://ziaagents.zoho.com/108223615/agents/details/9222000000002097?signature=..."
                        },
                        "agentName" : {
                          "example" : "Resolution Expert"
                        },
                        "zuid" : {
                          "example" : 108224011
                        }
                      }
                    },
                    "status" : {
                      "example" : "success"
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "BAD_REQUEST",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "integrations.CREATE" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "business-unit-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 300,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            }
          },
          "clan-group" : "integration",
          "apihash" : "707d5c4d50cb340d052553755dc75ac8",
          "module-group" : "integration",
          "apimethod" : "com.zoho.desk.integ.agentstudio.restapi.AgentStudioService.hireAgent"
        }
      }
    },
    "/api/v1/integrations" : {
      "get" : {
        "tags" : [ "Integrations" ],
        "summary" : "Get  Integrarion Status Details",
        "description" : "This API returns available Integrations for a particular Portal",
        "operationId" : "getAvailableIntegrations",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getAvailableIntegrationsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "ASSIST", "BIGIN", "BOOKS", "BUG", "CHAT", "CLIQ", "CLOUD_ATTACHMENTS", "CRM", "INVENTORY", "INVOICE", "JIRA", "LENS", "MAIL", "MICROSOFT_SSO", "REPORTS", "SALESFORCE", "SLACK", "SUBSCRIPTIONS", "isCrmIntegrated" ],
                  "properties" : {
                    "BIGIN" : {
                      "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                      "properties" : {
                        "IS_SUPPORTED" : { },
                        "installedOn" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "MICROSOFT_SSO" : {
                      "required" : [ "IS_SUPPORTED", "installedOn", "isSSOUser", "status" ],
                      "properties" : {
                        "isSSOUser" : { },
                        "IS_SUPPORTED" : { },
                        "installedOn" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "SUBSCRIPTIONS" : {
                      "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                      "properties" : {
                        "IS_SUPPORTED" : { },
                        "installedOn" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "SLACK" : {
                      "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                      "properties" : {
                        "IS_SUPPORTED" : { },
                        "installedOn" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "CHAT" : {
                      "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                      "properties" : {
                        "IS_SUPPORTED" : { },
                        "installedOn" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "SALESFORCE" : {
                      "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                      "properties" : {
                        "IS_SUPPORTED" : { },
                        "installedOn" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "ASSIST" : {
                      "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                      "properties" : {
                        "IS_SUPPORTED" : { },
                        "installedOn" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "JIRA" : {
                      "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                      "properties" : {
                        "IS_SUPPORTED" : { },
                        "installedOn" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "INVOICE" : {
                      "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                      "properties" : {
                        "IS_SUPPORTED" : { },
                        "installedOn" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "BOOKS" : {
                      "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                      "properties" : {
                        "IS_SUPPORTED" : { },
                        "installedOn" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "CLIQ" : {
                      "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                      "properties" : {
                        "IS_SUPPORTED" : { },
                        "installedOn" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "isCrmIntegrated" : { },
                    "INVENTORY" : {
                      "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                      "properties" : {
                        "IS_SUPPORTED" : { },
                        "installedOn" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "MAIL" : {
                      "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                      "properties" : {
                        "IS_SUPPORTED" : { },
                        "installedOn" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "BUG" : {
                      "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                      "properties" : {
                        "IS_SUPPORTED" : { },
                        "installedOn" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "REPORTS" : {
                      "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                      "properties" : {
                        "IS_SUPPORTED" : { },
                        "installedOn" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "CLOUD_ATTACHMENTS" : {
                      "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                      "properties" : {
                        "IS_SUPPORTED" : { },
                        "installedOn" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "LENS" : {
                      "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                      "properties" : {
                        "IS_SUPPORTED" : { },
                        "installedOn" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "CRM" : {
                      "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                      "properties" : {
                        "IS_SUPPORTED" : { },
                        "installedOn" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "BIGIN" : {
                        "IS_SUPPORTED" : true,
                        "installedOn" : 1569941199000,
                        "status" : "enabled"
                      },
                      "MICROSOFT_SSO" : {
                        "isSSOUser" : false,
                        "IS_SUPPORTED" : true,
                        "installedOn" : 1569941199000,
                        "status" : "not Configured"
                      },
                      "SUBSCRIPTIONS" : {
                        "IS_SUPPORTED" : true,
                        "installedOn" : "",
                        "status" : "not Configured"
                      },
                      "SLACK" : {
                        "IS_SUPPORTED" : true,
                        "installedOn" : "",
                        "status" : ""
                      },
                      "CHAT" : {
                        "IS_SUPPORTED" : true,
                        "installedOn" : "",
                        "status" : "not Configured"
                      },
                      "ASSIST" : {
                        "IS_SUPPORTED" : true,
                        "installedOn" : 1569941199000,
                        "status" : "enabled"
                      },
                      "JIRA" : {
                        "IS_SUPPORTED" : true,
                        "installedOn" : "",
                        "status" : "not Configured"
                      },
                      "INVOICE" : {
                        "IS_SUPPORTED" : true,
                        "installedOn" : "",
                        "status" : "not Configured"
                      },
                      "BOOKS" : {
                        "IS_SUPPORTED" : true,
                        "installedOn" : "",
                        "status" : "not Configured"
                      },
                      "CLIQ" : {
                        "IS_SUPPORTED" : true,
                        "installedOn" : "",
                        "status" : "not Configured"
                      },
                      "isCrmIntegrated" : true,
                      "MAIL" : {
                        "IS_SUPPORTED" : true,
                        "installedOn" : 1569941199000,
                        "status" : "enabled"
                      },
                      "INVENTORY" : {
                        "IS_SUPPORTED" : true,
                        "installedOn" : "",
                        "status" : "not Configured"
                      },
                      "BUG" : {
                        "IS_SUPPORTED" : true,
                        "installedOn" : "",
                        "status" : "not Configured"
                      },
                      "REPORTS" : {
                        "IS_SUPPORTED" : true,
                        "installedOn" : "",
                        "status" : "not Configured"
                      },
                      "CLOUD_ATTACHMENTS" : {
                        "IS_SUPPORTED" : true,
                        "installedOn" : "",
                        "status" : "enabled"
                      },
                      "CRM" : {
                        "IS_SUPPORTED" : true,
                        "installedOn" : 1569941199000,
                        "status" : "enabled"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "iscscope" : [ "SupCrmAPI" ]
            }
          },
          "clan-group" : "integration",
          "apihash" : "b47c56dca5d37169f37d5d930ab41be9",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.IntegrationService.getAvailableIntegrations"
        }
      }
    },
    "/api/v1/integrations/reports" : {
      "get" : {
        "tags" : [ "Integrations" ],
        "summary" : "Get Report Integrarion Details",
        "description" : "This API returns report integration details for setup.",
        "operationId" : "getReportIntegrationsDetails",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getReportIntegrationsDetails template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "status", "url" ],
                  "properties" : {
                    "url" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "url" : "https://analytics.zoho.com/workspace/15694000000921001",
                      "status" : "ENABLED"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "14cc71ec62c8403293f59e44dc352ed4",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.IntegrationService.getReportIntegrationsDetails"
        }
      }
    },
    "/api/v1/integrations/{service}/channels" : {
      "get" : {
        "tags" : [ "Integrations" ],
        "summary" : "Fetch channel information for Cliq or Slack",
        "description" : "Fetches information about channels for the specified service (Cliq or Slack).",
        "operationId" : "getChannelsInfo",
        "parameters" : [ {
          "name" : "service",
          "in" : "path",
          "description" : "The service name, either 'cliq' or 'slack'.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "description" : "",
            "enum" : [ "slack" ]
          }
        }, {
          "name" : "channelIds",
          "in" : "query",
          "description" : "Comma-separated channel IDs.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "description" : "",
            "items" : {
              "description" : ""
            }
          }
        }, {
          "name" : "workspaceId",
          "in" : "query",
          "description" : "The workspace ID for the service.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : ""
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response with channel information.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "id", "name" ],
                        "properties" : {
                          "id" : {
                            "description" : "Channel ID."
                          },
                          "name" : {
                            "description" : "Channel name."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content available."
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Unprocessable Entity Error Response" : {
                    "value" : {
                      "errorCode" : "UNPROCESSABLE_ENTITY",
                      "message" : "The value passed for the 'from' query parameter is invalid."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.integrations.READ" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 300,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            }
          },
          "clan-group" : "integration",
          "apihash" : "",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.IntegChatService.getChannelsInfo"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "integrationsObject" : {
        "required" : [ "apiName", "displayName", "label", "visibility" ],
        "properties" : {
          "apiName" : {
            "maxLength" : 300,
            "minLength" : 0
          },
          "visibility" : {
            "maxLength" : 300,
            "minLength" : 0
          },
          "displayName" : {
            "maxLength" : 300,
            "minLength" : 0
          },
          "label" : {
            "maxLength" : 300,
            "minLength" : 0
          }
        },
        "additionalProperties" : { }
      },
      "integrationsArray" : {
        "items" : {
          "required" : [ "apiName", "displayName", "label", "visibility" ],
          "properties" : {
            "apiName" : {
              "maxLength" : 300,
              "minLength" : 0
            },
            "visibility" : {
              "maxLength" : 300,
              "minLength" : 0
            },
            "displayName" : {
              "maxLength" : 300,
              "minLength" : 0
            },
            "label" : {
              "maxLength" : 300,
              "minLength" : 0
            }
          },
          "additionalProperties" : false
        }
      },
      "integrationStatus" : {
        "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
        "properties" : {
          "IS_SUPPORTED" : { },
          "installedOn" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
          },
          "status" : {
            "maxLength" : 100,
            "minLength" : 0
          }
        },
        "additionalProperties" : { }
      },
      "microsoftIntegrationStatus" : {
        "required" : [ "IS_SUPPORTED", "installedOn", "isSSOUser", "status" ],
        "properties" : {
          "isSSOUser" : { },
          "IS_SUPPORTED" : { },
          "installedOn" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
          },
          "status" : {
            "maxLength" : 100,
            "minLength" : 0
          }
        },
        "additionalProperties" : { }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "integrationsInfoResponse" : {
        "description" : "integrationsInfoResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "integrations" ],
              "properties" : {
                "integrations" : {
                  "items" : {
                    "required" : [ "apiName", "displayName", "label", "visibility" ],
                    "properties" : {
                      "apiName" : {
                        "maxLength" : 300,
                        "minLength" : 0
                      },
                      "visibility" : {
                        "maxLength" : 300,
                        "minLength" : 0
                      },
                      "displayName" : {
                        "maxLength" : 300,
                        "minLength" : 0
                      },
                      "label" : {
                        "maxLength" : 300,
                        "minLength" : 0
                      }
                    },
                    "additionalProperties" : false
                  }
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "integrations" : [ {
                    "apiName" : "Zohocrm",
                    "visibility" : true,
                    "displayName" : "Zoho CRM",
                    "label" : "Enabled",
                    "status" : "enabled"
                  }, {
                    "apiName" : "Zohobugtracker",
                    "visibility" : true,
                    "displayName" : "Zoho BugTracker",
                    "label" : "Enabled",
                    "status" : "enabled"
                  }, {
                    "apiName" : "Zohoprojects",
                    "visibility" : true,
                    "displayName" : "Zoho Projects",
                    "label" : "",
                    "status" : ""
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "agentStudioCreateIntegrationSuccess" : {
        "description" : "Integration created successfully",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "status" ],
              "properties" : {
                "status" : {
                  "maxLength" : 20,
                  "minLength" : 0
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Success response" : {
                "value" : {
                  "status" : "success"
                }
              }
            }
          }
        }
      },
      "agentStudioCreateIntegrationFailure" : {
        "description" : "Integration failed response",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "message", "status" ],
              "properties" : {
                "status" : {
                  "maxLength" : 20,
                  "minLength" : 0
                },
                "message" : {
                  "maxLength" : 200,
                  "minLength" : 0
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Error response" : {
                "value" : {
                  "status" : "error",
                  "message" : "Some error message here."
                }
              }
            }
          }
        }
      },
      "predefinedAgentListResponse" : {
        "description" : "List of predefined agents available for Agent Studio integration.",
        "content" : {
          "application/json" : {
            "schema" : {
              "properties" : {
                "status" : {
                  "example" : "success"
                },
                "agents" : {
                  "items" : {
                    "required" : [ "agentName", "description" ],
                    "properties" : {
                      "templateName" : {
                        "example" : "zoho_desk_resolution_expert_agent"
                      },
                      "agentName" : {
                        "example" : "Resolution Expert"
                      },
                      "description" : {
                        "example" : "Documents ticket resolutions..."
                      },
                      "agentMode" : {
                        "example" : "async"
                      },
                      "roleName" : {
                        "example" : "A virtual support agent specialized in..."
                      },
                      "guidelines" : {
                        "example" : "You are “Resolution Expert,” an AI Agent that..."
                      },
                      "actions" : {
                        "items" : {
                          "required" : [ "description", "displayName" ],
                          "properties" : {
                            "displayName" : {
                              "example" : "Ticket View"
                            },
                            "description" : {
                              "example" : "Access all tickets in the help desk"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "additionalProperties" : { }
            }
          }
        }
      },
      "getAvailableIntegrationsResponse" : {
        "description" : "getAvailableIntegrationsResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "ASSIST", "BIGIN", "BOOKS", "BUG", "CHAT", "CLIQ", "CLOUD_ATTACHMENTS", "CRM", "INVENTORY", "INVOICE", "JIRA", "LENS", "MAIL", "MICROSOFT_SSO", "REPORTS", "SALESFORCE", "SLACK", "SUBSCRIPTIONS", "isCrmIntegrated" ],
              "properties" : {
                "BIGIN" : {
                  "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                  "properties" : {
                    "IS_SUPPORTED" : { },
                    "installedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "MICROSOFT_SSO" : {
                  "required" : [ "IS_SUPPORTED", "installedOn", "isSSOUser", "status" ],
                  "properties" : {
                    "isSSOUser" : { },
                    "IS_SUPPORTED" : { },
                    "installedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "SUBSCRIPTIONS" : {
                  "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                  "properties" : {
                    "IS_SUPPORTED" : { },
                    "installedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "SLACK" : {
                  "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                  "properties" : {
                    "IS_SUPPORTED" : { },
                    "installedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "CHAT" : {
                  "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                  "properties" : {
                    "IS_SUPPORTED" : { },
                    "installedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "SALESFORCE" : {
                  "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                  "properties" : {
                    "IS_SUPPORTED" : { },
                    "installedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "ASSIST" : {
                  "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                  "properties" : {
                    "IS_SUPPORTED" : { },
                    "installedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "JIRA" : {
                  "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                  "properties" : {
                    "IS_SUPPORTED" : { },
                    "installedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "INVOICE" : {
                  "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                  "properties" : {
                    "IS_SUPPORTED" : { },
                    "installedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "BOOKS" : {
                  "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                  "properties" : {
                    "IS_SUPPORTED" : { },
                    "installedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "CLIQ" : {
                  "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                  "properties" : {
                    "IS_SUPPORTED" : { },
                    "installedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "isCrmIntegrated" : { },
                "INVENTORY" : {
                  "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                  "properties" : {
                    "IS_SUPPORTED" : { },
                    "installedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "MAIL" : {
                  "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                  "properties" : {
                    "IS_SUPPORTED" : { },
                    "installedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "BUG" : {
                  "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                  "properties" : {
                    "IS_SUPPORTED" : { },
                    "installedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "REPORTS" : {
                  "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                  "properties" : {
                    "IS_SUPPORTED" : { },
                    "installedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "CLOUD_ATTACHMENTS" : {
                  "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                  "properties" : {
                    "IS_SUPPORTED" : { },
                    "installedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "LENS" : {
                  "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                  "properties" : {
                    "IS_SUPPORTED" : { },
                    "installedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                },
                "CRM" : {
                  "required" : [ "IS_SUPPORTED", "installedOn", "status" ],
                  "properties" : {
                    "IS_SUPPORTED" : { },
                    "installedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[^0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : false
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "BIGIN" : {
                    "IS_SUPPORTED" : true,
                    "installedOn" : 1569941199000,
                    "status" : "enabled"
                  },
                  "MICROSOFT_SSO" : {
                    "isSSOUser" : false,
                    "IS_SUPPORTED" : true,
                    "installedOn" : 1569941199000,
                    "status" : "not Configured"
                  },
                  "SUBSCRIPTIONS" : {
                    "IS_SUPPORTED" : true,
                    "installedOn" : "",
                    "status" : "not Configured"
                  },
                  "SLACK" : {
                    "IS_SUPPORTED" : true,
                    "installedOn" : "",
                    "status" : ""
                  },
                  "CHAT" : {
                    "IS_SUPPORTED" : true,
                    "installedOn" : "",
                    "status" : "not Configured"
                  },
                  "ASSIST" : {
                    "IS_SUPPORTED" : true,
                    "installedOn" : 1569941199000,
                    "status" : "enabled"
                  },
                  "JIRA" : {
                    "IS_SUPPORTED" : true,
                    "installedOn" : "",
                    "status" : "not Configured"
                  },
                  "INVOICE" : {
                    "IS_SUPPORTED" : true,
                    "installedOn" : "",
                    "status" : "not Configured"
                  },
                  "BOOKS" : {
                    "IS_SUPPORTED" : true,
                    "installedOn" : "",
                    "status" : "not Configured"
                  },
                  "CLIQ" : {
                    "IS_SUPPORTED" : true,
                    "installedOn" : "",
                    "status" : "not Configured"
                  },
                  "isCrmIntegrated" : true,
                  "MAIL" : {
                    "IS_SUPPORTED" : true,
                    "installedOn" : 1569941199000,
                    "status" : "enabled"
                  },
                  "INVENTORY" : {
                    "IS_SUPPORTED" : true,
                    "installedOn" : "",
                    "status" : "not Configured"
                  },
                  "BUG" : {
                    "IS_SUPPORTED" : true,
                    "installedOn" : "",
                    "status" : "not Configured"
                  },
                  "REPORTS" : {
                    "IS_SUPPORTED" : true,
                    "installedOn" : "",
                    "status" : "not Configured"
                  },
                  "CLOUD_ATTACHMENTS" : {
                    "IS_SUPPORTED" : true,
                    "installedOn" : "",
                    "status" : "enabled"
                  },
                  "CRM" : {
                    "IS_SUPPORTED" : true,
                    "installedOn" : 1569941199000,
                    "status" : "enabled"
                  }
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "getReportIntegrationsDetails" : {
        "description" : "getReportIntegrationsDetails template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "status", "url" ],
              "properties" : {
                "url" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "status" : {
                  "maxLength" : 100,
                  "minLength" : 0
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "url" : "https://analytics.zoho.com/workspace/15694000000921001",
                  "status" : "ENABLED"
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
[...]
