{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "KbCategory",
    "version" : "1.0.0",
    "x-clan-group" : "helpCenter",
    "x-module-group" : "kb"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/kbCategory/{categoryId}/articles" : {
      "get" : {
        "tags" : [ "KbCategory" ],
        "summary" : "Get Articles under a category",
        "description" : "API gets the list of child section along with articles under given category",
        "operationId" : "getArticlesUnderCategory",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "the limit index",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 10,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "the limit index",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "The from index. from starts with 1, not 0.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "The from index. from starts with 1, not 0.",
            "format" : "int32"
          }
        }, {
          "name" : "articleCount",
          "in" : "query",
          "description" : "Number of articles",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number of articles",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "The sortBy param for the list articles",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "The sortBy param for the list articles",
            "enum" : [ "createdTime", "mostliked", "mostviewed", "modifiedTime", "mostunliked" ]
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale of the article",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "description" : "Locale of the article",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ],
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "categoryId",
          "in" : "path",
          "description" : "To get individual category details",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "To get individual category details",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "isTemplate",
          "in" : "query",
          "description" : "Is it a template",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "To search the article template",
            "default" : false,
            "x-audience" : [ "company-internal" ]
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "articleCategoryDataResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "articles", "description", "id", "logoUrl", "name", "permalink" ],
                        "properties" : {
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "description" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "permalink" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[a-z0-9\\/%\\-\\P{InBasicLatin}]+"
                          },
                          "articles" : {
                            "items" : {
                              "required" : [ "categoryId", "id", "locale", "permalink", "title", "webUrl" ],
                              "properties" : {
                                "webUrl" : {
                                  "maxLength" : 500,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "title" : {
                                  "maxLength" : 500,
                                  "minLength" : 0
                                },
                                "permalink" : {
                                  "maxLength" : 300,
                                  "minLength" : 0,
                                  "pattern" : "[A-Za-z0-9%\\-+\\/=\\P{InBasicLatin}]+"
                                },
                                "locale" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
                                  "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ],
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "Locale of the article",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "trim" : false,
                                    "internalParam" : true,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                },
                                "categoryId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "logoUrl" : {
                            "maxLength" : 255,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "name" : "Hellooo",
                        "description" : "dataset",
                        "id" : "46582000007093472",
                        "permalink" : "Hellooo",
                        "articles" : [ {
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Solutions/dv/46582000011400068/en",
                          "id" : "46582000011400068",
                          "locale" : "en",
                          "permalink" : "quick-edit-modifiedby",
                          "title" : "Quick edit modifiedBy",
                          "categoryId" : "46582000007108339"
                        }, {
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Solutions/dv/46582000010701399/en",
                          "id" : "46582000010701399",
                          "locale" : "en",
                          "permalink" : "new-article",
                          "title" : "New Article ",
                          "categoryId" : "46582000007108339"
                        }, {
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Solutions/dv/46582000010675070/en",
                          "id" : "46582000010675070",
                          "locale" : "en",
                          "permalink" : "checking-line",
                          "title" : "Checking Line",
                          "categoryId" : "46582000007108339"
                        }, {
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Solutions/dv/46582000010675005/en",
                          "id" : "46582000010675005",
                          "locale" : "en",
                          "permalink" : "line-up",
                          "title" : "Line Up",
                          "categoryId" : "46582000007108339"
                        }, {
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Solutions/dv/46582000010443001/en",
                          "id" : "46582000010443001",
                          "locale" : "en",
                          "permalink" : "sample-article",
                          "title" : "sample article",
                          "categoryId" : "46582000007108339"
                        }, {
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Solutions/dv/46582000007118040/en",
                          "id" : "46582000007118040",
                          "locale" : "en",
                          "permalink" : "sample",
                          "title" : "sample",
                          "categoryId" : "46582000007108339"
                        } ],
                        "logoUrl" : "https://static.zohocdn.com/desk/app/fonts/block.4339707c19ff2c38330b.svg"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "211f4d424087eb4ce60d8cb63f55a498",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.articles.rest.support.ArticleService.getArticlesUnderCategory"
        }
      }
    },
    "/api/v1/kbCategory/{categoryId}/repositionArticles" : {
      "get" : {
        "tags" : [ "KbCategory" ],
        "summary" : "Get articles for manual sorting",
        "description" : "This API lists the positions of help articles to enable manual sorting. Only leaf categories that have a maximum of 1000 articles can be repositioned.",
        "operationId" : "getArticlesForRepositioning",
        "parameters" : [ {
          "name" : "categoryId",
          "in" : "path",
          "description" : "To get individual category details",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "To get individual category details",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "listAllArticleForRepositioning template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "authorId", "id", "title", "webUrl" ],
                        "properties" : {
                          "webUrl" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "title" : {
                            "maxLength" : 500,
                            "minLength" : 0
                          },
                          "authorId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Solutions/dv/22372000000281023",
                        "id" : "22372000000281023",
                        "title" : "Importance of a Knowledge Base",
                        "authorId" : "4000000012931"
                      }, {
                        "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Solutions/dv/22372000000209871",
                        "id" : "22372000000209871",
                        "title" : "Importance of a Knowledge Base",
                        "authorId" : "4000000012931"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 150,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "4e9d199ca69ae492e581338013d2555e",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.articles.rest.support.ArticleService.getRepositionArticles"
        }
      },
      "post" : {
        "tags" : [ "KbCategory" ],
        "summary" : "Update article position",
        "description" : "This API helps you manually sort articles in your knowledge base. Only leaf categories that have a maximum of 1000 articles can be repositioned.",
        "operationId" : "updateKBArticlesRepositioning",
        "parameters" : [ {
          "name" : "categoryId",
          "in" : "path",
          "description" : "To get individual category details",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "To get individual category details",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "ids" ],
                "properties" : {
                  "ids" : {
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "ids" : [ "4000000083313", "4000000082105" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 150,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "46fad587460e8e5393c8d0fe545e1547",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.articles.rest.support.ArticleService.repositionArticles"
        }
      }
    },
    "/api/v1/kbCategory" : {
      "get" : {
        "tags" : [ "KbCategory" ],
        "operationId" : "listAllCategory",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "To get individual department details",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "To get individual department details",
            "format" : "int64"
          }
        }, {
          "name" : "reviewOwnerId",
          "in" : "query",
          "description" : "Review Owner user Id to get the topics where this user has review permission",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Review Owner user Id to get the topics where this user has review permission",
            "format" : "int64"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Sort based on categoryname or sortorder. Allowed values are @categoryname@ and @sortorder@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Sort based on categoryname or sortorder. Allowed values are @categoryname@ and @sortorder@",
            "enum" : [ "categoryname", "sortorder" ],
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "categoryId",
          "in" : "path",
          "description" : "To get individual category details",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "To get individual category details",
            "format" : "int64",
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "listAllCategoryResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "additionalProperties" : { },
                        "allOf" : [ {
                          "required" : [ "articleViewType", "articlesCount", "associatedDepartments", "childOrder", "createdTime", "departmentId", "description", "encryptedWorkspaceId", "featuredCategory", "groups", "helpcenterId", "id", "isVisibleInHC", "level", "logoUrl", "name", "order", "parentCategoryId", "permalink", "rootCategoryId", "visibility", "workspaceId" ],
                          "properties" : {
                            "articleViewType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "LISTVIEW", "OVERVIEW" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "View to apply while listing help articles. Values allowed are: LISTVIEW and OVERVIEW.",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "visibility" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "ALL_USERS", "AGENTS", "GROUP_USERS", "PRIVATE_IP", "NONE" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Visibility setting of the category. Values allowed are: AGENTS, GROUP_USERS, ALL_USERS, and NONE.",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "level" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Navigation depth of the category",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "ID of the department to associate with the category",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "description" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "A brief description of the category",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "groups" : {
                              "items" : {
                                "required" : [ "id", "logoUrl", "name" ],
                                "properties" : {
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "logoUrl" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "logoUrl" : {
                              "maxLength" : 255,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "associatedDepartments" : {
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "ID of the department to associate with the category",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              }
                            },
                            "rootCategoryId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "childOrder" : {
                              "uniqueItems" : false,
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : [ ]
                              }
                            },
                            "encryptedWorkspaceId" : {
                              "maxLength" : 255,
                              "minLength" : 0
                            },
                            "helpcenterId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "ID of the help center to which the knowledge base belongs",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Name of the category",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "parentCategoryId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "ID of the parent category",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Unique ID of the category",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "articlesCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Number of help articles under the category",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "permalink" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[a-z0-9\\/%\\-\\P{InBasicLatin}]+"
                            },
                            "featuredCategory" : {
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Key that specifies whether the category must be featured in the help center or not",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "order" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Position of the category in the overall order of categories of the same level",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "isVisibleInHC" : {
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Key that specifies whether the category must be visible in the help center or not",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "workspaceId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^([a-zA-Z0-9]{37}|-1)$",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "ID of the Zoho Workdrive folder (Gallery) associated with the category",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "child", "rootCategoryId" ],
                          "properties" : {
                            "child" : {
                              "items" : {
                                "additionalProperties" : false,
                                "allOf" : [ {
                                  "required" : [ "articleViewType", "articlesCount", "associatedDepartments", "childOrder", "createdTime", "departmentId", "description", "encryptedWorkspaceId", "featuredCategory", "groups", "helpcenterId", "id", "isVisibleInHC", "level", "logoUrl", "name", "order", "parentCategoryId", "permalink", "rootCategoryId", "visibility", "workspaceId" ],
                                  "properties" : {
                                    "articleViewType" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "LISTVIEW", "OVERVIEW" ],
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "View to apply while listing help articles. Values allowed are: LISTVIEW and OVERVIEW.",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    },
                                    "visibility" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "ALL_USERS", "AGENTS", "GROUP_USERS", "PRIVATE_IP", "NONE" ],
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "Visibility setting of the category. Values allowed are: AGENTS, GROUP_USERS, ALL_USERS, and NONE.",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    },
                                    "level" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "Navigation depth of the category",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    },
                                    "departmentId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "ID of the department to associate with the category",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    },
                                    "description" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "A brief description of the category",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    },
                                    "groups" : {
                                      "items" : {
                                        "required" : [ "id", "logoUrl", "name" ],
                                        "properties" : {
                                          "name" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                          },
                                          "id" : {
                                            "pattern" : "([0-9]+)",
                                            "format" : "int64"
                                          },
                                          "logoUrl" : {
                                            "maxLength" : 200,
                                            "minLength" : 0,
                                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                          }
                                        },
                                        "additionalProperties" : false
                                      }
                                    },
                                    "logoUrl" : {
                                      "maxLength" : 255,
                                      "minLength" : 0,
                                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                    },
                                    "associatedDepartments" : {
                                      "items" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64",
                                        "x-custom-parameters-attributes" : {
                                          "removeExif" : false,
                                          "filterMatchedContent" : false,
                                          "antivirus" : false,
                                          "replacementString" : "",
                                          "allowInvalid" : false,
                                          "descrption" : "ID of the department to associate with the category",
                                          "secret" : false,
                                          "preserveCharsLimit" : 10,
                                          "trim" : false,
                                          "internalParam" : false,
                                          "preserveChars" : "0,5",
                                          "importUrl" : false,
                                          "decrypt" : false
                                        }
                                      }
                                    },
                                    "rootCategoryId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "childOrder" : {
                                      "uniqueItems" : false,
                                      "items" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64",
                                        "x-custom-parameters-attributes" : [ ]
                                      }
                                    },
                                    "encryptedWorkspaceId" : {
                                      "maxLength" : 255,
                                      "minLength" : 0
                                    },
                                    "helpcenterId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "ID of the help center to which the knowledge base belongs",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    },
                                    "name" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "Name of the category",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    },
                                    "createdTime" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                    },
                                    "parentCategoryId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "ID of the parent category",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "Unique ID of the category",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    },
                                    "articlesCount" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "Number of help articles under the category",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    },
                                    "permalink" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "[a-z0-9\\/%\\-\\P{InBasicLatin}]+"
                                    },
                                    "featuredCategory" : {
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "Key that specifies whether the category must be featured in the help center or not",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    },
                                    "order" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "Position of the category in the overall order of categories of the same level",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    },
                                    "isVisibleInHC" : {
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "Key that specifies whether the category must be visible in the help center or not",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    },
                                    "workspaceId" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "^([a-zA-Z0-9]{37}|-1)$",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "ID of the Zoho Workdrive folder (Gallery) associated with the category",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false
                                      }
                                    }
                                  },
                                  "additionalProperties" : false
                                }, {
                                  "required" : [ "child" ],
                                  "properties" : {
                                    "child" : {
                                      "uniqueItems" : false,
                                      "items" : {
                                        "additionalProperties" : false,
                                        "x-custom-parameters-attributes" : [ ]
                                      }
                                    }
                                  }
                                } ]
                              }
                            },
                            "rootCategoryId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "ba92e57c6504fc800e8117c9b1563527",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.kbcategories.rest.support.TopicService.getTopic"
        }
      },
      "post" : {
        "tags" : [ "KbCategory" ],
        "operationId" : "createCategory",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "featuredCategory", "isVisibleInHC", "name", "parentCategoryId" ],
                "properties" : {
                  "articleViewType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "View to apply while listing help articles. Values allowed are: LISTVIEW and OVERVIEW.",
                    "enum" : [ "LISTVIEW", "OVERVIEW" ]
                  },
                  "reviewOwners" : {
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Unique ID of the category",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Name of the category"
                  },
                  "isReview" : {
                    "description" : "Key that specifies whether review must be enabled for the category or not"
                  },
                  "description" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : "A brief description of the category"
                  },
                  "logo" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Logo for the category",
                    "format" : "int64"
                  },
                  "parentCategoryId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the parent category",
                    "format" : "int64"
                  },
                  "featuredCategory" : {
                    "description" : "Key that specifies whether the category must be featured in the help center or not"
                  },
                  "isVisibleInHC" : {
                    "description" : "Key that specifies whether the category must be visible in the help center or not"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : null
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "categoryWithReviewResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "articleViewType", "articlesCount", "associatedDepartments", "childOrder", "createdTime", "departmentId", "description", "encryptedWorkspaceId", "featuredCategory", "groups", "helpcenterId", "id", "isVisibleInHC", "level", "logoUrl", "name", "order", "parentCategoryId", "permalink", "rootCategoryId", "visibility", "workspaceId" ],
                    "properties" : {
                      "articleViewType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "LISTVIEW", "OVERVIEW" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "View to apply while listing help articles. Values allowed are: LISTVIEW and OVERVIEW.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "visibility" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "ALL_USERS", "AGENTS", "GROUP_USERS", "PRIVATE_IP", "NONE" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Visibility setting of the category. Values allowed are: AGENTS, GROUP_USERS, ALL_USERS, and NONE.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "level" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Navigation depth of the category",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the department to associate with the category",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "description" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "A brief description of the category",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "groups" : {
                        "items" : {
                          "required" : [ "id", "logoUrl", "name" ],
                          "properties" : {
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "logoUrl" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "logoUrl" : {
                        "maxLength" : 255,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "associatedDepartments" : {
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "ID of the department to associate with the category",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        }
                      },
                      "rootCategoryId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "childOrder" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : [ ]
                        }
                      },
                      "encryptedWorkspaceId" : {
                        "maxLength" : 255,
                        "minLength" : 0
                      },
                      "helpcenterId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the help center to which the knowledge base belongs",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Name of the category",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "parentCategoryId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the parent category",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Unique ID of the category",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "articlesCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Number of help articles under the category",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "permalink" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "[a-z0-9\\/%\\-\\P{InBasicLatin}]+"
                      },
                      "featuredCategory" : {
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Key that specifies whether the category must be featured in the help center or not",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "order" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Position of the category in the overall order of categories of the same level",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isVisibleInHC" : {
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Key that specifies whether the category must be visible in the help center or not",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "workspaceId" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^([a-zA-Z0-9]{37}|-1)$",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the Zoho Workdrive folder (Gallery) associated with the category",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "child", "isReview", "reviewOwners" ],
                    "properties" : {
                      "reviewOwners" : {
                        "items" : {
                          "required" : [ "id", "name", "photoURL" ],
                          "properties" : {
                            "photoURL" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "name" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Unique ID of the category",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "isReview" : {
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
[...]
