{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "KBRecycleBin",
    "version" : "1.0.0",
    "x-clan-group" : "helpCenter",
    "x-module-group" : "kb"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/kbComments/trashedComments" : {
      "get" : {
        "tags" : [ "KBRecycleBin" ],
        "summary" : "List trashed kb comments",
        "description" : "To fetch list of kb comments that has been trashed earlier",
        "operationId" : "getTrashedComments",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of Comments to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "pattern" : "([0-9]+)",
            "description" : "Number of Comments to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number starting from which the trashed comments must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number starting from which the trashed comments must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Sort trashed comments based on : !@deletedTime@! ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Sort trashed comments based on : !@deletedTime@! ",
            "enum" : [ "deletedTime" ]
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Language of the trashed comments",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "description" : "Language of the trashed comments",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          }
        }, {
          "name" : "categoryId",
          "in" : "query",
          "description" : "Get trashed comments under the given category",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Get trashed comments under the given category",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "listOfComments template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "articleTranslation", "articleTranslationId", "category", "categoryId", "commentedTime", "commenter", "commenterId", "content", "contentType", "deletedBy", "deletedTime", "deleterId", "hashtags", "id", "isPublic", "mentions", "modifiedTime", "rootCategoryId" ],
                        "properties" : {
                          "modifiedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "articleTranslation" : {
                            "required" : [ "id", "locale", "title", "translationId" ],
                            "properties" : {
                              "translationId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "title" : {
                                "maxLength" : 500,
                                "minLength" : 0
                              },
                              "locale" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
                                "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
                              }
                            },
                            "additionalProperties" : false
                          },
                          "hashtags" : {
                            "items" : {
                              "required" : [ "headerId", "headerValue", "length", "offSet" ],
                              "properties" : {
                                "offSet" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "length" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "headerValue" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "headerId" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "commentedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "content" : {
                            "maxLength" : 32000,
                            "minLength" : 0
                          },
                          "commenterId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "deletedBy" : {
                            "required" : [ "email", "firstName", "id", "kbRole", "label", "lastName", "name", "photoURL", "roleName", "type", "webUrl" ],
                            "properties" : {
                              "photoURL" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "firstName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "webUrl" : {
                                "maxLength" : 255,
                                "minLength" : 3,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "roleName" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "label" : {
                                "required" : [ "id", "logoUrl", "name", "preferences" ],
                                "properties" : {
                                  "preferences" : {
                                    "required" : [ "bgColor", "shape", "textColor" ],
                                    "properties" : {
                                      "bgColor" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                        "description" : "background color of the label"
                                      },
                                      "shape" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "description" : "shape of the label",
                                        "enum" : [ "ROUNDED", "RECTANGLE" ]
                                      },
                                      "textColor" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                        "description" : "text color of the label"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "logoUrl" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                              },
                              "email" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                              },
                              "kbRole" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "REVIEWER", null ]
                              }
                            },
                            "additionalProperties" : false
                          },
                          "commenter" : {
                            "required" : [ "email", "firstName", "id", "kbRole", "label", "lastName", "name", "photoURL", "roleName", "type", "webUrl" ],
                            "properties" : {
                              "photoURL" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "firstName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "webUrl" : {
                                "maxLength" : 255,
                                "minLength" : 3,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "roleName" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "label" : {
                                "required" : [ "id", "logoUrl", "name", "preferences" ],
                                "properties" : {
                                  "preferences" : {
                                    "required" : [ "bgColor", "shape", "textColor" ],
                                    "properties" : {
                                      "bgColor" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                        "description" : "background color of the label"
                                      },
                                      "shape" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "description" : "shape of the label",
                                        "enum" : [ "ROUNDED", "RECTANGLE" ]
                                      },
                                      "textColor" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                        "description" : "text color of the label"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "logoUrl" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                              },
                              "email" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                              },
                              "kbRole" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "REVIEWER", null ]
                              }
                            },
                            "additionalProperties" : false
                          },
                          "rootCategoryId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "mentions" : {
                            "required" : [ "groups", "users" ],
                            "properties" : {
                              "groups" : {
                                "items" : {
                                  "required" : [ "id", "length", "logoUrl", "name", "offSet" ],
                                  "properties" : {
                                    "offSet" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "name" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                    },
                                    "length" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "logoUrl" : {
                                      "maxLength" : 200,
                                      "minLength" : 0,
                                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                    }
                                  },
                                  "additionalProperties" : false
                                }
                              },
                              "users" : {
                                "items" : {
                                  "additionalProperties" : false,
                                  "allOf" : [ {
                                    "required" : [ "email", "firstName", "id", "kbRole", "label", "lastName", "name", "photoURL", "roleName", "type", "webUrl" ],
                                    "properties" : {
                                      "photoURL" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      },
                                      "firstName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "lastName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "webUrl" : {
                                        "maxLength" : 255,
                                        "minLength" : 3,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      },
                                      "name" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "roleName" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "label" : {
                                        "required" : [ "id", "logoUrl", "name", "preferences" ],
                                        "properties" : {
                                          "preferences" : {
                                            "required" : [ "bgColor", "shape", "textColor" ],
                                            "properties" : {
                                              "bgColor" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                                "description" : "background color of the label"
                                              },
                                              "shape" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "description" : "shape of the label",
                                                "enum" : [ "ROUNDED", "RECTANGLE" ]
                                              },
                                              "textColor" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                                "description" : "text color of the label"
                                              }
                                            },
                                            "additionalProperties" : false
                                          },
                                          "name" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                          },
                                          "id" : {
                                            "pattern" : "([0-9]+)",
                                            "format" : "int64"
                                          },
                                          "logoUrl" : {
                                            "maxLength" : 200,
                                            "minLength" : 0,
                                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                          }
                                        },
                                        "additionalProperties" : false
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                      },
                                      "email" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                      },
                                      "kbRole" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "REVIEWER", null ]
                                      }
                                    },
                                    "additionalProperties" : false
                                  }, {
                                    "required" : [ "kbRole", "label", "length", "offSet", "webUrl", "zuid" ],
                                    "properties" : {
                                      "offSet" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int32"
                                      },
                                      "webUrl" : {
                                        "maxLength" : 255,
                                        "minLength" : 3,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      },
                                      "length" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int32"
                                      },
                                      "label" : {
                                        "required" : [ "id", "logoUrl", "name", "preferences" ],
                                        "properties" : {
                                          "preferences" : {
                                            "required" : [ "bgColor", "shape", "textColor" ],
                                            "properties" : {
                                              "bgColor" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                                "description" : "background color of the label"
                                              },
                                              "shape" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "description" : "shape of the label",
                                                "enum" : [ "ROUNDED", "RECTANGLE" ]
                                              },
                                              "textColor" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "pattern" : "^#?(([a-fA-F0-9]){3}){1,2}$",
                                                "description" : "text color of the label"
                                              }
                                            },
                                            "additionalProperties" : false
                                          },
                                          "name" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                          },
                                          "id" : {
                                            "pattern" : "([0-9]+)",
                                            "format" : "int64"
                                          },
                                          "logoUrl" : {
                                            "maxLength" : 200,
                                            "minLength" : 0,
                                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                          }
                                        },
                                        "additionalProperties" : false
                                      },
                                      "zuid" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int32"
                                      },
                                      "kbRole" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "REVIEWER", null ]
                                      }
                                    },
                                    "additionalProperties" : false
                                  } ]
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "isPublic" : { },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "deleterId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "deletedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "category" : {
                            "required" : [ "id", "locale", "name" ],
                            "properties" : {
                              "name" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "locale" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
                                "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
                              }
                            },
                            "additionalProperties" : false
                          },
                          "contentType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "plainText", "html" ]
                          },
                          "categoryId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Get trashed comments under the given category",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "articleTranslationId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Example" : {
                    "value" : {
                      "data" : [ {
                        "modifiedTime" : 1726054566000,
                        "articleTranslation" : {
                          "translationId" : "2000000129020",
                          "id" : "2000000129018",
                          "title" : "johny article",
                          "locale" : "en"
                        },
                        "hashtags" : [ ],
                        "commentedTime" : 1726054566000,
                        "commenterId" : "2000000000521",
                        "deletedBy" : {
                          "firstName" : "Anamika",
                          "lastName" : "Ragunath",
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/2000000000521/photo?orgId=55318532",
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Solutions/dv/2000000000521/en",
                          "roleName" : "CEO",
                          "name" : "Anamika Ragunath",
                          "id" : "2000000000521",
                          "label" : null,
                          "type" : "AGENT",
                          "email" : "anamika@desk.com",
                          "kbRole" : null
                        },
                        "content" : "<div>Zoho Desk KB Comment</div>",
                        "rootCategoryId" : "2000000129001",
                        "commenter" : {
                          "firstName" : "Anamika",
                          "lastName" : "Ragunath",
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/2000000000521/photo?orgId=55318532",
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Solutions/dv/2000000000521/en",
                          "roleName" : "CEO",
                          "name" : "Anamika Rahunath",
                          "id" : "2000000000521",
                          "label" : null,
                          "type" : "AGENT",
                          "email" : "anamika@desk.com",
                          "kbRole" : null
                        },
                        "mentions" : {
                          "groups" : [ ],
                          "users" : [ ]
                        },
                        "isPublic" : false,
                        "id" : "2000000131002",
                        "deletedTime" : 1726054635000,
                        "deleterId" : "2000000000521",
                        "category" : {
                          "name" : "Desk category",
                          "id" : "2000000129001",
                          "locale" : "en"
                        },
                        "contentType" : "html",
                        "categoryId" : "2000000129001",
                        "articleTranslationId" : "2000000129020"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "d4303acde159ac1146c620de61a217c2",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.recyclebin.RecycleBinService.getTrashedComments"
        }
      }
    },
    "/api/v1/articleTranslations/trashedTranslations/restore" : {
      "post" : {
        "tags" : [ "KBRecycleBin" ],
        "summary" : "Restore trashed article translations",
        "description" : "Restores all the associated parent entities of given translation from recyclebin to your helpdesk.",
        "operationId" : "restoreTrashedTranslations",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "ids" ],
                "properties" : {
                  "ids" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "ids" : [ 1000000182001, 1000000207102, 234567890 ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "massActionListView template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "results" ],
                  "properties" : {
                    "results" : {
                      "items" : {
                        "required" : [ "errors", "id", "success" ],
                        "properties" : {
                          "success" : { },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "errors" : {
                            "required" : [ "errorCode", "httpCode" ],
                            "properties" : {
                              "errorCode" : {
                                "enum" : [ "UNPROCESSABLE_ENTITY", "UNAUTHORIZED", "FORBIDDEN", "INVALID_DATA", "SCHEDULED", "SUCCESS" ]
                              },
                              "httpCode" : {
                                "enum" : [ "401", "403", "422", "202", "200", 401, 403, 422, 202, 200 ]
                              },
                              "errorMessage" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "errorJson" : {
                                "additionalProperties" : false
                              },
                              "error" : {
                                "maxLength" : 250,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "results" : [ {
                        "success" : true,
                        "id" : "7000000027223",
                        "errors" : null
                      }, {
                        "success" : false,
                        "id" : "7000000043968",
                        "errors" : {
                          "errorCode" : "UNPROCESSABLE_ENTITY",
                          "httpCode" : "422"
                        }
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 5,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 25,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 3600000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "129aba473a969bf93df332028f192473",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.recyclebin.RecycleBinService.restoreTranslations"
        }
      }
    },
    "/api/v1/articleTranslations/trashedTranslations/count" : {
      "get" : {
        "tags" : [ "KBRecycleBin" ],
        "summary" : "Get trashed article translations count",
        "description" : "This API returns the number of article translations in recyclebin.",
        "operationId" : "getTrashedTranslationsCount",
        "parameters" : [ {
          "name" : "locale",
          "in" : "query",
          "description" : "Language of the trashed comments",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "description" : "Language of the trashed comments",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          }
        }, {
          "name" : "categoryId",
          "in" : "query",
          "description" : "Get trashed comments under the given category",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Get trashed comments under the given category",
            "format" : "int64"
          }
        }, {
          "name" : "deletedTimeRange",
          "in" : "query",
          "description" : "Fetch count of trashed translations between deleted time. Enter the dates in the ISO date format of 'yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ'",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z)),(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))|null",
            "description" : "Fetch count of trashed translations between deleted time. Enter the dates in the ISO date format of 'yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ'"
          }
        }, {
          "name" : "deletedBy",
          "in" : "query",
          "description" : "Count of  trashed translations done by user",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Count of  trashed translations done by user",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "isTemplate",
          "in" : "query",
          "description" : "Is it a template",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "To search the article template",
            "default" : false,
            "x-audience" : [ "company-internal" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "countJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "count" ],
                  "properties" : {
                    "count" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "count" : "5"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 150,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 3600000,
                  "threshold" : 250,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "f01289686e446b6c17a38d4473a19b1a",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.recyclebin.RecycleBinService.obtainTrashedArticlesCount"
        }
      }
    },
    "/api/v1/kbCategory/trashedCategories/count" : {
      "get" : {
        "tags" : [ "KBRecycleBin" ],
        "summary" : "Get trashed categories count",
        "description" : "This API returns the number of categories in recyclebin.",
        "operationId" : "getTrashedCategoriesCount",
        "parameters" : [ {
          "name" : "categoryId",
          "in" : "query",
          "description" : "Get trashed comments under the given category",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Get trashed comments under the given category",
            "format" : "int64"
          }
        }, {
          "name" : "deletedTimeRange",
          "in" : "query",
          "description" : "Fetch count of trashed translations between deleted time. Enter the dates in the ISO date format of 'yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ'",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z)),(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))|null",
            "description" : "Fetch count of trashed translations between deleted time. Enter the dates in the ISO date format of 'yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ'"
          }
        }, {
          "name" : "deletedBy",
          "in" : "query",
          "description" : "Count of  trashed translations done by user",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Count of  trashed translations done by user",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "countJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "count" ],
                  "properties" : {
                    "count" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "count" : "5"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 150,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 3600000,
                  "threshold" : 250,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "4bb4bf74198f6a04c2857af9a172b59d",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.recyclebin.RecycleBinService.obtainTrashedCategoryCount"
        }
      }
    },
    "/api/v1/articleTranslations/trashedTranslations/delete" : {
      "post" : {
        "tags" : [ "KBRecycleBin" ],
        "summary" : "Delete trashed article translations",
        "description" : "Deletes all the associated child entities of a given translation permanentely from recyclebin.",
        "operationId" : "deleteTrashedTranslations",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "ids" ],
                "properties" : {
                  "ids" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "ids" : [ 1000000182001, 1000000207102, 234567890 ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "massActionListView template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "results" ],
                  "properties" : {
                    "results" : {
                      "items" : {
                        "required" : [ "errors", "id", "success" ],
                        "properties" : {
                          "success" : { },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "errors" : {
                            "required" : [ "errorCode", "httpCode" ],
                            "properties" : {
                              "errorCode" : {
                                "enum" : [ "UNPROCESSABLE_ENTITY", "UNAUTHORIZED", "FORBIDDEN", "INVALID_DATA", "SCHEDULED", "SUCCESS" ]
                              },
                              "httpCode" : {
                                "enum" : [ "401", "403", "422", "202", "200", 401, 403, 422, 202, 200 ]
                              },
                              "errorMessage" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "errorJson" : {
                                "additionalProperties" : false
                              },
                              "error" : {
                                "maxLength" : 250,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "results" : [ {
                        "success" : true,
                        "id" : "7000000027223",
                        "errors" : null
                      }, {
                        "success" : false,
                        "id" : "7000000043968",
                        "errors" : {
                          "errorCode" : "UNPROCESSABLE_ENTITY",
                          "httpCode" : "422"
                        }
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 5,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 25,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 3600000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "ba66ca5a081159fcba4cfa8e1e29766f",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.recyclebin.RecycleBinService.deleteTranslation"
        }
      }
    },
    "/api/v1/kbComments/trashedComments/count" : {
      "get" : {
        "tags" : [ "KBRecycleBin" ],
        "summary" : "Get trashed article translations comments count",
        "description" : "This API returns the number of article translations comments in recyclebin.",
        "operationId" : "getTrashedCommentsCount",
        "parameters" : [ {
          "name" : "categoryId",
          "in" : "query",
          "description" : "Get trashed comments under the given category",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Get trashed comments under the given category",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "countJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "count" ],
                  "properties" : {
                    "count" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "count" : "5"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "306909927c04fc147e80b1ea76e9a1af",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.recyclebin.RecycleBinService.obtainTrashedArticleCommentsCount"
        }
      }
    },
    "/api/v1/kbCategory/trashedCategories/restore" : {
      "post" : {
        "tags" : [ "KBRecycleBin" ],
        "summary" : "Restore trashed kb categories",
        "description" : "Restores all the associated parent and child entities of given category from recyclebin to your helpdesk.",
        "operationId" : "restoreTrashedCategories",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "ids" ],
                "properties" : {
                  "ids" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "ids" : [ 1000000221001, 1000000172007, 1000000168006, 234567890 ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "massActionListView template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "results" ],
                  "properties" : {
                    "results" : {
                      "items" : {
                        "required" : [ "errors", "id", "success" ],
                        "properties" : {
                          "success" : { },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "errors" : {
                            "required" : [ "errorCode", "httpCode" ],
                            "properties" : {
                              "errorCode" : {
                                "enum" : [ "UNPROCESSABLE_ENTITY", "UNAUTHORIZED", "FORBIDDEN", "INVALID_DATA", "SCHEDULED", "SUCCESS" ]
                              },
                              "httpCode" : {
                                "enum" : [ "401", "403", "422", "202", "200", 401, 403, 422, 202, 200 ]
                              },
                              "errorMessage" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "errorJson" : {
                                "additionalProperties" : false
                              },
                              "error" : {
                                "maxLength" : 250,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "results" : [ {
                        "success" : true,
                        "id" : "7000000027223",
                        "errors" : null
                      }, {
                        "success" : false,
                        "id" : "7000000043968",
                        "errors" : {
                          "errorCode" : "UNPROCESSABLE_ENTITY",
                          "httpCode" : "422"
                        }
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 5,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 25,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 3600000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "d9ed0e0d9e13d4722ecf9d4a8ed1d20a",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.recyclebin.RecycleBinService.restoreKbCategory"
        }
      }
    },
    "/api/v1/articleTranslations/trashedTranslations" : {
      "get" : {
        "tags" : [ "KBRecycleBin" ],
        "summary" : "List trashed article translations",
        "description" : "To fetch list of trashed article translations",
        "operationId" : "getTrashedTranslations",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of Comments to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "pattern" : "([0-9]+)",
            "description" : "Number of Comments to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number starting from which the trashed comments must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number starting from which the trashed comments must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Sort trashed translations based on : !@deletedTime@! ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Sort trashed translations based on : !@deletedTime@! ",
            "enum" : [ "deletedTime" ]
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Language of the trashed comments",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "description" : "Language of the trashed comments",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          }
        }, {
          "name" : "deletedBy",
          "in" : "query",
          "description" : "Count of  trashed translations done by user",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Count of  trashed translations done by user",
            "format" : "int64"
          }
        }, {
          "name" : "deletedTimeRange",
          "in" : "query",
          "description" : "Fetch count of trashed translations between deleted time. Enter the dates in the ISO date format of 'yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ'",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z)),(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))|null",
            "description" : "Fetch count of trashed translations between deleted time. Enter the dates in the ISO date format of 'yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ'"
          }
        }, {
          "name" : "categoryId",
          "in" : "query",
          "description" : "Get trashed comments under the given category",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Get trashed comments under the given category",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "isTemplate",
          "in" : "query",
          "description" : "Is it a template",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "To search the article template",
            "default" : false,
            "x-audience" : [ "company-internal" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getTrashedTranslationResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "additionalProperties" : { },
                        "allOf" : [ {
                          "required" : [ "attachmentCount", "author", "authorId", "category", "categoryId", "commentCount", "createdBy", "createdTime", "creatorId", "departmentId", "dislikeCount", "feedbackCount", "id", "isLocked", "isTemplate", "isTrashed", "latestPublishedVersion", "latestVersion", "latestVersionModifiedBy", "latestVersionModifierId", "latestVersionStatus", "likeCount", "locale", "modifiedBy", "modifiedTime", "modifierId", "owner", "ownerId", "permalink", "permission", "portalUrl", "position", "rootCategoryId", "sourceLocale", "status", "summary", "templateLastUpdatedTime", "templateUsageCount", "templateUsedUsersCount", "title", "translationId", "translationSource", "translationState", "usageCount", "viewCount", "webUrl" ],
                          "properties" : {
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "creatorId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "modifierId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "dislikeCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "likeCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "templateUsageCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "templateUsedUsersCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "templateLastUpdatedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "locale" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
                              "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
                            },
                            "title" : {
                              "maxLength" : 500,
                              "minLength" : 0
                            },
                            "ownerId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "latestVersionModifierId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "translationState" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "OUTDATED", "UP-TO-DATE", "AUTO-TRANSLATE INPROGRESS", "AUTO-TRANSLATE FAILED" ]
                            },
                            "isTrashed" : { },
                            "isTemplate" : {
                              "default" : false
                            },
                            "isLocked" : { },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "modifiedBy" : {
                              "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "status" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                                },
                                "zuid" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "viewCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "translationSource" : {
                              "required" : [ "locale", "version" ],
                              "properties" : {
                                "locale" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
                                  "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ],
                                  "x-custom-parameters-attributes" : {
                                    "removeExif" : false,
                                    "filterMatchedContent" : false,
                                    "antivirus" : false,
                                    "replacementString" : "",
                                    "allowInvalid" : false,
                                    "descrption" : "Language of the trashed translations",
                                    "secret" : false,
                                    "preserveCharsLimit" : 10,
                                    "trim" : false,
                                    "internalParam" : false,
                                    "preserveChars" : "0,5",
                                    "importUrl" : false,
                                    "decrypt" : false
                                  }
                                },
                                "version" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            },
                            "summary" : {
                              "maxLength" : 500,
                              "minLength" : 0
                            },
                            "owner" : {
                              "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "status" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                                },
                                "zuid" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                }
                              },
[...]
