{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "KBRootCategory",
    "version" : "1.0.0",
    "x-clan-group" : "helpCenter",
    "x-module-group" : "kb"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/kbRootCategories/{rootCategoryId}/reviewOwners/remove" : {
      "post" : {
        "tags" : [ "KBRootCategory" ],
        "summary" : "Remove review owner",
        "description" : "This API removes review owners of a root category in your helpdesk",
        "operationId" : "deleteKBCategoryReviewOwners",
        "parameters" : [ {
          "name" : "rootCategoryId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "reviewOwnerIds" ],
                "properties" : {
                  "reviewOwnerIds" : {
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "reviewOwnerIds" : [ "5000000015867" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "massActionListView template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "results" ],
                  "properties" : {
                    "results" : {
                      "items" : {
                        "required" : [ "errors", "id", "success" ],
                        "properties" : {
                          "success" : { },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "errors" : {
                            "required" : [ "errorCode", "httpCode" ],
                            "properties" : {
                              "errorCode" : {
                                "enum" : [ "UNPROCESSABLE_ENTITY", "UNAUTHORIZED", "FORBIDDEN", "INVALID_DATA", "SCHEDULED", "SUCCESS" ]
                              },
                              "httpCode" : {
                                "enum" : [ "401", "403", "422", "202", "200", 401, 403, 422, 202, 200 ]
                              },
                              "errorMessage" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "errorJson" : {
                                "additionalProperties" : false
                              },
                              "error" : {
                                "maxLength" : 250,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "results" : [ {
                        "success" : true,
                        "id" : "7000000027223",
                        "errors" : null
                      }, {
                        "success" : false,
                        "id" : "7000000043968",
                        "errors" : {
                          "errorCode" : "UNPROCESSABLE_ENTITY",
                          "httpCode" : "422"
                        }
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 25,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "f1e4888c86484b06f35e4243acfca87f",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.kbcategory.rest.KbCategoryService.removeReviewOwners"
        }
      }
    },
    "/api/v1/kbRootCategories/{rootCategoryId}/translations/{locale}/permalinks" : {
      "get" : {
        "tags" : [ "KBRootCategory" ],
        "summary" : "Get permalinks of a root category translation",
        "description" : "This API fetches permalinks of a root category translation",
        "operationId" : "getSecondaryPermalinks",
        "parameters" : [ {
          "name" : "locale",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          }
        }, {
          "name" : "rootCategoryId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "permalinkJsonDataArrayWithOldResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data", "primaryPermalink", "secondaryPermalinks" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "createdBy", "createdTime", "isPrimary", "permalink" ],
                        "properties" : {
                          "createdBy" : {
                            "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                            "properties" : {
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "name" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "status" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                              },
                              "zuid" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "isPrimary" : { },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "permalink" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[a-zA-Z0-9%\\-._/?\\P{InBasicLatin}]*"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "primaryPermalink" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[a-zA-Z0-9%\\-._/?\\P{InBasicLatin}]*",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "The permalink of Solution",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "secondaryPermalinks" : {
                      "items" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "[a-zA-Z0-9%\\-._/?\\P{InBasicLatin}]*"
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "createdBy" : {
                          "photoURL" : null,
                          "name" : "Zylker",
                          "id" : "6000000016514",
                          "status" : "ACTIVE",
                          "zuid" : "343224"
                        },
                        "isPrimary" : true,
                        "createdTime" : 1588342603000,
                        "permalink" : "autobot"
                      }, {
                        "createdBy" : {
                          "photoURL" : null,
                          "name" : "Zylker",
                          "id" : "6000000016514",
                          "status" : "ACTIVE",
                          "zuid" : "343224"
                        },
                        "isPrimary" : false,
                        "createdTime" : 1588342349000,
                        "permalink" : "transformers"
                      }, {
                        "createdBy" : {
                          "photoURL" : null,
                          "name" : "Zylker",
                          "id" : "6000000016514",
                          "status" : "ACTIVE",
                          "zuid" : "343224"
                        },
                        "isPrimary" : false,
                        "createdTime" : 1588342344000,
                        "permalink" : "flash"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 25,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "330ca6fb151ef7696a18fe20c2be9498",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.kbcategory.rest.KbCategoryService.getPermalinksOfATranslationOfARootCategory"
        }
      },
      "post" : {
        "tags" : [ "KBRootCategory" ],
        "summary" : "Update permalinks of a root category",
        "description" : "API updates primary and secondary permalinks of a KB root category",
        "operationId" : "updateRootCategoryPermalinks",
        "parameters" : [ {
          "name" : "locale",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
            "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
          }
        }, {
          "name" : "rootCategoryId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "primaryPermalink", "secondaryPermalinks" ],
                "properties" : {
                  "primaryPermalink" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "[a-z0-9\\/%\\-\\P{InBasicLatin}]+",
                    "description" : "Primary permalink of a translation"
                  },
                  "secondaryPermalinks" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[a-z0-9\\/%\\-\\P{InBasicLatin}]+",
                      "x-custom-parameters-attributes" : [ ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "primaryPermalink" : "primary-analyser",
                    "secondaryPermalinks" : [ "quality-analyst", "modulizer" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "permalinkJsonDataArray template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "createdBy", "createdTime", "isPrimary", "permalink" ],
                        "properties" : {
                          "createdBy" : {
                            "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                            "properties" : {
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "name" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "status" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                              },
                              "zuid" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "isPrimary" : { },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "permalink" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[a-zA-Z0-9%\\-._/?\\P{InBasicLatin}]*"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "createdBy" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000016508/photo?orgId=292828",
                          "name" : "Charlie",
                          "id" : "4000000016508",
                          "status" : "ACTIVE"
                        },
                        "isPrimary" : true,
                        "createdTime" : 1595494232000,
                        "permalink" : "primary-analyser"
                      }, {
                        "createdBy" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000016508/photo?orgId=292828",
                          "name" : "Charlie",
                          "id" : "4000000016508",
                          "status" : "ACTIVE"
                        },
                        "isPrimary" : false,
                        "createdTime" : 1595657875000,
                        "permalink" : "quality-analyst"
                      }, {
                        "createdBy" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000016508/photo?orgId=292828",
                          "name" : "Charlie",
                          "id" : "4000000016508",
                          "status" : "ACTIVE"
                        },
                        "isPrimary" : false,
                        "createdTime" : 1595657875000,
                        "permalink" : "modulizer"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "e5b3eede5060abfb915fd1e761e86f3b",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.kbcategory.rest.KbCategoryService.updateKBRootCategoryPermalinks"
        }
      }
    },
    "/api/v1/kbRootCategories/{rootCategoryId}" : {
      "get" : {
        "tags" : [ "KBRootCategory" ],
        "summary" : "Get root category",
        "description" : "This API fetches the details of a root category.",
        "operationId" : "getKBRootCategory",
        "parameters" : [ {
          "name" : "rootCategoryId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "include",
          "in" : "query",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "publicArticlesCount", "allArticlesCount", "followersCount", "canCurrentUserReview", "portalUrl" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "rootCategoryResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "articleViewType", "associatedDepartmentIds", "canCurrentUserModerate", "createdBy", "createdTime", "description", "encryptedWorkspaceId", "feedbackTicketConversionPreference", "groups", "helpcenterId", "id", "isFollowing", "isReviewEnabled", "isTrashed", "logoUrl", "moderationType", "modifiedBy", "modifiedTime", "name", "order", "primaryDepartmentId", "status", "translations", "visibility", "workspaceId" ],
                    "properties" : {
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "description" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "helpcenterId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "isReviewEnabled" : { },
                      "isTrashed" : { },
                      "translations" : {
                        "items" : {
                          "required" : [ "categoryId", "createdBy", "createdTime", "description", "id", "locale", "modifiedBy", "modifiedTime", "name", "permalink" ],
                          "properties" : {
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "createdBy" : {
                              "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "status" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                                },
                                "zuid" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "description" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "modifiedBy" : {
                              "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "status" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                                },
                                "zuid" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "permalink" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[a-z0-9\\/%\\-\\P{InBasicLatin}]+"
                            },
                            "locale" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
                              "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Language of the trashed categories",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "categoryId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Get trashed categories under the given topic",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "portalUrl" : {
                              "maxLength" : 255,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "moderationType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "FIRST_ACTION", "ALL_ACTION", "NONE" ]
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "modifiedBy" : {
                        "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "name" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                          },
                          "zuid" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "primaryDepartmentId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "order" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "workspaceId" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^([a-zA-Z0-9]{37}|-1)$"
                      },
                      "isFollowing" : { },
                      "articleViewType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "LISTVIEW", "OVERVIEW" ]
                      },
                      "visibility" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "ALL_USERS", "AGENTS", "GROUP_USERS", "PRIVATE_IP", "NONE" ]
                      },
                      "canCurrentUserModerate" : { },
                      "groups" : {
                        "items" : {
                          "required" : [ "id", "logoUrl", "name" ],
                          "properties" : {
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "logoUrl" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "logoUrl" : {
                        "maxLength" : 255,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "feedbackTicketConversionPreference" : {
                        "required" : [ "assignee", "departmentId", "status" ],
                        "properties" : {
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "assignee" : {
                            "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                            "properties" : {
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "name" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "status" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                              },
                              "zuid" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ENABLED", "DISABLED" ]
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "associatedDepartmentIds" : {
                        "uniqueItems" : true,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "encryptedWorkspaceId" : {
                        "maxLength" : 255,
                        "minLength" : 0
                      },
                      "createdBy" : {
                        "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "name" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                          },
                          "zuid" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "SHOW_IN_HELPCENTER", "HIDE_IN_HELPCENTER", "DISABLED", "ENABLED" ]
                      },
                      "publicArticlesCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "allArticlesCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "allArticleTemplateCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "followersCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "portalUrl" : {
                        "maxLength" : 255,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "canCurrentUserReview" : { },
                      "sectionsCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "publishedArticleCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "ipAddresses" ],
                    "properties" : {
                      "ipAddresses" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^((?:(?:(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)|\\*)\\.){3}(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)|\\*)(/(?:[012]?[0-9]|3[012]))?)|\\*)$",
                          "x-custom-parameters-attributes" : [ ]
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1577978811000,
                      "helpcenterId" : "5000000015871",
                      "isReviewEnabled" : true,
                      "isTrashed" : false,
                      "translations" : [ {
                        "modifiedTime" : 1577978682000,
                        "createdBy" : {
                          "photoURL" : null,
                          "name" : "Zylker",
                          "id" : "5000000015867",
                          "status" : "ACTIVE",
                          "zuid" : "343224"
                        },
                        "name" : "Root category name",
                        "description" : "description of root",
                        "createdTime" : 1577978682000,
                        "modifiedBy" : {
                          "photoURL" : null,
                          "name" : "Zylker",
                          "id" : "5000000015867",
                          "status" : "ACTIVE",
                          "zuid" : "343224"
                        },
                        "id" : "5000000336004",
                        "permalink" : "root-category-name",
                        "locale" : "en",
                        "categoryId" : "5000000319037"
                      } ],
                      "moderationType" : "ALL_ACTION",
                      "createdTime" : 1577707830000,
                      "modifiedBy" : {
                        "photoURL" : null,
                        "name" : "Zylker",
                        "id" : "5000000015867",
                        "status" : "ACTIVE",
                        "zuid" : "343224"
                      },
                      "primaryDepartmentId" : "5000000063894",
                      "id" : "5000000319037",
                      "order" : "3",
                      "workspaceId" : "asadasda",
                      "isFollowing" : true,
                      "visibility" : "ALL_USERS",
                      "articleViewType" : "LISTVIEW",
                      "canCurrentUserModerate" : true,
                      "groups" : [ ],
                      "logoUrl" : "https://desk.zoho.com/support/App/build/fonts/certificate.svg",
                      "feedbackTicketConversionPreference" : {
                        "departmentId" : "5000000063895",
                        "assignee" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/5000000000059/photo?orgId=15114553",
                          "name" : "Charlie Marlie",
                          "id" : "5000000000059",
                          "status" : "ACTIVE",
                          "zuid" : "15224545"
                        },
                        "status" : "ENABLED"
                      },
                      "associatedDepartmentIds" : [ "5000000063895" ],
                      "encryptedWorkspaceId" : "uhahsdhada",
                      "createdBy" : {
                        "photoURL" : null,
                        "name" : "Zylker",
                        "id" : "5000000015867",
                        "status" : "ACTIVE",
                        "zuid" : "343224"
                      },
                      "name" : "Root category name",
                      "ipAddresses" : [ ],
                      "status" : "SHOW_IN_HELPCENTER"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Lenient_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "ae47dfb4c436f84d380c17850fefd368",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.kbcategory.rest.KbCategoryService.getARootCategory"
        }
      },
      "patch" : {
        "tags" : [ "KBRootCategory" ],
        "summary" : "Update root category",
        "description" : "This API updates the settings of a root category.",
        "operationId" : "updateRootCategory",
        "parameters" : [ {
          "name" : "rootCategoryId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "articleViewType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "View to apply while listing help articles. Values allowed are: LISTVIEW and OVERVIEW.",
                    "enum" : [ "LISTVIEW", "OVERVIEW" ]
                  },
                  "visibility" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Visibility setting of the category. Values allowed are: AGENTS, GROUP_USERS, ALL_USERS, NONE, and PRIVATE_IP.",
                    "enum" : [ "ALL_USERS", "AGENTS", "GROUP_USERS", "PRIVATE_IP", "NONE" ]
                  },
                  "description" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : "A brief description of the category"
                  },
                  "feedbackTicketConversionPreference" : {
                    "required" : [ "assigneeId", "departmentId", "status" ],
                    "properties" : {
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the department in which the tickets must be created",
                        "format" : "int64"
                      },
                      "assigneeId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the user to whom the tickets must be assigned. If you do not pass a value for this key, the ticket remains unassigned.",
                        "format" : "int64"
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Activation status of auto-conversion for the category. Values allowed are: ENABLED and DISABLED",
                        "enum" : [ "ENABLED", "DISABLED" ]
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "associatedDepartmentIds" : {
                    "uniqueItems" : true,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "isReviewEnabled" : {
                    "description" : "Key that specifies whether the category must be reviewed or not"
                  },
                  "translations" : {
                    "items" : {
                      "required" : [ "description", "locale", "name" ],
                      "properties" : {
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Name of the category",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "description" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "A brief description of the category",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "locale" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
                          "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ]
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "moderationType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Type of moderation applied to the category. Values allowed are: @NONE@, @ALL_ACTION@, @FIRST_ACTION@",
                    "enum" : [ "FIRST_ACTION", "ALL_ACTION", "NONE" ]
                  },
                  "groupIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Name of the category"
                  },
                  "ipAddresses" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^((?:(?:(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)|\\*)\\.){3}(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)|\\*)(/(?:[012]?[0-9]|3[012]))?)|\\*)$",
                      "x-custom-parameters-attributes" : [ ]
                    }
                  },
                  "primaryDepartmentId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the department to which the category belongs",
                    "format" : "int64"
                  },
                  "logoId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the logo to set for the category",
                    "format" : "int64"
                  },
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Activation status of the category",
                    "enum" : [ "SHOW_IN_HELPCENTER", "HIDE_IN_HELPCENTER" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "isReviewEnabled" : true,
                    "articleViewType" : "LISTVIEW",
                    "visibility" : "AGENTS",
                    "moderationType" : "ALL_ACTION",
                    "translations" : [ {
                      "name" : "Root name",
                      "description" : "Root description",
                      "permalink" : "root-name-1",
                      "locale" : "en"
                    } ],
                    "primaryDepartmentId" : "5000000063894",
                    "logoId" : "25",
                    "feedbackTicketConversionPreference" : {
                      "departmentId" : "5000000063895",
                      "assigneeId" : "5000000000059",
                      "status" : "ENABLED"
                    },
                    "status" : "SHOW_IN_HELPCENTER",
                    "associatedDepartmentIds" : [ "5000000063895" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "rootCategoryResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "articleViewType", "associatedDepartmentIds", "canCurrentUserModerate", "createdBy", "createdTime", "description", "encryptedWorkspaceId", "feedbackTicketConversionPreference", "groups", "helpcenterId", "id", "isFollowing", "isReviewEnabled", "isTrashed", "logoUrl", "moderationType", "modifiedBy", "modifiedTime", "name", "order", "primaryDepartmentId", "status", "translations", "visibility", "workspaceId" ],
                    "properties" : {
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "description" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "helpcenterId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "isReviewEnabled" : { },
                      "isTrashed" : { },
                      "translations" : {
                        "items" : {
                          "required" : [ "categoryId", "createdBy", "createdTime", "description", "id", "locale", "modifiedBy", "modifiedTime", "name", "permalink" ],
                          "properties" : {
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "createdBy" : {
                              "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "status" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                                },
                                "zuid" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "description" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "modifiedBy" : {
                              "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "status" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                                },
                                "zuid" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "permalink" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[a-z0-9\\/%\\-\\P{InBasicLatin}]+"
                            },
                            "locale" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([a-zA-Z]{2,4}([-_][a-zA-Z]{2})?)",
                              "enum" : [ "en", "ja", "zh", "es", "de", "fr", "tr", "ru", "pt", "it", "nl", "da", "sv", "pl", "ar", "he", "af", "cs", "fr-ca", "bg", "fi", "el", "hu", "id", "nb", "ro", "th", "uk", "vi", "ur", "hi", "te", "kn", "ta", "mr", "ko", "fa", "bn", "gu", "ms", "ml", "en-gb", "sk", "hr", "sl", "zh_TW", "zh-tw", "ca", "ka", "kk", "my", "km", "pt-br" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Language of the trashed categories",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "categoryId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Get trashed categories under the given topic",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "portalUrl" : {
                              "maxLength" : 255,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "moderationType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "FIRST_ACTION", "ALL_ACTION", "NONE" ]
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "modifiedBy" : {
                        "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "name" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                          },
                          "zuid" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "primaryDepartmentId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "order" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "workspaceId" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^([a-zA-Z0-9]{37}|-1)$"
                      },
                      "isFollowing" : { },
                      "articleViewType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "LISTVIEW", "OVERVIEW" ]
                      },
                      "visibility" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "ALL_USERS", "AGENTS", "GROUP_USERS", "PRIVATE_IP", "NONE" ]
                      },
                      "canCurrentUserModerate" : { },
                      "groups" : {
                        "items" : {
                          "required" : [ "id", "logoUrl", "name" ],
                          "properties" : {
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "logoUrl" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "logoUrl" : {
                        "maxLength" : 255,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "feedbackTicketConversionPreference" : {
                        "required" : [ "assignee", "departmentId", "status" ],
                        "properties" : {
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "assignee" : {
                            "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                            "properties" : {
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "name" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "status" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                              },
                              "zuid" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ENABLED", "DISABLED" ]
                          }
                        },
                        "additionalProperties" : false
                      },
                      "associatedDepartmentIds" : {
                        "uniqueItems" : true,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "encryptedWorkspaceId" : {
                        "maxLength" : 255,
                        "minLength" : 0
                      },
                      "createdBy" : {
                        "required" : [ "id", "name", "photoURL", "status", "zuid" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "name" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTIVE", "DISABLED", "LICENSE_DOWNGRADED", "DELETED", "ANONYMIZED", "CLOSED" ]
                          },
                          "zuid" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "SHOW_IN_HELPCENTER", "HIDE_IN_HELPCENTER", "DISABLED", "ENABLED" ]
                      },
                      "publicArticlesCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "allArticlesCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "allArticleTemplateCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "followersCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "portalUrl" : {
                        "maxLength" : 255,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "canCurrentUserReview" : { },
                      "sectionsCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "publishedArticleCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "ipAddresses" ],
                    "properties" : {
                      "ipAddresses" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^((?:(?:(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)|\\*)\\.){3}(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)|\\*)(/(?:[012]?[0-9]|3[012]))?)|\\*)$",
                          "x-custom-parameters-attributes" : [ ]
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1577978811000,
                      "helpcenterId" : "5000000015871",
                      "isReviewEnabled" : true,
                      "isTrashed" : false,
                      "translations" : [ {
                        "modifiedTime" : 1577978682000,
                        "createdBy" : {
                          "photoURL" : null,
                          "name" : "Zylker",
                          "id" : "5000000015867",
                          "status" : "ACTIVE",
                          "zuid" : "343224"
                        },
                        "name" : "Root category name",
                        "description" : "description of root",
                        "createdTime" : 1577978682000,
                        "modifiedBy" : {
                          "photoURL" : null,
                          "name" : "Zylker",
                          "id" : "5000000015867",
                          "status" : "ACTIVE",
                          "zuid" : "343224"
                        },
                        "id" : "5000000336004",
                        "permalink" : "root-category-name",
                        "locale" : "en",
                        "categoryId" : "5000000319037"
                      } ],
                      "moderationType" : "ALL_ACTION",
                      "createdTime" : 1577707830000,
                      "modifiedBy" : {
                        "photoURL" : null,
                        "name" : "Zylker",
                        "id" : "5000000015867",
                        "status" : "ACTIVE",
                        "zuid" : "343224"
                      },
                      "primaryDepartmentId" : "5000000063894",
                      "id" : "5000000319037",
                      "order" : "3",
                      "workspaceId" : "asadasda",
                      "isFollowing" : true,
                      "visibility" : "ALL_USERS",
                      "articleViewType" : "LISTVIEW",
                      "canCurrentUserModerate" : true,
                      "groups" : [ ],
                      "logoUrl" : "https://desk.zoho.com/support/App/build/fonts/certificate.svg",
                      "feedbackTicketConversionPreference" : {
                        "departmentId" : "5000000063895",
                        "assignee" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/5000000000059/photo?orgId=15114553",
                          "name" : "Charlie Marlie",
                          "id" : "5000000000059",
                          "status" : "ACTIVE",
                          "zuid" : "15224545"
                        },
                        "status" : "ENABLED"
                      },
                      "associatedDepartmentIds" : [ "5000000063895" ],
                      "encryptedWorkspaceId" : "uhahsdhada",
                      "createdBy" : {
                        "photoURL" : null,
                        "name" : "Zylker",
                        "id" : "5000000015867",
                        "status" : "ACTIVE",
                        "zuid" : "343224"
                      },
                      "name" : "Root category name",
                      "ipAddresses" : [ ],
                      "status" : "SHOW_IN_HELPCENTER"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.articles.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "helpCenter",
          "apihash" : "790d179e685cdf1963b4e8d9b02a31d1",
          "module-group" : "kb",
          "apimethod" : "com.zoho.desk.helpcenter.kbcategory.rest.KbCategoryService.updateARootCategory"
        }
      }
    },
    "/api/v1/kbRootCategories" : {
      "get" : {
        "tags" : [ "KBRootCategory" ],
        "summary" : "List root categories",
        "description" : "This API lists a particular number of root categories, based on the limit defined.",
        "operationId" : "getAllKBRootCategories",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Additional information related to the category. Values allowed are: publicArticlesCount, allArticlesCount, publishedArticleCount, allArticleTemplateCount and sectionsCount.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Additional information related to the category. Values allowed are: publicArticlesCount, allArticlesCount, publishedArticleCount, allArticleTemplateCount and sectionsCount.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "publicArticlesCount", "sectionsCount", "allArticlesCount", "publishedArticleCount", "followersCount", "canCurrentUserReview", "allArticleTemplateCount" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "isReviewEnabled",
          "in" : "query",
          "description" : "Key that specifies whether the category must be reviewed or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Key that specifies whether the category must be reviewed or not"
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department associated with the category",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department associated with the category",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Key that sorts the categories, based on a specific attribute: name or order",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Key that sorts the categories, based on a specific attribute: name or order",
            "enum" : [ "name", "order" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "listAllCategoryResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "articleViewType", "associatedDepartmentIds", "canCurrentUserModerate", "createdBy", "createdTime", "description", "encryptedWorkspaceId", "feedbackTicketConversionPreference", "groups", "helpcenterId", "id", "isFollowing", "isReviewEnabled", "isTrashed", "logoUrl", "moderationType", "modifiedBy", "modifiedTime", "name", "order", "primaryDepartmentId", "status", "translations", "visibility", "workspaceId" ],
                        "properties" : {
                          "modifiedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "description" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "helpcenterId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "isReviewEnabled" : { },
[...]
