{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "LayoutRules",
    "version" : "1.0.0",
    "x-clan-group" : "layouts",
    "x-module-group" : "layouts"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/layouts/{layoutId}/layoutRules/{layoutRuleId}" : {
      "get" : {
        "tags" : [ "LayoutRules" ],
        "summary" : "Get Layout Rule",
        "description" : "This API fetches a single rule from your help desk layout.",
        "operationId" : "getLayoutRule",
        "parameters" : [ {
          "name" : "layoutRuleId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "layoutId",
          "in" : "path",
          "description" : "Get the rules of the layout",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Get the rules of the layout",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "layoutrulejson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "createdBy", "createdTime", "description", "displayLabel", "executeInHelpCentre", "fieldConditions", "fieldName", "layoutId", "modifiedBy", "modifiedTime", "name", "status", "systemGenerated" ],
                    "properties" : {
                      "displayLabel" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "fieldConditions" : {
                        "items" : {
                          "required" : [ "actions", "conditions", "name", "pattern" ],
                          "properties" : {
                            "pattern" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "conditions" : {
                              "items" : {
                                "required" : [ "condition", "displayLabel", "displayValue", "fieldName", "value" ],
                                "properties" : {
                                  "displayValue" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  },
                                  "displayLabel" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "condition" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "fieldName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "value" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "actions" : {
                              "required" : [ "setMandatoryFields", "showFields", "showSections" ],
                              "properties" : {
                                "showSections" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "showFields" : {
                                  "items" : {
                                    "required" : [ "displayLabel", "fieldName" ],
                                    "properties" : {
                                      "displayLabel" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "fieldName" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                },
                                "setMandatoryFields" : {
                                  "items" : {
                                    "required" : [ "displayLabel", "fieldName" ],
                                    "properties" : {
                                      "displayLabel" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "fieldName" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "fieldName" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "description" : {
                        "maxLength" : 65535,
                        "minLength" : 0
                      },
                      "systemGenerated" : { },
                      "layoutId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "executeInHelpCentre" : { },
                      "createdBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "modifiedBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "active", "deactive" ]
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "id" ],
                    "properties" : {
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "fieldConditions" : [ {
                        "name" : "condition 1",
                        "pattern" : "(1and2)or3",
                        "conditions" : [ {
                          "condition" : "is",
                          "fieldName" : "email",
                          "value" : [ "carol@zylker.com" ]
                        }, {
                          "condition" : "is",
                          "fieldName" : "accountId",
                          "value" : [ "Ramkumar" ]
                        }, {
                          "condition" : "is",
                          "fieldName" : "productId",
                          "value" : [ "Honda" ]
                        } ],
                        "actions" : {
                          "showSections" : [ "Additional Information" ],
                          "showFields" : [ "subject" ],
                          "setMandatoryFields" : [ "priority" ]
                        }
                      }, {
                        "name" : "condition 2",
                        "pattern" : "1 and (2 or 3)",
                        "conditions" : [ {
                          "condition" : "is",
                          "fieldName" : "email",
                          "value" : [ "carol@zylker.com" ]
                        }, {
                          "condition" : "is",
                          "fieldName" : "accountId",
                          "value" : [ "Sundar" ]
                        }, {
                          "condition" : "is",
                          "fieldName" : "productId",
                          "value" : [ "Maruthi" ]
                        } ],
                        "actions" : {
                          "showSections" : [ ],
                          "showFields" : [ "subject" ],
                          "setMandatoryFields" : [ "Description" ]
                        }
                      } ],
                      "modifiedTime" : 1536887322000,
                      "fieldName" : "email",
                      "description" : "Rule 1 for layout",
                      "systemGenerated" : false,
                      "layoutId" : "4000000007723",
                      "executeInHelpCentre" : false,
                      "createdBy" : "4000000015963",
                      "name" : "Rule 11",
                      "createdTime" : 1536887242000,
                      "modifiedBy" : "4000000015963",
                      "id" : "4000000021001",
                      "status" : "active"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "layouts",
          "apihash" : "4a1e37dd035f97592f592928ac96fd79",
          "module-group" : "layouts",
          "apimethod" : "com.zoho.support.restapi.LayoutRuleService.getLayoutRule"
        }
      },
      "delete" : {
        "tags" : [ "LayoutRules" ],
        "summary" : "Delete Layout Rule",
        "description" : "This API deletes a layout rule created for a field from a layout.",
        "operationId" : "deleteLayoutRule",
        "parameters" : [ {
          "name" : "layoutRuleId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "layoutId",
          "in" : "path",
          "description" : "Get the rules of the layout",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Get the rules of the layout",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.DELETE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "layouts",
          "apihash" : "869d7561ce1aa00ba02965fd70873f43",
          "module-group" : "layouts",
          "apimethod" : "com.zoho.support.restapi.LayoutRuleService.deleteLayoutFormRule"
        }
      },
      "patch" : {
        "tags" : [ "LayoutRules" ],
        "summary" : "Update Layout Rule",
        "description" : "This API updates the details of an existing layout rule in a particular layout.",
        "operationId" : "updateLayoutRule",
        "parameters" : [ {
          "name" : "layoutRuleId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "layoutId",
          "in" : "path",
          "description" : "Get the rules of the layout",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Get the rules of the layout",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "description", "fieldConditions", "fieldName", "layoutId", "name" ],
                "properties" : {
                  "displayLabel" : {
                    "maxLength" : 200,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "modifiedTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                  },
                  "fieldConditions" : {
                    "items" : {
                      "required" : [ "actions", "conditions", "name", "pattern" ],
                      "properties" : {
                        "pattern" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "conditions" : {
                          "items" : {
                            "required" : [ "condition", "displayLabel", "displayValue", "fieldName", "value" ],
                            "properties" : {
                              "displayValue" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "displayLabel" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "condition" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "fieldName" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "value" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "actions" : {
                          "required" : [ "setMandatoryFields", "showFields", "showSections" ],
                          "properties" : {
                            "showSections" : {
                              "uniqueItems" : false,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            },
                            "showFields" : {
                              "items" : {
                                "required" : [ "displayLabel", "fieldName" ],
                                "properties" : {
                                  "displayLabel" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "fieldName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "setMandatoryFields" : {
                              "items" : {
                                "required" : [ "displayLabel", "fieldName" ],
                                "properties" : {
                                  "displayLabel" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "fieldName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "fieldName" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "description" : {
                    "maxLength" : 65535,
                    "minLength" : 0
                  },
                  "systemGenerated" : { },
                  "layoutId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "executeInHelpCentre" : { },
                  "createdBy" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "createdTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                  },
                  "modifiedBy" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "active", "deactive" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "fieldConditions" : [ {
                      "name" : "condition 1",
                      "pattern" : "(1and2)or3",
                      "conditions" : [ {
                        "condition" : "is",
                        "fieldName" : "email",
                        "value" : [ "carol@zylker.com" ]
                      }, {
                        "condition" : "is",
                        "fieldName" : "accountId",
                        "value" : [ "Ramkumar" ]
                      }, {
                        "condition" : "is",
                        "fieldName" : "productId",
                        "value" : [ "Honda" ]
                      } ],
                      "actions" : {
                        "showSections" : [ "Additional Information" ],
                        "showFields" : [ "subject" ],
                        "setMandatoryFields" : [ "priority" ]
                      }
                    }, {
                      "name" : "condition 2",
                      "pattern" : "1 and (2 or 3)",
                      "conditions" : [ {
                        "condition" : "is",
                        "fieldName" : "email",
                        "value" : [ "carol@zylker.com" ]
                      }, {
                        "condition" : "is",
                        "fieldName" : "accountId",
                        "value" : [ "Sundar" ]
                      }, {
                        "condition" : "is",
                        "fieldName" : "productId",
                        "value" : [ "Maruthi" ]
                      } ],
                      "actions" : {
                        "showSections" : [ ],
                        "showFields" : [ "subject" ],
                        "setMandatoryFields" : [ "Description" ]
                      }
                    } ],
                    "fieldName" : "email",
                    "executeInHelpCentre" : false,
                    "name" : "Rule 11",
                    "description" : "Rule 1 for layout",
                    "layoutId" : "4000000007723",
                    "status" : "active"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "layoutrulejson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "createdBy", "createdTime", "description", "displayLabel", "executeInHelpCentre", "fieldConditions", "fieldName", "layoutId", "modifiedBy", "modifiedTime", "name", "status", "systemGenerated" ],
                    "properties" : {
                      "displayLabel" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "fieldConditions" : {
                        "items" : {
                          "required" : [ "actions", "conditions", "name", "pattern" ],
                          "properties" : {
                            "pattern" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "conditions" : {
                              "items" : {
                                "required" : [ "condition", "displayLabel", "displayValue", "fieldName", "value" ],
                                "properties" : {
                                  "displayValue" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  },
                                  "displayLabel" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "condition" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "fieldName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "value" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "actions" : {
                              "required" : [ "setMandatoryFields", "showFields", "showSections" ],
                              "properties" : {
                                "showSections" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "showFields" : {
                                  "items" : {
                                    "required" : [ "displayLabel", "fieldName" ],
                                    "properties" : {
                                      "displayLabel" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "fieldName" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                },
                                "setMandatoryFields" : {
                                  "items" : {
                                    "required" : [ "displayLabel", "fieldName" ],
                                    "properties" : {
                                      "displayLabel" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "fieldName" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "fieldName" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "description" : {
                        "maxLength" : 65535,
                        "minLength" : 0
                      },
                      "systemGenerated" : { },
                      "layoutId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "executeInHelpCentre" : { },
                      "createdBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "modifiedBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "active", "deactive" ]
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "id" ],
                    "properties" : {
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "fieldConditions" : [ {
                        "name" : "condition 1",
                        "pattern" : "(1and2)or3",
                        "conditions" : [ {
                          "condition" : "is",
                          "fieldName" : "email",
                          "value" : [ "carol@zylker.com" ]
                        }, {
                          "condition" : "is",
                          "fieldName" : "accountId",
                          "value" : [ "Ramkumar" ]
                        }, {
                          "condition" : "is",
                          "fieldName" : "productId",
                          "value" : [ "Honda" ]
                        } ],
                        "actions" : {
                          "showSections" : [ "Additional Information" ],
                          "showFields" : [ "subject" ],
                          "setMandatoryFields" : [ "priority" ]
                        }
                      }, {
                        "name" : "condition 2",
                        "pattern" : "1 and (2 or 3)",
                        "conditions" : [ {
                          "condition" : "is",
                          "fieldName" : "email",
                          "value" : [ "carol@zylker.com" ]
                        }, {
                          "condition" : "is",
                          "fieldName" : "accountId",
                          "value" : [ "Sundar" ]
                        }, {
                          "condition" : "is",
                          "fieldName" : "productId",
                          "value" : [ "Maruthi" ]
                        } ],
                        "actions" : {
                          "showSections" : [ ],
                          "showFields" : [ "subject" ],
                          "setMandatoryFields" : [ "Description" ]
                        }
                      } ],
                      "modifiedTime" : 1536887322000,
                      "fieldName" : "email",
                      "description" : "Rule 1 for layout",
                      "systemGenerated" : false,
                      "layoutId" : "4000000007723",
                      "executeInHelpCentre" : false,
                      "createdBy" : "4000000015963",
                      "name" : "Rule 11",
                      "createdTime" : 1536887242000,
                      "modifiedBy" : "4000000015963",
                      "id" : "4000000021001",
                      "status" : "active"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "layouts",
          "apihash" : "5075e833125ee0a2d20ff60a9c407527",
          "module-group" : "layouts",
          "apimethod" : "com.zoho.support.restapi.LayoutRuleService.updateLayoutRule"
        }
      }
    },
    "/api/v1/layouts/{layoutId}/layoutRules" : {
      "get" : {
        "tags" : [ "LayoutRules" ],
        "summary" : "Get Layout Rules",
        "description" : "This API lists all the rules configured for a layout.",
        "operationId" : "listLayoutRules",
        "parameters" : [ {
          "name" : "searchString",
          "in" : "query",
          "description" : "Get the rules that have this search term",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Get the rules that have this search term"
          }
        }, {
          "name" : "executeInHelpCentre",
          "in" : "query",
          "description" : "Get the rules that can be executed in help centre",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Get the rules that can be executed in help centre"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of rules to be fetched. Default is 50",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number of rules to be fetched. Default is 50",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the rules must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the rules must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "activeRulesOnly",
          "in" : "query",
          "description" : "Get the rules that are active in the layout",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Get the rules that are active in the layout"
          }
        }, {
          "name" : "layoutId",
          "in" : "path",
          "description" : "Get the rules of the layout",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Get the rules of the layout",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "layoutRuleListArray template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "additionalProperties" : false,
                        "allOf" : [ {
                          "required" : [ "createdBy", "createdTime", "description", "displayLabel", "executeInHelpCentre", "fieldConditions", "fieldName", "layoutId", "modifiedBy", "modifiedTime", "name", "status", "systemGenerated" ],
                          "properties" : {
                            "displayLabel" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "fieldConditions" : {
                              "items" : {
                                "required" : [ "actions", "conditions", "name", "pattern" ],
                                "properties" : {
                                  "pattern" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "conditions" : {
                                    "items" : {
                                      "required" : [ "condition", "displayLabel", "displayValue", "fieldName", "value" ],
                                      "properties" : {
                                        "displayValue" : {
                                          "uniqueItems" : false,
                                          "items" : {
                                            "maxLength" : 100,
                                            "minLength" : 0
                                          }
                                        },
                                        "displayLabel" : {
                                          "maxLength" : 200,
                                          "minLength" : 0,
                                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                        },
                                        "condition" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "fieldName" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                        },
                                        "value" : {
                                          "uniqueItems" : false,
                                          "items" : {
                                            "maxLength" : 100,
                                            "minLength" : 0
                                          }
                                        }
                                      },
                                      "additionalProperties" : false
                                    }
                                  },
                                  "actions" : {
                                    "required" : [ "setMandatoryFields", "showFields", "showSections" ],
                                    "properties" : {
                                      "showSections" : {
                                        "uniqueItems" : false,
                                        "items" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        }
                                      },
                                      "showFields" : {
                                        "items" : {
                                          "required" : [ "displayLabel", "fieldName" ],
                                          "properties" : {
                                            "displayLabel" : {
                                              "maxLength" : 200,
                                              "minLength" : 0,
                                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                            },
                                            "fieldName" : {
                                              "maxLength" : 100,
                                              "minLength" : 0,
                                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                            }
                                          },
                                          "additionalProperties" : false
                                        }
                                      },
                                      "setMandatoryFields" : {
                                        "items" : {
                                          "required" : [ "displayLabel", "fieldName" ],
                                          "properties" : {
                                            "displayLabel" : {
                                              "maxLength" : 200,
                                              "minLength" : 0,
                                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                            },
                                            "fieldName" : {
                                              "maxLength" : 100,
                                              "minLength" : 0,
                                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                            }
                                          },
                                          "additionalProperties" : false
                                        }
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "fieldName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "description" : {
                              "maxLength" : 65535,
                              "minLength" : 0
                            },
                            "systemGenerated" : { },
                            "layoutId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "executeInHelpCentre" : { },
                            "createdBy" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "modifiedBy" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "active", "deactive" ]
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "id" ],
                          "properties" : {
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "fieldConditions" : [ {
                          "name" : "condition 1",
                          "pattern" : "(1and2)",
                          "conditions" : [ {
                            "condition" : "is",
                            "fieldName" : "email",
                            "value" : [ "carol@zylker.com" ]
                          }, {
                            "condition" : "is",
                            "fieldName" : "phone",
                            "value" : [ "9993292892" ]
                          } ],
                          "actions" : {
                            "showSections" : [ "Additional Information" ],
                            "showFields" : [ "subject" ],
                            "setMandatoryFields" : [ "priority" ]
                          }
                        } ],
                        "modifiedTime" : 1536887322000,
                        "fieldName" : "email",
                        "description" : "Rule 1 for layout",
                        "systemGenerated" : false,
                        "layoutId" : "4000000007723",
                        "executeInHelpCentre" : false,
                        "createdBy" : "4000000015963",
                        "name" : "Rule 1",
                        "createdTime" : 1536887242000,
                        "modifiedBy" : "4000000015963",
                        "id" : "4000000020001",
                        "status" : "active"
                      }, {
                        "fieldConditions" : [ {
                          "name" : "condition 2",
                          "pattern" : "(1or2)",
                          "conditions" : [ {
                            "condition" : "is",
                            "fieldName" : "phone",
                            "value" : [ "9993292892" ]
                          }, {
                            "condition" : "is",
                            "fieldName" : "email",
                            "value" : [ "carol@zylker.com" ]
                          } ],
                          "actions" : {
                            "showSections" : [ "Additional Information" ],
                            "showFields" : [ "subject" ],
                            "setMandatoryFields" : [ "priority" ]
                          }
                        } ],
                        "modifiedTime" : 1536887322000,
                        "fieldName" : "phone",
                        "description" : "Rule 2 for layout",
                        "systemGenerated" : false,
                        "layoutId" : "4000000007723",
                        "executeInHelpCentre" : false,
                        "createdBy" : "4000000015963",
                        "name" : "Rule 2",
                        "createdTime" : 1536887242000,
                        "modifiedBy" : "4000000015963",
                        "id" : "4000000021001",
                        "status" : "active"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "layouts",
          "apihash" : "df86dcd22cd23a0744ff75549234f6d9",
          "module-group" : "layouts",
          "apimethod" : "com.zoho.support.restapi.LayoutRuleService.getLayoutFormRuleList"
        }
      },
      "post" : {
        "tags" : [ "LayoutRules" ],
        "summary" : "Create Layout Rule",
        "description" : "This API creates a rule for a field in a layout.",
        "operationId" : "createLayoutRule",
        "parameters" : [ {
          "name" : "layoutId",
          "in" : "path",
          "description" : "Get the rules of the layout",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Get the rules of the layout",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "description", "fieldConditions", "fieldName", "layoutId", "name" ],
                "properties" : {
                  "displayLabel" : {
                    "maxLength" : 200,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "modifiedTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                  },
                  "fieldConditions" : {
                    "items" : {
                      "required" : [ "actions", "conditions", "name", "pattern" ],
                      "properties" : {
                        "pattern" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "conditions" : {
                          "items" : {
                            "required" : [ "condition", "displayLabel", "displayValue", "fieldName", "value" ],
                            "properties" : {
                              "displayValue" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "displayLabel" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "condition" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "fieldName" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "value" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "actions" : {
                          "required" : [ "setMandatoryFields", "showFields", "showSections" ],
                          "properties" : {
                            "showSections" : {
                              "uniqueItems" : false,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            },
                            "showFields" : {
                              "items" : {
                                "required" : [ "displayLabel", "fieldName" ],
                                "properties" : {
                                  "displayLabel" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "fieldName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "setMandatoryFields" : {
                              "items" : {
                                "required" : [ "displayLabel", "fieldName" ],
                                "properties" : {
                                  "displayLabel" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "fieldName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "fieldName" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "description" : {
                    "maxLength" : 65535,
                    "minLength" : 0
                  },
                  "systemGenerated" : { },
                  "layoutId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "executeInHelpCentre" : { },
                  "createdBy" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "createdTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                  },
                  "modifiedBy" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "active", "deactive" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "fieldConditions" : [ {
                      "name" : "condition 2",
                      "pattern" : "(1and2)",
                      "conditions" : [ {
                        "condition" : "is",
                        "fieldName" : "email",
                        "value" : [ "carol@zylker.com" ]
                      }, {
                        "condition" : "is",
                        "fieldName" : "phone",
                        "value" : [ "9993292892" ]
                      } ],
                      "actions" : {
                        "showSections" : [ "Additional Information" ],
                        "showFields" : [ "subject" ],
                        "setMandatoryFields" : [ "priority" ]
                      }
                    } ],
                    "fieldName" : "email",
                    "executeInHelpCentre" : true,
                    "name" : "Rule 1",
                    "description" : "Rule 1 for layout"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "layoutrulejson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "createdBy", "createdTime", "description", "displayLabel", "executeInHelpCentre", "fieldConditions", "fieldName", "layoutId", "modifiedBy", "modifiedTime", "name", "status", "systemGenerated" ],
                    "properties" : {
                      "displayLabel" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "fieldConditions" : {
                        "items" : {
                          "required" : [ "actions", "conditions", "name", "pattern" ],
                          "properties" : {
                            "pattern" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "conditions" : {
                              "items" : {
                                "required" : [ "condition", "displayLabel", "displayValue", "fieldName", "value" ],
                                "properties" : {
                                  "displayValue" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  },
                                  "displayLabel" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "condition" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "fieldName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "value" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "actions" : {
                              "required" : [ "setMandatoryFields", "showFields", "showSections" ],
                              "properties" : {
                                "showSections" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "showFields" : {
                                  "items" : {
                                    "required" : [ "displayLabel", "fieldName" ],
                                    "properties" : {
                                      "displayLabel" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "fieldName" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                },
                                "setMandatoryFields" : {
                                  "items" : {
                                    "required" : [ "displayLabel", "fieldName" ],
                                    "properties" : {
                                      "displayLabel" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "fieldName" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "fieldName" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "description" : {
                        "maxLength" : 65535,
                        "minLength" : 0
                      },
                      "systemGenerated" : { },
                      "layoutId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "executeInHelpCentre" : { },
                      "createdBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "modifiedBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "active", "deactive" ]
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "id" ],
                    "properties" : {
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "fieldConditions" : [ {
                        "name" : "condition 1",
                        "pattern" : "(1and2)or3",
                        "conditions" : [ {
                          "condition" : "is",
                          "fieldName" : "email",
                          "value" : [ "carol@zylker.com" ]
                        }, {
                          "condition" : "is",
                          "fieldName" : "accountId",
                          "value" : [ "Ramkumar" ]
                        }, {
                          "condition" : "is",
                          "fieldName" : "productId",
                          "value" : [ "Honda" ]
                        } ],
                        "actions" : {
                          "showSections" : [ "Additional Information" ],
                          "showFields" : [ "subject" ],
                          "setMandatoryFields" : [ "priority" ]
                        }
                      }, {
                        "name" : "condition 2",
                        "pattern" : "1 and (2 or 3)",
                        "conditions" : [ {
                          "condition" : "is",
                          "fieldName" : "email",
                          "value" : [ "carol@zylker.com" ]
                        }, {
                          "condition" : "is",
                          "fieldName" : "accountId",
                          "value" : [ "Sundar" ]
                        }, {
                          "condition" : "is",
                          "fieldName" : "productId",
                          "value" : [ "Maruthi" ]
                        } ],
                        "actions" : {
                          "showSections" : [ ],
                          "showFields" : [ "subject" ],
                          "setMandatoryFields" : [ "Description" ]
                        }
                      } ],
                      "modifiedTime" : 1536887322000,
                      "fieldName" : "email",
                      "description" : "Rule 1 for layout",
                      "systemGenerated" : false,
                      "layoutId" : "4000000007723",
                      "executeInHelpCentre" : false,
                      "createdBy" : "4000000015963",
                      "name" : "Rule 11",
                      "createdTime" : 1536887242000,
                      "modifiedBy" : "4000000015963",
                      "id" : "4000000021001",
                      "status" : "active"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "layouts",
          "apihash" : "a552d0c1fa2f8058bc574661e97e3fad",
          "module-group" : "layouts",
          "apimethod" : "com.zoho.support.restapi.LayoutRuleService.createLayoutRule"
        }
      }
    },
    "/api/v1/formRuleLimitations" : {
      "get" : {
        "tags" : [ "LayoutRules" ],
        "summary" : "Get Form Rule Limitations Count ",
        "description" : "This API gets the limitations count for Layout rules and validation rules.",
        "operationId" : "getFormRuleLimitationsCounts",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "formRuleLimitationResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "layoutRules", "validationRules" ],
                  "properties" : {
                    "layoutRules" : {
                      "required" : [ "maxActionCount", "maxBranchConditionCount", "maxCriteriaCount", "maxPrimaryConditionCount" ],
                      "properties" : {
                        "maxCriteriaCount" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "maxActionCount" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "maxPrimaryConditionCount" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "maxBranchConditionCount" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "validationRules" : {
                      "required" : [ "maxBranchConditionCount", "maxCriteriaCount", "maxPrimaryConditionCount" ],
                      "properties" : {
                        "maxCriteriaCount" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "maxPrimaryConditionCount" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "maxBranchConditionCount" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "layoutRules" : {
                        "maxCriteriaCount" : 5,
                        "maxActionCount" : 25,
                        "maxPrimaryConditionCount" : 25,
                        "maxBranchConditionCount" : 5
                      },
                      "validationRules" : {
                        "maxCriteriaCount" : 5,
                        "maxPrimaryConditionCount" : 10,
                        "maxBranchConditionCount" : 5
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "layouts",
          "apihash" : "1e08b4c5ec14bf11e9e5c608ebe7b17a",
          "module-group" : "layouts",
          "apimethod" : "com.zoho.support.restapi.LayoutService.getLayoutsRulesConditionCount"
        }
      }
    },
    "/api/v1/layoutRulesCount" : {
      "get" : {
        "tags" : [ "LayoutRules" ],
        "summary" : "Get Layout Rules Count For Layout",
        "description" : "This API gets layout rules count details for a layout.",
        "operationId" : "getLayoutRulesCount",
        "parameters" : [ {
          "name" : "layoutId",
          "in" : "query",
          "description" : "Get the rules of the layout",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Get the rules of the layout",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "layoutCountDetails template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "required" : [ "available", "maximumLimit" ],
                      "properties" : {
                        "maximumLimit" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "available" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : {
                        "maximumLimit" : 10,
                        "available" : 10
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 200,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 1800000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "layouts",
          "apihash" : "6db03e5f8d0e2d3eb17e1bac9fa0ba26",
          "module-group" : "layouts",
          "apimethod" : "com.zoho.support.restapi.LayoutRuleService.getLayoutRulesCount"
        }
      }
    },
    "/api/v1/fields/{fieldId}/disableAssociatedLayoutRulesInHC" : {
      "post" : {
        "tags" : [ "LayoutRules" ],
        "summary" : "Disable Execution In Help Centre",
        "description" : "This API disables execution of layout rules associated with a field in Help Centre. Only fields from tickets module are allowed to be passed as parameter to this API",
        "operationId" : "disableAssociatedLayoutRulesExecutionInHelpCentre",
        "parameters" : [ {
          "name" : "fieldId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No content"
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 200,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 1800000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "layouts",
          "apihash" : "7cf7091665de4e39e93a1d84f444c701",
          "module-group" : "layouts",
          "apimethod" : "com.zoho.support.restapi.LayoutRuleService.disableExecutionInHelpCentre"
        }
      }
    },
    "/api/v1/layoutRules" : {
      "get" : {
        "tags" : [ "LayoutRules" ],
        "summary" : "Get Layout Rules",
        "description" : "This API lists all the rules configured for a department/layout.",
        "operationId" : "getLayoutRules",
        "parameters" : [ {
          "name" : "searchString",
          "in" : "query",
[...]
