{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "License",
    "description" : "API for managing and querying license information, features, and plan details.",
    "version" : "v1",
    "x-clan-group" : "automation",
    "x-module-group" : "users"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "tags" : [ {
    "name" : "License",
    "description" : "Operations related to license features and plan information."
  } ],
  "paths" : {
    "/api/v1/licenses/features" : {
      "get" : {
        "tags" : [ "License" ],
        "summary" : "Get License Feature Information",
        "description" : "Fetches the list of all license features, with optional filters for active status and specific feature codes. Useful for retrieving their current availability (isAllowed) and usage limits. Returns either simple max values or detailed limit information based on the includeDetailedLimits parameter.",
        "operationId" : "featureInfo",
        "parameters" : [ {
          "name" : "featureCodes",
          "in" : "query",
          "description" : "Comma-separated list of feature codes to retrieve information for.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "items" : { }
          }
        }, {
          "name" : "isAllowed",
          "in" : "query",
          "description" : "Filter features based on their active status.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : { }
        }, {
          "name" : "includeDetailedLimits",
          "in" : "query",
          "description" : "Flag to include detailed per-unit feature limits (max, free, add-on values) instead of only max values.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : { }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved feature information.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "featureCode", "featureName", "isAllowed" ],
                        "properties" : {
                          "featureCode" : {
                            "description" : "The unique code of the feature.",
                            "example" : "AGNT01"
                          },
                          "featureName" : {
                            "description" : "The display name of the feature.",
                            "example" : "Agent"
                          },
                          "isAllowed" : {
                            "description" : "Indicates if the feature is currently allowed under the license.",
                            "example" : true
                          },
                          "limits" : {
                            "description" : "Array of license limits per applicable unit. Structure varies based on includeDetailedLimits parameter.",
                            "example" : [ {
                              "unitCode" : "ORG",
                              "maxValue" : 33,
                              "freeValue" : 5,
                              "addOnValue" : 3
                            } ],
                            "items" : {
                              "anyOf" : [ {
                                "required" : [ "maxValue", "unitCode" ],
                                "properties" : {
                                  "unitCode" : {
                                    "description" : "Type of unit for which the limit applies (e.g., ORG, AGENT, TEAM)",
                                    "example" : "ORG"
                                  },
                                  "maxValue" : {
                                    "description" : "Maximum allowed value for this unit",
                                    "example" : 33
                                  }
                                },
                                "additionalProperties" : false,
                                "description" : "Simple license unit with only max value"
                              }, {
                                "required" : [ "maxValue", "unitCode" ],
                                "properties" : {
                                  "unitCode" : {
                                    "description" : "Type of unit for which the limit applies (e.g., ORG, AGENT, TEAM)",
                                    "example" : "ORG"
                                  },
                                  "maxValue" : {
                                    "description" : "Maximum allowed value for this unit",
                                    "example" : 33
                                  },
                                  "freeValue" : {
                                    "description" : "Free value included in the base plan",
                                    "example" : 5
                                  },
                                  "addOnValue" : {
                                    "description" : "Additional value from add-ons",
                                    "example" : 3
                                  }
                                },
                                "description" : "Detailed license unit value information"
                              } ]
                            }
                          }
                        },
                        "description" : "Details of an allowed feature with flexible limit information."
                      }
                    }
                  }
                },
                "examples" : {
                  "simple" : {
                    "summary" : "Simple mode (includeDetailedLimits=false)",
                    "value" : {
                      "data" : [ {
                        "featureCode" : "AGNT01",
                        "featureName" : "Agent",
                        "isAllowed" : true,
                        "limits" : [ {
                          "unitCode" : "ORG",
                          "maxValue" : 33
                        } ]
                      } ]
                    }
                  },
                  "detailed" : {
                    "summary" : "Detailed mode (includeDetailedLimits=true)",
                    "value" : {
                      "data" : [ {
                        "featureCode" : "AGNT01",
                        "featureName" : "Agent",
                        "isAllowed" : true,
                        "limits" : [ {
                          "unitCode" : "ORG",
                          "maxValue" : 33,
                          "freeValue" : 5,
                          "addOnValue" : 3
                        } ]
                      } ]
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          }
        },
        "x-custom-url-attributes" : {
          "apimethod" : "com.zoho.desk.license.api.LicenseService.getFeaturesInfo"
        },
        "x-audience" : [ "external-public" ]
      }
    },
    "/api/v1/licenses/features/{featureCode}/availability" : {
      "get" : {
        "tags" : [ "License" ],
        "summary" : "Check License Availability",
        "description" : "Checks if a specific license feature is available, potentially for a given entity and item count.",
        "operationId" : "checkLicenseAvailability",
        "parameters" : [ {
          "name" : "featureCode",
          "in" : "path",
          "description" : "The feature code to check availability for.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : { }
        }, {
          "name" : "entityId",
          "in" : "query",
          "description" : "The ID of the entity (e.g., Department ID) for which to check availability.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "format" : "int64"
          }
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The number of items for which the license is being checked.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : { }
        }, {
          "name" : "criteria",
          "in" : "query",
          "description" : "Refine license availability check based on constraints",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : { }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully checked license availability.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "isAllowed" ],
                  "properties" : {
                    "isAllowed" : {
                      "description" : "Indicates whether the requested license feature is available/allowed.",
                      "example" : true
                    }
                  }
                },
                "examples" : {
                  "isAllowed" : {
                    "value" : {
                      "isAllowed" : true
                    }
                  },
                  "notAllowed" : {
                    "value" : {
                      "isAllowed" : false
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          }
        },
        "x-audience" : [ "external-public" ],
        "x-custom-url-attributes" : {
          "apimethod" : "com.zoho.desk.license.api.LicenseService.checkLicenseAvailable"
        }
      }
    },
    "/api/v1/licenses/plan" : {
      "get" : {
        "tags" : [ "License" ],
        "summary" : "Get License Plan Information",
        "description" : "Retrieves details about the current license plan.",
        "operationId" : "planinfo",
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved plan information.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "properties" : {
                    "planName" : {
                      "description" : "The name of the current plan.",
                      "example" : "Enterprise"
                    },
                    "planCode" : {
                      "description" : "The unique code for the current plan.",
                      "example" : "ENTP01"
                    },
                    "planStatus" : {
                      "description" : "The current status of the plan (e.g., Active, Trial, Expired).",
                      "example" : "Active"
                    },
                    "expiryDate" : {
                      "description" : "The expiry date of the current plan represented as milliseconds since Unix epoch.",
                      "format" : "int64",
                      "example" : 1749203963937
                    },
                    "billingCycle" : {
                      "description" : "The billing cycle for the plan (e.g., Monthly, Annual).",
                      "example" : "Annual"
                    },
                    "storePlanId" : {
                      "description" : "The ID of the plan in the billing/store system.",
                      "example" : 12345
                    },
                    "storeProfileId" : {
                      "description" : "The ID of the profile in the billing/store system.",
                      "example" : "prof_abc123"
                    },
                    "previousPlanCode" : {
                      "description" : "The code of the previous plan, if applicable.",
                      "example" : "PRO01"
                    }
                  },
                  "description" : "Detailed information about the current license plan."
                },
                "examples" : {
                  "success" : {
                    "value" : {
                      "planName" : "Enterprise",
                      "planCode" : "ENTP01",
                      "planStatus" : "Active",
                      "expiryDate" : "1749203963937",
                      "billingCycle" : "Annual",
                      "storePlanId" : 12345,
                      "storeProfileId" : "prof_abc123",
                      "previousPlanCode" : "PRO01"
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          }
        },
        "x-audience" : [ "external-public" ],
        "x-custom-url-attributes" : {
          "apimethod" : "com.zoho.desk.license.api.LicenseService.getPlanInfo"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "LicenseUnitValue" : {
        "required" : [ "maxValue", "unitCode" ],
        "properties" : {
          "unitCode" : {
            "description" : "Type of unit for which the limit applies (e.g., ORG, AGENT, TEAM)",
            "example" : "ORG"
          },
          "maxValue" : {
            "description" : "Maximum allowed value for this unit",
            "example" : 33
          },
          "freeValue" : {
            "description" : "Free value included in the base plan",
            "example" : 5
          },
          "addOnValue" : {
            "description" : "Additional value from add-ons",
            "example" : 3
          }
        },
        "description" : "Detailed license unit value information"
      },
      "SimpleLicenseUnit" : {
        "required" : [ "maxValue", "unitCode" ],
        "properties" : {
          "unitCode" : {
            "description" : "Type of unit for which the limit applies (e.g., ORG, AGENT, TEAM)",
            "example" : "ORG"
          },
          "maxValue" : {
            "description" : "Maximum allowed value for this unit",
            "example" : 33
          }
        },
        "additionalProperties" : { },
        "description" : "Simple license unit with only max value"
      },
      "FeatureAllowed" : {
        "required" : [ "featureCode", "featureName", "isAllowed" ],
        "properties" : {
          "featureCode" : {
            "description" : "The unique code of the feature.",
            "example" : "AGNT01"
          },
          "featureName" : {
            "description" : "The display name of the feature.",
            "example" : "Agent"
          },
          "isAllowed" : {
            "description" : "Indicates if the feature is currently allowed under the license.",
            "example" : true
          },
          "limits" : {
            "description" : "Array of license limits per applicable unit. Structure varies based on includeDetailedLimits parameter.",
            "example" : [ {
              "unitCode" : "ORG",
              "maxValue" : 33,
              "freeValue" : 5,
              "addOnValue" : 3
            } ],
            "items" : {
              "anyOf" : [ {
                "required" : [ "maxValue", "unitCode" ],
                "properties" : {
                  "unitCode" : {
                    "description" : "Type of unit for which the limit applies (e.g., ORG, AGENT, TEAM)",
                    "example" : "ORG"
                  },
                  "maxValue" : {
                    "description" : "Maximum allowed value for this unit",
                    "example" : 33
                  }
                },
                "additionalProperties" : false,
                "description" : "Simple license unit with only max value"
              }, {
                "required" : [ "maxValue", "unitCode" ],
                "properties" : {
                  "unitCode" : {
                    "description" : "Type of unit for which the limit applies (e.g., ORG, AGENT, TEAM)",
                    "example" : "ORG"
                  },
                  "maxValue" : {
                    "description" : "Maximum allowed value for this unit",
                    "example" : 33
                  },
                  "freeValue" : {
                    "description" : "Free value included in the base plan",
                    "example" : 5
                  },
                  "addOnValue" : {
                    "description" : "Additional value from add-ons",
                    "example" : 3
                  }
                },
                "description" : "Detailed license unit value information"
              } ]
            }
          }
        },
        "description" : "Details of an allowed feature with flexible limit information."
      },
      "LicenseFeatureListResponse" : {
        "properties" : {
          "data" : {
            "items" : {
              "required" : [ "featureCode", "featureName", "isAllowed" ],
              "properties" : {
                "featureCode" : {
                  "description" : "The unique code of the feature.",
                  "example" : "AGNT01"
                },
                "featureName" : {
                  "description" : "The display name of the feature.",
                  "example" : "Agent"
                },
                "isAllowed" : {
                  "description" : "Indicates if the feature is currently allowed under the license.",
                  "example" : true
                },
                "limits" : {
                  "description" : "Array of license limits per applicable unit. Structure varies based on includeDetailedLimits parameter.",
                  "example" : [ {
                    "unitCode" : "ORG",
                    "maxValue" : 33,
                    "freeValue" : 5,
                    "addOnValue" : 3
                  } ],
                  "items" : {
                    "anyOf" : [ {
                      "required" : [ "maxValue", "unitCode" ],
                      "properties" : {
                        "unitCode" : {
                          "description" : "Type of unit for which the limit applies (e.g., ORG, AGENT, TEAM)",
                          "example" : "ORG"
                        },
                        "maxValue" : {
                          "description" : "Maximum allowed value for this unit",
                          "example" : 33
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Simple license unit with only max value"
                    }, {
                      "required" : [ "maxValue", "unitCode" ],
                      "properties" : {
                        "unitCode" : {
                          "description" : "Type of unit for which the limit applies (e.g., ORG, AGENT, TEAM)",
                          "example" : "ORG"
                        },
                        "maxValue" : {
                          "description" : "Maximum allowed value for this unit",
                          "example" : 33
                        },
                        "freeValue" : {
                          "description" : "Free value included in the base plan",
                          "example" : 5
                        },
                        "addOnValue" : {
                          "description" : "Additional value from add-ons",
                          "example" : 3
                        }
                      },
                      "description" : "Detailed license unit value information"
                    } ]
                  }
                }
              },
              "description" : "Details of an allowed feature with flexible limit information."
            }
          }
        }
      },
      "IsAllowedResponse" : {
        "required" : [ "isAllowed" ],
        "properties" : {
          "isAllowed" : {
            "description" : "Indicates whether the requested license feature is available/allowed.",
            "example" : true
          }
        }
      },
      "PlanInfoResponse" : {
        "properties" : {
          "planName" : {
            "description" : "The name of the current plan.",
            "example" : "Enterprise"
          },
          "planCode" : {
            "description" : "The unique code for the current plan.",
            "example" : "ENTP01"
          },
          "planStatus" : {
            "description" : "The current status of the plan (e.g., Active, Trial, Expired).",
            "example" : "Active"
          },
          "expiryDate" : {
            "description" : "The expiry date of the current plan represented as milliseconds since Unix epoch.",
            "format" : "int64",
            "example" : 1749203963937
          },
          "billingCycle" : {
            "description" : "The billing cycle for the plan (e.g., Monthly, Annual).",
            "example" : "Annual"
          },
          "storePlanId" : {
            "description" : "The ID of the plan in the billing/store system.",
            "example" : 12345
          },
          "storeProfileId" : {
            "description" : "The ID of the profile in the billing/store system.",
            "example" : "prof_abc123"
          },
          "previousPlanCode" : {
            "description" : "The code of the previous plan, if applicable.",
            "example" : "PRO01"
          }
        },
        "description" : "Detailed information about the current license plan."
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "OAuth Org Mismatch Error Response" : {
                "value" : {
                  "errorCode" : "OAUTH_ORG_MISMATCH",
                  "message" : "The OAuthToken is not valid for specified organization."
                }
              }
            }
          }
        }
      },
      "forbiddenErrorResponse" : {
        "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Forbidden Error Response" : {
                "value" : {
                  "errorCode" : "FORBIDDEN",
                  "message" : "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "urlNotFoundErrorResponse" : {
        "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Url Not Found Error Response" : {
                "value" : {
                  "errorCode" : "URL_NOT_FOUND",
                  "message" : "The URL you requested could not be found."
                }
              }
            }
          }
        }
      },
      "methodNotAllowedErrorResponse" : {
        "description" : "This errorCode value appears if the method in the API request is known by the server but disabled for the API requested.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Method Not Allowed Error Response" : {
                "value" : {
                  "errorCode" : "METHOD_NOT_ALLOWED",
                  "message" : "This HTTP method is not allowed on this URL."
                }
              }
            }
          }
        }
      },
      "resourceSizeExceededErrorResponse" : {
        "description" : "This errorCode value appears if the size of the resource exceeds the limit defined by the server.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Resource Size Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "RESOURCE_SIZE_EXCEEDED",
                  "message" : "Attachment size is too large. The maximum size supported is 20 MB."
                }
              }
            }
          }
        }
      },
      "unSupportedMediaTypeErrorResponse" : {
        "description" : "This errorCode value appears if the server refuses the request as a result of receiving the input in an unsupported format.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unsupported Media Type Error Response" : {
                "value" : {
                  "errorCode" : "UNSUPPORTED_MEDIA_TYPE",
                  "message" : "The given content type is not supported. Please provide the input Content-Type as application/json"
                }
              }
            }
          }
        }
      },
      "unprocessableEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The value passed for the 'from' query parameter is invalid."
                }
              }
            }
          }
        }
      },
      "missingEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not contain the mandatory parameters for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The mandatory parameter 'permission' is missing"
                }
              }
            }
          }
        }
      },
      "thresholdExceedErrorResponse" : {
        "description" : "This errorCode value appears if the user sends too many requests within a given amount of time (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Threshold Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "THRESHOLD_EXCEEDED",
                  "message" : "The maximum number of API calls that can be made per day has been exceeded."
                }
              }
            }
          }
        }
      },
      "concurrentRateLimitExceededErrorResponse" : {
        "description" : "This errorCode value appears if the user fires too many requests in a simultaneous/concurrent manner (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Concurrent Rate Limit Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "TOO_MANY_REQUESTS",
                  "message" : "The maximum number of Concurrent API Calls that can be made has been exceeded."
                }
              }
            }
          }
        }
      },
      "internalErrorResponse" : {
        "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Internal Server Error Response" : {
                "value" : {
                  "errorCode" : "INTERNAL_SERVER_ERROR",
                  "message" : "An internal server error occurred while performing this operation."
                }
              }
            }
          }
        }
      },
      "licenseErrorResponse" : {
        "description" : "This errorCode value appears if the user is unable to perform an action due to the limitations of the Zoho Desk edition in use\nThe possible values for the feature key are\n    *AGENTS*\n    *LIGHT_AGENTS*\n    *TEAM*\nThe possible values for the editionType key are\n    *FREE*\n    *PROFESSIONAL*\n    *ENTERPRISE*",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "editionType", "feature", "isTrial", "maxAllowedEntity" ],
                "properties" : {
                  "maxAllowedEntity" : {
                    "pattern" : "([0-9]+)"
                  },
                  "feature" : {
                    "enum" : [ "AGENTS", "LIGHT_AGENTS", "TEAM" ]
                  },
                  "editionType" : {
                    "enum" : [ "ENTERPRISE", "PROFESSIONAL", "STANDARD", "EXPRESS", "FREE" ]
                  },
                  "isTrial" : { }
                }
              } ]
            },
            "examples" : {
              "LicenseAccessLimited Error Response" : {
                "value" : {
                  "errorCode" : "LICENSE_ACCESS_LIMITED",
                  "maxAllowedEntity" : "10",
                  "feature" : "AGENTS",
                  "editionType" : "FREE",
                  "isTrial" : false,
                  "message" : "Your Zoho Desk Edition does not support this feature/operation."
                }
              }
            }
          }
        }
      },
      "multipleUnprocessEntityResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "anyOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "additionalProperties" : { },
                "allOf" : [ {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                }, {
                  "required" : [ "errors" ],
                  "properties" : {
                    "errors" : {
                      "items" : {
                        "required" : [ "errorMessage", "errorType", "fieldName" ],
                        "properties" : {
                          "fieldName" : { },
                          "errorType" : {
                            "enum" : [ "invalid", "duplicate", "missing" ]
                          },
                          "errorMessage" : { }
                        }
                      }
                    }
                  }
                } ]
              } ]
            }
          }
        }
      },
      "invalidDataErrorResponse" : {
        "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "errors" ],
                "properties" : {
                  "errors" : {
                    "items" : {
                      "required" : [ "errorMessage", "errorType", "fieldName" ],
                      "properties" : {
                        "fieldName" : { },
                        "errorType" : {
                          "enum" : [ "invalid", "duplicate", "missing" ]
                        },
                        "errorMessage" : { }
                      }
                    }
                  }
                }
              } ]
            },
            "examples" : {
              "Invalid Data Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_DATA",
                  "message" : "The data does not comply to the validation restrictions defined.",
                  "errors" : [ {
                    "fieldName" : "/contactId",
                    "errorType" : "invalid"
                  }, {
                    "fieldName" : "/departmentId",
                    "errorType" : "invalid"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "parameters" : {
      "orgId" : {
        "name" : "orgId",
        "in" : "query",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "([0-9]+)",
          "format" : "int32",
          "x-custom-parameters-attributes" : { }
        }
      },
      "portalId" : {
        "name" : "portalId",
        "in" : "query",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "([a-zA-Z0-9\\-\\:])+",
          "format" : "int32",
          "x-custom-parameters-attributes" : {
            "decrypt" : true
          }
        }
      }
    },
    "securitySchemes" : {
      "cookie-auth" : {
        "type" : "apiKey",
        "name" : "X-CSRF-TOKEN",
        "in" : "cookie"
      },
      "org-oauth" : {
        "type" : "oauth2",
        "description" : "Org OAuth description",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "/oauth/v2/org/auth",
            "tokenUrl" : "/oauth/v2/token",
            "scopes" : {
              "Desk.accessAll.ALL" : "All Operations on data generated by Zoho Desk"
            }
          }
        }
      },
      "iam-oauth2-schema" : {
        "type" : "oauth2",
        "description" : "Oauth description",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "/oauth/v2/auth",
            "tokenUrl" : "/oauth/v2/token",
            "scopes" : {
              "Desk.zia.create" : "CREATE Operations on data generated by ZIA",
              "Desk.zia.update" : "UPDATE Operations on data generated by ZIA",
              "Desk.zia.read" : "READ Operations on data generated by ZIA",
              "Desk.zia.delete" : "DELETE Operations on data generated by ZIA",
              "Desk.calls.create" : "CREATE operations on calls module",
              "Desk.calls.update" : "UPDATE operations on calls module",
              "Desk.calls.read" : "READ operations on calls module",
              "Desk.calls.delete" : "DELETE operations on calls module",
              "Desk.extensions.create" : "To create stored data, extension logs, and configuration params",
              "Desk.extensions.read" : "To read stored data, extension logs, and configuration params",
              "Desk.extensions.update" : "To update stored data, extension logs, and configuration params",
              "Desk.extensions.delete" : "To delete stored data, extension logs, and configuration params",
              "Desk.search.read" : "READ Search across data in your desk account.",
              "Desk.events.create" : "CREATE Desk events",
              "Desk.events.update" : "UPDATE Desk events",
              "Desk.events.read" : "READ Desk events",
              "Desk.events.delete" : "DELETE Desk events",
              "Desk.articles.create" : "CREATE Articles and its sub resources",
              "Desk.articles.update" : "UPDATE Articles and its sub resources",
              "Desk.articles.read" : "READ Articles and its sub resources",
              "Desk.articles.delete" : "DELETE Articles and its sub resources",
              "Desk.basic.create" : "CREATE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.update" : "UPDATE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.read" : "READ Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.delete" : "DELETE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.tasks.create" : "CREATE Tasks and its sub resources",
              "Desk.tasks.read" : "READ Tasks and its sub resources",
              "Desk.tasks.update" : "UPDATE Tasks and its sub resources",
              "Desk.tasks.delete" : "DELETE Tasks and its sub resources",
              "Desk.settings.create" : "CREATE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.update" : "UPDATE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.read" : "READ All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.delete" : "DELETE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.contacts.create" : "CREATE Contacts and its sub resources",
              "Desk.contacts.update" : "UPDATE Contacts and its sub resources",
              "Desk.contacts.read" : "READ Contacts and its sub resources",
              "Desk.contacts.delete" : "DELETE Contacts and its sub resources",
              "Desk.feeds.create" : "CREATE Feeds resource",
              "Desk.feeds.update" : "UPDATE Feeds resource",
              "Desk.feeds.read" : "READ Feeds resource",
              "Desk.feeds.delete" : "DELETE Feeds resource",
              "Desk.tickets.create" : "CREATE Tickets and its sub resources",
              "Desk.tickets.update" : "UPDATE Tickets and its sub resources",
              "Desk.tickets.read" : "READ Tickets and its sub resources",
              "Desk.tickets.delete" : "DELETE Tickets and its sub resources",
              "Desk.phonebridge.read" : "READ phonebridge",
              "Desk.phonebridge.create" : "CREATE phonebridge",
              "Desk.community.create" : "CREATE Operations on community topics, comments and categories",
              "Desk.community.update" : "UPDATE Operations on community topics, comments and categories",
              "Desk.community.read" : "READ Operations on community topics, comments and categories",
              "Desk.community.delete" : "DELETE Operations on community topics, comments and categories",
              "Desk.imports" : "CUSTOM Grants access to import data into Zoho Desk modules",
              "Desk.exports" : "CUSTOM Scope for Zoho Desk Export API's for ZohoDesk Modules",
              "Desk.products.create" : "CREATE Allow operations on products",
              "Desk.products.update" : "UPDATE Allow operations on products",
              "Desk.products.read" : "READ Allow operations on products",
              "Desk.products.delete" : "DELETE Allow operations on products",
              "Desk.settings.extension.create" : "CREATE Allow access to all extension related data",
              "Desk.settings.extension.update" : "UPDATE Allow access to all extension related data",
              "Desk.settings.extension.read" : "READ Allow access to all extension related data",
              "Desk.settings.extension.delete" : "DELETE Allow access to all extension related data",
              "Desk.activities.create" : "CREATE To manage activities such as tasks, calls, events and its sub resources",
              "Desk.activities.read" : "READ To manage activities such as tasks, calls, events and its sub resources",
              "Desk.activities.update" : "UPDATE To manage activities such as tasks, calls, events and its sub resources",
              "Desk.activities.delete" : "DELETE To manage activities such as tasks, calls, events and its sub resources",
              "Desk.deskOembed.read" : "null",
              "Desk.integrations.create" : "Grants access to create integration related data",
              "Desk.integrations.update" : "Grants access to update integration related data",
              "Desk.integrations.read" : "Grants access to read integration related data",
              "Desk.integrations.delete" : "Grants access to delete integration related data"
            }
          }
        }
      },
      "jwt-oauth" : {
        "type" : "oauth2",
        "description" : "Org OAuth description",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "/oauth/v2/org/auth",
            "tokenUrl" : "/oauth/v2/token",
            "scopes" : {
              "Desk.accessAll.ALL" : "All Operations on data generated by Zoho Desk"
            }
          }
        }
      }
    }
  },
  "x-entity" : "License"
}