{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "LicenseInfo",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "users"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/licenseinfo" : {
      "get" : {
        "tags" : [ "LicenseInfo" ],
        "summary" : "License Details",
        "description" : "To get the license details of the given Desk portal",
        "operationId" : "getLicenseInfo",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getOrganizationResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "accountInsightsAllowed", "accountsCFCount", "accountsNestedMaxField", "accountsNestedValMaxLimit", "activityTimeTracker", "addResolutionAsKBAllowed", "agentAllowed", "agentMaxCount", "agentQueueViewAllowed", "agentsNestedMaxField", "agentsNestedValMaxLimit", "approvalsAllowed", "articlesSuggestion", "assignRuleAllowed", "assignRuleMaxCount", "attachmentMaxSize", "attachmentRestrictionAllowed", "autoTimeTrackingAllowed", "billingPreferenceAllowed", "bugIntegAllowed", "bulkUpdateAllowed", "businessHoursConfigAllowed", "callsAllowed", "callsCFCount", "callsNestedMaxField", "callsNestedValMaxLimit", "chatAllowed", "communityForums", "contactAccountMultiMappingAllowed", "contactInsightsAllowed", "contactsCFCount", "contactsNestedMaxField", "contactsNestedValMaxLimit", "contractAllowed", "contractsCFCount", "contractsNestedMaxField", "contractsNestedValMaxLimit", "createDashboardAllowed", "createReportAllowed", "createReportFolderAllowed", "createReportScheduleAllowed", "creteDashboardFolderAllowed", "crmIntegAllowed", "cusotmerHappinessAllowed", "customButtonCount", "customModuleMaxLimit", "customModuleNestedMaxField", "customModuleNestedValMaxLimit", "customViewAllowed", "customerHappinessRatingAllowed", "cutomEmailTemplatesCreationAllowed", "dashboardComponentCount", "dashboardsAllowed", "dashboardsCount", "dataSharingRulesAllowed", "deduplicationAllowed", "departmentsNestedMaxField", "departmentsNestedValMaxLimit", "deptAllowed", "deptMaxCount", "emailAddressMaxCount", "eventsAllowed", "eventsCFCount", "eventsNestedMaxField", "eventsNestedValMaxLimit", "expiryDate", "fieldLevelAccessAllowed", "followerAllowed", "formulaFieldCount", "goolgleAnalyticsAllowed", "gracePeriodDate", "groupsAllowed", "groupsMaxCount", "inTrial", "isAccountSLAAssociationAllowed", "isAccountsCFAllowed", "isBlueprintAllowed", "isCallsCFAllowed", "isContactsCFAllowed", "isContractsCFAllowed", "isCustomButtonAllowed", "isCustomModuleAllowed", "isDepartmentLevelFieldAllowed", "isDependencyMappingAllowed", "isDowngradedFromTrial", "isEventsCFAllowed", "isFormulaFieldAllowed", "isGlobalReportsDashboardsAllowed", "isLayoutRulesAllowed", "isLicenseGiven", "isManagerDashboardAllowed", "isMassCommentAllowed", "isMassReplyAllowed", "isMultiLayoutAllowed", "isMultiLayoutEnabled", "isMultiLingualAllowed", "isProductsCFAllowed", "isRevokeBlueprintAllowed", "isSearchFacetAllowed", "isSkillFeatureAllowed", "isSnippetAllowed", "isSubjectBasedThreadingAllowed", "isTasksCFAllowed", "isTicketsCFAllowed", "isTimeEntryCFAllowed", "isValidationRulesAllowed", "isWebhookAllowed", "isZiaAllowed", "isZiaGptAllowed", "licenseCode", "licenseType", "lightAgentMaxCount", "macrosAllowed", "macrosMaxCount", "manualTimeTrackingAllowed", "massInviteContactsAsEndUserAllowed", "maxFieldsInLayout", "mergeAllowed", "messagesNestedMaxField", "messagesNestedValMaxLimit", "multiLayoutCount", "multiLayoutTotalCount", "paymentsURL", "pinnedConversationAllowed", "productsAllowed", "productsCFCount", "productsNestedMaxField", "productsNestedValMaxLimit", "profileAllowed", "profileMaxCount", "queueViewAllowed", "rebrandAllowed", "remainingDaysInTrial", "reportSchedulerCount", "reportsAllowed", "reportsAnalyticsAllowed", "reportsCount", "reportsExportAllowed", "reviewTicketReplies", "roleAllowed", "roleMaxCount", "scheduleReplyAllowed", "secondaryContactsAllowed", "sendAsEmailAllowed", "showPaymentBanner", "slaconfigAllowed", "slamaxCount", "smsaddOnAllowed", "socialAllowed", "supportAddon", "supportAddonDisplayName", "tableViewAllowed", "tagsAllowed", "tagsCount", "tasksAllowed", "tasksCFCount", "tasksNestedMaxField", "tasksNestedValMaxLimit", "teamFeedsAllowed", "teamsAllowed", "teamsPerDepartment", "threadsNestedMaxField", "threadsNestedValMaxLimit", "ticketCloneAllowed", "ticketCollisionAllowed", "ticketHistoryAllowed", "ticketSharingAllowed", "ticketSplitAllowed", "ticketTemplateAllowed", "ticketTimelineAllowed", "ticketsCFCount", "ticketsNestedMaxField", "ticketsNestedValMaxLimit", "timeBasedActionMaxCount", "timeBasedActionllowed", "timeEntryAllowed", "timeEntryCFCount", "timeEntryNestedMaxField", "timeEntryNestedValMaxLimit", "timeTrackingAllowed", "twilioAllowed", "webFormsAllowed", "webFromMaxCount", "webhookCount", "webhookTotalCount", "workFlowAllowed", "workFlowRuleMaxCount", "zticonfigAllowed", "ztimaxUsersCount" ],
                  "properties" : {
                    "isSnippetAllowed" : { },
                    "productsNestedMaxField" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "callsCFCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "timeEntryCFCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "secondaryContactsAllowed" : { },
                    "workFlowRuleMaxCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "isProductsCFAllowed" : { },
                    "inTrial" : { },
                    "messagesNestedMaxField" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "contactAccountMultiMappingAllowed" : { },
                    "licenseCode" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "ticketCloneAllowed" : { },
                    "lightAgentMaxCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "isDowngradedFromTrial" : { },
                    "formulaFieldCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "customButtonCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "deptMaxCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "isWebhookAllowed" : { },
                    "chatAllowed" : { },
                    "profileMaxCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "contactsCFCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "goolgleAnalyticsAllowed" : { },
                    "roleAllowed" : { },
                    "assignRuleMaxCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "isLayoutRulesAllowed" : { },
                    "eventsAllowed" : { },
                    "remainingDaysInTrial" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "twilioAllowed" : { },
                    "eventsCFCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "productsCFCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "approvalsAllowed" : { },
                    "isTimeEntryCFAllowed" : { },
                    "timeEntryAllowed" : { },
                    "addResolutionAsKBAllowed" : { },
                    "slaconfigAllowed" : { },
                    "customerHappinessRatingAllowed" : { },
                    "createReportFolderAllowed" : { },
                    "articlesSuggestion" : { },
                    "reportsAnalyticsAllowed" : { },
                    "ticketsNestedValMaxLimit" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "ticketTimelineAllowed" : { },
                    "socialAllowed" : { },
                    "ticketSplitAllowed" : { },
                    "customModuleMaxLimit" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "reportSchedulerCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "paymentsURL" : {
                      "maxLength" : 250,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "agentAllowed" : { },
                    "roleMaxCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "webhookTotalCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "eventsNestedMaxField" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "agentsNestedValMaxLimit" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "tagsAllowed" : { },
                    "zticonfigAllowed" : { },
                    "isSearchFacetAllowed" : { },
                    "isMassCommentAllowed" : { },
                    "workFlowAllowed" : { },
                    "sendAsEmailAllowed" : { },
                    "reportsCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "scheduleReplyAllowed" : { },
                    "isManagerDashboardAllowed" : { },
                    "callsAllowed" : { },
                    "contactInsightsAllowed" : { },
                    "createReportAllowed" : { },
                    "isTasksCFAllowed" : { },
                    "productsAllowed" : { },
                    "reviewTicketReplies" : { },
                    "isZiaGptAllowed" : { },
                    "callsNestedValMaxLimit" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "dataSharingRulesAllowed" : { },
                    "callsNestedMaxField" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "teamFeedsAllowed" : { },
                    "groupsMaxCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "slamaxCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "accountsNestedMaxField" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "businessHoursConfigAllowed" : { },
                    "tagsCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "tasksCFCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "isLicenseGiven" : { },
                    "accountsNestedValMaxLimit" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "ticketHistoryAllowed" : { },
                    "pinnedConversationAllowed" : { },
                    "webhookCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "customModuleNestedMaxField" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "customViewAllowed" : { },
                    "macrosAllowed" : { },
                    "isCustomButtonAllowed" : { },
                    "assignRuleAllowed" : { },
                    "reportsExportAllowed" : { },
                    "showPaymentBanner" : { },
                    "threadsNestedMaxField" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "isSkillFeatureAllowed" : { },
                    "eventsNestedValMaxLimit" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "macrosMaxCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "ztimaxUsersCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "teamsPerDepartment" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "mergeAllowed" : { },
                    "tasksNestedValMaxLimit" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "deptAllowed" : { },
                    "communityForums" : { },
                    "crmIntegAllowed" : { },
                    "autoTimeTrackingAllowed" : { },
                    "contractsCFCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "tableViewAllowed" : { },
                    "multiLayoutTotalCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "isTicketsCFAllowed" : { },
                    "isMultiLayoutAllowed" : { },
                    "manualTimeTrackingAllowed" : { },
                    "ticketTemplateAllowed" : { },
                    "productsNestedValMaxLimit" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "threadsNestedValMaxLimit" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "dashboardsCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "ticketCollisionAllowed" : { },
                    "deduplicationAllowed" : { },
                    "webFormsAllowed" : { },
                    "isAccountsCFAllowed" : { },
                    "isMassReplyAllowed" : { },
                    "timeEntryNestedMaxField" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "teamsAllowed" : { },
                    "dashboardComponentCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "fieldLevelAccessAllowed" : { },
                    "rebrandAllowed" : { },
                    "ticketSharingAllowed" : { },
                    "massInviteContactsAsEndUserAllowed" : { },
                    "bulkUpdateAllowed" : { },
                    "isZiaAllowed" : { },
                    "gracePeriodDate" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "accountsCFCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "isCallsCFAllowed" : { },
                    "isGlobalReportsDashboardsAllowed" : { },
                    "tasksNestedMaxField" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "isBlueprintAllowed" : { },
                    "agentMaxCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "createReportScheduleAllowed" : { },
                    "isCustomModuleAllowed" : { },
                    "groupsAllowed" : { },
                    "ticketsNestedMaxField" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "isAccountSLAAssociationAllowed" : { },
                    "isMultiLingualAllowed" : { },
                    "timeBasedActionllowed" : { },
                    "timeTrackingAllowed" : { },
                    "attachmentRestrictionAllowed" : { },
                    "isValidationRulesAllowed" : { },
                    "agentQueueViewAllowed" : { },
                    "contactsNestedValMaxLimit" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "expiryDate" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "licenseType" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "isMultiLayoutEnabled" : { },
                    "isFormulaFieldAllowed" : { },
                    "timeEntryNestedValMaxLimit" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "customModuleNestedValMaxLimit" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "contractAllowed" : { },
                    "dashboardsAllowed" : { },
                    "isRevokeBlueprintAllowed" : { },
                    "contactsNestedMaxField" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "queueViewAllowed" : { },
                    "isEventsCFAllowed" : { },
                    "timeBasedActionMaxCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "messagesNestedValMaxLimit" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "followerAllowed" : { },
                    "webFromMaxCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "creteDashboardFolderAllowed" : { },
                    "ticketsCFCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "contractsNestedMaxField" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "activityTimeTracker" : { },
                    "cutomEmailTemplatesCreationAllowed" : { },
                    "accountInsightsAllowed" : { },
                    "bugIntegAllowed" : { },
                    "contractsNestedValMaxLimit" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "attachmentMaxSize" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "reportsAllowed" : { },
                    "supportAddon" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "departmentsNestedMaxField" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "smsaddOnAllowed" : { },
                    "supportAddonDisplayName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "tasksAllowed" : { },
                    "isContactsCFAllowed" : { },
                    "departmentsNestedValMaxLimit" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "emailAddressMaxCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "isContractsCFAllowed" : { },
                    "isDependencyMappingAllowed" : { },
                    "profileAllowed" : { },
                    "isSubjectBasedThreadingAllowed" : { },
                    "isDepartmentLevelFieldAllowed" : { },
                    "billingPreferenceAllowed" : { },
                    "createDashboardAllowed" : { },
                    "cusotmerHappinessAllowed" : { },
                    "multiLayoutCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "agentsNestedMaxField" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "maxFieldsInLayout" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "cutomReportAllowed" : true,
                      "reportScheduleAllowed" : true,
                      "callsCFCount" : "0",
                      "timeEntryCFCount" : "0",
                      "secondaryContactsAllowed" : true,
                      "workFlowRuleMaxCount" : "1000",
                      "isProductsCFAllowed" : true,
                      "inTrial" : true,
                      "ticketCloneAllowed" : true,
                      "isDowngradedFromTrial" : false,
                      "formulaFieldCount" : "0",
                      "customButtonCount" : "50",
                      "deptMaxCount" : "1000",
                      "chatAllowed" : true,
                      "profileMaxCount" : "30",
                      "contactsCFCount" : "0",
                      "goolgleAnalyticsAllowed" : true,
                      "roleAllowed" : true,
                      "assignRuleMaxCount" : "1000",
                      "eventsAllowed" : true,
                      "remainingDaysInTrial" : "30",
                      "twilioAllowed" : true,
                      "customDashboardAllowed" : true,
                      "eventsCFCount" : "0",
                      "productsCFCount" : "0",
                      "approvalsAllowed" : true,
                      "isTimeEntryCFAllowed" : true,
                      "timeEntryAllowed" : true,
                      "addResolutionAsKBAllowed" : true,
                      "slaconfigAllowed" : true,
                      "customerHappinessRatingAllowed" : true,
                      "scheduleReportMaxCount" : "100",
                      "articlesSuggestion" : true,
                      "ticketTimelineAllowed" : true,
                      "socialAllowed" : true,
                      "ticketSplitAllowed" : true,
                      "customModuleMaxLimit" : 10,
                      "agentAllowed" : true,
                      "roleMaxCount" : "250",
                      "tagsAllowed" : true,
                      "zticonfigAllowed" : true,
                      "isSearchFacetAllowed" : false,
                      "isMassCommentAllowed" : true,
                      "workFlowAllowed" : true,
                      "dashBoardMaxCount" : "6",
                      "sendAsEmailAllowed" : true,
                      "scheduleReplyAllowed" : true,
                      "callsAllowed" : true,
                      "contactInsightsAllowed" : true,
                      "isTasksCFAllowed" : true,
                      "productsAllowed" : true,
                      "reviewTicketReplies" : true,
                      "isZiaGptAllowed" : false,
                      "dataSharingRulesAllowed" : false,
                      "teamFeedsAllowed" : true,
                      "groupsMaxCount" : "50",
                      "slamaxCount" : "1000",
                      "businessHoursConfigAllowed" : true,
                      "tagsCount" : "10",
                      "tasksCFCount" : "0",
                      "isLicenseGiven" : true,
                      "ticketHistoryAllowed" : true,
                      "customViewAllowed" : true,
                      "macrosAllowed" : true,
                      "isCustomButtonAllowed" : true,
                      "assignRuleAllowed" : true,
                      "showPaymentBanner" : true,
                      "isSkillFeatureAllowed" : false,
                      "macrosMaxCount" : "1000",
                      "teamsPerDepartment" : "60",
                      "ztimaxUsersCount" : "1000",
                      "mergeAllowed" : true,
                      "deptAllowed" : true,
                      "communityForums" : true,
                      "crmIntegAllowed" : true,
                      "autoTimeTrackingAllowed" : true,
                      "contractsCFCount" : "0",
                      "tableViewAllowed" : true,
                      "isTicketsCFAllowed" : true,
                      "isMultiLayoutAllowed" : true,
                      "ticketTemplateAllowed" : true,
                      "manualTimeTrackingAllowed" : true,
                      "ticketCollisionAllowed" : true,
                      "deduplicationAllowed" : true,
                      "webFormsAllowed" : true,
                      "isAccountsCFAllowed" : true,
                      "isMassReplyAllowed" : true,
                      "teamsAllowed" : true,
                      "fieldLevelAccessAllowed" : true,
                      "rebrandAllowed" : true,
                      "ticketSharingAllowed" : true,
                      "massInviteContactsAsEndUserAllowed" : true,
                      "bulkUpdateAllowed" : true,
                      "isZiaAllowed" : false,
                      "gracePeriodDate" : 1511222400000,
                      "accountsCFCount" : "0",
                      "isCallsCFAllowed" : true,
                      "agentMaxCount" : "1000",
                      "isCustomModuleAllowed" : true,
                      "groupsAllowed" : true,
                      "isAccountSLAAssociationAllowed" : true,
                      "isMultiLingualAllowed" : true,
                      "timeBasedActionllowed" : true,
                      "timeTrackingAllowed" : true,
                      "agentQueueViewAllowed" : true,
                      "expiryDate" : 1510012800000,
                      "licenseType" : "ENTERPRISE",
                      "isFormulaFieldAllowed" : true,
                      "contractAllowed" : true,
                      "isRevokeBlueprintAllowed" : true,
                      "queueViewAllowed" : true,
                      "isEventsCFAllowed" : true,
                      "timeBasedActionMaxCount" : "1000",
                      "followerAllowed" : true,
                      "webFromMaxCount" : "50",
                      "ticketsCFCount" : "0",
                      "activityTimeTracker" : true,
                      "cutomEmailTemplatesCreationAllowed" : true,
                      "accountInsightsAllowed" : true,
                      "bugIntegAllowed" : true,
                      "attachmentMaxSize" : "40",
                      "smsaddOnAllowed" : true,
                      "tasksAllowed" : true,
                      "isContactsCFAllowed" : true,
                      "emailAddressMaxCount" : "1000",
                      "isContractsCFAllowed" : true,
                      "profileAllowed" : true,
                      "billingPreferenceAllowed" : true,
                      "cusotmerHappinessAllowed" : true,
                      "isSubjectBasedThreadingAllowed" : true,
                      "isDepartmentLevelFieldAllowed" : true,
                      "multiLayoutCount" : "20",
                      "maxFieldsInLayout" : "400"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "iscscope" : [ "SupCrmAPI" ]
            }
          },
          "clan-group" : "automation",
          "apihash" : "58b0a59f6c53411e899114b981da4e73",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.LicenseService.getLicenseDetails"
        }
      }
    },
    "/api/v1/license/cancelTrial" : {
      "post" : {
        "tags" : [ "LicenseInfo" ],
        "summary" : "Cancel License Trial Plan",
        "description" : "This API cancel the trial license plan in your help desk.",
        "operationId" : "cancelTrial",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "242c1adce039f2425dba5c2fc921e36f",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.LicenseService.cancelTrial"
        }
      }
    },
    "/api/v1/license/closeBanner" : {
      "post" : {
        "tags" : [ "LicenseInfo" ],
        "summary" : "Close grace period banner",
        "description" : "This API marks the banner as closed for the current user until the following third day within the grace period. After the plan is canceled, the API permanently marks the banner as closed for the current user.",
        "operationId" : "closeBanner",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "a4a4d8e43a37a5868137ddaf979a7cd4",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.LicenseService.closeBanner"
        }
      }
    },
    "/api/v1/license/enableTrial" : {
      "post" : {
        "tags" : [ "LicenseInfo" ],
        "summary" : "Enable License Trial  Plan",
        "description" : "This API enable other license trail plans in your help desk.",
        "operationId" : "enableLicenseTrialPlan",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "currentTrialEdition" ],
                "properties" : {
                  "currentTrialEdition" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "STANDARD", "PROFESSIONAL", "ENTERPRISE", "EXPRESS" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "currentTrialEdition" : "ENTERPRISE"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "02ad8066d839c8d9c10c1d515d44376d",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.LicenseService.enableLicenseTrialPlan"
        }
      }
    },
    "/api/v1/license/trialPlans" : {
      "get" : {
        "tags" : [ "LicenseInfo" ],
        "summary" : "License Trial Plans Details",
        "description" : "To get the license trial plans details in your help desk",
        "operationId" : "getLicenseTrialPlans",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "getLicenseTrialPlansResp template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "currentTrialEdition", "otherTrialEditions" ],
                  "properties" : {
                    "otherTrialEditions" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "STANDARD", "PROFESSIONAL", "ENTERPRISE", "EXPRESS" ]
                    },
                    "currentTrialEdition" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "STANDARD", "PROFESSIONAL", "ENTERPRISE", "EXPRESS" ]
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "otherTrialEditions" : [ "STANDARD", "PROFESSIONAL", "ENTERPRISE", "EXPRESS" ],
                      "currentTrialEdition" : "ENTERPRISE"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "234633b7abc298e4ed5886dac22d444d",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.LicenseService.getLicenseTrialPlans"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "getOrganizationResponse" : {
        "description" : "getOrganizationResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "accountInsightsAllowed", "accountsCFCount", "accountsNestedMaxField", "accountsNestedValMaxLimit", "activityTimeTracker", "addResolutionAsKBAllowed", "agentAllowed", "agentMaxCount", "agentQueueViewAllowed", "agentsNestedMaxField", "agentsNestedValMaxLimit", "approvalsAllowed", "articlesSuggestion", "assignRuleAllowed", "assignRuleMaxCount", "attachmentMaxSize", "attachmentRestrictionAllowed", "autoTimeTrackingAllowed", "billingPreferenceAllowed", "bugIntegAllowed", "bulkUpdateAllowed", "businessHoursConfigAllowed", "callsAllowed", "callsCFCount", "callsNestedMaxField", "callsNestedValMaxLimit", "chatAllowed", "communityForums", "contactAccountMultiMappingAllowed", "contactInsightsAllowed", "contactsCFCount", "contactsNestedMaxField", "contactsNestedValMaxLimit", "contractAllowed", "contractsCFCount", "contractsNestedMaxField", "contractsNestedValMaxLimit", "createDashboardAllowed", "createReportAllowed", "createReportFolderAllowed", "createReportScheduleAllowed", "creteDashboardFolderAllowed", "crmIntegAllowed", "cusotmerHappinessAllowed", "customButtonCount", "customModuleMaxLimit", "customModuleNestedMaxField", "customModuleNestedValMaxLimit", "customViewAllowed", "customerHappinessRatingAllowed", "cutomEmailTemplatesCreationAllowed", "dashboardComponentCount", "dashboardsAllowed", "dashboardsCount", "dataSharingRulesAllowed", "deduplicationAllowed", "departmentsNestedMaxField", "departmentsNestedValMaxLimit", "deptAllowed", "deptMaxCount", "emailAddressMaxCount", "eventsAllowed", "eventsCFCount", "eventsNestedMaxField", "eventsNestedValMaxLimit", "expiryDate", "fieldLevelAccessAllowed", "followerAllowed", "formulaFieldCount", "goolgleAnalyticsAllowed", "gracePeriodDate", "groupsAllowed", "groupsMaxCount", "inTrial", "isAccountSLAAssociationAllowed", "isAccountsCFAllowed", "isBlueprintAllowed", "isCallsCFAllowed", "isContactsCFAllowed", "isContractsCFAllowed", "isCustomButtonAllowed", "isCustomModuleAllowed", "isDepartmentLevelFieldAllowed", "isDependencyMappingAllowed", "isDowngradedFromTrial", "isEventsCFAllowed", "isFormulaFieldAllowed", "isGlobalReportsDashboardsAllowed", "isLayoutRulesAllowed", "isLicenseGiven", "isManagerDashboardAllowed", "isMassCommentAllowed", "isMassReplyAllowed", "isMultiLayoutAllowed", "isMultiLayoutEnabled", "isMultiLingualAllowed", "isProductsCFAllowed", "isRevokeBlueprintAllowed", "isSearchFacetAllowed", "isSkillFeatureAllowed", "isSnippetAllowed", "isSubjectBasedThreadingAllowed", "isTasksCFAllowed", "isTicketsCFAllowed", "isTimeEntryCFAllowed", "isValidationRulesAllowed", "isWebhookAllowed", "isZiaAllowed", "isZiaGptAllowed", "licenseCode", "licenseType", "lightAgentMaxCount", "macrosAllowed", "macrosMaxCount", "manualTimeTrackingAllowed", "massInviteContactsAsEndUserAllowed", "maxFieldsInLayout", "mergeAllowed", "messagesNestedMaxField", "messagesNestedValMaxLimit", "multiLayoutCount", "multiLayoutTotalCount", "paymentsURL", "pinnedConversationAllowed", "productsAllowed", "productsCFCount", "productsNestedMaxField", "productsNestedValMaxLimit", "profileAllowed", "profileMaxCount", "queueViewAllowed", "rebrandAllowed", "remainingDaysInTrial", "reportSchedulerCount", "reportsAllowed", "reportsAnalyticsAllowed", "reportsCount", "reportsExportAllowed", "reviewTicketReplies", "roleAllowed", "roleMaxCount", "scheduleReplyAllowed", "secondaryContactsAllowed", "sendAsEmailAllowed", "showPaymentBanner", "slaconfigAllowed", "slamaxCount", "smsaddOnAllowed", "socialAllowed", "supportAddon", "supportAddonDisplayName", "tableViewAllowed", "tagsAllowed", "tagsCount", "tasksAllowed", "tasksCFCount", "tasksNestedMaxField", "tasksNestedValMaxLimit", "teamFeedsAllowed", "teamsAllowed", "teamsPerDepartment", "threadsNestedMaxField", "threadsNestedValMaxLimit", "ticketCloneAllowed", "ticketCollisionAllowed", "ticketHistoryAllowed", "ticketSharingAllowed", "ticketSplitAllowed", "ticketTemplateAllowed", "ticketTimelineAllowed", "ticketsCFCount", "ticketsNestedMaxField", "ticketsNestedValMaxLimit", "timeBasedActionMaxCount", "timeBasedActionllowed", "timeEntryAllowed", "timeEntryCFCount", "timeEntryNestedMaxField", "timeEntryNestedValMaxLimit", "timeTrackingAllowed", "twilioAllowed", "webFormsAllowed", "webFromMaxCount", "webhookCount", "webhookTotalCount", "workFlowAllowed", "workFlowRuleMaxCount", "zticonfigAllowed", "ztimaxUsersCount" ],
              "properties" : {
                "isSnippetAllowed" : { },
                "productsNestedMaxField" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "callsCFCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "timeEntryCFCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "secondaryContactsAllowed" : { },
                "workFlowRuleMaxCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "isProductsCFAllowed" : { },
                "inTrial" : { },
                "messagesNestedMaxField" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "contactAccountMultiMappingAllowed" : { },
                "licenseCode" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "ticketCloneAllowed" : { },
                "lightAgentMaxCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "isDowngradedFromTrial" : { },
                "formulaFieldCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "customButtonCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "deptMaxCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "isWebhookAllowed" : { },
                "chatAllowed" : { },
                "profileMaxCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "contactsCFCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "goolgleAnalyticsAllowed" : { },
                "roleAllowed" : { },
                "assignRuleMaxCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "isLayoutRulesAllowed" : { },
                "eventsAllowed" : { },
                "remainingDaysInTrial" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "twilioAllowed" : { },
                "eventsCFCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "productsCFCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "approvalsAllowed" : { },
                "isTimeEntryCFAllowed" : { },
                "timeEntryAllowed" : { },
                "addResolutionAsKBAllowed" : { },
                "slaconfigAllowed" : { },
                "customerHappinessRatingAllowed" : { },
                "createReportFolderAllowed" : { },
                "articlesSuggestion" : { },
                "reportsAnalyticsAllowed" : { },
                "ticketsNestedValMaxLimit" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "ticketTimelineAllowed" : { },
                "socialAllowed" : { },
                "ticketSplitAllowed" : { },
                "customModuleMaxLimit" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "reportSchedulerCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "paymentsURL" : {
                  "maxLength" : 250,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "agentAllowed" : { },
                "roleMaxCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "webhookTotalCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "eventsNestedMaxField" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "agentsNestedValMaxLimit" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "tagsAllowed" : { },
                "zticonfigAllowed" : { },
                "isSearchFacetAllowed" : { },
                "isMassCommentAllowed" : { },
                "workFlowAllowed" : { },
                "sendAsEmailAllowed" : { },
                "reportsCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "scheduleReplyAllowed" : { },
                "isManagerDashboardAllowed" : { },
                "callsAllowed" : { },
                "contactInsightsAllowed" : { },
                "createReportAllowed" : { },
                "isTasksCFAllowed" : { },
                "productsAllowed" : { },
                "reviewTicketReplies" : { },
                "isZiaGptAllowed" : { },
                "callsNestedValMaxLimit" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "dataSharingRulesAllowed" : { },
                "callsNestedMaxField" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "teamFeedsAllowed" : { },
                "groupsMaxCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "slamaxCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "accountsNestedMaxField" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "businessHoursConfigAllowed" : { },
                "tagsCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "tasksCFCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "isLicenseGiven" : { },
                "accountsNestedValMaxLimit" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "ticketHistoryAllowed" : { },
                "pinnedConversationAllowed" : { },
                "webhookCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "customModuleNestedMaxField" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "customViewAllowed" : { },
                "macrosAllowed" : { },
                "isCustomButtonAllowed" : { },
                "assignRuleAllowed" : { },
                "reportsExportAllowed" : { },
                "showPaymentBanner" : { },
                "threadsNestedMaxField" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "isSkillFeatureAllowed" : { },
                "eventsNestedValMaxLimit" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "macrosMaxCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "ztimaxUsersCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "teamsPerDepartment" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "mergeAllowed" : { },
                "tasksNestedValMaxLimit" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "deptAllowed" : { },
                "communityForums" : { },
                "crmIntegAllowed" : { },
                "autoTimeTrackingAllowed" : { },
                "contractsCFCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "tableViewAllowed" : { },
                "multiLayoutTotalCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "isTicketsCFAllowed" : { },
                "isMultiLayoutAllowed" : { },
                "manualTimeTrackingAllowed" : { },
                "ticketTemplateAllowed" : { },
                "productsNestedValMaxLimit" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "threadsNestedValMaxLimit" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "dashboardsCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "ticketCollisionAllowed" : { },
                "deduplicationAllowed" : { },
                "webFormsAllowed" : { },
                "isAccountsCFAllowed" : { },
                "isMassReplyAllowed" : { },
                "timeEntryNestedMaxField" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "teamsAllowed" : { },
                "dashboardComponentCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "fieldLevelAccessAllowed" : { },
                "rebrandAllowed" : { },
                "ticketSharingAllowed" : { },
                "massInviteContactsAsEndUserAllowed" : { },
                "bulkUpdateAllowed" : { },
                "isZiaAllowed" : { },
                "gracePeriodDate" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                },
                "accountsCFCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "isCallsCFAllowed" : { },
                "isGlobalReportsDashboardsAllowed" : { },
                "tasksNestedMaxField" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "isBlueprintAllowed" : { },
                "agentMaxCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "createReportScheduleAllowed" : { },
                "isCustomModuleAllowed" : { },
                "groupsAllowed" : { },
                "ticketsNestedMaxField" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "isAccountSLAAssociationAllowed" : { },
                "isMultiLingualAllowed" : { },
                "timeBasedActionllowed" : { },
                "timeTrackingAllowed" : { },
                "attachmentRestrictionAllowed" : { },
                "isValidationRulesAllowed" : { },
                "agentQueueViewAllowed" : { },
                "contactsNestedValMaxLimit" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "expiryDate" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                },
                "licenseType" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "isMultiLayoutEnabled" : { },
                "isFormulaFieldAllowed" : { },
                "timeEntryNestedValMaxLimit" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "customModuleNestedValMaxLimit" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "contractAllowed" : { },
                "dashboardsAllowed" : { },
                "isRevokeBlueprintAllowed" : { },
                "contactsNestedMaxField" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "queueViewAllowed" : { },
                "isEventsCFAllowed" : { },
                "timeBasedActionMaxCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "messagesNestedValMaxLimit" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "followerAllowed" : { },
                "webFromMaxCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "creteDashboardFolderAllowed" : { },
                "ticketsCFCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "contractsNestedMaxField" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "activityTimeTracker" : { },
                "cutomEmailTemplatesCreationAllowed" : { },
                "accountInsightsAllowed" : { },
                "bugIntegAllowed" : { },
                "contractsNestedValMaxLimit" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "attachmentMaxSize" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "reportsAllowed" : { },
                "supportAddon" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "departmentsNestedMaxField" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "smsaddOnAllowed" : { },
                "supportAddonDisplayName" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "tasksAllowed" : { },
                "isContactsCFAllowed" : { },
                "departmentsNestedValMaxLimit" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "emailAddressMaxCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "isContractsCFAllowed" : { },
                "isDependencyMappingAllowed" : { },
                "profileAllowed" : { },
                "isSubjectBasedThreadingAllowed" : { },
                "isDepartmentLevelFieldAllowed" : { },
                "billingPreferenceAllowed" : { },
                "createDashboardAllowed" : { },
                "cusotmerHappinessAllowed" : { },
                "multiLayoutCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "agentsNestedMaxField" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "maxFieldsInLayout" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                }
              },
              "additionalProperties" : false
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "cutomReportAllowed" : true,
                  "reportScheduleAllowed" : true,
                  "callsCFCount" : "0",
                  "timeEntryCFCount" : "0",
                  "secondaryContactsAllowed" : true,
                  "workFlowRuleMaxCount" : "1000",
                  "isProductsCFAllowed" : true,
                  "inTrial" : true,
                  "ticketCloneAllowed" : true,
                  "isDowngradedFromTrial" : false,
                  "formulaFieldCount" : "0",
                  "customButtonCount" : "50",
                  "deptMaxCount" : "1000",
                  "chatAllowed" : true,
                  "profileMaxCount" : "30",
                  "contactsCFCount" : "0",
                  "goolgleAnalyticsAllowed" : true,
                  "roleAllowed" : true,
                  "assignRuleMaxCount" : "1000",
                  "eventsAllowed" : true,
                  "remainingDaysInTrial" : "30",
                  "twilioAllowed" : true,
                  "customDashboardAllowed" : true,
                  "eventsCFCount" : "0",
                  "productsCFCount" : "0",
                  "approvalsAllowed" : true,
                  "isTimeEntryCFAllowed" : true,
                  "timeEntryAllowed" : true,
                  "addResolutionAsKBAllowed" : true,
                  "slaconfigAllowed" : true,
                  "customerHappinessRatingAllowed" : true,
                  "scheduleReportMaxCount" : "100",
                  "articlesSuggestion" : true,
                  "ticketTimelineAllowed" : true,
                  "socialAllowed" : true,
                  "ticketSplitAllowed" : true,
                  "customModuleMaxLimit" : 10,
                  "agentAllowed" : true,
                  "roleMaxCount" : "250",
                  "tagsAllowed" : true,
                  "zticonfigAllowed" : true,
                  "isSearchFacetAllowed" : false,
                  "isMassCommentAllowed" : true,
                  "workFlowAllowed" : true,
                  "dashBoardMaxCount" : "6",
                  "sendAsEmailAllowed" : true,
                  "scheduleReplyAllowed" : true,
                  "callsAllowed" : true,
                  "contactInsightsAllowed" : true,
                  "isTasksCFAllowed" : true,
                  "productsAllowed" : true,
                  "reviewTicketReplies" : true,
                  "isZiaGptAllowed" : false,
                  "dataSharingRulesAllowed" : false,
                  "teamFeedsAllowed" : true,
                  "groupsMaxCount" : "50",
                  "slamaxCount" : "1000",
                  "businessHoursConfigAllowed" : true,
                  "tagsCount" : "10",
                  "tasksCFCount" : "0",
                  "isLicenseGiven" : true,
                  "ticketHistoryAllowed" : true,
                  "customViewAllowed" : true,
                  "macrosAllowed" : true,
                  "isCustomButtonAllowed" : true,
                  "assignRuleAllowed" : true,
                  "showPaymentBanner" : true,
                  "isSkillFeatureAllowed" : false,
                  "macrosMaxCount" : "1000",
                  "teamsPerDepartment" : "60",
                  "ztimaxUsersCount" : "1000",
                  "mergeAllowed" : true,
                  "deptAllowed" : true,
                  "communityForums" : true,
                  "crmIntegAllowed" : true,
                  "autoTimeTrackingAllowed" : true,
                  "contractsCFCount" : "0",
                  "tableViewAllowed" : true,
                  "isTicketsCFAllowed" : true,
                  "isMultiLayoutAllowed" : true,
                  "ticketTemplateAllowed" : true,
                  "manualTimeTrackingAllowed" : true,
                  "ticketCollisionAllowed" : true,
                  "deduplicationAllowed" : true,
                  "webFormsAllowed" : true,
                  "isAccountsCFAllowed" : true,
                  "isMassReplyAllowed" : true,
                  "teamsAllowed" : true,
                  "fieldLevelAccessAllowed" : true,
                  "rebrandAllowed" : true,
                  "ticketSharingAllowed" : true,
                  "massInviteContactsAsEndUserAllowed" : true,
                  "bulkUpdateAllowed" : true,
                  "isZiaAllowed" : false,
                  "gracePeriodDate" : 1511222400000,
                  "accountsCFCount" : "0",
                  "isCallsCFAllowed" : true,
                  "agentMaxCount" : "1000",
                  "isCustomModuleAllowed" : true,
                  "groupsAllowed" : true,
                  "isAccountSLAAssociationAllowed" : true,
                  "isMultiLingualAllowed" : true,
                  "timeBasedActionllowed" : true,
                  "timeTrackingAllowed" : true,
                  "agentQueueViewAllowed" : true,
                  "expiryDate" : 1510012800000,
                  "licenseType" : "ENTERPRISE",
                  "isFormulaFieldAllowed" : true,
                  "contractAllowed" : true,
                  "isRevokeBlueprintAllowed" : true,
                  "queueViewAllowed" : true,
                  "isEventsCFAllowed" : true,
                  "timeBasedActionMaxCount" : "1000",
                  "followerAllowed" : true,
                  "webFromMaxCount" : "50",
                  "ticketsCFCount" : "0",
                  "activityTimeTracker" : true,
                  "cutomEmailTemplatesCreationAllowed" : true,
                  "accountInsightsAllowed" : true,
                  "bugIntegAllowed" : true,
                  "attachmentMaxSize" : "40",
                  "smsaddOnAllowed" : true,
                  "tasksAllowed" : true,
                  "isContactsCFAllowed" : true,
                  "emailAddressMaxCount" : "1000",
                  "isContractsCFAllowed" : true,
                  "profileAllowed" : true,
                  "billingPreferenceAllowed" : true,
                  "cusotmerHappinessAllowed" : true,
                  "isSubjectBasedThreadingAllowed" : true,
                  "isDepartmentLevelFieldAllowed" : true,
                  "multiLayoutCount" : "20",
                  "maxFieldsInLayout" : "400"
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "getLicenseTrialPlansResp" : {
        "description" : "getLicenseTrialPlansResp template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "currentTrialEdition", "otherTrialEditions" ],
              "properties" : {
                "otherTrialEditions" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "STANDARD", "PROFESSIONAL", "ENTERPRISE", "EXPRESS" ]
                },
                "currentTrialEdition" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "STANDARD", "PROFESSIONAL", "ENTERPRISE", "EXPRESS" ]
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "otherTrialEditions" : [ "STANDARD", "PROFESSIONAL", "ENTERPRISE", "EXPRESS" ],
                  "currentTrialEdition" : "ENTERPRISE"
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "OAuth Org Mismatch Error Response" : {
                "value" : {
                  "errorCode" : "OAUTH_ORG_MISMATCH",
                  "message" : "The OAuthToken is not valid for specified organization."
                }
              }
            }
          }
        }
      },
      "forbiddenErrorResponse" : {
        "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Forbidden Error Response" : {
                "value" : {
                  "errorCode" : "FORBIDDEN",
                  "message" : "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "urlNotFoundErrorResponse" : {
        "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Url Not Found Error Response" : {
                "value" : {
                  "errorCode" : "URL_NOT_FOUND",
                  "message" : "The URL you requested could not be found."
                }
              }
            }
          }
        }
      },
      "methodNotAllowedErrorResponse" : {
        "description" : "This errorCode value appears if the method in the API request is known by the server but disabled for the API requested.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Method Not Allowed Error Response" : {
                "value" : {
                  "errorCode" : "METHOD_NOT_ALLOWED",
                  "message" : "This HTTP method is not allowed on this URL."
                }
              }
            }
          }
        }
      },
      "resourceSizeExceededErrorResponse" : {
        "description" : "This errorCode value appears if the size of the resource exceeds the limit defined by the server.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Resource Size Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "RESOURCE_SIZE_EXCEEDED",
                  "message" : "Attachment size is too large. The maximum size supported is 20 MB."
                }
              }
            }
          }
        }
      },
      "unSupportedMediaTypeErrorResponse" : {
        "description" : "This errorCode value appears if the server refuses the request as a result of receiving the input in an unsupported format.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unsupported Media Type Error Response" : {
                "value" : {
                  "errorCode" : "UNSUPPORTED_MEDIA_TYPE",
                  "message" : "The given content type is not supported. Please provide the input Content-Type as application/json"
                }
              }
            }
          }
        }
      },
      "unprocessableEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The value passed for the 'from' query parameter is invalid."
                }
              }
            }
          }
        }
      },
      "missingEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not contain the mandatory parameters for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The mandatory parameter 'permission' is missing"
                }
              }
            }
          }
        }
      },
      "thresholdExceedErrorResponse" : {
        "description" : "This errorCode value appears if the user sends too many requests within a given amount of time (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Threshold Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "THRESHOLD_EXCEEDED",
                  "message" : "The maximum number of API calls that can be made per day has been exceeded."
                }
              }
            }
          }
        }
      },
      "concurrentRateLimitExceededErrorResponse" : {
        "description" : "This errorCode value appears if the user fires too many requests in a simultaneous/concurrent manner (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Concurrent Rate Limit Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "TOO_MANY_REQUESTS",
                  "message" : "The maximum number of Concurrent API Calls that can be made has been exceeded."
                }
              }
            }
          }
        }
      },
      "internalErrorResponse" : {
        "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Internal Server Error Response" : {
                "value" : {
                  "errorCode" : "INTERNAL_SERVER_ERROR",
                  "message" : "An internal server error occurred while performing this operation."
                }
              }
            }
          }
        }
      },
      "licenseErrorResponse" : {
        "description" : "This errorCode value appears if the user is unable to perform an action due to the limitations of the Zoho Desk edition in use\nThe possible values for the feature key are\n    *AGENTS*\n    *LIGHT_AGENTS*\n    *TEAM*\nThe possible values for the editionType key are\n    *FREE*\n    *PROFESSIONAL*\n    *ENTERPRISE*",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "editionType", "feature", "isTrial", "maxAllowedEntity" ],
                "properties" : {
                  "maxAllowedEntity" : {
                    "pattern" : "([0-9]+)"
                  },
                  "feature" : {
                    "enum" : [ "AGENTS", "LIGHT_AGENTS", "TEAM" ]
                  },
                  "editionType" : {
                    "enum" : [ "ENTERPRISE", "PROFESSIONAL", "STANDARD", "EXPRESS", "FREE" ]
                  },
                  "isTrial" : { }
                }
              } ]
            },
            "examples" : {
              "LicenseAccessLimited Error Response" : {
                "value" : {
                  "errorCode" : "LICENSE_ACCESS_LIMITED",
                  "maxAllowedEntity" : "10",
                  "feature" : "AGENTS",
                  "editionType" : "FREE",
                  "isTrial" : false,
                  "message" : "Your Zoho Desk Edition does not support this feature/operation."
                }
              }
            }
          }
        }
      },
      "multipleUnprocessEntityResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "anyOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "additionalProperties" : { },
                "allOf" : [ {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                }, {
                  "required" : [ "errors" ],
                  "properties" : {
                    "errors" : {
                      "items" : {
                        "required" : [ "errorMessage", "errorType", "fieldName" ],
                        "properties" : {
                          "fieldName" : { },
[...]
