{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Livecall",
    "version" : "1.0.0",
    "x-clan-group" : "secModule",
    "x-module-group" : "activity"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/livecalls" : {
      "post" : {
        "tags" : [ "Livecall" ],
        "summary" : "Create live call",
        "description" : "This API starts a new live call in your help desk portal.",
        "operationId" : "add",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "callType", "contactId" ],
                "properties" : {
                  "ctiName" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Name of the PBX",
                    "enum" : [ "ZDesk_Current_Call" ]
                  },
                  "contactId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the contact associated with the call",
                    "format" : "int64"
                  },
                  "caseId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the ticket associated with the call",
                    "format" : "int64",
                    "x-custom-parameters-attributes" : {
                      "entity" : "Tickets"
                    }
                  },
                  "callRefId" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([a-zA-Z0-9]+)",
                    "description" : "Call reference ID provided by the Private Branch Exchange (PBX)"
                  },
                  "ctiNumber" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "^[+0-9-() ]+$",
                    "description" : "Phone number of your help desk portal"
                  },
                  "customerNumber" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "^[+0-9-() ]+$",
                    "description" : "Phone number of the contact"
                  },
                  "notifiedClientZuids" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "callType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Direction of the call: @inbound@ or @outbound@",
                    "enum" : [ "inbound", "outbound" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "ctiName" : "ZDesk_Current_Call",
                    "contactId" : "39600000029145589",
                    "caseId" : "39600000029145889",
                    "callRefId" : "Td7",
                    "ctiNumber" : "+18302680444",
                    "customerNumber" : "+82123545648",
                    "notifiedClientZuids" : [ "55737544" ],
                    "callType" : "outbound"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "addResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "activityCreated", "callRefId", "callState", "callType", "caseId", "contactId", "createdTime", "ctiName", "ctiNumber", "customerNumber", "id", "notifiedClientZuids" ],
                  "properties" : {
                    "ctiName" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ZDesk_Current_Call", "null", null ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Name of the PBX",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "contactId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the contact associated with the call",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "caseId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the ticket associated with the call",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false,
                        "entity" : "Tickets"
                      }
                    },
                    "callRefId" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([a-zA-Z0-9]+)",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Call reference ID provided by the Private Branch Exchange (PBX)",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "ctiNumber" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^[+0-9-() ]+$",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Phone number of your help desk portal",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "customerNumber" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^[+0-9-() ]+$",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Phone number of the contact",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "activityCreated" : { },
                    "notifiedClientZuids" : {
                      "items" : {
                        "required" : [ "firstName", "lastName", "zuid" ],
                        "properties" : {
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "zuid" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "callType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "inbound", "outbound" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Direction of the call: @inbound@ or @outbound@",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "callState" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ringing" ]
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "ctiName" : "ZDesk_Current_Call",
                      "contactId" : "39600000029145589",
                      "caseId" : "39600000029145889",
                      "callRefId" : "Td7",
                      "createdTime" : 1556782464000,
                      "ctiNumber" : "+18302680444",
                      "id" : "39600000029146623",
                      "customerNumber" : "+82123545648",
                      "activityCreated" : false,
                      "notifiedClientZuids" : [ {
                        "firstName" : "",
                        "lastName" : "Automation",
                        "zuid" : "55737544"
                      } ],
                      "callType" : "outbound",
                      "callState" : "ringing"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.activities.calls.CREATE", "Desk.calls.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "calls" ]
            }
          },
          "clan-group" : "secModule",
          "apihash" : "b0902c9ef078af7ecf42f9e572bc5157",
          "module-group" : "activity",
          "apimethod" : "com.zoho.support.restapi.LiveCallService.add"
        }
      }
    },
    "/api/v1/sequentialUnattendedCalls" : {
      "get" : {
        "tags" : [ "Livecall" ],
        "summary" : "Get calls list",
        "description" : "List of sequential calls missed for the given agent",
        "operationId" : "unattendedSequentialCallsForAssignee",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of unattended calls limit",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 99,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of unattended calls limit",
            "format" : "int32"
          }
        }, {
          "name" : "fromTime",
          "in" : "query",
          "description" : "to fetch logs after a specific time",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "additionalProperties" : false,
            "description" : "to fetch logs after a specific time"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the unattended calls must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the unattended calls must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "endTime",
          "in" : "query",
          "description" : "to fetch logs before a specific time",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "additionalProperties" : false,
            "description" : "to fetch logs before a specific time"
          }
        }, {
          "name" : "assigneeId",
          "in" : "query",
          "description" : "assignee id to fetch all missed call sequential calls list",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "assignee id to fetch all missed call sequential calls list",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "unattendedSequentialCallsForAssignee template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "call", "callTime", "calledFrom", "calledTo", "contact" ],
                        "properties" : {
                          "call" : {
                            "required" : [ "id", "subject", "webUrl" ],
                            "properties" : {
                              "subject" : {
                                "maxLength" : 300,
                                "minLength" : 0
                              },
                              "webUrl" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "calledTo" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[+0-9-() ]+$"
                          },
                          "calledFrom" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[+0-9-() ]+$"
                          },
                          "contact" : {
                            "required" : [ "email", "firstName", "id", "lastName", "phone" ],
                            "properties" : {
                              "firstName" : {
                                "maxLength" : 40,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 200,
                                "minLength" : 0
                              },
                              "phone" : {
                                "maxLength" : 50,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "email" : {
                                "maxLength" : 255,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "callTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "call" : {
                          "subject" : "Inbound Missed Call from (+14083529191)",
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Calls/dv/5000000269089",
                          "id" : "5000000269089"
                        },
                        "calledTo" : "+18302680444",
                        "calledFrom" : "+14083529191",
                        "contact" : {
                          "firstName" : null,
                          "lastName" : "+14083529191",
                          "phone" : "+14083529191",
                          "id" : "5000000019389",
                          "email" : null
                        },
                        "callTime" : 1579615027127
                      }, {
                        "call" : {
                          "subject" : "Inbound Missed Call from (+14083529191)",
                          "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Calls/dv/5000000269189",
                          "id" : "5000000269189"
                        },
                        "calledTo" : "+18302680444",
                        "calledFrom" : "+14083529191",
                        "contact" : {
                          "firstName" : null,
                          "lastName" : "+14083529191",
                          "phone" : "+14083529191",
                          "id" : "5000000019389",
                          "email" : null
                        },
                        "callTime" : 1579615170029
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.calls.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "9a32e9d52d076d8ea99df62034ea3f3d",
          "module-group" : "activity",
          "apimethod" : "com.zoho.support.restapi.LiveCallService.unattendedSequentialCallsForAssignee"
        }
      }
    },
    "/api/v1/contacts/{contactId}/pushToLiveCall" : {
      "post" : {
        "tags" : [ "Livecall" ],
        "summary" : "Push Contact Info",
        "description" : "This API push few contact information for the same user through wms",
        "operationId" : "pushToLiveCall",
        "parameters" : [ {
          "name" : "contactId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.calls.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "2f87716b79c36e3e4a927f880863c312",
          "module-group" : "activity",
          "apimethod" : "com.zoho.support.restapi.LiveCallService.pushToLiveCall"
        }
      }
    },
    "/api/v1/sequentialUnattendedCalls/Count" : {
      "get" : {
        "tags" : [ "Livecall" ],
        "summary" : "Get sequential calls unattended users count",
        "description" : "This api will provide you the count of users who missed the sequential calls over for the given time period. Do not use this API without consulting Telephony Team.",
        "operationId" : "unattendedSequentialCalls",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of unattended calls limit",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 99,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of unattended calls limit",
            "format" : "int32"
          }
        }, {
          "name" : "fromTime",
          "in" : "query",
          "description" : "to fetch logs after a specific time",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "additionalProperties" : false,
            "description" : "to fetch logs after a specific time"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the unattended calls must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the unattended calls must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "endTime",
          "in" : "query",
          "description" : "to fetch logs before a specific time",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "additionalProperties" : false,
            "description" : "to fetch logs before a specific time"
          }
        }, {
          "name" : "assignee",
          "in" : "query",
          "description" : "assignee - Key that filters unattended calls by assignee. Values allowed - a valid @assigneeId@. Multiple @assigneeIds@ can be passed as comma-separated values.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "assignee - Key that filters unattended calls by assignee. Values allowed - a valid @assigneeId@. Multiple @assigneeIds@ can be passed as comma-separated values.",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "unattendedSequentialCalls template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "agent", "count" ],
                        "properties" : {
                          "agent" : {
                            "required" : [ "firstName", "id", "lastName", "photoURL" ],
                            "properties" : {
                              "firstName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "photoURL" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "agent" : {
                          "firstName" : "",
                          "lastName" : "Dinesh",
                          "photoURL" : null,
                          "id" : "5000000016082"
                        },
                        "count" : "3"
                      }, {
                        "agent" : {
                          "firstName" : "Dinesh",
                          "lastName" : "thirtyeight",
                          "photoURL" : null,
                          "id" : "5000000018032"
                        },
                        "count" : "2"
                      }, {
                        "agent" : {
                          "firstName" : "Dinesht ",
                          "lastName" : "ThirtyNine",
                          "photoURL" : null,
                          "id" : "5000000103283"
                        },
                        "count" : "1"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.calls.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "1eb5354d6a06539c4587b1d7b728f5c2",
          "module-group" : "activity",
          "apimethod" : "com.zoho.support.restapi.LiveCallService.unattendedSequentialCalls"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "notifiedClientZuids" : {
        "required" : [ "firstName", "lastName", "zuid" ],
        "properties" : {
          "firstName" : {
            "maxLength" : 50,
            "minLength" : 0
          },
          "lastName" : {
            "maxLength" : 50,
            "minLength" : 0
          },
          "zuid" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          }
        },
        "additionalProperties" : { }
      },
      "notifiedClientZuidsArray" : {
        "items" : {
          "required" : [ "firstName", "lastName", "zuid" ],
          "properties" : {
            "firstName" : {
              "maxLength" : 50,
              "minLength" : 0
            },
            "lastName" : {
              "maxLength" : 50,
              "minLength" : 0
            },
            "zuid" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            }
          },
          "additionalProperties" : false
        }
      },
      "unattendedSequentialCallsInfoJson" : {
        "required" : [ "id", "subject", "webUrl" ],
        "properties" : {
          "subject" : {
            "maxLength" : 300,
            "minLength" : 0
          },
          "webUrl" : {
            "maxLength" : 500,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "unattendedSequentialCallsContactJson" : {
        "required" : [ "email", "firstName", "id", "lastName", "phone" ],
        "properties" : {
          "firstName" : {
            "maxLength" : 40,
            "minLength" : 0
          },
          "lastName" : {
            "maxLength" : 200,
            "minLength" : 0
          },
          "phone" : {
            "maxLength" : 50,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "email" : {
            "maxLength" : 255,
            "minLength" : 0,
            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
          }
        },
        "additionalProperties" : { }
      },
      "unattendedSequentialCallsForAssigneeDataJson" : {
        "required" : [ "call", "callTime", "calledFrom", "calledTo", "contact" ],
        "properties" : {
          "call" : {
            "required" : [ "id", "subject", "webUrl" ],
            "properties" : {
              "subject" : {
                "maxLength" : 300,
                "minLength" : 0
              },
              "webUrl" : {
                "maxLength" : 500,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          },
          "calledTo" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^[+0-9-() ]+$"
          },
          "calledFrom" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^[+0-9-() ]+$"
          },
          "contact" : {
            "required" : [ "email", "firstName", "id", "lastName", "phone" ],
            "properties" : {
              "firstName" : {
                "maxLength" : 40,
                "minLength" : 0
              },
              "lastName" : {
                "maxLength" : 200,
                "minLength" : 0
              },
              "phone" : {
                "maxLength" : 50,
                "minLength" : 0,
                "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "email" : {
                "maxLength" : 255,
                "minLength" : 0,
                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
              }
            },
            "additionalProperties" : false
          },
          "callTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          }
        },
        "additionalProperties" : { }
      },
      "unattendedSequentialCallsForAssigneeData" : {
        "items" : {
          "required" : [ "call", "callTime", "calledFrom", "calledTo", "contact" ],
          "properties" : {
            "call" : {
              "required" : [ "id", "subject", "webUrl" ],
              "properties" : {
                "subject" : {
                  "maxLength" : 300,
                  "minLength" : 0
                },
                "webUrl" : {
                  "maxLength" : 500,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "additionalProperties" : false
            },
            "calledTo" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "^[+0-9-() ]+$"
            },
            "calledFrom" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "^[+0-9-() ]+$"
            },
            "contact" : {
              "required" : [ "email", "firstName", "id", "lastName", "phone" ],
              "properties" : {
                "firstName" : {
                  "maxLength" : 40,
                  "minLength" : 0
                },
                "lastName" : {
                  "maxLength" : 200,
                  "minLength" : 0
                },
                "phone" : {
                  "maxLength" : 50,
                  "minLength" : 0,
                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "email" : {
                  "maxLength" : 255,
                  "minLength" : 0,
                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                }
              },
              "additionalProperties" : false
            },
            "callTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            }
          },
          "additionalProperties" : false
        }
      },
      "unattendedSequentialCallsAgentJson" : {
        "required" : [ "firstName", "id", "lastName", "photoURL" ],
        "properties" : {
          "firstName" : {
            "maxLength" : 50,
            "minLength" : 0
          },
          "lastName" : {
            "maxLength" : 50,
            "minLength" : 0
          },
          "photoURL" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "unattendedSequentialCallsCountDataJson" : {
        "required" : [ "agent", "count" ],
        "properties" : {
          "agent" : {
            "required" : [ "firstName", "id", "lastName", "photoURL" ],
            "properties" : {
              "firstName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "lastName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "photoURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "additionalProperties" : false
          },
          "count" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          }
        },
        "additionalProperties" : { }
      },
      "unattendedSequentialCallsCountData" : {
        "items" : {
          "required" : [ "agent", "count" ],
          "properties" : {
            "agent" : {
              "required" : [ "firstName", "id", "lastName", "photoURL" ],
              "properties" : {
                "firstName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "lastName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "photoURL" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "additionalProperties" : false
            },
            "count" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            }
          },
          "additionalProperties" : false
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "addResponse" : {
        "description" : "addResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "activityCreated", "callRefId", "callState", "callType", "caseId", "contactId", "createdTime", "ctiName", "ctiNumber", "customerNumber", "id", "notifiedClientZuids" ],
              "properties" : {
                "ctiName" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "ZDesk_Current_Call", "null", null ],
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Name of the PBX",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "contactId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64",
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "ID of the contact associated with the call",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "caseId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64",
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "ID of the ticket associated with the call",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false,
                    "entity" : "Tickets"
                  }
                },
                "callRefId" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([a-zA-Z0-9]+)",
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Call reference ID provided by the Private Branch Exchange (PBX)",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "createdTime" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                },
                "ctiNumber" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "^[+0-9-() ]+$",
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Phone number of your help desk portal",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "customerNumber" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "^[+0-9-() ]+$",
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Phone number of the contact",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "activityCreated" : { },
                "notifiedClientZuids" : {
                  "items" : {
                    "required" : [ "firstName", "lastName", "zuid" ],
                    "properties" : {
                      "firstName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "lastName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "zuid" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "callType" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "inbound", "outbound" ],
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Direction of the call: @inbound@ or @outbound@",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "callState" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "ringing" ]
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "ctiName" : "ZDesk_Current_Call",
                  "contactId" : "39600000029145589",
                  "caseId" : "39600000029145889",
                  "callRefId" : "Td7",
                  "createdTime" : 1556782464000,
                  "ctiNumber" : "+18302680444",
                  "id" : "39600000029146623",
                  "customerNumber" : "+82123545648",
                  "activityCreated" : false,
                  "notifiedClientZuids" : [ {
                    "firstName" : "",
                    "lastName" : "Automation",
                    "zuid" : "55737544"
                  } ],
                  "callType" : "outbound",
                  "callState" : "ringing"
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "unattendedSequentialCallsForAssignee" : {
        "description" : "unattendedSequentialCallsForAssignee template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "data" ],
              "properties" : {
                "data" : {
                  "items" : {
                    "required" : [ "call", "callTime", "calledFrom", "calledTo", "contact" ],
                    "properties" : {
                      "call" : {
                        "required" : [ "id", "subject", "webUrl" ],
                        "properties" : {
                          "subject" : {
                            "maxLength" : 300,
                            "minLength" : 0
                          },
                          "webUrl" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "calledTo" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^[+0-9-() ]+$"
                      },
                      "calledFrom" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^[+0-9-() ]+$"
                      },
                      "contact" : {
                        "required" : [ "email", "firstName", "id", "lastName", "phone" ],
                        "properties" : {
                          "firstName" : {
                            "maxLength" : 40,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 200,
                            "minLength" : 0
                          },
                          "phone" : {
                            "maxLength" : 50,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "email" : {
                            "maxLength" : 255,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "callTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      }
                    },
                    "additionalProperties" : false
                  }
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : [ {
                    "call" : {
                      "subject" : "Inbound Missed Call from (+14083529191)",
                      "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Calls/dv/5000000269089",
                      "id" : "5000000269089"
                    },
                    "calledTo" : "+18302680444",
                    "calledFrom" : "+14083529191",
                    "contact" : {
                      "firstName" : null,
                      "lastName" : "+14083529191",
                      "phone" : "+14083529191",
                      "id" : "5000000019389",
                      "email" : null
                    },
                    "callTime" : 1579615027127
                  }, {
                    "call" : {
                      "subject" : "Inbound Missed Call from (+14083529191)",
                      "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Calls/dv/5000000269189",
                      "id" : "5000000269189"
                    },
                    "calledTo" : "+18302680444",
                    "calledFrom" : "+14083529191",
                    "contact" : {
                      "firstName" : null,
                      "lastName" : "+14083529191",
                      "phone" : "+14083529191",
                      "id" : "5000000019389",
                      "email" : null
                    },
                    "callTime" : 1579615170029
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "unattendedSequentialCalls" : {
        "description" : "unattendedSequentialCalls template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "data" ],
              "properties" : {
                "data" : {
                  "items" : {
                    "required" : [ "agent", "count" ],
                    "properties" : {
                      "agent" : {
                        "required" : [ "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "photoURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "count" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      }
                    },
                    "additionalProperties" : false
                  }
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : [ {
                    "agent" : {
                      "firstName" : "",
                      "lastName" : "Dinesh",
                      "photoURL" : null,
                      "id" : "5000000016082"
                    },
                    "count" : "3"
                  }, {
                    "agent" : {
                      "firstName" : "Dinesh",
                      "lastName" : "thirtyeight",
                      "photoURL" : null,
                      "id" : "5000000018032"
                    },
                    "count" : "2"
                  }, {
                    "agent" : {
                      "firstName" : "Dinesht ",
                      "lastName" : "ThirtyNine",
                      "photoURL" : null,
                      "id" : "5000000103283"
                    },
                    "count" : "1"
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "OAuth Org Mismatch Error Response" : {
                "value" : {
                  "errorCode" : "OAUTH_ORG_MISMATCH",
                  "message" : "The OAuthToken is not valid for specified organization."
                }
              }
            }
          }
        }
      },
      "forbiddenErrorResponse" : {
        "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Forbidden Error Response" : {
                "value" : {
                  "errorCode" : "FORBIDDEN",
                  "message" : "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "urlNotFoundErrorResponse" : {
        "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Url Not Found Error Response" : {
                "value" : {
                  "errorCode" : "URL_NOT_FOUND",
                  "message" : "The URL you requested could not be found."
                }
              }
            }
          }
        }
      },
      "methodNotAllowedErrorResponse" : {
        "description" : "This errorCode value appears if the method in the API request is known by the server but disabled for the API requested.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Method Not Allowed Error Response" : {
                "value" : {
                  "errorCode" : "METHOD_NOT_ALLOWED",
                  "message" : "This HTTP method is not allowed on this URL."
                }
              }
            }
          }
        }
      },
      "resourceSizeExceededErrorResponse" : {
        "description" : "This errorCode value appears if the size of the resource exceeds the limit defined by the server.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Resource Size Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "RESOURCE_SIZE_EXCEEDED",
                  "message" : "Attachment size is too large. The maximum size supported is 20 MB."
                }
              }
            }
          }
        }
      },
      "unSupportedMediaTypeErrorResponse" : {
        "description" : "This errorCode value appears if the server refuses the request as a result of receiving the input in an unsupported format.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unsupported Media Type Error Response" : {
                "value" : {
                  "errorCode" : "UNSUPPORTED_MEDIA_TYPE",
                  "message" : "The given content type is not supported. Please provide the input Content-Type as application/json"
                }
              }
            }
          }
        }
      },
      "unprocessableEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The value passed for the 'from' query parameter is invalid."
                }
              }
            }
          }
        }
      },
      "missingEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not contain the mandatory parameters for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The mandatory parameter 'permission' is missing"
                }
              }
            }
          }
        }
      },
      "thresholdExceedErrorResponse" : {
        "description" : "This errorCode value appears if the user sends too many requests within a given amount of time (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Threshold Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "THRESHOLD_EXCEEDED",
                  "message" : "The maximum number of API calls that can be made per day has been exceeded."
                }
              }
            }
          }
        }
      },
      "concurrentRateLimitExceededErrorResponse" : {
        "description" : "This errorCode value appears if the user fires too many requests in a simultaneous/concurrent manner (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Concurrent Rate Limit Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "TOO_MANY_REQUESTS",
                  "message" : "The maximum number of Concurrent API Calls that can be made has been exceeded."
                }
              }
            }
          }
        }
      },
      "internalErrorResponse" : {
        "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Internal Server Error Response" : {
                "value" : {
                  "errorCode" : "INTERNAL_SERVER_ERROR",
                  "message" : "An internal server error occurred while performing this operation."
                }
              }
            }
          }
        }
      },
      "licenseErrorResponse" : {
        "description" : "This errorCode value appears if the user is unable to perform an action due to the limitations of the Zoho Desk edition in use\nThe possible values for the feature key are\n    *AGENTS*\n    *LIGHT_AGENTS*\n    *TEAM*\nThe possible values for the editionType key are\n    *FREE*\n    *PROFESSIONAL*\n    *ENTERPRISE*",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "editionType", "feature", "isTrial", "maxAllowedEntity" ],
                "properties" : {
                  "maxAllowedEntity" : {
                    "pattern" : "([0-9]+)"
                  },
                  "feature" : {
                    "enum" : [ "AGENTS", "LIGHT_AGENTS", "TEAM" ]
                  },
                  "editionType" : {
                    "enum" : [ "ENTERPRISE", "PROFESSIONAL", "STANDARD", "EXPRESS", "FREE" ]
                  },
                  "isTrial" : { }
                }
              } ]
            },
            "examples" : {
              "LicenseAccessLimited Error Response" : {
                "value" : {
                  "errorCode" : "LICENSE_ACCESS_LIMITED",
                  "maxAllowedEntity" : "10",
                  "feature" : "AGENTS",
                  "editionType" : "FREE",
                  "isTrial" : false,
                  "message" : "Your Zoho Desk Edition does not support this feature/operation."
                }
              }
            }
          }
        }
      },
      "multipleUnprocessEntityResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "anyOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "additionalProperties" : { },
                "allOf" : [ {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                }, {
                  "required" : [ "errors" ],
                  "properties" : {
                    "errors" : {
                      "items" : {
                        "required" : [ "errorMessage", "errorType", "fieldName" ],
                        "properties" : {
                          "fieldName" : { },
                          "errorType" : {
                            "enum" : [ "invalid", "duplicate", "missing" ]
                          },
                          "errorMessage" : { }
                        }
                      }
                    }
                  }
                } ]
              } ]
            }
          }
        }
      },
      "invalidDataErrorResponse" : {
        "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "errors" ],
                "properties" : {
                  "errors" : {
                    "items" : {
                      "required" : [ "errorMessage", "errorType", "fieldName" ],
                      "properties" : {
                        "fieldName" : { },
                        "errorType" : {
                          "enum" : [ "invalid", "duplicate", "missing" ]
                        },
                        "errorMessage" : { }
                      }
                    }
                  }
                }
              } ]
            },
            "examples" : {
              "Invalid Data Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_DATA",
                  "message" : "The data does not comply to the validation restrictions defined.",
                  "errors" : [ {
                    "fieldName" : "/contactId",
                    "errorType" : "invalid"
                  }, {
                    "fieldName" : "/departmentId",
                    "errorType" : "invalid"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "parameters" : {
      "limit" : {
        "name" : "limit",
        "in" : "query",
        "description" : "Number of unattended calls limit",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "maximum" : 99,
          "minimum" : 1,
          "pattern" : "([0-9]+)",
          "description" : "Number of unattended calls limit",
          "format" : "int32"
        }
      },
      "fromTime" : {
        "name" : "fromTime",
        "in" : "query",
        "description" : "to fetch logs after a specific time",
[...]
