{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Macros",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "automation"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/tickets/{caseId}/applyMacro" : {
      "post" : {
        "tags" : [ "Macros" ],
        "summary" : "Apply Macro",
        "description" : "This API applies a macro to a ticket",
        "operationId" : "applyMacro",
        "parameters" : [ {
          "name" : "macroId",
          "in" : "query",
          "description" : "Macro rule Id",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Macro rule Id",
            "format" : "int64"
          }
        }, {
          "name" : "caseId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "applyMacro template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "skippedFieldUpdates", "status" ],
                  "properties" : {
                    "skippedFieldUpdates" : {
                      "items" : {
                        "required" : [ "name", "skippedFields" ],
                        "properties" : {
                          "skippedFields" : {
                            "items" : {
                              "required" : [ "apiName", "displayLabel", "fieldId" ],
                              "properties" : {
                                "displayLabel" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "apiName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "fieldId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "MACRO_APPLIED" ]
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "skippedFieldUpdates" : [ {
                        "skippedFields" : [ {
                          "displayLabel" : "Status",
                          "apiName" : "status",
                          "fieldId" : "9000000018399"
                        } ],
                        "name" : "Subject-Status Change"
                      }, {
                        "skippedFields" : [ {
                          "displayLabel" : "Due Date",
                          "apiName" : "dueDate",
                          "fieldId" : "9000000018457"
                        } ],
                        "name" : "Subject-Duedate Change"
                      } ],
                      "status" : "MACRO_APPLIED"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "cec7a9bd7080085a1c76a033e8d08bf6",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.MacroService.applyMacro"
        }
      }
    },
    "/api/v1/tickets/{caseId}/applicableMacros" : {
      "get" : {
        "tags" : [ "Macros" ],
        "summary" : "List all applicable macros",
        "description" : "This API is used to fetch all applicable macro details for a ticket",
        "operationId" : "getApplicableMacros",
        "parameters" : [ {
          "name" : "caseId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "getApplicableMacros template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "id", "name", "orderId" ],
                        "properties" : {
                          "orderId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "name" : {
                            "maxLength" : 50,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "orderId" : "1",
                        "name" : "Welcome",
                        "id" : "10000000049003"
                      }, {
                        "orderId" : "2",
                        "name" : "Second Rule",
                        "id" : "10000000160013"
                      }, {
                        "orderId" : "3",
                        "name" : "Update Ticket Owner Rule",
                        "id" : "10000000170012"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "f6df2f62b876c897fb5dead0336c2653",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.MacroService.getApplicableMacros"
        }
      }
    },
    "/api/v1/macros" : {
      "get" : {
        "tags" : [ "Macros" ],
        "summary" : "List all macros",
        "description" : "This API is used to fetch all the macro details in a department",
        "operationId" : "getAllMacro",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "department from which all the macros is going to be listed",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "department from which all the macros is going to be listed",
            "format" : "int64"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "number of macros to be retrieved",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "number of macros to be retrieved",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "from index",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "from index",
            "format" : "int32"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "To get a list of all macros shared to the user. Allowed value is @SHARED@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "To get a list of all macros shared to the user. Allowed value is @SHARED@",
            "enum" : [ "SHARED" ]
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "to get macros by status, allowed values are @ACTIVE@ and @INACTIVE@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "to get macros by status, allowed values are @ACTIVE@ and @INACTIVE@",
            "enum" : [ "ACTIVE", "INACTIVE" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getAllMacro template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "automationAlertIds", "automationCustomFunctionId", "automationFieldUpdateIds", "automationTaskIds", "createdBy", "createdTime", "departmentId", "description", "id", "macroActionIds", "modifiedBy", "modifiedTime", "name", "orderId", "shareDetails", "status" ],
                        "properties" : {
                          "modifiedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "automationTaskIds" : {
                            "uniqueItems" : true,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "orderId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "department from which all the macros is going to be listed",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "shareDetails" : {
                            "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                            "properties" : {
                              "teams" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "roles" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "ALL_AGENTS", "RESTRICTED_ACCESS", null ]
                              },
                              "rolesAndSubordinates" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "agents" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "description" : {
                            "maxLength" : 32000,
                            "minLength" : 0
                          },
                          "macroActionIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "createdBy" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "automationFieldUpdateIds" : {
                            "uniqueItems" : true,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "automationCustomFunctionId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "name" : {
                            "maxLength" : 50,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "modifiedBy" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "automationAlertIds" : {
                            "uniqueItems" : true,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTIVE", "INACTIVE", null ],
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "to get macros by status, allowed values are @ACTIVE@ and @INACTIVE@",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "modifiedTime" : 1683576053639,
                        "automationTaskIds" : [ "4000000047222" ],
                        "orderId" : "1",
                        "departmentId" : "4000000025568",
                        "shareDetails" : {
                          "teams" : [ "4000000045119" ],
                          "roles" : [ ],
                          "type" : "RESTRICTED_ACCESS",
                          "rolesAndSubordinates" : [ "4000000029448" ],
                          "agents" : [ "4000000045005" ]
                        },
                        "description" : "My New Rule Description",
                        "macroActionIds" : [ "4000000047232" ],
                        "createdBy" : "4000000000351",
                        "automationFieldUpdateIds" : [ "4000000045133" ],
                        "automationCustomFunctionId" : null,
                        "name" : "Macro Rule",
                        "createdTime" : 1683576053639,
                        "modifiedBy" : "4000000000351",
                        "id" : "4000000047280",
                        "automationAlertIds" : [ "4000000047157" ],
                        "status" : "ACTIVE"
                      }, {
                        "modifiedTime" : 1683797794414,
                        "automationTaskIds" : [ ],
                        "orderId" : "4",
                        "departmentId" : "4000000025568",
                        "shareDetails" : {
                          "teams" : [ "4000000045119" ],
                          "roles" : [ ],
                          "type" : "RESTRICTED_ACCESS",
                          "rolesAndSubordinates" : [ "4000000029448" ],
                          "agents" : [ "4000000045005" ]
                        },
                        "description" : "Macro Rule 2",
                        "macroActionIds" : [ "4000000047202" ],
                        "createdBy" : "4000000000351",
                        "automationFieldUpdateIds" : [ "4000000045133" ],
                        "automationCustomFunctionId" : null,
                        "name" : "restricted",
                        "createdTime" : 1683576053639,
                        "modifiedBy" : "4000000000351",
                        "id" : "4000000047280",
                        "automationAlertIds" : [ "4000000047157" ],
                        "status" : "ACTIVE"
                      }, {
                        "modifiedTime" : 1683798040659,
                        "automationTaskIds" : [ ],
                        "orderId" : "11",
                        "departmentId" : "4000000025568",
                        "shareDetails" : {
                          "teams" : [ ],
                          "roles" : [ ],
                          "type" : "ALL_AGENTS",
                          "rolesAndSubordinates" : [ ],
                          "agents" : [ ]
                        },
                        "description" : "Macro with all agents access for execution",
                        "macroActionIds" : [ ],
                        "createdBy" : "4000000000351",
                        "automationFieldUpdateIds" : [ "4000000045133" ],
                        "automationCustomFunctionId" : null,
                        "name" : "Macro for all agents",
                        "createdTime" : 1683561010501,
                        "modifiedBy" : "4000000000351",
                        "id" : "4000000045153",
                        "automationAlertIds" : [ ],
                        "status" : "ACTIVE"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "f3bff95cd5da7a8b2e6de888fed6c148",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.MacroService.getAllMacro"
        }
      },
      "post" : {
        "tags" : [ "Macros" ],
        "summary" : "Create Macro",
        "description" : "This API is used to create a Macro",
        "operationId" : "createMacro",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "automationAlertIds", "automationCustomFunctionId", "automationFieldUpdateIds", "automationTaskIds", "departmentId", "description", "name", "status" ],
                "properties" : {
                  "automationTaskIds" : {
                    "uniqueItems" : true,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "automationFieldUpdateIds" : {
                    "uniqueItems" : true,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "departmentId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "automationCustomFunctionId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "name" : {
                    "maxLength" : 50,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "shareDetails" : {
                    "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                    "properties" : {
                      "teams" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "roles" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "ALL_AGENTS", "RESTRICTED_ACCESS", null ]
                      },
                      "rolesAndSubordinates" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "agents" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      }
                    },
                    "additionalProperties" : false
                  },
                  "description" : {
                    "maxLength" : 32000,
                    "minLength" : 0
                  },
                  "automationAlertIds" : {
                    "uniqueItems" : true,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "macroActionIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "ACTIVE", "INACTIVE" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "automationTaskIds" : [ "4000000047222" ],
                    "automationFieldUpdateIds" : [ "4000000045133" ],
                    "departmentId" : "4000000025568",
                    "automationCustomFunctionId" : null,
                    "name" : "Macro Rule",
                    "shareDetails" : {
                      "teams" : [ "4000000045119" ],
                      "roles" : [ "4000000029451" ],
                      "type" : "RESTRICTED_ACCESS",
                      "rolesAndSubordinates" : [ "4000000029448" ],
                      "agents" : [ "4000000045005" ]
                    },
                    "description" : "My New Rule Description",
                    "automationAlertIds" : [ "4000000047157" ],
                    "macroActionIds" : [ "4000000047232" ],
                    "status" : "ACTIVE"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "201" : {
            "description" : "createMacro template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "automationAlertIds", "automationCustomFunctionId", "automationFieldUpdateIds", "automationTaskIds", "createdBy", "createdTime", "departmentId", "description", "id", "macroActionIds", "modifiedBy", "modifiedTime", "name", "orderId", "shareDetails", "status" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "automationTaskIds" : {
                      "uniqueItems" : true,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : [ { } ]
                      }
                    },
                    "orderId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "departmentId in which macro is going to be created",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "shareDetails" : {
                      "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                      "properties" : {
                        "teams" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "roles" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ALL_AGENTS", "RESTRICTED_ACCESS", null ]
                        },
                        "rolesAndSubordinates" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "agents" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        }
                      },
                      "additionalProperties" : false
                    },
                    "description" : {
                      "maxLength" : 32000,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "description for macro",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "macroActionIds" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : [ { } ]
                      }
                    },
                    "automationFieldUpdateIds" : {
                      "uniqueItems" : true,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : [ { } ]
                      }
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "automationCustomFunctionId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "CustomFunction id to be associated with macro",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "name" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "name for macro",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "automationAlertIds" : {
                      "uniqueItems" : true,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : [ { } ]
                      }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ACTIVE", "INACTIVE" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "It states whether macro is active or inactive, allowed values are @ACTIVE@ and @INACTIVE@",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1683576053639,
                      "automationTaskIds" : [ "4000000047222" ],
                      "orderId" : "1",
                      "departmentId" : "4000000025568",
                      "shareDetails" : {
                        "teams" : [ "4000000045119" ],
                        "roles" : [ "4000000029451" ],
                        "type" : "RESTRICTED_ACCESS",
                        "rolesAndSubordinates" : [ "4000000029448" ],
                        "agents" : [ "4000000045005" ]
                      },
                      "description" : "My New Rule Description",
                      "macroActionIds" : [ "4000000047232" ],
                      "createdBy" : "4000000000351",
                      "automationFieldUpdateIds" : [ "4000000045133" ],
                      "automationCustomFunctionId" : null,
                      "name" : "Macro Rule",
                      "createdTime" : 1683576053639,
                      "modifiedBy" : "4000000000351",
                      "id" : "4000000047280",
                      "automationAlertIds" : [ "4000000047157" ],
                      "status" : "ACTIVE"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 1200000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "296c202b6d8311590072ff7e9610cccb",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.MacroService.createMacro"
        }
      }
    },
    "/api/v1/macros/order" : {
      "post" : {
        "tags" : [ "Macros" ],
        "summary" : "Reorder Macros",
        "description" : "This API is used to reorder the listing of Macros",
        "operationId" : "reorderMacros",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "departmentId", "macroIds" ],
                "properties" : {
                  "departmentId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "macroIds" : {
                    "uniqueItems" : true,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "departmentId" : "146284000000006907",
                    "macroIds" : [ "10000000117007", "10000000027213", "10000000117019" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "23e1bdfa2d355bb7bcfeb9581e629ec5",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.MacroService.reorderMacros"
        }
      }
    },
    "/api/v1/macros/{macroId}/apply" : {
      "post" : {
        "tags" : [ "Macros" ],
        "summary" : "Apply Macro to many entities",
        "description" : "This API applies a macro to a list of tickets",
        "operationId" : "applyMacroForMultipleTickets",
        "parameters" : [ {
          "name" : "macroId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "entityIds" ],
                "properties" : {
                  "entityIds" : {
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "entityIds" : [ "10000000023021", "10000000023023", "10000000023025" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "3d1c4c0b1a8fc25355a879174e16f7af",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.MacroService.applyMacroForMultipleTickets"
        }
      }
    },
    "/api/v1/macros/{macroId}" : {
      "get" : {
        "tags" : [ "Macros" ],
        "summary" : "Get Macro",
        "description" : "This API is used to get a Macro details",
        "operationId" : "getMacro",
        "parameters" : [ {
          "name" : "macroId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getMacro template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "automationAlertIds", "automationCustomFunctionId", "automationFieldUpdateIds", "automationTaskIds", "createdBy", "createdTime", "departmentId", "description", "id", "macroActionIds", "modifiedBy", "modifiedTime", "name", "orderId", "shareDetails", "status" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "automationTaskIds" : {
                      "uniqueItems" : true,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "orderId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "shareDetails" : {
                      "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                      "properties" : {
                        "teams" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "roles" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ALL_AGENTS", "RESTRICTED_ACCESS", null ]
                        },
                        "rolesAndSubordinates" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "agents" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        }
                      },
                      "additionalProperties" : false
                    },
                    "description" : {
                      "maxLength" : 32000,
                      "minLength" : 0
                    },
                    "macroActionIds" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "automationFieldUpdateIds" : {
                      "uniqueItems" : true,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "automationCustomFunctionId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "name" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "automationAlertIds" : {
                      "uniqueItems" : true,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ACTIVE", "INACTIVE" ]
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1683576053639,
                      "automationTaskIds" : [ "4000000047222" ],
                      "orderId" : "1",
                      "departmentId" : "4000000025568",
                      "shareDetails" : {
                        "teams" : [ "4000000045119" ],
                        "roles" : [ ],
                        "type" : "RESTRICTED_ACCESS",
                        "rolesAndSubordinates" : [ "4000000029448" ],
                        "agents" : [ "4000000045005" ]
                      },
                      "description" : "My New Rule Description",
                      "macroActionIds" : [ "4000000047232" ],
                      "createdBy" : "4000000000351",
                      "automationFieldUpdateIds" : [ "4000000045133" ],
                      "automationCustomFunctionId" : null,
                      "name" : "Macro Rule",
                      "createdTime" : 1683576053639,
                      "modifiedBy" : "4000000000351",
                      "id" : "4000000047280",
                      "automationAlertIds" : [ "4000000047157" ],
                      "status" : "ACTIVE"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 1200000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "b8f33e1bfe9a7347a35a5a9d28a3d1b7",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.MacroService.getMacro"
        }
      },
      "put" : {
        "tags" : [ "Macros" ],
        "summary" : "Update Macro",
        "description" : "This API is used to update a Macro",
        "operationId" : "updateMacro",
        "parameters" : [ {
          "name" : "macroId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "automationTaskIds" : {
                    "uniqueItems" : true,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "automationFieldUpdateIds" : {
                    "uniqueItems" : true,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "departmentId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "automationCustomFunctionId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "name" : {
                    "maxLength" : 50,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "shareDetails" : {
                    "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                    "properties" : {
                      "teams" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "roles" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "ALL_AGENTS", "RESTRICTED_ACCESS", null ]
                      },
                      "rolesAndSubordinates" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "agents" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      }
                    },
                    "additionalProperties" : false
                  },
                  "description" : {
                    "maxLength" : 32000,
                    "minLength" : 0
                  },
                  "automationAlertIds" : {
                    "uniqueItems" : true,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "macroActionIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "ACTIVE", "INACTIVE" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "automationTaskIds" : [ ],
                    "shareDetails" : {
                      "teams" : [ "4000000045119" ],
                      "roles" : [ "4000000029448" ],
                      "type" : "RESTRICTED_ACCESS",
                      "agents" : [ "4000000045005" ]
                    },
                    "description" : "My New Rule Description - Updated"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "updateMacro template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "automationAlertIds", "automationCustomFunctionId", "automationFieldUpdateIds", "automationTaskIds", "createdBy", "createdTime", "departmentId", "description", "id", "macroActionIds", "modifiedBy", "modifiedTime", "name", "orderId", "shareDetails", "status" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "automationTaskIds" : {
                      "uniqueItems" : true,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : [ { } ]
                      }
                    },
                    "orderId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "departmentId in which macro is going to be created",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "shareDetails" : {
                      "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                      "properties" : {
                        "teams" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "roles" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ALL_AGENTS", "RESTRICTED_ACCESS", null ]
                        },
                        "rolesAndSubordinates" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "agents" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        }
                      },
                      "additionalProperties" : false
                    },
                    "description" : {
                      "maxLength" : 32000,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "description for macro",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "macroActionIds" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : [ { } ]
                      }
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "automationFieldUpdateIds" : {
                      "uniqueItems" : true,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : [ { } ]
                      }
                    },
                    "automationCustomFunctionId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "name" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "name for macro",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "automationAlertIds" : {
                      "uniqueItems" : true,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : [ { } ]
                      }
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ACTIVE", "INACTIVE" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "It states whether macro is active or inactive, allowed values are @ACTIVE@ and @INACTIVE@",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1683576748180,
                      "automationTaskIds" : [ ],
                      "orderId" : "1",
                      "departmentId" : "4000000025568",
                      "shareDetails" : {
                        "teams" : [ "4000000045119" ],
                        "roles" : [ "4000000029448" ],
                        "type" : "RESTRICTED_ACCESS",
                        "rolesAndSubordinates" : [ ],
                        "agents" : [ "4000000045005" ]
                      },
                      "description" : "My New Rule Description - Updated",
                      "macroActionIds" : [ "4000000047232" ],
                      "createdBy" : "4000000000351",
                      "automationFieldUpdateIds" : [ "4000000045133" ],
                      "automationCustomFunctionId" : null,
                      "name" : "Macro Rule",
                      "createdTime" : 1683576053639,
                      "modifiedBy" : "4000000000351",
                      "id" : "4000000047280",
                      "automationAlertIds" : [ "4000000047157" ],
                      "status" : "ACTIVE"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "0362ab8e347175f1b0aa25b3ad7072fc",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.MacroService.updateMacro"
        }
      },
      "delete" : {
        "tags" : [ "Macros" ],
        "summary" : "Delete Macro",
        "description" : "This API is used to Delete a Macro",
        "operationId" : "deleteMacro",
        "parameters" : [ {
          "name" : "macroId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.DELETE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "7d68ee985df467265908aed8f8079c3b",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.MacroService.deleteMacro"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "skippedField" : {
        "required" : [ "apiName", "displayLabel", "fieldId" ],
        "properties" : {
          "displayLabel" : {
            "maxLength" : 200,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "apiName" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "fieldId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "skippedFieldsArr" : {
        "items" : {
          "required" : [ "apiName", "displayLabel", "fieldId" ],
          "properties" : {
            "displayLabel" : {
              "maxLength" : 200,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "apiName" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "fieldId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "additionalProperties" : false
        }
      },
      "skippedFieldUpdate" : {
        "required" : [ "name", "skippedFields" ],
        "properties" : {
          "skippedFields" : {
            "items" : {
              "required" : [ "apiName", "displayLabel", "fieldId" ],
              "properties" : {
                "displayLabel" : {
                  "maxLength" : 200,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                },
                "apiName" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                },
                "fieldId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "additionalProperties" : false
            }
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          }
        },
        "additionalProperties" : { }
      },
      "skippedFieldUpdatesArr" : {
        "items" : {
          "required" : [ "name", "skippedFields" ],
          "properties" : {
            "skippedFields" : {
              "items" : {
                "required" : [ "apiName", "displayLabel", "fieldId" ],
                "properties" : {
                  "displayLabel" : {
                    "maxLength" : 200,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "apiName" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "fieldId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : false
              }
            },
            "name" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            }
          },
          "additionalProperties" : false
        }
      },
      "getApplicableMacroItem" : {
        "required" : [ "id", "name", "orderId" ],
        "properties" : {
          "orderId" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "name" : {
            "maxLength" : 50,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "getApplicableMacroArr" : {
        "items" : {
          "required" : [ "id", "name", "orderId" ],
          "properties" : {
            "orderId" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "name" : {
              "maxLength" : 50,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "additionalProperties" : false
        }
      },
      "shareDetails" : {
        "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
        "properties" : {
          "teams" : {
            "uniqueItems" : false,
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "roles" : {
            "uniqueItems" : false,
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "type" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "ALL_AGENTS", "RESTRICTED_ACCESS", null ]
          },
          "rolesAndSubordinates" : {
            "uniqueItems" : false,
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "agents" : {
            "uniqueItems" : false,
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          }
        },
        "additionalProperties" : { }
      },
      "data" : {
        "required" : [ "automationAlertIds", "automationCustomFunctionId", "automationFieldUpdateIds", "automationTaskIds", "createdBy", "createdTime", "departmentId", "description", "id", "macroActionIds", "modifiedBy", "modifiedTime", "name", "orderId", "shareDetails", "status" ],
        "properties" : {
          "modifiedTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "automationTaskIds" : {
            "uniqueItems" : true,
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "orderId" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "departmentId" : {
            "pattern" : "([0-9]+)",
[...]
