{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "MassAction",
    "version" : "1.0.0",
    "x-clan-group" : "tickets",
    "x-module-group" : "tickets"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/tickets/massAction" : {
      "post" : {
        "tags" : [ "MassAction" ],
        "summary" : "Create ticket mass action",
        "description" : "This API allows you to create a mass action in the tickets module for a specific department. You can use it to either reply to or add a comment to multiple tickets at once.",
        "operationId" : "createticketMassReply",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "discriminator" : {
                  "propertyName" : "actionType",
                  "mapping" : {
                    "MASS_REPLY" : "#/components/schemas/MassReply",
                    "MASS_COMMENT" : "#/components/schemas/MassComment"
                  }
                },
                "oneOf" : [ {
                  "allOf" : [ {
                    "required" : [ "departmentId", "ids" ],
                    "properties" : {
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "ids" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "actionType", "reply" ],
                    "properties" : {
                      "actionType" : {
                        "enum" : [ "MASS_REPLY" ]
                      },
                      "reply" : {
                        "required" : [ "attachmentIds", "content", "contentType" ],
                        "properties" : {
                          "attachmentIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "contentType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "plainText", "html" ]
                          },
                          "content" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  } ]
                }, {
                  "allOf" : [ {
                    "required" : [ "departmentId", "ids" ],
                    "properties" : {
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "ids" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "actionType", "comment" ],
                    "properties" : {
                      "actionType" : {
                        "enum" : [ "MASS_COMMENT" ]
                      },
                      "comment" : {
                        "required" : [ "attachmentIds", "content", "contentType", "isPublic" ],
                        "properties" : {
                          "isPublic" : { },
                          "attachmentIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "contentType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "plainText", "html" ]
                          },
                          "content" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  } ]
                } ]
              }
            }
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "202" : {
            "description" : "massActionLogKeys template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "actionType", "completedRecordsCount", "completedTime", "createdById", "createdTime", "departmentId", "fieldsUpdated", "id", "moduleId", "status", "totalRecordsCount" ],
                  "properties" : {
                    "actionType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "MASS_REPLY", "MASS_COMMENT" ]
                    },
                    "completedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "completedRecordsCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "allowInvalid" : false,
                        "importUrl" : false,
                        "secret" : false,
                        "decrypt" : false,
                        "preserveCharsLimit" : 10
                      }
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "fieldsUpdated" : {
                      "maxProperties" : 1,
                      "minProperties" : 1,
                      "required" : [ "cf" ],
                      "properties" : {
                        "cf" : {
                          "additionalProperties" : { }
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "moduleId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "createdById" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "totalRecordsCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "QUEUED", "INPROGRESS", "COMPLETED", "FAILED" ]
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "8847f3277e9bdd62f71e83ff87a2790d",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.MassActionService.ticketMassAction"
        }
      }
    },
    "/api/v1/massActionLogs" : {
      "get" : {
        "tags" : [ "MassAction" ],
        "summary" : "List mass action logs",
        "description" : "This API lists a particular number of mass action logs, based on the limit specified.",
        "operationId" : "getMassActionLogs",
        "parameters" : [ {
          "name" : "actionType",
          "in" : "query",
          "description" : "Type of the mass action performed. Values allowed are: @MASS_REPLY@, @MASS_UPDATE@, @IM_BROADCAST@, @MASS_COMMENT@. You can pass multiple values by separating them using commas in the API request",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(MASS_REPLY|MASS_UPDATE|IM_BROADCAST|MASS_COMMENT)",
            "description" : "Type of the mass action performed. Values allowed are: @MASS_REPLY@, @MASS_UPDATE@, @IM_BROADCAST@, @MASS_COMMENT@. You can pass multiple values by separating them using commas in the API request",
            "enum" : [ "MASS_REPLY", "MASS_UPDATE", "IM_BROADCAST", "MASS_COMMENT" ],
            "x-custom-parameters-attributes" : {
              "split" : ",",
              "entity" : "Include"
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department from which the mass action logs must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the mass action logs must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "entity" : "Departments"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of requests to list. The default value is @10@ and the maximum value supported is @100@.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of requests to list. The default value is @10@ and the maximum value supported is @100@.",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the requests must be fetched.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the requests must be fetched.",
            "format" : "int32"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Processing status of the mass action log. Values allowed are: @QUEUED@, @INPROGRESS@, @COMPLETED@, and @FAILED@. You can pass multiple values by separating them using commas in the API request.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(FAILED|QUEUED|INPROGRESS|COMPLETED)",
            "description" : "Processing status of the mass action log. Values allowed are: @QUEUED@, @INPROGRESS@, @COMPLETED@, and @FAILED@. You can pass multiple values by separating them using commas in the API request.",
            "enum" : [ "QUEUED", "INPROGRESS", "COMPLETED", "FAILED" ],
            "x-custom-parameters-attributes" : {
              "split" : ",",
              "entity" : "Include"
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "massActionLogList template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "createdBy" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "module" : {
                              "maxProperties" : 7,
                              "minProperties" : 7,
                              "required" : [ "apiKey", "displayLabel", "id", "isEnabled", "nameField", "pluralLabel", "singularLabel" ],
                              "properties" : {
                                "displayLabel" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "apiKey" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "isEnabled" : { },
                                "nameField" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "pluralLabel" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "singularLabel" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "department" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "id", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : { }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "required" : [ "actionType", "completedRecordsCount", "completedTime", "createdById", "createdTime", "departmentId", "id", "moduleId", "status", "totalRecordsCount" ],
                          "properties" : {
                            "actionType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "MASS_REPLY", "MASS_COMMENT" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Type of the mass action performed. Values allowed are: @MASS_REPLY@, @MASS_UPDATE@, @IM_BROADCAST@, @MASS_COMMENT@. You can pass multiple values by separating them using commas in the API request",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "split" : ",",
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false,
                                "entity" : "Include"
                              }
                            },
                            "completedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "completedRecordsCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "ID of the department from which the mass action logs must be fetched",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false,
                                "entity" : "Departments"
                              }
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "moduleId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "createdById" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "totalRecordsCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "QUEUED", "INPROGRESS", "COMPLETED", "FAILED" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Processing status of the mass action log. Values allowed are: @QUEUED@, @INPROGRESS@, @COMPLETED@, and @FAILED@. You can pass multiple values by separating them using commas in the API request.",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "split" : ",",
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false,
                                "entity" : "Include"
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "completedTime" : null,
                        "module" : {
                          "moduleAPIName" : "tickets",
                          "moduleName" : "Cases",
                          "moduleId" : "4000000000395"
                        },
                        "departmentId" : "4000000020772",
                        "totalRecordsCount" : "2",
                        "actionType" : "MASS_REPLY",
                        "createdBy" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000000349/photo?orgId=15962615",
                          "firstName" : "John",
                          "lastName" : "David",
                          "id" : "4000000000349",
                          "email" : "john@zylker.com"
                        },
                        "completedRecordsCount" : "0",
                        "createdTime" : 1661832792919,
                        "id" : "4000000056043",
                        "department" : {
                          "name" : "Support Department",
                          "id" : "4000000020772"
                        },
                        "moduleId" : "4000000000395",
                        "createdById" : "4000000000349",
                        "status" : "QUEUED"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "e7cd8eeceb5f78af965b877a232cd5b1",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.MassActionService.getMassActionLogs"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "massActionLogListKeys" : {
        "required" : [ "actionType", "completedRecordsCount", "completedTime", "createdById", "createdTime", "departmentId", "id", "moduleId", "status", "totalRecordsCount" ],
        "properties" : {
          "actionType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "MASS_REPLY", "MASS_COMMENT" ],
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Type of the mass action performed. Values allowed are: @MASS_REPLY@, @MASS_UPDATE@, @IM_BROADCAST@, @MASS_COMMENT@. You can pass multiple values by separating them using commas in the API request",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "split" : ",",
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false,
              "entity" : "Include"
            }
          },
          "completedTime" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "completedRecordsCount" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "departmentId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "ID of the department from which the mass action logs must be fetched",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false,
              "entity" : "Departments"
            }
          },
          "createdTime" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "moduleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "createdById" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "totalRecordsCount" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "status" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "QUEUED", "INPROGRESS", "COMPLETED", "FAILED" ],
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Processing status of the mass action log. Values allowed are: @QUEUED@, @INPROGRESS@, @COMPLETED@, and @FAILED@. You can pass multiple values by separating them using commas in the API request.",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "split" : ",",
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false,
              "entity" : "Include"
            }
          }
        },
        "additionalProperties" : { }
      },
      "data" : {
        "items" : {
          "required" : [ "actionType", "completedRecordsCount", "completedTime", "createdById", "createdTime", "departmentId", "id", "moduleId", "status", "totalRecordsCount" ],
          "properties" : {
            "actionType" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "MASS_REPLY", "MASS_COMMENT" ],
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Type of the mass action performed. Values allowed are: @MASS_REPLY@, @MASS_UPDATE@, @IM_BROADCAST@, @MASS_COMMENT@. You can pass multiple values by separating them using commas in the API request",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "split" : ",",
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false,
                "entity" : "Include"
              }
            },
            "completedTime" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "completedRecordsCount" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "departmentId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "ID of the department from which the mass action logs must be fetched",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false,
                "entity" : "Departments"
              }
            },
            "createdTime" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "moduleId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "createdById" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "totalRecordsCount" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "status" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "QUEUED", "INPROGRESS", "COMPLETED", "FAILED" ],
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Processing status of the mass action log. Values allowed are: @QUEUED@, @INPROGRESS@, @COMPLETED@, and @FAILED@. You can pass multiple values by separating them using commas in the API request.",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "split" : ",",
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false,
                "entity" : "Include"
              }
            }
          },
          "additionalProperties" : false
        }
      },
      "MassActionBase" : {
        "required" : [ "actionType", "departmentId", "ids" ],
        "properties" : {
          "departmentId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "ids" : {
            "uniqueItems" : false,
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          }
        },
        "additionalProperties" : { }
      },
      "MassComment" : {
        "allOf" : [ {
          "required" : [ "departmentId", "ids" ],
          "properties" : {
            "departmentId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "ids" : {
              "uniqueItems" : false,
              "items" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            }
          },
          "additionalProperties" : false
        }, {
          "required" : [ "actionType", "comment" ],
          "properties" : {
            "actionType" : {
              "enum" : [ "MASS_COMMENT" ]
            },
            "comment" : {
              "required" : [ "attachmentIds", "content", "contentType", "isPublic" ],
              "properties" : {
                "isPublic" : { },
                "attachmentIds" : {
                  "uniqueItems" : false,
                  "items" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "contentType" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "plainText", "html" ]
                },
                "content" : {
                  "maxLength" : 100,
                  "minLength" : 0
                }
              },
              "additionalProperties" : { }
            }
          }
        } ]
      },
      "MassReply" : {
        "allOf" : [ {
          "required" : [ "departmentId", "ids" ],
          "properties" : {
            "departmentId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "ids" : {
              "uniqueItems" : false,
              "items" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            }
          },
          "additionalProperties" : false
        }, {
          "required" : [ "actionType", "reply" ],
          "properties" : {
            "actionType" : {
              "enum" : [ "MASS_REPLY" ]
            },
            "reply" : {
              "required" : [ "attachmentIds", "content", "contentType" ],
              "properties" : {
                "attachmentIds" : {
                  "uniqueItems" : false,
                  "items" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "contentType" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "plainText", "html" ]
                },
                "content" : {
                  "maxLength" : 100,
                  "minLength" : 0
                }
              },
              "additionalProperties" : { }
            }
          }
        } ]
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "massActionLogKeys" : {
        "description" : "massActionLogKeys template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "actionType", "completedRecordsCount", "completedTime", "createdById", "createdTime", "departmentId", "fieldsUpdated", "id", "moduleId", "status", "totalRecordsCount" ],
              "properties" : {
                "actionType" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "MASS_REPLY", "MASS_COMMENT" ]
                },
                "completedTime" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "completedRecordsCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "departmentId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64",
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "allowInvalid" : false,
                    "importUrl" : false,
                    "secret" : false,
                    "decrypt" : false,
                    "preserveCharsLimit" : 10
                  }
                },
                "createdTime" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "fieldsUpdated" : {
                  "maxProperties" : 1,
                  "minProperties" : 1,
                  "required" : [ "cf" ],
                  "properties" : {
                    "cf" : {
                      "additionalProperties" : { }
                    }
                  },
                  "additionalProperties" : { }
                },
                "moduleId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "createdById" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "totalRecordsCount" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "status" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "QUEUED", "INPROGRESS", "COMPLETED", "FAILED" ]
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : null
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "massActionLogList" : {
        "description" : "massActionLogList template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "allOf" : [ {
                "properties" : {
                  "data" : {
                    "items" : {
                      "properties" : {
                        "createdBy" : {
                          "maxProperties" : 5,
                          "minProperties" : 5,
                          "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                          "properties" : {
                            "photoURL" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "email" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            }
                          },
                          "additionalProperties" : { }
                        },
                        "module" : {
                          "maxProperties" : 7,
                          "minProperties" : 7,
                          "required" : [ "apiKey", "displayLabel", "id", "isEnabled", "nameField", "pluralLabel", "singularLabel" ],
                          "properties" : {
                            "displayLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "apiKey" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "isEnabled" : { },
                            "nameField" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "pluralLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "singularLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "additionalProperties" : { }
                        },
                        "department" : {
                          "maxProperties" : 2,
                          "minProperties" : 2,
                          "required" : [ "id", "name" ],
                          "properties" : {
                            "name" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : { }
                        }
                      }
                    }
                  }
                }
              }, {
                "required" : [ "data" ],
                "properties" : {
                  "data" : {
                    "items" : {
                      "required" : [ "actionType", "completedRecordsCount", "completedTime", "createdById", "createdTime", "departmentId", "id", "moduleId", "status", "totalRecordsCount" ],
                      "properties" : {
                        "actionType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "MASS_REPLY", "MASS_COMMENT" ],
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Type of the mass action performed. Values allowed are: @MASS_REPLY@, @MASS_UPDATE@, @IM_BROADCAST@, @MASS_COMMENT@. You can pass multiple values by separating them using commas in the API request",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "split" : ",",
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false,
                            "entity" : "Include"
                          }
                        },
                        "completedTime" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "completedRecordsCount" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "ID of the department from which the mass action logs must be fetched",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false,
                            "entity" : "Departments"
                          }
                        },
                        "createdTime" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "moduleId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "createdById" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "totalRecordsCount" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "QUEUED", "INPROGRESS", "COMPLETED", "FAILED" ],
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Processing status of the mass action log. Values allowed are: @QUEUED@, @INPROGRESS@, @COMPLETED@, and @FAILED@. You can pass multiple values by separating them using commas in the API request.",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "split" : ",",
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false,
                            "entity" : "Include"
                          }
                        }
                      },
                      "additionalProperties" : false
                    }
                  }
                },
                "additionalProperties" : { }
              } ]
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : [ {
                    "completedTime" : null,
                    "module" : {
                      "moduleAPIName" : "tickets",
                      "moduleName" : "Cases",
                      "moduleId" : "4000000000395"
                    },
                    "departmentId" : "4000000020772",
                    "totalRecordsCount" : "2",
                    "actionType" : "MASS_REPLY",
                    "createdBy" : {
                      "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000000349/photo?orgId=15962615",
                      "firstName" : "John",
                      "lastName" : "David",
                      "id" : "4000000000349",
                      "email" : "john@zylker.com"
                    },
                    "completedRecordsCount" : "0",
                    "createdTime" : 1661832792919,
                    "id" : "4000000056043",
                    "department" : {
                      "name" : "Support Department",
                      "id" : "4000000020772"
                    },
                    "moduleId" : "4000000000395",
                    "createdById" : "4000000000349",
                    "status" : "QUEUED"
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "OAuth Org Mismatch Error Response" : {
                "value" : {
                  "errorCode" : "OAUTH_ORG_MISMATCH",
                  "message" : "The OAuthToken is not valid for specified organization."
                }
              }
            }
          }
        }
      },
      "forbiddenErrorResponse" : {
        "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Forbidden Error Response" : {
                "value" : {
                  "errorCode" : "FORBIDDEN",
                  "message" : "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "urlNotFoundErrorResponse" : {
        "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Url Not Found Error Response" : {
                "value" : {
                  "errorCode" : "URL_NOT_FOUND",
                  "message" : "The URL you requested could not be found."
                }
              }
            }
          }
        }
      },
      "methodNotAllowedErrorResponse" : {
        "description" : "This errorCode value appears if the method in the API request is known by the server but disabled for the API requested.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Method Not Allowed Error Response" : {
                "value" : {
                  "errorCode" : "METHOD_NOT_ALLOWED",
                  "message" : "This HTTP method is not allowed on this URL."
                }
              }
            }
          }
        }
      },
      "resourceSizeExceededErrorResponse" : {
        "description" : "This errorCode value appears if the size of the resource exceeds the limit defined by the server.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Resource Size Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "RESOURCE_SIZE_EXCEEDED",
                  "message" : "Attachment size is too large. The maximum size supported is 20 MB."
                }
              }
            }
          }
        }
      },
      "unSupportedMediaTypeErrorResponse" : {
        "description" : "This errorCode value appears if the server refuses the request as a result of receiving the input in an unsupported format.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unsupported Media Type Error Response" : {
                "value" : {
                  "errorCode" : "UNSUPPORTED_MEDIA_TYPE",
                  "message" : "The given content type is not supported. Please provide the input Content-Type as application/json"
                }
              }
            }
          }
        }
      },
      "unprocessableEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The value passed for the 'from' query parameter is invalid."
                }
              }
            }
          }
        }
      },
      "missingEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not contain the mandatory parameters for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The mandatory parameter 'permission' is missing"
                }
              }
            }
          }
        }
      },
      "thresholdExceedErrorResponse" : {
        "description" : "This errorCode value appears if the user sends too many requests within a given amount of time (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Threshold Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "THRESHOLD_EXCEEDED",
                  "message" : "The maximum number of API calls that can be made per day has been exceeded."
                }
              }
            }
          }
        }
      },
      "concurrentRateLimitExceededErrorResponse" : {
        "description" : "This errorCode value appears if the user fires too many requests in a simultaneous/concurrent manner (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Concurrent Rate Limit Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "TOO_MANY_REQUESTS",
                  "message" : "The maximum number of Concurrent API Calls that can be made has been exceeded."
                }
              }
            }
          }
        }
      },
      "internalErrorResponse" : {
        "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Internal Server Error Response" : {
                "value" : {
                  "errorCode" : "INTERNAL_SERVER_ERROR",
                  "message" : "An internal server error occurred while performing this operation."
                }
              }
            }
          }
        }
      },
      "licenseErrorResponse" : {
        "description" : "This errorCode value appears if the user is unable to perform an action due to the limitations of the Zoho Desk edition in use\nThe possible values for the feature key are\n    *AGENTS*\n    *LIGHT_AGENTS*\n    *TEAM*\nThe possible values for the editionType key are\n    *FREE*\n    *PROFESSIONAL*\n    *ENTERPRISE*",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "editionType", "feature", "isTrial", "maxAllowedEntity" ],
                "properties" : {
                  "maxAllowedEntity" : {
                    "pattern" : "([0-9]+)"
                  },
                  "feature" : {
                    "enum" : [ "AGENTS", "LIGHT_AGENTS", "TEAM" ]
                  },
                  "editionType" : {
                    "enum" : [ "ENTERPRISE", "PROFESSIONAL", "STANDARD", "EXPRESS", "FREE" ]
                  },
                  "isTrial" : { }
                }
              } ]
            },
            "examples" : {
              "LicenseAccessLimited Error Response" : {
                "value" : {
                  "errorCode" : "LICENSE_ACCESS_LIMITED",
                  "maxAllowedEntity" : "10",
                  "feature" : "AGENTS",
                  "editionType" : "FREE",
                  "isTrial" : false,
                  "message" : "Your Zoho Desk Edition does not support this feature/operation."
                }
              }
            }
          }
        }
      },
      "multipleUnprocessEntityResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "anyOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "additionalProperties" : { },
                "allOf" : [ {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                }, {
                  "required" : [ "errors" ],
                  "properties" : {
                    "errors" : {
                      "items" : {
                        "required" : [ "errorMessage", "errorType", "fieldName" ],
                        "properties" : {
                          "fieldName" : { },
                          "errorType" : {
                            "enum" : [ "invalid", "duplicate", "missing" ]
                          },
                          "errorMessage" : { }
                        }
                      }
                    }
                  }
                } ]
              } ]
            }
          }
        }
      },
      "invalidDataErrorResponse" : {
        "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "errors" ],
                "properties" : {
                  "errors" : {
                    "items" : {
                      "required" : [ "errorMessage", "errorType", "fieldName" ],
                      "properties" : {
                        "fieldName" : { },
                        "errorType" : {
                          "enum" : [ "invalid", "duplicate", "missing" ]
                        },
                        "errorMessage" : { }
                      }
                    }
                  }
                }
              } ]
            },
            "examples" : {
              "Invalid Data Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_DATA",
                  "message" : "The data does not comply to the validation restrictions defined.",
                  "errors" : [ {
                    "fieldName" : "/contactId",
                    "errorType" : "invalid"
                  }, {
                    "fieldName" : "/departmentId",
                    "errorType" : "invalid"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "parameters" : {
      "orgId" : {
        "name" : "orgId",
        "in" : "query",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "([0-9]+)",
          "format" : "int32",
          "x-custom-parameters-attributes" : { }
        }
      },
      "portalId" : {
        "name" : "portalId",
        "in" : "query",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "([a-zA-Z0-9\\-\\:])+",
          "format" : "int32",
          "x-custom-parameters-attributes" : {
            "decrypt" : true
          }
        }
      }
    },
    "requestBodies" : {
      "createMassComment" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "actionType", "comment", "departmentId", "ids" ],
              "properties" : {
                "actionType" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "MASS_COMMENT" ]
                },
                "departmentId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64",
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Specifies the ID of the department where the mass action on the tickets will be performed.",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false,
                    "entity" : "Departments"
                  }
                },
                "ids" : {
                  "uniqueItems" : false,
                  "items" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64",
                    "x-custom-parameters-attributes" : [ { } ]
                  }
                },
                "comment" : {
                  "maxProperties" : 4,
                  "minProperties" : 4,
                  "required" : [ "attachmentIds", "content", "contentType", "isPublic" ],
                  "properties" : {
                    "isPublic" : { },
                    "attachmentIds" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "contentType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "plainText", "html" ]
                    },
                    "content" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : { }
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid requestBody Definitions" : {
                "value" : {
                  "actionType" : "MASS_REPLY",
                  "departmentId" : "4000000020772",
                  "ids" : [ "4000000038259", "4000000038252" ],
                  "reply" : {
                    "attachmentIds" : [ "40000000382435", "4000000018354", "4000000068221" ],
                    "contentType" : "plainText",
                    "content" : "We have identified the root cause and fixed it."
                  }
                }
              }
            }
          }
        },
        "x-custom-request-body-attributes" : {
          "non-empty" : false,
          "allow-invalid" : false
        }
      },
      "createMassReply" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "actionType", "departmentId", "ids", "reply" ],
              "properties" : {
                "actionType" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "MASS_REPLY" ]
                },
                "departmentId" : {
                  "pattern" : "([0-9]+)",
                  "description" : "Specifies the ID of the department where the mass action on the tickets will be performed.",
                  "format" : "int64",
                  "x-custom-parameters-attributes" : {
                    "entity" : "Departments"
                  }
                },
                "ids" : {
                  "uniqueItems" : false,
                  "items" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64",
                    "x-custom-parameters-attributes" : [ { } ]
                  }
                },
                "reply" : {
                  "maxProperties" : 3,
                  "minProperties" : 3,
                  "required" : [ "attachmentIds", "content", "contentType" ],
                  "properties" : {
                    "attachmentIds" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "contentType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "plainText", "html" ]
                    },
                    "content" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : { }
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid requestBody Definitions" : {
                "value" : {
                  "actionType" : "MASS_REPLY",
                  "departmentId" : "4000000020772",
                  "ids" : [ "4000000038259", "4000000038252" ],
                  "reply" : {
                    "attachmentIds" : [ "40000000382435", "4000000018354", "4000000068221" ],
                    "contentType" : "plainText",
                    "content" : "We have identified the root cause and fixed it."
                  }
                }
              }
            }
          }
        },
        "x-custom-request-body-attributes" : {
          "non-empty" : false,
          "allow-invalid" : false
        }
      }
    },
    "securitySchemes" : {
      "cookie-auth" : {
        "type" : "apiKey",
        "name" : "X-CSRF-TOKEN",
        "in" : "cookie"
      },
      "org-oauth" : {
        "type" : "oauth2",
        "description" : "Org OAuth description",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "/oauth/v2/org/auth",
            "tokenUrl" : "/oauth/v2/token",
            "scopes" : {
              "Desk.accessAll.ALL" : "All Operations on data generated by Zoho Desk"
            }
          }
        }
      },
      "iam-oauth2-schema" : {
        "type" : "oauth2",
        "description" : "Oauth description",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "/oauth/v2/auth",
            "tokenUrl" : "/oauth/v2/token",
            "scopes" : {
              "Desk.zia.create" : "CREATE Operations on data generated by ZIA",
              "Desk.zia.update" : "UPDATE Operations on data generated by ZIA",
              "Desk.zia.read" : "READ Operations on data generated by ZIA",
              "Desk.zia.delete" : "DELETE Operations on data generated by ZIA",
              "Desk.calls.create" : "CREATE operations on calls module",
              "Desk.calls.update" : "UPDATE operations on calls module",
              "Desk.calls.read" : "READ operations on calls module",
              "Desk.calls.delete" : "DELETE operations on calls module",
              "Desk.extensions.create" : "To create stored data, extension logs, and configuration params",
              "Desk.extensions.read" : "To read stored data, extension logs, and configuration params",
              "Desk.extensions.update" : "To update stored data, extension logs, and configuration params",
              "Desk.extensions.delete" : "To delete stored data, extension logs, and configuration params",
              "Desk.search.read" : "READ Search across data in your desk account.",
              "Desk.events.create" : "CREATE Desk events",
              "Desk.events.update" : "UPDATE Desk events",
              "Desk.events.read" : "READ Desk events",
              "Desk.events.delete" : "DELETE Desk events",
              "Desk.articles.create" : "CREATE Articles and its sub resources",
              "Desk.articles.update" : "UPDATE Articles and its sub resources",
              "Desk.articles.read" : "READ Articles and its sub resources",
              "Desk.articles.delete" : "DELETE Articles and its sub resources",
              "Desk.basic.create" : "CREATE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.update" : "UPDATE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.read" : "READ Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.delete" : "DELETE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.tasks.create" : "CREATE Tasks and its sub resources",
              "Desk.tasks.read" : "READ Tasks and its sub resources",
              "Desk.tasks.update" : "UPDATE Tasks and its sub resources",
              "Desk.tasks.delete" : "DELETE Tasks and its sub resources",
              "Desk.settings.create" : "CREATE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.update" : "UPDATE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.read" : "READ All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.delete" : "DELETE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.contacts.create" : "CREATE Contacts and its sub resources",
              "Desk.contacts.update" : "UPDATE Contacts and its sub resources",
              "Desk.contacts.read" : "READ Contacts and its sub resources",
              "Desk.contacts.delete" : "DELETE Contacts and its sub resources",
              "Desk.feeds.create" : "CREATE Feeds resource",
              "Desk.feeds.update" : "UPDATE Feeds resource",
              "Desk.feeds.read" : "READ Feeds resource",
              "Desk.feeds.delete" : "DELETE Feeds resource",
[...]
