{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Message",
    "version" : "1.0.0",
    "x-clan-group" : "tickets",
    "x-module-group" : "tickets"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/messages/{messageId}" : {
      "get" : {
        "tags" : [ "Message" ],
        "summary" : "Get a single messages",
        "description" : "This API fetches the details of a single message from your Zoho Desk portal.",
        "operationId" : "getMessage",
        "parameters" : [ {
          "name" : "messageId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getMessageDetailview template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "attachments", "author", "createdTime", "direction", "entityId", "externalInfo", "id", "info", "isread", "kbArticle", "layout", "location", "replyToMessage", "sessionId", "status", "type" ],
                    "properties" : {
                      "kbArticle" : {
                        "additionalProperties" : false
                      },
                      "attachments" : {
                        "items" : {
                          "required" : [ "href", "id", "name", "previewurl", "size" ],
                          "properties" : {
                            "previewurl" : {
                              "maxLength" : 16000000,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "size" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "href" : {
                              "maxLength" : 500,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "author" : {
                        "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "externalInfo" : {
                        "additionalProperties" : false
                      },
                      "entityId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "sessionId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "INFO", "TEXT", "ATTACHMENT", "LAYOUT", "LOCATION", "TEMPLATE", "EXTERNAL_INFO" ]
                      },
                      "layout" : {
                        "additionalProperties" : false
                      },
                      "isread" : { },
                      "replyToMessage" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "location" : {
                        "required" : [ "latitude", "longitude" ],
                        "properties" : {
                          "latitude" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "longitude" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "direction" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "IN", "OUT" ]
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "SAVED", "QUEUED", "SENT", "DELIVERED", "READ", "FAILED", "DELETED", "MISSED" ]
                      },
                      "info" : {
                        "required" : [ "action", "actor", "target" ],
                        "properties" : {
                          "actor" : {
                            "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                            "properties" : {
                              "photoURL" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "firstName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                              },
                              "email" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "action" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "UN_IDENTIFIED", "END_SESSION", "BLOCK_SESSION", "UNBLOCK_SESSION", "CHAT_ACCEPT", "CHAT_REOPEN", "CHAT_TRANSFER", "ADD_PARTICIPANT", "REMOVE_PARTICIPANT" ]
                          },
                          "target" : {
                            "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                            "properties" : {
                              "photoURL" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "firstName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                              },
                              "email" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "content", "contentType" ],
                    "properties" : {
                      "contentType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "html", "plainText", "text/plain" ]
                      },
                      "content" : {
                        "maxLength" : 16000000,
                        "minLength" : 0
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "summary" : "Zomato Food Order",
                      "attachments" : [ ],
                      "author" : {
                        "photoURL" : null,
                        "firstName" : null,
                        "lastName" : "Visitor #128",
                        "name" : "Visitor #128",
                        "id" : "93140000001331021",
                        "type" : "END_USER",
                        "email" : null
                      },
                      "entityId" : "93140000001331104",
                      "sessionId" : "228000000245704",
                      "type" : "TEXT",
                      "content" : "Zomato Food Order",
                      "layout" : null,
                      "isread" : false,
                      "replyToMessage" : null,
                      "createdTime" : 1629960258535,
                      "location" : null,
                      "id" : "93140000001331111",
                      "contentType" : "text/plain",
                      "info" : null,
                      "status" : "SAVED",
                      "direction" : "IN"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Lenient_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "1c8ae3588ef6eff15ef631277917e809",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.MessageServices.getMessage"
        }
      }
    },
    "/api/v1/messages/{messageId}/attachments/{attachmentId}/content" : {
      "get" : {
        "tags" : [ "Message" ],
        "summary" : "",
        "description" : "",
        "operationId" : "getMessageAttachmentContent",
        "parameters" : [ {
          "name" : "messageId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64"
          }
        }, {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "File response",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "format" : "binary"
                }
              }
            }
          }
        },
        "x-audience" : [ "company-internal" ]
      }
    },
    "/api/v1/threads/{threadId}/messages" : {
      "get" : {
        "tags" : [ "Message" ],
        "summary" : "List all Messages ",
        "description" : "This API fetches a particular number of messages, based on the limit specified. ",
        "operationId" : "getMessages",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of messages to list",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number of messages to list",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the messages must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the messages must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Key that sorts the messages by a particular attribute: createdTime. The default sorting order is ascending. A - prefix sorts the messages in descending order",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Key that sorts the messages by a particular attribute: createdTime. The default sorting order is ascending. A - prefix sorts the messages in descending order",
            "enum" : [ "createdTime" ]
          }
        }, {
          "name" : "threadId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getMessageListview template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "additionalProperties" : false,
                        "allOf" : [ {
                          "required" : [ "attachments", "author", "createdTime", "direction", "entityId", "externalInfo", "id", "info", "isread", "kbArticle", "layout", "location", "replyToMessage", "sessionId", "status", "type" ],
                          "properties" : {
                            "kbArticle" : {
                              "additionalProperties" : false
                            },
                            "attachments" : {
                              "items" : {
                                "required" : [ "href", "id", "name", "previewurl", "size" ],
                                "properties" : {
                                  "previewurl" : {
                                    "maxLength" : 16000000,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  },
                                  "size" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "href" : {
                                    "maxLength" : 500,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "author" : {
                              "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "externalInfo" : {
                              "additionalProperties" : false
                            },
                            "entityId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "sessionId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "INFO", "TEXT", "ATTACHMENT", "LAYOUT", "LOCATION", "TEMPLATE", "EXTERNAL_INFO" ]
                            },
                            "layout" : {
                              "additionalProperties" : false
                            },
                            "isread" : { },
                            "replyToMessage" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "location" : {
                              "required" : [ "latitude", "longitude" ],
                              "properties" : {
                                "latitude" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "longitude" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "direction" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "IN", "OUT" ]
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "SAVED", "QUEUED", "SENT", "DELIVERED", "READ", "FAILED", "DELETED", "MISSED" ]
                            },
                            "info" : {
                              "required" : [ "action", "actor", "target" ],
                              "properties" : {
                                "actor" : {
                                  "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                                  "properties" : {
                                    "photoURL" : {
                                      "maxLength" : 200,
                                      "minLength" : 0,
                                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                    },
                                    "firstName" : {
                                      "maxLength" : 50,
                                      "minLength" : 0
                                    },
                                    "lastName" : {
                                      "maxLength" : 50,
                                      "minLength" : 0
                                    },
                                    "name" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "type" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                    },
                                    "email" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "action" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "UN_IDENTIFIED", "END_SESSION", "BLOCK_SESSION", "UNBLOCK_SESSION", "CHAT_ACCEPT", "CHAT_REOPEN", "CHAT_TRANSFER", "ADD_PARTICIPANT", "REMOVE_PARTICIPANT" ]
                                },
                                "target" : {
                                  "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                                  "properties" : {
                                    "photoURL" : {
                                      "maxLength" : 200,
                                      "minLength" : 0,
                                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                    },
                                    "firstName" : {
                                      "maxLength" : 50,
                                      "minLength" : 0
                                    },
                                    "lastName" : {
                                      "maxLength" : 50,
                                      "minLength" : 0
                                    },
                                    "name" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "type" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                    },
                                    "email" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                    }
                                  },
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "fullContentURL", "summary" ],
                          "properties" : {
                            "summary" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "fullContentURL" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          }
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "summary" : null,
                        "attachments" : [ ],
                        "author" : null,
                        "fullContentURL" : "https://desk.zoho.com/api/v1/messages/93140000001331107",
                        "entityId" : "93140000001331104",
                        "sessionId" : "228000000245704",
                        "type" : "LAYOUT",
                        "layout" : {
                          "rows" : [ {
                            "arrangement" : "list",
                            "columns" : [ {
                              "html" : {
                                "source" : "<html>\n <head></head> \n <body>\n   Hello !  \n </body>\n</html>"
                              },
                              "id" : "106000000239019",
                              "type" : "HTML"
                            } ]
                          } ]
                        },
                        "isread" : false,
                        "replyToMessage" : null,
                        "createdTime" : 1629960245722,
                        "location" : null,
                        "id" : "93140000001331107",
                        "info" : null,
                        "status" : "SENT",
                        "direction" : "OUT"
                      }, {
                        "summary" : null,
                        "attachments" : [ {
                          "previewurl" : null,
                          "size" : "446113",
                          "name" : "file_11.png",
                          "id" : "93140000001247255",
                          "href" : "https://desk.zoho.com/api/v1/tickets/93140000001241131/threads/93140000001241228/attachments/93140000001247255/content"
                        } ],
                        "author" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/93140000000190001/photo?orgId=63523488",
                          "firstName" : "kamesh",
                          "lastName" : "hc",
                          "name" : "kamesh hc",
                          "id" : "93140000000190001",
                          "type" : "AGENT",
                          "email" : "kameshwaran@zylker.com"
                        },
                        "fullContentURL" : "https://desk.zoho.com/api/v1/messages/93140000001331109",
                        "entityId" : "93140000001331104",
                        "sessionId" : "228000000245704",
                        "type" : "ATTACHMENT",
                        "layout" : null,
                        "isread" : false,
                        "replyToMessage" : null,
                        "createdTime" : 1629960246403,
                        "location" : null,
                        "id" : "93140000001331109",
                        "info" : null,
                        "status" : "SENT",
                        "direction" : "OUT"
                      }, {
                        "summary" : "Zomato Food Order",
                        "attachments" : [ ],
                        "author" : {
                          "photoURL" : null,
                          "firstName" : null,
                          "lastName" : "Visitor #128",
                          "name" : "Visitor #128",
                          "id" : "93140000001331021",
                          "type" : "END_USER",
                          "email" : null
                        },
                        "fullContentURL" : "https://desk.zoho.com/api/v1/messages/93140000001331111",
                        "entityId" : "93140000001331104",
                        "sessionId" : "228000000245704",
                        "type" : "TEXT",
                        "layout" : null,
                        "isread" : false,
                        "replyToMessage" : null,
                        "createdTime" : 1629960258535,
                        "location" : null,
                        "id" : "93140000001331111",
                        "info" : null,
                        "status" : "SAVED",
                        "direction" : "IN"
                      }, {
                        "summary" : "Chat has been ended",
                        "attachments" : [ ],
                        "author" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/93140000000190001/photo?orgId=63523488",
                          "firstName" : "kamesh",
                          "lastName" : "hc",
                          "name" : "kamesh hc",
                          "id" : "93140000000190001",
                          "type" : "AGENT",
                          "email" : "kameshwaran.tj+hc@zylker.com"
                        },
                        "fullContentURL" : "https://desk.zoho.com/api/v1/messages/93140000001254003",
                        "entityId" : "93140000001331104",
                        "sessionId" : "228000000202043",
                        "type" : "INFO",
                        "layout" : null,
                        "isread" : false,
                        "replyToMessage" : null,
                        "createdTime" : 1628606992988,
                        "location" : null,
                        "id" : "93140000001254003",
                        "info" : {
                          "actor" : {
                            "photoURL" : "https://desk.zoho.com/api/v1/agents/93140000000190001/photo?orgId=63523488",
                            "firstName" : "kamesh",
                            "lastName" : "hc",
                            "name" : "kamesh hc",
                            "id" : "93140000000190001",
                            "type" : "AGENT",
                            "email" : "kameshwaran.tj+hc@zylker.com"
                          },
                          "action" : "END_SESSION",
                          "target" : null
                        },
                        "direction" : "OUT",
                        "status" : "QUEUED"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Lenient_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "38fe4e0b06025324947d44d449cca3c0",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.MessageServices.getMessages"
        }
      }
    },
    "/api/v1/messages/{messageId}/markAsRead" : {
      "post" : {
        "tags" : [ "Message" ],
        "summary" : "Mark as read",
        "description" : "This API marks a single message as read by the user.",
        "operationId" : "markMessageAsRead",
        "parameters" : [ {
          "name" : "messageId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Lenient_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "7027d154b010327691979f4ccc98f4f7",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.MessageServices.changeMessageReadStatus"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "attachmentsJson" : {
        "required" : [ "href", "id", "name", "previewurl", "size" ],
        "properties" : {
          "previewurl" : {
            "maxLength" : 16000000,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "size" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "href" : {
            "maxLength" : 500,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          }
        },
        "additionalProperties" : { }
      },
      "attachments" : {
        "items" : {
          "required" : [ "href", "id", "name", "previewurl", "size" ],
          "properties" : {
            "previewurl" : {
              "maxLength" : 16000000,
              "minLength" : 0,
              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
            },
            "size" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "name" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "href" : {
              "maxLength" : 500,
              "minLength" : 0,
              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
            }
          },
          "additionalProperties" : false
        }
      },
      "author" : {
        "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
        "properties" : {
          "photoURL" : {
            "maxLength" : 200,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "firstName" : {
            "maxLength" : 50,
            "minLength" : 0
          },
          "lastName" : {
            "maxLength" : 50,
            "minLength" : 0
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "type" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
          },
          "email" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
          }
        },
        "additionalProperties" : { }
      },
      "info" : {
        "required" : [ "action", "actor", "target" ],
        "properties" : {
          "actor" : {
            "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 200,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "firstName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "lastName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "name" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "type" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
              },
              "email" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
              }
            },
            "additionalProperties" : false
          },
          "action" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "UN_IDENTIFIED", "END_SESSION", "BLOCK_SESSION", "UNBLOCK_SESSION", "CHAT_ACCEPT", "CHAT_REOPEN", "CHAT_TRANSFER", "ADD_PARTICIPANT", "REMOVE_PARTICIPANT" ]
          },
          "target" : {
            "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 200,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "firstName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "lastName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "name" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "type" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
              },
              "email" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "location" : {
        "required" : [ "latitude", "longitude" ],
        "properties" : {
          "latitude" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "longitude" : {
            "maxLength" : 100,
            "minLength" : 0
          }
        },
        "additionalProperties" : { }
      },
      "messageKeys" : {
        "required" : [ "attachments", "author", "createdTime", "direction", "entityId", "externalInfo", "id", "info", "isread", "kbArticle", "layout", "location", "replyToMessage", "sessionId", "status", "type" ],
        "properties" : {
          "kbArticle" : {
            "additionalProperties" : { }
          },
          "attachments" : {
            "items" : {
              "required" : [ "href", "id", "name", "previewurl", "size" ],
              "properties" : {
                "previewurl" : {
                  "maxLength" : 16000000,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "size" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "href" : {
                  "maxLength" : 500,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                }
              },
              "additionalProperties" : false
            }
          },
          "author" : {
            "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
            "properties" : {
              "photoURL" : {
                "maxLength" : 200,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "firstName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "lastName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "name" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "type" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
              },
              "email" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
              }
            },
            "additionalProperties" : false
          },
          "externalInfo" : {
            "additionalProperties" : { }
          },
          "entityId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "sessionId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "type" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "INFO", "TEXT", "ATTACHMENT", "LAYOUT", "LOCATION", "TEMPLATE", "EXTERNAL_INFO" ]
          },
          "layout" : {
            "additionalProperties" : { }
          },
          "isread" : { },
          "replyToMessage" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "createdTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "location" : {
            "required" : [ "latitude", "longitude" ],
            "properties" : {
              "latitude" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "longitude" : {
                "maxLength" : 100,
                "minLength" : 0
              }
            },
            "additionalProperties" : false
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "direction" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "IN", "OUT" ]
          },
          "status" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "SAVED", "QUEUED", "SENT", "DELIVERED", "READ", "FAILED", "DELETED", "MISSED" ]
          },
          "info" : {
            "required" : [ "action", "actor", "target" ],
            "properties" : {
              "actor" : {
                "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                "properties" : {
                  "photoURL" : {
                    "maxLength" : 200,
                    "minLength" : 0,
                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                  },
                  "firstName" : {
                    "maxLength" : 50,
                    "minLength" : 0
                  },
                  "lastName" : {
                    "maxLength" : 50,
                    "minLength" : 0
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "type" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                  },
                  "email" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                  }
                },
                "additionalProperties" : false
              },
              "action" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "UN_IDENTIFIED", "END_SESSION", "BLOCK_SESSION", "UNBLOCK_SESSION", "CHAT_ACCEPT", "CHAT_REOPEN", "CHAT_TRANSFER", "ADD_PARTICIPANT", "REMOVE_PARTICIPANT" ]
              },
              "target" : {
                "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                "properties" : {
                  "photoURL" : {
                    "maxLength" : 200,
                    "minLength" : 0,
                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                  },
                  "firstName" : {
                    "maxLength" : 50,
                    "minLength" : 0
                  },
                  "lastName" : {
                    "maxLength" : 50,
                    "minLength" : 0
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "type" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                  },
                  "email" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                  }
                },
                "additionalProperties" : false
              }
            },
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "dataValue" : {
        "additionalProperties" : { },
        "allOf" : [ {
          "required" : [ "attachments", "author", "createdTime", "direction", "entityId", "externalInfo", "id", "info", "isread", "kbArticle", "layout", "location", "replyToMessage", "sessionId", "status", "type" ],
          "properties" : {
            "kbArticle" : {
              "additionalProperties" : false
            },
            "attachments" : {
              "items" : {
                "required" : [ "href", "id", "name", "previewurl", "size" ],
                "properties" : {
                  "previewurl" : {
                    "maxLength" : 16000000,
                    "minLength" : 0,
                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                  },
                  "size" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "href" : {
                    "maxLength" : 500,
                    "minLength" : 0,
                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                  }
                },
                "additionalProperties" : false
              }
            },
            "author" : {
              "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
              "properties" : {
                "photoURL" : {
                  "maxLength" : 200,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "firstName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "lastName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "type" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                },
                "email" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                }
              },
              "additionalProperties" : false
            },
            "externalInfo" : {
              "additionalProperties" : false
            },
            "entityId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "sessionId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "type" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "INFO", "TEXT", "ATTACHMENT", "LAYOUT", "LOCATION", "TEMPLATE", "EXTERNAL_INFO" ]
            },
            "layout" : {
              "additionalProperties" : false
            },
            "isread" : { },
            "replyToMessage" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "createdTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "location" : {
              "required" : [ "latitude", "longitude" ],
              "properties" : {
                "latitude" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "longitude" : {
                  "maxLength" : 100,
                  "minLength" : 0
                }
              },
              "additionalProperties" : false
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "direction" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "IN", "OUT" ]
            },
            "status" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "SAVED", "QUEUED", "SENT", "DELIVERED", "READ", "FAILED", "DELETED", "MISSED" ]
            },
            "info" : {
              "required" : [ "action", "actor", "target" ],
              "properties" : {
                "actor" : {
                  "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                  "properties" : {
                    "photoURL" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "firstName" : {
                      "maxLength" : 50,
                      "minLength" : 0
                    },
                    "lastName" : {
                      "maxLength" : 50,
                      "minLength" : 0
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "type" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                    },
                    "email" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                    }
                  },
                  "additionalProperties" : false
                },
                "action" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "UN_IDENTIFIED", "END_SESSION", "BLOCK_SESSION", "UNBLOCK_SESSION", "CHAT_ACCEPT", "CHAT_REOPEN", "CHAT_TRANSFER", "ADD_PARTICIPANT", "REMOVE_PARTICIPANT" ]
                },
                "target" : {
                  "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                  "properties" : {
                    "photoURL" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "firstName" : {
                      "maxLength" : 50,
                      "minLength" : 0
                    },
                    "lastName" : {
                      "maxLength" : 50,
                      "minLength" : 0
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "type" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                    },
                    "email" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                    }
                  },
                  "additionalProperties" : false
                }
              },
              "additionalProperties" : false
            }
          },
          "additionalProperties" : false
        }, {
          "required" : [ "fullContentURL", "summary" ],
          "properties" : {
            "summary" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "fullContentURL" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
            }
          }
        } ]
      },
      "data" : {
        "items" : {
          "additionalProperties" : false,
          "allOf" : [ {
            "required" : [ "attachments", "author", "createdTime", "direction", "entityId", "externalInfo", "id", "info", "isread", "kbArticle", "layout", "location", "replyToMessage", "sessionId", "status", "type" ],
            "properties" : {
              "kbArticle" : {
                "additionalProperties" : false
              },
              "attachments" : {
                "items" : {
                  "required" : [ "href", "id", "name", "previewurl", "size" ],
                  "properties" : {
                    "previewurl" : {
                      "maxLength" : 16000000,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "size" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "href" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    }
                  },
                  "additionalProperties" : false
                }
              },
              "author" : {
                "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                "properties" : {
                  "photoURL" : {
                    "maxLength" : 200,
                    "minLength" : 0,
                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                  },
                  "firstName" : {
                    "maxLength" : 50,
                    "minLength" : 0
                  },
                  "lastName" : {
                    "maxLength" : 50,
                    "minLength" : 0
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "type" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                  },
                  "email" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                  }
                },
                "additionalProperties" : false
              },
              "externalInfo" : {
                "additionalProperties" : false
              },
              "entityId" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "sessionId" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "type" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "INFO", "TEXT", "ATTACHMENT", "LAYOUT", "LOCATION", "TEMPLATE", "EXTERNAL_INFO" ]
              },
              "layout" : {
                "additionalProperties" : false
              },
              "isread" : { },
              "replyToMessage" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "createdTime" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
              },
              "location" : {
                "required" : [ "latitude", "longitude" ],
                "properties" : {
                  "latitude" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "longitude" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  }
                },
                "additionalProperties" : false
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "direction" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "IN", "OUT" ]
              },
              "status" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "SAVED", "QUEUED", "SENT", "DELIVERED", "READ", "FAILED", "DELETED", "MISSED" ]
              },
              "info" : {
                "required" : [ "action", "actor", "target" ],
                "properties" : {
                  "actor" : {
                    "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                    "properties" : {
                      "photoURL" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "firstName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "lastName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                      },
                      "email" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                      }
                    },
                    "additionalProperties" : false
                  },
                  "action" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "UN_IDENTIFIED", "END_SESSION", "BLOCK_SESSION", "UNBLOCK_SESSION", "CHAT_ACCEPT", "CHAT_REOPEN", "CHAT_TRANSFER", "ADD_PARTICIPANT", "REMOVE_PARTICIPANT" ]
                  },
                  "target" : {
                    "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                    "properties" : {
                      "photoURL" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "firstName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "lastName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                      },
                      "email" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "additionalProperties" : false
              }
            },
            "additionalProperties" : false
          }, {
            "required" : [ "fullContentURL", "summary" ],
            "properties" : {
              "summary" : {
                "maxLength" : 100,
                "minLength" : 0
              },
              "fullContentURL" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              }
            }
          } ]
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "getMessageDetailview" : {
        "description" : "getMessageDetailview template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "attachments", "author", "createdTime", "direction", "entityId", "externalInfo", "id", "info", "isread", "kbArticle", "layout", "location", "replyToMessage", "sessionId", "status", "type" ],
                "properties" : {
                  "kbArticle" : {
                    "additionalProperties" : false
                  },
                  "attachments" : {
                    "items" : {
                      "required" : [ "href", "id", "name", "previewurl", "size" ],
                      "properties" : {
                        "previewurl" : {
                          "maxLength" : 16000000,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "size" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "href" : {
                          "maxLength" : 500,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "author" : {
                    "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                    "properties" : {
                      "photoURL" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "firstName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "lastName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                      },
                      "email" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                      }
                    },
                    "additionalProperties" : false
                  },
                  "externalInfo" : {
                    "additionalProperties" : false
                  },
                  "entityId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "sessionId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "type" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "INFO", "TEXT", "ATTACHMENT", "LAYOUT", "LOCATION", "TEMPLATE", "EXTERNAL_INFO" ]
                  },
                  "layout" : {
                    "additionalProperties" : false
                  },
                  "isread" : { },
                  "replyToMessage" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "createdTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                  },
                  "location" : {
                    "required" : [ "latitude", "longitude" ],
                    "properties" : {
                      "latitude" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "longitude" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      }
                    },
                    "additionalProperties" : false
                  },
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "direction" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "IN", "OUT" ]
                  },
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "SAVED", "QUEUED", "SENT", "DELIVERED", "READ", "FAILED", "DELETED", "MISSED" ]
                  },
                  "info" : {
                    "required" : [ "action", "actor", "target" ],
                    "properties" : {
                      "actor" : {
                        "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "action" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "UN_IDENTIFIED", "END_SESSION", "BLOCK_SESSION", "UNBLOCK_SESSION", "CHAT_ACCEPT", "CHAT_REOPEN", "CHAT_TRANSFER", "ADD_PARTICIPANT", "REMOVE_PARTICIPANT" ]
                      },
                      "target" : {
                        "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "additionalProperties" : false
              }, {
                "required" : [ "content", "contentType" ],
                "properties" : {
                  "contentType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "html", "plainText", "text/plain" ]
                  },
                  "content" : {
                    "maxLength" : 16000000,
                    "minLength" : 0
                  }
                }
              } ]
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "summary" : "Zomato Food Order",
                  "attachments" : [ ],
                  "author" : {
                    "photoURL" : null,
                    "firstName" : null,
                    "lastName" : "Visitor #128",
                    "name" : "Visitor #128",
                    "id" : "93140000001331021",
                    "type" : "END_USER",
                    "email" : null
                  },
                  "entityId" : "93140000001331104",
                  "sessionId" : "228000000245704",
                  "type" : "TEXT",
                  "content" : "Zomato Food Order",
                  "layout" : null,
                  "isread" : false,
                  "replyToMessage" : null,
                  "createdTime" : 1629960258535,
                  "location" : null,
                  "id" : "93140000001331111",
                  "contentType" : "text/plain",
                  "info" : null,
                  "status" : "SAVED",
                  "direction" : "IN"
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "getMessageListview" : {
        "description" : "getMessageListview template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "data" ],
              "properties" : {
                "data" : {
                  "items" : {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "attachments", "author", "createdTime", "direction", "entityId", "externalInfo", "id", "info", "isread", "kbArticle", "layout", "location", "replyToMessage", "sessionId", "status", "type" ],
                      "properties" : {
                        "kbArticle" : {
                          "additionalProperties" : false
                        },
                        "attachments" : {
                          "items" : {
                            "required" : [ "href", "id", "name", "previewurl", "size" ],
                            "properties" : {
                              "previewurl" : {
                                "maxLength" : 16000000,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "size" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "href" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "author" : {
                          "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                          "properties" : {
                            "photoURL" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                            },
                            "email" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "externalInfo" : {
                          "additionalProperties" : false
                        },
                        "entityId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "sessionId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "INFO", "TEXT", "ATTACHMENT", "LAYOUT", "LOCATION", "TEMPLATE", "EXTERNAL_INFO" ]
                        },
                        "layout" : {
                          "additionalProperties" : false
                        },
                        "isread" : { },
                        "replyToMessage" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "createdTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                        },
                        "location" : {
                          "required" : [ "latitude", "longitude" ],
                          "properties" : {
                            "latitude" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "longitude" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "direction" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "IN", "OUT" ]
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "SAVED", "QUEUED", "SENT", "DELIVERED", "READ", "FAILED", "DELETED", "MISSED" ]
                        },
                        "info" : {
                          "required" : [ "action", "actor", "target" ],
                          "properties" : {
                            "actor" : {
                              "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "action" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "UN_IDENTIFIED", "END_SESSION", "BLOCK_SESSION", "UNBLOCK_SESSION", "CHAT_ACCEPT", "CHAT_REOPEN", "CHAT_TRANSFER", "ADD_PARTICIPANT", "REMOVE_PARTICIPANT" ]
                            },
                            "target" : {
                              "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : false
                    }, {
                      "required" : [ "fullContentURL", "summary" ],
                      "properties" : {
                        "summary" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "fullContentURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        }
                      }
                    } ]
                  }
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : [ {
                    "summary" : null,
                    "attachments" : [ ],
                    "author" : null,
                    "fullContentURL" : "https://desk.zoho.com/api/v1/messages/93140000001331107",
                    "entityId" : "93140000001331104",
[...]
