{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Microsoft",
    "version" : "1.0.0",
    "x-clan-group" : "integration",
    "x-module-group" : "integration"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/microsoft" : {
      "get" : {
        "tags" : [ "Microsoft" ],
        "summary" : "Get Integration Detail",
        "description" : "To get the configuration of Microsoft Integration",
        "operationId" : "getConfiguration",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getConfigurationResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "authUrl", "isAppInstalled", "isAuthenticated", "isEnabled", "isSsoUser" ],
                  "properties" : {
                    "authUrl" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "isEnabled" : { },
                    "isAppInstalled" : { },
                    "isAuthenticated" : { },
                    "isSsoUser" : { }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "authUrl" : "https://gadgets.zoho.com/office365auth?zservice=zohosupport&login=true&serurl=https://desk.zoho.com&authIn=window",
                      "isEnabled" : true,
                      "isAppInstalled" : true,
                      "isAuthenticated" : true,
                      "isSsoUser" : true
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "9d13b3aa1ff725f40709e961c55855b2",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.MicrosoftService.getConfiguration"
        }
      }
    },
    "/api/v1/microsoft/contactFolders" : {
      "get" : {
        "tags" : [ "Microsoft" ],
        "summary" : "Get Microsoft Contact Folders",
        "description" : "To get Microsoft contact folder list <br/> _Note:_ <br/>1.Maximum 300 folders will be fetched at a time.<br/>2.Use nextLink param to fetch another set of folders",
        "operationId" : "getMSContactsFolders",
        "parameters" : [ {
          "name" : "searchString",
          "in" : "query",
          "description" : "To get folders contains search String",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "To get folders contains search String"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getMSContactFoldersResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data", "nextLink" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "displayName", "id", "parentFolderId" ],
                        "properties" : {
                          "parentFolderId" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "displayName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "nextLink" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "To get Next set of MS contact folders",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "displayName" : "Test Folder",
                        "id" : "AQMkAGQxNTMxYTRiLWViZDYtNGZjNy04MjkxLTFjMmIyY2Y4ZjE5MwAuAAADHx0NCIiNBk_hbFlWsiPREwEADvJ6wVmpDEWUx5mYqJ69fgADzuLKlAAAAA=="
                      }, {
                        "displayName" : "Zoho CRM Contacts",
                        "id" : "AQMkAGQxNTMxYTRiLWViZDYtNGZjNy04MjkxLTFjMmIyY2Y4ZjE5MwAuAAADHx0NCIiNBk_hbFlWsiPREwEADvJ6wVmpDEWUx5mYqJ69fgAD-Wmc0gAAAA=="
                      } ],
                      "nextLink" : ""
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "3f0b9bac61f8d85776e828934e3a554d",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.MicrosoftService.getMSContactsFolders"
        }
      }
    },
    "/api/v1/microsoft/users" : {
      "get" : {
        "tags" : [ "Microsoft" ],
        "summary" : "Get Microsoft users",
        "description" : "To get Microsoft users list <br/> _Note:_ <br/>1.Maximum 300 users will be fetched at a time.<br/>2.Use nextLink param to fetch another set of 300 users",
        "operationId" : "getMSUsersList",
        "parameters" : [ {
          "name" : "searchString",
          "in" : "query",
          "description" : "To get folders contains search String",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "To get folders contains search String"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getMSUsersListResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "ms365Users", "nextLink" ],
                  "properties" : {
                    "ms365Users" : {
                      "items" : {
                        "required" : [ "displayName", "id", "userPrincipalName" ],
                        "properties" : {
                          "displayName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "userPrincipalName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "nextLink" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "To get Next set of MS users",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "ms365Users" : [ {
                        "mobilePhone" : null,
                        "displayName" : "people test",
                        "id" : "fd14c3f4-0555-4d10-b248-518044fd452b",
                        "userPrincipalName" : "people_test@zylker.com"
                      }, {
                        "mobilePhone" : null,
                        "displayName" : "kumaranbtechit",
                        "id" : "154f2588-ac16-4cac-8ac0-b3bb1596def1",
                        "userPrincipalName" : "kumaranbtechit#EXT#@zylker.com"
                      }, {
                        "mobilePhone" : null,
                        "displayName" : "sailaja2",
                        "id" : "a3044bef-febc-44f6-9d09-c6a099025d5b",
                        "userPrincipalName" : "sailaja2@zylker.com"
                      }, {
                        "mobilePhone" : null,
                        "displayName" : "Navamani Samuel",
                        "id" : "f87b6dfc-7458-4809-bf49-381f7c7595ed",
                        "userPrincipalName" : "samuel@zylker.com"
                      }, {
                        "mobilePhone" : null,
                        "displayName" : "Service Desk Plus for Email",
                        "id" : "424c12f1-c22f-4549-92ea-b55217100d47",
                        "userPrincipalName" : "sdpaddin@zylker.com"
                      }, {
                        "mobilePhone" : null,
                        "displayName" : "test sailaja",
                        "id" : "7342ddce-1df9-4d4a-ad6d-e7c07688e038",
                        "userPrincipalName" : "sailaja1@zylker.com"
                      }, {
                        "mobilePhone" : null,
                        "displayName" : "k.senthilraja.k",
                        "id" : "fc189577-552c-4198-80f5-4ee402bfee7e",
                        "userPrincipalName" : "k.senthilraja.k#EXT#@zylker.com"
                      }, {
                        "mobilePhone" : null,
                        "displayName" : "kumaran.j",
                        "id" : "8bb4f153-3320-459a-a93b-c1c0005b1da6",
                        "userPrincipalName" : "kumaran.j#EXT#@zylker.com"
                      }, {
                        "mobilePhone" : null,
                        "displayName" : "newuser newuser",
                        "id" : "ff0b50b7-e032-4e8d-a308-948e84fcedc8",
                        "userPrincipalName" : "newuser@zylker.com"
                      }, {
                        "mobilePhone" : null,
                        "displayName" : "Test User Name",
                        "id" : "eca3548a-b72a-4f63-b62b-9cd2de6bbd6e",
                        "userPrincipalName" : "newuser1@zylker.com"
                      } ],
                      "nextLink" : "https://graph.microsoft.com/v1.0/users?$top=10&$select=id%2cuserType%2cbusinessPhones%2cdisplayName%2cgiveName%2cjobTitlen%2cmail%2cmobilePhone%2cofficeLocation%2cpreferredLanguage%2csurname%2cuserPrincipalName&$skiptoken=X%2744537074020000373A6B2E73656E7468696C72616A612E6B5F676D61696C2E636F6D2345585423407A6F686F6465762E6F6E6D6963726F736F66742E636F6D29557365725F66633138393537372D353532632D343139382D383066352D34656534303262666565376500213A736470616464696E407A6F686F6465762E6F6E6D6963726F736F66742E636F6D29557365725F34323463313266312D633232662D343534392D393265612D623535323137313030643437B900000000000000000000%27"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "10bcf28a104767aafcc2b35ba05d2474",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.MicrosoftService.getMSUsersList"
        }
      },
      "post" : {
        "tags" : [ "Microsoft" ],
        "summary" : "Add Microsoft Users",
        "description" : "To Add Microsoft users as Agents/Ligth Agents. <br/> _Note:_ <br/>1.Maximum 20 users can be imported at a time.",
        "operationId" : "addMSUsersAsRep",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "MSUsers", "rolePermissionType" ],
                "properties" : {
                  "MSUsers" : {
                    "items" : {
                      "required" : [ "email", "firstName", "lastName", "mobile", "phone" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "phone" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "mobile" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "rolePermissionType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "AgentPublic", "Light" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "MSUsers" : [ {
                      "lastName" : "Raj D",
                      "firstName" : "Antony",
                      "phone" : "9876542222",
                      "mobile" : "8389278999",
                      "email" : "antony@zylker.com"
                    }, {
                      "lastName" : "Submission",
                      "firstName" : "App",
                      "phone" : "9876542222",
                      "mobile" : "8389278999",
                      "email" : "app-submit@zylker.com"
                    }, {
                      "lastName" : "Goddumuri",
                      "firstName" : "Jagadeesh",
                      "phone" : "9876542222",
                      "mobile" : "8389278999",
                      "email" : "jagadeesh@zylker.com"
                    }, {
                      "lastName" : "Gadgets",
                      "firstName" : "",
                      "phone" : "9876542222",
                      "mobile" : "8389278999",
                      "email" : "gadgets@zylker.com"
                    }, {
                      "lastName" : "Prasandh",
                      "firstName" : "Hari",
                      "phone" : "9876542222",
                      "mobile" : "8389278999",
                      "email" : "hari@zylker.com"
                    }, {
                      "lastName" : "ammu.g",
                      "firstName" : "",
                      "phone" : "9876542222",
                      "mobile" : "8389278999",
                      "email" : "ammu.g@zylker.com"
                    }, {
                      "lastName" : "Disp'Name",
                      "firstName" : "App",
                      "phone" : "9876542222",
                      "mobile" : "8389278999",
                      "email" : "app.submission@zylker.com"
                    } ],
                    "rolePermissionType" : "AgentPublic"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "addMSUsersAsRepResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "importedMailIds", "unImportedMailIds" ],
                  "properties" : {
                    "importedMailIds" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                      }
                    },
                    "unImportedMailIds" : {
                      "items" : {
                        "required" : [ "email", "reason" ],
                        "properties" : {
                          "reason" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "importedMailIds" : [ "antony@zylker.com", "gadgets@zylker.com" ],
                      "unImportedMailIds" : [ {
                        "reason" : "EmailId is already in use",
                        "email" : "app.submission@zylker.com"
                      }, {
                        "reason" : "EmailId is already in use",
                        "email" : "ammu.g@zylker.com"
                      }, {
                        "reason" : "EmailId is already in use",
                        "email" : "jagadeesh@zylker.com"
                      }, {
                        "reason" : "License plan limit",
                        "email" : "hari@zylker.com"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 150,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "33d232a60445f64907dbf8243d802fe0",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.MicrosoftService.addMSUsersAsRep"
        }
      }
    },
    "/api/v1/microsoft/contacts" : {
      "get" : {
        "tags" : [ "Microsoft" ],
        "summary" : "Get Microsoft contacts",
        "description" : "To get Microsoft primary contacts list <br/> _Note:_ <br/>1.Maximum 300 contacts will be fetched at a time.<br/>2.Use nextLink param to fetch another set of contacts",
        "operationId" : "getContacts",
        "parameters" : [ {
          "name" : "searchString",
          "in" : "query",
          "description" : "To get folders contains search String",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "To get folders contains search String"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getMSContactsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "count", "data", "nextLink" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "displayName", "emailAddresses", "id" ],
                        "properties" : {
                          "emailAddresses" : {
                            "items" : {
                              "required" : [ "address", "name" ],
                              "properties" : {
                                "address" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "displayName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "count" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "nextLink" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "To get Next set of MS contacts",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "emailAddresses" : [ {
                          "address" : "gabriella.a@zylker.com",
                          "name" : "Gabriella"
                        } ],
                        "displayName" : "Gabriella Ziccarelli",
                        "@odata.etag" : "W/EQAAABYAAAAO8nrBWakMRZTHmZionr1+AAQL1eF3",
                        "id" : "AAMkAGQxNTMxYTRiLWViZDYtNGZjNy04MjkxLTFjMmIyY2Y4ZjE5MwBGAAAAAAAfHQ0IiI0GT6FsWVayI9ETBwAO8nrBWakMRZTHmZionr1_AAPO4sqUAAAO8nrBWakMRZTHmZionr1_AAPawaMjAAA="
                      } ],
                      "count" : "138",
                      "nextLink" : "https://graph.microsoft.com/v1.0/me/contactfolders/AQMkAGQxNTMxYTRiLWViZDYtNGZjNy04MjkxLTFjMmIyY2Y4ZjE5MwAuAAADHx0NCIiNBk_hbFlWsiPREwEADvJ6wVmpDEWUx5mYqJ69fgADzuLKlAAAAA==/contacts?$top=100&$count=true&$select=id%2cdisplayName%2cemailAddresses&$skip=100"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "3308ea54af1b3abd6334ed677c39410c",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.MicrosoftService.getContacts"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ms365Emails" : {
        "required" : [ "address", "name" ],
        "properties" : {
          "address" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0
          }
        },
        "additionalProperties" : { }
      },
      "ms365ContactEmailArr" : {
        "items" : {
          "required" : [ "address", "name" ],
          "properties" : {
            "address" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "name" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          },
          "additionalProperties" : false
        }
      },
      "ms365Contacts" : {
        "required" : [ "displayName", "emailAddresses", "id" ],
        "properties" : {
          "emailAddresses" : {
            "items" : {
              "required" : [ "address", "name" ],
              "properties" : {
                "address" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "name" : {
                  "maxLength" : 100,
                  "minLength" : 0
                }
              },
              "additionalProperties" : false
            }
          },
          "displayName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "ms365ContactsArr" : {
        "items" : {
          "required" : [ "displayName", "emailAddresses", "id" ],
          "properties" : {
            "emailAddresses" : {
              "items" : {
                "required" : [ "address", "name" ],
                "properties" : {
                  "address" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  }
                },
                "additionalProperties" : false
              }
            },
            "displayName" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "additionalProperties" : false
        }
      },
      "ms365Users" : {
        "required" : [ "displayName", "id", "userPrincipalName" ],
        "properties" : {
          "displayName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "userPrincipalName" : {
            "maxLength" : 100,
            "minLength" : 0
          }
        },
        "additionalProperties" : { }
      },
      "ms365UsersArr" : {
        "items" : {
          "required" : [ "displayName", "id", "userPrincipalName" ],
          "properties" : {
            "displayName" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "userPrincipalName" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          },
          "additionalProperties" : false
        }
      },
      "unImportedMailIds" : {
        "required" : [ "email", "reason" ],
        "properties" : {
          "reason" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "email" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
          }
        },
        "additionalProperties" : { }
      },
      "unImportedMailIdsArr" : {
        "items" : {
          "required" : [ "email", "reason" ],
          "properties" : {
            "reason" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "email" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
            }
          },
          "additionalProperties" : false
        }
      },
      "MSUsers" : {
        "required" : [ "email", "firstName", "lastName", "mobile", "phone" ],
        "properties" : {
          "firstName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "lastName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "phone" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "mobile" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "email" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
          }
        },
        "additionalProperties" : { }
      },
      "MSUsersArr" : {
        "items" : {
          "required" : [ "email", "firstName", "lastName", "mobile", "phone" ],
          "properties" : {
            "firstName" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "lastName" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "phone" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "mobile" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "email" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
            }
          },
          "additionalProperties" : false
        }
      },
      "ms365ContactFolders" : {
        "required" : [ "displayName", "id", "parentFolderId" ],
        "properties" : {
          "parentFolderId" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "displayName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "ms365ContactFoldersArr" : {
        "items" : {
          "required" : [ "displayName", "id", "parentFolderId" ],
          "properties" : {
            "parentFolderId" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "displayName" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "additionalProperties" : false
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "getConfigurationResponse" : {
        "description" : "getConfigurationResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "authUrl", "isAppInstalled", "isAuthenticated", "isEnabled", "isSsoUser" ],
              "properties" : {
                "authUrl" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "isEnabled" : { },
                "isAppInstalled" : { },
                "isAuthenticated" : { },
                "isSsoUser" : { }
              },
              "additionalProperties" : false
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "authUrl" : "https://gadgets.zoho.com/office365auth?zservice=zohosupport&login=true&serurl=https://desk.zoho.com&authIn=window",
                  "isEnabled" : true,
                  "isAppInstalled" : true,
                  "isAuthenticated" : true,
                  "isSsoUser" : true
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "getMSContactsResponse" : {
        "description" : "getMSContactsResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "count", "data", "nextLink" ],
              "properties" : {
                "data" : {
                  "items" : {
                    "required" : [ "displayName", "emailAddresses", "id" ],
                    "properties" : {
                      "emailAddresses" : {
                        "items" : {
                          "required" : [ "address", "name" ],
                          "properties" : {
                            "address" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "displayName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "count" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "nextLink" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "To get Next set of MS contacts",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : [ {
                    "emailAddresses" : [ {
                      "address" : "gabriella.a@zylker.com",
                      "name" : "Gabriella"
                    } ],
                    "displayName" : "Gabriella Ziccarelli",
                    "@odata.etag" : "W/EQAAABYAAAAO8nrBWakMRZTHmZionr1+AAQL1eF3",
                    "id" : "AAMkAGQxNTMxYTRiLWViZDYtNGZjNy04MjkxLTFjMmIyY2Y4ZjE5MwBGAAAAAAAfHQ0IiI0GT6FsWVayI9ETBwAO8nrBWakMRZTHmZionr1_AAPO4sqUAAAO8nrBWakMRZTHmZionr1_AAPawaMjAAA="
                  } ],
                  "count" : "138",
                  "nextLink" : "https://graph.microsoft.com/v1.0/me/contactfolders/AQMkAGQxNTMxYTRiLWViZDYtNGZjNy04MjkxLTFjMmIyY2Y4ZjE5MwAuAAADHx0NCIiNBk_hbFlWsiPREwEADvJ6wVmpDEWUx5mYqJ69fgADzuLKlAAAAA==/contacts?$top=100&$count=true&$select=id%2cdisplayName%2cemailAddresses&$skip=100"
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "getMSUsersListResponse" : {
        "description" : "getMSUsersListResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "ms365Users", "nextLink" ],
              "properties" : {
                "ms365Users" : {
                  "items" : {
                    "required" : [ "displayName", "id", "userPrincipalName" ],
                    "properties" : {
                      "displayName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "userPrincipalName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "nextLink" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "To get Next set of MS users",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "ms365Users" : [ {
                    "mobilePhone" : null,
                    "displayName" : "people test",
                    "id" : "fd14c3f4-0555-4d10-b248-518044fd452b",
                    "userPrincipalName" : "people_test@zylker.com"
                  }, {
                    "mobilePhone" : null,
                    "displayName" : "kumaranbtechit",
                    "id" : "154f2588-ac16-4cac-8ac0-b3bb1596def1",
                    "userPrincipalName" : "kumaranbtechit#EXT#@zylker.com"
                  }, {
                    "mobilePhone" : null,
                    "displayName" : "sailaja2",
                    "id" : "a3044bef-febc-44f6-9d09-c6a099025d5b",
                    "userPrincipalName" : "sailaja2@zylker.com"
                  }, {
                    "mobilePhone" : null,
                    "displayName" : "Navamani Samuel",
                    "id" : "f87b6dfc-7458-4809-bf49-381f7c7595ed",
                    "userPrincipalName" : "samuel@zylker.com"
                  }, {
                    "mobilePhone" : null,
                    "displayName" : "Service Desk Plus for Email",
                    "id" : "424c12f1-c22f-4549-92ea-b55217100d47",
                    "userPrincipalName" : "sdpaddin@zylker.com"
                  }, {
                    "mobilePhone" : null,
                    "displayName" : "test sailaja",
                    "id" : "7342ddce-1df9-4d4a-ad6d-e7c07688e038",
                    "userPrincipalName" : "sailaja1@zylker.com"
                  }, {
                    "mobilePhone" : null,
                    "displayName" : "k.senthilraja.k",
                    "id" : "fc189577-552c-4198-80f5-4ee402bfee7e",
                    "userPrincipalName" : "k.senthilraja.k#EXT#@zylker.com"
                  }, {
                    "mobilePhone" : null,
                    "displayName" : "kumaran.j",
                    "id" : "8bb4f153-3320-459a-a93b-c1c0005b1da6",
                    "userPrincipalName" : "kumaran.j#EXT#@zylker.com"
                  }, {
                    "mobilePhone" : null,
                    "displayName" : "newuser newuser",
                    "id" : "ff0b50b7-e032-4e8d-a308-948e84fcedc8",
                    "userPrincipalName" : "newuser@zylker.com"
                  }, {
                    "mobilePhone" : null,
                    "displayName" : "Test User Name",
                    "id" : "eca3548a-b72a-4f63-b62b-9cd2de6bbd6e",
                    "userPrincipalName" : "newuser1@zylker.com"
                  } ],
                  "nextLink" : "https://graph.microsoft.com/v1.0/users?$top=10&$select=id%2cuserType%2cbusinessPhones%2cdisplayName%2cgiveName%2cjobTitlen%2cmail%2cmobilePhone%2cofficeLocation%2cpreferredLanguage%2csurname%2cuserPrincipalName&$skiptoken=X%2744537074020000373A6B2E73656E7468696C72616A612E6B5F676D61696C2E636F6D2345585423407A6F686F6465762E6F6E6D6963726F736F66742E636F6D29557365725F66633138393537372D353532632D343139382D383066352D34656534303262666565376500213A736470616464696E407A6F686F6465762E6F6E6D6963726F736F66742E636F6D29557365725F34323463313266312D633232662D343534392D393265612D623535323137313030643437B900000000000000000000%27"
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "addMSUsersAsRepResponse" : {
        "description" : "addMSUsersAsRepResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "importedMailIds", "unImportedMailIds" ],
              "properties" : {
                "importedMailIds" : {
                  "uniqueItems" : false,
                  "items" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                  }
                },
                "unImportedMailIds" : {
                  "items" : {
                    "required" : [ "email", "reason" ],
                    "properties" : {
                      "reason" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "email" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                      }
                    },
                    "additionalProperties" : false
                  }
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "importedMailIds" : [ "antony@zylker.com", "gadgets@zylker.com" ],
                  "unImportedMailIds" : [ {
                    "reason" : "EmailId is already in use",
                    "email" : "app.submission@zylker.com"
                  }, {
                    "reason" : "EmailId is already in use",
                    "email" : "ammu.g@zylker.com"
                  }, {
                    "reason" : "EmailId is already in use",
                    "email" : "jagadeesh@zylker.com"
                  }, {
                    "reason" : "License plan limit",
                    "email" : "hari@zylker.com"
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "getMSContactFoldersResponse" : {
        "description" : "getMSContactFoldersResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "data", "nextLink" ],
              "properties" : {
                "data" : {
                  "items" : {
                    "required" : [ "displayName", "id", "parentFolderId" ],
                    "properties" : {
                      "parentFolderId" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "displayName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "nextLink" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "To get Next set of MS contact folders",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : [ {
                    "displayName" : "Test Folder",
                    "id" : "AQMkAGQxNTMxYTRiLWViZDYtNGZjNy04MjkxLTFjMmIyY2Y4ZjE5MwAuAAADHx0NCIiNBk_hbFlWsiPREwEADvJ6wVmpDEWUx5mYqJ69fgADzuLKlAAAAA=="
                  }, {
                    "displayName" : "Zoho CRM Contacts",
                    "id" : "AQMkAGQxNTMxYTRiLWViZDYtNGZjNy04MjkxLTFjMmIyY2Y4ZjE5MwAuAAADHx0NCIiNBk_hbFlWsiPREwEADvJ6wVmpDEWUx5mYqJ69fgAD-Wmc0gAAAA=="
                  } ],
                  "nextLink" : ""
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "OAuth Org Mismatch Error Response" : {
                "value" : {
                  "errorCode" : "OAUTH_ORG_MISMATCH",
                  "message" : "The OAuthToken is not valid for specified organization."
                }
              }
            }
          }
        }
      },
      "forbiddenErrorResponse" : {
        "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Forbidden Error Response" : {
                "value" : {
                  "errorCode" : "FORBIDDEN",
                  "message" : "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "urlNotFoundErrorResponse" : {
        "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Url Not Found Error Response" : {
                "value" : {
                  "errorCode" : "URL_NOT_FOUND",
                  "message" : "The URL you requested could not be found."
                }
              }
            }
          }
        }
      },
      "methodNotAllowedErrorResponse" : {
        "description" : "This errorCode value appears if the method in the API request is known by the server but disabled for the API requested.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Method Not Allowed Error Response" : {
                "value" : {
                  "errorCode" : "METHOD_NOT_ALLOWED",
                  "message" : "This HTTP method is not allowed on this URL."
                }
              }
            }
          }
        }
      },
      "resourceSizeExceededErrorResponse" : {
        "description" : "This errorCode value appears if the size of the resource exceeds the limit defined by the server.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Resource Size Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "RESOURCE_SIZE_EXCEEDED",
                  "message" : "Attachment size is too large. The maximum size supported is 20 MB."
                }
              }
            }
          }
        }
      },
      "unSupportedMediaTypeErrorResponse" : {
        "description" : "This errorCode value appears if the server refuses the request as a result of receiving the input in an unsupported format.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unsupported Media Type Error Response" : {
                "value" : {
                  "errorCode" : "UNSUPPORTED_MEDIA_TYPE",
                  "message" : "The given content type is not supported. Please provide the input Content-Type as application/json"
                }
              }
            }
          }
        }
      },
      "unprocessableEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The value passed for the 'from' query parameter is invalid."
                }
              }
            }
          }
        }
      },
      "missingEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not contain the mandatory parameters for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The mandatory parameter 'permission' is missing"
                }
              }
            }
          }
        }
      },
      "thresholdExceedErrorResponse" : {
        "description" : "This errorCode value appears if the user sends too many requests within a given amount of time (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Threshold Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "THRESHOLD_EXCEEDED",
                  "message" : "The maximum number of API calls that can be made per day has been exceeded."
                }
              }
            }
          }
        }
      },
      "concurrentRateLimitExceededErrorResponse" : {
        "description" : "This errorCode value appears if the user fires too many requests in a simultaneous/concurrent manner (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Concurrent Rate Limit Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "TOO_MANY_REQUESTS",
                  "message" : "The maximum number of Concurrent API Calls that can be made has been exceeded."
                }
              }
            }
          }
        }
      },
      "internalErrorResponse" : {
        "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Internal Server Error Response" : {
                "value" : {
                  "errorCode" : "INTERNAL_SERVER_ERROR",
                  "message" : "An internal server error occurred while performing this operation."
                }
              }
            }
          }
        }
      },
      "licenseErrorResponse" : {
        "description" : "This errorCode value appears if the user is unable to perform an action due to the limitations of the Zoho Desk edition in use\nThe possible values for the feature key are\n    *AGENTS*\n    *LIGHT_AGENTS*\n    *TEAM*\nThe possible values for the editionType key are\n    *FREE*\n    *PROFESSIONAL*\n    *ENTERPRISE*",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "editionType", "feature", "isTrial", "maxAllowedEntity" ],
                "properties" : {
                  "maxAllowedEntity" : {
                    "pattern" : "([0-9]+)"
                  },
                  "feature" : {
                    "enum" : [ "AGENTS", "LIGHT_AGENTS", "TEAM" ]
                  },
                  "editionType" : {
                    "enum" : [ "ENTERPRISE", "PROFESSIONAL", "STANDARD", "EXPRESS", "FREE" ]
                  },
                  "isTrial" : { }
                }
              } ]
            },
            "examples" : {
              "LicenseAccessLimited Error Response" : {
                "value" : {
                  "errorCode" : "LICENSE_ACCESS_LIMITED",
                  "maxAllowedEntity" : "10",
                  "feature" : "AGENTS",
                  "editionType" : "FREE",
                  "isTrial" : false,
                  "message" : "Your Zoho Desk Edition does not support this feature/operation."
                }
              }
            }
          }
        }
      },
      "multipleUnprocessEntityResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "anyOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "additionalProperties" : { },
                "allOf" : [ {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                }, {
                  "required" : [ "errors" ],
                  "properties" : {
                    "errors" : {
                      "items" : {
                        "required" : [ "errorMessage", "errorType", "fieldName" ],
                        "properties" : {
                          "fieldName" : { },
                          "errorType" : {
                            "enum" : [ "invalid", "duplicate", "missing" ]
                          },
                          "errorMessage" : { }
                        }
                      }
                    }
                  }
                } ]
              } ]
            }
          }
        }
      },
      "invalidDataErrorResponse" : {
        "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "errors" ],
                "properties" : {
                  "errors" : {
                    "items" : {
                      "required" : [ "errorMessage", "errorType", "fieldName" ],
                      "properties" : {
                        "fieldName" : { },
                        "errorType" : {
                          "enum" : [ "invalid", "duplicate", "missing" ]
                        },
                        "errorMessage" : { }
                      }
                    }
                  }
                }
              } ]
            },
            "examples" : {
              "Invalid Data Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_DATA",
                  "message" : "The data does not comply to the validation restrictions defined.",
                  "errors" : [ {
                    "fieldName" : "/contactId",
                    "errorType" : "invalid"
                  }, {
                    "fieldName" : "/departmentId",
                    "errorType" : "invalid"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "parameters" : {
      "searchString" : {
        "name" : "searchString",
        "in" : "query",
        "description" : "To get folders contains search String",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "maxLength" : 100,
          "minLength" : 0,
          "description" : "To get folders contains search String"
        }
      },
      "orgId" : {
        "name" : "orgId",
        "in" : "query",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "([0-9]+)",
          "format" : "int32",
          "x-custom-parameters-attributes" : { }
        }
      },
      "portalId" : {
        "name" : "portalId",
        "in" : "query",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "([a-zA-Z0-9\\-\\:])+",
          "format" : "int32",
          "x-custom-parameters-attributes" : {
            "decrypt" : true
          }
        }
      }
    },
    "requestBodies" : {
      "addMSUsersAsRepRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "MSUsers", "rolePermissionType" ],
              "properties" : {
                "MSUsers" : {
                  "items" : {
                    "required" : [ "email", "firstName", "lastName", "mobile", "phone" ],
                    "properties" : {
                      "firstName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "lastName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "phone" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "mobile" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "email" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "rolePermissionType" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "AgentPublic", "Light" ]
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid requestBody Definitions" : {
                "value" : {
                  "MSUsers" : [ {
                    "lastName" : "Raj D",
                    "firstName" : "Antony",
                    "phone" : "9876542222",
                    "mobile" : "8389278999",
                    "email" : "antony@zylker.com"
                  }, {
                    "lastName" : "Submission",
                    "firstName" : "App",
                    "phone" : "9876542222",
                    "mobile" : "8389278999",
                    "email" : "app-submit@zylker.com"
                  }, {
                    "lastName" : "Goddumuri",
                    "firstName" : "Jagadeesh",
                    "phone" : "9876542222",
                    "mobile" : "8389278999",
                    "email" : "jagadeesh@zylker.com"
                  }, {
                    "lastName" : "Gadgets",
                    "firstName" : "",
                    "phone" : "9876542222",
                    "mobile" : "8389278999",
                    "email" : "gadgets@zylker.com"
                  }, {
                    "lastName" : "Prasandh",
                    "firstName" : "Hari",
                    "phone" : "9876542222",
                    "mobile" : "8389278999",
                    "email" : "hari@zylker.com"
                  }, {
                    "lastName" : "ammu.g",
                    "firstName" : "",
                    "phone" : "9876542222",
                    "mobile" : "8389278999",
                    "email" : "ammu.g@zylker.com"
                  }, {
                    "lastName" : "Disp'Name",
                    "firstName" : "App",
                    "phone" : "9876542222",
                    "mobile" : "8389278999",
                    "email" : "app.submission@zylker.com"
                  } ],
                  "rolePermissionType" : "AgentPublic"
                }
              }
            }
          }
        },
        "x-custom-request-body-attributes" : {
          "non-empty" : false,
          "allow-invalid" : false
        }
      }
    },
    "securitySchemes" : {
      "cookie-auth" : {
        "type" : "apiKey",
        "name" : "X-CSRF-TOKEN",
        "in" : "cookie"
      },
      "org-oauth" : {
        "type" : "oauth2",
        "description" : "Org OAuth description",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "/oauth/v2/org/auth",
            "tokenUrl" : "/oauth/v2/token",
            "scopes" : {
              "Desk.accessAll.ALL" : "All Operations on data generated by Zoho Desk"
            }
          }
        }
      },
      "iam-oauth2-schema" : {
        "type" : "oauth2",
        "description" : "Oauth description",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "/oauth/v2/auth",
            "tokenUrl" : "/oauth/v2/token",
            "scopes" : {
              "Desk.zia.create" : "CREATE Operations on data generated by ZIA",
              "Desk.zia.update" : "UPDATE Operations on data generated by ZIA",
              "Desk.zia.read" : "READ Operations on data generated by ZIA",
              "Desk.zia.delete" : "DELETE Operations on data generated by ZIA",
              "Desk.calls.create" : "CREATE operations on calls module",
              "Desk.calls.update" : "UPDATE operations on calls module",
              "Desk.calls.read" : "READ operations on calls module",
              "Desk.calls.delete" : "DELETE operations on calls module",
              "Desk.extensions.create" : "To create stored data, extension logs, and configuration params",
              "Desk.extensions.read" : "To read stored data, extension logs, and configuration params",
              "Desk.extensions.update" : "To update stored data, extension logs, and configuration params",
              "Desk.extensions.delete" : "To delete stored data, extension logs, and configuration params",
              "Desk.search.read" : "READ Search across data in your desk account.",
              "Desk.events.create" : "CREATE Desk events",
              "Desk.events.update" : "UPDATE Desk events",
              "Desk.events.read" : "READ Desk events",
              "Desk.events.delete" : "DELETE Desk events",
              "Desk.articles.create" : "CREATE Articles and its sub resources",
              "Desk.articles.update" : "UPDATE Articles and its sub resources",
              "Desk.articles.read" : "READ Articles and its sub resources",
              "Desk.articles.delete" : "DELETE Articles and its sub resources",
              "Desk.basic.create" : "CREATE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.update" : "UPDATE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.read" : "READ Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.basic.delete" : "DELETE Basic desk data such as organizations,agents,departments,role,profile,group",
              "Desk.tasks.create" : "CREATE Tasks and its sub resources",
              "Desk.tasks.read" : "READ Tasks and its sub resources",
              "Desk.tasks.update" : "UPDATE Tasks and its sub resources",
              "Desk.tasks.delete" : "DELETE Tasks and its sub resources",
              "Desk.settings.create" : "CREATE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.update" : "UPDATE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.read" : "READ All settings data such as customizations,automations,permissions,organization,license",
              "Desk.settings.delete" : "DELETE All settings data such as customizations,automations,permissions,organization,license",
              "Desk.contacts.create" : "CREATE Contacts and its sub resources",
              "Desk.contacts.update" : "UPDATE Contacts and its sub resources",
              "Desk.contacts.read" : "READ Contacts and its sub resources",
              "Desk.contacts.delete" : "DELETE Contacts and its sub resources",
              "Desk.feeds.create" : "CREATE Feeds resource",
              "Desk.feeds.update" : "UPDATE Feeds resource",
              "Desk.feeds.read" : "READ Feeds resource",
              "Desk.feeds.delete" : "DELETE Feeds resource",
              "Desk.tickets.create" : "CREATE Tickets and its sub resources",
              "Desk.tickets.update" : "UPDATE Tickets and its sub resources",
              "Desk.tickets.read" : "READ Tickets and its sub resources",
              "Desk.tickets.delete" : "DELETE Tickets and its sub resources",
              "Desk.phonebridge.read" : "READ phonebridge",
              "Desk.phonebridge.create" : "CREATE phonebridge",
              "Desk.community.create" : "CREATE Operations on community topics, comments and categories",
              "Desk.community.update" : "UPDATE Operations on community topics, comments and categories",
              "Desk.community.read" : "READ Operations on community topics, comments and categories",
              "Desk.community.delete" : "DELETE Operations on community topics, comments and categories",
              "Desk.imports" : "CUSTOM Grants access to import data into Zoho Desk modules",
              "Desk.exports" : "CUSTOM Scope for Zoho Desk Export API's for ZohoDesk Modules",
              "Desk.products.create" : "CREATE Allow operations on products",
              "Desk.products.update" : "UPDATE Allow operations on products",
              "Desk.products.read" : "READ Allow operations on products",
              "Desk.products.delete" : "DELETE Allow operations on products",
              "Desk.settings.extension.create" : "CREATE Allow access to all extension related data",
              "Desk.settings.extension.update" : "UPDATE Allow access to all extension related data",
              "Desk.settings.extension.read" : "READ Allow access to all extension related data",
              "Desk.settings.extension.delete" : "DELETE Allow access to all extension related data",
              "Desk.activities.create" : "CREATE To manage activities such as tasks, calls, events and its sub resources",
              "Desk.activities.read" : "READ To manage activities such as tasks, calls, events and its sub resources",
              "Desk.activities.update" : "UPDATE To manage activities such as tasks, calls, events and its sub resources",
              "Desk.activities.delete" : "DELETE To manage activities such as tasks, calls, events and its sub resources",
              "Desk.deskOembed.read" : "null",
              "Desk.integrations.create" : "Grants access to create integration related data",
              "Desk.integrations.update" : "Grants access to update integration related data",
              "Desk.integrations.read" : "Grants access to read integration related data",
              "Desk.integrations.delete" : "Grants access to delete integration related data"
            }
          }
        }
      },
      "jwt-oauth" : {
        "type" : "oauth2",
        "description" : "Org OAuth description",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "/oauth/v2/org/auth",
[...]
