{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Module",
    "version" : "1.0.0",
    "x-clan-group" : "layouts",
    "x-module-group" : "customModule"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/organizationModules/{moduleId}" : {
      "get" : {
        "tags" : [ "Module" ],
        "summary" : "Get Module",
        "description" : "This API fetches a single Module",
        "operationId" : "getModule",
        "parameters" : [ {
          "name" : "moduleId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "moduleJsonIncludingCustomModule template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "apiName", "createdBy", "createdTime", "description", "displayLabel", "hasRecycleBin", "id", "isCustomModule", "isDeptSpecific", "modifiedBy", "modifiedTime", "modifier", "nameField", "pluralLabel", "singularLabel" ],
                    "properties" : {
                      "displayLabel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "apiName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "modifier" : {
                        "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "description" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "nameField" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "pluralLabel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "singularLabel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "hasRecycleBin" : { },
                      "createdBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "isCustomModule" : { },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "isDeptSpecific" : { },
                      "modifiedBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "departmentIds", "profileIds" ],
                    "properties" : {
                      "profileIds" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : [ { } ]
                        }
                      },
                      "departmentIds" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : [ { } ]
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "displayLabel" : "Doctors",
                      "modifiedTime" : 1713519302000,
                      "apiName" : "cm_doctors",
                      "modifier" : {
                        "firstName" : "",
                        "lastName" : "Kyle",
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000000329/photo?orgId=3981311",
                        "id" : "4000000000329",
                        "email" : "kyle@zylker.com"
                      },
                      "nameField" : "name",
                      "profileIds" : [ "1000000029530" ],
                      "description" : "Doctor informations",
                      "departmentIds" : [ "1000000774623", "1000000025632" ],
                      "pluralLabel" : "Doctors",
                      "singularLabel" : "Doctor",
                      "hasRecycleBin" : true,
                      "createdBy" : "1000000000375",
                      "isCustomModule" : true,
                      "createdTime" : 1713517457000,
                      "modifiedBy" : "1000000000375",
                      "isDeptSpecific" : true,
                      "id" : "1000003000001"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "layouts",
          "apihash" : "3eeb223a7e5054901c55f450fb76722a",
          "module-group" : "customModule",
          "apimethod" : "com.zoho.support.restapi.ModuleService.getCustomModule"
        }
      },
      "put" : {
        "tags" : [ "Module" ],
        "summary" : "Update Module",
        "description" : "The API updates a Module.",
        "operationId" : "updateModule",
        "parameters" : [ {
          "name" : "moduleId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "departmentIds", "pluralLabel", "profileIds", "singularLabel" ],
                "properties" : {
                  "description" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "profileIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "pluralLabel" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "departmentIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "singularLabel" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "description" : "Doctor informations",
                    "profileIds" : [ 1000000029530, 1000000029533 ],
                    "pluralLabel" : "Doctors",
                    "departmentIds" : [ 1000000774623, 1000000025632 ],
                    "singularLabel" : "Doctor"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "moduleJsonIncludingCustomModule template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "apiName", "createdBy", "createdTime", "description", "displayLabel", "hasRecycleBin", "id", "isCustomModule", "isDeptSpecific", "modifiedBy", "modifiedTime", "modifier", "nameField", "pluralLabel", "singularLabel" ],
                    "properties" : {
                      "displayLabel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "apiName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "modifier" : {
                        "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "description" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "nameField" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "pluralLabel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "singularLabel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "hasRecycleBin" : { },
                      "createdBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "isCustomModule" : { },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "isDeptSpecific" : { },
                      "modifiedBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "departmentIds", "profileIds" ],
                    "properties" : {
                      "profileIds" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : [ { } ]
                        }
                      },
                      "departmentIds" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : [ { } ]
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "displayLabel" : "Doctors",
                      "modifiedTime" : 1713519302000,
                      "apiName" : "cm_doctors",
                      "modifier" : {
                        "firstName" : "",
                        "lastName" : "Kyle",
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000000329/photo?orgId=3981311",
                        "id" : "4000000000329",
                        "email" : "kyle@zylker.com"
                      },
                      "nameField" : "name",
                      "profileIds" : [ "1000000029530" ],
                      "description" : "Doctor informations",
                      "departmentIds" : [ "1000000774623", "1000000025632" ],
                      "pluralLabel" : "Doctors",
                      "singularLabel" : "Doctor",
                      "hasRecycleBin" : true,
                      "createdBy" : "1000000000375",
                      "isCustomModule" : true,
                      "createdTime" : 1713517457000,
                      "modifiedBy" : "1000000000375",
                      "isDeptSpecific" : true,
                      "id" : "1000003000001"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "layouts",
          "apihash" : "6eff0de6c4719e4e1a19926ca0ae34cc",
          "module-group" : "customModule",
          "apimethod" : "com.zoho.support.restapi.ModuleService.editModule"
        }
      }
    },
    "/api/v1/myAccessibleModules" : {
      "get" : {
        "tags" : [ "Module" ],
        "summary" : "Get Modules Accessible To Current User Profile",
        "description" : "The API fetches a list of modules that are accessible to the current user profile.",
        "operationId" : "getMyModules",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "modulesResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "modules" ],
                  "properties" : {
                    "modules" : {
                      "items" : {
                        "required" : [ "apiKey", "displayLabel", "id", "isEnabled", "nameField", "pluralLabel", "singularLabel" ],
                        "properties" : {
                          "displayLabel" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "apiKey" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "isEnabled" : { },
                          "nameField" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "pluralLabel" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "singularLabel" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modules" : [ {
                        "displayLabel" : "Contracts",
                        "apiKey" : "contracts",
                        "isEnabled" : false,
                        "nameField" : null,
                        "id" : "1000000000485",
                        "pluralLabel" : "Contracts",
                        "singularLabel" : "Contract"
                      }, {
                        "displayLabel" : "Time Entry",
                        "apiKey" : "timeEntry",
                        "isEnabled" : false,
                        "nameField" : null,
                        "id" : "1000000000489",
                        "pluralLabel" : "Time Entry",
                        "singularLabel" : "Time Entry"
                      }, {
                        "displayLabel" : "Department",
                        "apiKey" : "departments",
                        "isEnabled" : false,
                        "nameField" : null,
                        "id" : "1000000000491",
                        "pluralLabel" : "Departments",
                        "singularLabel" : "Department"
                      }, {
                        "displayLabel" : "Agents",
                        "apiKey" : "agents",
                        "isEnabled" : false,
                        "nameField" : null,
                        "id" : "1000000000493",
                        "pluralLabel" : "Agents",
                        "singularLabel" : "Agent"
                      }, {
                        "displayLabel" : "Topics",
                        "apiKey" : "category",
                        "isEnabled" : false,
                        "nameField" : null,
                        "id" : "1000000000527",
                        "pluralLabel" : "Topics",
                        "singularLabel" : "Topic"
                      }, {
                        "displayLabel" : "Ticketss",
                        "apiKey" : "tickets",
                        "isEnabled" : true,
                        "nameField" : null,
                        "id" : "1000000000481",
                        "pluralLabel" : "Ticketss",
                        "singularLabel" : "Ticket"
                      }, {
                        "displayLabel" : "Reports",
                        "apiKey" : "reports",
                        "isEnabled" : true,
                        "nameField" : null,
                        "id" : "1000000000463",
                        "pluralLabel" : "Reports",
                        "singularLabel" : "Report"
                      }, {
                        "displayLabel" : "Dashboards",
                        "apiKey" : "dashboards",
                        "isEnabled" : true,
                        "nameField" : null,
                        "id" : "1000000000465",
                        "pluralLabel" : "Dashboards",
                        "singularLabel" : "Dashboard"
                      }, {
                        "displayLabel" : "Knowledge Base",
                        "apiKey" : "kbCategory",
                        "isEnabled" : true,
                        "nameField" : null,
                        "id" : "1000000000483",
                        "pluralLabel" : "Articles",
                        "singularLabel" : "Article"
                      }, {
                        "displayLabel" : "Contacts",
                        "apiKey" : "contacts",
                        "isEnabled" : true,
                        "nameField" : null,
                        "id" : "1000000000461",
                        "pluralLabel" : "Contacts",
                        "singularLabel" : "Contact"
                      }, {
                        "displayLabel" : "Products",
                        "apiKey" : "products",
                        "isEnabled" : true,
                        "nameField" : null,
                        "id" : "1000000000487",
                        "pluralLabel" : "Products",
                        "singularLabel" : "Product"
                      }, {
                        "displayLabel" : "Accounts",
                        "apiKey" : "accounts",
                        "isEnabled" : true,
                        "nameField" : null,
                        "id" : "1000000000459",
                        "pluralLabel" : "Accounts",
                        "singularLabel" : "Account"
                      }, {
                        "displayLabel" : "Community",
                        "apiKey" : "community",
                        "isEnabled" : true,
                        "nameField" : null,
                        "id" : "1000000000533",
                        "pluralLabel" : "Community",
                        "singularLabel" : "Community"
                      }, {
                        "displayLabel" : "Social",
                        "apiKey" : "social",
                        "isEnabled" : true,
                        "nameField" : null,
                        "id" : "1000000000535",
                        "pluralLabel" : "Social",
                        "singularLabel" : "Social"
                      }, {
                        "displayLabel" : "Chat",
                        "apiKey" : "chat",
                        "isEnabled" : true,
                        "nameField" : null,
                        "id" : "1000000000537",
                        "pluralLabel" : "Chat",
                        "singularLabel" : "Chat"
                      }, {
                        "displayLabel" : "Activities",
                        "apiKey" : "activities",
                        "isEnabled" : true,
                        "nameField" : null,
                        "id" : "1000000000471",
                        "pluralLabel" : "Activities",
                        "singularLabel" : "Activity"
                      }, {
                        "displayLabel" : "Calls",
                        "apiKey" : "calls",
                        "isEnabled" : true,
                        "nameField" : null,
                        "id" : "1000000000531",
                        "pluralLabel" : "Calls",
                        "singularLabel" : "Call"
                      }, {
                        "displayLabel" : "Tasks",
                        "apiKey" : "tasks",
                        "isEnabled" : true,
                        "nameField" : null,
                        "id" : "1000000000469",
                        "pluralLabel" : "Tasks",
                        "singularLabel" : "Task"
                      }, {
                        "displayLabel" : "Events",
                        "apiKey" : "events",
                        "isEnabled" : true,
                        "nameField" : null,
                        "id" : "1000000000529",
                        "pluralLabel" : "Events",
                        "singularLabel" : "Event"
                      }, {
                        "displayLabel" : "IM",
                        "apiKey" : "im",
                        "isEnabled" : true,
                        "nameField" : null,
                        "id" : "1000000000475",
                        "pluralLabel" : "IM",
                        "singularLabel" : "IM"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy,IscSignatureCalls_OrgPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "system-auth" : "optional",
              "scoped-services" : [ "ZohoSupport" ]
            }
          },
          "clan-group" : "layouts",
          "apihash" : "465b89185cef6d26ada5e93b2f6f5637",
          "module-group" : "layouts",
          "apimethod" : "com.zoho.support.restapi.ModuleService.getMyModules"
        }
      }
    },
    "/api/v1/modules" : {
      "get" : {
        "tags" : [ "Module" ],
        "summary" : "Get modules",
        "description" : "The API fetches all the modules available in Zoho Desk. <br></br> <b> This API is <code>deprecated</code>, use <i>api/v1/organizationModules</i> api for fetching modules.</b>",
        "operationId" : "getModulesDeprecated",
        "parameters" : [ {
          "name" : "featureFlags",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "customModule" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getModulesResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "required" : [ "modules" ],
                    "properties" : {
                      "modules" : {
                        "items" : {
                          "required" : [ "apiKey", "displayLabel", "id", "isEnabled", "nameField", "pluralLabel", "singularLabel" ],
                          "properties" : {
                            "displayLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "apiKey" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "isEnabled" : { },
                            "nameField" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "pluralLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "singularLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "required" : [ "apiKey", "displayLabel", "id", "isEnabled", "isMigratedModule", "nameField", "pluralLabel", "singularLabel" ],
                          "properties" : {
                            "displayLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "apiKey" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "isEnabled" : { },
                            "nameField" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "isMigratedModule" : { },
                            "pluralLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "singularLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "required" : [ "apiKey", "displayLabel", "id", "isEnabled", "nameField", "pluralLabel", "singularLabel" ],
                            "properties" : {
                              "displayLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "apiKey" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "isEnabled" : { },
                              "nameField" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "pluralLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "singularLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "i18NLabel", "isCustomModule", "isDeptSpecific", "isMigratedModule", "sanitizedName", "singularI18NLabel" ],
                            "properties" : {
                              "sanitizedName" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "isCustomModule" : { },
                              "singularI18NLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "i18NLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "isDeptSpecific" : { },
                              "isMigratedModule" : { }
                            }
                          } ]
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modules" : [ {
                        "displayLabel" : "Contracts",
                        "apiKey" : "contracts",
                        "nameField" : null,
                        "id" : "1000000000485",
                        "pluralLabel" : "Contracts",
                        "singularLabel" : "Contract"
                      }, {
                        "displayLabel" : "Time Entry",
                        "apiKey" : "timeEntry",
                        "nameField" : null,
                        "id" : "1000000000489",
                        "pluralLabel" : "Time Entry",
                        "singularLabel" : "Time Entry"
                      }, {
                        "displayLabel" : "Department",
                        "apiKey" : "departments",
                        "nameField" : null,
                        "id" : "1000000000491",
                        "pluralLabel" : "Departments",
                        "singularLabel" : "Department"
                      }, {
                        "displayLabel" : "Agents",
                        "apiKey" : "agents",
                        "nameField" : null,
                        "id" : "1000000000493",
                        "pluralLabel" : "Agents",
                        "singularLabel" : "Agent"
                      }, {
                        "displayLabel" : "Topics",
                        "apiKey" : "category",
                        "nameField" : null,
                        "id" : "1000000000527",
                        "pluralLabel" : "Topics",
                        "singularLabel" : "Topic"
                      }, {
                        "displayLabel" : "Ticketss",
                        "apiKey" : "tickets",
                        "nameField" : null,
                        "id" : "1000000000481",
                        "pluralLabel" : "Ticketss",
                        "singularLabel" : "Ticket"
                      }, {
                        "displayLabel" : "Reports",
                        "apiKey" : "reports",
                        "nameField" : null,
                        "id" : "1000000000463",
                        "pluralLabel" : "Reports",
                        "singularLabel" : "Report"
                      }, {
                        "displayLabel" : "Dashboards",
                        "apiKey" : "dashboards",
                        "nameField" : null,
                        "id" : "1000000000465",
                        "pluralLabel" : "Dashboards",
                        "singularLabel" : "Dashboard"
                      }, {
                        "displayLabel" : "Knowledge Base",
                        "apiKey" : "kbCategory",
                        "nameField" : null,
                        "id" : "1000000000483",
                        "pluralLabel" : "Articles",
                        "singularLabel" : "Article"
                      }, {
                        "displayLabel" : "Contacts",
                        "apiKey" : "contacts",
                        "nameField" : null,
                        "id" : "1000000000461",
                        "pluralLabel" : "Contacts",
                        "singularLabel" : "Contact"
                      }, {
                        "displayLabel" : "Products",
                        "apiKey" : "products",
                        "nameField" : null,
                        "id" : "1000000000487",
                        "pluralLabel" : "Products",
                        "singularLabel" : "Product"
                      }, {
                        "displayLabel" : "Accounts",
                        "apiKey" : "accounts",
                        "nameField" : null,
                        "id" : "1000000000459",
                        "pluralLabel" : "Accounts",
                        "singularLabel" : "Account"
                      }, {
                        "displayLabel" : "Community",
                        "apiKey" : "community",
                        "nameField" : null,
                        "id" : "1000000000533",
                        "pluralLabel" : "Community",
                        "singularLabel" : "Community"
                      }, {
                        "displayLabel" : "Social",
                        "apiKey" : "social",
                        "nameField" : null,
                        "id" : "1000000000535",
                        "pluralLabel" : "Social",
                        "singularLabel" : "Social"
                      }, {
                        "displayLabel" : "Chat",
                        "apiKey" : "chat",
                        "nameField" : null,
                        "id" : "1000000000537",
                        "pluralLabel" : "Chat",
                        "singularLabel" : "Chat"
                      }, {
                        "displayLabel" : "Activities",
                        "apiKey" : "activities",
                        "nameField" : null,
                        "id" : "1000000000471",
                        "pluralLabel" : "Activities",
                        "singularLabel" : "Activity"
                      }, {
                        "displayLabel" : "Calls",
                        "apiKey" : "calls",
                        "nameField" : null,
                        "id" : "1000000000531",
                        "pluralLabel" : "Calls",
                        "singularLabel" : "Call"
                      }, {
                        "displayLabel" : "Tasks",
                        "apiKey" : "tasks",
                        "nameField" : null,
                        "id" : "1000000000469",
                        "pluralLabel" : "Tasks",
                        "singularLabel" : "Task"
                      }, {
                        "displayLabel" : "Events",
                        "apiKey" : "events",
                        "nameField" : null,
                        "id" : "1000000000529",
                        "pluralLabel" : "Events",
                        "singularLabel" : "Event"
                      }, {
                        "displayLabel" : "IM",
                        "apiKey" : "im",
                        "nameField" : null,
                        "id" : "1000000000475",
                        "pluralLabel" : "IM",
                        "singularLabel" : "IM"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy,IscSignatureCalls_OrgPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "system-auth" : "optional",
              "scoped-services" : [ "ZohoSupport" ]
            }
          },
          "clan-group" : "layouts",
          "apihash" : "c04031bb62b1ff404826dfba59b64172",
          "module-group" : "layouts",
          "apimethod" : "com.zoho.support.restapi.ModuleService.getModules"
        }
      }
    },
    "/api/v1/organizationModules" : {
      "get" : {
        "tags" : [ "Module" ],
        "summary" : "Get Modules",
        "description" : "The API fetches all the modules.",
        "operationId" : "getModules",
        "parameters" : [ {
          "name" : "moduleAPIname",
          "in" : "query",
          "description" : "Module apiName. You can pass multiple values by separating them with commas in the API request",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Module apiName. You can pass multiple values by separating them with commas in the API request",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "Module apiName. You can pass multiple values by separating them with commas in the API request", false, 10, ",", false, true, "0,5", false, false, "moduleAPIname" ]
            },
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "featureFlags",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "customModule" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "getOrganizationModulesResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "required" : [ "apiName", "createdBy", "createdTime", "description", "displayLabel", "hasRecycleBin", "id", "isCustomModule", "isDeptSpecific", "modifiedBy", "modifiedTime", "modifier", "nameField", "pluralLabel", "singularLabel" ],
                          "properties" : {
                            "displayLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "apiName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "modifier" : {
                              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "description" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "nameField" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "pluralLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "singularLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "hasRecycleBin" : { },
                            "createdBy" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "isCustomModule" : { },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "isDeptSpecific" : { },
                            "modifiedBy" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "required" : [ "apiName", "createdBy", "createdTime", "description", "displayLabel", "hasRecycleBin", "id", "isCustomModule", "isDeptSpecific", "modifiedBy", "modifiedTime", "modifier", "nameField", "pluralLabel", "singularLabel" ],
                          "properties" : {
                            "displayLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "apiName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "modifier" : {
                              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "nameField" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "description" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "pluralLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "singularLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "hasRecycleBin" : { },
                            "createdBy" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "isCustomModule" : { },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                            },
                            "isDeptSpecific" : { },
                            "modifiedBy" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "displayLabel" : "Accounts",
                        "modifiedTime" : 946684800000,
                        "apiName" : "accounts",
                        "modifier" : null,
                        "nameField" : "accountName",
                        "description" : null,
                        "pluralLabel" : "Accounts",
                        "singularLabel" : "Account",
                        "hasRecycleBin" : true,
                        "createdBy" : null,
                        "isCustomModule" : false,
                        "createdTime" : 946684800000,
                        "modifiedBy" : null,
                        "isDeptSpecific" : false,
                        "id" : "1000000000377"
                      }, {
                        "displayLabel" : "Contacts",
                        "modifiedTime" : 946684800000,
                        "apiName" : "contacts",
                        "modifier" : null,
                        "nameField" : "lastName",
                        "description" : null,
                        "pluralLabel" : "Contacts",
                        "singularLabel" : "Contact",
                        "hasRecycleBin" : true,
                        "createdBy" : null,
                        "isCustomModule" : false,
                        "createdTime" : 946684800000,
                        "modifiedBy" : null,
                        "isDeptSpecific" : false,
                        "id" : "1000000000379"
                      }, {
                        "displayLabel" : "Tasks",
                        "modifiedTime" : 946684800000,
                        "apiName" : "tasks",
                        "modifier" : null,
                        "nameField" : "subject",
                        "description" : null,
                        "pluralLabel" : "Tasks",
                        "singularLabel" : "Task",
                        "hasRecycleBin" : true,
                        "createdBy" : null,
                        "isCustomModule" : false,
                        "createdTime" : 946684800000,
                        "modifiedBy" : null,
                        "isDeptSpecific" : true,
                        "id" : "1000000000383"
                      }, {
                        "displayLabel" : "Tickets",
                        "modifiedTime" : 946684800000,
                        "apiName" : "tickets",
                        "modifier" : null,
                        "nameField" : "subject",
                        "description" : null,
                        "pluralLabel" : "Tickets",
                        "singularLabel" : "Ticket",
                        "hasRecycleBin" : true,
                        "createdBy" : null,
                        "isCustomModule" : false,
                        "createdTime" : 946684800000,
                        "modifiedBy" : null,
                        "isDeptSpecific" : true,
                        "id" : "1000000000423"
                      }, {
                        "displayLabel" : "Contracts",
                        "modifiedTime" : 946684800000,
                        "apiName" : "contracts",
                        "modifier" : null,
                        "nameField" : "contractName",
                        "description" : null,
                        "pluralLabel" : "Contracts",
                        "singularLabel" : "Contract",
                        "hasRecycleBin" : true,
                        "createdBy" : null,
                        "isCustomModule" : false,
                        "createdTime" : 946684800000,
                        "modifiedBy" : null,
                        "isDeptSpecific" : true,
                        "id" : "1000000000427"
                      }, {
                        "displayLabel" : "Products",
                        "modifiedTime" : 946684800000,
                        "apiName" : "products",
                        "modifier" : null,
                        "nameField" : "productName",
                        "description" : null,
                        "pluralLabel" : "Products",
                        "singularLabel" : "Product",
                        "hasRecycleBin" : true,
                        "createdBy" : null,
                        "isCustomModule" : false,
                        "createdTime" : 946684800000,
                        "modifiedBy" : null,
                        "isDeptSpecific" : false,
                        "id" : "1000000000429"
                      }, {
                        "displayLabel" : "Time Entry",
                        "modifiedTime" : 946684800000,
                        "apiName" : "timeEntry",
                        "modifier" : null,
                        "nameField" : "requestChargeType",
                        "description" : null,
                        "pluralLabel" : "Time Entry",
                        "singularLabel" : "Time Entry",
                        "hasRecycleBin" : true,
                        "createdBy" : null,
                        "isCustomModule" : false,
                        "createdTime" : 946684800000,
                        "modifiedBy" : null,
                        "isDeptSpecific" : true,
                        "id" : "1000000000431"
                      }, {
                        "displayLabel" : "Agents",
                        "modifiedTime" : 946684800000,
                        "apiName" : "agents",
                        "modifier" : null,
                        "nameField" : "lastName",
                        "description" : null,
                        "pluralLabel" : "Agents",
                        "singularLabel" : "Agent",
                        "hasRecycleBin" : false,
                        "createdBy" : null,
                        "isCustomModule" : false,
                        "createdTime" : 946684800000,
                        "modifiedBy" : null,
                        "isDeptSpecific" : false,
                        "id" : "1000000000435"
                      }, {
                        "displayLabel" : "Events",
                        "modifiedTime" : 946684800000,
                        "apiName" : "events",
                        "modifier" : null,
                        "nameField" : "subject",
                        "description" : null,
                        "pluralLabel" : "Events",
                        "singularLabel" : "Event",
                        "hasRecycleBin" : true,
                        "createdBy" : null,
                        "isCustomModule" : false,
                        "createdTime" : 946684800000,
                        "modifiedBy" : null,
                        "isDeptSpecific" : true,
                        "id" : "1000000000445"
                      }, {
                        "displayLabel" : "Calls",
                        "modifiedTime" : 946684800000,
                        "apiName" : "calls",
                        "modifier" : null,
                        "nameField" : "subject",
                        "description" : null,
                        "pluralLabel" : "Calls",
                        "singularLabel" : "Call",
                        "hasRecycleBin" : true,
                        "createdBy" : null,
                        "isCustomModule" : false,
                        "createdTime" : 946684800000,
                        "modifiedBy" : null,
                        "isDeptSpecific" : true,
                        "id" : "1000000000447"
                      }, {
                        "displayLabel" : "Doctors",
                        "modifiedTime" : 1713519302000,
                        "apiName" : "cm_doctors",
                        "modifier" : {
                          "firstName" : "",
                          "lastName" : "Kyle",
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000000329/photo?orgId=3981311",
                          "id" : "4000000000329",
                          "email" : "kyle@zylker.com"
                        },
                        "nameField" : "name",
                        "description" : "Doctor informations",
                        "pluralLabel" : "Doctors",
                        "singularLabel" : "Doctor",
                        "hasRecycleBin" : true,
                        "createdBy" : "1000000000375",
                        "isCustomModule" : true,
                        "createdTime" : 1713517457000,
                        "modifiedBy" : "1000000000375",
                        "isDeptSpecific" : true,
                        "id" : "1000003000001"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "layouts",
          "apihash" : "1f932d37adecfcd056b261eb1b0ba3f0",
          "module-group" : "customModule",
          "apimethod" : "com.zoho.support.restapi.ModuleService.getOrganizationModules"
        }
      },
      "post" : {
        "tags" : [ "Module" ],
        "summary" : "Create Module",
        "description" : "The API creates a Custom Module. <a href='https://help.zoho.com/portal/en/kb/desk/customization/modules/articles/creating-custom-modules' target='_blank'>Custom Module</a> allows users to organize, store, and manage specific types of data tailored to meet unique business requirements.",
        "operationId" : "createModule",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "departmentIds", "isDeptSpecific", "pluralLabel", "profileIds", "singularLabel" ],
                "properties" : {
                  "description" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "profileIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "isDeptSpecific" : { },
                  "pluralLabel" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "departmentIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "singularLabel" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "description" : "Doctor informations",
                    "profileIds" : [ 1000000029530 ],
                    "isDeptSpecific" : true,
                    "pluralLabel" : "Doctors",
                    "departmentIds" : [ 1000000774623, 1000000025632 ],
                    "singularLabel" : "Doctor"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "moduleJsonIncludingCustomModule template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "apiName", "createdBy", "createdTime", "description", "displayLabel", "hasRecycleBin", "id", "isCustomModule", "isDeptSpecific", "modifiedBy", "modifiedTime", "modifier", "nameField", "pluralLabel", "singularLabel" ],
                    "properties" : {
                      "displayLabel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "apiName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "modifier" : {
                        "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "description" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "nameField" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "pluralLabel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "singularLabel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "hasRecycleBin" : { },
                      "createdBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "isCustomModule" : { },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "isDeptSpecific" : { },
                      "modifiedBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "departmentIds", "profileIds" ],
                    "properties" : {
                      "profileIds" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : [ { } ]
                        }
                      },
                      "departmentIds" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : [ { } ]
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "displayLabel" : "Doctors",
                      "modifiedTime" : 1713519302000,
                      "apiName" : "cm_doctors",
                      "modifier" : {
                        "firstName" : "",
                        "lastName" : "Kyle",
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/4000000000329/photo?orgId=3981311",
                        "id" : "4000000000329",
                        "email" : "kyle@zylker.com"
                      },
                      "nameField" : "name",
                      "profileIds" : [ "1000000029530" ],
                      "description" : "Doctor informations",
                      "departmentIds" : [ "1000000774623", "1000000025632" ],
                      "pluralLabel" : "Doctors",
                      "singularLabel" : "Doctor",
                      "hasRecycleBin" : true,
                      "createdBy" : "1000000000375",
                      "isCustomModule" : true,
                      "createdTime" : 1713517457000,
                      "modifiedBy" : "1000000000375",
                      "isDeptSpecific" : true,
                      "id" : "1000003000001"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
[...]
