{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "NewCriteria",
    "version" : "1.0.0",
    "x-clan-group" : "common",
    "x-module-group" : "views"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/criteriaFields" : {
      "get" : {
        "tags" : [ "NewCriteria" ],
        "summary" : "List Criteria Fields",
        "description" : "This API list the fields & its comparators allowed in criteria form for the specified module & feature name. Available condition types are @text@,@date@,@datetime@,@dateTimePair@,@integer@,@user@,@team@,@boolean@,@lookup@,@keyword@,@enum@ & @picklist@",
        "operationId" : "getCriteria",
        "parameters" : [ {
          "name" : "featureName",
          "in" : "query",
          "description" : "feature name to be fetched. Allowed values are : @bp_criteria_fields@, @bp_configurefields@,@direct_assignrules@,@roundrobin@,@sla@,@supervise_fields@,@wf@,@cv_criteria@,@report_criteria@,@report_standard_filter@,@layoutrules_primaryfields@,@validationrules_primaryfields@,@layoutrules_secondaryfields@,@validationrules_secondaryfields@,@advanced_search_criteria@,@gamification@,@skill_criteria_fields@,@dotwalk@,@bulk_ui_export_fields@,@automation_engine@, @locked_tickets_fields@.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "feature name to be fetched. Allowed values are : @bp_criteria_fields@, @bp_configurefields@,@direct_assignrules@,@roundrobin@,@sla@,@supervise_fields@,@wf@,@cv_criteria@,@report_criteria@,@report_standard_filter@,@layoutrules_primaryfields@,@validationrules_primaryfields@,@layoutrules_secondaryfields@,@validationrules_secondaryfields@,@advanced_search_criteria@,@gamification@,@skill_criteria_fields@,@dotwalk@,@bulk_ui_export_fields@,@automation_engine@, @locked_tickets_fields@.",
            "enum" : [ "bp_criteria_fields", "bp_configurefields", "direct_assignrules", "roundrobin", "sla", "supervise_fields", "wf", "cv_criteria", "report_criteria", "report_standard_filter", "layoutrules_primaryfields", "validationrules_primaryfields", "layoutrules_secondaryfields", "validationrules_secondaryfields", "advanced_search_criteria", "gamification", "skill_criteria_fields", "dotwalk", "bulk_ui_export_fields", "locked_tickets_fields" ],
            "x-custom-parameters-attributes" : {
              "entity" : "NewCriteria"
            }
          }
        }, {
          "name" : "module",
          "in" : "query",
          "description" : "Allowed values are : @tickets@, @tasks@,@contacts@, @accounts@,@contracts@, @products@,@activities@,@calls@,@events@,@timeEntry@  and @Custom modules@.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Allowed values are : @tickets@, @tasks@,@contacts@, @accounts@,@contracts@, @products@,@activities@,@calls@,@events@,@timeEntry@  and @Custom modules@.",
            "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "products", "calls", "events" ],
            "x-custom-parameters-attributes" : {
              "entity" : "NewCriteria"
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "Allowed values are : @Valid Department Id@.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Allowed values are : @Valid Department Id@.",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "entity" : "NewCriteria"
            }
          }
        }, {
          "name" : "layoutId",
          "in" : "query",
          "description" : "Allowed values are : @Valid Layout Id@.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Allowed values are : @Valid Layout Id@.",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "entity" : "NewCriteria"
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getCriteriaResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "criteriaFields" ],
                  "properties" : {
                    "criteriaFields" : {
                      "items" : {
                        "required" : [ "displayLabel", "fieldDetails", "name" ],
                        "properties" : {
                          "displayLabel" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "Tickets", "Contacts", "Accounts", "Tasks", "Solutions", "Products", "Contracts", "Calls - Call Information", "Events - Event Information", "Activities", "TimeEntry", "Cases", "Calls", "Events" ]
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "tickets", "contacts", "products", "accounts", "tasks", "timeEntry", "contracts", "calls", "events", "activities" ]
                          },
                          "fieldDetails" : {
                            "items" : {
                              "required" : [ "apiName", "i18NLabel", "id", "primitiveConditions", "type" ],
                              "properties" : {
                                "apiName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "i18NLabel" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "primitiveConditions" : {
                                  "items" : {
                                    "oneOf" : [ {
                                      "required" : [ "condition", "conditionType", "i18NCondition" ],
                                      "properties" : {
                                        "condition" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "conditionType" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "enum" : [ "boolean", "date", "dateTime", "dateTimePair", "integer", "keyword", "lookup", "picklist", "team", "text", "user" ]
                                        },
                                        "i18NCondition" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|=|<|<=|>|>=|<>"
                                        }
                                      },
                                      "additionalProperties" : false
                                    }, {
                                      "additionalProperties" : false,
                                      "allOf" : [ {
                                        "required" : [ "condition", "conditionType", "i18NCondition" ],
                                        "properties" : {
                                          "condition" : {
                                            "maxLength" : 100,
                                            "minLength" : 0
                                          },
                                          "conditionType" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "enum" : [ "boolean", "date", "dateTime", "dateTimePair", "integer", "keyword", "lookup", "picklist", "team", "text", "user" ]
                                          },
                                          "i18NCondition" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|=|<|<=|>|>=|<>"
                                          }
                                        },
                                        "additionalProperties" : false
                                      }, {
                                        "required" : [ "allowedValues" ],
                                        "properties" : {
                                          "allowedValues" : {
                                            "uniqueItems" : false,
                                            "items" : {
                                              "maxLength" : 100,
                                              "minLength" : 0
                                            }
                                          }
                                        }
                                      } ]
                                    }, {
                                      "additionalProperties" : false,
                                      "allOf" : [ {
                                        "required" : [ "condition", "conditionType", "i18NCondition" ],
                                        "properties" : {
                                          "condition" : {
                                            "maxLength" : 100,
                                            "minLength" : 0
                                          },
                                          "conditionType" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "enum" : [ "boolean", "date", "dateTime", "dateTimePair", "integer", "keyword", "lookup", "picklist", "team", "text", "user" ]
                                          },
                                          "i18NCondition" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|=|<|<=|>|>=|<>"
                                          }
                                        },
                                        "additionalProperties" : false
                                      }, {
                                        "required" : [ "url" ],
                                        "properties" : {
                                          "url" : {
                                            "maxLength" : 1000,
                                            "minLength" : 0,
                                            "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                                          }
                                        }
                                      } ]
                                    }, {
                                      "additionalProperties" : false,
                                      "allOf" : [ {
                                        "required" : [ "condition", "conditionType", "i18NCondition" ],
                                        "properties" : {
                                          "condition" : {
                                            "maxLength" : 100,
                                            "minLength" : 0
                                          },
                                          "conditionType" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "enum" : [ "boolean", "date", "dateTime", "dateTimePair", "integer", "keyword", "lookup", "picklist", "team", "text", "user" ]
                                          },
                                          "i18NCondition" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|=|<|<=|>|>=|<>"
                                          }
                                        },
                                        "additionalProperties" : false
                                      }, {
                                        "required" : [ "secondaryCondition", "units" ],
                                        "properties" : {
                                          "secondaryCondition" : {
                                            "items" : {
                                              "required" : [ "condition", "conditionType", "i18NCondition" ],
                                              "properties" : {
                                                "condition" : {
                                                  "maxLength" : 100,
                                                  "minLength" : 0
                                                },
                                                "conditionType" : {
                                                  "maxLength" : 100,
                                                  "minLength" : 0,
                                                  "enum" : [ "boolean", "date", "dateTime", "dateTimePair", "integer", "keyword", "lookup", "picklist", "team", "text", "user" ]
                                                },
                                                "i18NCondition" : {
                                                  "maxLength" : 100,
                                                  "minLength" : 0,
                                                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|=|<|<=|>|>=|<>"
                                                }
                                              },
                                              "additionalProperties" : false
                                            }
                                          },
                                          "units" : {
                                            "items" : {
                                              "required" : [ "i18NUnit", "unit" ],
                                              "properties" : {
                                                "unit" : {
                                                  "maxLength" : 100,
                                                  "minLength" : 0,
                                                  "enum" : [ "MINUTES", "HOURS", "DAYS" ]
                                                },
                                                "i18NUnit" : {
                                                  "maxLength" : 100,
                                                  "minLength" : 0,
                                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                                }
                                              },
                                              "additionalProperties" : false
                                            }
                                          }
                                        }
                                      } ]
                                    } ]
                                  }
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "text", "Text", "Number", "number", "AutoNumber", "autoNumber", "Percent", "percent", "Decimal", "decimal", "Currency", "currency", "Date", "date", "DateTime", "dateTime", "Email", "email", "Phone", "phone", "Picklist", "picklist", "pickList", "URL", "url", "Textarea", "textarea", "textArea", "Boolean", "boolean", "Multiselect", "multiselect", "multiSelect", "LookUp", "lookUp", "Lookup", "lookup", "Fax", "fax", "MultiLookup", "multiLookup", "PrimaryIdentifier", "primaryIdentifier", "user", "User", "integer", "Integer", "Formula", "formula", "team", "Team" ]
                                },
                                "fieldLabel" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "fieldType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                }
                              },
                              "additionalProperties" : false
                            }
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "criteriaFields" : [ {
                        "displayLabel" : "Cases",
                        "name" : "tickets",
                        "fieldDetails" : [ {
                          "apiName" : "email",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "text",
                            "i18NCondition" : "is"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "text",
                            "i18NCondition" : "isn't"
                          }, {
                            "condition" : "starts with",
                            "conditionType" : "text",
                            "i18NCondition" : "starts with"
                          }, {
                            "condition" : "ends with",
                            "conditionType" : "text",
                            "i18NCondition" : "ends with"
                          }, {
                            "condition" : "contains",
                            "conditionType" : "text",
                            "i18NCondition" : "contains"
                          }, {
                            "condition" : "doesn't contain",
                            "conditionType" : "text",
                            "i18NCondition" : "doesn't contain"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Email",
                          "id" : "7000000000849",
                          "type" : "Email"
                        }, {
                          "apiName" : "closedTime",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "dateTime",
                            "i18NCondition" : "is"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "dateTime",
                            "i18NCondition" : "isn't"
                          }, {
                            "condition" : "is after",
                            "conditionType" : "dateTime",
                            "i18NCondition" : "is after"
                          }, {
                            "condition" : "is before",
                            "conditionType" : "dateTime",
                            "i18NCondition" : "is before"
                          }, {
                            "condition" : "between",
                            "conditionType" : "dateTimePair",
                            "i18NCondition" : "between"
                          }, {
                            "condition" : "not between",
                            "conditionType" : "dateTimePair",
                            "i18NCondition" : "not between"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          }, {
                            "condition" : "Age in",
                            "conditionType" : "integer",
                            "secondaryCondition" : [ {
                              "condition" : "=",
                              "conditionType" : "integer",
                              "i18NCondition" : "="
                            }, {
                              "condition" : "<>",
                              "conditionType" : "integer",
                              "i18NCondition" : "<>"
                            }, {
                              "condition" : "<",
                              "conditionType" : "integer",
                              "i18NCondition" : "<"
                            }, {
                              "condition" : "<=",
                              "conditionType" : "integer",
                              "i18NCondition" : "<="
                            }, {
                              "condition" : ">",
                              "conditionType" : "integer",
                              "i18NCondition" : ">"
                            }, {
                              "condition" : ">=",
                              "conditionType" : "integer",
                              "i18NCondition" : ">="
                            } ],
                            "units" : [ {
                              "unit" : "MINUTES",
                              "i18NUnit" : "Minutes"
                            }, {
                              "unit" : "HOURS",
                              "i18NUnit" : "Hours"
                            }, {
                              "unit" : "DAYS",
                              "i18NUnit" : "Days"
                            } ],
                            "i18NCondition" : "Age in"
                          }, {
                            "condition" : "Due in",
                            "conditionType" : "integer",
                            "secondaryCondition" : [ {
                              "condition" : "=",
                              "conditionType" : "integer",
                              "i18NCondition" : "="
                            }, {
                              "condition" : "<>",
                              "conditionType" : "integer",
                              "i18NCondition" : "<>"
                            }, {
                              "condition" : "<",
                              "conditionType" : "integer",
                              "i18NCondition" : "<"
                            }, {
                              "condition" : "<=",
                              "conditionType" : "integer",
                              "i18NCondition" : "<="
                            }, {
                              "condition" : ">",
                              "conditionType" : "integer",
                              "i18NCondition" : ">"
                            }, {
                              "condition" : ">=",
                              "conditionType" : "integer",
                              "i18NCondition" : ">="
                            } ],
                            "units" : [ {
                              "unit" : "MINUTES",
                              "i18NUnit" : "Minutes"
                            }, {
                              "unit" : "HOURS",
                              "i18NUnit" : "Hours"
                            }, {
                              "unit" : "DAYS",
                              "i18NUnit" : "Days"
                            } ],
                            "i18NCondition" : "Due in"
                          } ],
                          "i18NLabel" : "Ticket Closed Time",
                          "id" : "7000000000871",
                          "type" : "DateTime"
                        }, {
                          "apiName" : "happinessRating",
                          "primitiveConditions" : [ {
                            "condition" : "is received",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is received"
                          }, {
                            "condition" : "is not received",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not received"
                          }, {
                            "condition" : "link provided",
                            "conditionType" : "keyword",
                            "i18NCondition" : "link provided"
                          }, {
                            "condition" : "link not provided",
                            "conditionType" : "keyword",
                            "i18NCondition" : "link not provided"
                          }, {
                            "condition" : "is",
                            "conditionType" : "picklist",
                            "i18NCondition" : "is",
                            "url" : "https://desk.zoho.com/api/v1/customerHappinessSetup?orgId=15620974&departmentId=7000000018484"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "picklist",
                            "i18NCondition" : "isn't",
                            "url" : "https://desk.zoho.com/api/v1/customerHappinessSetup?orgId=15620974&departmentId=7000000018484"
                          } ],
                          "i18NLabel" : "Happiness Rating",
                          "id" : "7000000000897",
                          "type" : "Text"
                        }, {
                          "apiName" : "category",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "picklist",
                            "i18NCondition" : "is",
                            "url" : "https://desk.zoho.com/api/v1/organizationFields/7000000000947/values?orgId=15620974&from=0&limit=50"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "picklist",
                            "i18NCondition" : "isn't",
                            "url" : "https://desk.zoho.com/api/v1/organizationFields/7000000000947/values?orgId=15620974&from=0&limit=50"
                          }, {
                            "condition" : "starts with",
                            "conditionType" : "text",
                            "i18NCondition" : "starts with"
                          }, {
                            "condition" : "ends with",
                            "conditionType" : "text",
                            "i18NCondition" : "ends with"
                          }, {
                            "condition" : "contains",
                            "conditionType" : "text",
                            "i18NCondition" : "contains"
                          }, {
                            "condition" : "doesn't contain",
                            "conditionType" : "text",
                            "i18NCondition" : "doesn't contain"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Category",
                          "id" : "7000000000947",
                          "type" : "Picklist"
                        }, {
                          "apiName" : "teamId",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "team",
                            "i18NCondition" : "is",
                            "url" : "https://desk.zoho.com/api/v1/teams?orgId=15620974"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "team",
                            "i18NCondition" : "isn't",
                            "url" : "https://desk.zoho.com/api/v1/teams?orgId=15620974"
                          }, {
                            "condition" : "has agents",
                            "conditionType" : "user",
                            "i18NCondition" : "has agents",
                            "url" : "https://desk.zoho.com/api/v1/agents?orgId=15620974&from=0&limit=100&status=ACTIVE&isConfirmed=true&rolePermissionType=$%7BNON_LIGHT%7D"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Team",
                          "id" : "7000000000901",
                          "type" : "LookUp"
                        }, {
                          "apiName" : "phone",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "text",
                            "i18NCondition" : "is"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "text",
                            "i18NCondition" : "isn't"
                          }, {
                            "condition" : "starts with",
                            "conditionType" : "text",
                            "i18NCondition" : "starts with"
                          }, {
                            "condition" : "ends with",
                            "conditionType" : "text",
                            "i18NCondition" : "ends with"
                          }, {
                            "condition" : "contains",
                            "conditionType" : "text",
                            "i18NCondition" : "contains"
                          }, {
                            "condition" : "doesn't contain",
                            "conditionType" : "text",
                            "i18NCondition" : "doesn't contain"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Phone",
                          "id" : "7000000000851",
                          "type" : "Phone"
                        }, {
                          "apiName" : "threadCount",
                          "primitiveConditions" : [ {
                            "condition" : "=",
                            "conditionType" : "integer",
                            "i18NCondition" : "="
                          }, {
                            "condition" : "<>",
                            "conditionType" : "integer",
                            "i18NCondition" : "<>"
                          }, {
                            "condition" : "<",
                            "conditionType" : "integer",
                            "i18NCondition" : "<"
                          }, {
                            "condition" : "<=",
                            "conditionType" : "integer",
                            "i18NCondition" : "<="
                          }, {
                            "condition" : ">",
                            "conditionType" : "integer",
                            "i18NCondition" : ">"
                          }, {
                            "condition" : ">=",
                            "conditionType" : "integer",
                            "i18NCondition" : ">="
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Number of Threads",
                          "id" : "7000000000889",
                          "type" : "Number"
                        }, {
                          "apiName" : "subject",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "text",
                            "i18NCondition" : "is"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "text",
                            "i18NCondition" : "isn't"
                          }, {
                            "condition" : "starts with",
                            "conditionType" : "text",
                            "i18NCondition" : "starts with"
                          }, {
                            "condition" : "ends with",
                            "conditionType" : "text",
                            "i18NCondition" : "ends with"
                          }, {
                            "condition" : "contains",
                            "conditionType" : "text",
                            "i18NCondition" : "contains"
                          }, {
                            "condition" : "doesn't contain",
                            "conditionType" : "text",
                            "i18NCondition" : "doesn't contain"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Subject",
                          "id" : "7000000000853",
                          "type" : "Text"
                        }, {
                          "apiName" : "language",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "picklist",
                            "i18NCondition" : "is",
                            "url" : "https://desk.zoho.com/api/v1/organizationFields/7000000000949/values?orgId=15620974&from=0&limit=50"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "picklist",
                            "i18NCondition" : "isn't",
                            "url" : "https://desk.zoho.com/api/v1/organizationFields/7000000000949/values?orgId=15620974&from=0&limit=50"
                          }, {
                            "condition" : "starts with",
                            "conditionType" : "text",
                            "i18NCondition" : "starts with"
                          }, {
                            "condition" : "ends with",
                            "conditionType" : "text",
                            "i18NCondition" : "ends with"
                          }, {
                            "condition" : "contains",
                            "conditionType" : "text",
                            "i18NCondition" : "contains"
                          }, {
                            "condition" : "doesn't contain",
                            "conditionType" : "text",
                            "i18NCondition" : "doesn't contain"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Language",
                          "id" : "7000000000949",
                          "type" : "Picklist"
                        }, {
                          "apiName" : "status",
                          "primitiveConditions" : [ {
                            "condition" : "is OPEN",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is OPEN"
                          }, {
                            "condition" : "is ON HOLD",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is ON HOLD"
                          }, {
                            "condition" : "is CLOSED",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is CLOSED"
                          }, {
                            "condition" : "is",
                            "conditionType" : "picklist",
                            "i18NCondition" : "is",
                            "url" : "https://desk.zoho.com/api/v1/organizationFields/7000000000857/values?orgId=15620974&from=0&limit=50"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "picklist",
                            "i18NCondition" : "isn't",
                            "url" : "https://desk.zoho.com/api/v1/organizationFields/7000000000857/values?orgId=15620974&from=0&limit=50"
                          }, {
                            "condition" : "starts with",
                            "conditionType" : "text",
                            "i18NCondition" : "starts with"
                          }, {
                            "condition" : "ends with",
                            "conditionType" : "text",
                            "i18NCondition" : "ends with"
                          }, {
                            "condition" : "contains",
                            "conditionType" : "text",
                            "i18NCondition" : "contains"
                          }, {
                            "condition" : "doesn't contain",
                            "conditionType" : "text",
                            "i18NCondition" : "doesn't contain"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Status",
                          "id" : "7000000000857",
                          "type" : "Picklist"
                        }, {
                          "apiName" : "sentiment",
                          "primitiveConditions" : [ {
                            "allowedValues" : [ "Positive", "Neutral", "Negative" ],
                            "condition" : "is",
                            "conditionType" : "picklist",
                            "i18NCondition" : "is"
                          }, {
                            "allowedValues" : [ "Positive", "Neutral", "Negative" ],
                            "condition" : "isn't",
                            "conditionType" : "picklist",
                            "i18NCondition" : "isn't"
                          } ],
                          "i18NLabel" : "Sentiment",
                          "id" : "7000000000893",
                          "type" : "Text"
                        }, {
                          "apiName" : "isOverdue",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "boolean",
                            "i18NCondition" : "is"
                          } ],
                          "i18NLabel" : "Is Overdue",
                          "id" : "7000000000935",
                          "type" : "Boolean"
                        }, {
                          "apiName" : "resolution",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "text",
                            "i18NCondition" : "is"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "text",
                            "i18NCondition" : "isn't"
                          }, {
                            "condition" : "starts with",
                            "conditionType" : "text",
                            "i18NCondition" : "starts with"
                          }, {
                            "condition" : "ends with",
                            "conditionType" : "text",
                            "i18NCondition" : "ends with"
                          }, {
                            "condition" : "contains",
                            "conditionType" : "text",
                            "i18NCondition" : "contains"
                          }, {
                            "condition" : "doesn't contain",
                            "conditionType" : "text",
                            "i18NCondition" : "doesn't contain"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Resolution",
                          "id" : "7000000000941",
                          "type" : "Textarea"
                        }, {
                          "apiName" : "createdTime",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "dateTime",
                            "i18NCondition" : "is"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "dateTime",
                            "i18NCondition" : "isn't"
                          }, {
                            "condition" : "is after",
                            "conditionType" : "dateTime",
                            "i18NCondition" : "is after"
                          }, {
                            "condition" : "is before",
                            "conditionType" : "dateTime",
                            "i18NCondition" : "is before"
                          }, {
                            "condition" : "between",
                            "conditionType" : "dateTimePair",
                            "i18NCondition" : "between"
                          }, {
                            "condition" : "not between",
                            "conditionType" : "dateTimePair",
                            "i18NCondition" : "not between"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          }, {
                            "condition" : "Age in",
                            "conditionType" : "integer",
                            "secondaryCondition" : [ {
                              "condition" : "=",
                              "conditionType" : "integer",
                              "i18NCondition" : "="
                            }, {
                              "condition" : "<>",
                              "conditionType" : "integer",
                              "i18NCondition" : "<>"
                            }, {
                              "condition" : "<",
                              "conditionType" : "integer",
                              "i18NCondition" : "<"
                            }, {
                              "condition" : "<=",
                              "conditionType" : "integer",
                              "i18NCondition" : "<="
                            }, {
                              "condition" : ">",
                              "conditionType" : "integer",
                              "i18NCondition" : ">"
                            }, {
                              "condition" : ">=",
                              "conditionType" : "integer",
                              "i18NCondition" : ">="
                            } ],
                            "units" : [ {
                              "unit" : "MINUTES",
                              "i18NUnit" : "Minutes"
                            }, {
                              "unit" : "HOURS",
                              "i18NUnit" : "Hours"
                            }, {
                              "unit" : "DAYS",
                              "i18NUnit" : "Days"
                            } ],
                            "i18NCondition" : "Age in"
                          }, {
                            "condition" : "Due in",
                            "conditionType" : "integer",
                            "secondaryCondition" : [ {
                              "condition" : "=",
                              "conditionType" : "integer",
                              "i18NCondition" : "="
                            }, {
                              "condition" : "<>",
                              "conditionType" : "integer",
                              "i18NCondition" : "<>"
                            }, {
                              "condition" : "<",
                              "conditionType" : "integer",
                              "i18NCondition" : "<"
                            }, {
                              "condition" : "<=",
                              "conditionType" : "integer",
                              "i18NCondition" : "<="
                            }, {
                              "condition" : ">",
                              "conditionType" : "integer",
                              "i18NCondition" : ">"
                            }, {
                              "condition" : ">=",
                              "conditionType" : "integer",
                              "i18NCondition" : ">="
                            } ],
                            "units" : [ {
                              "unit" : "MINUTES",
                              "i18NUnit" : "Minutes"
                            }, {
                              "unit" : "HOURS",
                              "i18NUnit" : "Hours"
                            }, {
                              "unit" : "DAYS",
                              "i18NUnit" : "Days"
                            } ],
                            "i18NCondition" : "Due in"
                          } ],
                          "i18NLabel" : "Created Time",
                          "id" : "7000000000867",
                          "type" : "DateTime"
                        }, {
                          "apiName" : "onholdTime",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "dateTime",
                            "i18NCondition" : "is"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "dateTime",
                            "i18NCondition" : "isn't"
                          }, {
                            "condition" : "is after",
                            "conditionType" : "dateTime",
                            "i18NCondition" : "is after"
                          }, {
                            "condition" : "is before",
                            "conditionType" : "dateTime",
                            "i18NCondition" : "is before"
                          }, {
                            "condition" : "between",
                            "conditionType" : "dateTimePair",
                            "i18NCondition" : "between"
                          }, {
                            "condition" : "not between",
                            "conditionType" : "dateTimePair",
                            "i18NCondition" : "not between"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          }, {
                            "condition" : "Age in",
                            "conditionType" : "integer",
                            "secondaryCondition" : [ {
                              "condition" : "=",
                              "conditionType" : "integer",
                              "i18NCondition" : "="
                            }, {
                              "condition" : "<>",
                              "conditionType" : "integer",
                              "i18NCondition" : "<>"
                            }, {
                              "condition" : "<",
                              "conditionType" : "integer",
                              "i18NCondition" : "<"
                            }, {
                              "condition" : "<=",
                              "conditionType" : "integer",
                              "i18NCondition" : "<="
                            }, {
                              "condition" : ">",
                              "conditionType" : "integer",
                              "i18NCondition" : ">"
                            }, {
                              "condition" : ">=",
                              "conditionType" : "integer",
                              "i18NCondition" : ">="
                            } ],
                            "units" : [ {
                              "unit" : "MINUTES",
                              "i18NUnit" : "Minutes"
                            }, {
                              "unit" : "HOURS",
                              "i18NUnit" : "Hours"
                            }, {
                              "unit" : "DAYS",
                              "i18NUnit" : "Days"
                            } ],
                            "i18NCondition" : "Age in"
                          }, {
                            "condition" : "Due in",
                            "conditionType" : "integer",
                            "secondaryCondition" : [ {
                              "condition" : "=",
                              "conditionType" : "integer",
                              "i18NCondition" : "="
                            }, {
                              "condition" : "<>",
                              "conditionType" : "integer",
                              "i18NCondition" : "<>"
                            }, {
                              "condition" : "<",
                              "conditionType" : "integer",
                              "i18NCondition" : "<"
                            }, {
                              "condition" : "<=",
                              "conditionType" : "integer",
                              "i18NCondition" : "<="
                            }, {
                              "condition" : ">",
                              "conditionType" : "integer",
                              "i18NCondition" : ">"
                            }, {
                              "condition" : ">=",
                              "conditionType" : "integer",
                              "i18NCondition" : ">="
                            } ],
                            "units" : [ {
                              "unit" : "MINUTES",
                              "i18NUnit" : "Minutes"
                            }, {
                              "unit" : "HOURS",
                              "i18NUnit" : "Hours"
                            }, {
                              "unit" : "DAYS",
                              "i18NUnit" : "Days"
                            } ],
                            "i18NCondition" : "Due in"
                          } ],
                          "i18NLabel" : "Ticket On Hold Time",
                          "id" : "7000000000869",
                          "type" : "DateTime"
                        }, {
                          "apiName" : "toAddress",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "text",
                            "i18NCondition" : "is"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "text",
                            "i18NCondition" : "isn't"
                          }, {
                            "condition" : "starts with",
                            "conditionType" : "text",
                            "i18NCondition" : "starts with"
                          }, {
                            "condition" : "ends with",
                            "conditionType" : "text",
                            "i18NCondition" : "ends with"
                          }, {
                            "condition" : "contains",
                            "conditionType" : "text",
                            "i18NCondition" : "contains"
                          }, {
                            "condition" : "doesn't contain",
                            "conditionType" : "text",
                            "i18NCondition" : "doesn't contain"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "To Address",
                          "id" : "7000000000885",
                          "type" : "Text"
                        }, {
                          "apiName" : "isResponseOverdue",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "boolean",
                            "i18NCondition" : "is"
                          } ],
                          "i18NLabel" : "Is Response Overdue",
                          "id" : "7000000000837",
                          "type" : "Boolean"
                        }, {
                          "apiName" : "assigneeId",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "user",
                            "i18NCondition" : "is",
                            "url" : "https://desk.zoho.com/api/v1/agents?orgId=15620974&from=0&limit=100&status=ACTIVE&isConfirmed=true&rolePermissionType=$%7BNON_LIGHT%7D"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "user",
                            "i18NCondition" : "isn't",
                            "url" : "https://desk.zoho.com/api/v1/agents?orgId=15620974&from=0&limit=100&status=ACTIVE&isConfirmed=true&rolePermissionType=$%7BNON_LIGHT%7D"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Ticket Owner",
                          "id" : "7000000000861",
                          "type" : "LookUp"
                        }, {
                          "apiName" : "priority",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "picklist",
                            "i18NCondition" : "is",
                            "url" : "https://desk.zoho.com/api/v1/organizationFields/7000000000931/values?orgId=15620974&from=0&limit=50"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "picklist",
                            "i18NCondition" : "isn't",
                            "url" : "https://desk.zoho.com/api/v1/organizationFields/7000000000931/values?orgId=15620974&from=0&limit=50"
                          }, {
                            "condition" : "starts with",
                            "conditionType" : "text",
                            "i18NCondition" : "starts with"
                          }, {
                            "condition" : "ends with",
                            "conditionType" : "text",
                            "i18NCondition" : "ends with"
                          }, {
                            "condition" : "contains",
                            "conditionType" : "text",
                            "i18NCondition" : "contains"
                          }, {
                            "condition" : "doesn't contain",
                            "conditionType" : "text",
                            "i18NCondition" : "doesn't contain"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Priority",
                          "id" : "7000000000931",
                          "type" : "Picklist"
                        }, {
                          "apiName" : "contactId",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "lookup",
                            "i18NCondition" : "is",
                            "url" : "https://desk.zoho.com/api/v1/contacts?orgId=15620974&from=0&limit=50&sortBy=lastName&include=accounts"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "lookup",
                            "i18NCondition" : "isn't",
                            "url" : "https://desk.zoho.com/api/v1/contacts?orgId=15620974&from=0&limit=50&sortBy=lastName&include=accounts"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Contact Name",
                          "id" : "7000000000847",
                          "type" : "LookUp"
                        }, {
                          "apiName" : "modifiedBy",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "user",
                            "i18NCondition" : "is",
                            "url" : "https://desk.zoho.com/api/v1/agents?orgId=15620974&from=0&limit=100&status=ACTIVE&isConfirmed=true&rolePermissionType=$%7BNON_LIGHT%7D"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "user",
                            "i18NCondition" : "isn't",
                            "url" : "https://desk.zoho.com/api/v1/agents?orgId=15620974&from=0&limit=100&status=ACTIVE&isConfirmed=true&rolePermissionType=$%7BNON_LIGHT%7D"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Modified By",
                          "id" : "7000000000865",
                          "type" : "LookUp"
                        }, {
                          "apiName" : "modifiedTime",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "dateTime",
                            "i18NCondition" : "is"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "dateTime",
                            "i18NCondition" : "isn't"
                          }, {
                            "condition" : "is after",
                            "conditionType" : "dateTime",
                            "i18NCondition" : "is after"
                          }, {
                            "condition" : "is before",
                            "conditionType" : "dateTime",
                            "i18NCondition" : "is before"
                          }, {
                            "condition" : "between",
                            "conditionType" : "dateTimePair",
                            "i18NCondition" : "between"
                          }, {
                            "condition" : "not between",
                            "conditionType" : "dateTimePair",
                            "i18NCondition" : "not between"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          }, {
                            "condition" : "Age in",
                            "conditionType" : "integer",
                            "secondaryCondition" : [ {
                              "condition" : "=",
                              "conditionType" : "integer",
                              "i18NCondition" : "="
                            }, {
                              "condition" : "<>",
                              "conditionType" : "integer",
                              "i18NCondition" : "<>"
                            }, {
                              "condition" : "<",
                              "conditionType" : "integer",
                              "i18NCondition" : "<"
                            }, {
                              "condition" : "<=",
                              "conditionType" : "integer",
                              "i18NCondition" : "<="
                            }, {
                              "condition" : ">",
                              "conditionType" : "integer",
                              "i18NCondition" : ">"
                            }, {
                              "condition" : ">=",
                              "conditionType" : "integer",
                              "i18NCondition" : ">="
                            } ],
                            "units" : [ {
                              "unit" : "MINUTES",
                              "i18NUnit" : "Minutes"
                            }, {
                              "unit" : "HOURS",
                              "i18NUnit" : "Hours"
                            }, {
                              "unit" : "DAYS",
                              "i18NUnit" : "Days"
                            } ],
                            "i18NCondition" : "Age in"
                          }, {
                            "condition" : "Due in",
                            "conditionType" : "integer",
                            "secondaryCondition" : [ {
                              "condition" : "=",
                              "conditionType" : "integer",
                              "i18NCondition" : "="
                            }, {
                              "condition" : "<>",
                              "conditionType" : "integer",
                              "i18NCondition" : "<>"
                            }, {
                              "condition" : "<",
                              "conditionType" : "integer",
                              "i18NCondition" : "<"
                            }, {
                              "condition" : "<=",
                              "conditionType" : "integer",
                              "i18NCondition" : "<="
                            }, {
                              "condition" : ">",
                              "conditionType" : "integer",
                              "i18NCondition" : ">"
                            }, {
                              "condition" : ">=",
                              "conditionType" : "integer",
                              "i18NCondition" : ">="
                            } ],
                            "units" : [ {
                              "unit" : "MINUTES",
                              "i18NUnit" : "Minutes"
                            }, {
                              "unit" : "HOURS",
                              "i18NUnit" : "Hours"
                            }, {
                              "unit" : "DAYS",
                              "i18NUnit" : "Days"
                            } ],
                            "i18NCondition" : "Due in"
                          } ],
                          "i18NLabel" : "Modified Time",
                          "id" : "7000000000873",
                          "type" : "DateTime"
                        }, {
                          "apiName" : "productId",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "lookup",
                            "i18NCondition" : "is",
                            "url" : "https://desk.zoho.com/api/v1/products?orgId=15620974&from=0&limit=50&sortBy=productName"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "lookup",
                            "i18NCondition" : "isn't",
                            "url" : "https://desk.zoho.com/api/v1/products?orgId=15620974&from=0&limit=50&sortBy=productName"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Product Name",
                          "id" : "7000000000859",
                          "type" : "LookUp"
                        }, {
                          "apiName" : "ticketNumber",
                          "primitiveConditions" : [ {
                            "condition" : "=",
                            "conditionType" : "integer",
                            "i18NCondition" : "="
                          }, {
                            "condition" : "<>",
                            "conditionType" : "integer",
                            "i18NCondition" : "<>"
                          }, {
                            "condition" : "<",
                            "conditionType" : "integer",
                            "i18NCondition" : "<"
                          }, {
                            "condition" : "<=",
                            "conditionType" : "integer",
                            "i18NCondition" : "<="
                          }, {
                            "condition" : ">",
                            "conditionType" : "integer",
                            "i18NCondition" : ">"
                          }, {
                            "condition" : ">=",
                            "conditionType" : "integer",
                            "i18NCondition" : ">="
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Ticket Id",
                          "id" : "7000000000879",
                          "type" : "AutoNumber"
                        }, {
                          "apiName" : "classification",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "picklist",
                            "i18NCondition" : "is",
                            "url" : "https://desk.zoho.com/api/v1/organizationFields/7000000000939/values?orgId=15620974&from=0&limit=50"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "picklist",
                            "i18NCondition" : "isn't",
                            "url" : "https://desk.zoho.com/api/v1/organizationFields/7000000000939/values?orgId=15620974&from=0&limit=50"
                          }, {
                            "condition" : "starts with",
                            "conditionType" : "text",
                            "i18NCondition" : "starts with"
                          }, {
                            "condition" : "ends with",
                            "conditionType" : "text",
                            "i18NCondition" : "ends with"
                          }, {
                            "condition" : "contains",
                            "conditionType" : "text",
                            "i18NCondition" : "contains"
                          }, {
                            "condition" : "doesn't contain",
                            "conditionType" : "text",
                            "i18NCondition" : "doesn't contain"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Classifications",
                          "id" : "7000000000939",
                          "type" : "Picklist"
                        }, {
                          "apiName" : "channel",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "picklist",
                            "i18NCondition" : "is",
                            "url" : "https://desk.zoho.com/api/v1/organizationFields/7000000000933/values?orgId=15620974&from=0&limit=50"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "picklist",
                            "i18NCondition" : "isn't",
                            "url" : "https://desk.zoho.com/api/v1/organizationFields/7000000000933/values?orgId=15620974&from=0&limit=50"
                          }, {
                            "condition" : "starts with",
                            "conditionType" : "text",
                            "i18NCondition" : "starts with"
                          }, {
                            "condition" : "ends with",
                            "conditionType" : "text",
                            "i18NCondition" : "ends with"
                          }, {
                            "condition" : "contains",
                            "conditionType" : "text",
                            "i18NCondition" : "contains"
                          }, {
                            "condition" : "doesn't contain",
                            "conditionType" : "text",
                            "i18NCondition" : "doesn't contain"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Channel",
                          "id" : "7000000000933",
                          "type" : "Picklist"
                        }, {
                          "apiName" : "subCategory",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "picklist",
                            "i18NCondition" : "is",
                            "url" : "https://desk.zoho.com/api/v1/organizationFields/7000000000951/values?orgId=15620974&from=0&limit=50"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "picklist",
                            "i18NCondition" : "isn't",
                            "url" : "https://desk.zoho.com/api/v1/organizationFields/7000000000951/values?orgId=15620974&from=0&limit=50"
                          }, {
                            "condition" : "starts with",
                            "conditionType" : "text",
                            "i18NCondition" : "starts with"
                          }, {
                            "condition" : "ends with",
                            "conditionType" : "text",
                            "i18NCondition" : "ends with"
                          }, {
                            "condition" : "contains",
                            "conditionType" : "text",
                            "i18NCondition" : "contains"
                          }, {
                            "condition" : "doesn't contain",
                            "conditionType" : "text",
                            "i18NCondition" : "doesn't contain"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Sub Category",
                          "id" : "7000000000951",
                          "type" : "Picklist"
                        }, {
                          "apiName" : "commentCount",
                          "primitiveConditions" : [ {
                            "condition" : "=",
                            "conditionType" : "integer",
                            "i18NCondition" : "="
                          }, {
                            "condition" : "<>",
                            "conditionType" : "integer",
                            "i18NCondition" : "<>"
                          }, {
                            "condition" : "<",
                            "conditionType" : "integer",
                            "i18NCondition" : "<"
                          }, {
                            "condition" : "<=",
                            "conditionType" : "integer",
                            "i18NCondition" : "<="
                          }, {
                            "condition" : ">",
                            "conditionType" : "integer",
                            "i18NCondition" : ">"
                          }, {
                            "condition" : ">=",
                            "conditionType" : "integer",
                            "i18NCondition" : ">="
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Number of Comments",
                          "id" : "7000000000895",
                          "type" : "Number"
                        }, {
                          "apiName" : "dueDate",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "dateTime",
                            "i18NCondition" : "is"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "dateTime",
                            "i18NCondition" : "isn't"
                          }, {
                            "condition" : "is after",
                            "conditionType" : "dateTime",
                            "i18NCondition" : "is after"
                          }, {
                            "condition" : "is before",
                            "conditionType" : "dateTime",
                            "i18NCondition" : "is before"
                          }, {
                            "condition" : "between",
                            "conditionType" : "dateTimePair",
                            "i18NCondition" : "between"
                          }, {
                            "condition" : "not between",
                            "conditionType" : "dateTimePair",
                            "i18NCondition" : "not between"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          }, {
                            "condition" : "Age in",
                            "conditionType" : "integer",
                            "secondaryCondition" : [ {
                              "condition" : "=",
                              "conditionType" : "integer",
                              "i18NCondition" : "="
                            }, {
                              "condition" : "<>",
                              "conditionType" : "integer",
                              "i18NCondition" : "<>"
                            }, {
                              "condition" : "<",
                              "conditionType" : "integer",
                              "i18NCondition" : "<"
                            }, {
                              "condition" : "<=",
                              "conditionType" : "integer",
                              "i18NCondition" : "<="
                            }, {
                              "condition" : ">",
                              "conditionType" : "integer",
                              "i18NCondition" : ">"
                            }, {
                              "condition" : ">=",
                              "conditionType" : "integer",
                              "i18NCondition" : ">="
                            } ],
                            "units" : [ {
                              "unit" : "MINUTES",
                              "i18NUnit" : "Minutes"
                            }, {
                              "unit" : "HOURS",
                              "i18NUnit" : "Hours"
                            }, {
                              "unit" : "DAYS",
                              "i18NUnit" : "Days"
                            } ],
                            "i18NCondition" : "Age in"
                          }, {
                            "condition" : "Due in",
                            "conditionType" : "integer",
                            "secondaryCondition" : [ {
                              "condition" : "=",
                              "conditionType" : "integer",
                              "i18NCondition" : "="
                            }, {
                              "condition" : "<>",
                              "conditionType" : "integer",
                              "i18NCondition" : "<>"
                            }, {
                              "condition" : "<",
                              "conditionType" : "integer",
                              "i18NCondition" : "<"
                            }, {
                              "condition" : "<=",
                              "conditionType" : "integer",
                              "i18NCondition" : "<="
                            }, {
                              "condition" : ">",
                              "conditionType" : "integer",
                              "i18NCondition" : ">"
                            }, {
                              "condition" : ">=",
                              "conditionType" : "integer",
                              "i18NCondition" : ">="
                            } ],
                            "units" : [ {
                              "unit" : "MINUTES",
                              "i18NUnit" : "Minutes"
                            }, {
                              "unit" : "HOURS",
                              "i18NUnit" : "Hours"
                            }, {
                              "unit" : "DAYS",
                              "i18NUnit" : "Days"
                            } ],
                            "i18NCondition" : "Due in"
                          } ],
                          "i18NLabel" : "Due Date",
                          "id" : "7000000000927",
                          "type" : "DateTime"
                        }, {
                          "apiName" : "responseDueDate",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "integer",
                            "i18NCondition" : "is"
                          }, {
                            "condition" : "is Less Than",
                            "conditionType" : "integer",
                            "i18NCondition" : "is Less Than"
                          }, {
                            "condition" : "is Greater Than",
                            "conditionType" : "integer",
                            "i18NCondition" : "is Greater Than"
                          } ],
                          "i18NLabel" : "Time to Respond",
                          "id" : "7000000000943",
                          "type" : "DateTime"
                        }, {
                          "apiName" : "accountId",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "lookup",
                            "i18NCondition" : "is",
                            "url" : "https://desk.zoho.com/api/v1/accounts?orgId=15620974&from=0&limit=50&sortBy=accountName"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "lookup",
                            "i18NCondition" : "isn't",
                            "url" : "https://desk.zoho.com/api/v1/accounts?orgId=15620974&from=0&limit=50&sortBy=accountName"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Account Name",
                          "id" : "7000000000845",
                          "type" : "LookUp"
                        }, {
                          "apiName" : "description",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "text",
                            "i18NCondition" : "is"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "text",
                            "i18NCondition" : "isn't"
                          }, {
                            "condition" : "starts with",
                            "conditionType" : "text",
                            "i18NCondition" : "starts with"
                          }, {
                            "condition" : "ends with",
                            "conditionType" : "text",
                            "i18NCondition" : "ends with"
                          }, {
                            "condition" : "contains",
                            "conditionType" : "text",
                            "i18NCondition" : "contains"
                          }, {
                            "condition" : "doesn't contain",
                            "conditionType" : "text",
                            "i18NCondition" : "doesn't contain"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Description",
                          "id" : "7000000000855",
                          "type" : "Textarea"
                        }, {
                          "apiName" : "createdBy",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "user",
                            "i18NCondition" : "is",
                            "url" : "https://desk.zoho.com/api/v1/agents?orgId=15620974&from=0&limit=100&status=ACTIVE&isConfirmed=true&rolePermissionType=$%7BNON_LIGHT%7D"
                          }, {
                            "condition" : "isn't",
                            "conditionType" : "user",
                            "i18NCondition" : "isn't",
                            "url" : "https://desk.zoho.com/api/v1/agents?orgId=15620974&from=0&limit=100&status=ACTIVE&isConfirmed=true&rolePermissionType=$%7BNON_LIGHT%7D"
                          }, {
                            "condition" : "is empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is empty"
                          }, {
                            "condition" : "is not empty",
                            "conditionType" : "keyword",
                            "i18NCondition" : "is not empty"
                          } ],
                          "i18NLabel" : "Created By",
                          "id" : "7000000000863",
                          "type" : "LookUp"
                        }, {
                          "apiName" : "isEscalated",
                          "primitiveConditions" : [ {
                            "condition" : "is",
                            "conditionType" : "boolean",
                            "i18NCondition" : "is"
                          } ],
                          "i18NLabel" : "Is Escalated",
                          "id" : "7000000000937",
                          "type" : "Boolean"
                        } ]
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "54e8c5da142b5db445b46ac5045515bb",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.CriteriaService.getCriteriaFields"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "primitiveConditionJson" : {
        "required" : [ "condition", "conditionType", "i18NCondition" ],
        "properties" : {
          "condition" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "conditionType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "boolean", "date", "dateTime", "dateTimePair", "integer", "keyword", "lookup", "picklist", "team", "text", "user" ]
          },
          "i18NCondition" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|=|<|<=|>|>=|<>"
          }
        },
        "additionalProperties" : { }
      },
      "enumConditionJson" : {
        "additionalProperties" : { },
        "allOf" : [ {
          "required" : [ "condition", "conditionType", "i18NCondition" ],
          "properties" : {
            "condition" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "conditionType" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "boolean", "date", "dateTime", "dateTimePair", "integer", "keyword", "lookup", "picklist", "team", "text", "user" ]
            },
            "i18NCondition" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|=|<|<=|>|>=|<>"
            }
          },
          "additionalProperties" : false
        }, {
          "required" : [ "allowedValues" ],
          "properties" : {
            "allowedValues" : {
              "uniqueItems" : false,
              "items" : {
                "maxLength" : 100,
                "minLength" : 0
              }
            }
          }
        } ]
      },
[...]
