{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Organization",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "users"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/organizations/{organizationId}" : {
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "Get Organization",
        "description" : "This API fetches the details of an organization from your help desk.",
        "operationId" : "getOrganization",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getOrganizationResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "alias", "city", "companyName", "country", "currencyCode", "currencyLocale", "currencySymbol", "description", "edition", "employeeCount", "faviconURL", "fax", "id", "isAdminInOrg", "isDefault", "isPayloadEncryptionEnabled", "isSandboxPortal", "logoURL", "mobile", "phoneNumber", "portalName", "portalURL", "primaryContact", "state", "street", "website", "zip" ],
                  "properties" : {
                    "country" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "city" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "companyName" : {
                      "maxLength" : 50,
                      "minLength" : 0
                    },
                    "description" : {
                      "maxLength" : 250,
                      "minLength" : 0
                    },
                    "edition" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "FREE_2019", "FREE", "NEW_FREE", "ENTERPRISE", "PROFESSIONAL", "EXPRESS", "ZOHOONE" ]
                    },
                    "employeeCount" : {
                      "minimum" : 0,
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "isAdminInOrg" : { },
                    "faviconURL" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "portalName" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[a-z0-9]+"
                    },
                    "street" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "currencyLocale" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[a-zA-Z_]*"
                    },
                    "alias" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "(null|^$|NULL|[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+)"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "state" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "isPayloadEncryptionEnabled" : { },
                    "fax" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "zip" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "website" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "mobile" : {
                      "maxLength" : 30,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "currencySymbol" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "logoURL" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "isDefault" : { },
                    "phoneNumber" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "portalURL" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "primaryContact" : {
                      "maxLength" : 100,
                      "minLength" : 1,
                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                    },
                    "currencyCode" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "isSandboxPortal" : { }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "country" : "United States",
                      "city" : "Bernierview",
                      "companyName" : "Zylker INC.",
                      "description" : "We are Zylker Support.",
                      "edition" : "ENTERPRISE",
                      "employeeCount" : "10",
                      "isAdminInOrg" : true,
                      "faviconURL" : "https://desk.zoho.com/api/v1/organizations/3981311/favicon?no-cache=d61a9627de49ffe046fcab71af3359e8",
                      "portalName" : "zylker",
                      "street" : "70961 Powlowski Crossing",
                      "currencyLocale" : "US",
                      "alias" : "Zylker Teams",
                      "id" : "3981311",
                      "state" : "NC",
                      "isPayloadEncryptionEnabled" : "false",
                      "fax" : "8392839821",
                      "zip" : "68838-2640",
                      "website" : "www.zylker.com",
                      "mobile" : "9848022338",
                      "currencySymbol" : "$",
                      "logoURL" : "https://desk.zoho.com/api/v1/organizations/3981311/logo?no-cache=ffc59c3ba6585c12fb306f5174948ff6",
                      "customDomain" : "support.zylker.com",
                      "isDefault" : "false",
                      "phoneNumber" : "9884358081",
                      "portalURL" : "http://support.zylker.com/support/zylker/ShowHomePage.do",
                      "primaryContact" : "steve@zylker.com",
                      "currencyCode" : "USD",
                      "isSandboxPortal" : "false"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.READ", "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 120000,
                  "threshold" : 90,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "53fe8d452a06546a7828cb3b49ce9fe1",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.OrganizationService.getOrganization"
        }
      },
      "patch" : {
        "tags" : [ "Organization" ],
        "summary" : "Update Organization",
        "description" : "This API updates the details of an organization.",
        "operationId" : "updateOrganization",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "zip" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                  },
                  "country" : {
                    "maxLength" : 50,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                  },
                  "website" : {
                    "maxLength" : 50,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                  },
                  "city" : {
                    "maxLength" : 50,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                  },
                  "companyName" : {
                    "maxLength" : 50,
                    "minLength" : 0
                  },
                  "mobile" : {
                    "maxLength" : 30,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$",
                    "x-custom-parameters-attributes" : {
                      "filterMatchedContent" : true,
                      "replacementString" : ""
                    }
                  },
                  "description" : {
                    "maxLength" : 250,
                    "minLength" : 0
                  },
                  "employeeCount" : {
                    "minimum" : 0,
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "referrerUrl" : {
                    "maxLength" : 1000,
                    "minLength" : 0,
                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                  },
                  "referrerFrom" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "OtherZohoServices", "Google" ]
                  },
                  "ref_value" : {
                    "maxLength" : 1000,
                    "minLength" : 0
                  },
                  "phoneNumber" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$",
                    "x-custom-parameters-attributes" : {
                      "filterMatchedContent" : true,
                      "replacementString" : ""
                    }
                  },
                  "portalName" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "[a-z0-9]+"
                  },
                  "street" : {
                    "maxLength" : 50,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                  },
                  "primaryContact" : {
                    "maxLength" : 100,
                    "minLength" : 1,
                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                  },
                  "currencyLocale" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "[a-zA-Z_]*"
                  },
                  "alias" : {
                    "maxLength" : 50,
                    "minLength" : 0,
                    "pattern" : "(null|^$|NULL|[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+)"
                  },
                  "state" : {
                    "maxLength" : 50,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                  },
                  "fax" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$",
                    "x-custom-parameters-attributes" : {
                      "filterMatchedContent" : true,
                      "replacementString" : ""
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "portalName" : "zylkerdesk",
                    "companyName" : "Zylker Desk",
                    "primaryContact" : "kelvin@zylker.com",
                    "mobile" : "9848022338",
                    "employeeCount" : "10"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "getOrganizationResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "alias", "city", "companyName", "country", "currencyCode", "currencyLocale", "currencySymbol", "description", "edition", "employeeCount", "faviconURL", "fax", "id", "isAdminInOrg", "isDefault", "isPayloadEncryptionEnabled", "isSandboxPortal", "logoURL", "mobile", "phoneNumber", "portalName", "portalURL", "primaryContact", "state", "street", "website", "zip" ],
                  "properties" : {
                    "country" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "city" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "companyName" : {
                      "maxLength" : 50,
                      "minLength" : 0
                    },
                    "description" : {
                      "maxLength" : 250,
                      "minLength" : 0
                    },
                    "edition" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "FREE_2019", "FREE", "NEW_FREE", "ENTERPRISE", "PROFESSIONAL", "EXPRESS", "ZOHOONE" ]
                    },
                    "employeeCount" : {
                      "minimum" : 0,
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "isAdminInOrg" : { },
                    "faviconURL" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "portalName" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[a-z0-9]+"
                    },
                    "street" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "currencyLocale" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[a-zA-Z_]*"
                    },
                    "alias" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "(null|^$|NULL|[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+)"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "state" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "isPayloadEncryptionEnabled" : { },
                    "fax" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "zip" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "website" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "mobile" : {
                      "maxLength" : 30,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "currencySymbol" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "logoURL" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "isDefault" : { },
                    "phoneNumber" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                    },
                    "portalURL" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "primaryContact" : {
                      "maxLength" : 100,
                      "minLength" : 1,
                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                    },
                    "currencyCode" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "isSandboxPortal" : { }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "country" : "United States",
                      "city" : "Bernierview",
                      "companyName" : "Zylker INC.",
                      "description" : "We are Zylker Support.",
                      "edition" : "ENTERPRISE",
                      "employeeCount" : "10",
                      "isAdminInOrg" : true,
                      "faviconURL" : "https://desk.zoho.com/api/v1/organizations/3981311/favicon?no-cache=d61a9627de49ffe046fcab71af3359e8",
                      "portalName" : "zylker",
                      "street" : "70961 Powlowski Crossing",
                      "currencyLocale" : "US",
                      "alias" : "Zylker Teams",
                      "id" : "3981311",
                      "state" : "NC",
                      "isPayloadEncryptionEnabled" : "false",
                      "fax" : "8392839821",
                      "zip" : "68838-2640",
                      "website" : "www.zylker.com",
                      "mobile" : "9848022338",
                      "currencySymbol" : "$",
                      "logoURL" : "https://desk.zoho.com/api/v1/organizations/3981311/logo?no-cache=ffc59c3ba6585c12fb306f5174948ff6",
                      "customDomain" : "support.zylker.com",
                      "isDefault" : "false",
                      "phoneNumber" : "9884358081",
                      "portalURL" : "http://support.zylker.com/support/zylker/ShowHomePage.do",
                      "primaryContact" : "steve@zylker.com",
                      "currencyCode" : "USD",
                      "isSandboxPortal" : "false"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.UPDATE", "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "d8a7162be629ac5374a0b42325b76c2c",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.OrganizationService.updateOrganization"
        }
      }
    },
    "/api/v1/organizations/{organizationId}/favicon" : {
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "Get Organization Favicon",
        "description" : "This API fetches the favicon set for an organization/portal in your help desk.",
        "operationId" : "getOrganizationFavicon",
        "parameters" : [ {
          "name" : "fileSize",
          "in" : "query",
          "description" : "Size of the image file to download. Values allowed are @THUMBNAIL@ (image with reduced dimensions and size) and @ACTUAL@ (image with actual dimensions and size). The default value is @ACTUAL@.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Size of the image file to download. Values allowed are @THUMBNAIL@ (image with reduced dimensions and size) and @ACTUAL@ (image with actual dimensions and size). The default value is @ACTUAL@.",
            "enum" : [ "THUMBNAIL", "ACTUAL" ]
          }
        }, {
          "name" : "organizationId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "File response",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "format" : "binary"
                }
              }
            }
          }
        },
        "security" : [ { } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.remoteip"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "52738bd1ffff8ff1b12c62b3c7174b86",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.OrganizationService.getFavicon"
        }
      },
      "post" : {
        "tags" : [ "Organization" ],
        "summary" : "Update Organization Favicon",
        "description" : "This API updates the favicon set for an organization/portal in your help desk.",
        "operationId" : "updateOrganizationFavicon",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "required" : [ "favicon" ],
                "properties" : {
                  "favicon" : {
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "updateOrganizationFavicon template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "faviconURL" : {
                    "type" : [ "string", "null" ],
                    "maxLength" : 500,
                    "minLength" : 0,
                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.UPDATE", "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "Occasional_UserEvents"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "54481456bfecbda4082d95ee21fb2928",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.OrganizationService.updateFavicon"
        }
      },
      "delete" : {
        "tags" : [ "Organization" ],
        "summary" : "Delete Organization Favicon",
        "description" : "This API updates the favicon set for an organization/portal in your help desk.",
        "operationId" : "deleteOrganizationFavicon",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.DELETE", "Desk.settings.DELETE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "Occasional_UserEvents"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "4293c13440288e88f7e0a52298da0e1c",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.OrganizationService.deleteFavicon"
        }
      }
    },
    "/api/v1/organizations/markDefault" : {
      "post" : {
        "tags" : [ "Organization" ],
        "summary" : "Update Default Organizaion",
        "description" : "This API updates the default organization for the current user in Zoho Desk.",
        "operationId" : "updateDefaultOrganizaion",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "id" ],
                "properties" : {
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "id" : "3981311"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Unprocessable Entity Error Response" : {
                    "value" : {
                      "errorCode" : "UNPROCESSABLE_ENTITY",
                      "message" : "The value passed for the 'from' query parameter is invalid."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.UPDATE", "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 25,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 3600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "4455ad1a83f3bc90131eca4b8dfd4e54",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.OrganizationService.updateDefault"
        }
      }
    },
    "/api/v1/organizations/{organizationId}/logo" : {
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "Get Organization Logo",
        "description" : "This API fetches the logo set for an organization/portal in your help desk.",
        "operationId" : "getOrganizationLogo",
        "parameters" : [ {
          "name" : "fileSize",
          "in" : "query",
          "description" : "Size of the image file to download. Values allowed are @THUMBNAIL@ (image with reduced dimensions and size) and @ACTUAL@ (image with actual dimensions and size). The default value is @ACTUAL@.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Size of the image file to download. Values allowed are @THUMBNAIL@ (image with reduced dimensions and size) and @ACTUAL@ (image with actual dimensions and size). The default value is @ACTUAL@.",
            "enum" : [ "THUMBNAIL", "ACTUAL" ]
          }
        }, {
          "name" : "organizationId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "File response",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "format" : "binary"
                }
              }
            }
          }
        },
        "security" : [ { } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.remoteip"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "3a7c5475e015f710e529c51a150a5d57",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.OrganizationService.getLogo"
        }
      },
      "post" : {
        "tags" : [ "Organization" ],
        "summary" : "Update Organization Logo",
        "description" : "This API updates the logo set for an organization/portal in your help desk.<p><b>Note</b>: To upload organization logo generate OAuthToken for the scope: Desk.settings.UPDATE,profile.orglogo.UPDATE or Desk.basic.UPDATE,profile.orglogo.UPDATE </p>",
        "operationId" : "updateOrganizationLogo",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "required" : [ "logo" ],
                "properties" : {
                  "logo" : {
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "orgLogoData template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "logoURL" ],
                  "properties" : {
                    "logoURL" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "companyLogoURL" : "https://desk.zoho.com/api/v1/organizations/3981311/logo?no-cache=ffc59c3ba6585c12fb306f5174948ff6"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.UPDATE", "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "Occasional_UserEvents"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "792327cefdcc54c8d305cdf92936443b",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.OrganizationService.updateLogo"
        }
      },
      "delete" : {
        "tags" : [ "Organization" ],
        "summary" : "Delete Organization Logo",
        "description" : "This API deletes the logo set for an organization/portal in your help desk.",
        "operationId" : "deleteOrganizationLogo",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.DELETE", "Desk.settings.DELETE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "Occasional_UserEvents"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "25c67345009b7cca81c25766a60810b7",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.OrganizationService.deleteLogo"
        }
      }
    },
    "/api/v1/organizations" : {
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "Get Organizations",
        "description" : "This API lists all organizations to which the current user belongs.",
        "operationId" : "getOrganizations",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "organizationListArray template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "alias", "city", "companyName", "country", "currencyCode", "currencyLocale", "currencySymbol", "description", "edition", "employeeCount", "faviconURL", "fax", "id", "isAdminInOrg", "isDefault", "isPayloadEncryptionEnabled", "isSandboxPortal", "logoURL", "mobile", "phoneNumber", "portalName", "portalURL", "primaryContact", "state", "street", "website", "zip" ],
                        "properties" : {
                          "country" : {
                            "maxLength" : 50,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "city" : {
                            "maxLength" : 50,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "companyName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "description" : {
                            "maxLength" : 250,
                            "minLength" : 0
                          },
                          "edition" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "FREE_2019", "FREE", "NEW_FREE", "ENTERPRISE", "PROFESSIONAL", "EXPRESS", "ZOHOONE" ]
                          },
                          "employeeCount" : {
                            "minimum" : 0,
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "isAdminInOrg" : { },
                          "faviconURL" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "portalName" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[a-z0-9]+"
                          },
                          "street" : {
                            "maxLength" : 50,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "currencyLocale" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[a-zA-Z_]*"
                          },
                          "alias" : {
                            "maxLength" : 50,
                            "minLength" : 0,
                            "pattern" : "(null|^$|NULL|[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "state" : {
                            "maxLength" : 50,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "isPayloadEncryptionEnabled" : { },
                          "fax" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "zip" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "website" : {
                            "maxLength" : 50,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "mobile" : {
                            "maxLength" : 30,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "currencySymbol" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "logoURL" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "isDefault" : { },
                          "phoneNumber" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "portalURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "primaryContact" : {
                            "maxLength" : 100,
                            "minLength" : 1,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          },
                          "currencyCode" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "isSandboxPortal" : { }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "country" : "United States",
                        "city" : "Bernierview",
                        "companyName" : "Zylker INC.",
                        "description" : "We are Zylker Support.",
                        "edition" : "ENTERPRISE",
                        "employeeCount" : "10",
                        "isAdminInOrg" : true,
                        "faviconURL" : "https://desk.zoho.com/api/v1/organizations/3981311/favicon?no-cache=d61a9627de49ffe046fcab71af3359e8",
                        "portalName" : "zylker",
                        "street" : "70961 Powlowski Crossing",
                        "currencyLocale" : "US",
                        "alias" : "Zylker Teams",
                        "id" : "3981311",
                        "state" : "NC",
                        "isPayloadEncryptionEnabled" : "false",
                        "fax" : "8392839821",
                        "zip" : "68838-2640",
                        "website" : "www.zylker.com",
                        "mobile" : "9848022338",
                        "currencySymbol" : "$",
                        "logoURL" : "https://desk.zoho.com/api/v1/organizations/3981311/logo?no-cache=ffc59c3ba6585c12fb306f5174948ff6",
                        "isDefault" : "false",
                        "phoneNumber" : "9884358081",
                        "portalURL" : "https://support.zylker.com/support/zylker/ShowHomePage.do",
                        "primaryContact" : "steve@zylker.com",
                        "currencyCode" : "USD",
                        "isSandboxPortal" : "false"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.READ", "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 120000,
                  "threshold" : 90,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "iscscope" : [ "SupCrmAPI" ]
            }
          },
          "clan-group" : "automation",
          "apihash" : "a9884b0032b8d7851f0cc44d5aa617f8",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.OrganizationService.getOrganizations"
        }
      }
    },
    "/api/v1/Organizations/purgeSandboxData" : {
      "delete" : {
        "tags" : [ "Organization" ],
        "summary" : "",
        "description" : "",
        "operationId" : "purgeDataForSandBox",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "filter" : {
                    "maxProperties" : 2,
                    "minProperties" : 2,
                    "required" : [ "isExclude", "tablesList" ],
                    "properties" : {
                      "isExclude" : {
                        "description" : "",
                        "x-custom-parameters-attributes" : { }
                      },
                      "tablesList" : {
                        "uniqueItems" : false,
                        "description" : "",
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "description" : "",
                          "x-custom-parameters-attributes" : { }
                        },
                        "x-custom-parameters-attributes" : { }
                      }
                    },
                    "additionalProperties" : { },
                    "description" : "",
                    "x-custom-parameters-attributes" : { }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : { }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : { }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "No content"
          }
        },
        "x-audience" : [ "company-internal" ]
      }
    },
    "/api/v1/accessibleOrganizations" : {
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "Get Accessible Organizations",
        "description" : "This API lists all organizations which can be accessed using the current Oauth token.",
        "operationId" : "getAccessibleOrganizations",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "organizationListArray template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "alias", "city", "companyName", "country", "currencyCode", "currencyLocale", "currencySymbol", "description", "edition", "employeeCount", "faviconURL", "fax", "id", "isAdminInOrg", "isDefault", "isPayloadEncryptionEnabled", "isSandboxPortal", "logoURL", "mobile", "phoneNumber", "portalName", "portalURL", "primaryContact", "state", "street", "website", "zip" ],
                        "properties" : {
                          "country" : {
                            "maxLength" : 50,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "city" : {
                            "maxLength" : 50,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "companyName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "description" : {
                            "maxLength" : 250,
                            "minLength" : 0
                          },
                          "edition" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "FREE_2019", "FREE", "NEW_FREE", "ENTERPRISE", "PROFESSIONAL", "EXPRESS", "ZOHOONE" ]
                          },
                          "employeeCount" : {
                            "minimum" : 0,
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "isAdminInOrg" : { },
                          "faviconURL" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "portalName" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[a-z0-9]+"
                          },
                          "street" : {
                            "maxLength" : 50,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "currencyLocale" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[a-zA-Z_]*"
                          },
                          "alias" : {
                            "maxLength" : 50,
                            "minLength" : 0,
                            "pattern" : "(null|^$|NULL|[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "state" : {
                            "maxLength" : 50,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "isPayloadEncryptionEnabled" : { },
                          "fax" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "zip" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "website" : {
                            "maxLength" : 50,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "mobile" : {
                            "maxLength" : 30,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "currencySymbol" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "logoURL" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "isDefault" : { },
                          "phoneNumber" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                          },
                          "portalURL" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "primaryContact" : {
                            "maxLength" : 100,
                            "minLength" : 1,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          },
                          "currencyCode" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "isSandboxPortal" : { }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "country" : "United States",
                        "city" : "Bernierview",
                        "companyName" : "Zylker INC.",
                        "description" : "We are Zylker Support.",
                        "edition" : "ENTERPRISE",
                        "employeeCount" : "10",
                        "isAdminInOrg" : true,
                        "faviconURL" : "https://desk.zoho.com/api/v1/organizations/3981311/favicon?no-cache=d61a9627de49ffe046fcab71af3359e8",
                        "portalName" : "zylker",
                        "street" : "70961 Powlowski Crossing",
                        "currencyLocale" : "US",
                        "alias" : "Zylker Teams",
                        "id" : "3981311",
                        "state" : "NC",
                        "isPayloadEncryptionEnabled" : "false",
                        "fax" : "8392839821",
                        "zip" : "68838-2640",
                        "website" : "www.zylker.com",
                        "mobile" : "9848022338",
                        "currencySymbol" : "$",
                        "logoURL" : "https://desk.zoho.com/api/v1/organizations/3981311/logo?no-cache=ffc59c3ba6585c12fb306f5174948ff6",
                        "isDefault" : "false",
                        "phoneNumber" : "9884358081",
                        "portalURL" : "https://support.zylker.com/support/zylker/ShowHomePage.do",
                        "primaryContact" : "steve@zylker.com",
                        "currencyCode" : "USD",
                        "isSandboxPortal" : "false"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.READ", "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 120000,
                  "threshold" : 90,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "a0409fadc743e68bdea9b76d811834ef",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.OrganizationService.getAccessibleOrganizations"
        }
      }
    },
    "/api/v1/organizations/checkExists" : {
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "Check for duplicate organization",
        "description" : "This API checks if multiple organizations have the same portal name. Get prior concern from desk team before using this API with OAuth authorization",
        "operationId" : "checkForDuplicate",
        "parameters" : [ {
          "name" : "portalName",
          "in" : "query",
          "description" : "Unique name of the help desk portal. Only lower-case letters and numbers are allowed in the name.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[a-z0-9]+",
            "description" : "Unique name of the help desk portal. Only lower-case letters and numbers are allowed in the name."
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "checkForDuplicate template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "isHelpCenterExistInPortal", "isMailBoxExist", "isPortalNameExist" ],
                  "properties" : {
                    "isHelpCenterExistInPortal" : { },
                    "isPortalNameExist" : { },
                    "isMailBoxExist" : { }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "isHelpCenterExistInPortal" : false,
                      "isPortalNameExist" : true,
                      "isMailBoxExist" : false
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.READ", "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "c6322b9240ce3081a00fc491e70094d5",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.OrganizationService.getOrganizationExists"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "getOrganizationResponse" : {
        "required" : [ "alias", "city", "companyName", "country", "currencyCode", "currencyLocale", "currencySymbol", "description", "edition", "employeeCount", "faviconURL", "fax", "id", "isAdminInOrg", "isDefault", "isPayloadEncryptionEnabled", "isSandboxPortal", "logoURL", "mobile", "phoneNumber", "portalName", "portalURL", "primaryContact", "state", "street", "website", "zip" ],
        "properties" : {
          "country" : {
            "maxLength" : 50,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
          },
          "city" : {
            "maxLength" : 50,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
          },
          "companyName" : {
            "maxLength" : 50,
            "minLength" : 0
          },
          "description" : {
            "maxLength" : 250,
            "minLength" : 0
          },
          "edition" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "FREE_2019", "FREE", "NEW_FREE", "ENTERPRISE", "PROFESSIONAL", "EXPRESS", "ZOHOONE" ]
          },
          "employeeCount" : {
            "minimum" : 0,
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "isAdminInOrg" : { },
          "faviconURL" : {
            "maxLength" : 500,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "portalName" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[a-z0-9]+"
          },
          "street" : {
            "maxLength" : 50,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
          },
          "currencyLocale" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[a-zA-Z_]*"
          },
          "alias" : {
            "maxLength" : 50,
            "minLength" : 0,
            "pattern" : "(null|^$|NULL|[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+)"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "state" : {
            "maxLength" : 50,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
          },
          "isPayloadEncryptionEnabled" : { },
          "fax" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
          },
          "zip" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
          },
          "website" : {
            "maxLength" : 50,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
          },
          "mobile" : {
            "maxLength" : 30,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
          },
          "currencySymbol" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "logoURL" : {
            "maxLength" : 500,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "isDefault" : { },
          "phoneNumber" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
          },
          "portalURL" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "primaryContact" : {
            "maxLength" : 100,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
          },
          "currencyCode" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "isSandboxPortal" : { }
        },
        "additionalProperties" : false
      },
      "data" : {
        "items" : {
          "required" : [ "alias", "city", "companyName", "country", "currencyCode", "currencyLocale", "currencySymbol", "description", "edition", "employeeCount", "faviconURL", "fax", "id", "isAdminInOrg", "isDefault", "isPayloadEncryptionEnabled", "isSandboxPortal", "logoURL", "mobile", "phoneNumber", "portalName", "portalURL", "primaryContact", "state", "street", "website", "zip" ],
          "properties" : {
            "country" : {
              "maxLength" : 50,
              "minLength" : 0,
              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
            },
            "city" : {
              "maxLength" : 50,
              "minLength" : 0,
              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
            },
            "companyName" : {
              "maxLength" : 50,
              "minLength" : 0
            },
            "description" : {
              "maxLength" : 250,
              "minLength" : 0
            },
            "edition" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "FREE_2019", "FREE", "NEW_FREE", "ENTERPRISE", "PROFESSIONAL", "EXPRESS", "ZOHOONE" ]
            },
            "employeeCount" : {
              "minimum" : 0,
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "isAdminInOrg" : { },
            "faviconURL" : {
              "maxLength" : 500,
              "minLength" : 0,
              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
            },
            "portalName" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "[a-z0-9]+"
            },
            "street" : {
              "maxLength" : 50,
              "minLength" : 0,
              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
            },
            "currencyLocale" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "[a-zA-Z_]*"
            },
            "alias" : {
              "maxLength" : 50,
              "minLength" : 0,
              "pattern" : "(null|^$|NULL|[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+)"
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "state" : {
              "maxLength" : 50,
              "minLength" : 0,
              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
            },
            "isPayloadEncryptionEnabled" : { },
            "fax" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
            },
            "zip" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
            },
            "website" : {
              "maxLength" : 50,
              "minLength" : 0,
              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
            },
            "mobile" : {
              "maxLength" : 30,
              "minLength" : 0,
              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
            },
            "currencySymbol" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "logoURL" : {
              "maxLength" : 500,
              "minLength" : 0,
              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
            },
            "isDefault" : { },
            "phoneNumber" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
            },
            "portalURL" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
            },
            "primaryContact" : {
              "maxLength" : 100,
              "minLength" : 1,
              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
            },
            "currencyCode" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "isSandboxPortal" : { }
          },
          "additionalProperties" : false
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "getOrganizationResponse" : {
        "description" : "getOrganizationResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "alias", "city", "companyName", "country", "currencyCode", "currencyLocale", "currencySymbol", "description", "edition", "employeeCount", "faviconURL", "fax", "id", "isAdminInOrg", "isDefault", "isPayloadEncryptionEnabled", "isSandboxPortal", "logoURL", "mobile", "phoneNumber", "portalName", "portalURL", "primaryContact", "state", "street", "website", "zip" ],
              "properties" : {
                "country" : {
                  "maxLength" : 50,
                  "minLength" : 0,
                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                },
                "city" : {
                  "maxLength" : 50,
                  "minLength" : 0,
                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                },
                "companyName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "description" : {
                  "maxLength" : 250,
                  "minLength" : 0
                },
                "edition" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "FREE_2019", "FREE", "NEW_FREE", "ENTERPRISE", "PROFESSIONAL", "EXPRESS", "ZOHOONE" ]
                },
                "employeeCount" : {
                  "minimum" : 0,
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "isAdminInOrg" : { },
                "faviconURL" : {
                  "maxLength" : 500,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "portalName" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "[a-z0-9]+"
                },
                "street" : {
                  "maxLength" : 50,
                  "minLength" : 0,
                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                },
                "currencyLocale" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "[a-zA-Z_]*"
                },
                "alias" : {
                  "maxLength" : 50,
                  "minLength" : 0,
                  "pattern" : "(null|^$|NULL|[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+)"
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "state" : {
                  "maxLength" : 50,
                  "minLength" : 0,
                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                },
                "isPayloadEncryptionEnabled" : { },
                "fax" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                },
                "zip" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                },
                "website" : {
                  "maxLength" : 50,
                  "minLength" : 0,
                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                },
                "mobile" : {
                  "maxLength" : 30,
                  "minLength" : 0,
                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                },
                "currencySymbol" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "logoURL" : {
                  "maxLength" : 500,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "isDefault" : { },
                "phoneNumber" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+|^$"
                },
                "portalURL" : {
                  "maxLength" : 100,
                  "minLength" : 0,
[...]
