{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "PageSense",
    "version" : "1.0.0",
    "x-clan-group" : "integration",
    "x-module-group" : "integration"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/pagesense/formReport" : {
      "get" : {
        "tags" : [ "PageSense" ],
        "summary" : "Get PageSense Reports",
        "description" : "To get Page Sense Reports of form  ",
        "operationId" : "getReports",
        "parameters" : [ {
          "name" : "reportType",
          "in" : "query",
          "description" : "Type of Reports to get data - formDayReports,formReports",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Type of Reports to get data - formDayReports,formReports",
            "enum" : [ "formDayReports", "formReports" ],
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "deviceType",
          "in" : "query",
          "description" : "filter by Device Type DESKTOP,MOBILE,TABLET",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "filter by Device Type DESKTOP,MOBILE,TABLET",
            "enum" : [ "DESKTOP", "MOBILE", "TABLET" ],
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "filter by Country INDIA,NEPAL",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "filter by Country INDIA,NEPAL",
            "enum" : [ "INDIA", "NEPAL", "BHUTAN", "CANADA" ],
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "resourceId",
          "in" : "query",
          "description" : "Id of Feedback Widget or Advanced Web Form",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Id of Feedback Widget or Advanced Web Form",
            "format" : "int64"
          }
        }, {
          "name" : "dayOfWeek",
          "in" : "query",
          "description" : "filter by Day Of Week SUNDAY,MONDAY,TUESDAY,WEDNESDAY,THURSDAY,FRIDAY,SATURDAY",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "filter by Day Of Week SUNDAY,MONDAY,TUESDAY,WEDNESDAY,THURSDAY,FRIDAY,SATURDAY",
            "enum" : [ "SUNDAY", "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY" ],
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "To date of Analytics Report yyyy-MM-dd",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^([12][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$",
            "description" : "To date of Analytics Report yyyy-MM-dd"
          }
        }, {
          "name" : "visitorType",
          "in" : "query",
          "description" : "filter by visitor Type NEW,RETURNING",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "filter by visitor Type NEW,RETURNING",
            "enum" : [ "NEW", "RETURNING" ],
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "browser",
          "in" : "query",
          "description" : "filter by Browser CHROME,FIREFOX",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "filter by Browser CHROME,FIREFOX",
            "enum" : [ "CHROME", "FIREFOX" ],
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "hourOfDay",
          "in" : "query",
          "description" : "filter by Hour Of Day 0-23",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "filter by Hour Of Day 0-23",
            "enum" : [ "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23" ],
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "source",
          "in" : "query",
          "description" : "filter by Visit Source DIRECT,SOCIAL,REFERRAL,CAMPAIGN,SEARCH",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "filter by Visit Source DIRECT,SOCIAL,REFERRAL,CAMPAIGN,SEARCH",
            "enum" : [ "DIRECT", "SOCIAL", "REFERRAL", "CAMPAIGN", "SEARCH" ],
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "operatingSystem",
          "in" : "query",
          "description" : "filter by Operating System LINUX,MAC OS",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "filter by Operating System LINUX,MAC OS",
            "enum" : [ "LINUX", "MAC OS" ],
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "From date of Analytics Report yyyy-MM-dd",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^([12][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$",
            "description" : "From date of Analytics Report yyyy-MM-dd"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getReportsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "required" : [ "formDayReports", "formReports", "pageSenseUrl" ],
                    "properties" : {
                      "formDayReports" : {
                        "items" : {
                          "required" : [ "abandon_count", "conversion_count", "starter_count", "time" ],
                          "properties" : {
                            "starter_count" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "conversion_count" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "abandon_count" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "time" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "pageSenseUrl" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "https://pagesense.localzoho.com", "https://pagesense.zoho.com" ]
                      },
                      "formReports" : {
                        "required" : [ "abandon_count", "abandon_rate", "complete_time", "conversion_count", "conversion_rate", "form_fields", "spent_time", "starter_count", "starter_rate", "submission_count", "visit_count", "visitor_count" ],
                        "properties" : {
                          "starter_rate" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "visitor_count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "visit_count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "form_fields" : {
                            "items" : {
                              "required" : [ "blank_percentage", "blankrate_count", "completion_time", "correction_count", "dropoff_count", "field_alias", "filled_percentage", "filled_rate", "hesitation_percentage", "hesitation_time", "refocus_count", "starter_count", "visit_count" ],
                              "properties" : {
                                "blankrate_count" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "visit_count" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "refocus_count" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "completion_time" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "starter_count" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "dropoff_count" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "hesitation_percentage" : {
                                  "format" : "double"
                                },
                                "blank_percentage" : {
                                  "format" : "double"
                                },
                                "hesitation_time" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "filled_percentage" : {
                                  "format" : "double"
                                },
                                "correction_count" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "field_alias" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "filled_rate" : {
                                  "format" : "double"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "complete_time" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "starter_count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "submission_count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "conversion_count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "abandon_count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "spent_time" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "conversion_rate" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "abandon_rate" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "formReports", "pageSenseUrl" ],
                    "properties" : {
                      "pageSenseUrl" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "https://pagesense.localzoho.com", "https://pagesense.zoho.com" ]
                      },
                      "formReports" : {
                        "required" : [ "abandon_count", "abandon_rate", "complete_time", "conversion_count", "conversion_rate", "form_fields", "spent_time", "starter_count", "starter_rate", "submission_count", "visit_count", "visitor_count" ],
                        "properties" : {
                          "starter_rate" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "visitor_count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "visit_count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "form_fields" : {
                            "items" : {
                              "required" : [ "blank_percentage", "blankrate_count", "completion_time", "correction_count", "dropoff_count", "field_alias", "filled_percentage", "filled_rate", "hesitation_percentage", "hesitation_time", "refocus_count", "starter_count", "visit_count" ],
                              "properties" : {
                                "blankrate_count" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "visit_count" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "refocus_count" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "completion_time" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "starter_count" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "dropoff_count" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "hesitation_percentage" : {
                                  "format" : "double"
                                },
                                "blank_percentage" : {
                                  "format" : "double"
                                },
                                "hesitation_time" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "filled_percentage" : {
                                  "format" : "double"
                                },
                                "correction_count" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "field_alias" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "filled_rate" : {
                                  "format" : "double"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "complete_time" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "starter_count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "submission_count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "conversion_count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "abandon_count" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "spent_time" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "conversion_rate" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "abandon_rate" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "formDayReports", "pageSenseUrl" ],
                    "properties" : {
                      "formDayReports" : {
                        "items" : {
                          "required" : [ "abandon_count", "conversion_count", "starter_count", "time" ],
                          "properties" : {
                            "starter_count" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "conversion_count" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "abandon_count" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "time" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "pageSenseUrl" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "https://pagesense.localzoho.com", "https://pagesense.zoho.com" ]
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "formDayReports" : [ {
                        "starter_count" : 4,
                        "conversion_count" : 0,
                        "abandon_count" : 4,
                        "time" : 1542008652000
                      }, {
                        "starter_count" : 0,
                        "conversion_count" : 0,
                        "abandon_count" : 0,
                        "time" : 1542010250000
                      }, {
                        "starter_count" : 0,
                        "conversion_count" : 0,
                        "abandon_count" : 0,
                        "time" : 1542011848000
                      } ],
                      "formReports" : {
                        "starter_rate" : 66.66666666666666,
                        "visitor_count" : 3,
                        "visit_count" : 6,
                        "form_fields" : [ {
                          "blankrate_count" : 0,
                          "visit_count" : 4,
                          "refocus_count" : 0,
                          "completion_time" : 2919.75,
                          "starter_count" : 4,
                          "dropoff_count" : 0,
                          "hesitation_percentage" : 45.90290264577447,
                          "blank_percentage" : 0,
                          "hesitation_time" : 1340.25,
                          "filled_percentage" : 100,
                          "correction_count" : 0,
                          "field_alias" : "subject",
                          "filled_rate" : 4
                        }, {
                          "blankrate_count" : 0,
                          "visit_count" : 4,
                          "refocus_count" : 1,
                          "completion_time" : 5694.75,
                          "starter_count" : 4,
                          "dropoff_count" : 1,
                          "hesitation_percentage" : 23.21875411563282,
                          "blank_percentage" : 0,
                          "hesitation_time" : 1322.25,
                          "filled_percentage" : 100,
                          "correction_count" : 0,
                          "field_alias" : "description",
                          "filled_rate" : 4
                        }, {
                          "blankrate_count" : 0,
                          "visit_count" : 4,
                          "refocus_count" : 0,
                          "completion_time" : 1962.75,
                          "starter_count" : 4,
                          "dropoff_count" : 0,
                          "hesitation_percentage" : 57.95440071328494,
                          "blank_percentage" : 0,
                          "hesitation_time" : 1137.5,
                          "filled_percentage" : 100,
                          "correction_count" : 0,
                          "field_alias" : "name",
                          "filled_rate" : 4
                        }, {
                          "blankrate_count" : 0,
                          "visit_count" : 4,
                          "refocus_count" : 0,
                          "completion_time" : 4076.5,
                          "starter_count" : 4,
                          "dropoff_count" : 0,
                          "hesitation_percentage" : 18.13442904452349,
                          "blank_percentage" : 0,
                          "hesitation_time" : 739.25,
                          "filled_percentage" : 100,
                          "correction_count" : 0,
                          "field_alias" : "email",
                          "filled_rate" : 4
                        }, {
                          "blankrate_count" : 0,
                          "visit_count" : 4,
                          "refocus_count" : 0,
                          "completion_time" : 9713.75,
                          "starter_count" : 4,
                          "dropoff_count" : 2,
                          "hesitation_percentage" : 24.292883798738902,
                          "blank_percentage" : 0,
                          "hesitation_time" : 2359.75,
                          "filled_percentage" : 100,
                          "correction_count" : 0,
                          "field_alias" : "captchaWord",
                          "filled_rate" : 4
                        }, {
                          "blankrate_count" : 3,
                          "visit_count" : 1,
                          "refocus_count" : 0,
                          "completion_time" : 0,
                          "starter_count" : 1,
                          "dropoff_count" : 1,
                          "hesitation_percentage" : 0,
                          "blank_percentage" : 75,
                          "hesitation_time" : 1,
                          "filled_percentage" : 25,
                          "correction_count" : 0,
                          "field_alias" : "fileUpload",
                          "filled_rate" : 1
                        } ],
                        "complete_time" : 0,
                        "starter_count" : 4,
                        "submission_count" : 3,
                        "conversion_count" : 0,
                        "abandon_count" : 4,
                        "spent_time" : 41271.25,
                        "conversion_rate" : 0,
                        "abandon_rate" : 100
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 300,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "678f536d4a80f7d4a98aa2a30c274703",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.PagesenseService.getReports"
        }
      }
    },
    "/api/v1/pagesense/forms" : {
      "get" : {
        "tags" : [ "PageSense" ],
        "summary" : "Get List of Forms that are mapped with PageSense",
        "description" : "To get List of forms such as feedback widgets and Advanced Web Forms which are tracked by PageSense  ",
        "operationId" : "getFormsList",
        "parameters" : [ {
          "name" : "formTypes",
          "in" : "query",
          "description" : "Types of forms mapped with PageSense webForm,feedbackWidget",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Types of forms mapped with PageSense webForm,feedbackWidget",
            "enum" : [ "webForm", "feedbackWidget" ],
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "current department Id",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "current department Id",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getFormsListResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "required" : [ "feedbackWidget", "webForms" ],
                    "properties" : {
                      "webForms" : {
                        "items" : {
                          "required" : [ "formId", "formName" ],
                          "properties" : {
                            "formId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "formName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "feedbackWidget" : {
                        "items" : {
                          "required" : [ "formId", "formName" ],
                          "properties" : {
                            "formId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "formName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "feedbackWidget" ],
                    "properties" : {
                      "feedbackWidget" : {
                        "items" : {
                          "required" : [ "formId", "formName" ],
                          "properties" : {
                            "formId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "formName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "webForms" ],
                    "properties" : {
                      "webForms" : {
                        "items" : {
                          "required" : [ "formId", "formName" ],
                          "properties" : {
                            "formId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "formName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "webForms" : [ {
                        "formId" : "3000000017001",
                        "formName" : "Web Form"
                      }, {
                        "formId" : "3000000020001",
                        "formName" : "Web Form Two"
                      } ],
                      "feedbackWidgets" : [ {
                        "formId" : "3000000020027",
                        "formName" : "Feedback Widget 12"
                      }, {
                        "formId" : "3000000020029",
                        "formName" : "Feedback Widget 15"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 300,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "23b2b6dbff75efdfc7e0270ed7d1bdf8",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.PagesenseService.getFormsList"
        }
      }
    },
    "/api/v1/pagesense" : {
      "get" : {
        "tags" : [ "PageSense" ],
        "summary" : "Get Current Status of PageSense ",
        "description" : "To get Current Status of ZOHO PageSense Integrration in ZOHO Desk (Enabled or Diabled)  ",
        "operationId" : "getStatus",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getStatusJsonResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "formAnalytics", "goalAnalytics", "isActive", "isIntegrated" ],
                  "properties" : {
                    "formAnalytics" : {
                      "items" : {
                        "required" : [ "departmentId", "isEnabled" ],
                        "properties" : {
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "isEnabled" : { }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "goalAnalytics" : {
                      "items" : {
                        "required" : [ "departmentId", "isEnabled" ],
                        "properties" : {
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "isEnabled" : { }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "isIntegrated" : { },
                    "isActive" : { }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "formAnalytics" : [ {
                        "departmentId" : "402000000006907",
                        "isEnabled" : false
                      }, {
                        "departmentId" : "402000000006909",
                        "isEnabled" : true
                      }, {
                        "departmentId" : "402000000006911",
                        "isEnabled" : false
                      } ],
                      "goalAnalytics" : [ {
                        "departmentId" : "402000000006907",
                        "isEnabled" : false
                      }, {
                        "departmentId" : "402000000006909",
                        "isEnabled" : true
                      }, {
                        "departmentId" : "402000000006911",
                        "isEnabled" : false
                      } ],
                      "isIntegrated" : true,
                      "isActive" : true
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 300,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "ef5a69093d34a6d816d40da591066105",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.PagesenseService.getStatus"
        }
      },
      "delete" : {
        "tags" : [ "PageSense" ],
        "summary" : "Delete whole PageSense Integration",
        "description" : "To get ZOHO PageSense Integration in ZOHO Desk ",
        "operationId" : "deleteIntegration",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 300,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "ae6e557856b4918459eeff99651ed6dc",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.PagesenseService.deleteIntegration"
        }
      },
      "patch" : {
        "tags" : [ "PageSense" ],
        "summary" : "Update Status of PageSense ",
        "description" : "To activate or deactivate ZOHO PageSense Form Analytics in set up side of Desk  ",
        "operationId" : "updateStatus",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "formAnalytics" : {
                    "items" : {
                      "required" : [ "departmentId", "isEnabled" ],
                      "properties" : {
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "isEnabled" : { }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "goalAnalytics" : {
                    "items" : {
                      "required" : [ "departmentId", "isEnabled" ],
                      "properties" : {
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "isEnabled" : { }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "isActive" : { }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "formAnalytics" : [ {
                      "departmentId" : "402000000006907",
                      "isEnabled" : false
                    } ],
                    "goalAnalytics" : [ {
                      "departmentId" : "402000000006907",
                      "isEnabled" : true
                    } ],
                    "isActive" : true
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "updateStatusJsonResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "formAnalytics", "goalAnalytics", "isActive", "isIntegrated" ],
                  "properties" : {
                    "formAnalytics" : {
                      "items" : {
                        "required" : [ "departmentId", "isEnabled" ],
                        "properties" : {
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "isEnabled" : { }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "goalAnalytics" : {
                      "items" : {
                        "required" : [ "departmentId", "isEnabled" ],
                        "properties" : {
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "isEnabled" : { }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "isIntegrated" : { },
                    "isActive" : {
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "update Status of PageSense",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "formAnalytics" : [ {
                        "departmentId" : "402000000006907",
                        "isEnabled" : false
                      }, {
                        "departmentId" : "402000000006909",
                        "isEnabled" : true
                      }, {
                        "departmentId" : "402000000006911",
                        "isEnabled" : false
                      } ],
                      "goalAnalytics" : [ {
                        "departmentId" : "402000000006907",
                        "isEnabled" : true
                      }, {
                        "departmentId" : "402000000006909",
                        "isEnabled" : false
                      }, {
                        "departmentId" : "402000000006911",
                        "isEnabled" : false
                      } ],
                      "isIntegrated" : true,
                      "isActive" : true
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 300,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "41f4af765d5c63146bb9780652f86f34",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.PagesenseService.updateStatus"
        }
      }
    },
    "/api/v1/pagesense/segmentReport" : {
      "get" : {
        "tags" : [ "PageSense" ],
        "summary" : "Get PageSense Segment Reports",
        "description" : "To get PageSense Segment Reports of form  ",
        "operationId" : "getSegmentReports",
        "parameters" : [ {
          "name" : "resourceId",
          "in" : "query",
          "description" : "Id of Feedback Widget or Advanced Web Form",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Id of Feedback Widget or Advanced Web Form",
            "format" : "int64"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "To date of Analytics Report yyyy-MM-dd",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^([12][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$",
            "description" : "To date of Analytics Report yyyy-MM-dd"
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "From date of Analytics Report yyyy-MM-dd",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^([12][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$",
            "description" : "From date of Analytics Report yyyy-MM-dd"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "segmentReportJsonResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "filterReports" ],
                  "properties" : {
                    "filterReports" : {
                      "items" : {
                        "required" : [ "attribute_values", "segment_type" ],
                        "properties" : {
                          "attribute_values" : {
                            "items" : {
                              "required" : [ "count", "display_name", "segment_value" ],
                              "properties" : {
                                "count" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "display_name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([a-zA-Z0-9]+)"
                                },
                                "segment_value" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([a-zA-Z0-9]+)"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "segment_type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "visitor_type", "traffic_source", "location_type", "device_type", "browser_type", "day_of_week", "hour_of_day", "operating_system" ]
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "segmentReport" : [ {
                        "attribute_values" : [ {
                          "name" : "Returning",
                          "count" : 2
                        }, {
                          "name" : "New",
                          "count" : 2
                        } ],
                        "segment_type" : "visitor_type"
                      }, {
                        "attribute_values" : [ {
                          "name" : "Referral",
                          "count" : 2
                        }, {
                          "name" : "Direct",
                          "count" : 2
                        }, {
                          "name" : "Paid Campaigns",
                          "count" : 0
                        }, {
                          "name" : "Organic Search",
                          "count" : 0
                        }, {
                          "name" : "Social",
                          "count" : 0
                        } ],
                        "segment_type" : "traffic_source"
                      }, {
                        "attribute_values" : [ {
                          "name" : "Unknown",
                          "count" : 2
                        } ],
                        "segment_type" : "location_type"
                      }, {
                        "attribute_values" : [ {
                          "name" : "Desktop",
                          "count" : 2
                        }, {
                          "name" : "Mobile",
                          "count" : 0
                        }, {
                          "name" : "Tablet",
                          "count" : 0
                        } ],
                        "segment_type" : "device_type"
                      }, {
                        "attribute_values" : [ {
                          "name" : "Chrome",
                          "count" : 2
                        } ],
                        "segment_type" : "browser_type"
                      }, {
                        "attribute_values" : [ {
                          "name" : "Mac OS",
                          "count" : 2
                        } ]
                      }, {
                        "attribute_values" : [ {
                          "name" : "Sunday",
                          "count" : 0
                        }, {
                          "name" : "Monday",
                          "count" : 0
                        }, {
                          "name" : "Tuesday",
                          "count" : 0
                        }, {
                          "name" : "Wednesday",
                          "count" : 1
                        }, {
                          "name" : "Thursday",
                          "count" : 1
                        }, {
                          "name" : "Friday",
                          "count" : 0
                        }, {
                          "name" : "Saturday",
                          "count" : 0
                        } ],
                        "segment_type" : "day_of_week"
                      }, {
                        "attribute_values" : [ {
                          "name" : "0",
                          "count" : 0
                        }, {
                          "name" : "1",
                          "count" : 0
                        }, {
                          "name" : "2",
                          "count" : 0
                        }, {
                          "name" : "3",
                          "count" : 0
                        }, {
                          "name" : "4",
                          "count" : 0
                        }, {
                          "name" : "5",
                          "count" : 0
                        }, {
                          "name" : "6",
                          "count" : 0
                        }, {
                          "name" : "7",
                          "count" : 0
                        }, {
                          "name" : "8",
                          "count" : 0
                        }, {
                          "name" : "9",
                          "count" : 0
                        }, {
                          "name" : "10",
                          "count" : 0
                        }, {
                          "name" : "11",
                          "count" : 0
                        }, {
                          "name" : "12",
                          "count" : 0
                        }, {
                          "name" : "13",
                          "count" : 0
                        }, {
                          "name" : "14",
                          "count" : 0
                        }, {
                          "name" : "15",
                          "count" : 2
                        }, {
                          "name" : "16",
                          "count" : 0
                        }, {
                          "name" : "17",
                          "count" : 0
                        }, {
                          "name" : "18",
                          "count" : 0
                        }, {
                          "name" : "19",
                          "count" : 0
                        }, {
                          "name" : "20",
                          "count" : 0
                        }, {
                          "name" : "21",
                          "count" : 0
                        }, {
                          "name" : "22",
                          "count" : 0
                        }, {
                          "name" : "23",
                          "count" : 0
                        } ],
                        "segment_type" : "hour_of_day"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 300,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "a4615aa6d3097122779ce474e1eb59ed",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.PagesenseService.getSegmentReports"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "threadDayReportsJson" : {
        "required" : [ "abandon_count", "conversion_count", "starter_count", "time" ],
        "properties" : {
          "starter_count" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "conversion_count" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "abandon_count" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "time" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "formDayReports" : {
        "items" : {
          "required" : [ "abandon_count", "conversion_count", "starter_count", "time" ],
          "properties" : {
            "starter_count" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "conversion_count" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "abandon_count" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "time" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "additionalProperties" : false
        }
      },
      "threadFormFieldsJson" : {
        "required" : [ "blank_percentage", "blankrate_count", "completion_time", "correction_count", "dropoff_count", "field_alias", "filled_percentage", "filled_rate", "hesitation_percentage", "hesitation_time", "refocus_count", "starter_count", "visit_count" ],
        "properties" : {
          "blankrate_count" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "visit_count" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "refocus_count" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "completion_time" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "starter_count" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "dropoff_count" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "hesitation_percentage" : {
            "format" : "double"
          },
          "blank_percentage" : {
            "format" : "double"
          },
          "hesitation_time" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "filled_percentage" : {
            "format" : "double"
          },
          "correction_count" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "field_alias" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "filled_rate" : {
            "format" : "double"
          }
        },
        "additionalProperties" : { }
      },
      "formFieldsJson" : {
        "items" : {
          "required" : [ "blank_percentage", "blankrate_count", "completion_time", "correction_count", "dropoff_count", "field_alias", "filled_percentage", "filled_rate", "hesitation_percentage", "hesitation_time", "refocus_count", "starter_count", "visit_count" ],
          "properties" : {
            "blankrate_count" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "visit_count" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "refocus_count" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "completion_time" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "starter_count" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "dropoff_count" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "hesitation_percentage" : {
              "format" : "double"
            },
            "blank_percentage" : {
              "format" : "double"
            },
            "hesitation_time" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "filled_percentage" : {
              "format" : "double"
            },
            "correction_count" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "field_alias" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "filled_rate" : {
              "format" : "double"
            }
          },
          "additionalProperties" : false
        }
      },
      "formReports" : {
        "required" : [ "abandon_count", "abandon_rate", "complete_time", "conversion_count", "conversion_rate", "form_fields", "spent_time", "starter_count", "starter_rate", "submission_count", "visit_count", "visitor_count" ],
        "properties" : {
          "starter_rate" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "visitor_count" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "visit_count" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "form_fields" : {
            "items" : {
              "required" : [ "blank_percentage", "blankrate_count", "completion_time", "correction_count", "dropoff_count", "field_alias", "filled_percentage", "filled_rate", "hesitation_percentage", "hesitation_time", "refocus_count", "starter_count", "visit_count" ],
              "properties" : {
                "blankrate_count" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "visit_count" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "refocus_count" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "completion_time" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "starter_count" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "dropoff_count" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "hesitation_percentage" : {
                  "format" : "double"
                },
                "blank_percentage" : {
                  "format" : "double"
                },
                "hesitation_time" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "filled_percentage" : {
                  "format" : "double"
                },
                "correction_count" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "field_alias" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                },
                "filled_rate" : {
                  "format" : "double"
                }
              },
              "additionalProperties" : false
            }
          },
          "complete_time" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "starter_count" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "submission_count" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "conversion_count" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "abandon_count" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "spent_time" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "conversion_rate" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "abandon_rate" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "formArrayJson" : {
        "required" : [ "formId", "formName" ],
        "properties" : {
          "formId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "formName" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          }
        },
        "additionalProperties" : { }
      },
      "webFormArray" : {
        "items" : {
          "required" : [ "formId", "formName" ],
          "properties" : {
            "formId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "formName" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            }
          },
          "additionalProperties" : false
        }
      },
      "feedbackWidgetArray" : {
        "items" : {
          "required" : [ "formId", "formName" ],
          "properties" : {
            "formId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "formName" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            }
          },
          "additionalProperties" : false
        }
      },
      "threadAnalyticsJson" : {
        "required" : [ "departmentId", "isEnabled" ],
        "properties" : {
          "departmentId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "isEnabled" : { }
        },
        "additionalProperties" : { }
      },
      "analyticsArray" : {
        "items" : {
          "required" : [ "departmentId", "isEnabled" ],
          "properties" : {
            "departmentId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "isEnabled" : { }
          },
          "additionalProperties" : false
        }
      },
      "threadAttributeValuesJson" : {
        "required" : [ "count", "display_name", "segment_value" ],
        "properties" : {
          "count" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "display_name" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z0-9]+)"
          },
          "segment_value" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-zA-Z0-9]+)"
          }
        },
        "additionalProperties" : { }
      },
      "attributeValues" : {
        "items" : {
          "required" : [ "count", "display_name", "segment_value" ],
          "properties" : {
            "count" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "display_name" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([a-zA-Z0-9]+)"
            },
            "segment_value" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([a-zA-Z0-9]+)"
            }
          },
          "additionalProperties" : false
        }
      },
      "threadSegmentReport" : {
        "required" : [ "attribute_values", "segment_type" ],
        "properties" : {
          "attribute_values" : {
            "items" : {
              "required" : [ "count", "display_name", "segment_value" ],
              "properties" : {
                "count" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int32"
                },
                "display_name" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([a-zA-Z0-9]+)"
                },
                "segment_value" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([a-zA-Z0-9]+)"
                }
              },
              "additionalProperties" : false
            }
          },
          "segment_type" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "visitor_type", "traffic_source", "location_type", "device_type", "browser_type", "day_of_week", "hour_of_day", "operating_system" ]
          }
        },
        "additionalProperties" : { }
      },
      "segmentReport" : {
        "items" : {
          "required" : [ "attribute_values", "segment_type" ],
          "properties" : {
            "attribute_values" : {
              "items" : {
                "required" : [ "count", "display_name", "segment_value" ],
                "properties" : {
                  "count" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int32"
                  },
                  "display_name" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([a-zA-Z0-9]+)"
                  },
                  "segment_value" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([a-zA-Z0-9]+)"
                  }
                },
                "additionalProperties" : false
              }
            },
            "segment_type" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "visitor_type", "traffic_source", "location_type", "device_type", "browser_type", "day_of_week", "hour_of_day", "operating_system" ]
            }
          },
          "additionalProperties" : false
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
[...]
