{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "PBPlatform",
    "version" : "1.0.0",
    "x-clan-group" : "secModule",
    "x-module-group" : "telephony"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/phonebridge/callDetails" : {
      "get" : {
        "tags" : [ "PBPlatform" ],
        "summary" : "Get CallDetails by callrefid",
        "description" : "This API used to fetch get calldetails by callrefid or activityid",
        "operationId" : "getCallDetails",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "getCallDetails template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "activityId", "activityUrl", "callrefId", "callstate", "calltype", "customerNumber", "departmentId", "departmentName", "duration", "pbxNumber", "ticketId", "ticketUrl" ],
                  "properties" : {
                    "departmentName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "duration" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "activityId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the callactivity",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "ticketUrl" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "pbxNumber" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "activityUrl" : {
                      "maxLength" : 500,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "callstate" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "departmentId" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "([a-zA-Z0-9]+)"
                    },
                    "callrefId" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Call reference ID provided by the Private Branch Exchange (PBX) or unique call id",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "calltype" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "customerNumber" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "ticketId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "duration" : "30",
                      "departmentName" : "calldetailsone",
                      "ticketUrl" : "https://desk.zoho.com/support/pbtype4testing/ShowHomePage.do#Cases/dv/98443000001934998",
                      "activityId" : "4000000030003",
                      "pbxNumber" : "+18447984162",
                      "activityUrl" : "https://desk.zoho.com/support/calldetailsone/ShowHomePage.do#Calls/dv/4000000030003",
                      "callstate" : "completed",
                      "departmentId" : "4000000018520",
                      "callrefId" : "6e979edc-7a38-48ff-adda-be8943bbee65",
                      "customerNumber" : "+14083529191",
                      "calltype" : "inbound",
                      "ticketId" : "4000000018515"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "d1f551d1eacc7e22e2375944f50602d0",
          "module-group" : "telephony",
          "apimethod" : "com.zoho.desk.phonebridge.PhoneBridgePlatformService.getCallDetails"
        }
      }
    },
    "/api/v1/phonebridge/preferences" : {
      "get" : {
        "tags" : [ "PBPlatform" ],
        "summary" : "Get missed call preferences",
        "description" : "This API fetch the missed call preference from your help desk portal.",
        "operationId" : "getPreferenceList",
        "parameters" : [ {
          "name" : "pb_number_mapping_supported",
          "in" : "query",
          "description" : "To know whether phoneumber vs department mapping supported",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "To know whether phoneumber vs department mapping supported"
          }
        }, {
          "name" : "provider_name",
          "in" : "query",
          "description" : "PBX provider name",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "PBX provider name"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "getPreferenceResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "formElements", "sysrefVsActions", "sysrefVsValue" ],
                  "properties" : {
                    "sysrefVsValue" : {
                      "required" : [ "DEFAULT_DEPARTMENT", "MISSED_CALL_TICKET_CONFIG", "pb_number_mapping_supported" ],
                      "properties" : {
                        "PHONENUMBERS_DEPT_MAPPING" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxProperties" : 4,
                            "minProperties" : 4,
                            "required" : [ "key", "keyname", "value", "valuename" ],
                            "properties" : {
                              "keyname" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "valuename" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "value" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "key" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "pb_number_mapping_supported" : {
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "To know whether phoneumber vs department mapping supported",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "DEFAULT_DEPARTMENT" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "MISSED_CALL_TICKET_CONFIG" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "None", "All", "Inbound", "Outbound" ]
                        },
                        "CALLRECORDING_STORAGE_TYPE" : { },
                        "STORE_CALLRECORDING_IN_ACTIVITIES" : { },
                        "STORE_CALLRECORDING_IN_TICKETS" : { }
                      },
                      "additionalProperties" : { }
                    },
                    "sysrefVsActions" : {
                      "required" : [ "MISSED_CALL_TICKET_CONFIG", "pb_number_mapping_supported" ],
                      "properties" : {
                        "pb_number_mapping_supported" : {
                          "items" : {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "required" : [ "hideFields", "value" ],
                              "properties" : {
                                "hideFields" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "value" : { }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "showFields" ],
                              "properties" : {
                                "showFields" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                }
                              }
                            } ]
                          }
                        },
                        "MISSED_CALL_TICKET_CONFIG" : {
                          "items" : {
                            "required" : [ "hideFields", "value" ],
                            "properties" : {
                              "hideFields" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "value" : { }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "STORE_CALLRECORDING_IN_TICKETS" : {
                          "items" : {
                            "oneOf" : [ {
                              "required" : [ "hideFields", "value" ],
                              "properties" : {
                                "hideFields" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "value" : { }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "showFields" ],
                              "properties" : {
                                "showFields" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                }
                              }
                            } ]
                          }
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "formElements" : {
                      "items" : {
                        "anyOf" : [ {
                          "required" : [ "SysrefName", "fieldLabel", "fieldType" ],
                          "properties" : {
                            "SysrefName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "DEFAULT_DEPARTMENT", "MISSED_CALL_TICKET_CONFIG", "PHONENUMBERS_DEPT_MAPPING", "CALLRECORDING_STORAGE_TYPE", "STORE_CALLRECORDING_IN_ACTIVITIES", "STORE_CALLRECORDING_IN_TICKETS" ]
                            },
                            "fieldLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "fieldType" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          }
                        }, {
                          "allOf" : [ {
                            "required" : [ "SysrefName", "fieldLabel", "fieldType" ],
                            "properties" : {
                              "SysrefName" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "DEFAULT_DEPARTMENT", "MISSED_CALL_TICKET_CONFIG", "PHONENUMBERS_DEPT_MAPPING", "CALLRECORDING_STORAGE_TYPE", "STORE_CALLRECORDING_IN_ACTIVITIES", "STORE_CALLRECORDING_IN_TICKETS" ]
                              },
                              "fieldLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "fieldType" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            }
                          }, {
                            "required" : [ "primaryOptionsLabel", "primary_options", "relation_type", "secondaryOptionsLabel", "secondary_options" ],
                            "properties" : {
                              "primaryOptionsLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "secondary_options" : {
                                "items" : {
                                  "required" : [ "optionLabel", "optionRefName" ],
                                  "properties" : {
                                    "optionLabel" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    },
                                    "optionRefName" : { }
                                  },
                                  "additionalProperties" : false
                                }
                              },
                              "relation_type" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "secondaryOptionsLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "primary_options" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          } ]
                        }, {
                          "allOf" : [ {
                            "required" : [ "SysrefName", "fieldLabel", "fieldType" ],
                            "properties" : {
                              "SysrefName" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "DEFAULT_DEPARTMENT", "MISSED_CALL_TICKET_CONFIG", "PHONENUMBERS_DEPT_MAPPING", "CALLRECORDING_STORAGE_TYPE", "STORE_CALLRECORDING_IN_ACTIVITIES", "STORE_CALLRECORDING_IN_TICKETS" ]
                              },
                              "fieldLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "fieldType" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            }
                          }, {
                            "required" : [ "options" ],
                            "properties" : {
                              "options" : {
                                "items" : {
                                  "required" : [ "optionLabel", "optionRefName" ],
                                  "properties" : {
                                    "optionLabel" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    },
                                    "optionRefName" : { }
                                  },
                                  "additionalProperties" : false
                                }
                              }
                            },
                            "additionalProperties" : false
                          } ]
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "76795c2e6e0af36b4b932f784d5b73e9",
          "module-group" : "telephony",
          "apimethod" : "com.zoho.desk.phonebridge.PhoneBridgePlatformService.getPreferenceList"
        }
      },
      "patch" : {
        "tags" : [ "PBPlatform" ],
        "operationId" : "updatePreferenceList",
        "parameters" : [ {
          "name" : "pb_number_mapping_supported",
          "in" : "query",
          "description" : "To know whether phoneumber vs department mapping supported",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "To know whether phoneumber vs department mapping supported"
          }
        }, {
          "name" : "provider_name",
          "in" : "query",
          "description" : "PBX provider name",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "PBX provider name"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "PHONENUMBERS_DEPT_MAPPING" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxProperties" : 4,
                      "minProperties" : 4,
                      "required" : [ "key", "keyname", "value", "valuename" ],
                      "properties" : {
                        "keyname" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "x-custom-parameters-attributes" : [ ]
                        },
                        "valuename" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "x-custom-parameters-attributes" : [ ]
                        },
                        "value" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : [ ]
                        },
                        "key" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "x-custom-parameters-attributes" : [ ]
                        }
                      },
                      "additionalProperties" : { },
                      "x-custom-parameters-attributes" : [ ]
                    }
                  },
                  "DEFAULT_DEPARTMENT" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Missed call ticket to be created in the department specified",
                    "format" : "int64"
                  },
                  "MISSED_CALL_TICKET_CONFIG" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Missed call preference",
                    "enum" : [ "None", "All", "Inbound", "Outbound" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : null
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "getPreferenceResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "formElements", "sysrefVsActions", "sysrefVsValue" ],
                  "properties" : {
                    "sysrefVsValue" : {
                      "required" : [ "DEFAULT_DEPARTMENT", "MISSED_CALL_TICKET_CONFIG", "pb_number_mapping_supported" ],
                      "properties" : {
                        "PHONENUMBERS_DEPT_MAPPING" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxProperties" : 4,
                            "minProperties" : 4,
                            "required" : [ "key", "keyname", "value", "valuename" ],
                            "properties" : {
                              "keyname" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "valuename" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "value" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "key" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "pb_number_mapping_supported" : {
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "To know whether phoneumber vs department mapping supported",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "DEFAULT_DEPARTMENT" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "MISSED_CALL_TICKET_CONFIG" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "None", "All", "Inbound", "Outbound" ]
                        },
                        "CALLRECORDING_STORAGE_TYPE" : { },
                        "STORE_CALLRECORDING_IN_ACTIVITIES" : { },
                        "STORE_CALLRECORDING_IN_TICKETS" : { }
                      },
                      "additionalProperties" : false
                    },
                    "sysrefVsActions" : {
                      "required" : [ "MISSED_CALL_TICKET_CONFIG", "pb_number_mapping_supported" ],
                      "properties" : {
                        "pb_number_mapping_supported" : {
                          "items" : {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "required" : [ "hideFields", "value" ],
                              "properties" : {
                                "hideFields" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "value" : { }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "showFields" ],
                              "properties" : {
                                "showFields" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                }
                              }
                            } ]
                          }
                        },
                        "MISSED_CALL_TICKET_CONFIG" : {
                          "items" : {
                            "required" : [ "hideFields", "value" ],
                            "properties" : {
                              "hideFields" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "value" : { }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "STORE_CALLRECORDING_IN_TICKETS" : {
                          "items" : {
                            "oneOf" : [ {
                              "required" : [ "hideFields", "value" ],
                              "properties" : {
                                "hideFields" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "value" : { }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "showFields" ],
                              "properties" : {
                                "showFields" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                }
                              }
                            } ]
                          }
                        }
                      },
                      "additionalProperties" : false
                    },
                    "formElements" : {
                      "items" : {
                        "anyOf" : [ {
                          "required" : [ "SysrefName", "fieldLabel", "fieldType" ],
                          "properties" : {
                            "SysrefName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "DEFAULT_DEPARTMENT", "MISSED_CALL_TICKET_CONFIG", "PHONENUMBERS_DEPT_MAPPING", "CALLRECORDING_STORAGE_TYPE", "STORE_CALLRECORDING_IN_ACTIVITIES", "STORE_CALLRECORDING_IN_TICKETS" ]
                            },
                            "fieldLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "fieldType" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          }
                        }, {
                          "allOf" : [ {
                            "required" : [ "SysrefName", "fieldLabel", "fieldType" ],
                            "properties" : {
                              "SysrefName" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "DEFAULT_DEPARTMENT", "MISSED_CALL_TICKET_CONFIG", "PHONENUMBERS_DEPT_MAPPING", "CALLRECORDING_STORAGE_TYPE", "STORE_CALLRECORDING_IN_ACTIVITIES", "STORE_CALLRECORDING_IN_TICKETS" ]
                              },
                              "fieldLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "fieldType" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            }
                          }, {
                            "required" : [ "primaryOptionsLabel", "primary_options", "relation_type", "secondaryOptionsLabel", "secondary_options" ],
                            "properties" : {
                              "primaryOptionsLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "secondary_options" : {
                                "items" : {
                                  "required" : [ "optionLabel", "optionRefName" ],
                                  "properties" : {
                                    "optionLabel" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    },
                                    "optionRefName" : { }
                                  },
                                  "additionalProperties" : false
                                }
                              },
                              "relation_type" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "secondaryOptionsLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "primary_options" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          } ]
                        }, {
                          "allOf" : [ {
                            "required" : [ "SysrefName", "fieldLabel", "fieldType" ],
                            "properties" : {
                              "SysrefName" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "DEFAULT_DEPARTMENT", "MISSED_CALL_TICKET_CONFIG", "PHONENUMBERS_DEPT_MAPPING", "CALLRECORDING_STORAGE_TYPE", "STORE_CALLRECORDING_IN_ACTIVITIES", "STORE_CALLRECORDING_IN_TICKETS" ]
                              },
                              "fieldLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "fieldType" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            }
                          }, {
                            "required" : [ "options" ],
                            "properties" : {
                              "options" : {
                                "items" : {
                                  "required" : [ "optionLabel", "optionRefName" ],
                                  "properties" : {
                                    "optionLabel" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    },
                                    "optionRefName" : { }
                                  },
                                  "additionalProperties" : false
                                }
                              }
                            },
                            "additionalProperties" : false
                          } ]
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "37880e36716779794c71300c4e8614d9",
          "module-group" : "telephony",
          "apimethod" : "com.zoho.desk.phonebridge.PhoneBridgePlatformService.updatePreferenceList"
        }
      }
    },
    "/api/v1/phonebridge/searchContact" : {
      "get" : {
        "tags" : [ "PBPlatform" ],
        "summary" : "Search Contact",
        "description" : "Search the contact using the phone number or by contact id.",
        "operationId" : "searchContact",
        "parameters" : [ {
          "name" : "recordid",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "callbackparam",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "additionalProperties" : { }
          }
        }, {
          "name" : "module",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "Contacts" ]
          }
        }, {
          "name" : "phonenumber",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "searchContactResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "callbackparam", "details" ],
                  "properties" : {
                    "callbackparam" : {
                      "required" : [ "activity", "contact", "livecall", "ticket" ],
                      "properties" : {
                        "activity" : {
                          "required" : [ "id" ],
                          "properties" : {
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "description" : "ID of the record",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "ticket" : {
                          "required" : [ "id" ],
                          "properties" : {
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "description" : "ID of the record",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "contact" : {
                          "required" : [ "id", "name", "phone" ],
                          "properties" : {
                            "phone" : {
                              "maxLength" : 50,
                              "minLength" : 0,
                              "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                              "description" : "Phone number in the contact"
                            },
                            "name" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "description" : "Last name of the contact"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "description" : "ID of the record",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "livecall" : {
                          "required" : [ "id", "subject" ],
                          "properties" : {
                            "subject" : {
                              "maxLength" : 300,
                              "minLength" : 0,
                              "description" : "Subject of the call"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "description" : "ID of the record",
                              "format" : "int64"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "details" : {
                      "required" : [ "additional_details", "additional_info", "custom_img", "dp_uri", "module", "name", "recordId", "uri" ],
                      "properties" : {
                        "recordId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "dp_uri" : {
                          "maxLength" : 500,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "additional_details" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        },
                        "additional_info" : {
                          "items" : {
                            "required" : [ "display_key", "display_value", "field_type", "field_value", "uri_target" ],
                            "properties" : {
                              "display_value" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "display_key" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "Email", "Phone", "Mobile", "Open Tickets" ]
                              },
                              "uri_target" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "window", "iframe" ]
                              },
                              "field_value" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "field_type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "uri", "email" ]
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "module" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "Contacts" ]
                        },
                        "name" : {
                          "maxLength" : 200,
                          "minLength" : 0
                        },
                        "custom_img" : {
                          "required" : [ "image", "text" ],
                          "properties" : {
                            "image" : {
                              "maxLength" : 500,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "text" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "uri" : {
                          "maxLength" : 500,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "callbackparam" : {
                        "activity" : { },
                        "ticket" : { },
                        "contact" : {
                          "phone" : "+917092894814",
                          "name" : "Dinesh portal",
                          "id" : "3684000001674001"
                        },
                        "livecall" : { }
                      },
                      "details" : {
                        "recordId" : "3684000001674001",
                        "dp_uri" : "https://desk.zoho.com/api/v1/contacts/3684000001674001/photo?orgId=11191321",
                        "additional_details" : "",
                        "additional_info" : [ {
                          "display_value" : "carol@zylker.com",
                          "display_key" : "Email",
                          "uri_target" : "window",
                          "field_value" : "carol@zylker.com",
                          "field_type" : "email"
                        }, {
                          "display_value" : "+917092894814",
                          "display_key" : "Phone",
                          "uri_target" : null,
                          "field_value" : null,
                          "field_type" : null
                        }, {
                          "display_value" : "+917092894814",
                          "display_key" : "Mobile",
                          "uri_target" : null,
                          "field_value" : null,
                          "field_type" : null
                        }, {
                          "display_value" : "1",
                          "display_key" : "Open Ticketswww",
                          "uri_target" : "window",
                          "field_value" : "https://desk.zoho.com/support/dineshkumars/ShowHomePage.do#Contacts/dv/3684000001674001",
                          "field_type" : "uri"
                        } ],
                        "module" : "Contacts",
                        "name" : "Dinesh portal",
                        "custom_img" : {
                          "image" : null,
                          "text" : null
                        },
                        "uri" : "https://desk.zoho.com/support/dineshkumars/ShowHomePage.do#Contacts/dv/3684000001674001"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.phonebridge.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "1c709197111c496faaee0d34fff78058",
          "module-group" : "telephony",
          "apimethod" : "com.zoho.desk.phonebridge.PhoneBridgePlatformService.searchContact"
        }
      }
    },
    "/api/v1/phonebridge/callActionUrls" : {
      "get" : {
        "tags" : [ "PBPlatform" ],
        "summary" : "Get Call Actions",
        "description" : "This API to fetch all the call relevant actions from your help desk portal",
        "operationId" : "getCallActions",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "getCallActions template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "details" ],
                  "properties" : {
                    "details" : {
                      "items" : {
                        "required" : [ "action_name", "action_support", "action_type", "action_uri", "santizedDeptName" ],
                        "properties" : {
                          "santizedDeptName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "action_type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "window", "iframe" ]
                          },
                          "action_support" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "known", "unknown", "both" ]
                          },
                          "action_uri" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "action_name" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "details" : [ {
                        "santizedDeptName" : "dineshkumars",
                        "action_type" : "iframe",
                        "action_support" : "both",
                        "action_uri" : "https://desk.zoho.com/api/embedableframeSource?niceUrl=/agent/dineshkumars/dineshkumars&js=https://static.zohocdn.com/desk/agent/ticketform-v1.0.9.js&jsVersion=Jan_09_2024",
                        "action_name" : "Create Ticket"
                      }, {
                        "santizedDeptName" : "dineshkumars",
                        "action_type" : "iframe",
                        "action_support" : "unknown",
                        "action_uri" : "https://desk.zoho.com/api/embedableframeSource?niceUrl=/agent/dineshkumars/dineshkumars&js=https://static.zohocdn.com/desk/agent/contactform-v1.0.9.js&jsVersion=Jan_09_2024",
                        "action_name" : "Create Contact"
                      }, {
                        "santizedDeptName" : "dineshkumars",
                        "action_type" : "iframe",
                        "action_support" : "both",
                        "action_uri" : "https://desk.zoho.com/api/embedableframeSource?niceUrl=/agent/dineshkumars/dineshkumars&js=https://static.zohocdn.com/desk/agent/ticketlookup-v1.0.9.js&jsVersion=Jan_09_2024",
                        "action_name" : "Associate Ticket"
                      }, {
                        "santizedDeptName" : "dineshkumars",
                        "action_type" : "iframe",
                        "action_support" : "both",
                        "action_uri" : "https://desk.zoho.com/api/embedableframeSource?niceUrl=/agent/dineshkumars/dineshkumars&js=https://static.zohocdn.com/desk/agent/callform-v1.0.9.js&jsVersion=Jan_09_2024",
                        "action_name" : "Edit Call"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.phonebridge.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "57e6d898277d339e11d1c54a736e7679",
          "module-group" : "telephony",
          "apimethod" : "com.zoho.desk.phonebridge.PhoneBridgePlatformService.getCallActions"
        }
      }
    },
    "/api/v1/phonebridge/calls" : {
      "post" : {
        "tags" : [ "PBPlatform" ],
        "operationId" : "processCalls",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "call_state", "id", "start_time", "type" ],
                "properties" : {
                  "callbackparam" : {
                    "required" : [ "activity", "contact", "livecall", "ticket" ],
                    "properties" : {
                      "activity" : {
                        "required" : [ "id" ],
                        "properties" : {
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the record",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "ticket" : {
                        "required" : [ "id" ],
                        "properties" : {
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the record",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "contact" : {
                        "required" : [ "id", "name", "phone" ],
                        "properties" : {
                          "phone" : {
                            "maxLength" : 50,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                            "description" : "Phone number in the contact"
                          },
                          "name" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "description" : "Last name of the contact"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the record",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "livecall" : {
                        "required" : [ "id", "subject" ],
                        "properties" : {
                          "subject" : {
                            "maxLength" : 300,
                            "minLength" : 0,
                            "description" : "Subject of the call"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the record",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "additionalProperties" : false
                  },
                  "module" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "The module(tab) of the field",
                    "enum" : [ "Contacts" ]
                  },
                  "description" : {
                    "maxLength" : 65535,
                    "minLength" : 0,
                    "description" : "Description of the call"
                  },
                  "call_state" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Completion status of the call",
                    "enum" : [ "ringing", "answered", "completed", "missed", "callupdate" ]
                  },
                  "type" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Direction of the call: @incoming@ or @outgoing@ or @missed@",
                    "enum" : [ "incoming", "outgoing", "missed" ]
                  },
                  "duration" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Duration of the call in seconds",
                    "format" : "int32"
                  },
                  "recordid" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the record",
                    "format" : "int64"
                  },
                  "start_time" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                    "description" : "Time when the event started. The value of this key must be recorded in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ."
                  },
                  "voice_uri" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)",
                    "description" : "Recording or voice mail URL"
                  },
                  "from" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Phone number of the contact"
                  },
                  "id" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([a-zA-Z0-9]+)",
                    "description" : "Call reference ID provided by the Private Branch Exchange (PBX) or unique call id"
                  },
                  "to" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "Phone number configured"
                  },
                  "provider_name" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "description" : "provider name"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : null
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.phonebridge.UPDATE", "Desk.activities.calls.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "1577b81ef3dce0ec0d69dc0569e14445",
          "module-group" : "telephony",
          "apimethod" : "com.zoho.desk.phonebridge.PhoneBridgePlatformService.processCalls"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "sysrefVsValue" : {
        "required" : [ "DEFAULT_DEPARTMENT", "MISSED_CALL_TICKET_CONFIG", "pb_number_mapping_supported" ],
        "properties" : {
          "PHONENUMBERS_DEPT_MAPPING" : {
            "uniqueItems" : false,
            "items" : {
              "maxProperties" : 4,
              "minProperties" : 4,
              "required" : [ "key", "keyname", "value", "valuename" ],
              "properties" : {
                "keyname" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "valuename" : {
                  "maxLength" : 100,
                  "minLength" : 0
                },
                "value" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "key" : {
                  "maxLength" : 100,
                  "minLength" : 0
                }
              },
              "additionalProperties" : { }
            }
          },
          "pb_number_mapping_supported" : {
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "To know whether phoneumber vs department mapping supported",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "DEFAULT_DEPARTMENT" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "MISSED_CALL_TICKET_CONFIG" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "None", "All", "Inbound", "Outbound" ]
          },
          "CALLRECORDING_STORAGE_TYPE" : { },
          "STORE_CALLRECORDING_IN_ACTIVITIES" : { },
          "STORE_CALLRECORDING_IN_TICKETS" : { }
        },
        "additionalProperties" : { }
      },
      "missedCallTicketConfig" : {
        "required" : [ "hideFields", "value" ],
        "properties" : {
          "hideFields" : {
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          },
          "value" : { }
        },
        "additionalProperties" : { }
      },
      "addedCallTicketConfig" : {
        "required" : [ "showFields" ],
        "properties" : {
          "showFields" : {
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          }
        }
      },
      "pbNumberMappingSupportedItemsObj" : {
        "additionalProperties" : { },
        "allOf" : [ {
          "required" : [ "hideFields", "value" ],
          "properties" : {
            "hideFields" : {
              "uniqueItems" : false,
              "items" : {
                "maxLength" : 100,
                "minLength" : 0
              }
            },
            "value" : { }
          },
          "additionalProperties" : false
        }, {
          "required" : [ "showFields" ],
          "properties" : {
            "showFields" : {
              "uniqueItems" : false,
              "items" : {
                "maxLength" : 100,
                "minLength" : 0
              }
            }
          }
        } ]
      },
      "pbNumberMappingSupportedItems" : {
        "items" : {
          "additionalProperties" : false,
          "allOf" : [ {
            "required" : [ "hideFields", "value" ],
            "properties" : {
              "hideFields" : {
                "uniqueItems" : false,
                "items" : {
                  "maxLength" : 100,
                  "minLength" : 0
                }
              },
              "value" : { }
            },
            "additionalProperties" : false
          }, {
            "required" : [ "showFields" ],
            "properties" : {
              "showFields" : {
                "uniqueItems" : false,
                "items" : {
                  "maxLength" : 100,
                  "minLength" : 0
                }
              }
            }
          } ]
        }
      },
      "missedCallTicketConfigItems" : {
        "items" : {
          "required" : [ "hideFields", "value" ],
          "properties" : {
            "hideFields" : {
              "uniqueItems" : false,
              "items" : {
                "maxLength" : 100,
                "minLength" : 0
              }
            },
            "value" : { }
          },
          "additionalProperties" : false
        }
      },
      "storeCallRecordingActions" : {
        "items" : {
          "oneOf" : [ {
            "required" : [ "hideFields", "value" ],
            "properties" : {
              "hideFields" : {
                "uniqueItems" : false,
                "items" : {
                  "maxLength" : 100,
                  "minLength" : 0
                }
              },
              "value" : { }
            },
            "additionalProperties" : false
          }, {
            "required" : [ "showFields" ],
            "properties" : {
              "showFields" : {
                "uniqueItems" : false,
                "items" : {
                  "maxLength" : 100,
                  "minLength" : 0
                }
              }
            }
          } ]
        }
      },
      "sysrefVsActions" : {
        "required" : [ "MISSED_CALL_TICKET_CONFIG", "pb_number_mapping_supported" ],
        "properties" : {
          "pb_number_mapping_supported" : {
            "items" : {
              "additionalProperties" : false,
              "allOf" : [ {
                "required" : [ "hideFields", "value" ],
                "properties" : {
                  "hideFields" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "value" : { }
                },
                "additionalProperties" : false
              }, {
                "required" : [ "showFields" ],
                "properties" : {
                  "showFields" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  }
                }
              } ]
            }
          },
          "MISSED_CALL_TICKET_CONFIG" : {
            "items" : {
              "required" : [ "hideFields", "value" ],
              "properties" : {
                "hideFields" : {
                  "uniqueItems" : false,
                  "items" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  }
                },
                "value" : { }
              },
              "additionalProperties" : false
            }
          },
          "STORE_CALLRECORDING_IN_TICKETS" : {
            "items" : {
              "oneOf" : [ {
                "required" : [ "hideFields", "value" ],
                "properties" : {
                  "hideFields" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "value" : { }
                },
                "additionalProperties" : false
              }, {
                "required" : [ "showFields" ],
                "properties" : {
                  "showFields" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  }
                }
              } ]
            }
          }
        },
        "additionalProperties" : { }
      },
      "missedFormElementsOptionsArrayResp" : {
        "required" : [ "optionLabel", "optionRefName" ],
        "properties" : {
          "optionLabel" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "optionRefName" : { }
        },
        "additionalProperties" : { }
      },
      "missedOptions" : {
        "items" : {
          "required" : [ "optionLabel", "optionRefName" ],
          "properties" : {
            "optionLabel" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "optionRefName" : { }
          },
          "additionalProperties" : false
        }
      },
      "formElementsCommonObj" : {
        "required" : [ "SysrefName", "fieldLabel", "fieldType" ],
        "properties" : {
          "SysrefName" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "DEFAULT_DEPARTMENT", "MISSED_CALL_TICKET_CONFIG", "PHONENUMBERS_DEPT_MAPPING", "CALLRECORDING_STORAGE_TYPE", "STORE_CALLRECORDING_IN_ACTIVITIES", "STORE_CALLRECORDING_IN_TICKETS" ]
          },
          "fieldLabel" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "fieldType" : {
            "maxLength" : 100,
            "minLength" : 0
          }
        }
      },
      "missedFormElementsRespArray" : {
        "allOf" : [ {
          "required" : [ "SysrefName", "fieldLabel", "fieldType" ],
          "properties" : {
            "SysrefName" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "DEFAULT_DEPARTMENT", "MISSED_CALL_TICKET_CONFIG", "PHONENUMBERS_DEPT_MAPPING", "CALLRECORDING_STORAGE_TYPE", "STORE_CALLRECORDING_IN_ACTIVITIES", "STORE_CALLRECORDING_IN_TICKETS" ]
            },
            "fieldLabel" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "fieldType" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          }
        }, {
          "required" : [ "SysrefName", "fieldLabel", "fieldType", "fieldType", "primaryOptionsLabel", "primary_options", "relation_type", "secondaryOptionsLabel", "secondary_options" ],
          "properties" : {
            "primaryOptionsLabel" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "secondary_options" : {
              "items" : {
                "required" : [ "optionLabel", "optionRefName" ],
                "properties" : {
                  "optionLabel" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "optionRefName" : { }
                },
                "additionalProperties" : false
              }
            },
            "relation_type" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "secondaryOptionsLabel" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "primary_options" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          },
          "additionalProperties" : { }
        } ]
      },
      "deptFormElementsOptionsArrayResp" : {
        "required" : [ "optionLabel", "optionRefName" ],
        "properties" : {
          "optionLabel" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "optionRefName" : { }
        },
        "additionalProperties" : { }
      },
      "deptOptions" : {
        "items" : {
          "required" : [ "optionLabel", "optionRefName" ],
          "properties" : {
            "optionLabel" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "optionRefName" : { }
          },
          "additionalProperties" : false
        }
      },
      "deptFormElementsRespArray" : {
        "allOf" : [ {
          "required" : [ "SysrefName", "fieldLabel", "fieldType" ],
          "properties" : {
            "SysrefName" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "DEFAULT_DEPARTMENT", "MISSED_CALL_TICKET_CONFIG", "PHONENUMBERS_DEPT_MAPPING", "CALLRECORDING_STORAGE_TYPE", "STORE_CALLRECORDING_IN_ACTIVITIES", "STORE_CALLRECORDING_IN_TICKETS" ]
            },
            "fieldLabel" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "fieldType" : {
              "maxLength" : 100,
              "minLength" : 0
            }
          }
        }, {
          "required" : [ "SysrefName", "fieldLabel", "fieldType", "options" ],
          "properties" : {
            "options" : {
              "items" : {
                "required" : [ "optionLabel", "optionRefName" ],
                "properties" : {
                  "optionLabel" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "optionRefName" : { }
                },
                "additionalProperties" : false
              }
            }
          },
          "additionalProperties" : { }
        } ]
      },
      "formElements" : {
        "items" : {
          "anyOf" : [ {
            "required" : [ "SysrefName", "fieldLabel", "fieldType" ],
            "properties" : {
              "SysrefName" : {
                "maxLength" : 100,
[...]
