{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "PinnedConversation",
    "version" : "1.0.0",
    "x-clan-group" : "tickets",
    "x-module-group" : "tickets"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/tickets/{ticketId}/pins/unpin" : {
      "post" : {
        "tags" : [ "PinnedConversation" ],
        "summary" : "Unpin a ticket's pin",
        "description" : "This API deletes one or more pins from a ticket.",
        "operationId" : "unPinConversations",
        "parameters" : [ {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "description" : "unPinConversationRequest Payload template definitions",
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "ids" ],
                "properties" : {
                  "ids" : {
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "ids" : [ 1235000000013295, 1235000000013345 ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getUnPinnedConversationsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "properties" : {
                    "results" : {
                      "items" : {
                        "required" : [ "errors", "id", "success" ],
                        "properties" : {
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "success" : { },
                          "errors" : { }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "697a6c1d3b6e4e2ef6110d74a9adda4f",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.PinnedConversationService.unPinConversations"
        }
      }
    },
    "/api/v1/tickets/{ticketId}/pins" : {
      "get" : {
        "tags" : [ "PinnedConversation" ],
        "summary" : "Get pins of a ticket",
        "description" : "This API fetches the list of pins of a particular ticket.",
        "operationId" : "getPinnedConversations",
        "parameters" : [ {
          "name" : "types",
          "in" : "query",
          "description" : "The type of pins to fetch as a comma separated list. The allowed values are @comments@ and @threads@",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "The type of pins to fetch as a comma separated list. The allowed values are @comments@ and @threads@",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "comments", "threads" ],
              "x-custom-parameters-attributes" : [ false, "", false, false, false, "The type of pins to fetch as a comma separated list. The allowed values are @comments@ and @threads@", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getPinnedConversationsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "plainText" : {
                              "maxLength" : 16777215,
                              "minLength" : 0
                            },
                            "pinnedBy" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "mention" : {
                              "uniqueItems" : false,
                              "items" : {
                                "oneOf" : [ {
                                  "maxProperties" : 8,
                                  "minProperties" : 8,
                                  "required" : [ "email", "id", "length", "name", "offSet", "photoURL", "type", "zuid" ],
                                  "properties" : {
                                    "photoURL" : {
                                      "maxLength" : 200,
                                      "minLength" : 0,
                                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                    },
                                    "offSet" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "name" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "length" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "type" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                    },
                                    "email" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                    },
                                    "zuid" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    }
                                  },
                                  "additionalProperties" : { }
                                }, {
                                  "maxProperties" : 5,
                                  "minProperties" : 5,
                                  "required" : [ "id", "length", "name", "offSet", "type" ],
                                  "properties" : {
                                    "offSet" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "length" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "name" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "type" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                    }
                                  },
                                  "additionalProperties" : { }
                                }, {
                                  "maxProperties" : 7,
                                  "minProperties" : 7,
                                  "required" : [ "departmentId", "entityNumber", "id", "length", "name", "offSet", "type" ],
                                  "properties" : {
                                    "offSet" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "departmentId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "entityNumber" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "length" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "name" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "type" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                    }
                                  },
                                  "additionalProperties" : { }
                                } ]
                              }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "anyOf" : [ {
                            "required" : [ "entityPinned", "id", "isPublic", "pinnedById", "pinnedTime", "type" ],
                            "properties" : {
                              "pinnedTime" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "pinnedById" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "entityPinned" : {
                                "required" : [ "actions", "aspects", "attachmentCount", "author", "canReply", "channel", "channelRelatedInfo", "contentType", "createdTime", "direction", "hasAttach", "id", "impersonatedUser", "isDescriptionThread", "keyWords", "lastRatingIconURL", "readReceipts", "respondedIn", "sentiment", "source", "status", "summary", "visibility" ],
                                "properties" : {
                                  "summary" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                                  },
                                  "sentiment" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "NEUTRAL", "NEGATIVE", "POSITIVE", "null", null ]
                                  },
                                  "keyWords" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  },
                                  "isDescriptionThread" : { },
                                  "canReply" : { },
                                  "visibility" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "public", "private" ]
                                  },
                                  "author" : {
                                    "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                                    "properties" : {
                                      "photoURL" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      },
                                      "firstName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "lastName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "name" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                      },
                                      "email" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "channel" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "FACEBOOK", "TWITTER", "EMAIL", "FORUMS", "PHONE", "WEB", "FEEDBACK", "FEEDBACK_WIDGET", "TWITTER_DM", "ONLINE_CHAT", "OFFLINE_CHAT", "CUSTOMERPORTAL" ]
                                  },
                                  "aspects" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  },
                                  "source" : {
                                    "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                                    "properties" : {
                                      "appName" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "extId" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "permalink" : {
                                        "maxLength" : 65535,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                                      },
                                      "appPhotoURL" : {
                                        "maxLength" : 65535,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "lastRatingIconURL" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "impersonatedUser" : {
                                    "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                                    "properties" : {
                                      "photoURL" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      },
                                      "firstName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "lastName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "name" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                      },
                                      "email" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "hasAttach" : { },
                                  "channelRelatedInfo" : {
                                    "required" : [ "externalLink", "isBestSolution", "isDeleted" ],
                                    "properties" : {
                                      "isDeleted" : { },
                                      "isBestSolution" : { },
                                      "externalLink" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "respondedIn" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "createdTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "attachmentCount" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "readReceipts" : {
                                    "items" : {
                                      "required" : [ "from", "recipientType", "senderName", "statusVsTime" ],
                                      "properties" : {
                                        "senderName" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "recipientType" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "from" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                                          "x-custom-parameters-attributes" : {
                                            "removeExif" : false,
                                            "replacementString" : "",
                                            "filterMatchedContent" : false,
                                            "antivirus" : false,
                                            "allowInvalid" : false,
                                            "descrption" : "The starting index for fetching conversation records",
                                            "secret" : false,
                                            "preserveCharsLimit" : 10,
                                            "trim" : false,
                                            "internalParam" : false,
                                            "preserveChars" : "0,5",
                                            "importUrl" : false,
                                            "decrypt" : false
                                          }
                                        },
                                        "statusVsTime" : {
                                          "items" : {
                                            "required" : [ "Status", "Time" ],
                                            "properties" : {
                                              "Status" : {
                                                "maxLength" : 100,
                                                "minLength" : 0
                                              },
                                              "Time" : {
                                                "maxLength" : 100,
                                                "minLength" : 0
                                              }
                                            },
                                            "additionalProperties" : false
                                          }
                                        }
                                      },
                                      "additionalProperties" : false
                                    }
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "contentType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "html", "plainText", "text/html" ]
                                  },
                                  "actions" : {
                                    "items" : {
                                      "required" : [ "href", "method", "rel" ],
                                      "properties" : {
                                        "method" : {
                                          "maxLength" : 16000000,
                                          "minLength" : 0
                                        },
                                        "rel" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "enum" : [ "send", "update", "delete" ]
                                        },
                                        "href" : {
                                          "maxLength" : 16000000,
                                          "minLength" : 0,
                                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                        }
                                      },
                                      "additionalProperties" : false
                                    }
                                  },
                                  "status" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "SUCCESS", "PENDING", "FAILED", "DRAFT" ]
                                  },
                                  "direction" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "in", "out" ]
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "isPublic" : { },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "COMMENTS", "THREADS" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "entityPinned", "id", "isPublic", "pinnedById", "pinnedTime", "type" ],
                            "properties" : {
                              "pinnedTime" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "pinnedById" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "entityPinned" : {
                                "required" : [ "actions", "aspects", "attachmentCount", "author", "canReply", "channel", "channelRelatedInfo", "contentType", "createdTime", "direction", "facebookProfile", "hasAttach", "id", "impersonatedUser", "isDescriptionThread", "keyWords", "lastRatingIconURL", "readReceipts", "respondedIn", "sentiment", "source", "status", "summary", "visibility" ],
                                "properties" : {
                                  "summary" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                                  },
                                  "sentiment" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "NEUTRAL", "NEGATIVE", "POSITIVE", "null" ]
                                  },
                                  "keyWords" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  },
                                  "isDescriptionThread" : { },
                                  "canReply" : { },
                                  "visibility" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "public", "private" ]
                                  },
                                  "author" : {
                                    "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                                    "properties" : {
                                      "photoURL" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      },
                                      "firstName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "lastName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "name" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                      },
                                      "email" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "channel" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "FACEBOOK" ]
                                  },
                                  "aspects" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  },
                                  "source" : {
                                    "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                                    "properties" : {
                                      "appName" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "extId" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "permalink" : {
                                        "maxLength" : 65535,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                                      },
                                      "appPhotoURL" : {
                                        "maxLength" : 65535,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "lastRatingIconURL" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "facebookProfile" : {
                                    "maxLength" : 13000,
                                    "minLength" : 0,
                                    "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                                  },
                                  "impersonatedUser" : {
                                    "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                                    "properties" : {
                                      "photoURL" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      },
                                      "firstName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "lastName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "name" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                      },
                                      "email" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "hasAttach" : { },
                                  "channelRelatedInfo" : {
                                    "required" : [ "externalLink", "isBestSolution", "isDeleted" ],
                                    "properties" : {
                                      "isDeleted" : { },
                                      "isBestSolution" : { },
                                      "externalLink" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "respondedIn" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "createdTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "attachmentCount" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "readReceipts" : {
                                    "items" : {
                                      "required" : [ "from", "recipientType", "senderName", "statusVsTime" ],
                                      "properties" : {
                                        "senderName" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "recipientType" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "from" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                                          "x-custom-parameters-attributes" : {
                                            "removeExif" : false,
                                            "replacementString" : "",
                                            "filterMatchedContent" : false,
                                            "antivirus" : false,
                                            "allowInvalid" : false,
                                            "descrption" : "The starting index for fetching conversation records",
                                            "secret" : false,
                                            "preserveCharsLimit" : 10,
                                            "trim" : false,
                                            "internalParam" : false,
                                            "preserveChars" : "0,5",
                                            "importUrl" : false,
                                            "decrypt" : false
                                          }
                                        },
                                        "statusVsTime" : {
                                          "items" : {
                                            "required" : [ "Status", "Time" ],
                                            "properties" : {
                                              "Status" : {
                                                "maxLength" : 100,
                                                "minLength" : 0
                                              },
                                              "Time" : {
                                                "maxLength" : 100,
                                                "minLength" : 0
                                              }
                                            },
                                            "additionalProperties" : false
                                          }
                                        }
                                      },
                                      "additionalProperties" : false
                                    }
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "contentType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "html", "plainText", "text/html" ]
                                  },
                                  "actions" : {
                                    "items" : {
                                      "required" : [ "href", "method", "rel" ],
                                      "properties" : {
                                        "method" : {
                                          "maxLength" : 16000000,
                                          "minLength" : 0
                                        },
                                        "rel" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "enum" : [ "send", "update", "delete" ]
                                        },
                                        "href" : {
                                          "maxLength" : 16000000,
                                          "minLength" : 0,
                                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                        }
                                      },
                                      "additionalProperties" : false
                                    }
                                  },
                                  "status" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "SUCCESS", "PENDING", "FAILED", "DRAFT" ]
                                  },
                                  "direction" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "in", "out" ]
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "isPublic" : { },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "COMMENTS", "THREADS" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "entityPinned", "id", "isPublic", "pinnedById", "pinnedTime", "type" ],
                            "properties" : {
                              "pinnedTime" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "pinnedById" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "entityPinned" : {
                                "required" : [ "actions", "aspects", "attachmentCount", "author", "canReply", "channel", "channelRelatedInfo", "contentType", "createdTime", "direction", "hasAttach", "id", "impersonatedUser", "isDescriptionThread", "keyWords", "lastRatingIconURL", "readReceipts", "respondedIn", "sentiment", "source", "status", "summary", "twitterProfile", "visibility" ],
                                "properties" : {
                                  "summary" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                                  },
                                  "sentiment" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "NEUTRAL", "NEGATIVE", "POSITIVE", "null" ]
                                  },
                                  "keyWords" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  },
                                  "isDescriptionThread" : { },
                                  "canReply" : { },
                                  "visibility" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "public", "private" ]
                                  },
                                  "author" : {
                                    "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                                    "properties" : {
                                      "photoURL" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      },
                                      "firstName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "lastName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "name" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                      },
                                      "email" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "channel" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "TWITTER" ]
                                  },
                                  "aspects" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  },
                                  "source" : {
                                    "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                                    "properties" : {
                                      "appName" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "extId" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "permalink" : {
                                        "maxLength" : 65535,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                                      },
                                      "appPhotoURL" : {
                                        "maxLength" : 65535,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "lastRatingIconURL" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "twitterProfile" : {
                                    "maxLength" : 13000,
                                    "minLength" : 0,
                                    "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                                  },
                                  "impersonatedUser" : {
                                    "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                                    "properties" : {
                                      "photoURL" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      },
                                      "firstName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "lastName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "name" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                      },
                                      "email" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "hasAttach" : { },
                                  "channelRelatedInfo" : {
                                    "required" : [ "externalLink", "isBestSolution", "isDeleted" ],
                                    "properties" : {
                                      "isDeleted" : { },
                                      "isBestSolution" : { },
                                      "externalLink" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "respondedIn" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "createdTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "attachmentCount" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "readReceipts" : {
                                    "items" : {
                                      "required" : [ "from", "recipientType", "senderName", "statusVsTime" ],
                                      "properties" : {
                                        "senderName" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "recipientType" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "from" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                                          "x-custom-parameters-attributes" : {
                                            "removeExif" : false,
                                            "replacementString" : "",
                                            "filterMatchedContent" : false,
                                            "antivirus" : false,
                                            "allowInvalid" : false,
                                            "descrption" : "The starting index for fetching conversation records",
                                            "secret" : false,
                                            "preserveCharsLimit" : 10,
                                            "trim" : false,
                                            "internalParam" : false,
                                            "preserveChars" : "0,5",
                                            "importUrl" : false,
                                            "decrypt" : false
                                          }
                                        },
                                        "statusVsTime" : {
                                          "items" : {
                                            "required" : [ "Status", "Time" ],
                                            "properties" : {
                                              "Status" : {
                                                "maxLength" : 100,
                                                "minLength" : 0
                                              },
                                              "Time" : {
                                                "maxLength" : 100,
                                                "minLength" : 0
                                              }
                                            },
                                            "additionalProperties" : false
                                          }
                                        }
                                      },
                                      "additionalProperties" : false
                                    }
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "contentType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "html", "plainText", "text/html" ]
                                  },
                                  "actions" : {
                                    "items" : {
                                      "required" : [ "href", "method", "rel" ],
                                      "properties" : {
                                        "method" : {
                                          "maxLength" : 16000000,
                                          "minLength" : 0
                                        },
                                        "rel" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "enum" : [ "send", "update", "delete" ]
                                        },
                                        "href" : {
                                          "maxLength" : 16000000,
                                          "minLength" : 0,
                                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                        }
                                      },
                                      "additionalProperties" : false
                                    }
                                  },
                                  "status" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "SUCCESS", "PENDING", "FAILED", "DRAFT" ]
                                  },
                                  "direction" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "in", "out" ]
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "isPublic" : { },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "COMMENTS", "THREADS" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "entityPinned", "id", "isPublic", "pinnedById", "pinnedTime", "type" ],
                            "properties" : {
                              "pinnedTime" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "pinnedById" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "entityPinned" : {
                                "required" : [ "actions", "aspects", "attachmentCount", "attachmentIds", "author", "canReply", "channel", "channelRelatedInfo", "contentType", "createdTime", "direction", "fromEmailAddress", "fullContentURL", "hasAttach", "id", "impersonatedUser", "isContentTruncated", "isDescriptionThread", "keyWords", "lastRatingIconURL", "readReceipts", "respondedIn", "sentiment", "source", "status", "summary", "visibility" ],
                                "properties" : {
                                  "sentiment" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "NEUTRAL", "NEGATIVE", "POSITIVE", "null" ]
                                  },
                                  "isDescriptionThread" : { },
                                  "isContentTruncated" : { },
                                  "canReply" : { },
                                  "channel" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "FORUMS" ]
                                  },
                                  "aspects" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  },
                                  "source" : {
                                    "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                                    "properties" : {
                                      "appName" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "extId" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "permalink" : {
                                        "maxLength" : 65535,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                                      },
                                      "appPhotoURL" : {
                                        "maxLength" : 65535,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "lastRatingIconURL" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "impersonatedUser" : {
                                    "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                                    "properties" : {
                                      "photoURL" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      },
                                      "firstName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "lastName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "name" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                      },
                                      "email" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "channelRelatedInfo" : {
                                    "required" : [ "externalLink", "isBestSolution", "isDeleted" ],
                                    "properties" : {
                                      "isDeleted" : { },
                                      "isBestSolution" : { },
                                      "externalLink" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "createdTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "contentType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "html", "plainText", "text/html" ]
                                  },
                                  "direction" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "in", "out" ]
                                  },
                                  "summary" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                                  },
                                  "keyWords" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  },
                                  "visibility" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "public", "private" ]
                                  },
                                  "fullContentURL" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  },
                                  "author" : {
                                    "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                                    "properties" : {
                                      "photoURL" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      },
                                      "firstName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "lastName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "name" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                      },
                                      "email" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "hasAttach" : { },
                                  "respondedIn" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "attachmentIds" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    }
                                  },
                                  "attachmentCount" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "readReceipts" : {
                                    "items" : {
                                      "required" : [ "from", "recipientType", "senderName", "statusVsTime" ],
                                      "properties" : {
                                        "senderName" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "recipientType" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "from" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                                          "x-custom-parameters-attributes" : {
                                            "removeExif" : false,
                                            "replacementString" : "",
                                            "filterMatchedContent" : false,
                                            "antivirus" : false,
                                            "allowInvalid" : false,
                                            "descrption" : "The starting index for fetching conversation records",
                                            "secret" : false,
                                            "preserveCharsLimit" : 10,
                                            "trim" : false,
                                            "internalParam" : false,
                                            "preserveChars" : "0,5",
                                            "importUrl" : false,
                                            "decrypt" : false
                                          }
                                        },
                                        "statusVsTime" : {
                                          "items" : {
                                            "required" : [ "Status", "Time" ],
                                            "properties" : {
                                              "Status" : {
                                                "maxLength" : 100,
                                                "minLength" : 0
                                              },
                                              "Time" : {
                                                "maxLength" : 100,
                                                "minLength" : 0
                                              }
                                            },
                                            "additionalProperties" : false
                                          }
                                        }
                                      },
                                      "additionalProperties" : false
                                    }
                                  },
                                  "fromEmailAddress" : {
                                    "maxLength" : 300,
                                    "minLength" : 0,
                                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                  },
                                  "actions" : {
                                    "items" : {
                                      "required" : [ "href", "method", "rel" ],
                                      "properties" : {
                                        "method" : {
                                          "maxLength" : 16000000,
                                          "minLength" : 0
                                        },
                                        "rel" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "enum" : [ "send", "update", "delete" ]
                                        },
                                        "href" : {
                                          "maxLength" : 16000000,
                                          "minLength" : 0,
                                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                        }
                                      },
                                      "additionalProperties" : false
                                    }
                                  },
                                  "status" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "SUCCESS", "PENDING", "FAILED", "DRAFT" ]
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "isPublic" : { },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "COMMENTS", "THREADS" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "entityPinned", "id", "isPublic", "pinnedById", "pinnedTime", "type" ],
                            "properties" : {
                              "pinnedTime" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "pinnedById" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "entityPinned" : {
                                "required" : [ "actions", "aspects", "attachmentCount", "attachmentIds", "author", "bcc", "canReply", "cc", "channel", "channel", "channelRelatedInfo", "contentType", "createdTime", "direction", "fromEmailAddress", "fullContentURL", "hasAttach", "id", "impersonatedUser", "isContentTruncated", "isDescriptionThread", "isForward", "keyWords", "lastRatingIconURL", "readReceipts", "replyTo", "respondedIn", "sentiment", "source", "status", "summary", "to", "visibility" ],
                                "properties" : {
                                  "sentiment" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "NEUTRAL", "NEGATIVE", "POSITIVE", "null" ]
                                  },
                                  "isDescriptionThread" : { },
                                  "bcc" : {
                                    "maxLength" : 13000,
                                    "minLength" : 0,
                                    "pattern" : "(^((.*?)((<)*?[a-zA-Z0-9]([\\w\\-.+]*)@([\\w\\-.]*)(\\.[a-zA-Z]{2,22}(.[a-zA-Z]{2}){0,2})(>)*?(\\s)*((,|;)\\s*)?))+|^$)"
                                  },
                                  "isContentTruncated" : { },
                                  "canReply" : { },
                                  "channel" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "EMAIL" ]
                                  },
                                  "aspects" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  },
                                  "source" : {
                                    "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                                    "properties" : {
                                      "appName" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "extId" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "permalink" : {
                                        "maxLength" : 65535,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                                      },
                                      "appPhotoURL" : {
                                        "maxLength" : 65535,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "lastRatingIconURL" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "impersonatedUser" : {
                                    "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                                    "properties" : {
                                      "photoURL" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      },
                                      "firstName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "lastName" : {
                                        "maxLength" : 50,
                                        "minLength" : 0
                                      },
                                      "name" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                                      },
                                      "email" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "channelRelatedInfo" : {
                                    "required" : [ "externalLink", "isBestSolution", "isDeleted" ],
                                    "properties" : {
                                      "isDeleted" : { },
                                      "isBestSolution" : { },
                                      "externalLink" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "createdTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "contentType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "html", "plainText", "text/html" ]
                                  },
                                  "direction" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "in", "out" ]
                                  },
                                  "cc" : {
                                    "maxLength" : 13000,
                                    "minLength" : 0,
[...]
