{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Profile",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "users"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/myProfile" : {
      "get" : {
        "tags" : [ "Profile" ],
        "summary" : "Get my profile details",
        "description" : "This API fetches the configuration details and permissions defined for the profile of the currently logged in user.",
        "operationId" : "getMyProfile",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "commonProfileResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "default", "description", "id", "isVisible", "name", "permissions", "type" ],
                  "properties" : {
                    "default" : { },
                    "permissions" : {
                      "required" : [ "CommunityComment", "CommunityTopic", "accounts", "activities", "agents", "calls", "clientAction", "clientActionConditions", "clientActionLocationAssociation", "clientActionModuleAssociation", "clientEvents", "comments", "community", "componentEventMappingAssociation", "componentMapping", "contacts", "contracts", "crmInteg", "eventMapping", "events", "financeInteg", "gc", "im", "kbCategory", "mobileapp", "products", "radar", "reports", "setup", "social", "tasks", "tickets", "timeEntry", "zia" ],
                      "properties" : {
                        "crmInteg" : {
                          "required" : [ "crmAccountsActivityCalls", "crmAccountsActivityEvents", "crmAccountsActivityTasks", "crmAccountsInfo", "crmAccountsNotes", "crmAccountsPotentials", "crmContactsActivityCalls", "crmContactsActivityEvents", "crmContactsActivityTasks", "crmContactsInfo", "crmContactsNotes", "crmContactsPotentials" ],
                          "properties" : {
                            "crmContactsActivityEvents" : { },
                            "crmAccountsActivityEvents" : { },
                            "crmAccountsActivityTasks" : { },
                            "crmAccountsInfo" : { },
                            "crmContactsActivityCalls" : { },
                            "crmAccountsNotes" : { },
                            "crmAccountsActivityCalls" : { },
                            "crmContactsInfo" : { },
                            "crmContactsNotes" : { },
                            "crmContactsActivityTasks" : { },
                            "crmAccountsPotentials" : { },
                            "crmContactsPotentials" : { }
                          },
                          "additionalProperties" : false
                        },
                        "reports" : {
                          "required" : [ "create", "delete", "edit", "export", "view" ],
                          "properties" : {
                            "view" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { }
                          },
                          "additionalProperties" : false
                        },
                        "tickets" : {
                          "required" : [ "addFollowers", "changeOwner", "closeTicket", "create", "delete", "deleteSharedCustomViews", "deleteTags", "edit", "editSharedCustomViews", "editTags", "export", "handleUnassigned", "import", "mailReview", "mailSend", "manageOwnCustomViews", "mergeTickets", "reshareSharedCustomViews", "revokeBlueprint", "shareOwnCustomViews", "shareTickets", "unassignedChangeOwner", "view" ],
                          "properties" : {
                            "mergeTickets" : { },
                            "changeOwner" : { },
                            "import" : { },
                            "handleUnassigned" : { },
                            "edit" : { },
                            "closeTicket" : { },
                            "deleteTags" : { },
                            "revokeBlueprint" : { },
                            "mailReview" : { },
                            "delete" : { },
                            "view" : { },
                            "create" : { },
                            "addFollowers" : { },
                            "export" : { },
                            "mailSend" : { },
                            "editTags" : { },
                            "unassignedChangeOwner" : { },
                            "shareTickets" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "mobileapp" : {
                          "required" : [ "deskapp", "radar" ],
                          "properties" : {
                            "radar" : { },
                            "deskapp" : { }
                          },
                          "additionalProperties" : false
                        },
                        "contracts" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "import", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "import" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "products" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "import", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "import" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "zia" : {
                          "required" : [ "create", "delete", "edit", "view" ],
                          "properties" : {
                            "view" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { }
                          },
                          "additionalProperties" : false
                        },
                        "timeEntry" : {
                          "required" : [ "create", "delete", "edit", "view" ],
                          "properties" : {
                            "view" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { }
                          },
                          "additionalProperties" : false
                        },
                        "gc" : {
                          "required" : [ "create", "delete", "edit", "view" ],
                          "properties" : {
                            "view" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { }
                          },
                          "additionalProperties" : false
                        },
                        "tasks" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "import", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "import" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "events" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "import", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "import" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "courses" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "comments" : {
                          "required" : [ "delete", "edit" ],
                          "properties" : {
                            "edit" : { },
                            "delete" : { }
                          },
                          "additionalProperties" : false
                        },
                        "im" : {
                          "required" : [ "create", "delete", "edit", "view" ],
                          "properties" : {
                            "view" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { }
                          },
                          "additionalProperties" : false
                        },
                        "social" : {
                          "required" : [ "twitterConversationReply", "twitterPostCreate", "twitterPostDelete", "view" ],
                          "properties" : {
                            "view" : { },
                            "twitterPostDelete" : { },
                            "twitterConversationReply" : { },
                            "twitterPostCreate" : { }
                          },
                          "additionalProperties" : false
                        },
                        "community" : {
                          "required" : [ "create", "delete", "edit", "moderate", "view" ],
                          "properties" : {
                            "view" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "moderate" : { }
                          },
                          "additionalProperties" : false
                        },
                        "agents" : {
                          "required" : [ "create", "delete", "edit", "import", "overview", "viewAllFields" ],
                          "properties" : {
                            "overview" : { },
                            "import" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "viewAllFields" : { }
                          },
                          "additionalProperties" : false
                        },
                        "CommunityTopic" : {
                          "required" : [ "view" ],
                          "properties" : {
                            "view" : { }
                          },
                          "additionalProperties" : false
                        },
                        "radar" : {
                          "required" : [ "activities", "agentStats", "apiUsageAlerts", "auditLog", "averageHandlingTime", "channelTraffic", "contacts", "currentStats", "customerHappiness", "dailyToast", "dailyTrend", "dashboards", "exceptionHandling", "fcr", "feeds", "im", "kb", "liveTraffic", "manageRadar", "mostThreadedTickets", "quickView", "textContentProtection", "visualContentProtection" ],
                          "properties" : {
                            "agentStats" : { },
                            "currentStats" : { },
                            "auditLog" : { },
                            "im" : { },
                            "channelTraffic" : { },
                            "dailyToast" : { },
                            "liveTraffic" : { },
                            "exceptionHandling" : { },
                            "textContentProtection" : { },
                            "dashboards" : { },
                            "dailyTrend" : { },
                            "apiUsageAlerts" : { },
                            "fcr" : { },
                            "activities" : { },
                            "kb" : { },
                            "visualContentProtection" : { },
                            "feeds" : { },
                            "averageHandlingTime" : { },
                            "customerHappiness" : { },
                            "manageRadar" : { },
                            "quickView" : { },
                            "mostThreadedTickets" : { },
                            "contacts" : { }
                          },
                          "additionalProperties" : false
                        },
                        "kbCategory" : {
                          "required" : [ "admin", "create", "delete", "edit", "editAllArticles", "export", "import", "manageKB", "view" ],
                          "properties" : {
                            "view" : { },
                            "editAllArticles" : { },
                            "import" : { },
                            "manageKB" : { },
                            "edit" : { },
                            "admin" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { }
                          },
                          "additionalProperties" : false
                        },
                        "calls" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "import", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "import" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "setup" : {
                          "required" : [ "automation", "buttons", "chat", "community", "customerHappiness", "department", "email", "exportPortalUsers", "exportUsers", "featureConfig", "fetchAcrossDepartment", "gamification", "globalReports", "googleAnalytics", "im", "importHistory", "layouts", "localization", "manageAgents", "manageMarketplace", "managerDashboard", "massComment", "massReply", "moveRecords", "permission", "pinnedConversations", "portal", "portalUsers", "privacySettings", "rebranding", "recycleBin", "sandbox", "securitySettings", "shareSnippet", "signUpApproval", "social", "tabsAndFields", "teams", "telephony", "templates", "timeTracking", "webForm", "webhooks" ],
                          "properties" : {
                            "localization" : { },
                            "timeTracking" : { },
                            "massReply" : { },
                            "fetchAcrossDepartment" : { },
                            "globalReports" : { },
                            "exportPortalUsers" : { },
                            "layouts" : { },
                            "shareSnippet" : { },
                            "automation" : { },
                            "featureConfig" : { },
                            "customerHappiness" : { },
                            "department" : { },
                            "portal" : { },
                            "webForm" : { },
                            "rebranding" : { },
                            "email" : { },
                            "recycleBin" : { },
                            "tabsAndFields" : { },
                            "exportUsers" : { },
                            "pinnedConversations" : { },
                            "buttons" : { },
                            "teams" : { },
                            "im" : { },
                            "social" : { },
                            "templates" : { },
                            "sandbox" : { },
                            "securitySettings" : { },
                            "moveRecords" : { },
                            "permission" : { },
                            "signUpApproval" : { },
                            "community" : { },
                            "privacySettings" : { },
                            "importHistory" : { },
                            "manageAgents" : { },
                            "portalUsers" : { },
                            "gamification" : { },
                            "managerDashboard" : { },
                            "googleAnalytics" : { },
                            "webhooks" : { },
                            "chat" : { },
                            "telephony" : { },
                            "manageMarketplace" : { },
                            "massComment" : { }
                          },
                          "additionalProperties" : false
                        },
                        "financeInteg" : {
                          "required" : [ "createContact", "createEstimate", "createInvoice", "createSalesOrder", "sendEstimate", "sendInvoice", "sendSalesOrder", "viewEstimate", "viewInvoice", "viewSalesOrder", "viewSubscription" ],
                          "properties" : {
                            "sendSalesOrder" : { },
                            "createSalesOrder" : { },
                            "sendInvoice" : { },
                            "viewSubscription" : { },
                            "createEstimate" : { },
                            "createContact" : { },
                            "viewInvoice" : { },
                            "createInvoice" : { },
                            "sendEstimate" : { },
                            "viewSalesOrder" : { },
                            "viewEstimate" : { }
                          },
                          "additionalProperties" : false
                        },
                        "CommunityComment" : {
                          "required" : [ "view" ],
                          "properties" : {
                            "view" : { }
                          },
                          "additionalProperties" : false
                        },
                        "accounts" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "import", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "import" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "contacts" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "import", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "import" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "activities" : {
                          "required" : [ "deleteSharedCustomViews", "editSharedCustomViews", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews" ],
                          "properties" : {
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "chat" : {
                          "required" : [ "view" ],
                          "properties" : {
                            "view" : { }
                          },
                          "additionalProperties" : false
                        },
                        "ticketLifeCycleData" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "modules" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          }
                        },
                        "clientEvents" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "reshareSharedCustomViews" : { },
                            "edit" : { },
                            "deleteSharedCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "create" : { },
                            "manageOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "delete" : { },
                            "export" : { }
                          },
                          "additionalProperties" : false
                        },
                        "componentMapping" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "reshareSharedCustomViews" : { },
                            "edit" : { },
                            "deleteSharedCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "create" : { },
                            "manageOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "delete" : { },
                            "export" : { }
                          },
                          "additionalProperties" : false
                        },
                        "eventMapping" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "reshareSharedCustomViews" : { },
                            "edit" : { },
                            "deleteSharedCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "create" : { },
                            "manageOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "delete" : { },
                            "export" : { }
                          },
                          "additionalProperties" : false
                        },
                        "componentEventMappingAssociation" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "reshareSharedCustomViews" : { },
                            "edit" : { },
                            "deleteSharedCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "create" : { },
                            "manageOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "delete" : { },
                            "export" : { }
                          },
                          "additionalProperties" : false
                        },
                        "clientActionConditions" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "reshareSharedCustomViews" : { },
                            "edit" : { },
                            "deleteSharedCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "create" : { },
                            "manageOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "delete" : { },
                            "export" : { }
                          },
                          "additionalProperties" : false
                        },
                        "clientAction" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "reshareSharedCustomViews" : { },
                            "edit" : { },
                            "deleteSharedCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "create" : { },
                            "manageOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "delete" : { },
                            "export" : { }
                          },
                          "additionalProperties" : false
                        },
                        "clientActionModuleAssociation" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "reshareSharedCustomViews" : { },
                            "edit" : { },
                            "deleteSharedCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "create" : { },
                            "manageOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "delete" : { },
                            "export" : { }
                          },
                          "additionalProperties" : false
                        },
                        "clientActionLocationAssociation" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "reshareSharedCustomViews" : { },
                            "edit" : { },
                            "deleteSharedCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "create" : { },
                            "manageOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "delete" : { },
                            "export" : { }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "name" : {
                      "maxLength" : 50,
                      "minLength" : 0
                    },
                    "description" : {
                      "maxLength" : 32000,
                      "minLength" : 0
                    },
                    "isVisible" : { },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "type" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "Administrator", "Standard", "Light", "Portal", "Custom" ]
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "default" : true,
                      "permissions" : {
                        "crmInteg" : {
                          "crmContactsActivityEvents" : false,
                          "crmAccountsActivityEvents" : false,
                          "crmAccountsActivityTasks" : false,
                          "crmAccountsInfo" : false,
                          "crmContactsActivityCalls" : false,
                          "crmAccountsNotes" : false,
                          "crmAccountsActivityCalls" : false,
                          "crmContactsInfo" : false,
                          "crmContactsNotes" : false,
                          "crmContactsActivityTasks" : false,
                          "crmAccountsPotentials" : false,
                          "crmContactsPotentials" : false
                        },
                        "reports" : {
                          "view" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true
                        },
                        "tickets" : {
                          "mergeTickets" : true,
                          "changeOwner" : true,
                          "import" : true,
                          "handleUnassigned" : true,
                          "edit" : true,
                          "closeTicket" : true,
                          "revokeBlueprint" : true,
                          "mailReview" : true,
                          "delete" : true,
                          "view" : true,
                          "create" : true,
                          "addFollowers" : true,
                          "export" : true,
                          "mailSend" : true,
                          "unassignedChangeOwner" : false,
                          "shareTickets" : true,
                          "manageOwnCustomViews" : true,
                          "shareOwnCustomViews" : true,
                          "editSharedCustomViews" : true,
                          "deleteSharedCustomViews" : true,
                          "reshareSharedCustomViews" : true
                        },
                        "comments" : {
                          "edit" : true,
                          "delete" : true
                        },
                        "social" : {
                          "view" : true,
                          "twitterPostDelete" : true,
                          "twitterPostCreate" : true,
                          "twitterConversationReply" : true
                        },
                        "mobileapp" : {
                          "radar" : true,
                          "deskapp" : true
                        },
                        "contracts" : {
                          "view" : true,
                          "import" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true,
                          "manageOwnCustomViews" : true,
                          "shareOwnCustomViews" : true,
                          "editSharedCustomViews" : true,
                          "deleteSharedCustomViews" : true,
                          "reshareSharedCustomViews" : true
                        },
                        "community" : {
                          "view" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true,
                          "moderate" : true
                        },
                        "products" : {
                          "view" : true,
                          "import" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true,
                          "manageOwnCustomViews" : true,
                          "shareOwnCustomViews" : true,
                          "editSharedCustomViews" : true,
                          "deleteSharedCustomViews" : true,
                          "reshareSharedCustomViews" : true
                        },
                        "ticketLifeCycleData" : {
                          "view" : true,
                          "reshareSharedCustomViews" : false,
                          "edit" : true,
                          "deleteSharedCustomViews" : false,
                          "shareOwnCustomViews" : false,
                          "create" : true,
                          "manageOwnCustomViews" : false,
                          "editSharedCustomViews" : false,
                          "delete" : true,
                          "export" : true
                        },
                        "agents" : {
                          "overview" : true,
                          "edit" : false,
                          "create" : true,
                          "delete" : true,
                          "viewAllFields" : true
                        },
                        "kbCategory" : {
                          "view" : true,
                          "editAllArticles" : true,
                          "import" : true,
                          "manageKB" : true,
                          "edit" : true,
                          "create" : true,
                          "admin" : true,
                          "delete" : true,
                          "export" : true
                        },
                        "setup" : {
                          "localization" : true,
                          "timeTracking" : true,
                          "fetchAcrossDepartment" : true,
                          "globalReports" : true,
                          "exportPortalUsers" : true,
                          "layouts" : true,
                          "automation" : true,
                          "featureConfig" : true,
                          "customerHappiness" : true,
                          "department" : true,
                          "portal" : true,
                          "webForm" : true,
                          "rebranding" : true,
                          "email" : true,
                          "recycleBin" : true,
                          "tabsAndFields" : true,
                          "exportUsers" : true,
                          "teams" : true,
                          "social" : true,
                          "templates" : true,
                          "sandbox" : true,
                          "securitySettings" : true,
                          "moveRecords" : true,
                          "permission" : true,
                          "signUpApproval" : true,
                          "community" : true,
                          "importHistory" : true,
                          "manageAgents" : true,
                          "portalUsers" : true,
                          "managerDashboard" : true,
                          "googleAnalytics" : true,
                          "chat" : true,
                          "telephony" : true,
                          "manageMarketplace" : true
                        },
                        "financeInteg" : {
                          "sendInvoice" : false,
                          "createEstimate" : false,
                          "createContact" : false,
                          "viewInvoice" : false,
                          "createInvoice" : false,
                          "sendEstimate" : false,
                          "viewEstimate" : false
                        },
                        "accounts" : {
                          "view" : true,
                          "import" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true,
                          "manageOwnCustomViews" : true,
                          "shareOwnCustomViews" : true,
                          "editSharedCustomViews" : true,
                          "deleteSharedCustomViews" : true,
                          "reshareSharedCustomViews" : true
                        },
                        "timeEntry" : {
                          "view" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true
                        },
                        "contacts" : {
                          "view" : true,
                          "import" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true,
                          "manageOwnCustomViews" : true,
                          "shareOwnCustomViews" : true,
                          "editSharedCustomViews" : true,
                          "deleteSharedCustomViews" : true,
                          "reshareSharedCustomViews" : true
                        },
                        "tasks" : {
                          "view" : true,
                          "import" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true,
                          "manageOwnCustomViews" : true,
                          "shareOwnCustomViews" : true,
                          "editSharedCustomViews" : true,
                          "deleteSharedCustomViews" : true,
                          "reshareSharedCustomViews" : true
                        },
                        "events" : {
                          "view" : true,
                          "import" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true,
                          "manageOwnCustomViews" : true,
                          "shareOwnCustomViews" : true,
                          "editSharedCustomViews" : true,
                          "deleteSharedCustomViews" : true,
                          "reshareSharedCustomViews" : true
                        },
                        "calls" : {
                          "view" : true,
                          "import" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true,
                          "manageOwnCustomViews" : true,
                          "shareOwnCustomViews" : true,
                          "editSharedCustomViews" : true,
                          "deleteSharedCustomViews" : true,
                          "reshareSharedCustomViews" : true
                        },
                        "activities" : {
                          "manageOwnCustomViews" : true,
                          "shareOwnCustomViews" : true,
                          "editSharedCustomViews" : true,
                          "deleteSharedCustomViews" : true,
                          "reshareSharedCustomViews" : true
                        }
                      },
                      "name" : "Support Administrator",
                      "description" : "Set the privileges for support administrators.",
                      "id" : "4000000008464",
                      "isVisible" : true,
                      "type" : "Administrator"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.READ", "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 120000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "4f16e5767803d62abe1b38957fdf9cc3",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.ProfileService.getMyProfile"
        }
      }
    },
    "/api/v1/profiles/{profileId}" : {
      "get" : {
        "tags" : [ "Profile" ],
        "summary" : "Get profile",
        "description" : "This API fetches the details of a particular profile.",
        "operationId" : "getProfile",
        "parameters" : [ {
          "name" : "profileId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "commonProfileResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "default", "description", "id", "isVisible", "name", "permissions", "type" ],
                  "properties" : {
                    "default" : { },
                    "permissions" : {
                      "required" : [ "CommunityComment", "CommunityTopic", "accounts", "activities", "agents", "calls", "clientAction", "clientActionConditions", "clientActionLocationAssociation", "clientActionModuleAssociation", "clientEvents", "comments", "community", "componentEventMappingAssociation", "componentMapping", "contacts", "contracts", "crmInteg", "eventMapping", "events", "financeInteg", "gc", "im", "kbCategory", "mobileapp", "products", "radar", "reports", "setup", "social", "tasks", "tickets", "timeEntry", "zia" ],
                      "properties" : {
                        "crmInteg" : {
                          "required" : [ "crmAccountsActivityCalls", "crmAccountsActivityEvents", "crmAccountsActivityTasks", "crmAccountsInfo", "crmAccountsNotes", "crmAccountsPotentials", "crmContactsActivityCalls", "crmContactsActivityEvents", "crmContactsActivityTasks", "crmContactsInfo", "crmContactsNotes", "crmContactsPotentials" ],
                          "properties" : {
                            "crmContactsActivityEvents" : { },
                            "crmAccountsActivityEvents" : { },
                            "crmAccountsActivityTasks" : { },
                            "crmAccountsInfo" : { },
                            "crmContactsActivityCalls" : { },
                            "crmAccountsNotes" : { },
                            "crmAccountsActivityCalls" : { },
                            "crmContactsInfo" : { },
                            "crmContactsNotes" : { },
                            "crmContactsActivityTasks" : { },
                            "crmAccountsPotentials" : { },
                            "crmContactsPotentials" : { }
                          },
                          "additionalProperties" : false
                        },
                        "reports" : {
                          "required" : [ "create", "delete", "edit", "export", "view" ],
                          "properties" : {
                            "view" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { }
                          },
                          "additionalProperties" : false
                        },
                        "tickets" : {
                          "required" : [ "addFollowers", "changeOwner", "closeTicket", "create", "delete", "deleteSharedCustomViews", "deleteTags", "edit", "editSharedCustomViews", "editTags", "export", "handleUnassigned", "import", "mailReview", "mailSend", "manageOwnCustomViews", "mergeTickets", "reshareSharedCustomViews", "revokeBlueprint", "shareOwnCustomViews", "shareTickets", "unassignedChangeOwner", "view" ],
                          "properties" : {
                            "mergeTickets" : { },
                            "changeOwner" : { },
                            "import" : { },
                            "handleUnassigned" : { },
                            "edit" : { },
                            "closeTicket" : { },
                            "deleteTags" : { },
                            "revokeBlueprint" : { },
                            "mailReview" : { },
                            "delete" : { },
                            "view" : { },
                            "create" : { },
                            "addFollowers" : { },
                            "export" : { },
                            "mailSend" : { },
                            "editTags" : { },
                            "unassignedChangeOwner" : { },
                            "shareTickets" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "mobileapp" : {
                          "required" : [ "deskapp", "radar" ],
                          "properties" : {
                            "radar" : { },
                            "deskapp" : { }
                          },
                          "additionalProperties" : false
                        },
                        "contracts" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "import", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "import" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "products" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "import", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "import" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "zia" : {
                          "required" : [ "create", "delete", "edit", "view" ],
                          "properties" : {
                            "view" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { }
                          },
                          "additionalProperties" : false
                        },
                        "timeEntry" : {
                          "required" : [ "create", "delete", "edit", "view" ],
                          "properties" : {
                            "view" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { }
                          },
                          "additionalProperties" : false
                        },
                        "gc" : {
                          "required" : [ "create", "delete", "edit", "view" ],
                          "properties" : {
                            "view" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { }
                          },
                          "additionalProperties" : false
                        },
                        "tasks" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "import", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "import" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "events" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "import", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "import" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "courses" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "comments" : {
                          "required" : [ "delete", "edit" ],
                          "properties" : {
                            "edit" : { },
                            "delete" : { }
                          },
                          "additionalProperties" : false
                        },
                        "im" : {
                          "required" : [ "create", "delete", "edit", "view" ],
                          "properties" : {
                            "view" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { }
                          },
                          "additionalProperties" : false
                        },
                        "social" : {
                          "required" : [ "twitterConversationReply", "twitterPostCreate", "twitterPostDelete", "view" ],
                          "properties" : {
                            "view" : { },
                            "twitterPostDelete" : { },
                            "twitterConversationReply" : { },
                            "twitterPostCreate" : { }
                          },
                          "additionalProperties" : false
                        },
                        "community" : {
                          "required" : [ "create", "delete", "edit", "moderate", "view" ],
                          "properties" : {
                            "view" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "moderate" : { }
                          },
                          "additionalProperties" : false
                        },
                        "agents" : {
                          "required" : [ "create", "delete", "edit", "import", "overview", "viewAllFields" ],
                          "properties" : {
                            "overview" : { },
                            "import" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "viewAllFields" : { }
                          },
                          "additionalProperties" : false
                        },
                        "CommunityTopic" : {
                          "required" : [ "view" ],
                          "properties" : {
                            "view" : { }
                          },
                          "additionalProperties" : false
                        },
                        "radar" : {
                          "required" : [ "activities", "agentStats", "apiUsageAlerts", "auditLog", "averageHandlingTime", "channelTraffic", "contacts", "currentStats", "customerHappiness", "dailyToast", "dailyTrend", "dashboards", "exceptionHandling", "fcr", "feeds", "im", "kb", "liveTraffic", "manageRadar", "mostThreadedTickets", "quickView", "textContentProtection", "visualContentProtection" ],
                          "properties" : {
                            "agentStats" : { },
                            "currentStats" : { },
                            "auditLog" : { },
                            "im" : { },
                            "channelTraffic" : { },
                            "dailyToast" : { },
                            "liveTraffic" : { },
                            "exceptionHandling" : { },
                            "textContentProtection" : { },
                            "dashboards" : { },
                            "dailyTrend" : { },
                            "apiUsageAlerts" : { },
                            "fcr" : { },
                            "activities" : { },
                            "kb" : { },
                            "visualContentProtection" : { },
                            "feeds" : { },
                            "averageHandlingTime" : { },
                            "customerHappiness" : { },
                            "manageRadar" : { },
                            "quickView" : { },
                            "mostThreadedTickets" : { },
                            "contacts" : { }
                          },
                          "additionalProperties" : false
                        },
                        "kbCategory" : {
                          "required" : [ "admin", "create", "delete", "edit", "editAllArticles", "export", "import", "manageKB", "view" ],
                          "properties" : {
                            "view" : { },
                            "editAllArticles" : { },
                            "import" : { },
                            "manageKB" : { },
                            "edit" : { },
                            "admin" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { }
                          },
                          "additionalProperties" : false
                        },
                        "calls" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "import", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "import" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "setup" : {
                          "required" : [ "automation", "buttons", "chat", "community", "customerHappiness", "department", "email", "exportPortalUsers", "exportUsers", "featureConfig", "fetchAcrossDepartment", "gamification", "globalReports", "googleAnalytics", "im", "importHistory", "layouts", "localization", "manageAgents", "manageMarketplace", "managerDashboard", "massComment", "massReply", "moveRecords", "permission", "pinnedConversations", "portal", "portalUsers", "privacySettings", "rebranding", "recycleBin", "sandbox", "securitySettings", "shareSnippet", "signUpApproval", "social", "tabsAndFields", "teams", "telephony", "templates", "timeTracking", "webForm", "webhooks" ],
                          "properties" : {
                            "localization" : { },
                            "timeTracking" : { },
                            "massReply" : { },
                            "fetchAcrossDepartment" : { },
                            "globalReports" : { },
                            "exportPortalUsers" : { },
                            "layouts" : { },
                            "shareSnippet" : { },
                            "automation" : { },
                            "featureConfig" : { },
                            "customerHappiness" : { },
                            "department" : { },
                            "portal" : { },
                            "webForm" : { },
                            "rebranding" : { },
                            "email" : { },
                            "recycleBin" : { },
                            "tabsAndFields" : { },
                            "exportUsers" : { },
                            "pinnedConversations" : { },
                            "buttons" : { },
                            "teams" : { },
                            "im" : { },
                            "social" : { },
                            "templates" : { },
                            "sandbox" : { },
                            "securitySettings" : { },
                            "moveRecords" : { },
                            "permission" : { },
                            "signUpApproval" : { },
                            "community" : { },
                            "privacySettings" : { },
                            "importHistory" : { },
                            "manageAgents" : { },
                            "portalUsers" : { },
                            "gamification" : { },
                            "managerDashboard" : { },
                            "googleAnalytics" : { },
                            "webhooks" : { },
                            "chat" : { },
                            "telephony" : { },
                            "manageMarketplace" : { },
                            "massComment" : { }
                          },
                          "additionalProperties" : false
                        },
                        "financeInteg" : {
                          "required" : [ "createContact", "createEstimate", "createInvoice", "createSalesOrder", "sendEstimate", "sendInvoice", "sendSalesOrder", "viewEstimate", "viewInvoice", "viewSalesOrder", "viewSubscription" ],
                          "properties" : {
                            "sendSalesOrder" : { },
                            "createSalesOrder" : { },
                            "sendInvoice" : { },
                            "viewSubscription" : { },
                            "createEstimate" : { },
                            "createContact" : { },
                            "viewInvoice" : { },
                            "createInvoice" : { },
                            "sendEstimate" : { },
                            "viewSalesOrder" : { },
                            "viewEstimate" : { }
                          },
                          "additionalProperties" : false
                        },
                        "CommunityComment" : {
                          "required" : [ "view" ],
                          "properties" : {
                            "view" : { }
                          },
                          "additionalProperties" : false
                        },
                        "accounts" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "import", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "import" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "contacts" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "import", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "import" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "activities" : {
                          "required" : [ "deleteSharedCustomViews", "editSharedCustomViews", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews" ],
                          "properties" : {
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "chat" : {
                          "required" : [ "view" ],
                          "properties" : {
                            "view" : { }
                          },
                          "additionalProperties" : false
                        },
                        "ticketLifeCycleData" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          },
                          "additionalProperties" : false
                        },
                        "modules" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "edit" : { },
                            "create" : { },
                            "delete" : { },
                            "export" : { },
                            "manageOwnCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "deleteSharedCustomViews" : { },
                            "reshareSharedCustomViews" : { }
                          }
                        },
                        "clientEvents" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "reshareSharedCustomViews" : { },
                            "edit" : { },
                            "deleteSharedCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "create" : { },
                            "manageOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "delete" : { },
                            "export" : { }
                          },
                          "additionalProperties" : false
                        },
                        "componentMapping" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "reshareSharedCustomViews" : { },
                            "edit" : { },
                            "deleteSharedCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "create" : { },
                            "manageOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "delete" : { },
                            "export" : { }
                          },
                          "additionalProperties" : false
                        },
                        "eventMapping" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "reshareSharedCustomViews" : { },
                            "edit" : { },
                            "deleteSharedCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "create" : { },
                            "manageOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "delete" : { },
                            "export" : { }
                          },
                          "additionalProperties" : false
                        },
                        "componentEventMappingAssociation" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "reshareSharedCustomViews" : { },
                            "edit" : { },
                            "deleteSharedCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "create" : { },
                            "manageOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "delete" : { },
                            "export" : { }
                          },
                          "additionalProperties" : false
                        },
                        "clientActionConditions" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "reshareSharedCustomViews" : { },
                            "edit" : { },
                            "deleteSharedCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "create" : { },
                            "manageOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "delete" : { },
                            "export" : { }
                          },
                          "additionalProperties" : false
                        },
                        "clientAction" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "reshareSharedCustomViews" : { },
                            "edit" : { },
                            "deleteSharedCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "create" : { },
                            "manageOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "delete" : { },
                            "export" : { }
                          },
                          "additionalProperties" : false
                        },
                        "clientActionModuleAssociation" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "reshareSharedCustomViews" : { },
                            "edit" : { },
                            "deleteSharedCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "create" : { },
                            "manageOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "delete" : { },
                            "export" : { }
                          },
                          "additionalProperties" : false
                        },
                        "clientActionLocationAssociation" : {
                          "required" : [ "create", "delete", "deleteSharedCustomViews", "edit", "editSharedCustomViews", "export", "manageOwnCustomViews", "reshareSharedCustomViews", "shareOwnCustomViews", "view" ],
                          "properties" : {
                            "view" : { },
                            "reshareSharedCustomViews" : { },
                            "edit" : { },
                            "deleteSharedCustomViews" : { },
                            "shareOwnCustomViews" : { },
                            "create" : { },
                            "manageOwnCustomViews" : { },
                            "editSharedCustomViews" : { },
                            "delete" : { },
                            "export" : { }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : false
                    },
                    "name" : {
                      "maxLength" : 50,
                      "minLength" : 0
                    },
                    "description" : {
                      "maxLength" : 32000,
                      "minLength" : 0
                    },
                    "isVisible" : { },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "type" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "Administrator", "Standard", "Light", "Portal", "Custom" ]
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "default" : true,
                      "permissions" : {
                        "crmInteg" : {
                          "crmContactsActivityEvents" : false,
                          "crmAccountsActivityEvents" : false,
                          "crmAccountsActivityTasks" : false,
                          "crmAccountsInfo" : false,
                          "crmContactsActivityCalls" : false,
                          "crmAccountsNotes" : false,
                          "crmAccountsActivityCalls" : false,
                          "crmContactsInfo" : false,
                          "crmContactsNotes" : false,
                          "crmContactsActivityTasks" : false,
                          "crmAccountsPotentials" : false,
                          "crmContactsPotentials" : false
                        },
                        "reports" : {
                          "view" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true
                        },
                        "tickets" : {
                          "mergeTickets" : true,
                          "changeOwner" : true,
                          "import" : true,
                          "handleUnassigned" : true,
                          "edit" : true,
                          "closeTicket" : true,
                          "revokeBlueprint" : true,
                          "mailReview" : true,
                          "delete" : true,
                          "view" : true,
                          "create" : true,
                          "addFollowers" : true,
                          "export" : true,
                          "mailSend" : true,
                          "unassignedChangeOwner" : false,
                          "shareTickets" : true,
                          "manageOwnCustomViews" : true,
                          "shareOwnCustomViews" : true,
                          "editSharedCustomViews" : true,
                          "deleteSharedCustomViews" : true,
                          "reshareSharedCustomViews" : true
                        },
                        "comments" : {
                          "edit" : true,
                          "delete" : true
                        },
                        "social" : {
                          "view" : true,
                          "twitterPostDelete" : true,
                          "twitterPostCreate" : true,
                          "twitterConversationReply" : true
                        },
                        "mobileapp" : {
                          "radar" : true,
                          "deskapp" : true
                        },
                        "contracts" : {
                          "view" : true,
                          "import" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true,
                          "manageOwnCustomViews" : true,
                          "shareOwnCustomViews" : true,
                          "editSharedCustomViews" : true,
                          "deleteSharedCustomViews" : true,
                          "reshareSharedCustomViews" : true
                        },
                        "community" : {
                          "view" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true,
                          "moderate" : true
                        },
                        "products" : {
                          "view" : true,
                          "import" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true,
                          "manageOwnCustomViews" : true,
                          "shareOwnCustomViews" : true,
                          "editSharedCustomViews" : true,
                          "deleteSharedCustomViews" : true,
                          "reshareSharedCustomViews" : true
                        },
                        "ticketLifeCycleData" : {
                          "view" : true,
                          "reshareSharedCustomViews" : false,
                          "edit" : true,
                          "deleteSharedCustomViews" : false,
                          "shareOwnCustomViews" : false,
                          "create" : true,
                          "manageOwnCustomViews" : false,
                          "editSharedCustomViews" : false,
                          "delete" : true,
                          "export" : true
                        },
                        "agents" : {
                          "overview" : true,
                          "edit" : false,
                          "create" : true,
                          "delete" : true,
                          "viewAllFields" : true
                        },
                        "kbCategory" : {
                          "view" : true,
                          "editAllArticles" : true,
                          "import" : true,
                          "manageKB" : true,
                          "edit" : true,
                          "create" : true,
                          "admin" : true,
                          "delete" : true,
                          "export" : true
                        },
                        "setup" : {
                          "localization" : true,
                          "timeTracking" : true,
                          "fetchAcrossDepartment" : true,
                          "globalReports" : true,
                          "exportPortalUsers" : true,
                          "layouts" : true,
                          "automation" : true,
                          "featureConfig" : true,
                          "customerHappiness" : true,
                          "department" : true,
                          "portal" : true,
                          "webForm" : true,
                          "rebranding" : true,
                          "email" : true,
                          "recycleBin" : true,
                          "tabsAndFields" : true,
                          "exportUsers" : true,
                          "teams" : true,
                          "social" : true,
                          "templates" : true,
                          "sandbox" : true,
                          "securitySettings" : true,
                          "moveRecords" : true,
                          "permission" : true,
                          "signUpApproval" : true,
                          "community" : true,
                          "importHistory" : true,
                          "manageAgents" : true,
                          "portalUsers" : true,
                          "managerDashboard" : true,
                          "googleAnalytics" : true,
                          "chat" : true,
                          "telephony" : true,
                          "manageMarketplace" : true
                        },
                        "financeInteg" : {
                          "sendInvoice" : false,
                          "createEstimate" : false,
                          "createContact" : false,
                          "viewInvoice" : false,
                          "createInvoice" : false,
                          "sendEstimate" : false,
                          "viewEstimate" : false
                        },
                        "accounts" : {
                          "view" : true,
                          "import" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true,
                          "manageOwnCustomViews" : true,
                          "shareOwnCustomViews" : true,
                          "editSharedCustomViews" : true,
                          "deleteSharedCustomViews" : true,
                          "reshareSharedCustomViews" : true
                        },
                        "timeEntry" : {
                          "view" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true
                        },
                        "contacts" : {
                          "view" : true,
                          "import" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true,
                          "manageOwnCustomViews" : true,
                          "shareOwnCustomViews" : true,
                          "editSharedCustomViews" : true,
                          "deleteSharedCustomViews" : true,
                          "reshareSharedCustomViews" : true
                        },
                        "tasks" : {
                          "view" : true,
                          "import" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true,
                          "manageOwnCustomViews" : true,
                          "shareOwnCustomViews" : true,
                          "editSharedCustomViews" : true,
                          "deleteSharedCustomViews" : true,
                          "reshareSharedCustomViews" : true
                        },
                        "events" : {
                          "view" : true,
                          "import" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true,
                          "manageOwnCustomViews" : true,
                          "shareOwnCustomViews" : true,
                          "editSharedCustomViews" : true,
                          "deleteSharedCustomViews" : true,
                          "reshareSharedCustomViews" : true
                        },
                        "calls" : {
                          "view" : true,
                          "import" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true,
                          "manageOwnCustomViews" : true,
                          "shareOwnCustomViews" : true,
                          "editSharedCustomViews" : true,
                          "deleteSharedCustomViews" : true,
                          "reshareSharedCustomViews" : true
                        },
                        "activities" : {
                          "manageOwnCustomViews" : true,
                          "shareOwnCustomViews" : true,
                          "editSharedCustomViews" : true,
                          "deleteSharedCustomViews" : true,
                          "reshareSharedCustomViews" : true
                        }
                      },
                      "name" : "Support Administrator",
                      "description" : "Set the privileges for support administrators.",
                      "id" : "4000000008464",
                      "isVisible" : true,
                      "type" : "Administrator"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.READ", "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "2fb6ba1f4e9b55cc14d929d24a31ebdc",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.restapi.ProfileService.getProfile"
        }
      },
      "patch" : {
        "tags" : [ "Profile" ],
        "summary" : "Update profile",
        "description" : "This API updates the details of an existing profile.",
        "operationId" : "updateProfile",
        "parameters" : [ {
          "name" : "profileId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "name" ],
                "properties" : {
                  "permissions" : {
                    "required" : [ "CommunityComment", "CommunityTopic", "accounts", "activities", "agents", "calls", "clientAction", "clientActionConditions", "clientActionLocationAssociation", "clientActionModuleAssociation", "clientEvents", "comments", "community", "componentEventMappingAssociation", "componentMapping", "contacts", "contracts", "crmInteg", "eventMapping", "events", "financeInteg", "gc", "im", "kbCategory", "mobileapp", "products", "radar", "reports", "setup", "social", "tasks", "tickets", "timeEntry", "zia" ],
                    "properties" : {
                      "crmInteg" : {
                        "required" : [ "crmAccountsActivityCalls", "crmAccountsActivityEvents", "crmAccountsActivityTasks", "crmAccountsInfo", "crmAccountsNotes", "crmAccountsPotentials", "crmContactsActivityCalls", "crmContactsActivityEvents", "crmContactsActivityTasks", "crmContactsInfo", "crmContactsNotes", "crmContactsPotentials" ],
                        "properties" : {
                          "crmContactsActivityEvents" : { },
                          "crmAccountsActivityEvents" : { },
                          "crmAccountsActivityTasks" : { },
                          "crmAccountsInfo" : { },
                          "crmContactsActivityCalls" : { },
                          "crmAccountsNotes" : { },
                          "crmAccountsActivityCalls" : { },
                          "crmContactsInfo" : { },
                          "crmContactsNotes" : { },
                          "crmContactsActivityTasks" : { },
                          "crmAccountsPotentials" : { },
                          "crmContactsPotentials" : { }
                        },
                        "additionalProperties" : false
                      },
                      "reports" : {
                        "required" : [ "create", "delete", "edit", "export", "view" ],
                        "properties" : {
                          "view" : { },
                          "edit" : { },
                          "create" : { },
                          "delete" : { },
                          "export" : { }
                        },
                        "additionalProperties" : false
                      },
                      "tickets" : {
[...]
