{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "QueueView",
    "version" : "1.0.0",
    "x-clan-group" : "common",
    "x-module-group" : "views"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/ticketsByQueue" : {
      "get" : {
        "summary" : "List tickets by queue",
        "description" : "This API fetches tickets by provided queue slot for provided queue mode.",
        "operationId" : "getRequestByQueue",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department from which the tickets must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the tickets must be fetched",
            "format" : "int64"
          }
        }, {
          "name" : "mode",
          "in" : "query",
          "description" : "Queue mode for which the ticket should be fetched.Values allowed are: status, priority, crmContactType, dueInMinutes",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 0,
            "description" : "Queue mode for which the ticket should be fetched.Values allowed are: @status@, @priority@, @crmContactType@, @dueInMinutes@.",
            "enum" : [ "status", "crmContactType", "priority", "dueInMinutes" ]
          }
        }, {
          "name" : "slot",
          "in" : "query",
          "description" : "Slots based on the queue mode for which the ticket should be fetched. Values allowed for dueInMinutes modes are overDue, 5, 10, 15, 30, 45, 60, 90, 120, 180, 360, 540, 720, 1080, 1440, 2880, noDue, and onhold. Values allowed for crmContactType mode are unmapped, contacts_leads, potentials, and customers. values allowed for status and priority modes are Status and priority of the ticket. Includes the custom statuses and priorities configured in your help desk",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Slots based on the queue mode for which the ticket should be fetched. Values allowed for @dueInMinutes@ modes are @overDue@, @5@, @10@, @15@, @30@, @45@, @60@, @90@, @120@, @180@, @360@, @540@, @720@, @1080@, @1440@, @2880@, @noDue@, and @onhold@. Values allowed for @crmContactType@ mode are @unmapped@, @contacts_leads@, @potentials@, and @customers@. values allowed for @status@ and @priority@ modes are Status and priority of the ticket. Includes the custom statuses and priorities configured in your help desk",
            "format" : "int64"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the tickets must be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 0,
            "minimum" : 0,
            "description" : "Index number, starting from which the tickets must be listed",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of tickets to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "minimum" : 1,
            "description" : "Number of tickets to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "viewId",
          "in" : "query",
          "description" : "ID of the view to apply while fetching the resources",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the view to apply while fetching the resources",
            "format" : "int64"
          }
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Additional information related to the tickets. Values allowed are: contacts, products, departments, team, isRead and assignee. You can pass multiple values by separating them with commas in the API request.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 0,
            "description" : "Additional information related to the tickets. Values allowed are: @contacts@, @products@, @departments@, @team@, @isRead@ and @assignee@. You can pass multiple values by separating them with commas in the API request.",
            "enum" : [ "contacts", "isRead", "assignee", "team" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "ticketListViewArray template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "product" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "id", "productName" ],
                              "properties" : {
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "productName" : {
                                  "maxLength" : 200,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "isRead" : { },
                            "assignee" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "team" : {
                              "maxProperties" : 3,
                              "minProperties" : 3,
                              "required" : [ "id", "logoUrl", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 1,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "logoUrl" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "department" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "id", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : { }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "required" : [ "assigneeId", "channel", "dueDate", "email", "language", "phone", "priority", "productId", "subject" ],
                              "properties" : {
                                "productId" : {
                                  "pattern" : "([0-9]+)",
                                  "description" : "ID of the product to which the ticket is mapped",
                                  "format" : "int64"
                                },
                                "phone" : {
                                  "maxLength" : 120,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                  "description" : "Phone number in the ticket",
                                  "x-custom-parameters-attributes" : {
                                    "filterMatchedContent" : true,
                                    "replacementString" : ""
                                  }
                                },
                                "subject" : {
                                  "maxLength" : 1000,
                                  "minLength" : 0,
                                  "description" : "Subject of the ticket"
                                },
                                "dueDate" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                                  "description" : "Due date for resolving the ticket"
                                },
                                "channel" : {
                                  "description" : "Channel through which the ticket originated.",
                                  "x-dynamic-enum" : true
                                },
                                "language" : {
                                  "description" : "Language preference to set for the ticket",
                                  "x-dynamic-enum" : true
                                },
                                "priority" : {
                                  "description" : "Priority of the ticket",
                                  "x-dynamic-enum" : true
                                },
                                "assigneeId" : {
                                  "pattern" : "([0-9]+)",
                                  "description" : "ID of agent to whom the ticket is assigned",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 150,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                                  "description" : "Email ID in the ticket"
                                }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "accountId", "channelCode", "closedTime", "commentCount", "contactId", "createdTime", "customerResponseTime", "departmentId", "dueDate", "id", "isArchived", "isSpam", "lastThread", "onholdTime", "relationshipType", "responseDueDate", "sentiment", "source", "status", "statusType", "teamId", "threadCount", "ticketNumber", "webUrl" ],
                              "properties" : {
                                "ticketNumber" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "sentiment" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(POSITIVE|NEUTRAL|NEGATIVE)"
                                },
                                "customerResponseTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "statusType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "Open", "Closed", "On Hold" ]
                                },
                                "relationshipType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "contactId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isArchived" : { },
                                "departmentId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "dueDate" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "threadCount" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "onholdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "lastThread" : {
                                  "required" : [ "channel", "direction", "isDraft", "isForward" ],
                                  "properties" : {
                                    "channel" : {
                                      "x-dynamic-enum" : true
                                    },
                                    "isDraft" : { },
                                    "isForward" : { },
                                    "direction" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "in", "out" ]
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "source" : {
                                  "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                                  "properties" : {
                                    "appName" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "extId" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "permalink" : {
                                      "maxLength" : 65535,
                                      "minLength" : 0,
                                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                    },
                                    "type" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                                    },
                                    "appPhotoURL" : {
                                      "maxLength" : 65535,
                                      "minLength" : 0,
                                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                    },
                                    "uuid" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "closedTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "commentCount" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "accountId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "responseDueDate" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "webUrl" : {
                                  "maxLength" : 500,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "teamId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "createdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isSpam" : { },
                                "status" : {
                                  "x-dynamic-enum" : true
                                },
                                "channelCode" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              }
                            } ]
                          }, {
                            "required" : [ "category", "layoutId", "subCategory" ],
                            "properties" : {
                              "subCategory" : {
                                "x-dynamic-enum" : true
                              },
                              "category" : {
                                "x-dynamic-enum" : true
                              },
                              "layoutId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            }
                          } ]
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "ticketNumber" : "149",
                        "sentiment" : "NEGATIVE",
                        "statusType" : "Open",
                        "subject" : "Hi. There is a sudden delay in the processing of the orders. Check this with high priority",
                        "dueDate" : 1509778989000,
                        "departmentId" : "1892000000006907",
                        "channel" : "Email",
                        "onholdTime" : null,
                        "language" : "English",
                        "closedTime" : null,
                        "createdTime" : 1507813910000,
                        "id" : "18944000000336005",
                        "department" : {
                          "name" : "dasdasdasd",
                          "id" : "1892000000006907"
                        },
                        "email" : "support@zylker.com",
                        "customerResponseTime" : 1509692589203,
                        "productId" : "18944000000424033",
                        "contactId" : "18944000000421011",
                        "threadCount" : "7",
                        "lastThread" : null,
                        "team" : {
                          "name" : "kjsdfjks",
                          "id" : "8920000000069071",
                          "logoUrl" : "https://desk.zoho.com/api/v1/teams/8920000000069071/logo?orgId=11278831"
                        },
                        "priority" : "Medium",
                        "assigneeId" : "1892000000042001",
                        "commentCount" : "0",
                        "accountId" : "189200000005345",
                        "phone" : "9876543321",
                        "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Cases/dv/20d7881a46edfcffefe308ab38676ec3e612657a51fd5fbe",
                        "teamId" : "8920000000069071",
                        "assignee" : {
                          "firstName" : "dasca",
                          "lastName" : "vins",
                          "photoURL" : "https://desk.zoho.com/api/v1/agent/1892000000042001/photo",
                          "id" : "1892000000042001",
                          "email" : "jack@zylker.com"
                        },
                        "status" : "Open"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "204" : {
            "description" : "No content"
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Unprocessable Entity Error Response" : {
                    "value" : {
                      "errorCode" : "UNPROCESSABLE_ENTITY",
                      "message" : "The value passed for the 'from' query parameter is invalid."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "cookie-auth" : [ ]
        }, {
          "org-oauth" : [ ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ]
      }
    },
    "/api/v1/ticketsByAgentQueue" : {
      "get" : {
        "tags" : [ "Tickets By Agent Queue" ],
        "summary" : "Get Tickets By Agent Queue",
        "description" : "This API fetches provided agents tickets by provided queue slot for provided queue mode.",
        "operationId" : "getRequestByAgentQueue",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department from which the tickets must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the tickets must be fetched",
            "format" : "int64"
          }
        }, {
          "name" : "mode",
          "in" : "query",
          "description" : "Queue mode for which the ticket should be fetched.Values allowed are: status, priority, crmContactType, dueInMinutes",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 0,
            "description" : "Queue mode for which the ticket should be fetched.Values allowed are: @status@, @priority@, @crmContactType@, @dueInMinutes@.",
            "enum" : [ "status", "crmContactType", "priority", "dueInMinutes" ]
          }
        }, {
          "name" : "slot",
          "in" : "query",
          "description" : "Slots based on the queue mode for which the ticket should be fetched. Values allowed for dueInMinutes modes are overDue, 5, 10, 15, 30, 45, 60, 90, 120, 180, 360, 540, 720, 1080, 1440, 2880, noDue, and onhold. Values allowed for crmContactType mode are unmapped, contacts_leads, potentials, and customers. values allowed for status and priority modes are Status and priority of the ticket. Includes the custom statuses and priorities configured in your help desk",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Slots based on the queue mode for which the ticket should be fetched. Values allowed for @dueInMinutes@ modes are @overDue@, @5@, @10@, @15@, @30@, @45@, @60@, @90@, @120@, @180@, @360@, @540@, @720@, @1080@, @1440@, @2880@, @noDue@, and @onhold@. Values allowed for @crmContactType@ mode are @unmapped@, @contacts_leads@, @potentials@, and @customers@. values allowed for @status@ and @priority@ modes are Status and priority of the ticket. Includes the custom statuses and priorities configured in your help desk",
            "format" : "int64"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the tickets must be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 0,
            "minimum" : 0,
            "description" : "Index number, starting from which the tickets must be listed",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of tickets to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "minimum" : 1,
            "description" : "Number of tickets to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "agentId",
          "in" : "query",
          "description" : "ID of the agent to apply while fetching the resources",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the agent to apply while fetching the resources",
            "format" : "int64"
          }
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Additional information related to the tickets. Values allowed are: contacts, products, departments, team, isRead and assignee. You can pass multiple values by separating them with commas in the API request.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 0,
            "description" : "Additional information related to the tickets. Values allowed are: @contacts@, @products@, @departments@, @team@, @isRead@ and @assignee@. You can pass multiple values by separating them with commas in the API request.",
            "enum" : [ "contacts", "isRead", "assignee", "team" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "ticketListViewArray template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "product" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "id", "productName" ],
                              "properties" : {
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "productName" : {
                                  "maxLength" : 200,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            },
                            "isRead" : { },
                            "assignee" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "team" : {
                              "maxProperties" : 3,
                              "minProperties" : 3,
                              "required" : [ "id", "logoUrl", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 1,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "logoUrl" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "department" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "id", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : false
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "required" : [ "assigneeId", "channel", "dueDate", "email", "language", "phone", "priority", "productId", "subject" ],
                              "properties" : {
                                "productId" : {
                                  "pattern" : "([0-9]+)",
                                  "description" : "ID of the product to which the ticket is mapped",
                                  "format" : "int64"
                                },
                                "phone" : {
                                  "maxLength" : 120,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                  "description" : "Phone number in the ticket",
                                  "x-custom-parameters-attributes" : {
                                    "filterMatchedContent" : true,
                                    "replacementString" : ""
                                  }
                                },
                                "subject" : {
                                  "maxLength" : 1000,
                                  "minLength" : 0,
                                  "description" : "Subject of the ticket"
                                },
                                "dueDate" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                                  "description" : "Due date for resolving the ticket"
                                },
                                "channel" : {
                                  "description" : "Channel through which the ticket originated.",
                                  "x-dynamic-enum" : true
                                },
                                "language" : {
                                  "description" : "Language preference to set for the ticket",
                                  "x-dynamic-enum" : true
                                },
                                "priority" : {
                                  "description" : "Priority of the ticket",
                                  "x-dynamic-enum" : true
                                },
                                "assigneeId" : {
                                  "pattern" : "([0-9]+)",
                                  "description" : "ID of agent to whom the ticket is assigned",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 150,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                                  "description" : "Email ID in the ticket"
                                }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "accountId", "channelCode", "closedTime", "commentCount", "contactId", "createdTime", "customerResponseTime", "departmentId", "dueDate", "id", "isArchived", "isSpam", "lastThread", "onholdTime", "relationshipType", "responseDueDate", "sentiment", "source", "status", "statusType", "teamId", "threadCount", "ticketNumber", "webUrl" ],
                              "properties" : {
                                "ticketNumber" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "sentiment" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(POSITIVE|NEUTRAL|NEGATIVE)"
                                },
                                "customerResponseTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "statusType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "Open", "Closed", "On Hold" ]
                                },
                                "relationshipType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "contactId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isArchived" : { },
                                "departmentId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "dueDate" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "threadCount" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "onholdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "lastThread" : {
                                  "required" : [ "channel", "direction", "isDraft", "isForward" ],
                                  "properties" : {
                                    "channel" : {
                                      "x-dynamic-enum" : true
                                    },
                                    "isDraft" : { },
                                    "isForward" : { },
                                    "direction" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "in", "out" ]
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "source" : {
                                  "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                                  "properties" : {
                                    "appName" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "extId" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "permalink" : {
                                      "maxLength" : 65535,
                                      "minLength" : 0,
                                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                    },
                                    "type" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                                    },
                                    "appPhotoURL" : {
                                      "maxLength" : 65535,
                                      "minLength" : 0,
                                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                    },
                                    "uuid" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "closedTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "commentCount" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "accountId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "responseDueDate" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "webUrl" : {
                                  "maxLength" : 500,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "teamId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "createdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isSpam" : { },
                                "status" : {
                                  "x-dynamic-enum" : true
                                },
                                "channelCode" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              }
                            } ]
                          }, {
                            "required" : [ "category", "layoutId", "subCategory" ],
                            "properties" : {
                              "subCategory" : {
                                "x-dynamic-enum" : true
                              },
                              "category" : {
                                "x-dynamic-enum" : true
                              },
                              "layoutId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            }
                          } ]
                        }
                      }
                    },
                    "additionalProperties" : false
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "ticketNumber" : "149",
                        "sentiment" : "NEGATIVE",
                        "statusType" : "Open",
                        "subject" : "Hi. There is a sudden delay in the processing of the orders. Check this with high priority",
                        "dueDate" : 1509778989000,
                        "departmentId" : "1892000000006907",
                        "channel" : "Email",
                        "onholdTime" : null,
                        "language" : "English",
                        "closedTime" : null,
                        "createdTime" : 1507813910000,
                        "id" : "18944000000336005",
                        "department" : {
                          "name" : "dasdasdasd",
                          "id" : "1892000000006907"
                        },
                        "email" : "support@zylker.com",
                        "customerResponseTime" : 1509692589203,
                        "productId" : "18944000000424033",
                        "contactId" : "18944000000421011",
                        "threadCount" : "7",
                        "lastThread" : null,
                        "team" : {
                          "name" : "kjsdfjks",
                          "id" : "8920000000069071",
                          "logoUrl" : "https://desk.zoho.com/api/v1/teams/8920000000069071/logo?orgId=11278831"
                        },
                        "priority" : "Medium",
                        "assigneeId" : "1892000000042001",
                        "commentCount" : "0",
                        "accountId" : "189200000005345",
                        "phone" : "9876543321",
                        "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Cases/dv/20d7881a46edfcffefe308ab38676ec3e612657a51fd5fbe",
                        "teamId" : "8920000000069071",
                        "assignee" : {
                          "firstName" : "dasca",
                          "lastName" : "vins",
                          "photoURL" : "https://desk.zoho.com/api/v1/agent/1892000000042001/photo",
                          "id" : "1892000000042001",
                          "email" : "jack@zylker.com"
                        },
                        "status" : "Open"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "204" : {
            "description" : "No content"
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Unprocessable Entity Error Response" : {
                    "value" : {
                      "errorCode" : "UNPROCESSABLE_ENTITY",
                      "message" : "The value passed for the 'from' query parameter is invalid."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ],
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "f22f63745e688aeb940e89bcf5ec11cb",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.RequestService.getRequestByAgentQueue"
        }
      }
    },
    "/api/v1/ticketsByTeamQueue" : {
      "get" : {
        "tags" : [ "List tickets by team queue" ],
        "summary" : "Get Tickets By Agent Queue",
        "description" : "This API fetches provided teams tickets by provided queue slot for provided queue mode.",
        "operationId" : "getRequestByTeamQueue",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department from which the tickets must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the tickets must be fetched",
            "format" : "int64"
          }
        }, {
          "name" : "mode",
          "in" : "query",
          "description" : "Queue mode for which the ticket should be fetched.Values allowed are: status, priority, crmContactType, dueInMinutes",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 0,
            "description" : "Queue mode for which the ticket should be fetched.Values allowed are: @status@, @priority@, @crmContactType@, @dueInMinutes@.",
            "enum" : [ "status", "crmContactType", "priority", "dueInMinutes" ]
          }
        }, {
          "name" : "slot",
          "in" : "query",
          "description" : "Slots based on the queue mode for which the ticket should be fetched. Values allowed for dueInMinutes modes are overDue, 5, 10, 15, 30, 45, 60, 90, 120, 180, 360, 540, 720, 1080, 1440, 2880, noDue, and onhold. Values allowed for crmContactType mode are unmapped, contacts_leads, potentials, and customers. values allowed for status and priority modes are Status and priority of the ticket. Includes the custom statuses and priorities configured in your help desk",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Slots based on the queue mode for which the ticket should be fetched. Values allowed for @dueInMinutes@ modes are @overDue@, @5@, @10@, @15@, @30@, @45@, @60@, @90@, @120@, @180@, @360@, @540@, @720@, @1080@, @1440@, @2880@, @noDue@, and @onhold@. Values allowed for @crmContactType@ mode are @unmapped@, @contacts_leads@, @potentials@, and @customers@. values allowed for @status@ and @priority@ modes are Status and priority of the ticket. Includes the custom statuses and priorities configured in your help desk",
            "format" : "int64"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the tickets must be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 0,
            "minimum" : 0,
            "description" : "Index number, starting from which the tickets must be listed",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of tickets to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "minimum" : 1,
            "description" : "Number of tickets to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "teamId",
          "in" : "query",
          "description" : "ID of the team to apply while fetching the resources",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the team to apply while fetching the resources",
            "format" : "int64"
          }
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Additional information related to the tickets. Values allowed are: contacts, products, departments, team, isRead and assignee. You can pass multiple values by separating them with commas in the API request.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 0,
            "description" : "Additional information related to the tickets. Values allowed are: @contacts@, @products@, @departments@, @team@, @isRead@ and @assignee@. You can pass multiple values by separating them with commas in the API request.",
            "enum" : [ "contacts", "isRead", "assignee", "team" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "ticketListViewArray template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "product" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "id", "productName" ],
                              "properties" : {
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "productName" : {
                                  "maxLength" : 200,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            },
                            "isRead" : { },
                            "assignee" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "team" : {
                              "maxProperties" : 3,
                              "minProperties" : 3,
                              "required" : [ "id", "logoUrl", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 1,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "logoUrl" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "department" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "id", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : false
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "required" : [ "assigneeId", "channel", "dueDate", "email", "language", "phone", "priority", "productId", "subject" ],
                              "properties" : {
                                "productId" : {
                                  "pattern" : "([0-9]+)",
                                  "description" : "ID of the product to which the ticket is mapped",
                                  "format" : "int64"
                                },
                                "phone" : {
                                  "maxLength" : 120,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                  "description" : "Phone number in the ticket",
                                  "x-custom-parameters-attributes" : {
                                    "filterMatchedContent" : true,
                                    "replacementString" : ""
                                  }
                                },
                                "subject" : {
                                  "maxLength" : 1000,
                                  "minLength" : 0,
                                  "description" : "Subject of the ticket"
                                },
                                "dueDate" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                                  "description" : "Due date for resolving the ticket"
                                },
                                "channel" : {
                                  "description" : "Channel through which the ticket originated.",
                                  "x-dynamic-enum" : true
                                },
                                "language" : {
                                  "description" : "Language preference to set for the ticket",
                                  "x-dynamic-enum" : true
                                },
                                "priority" : {
                                  "description" : "Priority of the ticket",
                                  "x-dynamic-enum" : true
                                },
                                "assigneeId" : {
                                  "pattern" : "([0-9]+)",
                                  "description" : "ID of agent to whom the ticket is assigned",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 150,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                                  "description" : "Email ID in the ticket"
                                }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "accountId", "channelCode", "closedTime", "commentCount", "contactId", "createdTime", "customerResponseTime", "departmentId", "dueDate", "id", "isArchived", "isSpam", "lastThread", "onholdTime", "relationshipType", "responseDueDate", "sentiment", "source", "status", "statusType", "teamId", "threadCount", "ticketNumber", "webUrl" ],
                              "properties" : {
                                "ticketNumber" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "sentiment" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(POSITIVE|NEUTRAL|NEGATIVE)"
                                },
                                "customerResponseTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "statusType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "Open", "Closed", "On Hold" ]
                                },
                                "relationshipType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "contactId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isArchived" : { },
                                "departmentId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "dueDate" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "threadCount" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "onholdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "lastThread" : {
                                  "required" : [ "channel", "direction", "isDraft", "isForward" ],
                                  "properties" : {
                                    "channel" : {
                                      "x-dynamic-enum" : true
                                    },
                                    "isDraft" : { },
                                    "isForward" : { },
                                    "direction" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "in", "out" ]
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "source" : {
                                  "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                                  "properties" : {
                                    "appName" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "extId" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "permalink" : {
                                      "maxLength" : 65535,
                                      "minLength" : 0,
                                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                    },
                                    "type" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                                    },
                                    "appPhotoURL" : {
                                      "maxLength" : 65535,
                                      "minLength" : 0,
                                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                    },
                                    "uuid" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "closedTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "commentCount" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "accountId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "responseDueDate" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "webUrl" : {
                                  "maxLength" : 500,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "teamId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "createdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isSpam" : { },
                                "status" : {
                                  "x-dynamic-enum" : true
                                },
                                "channelCode" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              }
                            } ]
                          }, {
                            "required" : [ "category", "layoutId", "subCategory" ],
                            "properties" : {
                              "subCategory" : {
                                "x-dynamic-enum" : true
                              },
                              "category" : {
                                "x-dynamic-enum" : true
                              },
                              "layoutId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            }
                          } ]
                        }
                      }
                    },
                    "additionalProperties" : false
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "ticketNumber" : "149",
                        "sentiment" : "NEGATIVE",
                        "statusType" : "Open",
                        "subject" : "Hi. There is a sudden delay in the processing of the orders. Check this with high priority",
                        "dueDate" : 1509778989000,
                        "departmentId" : "1892000000006907",
                        "channel" : "Email",
                        "onholdTime" : null,
                        "language" : "English",
                        "closedTime" : null,
                        "createdTime" : 1507813910000,
                        "id" : "18944000000336005",
                        "department" : {
                          "name" : "dasdasdasd",
                          "id" : "1892000000006907"
                        },
                        "email" : "support@zylker.com",
                        "customerResponseTime" : 1509692589203,
                        "productId" : "18944000000424033",
                        "contactId" : "18944000000421011",
                        "threadCount" : "7",
                        "lastThread" : null,
                        "team" : {
                          "name" : "kjsdfjks",
                          "id" : "8920000000069071",
                          "logoUrl" : "https://desk.zoho.com/api/v1/teams/8920000000069071/logo?orgId=11278831"
                        },
                        "priority" : "Medium",
                        "assigneeId" : "1892000000042001",
                        "commentCount" : "0",
                        "accountId" : "189200000005345",
                        "phone" : "9876543321",
                        "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Cases/dv/20d7881a46edfcffefe308ab38676ec3e612657a51fd5fbe",
                        "teamId" : "8920000000069071",
                        "assignee" : {
                          "firstName" : "dasca",
                          "lastName" : "vins",
                          "photoURL" : "https://desk.zoho.com/api/v1/agent/1892000000042001/photo",
                          "id" : "1892000000042001",
                          "email" : "jack@zylker.com"
                        },
                        "status" : "Open"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "204" : {
            "description" : "No content"
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Unprocessable Entity Error Response" : {
                    "value" : {
                      "errorCode" : "UNPROCESSABLE_ENTITY",
                      "message" : "The value passed for the 'from' query parameter is invalid."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ],
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "f22f63745e688aeb940e89bcf5ec11cb",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.RequestService.getRequestByTeamQueue"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "OAuth Org Mismatch Error Response" : {
                "value" : {
                  "errorCode" : "OAUTH_ORG_MISMATCH",
                  "message" : "The OAuthToken is not valid for specified organization."
                }
              }
            }
          }
        }
      },
      "forbiddenErrorResponse" : {
        "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Forbidden Error Response" : {
                "value" : {
                  "errorCode" : "FORBIDDEN",
                  "message" : "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "urlNotFoundErrorResponse" : {
        "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Url Not Found Error Response" : {
                "value" : {
                  "errorCode" : "URL_NOT_FOUND",
                  "message" : "The URL you requested could not be found."
                }
              }
            }
          }
        }
      },
      "methodNotAllowedErrorResponse" : {
        "description" : "This errorCode value appears if the method in the API request is known by the server but disabled for the API requested.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Method Not Allowed Error Response" : {
                "value" : {
                  "errorCode" : "METHOD_NOT_ALLOWED",
                  "message" : "This HTTP method is not allowed on this URL."
                }
              }
            }
          }
        }
      },
      "resourceSizeExceededErrorResponse" : {
        "description" : "This errorCode value appears if the size of the resource exceeds the limit defined by the server.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Resource Size Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "RESOURCE_SIZE_EXCEEDED",
                  "message" : "Attachment size is too large. The maximum size supported is 20 MB."
                }
              }
            }
          }
        }
      },
      "unSupportedMediaTypeErrorResponse" : {
        "description" : "This errorCode value appears if the server refuses the request as a result of receiving the input in an unsupported format.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unsupported Media Type Error Response" : {
                "value" : {
                  "errorCode" : "UNSUPPORTED_MEDIA_TYPE",
                  "message" : "The given content type is not supported. Please provide the input Content-Type as application/json"
                }
              }
            }
          }
        }
      },
      "unprocessableEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The value passed for the 'from' query parameter is invalid."
                }
              }
            }
          }
        }
      },
      "missingEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not contain the mandatory parameters for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The mandatory parameter 'permission' is missing"
                }
[...]
