{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "RatelimitAdminTool",
    "version" : "1.0.0",
    "x-clan-group" : "admin",
    "x-module-group" : "security"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/admin/ratelimit/featureDetails" : {
      "get" : {
        "tags" : [ "RatelimitLicenseDetails" ],
        "summary" : "Get feature details related to ratelimit",
        "description" : "This API retrieves the feature details related to ratelimit.",
        "operationId" : "getRatelimitLicenseDetails",
        "parameters" : [ {
          "name" : "zgid",
          "in" : "query",
          "description" : "Org ID of the portal whose ratelimit details has to be retrieved",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^[0-9]+$",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "min-occurrences" : 1
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ratelimit License Details Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "APICRDT01", "APICRDT02", "APICRDT03", "APICRDT04" ],
                  "properties" : {
                    "APICRDT01" : {
                      "required" : [ "addOnValue", "baseLimit", "description", "freeValue", "maxValue" ],
                      "properties" : {
                        "baseLimit" : {
                          "description" : "Base limit for this API credit type",
                          "format" : "int64"
                        },
                        "maxValue" : {
                          "description" : "Maximum value for this API credit type",
                          "format" : "int64"
                        },
                        "freeValue" : {
                          "description" : "Free value for this API credit type",
                          "format" : "int64"
                        },
                        "description" : {
                          "description" : "Description for this API credit type"
                        },
                        "addOnValue" : {
                          "description" : "Addon value for this API credit type",
                          "format" : "int64"
                        }
                      }
                    },
                    "APICRDT02" : {
                      "required" : [ "addOnValue", "baseLimit", "description", "freeValue", "maxValue" ],
                      "properties" : {
                        "baseLimit" : {
                          "description" : "Base limit for this API credit type",
                          "format" : "int64"
                        },
                        "maxValue" : {
                          "description" : "Maximum value for this API credit type",
                          "format" : "int64"
                        },
                        "freeValue" : {
                          "description" : "Free value for this API credit type",
                          "format" : "int64"
                        },
                        "description" : {
                          "description" : "Description for this API credit type"
                        },
                        "addOnValue" : {
                          "description" : "Addon value for this API credit type",
                          "format" : "int64"
                        }
                      }
                    },
                    "APICRDT03" : {
                      "required" : [ "addOnValue", "baseLimit", "description", "freeValue", "maxValue" ],
                      "properties" : {
                        "baseLimit" : {
                          "description" : "Base limit for this API credit type",
                          "format" : "int64"
                        },
                        "maxValue" : {
                          "description" : "Maximum value for this API credit type",
                          "format" : "int64"
                        },
                        "freeValue" : {
                          "description" : "Free value for this API credit type",
                          "format" : "int64"
                        },
                        "description" : {
                          "description" : "Description for this API credit type"
                        },
                        "addOnValue" : {
                          "description" : "Addon value for this API credit type",
                          "format" : "int64"
                        }
                      }
                    },
                    "APICRDT04" : {
                      "required" : [ "addOnValue", "baseLimit", "description", "freeValue", "maxValue" ],
                      "properties" : {
                        "baseLimit" : {
                          "description" : "Base limit for this API credit type",
                          "format" : "int64"
                        },
                        "maxValue" : {
                          "description" : "Maximum value for this API credit type",
                          "format" : "int64"
                        },
                        "freeValue" : {
                          "description" : "Free value for this API credit type",
                          "format" : "int64"
                        },
                        "description" : {
                          "description" : "Description for this API credit type"
                        },
                        "addOnValue" : {
                          "description" : "Addon value for this API credit type",
                          "format" : "int64"
                        }
                      }
                    }
                  }
                },
                "examples" : {
                  "default" : {
                    "value" : {
                      "APICRDT04" : {
                        "baseLimit" : 50,
                        "maxValue" : 51,
                        "freeValue" : 1,
                        "description" : "Maximum concurrent API requests allowed when the source is Deluge",
                        "addOnValue" : 0
                      },
                      "APICRDT03" : {
                        "baseLimit" : 25,
                        "maxValue" : 27,
                        "freeValue" : 2,
                        "description" : "Maximum number of API requests allowed concurrently",
                        "addOnValue" : 0
                      },
                      "APICRDT02" : {
                        "baseLimit" : 1000,
                        "maxValue" : 1003,
                        "freeValue" : 3,
                        "description" : "API usage credits determined by the total agent count",
                        "addOnValue" : 0
                      },
                      "APICRDT01" : {
                        "baseLimit" : 100000,
                        "maxValue" : 100005,
                        "freeValue" : 5,
                        "description" : "API usage credits allocated",
                        "addOnValue" : 0
                      }
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attributes" : {
          "is-admin-api" : true,
          "security" : {
            "ip-validation" : "trusted",
            "authentication" : {
              "roles" : [ "SupportAdmin", "SupportGuest", "DebugToolAdmin", "DebugToolUser" ],
              "allow-access-for" : "devops"
            },
            "throttle" : {
              "inline" : [ {
                "scope" : "SERVICE",
                "window" : "SLIDING",
                "key" : "url.path+user.zuid",
                "rules" : [ {
                  "duration" : "1m",
                  "threshold" : 60,
                  "lock-period" : "1m",
                  "hip" : false
                } ]
              } ]
            }
          },
          "extraparams" : {
            "disable" : true
          },
          "clan-group" : "admin",
          "apimethod" : "com.zoho.desk.security.ratelimit.admin.RatelimitAdminToolService.getRatelimitLicenseDetails",
          "module-group" : "security"
        }
      },
      "put" : {
        "tags" : [ "RatelimitLicenseDetails" ],
        "summary" : "Update feature details related to ratelimit",
        "description" : "This API updates the API feature details related to ratelimit.",
        "operationId" : "updateRatelimitLicenseDetails",
        "parameters" : [ {
          "name" : "zgid",
          "in" : "query",
          "description" : "Org ID of the portal whose ratelimit details has to be retrieved",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^[0-9]+$",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "min-occurrences" : 1
            }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "APICRDT01", "APICRDT02", "APICRDT03", "APICRDT04" ],
                "properties" : {
                  "APICRDT01" : {
                    "format" : "int64"
                  },
                  "APICRDT02" : {
                    "format" : "int64"
                  },
                  "APICRDT03" : {
                    "format" : "int64"
                  },
                  "APICRDT04" : {
                    "format" : "int64"
                  }
                }
              },
              "examples" : {
                "default" : {
                  "value" : {
                    "APICRDT01" : 5,
                    "APICRDT02" : 3,
                    "APICRDT03" : 2,
                    "APICRDT04" : 1
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Ratelimit License Details Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "APICRDT01", "APICRDT02", "APICRDT03", "APICRDT04" ],
                  "properties" : {
                    "APICRDT01" : {
                      "required" : [ "addOnValue", "baseLimit", "description", "freeValue", "maxValue" ],
                      "properties" : {
                        "baseLimit" : {
                          "description" : "Base limit for this API credit type",
                          "format" : "int64"
                        },
                        "maxValue" : {
                          "description" : "Maximum value for this API credit type",
                          "format" : "int64"
                        },
                        "freeValue" : {
                          "description" : "Free value for this API credit type",
                          "format" : "int64"
                        },
                        "description" : {
                          "description" : "Description for this API credit type"
                        },
                        "addOnValue" : {
                          "description" : "Addon value for this API credit type",
                          "format" : "int64"
                        }
                      }
                    },
                    "APICRDT02" : {
                      "required" : [ "addOnValue", "baseLimit", "description", "freeValue", "maxValue" ],
                      "properties" : {
                        "baseLimit" : {
                          "description" : "Base limit for this API credit type",
                          "format" : "int64"
                        },
                        "maxValue" : {
                          "description" : "Maximum value for this API credit type",
                          "format" : "int64"
                        },
                        "freeValue" : {
                          "description" : "Free value for this API credit type",
                          "format" : "int64"
                        },
                        "description" : {
                          "description" : "Description for this API credit type"
                        },
                        "addOnValue" : {
                          "description" : "Addon value for this API credit type",
                          "format" : "int64"
                        }
                      }
                    },
                    "APICRDT03" : {
                      "required" : [ "addOnValue", "baseLimit", "description", "freeValue", "maxValue" ],
                      "properties" : {
                        "baseLimit" : {
                          "description" : "Base limit for this API credit type",
                          "format" : "int64"
                        },
                        "maxValue" : {
                          "description" : "Maximum value for this API credit type",
                          "format" : "int64"
                        },
                        "freeValue" : {
                          "description" : "Free value for this API credit type",
                          "format" : "int64"
                        },
                        "description" : {
                          "description" : "Description for this API credit type"
                        },
                        "addOnValue" : {
                          "description" : "Addon value for this API credit type",
                          "format" : "int64"
                        }
                      }
                    },
                    "APICRDT04" : {
                      "required" : [ "addOnValue", "baseLimit", "description", "freeValue", "maxValue" ],
                      "properties" : {
                        "baseLimit" : {
                          "description" : "Base limit for this API credit type",
                          "format" : "int64"
                        },
                        "maxValue" : {
                          "description" : "Maximum value for this API credit type",
                          "format" : "int64"
                        },
                        "freeValue" : {
                          "description" : "Free value for this API credit type",
                          "format" : "int64"
                        },
                        "description" : {
                          "description" : "Description for this API credit type"
                        },
                        "addOnValue" : {
                          "description" : "Addon value for this API credit type",
                          "format" : "int64"
                        }
                      }
                    }
                  }
                },
                "examples" : {
                  "default" : {
                    "value" : {
                      "APICRDT04" : {
                        "baseLimit" : 50,
                        "maxValue" : 51,
                        "freeValue" : 1,
                        "description" : "Maximum concurrent API requests allowed when the source is Deluge",
                        "addOnValue" : 0
                      },
                      "APICRDT03" : {
                        "baseLimit" : 25,
                        "maxValue" : 27,
                        "freeValue" : 2,
                        "description" : "Maximum number of API requests allowed concurrently",
                        "addOnValue" : 0
                      },
                      "APICRDT02" : {
                        "baseLimit" : 1000,
                        "maxValue" : 1003,
                        "freeValue" : 3,
                        "description" : "API usage credits determined by the total agent count",
                        "addOnValue" : 0
                      },
                      "APICRDT01" : {
                        "baseLimit" : 100000,
                        "maxValue" : 100005,
                        "freeValue" : 5,
                        "description" : "API usage credits allocated",
                        "addOnValue" : 0
                      }
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attributes" : {
          "is-admin-api" : true,
          "security" : {
            "ip-validation" : "trusted",
            "authentication" : {
              "roles" : [ "SupportAdmin", "SupportGuest", "DebugToolAdmin", "DebugToolUser" ],
              "allow-access-for" : "devops"
            },
            "throttle" : {
              "inline" : [ {
                "scope" : "SERVICE",
                "window" : "SLIDING",
                "key" : "url.path+user.zuid",
                "rules" : [ {
                  "duration" : "1m",
                  "threshold" : 60,
                  "lock-period" : "1m",
                  "hip" : false
                } ]
              } ]
            }
          },
          "extraparams" : {
            "disable" : true
          },
          "clan-group" : "admin",
          "apimethod" : "com.zoho.desk.security.ratelimit.admin.RatelimitAdminToolService.updateRatelimitLicenseDetails",
          "module-group" : "security"
        },
        "x-custom-request-body-attributes" : {
          "non-empty" : true,
          "max-len" : 4500
        }
      }
    },
    "/api/admin/ratelimit/policies" : {
      "get" : {
        "tags" : [ "RatelimitPolicyDetails" ],
        "summary" : "Get configured ratelimit policies",
        "description" : "This API fetches the configured ratelimit policies.",
        "operationId" : "getRatelimitPolicyDetails",
        "responses" : {
          "200" : {
            "description" : "Ratelimit Policy Details Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { }
                },
                "examples" : {
                  "default" : {
                    "value" : {
                      "AddManyRecords_Policy" : {
                        "dynamic-credit-handler" : "",
                        "criterias" : {
                          "1" : {
                            "expression" : "request.client",
                            "rules" : {
                              "1" : {
                                "description" : "This rule applies for API calls originating from the Desk Web App, Desk and Radar Mobile Apps",
                                "throttles" : [ {
                                  "throttle" : {
                                    "duration" : "1m",
                                    "lockPeriod" : "2m",
                                    "threshold" : 30
                                  }
                                } ],
                                "value" : "WEB_AND_MOBILE"
                              }
                            }
                          }
                        },
                        "name" : "AddManyRecords_Policy",
                        "description" : "This policy is intended for APIs that create many records.",
                        "credit" : 3
                      }
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attributes" : {
          "is-admin-api" : true,
          "security" : {
            "ip-validation" : "trusted",
            "authentication" : {
              "roles" : [ "SupportAdmin", "SupportGuest", "DebugToolAdmin", "DebugToolUser" ],
              "allow-access-for" : "devops"
            },
            "throttle" : {
              "inline" : [ {
                "scope" : "SERVICE",
                "window" : "SLIDING",
                "key" : "url.path+user.zuid",
                "rules" : [ {
                  "duration" : "1m",
                  "threshold" : 60,
                  "lock-period" : "1m",
                  "hip" : false
                } ]
              } ]
            }
          },
          "clan-group" : "admin",
          "apimethod" : "com.zoho.desk.security.ratelimit.admin.RatelimitAdminToolService.getRatelimitPolicyDetails",
          "module-group" : "security"
        }
      }
    },
    "/api/admin/ratelimit/auditlog/org" : {
      "get" : {
        "tags" : [ "RatelimitAuditLog" ],
        "summary" : "Get ratelimit audit logs for an org",
        "description" : "Fetch ratelimit audit logs for a specific organization.",
        "operationId" : "getRatelimitAuditLogOrg",
        "parameters" : [ {
          "name" : "zgid",
          "in" : "query",
          "description" : "Org ID of the portal whose ratelimit details has to be retrieved",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^[0-9]+$",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "min-occurrences" : 1
            }
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which audit log must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "x-custom-parameters-attributes" : {
              "min-occurrences" : 1,
              "default" : 1
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of audit logs to fetch",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "x-custom-parameters-attributes" : {
              "min-occurrences" : 1,
              "default" : 10
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ratelimit Audit Log Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "properties" : {
                    "data" : {
                      "items" : {
                        "properties" : {
                          "features" : {
                            "additionalProperties" : {
                              "properties" : {
                                "currentTotal" : { },
                                "oldLimit" : { },
                                "newLimit" : { }
                              }
                            }
                          },
                          "updatedTime" : {
                            "format" : "int64"
                          },
                          "updatedBy" : { },
                          "id" : {
                            "format" : "int64"
                          }
                        }
                      }
                    }
                  }
                },
                "examples" : {
                  "default" : {
                    "value" : {
                      "data" : [ {
                        "features" : {
                          "APICRDT03" : {
                            "currentTotal" : 1,
                            "oldLimit" : -23,
                            "newLimit" : -24
                          }
                        },
                        "updatedTime" : 1757351292567,
                        "updatedBy" : "65424803",
                        "id" : 128063000035642000
                      }, {
                        "features" : {
                          "APICRDT03" : {
                            "currentTotal" : 2,
                            "oldLimit" : -20,
                            "newLimit" : -23
                          }
                        },
                        "updatedTime" : 1757350441727,
                        "updatedBy" : "65424803",
                        "id" : 128063000035638350
                      } ]
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attributes" : {
          "is-admin-api" : true,
          "security" : {
            "ip-validation" : "trusted",
            "authentication" : {
              "roles" : [ "SupportAdmin", "SupportGuest", "DebugToolAdmin", "DebugToolUser" ],
              "allow-access-for" : "devops"
            },
            "throttle" : {
              "inline" : [ {
                "scope" : "SERVICE",
                "window" : "SLIDING",
                "key" : "url.path+user.zuid",
                "rules" : [ {
                  "duration" : "1m",
                  "threshold" : 60,
                  "lock-period" : "1m",
                  "hip" : false
                } ]
              } ]
            }
          },
          "clan-group" : "admin",
          "apimethod" : "com.zoho.desk.security.ratelimit.admin.RatelimitAdminToolService.getOrgSpecificAuditLog",
          "module-group" : "security"
        }
      }
    },
    "/api/admin/ratelimit/auditlog/service" : {
      "get" : {
        "tags" : [ "RatelimitAuditLog" ],
        "summary" : "Get ratelimit audit logs for service features",
        "description" : "Fetch ratelimit audit logs for service-level features.",
        "operationId" : "getRatelimitAuditLogService",
        "parameters" : [ {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which audit log must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "x-custom-parameters-attributes" : {
              "min-occurrences" : 1,
              "default" : 1
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of audit logs to fetch",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "x-custom-parameters-attributes" : {
              "min-occurrences" : 1,
              "default" : 10
            }
          }
        }, {
          "name" : "features",
          "in" : "query",
          "description" : "Comma-separated list of feature codes",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^(APICRDT0[1-4](,APICRDT0[1-4])*)$",
            "x-custom-parameters-attributes" : {
              "split" : ",",
              "min-occurrences" : 1,
              "max-occurrences" : 4
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ratelimit Service Audit Log Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "properties" : {
                    "data" : {
                      "items" : {
                        "properties" : {
                          "zgid" : { },
                          "featureCode" : { },
                          "freeValue" : { },
                          "id" : {
                            "format" : "int64"
                          }
                        }
                      }
                    }
                  }
                },
                "examples" : {
                  "default" : {
                    "value" : {
                      "data" : [ {
                        "zgid" : "68077037",
                        "featureCode" : "APICRDT02",
                        "freeValue" : "40000",
                        "id" : 2000004390001
                      }, {
                        "zgid" : "68077037",
                        "featureCode" : "APICRDT01",
                        "freeValue" : "100000",
                        "id" : 2000004312001
                      }, {
                        "zgid" : "72009187",
                        "featureCode" : "APICRDT01",
                        "freeValue" : "995002",
                        "id" : 2000004294001
                      } ]
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attributes" : {
          "is-admin-api" : true,
          "security" : {
            "ip-validation" : "trusted",
            "authentication" : {
              "roles" : [ "SupportAdmin", "SupportGuest", "DebugToolAdmin", "DebugToolUser" ],
              "allow-access-for" : "devops"
            },
            "throttle" : {
              "inline" : [ {
                "scope" : "SERVICE",
                "window" : "SLIDING",
                "key" : "url.path+user.zuid",
                "rules" : [ {
                  "duration" : "1m",
                  "threshold" : 60,
                  "lock-period" : "1m",
                  "hip" : false
                } ]
              } ]
            }
          },
          "clan-group" : "admin",
          "apimethod" : "com.zoho.desk.security.ratelimit.admin.RatelimitAdminToolService.getServiceSpecificAuditLog",
          "module-group" : "security"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "RatelimitLicenseDetailsUpdate" : {
        "required" : [ "APICRDT01", "APICRDT02", "APICRDT03", "APICRDT04" ],
        "properties" : {
          "APICRDT01" : {
            "format" : "int64"
          },
          "APICRDT02" : {
            "format" : "int64"
          },
          "APICRDT03" : {
            "format" : "int64"
          },
          "APICRDT04" : {
            "format" : "int64"
          }
        }
      },
      "RatelimitLicenseDetailsResponse" : {
        "required" : [ "APICRDT01", "APICRDT02", "APICRDT03", "APICRDT04" ],
        "properties" : {
          "APICRDT01" : {
            "required" : [ "addOnValue", "baseLimit", "description", "freeValue", "maxValue" ],
            "properties" : {
              "baseLimit" : {
                "description" : "Base limit for this API credit type",
                "format" : "int64"
              },
              "maxValue" : {
                "description" : "Maximum value for this API credit type",
                "format" : "int64"
              },
              "freeValue" : {
                "description" : "Free value for this API credit type",
                "format" : "int64"
              },
              "description" : {
                "description" : "Description for this API credit type"
              },
              "addOnValue" : {
                "description" : "Addon value for this API credit type",
                "format" : "int64"
              }
            }
          },
          "APICRDT02" : {
            "required" : [ "addOnValue", "baseLimit", "description", "freeValue", "maxValue" ],
            "properties" : {
              "baseLimit" : {
                "description" : "Base limit for this API credit type",
                "format" : "int64"
              },
              "maxValue" : {
                "description" : "Maximum value for this API credit type",
                "format" : "int64"
              },
              "freeValue" : {
                "description" : "Free value for this API credit type",
                "format" : "int64"
              },
              "description" : {
                "description" : "Description for this API credit type"
              },
              "addOnValue" : {
                "description" : "Addon value for this API credit type",
                "format" : "int64"
              }
            }
          },
          "APICRDT03" : {
            "required" : [ "addOnValue", "baseLimit", "description", "freeValue", "maxValue" ],
            "properties" : {
              "baseLimit" : {
                "description" : "Base limit for this API credit type",
                "format" : "int64"
              },
              "maxValue" : {
                "description" : "Maximum value for this API credit type",
                "format" : "int64"
              },
              "freeValue" : {
                "description" : "Free value for this API credit type",
                "format" : "int64"
              },
              "description" : {
                "description" : "Description for this API credit type"
              },
              "addOnValue" : {
                "description" : "Addon value for this API credit type",
                "format" : "int64"
              }
            }
          },
          "APICRDT04" : {
            "required" : [ "addOnValue", "baseLimit", "description", "freeValue", "maxValue" ],
            "properties" : {
              "baseLimit" : {
                "description" : "Base limit for this API credit type",
                "format" : "int64"
              },
              "maxValue" : {
                "description" : "Maximum value for this API credit type",
                "format" : "int64"
              },
              "freeValue" : {
                "description" : "Free value for this API credit type",
                "format" : "int64"
              },
              "description" : {
                "description" : "Description for this API credit type"
              },
              "addOnValue" : {
                "description" : "Addon value for this API credit type",
                "format" : "int64"
              }
            }
          }
        }
      },
      "RatelimitCreditField" : {
        "required" : [ "addOnValue", "baseLimit", "description", "freeValue", "maxValue" ],
        "properties" : {
          "baseLimit" : {
            "description" : "Base limit for this API credit type",
            "format" : "int64"
          },
          "maxValue" : {
            "description" : "Maximum value for this API credit type",
            "format" : "int64"
          },
          "freeValue" : {
            "description" : "Free value for this API credit type",
            "format" : "int64"
          },
          "description" : {
            "description" : "Description for this API credit type"
          },
          "addOnValue" : {
            "description" : "Addon value for this API credit type",
            "format" : "int64"
          }
        }
      },
      "RatelimitPoliciesResponse" : {
        "additionalProperties" : { }
      },
      "RatelimitPolicy" : {
        "required" : [ "credit", "criterias", "description", "dynamic-credit-handler", "name" ],
        "properties" : {
          "dynamic-credit-handler" : { },
          "criterias" : {
            "additionalProperties" : false
          },
          "name" : { },
          "description" : { },
          "credit" : { }
        },
        "additionalProperties" : { }
      },
      "RatelimitCriterias" : {
        "additionalProperties" : { }
      },
      "RatelimitCriteria" : {
        "required" : [ "expression", "rules" ],
        "properties" : {
          "expression" : { },
          "rules" : {
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "RatelimitRules" : {
        "additionalProperties" : { }
      },
      "RatelimitRule" : {
        "required" : [ "description", "throttles", "value" ],
        "properties" : {
          "description" : { },
          "value" : { },
          "throttles" : {
            "items" : {
              "required" : [ "throttle" ],
              "properties" : {
                "throttle" : {
                  "required" : [ "duration" ],
                  "properties" : {
                    "duration" : { },
                    "lockPeriod" : { },
                    "threshold" : { }
                  },
                  "additionalProperties" : false
                },
                "creditBasedThrottle" : { },
                "source" : { }
              },
              "additionalProperties" : false
            }
          }
        },
        "additionalProperties" : { }
      },
      "RatelimitThrottle" : {
        "required" : [ "throttle" ],
        "properties" : {
          "throttle" : {
            "required" : [ "duration" ],
            "properties" : {
              "duration" : { },
              "lockPeriod" : { },
              "threshold" : { }
            },
            "additionalProperties" : false
          },
          "creditBasedThrottle" : { },
          "source" : { }
        },
        "additionalProperties" : { }
      },
      "Throttle" : {
        "required" : [ "duration" ],
        "properties" : {
          "duration" : { },
          "lockPeriod" : { },
          "threshold" : { }
        },
        "additionalProperties" : { }
      },
      "RatelimitOrgAuditLogResponse" : {
        "properties" : {
          "data" : {
            "items" : {
              "properties" : {
                "features" : {
                  "additionalProperties" : {
                    "properties" : {
                      "currentTotal" : { },
                      "oldLimit" : { },
                      "newLimit" : { }
                    }
                  }
                },
                "updatedTime" : {
                  "format" : "int64"
                },
                "updatedBy" : { },
                "id" : {
                  "format" : "int64"
                }
              }
            }
          }
        }
      },
      "RatelimitOrgAuditLogEntry" : {
        "properties" : {
          "features" : {
            "additionalProperties" : {
              "properties" : {
                "currentTotal" : { },
                "oldLimit" : { },
                "newLimit" : { }
              }
            }
          },
          "updatedTime" : {
            "format" : "int64"
          },
          "updatedBy" : { },
          "id" : {
            "format" : "int64"
          }
        }
      },
      "RatelimitAuditFeature" : {
        "properties" : {
          "currentTotal" : { },
          "oldLimit" : { },
          "newLimit" : { }
        }
      },
      "RatelimitServiceAuditLogResponse" : {
        "properties" : {
          "data" : {
            "items" : {
              "properties" : {
                "zgid" : { },
                "featureCode" : { },
                "freeValue" : { },
                "id" : {
                  "format" : "int64"
                }
              }
            }
          }
        }
      },
      "RatelimitServiceAuditLogEntry" : {
        "properties" : {
          "zgid" : { },
          "featureCode" : { },
          "freeValue" : { },
          "id" : {
            "format" : "int64"
          }
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "ratelimitFeatureDetailsResponse" : {
        "description" : "Ratelimit License Details Response",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "APICRDT01", "APICRDT02", "APICRDT03", "APICRDT04" ],
              "properties" : {
                "APICRDT01" : {
                  "required" : [ "addOnValue", "baseLimit", "description", "freeValue", "maxValue" ],
                  "properties" : {
                    "baseLimit" : {
                      "description" : "Base limit for this API credit type",
                      "format" : "int64"
                    },
                    "maxValue" : {
                      "description" : "Maximum value for this API credit type",
                      "format" : "int64"
                    },
                    "freeValue" : {
                      "description" : "Free value for this API credit type",
                      "format" : "int64"
                    },
                    "description" : {
                      "description" : "Description for this API credit type"
                    },
                    "addOnValue" : {
                      "description" : "Addon value for this API credit type",
                      "format" : "int64"
                    }
                  }
                },
                "APICRDT02" : {
                  "required" : [ "addOnValue", "baseLimit", "description", "freeValue", "maxValue" ],
                  "properties" : {
                    "baseLimit" : {
                      "description" : "Base limit for this API credit type",
                      "format" : "int64"
                    },
                    "maxValue" : {
                      "description" : "Maximum value for this API credit type",
                      "format" : "int64"
                    },
                    "freeValue" : {
                      "description" : "Free value for this API credit type",
                      "format" : "int64"
                    },
                    "description" : {
                      "description" : "Description for this API credit type"
                    },
                    "addOnValue" : {
                      "description" : "Addon value for this API credit type",
                      "format" : "int64"
                    }
                  }
                },
                "APICRDT03" : {
                  "required" : [ "addOnValue", "baseLimit", "description", "freeValue", "maxValue" ],
                  "properties" : {
                    "baseLimit" : {
                      "description" : "Base limit for this API credit type",
                      "format" : "int64"
                    },
                    "maxValue" : {
                      "description" : "Maximum value for this API credit type",
                      "format" : "int64"
                    },
                    "freeValue" : {
                      "description" : "Free value for this API credit type",
                      "format" : "int64"
                    },
                    "description" : {
                      "description" : "Description for this API credit type"
                    },
                    "addOnValue" : {
                      "description" : "Addon value for this API credit type",
                      "format" : "int64"
                    }
                  }
                },
                "APICRDT04" : {
                  "required" : [ "addOnValue", "baseLimit", "description", "freeValue", "maxValue" ],
                  "properties" : {
                    "baseLimit" : {
                      "description" : "Base limit for this API credit type",
                      "format" : "int64"
                    },
                    "maxValue" : {
                      "description" : "Maximum value for this API credit type",
                      "format" : "int64"
                    },
                    "freeValue" : {
                      "description" : "Free value for this API credit type",
                      "format" : "int64"
                    },
                    "description" : {
                      "description" : "Description for this API credit type"
                    },
                    "addOnValue" : {
                      "description" : "Addon value for this API credit type",
                      "format" : "int64"
                    }
                  }
                }
              }
            },
            "examples" : {
              "default" : {
                "value" : {
                  "APICRDT04" : {
                    "baseLimit" : 50,
                    "maxValue" : 51,
                    "freeValue" : 1,
                    "description" : "Maximum concurrent API requests allowed when the source is Deluge",
                    "addOnValue" : 0
                  },
                  "APICRDT03" : {
                    "baseLimit" : 25,
                    "maxValue" : 27,
                    "freeValue" : 2,
                    "description" : "Maximum number of API requests allowed concurrently",
                    "addOnValue" : 0
                  },
                  "APICRDT02" : {
                    "baseLimit" : 1000,
                    "maxValue" : 1003,
                    "freeValue" : 3,
                    "description" : "API usage credits determined by the total agent count",
                    "addOnValue" : 0
                  },
                  "APICRDT01" : {
                    "baseLimit" : 100000,
                    "maxValue" : 100005,
                    "freeValue" : 5,
                    "description" : "API usage credits allocated",
                    "addOnValue" : 0
                  }
                }
              }
            }
          }
        }
      },
      "ratelimitPolicyDetailsResponse" : {
        "description" : "Ratelimit Policy Details Response",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : false
            },
            "examples" : {
              "default" : {
                "value" : {
                  "AddManyRecords_Policy" : {
                    "dynamic-credit-handler" : "",
                    "criterias" : {
                      "1" : {
                        "expression" : "request.client",
                        "rules" : {
                          "1" : {
                            "description" : "This rule applies for API calls originating from the Desk Web App, Desk and Radar Mobile Apps",
                            "throttles" : [ {
                              "throttle" : {
                                "duration" : "1m",
                                "lockPeriod" : "2m",
                                "threshold" : 30
                              }
                            } ],
                            "value" : "WEB_AND_MOBILE"
                          }
                        }
                      }
                    },
                    "name" : "AddManyRecords_Policy",
                    "description" : "This policy is intended for APIs that create many records.",
                    "credit" : 3
                  }
                }
              }
            }
          }
        }
      },
      "ratelimitOrgAuditLogResponse" : {
        "description" : "Ratelimit Audit Log Response",
        "content" : {
          "application/json" : {
            "schema" : {
              "properties" : {
                "data" : {
                  "items" : {
                    "properties" : {
                      "features" : {
                        "additionalProperties" : {
                          "properties" : {
                            "currentTotal" : { },
                            "oldLimit" : { },
                            "newLimit" : { }
                          }
                        }
                      },
                      "updatedTime" : {
                        "format" : "int64"
                      },
                      "updatedBy" : { },
                      "id" : {
                        "format" : "int64"
                      }
                    }
                  }
                }
              }
            },
            "examples" : {
              "default" : {
                "value" : {
                  "data" : [ {
                    "features" : {
                      "APICRDT03" : {
                        "currentTotal" : 1,
                        "oldLimit" : -23,
                        "newLimit" : -24
                      }
                    },
                    "updatedTime" : 1757351292567,
                    "updatedBy" : "65424803",
                    "id" : 128063000035642000
                  }, {
                    "features" : {
                      "APICRDT03" : {
                        "currentTotal" : 2,
                        "oldLimit" : -20,
                        "newLimit" : -23
                      }
                    },
                    "updatedTime" : 1757350441727,
                    "updatedBy" : "65424803",
                    "id" : 128063000035638350
                  } ]
                }
              }
            }
          }
        }
      },
      "ratelimitServiceAuditLogResponse" : {
        "description" : "Ratelimit Service Audit Log Response",
        "content" : {
          "application/json" : {
            "schema" : {
              "properties" : {
                "data" : {
                  "items" : {
                    "properties" : {
                      "zgid" : { },
                      "featureCode" : { },
                      "freeValue" : { },
                      "id" : {
                        "format" : "int64"
                      }
                    }
                  }
                }
              }
            },
            "examples" : {
              "default" : {
                "value" : {
                  "data" : [ {
                    "zgid" : "68077037",
                    "featureCode" : "APICRDT02",
                    "freeValue" : "40000",
                    "id" : 2000004390001
                  }, {
                    "zgid" : "68077037",
                    "featureCode" : "APICRDT01",
                    "freeValue" : "100000",
                    "id" : 2000004312001
                  }, {
                    "zgid" : "72009187",
                    "featureCode" : "APICRDT01",
                    "freeValue" : "995002",
                    "id" : 2000004294001
                  } ]
                }
              }
            }
          }
        }
      },
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "OAuth Org Mismatch Error Response" : {
                "value" : {
                  "errorCode" : "OAUTH_ORG_MISMATCH",
                  "message" : "The OAuthToken is not valid for specified organization."
                }
              }
            }
          }
        }
      },
      "forbiddenErrorResponse" : {
        "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Forbidden Error Response" : {
                "value" : {
                  "errorCode" : "FORBIDDEN",
                  "message" : "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "urlNotFoundErrorResponse" : {
        "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Url Not Found Error Response" : {
                "value" : {
                  "errorCode" : "URL_NOT_FOUND",
                  "message" : "The URL you requested could not be found."
                }
              }
            }
          }
        }
      },
      "methodNotAllowedErrorResponse" : {
        "description" : "This errorCode value appears if the method in the API request is known by the server but disabled for the API requested.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Method Not Allowed Error Response" : {
                "value" : {
                  "errorCode" : "METHOD_NOT_ALLOWED",
                  "message" : "This HTTP method is not allowed on this URL."
                }
              }
            }
          }
        }
      },
      "resourceSizeExceededErrorResponse" : {
        "description" : "This errorCode value appears if the size of the resource exceeds the limit defined by the server.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Resource Size Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "RESOURCE_SIZE_EXCEEDED",
                  "message" : "Attachment size is too large. The maximum size supported is 20 MB."
                }
              }
            }
          }
        }
      },
      "unSupportedMediaTypeErrorResponse" : {
        "description" : "This errorCode value appears if the server refuses the request as a result of receiving the input in an unsupported format.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unsupported Media Type Error Response" : {
                "value" : {
                  "errorCode" : "UNSUPPORTED_MEDIA_TYPE",
                  "message" : "The given content type is not supported. Please provide the input Content-Type as application/json"
                }
              }
            }
          }
        }
      },
      "unprocessableEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The value passed for the 'from' query parameter is invalid."
                }
              }
            }
          }
        }
      },
      "missingEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not contain the mandatory parameters for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The mandatory parameter 'permission' is missing"
                }
              }
            }
          }
        }
      },
      "thresholdExceedErrorResponse" : {
        "description" : "This errorCode value appears if the user sends too many requests within a given amount of time (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Threshold Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "THRESHOLD_EXCEEDED",
                  "message" : "The maximum number of API calls that can be made per day has been exceeded."
                }
              }
            }
          }
        }
      },
      "concurrentRateLimitExceededErrorResponse" : {
        "description" : "This errorCode value appears if the user fires too many requests in a simultaneous/concurrent manner (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Concurrent Rate Limit Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "TOO_MANY_REQUESTS",
                  "message" : "The maximum number of Concurrent API Calls that can be made has been exceeded."
                }
              }
            }
          }
        }
      },
      "internalErrorResponse" : {
        "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Internal Server Error Response" : {
                "value" : {
                  "errorCode" : "INTERNAL_SERVER_ERROR",
                  "message" : "An internal server error occurred while performing this operation."
                }
              }
            }
          }
        }
      },
      "licenseErrorResponse" : {
        "description" : "This errorCode value appears if the user is unable to perform an action due to the limitations of the Zoho Desk edition in use\nThe possible values for the feature key are\n    *AGENTS*\n    *LIGHT_AGENTS*\n    *TEAM*\nThe possible values for the editionType key are\n    *FREE*\n    *PROFESSIONAL*\n    *ENTERPRISE*",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "editionType", "feature", "isTrial", "maxAllowedEntity" ],
                "properties" : {
                  "maxAllowedEntity" : {
                    "pattern" : "([0-9]+)"
                  },
                  "feature" : {
                    "enum" : [ "AGENTS", "LIGHT_AGENTS", "TEAM" ]
                  },
                  "editionType" : {
                    "enum" : [ "ENTERPRISE", "PROFESSIONAL", "STANDARD", "EXPRESS", "FREE" ]
                  },
                  "isTrial" : { }
                }
              } ]
            },
            "examples" : {
              "LicenseAccessLimited Error Response" : {
                "value" : {
                  "errorCode" : "LICENSE_ACCESS_LIMITED",
                  "maxAllowedEntity" : "10",
                  "feature" : "AGENTS",
                  "editionType" : "FREE",
                  "isTrial" : false,
                  "message" : "Your Zoho Desk Edition does not support this feature/operation."
                }
              }
            }
          }
        }
      },
      "multipleUnprocessEntityResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "anyOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "additionalProperties" : { },
                "allOf" : [ {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                }, {
                  "required" : [ "errors" ],
                  "properties" : {
                    "errors" : {
                      "items" : {
                        "required" : [ "errorMessage", "errorType", "fieldName" ],
                        "properties" : {
                          "fieldName" : { },
                          "errorType" : {
                            "enum" : [ "invalid", "duplicate", "missing" ]
                          },
                          "errorMessage" : { }
                        }
                      }
                    }
                  }
                } ]
              } ]
            }
          }
        }
      },
      "invalidDataErrorResponse" : {
        "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
[...]
