{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "ReportFolder",
    "version" : "1.0.0",
    "x-clan-group" : "reports",
    "x-module-group" : "reports"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/reports/search" : {
      "get" : {
        "tags" : [ "ReportFolder" ],
        "summary" : "searchReports",
        "description" : "To search the list of reports",
        "operationId" : "searchReports",
        "parameters" : [ {
          "name" : "searchStr",
          "in" : "query",
          "description" : "String to search for reports name",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "String to search for reports name",
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "department for which reports have to be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "department for which reports have to be listed",
            "format" : "int64"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of reports to fetch; default value is 50 and maximum value supported is 50",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of reports to fetch; default value is 50 and maximum value supported is 50",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which reports must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which reports must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "reports search in which reports should be shown @ALL@ @SYSTEM@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "reports search in which reports should be shown @ALL@ @SYSTEM@",
            "enum" : [ "ALL", "SYSTEM" ],
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "reportList template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data", "reportsCount" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "chartUrl", "description", "displayLabel", "id", "isCustomizable", "isEditable", "isFavorite", "isSystemGenerated", "lastAccessedBy", "lastAccessedTime", "modifiedBy", "modifiedTime", "name", "reportFolder", "reportType" ],
                        "properties" : {
                          "displayLabel" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "modifiedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "isSystemGenerated" : { },
                          "description" : {
                            "maxLength" : 65535,
                            "minLength" : 0
                          },
                          "chartUrl" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "((\\/?)([a-zA-Z0-9\\P{InBasicLatin}\\-\\.\\?\\,\\:\\'\\/\\\\\\+=&amp;%\\$#_\\s]*)?$|\\$)"
                          },
                          "reportType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "tabular", "summary", "matrix", "default" ],
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "reports search in which reports should be shown @ALL@ @SYSTEM@",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : true,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "lastAccessedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "isEditable" : { },
                          "isCustomizable" : { },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "modifiedBy" : {
                            "maxProperties" : 5,
                            "minProperties" : 5,
                            "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                            "properties" : {
                              "firstName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "photoURL" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "reportFolder" : {
                            "maxProperties" : 3,
                            "minProperties" : 3,
                            "required" : [ "departmentId", "id", "name" ],
                            "properties" : {
                              "departmentId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "lastAccessedBy" : {
                            "maxProperties" : 5,
                            "minProperties" : 5,
                            "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                            "properties" : {
                              "firstName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "photoURL" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "isFavorite" : { }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "reportsCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "displayLabel" : "Customer Happiness For Agents",
                        "modifiedTime" : null,
                        "isSystemGenerated" : true,
                        "description" : "Customer Happiness For Agents",
                        "reportType" : "default",
                        "lastAccessedTime" : "2022-08-05T12:43:05.730Z",
                        "isEditable" : false,
                        "isCustomizable" : false,
                        "name" : "customerHappinessForAgents",
                        "modifiedBy" : null,
                        "id" : "4000000000215",
                        "reportFolder" : {
                          "departmentId" : null,
                          "name" : "Customer Happiness Reports",
                          "id" : "4000000000203"
                        },
                        "lastAccessedBy" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/27185000000097005/photo?orgId=54587981",
                          "firstName" : "N",
                          "lastName" : "Priyanka",
                          "name" : "N Priyanka",
                          "id" : "27185000000097005"
                        },
                        "isFavorite" : false
                      }, {
                        "displayLabel" : "Customer Happiness Analytics",
                        "modifiedTime" : null,
                        "isSystemGenerated" : true,
                        "description" : "Customer Happiness Analytics",
                        "reportType" : "default",
                        "lastAccessedTime" : "2022-08-05T12:43:05.730Z",
                        "isEditable" : false,
                        "isCustomizable" : false,
                        "name" : "customerHappinessForAnalytic",
                        "modifiedBy" : null,
                        "id" : "4000000000217",
                        "reportFolder" : {
                          "departmentId" : null,
                          "name" : "Customer Happiness Reports",
                          "id" : "4000000000203"
                        },
                        "lastAccessedBy" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/27185000000097005/photo?orgId=54587981",
                          "firstName" : "N",
                          "lastName" : "Priyanka",
                          "name" : "N Priyanka",
                          "id" : "27185000000097005"
                        },
                        "isFavorite" : false
                      }, {
                        "displayLabel" : "Customer Happiness Comparison",
                        "modifiedTime" : null,
                        "isSystemGenerated" : true,
                        "description" : "Customer Happiness Comparison",
                        "reportType" : "default",
                        "lastAccessedTime" : "2022-08-05T12:43:05.730Z",
                        "isEditable" : false,
                        "isCustomizable" : false,
                        "name" : "customerHappinessForComparison",
                        "modifiedBy" : null,
                        "id" : "4000000000219",
                        "reportFolder" : {
                          "departmentId" : null,
                          "name" : "Customer Happiness Reports",
                          "id" : "4000000000203"
                        },
                        "lastAccessedBy" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/27185000000097005/photo?orgId=54587981",
                          "firstName" : "N",
                          "lastName" : "Priyanka",
                          "name" : "N Priyanka",
                          "id" : "27185000000097005"
                        },
                        "isFavorite" : false
                      }, {
                        "displayLabel" : "SLA Reports",
                        "modifiedTime" : null,
                        "isSystemGenerated" : true,
                        "description" : "View Tickets by their achieved and violated instances for SLA targets",
                        "reportType" : "default",
                        "lastAccessedTime" : "2022-08-05T12:43:05.730Z",
                        "isEditable" : false,
                        "isCustomizable" : false,
                        "name" : "slaReports",
                        "modifiedBy" : null,
                        "id" : "4000000000221",
                        "reportFolder" : {
                          "departmentId" : null,
                          "name" : "Static Reports",
                          "id" : "4000000000205"
                        },
                        "lastAccessedBy" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/27185000000097005/photo?orgId=54587981",
                          "firstName" : "N",
                          "lastName" : "Priyanka",
                          "name" : "N Priyanka",
                          "id" : "27185000000097005"
                        },
                        "isFavorite" : false
                      }, {
                        "displayLabel" : "Reopened Reports",
                        "modifiedTime" : null,
                        "isSystemGenerated" : true,
                        "description" : "View Tickets that were reopened at any point of their lifecycle",
                        "reportType" : "default",
                        "lastAccessedTime" : "2022-08-05T12:43:05.730Z",
                        "isEditable" : false,
                        "isCustomizable" : false,
                        "name" : "reopenTickets",
                        "modifiedBy" : null,
                        "id" : "4000000000223",
                        "reportFolder" : {
                          "departmentId" : null,
                          "name" : "Static Reports",
                          "id" : "4000000000205"
                        },
                        "lastAccessedBy" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/27185000000097005/photo?orgId=54587981",
                          "firstName" : "N",
                          "lastName" : "Priyanka",
                          "name" : "N Priyanka",
                          "id" : "27185000000097005"
                        },
                        "isFavorite" : true
                      } ],
                      "reportsCount" : "26"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 90,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "7cde473723f95613af43b6d1577d9c04",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.ReportService.searchReports"
        }
      }
    },
    "/api/v1/reportFolders" : {
      "get" : {
        "tags" : [ "ReportFolder" ],
        "summary" : "GetAllReportFolders",
        "description" : "To get the list of report folders",
        "operationId" : "getAllReportFolders",
        "parameters" : [ {
          "name" : "searchStr",
          "in" : "query",
          "description" : "String to search for reports name",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "String to search for reports name",
            "x-audience" : [ "company-internal" ]
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "department for which reports have to be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "department for which reports have to be listed",
            "format" : "int64"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of reports to fetch; default value is 50 and maximum value supported is 50",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of reports to fetch; default value is 50 and maximum value supported is 50",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which reports must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which reports must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "category",
          "in" : "query",
          "description" : "folder list in which folder should be shown @ALL@ @CUSTOMIZABLE@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "folder list in which folder should be shown @ALL@ @CUSTOMIZABLE@",
            "enum" : [ "ALL", "CUSTOMIZABLE" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "reportFolderList template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data", "totalCount" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "additionalProperties" : { },
                        "allOf" : [ {
                          "required" : [ "accessibility", "departmentId", "description", "id", "isCustomizable", "isEditable", "isSystemGenerated", "name", "reportsCount" ],
                          "properties" : {
                            "isEditable" : { },
                            "accessibility" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                              "properties" : {
                                "teams" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "roles" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "onlyMe", "allAgents", "restrictedAccess" ]
                                },
                                "rolesAndSubordinates" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "agents" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                }
                              },
                              "additionalProperties" : false
                            },
                            "isCustomizable" : { },
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "department for which report folders have to be listed",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "isSystemGenerated" : { },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "description" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "reportsCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "accessibility", "departmentId", "description", "id", "isCustomizable", "isEditable", "isSystemGenerated", "name", "reportsCount" ],
                          "properties" : {
                            "isEditable" : { },
                            "accessibility" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                              "properties" : {
                                "teams" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "roles" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "onlyMe", "allAgents", "restrictedAccess" ]
                                },
                                "rolesAndSubordinates" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "agents" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                }
                              },
                              "additionalProperties" : false
                            },
                            "isCustomizable" : { },
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "department for which report folders have to be listed",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "isSystemGenerated" : { },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "description" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "reportsCount" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          }
                        } ]
                      }
                    },
                    "totalCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "isEditable" : false,
                        "accessibility" : {
                          "teams" : null,
                          "roles" : null,
                          "type" : "allAgents",
                          "rolesAndSubordinates" : null,
                          "agents" : null
                        },
                        "isCustomizable" : false,
                        "departmentId" : null,
                        "isSystemGenerated" : true,
                        "name" : "Customer Happiness Reports",
                        "description" : null,
                        "id" : "4000000000203",
                        "reportsCount" : "3"
                      }, {
                        "isEditable" : false,
                        "accessibility" : {
                          "teams" : null,
                          "roles" : null,
                          "type" : "allAgents",
                          "rolesAndSubordinates" : null,
                          "agents" : null
                        },
                        "isCustomizable" : false,
                        "departmentId" : null,
                        "isSystemGenerated" : true,
                        "name" : "Static Reports",
                        "description" : null,
                        "id" : "4000000000205",
                        "reportsCount" : "5"
                      }, {
                        "isEditable" : false,
                        "accessibility" : {
                          "teams" : null,
                          "roles" : null,
                          "type" : "allAgents",
                          "rolesAndSubordinates" : null,
                          "agents" : null
                        },
                        "isCustomizable" : true,
                        "departmentId" : "4000000012994",
                        "isSystemGenerated" : true,
                        "name" : "Ticket Reports",
                        "description" : "Reports related to tickets",
                        "id" : "4000000012982",
                        "reportsCount" : "9"
                      } ],
                      "totalCount" : "22"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "766397c7879b5f955317d152383b7923",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.ReportService.getAllReportFolders"
        }
      },
      "post" : {
        "tags" : [ "ReportFolder" ],
        "summary" : "addReportFolder",
        "description" : "This API is used to create report folder",
        "operationId" : "addReportFolder",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "accessibility", "departmentId", "name" ],
                "properties" : {
                  "accessibility" : {
                    "oneOf" : [ {
                      "required" : [ "type" ],
                      "properties" : {
                        "type" : {
                          "enum" : [ "onlyMe", "allAgents" ]
                        }
                      }
                    }, {
                      "required" : [ "agents", "type" ],
                      "properties" : {
                        "type" : {
                          "enum" : [ "restrictedAccess" ]
                        },
                        "agents" : {
                          "items" : {
                            "format" : "int64"
                          }
                        }
                      }
                    } ]
                  },
                  "departmentId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "description" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "accessibility" : {
                      "type" : "onlyMe"
                    },
                    "departmentId" : 4000000012994,
                    "name" : "TicketReportFolder"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "400" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "BAD_REQUEST",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "reportFolderObject template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "accessibility", "departmentId", "description", "id", "isCustomizable", "isEditable", "isSystemGenerated", "name", "reportsCount" ],
                    "properties" : {
                      "isEditable" : { },
                      "accessibility" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                        "properties" : {
                          "teams" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "roles" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "onlyMe", "allAgents", "restrictedAccess" ]
                          },
                          "rolesAndSubordinates" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "agents" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        },
                        "additionalProperties" : false
                      },
                      "isCustomizable" : { },
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "department for which report folders have to be listed",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isSystemGenerated" : { },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "description" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "reportsCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "accessibility", "departmentId", "description", "id", "isCustomizable", "isEditable", "isSystemGenerated", "name", "reportsCount" ],
                    "properties" : {
                      "isEditable" : { },
                      "accessibility" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                        "properties" : {
                          "teams" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "roles" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "onlyMe", "allAgents", "restrictedAccess" ]
                          },
                          "rolesAndSubordinates" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "agents" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "isCustomizable" : { },
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "isSystemGenerated" : { },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "description" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "reportsCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "isEditable" : true,
                      "accessibility" : {
                        "teams" : null,
                        "roles" : null,
                        "type" : "restrictedAccess",
                        "rolesAndSubordinates" : null,
                        "agents" : [ "4000000016416" ]
                      },
                      "isCustomizable" : true,
                      "departmentId" : "4000000012994",
                      "isSystemGenerated" : false,
                      "name" : "RequestReportFolder",
                      "description" : null,
                      "id" : "4000000026001",
                      "reportsCount" : "0"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "b2f034196c81709674589d3f5611ccac",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.ReportService.addReportFolder"
        }
      }
    },
    "/api/v1/reportFolders/{id}" : {
      "get" : {
        "tags" : [ "ReportFolder" ],
        "summary" : "GetReportFolder",
        "description" : "To get a specific report folder",
        "operationId" : "getReportFolder",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "reportFolderObject template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "accessibility", "departmentId", "description", "id", "isCustomizable", "isEditable", "isSystemGenerated", "name", "reportsCount" ],
                    "properties" : {
                      "isEditable" : { },
                      "accessibility" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                        "properties" : {
                          "teams" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "roles" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "onlyMe", "allAgents", "restrictedAccess" ]
                          },
                          "rolesAndSubordinates" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "agents" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        },
                        "additionalProperties" : false
                      },
                      "isCustomizable" : { },
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "department for which report folders have to be listed",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isSystemGenerated" : { },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "description" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "reportsCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "accessibility", "departmentId", "description", "id", "isCustomizable", "isEditable", "isSystemGenerated", "name", "reportsCount" ],
                    "properties" : {
                      "isEditable" : { },
                      "accessibility" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                        "properties" : {
                          "teams" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "roles" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "onlyMe", "allAgents", "restrictedAccess" ]
                          },
                          "rolesAndSubordinates" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "agents" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        },
                        "additionalProperties" : false
                      },
                      "isCustomizable" : { },
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "isSystemGenerated" : { },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "description" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "reportsCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "isEditable" : true,
                      "accessibility" : {
                        "teams" : null,
                        "roles" : null,
                        "type" : "restrictedAccess",
                        "rolesAndSubordinates" : null,
                        "agents" : [ "4000000016416" ]
                      },
                      "isCustomizable" : true,
                      "departmentId" : "4000000012994",
                      "isSystemGenerated" : false,
                      "name" : "RequestReportFolder",
                      "description" : null,
                      "id" : "4000000026001",
                      "reportsCount" : "0"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "ef3f11a9212394eaa35d9b98ebb7b151",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.ReportService.getReportFolder"
        }
      },
      "patch" : {
        "tags" : [ "ReportFolder" ],
        "summary" : "updateReportFolder",
        "description" : "To update a report folder data",
        "operationId" : "updateReportFolder",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "accessibility", "name" ],
                "properties" : {
                  "accessibility" : {
                    "oneOf" : [ {
                      "required" : [ "type" ],
                      "properties" : {
                        "type" : {
                          "enum" : [ "onlyMe", "allAgents" ]
                        }
                      }
                    }, {
                      "required" : [ "agents", "type" ],
                      "properties" : {
                        "type" : {
                          "enum" : [ "restrictedAccess" ]
                        },
                        "agents" : {
                          "items" : {
                            "format" : "int64"
                          }
                        }
                      }
                    } ]
                  },
                  "departmentId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "description" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "accessibility" : {
                      "type" : "restrictedAccess",
                      "agents" : [ "4000000016416" ]
                    },
                    "departmentId" : 4000000012994,
                    "name" : "RequestReportFolder"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "400" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "BAD_REQUEST",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "reportFolderObject template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "accessibility", "departmentId", "description", "id", "isCustomizable", "isEditable", "isSystemGenerated", "name", "reportsCount" ],
                    "properties" : {
                      "isEditable" : { },
                      "accessibility" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                        "properties" : {
                          "teams" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "roles" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "onlyMe", "allAgents", "restrictedAccess" ]
                          },
                          "rolesAndSubordinates" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "agents" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        },
                        "additionalProperties" : false
                      },
                      "isCustomizable" : { },
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "department for which report folders have to be listed",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isSystemGenerated" : { },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "description" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "reportsCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "accessibility", "departmentId", "description", "id", "isCustomizable", "isEditable", "isSystemGenerated", "name", "reportsCount" ],
                    "properties" : {
                      "isEditable" : { },
                      "accessibility" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                        "properties" : {
                          "teams" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "roles" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "onlyMe", "allAgents", "restrictedAccess" ]
                          },
                          "rolesAndSubordinates" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "agents" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        },
                        "additionalProperties" : false
                      },
                      "isCustomizable" : { },
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "isSystemGenerated" : { },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "description" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "reportsCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "isEditable" : true,
                      "accessibility" : {
                        "teams" : null,
                        "roles" : null,
                        "type" : "restrictedAccess",
                        "rolesAndSubordinates" : null,
                        "agents" : [ "4000000016416" ]
                      },
                      "isCustomizable" : true,
                      "departmentId" : "4000000012994",
                      "isSystemGenerated" : false,
                      "name" : "RequestReportFolder",
                      "description" : null,
                      "id" : "4000000026001",
                      "reportsCount" : "0"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "8fc38f95d0ff2c7881b53fa3837b8164",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.ReportService.updateReportFolder"
        }
      }
    },
    "/api/v1/reports" : {
      "get" : {
        "tags" : [ "ReportFolder" ],
        "summary" : "GetAllReports",
        "description" : "To get the list of reports",
        "operationId" : "getAllReports",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "department for which reports have to be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "department for which reports have to be listed",
            "format" : "int64"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of reports to fetch; default value is 50 and maximum value supported is 50",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of reports to fetch; default value is 50 and maximum value supported is 50",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which reports must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which reports must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "category",
          "in" : "query",
          "description" : "folder list in which folder should be shown @ALL@ @CUSTOMIZABLE@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "folder list in which folder should be shown @ALL@ @CUSTOMIZABLE@",
            "enum" : [ "ALL", "CUSTOMIZABLE" ]
          }
        }, {
          "name" : "folderId",
          "in" : "query",
          "description" : "folder for which report have to be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "folder for which report have to be listed",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "reportList template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data", "reportsCount" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "chartUrl", "description", "displayLabel", "id", "isCustomizable", "isEditable", "isFavorite", "isSystemGenerated", "lastAccessedBy", "lastAccessedTime", "modifiedBy", "modifiedTime", "name", "reportFolder", "reportType" ],
                        "properties" : {
                          "displayLabel" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "modifiedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "isSystemGenerated" : { },
                          "description" : {
                            "maxLength" : 65535,
                            "minLength" : 0
                          },
                          "chartUrl" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "((\\/?)([a-zA-Z0-9\\P{InBasicLatin}\\-\\.\\?\\,\\:\\'\\/\\\\\\+=&amp;%\\$#_\\s]*)?$|\\$)"
                          },
                          "reportType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "tabular", "summary", "matrix", "default" ],
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "reports search in which reports should be shown @ALL@ @SYSTEM@",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : true,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "lastAccessedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "isEditable" : { },
                          "isCustomizable" : { },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "modifiedBy" : {
                            "maxProperties" : 5,
                            "minProperties" : 5,
                            "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                            "properties" : {
                              "firstName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "photoURL" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "reportFolder" : {
                            "maxProperties" : 3,
                            "minProperties" : 3,
                            "required" : [ "departmentId", "id", "name" ],
                            "properties" : {
                              "departmentId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "lastAccessedBy" : {
                            "maxProperties" : 5,
                            "minProperties" : 5,
                            "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                            "properties" : {
                              "firstName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "lastName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "photoURL" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "isFavorite" : { }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "reportsCount" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "displayLabel" : "Customer Happiness For Agents",
                        "modifiedTime" : null,
                        "isSystemGenerated" : true,
                        "description" : "Customer Happiness For Agents",
                        "reportType" : "default",
                        "lastAccessedTime" : "2022-08-05T12:43:05.730Z",
                        "isEditable" : false,
                        "isCustomizable" : false,
                        "name" : "customerHappinessForAgents",
                        "modifiedBy" : null,
                        "id" : "4000000000215",
                        "reportFolder" : {
                          "departmentId" : null,
                          "name" : "Customer Happiness Reports",
                          "id" : "4000000000203"
                        },
                        "lastAccessedBy" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/27185000000097005/photo?orgId=54587981",
                          "firstName" : "N",
                          "lastName" : "Priyanka",
                          "name" : "N Priyanka",
                          "id" : "27185000000097005"
                        },
                        "isFavorite" : false
                      }, {
                        "displayLabel" : "Customer Happiness Analytics",
                        "modifiedTime" : null,
                        "isSystemGenerated" : true,
                        "description" : "Customer Happiness Analytics",
                        "reportType" : "default",
                        "lastAccessedTime" : "2022-08-05T12:43:05.730Z",
                        "isEditable" : false,
                        "isCustomizable" : false,
[...]
