{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Report",
    "version" : "1.0.0",
    "x-clan-group" : "reports",
    "x-module-group" : "reports"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/reports/{reportId}/unstar" : {
      "patch" : {
        "tags" : [ "Report" ],
        "summary" : "removeFromFavorites",
        "description" : "This API allows users to remove a report from Favorites.",
        "operationId" : "unstarReport",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 60000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "e2a41507a590ec2ba5bdde847cc23285",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.ReportPersonalizationService.unstarReport"
        }
      }
    },
    "/api/v1/reports/staticReports/agentAvailability/peek" : {
      "get" : {
        "tags" : [ "Report" ],
        "summary" : "",
        "description" : "",
        "operationId" : "getStaticReportAgentAvailabilityPeek",
        "parameters" : [ {
          "name" : "ticketNumber",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "agentId",
          "in" : "query",
          "description" : "",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "startTime",
          "in" : "query",
          "description" : "",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "endTime",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "staticReportPeekResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data", "filteredEntity", "metaData", "reportName" ],
                  "properties" : {
                    "filteredEntity" : {
                      "required" : [ "agent" ],
                      "properties" : {
                        "agent" : {
                          "required" : [ "id", "name", "photoURL", "role" ],
                          "properties" : {
                            "photoURL" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                              "description" : "",
                              "x-custom-parameters-attributes" : { }
                            },
                            "role" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "",
                              "x-custom-parameters-attributes" : { }
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "",
                              "x-custom-parameters-attributes" : { }
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "description" : "",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : { }
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "metaData" : {
                      "items" : {
                        "required" : [ "i18NKey", "key" ],
                        "properties" : {
                          "i18NKey" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(.*|null|undefined)",
                            "description" : "",
                            "x-custom-parameters-attributes" : { }
                          },
                          "key" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(.*|null|undefined)",
                            "description" : "",
                            "x-custom-parameters-attributes" : { }
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "reportName" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "description" : "",
                      "enum" : [ "reopenTickets", "slaReports", "responseTime", "resolutionTime", "incomingThreads", "agentAvailability", "agentPerformanceReport", "stagingReports", "lifeCycleReport" ],
                      "x-custom-parameters-attributes" : { }
                    },
                    "data" : {
                      "items" : {
                        "additionalProperties" : false,
                        "description" : "",
                        "x-custom-parameters-attributes" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : { }
                  }
                }
              }
            },
            "x-custom-response-attributes" : { }
          }
        },
        "x-audience" : [ "company-internal" ]
      }
    },
    "/api/v1/reportModules" : {
      "get" : {
        "tags" : [ "Report" ],
        "summary" : "GetAllReportModules",
        "description" : "To get the list of report modules",
        "operationId" : "getReportModules",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "reportModuleResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "modules" ],
                  "properties" : {
                    "modules" : {
                      "items" : {
                        "required" : [ "apiKey", "displayLabel", "relatedModules" ],
                        "properties" : {
                          "displayLabel" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "relatedModules" : {
                            "items" : {
                              "required" : [ "apiKey", "displayLabel" ],
                              "properties" : {
                                "displayLabel" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "apiKey" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "apiKey" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modules" : [ {
                        "displayLabel" : "Tickets",
                        "relatedModules" : [ {
                          "displayLabel" : "Contacts",
                          "apiKey" : "contacts"
                        }, {
                          "displayLabel" : "Accounts",
                          "apiKey" : "accounts"
                        }, {
                          "displayLabel" : "Products",
                          "apiKey" : "products"
                        }, {
                          "displayLabel" : "Tasks",
                          "apiKey" : "tasks"
                        }, {
                          "displayLabel" : "TimeEntry",
                          "apiKey" : "timeEntry"
                        } ],
                        "apiKey" : "tickets"
                      }, {
                        "displayLabel" : "Contacts",
                        "relatedModules" : [ {
                          "displayLabel" : "Tickets",
                          "apiKey" : "tickets"
                        }, {
                          "displayLabel" : "Accounts",
                          "apiKey" : "accounts"
                        }, {
                          "displayLabel" : "TimeEntry",
                          "apiKey" : "timeEntry"
                        } ],
                        "apiKey" : "contacts"
                      }, {
                        "displayLabel" : "Accounts",
                        "relatedModules" : [ {
                          "displayLabel" : "Tickets",
                          "apiKey" : "tickets"
                        }, {
                          "displayLabel" : "Contacts",
                          "apiKey" : "contacts"
                        }, {
                          "displayLabel" : "Products",
                          "apiKey" : "products"
                        }, {
                          "displayLabel" : "TimeEntry",
                          "apiKey" : "timeEntry"
                        } ],
                        "apiKey" : "accounts"
                      }, {
                        "displayLabel" : "Solutions",
                        "relatedModules" : [ {
                          "displayLabel" : "Category",
                          "apiKey" : "category"
                        } ],
                        "apiKey" : "kbCategory"
                      }, {
                        "displayLabel" : "Products",
                        "relatedModules" : [ {
                          "displayLabel" : "Tickets",
                          "apiKey" : "tickets"
                        }, {
                          "displayLabel" : "Accounts",
                          "apiKey" : "accounts"
                        }, {
                          "displayLabel" : "Contacts",
                          "apiKey" : "contacts"
                        }, {
                          "displayLabel" : "Solutions",
                          "apiKey" : "kbCategory"
                        } ],
                        "apiKey" : "products"
                      }, {
                        "displayLabel" : "Tasks",
                        "relatedModules" : [ {
                          "displayLabel" : "Tickets",
                          "apiKey" : "tickets"
                        }, {
                          "displayLabel" : "Accounts",
                          "apiKey" : "accounts"
                        }, {
                          "displayLabel" : "Contacts",
                          "apiKey" : "contacts"
                        } ],
                        "apiKey" : "tasks"
                      }, {
                        "displayLabel" : "TimeEntry",
                        "relatedModules" : [ {
                          "displayLabel" : "Tickets",
                          "apiKey" : "tickets"
                        }, {
                          "displayLabel" : "Accounts",
                          "apiKey" : "accounts"
                        }, {
                          "displayLabel" : "Contacts",
                          "apiKey" : "contacts"
                        } ],
                        "apiKey" : "timeEntry"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "528cb471ce856fb090173d1586c58032",
          "module-group" : "reports",
          "apimethod" : "com.adventnet.support.reportsnew.service.ReportCustomizationService.getReportModules"
        }
      }
    },
    "/api/v1/reports/{reportId}" : {
      "get" : {
        "tags" : [ "Report" ],
        "summary" : "getReport",
        "description" : "API to get basic information of a report",
        "operationId" : "getReport",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "reportInfo template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "chartUrl", "description", "displayLabel", "id", "isCustomizable", "isEditable", "isFavorite", "isSystemGenerated", "lastAccessedBy", "lastAccessedTime", "modifiedBy", "modifiedTime", "name", "reportFolder", "reportType" ],
                  "properties" : {
                    "displayLabel" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "isSystemGenerated" : { },
                    "description" : {
                      "maxLength" : 65535,
                      "minLength" : 0
                    },
                    "chartUrl" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "reportType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "tabular", "summary", "matrix", "default" ]
                    },
                    "lastAccessedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "isEditable" : { },
                    "isCustomizable" : { },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "modifiedBy" : {
                      "maxProperties" : 5,
                      "minProperties" : 5,
                      "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "reportFolder" : {
                      "required" : [ "departmentId", "id", "name" ],
                      "properties" : {
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "lastAccessedBy" : {
                      "maxProperties" : 5,
                      "minProperties" : 5,
                      "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "isFavorite" : { }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "reportType" : "tabular",
                      "reportId" : "5000000098005",
                      "isCustomizable" : true,
                      "name" : "isoverdue renamed",
                      "description" : "Sample report",
                      "isdefault" : false,
                      "reportFolderId" : "5000000012702"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 60000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "dcf9fc3ec89f928be2d9cb7082aa6810",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.ReportService.getReport"
        }
      },
      "delete" : {
        "tags" : [ "Report" ],
        "summary" : "DeleteReport",
        "description" : "To delete report",
        "operationId" : "deleteReport",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.DELETE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 60000,
                  "threshold" : 60,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "cf5a564632ae369ddd908cd287b6c320",
          "module-group" : "reports",
          "apimethod" : "com.adventnet.support.reportsnew.service.ReportCustomizationService.deleteReport"
        }
      },
      "patch" : {
        "tags" : [ "Report" ],
        "summary" : "updateReport",
        "description" : "API to update basic information of a report",
        "operationId" : "updateReport",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  },
                  "description" : {
                    "maxLength" : 65535,
                    "minLength" : 0
                  },
                  "folderId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "name" : "isoverdue renamed",
                    "description" : "Sample report",
                    "folderId" : "5000000012702"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "reportInfo template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "chartUrl", "description", "displayLabel", "id", "isCustomizable", "isEditable", "isFavorite", "isSystemGenerated", "lastAccessedBy", "lastAccessedTime", "modifiedBy", "modifiedTime", "name", "reportFolder", "reportType" ],
                  "properties" : {
                    "displayLabel" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "isSystemGenerated" : { },
                    "description" : {
                      "maxLength" : 65535,
                      "minLength" : 0
                    },
                    "chartUrl" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "reportType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "tabular", "summary", "matrix", "default" ]
                    },
                    "lastAccessedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "isEditable" : { },
                    "isCustomizable" : { },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "modifiedBy" : {
                      "maxProperties" : 5,
                      "minProperties" : 5,
                      "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "reportFolder" : {
                      "required" : [ "departmentId", "id", "name" ],
                      "properties" : {
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "lastAccessedBy" : {
                      "maxProperties" : 5,
                      "minProperties" : 5,
                      "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                      "properties" : {
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "isFavorite" : { }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "reportType" : "tabular",
                      "reportId" : "5000000098005",
                      "isCustomizable" : true,
                      "name" : "isoverdue renamed",
                      "description" : "Sample report",
                      "isdefault" : false,
                      "reportFolderId" : "5000000012702"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 60000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "cfe17127ec9c83e9950809b92b199a67",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.ReportService.updateReport"
        }
      }
    },
    "/api/v1/reports/{reportId}/export" : {
      "get" : {
        "tags" : [ "Report" ],
        "summary" : "Export Reports",
        "description" : "To export reports data",
        "operationId" : "exportReport",
        "parameters" : [ {
          "name" : "duration",
          "in" : "query",
          "description" : "The duration for which filter is to be applied.Values can be CUSTOM_IN_DATE | PREV_FY | THIS_FY | NEXT_FY | THIS_AND_NEXT_FY | PREV_FQ | THIS_FQ | NEXT_FQ | THIS_AND_NEXT_FQ | LAST_2_MONTHS | LAST_3_MONTHS | LAST_6_MONTHS | LAST_12_MONTHS | YESTERDAY | TODAY | TOMORROW | LAST_WEEK | CURRENT_WEEK | NEXT_WEEK | LAST_MONTH | CURRENT_MONTH | NEXT_MONTH | LAST_7_DAYS | LAST_30_DAYS | LAST_60_DAYS | LAST_90_DAYS | LAST_120_DAYS | LAST_180_DAYS | NEXT_7_DAYS | NEXT_30_DAYS | NEXT_60_DAYS | NEXT_90_DAYS | NEXT_120_DAYS",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "The duration for which filter is to be applied.Values can be CUSTOM_IN_DATE | PREV_FY | THIS_FY | NEXT_FY | THIS_AND_NEXT_FY | PREV_FQ | THIS_FQ | NEXT_FQ | THIS_AND_NEXT_FQ | LAST_2_MONTHS | LAST_3_MONTHS | LAST_6_MONTHS | LAST_12_MONTHS | YESTERDAY | TODAY | TOMORROW | LAST_WEEK | CURRENT_WEEK | NEXT_WEEK | LAST_MONTH | CURRENT_MONTH | NEXT_MONTH | LAST_7_DAYS | LAST_30_DAYS | LAST_60_DAYS | LAST_90_DAYS | LAST_120_DAYS | LAST_180_DAYS | NEXT_7_DAYS | NEXT_30_DAYS | NEXT_60_DAYS | NEXT_90_DAYS | NEXT_120_DAYS",
            "enum" : [ "CUSTOM_IN_DATE", "PREV_FY", "THIS_FY", "NEXT_FY", "THIS_AND_NEXT_FY", "PREV_FQ", "THIS_FQ", "NEXT_FQ", "THIS_AND_NEXT_FQ", "LAST_2_MONTHS", "LAST_3_MONTHS", "LAST_6_MONTHS", "YESTERDAY", "TODAY", "TOMORROW", "LAST_WEEK", "CURRENT_WEEK", "NEXT_WEEK", "LAST_MONTH", "CURRENT_MONTH", "NEXT_MONTH", "LAST_7_DAYS", "LAST_30_DAYS", "LAST_60_DAYS", "LAST_90_DAYS", "LAST_120_DAYS", "LAST_180_DAYS", "NEXT_7_DAYS", "NEXT_30_DAYS", "NEXT_60_DAYS", "NEXT_90_DAYS", "NEXT_120_DAYS", "LAST_2_YEARS" ]
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "The endDate of the filter",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^(0?[1-9]|[12][0-9]|3[01])-(0?[1-9]|1[012])-([12][0-9]{3})$",
            "description" : "The endDate of the filter"
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "Format in which reports should be exported (For all format other than json, the repsponse will be a html, for json format the response will be json) : @html@ @json@ @csv@ @xls@ or @pdf@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Format in which reports should be exported (For all format other than json, the repsponse will be a html, for json format the response will be json) : @html@ @json@ @csv@ @xls@ or @pdf@",
            "enum" : [ "html", "csv", "xls", "pdf", "json" ]
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "No of rows to be exported",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "No of rows to be exported",
            "format" : "int64"
          }
        }, {
          "name" : "sortField",
          "in" : "query",
          "description" : "Sort column field Id. By default it is sorted in ascending. When @-@ is prefixed in fieldId , it is sorted in descending order",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Sort column field Id. By default it is sorted in ascending. When @-@ is prefixed in fieldId , it is sorted in descending order",
            "format" : "int64"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "from index (start row)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "from index (start row)",
            "format" : "int64"
          }
        }, {
          "name" : "filterField",
          "in" : "query",
          "description" : "Filter field Id",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Filter field Id",
            "format" : "int64"
          }
        }, {
          "name" : "includeDetails",
          "in" : "query",
          "description" : "To include all details",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "To include all details"
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "The startDate of the filter",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^(0?[1-9]|[12][0-9]|3[01])-(0?[1-9]|1[012])-([12][0-9]{3})$",
            "description" : "The startDate of the filter"
          }
        }, {
          "name" : "reportId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "reportAsJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "headers", "id", "name", "navigation", "reportData", "type" ],
                  "properties" : {
                    "headers" : {
                      "items" : {
                        "required" : [ "aggregation", "apiName", "displayLabel", "linkKey", "moduleName", "scope", "type" ],
                        "properties" : {
                          "displayLabel" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "apiName" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "scope" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "GROUPING", "DATACALC", "SELECT" ]
                          },
                          "moduleName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "linkKey" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "aggregation" : {
                            "items" : {
                              "required" : [ "apiName", "type" ],
                              "properties" : {
                                "apiName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "SUM", "AVERAGE", "MIN", "MAX" ]
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "Text", "URL", "Textarea", "Email", "Phone", "Multiselect", "Date", "DateTime", "Number", "Checkbox", "Percent", "Decimal", "Currency", "Picklist", "LookUp", "Lookup", "AutoNumber", "Boolean", "Fax" ]
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "navigation" : {
                      "required" : [ "nextCursor", "prevCursor", "recordCountInThisPage" ],
                      "properties" : {
                        "nextCursor" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "prevCursor" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "recordCountInThisPage" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "reportData" : {
                      "required" : [ "aggregateData", "dataPoints" ],
                      "properties" : {
                        "aggregateData" : {
                          "required" : [ "key", "value" ],
                          "properties" : {
                            "value" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "key" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "dataPoints" : {
                          "items" : {
                            "required" : [ "aggregateData", "groupValue", "records", "subGroup", "total" ],
                            "properties" : {
                              "total" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "records" : {
                                "items" : {
                                  "required" : [ "key", "value" ],
                                  "properties" : {
                                    "value" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "key" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    }
                                  },
                                  "additionalProperties" : false
                                }
                              },
                              "subGroup" : {
                                "items" : {
                                  "required" : [ "aggregateData", "groupValue", "records", "subGroup", "total" ],
                                  "properties" : {
                                    "total" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "records" : {
                                      "items" : {
                                        "required" : [ "key", "value" ],
                                        "properties" : {
                                          "value" : {
                                            "maxLength" : 100,
                                            "minLength" : 0
                                          },
                                          "key" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                          }
                                        },
                                        "additionalProperties" : false
                                      }
                                    },
                                    "subGroup" : {
                                      "items" : {
                                        "required" : [ "aggregateData", "groupValue", "records", "subGroup", "total" ],
                                        "properties" : {
                                          "total" : {
                                            "maxLength" : 100,
                                            "minLength" : 0
                                          },
                                          "records" : {
                                            "items" : {
                                              "required" : [ "key", "value" ],
                                              "properties" : {
                                                "value" : {
                                                  "maxLength" : 100,
                                                  "minLength" : 0
                                                },
                                                "key" : {
                                                  "maxLength" : 100,
                                                  "minLength" : 0,
                                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                                }
                                              },
                                              "additionalProperties" : false
                                            }
                                          },
                                          "subGroup" : {
                                            "items" : {
                                              "required" : [ "aggregateData", "groupValue", "records", "subGroup", "total" ],
                                              "properties" : {
                                                "total" : {
                                                  "maxLength" : 100,
                                                  "minLength" : 0
                                                },
                                                "records" : {
                                                  "items" : {
                                                    "required" : [ "key", "value" ],
                                                    "properties" : {
                                                      "value" : {
                                                        "maxLength" : 100,
                                                        "minLength" : 0
                                                      },
                                                      "key" : {
                                                        "maxLength" : 100,
                                                        "minLength" : 0,
                                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                                      }
                                                    },
                                                    "additionalProperties" : false
                                                  }
                                                },
                                                "subGroup" : {
                                                  "maxLength" : 100,
                                                  "minLength" : 0
                                                },
                                                "aggregateData" : {
                                                  "required" : [ "key", "value" ],
                                                  "properties" : {
                                                    "value" : {
                                                      "maxLength" : 100,
                                                      "minLength" : 0
                                                    },
                                                    "key" : {
                                                      "maxLength" : 100,
                                                      "minLength" : 0,
                                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                                    }
                                                  },
                                                  "additionalProperties" : false
                                                },
                                                "groupValue" : {
                                                  "maxLength" : 100,
                                                  "minLength" : 0
                                                }
                                              },
                                              "additionalProperties" : false
                                            }
                                          },
                                          "aggregateData" : {
                                            "required" : [ "key", "value" ],
                                            "properties" : {
                                              "value" : {
                                                "maxLength" : 100,
                                                "minLength" : 0
                                              },
                                              "key" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                              }
                                            },
                                            "additionalProperties" : false
                                          },
                                          "groupValue" : {
                                            "maxLength" : 100,
                                            "minLength" : 0
                                          }
                                        },
                                        "additionalProperties" : false
                                      }
                                    },
                                    "aggregateData" : {
                                      "required" : [ "key", "value" ],
                                      "properties" : {
                                        "value" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "key" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                        }
                                      },
                                      "additionalProperties" : false
                                    },
                                    "groupValue" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  },
                                  "additionalProperties" : false
                                }
                              },
                              "aggregateData" : {
                                "required" : [ "key", "value" ],
                                "properties" : {
                                  "value" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "key" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "groupValue" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "type" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "tabular", "summary", "matrix", "default" ]
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "headers" : [ {
                        "displayLabel" : "Status (Ticket)",
                        "apiName" : "tickets_status",
                        "scope" : "GROUPING",
                        "moduleName" : "tickets",
                        "linkKey" : "",
                        "aggregation" : null,
                        "sort" : "ASC",
                        "type" : "Picklist"
                      }, {
                        "displayLabel" : "Ticket Owner",
                        "apiName" : "tickets_assigneeId",
                        "scope" : "GROUPING",
                        "moduleName" : "tickets",
                        "linkKey" : "",
                        "aggregation" : null,
                        "sort" : "ASC",
                        "type" : "LookUp"
                      }, {
                        "displayLabel" : "Created Time (Ticket)",
                        "apiName" : "tickets_createdTime",
                        "scope" : "GROUPING",
                        "moduleName" : "tickets",
                        "linkKey" : "",
                        "aggregation" : null,
                        "sort" : "ASC",
                        "type" : "DateTime"
                      }, {
                        "displayLabel" : "Subject",
                        "apiName" : "tickets_subject",
                        "scope" : "SELECT",
                        "moduleName" : "tickets",
                        "linkKey" : "subject_niceUrl",
                        "aggregation" : null,
                        "sort" : "NA",
                        "type" : "Text"
                      }, {
                        "displayLabel" : "Number of Reopen",
                        "apiName" : "tickets_numberOfReopen",
                        "scope" : "DATACALC",
                        "moduleName" : "tickets",
                        "linkKey" : "",
                        "aggregation" : [ {
                          "apiName" : "AVERAGE_numberOfReopen",
                          "type" : "AVERAGE"
                        } ],
                        "sort" : "NA",
                        "type" : "Number"
                      }, {
                        "displayLabel" : "Currency 1",
                        "apiName" : "tickets_cf_currency_1",
                        "scope" : "DATACALC",
                        "moduleName" : "tickets",
                        "linkKey" : "",
                        "aggregation" : [ {
                          "apiName" : "SUM_cf_currency_1",
                          "type" : "SUM"
                        }, {
                          "apiName" : "AVERAGE_cf_currency_1",
                          "type" : "AVERAGE"
                        } ],
                        "sort" : "NA",
                        "type" : "Currency"
                      } ],
                      "navigation" : {
                        "nextCursor" : null,
                        "prevCursor" : null,
                        "recordCountInThisPage" : "12"
                      },
                      "data" : {
                        "aggregateData" : {
                          "AVERAGE_numberOfReopen" : "1",
                          "AVERAGE_cf_currency_1" : "0",
                          "SUM_cf_currency_1" : "0"
                        },
                        "dataPoints" : [ {
                          "total" : "1",
                          "records" : null,
                          "subGroup" : [ {
                            "total" : "1",
                            "records" : null,
                            "subGroup" : [ {
                              "total" : "1",
                              "records" : [ {
                                "tickets_numberOfReopen" : "0",
                                "tickets_assigneeId" : "sun moon",
                                "tickets_createdTime" : "Thu",
                                "tickets_cf_currency_1" : "£0.00",
                                "tickets_status" : "Closed1",
                                "tickets_subject" : "benthamite"
                              } ],
                              "subGroup" : null,
                              "aggregateData" : {
                                "AVERAGE_numberOfReopen" : "0",
                                "AVERAGE_cf_currency_1" : "0",
                                "SUM_cf_currency_1" : "0"
                              },
                              "groupValue" : "Thu"
                            } ],
                            "aggregateData" : {
                              "AVERAGE_numberOfReopen" : "0",
                              "AVERAGE_cf_currency_1" : "0",
                              "SUM_cf_currency_1" : "0"
                            },
                            "groupValue" : "sun moon"
                          } ],
                          "aggregateData" : {
                            "AVERAGE_numberOfReopen" : "0",
                            "AVERAGE_cf_currency_1" : "0",
                            "SUM_cf_currency_1" : "0"
                          },
                          "groupValue" : "Closed1"
                        }, {
                          "total" : "4",
                          "records" : null,
                          "subGroup" : [ {
                            "total" : "4",
                            "records" : null,
                            "subGroup" : [ {
                              "total" : "4",
                              "records" : [ {
                                "tickets_numberOfReopen" : "0",
                                "tickets_assigneeId" : "sun moon",
                                "tickets_createdTime" : "Thu",
                                "tickets_cf_currency_1" : "£0.00",
                                "tickets_status" : "Escalated1",
                                "tickets_subject" : "aviational"
                              }, {
                                "tickets_numberOfReopen" : "0",
                                "tickets_assigneeId" : "sun moon",
                                "tickets_createdTime" : "Thu",
                                "tickets_cf_currency_1" : "£0.00",
                                "tickets_status" : "Escalated1",
                                "tickets_subject" : "golp"
                              }, {
                                "tickets_numberOfReopen" : "0",
                                "tickets_assigneeId" : "sun moon",
                                "tickets_createdTime" : "Thu",
                                "tickets_cf_currency_1" : "£0.00",
                                "tickets_status" : "Escalated1",
                                "tickets_subject" : "intimidates"
                              }, {
                                "tickets_numberOfReopen" : "0",
                                "tickets_assigneeId" : "sun moon",
                                "tickets_createdTime" : "Thu",
                                "tickets_cf_currency_1" : "£0.00",
                                "tickets_status" : "Escalated1",
                                "tickets_subject" : "calctufa"
                              } ],
                              "subGroup" : null,
                              "aggregateData" : {
                                "AVERAGE_numberOfReopen" : "0",
                                "AVERAGE_cf_currency_1" : "0",
                                "SUM_cf_currency_1" : "0"
                              },
                              "groupValue" : "Thu"
                            } ],
                            "aggregateData" : {
                              "AVERAGE_numberOfReopen" : "0",
                              "AVERAGE_cf_currency_1" : "0",
                              "SUM_cf_currency_1" : "0"
                            },
                            "groupValue" : "sun moon"
                          } ],
                          "aggregateData" : {
                            "AVERAGE_numberOfReopen" : "0",
                            "AVERAGE_cf_currency_1" : "0",
                            "SUM_cf_currency_1" : "0"
                          },
                          "groupValue" : "Escalated1"
                        }, {
                          "total" : "5",
                          "records" : null,
                          "subGroup" : [ {
                            "total" : "5",
                            "records" : null,
                            "subGroup" : [ {
                              "total" : "1",
                              "records" : [ {
                                "tickets_numberOfReopen" : "0",
                                "tickets_assigneeId" : "sun moon",
                                "tickets_createdTime" : "Tue",
                                "tickets_cf_currency_1" : "£0.00",
                                "tickets_status" : "On Hold1",
                                "tickets_subject" : "ticket 40"
                              } ],
                              "subGroup" : null,
                              "aggregateData" : {
                                "AVERAGE_numberOfReopen" : "0",
                                "AVERAGE_cf_currency_1" : "0",
                                "SUM_cf_currency_1" : "0"
                              },
                              "groupValue" : "Tue"
                            }, {
                              "total" : "4",
                              "records" : [ {
                                "tickets_numberOfReopen" : "0",
                                "tickets_assigneeId" : "sun moon",
                                "tickets_createdTime" : "Thu",
                                "tickets_cf_currency_1" : "£0.00",
                                "tickets_status" : "On Hold1",
                                "tickets_subject" : "ticket 140"
                              }, {
                                "tickets_numberOfReopen" : "4",
                                "tickets_assigneeId" : "sun moon",
                                "tickets_createdTime" : "Thu",
                                "tickets_cf_currency_1" : "£0.00",
                                "tickets_status" : "On Hold1",
                                "tickets_subject" : "dfa"
                              }, {
                                "tickets_numberOfReopen" : "5",
                                "tickets_assigneeId" : "sun moon",
                                "tickets_createdTime" : "Thu",
                                "tickets_cf_currency_1" : "£0.00",
                                "tickets_status" : "On Hold1",
                                "tickets_subject" : "englutted"
                              }, {
                                "tickets_numberOfReopen" : "4",
                                "tickets_assigneeId" : "sun moon",
                                "tickets_createdTime" : "Thu",
                                "tickets_cf_currency_1" : "£0.00",
                                "tickets_status" : "On Hold1",
                                "tickets_subject" : "delineations"
                              } ],
                              "subGroup" : null,
                              "aggregateData" : {
                                "AVERAGE_numberOfReopen" : "3",
                                "AVERAGE_cf_currency_1" : "0",
                                "SUM_cf_currency_1" : "0"
                              },
                              "groupValue" : "Thu"
                            } ],
                            "aggregateData" : {
                              "AVERAGE_numberOfReopen" : "2",
                              "AVERAGE_cf_currency_1" : "0",
                              "SUM_cf_currency_1" : "0"
                            },
                            "groupValue" : "sun moon"
                          } ],
                          "aggregateData" : {
                            "AVERAGE_numberOfReopen" : "2",
                            "AVERAGE_cf_currency_1" : "0",
                            "SUM_cf_currency_1" : "0"
                          },
                          "groupValue" : "On Hold1"
                        }, {
                          "total" : "2",
                          "records" : null,
                          "subGroup" : [ {
                            "total" : "2",
                            "records" : null,
                            "subGroup" : [ {
                              "total" : "2",
                              "records" : [ {
                                "tickets_numberOfReopen" : "0",
                                "tickets_assigneeId" : "sun moon",
                                "tickets_createdTime" : "Thu",
                                "tickets_cf_currency_1" : "£0.00",
                                "tickets_status" : "Open1",
                                "tickets_subject" : "compenetration"
                              }, {
                                "tickets_numberOfReopen" : "0",
                                "tickets_assigneeId" : "sun moon",
                                "tickets_createdTime" : "Thu",
                                "tickets_cf_currency_1" : "£0.00",
                                "tickets_status" : "Open1",
                                "tickets_subject" : "heliotropic"
                              } ],
                              "subGroup" : null,
                              "aggregateData" : {
                                "AVERAGE_numberOfReopen" : "0",
                                "AVERAGE_cf_currency_1" : "0",
                                "SUM_cf_currency_1" : "0"
                              },
                              "groupValue" : "Thu"
                            } ],
                            "aggregateData" : {
                              "AVERAGE_numberOfReopen" : "0",
                              "AVERAGE_cf_currency_1" : "0",
                              "SUM_cf_currency_1" : "0"
                            },
                            "groupValue" : "sun moon"
                          } ],
                          "aggregateData" : {
                            "AVERAGE_numberOfReopen" : "0",
                            "AVERAGE_cf_currency_1" : "0",
                            "SUM_cf_currency_1" : "0"
                          },
                          "groupValue" : "Open1"
                        } ]
                      },
                      "name" : "single grouping summary",
                      "id" : "12000002967001",
                      "category" : "USERCREATED",
                      "type" : "summary"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 60000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "reports",
          "apihash" : "5d213e02bd1e168d58a0c046795c7cd8",
          "module-group" : "reports",
          "apimethod" : "com.zoho.support.restapi.ReportService.exportReport"
        }
      }
    },
    "/api/v1/reportCriteriaFields" : {
      "get" : {
        "tags" : [ "Report" ],
        "summary" : "GetAllReportCriteriaFields",
        "description" : "To get the list of report criteria fields",
        "operationId" : "getReportCriteriaFields",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64",
            "x-custom-parameters-attributes" : { }
          }
        }, {
          "name" : "module",
          "in" : "query",
          "description" : "The tab of the Fields to be displayed can be @tickets@|@contacts@|@tasks@|@timeEntry@|@accounts@|@solutions@|@products@|@topics@|@activities@|@calls@|@events|@comments@|@contracts@",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
            "description" : "The tab of the Fields to be displayed can be @tickets@|@contacts@|@tasks@|@timeEntry@|@accounts@|@solutions@|@products@|@topics@|@activities@|@calls@|@events|@comments@|@contracts@"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "reportCriteriaResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "criteriaFields" ],
                  "properties" : {
                    "criteriaFields" : {
                      "items" : {
                        "required" : [ "apiName", "availableConditions", "displayLabel", "id", "name", "type" ],
                        "properties" : {
                          "displayLabel" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "apiName" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "availableConditions" : {
                            "items" : {
                              "oneOf" : [ {
                                "required" : [ "condition", "conditionLabel", "value" ],
                                "properties" : {
                                  "condition" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(.*|null|undefined)"
                                  },
                                  "conditionLabel" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(.*|null|undefined)"
                                  },
                                  "value" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  }
                                },
                                "additionalProperties" : false
                              }, {
                                "required" : [ "condition", "conditionLabel", "secondaryCondition", "units", "value" ],
                                "properties" : {
                                  "condition" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(.*|null|undefined)"
                                  },
                                  "secondaryCondition" : {
                                    "items" : {
                                      "required" : [ "condition", "conditionLabel", "value" ],
                                      "properties" : {
                                        "condition" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "enum" : [ "<", "<=", ">", ">=", "=", "<>" ]
                                        },
                                        "conditionLabel" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "enum" : [ "<", "<=", ">", ">=", "=", "<>" ]
                                        },
                                        "value" : {
                                          "uniqueItems" : false,
                                          "items" : {
                                            "maxLength" : 100,
                                            "minLength" : 0
                                          }
                                        }
                                      },
                                      "additionalProperties" : false
                                    }
                                  },
                                  "conditionLabel" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "(.*|null|undefined)"
                                  },
                                  "units" : {
                                    "items" : {
                                      "required" : [ "displayValue", "value" ],
                                      "properties" : {
                                        "displayValue" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "value" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        }
                                      },
                                      "additionalProperties" : false
                                    }
                                  },
                                  "value" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  }
                                },
                                "additionalProperties" : false
                              } ]
                            }
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ischeck", "emptycheck", "text", "date", "integer", "dateTime", "user", "team", "layout", "boolean", "businesshour", "commenttype", "comment", "skills", "lookup", "picklist", "extraFields", "currency" ]
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "criteriaFields" : [ {
                        "displayLabel" : "Channel",
                        "apiName" : "channel",
                        "availableConditions" : [ {
                          "condition" : "is",
                          "conditionLabel" : "is",
                          "value" : [ "${CUSTOM}" ]
                        }, {
                          "condition" : "isn't",
                          "conditionLabel" : "isn't",
                          "value" : [ "${CUSTOM}" ]
                        }, {
                          "condition" : "starts with",
                          "conditionLabel" : "starts with",
                          "value" : [ "${CUSTOM}" ]
                        }, {
                          "condition" : "contains",
                          "conditionLabel" : "contains",
                          "value" : [ "${CUSTOM}" ]
                        }, {
                          "condition" : "doesn't contain",
                          "conditionLabel" : "doesn't contain",
                          "value" : [ "${CUSTOM}" ]
                        }, {
                          "condition" : "ends with",
                          "conditionLabel" : "ends with",
                          "value" : [ "${CUSTOM}" ]
                        }, {
                          "condition" : "is empty",
                          "conditionLabel" : "is empty",
                          "value" : [ "${EMPTY}" ]
                        }, {
                          "condition" : "is not empty",
                          "conditionLabel" : "is not empty",
                          "value" : [ "${NOTEMPTY}" ]
                        } ],
                        "name" : "Mode",
                        "id" : "1000000002181",
                        "type" : "text"
                      }, {
                        "displayLabel" : "Child Ticket Count",
                        "apiName" : "childTicketCount",
                        "availableConditions" : [ {
                          "condition" : "=",
                          "conditionLabel" : "=",
                          "value" : [ "${CUSTOM}" ]
                        }, {
                          "condition" : "<>",
                          "conditionLabel" : "<>",
                          "value" : [ "${CUSTOM}" ]
                        }, {
                          "condition" : "<",
                          "conditionLabel" : "<",
                          "value" : [ "${CUSTOM}" ]
                        }, {
                          "condition" : "<=",
                          "conditionLabel" : "<=",
                          "value" : [ "${CUSTOM}" ]
                        }, {
                          "condition" : ">",
                          "conditionLabel" : ">",
                          "value" : [ "${CUSTOM}" ]
                        }, {
                          "condition" : ">=",
                          "conditionLabel" : ">=",
                          "value" : [ "${CUSTOM}" ]
                        } ],
                        "name" : "Child Ticket Count",
                        "id" : "1000000002153",
                        "type" : "text"
                      }, {
                        "displayLabel" : "Classifications",
                        "apiName" : "classification",
                        "availableConditions" : [ {
                          "condition" : "is",
                          "conditionLabel" : "is",
                          "value" : [ "${CUSTOM}" ]
                        }, {
                          "condition" : "isn't",
                          "conditionLabel" : "isn't",
                          "value" : [ "${CUSTOM}" ]
                        }, {
                          "condition" : "starts with",
                          "conditionLabel" : "starts with",
                          "value" : [ "${CUSTOM}" ]
                        }, {
                          "condition" : "contains",
                          "conditionLabel" : "contains",
                          "value" : [ "${CUSTOM}" ]
                        }, {
                          "condition" : "doesn't contain",
[...]
