{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "RoundRobin",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "automation"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/roundRobinRules" : {
      "get" : {
        "tags" : [ "RoundRobin" ],
        "summary" : "List all Round Robin Rules",
        "description" : "To list all round robin rules",
        "operationId" : "getAllRRRules",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "department from which all the rules is going to be listed",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "department from which all the rules is going to be listed",
            "format" : "int64"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "number of rules to be retrieved, @DEFAULT 50@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50,
            "pattern" : "([0-9]+)",
            "description" : "number of rules to be retrieved, @DEFAULT 50@",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "from index,@DEFAULT 1@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "from index,@DEFAULT 1@",
            "format" : "int32"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "to get rules by status, allowed values are @ACTIVE@ and @INACTIVE@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "to get rules by status, allowed values are @ACTIVE@ and @INACTIVE@",
            "enum" : [ "ACTIVE", "INACTIVE" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "rulesListViewResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "createdBy", "createdTime", "departmentId", "description", "executeOn", "modifiedBy", "modifiedTime", "name", "orderId", "ruleId", "status", "targets" ],
                        "properties" : {
                          "modifiedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "orderId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "createdBy" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "department from which all the rules is going to be listed",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "name" : {
                            "maxLength" : 50,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "description" : {
                            "maxLength" : 32000,
                            "minLength" : 0
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "modifiedBy" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "ruleId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "executeOn" : {
                            "uniqueItems" : false,
                            "items" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "CREATE", "EDIT" ]
                            }
                          },
                          "targets" : {
                            "items" : {
                              "oneOf" : [ {
                                "required" : [ "agentIds", "agentIdsToExclude", "assigneeType", "assignmentType", "criteria", "orderId", "targetId" ],
                                "properties" : {
                                  "agentIds" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    }
                                  },
                                  "targetId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "orderId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "criteria" : {
                                    "required" : [ "fieldConditions", "pattern" ],
                                    "properties" : {
                                      "fieldConditions" : {
                                        "items" : {
                                          "required" : [ "condition", "displayValue", "fieldModule", "fieldName", "value" ],
                                          "properties" : {
                                            "displayValue" : {
                                              "uniqueItems" : false,
                                              "items" : {
                                                "maxLength" : 100,
                                                "minLength" : 0
                                              }
                                            },
                                            "condition" : {
                                              "maxLength" : 100,
                                              "minLength" : 0,
                                              "pattern" : "(.*|null|undefined)"
                                            },
                                            "fieldName" : {
                                              "maxLength" : 100,
                                              "minLength" : 0,
                                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                            },
                                            "fieldModule" : {
                                              "maxLength" : 100,
                                              "minLength" : 0,
                                              "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "products", "calls", "events", "activities" ]
                                            },
                                            "value" : {
                                              "uniqueItems" : false,
                                              "items" : {
                                                "oneOf" : [ {
                                                  "maxLength" : 100,
                                                  "minLength" : 0,
                                                  "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                                }, {
                                                  "uniqueItems" : false,
                                                  "items" : {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                                  }
                                                } ]
                                              }
                                            }
                                          },
                                          "additionalProperties" : false
                                        }
                                      },
                                      "pattern" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "[andor()0-9\\s]*"
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "agentIdsToExclude" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    }
                                  },
                                  "assigneeType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "AGENT", "TEAM" ]
                                  },
                                  "assignmentType" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "SkillBased", "LoadBalance", "SequentialAssignment" ]
                                  }
                                },
                                "additionalProperties" : false
                              }, {
                                "additionalProperties" : false,
                                "allOf" : [ {
                                  "required" : [ "agentIds", "agentIdsToExclude", "assigneeType", "assignmentType", "criteria", "orderId", "targetId" ],
                                  "properties" : {
                                    "agentIds" : {
                                      "uniqueItems" : false,
                                      "items" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      }
                                    },
                                    "targetId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "orderId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "criteria" : {
                                      "required" : [ "fieldConditions", "pattern" ],
                                      "properties" : {
                                        "fieldConditions" : {
                                          "items" : {
                                            "required" : [ "condition", "displayValue", "fieldModule", "fieldName", "value" ],
                                            "properties" : {
                                              "displayValue" : {
                                                "uniqueItems" : false,
                                                "items" : {
                                                  "maxLength" : 100,
                                                  "minLength" : 0
                                                }
                                              },
                                              "condition" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "pattern" : "(.*|null|undefined)"
                                              },
                                              "fieldName" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                              },
                                              "fieldModule" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "products", "calls", "events", "activities" ]
                                              },
                                              "value" : {
                                                "uniqueItems" : false,
                                                "items" : {
                                                  "oneOf" : [ {
                                                    "maxLength" : 100,
                                                    "minLength" : 0,
                                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                                  }, {
                                                    "uniqueItems" : false,
                                                    "items" : {
                                                      "maxLength" : 100,
                                                      "minLength" : 0,
                                                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                                    }
                                                  } ]
                                                }
                                              }
                                            },
                                            "additionalProperties" : false
                                          }
                                        },
                                        "pattern" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "[andor()0-9\\s]*"
                                        }
                                      },
                                      "additionalProperties" : false
                                    },
                                    "agentIdsToExclude" : {
                                      "uniqueItems" : false,
                                      "items" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64"
                                      }
                                    },
                                    "assigneeType" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "AGENT", "TEAM" ]
                                    },
                                    "assignmentType" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "SkillBased", "LoadBalance", "SequentialAssignment" ]
                                    }
                                  },
                                  "additionalProperties" : false
                                }, {
                                  "required" : [ "teamId" ],
                                  "properties" : {
                                    "teamId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    }
                                  }
                                } ]
                              } ]
                            }
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTIVE", "INACTIVE" ],
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "to get rules by status, allowed values are @ACTIVE@ and @INACTIVE@",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "departmentId" : 4000000007235,
                        "name" : "Assign to support reps",
                        "description" : "To assign tickets to agents who are online in mail",
                        "id" : 4000000004532,
                        "targets" : [ {
                          "agentIds" : [ 4000000007723, 4000000007865 ],
                          "targetId" : 4000000007347,
                          "criteria" : {
                            "fieldConditions" : [ {
                              "condition" : "is open",
                              "fieldName" : "Status",
                              "fieldModule" : "tickets",
                              "value" : [ "${OPEN}" ]
                            } ],
                            "pattern" : "(1)"
                          },
                          "agentIdsToExclude" : [ ],
                          "assigneeType" : "AGENT",
                          "assignmentType" : "LoadBalance"
                        } ],
                        "status" : "ACTIVE"
                      }, {
                        "departmentId" : 4000000007235,
                        "name" : "Assign to leads",
                        "description" : "To assign tickets to all the leads",
                        "id" : 4000000004539,
                        "targets" : [ {
                          "targetId" : 4000000007349,
                          "criteria" : {
                            "fieldConditions" : [ {
                              "condition" : "is open",
                              "fieldName" : "Status",
                              "fieldModule" : "tickets",
                              "value" : [ "${OPEN}" ]
                            } ],
                            "pattern" : "(1)"
                          },
                          "teamId" : 4000000000423,
                          "agentIdsToExclude" : [ 4000000007723, 4000000007865 ],
                          "assigneeType" : "TEAM",
                          "assignmentType" : "LoadBalance"
                        } ],
                        "status" : "ACTIVE"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 25,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "f5d33595d6084e422cb360996ae2dfce",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.RoundRobinRulesService.getAllRoundRobinRules"
        }
      }
    },
    "/api/v1/roundRobinExecutionStatus" : {
      "get" : {
        "tags" : [ "RoundRobin" ],
        "summary" : "Get Round Robin Rules Execution Status",
        "description" : "This API is used to Get the Round Robin Rules Execution Status",
        "operationId" : "getExecutionStatus",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "department from which all the rules is going to be listed",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "department from which all the rules is going to be listed",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "executionStatusInput template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "departmentId", "status" ],
                  "properties" : {
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Department Id",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ACTIVE", "INACTIVE" ]
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "departmentId" : "10000000010762",
                      "status" : "ACTIVE"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "93fdab6a01e54bf76b9d29484dff9e8f",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.RoundRobinRulesService.getRoundRobinExecutionStatus"
        }
      },
      "put" : {
        "tags" : [ "RoundRobin" ],
        "summary" : "Enable or Disable Round Robin Rules Execution",
        "description" : "This API is used to Enable/Disable Round Robin Execution for a Department",
        "operationId" : "updateExecutionStatus",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "departmentId", "status" ],
                "properties" : {
                  "departmentId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "ACTIVE", "INACTIVE" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "departmentId" : "146284000000006907",
                    "status" : "INACTIVE"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "01f8f9fa01acbf51ca0ed7e9ae460f5c",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.RoundRobinRulesService.updateExecutionStatus"
        }
      }
    },
    "/api/v1/roundRobinRules/reorder" : {
      "post" : {
        "tags" : [ "RoundRobin" ],
        "summary" : "Reorder round robin rules",
        "description" : "To reorder the round robin rules in a department",
        "operationId" : "reorderRRRules",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "departmentId", "ruleIds" ],
                "properties" : {
                  "ruleIds" : {
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "departmentId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : [ 4000000004076, 4000000004479, 4000000004506 ]
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 1200000,
                  "threshold" : 15,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "2293ed0aa24312bd4245fa827bdbceaf",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.RoundRobinRulesService.reOrderRoundRobinRules"
        }
      }
    },
    "/api/v1/roundRobinRules/{ruleId}" : {
      "get" : {
        "tags" : [ "RoundRobin" ],
        "summary" : "Get Round Robin Rule",
        "description" : "To fetch a round robin rule details",
        "operationId" : "getRoundRobinRule",
        "parameters" : [ {
          "name" : "ruleId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "ruleJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "createdBy", "createdTime", "departmentId", "description", "executeOn", "modifiedBy", "modifiedTime", "name", "orderId", "ruleId", "status", "targets" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "orderId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "name" : {
                      "maxLength" : 50,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "description" : {
                      "maxLength" : 32000,
                      "minLength" : 0
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "ruleId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "executeOn" : {
                      "uniqueItems" : false,
                      "items" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "CREATE", "EDIT" ]
                      }
                    },
                    "targets" : {
                      "items" : {
                        "oneOf" : [ {
                          "required" : [ "agentIds", "agentIdsToExclude", "assigneeType", "assignmentType", "criteria", "orderId", "targetId" ],
                          "properties" : {
                            "agentIds" : {
                              "uniqueItems" : false,
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "targetId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "orderId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "criteria" : {
                              "required" : [ "fieldConditions", "pattern" ],
                              "properties" : {
                                "fieldConditions" : {
                                  "items" : {
                                    "required" : [ "condition", "displayValue", "fieldModule", "fieldName", "value" ],
                                    "properties" : {
                                      "displayValue" : {
                                        "uniqueItems" : false,
                                        "items" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        }
                                      },
                                      "condition" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "(.*|null|undefined)"
                                      },
                                      "fieldName" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "fieldModule" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "products", "calls", "events", "activities" ]
                                      },
                                      "value" : {
                                        "uniqueItems" : false,
                                        "items" : {
                                          "oneOf" : [ {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                          }, {
                                            "uniqueItems" : false,
                                            "items" : {
                                              "maxLength" : 100,
                                              "minLength" : 0,
                                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                            }
                                          } ]
                                        }
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                },
                                "pattern" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[andor()0-9\\s]*"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "agentIdsToExclude" : {
                              "uniqueItems" : false,
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "assigneeType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "AGENT", "TEAM" ]
                            },
                            "assignmentType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "SkillBased", "LoadBalance", "SequentialAssignment" ]
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "required" : [ "agentIds", "agentIdsToExclude", "assigneeType", "assignmentType", "criteria", "orderId", "targetId" ],
                            "properties" : {
                              "agentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "targetId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "orderId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "criteria" : {
                                "required" : [ "fieldConditions", "pattern" ],
                                "properties" : {
                                  "fieldConditions" : {
                                    "items" : {
                                      "required" : [ "condition", "displayValue", "fieldModule", "fieldName", "value" ],
                                      "properties" : {
                                        "displayValue" : {
                                          "uniqueItems" : false,
                                          "items" : {
                                            "maxLength" : 100,
                                            "minLength" : 0
                                          }
                                        },
                                        "condition" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "(.*|null|undefined)"
                                        },
                                        "fieldName" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                        },
                                        "fieldModule" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "products", "calls", "events", "activities" ]
                                        },
                                        "value" : {
                                          "uniqueItems" : false,
                                          "items" : {
                                            "oneOf" : [ {
                                              "maxLength" : 100,
                                              "minLength" : 0,
                                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                            }, {
                                              "uniqueItems" : false,
                                              "items" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                              }
                                            } ]
                                          }
                                        }
                                      },
                                      "additionalProperties" : false
                                    }
                                  },
                                  "pattern" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[andor()0-9\\s]*"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "agentIdsToExclude" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "assigneeType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "AGENT", "TEAM" ]
                              },
                              "assignmentType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "SkillBased", "LoadBalance", "SequentialAssignment" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "teamId" ],
                            "properties" : {
                              "teamId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            }
                          } ]
                        } ]
                      }
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ACTIVE", "INACTIVE" ]
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "departmentId" : 4000000007235,
                      "name" : "Assign to support reps",
                      "description" : "To assign tickets to agents who are online in mail",
                      "id" : 4000000004532,
                      "targets" : [ {
                        "targetId" : 4000000007347,
                        "criteria" : {
                          "fieldConditions" : [ {
                            "condition" : "is open",
                            "fieldName" : "Status",
                            "fieldModule" : "tickets",
                            "value" : [ "${OPEN}" ]
                          } ],
                          "pattern" : "(1)"
                        },
                        "teamId" : 4000000000423,
                        "agentIdsToExclude" : [ 4000000007723, 4000000007865 ],
                        "assigneeType" : "TEAM",
                        "assignmentType" : "LoadBalance"
                      } ],
                      "status" : "ACTIVE"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 1200000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "52828b9ac728dd786fd22cec74d6dfb8",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.RoundRobinRulesService.getRoundRobinRule"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ruleJson" : {
        "required" : [ "createdBy", "createdTime", "departmentId", "description", "executeOn", "modifiedBy", "modifiedTime", "name", "orderId", "ruleId", "status", "targets" ],
        "properties" : {
          "modifiedTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "orderId" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "createdBy" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "departmentId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "department from which all the rules is going to be listed",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "name" : {
            "maxLength" : 50,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "description" : {
            "maxLength" : 32000,
            "minLength" : 0
          },
          "createdTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "modifiedBy" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "ruleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "executeOn" : {
            "uniqueItems" : false,
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "CREATE", "EDIT" ]
            }
          },
          "targets" : {
            "items" : {
              "oneOf" : [ {
                "required" : [ "agentIds", "agentIdsToExclude", "assigneeType", "assignmentType", "criteria", "orderId", "targetId" ],
                "properties" : {
                  "agentIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "targetId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "orderId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int32"
                  },
                  "criteria" : {
                    "required" : [ "fieldConditions", "pattern" ],
                    "properties" : {
                      "fieldConditions" : {
                        "items" : {
                          "required" : [ "condition", "displayValue", "fieldModule", "fieldName", "value" ],
                          "properties" : {
                            "displayValue" : {
                              "uniqueItems" : false,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            },
                            "condition" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(.*|null|undefined)"
                            },
                            "fieldName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "fieldModule" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "products", "calls", "events", "activities" ]
                            },
                            "value" : {
                              "uniqueItems" : false,
                              "items" : {
                                "oneOf" : [ {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                }, {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                  }
                                } ]
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "pattern" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "[andor()0-9\\s]*"
                      }
                    },
                    "additionalProperties" : false
                  },
                  "agentIdsToExclude" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "assigneeType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "AGENT", "TEAM" ]
                  },
                  "assignmentType" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "SkillBased", "LoadBalance", "SequentialAssignment" ]
                  }
                },
                "additionalProperties" : false
              }, {
                "additionalProperties" : false,
                "allOf" : [ {
                  "required" : [ "agentIds", "agentIdsToExclude", "assigneeType", "assignmentType", "criteria", "orderId", "targetId" ],
                  "properties" : {
                    "agentIds" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "targetId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "orderId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "criteria" : {
                      "required" : [ "fieldConditions", "pattern" ],
                      "properties" : {
                        "fieldConditions" : {
                          "items" : {
                            "required" : [ "condition", "displayValue", "fieldModule", "fieldName", "value" ],
                            "properties" : {
                              "displayValue" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "condition" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(.*|null|undefined)"
                              },
                              "fieldName" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "fieldModule" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "products", "calls", "events", "activities" ]
                              },
                              "value" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "oneOf" : [ {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                  }, {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                    }
                                  } ]
                                }
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "pattern" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[andor()0-9\\s]*"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "agentIdsToExclude" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "assigneeType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "AGENT", "TEAM" ]
                    },
                    "assignmentType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "SkillBased", "LoadBalance", "SequentialAssignment" ]
                    }
                  },
                  "additionalProperties" : false
                }, {
                  "required" : [ "teamId" ],
                  "properties" : {
                    "teamId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  }
                } ]
              } ]
            }
          },
          "status" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "ACTIVE", "INACTIVE" ],
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "to get rules by status, allowed values are @ACTIVE@ and @INACTIVE@",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          }
        },
        "additionalProperties" : { }
      },
      "ruleList" : {
        "items" : {
          "required" : [ "createdBy", "createdTime", "departmentId", "description", "executeOn", "modifiedBy", "modifiedTime", "name", "orderId", "ruleId", "status", "targets" ],
          "properties" : {
            "modifiedTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "orderId" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "createdBy" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "departmentId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "department from which all the rules is going to be listed",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            },
            "name" : {
              "maxLength" : 50,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "description" : {
              "maxLength" : 32000,
              "minLength" : 0
            },
            "createdTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
            },
            "modifiedBy" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "ruleId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "executeOn" : {
              "uniqueItems" : false,
              "items" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "CREATE", "EDIT" ]
              }
            },
            "targets" : {
              "items" : {
                "oneOf" : [ {
                  "required" : [ "agentIds", "agentIdsToExclude", "assigneeType", "assignmentType", "criteria", "orderId", "targetId" ],
                  "properties" : {
                    "agentIds" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "targetId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "orderId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "criteria" : {
                      "required" : [ "fieldConditions", "pattern" ],
                      "properties" : {
                        "fieldConditions" : {
                          "items" : {
                            "required" : [ "condition", "displayValue", "fieldModule", "fieldName", "value" ],
                            "properties" : {
                              "displayValue" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "condition" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(.*|null|undefined)"
                              },
                              "fieldName" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "fieldModule" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "products", "calls", "events", "activities" ]
                              },
                              "value" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "oneOf" : [ {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                  }, {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                    }
                                  } ]
                                }
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "pattern" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[andor()0-9\\s]*"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "agentIdsToExclude" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "assigneeType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "AGENT", "TEAM" ]
                    },
                    "assignmentType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "SkillBased", "LoadBalance", "SequentialAssignment" ]
                    }
                  },
                  "additionalProperties" : false
                }, {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "agentIds", "agentIdsToExclude", "assigneeType", "assignmentType", "criteria", "orderId", "targetId" ],
                    "properties" : {
                      "agentIds" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "targetId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "orderId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "criteria" : {
                        "required" : [ "fieldConditions", "pattern" ],
                        "properties" : {
                          "fieldConditions" : {
                            "items" : {
                              "required" : [ "condition", "displayValue", "fieldModule", "fieldName", "value" ],
                              "properties" : {
                                "displayValue" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "condition" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(.*|null|undefined)"
                                },
                                "fieldName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "fieldModule" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "products", "calls", "events", "activities" ]
                                },
                                "value" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "oneOf" : [ {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                    }, {
                                      "uniqueItems" : false,
                                      "items" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                      }
                                    } ]
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "pattern" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[andor()0-9\\s]*"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "agentIdsToExclude" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "assigneeType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "AGENT", "TEAM" ]
                      },
                      "assignmentType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "SkillBased", "LoadBalance", "SequentialAssignment" ]
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "required" : [ "teamId" ],
                    "properties" : {
                      "teamId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    }
                  } ]
                } ]
              }
            },
            "status" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "ACTIVE", "INACTIVE" ],
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "to get rules by status, allowed values are @ACTIVE@ and @INACTIVE@",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            }
          },
          "additionalProperties" : false
        }
      },
      "ruleIdsToReorder" : {
        "items" : {
          "pattern" : "([0-9]+)",
          "format" : "int64"
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "rulesListViewResponse" : {
        "description" : "rulesListViewResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "data" ],
              "properties" : {
                "data" : {
                  "items" : {
                    "required" : [ "createdBy", "createdTime", "departmentId", "description", "executeOn", "modifiedBy", "modifiedTime", "name", "orderId", "ruleId", "status", "targets" ],
                    "properties" : {
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "orderId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "createdBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "department from which all the rules is going to be listed",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "name" : {
                        "maxLength" : 50,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "description" : {
                        "maxLength" : 32000,
                        "minLength" : 0
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "modifiedBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "ruleId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "executeOn" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "CREATE", "EDIT" ]
                        }
                      },
                      "targets" : {
                        "items" : {
                          "oneOf" : [ {
                            "required" : [ "agentIds", "agentIdsToExclude", "assigneeType", "assignmentType", "criteria", "orderId", "targetId" ],
                            "properties" : {
                              "agentIds" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "targetId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "orderId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              },
                              "criteria" : {
                                "required" : [ "fieldConditions", "pattern" ],
                                "properties" : {
                                  "fieldConditions" : {
                                    "items" : {
                                      "required" : [ "condition", "displayValue", "fieldModule", "fieldName", "value" ],
                                      "properties" : {
                                        "displayValue" : {
                                          "uniqueItems" : false,
                                          "items" : {
                                            "maxLength" : 100,
                                            "minLength" : 0
                                          }
                                        },
                                        "condition" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "(.*|null|undefined)"
                                        },
                                        "fieldName" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                        },
                                        "fieldModule" : {
                                          "maxLength" : 100,
                                          "minLength" : 0,
                                          "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "products", "calls", "events", "activities" ]
                                        },
                                        "value" : {
                                          "uniqueItems" : false,
                                          "items" : {
                                            "oneOf" : [ {
                                              "maxLength" : 100,
                                              "minLength" : 0,
                                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                            }, {
                                              "uniqueItems" : false,
                                              "items" : {
                                                "maxLength" : 100,
                                                "minLength" : 0,
                                                "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                              }
                                            } ]
                                          }
                                        }
                                      },
                                      "additionalProperties" : false
                                    }
                                  },
                                  "pattern" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[andor()0-9\\s]*"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "agentIdsToExclude" : {
                                "uniqueItems" : false,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "assigneeType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "AGENT", "TEAM" ]
                              },
                              "assignmentType" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "SkillBased", "LoadBalance", "SequentialAssignment" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "required" : [ "agentIds", "agentIdsToExclude", "assigneeType", "assignmentType", "criteria", "orderId", "targetId" ],
                              "properties" : {
                                "agentIds" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "targetId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "orderId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "criteria" : {
                                  "required" : [ "fieldConditions", "pattern" ],
                                  "properties" : {
                                    "fieldConditions" : {
                                      "items" : {
                                        "required" : [ "condition", "displayValue", "fieldModule", "fieldName", "value" ],
                                        "properties" : {
                                          "displayValue" : {
                                            "uniqueItems" : false,
                                            "items" : {
                                              "maxLength" : 100,
                                              "minLength" : 0
                                            }
                                          },
                                          "condition" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "(.*|null|undefined)"
                                          },
[...]
