{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "SavedFilters",
    "version" : "1.0.0",
    "x-clan-group" : "common",
    "x-module-group" : "views"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/filters/{filterId}" : {
      "get" : {
        "tags" : [ "SavedFilters" ],
        "summary" : "Get Saved Filter",
        "description" : "This API fetches the details of a specific saved filter.",
        "operationId" : "GetSavedFilter",
        "parameters" : [ {
          "name" : "filterId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getSavedFilterResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "required" : [ "criteria", "department", "filterId", "moduleMapping", "name" ],
                      "properties" : {
                        "filterId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "moduleMapping" : {
                          "maxProperties" : 1,
                          "minProperties" : 1,
                          "required" : [ "primaryModule" ],
                          "properties" : {
                            "primaryModule" : {
                              "maxProperties" : 1,
                              "minProperties" : 1,
                              "required" : [ "apiName" ],
                              "properties" : {
                                "apiName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        },
                        "criteria" : {
                          "required" : [ "criteriaFields" ],
                          "properties" : {
                            "criteriaFields" : {
                              "items" : {
                                "required" : [ "condition", "field", "value" ],
                                "properties" : {
                                  "condition" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "field" : {
                                    "required" : [ "apiName", "fieldLabel", "module" ],
                                    "properties" : {
                                      "apiName" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "fieldLabel" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "module" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "secondaryCondition" : {
                                    "pattern" : "[<>]=?|==|!="
                                  },
                                  "unit" : {
                                    "pattern" : "MINUTES|HOURS|DAYS"
                                  },
                                  "value" : {
                                    "required" : [ "type" ],
                                    "properties" : {
                                      "primitive" : {
                                        "items" : {
                                          "required" : [ "displayKey", "key" ],
                                          "properties" : {
                                            "displayKey" : {
                                              "maxLength" : 100,
                                              "minLength" : 0
                                            },
                                            "key" : {
                                              "maxLength" : 100,
                                              "minLength" : 0
                                            }
                                          },
                                          "additionalProperties" : false
                                        }
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          },
                          "additionalProperties" : { }
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}\\s&amp;&lt;&gt;\\+=]+"
                        },
                        "department" : {
                          "pattern" : "([0-9]+|allDepartment)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : {
                        "filterId" : "16000000388015",
                        "moduleMapping" : {
                          "primaryModule" : {
                            "apiName" : "accounts"
                          }
                        },
                        "criteria" : {
                          "criteriaFields" : [ {
                            "condition" : "between",
                            "field" : {
                              "apiName" : "createdTime",
                              "module" : "accounts",
                              "fieldLabel" : "Created Time"
                            },
                            "value" : {
                              "primitive" : [ {
                                "displayKey" : 1701585000000,
                                "key" : 1701585000000
                              }, {
                                "displayKey" : 1701585000000,
                                "key" : 1733207400000
                              } ],
                              "type" : "primitive"
                            }
                          }, {
                            "condition" : "between",
                            "field" : {
                              "apiName" : "modifiedTime",
                              "module" : "accounts",
                              "fieldLabel" : "Modified Time"
                            },
                            "value" : {
                              "primitive" : [ {
                                "displayKey" : 1733207400000,
                                "key" : 1701585000000
                              }, {
                                "displayKey" : 1733207400000,
                                "key" : 1733207400000
                              } ],
                              "type" : "primitive"
                            }
                          } ]
                        },
                        "name" : "CreatedTime And Modified Time Filter",
                        "department" : "allDepartment"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ],
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "f22f63745e688aeb940e89bcf5ec11cb",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.SavedFilterService.getSavedFilter"
        }
      },
      "delete" : {
        "tags" : [ "SavedFilters" ],
        "summary" : "Delete Saved Filter",
        "description" : "This API deletes a specific saved filter.",
        "operationId" : "deleteSavedFilter",
        "parameters" : [ {
          "name" : "filterId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.DELETE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "fbd54c0bc8b9d6da09180c92a5f07aee",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.SavedFilterService.deleteSavedFilter"
        }
      },
      "patch" : {
        "tags" : [ "SavedFilters" ],
        "summary" : "",
        "description" : "",
        "operationId" : "updateSavedFilter",
        "parameters" : [ {
          "name" : "filterId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "criteria", "department", "moduleMapping", "name" ],
                "properties" : {
                  "moduleMapping" : {
                    "maxProperties" : 1,
                    "minProperties" : 1,
                    "required" : [ "primaryModule" ],
                    "properties" : {
                      "primaryModule" : {
                        "maxProperties" : 1,
                        "minProperties" : 1,
                        "required" : [ "apiName" ],
                        "properties" : {
                          "apiName" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "description" : "",
                            "x-custom-parameters-attributes" : { }
                          }
                        },
                        "additionalProperties" : { },
                        "description" : "",
                        "x-custom-parameters-attributes" : { }
                      }
                    },
                    "additionalProperties" : { },
                    "description" : "",
                    "x-custom-parameters-attributes" : { }
                  },
                  "criteria" : {
                    "required" : [ "criteriaFields" ],
                    "properties" : {
                      "criteriaFields" : {
                        "items" : {
                          "required" : [ "condition", "field", "value" ],
                          "properties" : {
                            "condition" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "",
                              "x-custom-parameters-attributes" : { }
                            },
                            "field" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "apiName", "module" ],
                              "properties" : {
                                "apiName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                                  "description" : "",
                                  "x-custom-parameters-attributes" : { }
                                },
                                "module" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "description" : "",
                                  "x-custom-parameters-attributes" : { }
                                }
                              },
                              "additionalProperties" : false,
                              "description" : "",
                              "x-custom-parameters-attributes" : { }
                            },
                            "value" : {
                              "required" : [ "primitive", "type" ],
                              "properties" : {
                                "primitive" : {
                                  "items" : {
                                    "required" : [ "key" ],
                                    "properties" : {
                                      "key" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "description" : "",
                                        "x-custom-parameters-attributes" : { }
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "description" : "",
                                  "x-custom-parameters-attributes" : { }
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}\\s&amp;&lt;&gt;\\+=]+",
                    "description" : "",
                    "x-custom-parameters-attributes" : { }
                  },
                  "department" : {
                    "pattern" : "([0-9]+)",
                    "description" : "",
                    "format" : "int64",
                    "x-custom-parameters-attributes" : { }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : { }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : { }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getSavedFilterResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "required" : [ "criteria", "department", "filterId", "moduleMapping", "name" ],
                      "properties" : {
                        "filterId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "moduleMapping" : {
                          "maxProperties" : 1,
                          "minProperties" : 1,
                          "required" : [ "primaryModule" ],
                          "properties" : {
                            "primaryModule" : {
                              "maxProperties" : 1,
                              "minProperties" : 1,
                              "required" : [ "apiName" ],
                              "properties" : {
                                "apiName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        },
                        "criteria" : {
                          "required" : [ "criteriaFields" ],
                          "properties" : {
                            "criteriaFields" : {
                              "items" : {
                                "required" : [ "condition", "field", "value" ],
                                "properties" : {
                                  "condition" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "field" : {
                                    "required" : [ "apiName", "fieldLabel", "module" ],
                                    "properties" : {
                                      "apiName" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "fieldLabel" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "module" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "secondaryCondition" : {
                                    "pattern" : "[<>]=?|==|!="
                                  },
                                  "unit" : {
                                    "pattern" : "MINUTES|HOURS|DAYS"
                                  },
                                  "value" : {
                                    "required" : [ "type" ],
                                    "properties" : {
                                      "primitive" : {
                                        "items" : {
                                          "required" : [ "displayKey", "key" ],
                                          "properties" : {
                                            "displayKey" : {
                                              "maxLength" : 100,
                                              "minLength" : 0
                                            },
                                            "key" : {
                                              "maxLength" : 100,
                                              "minLength" : 0
                                            }
                                          },
                                          "additionalProperties" : false
                                        }
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}\\s&amp;&lt;&gt;\\+=]+"
                        },
                        "department" : {
                          "pattern" : "([0-9]+|allDepartment)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : {
                        "filterId" : "16000000388015",
                        "moduleMapping" : {
                          "primaryModule" : {
                            "apiName" : "accounts"
                          }
                        },
                        "criteria" : {
                          "criteriaFields" : [ {
                            "condition" : "between",
                            "field" : {
                              "apiName" : "createdTime",
                              "module" : "accounts",
                              "fieldLabel" : "Created Time"
                            },
                            "value" : {
                              "primitive" : [ {
                                "displayKey" : 1701585000000,
                                "key" : 1701585000000
                              }, {
                                "displayKey" : 1701585000000,
                                "key" : 1733207400000
                              } ],
                              "type" : "primitive"
                            }
                          }, {
                            "condition" : "between",
                            "field" : {
                              "apiName" : "modifiedTime",
                              "module" : "accounts",
                              "fieldLabel" : "Modified Time"
                            },
                            "value" : {
                              "primitive" : [ {
                                "displayKey" : 1733207400000,
                                "key" : 1701585000000
                              }, {
                                "displayKey" : 1733207400000,
                                "key" : 1733207400000
                              } ],
                              "type" : "primitive"
                            }
                          } ]
                        },
                        "name" : "CreatedTime And Modified Time Filter",
                        "department" : "allDepartment"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "x-audience" : [ "company-internal" ]
      }
    },
    "/api/v1/filters" : {
      "get" : {
        "tags" : [ "SavedFilters" ],
        "summary" : "List All Saved Filters",
        "description" : "This API fetches all the saved filters.",
        "operationId" : "GetSavedFilters",
        "parameters" : [ {
          "name" : "module",
          "in" : "query",
          "description" : "The name of the module for which the saved filters are configured",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "The name of the module for which the saved filters are configured",
            "enum" : [ "tickets" ],
            "x-custom-parameters-attributes" : {
              "entity" : "Views"
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "The ID of the department for which the saved filters need to be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "The ID of the department for which the saved filters need to be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "entity" : "Criteria"
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "data template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "filterId", "name" ],
                        "properties" : {
                          "filterId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}\\s&amp;&lt;&gt;\\+=]+"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "filterId" : "4000000007834",
                        "name" : "Saved Test Filter"
                      }, {
                        "filterId" : "4000000007836",
                        "name" : "My Filter"
                      }, {
                        "filterId" : "4000000007838",
                        "name" : "My open filters"
                      }, {
                        "filterId" : "4000000007840",
                        "name" : "My Team Filters"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ],
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "58df6145b54010562652c9f6c7950035",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.SavedFilterService.getSavedFilters"
        }
      },
      "post" : {
        "tags" : [ "SavedFilters" ],
        "summary" : "Create Saved Filter",
        "description" : "This API creates saved filters. Note: The value of the department should be a valid department ID or allDepartments. Module mapping is mandatory.",
        "operationId" : "createSavedFilter",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "criteria", "department", "moduleMapping", "name" ],
                "properties" : {
                  "moduleMapping" : {
                    "maxProperties" : 1,
                    "minProperties" : 1,
                    "required" : [ "primaryModule" ],
                    "properties" : {
                      "primaryModule" : {
                        "maxProperties" : 1,
                        "minProperties" : 1,
                        "required" : [ "apiName" ],
                        "properties" : {
                          "apiName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "criteria" : {
                    "required" : [ "criteriaFields" ],
                    "properties" : {
                      "criteriaFields" : {
                        "items" : {
                          "required" : [ "condition", "field", "value" ],
                          "properties" : {
                            "condition" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "description" : "",
                              "x-custom-parameters-attributes" : { }
                            },
                            "field" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "apiName", "module" ],
                              "properties" : {
                                "apiName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                                  "description" : "",
                                  "x-custom-parameters-attributes" : { }
                                },
                                "module" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "description" : "",
                                  "x-custom-parameters-attributes" : { }
                                }
                              },
                              "additionalProperties" : false,
                              "description" : "",
                              "x-custom-parameters-attributes" : { }
                            },
                            "value" : {
                              "required" : [ "primitive", "type" ],
                              "properties" : {
                                "primitive" : {
                                  "items" : {
                                    "required" : [ "key" ],
                                    "properties" : {
                                      "key" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "description" : "",
                                        "x-custom-parameters-attributes" : { }
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "description" : "",
                                  "x-custom-parameters-attributes" : { }
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : false
                  },
                  "name" : {
                    "maxLength" : 50,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}\\s&<>\\+=]+"
                  },
                  "department" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64",
                    "x-custom-parameters-attributes" : {
                      "entity" : "Departments"
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "moduleMapping" : {
                      "primaryModule" : {
                        "apiName" : "accounts"
                      }
                    },
                    "criteria" : {
                      "criteriaFields" : [ {
                        "condition" : "between",
                        "field" : {
                          "apiName" : "createdTime",
                          "module" : "accounts"
                        },
                        "value" : {
                          "primitive" : [ {
                            "key" : 1701585000000
                          }, {
                            "key" : 1733207400000
                          } ],
                          "type" : "primitive"
                        }
                      }, {
                        "condition" : "between",
                        "field" : {
                          "apiName" : "modifiedTime",
                          "module" : "accounts"
                        },
                        "value" : {
                          "primitive" : [ {
                            "key" : 1701585000000
                          }, {
                            "key" : 1733207400000
                          } ],
                          "type" : "primitive"
                        }
                      } ]
                    },
                    "name" : "CreatedTime and ModifiedTime Filter",
                    "department" : "allDepartment"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getSavedFilterResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "required" : [ "criteria", "department", "filterId", "moduleMapping", "name" ],
                      "properties" : {
                        "filterId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "moduleMapping" : {
                          "maxProperties" : 1,
                          "minProperties" : 1,
                          "required" : [ "primaryModule" ],
                          "properties" : {
                            "primaryModule" : {
                              "maxProperties" : 1,
                              "minProperties" : 1,
                              "required" : [ "apiName" ],
                              "properties" : {
                                "apiName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        },
                        "criteria" : {
                          "required" : [ "criteriaFields" ],
                          "properties" : {
                            "criteriaFields" : {
                              "items" : {
                                "required" : [ "condition", "field", "value" ],
                                "properties" : {
                                  "condition" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "field" : {
                                    "required" : [ "apiName", "fieldLabel", "module" ],
                                    "properties" : {
                                      "apiName" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "fieldLabel" : {
                                        "maxLength" : 200,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "module" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "secondaryCondition" : {
                                    "pattern" : "[<>]=?|==|!="
                                  },
                                  "unit" : {
                                    "pattern" : "MINUTES|HOURS|DAYS"
                                  },
                                  "value" : {
                                    "required" : [ "type" ],
                                    "properties" : {
                                      "primitive" : {
                                        "items" : {
                                          "required" : [ "displayKey", "key" ],
                                          "properties" : {
                                            "displayKey" : {
                                              "maxLength" : 100,
                                              "minLength" : 0
                                            },
                                            "key" : {
                                              "maxLength" : 100,
                                              "minLength" : 0
                                            }
                                          },
                                          "additionalProperties" : false
                                        }
                                      },
                                      "type" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}\\s&amp;&lt;&gt;\\+=]+"
                        },
                        "department" : {
                          "pattern" : "([0-9]+|allDepartment)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : {
                        "filterId" : "16000000388015",
                        "moduleMapping" : {
                          "primaryModule" : {
                            "apiName" : "accounts"
                          }
                        },
                        "criteria" : {
                          "criteriaFields" : [ {
                            "condition" : "between",
                            "field" : {
                              "apiName" : "createdTime",
                              "module" : "accounts",
                              "fieldLabel" : "Created Time"
                            },
                            "value" : {
                              "primitive" : [ {
                                "displayKey" : 1701585000000,
                                "key" : 1701585000000
                              }, {
                                "displayKey" : 1701585000000,
                                "key" : 1733207400000
                              } ],
                              "type" : "primitive"
                            }
                          }, {
                            "condition" : "between",
                            "field" : {
                              "apiName" : "modifiedTime",
                              "module" : "accounts",
                              "fieldLabel" : "Modified Time"
                            },
                            "value" : {
                              "primitive" : [ {
                                "displayKey" : 1733207400000,
                                "key" : 1701585000000
                              }, {
                                "displayKey" : 1733207400000,
                                "key" : 1733207400000
                              } ],
                              "type" : "primitive"
                            }
                          } ]
                        },
                        "name" : "CreatedTime And Modified Time Filter",
                        "department" : "allDepartment"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "ba5e05a2edf1b9a6b1e89425d5134a55",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.SavedFilterService.createSavedFilter"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "getSavedFilterResponseNew" : {
        "required" : [ "criteria", "department", "filterId", "moduleMapping", "name" ],
        "properties" : {
          "filterId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "moduleMapping" : {
            "maxProperties" : 1,
            "minProperties" : 1,
            "required" : [ "primaryModule" ],
            "properties" : {
              "primaryModule" : {
                "maxProperties" : 1,
                "minProperties" : 1,
                "required" : [ "apiName" ],
                "properties" : {
                  "apiName" : {
                    "maxLength" : 100,
                    "minLength" : 0
                  }
                },
                "additionalProperties" : { }
              }
            },
            "additionalProperties" : { }
          },
          "criteria" : {
            "required" : [ "criteriaFields" ],
            "properties" : {
              "criteriaFields" : {
                "items" : {
                  "required" : [ "condition", "field", "value" ],
                  "properties" : {
                    "condition" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "field" : {
                      "required" : [ "apiName", "fieldLabel", "module" ],
                      "properties" : {
                        "apiName" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "fieldLabel" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "module" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    },
                    "secondaryCondition" : {
                      "pattern" : "[<>]=?|==|!="
                    },
                    "unit" : {
                      "pattern" : "MINUTES|HOURS|DAYS"
                    },
                    "value" : {
                      "required" : [ "type" ],
                      "properties" : {
                        "primitive" : {
                          "items" : {
                            "required" : [ "displayKey", "key" ],
                            "properties" : {
                              "displayKey" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "key" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : false
                    }
                  },
                  "additionalProperties" : false
                }
              }
            },
            "additionalProperties" : false
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}\\s&amp;&lt;&gt;\\+=]+"
          },
          "department" : {
            "pattern" : "([0-9]+|allDepartment)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "getFiltersJson" : {
        "required" : [ "filterId", "name" ],
        "properties" : {
          "filterId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}\\s&amp;&lt;&gt;\\+=]+"
          }
        },
        "additionalProperties" : { }
      },
      "getFiltersData" : {
        "items" : {
          "required" : [ "filterId", "name" ],
          "properties" : {
            "filterId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "name" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}\\s&amp;&lt;&gt;\\+=]+"
            }
          },
          "additionalProperties" : false
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "getSavedFilterResponse" : {
        "description" : "getSavedFilterResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "data" ],
              "properties" : {
                "data" : {
                  "required" : [ "criteria", "department", "filterId", "moduleMapping", "name" ],
                  "properties" : {
                    "filterId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "moduleMapping" : {
                      "maxProperties" : 1,
                      "minProperties" : 1,
                      "required" : [ "primaryModule" ],
                      "properties" : {
                        "primaryModule" : {
                          "maxProperties" : 1,
                          "minProperties" : 1,
                          "required" : [ "apiName" ],
                          "properties" : {
                            "apiName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : false
                    },
                    "criteria" : {
                      "required" : [ "criteriaFields" ],
                      "properties" : {
                        "criteriaFields" : {
                          "items" : {
                            "required" : [ "condition", "field", "value" ],
                            "properties" : {
                              "condition" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "field" : {
                                "required" : [ "apiName", "fieldLabel", "module" ],
                                "properties" : {
                                  "apiName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "fieldLabel" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                  },
                                  "module" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "secondaryCondition" : {
                                "pattern" : "[<>]=?|==|!="
                              },
                              "unit" : {
                                "pattern" : "MINUTES|HOURS|DAYS"
                              },
                              "value" : {
                                "required" : [ "type" ],
                                "properties" : {
                                  "primitive" : {
                                    "items" : {
                                      "required" : [ "displayKey", "key" ],
                                      "properties" : {
                                        "displayKey" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "key" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        }
                                      },
                                      "additionalProperties" : false
                                    }
                                  },
                                  "type" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      },
                      "additionalProperties" : false
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}\\s&amp;&lt;&gt;\\+=]+"
                    },
                    "department" : {
                      "pattern" : "([0-9]+|allDepartment)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : false
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : {
                    "filterId" : "16000000388015",
                    "moduleMapping" : {
                      "primaryModule" : {
                        "apiName" : "accounts"
                      }
                    },
                    "criteria" : {
                      "criteriaFields" : [ {
                        "condition" : "between",
                        "field" : {
                          "apiName" : "createdTime",
                          "module" : "accounts",
                          "fieldLabel" : "Created Time"
                        },
                        "value" : {
                          "primitive" : [ {
                            "displayKey" : 1701585000000,
                            "key" : 1701585000000
                          }, {
                            "displayKey" : 1701585000000,
                            "key" : 1733207400000
                          } ],
                          "type" : "primitive"
                        }
                      }, {
                        "condition" : "between",
                        "field" : {
                          "apiName" : "modifiedTime",
                          "module" : "accounts",
                          "fieldLabel" : "Modified Time"
                        },
                        "value" : {
                          "primitive" : [ {
                            "displayKey" : 1733207400000,
                            "key" : 1701585000000
                          }, {
                            "displayKey" : 1733207400000,
                            "key" : 1733207400000
                          } ],
                          "type" : "primitive"
                        }
                      } ]
                    },
                    "name" : "CreatedTime And Modified Time Filter",
                    "department" : "allDepartment"
                  }
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "data" : {
        "description" : "data template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "data" ],
              "properties" : {
                "data" : {
                  "items" : {
                    "required" : [ "filterId", "name" ],
                    "properties" : {
                      "filterId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "name" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "[0-9a-zA-Z_\\-\\.\\$@%\\?\\,\\:\\'\\P{InBasicLatin}\\s&amp;&lt;&gt;\\+=]+"
                      }
                    },
                    "additionalProperties" : false
                  }
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : [ {
                    "filterId" : "4000000007834",
                    "name" : "Saved Test Filter"
                  }, {
                    "filterId" : "4000000007836",
                    "name" : "My Filter"
                  }, {
                    "filterId" : "4000000007838",
                    "name" : "My open filters"
                  }, {
                    "filterId" : "4000000007840",
                    "name" : "My Team Filters"
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "OAuth Org Mismatch Error Response" : {
                "value" : {
                  "errorCode" : "OAUTH_ORG_MISMATCH",
                  "message" : "The OAuthToken is not valid for specified organization."
                }
              }
            }
          }
        }
      },
      "forbiddenErrorResponse" : {
        "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Forbidden Error Response" : {
                "value" : {
                  "errorCode" : "FORBIDDEN",
                  "message" : "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "urlNotFoundErrorResponse" : {
        "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Url Not Found Error Response" : {
                "value" : {
                  "errorCode" : "URL_NOT_FOUND",
                  "message" : "The URL you requested could not be found."
                }
              }
            }
          }
        }
      },
      "methodNotAllowedErrorResponse" : {
        "description" : "This errorCode value appears if the method in the API request is known by the server but disabled for the API requested.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Method Not Allowed Error Response" : {
                "value" : {
                  "errorCode" : "METHOD_NOT_ALLOWED",
                  "message" : "This HTTP method is not allowed on this URL."
                }
              }
            }
          }
        }
      },
      "resourceSizeExceededErrorResponse" : {
        "description" : "This errorCode value appears if the size of the resource exceeds the limit defined by the server.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Resource Size Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "RESOURCE_SIZE_EXCEEDED",
                  "message" : "Attachment size is too large. The maximum size supported is 20 MB."
                }
              }
            }
          }
        }
      },
      "unSupportedMediaTypeErrorResponse" : {
        "description" : "This errorCode value appears if the server refuses the request as a result of receiving the input in an unsupported format.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unsupported Media Type Error Response" : {
                "value" : {
                  "errorCode" : "UNSUPPORTED_MEDIA_TYPE",
                  "message" : "The given content type is not supported. Please provide the input Content-Type as application/json"
                }
              }
            }
          }
        }
      },
      "unprocessableEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The value passed for the 'from' query parameter is invalid."
                }
              }
            }
          }
        }
      },
      "missingEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not contain the mandatory parameters for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The mandatory parameter 'permission' is missing"
                }
              }
            }
          }
        }
      },
      "thresholdExceedErrorResponse" : {
        "description" : "This errorCode value appears if the user sends too many requests within a given amount of time (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Threshold Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "THRESHOLD_EXCEEDED",
                  "message" : "The maximum number of API calls that can be made per day has been exceeded."
                }
              }
            }
          }
        }
      },
      "concurrentRateLimitExceededErrorResponse" : {
        "description" : "This errorCode value appears if the user fires too many requests in a simultaneous/concurrent manner (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Concurrent Rate Limit Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "TOO_MANY_REQUESTS",
                  "message" : "The maximum number of Concurrent API Calls that can be made has been exceeded."
                }
              }
            }
          }
        }
      },
      "internalErrorResponse" : {
        "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Internal Server Error Response" : {
                "value" : {
                  "errorCode" : "INTERNAL_SERVER_ERROR",
                  "message" : "An internal server error occurred while performing this operation."
                }
              }
            }
          }
        }
      },
      "licenseErrorResponse" : {
        "description" : "This errorCode value appears if the user is unable to perform an action due to the limitations of the Zoho Desk edition in use\nThe possible values for the feature key are\n    *AGENTS*\n    *LIGHT_AGENTS*\n    *TEAM*\nThe possible values for the editionType key are\n    *FREE*\n    *PROFESSIONAL*\n    *ENTERPRISE*",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "editionType", "feature", "isTrial", "maxAllowedEntity" ],
                "properties" : {
                  "maxAllowedEntity" : {
                    "pattern" : "([0-9]+)"
                  },
                  "feature" : {
                    "enum" : [ "AGENTS", "LIGHT_AGENTS", "TEAM" ]
                  },
                  "editionType" : {
                    "enum" : [ "ENTERPRISE", "PROFESSIONAL", "STANDARD", "EXPRESS", "FREE" ]
                  },
                  "isTrial" : { }
                }
              } ]
            },
            "examples" : {
              "LicenseAccessLimited Error Response" : {
                "value" : {
                  "errorCode" : "LICENSE_ACCESS_LIMITED",
                  "maxAllowedEntity" : "10",
                  "feature" : "AGENTS",
                  "editionType" : "FREE",
                  "isTrial" : false,
                  "message" : "Your Zoho Desk Edition does not support this feature/operation."
                }
              }
            }
          }
        }
      },
      "multipleUnprocessEntityResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "anyOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "additionalProperties" : { },
                "allOf" : [ {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                }, {
                  "required" : [ "errors" ],
                  "properties" : {
                    "errors" : {
[...]
