{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "ScheduleReplyInfo",
    "version" : "1.0.0",
    "x-clan-group" : "tickets",
    "x-module-group" : "tickets"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/threads/sendDrafts" : {
      "post" : {
        "tags" : [ "ScheduleReplyInfo" ],
        "summary" : "Send multiple drafts",
        "description" : "This API sends multiple drafts as responses to their respective threads.",
        "operationId" : "sendDrafts",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "threadIds" ],
                "properties" : {
                  "threadIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "threadIds" : [ "1892000001093097" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "202" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "BulkUpdate_DOSRateLimiter"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "ea8c2b430713596bd79d856dbb35c157",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.NewConversationService.sendManyDrafts"
        }
      }
    },
    "/api/v1/threads/discardScheduleReplies" : {
      "post" : {
        "tags" : [ "ScheduleReplyInfo" ],
        "summary" : "Delete multiple scheduled replies",
        "description" : "This API deletes multiple scheduled replies from your Zoho Desk portal.",
        "operationId" : "discardScheduleReplies",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "threadIds" ],
                "properties" : {
                  "threadIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : false
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "threadIds" : [ "1892000001083097" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "202" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "BulkUpdate_DOSRateLimiter"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "083208d951bbd3f8e007ef73e1702525",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.NewConversationService.discardScheduleReplies"
        }
      }
    },
    "/api/v1/threads/sendScheduleReplies" : {
      "post" : {
        "tags" : [ "ScheduleReplyInfo" ],
        "summary" : "Send multiple scheduled replies",
        "description" : "This API sends multiple scheduled replies as responses to their respective threads.",
        "operationId" : "sendScheduleReplies",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "threadIds" ],
                "properties" : {
                  "threadIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : false
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "threadIds" : [ "1892000001083047" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "202" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "BulkUpdate_DOSRateLimiter"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "ba589d72e2a210a7cc97c6d6f3a1b9dc",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.NewConversationService.sendScheduleReplies"
        }
      }
    },
    "/api/v1/tickets/{ticketId}/threads/{threadId}/scheduleReply" : {
      "post" : {
        "tags" : [ "ScheduleReplyInfo" ],
        "summary" : "Create scheduled reply",
        "description" : "This API creates a response that will be sent to a thread at a particular time or after a particular period.",
        "operationId" : "createScheduleReply",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "scheduleAfter" : {
                    "required" : [ "businessHourId", "timeAfter", "type" ],
                    "properties" : {
                      "businessHourId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the Business Hours to consider",
                        "format" : "int64"
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Unit of time to consider: @Hour@/@Minute@/@Day@",
                        "enum" : [ "Hour", "Minute", "Day" ]
                      },
                      "timeAfter" : {
                        "pattern" : "([0-9]+)",
                        "description" : "Period after which the the response must be sent",
                        "format" : "int32"
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "ticketStatus" : {
                    "description" : "Status of the ticket. Includes the custom statuses configured in your help desk portal.",
                    "x-dynamic-enum" : true
                  },
                  "customScheduleData" : {
                    "required" : [ "dateTime", "timeZone" ],
                    "properties" : {
                      "dateTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^20\\d\\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$",
                        "description" : "Date Time"
                      },
                      "timeZone" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "[a-zA-Z_/\\-\\+0-9]*",
                        "description" : "Custom Timezone"
                      }
                    },
                    "additionalProperties" : { }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "customScheduleData" : {
                      "dateTime" : 1695567625000,
                      "timeZone" : "America/Cancun"
                    }
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "createScheduleReplyResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "required" : [ "actions", "attachmentCount", "attachments", "author", "bcc", "canReply", "cc", "channel", "channelRelatedInfo", "content", "contentType", "createdTime", "direction", "fromEmailAddress", "fullContentURL", "hasAttach", "id", "impersonatedUser", "isContentTruncated", "isDescriptionThread", "isForward", "readReceipts", "replyTo", "responderId", "source", "status", "summary", "to", "visibility" ],
                    "properties" : {
                      "isDescriptionThread" : { },
                      "bcc" : {
                        "maxLength" : 13000,
                        "minLength" : 0,
                        "pattern" : "(^((.*?)((<)*?[a-zA-Z0-9]([\\w\\-.+]*)@([\\w\\-.]*)(\\.[a-zA-Z]{2,22}(.[a-zA-Z]{2}){0,2})(>)*?(\\s)*((,|;)\\s*)?))+|^$)"
                      },
                      "attachments" : {
                        "items" : {
                          "required" : [ "href", "id", "name", "previewurl", "size" ],
                          "properties" : {
                            "previewurl" : {
                              "maxLength" : 16000000,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "size" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "href" : {
                              "maxLength" : 500,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "isContentTruncated" : { },
                      "canReply" : { },
                      "channel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "EMAIL" ]
                      },
                      "source" : {
                        "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                        "properties" : {
                          "appName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "extId" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "permalink" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                          },
                          "appPhotoURL" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "content" : {
                        "maxLength" : 16000000,
                        "minLength" : 0
                      },
                      "impersonatedUser" : {
                        "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "channelRelatedInfo" : {
                        "required" : [ "externalLink", "isBestSolution", "isDeleted" ],
                        "properties" : {
                          "isDeleted" : { },
                          "isBestSolution" : { },
                          "externalLink" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "contentType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "text/plain", "text/html" ]
                      },
                      "direction" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "in", "out" ]
                      },
                      "cc" : {
                        "maxLength" : 13000,
                        "minLength" : 0,
                        "pattern" : "(^((.*?)((<)*?[a-zA-Z0-9]([\\w\\-.+]*)@([\\w\\-.]*)(\\.[a-zA-Z]{2,22}(.[a-zA-Z]{2}){0,2})(>)*?(\\s)*((,|;)\\s*)?))+|^$)"
                      },
                      "summary" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                      },
                      "visibility" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "public", "private" ]
                      },
                      "author" : {
                        "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "fullContentURL" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "isForward" : { },
                      "hasAttach" : { },
                      "responderId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "replyTo" : {
                        "maxLength" : 13000,
                        "minLength" : 0,
                        "pattern" : "(^((.*?)((<)*?[a-zA-Z0-9]([\\w\\-.+]*)@([\\w\\-.]*)(\\.[a-zA-Z]{2,22}(.[a-zA-Z]{2}){0,2})(>)*?(\\s)*((,|;)\\s*)?))+|^$)"
                      },
                      "attachmentCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "readReceipts" : {
                        "items" : {
                          "required" : [ "from", "recipientType", "senderName", "statusVsTime" ],
                          "properties" : {
                            "senderName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "recipientType" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "from" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "replacementString" : "",
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "allowInvalid" : false,
                                "descrption" : "The starting index for fetching conversation records",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "statusVsTime" : {
                              "items" : {
                                "required" : [ "Status", "Time" ],
                                "properties" : {
                                  "Status" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "Time" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "to" : {
                        "maxLength" : 13000,
                        "minLength" : 0,
                        "pattern" : "(^((.*?)((<)*?[a-zA-Z0-9]([\\w\\-.+]*)@([\\w\\-.]*)(\\.[a-zA-Z]{2,22}(.[a-zA-Z]{2}){0,2})(>)*?(\\s)*((,|;)\\s*)?))+|^$)"
                      },
                      "fromEmailAddress" : {
                        "maxLength" : 300,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                      },
                      "actions" : {
                        "items" : {
                          "required" : [ "href", "method", "rel" ],
                          "properties" : {
                            "method" : {
                              "maxLength" : 16000000,
                              "minLength" : 0
                            },
                            "rel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "send", "update", "delete" ]
                            },
                            "href" : {
                              "maxLength" : 16000000,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "SUCCESS", "PENDING", "FAILED", "DRAFT" ]
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "actions", "attachmentCount", "attachments", "author", "canReply", "channel", "channelRelatedInfo", "content", "contentType", "createdTime", "direction", "facebookProfile", "fullContentURL", "hasAttach", "id", "isContentTruncated", "isDescriptionThread", "readReceipts", "responderId", "source", "status", "summary", "visibility" ],
                    "properties" : {
                      "summary" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                      },
                      "isDescriptionThread" : { },
                      "attachments" : {
                        "items" : {
                          "required" : [ "href", "id", "name", "previewurl", "size" ],
                          "properties" : {
                            "previewurl" : {
                              "maxLength" : 16000000,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "size" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "href" : {
                              "maxLength" : 500,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "isContentTruncated" : { },
                      "canReply" : { },
                      "visibility" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "public", "private" ]
                      },
                      "author" : {
                        "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "fullContentURL" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "channel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "FACEBOOK" ]
                      },
                      "source" : {
                        "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                        "properties" : {
                          "appName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "extId" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "permalink" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                          },
                          "appPhotoURL" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "content" : {
                        "maxLength" : 16000000,
                        "minLength" : 0
                      },
                      "facebookProfile" : {
                        "maxLength" : 13000,
                        "minLength" : 0,
                        "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                      },
                      "hasAttach" : { },
                      "responderId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "channelRelatedInfo" : {
                        "required" : [ "externalLink", "isBestSolution", "isDeleted" ],
                        "properties" : {
                          "isDeleted" : { },
                          "isBestSolution" : { },
                          "externalLink" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "attachmentCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "readReceipts" : {
                        "items" : {
                          "required" : [ "from", "recipientType", "senderName", "statusVsTime" ],
                          "properties" : {
                            "senderName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "recipientType" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "from" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "replacementString" : "",
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "allowInvalid" : false,
                                "descrption" : "The starting index for fetching conversation records",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "statusVsTime" : {
                              "items" : {
                                "required" : [ "Status", "Time" ],
                                "properties" : {
                                  "Status" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "Time" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "actions" : {
                        "items" : {
                          "required" : [ "href", "method", "rel" ],
                          "properties" : {
                            "method" : {
                              "maxLength" : 16000000,
                              "minLength" : 0
                            },
                            "rel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "send", "update", "delete" ]
                            },
                            "href" : {
                              "maxLength" : 16000000,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "contentType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "text/plain", "text/html" ]
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "SUCCESS", "PENDING", "FAILED", "DRAFT" ]
                      },
                      "direction" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "in", "out" ]
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "actions", "attachmentCount", "attachments", "author", "canReply", "channel", "channelRelatedInfo", "content", "contentType", "createdTime", "direction", "fromEmailAddress", "fullContentURL", "hasAttach", "id", "isContentTruncated", "isDescriptionThread", "readReceipts", "responderId", "source", "status", "summary", "visibility" ],
                    "properties" : {
                      "summary" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                      },
                      "isDescriptionThread" : { },
                      "attachments" : {
                        "items" : {
                          "required" : [ "href", "id", "name", "previewurl", "size" ],
                          "properties" : {
                            "previewurl" : {
                              "maxLength" : 16000000,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "size" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "href" : {
                              "maxLength" : 500,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "isContentTruncated" : { },
                      "canReply" : { },
                      "visibility" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "public", "private" ]
                      },
                      "author" : {
                        "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "fullContentURL" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "channel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "FORUMS" ]
                      },
                      "source" : {
                        "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                        "properties" : {
                          "appName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "extId" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "permalink" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                          },
                          "appPhotoURL" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "content" : {
                        "maxLength" : 16000000,
                        "minLength" : 0
                      },
                      "hasAttach" : { },
                      "responderId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "channelRelatedInfo" : {
                        "required" : [ "externalLink", "isBestSolution", "isDeleted" ],
                        "properties" : {
                          "isDeleted" : { },
                          "isBestSolution" : { },
                          "externalLink" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "attachmentCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "readReceipts" : {
                        "items" : {
                          "required" : [ "from", "recipientType", "senderName", "statusVsTime" ],
                          "properties" : {
                            "senderName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "recipientType" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "from" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "replacementString" : "",
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "allowInvalid" : false,
                                "descrption" : "The starting index for fetching conversation records",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "statusVsTime" : {
                              "items" : {
                                "required" : [ "Status", "Time" ],
                                "properties" : {
                                  "Status" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "Time" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "fromEmailAddress" : {
                        "maxLength" : 300,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                      },
                      "actions" : {
                        "items" : {
                          "required" : [ "href", "method", "rel" ],
                          "properties" : {
                            "method" : {
                              "maxLength" : 16000000,
                              "minLength" : 0
                            },
                            "rel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "send", "update", "delete" ]
                            },
                            "href" : {
                              "maxLength" : 16000000,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "contentType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "text/plain", "text/html" ]
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "SUCCESS", "PENDING", "FAILED", "DRAFT" ]
                      },
                      "direction" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "in", "out" ]
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "actions", "attachmentCount", "attachments", "author", "bcc", "canReply", "cc", "channel", "channelRelatedInfo", "content", "contentType", "createdTime", "direction", "fromEmailAddress", "fullContentURL", "hasAttach", "id", "impersonatedUser", "isContentTruncated", "isDescriptionThread", "isForward", "readReceipts", "replyTo", "responderId", "source", "status", "summary", "to", "visibility" ],
                      "properties" : {
                        "isDescriptionThread" : { },
                        "bcc" : {
                          "maxLength" : 13000,
                          "minLength" : 0,
                          "pattern" : "(^((.*?)((<)*?[a-zA-Z0-9]([\\w\\-.+]*)@([\\w\\-.]*)(\\.[a-zA-Z]{2,22}(.[a-zA-Z]{2}){0,2})(>)*?(\\s)*((,|;)\\s*)?))+|^$)"
                        },
                        "attachments" : {
                          "items" : {
                            "required" : [ "href", "id", "name", "previewurl", "size" ],
                            "properties" : {
                              "previewurl" : {
                                "maxLength" : 16000000,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "size" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "name" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "href" : {
                                "maxLength" : 500,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "isContentTruncated" : { },
                        "canReply" : { },
                        "channel" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "EMAIL" ]
                        },
                        "source" : {
                          "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                          "properties" : {
                            "appName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "extId" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "permalink" : {
                              "maxLength" : 65535,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                            },
                            "appPhotoURL" : {
                              "maxLength" : 65535,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "content" : {
                          "maxLength" : 16000000,
                          "minLength" : 0
                        },
                        "impersonatedUser" : {
                          "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                          "properties" : {
                            "photoURL" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                            },
                            "email" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "channelRelatedInfo" : {
                          "required" : [ "externalLink", "isBestSolution", "isDeleted" ],
                          "properties" : {
                            "isDeleted" : { },
                            "isBestSolution" : { },
                            "externalLink" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "createdTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "contentType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "text/plain", "text/html" ]
                        },
                        "direction" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "in", "out" ]
                        },
                        "cc" : {
                          "maxLength" : 13000,
                          "minLength" : 0,
                          "pattern" : "(^((.*?)((<)*?[a-zA-Z0-9]([\\w\\-.+]*)@([\\w\\-.]*)(\\.[a-zA-Z]{2,22}(.[a-zA-Z]{2}){0,2})(>)*?(\\s)*((,|;)\\s*)?))+|^$)"
                        },
                        "summary" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                        },
                        "visibility" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "public", "private" ]
                        },
                        "author" : {
                          "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                          "properties" : {
                            "photoURL" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                            },
                            "email" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "fullContentURL" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "isForward" : { },
                        "hasAttach" : { },
                        "responderId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "replyTo" : {
                          "maxLength" : 13000,
                          "minLength" : 0,
                          "pattern" : "(^((.*?)((<)*?[a-zA-Z0-9]([\\w\\-.+]*)@([\\w\\-.]*)(\\.[a-zA-Z]{2,22}(.[a-zA-Z]{2}){0,2})(>)*?(\\s)*((,|;)\\s*)?))+|^$)"
                        },
                        "attachmentCount" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "readReceipts" : {
                          "items" : {
                            "required" : [ "from", "recipientType", "senderName", "statusVsTime" ],
                            "properties" : {
                              "senderName" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "recipientType" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "from" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "replacementString" : "",
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "allowInvalid" : false,
                                  "descrption" : "The starting index for fetching conversation records",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "statusVsTime" : {
                                "items" : {
                                  "required" : [ "Status", "Time" ],
                                  "properties" : {
                                    "Status" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "Time" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }
                                  },
                                  "additionalProperties" : false
                                }
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "to" : {
                          "maxLength" : 13000,
                          "minLength" : 0,
                          "pattern" : "(^((.*?)((<)*?[a-zA-Z0-9]([\\w\\-.+]*)@([\\w\\-.]*)(\\.[a-zA-Z]{2,22}(.[a-zA-Z]{2}){0,2})(>)*?(\\s)*((,|;)\\s*)?))+|^$)"
                        },
                        "fromEmailAddress" : {
                          "maxLength" : 300,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        },
                        "actions" : {
                          "items" : {
                            "required" : [ "href", "method", "rel" ],
                            "properties" : {
                              "method" : {
                                "maxLength" : 16000000,
                                "minLength" : 0
                              },
                              "rel" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "send", "update", "delete" ]
                              },
                              "href" : {
                                "maxLength" : 16000000,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "SUCCESS", "PENDING", "FAILED", "DRAFT" ]
                        }
                      },
                      "additionalProperties" : { }
                    }, {
                      "required" : [ "scheduleInfo" ],
                      "properties" : {
                        "scheduleInfo" : {
                          "required" : [ "isScheduleActive", "scheduleDateTime", "scheduleDateTimeInUTC", "timeZone" ],
                          "properties" : {
                            "scheduleDateTimeInUTC" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "APIDateTime"
                            },
                            "scheduleDateTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^20\\d\\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$"
                            },
                            "timeZone" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                            },
                            "isScheduleActive" : { }
                          },
                          "additionalProperties" : { }
                        }
                      }
                    } ]
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "isDescriptionThread" : true,
                      "attachments" : [ {
                        "size" : "1913",
                        "name" : "ScreenShot",
                        "id" : "1892000001083005",
                        "href" : "https://desk.zoho.com/api/v1/tickets/1892000000093205/threads/1892000001083008/attachments/1892000001083005/content"
                      } ],
                      "bcc" : "",
                      "isContentTruncated" : true,
                      "canReply" : true,
                      "channel" : "EMAIL",
                      "source" : {
                        "appName" : null,
                        "extId" : null,
                        "type" : "SYSTEM",
                        "permalink" : null,
                        "appPhotoURL" : null
                      },
                      "content" : "<div>Please provide us with a valid solution within the suggested time frame so that we can proceed with the implementation</div>",
                      "channelRelatedInfo" : null,
                      "createdTime" : 1464891475000,
                      "plainText" : "Please provide us with a valid solution within the suggested time frame so that we can proceed with the implementation",
                      "id" : "1892000000135387",
                      "contentType" : "text/html",
                      "direction" : "in",
                      "cc" : "",
                      "summary" : "Please provide us with a valid solution within the suggested time frame so that we can proceed with the implementation",
                      "visibility" : "public",
                      "scheduleInfo" : {
                        "scheduleDateTimeInUTC" : 1695585625000,
                        "scheduleDateTime" : 1695567625000,
                        "timeZone" : "America/Cancun",
                        "isScheduleActive" : true
                      },
                      "author" : {
                        "firstName" : "Jade",
                        "lastName" : "Tywin",
                        "photoURL" : null,
                        "name" : "Jade Tywin",
                        "type" : "END_USER",
                        "email" : "jade12tywin@zylker.com"
                      },
                      "fullContentURL" : "https://desk.zoho.com/api/v1/tickets/1892000000093205/threads/1892000001083008/fullContent",
                      "isForward" : false,
                      "hasAttach" : true,
                      "replyTo" : "jhonwin@zylker.com",
                      "attachmentCount" : "1",
                      "to" : "techsupport@zylker.com",
                      "fromEmailAddress" : "jade12tywin@zylker.com",
                      "actions" : [ ],
                      "status" : "SUCCESS"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "06c5a5571f902dcc217453ef18a27a72",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.ScheduleReplyService.createScheduleReply"
        }
      }
    },
    "/api/v1/tickets/{ticketId}/threads/{threadId}/stopScheduleReply" : {
      "patch" : {
        "tags" : [ "ScheduleReplyInfo" ],
        "summary" : "Stop scheduled reply",
        "description" : "This API stops a scheduled reply until you update it again.",
        "operationId" : "stopScheduleReply",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "stopScheduleReplyResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "required" : [ "actions", "attachmentCount", "attachments", "author", "bcc", "canReply", "cc", "channel", "channelRelatedInfo", "content", "contentType", "createdTime", "direction", "fromEmailAddress", "fullContentURL", "hasAttach", "id", "impersonatedUser", "isContentTruncated", "isDescriptionThread", "isForward", "readReceipts", "replyTo", "responderId", "source", "status", "summary", "to", "visibility" ],
                    "properties" : {
                      "isDescriptionThread" : { },
                      "bcc" : {
                        "maxLength" : 13000,
                        "minLength" : 0,
                        "pattern" : "(^((.*?)((<)*?[a-zA-Z0-9]([\\w\\-.+]*)@([\\w\\-.]*)(\\.[a-zA-Z]{2,22}(.[a-zA-Z]{2}){0,2})(>)*?(\\s)*((,|;)\\s*)?))+|^$)"
                      },
                      "attachments" : {
                        "items" : {
                          "required" : [ "href", "id", "name", "previewurl", "size" ],
                          "properties" : {
                            "previewurl" : {
                              "maxLength" : 16000000,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "size" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "href" : {
                              "maxLength" : 500,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "isContentTruncated" : { },
                      "canReply" : { },
                      "channel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "EMAIL" ]
                      },
                      "source" : {
                        "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                        "properties" : {
                          "appName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "extId" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "permalink" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                          },
                          "appPhotoURL" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "content" : {
                        "maxLength" : 16000000,
                        "minLength" : 0
                      },
                      "impersonatedUser" : {
                        "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "channelRelatedInfo" : {
                        "required" : [ "externalLink", "isBestSolution", "isDeleted" ],
                        "properties" : {
                          "isDeleted" : { },
                          "isBestSolution" : { },
                          "externalLink" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "contentType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "text/plain", "text/html" ]
                      },
                      "direction" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "in", "out" ]
                      },
                      "cc" : {
                        "maxLength" : 13000,
                        "minLength" : 0,
                        "pattern" : "(^((.*?)((<)*?[a-zA-Z0-9]([\\w\\-.+]*)@([\\w\\-.]*)(\\.[a-zA-Z]{2,22}(.[a-zA-Z]{2}){0,2})(>)*?(\\s)*((,|;)\\s*)?))+|^$)"
                      },
                      "summary" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                      },
                      "visibility" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "public", "private" ]
                      },
                      "author" : {
                        "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "fullContentURL" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "isForward" : { },
                      "hasAttach" : { },
                      "responderId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "replyTo" : {
                        "maxLength" : 13000,
[...]
