{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Search",
    "version" : "1.0.0",
    "x-clan-group" : "integration",
    "x-module-group" : "search"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/{module}/searchHistory" : {
      "get" : {
        "tags" : [ "Search" ],
        "summary" : "User Search History",
        "description" : "Get User Search Criteria from search history",
        "operationId" : "getSearchHistory",
        "parameters" : [ {
          "name" : "module",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-z]+)",
            "description" : "",
            "enum" : [ "tickets" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "addSearchHistoryRespose template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxProperties" : 3,
                          "minProperties" : 3,
                          "required" : [ "condition", "fieldName", "value" ],
                          "properties" : {
                            "condition" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "is", "starts with" ]
                            },
                            "fieldName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "All" ]
                            },
                            "value" : {
                              "uniqueItems" : false,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+"
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ [ {
                        "condition" : "contains",
                        "fieldName" : "Subject",
                        "value" : [ "test" ]
                      } ] ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.search.READ", "Desk.contacts.READ", "Desk.articles.READ", "Desk.products.READ", "Desk.tickets.READ", "Desk.activities.calls.READ", "Desk.activities.tasks.READ", "Desk.activities.events.READ", "Desk.tasks.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "4bb8e283c8fe08a8907da4cc1b456e06",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.SearchService.searchHistory"
        }
      },
      "post" : {
        "tags" : [ "Search" ],
        "summary" : "Add User Search History",
        "description" : "To Add User Search Criteria to search history",
        "operationId" : "addSearchHistory",
        "parameters" : [ {
          "name" : "module",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([a-z]+)",
            "description" : "",
            "enum" : [ "tickets" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "queries" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "condition", "fieldName", "value" ],
                      "properties" : {
                        "condition" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "is", "starts with" ]
                        },
                        "fieldName" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "All" ]
                        },
                        "value" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+"
                          }
                        }
                      },
                      "additionalProperties" : { }
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "queries" : [ {
                      "condition" : "starts with",
                      "fieldName" : "Product Name",
                      "value" : [ "test" ]
                    } ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "addSearchHistoryRespose template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxProperties" : 3,
                          "minProperties" : 3,
                          "required" : [ "condition", "fieldName", "value" ],
                          "properties" : {
                            "condition" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "is", "starts with" ]
                            },
                            "fieldName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "All" ]
                            },
                            "value" : {
                              "uniqueItems" : false,
                              "items" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+"
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ [ {
                        "condition" : "contains",
                        "fieldName" : "Subject",
                        "value" : [ "test" ]
                      } ] ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.search.CREATE", "Desk.contacts.CREATE", "Desk.articles.CREATE", "Desk.products.CREATE", "Desk.tickets.CREATE", "Desk.activities.calls.CREATE", "Desk.activities.tasks.CREATE", "Desk.activities.events.CREATE", "Desk.tasks.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 800,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "deprecatedScopes" : [ "tasks" ]
            }
          },
          "clan-group" : "integration",
          "apihash" : "a57371395ee63af719d7d999401e47fd",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.SearchService.addOrUpdateSearchHistory"
        }
      }
    },
    "/api/v1/tickets/search" : {
      "get" : {
        "tags" : [ "Search" ],
        "summary" : "Search Tickets",
        "description" : "This API searches for tickets in your help desk.<br/> You can provide multiple values separated by commas, and the search will be performed on the field using any of the provided values. <br/><br/> <a href='#Search'>Learn more about search and how it works.</a>",
        "operationId" : "searchTickets",
        "parameters" : [ {
          "name" : "ticketNumber",
          "in" : "query",
          "description" : "The ticket's serial number !@exact match@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "The ticket's serial number !@exact match@!",
            "format" : "int32",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "accountName",
          "in" : "query",
          "description" : "Name of the account associated with the ticket !@wildcard search@! !@empty check@! !@not empty check@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 200,
            "minLength" : 0,
            "description" : "Name of the account associated with the ticket !@wildcard search@! !@empty check@! !@not empty check@!"
          }
        }, {
          "name" : "subject",
          "in" : "query",
          "description" : "Subject of the ticket !@wildcard search@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 1000,
            "minLength" : 0,
            "description" : "Subject of the ticket !@wildcard search@!"
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department from which the entity must be fetched. If the ID is not passed, then searches in all permitted departments !@exact match@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the entity must be fetched. If the ID is not passed, then searches in all permitted departments !@exact match@!",
            "format" : "int64"
          }
        }, {
          "name" : "channel",
          "in" : "query",
          "description" : "The channel through which the ticket was received !@exact match@! !@empty check@! !@not empty check@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "The channel through which the ticket was received !@exact match@! !@empty check@! !@not empty check@!",
            "x-dynamic-enum" : true,
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "customerResponseTimeRange",
          "in" : "query",
          "description" : "Key that filters tickets in which customer responses were recorded in a particular period of time. !Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ;! !For example,! customerResponseTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z2017-11-05T13:15:30.000Z,2018-09-05T13:15:30.000Z",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z)),(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))|null",
            "description" : "Key that filters tickets in which customer responses were recorded in a particular period of time. !Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ;! !For example,! customerResponseTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z2017-11-05T13:15:30.000Z,2018-09-05T13:15:30.000Z"
          }
        }, {
          "name" : "description",
          "in" : "query",
          "description" : "Description of the ticket !@wildcard search@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 0,
            "description" : "Description of the ticket !@wildcard search@!"
          }
        }, {
          "name" : "productName",
          "in" : "query",
          "description" : "Name of the product associated with the ticket !@wildcard search@! !@empty check@! !@not empty check@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 200,
            "minLength" : 0,
            "description" : "Name of the product associated with the ticket !@wildcard search@! !@empty check@! !@not empty check@!"
          }
        }, {
          "name" : "_all",
          "in" : "query",
          "description" : "Key that includes all the columns in the tickets module for search !@wildcard search@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Key that includes all the columns in the tickets module for search !@wildcard search@!"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Specifies the number of tickets to be fetched. !@default : 10@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Specifies the number of tickets to be fetched. !@default : 10@!",
            "format" : "int32",
            "x-custom-parameters-attributes" : {
              "entity" : "Search"
            }
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "The starting index for fetching results. !@default : 0@! !@starts from 0@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "The starting index for fetching results. !@default : 0@! !@starts from 0@!",
            "format" : "int32",
            "x-custom-parameters-attributes" : {
              "entity" : "Search"
            }
          }
        }, {
          "name" : "dueDateRange",
          "in" : "query",
          "description" : "Key that filters tickets due in a particular period of time. !Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ;! !For example,! dueDateRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z)),(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))|null",
            "description" : "Key that filters tickets due in a particular period of time. !Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ;! !For example,! dueDateRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "SortBy can be: !@relevance@,! !@modifiedTime@,! !@createdTime@,!  !@customerResponseTime@! To specify sorting order, use as given below: !For descending order: sortBy=@-@modifiedTime! !For ascending order: sortBy=modifiedTime!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "SortBy can be: !@relevance@,! !@modifiedTime@,! !@createdTime@,!  !@customerResponseTime@! To specify sorting order, use as given below: !For descending order: sortBy=@-@modifiedTime! !For ascending order: sortBy=modifiedTime!",
            "enum" : [ "relevance", "modifiedTime", "createdTime", "customerResponseTime" ]
          }
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "ID of the ticket !@exact match@! ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the ticket !@exact match@! ",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "tag",
          "in" : "query",
          "description" : "The tag associated with the ticket !@wildcard search@! !@empty check@! !@not empty check@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 3,
            "pattern" : "([0-9a-zA-Z_\\-\\*\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]{3,}|\\$\\{(?i)(Empty|NotEmpty)\\})",
            "description" : "The tag associated with the ticket !@wildcard search@! !@empty check@! !@not empty check@!",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "ID of the product associated with the ticket !@exact match@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the product associated with the ticket !@exact match@!",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "contactId",
          "in" : "query",
          "description" : "ID of the contact who raised the ticket !@exact match@! ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the contact who raised the ticket !@exact match@! ",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "contactName",
          "in" : "query",
          "description" : "The name of the contact who raised the ticket !@wildcard search@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 200,
            "minLength" : 0,
            "description" : "The name of the contact who raised the ticket !@wildcard search@!"
          }
        }, {
          "name" : "createdTimeRange",
          "in" : "query",
          "description" : "Key that filters tickets created in a particular period of time. !Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ;! !For example,! createdTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z)),(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))|null",
            "description" : "Key that filters tickets created in a particular period of time. !Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ;! !For example,! createdTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z"
          }
        }, {
          "name" : "priority",
          "in" : "query",
          "description" : "Priority of the ticket !@exact match@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Priority of the ticket !@exact match@!",
            "x-dynamic-enum" : true,
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "assigneeId",
          "in" : "query",
          "description" : "ID of the agent who is assigned to resolve the ticket !@exact match@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the agent who is assigned to resolve the ticket !@exact match@!",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "accountId",
          "in" : "query",
          "description" : "ID of the account associated with the ticket !@exact match@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the account associated with the ticket !@exact match@!",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "modifiedTimeRange",
          "in" : "query",
          "description" : "Key that filters tickets modified in a particular period of time. !Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ;! !For example,! modifiedTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z)),(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))|null",
            "description" : "Key that filters tickets modified in a particular period of time. !Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ;! !For example,! modifiedTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z"
          }
        }, {
          "name" : "category",
          "in" : "query",
          "description" : "The category of the ticket !@wildcard search@! !@empty check@! !@not empty check@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "The category of the ticket !@wildcard search@! !@empty check@! !@not empty check@!",
            "x-dynamic-enum" : true,
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Status of the ticket inclusive of custom status. example: 1. status=open,in progress 2. status=${open}  !@exact match@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Status of the ticket inclusive of custom status. example: 1. status=open,in progress 2. status=${open}  !@exact match@!",
            "x-dynamic-enum" : true,
            "x-custom-parameters-attributes" : {
              "split" : ","
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "searchTicketsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "count", "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "accountId", "assignee", "assigneeId", "category", "cf", "channel", "childTicketCount", "classification", "closedTime", "commentCount", "contact", "contactId", "createdBy", "createdTime", "customFields", "customerResponseTime", "department", "departmentId", "description", "dueDate", "email", "entitySkills", "id", "isArchived", "isEscalated", "isOverDue", "isOverDue", "isRead", "isSpam", "language", "lastThread", "layoutId", "modifiedBy", "modifiedTime", "onholdTime", "phone", "priority", "product", "productId", "resolution", "responseDueDate", "secondaryContacts", "sharedDepartments", "slaId", "status", "statusType", "subCategory", "subject", "team", "teamId", "threadCount", "ticketNumber", "webUrl" ],
                        "properties" : {
                          "modifiedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "subCategory" : {
                            "x-dynamic-enum" : true
                          },
                          "statusType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "Open", "Closed", "On Hold" ]
                          },
                          "subject" : {
                            "maxLength" : 1000,
                            "minLength" : 0,
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "replacementString" : "",
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "allowInvalid" : false,
                              "descrption" : "Subject of the ticket !@wildcard search@!",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "dueDate" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "replacementString" : "",
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "allowInvalid" : false,
                              "descrption" : "ID of the department from which the entity must be fetched. If the ID is not passed, then searches in all permitted departments !@exact match@!",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "channel" : {
                            "x-dynamic-enum" : true,
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "replacementString" : "",
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "allowInvalid" : false,
                              "descrption" : "The channel through which the ticket was received !@exact match@! !@empty check@! !@not empty check@!",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "onholdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "language" : {
                            "x-dynamic-enum" : true
                          },
                          "sharedDepartments" : {
                            "items" : {
                              "required" : [ "id", "name", "type" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "type" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "READ_ONLY", "READ_WRITE", "RESTRICTED_ACCESS" ]
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "resolution" : {
                            "maxLength" : 65535,
                            "minLength" : 0
                          },
                          "closedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "isOverDue" : { },
                          "contact" : {
                            "required" : [ "account", "email", "firstName", "id", "lastName", "mobile", "phone", "type" ],
                            "properties" : {
                              "lastName" : {
                                "maxLength" : 200,
                                "minLength" : 0
                              },
                              "firstName" : {
                                "maxLength" : 40,
                                "minLength" : 0
                              },
                              "phone" : {
                                "maxLength" : 50,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "replacementString" : "",
                                  "filterMatchedContent" : true,
                                  "antivirus" : false,
                                  "allowInvalid" : false,
                                  "descrption" : "The phone number provided in the ticket !@wildcard search@! !@empty check@! !@not empty check@!",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "split" : ",",
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "mobile" : {
                                "maxLength" : 50,
                                "minLength" : 0,
                                "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "replacementString" : "",
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "allowInvalid" : false,
                                  "descrption" : "ID of the ticket !@exact match@! ",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "split" : ",",
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "type" : {
                                "x-dynamic-enum" : true
                              },
                              "email" : {
                                "maxLength" : 255,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "replacementString" : "",
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "allowInvalid" : false,
                                  "descrption" : "The corresponding email address associated with the ticket. example: 1. email=jack* 2.email=${notempty} 3.email=${empty} !@wildcard search@! !@empty check@! !@not empty check@!",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "split" : ",",
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "account" : {
                                "required" : [ "accountName", "id", "website" ],
                                "properties" : {
                                  "website" : {
                                    "maxLength" : 120,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[0-9a-zA-Z][-.\\w]*(:[0-9])*(/?)([a-zA-Z0-9\\-\\.\\?\\,|\\:\\'\\/\\+=&amp;%\\$#_\\[\\]@!\\(\\)\\*;~]*)?$)|[*]"
                                  },
                                  "accountName" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "x-custom-parameters-attributes" : {
                                      "removeExif" : false,
                                      "replacementString" : "",
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "allowInvalid" : false,
                                      "descrption" : "Name of the account associated with the ticket !@wildcard search@! !@empty check@! !@not empty check@!",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "0,5",
                                      "importUrl" : false,
                                      "decrypt" : false
                                    }
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64",
                                    "x-custom-parameters-attributes" : {
                                      "removeExif" : false,
                                      "replacementString" : "",
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "allowInvalid" : false,
                                      "descrption" : "ID of the ticket !@exact match@! ",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "split" : ",",
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "0,5",
                                      "importUrl" : false,
                                      "decrypt" : false
                                    }
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "additionalProperties" : false
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "replacementString" : "",
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "allowInvalid" : false,
                              "descrption" : "ID of the ticket !@exact match@! ",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "customerResponseTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "productId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "replacementString" : "",
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "allowInvalid" : false,
                              "descrption" : "ID of the product associated with the ticket !@exact match@!",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "contactId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "replacementString" : "",
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "allowInvalid" : false,
                              "descrption" : "ID of the contact who raised the ticket !@exact match@! ",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "threadCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "secondaryContacts" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "priority" : {
                            "x-dynamic-enum" : true,
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "replacementString" : "",
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "allowInvalid" : false,
                              "descrption" : "Priority of the ticket !@exact match@!",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "classification" : {
                            "x-dynamic-enum" : true
                          },
                          "commentCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "accountId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "replacementString" : "",
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "allowInvalid" : false,
                              "descrption" : "ID of the account associated with the ticket !@exact match@!",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "phone" : {
                            "maxLength" : 120,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "replacementString" : "",
                              "filterMatchedContent" : true,
                              "antivirus" : false,
                              "allowInvalid" : false,
                              "descrption" : "The phone number provided in the ticket !@wildcard search@! !@empty check@! !@not empty check@!",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "webUrl" : {
                            "maxLength" : 500,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "assignee" : {
                            "required" : [ "emailId", "firstName", "id", "lastName", "photoURL", "zuid" ],
                            "properties" : {
                              "firstName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "photoURL" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              },
                              "lastName" : {
                                "maxLength" : 50,
                                "minLength" : 0
                              },
                              "emailId" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "replacementString" : "",
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "allowInvalid" : false,
                                  "descrption" : "ID of the ticket !@exact match@! ",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "split" : ",",
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "zuid" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int32"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "isSpam" : { },
                          "childTicketCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "status" : {
                            "x-dynamic-enum" : true,
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "replacementString" : "",
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "allowInvalid" : false,
                              "descrption" : "Status of the ticket inclusive of custom status. example: 1. status=open,in progress 2. status=${open}  !@exact match@!",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "entitySkills" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "ticketNumber" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "replacementString" : "",
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "allowInvalid" : false,
                              "descrption" : "The ticket's serial number !@exact match@!",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "customFields" : {
                            "additionalProperties" : false
                          },
                          "isArchived" : { },
                          "isRead" : { },
                          "description" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "replacementString" : "",
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "allowInvalid" : false,
                              "descrption" : "Description of the ticket !@wildcard search@!",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "responseDueDate" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "modifiedBy" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "department" : {
                            "required" : [ "id", "name" ],
                            "properties" : {
                              "name" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "replacementString" : "",
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "allowInvalid" : false,
                                  "descrption" : "ID of the ticket !@exact match@! ",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "split" : ",",
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "email" : {
                            "maxLength" : 150,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "replacementString" : "",
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "allowInvalid" : false,
                              "descrption" : "The corresponding email address associated with the ticket. example: 1. email=jack* 2.email=${notempty} 3.email=${empty} !@wildcard search@! !@empty check@! !@not empty check@!",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "product" : {
                            "required" : [ "id", "productName" ],
                            "properties" : {
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "replacementString" : "",
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "allowInvalid" : false,
                                  "descrption" : "ID of the ticket !@exact match@! ",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "split" : ",",
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "productName" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "replacementString" : "",
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "allowInvalid" : false,
                                  "descrption" : "Name of the product associated with the ticket !@wildcard search@! !@empty check@! !@not empty check@!",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              }
                            },
                            "additionalProperties" : false
                          },
                          "cf" : {
                            "additionalProperties" : false
                          },
                          "slaId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "lastThread" : {
                            "required" : [ "channel", "direction", "isDraft", "isForward" ],
                            "properties" : {
                              "channel" : {
                                "x-dynamic-enum" : true,
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "replacementString" : "",
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "allowInvalid" : false,
                                  "descrption" : "The channel through which the ticket was received !@exact match@! !@empty check@! !@not empty check@!",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "split" : ",",
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "isDraft" : { },
                              "isForward" : { },
                              "direction" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "in", "out" ]
                              }
                            },
                            "additionalProperties" : false
                          },
                          "team" : {
                            "required" : [ "id", "logoUrl", "name" ],
                            "properties" : {
                              "name" : {
                                "maxLength" : 50,
                                "minLength" : 1,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "replacementString" : "",
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "allowInvalid" : false,
                                  "descrption" : "ID of the ticket !@exact match@! ",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "split" : ",",
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "logoUrl" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "assigneeId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "replacementString" : "",
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "allowInvalid" : false,
                              "descrption" : "ID of the agent who is assigned to resolve the ticket !@exact match@!",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "layoutId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "createdBy" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "teamId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "isEscalated" : { },
                          "category" : {
                            "x-dynamic-enum" : true,
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "replacementString" : "",
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "allowInvalid" : false,
                              "descrption" : "The category of the ticket !@wildcard search@! !@empty check@! !@not empty check@!",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "relationshipType" : {
                            "x-dynamic-enum" : true,
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "replacementString" : "",
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "allowInvalid" : false,
                              "descrption" : "Type of relationship between the ticket and the contact !@exact match@!",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "split" : ",",
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          }
                        },
                        "additionalProperties" : { }
                      }
                    },
                    "count" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "modifiedTime" : "2016-06-21T13:16:14.000Z",
                        "ticketNumber" : "101",
                        "subCategory" : "Sub General",
                        "statusType" : "Open",
                        "subject" : "Hi. There is a sudden delay in the processing of the orders. Check this with high priority",
                        "dueDate" : "2016-06-21T16:16:16.000Z",
                        "departmentId" : "1892000000006907",
                        "isRead" : false,
                        "channel" : "FORUMS",
                        "onholdTime" : null,
                        "description" : "Hi. There is a sudden delay in the processing of the orders. Check this with high priority",
                        "resolution" : null,
                        "sharedDepartments" : [ {
                          "name" : "Sample Department Name",
                          "id" : "1892000000006909",
                          "type" : "READ_WRITE"
                        }, {
                          "name" : "Sample Department Name",
                          "id" : "1892000000006911",
                          "type" : "READ_ONLY"
                        } ],
                        "closedTime" : null,
                        "isOverDue" : false,
                        "contact" : {
                          "lastName" : "Carol",
                          "firstName" : "Lucas",
                          "phone" : "1 888 900 9646",
                          "mobile" : "9876543456",
                          "id" : "1892000000042032",
                          "type" : null,
                          "email" : "carol@zylker.com",
                          "account" : {
                            "website" : "www.desk.com",
                            "accountName" : "desk Account",
                            "id" : "1892000000975382"
                          }
                        },
                        "createdTime" : "2013-11-04T11:21:07.000Z",
                        "modifiedBy" : "52338000000043001",
                        "id" : "1892000000042034",
                        "department" : {
                          "name" : "dasdasdasd",
                          "id" : "1892000000006907"
                        },
                        "email" : "carol@zylker.com",
                        "customerResponseTime" : "2013-11-04T11:21:07.912Z",
                        "product" : null,
                        "cf" : {
                          "cf_permanentaddress" : null,
                          "cf_dateofpurchase" : null,
                          "cf_phone" : null,
                          "cf_numberofitems" : null,
                          "cf_url" : null,
                          "cf_secondaryemail" : null,
                          "cf_severitypercentage" : "0.0",
                          "cf_modelname" : "F3 2017"
                        },
                        "productId" : null,
                        "contactId" : "1892000000042032",
                        "threadCount" : "121",
                        "lastThread" : {
                          "channel" : "FEEDBACK",
                          "isDraft" : false,
                          "isForward" : false,
                          "direction" : "in"
                        },
                        "team" : {
                          "name" : "kjsdfjks",
                          "id" : "8920000000069071",
                          "logoUrl" : "https://desk.zoho.com/api/v1/teams/8920000000069071/logo?orgId=11278831"
                        },
                        "priority" : "High",
                        "classification" : null,
                        "assigneeId" : "1892000000056007",
                        "commentCount" : "1",
                        "phone" : "1 888 900 9646",
                        "createdBy" : "52338000000043001",
                        "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Cases/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                        "teamId" : "8920000000069071",
                        "isEscalated" : false,
                        "isSpam" : false,
                        "assignee" : {
                          "firstName" : "dasca",
                          "lastName" : "vins",
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/1892000000056007/photo?orgId=298902",
                          "emailId" : "jack@zylker.com",
                          "id" : "1892000000056007",
                          "zuid" : "640954748"
                        },
                        "category" : "general",
                        "status" : "Open"
                      } ],
                      "count" : 1
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ", "Desk.search.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "iscscope" : [ "SupCrmAPI" ]
            }
          },
          "clan-group" : "integration",
          "apihash" : "2661632682ddbea23f33949894bf3950",
          "module-group" : "search",
          "apimethod" : "com.zoho.support.restapi.SearchService.searchTickets"
        }
      }
    },
    "/api/v1/searchUserPreference" : {
      "get" : {
        "tags" : [ "Search" ],
        "summary" : "Get search user preferences",
        "description" : "This API returns information from UserPreference for search.",
        "operationId" : "getUserPreferences",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getUserPreferencesResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "numOfRecordsPerPage", "sortBy", "ticketReceivedTimeIn" ],
                  "properties" : {
                    "sortBy" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "MODIFIEDTIME", "RELEVANCE" ]
                    },
                    "ticketReceivedTimeIn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "THIRTYDAYS", "THREEMONTHS", "FIFTEENDAYS", "ALLDAYS", "SEVENDAYS" ]
                    },
                    "numOfRecordsPerPage" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "10", "20", "30", "40", "50" ]
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "ticketReceivedTimeIn" : "THIRTYDAYS",
                      "sortBy" : "RELEVANCE",
                      "numOfRecordsPerPage" : "30"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "675f5a356b1719a31fc11a9b2a6c5bdd",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.SearchUserPreferenceService.getUserPreferences"
        }
      },
      "patch" : {
        "tags" : [ "Search" ],
        "summary" : "update user preferences",
        "description" : "This API Updates UserPreference for search.",
        "operationId" : "addOrUpdateUserPreference",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "numOfRecordsPerPage", "sortBy", "ticketReceivedTimeIn" ],
                "properties" : {
                  "sortBy" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "MODIFIEDTIME", "RELEVANCE" ]
                  },
                  "ticketReceivedTimeIn" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "THIRTYDAYS", "THREEMONTHS", "FIFTEENDAYS", "ALLDAYS", "SEVENDAYS" ]
                  },
                  "numOfRecordsPerPage" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "10", "20", "30", "40", "50" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "ticketReceivedTimeIn" : "THIRTYDAYS",
                    "sortBy" : "RELEVANCE",
                    "numOfRecordsPerPage" : "30"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getUserPreferencesResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "numOfRecordsPerPage", "sortBy", "ticketReceivedTimeIn" ],
                  "properties" : {
                    "sortBy" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "MODIFIEDTIME", "RELEVANCE" ]
                    },
                    "ticketReceivedTimeIn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "THIRTYDAYS", "THREEMONTHS", "FIFTEENDAYS", "ALLDAYS", "SEVENDAYS" ]
                    },
                    "numOfRecordsPerPage" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "10", "20", "30", "40", "50" ]
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "ticketReceivedTimeIn" : "THIRTYDAYS",
                      "sortBy" : "RELEVANCE",
                      "numOfRecordsPerPage" : "30"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "be71df80d6362ffc08616e247e2380a5",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.SearchUserPreferenceService.addOrUpdateUserPreference"
        }
      }
    },
    "/api/v1/{moduleApiName}/search" : {
      "get" : {
        "tags" : [ "Search" ],
        "summary" : "Search  Records",
        "description" : "This API searches for records in your help desk.<br/> You can provide multiple values separated by commas, and the search will be performed on the field using any of the provided values.<br/><br/> <a href='#Search'>Learn more about search and how it works.</a>",
        "operationId" : "searchRecords",
        "parameters" : [ {
          "name" : "createdTimeRange",
          "in" : "query",
          "description" : "Key that filters tickets created in a particular period of time. !Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ;! !For example,! createdTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z)),(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))|null",
            "description" : "Key that filters tickets created in a particular period of time. !Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ;! !For example,! createdTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Specifies the number of tickets to be fetched. !@default : 10@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Specifies the number of tickets to be fetched. !@default : 10@!",
            "format" : "int32",
            "x-custom-parameters-attributes" : {
              "entity" : "Search"
            }
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "The starting index for fetching results. !@default : 0@! !@starts from 0@!",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "The starting index for fetching results. !@default : 0@! !@starts from 0@!",
            "format" : "int32",
            "x-custom-parameters-attributes" : {
              "entity" : "Search"
            }
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
[...]
