{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "SearchInteg",
    "version" : "1.0.0",
    "x-clan-group" : "integration",
    "x-module-group" : "integration"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/searchInteg/searchableFields" : {
      "get" : {
        "tags" : [ "SearchInteg" ],
        "summary" : "searchableFields",
        "description" : "This api to fetch searchable fields in a module",
        "operationId" : "searchableFields",
        "parameters" : [ {
          "name" : "module",
          "in" : "query",
          "description" : "Module to search in: @tickets@, @accounts@, @contacts@, @tasks@, @products@, or @solutions@ ",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Module to search in: @tickets@, @accounts@, @contacts@, @tasks@, @products@, or @solutions@ ",
            "enum" : [ "contacts" ]
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "searchableFieldsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "oneOf" : [ {
                          "required" : [ "apiName", "displayLabel", "i18NLabel", "id", "searchColumnName", "type" ],
                          "properties" : {
                            "displayLabel" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "apiName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "i18NLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "type" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Text", "URL", "Textarea", "Email", "Phone", "Multiselect", "Date", "DateTime", "Number", "Checkbox", "Percent", "Decimal", "Currency", "Picklist", "LookUp", "Lookup", "AutoNumber", "Boolean", "Fax" ]
                            },
                            "searchColumnName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+"
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "required" : [ "apiName", "displayLabel", "i18NLabel", "id", "searchColumnName", "type" ],
                            "properties" : {
                              "displayLabel" : {
                                "maxLength" : 200,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "apiName" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "i18NLabel" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "Text", "URL", "Textarea", "Email", "Phone", "Multiselect", "Date", "DateTime", "Number", "Checkbox", "Percent", "Decimal", "Currency", "Picklist", "LookUp", "Lookup", "AutoNumber", "Boolean", "Fax" ]
                              },
                              "searchColumnName" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+"
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "picklistValues" ],
                            "properties" : {
                              "picklistValues" : {
                                "required" : [ "allowedValues", "hasMore" ],
                                "properties" : {
                                  "allowedValues" : {
                                    "uniqueItems" : false,
                                    "items" : {
                                      "maxProperties" : 1,
                                      "minProperties" : 1,
                                      "required" : [ "value" ],
                                      "properties" : {
                                        "value" : {
                                          "maxLength" : 120,
                                          "minLength" : 0,
                                          "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\:\\/\\!\\P{InBasicLatin}\\s()]+"
                                        }
                                      },
                                      "additionalProperties" : false
                                    }
                                  },
                                  "hasMore" : { }
                                },
                                "additionalProperties" : false
                              }
                            }
                          } ]
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "displayLabel" : "Contact Name",
                        "apiName" : "contactId",
                        "i18NLabel" : "Contact Name",
                        "id" : "4013556845213",
                        "type" : "LookUp",
                        "searchColumnName" : "CONTACTNAME"
                      }, {
                        "displayLabel" : "Email",
                        "apiName" : "email",
                        "i18NLabel" : "Email",
                        "id" : "4013556845233",
                        "type" : "Email",
                        "searchColumnName" : "EMAIL"
                      }, {
                        "displayLabel" : "Phone",
                        "apiName" : "phone",
                        "i18NLabel" : "Phone",
                        "id" : "4013556845333",
                        "type" : "Phone",
                        "searchColumnName" : "PHONE"
                      }, {
                        "displayLabel" : "Subject",
                        "apiName" : "subject",
                        "i18NLabel" : "Subject",
                        "id" : "4013556845433",
                        "type" : "Text",
                        "searchColumnName" : "CASESUBJECT"
                      }, {
                        "displayLabel" : "Description",
                        "apiName" : "description",
                        "i18NLabel" : "Description",
                        "id" : "4013556845533",
                        "type" : "Textarea",
                        "searchColumnName" : "CASE_DESCRIPTION"
                      }, {
                        "displayLabel" : "Status",
                        "picklistValues" : {
                          "allowedValues" : [ {
                            "statusType" : "Open",
                            "value" : "Open"
                          }, {
                            "statusType" : "On Hold",
                            "value" : "On Hold"
                          }, {
                            "statusType" : "Open",
                            "value" : "Escalated"
                          }, {
                            "statusType" : "Closed",
                            "value" : "Closed"
                          }, {
                            "statusType" : "Closed",
                            "value" : "Completed"
                          }, {
                            "statusType" : "Open",
                            "value" : "Dev Open"
                          } ],
                          "hasMore" : false
                        },
                        "apiName" : "status",
                        "i18NLabel" : "Status",
                        "id" : "4013556846533",
                        "type" : "Picklist",
                        "searchColumnName" : "STATUS"
                      }, {
                        "displayLabel" : "Product Name",
                        "apiName" : "productId",
                        "i18NLabel" : "Product Name",
                        "id" : "4013556845733",
                        "type" : "LookUp",
                        "searchColumnName" : "PRODUCTNAME"
                      }, {
                        "displayLabel" : "Ticket Owner",
                        "apiName" : "assigneeId",
                        "i18NLabel" : "Ticket Owner",
                        "id" : "4013556845233",
                        "type" : "LookUp",
                        "searchColumnName" : "SMOWNERID"
                      }, {
                        "displayLabel" : "Created By",
                        "apiName" : "createdBy",
                        "i18NLabel" : "Created By",
                        "id" : "4013556835233",
                        "type" : "LookUp",
                        "searchColumnName" : "SMCREATORID"
                      }, {
                        "displayLabel" : "Modified By",
                        "apiName" : "modifiedBy",
                        "i18NLabel" : "Modified By",
                        "id" : "4013556845233",
                        "type" : "LookUp",
                        "searchColumnName" : "MODIFIEDBY"
                      }, {
                        "displayLabel" : "Created Time",
                        "apiName" : "createdTime",
                        "i18NLabel" : "Created Time",
                        "id" : "4013556825233",
                        "type" : "DateTime",
                        "searchColumnName" : "CREATEDTIME"
                      }, {
                        "displayLabel" : "Modified Time",
                        "apiName" : "modifiedTime",
                        "i18NLabel" : "Modified Time",
                        "id" : "4013556845223",
                        "type" : "DateTime",
                        "searchColumnName" : "MODIFIEDTIME"
                      }, {
                        "displayLabel" : "Common Status",
                        "apiName" : "common_status",
                        "i18NLabel" : "Common Status",
                        "id" : "4013556845113",
                        "type" : "Text",
                        "searchColumnName" : "STATUS"
                      }, {
                        "displayLabel" : "Ticket Id",
                        "apiName" : "ticketNumber",
                        "i18NLabel" : "Ticket Id",
                        "id" : "4013556845983",
                        "type" : "AutoNumber",
                        "searchColumnName" : "CASENUMBER"
                      }, {
                        "displayLabel" : "Account Name",
                        "apiName" : "accountId",
                        "i18NLabel" : "Account Name",
                        "id" : "4013556845783",
                        "type" : "LookUp",
                        "searchColumnName" : "ACCOUNTNAME"
                      }, {
                        "displayLabel" : "Due Date",
                        "apiName" : "dueDate",
                        "i18NLabel" : "Due Date",
                        "id" : "4013556845781",
                        "type" : "DateTime",
                        "searchColumnName" : "DUE_DATE"
                      }, {
                        "displayLabel" : "Priority",
                        "picklistValues" : {
                          "allowedValues" : [ {
                            "value" : "-None-"
                          }, {
                            "value" : "High"
                          }, {
                            "value" : "Medium"
                          }, {
                            "value" : "Low"
                          }, {
                            "value" : "Important"
                          }, {
                            "value" : "wow"
                          } ],
                          "hasMore" : false
                        },
                        "apiName" : "priority",
                        "i18NLabel" : "Priority",
                        "id" : "4013556845784",
                        "type" : "Picklist",
                        "searchColumnName" : "PRIORITY"
                      }, {
                        "displayLabel" : "Channel",
                        "picklistValues" : {
                          "allowedValues" : [ {
                            "value" : "Phone"
                          }, {
                            "value" : "Email"
                          }, {
                            "value" : "Web"
                          }, {
                            "value" : "Twitter"
                          }, {
                            "value" : "Facebook"
                          }, {
                            "value" : "Chat"
                          }, {
                            "value" : "Forums"
                          }, {
                            "statusType" : "NULL",
                            "value" : "Feedback Widget"
                          } ],
                          "hasMore" : false
                        },
                        "apiName" : "channel",
                        "i18NLabel" : "Channel",
                        "id" : "4013556845484",
                        "type" : "Picklist",
                        "searchColumnName" : "MODE"
                      }, {
                        "displayLabel" : "Category",
                        "picklistValues" : {
                          "allowedValues" : [ {
                            "value" : "General"
                          }, {
                            "value" : "Defects"
                          }, {
                            "value" : "General"
                          }, {
                            "value" : "Defects"
                          } ],
                          "hasMore" : false
                        },
                        "apiName" : "category",
                        "i18NLabel" : "Category",
                        "id" : "4013556845384",
                        "type" : "Picklist",
                        "searchColumnName" : "CATEGORY"
                      }, {
                        "displayLabel" : "Sub Category",
                        "picklistValues" : {
                          "allowedValues" : [ {
                            "value" : "Sub General"
                          }, {
                            "value" : "Sub Defects"
                          }, {
                            "value" : "Sub General"
                          }, {
                            "value" : "Sub Defects"
                          } ],
                          "hasMore" : false
                        },
                        "apiName" : "subCategory",
                        "i18NLabel" : "Sub Category",
                        "id" : "4013556845184",
                        "type" : "Picklist",
                        "searchColumnName" : "SUBCATEGORY"
                      }, {
                        "displayLabel" : "Ticket Closed Time",
                        "apiName" : "closedTime",
                        "i18NLabel" : "Ticket Closed Time",
                        "id" : "4013556845224",
                        "type" : "DateTime",
                        "searchColumnName" : "CLOSEDTIME"
                      }, {
                        "displayLabel" : "Is Overdue",
                        "apiName" : "isOverdue",
                        "i18NLabel" : "Is Overdue",
                        "id" : "4013556845194",
                        "type" : "Boolean",
                        "searchColumnName" : "ISOVERDUE"
                      }, {
                        "displayLabel" : "Is Escalated",
                        "apiName" : "isEscalated",
                        "i18NLabel" : "Is Escalated",
                        "id" : "4013556845184",
                        "type" : "Boolean",
                        "searchColumnName" : "ISESCALATED"
                      }, {
                        "displayLabel" : "Classification",
                        "picklistValues" : {
                          "allowedValues" : [ {
                            "value" : "-None-"
                          }, {
                            "value" : "Question"
                          }, {
                            "value" : "Problem"
                          }, {
                            "value" : "Feature"
                          }, {
                            "value" : "Others"
                          } ],
                          "hasMore" : false
                        },
                        "apiName" : "classification",
                        "i18NLabel" : "Classifications",
                        "id" : "4013556845164",
                        "type" : "Picklist",
                        "searchColumnName" : "CLASSIFICATION"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 800,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "0f77bd148c5c68619a9c702cd5542900",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.SearchIntegService.searchableFields"
        }
      }
    },
    "/api/v1/searchInteg/myPermissions" : {
      "get" : {
        "tags" : [ "SearchInteg" ],
        "summary" : "myPermissions",
        "description" : "This API enables global search and fetches only those modules and fields that the user can access. Each module has a unique ID as follows.:  @1 is Cases,  2 is Solutions, 3 is Contacts, 4 is Accounts, 5 is Feedback,  6 is Tasks,  7 is Products,  8 is Community@.",
        "operationId" : "myPermissions",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "myPermissionsResponseData template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "modules" ],
                  "properties" : {
                    "modules" : {
                      "items" : {
                        "oneOf" : [ {
                          "required" : [ "apiName", "fields", "moduleId", "moduleName", "permissions" ],
                          "properties" : {
                            "apiName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+"
                            },
                            "permissions" : {
                              "maxProperties" : 6,
                              "minProperties" : 6,
                              "required" : [ "create", "delete", "edit", "export", "import", "view" ],
                              "properties" : {
                                "view" : { },
                                "import" : { },
                                "edit" : { },
                                "create" : { },
                                "delete" : { },
                                "export" : { }
                              },
                              "additionalProperties" : false
                            },
                            "moduleName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Accounts", "Contacts", "Tasks", "Tickets", "Knowledge Base", "Products", "Calls", "Events" ]
                            },
                            "moduleId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "4", "3", "6", "1", "2", "7", "9", "10" ]
                            },
                            "fields" : {
                              "items" : {
                                "maxProperties" : 6,
                                "minProperties" : 6,
                                "required" : [ "apiName", "dbColumnName", "isReadOnly", "isVisible", "searchColumnName", "type" ],
                                "properties" : {
                                  "apiName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+"
                                  },
                                  "isReadOnly" : { },
                                  "isVisible" : { },
                                  "searchColumnName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+"
                                  },
                                  "type" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+"
                                  },
                                  "dbColumnName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "apiName", "fields", "moduleId", "moduleName", "permissions" ],
                          "properties" : {
                            "apiName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+"
                            },
                            "permissions" : {
                              "additionalProperties" : false,
                              "allOf" : [ {
                                "required" : [ "create", "delete", "deleteComment", "edit", "editComment", "export", "import", "view" ],
                                "properties" : {
                                  "view" : { },
                                  "import" : { },
                                  "edit" : { },
                                  "deleteComment" : { },
                                  "editComment" : { },
                                  "create" : { },
                                  "delete" : { },
                                  "export" : { }
                                },
                                "additionalProperties" : false
                              }, {
                                "required" : [ "addFollowers", "changeOwner", "closeTicket", "deleteComment", "editComment", "handleUnassigned", "mailReview", "mailSend", "mergeTickets", "unassignedChangeOwner" ],
                                "properties" : {
                                  "mergeTickets" : { },
                                  "changeOwner" : { },
                                  "handleUnassigned" : { },
                                  "deleteComment" : { },
                                  "closeTicket" : { },
                                  "editComment" : { },
                                  "addFollowers" : { },
                                  "mailReview" : { },
                                  "mailSend" : { },
                                  "unassignedChangeOwner" : { }
                                }
                              } ]
                            },
                            "moduleName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Accounts", "Contacts", "Tasks", "Tickets", "Knowledge Base", "Products", "Calls", "Events" ]
                            },
                            "moduleId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "4", "3", "6", "1", "2", "7", "9", "10" ]
                            },
                            "fields" : {
                              "items" : {
                                "maxProperties" : 6,
                                "minProperties" : 6,
                                "required" : [ "apiName", "dbColumnName", "isReadOnly", "isVisible", "searchColumnName", "type" ],
                                "properties" : {
                                  "apiName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+"
                                  },
                                  "isReadOnly" : { },
                                  "isVisible" : { },
                                  "searchColumnName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+"
                                  },
                                  "type" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+"
                                  },
                                  "dbColumnName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "required" : [ "apiName", "fields", "moduleId", "moduleName", "permissions" ],
                          "properties" : {
                            "apiName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+"
                            },
                            "permissions" : {
                              "required" : [ "create", "delete", "deleteComment", "edit", "editComment", "export", "import", "view" ],
                              "properties" : {
                                "view" : { },
                                "import" : { },
                                "edit" : { },
                                "deleteComment" : { },
                                "editComment" : { },
                                "create" : { },
                                "delete" : { },
                                "export" : { }
                              },
                              "additionalProperties" : false
                            },
                            "moduleName" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Accounts", "Contacts", "Tasks", "Tickets", "Knowledge Base", "Products", "Calls", "Events" ]
                            },
                            "moduleId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "4", "3", "6", "1", "2", "7", "9", "10" ]
                            },
                            "fields" : {
                              "items" : {
                                "maxProperties" : 6,
                                "minProperties" : 6,
                                "required" : [ "apiName", "dbColumnName", "isReadOnly", "isVisible", "searchColumnName", "type" ],
                                "properties" : {
                                  "apiName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+"
                                  },
                                  "isReadOnly" : { },
                                  "isVisible" : { },
                                  "searchColumnName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+"
                                  },
                                  "type" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+"
                                  },
                                  "dbColumnName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modules" : [ {
                        "apiName" : "accounts",
                        "permissions" : {
                          "view" : true,
                          "import" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true
                        },
                        "moduleName" : "Accountsssssssss",
                        "moduleId" : "4",
                        "fields" : [ {
                          "apiName" : "ownerId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "SMOWNERNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Account Owner"
                        }, {
                          "apiName" : "accountName",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "ACCOUNTNAME",
                          "type" : "Text",
                          "dbColumnName" : "Account Name"
                        }, {
                          "apiName" : "phone",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "PHONE",
                          "type" : "Phone",
                          "dbColumnName" : "Phone"
                        }, {
                          "apiName" : "email",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "EMAIL",
                          "type" : "Email",
                          "dbColumnName" : "Email"
                        }, {
                          "apiName" : "fax",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "FAX",
                          "type" : "Fax",
                          "dbColumnName" : "Fax"
                        }, {
                          "apiName" : "website",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "WEBSITE",
                          "type" : "URL",
                          "dbColumnName" : "Website"
                        }, {
                          "apiName" : "industry",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "INDUSTRY",
                          "type" : "Picklist",
                          "dbColumnName" : "Industry"
                        }, {
                          "apiName" : "annualrevenue",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "ANNUALREVENUE",
                          "type" : "Currency",
                          "dbColumnName" : "Annual Revenue"
                        }, {
                          "apiName" : "createdBy",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "SMCREATORNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Created By"
                        }, {
                          "apiName" : "modifiedBy",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "MODIFIERNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Modified By"
                        }, {
                          "apiName" : "createdTime",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "CREATEDTIME",
                          "type" : "DateTime",
                          "dbColumnName" : "Created Time"
                        }, {
                          "apiName" : "modifiedTime",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "MODIFIEDTIME",
                          "type" : "DateTime",
                          "dbColumnName" : "Modified Time"
                        }, {
                          "apiName" : "common_status",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "STATUS",
                          "type" : "Text",
                          "dbColumnName" : "Common Status"
                        }, {
                          "apiName" : "street",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "BILLINGSTREET",
                          "type" : "Text",
                          "dbColumnName" : "Street"
                        }, {
                          "apiName" : "city",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "BILLINGCITY",
                          "type" : "Text",
                          "dbColumnName" : "City"
                        }, {
                          "apiName" : "state",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "BILLINGSTATE",
                          "type" : "Text",
                          "dbColumnName" : "State"
                        }, {
                          "apiName" : "code",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "BILLINGCODE",
                          "type" : "Text",
                          "dbColumnName" : "Code"
                        }, {
                          "apiName" : "country",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "BILLINGCOUNTRY",
                          "type" : "Text",
                          "dbColumnName" : "Country"
                        }, {
                          "apiName" : "description",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "DESCRIPTION",
                          "type" : "Textarea",
                          "dbColumnName" : "Description"
                        }, {
                          "apiName" : "crmAccountId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CRMACCOUNTID",
                          "type" : "Number",
                          "dbColumnName" : "Mapped With CRM"
                        } ]
                      }, {
                        "apiName" : "contacts",
                        "permissions" : {
                          "view" : true,
                          "import" : true,
                          "edit" : false,
                          "create" : true,
                          "delete" : false,
                          "export" : true
                        },
                        "moduleName" : "Contacts",
                        "moduleId" : "3",
                        "fields" : [ {
                          "apiName" : "firstName",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "FIRSTNAME",
                          "type" : "Text",
                          "dbColumnName" : "First Name"
                        }, {
                          "apiName" : "lastName",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "LASTNAME",
                          "type" : "Text",
                          "dbColumnName" : "Last Name"
                        }, {
                          "apiName" : "email",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "EMAIL",
                          "type" : "Email",
                          "dbColumnName" : "Email"
                        }, {
                          "apiName" : "accountId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "ACCOUNTNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Account Name"
                        }, {
                          "apiName" : "phone",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "PHONE",
                          "type" : "Phone",
                          "dbColumnName" : "Phone"
                        }, {
                          "apiName" : "mobile",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "MOBILE",
                          "type" : "Phone",
                          "dbColumnName" : "Mobile"
                        }, {
                          "apiName" : "title",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "TITLE",
                          "type" : "Text",
                          "dbColumnName" : "Title"
                        }, {
                          "apiName" : "ownerId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "SMOWNERNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Contact Owner"
                        }, {
                          "apiName" : "type",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "TYPE",
                          "type" : "Picklist",
                          "dbColumnName" : "Type"
                        }, {
                          "apiName" : "createdBy",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "SMCREATORNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Created By"
                        }, {
                          "apiName" : "modifiedBy",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "MODIFIERNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Modified By"
                        }, {
                          "apiName" : "createdTime",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "CREATEDTIME",
                          "type" : "DateTime",
                          "dbColumnName" : "Created Time"
                        }, {
                          "apiName" : "modifiedTime",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "MODIFIEDTIME",
                          "type" : "DateTime",
                          "dbColumnName" : "Modified Time"
                        }, {
                          "apiName" : "fullName",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CONTACTNAME",
                          "type" : "Text",
                          "dbColumnName" : "Full Name"
                        }, {
                          "apiName" : "common_status",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "STATUS",
                          "type" : "Text",
                          "dbColumnName" : "Common Status"
                        }, {
                          "apiName" : "salutation",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "SALUTATION",
                          "type" : "Picklist",
                          "dbColumnName" : "Salutation"
                        }, {
                          "apiName" : "isEndUser",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "ISPORTALUSER",
                          "type" : "Number",
                          "dbColumnName" : "isPortalUser"
                        }, {
                          "apiName" : "street",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "MAILINGSTREET",
                          "type" : "Text",
                          "dbColumnName" : "Street"
                        }, {
                          "apiName" : "city",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "MAILINGCITY",
                          "type" : "Text",
                          "dbColumnName" : "City"
                        }, {
                          "apiName" : "state",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "MAILINGSTATE",
                          "type" : "Text",
                          "dbColumnName" : "State"
                        }, {
                          "apiName" : "zip",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "MAILINGZIP",
                          "type" : "Text",
                          "dbColumnName" : "Zip"
                        }, {
                          "apiName" : "country",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "MAILINGCOUNTRY",
                          "type" : "Text",
                          "dbColumnName" : "Country"
                        }, {
                          "apiName" : "description",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "DESCRIPTION",
                          "type" : "Textarea",
                          "dbColumnName" : "Description"
                        }, {
                          "apiName" : "twitter",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "TWITTER",
                          "type" : "Text",
                          "dbColumnName" : "Twitter"
                        }, {
                          "apiName" : "facebook",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "FACEBOOK",
                          "type" : "Text",
                          "dbColumnName" : "Facebook"
                        }, {
                          "apiName" : "crmContactId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CRMCONTACTID",
                          "type" : "Number",
                          "dbColumnName" : "Mapped With CRM"
                        }, {
                          "apiName" : "secondaryEmail",
                          "isReadOnly" : false,
                          "isVisible" : false,
                          "searchColumnName" : "SECONDARYEMAIL",
                          "type" : "Email",
                          "dbColumnName" : "Secondary Email"
                        }, {
                          "apiName" : "crmContactType",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "CRM_CONTACT_TYPE",
                          "type" : "Text",
                          "dbColumnName" : "CRM Contact Type"
                        }, {
                          "apiName" : "potentialsRevenue",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "CRM_POTENTIALS_REVENUE",
                          "type" : "Currency",
                          "dbColumnName" : "Total Revenue"
                        }, {
                          "apiName" : "potentialsClosingDate",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "CRM_POTENTIALS_CLOSINGDATE",
                          "type" : "Date",
                          "dbColumnName" : "Closing Date"
                        }, {
                          "apiName" : "revenueReceived",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "TOTAL_REVENUE_RECEIVED",
                          "type" : "Currency",
                          "dbColumnName" : "Revenue Received"
                        }, {
                          "apiName" : "customerSince",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "CRM_CUSTOMER_SINCE",
                          "type" : "Date",
                          "dbColumnName" : "Customer Since"
                        } ]
                      }, {
                        "apiName" : "taks",
                        "permissions" : {
                          "view" : true,
                          "import" : true,
                          "edit" : true,
                          "deleteComment" : true,
                          "editComment" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true
                        },
                        "moduleName" : "Tasksssssssssssssssssssss",
                        "moduleId" : "6",
                        "fields" : [ {
                          "apiName" : "ownerId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "SMOWNERNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Task Owner"
                        }, {
                          "apiName" : "subject",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "SUBJECT",
                          "type" : "Text",
                          "dbColumnName" : "Subject"
                        }, {
                          "apiName" : "ticketId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CASEID",
                          "type" : "LookUp",
                          "dbColumnName" : "Request"
                        }, {
                          "apiName" : "category",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CATEGORY",
                          "type" : "Picklist",
                          "dbColumnName" : "Category"
                        }, {
                          "apiName" : "dueDate",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "DUEDATE",
                          "type" : "DateTime",
                          "dbColumnName" : "Due Date"
                        }, {
                          "apiName" : "status",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "STATUS",
                          "type" : "Picklist",
                          "dbColumnName" : "Status"
                        }, {
                          "apiName" : "priority",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "PRIORITY",
                          "type" : "Picklist",
                          "dbColumnName" : "Priority"
                        }, {
                          "apiName" : "reminder",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "REMINDAT",
                          "type" : "DateTime",
                          "dbColumnName" : "Remind At"
                        }, {
                          "apiName" : "creatorId",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "SMCREATORNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Created By"
                        }, {
                          "apiName" : "modifiedBy",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "MODIFIERNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Modified By"
                        }, {
                          "apiName" : "createdTime",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "CREATEDTIME",
                          "type" : "DateTime",
                          "dbColumnName" : "Created Time"
                        }, {
                          "apiName" : "modifiedTime",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "MODIFIEDTIME",
                          "type" : "DateTime",
                          "dbColumnName" : "Modified Time"
                        }, {
                          "apiName" : "description",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "DESCRIPTION",
                          "type" : "Textarea",
                          "dbColumnName" : "Description"
                        }, {
                          "apiName" : "departmentId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "DEP_ID",
                          "type" : "LookUp",
                          "dbColumnName" : "Department"
                        }, {
                          "apiName" : "teamId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "TEAM_ID",
                          "type" : "Text",
                          "dbColumnName" : "Team"
                        }, {
                          "apiName" : "contactId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CONTACTNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Contact Name"
                        } ]
                      }, {
                        "apiName" : "tickets",
                        "permissions" : {
                          "mergeTickets" : true,
                          "changeOwner" : true,
                          "import" : true,
                          "handleUnassigned" : true,
                          "edit" : true,
                          "deleteComment" : true,
                          "closeTicket" : true,
                          "mailReview" : true,
                          "delete" : true,
                          "view" : true,
                          "editComment" : true,
                          "create" : true,
                          "addFollowers" : true,
                          "export" : true,
                          "mailSend" : true,
                          "unassignedChangeOwner" : false
                        },
                        "moduleName" : "Cases",
                        "moduleId" : "1",
                        "fields" : [ {
                          "apiName" : "departmentId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "DEP_ID",
                          "type" : "LookUp",
                          "dbColumnName" : "Department"
                        }, {
                          "apiName" : "contactId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CONTACTNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Contact Name"
                        }, {
                          "apiName" : "email",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "EMAIL",
                          "type" : "Email",
                          "dbColumnName" : "Email"
                        }, {
                          "apiName" : "phone",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "PHONE",
                          "type" : "Phone",
                          "dbColumnName" : "Phone"
                        }, {
                          "apiName" : "subject",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CASESUBJECT",
                          "type" : "Text",
                          "dbColumnName" : "Subject"
                        }, {
                          "apiName" : "description",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CASE_DESCRIPTION",
                          "type" : "Textarea",
                          "dbColumnName" : "Description"
                        }, {
                          "apiName" : "status",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "STATUS",
                          "type" : "Picklist",
                          "dbColumnName" : "Status"
                        }, {
                          "apiName" : "productId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "PRODUCTNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Product Name"
                        }, {
                          "apiName" : "assigneeId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "SMOWNERNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Case Owner"
                        }, {
                          "apiName" : "createdBy",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "SMCREATORNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Created By"
                        }, {
                          "apiName" : "modifiedBy",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "MODIFIERNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Modified By"
                        }, {
                          "apiName" : "createdTime",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "CREATEDTIME",
                          "type" : "DateTime",
                          "dbColumnName" : "Created Time"
                        }, {
                          "apiName" : "modifiedTime",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "MODIFIEDTIME",
                          "type" : "DateTime",
                          "dbColumnName" : "Modified Time"
                        }, {
                          "apiName" : "common_status",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "STATUS",
                          "type" : "Text",
                          "dbColumnName" : "Common Status"
                        }, {
                          "apiName" : "ticketNumber",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "CASENUMBER",
                          "type" : "AutoNumber",
                          "dbColumnName" : "Request Id"
                        }, {
                          "apiName" : "isSpam",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "ISSPAM",
                          "type" : "Number",
                          "dbColumnName" : "isSpam"
                        }, {
                          "apiName" : "threadStatus",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "THREADSTATUS",
                          "type" : "Number",
                          "dbColumnName" : "Thread Status"
                        }, {
                          "apiName" : "resolution",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "RESOLUTION",
                          "type" : "Textarea",
                          "dbColumnName" : "Resolution"
                        }, {
                          "apiName" : "toAddress",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "RECEIPIENTS",
                          "type" : "Text",
                          "dbColumnName" : "To Address"
                        }, {
                          "apiName" : "customerResponseTime",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "CUST_RESP_TIME",
                          "type" : "Number",
                          "dbColumnName" : "Customer Responded Time"
                        }, {
                          "apiName" : "threadCount",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "THREAD_COUNT",
                          "type" : "Number",
                          "dbColumnName" : "Thread Count"
                        }, {
                          "apiName" : "accountId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "ACCOUNTNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Account Name"
                        }, {
                          "apiName" : "dueDate",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "DUE_DATE",
                          "type" : "DateTime",
                          "dbColumnName" : "Due Date"
                        }, {
                          "apiName" : "priority",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "PRIORITY",
                          "type" : "Picklist",
                          "dbColumnName" : "Priority"
                        }, {
                          "apiName" : "channel",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "MODE",
                          "type" : "Picklist",
                          "dbColumnName" : "Mode"
                        }, {
                          "apiName" : "category",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CATEGORY",
                          "type" : "Picklist",
                          "dbColumnName" : "Category"
                        }, {
                          "apiName" : "subCategory",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "SUBCATEGORY",
                          "type" : "Picklist",
                          "dbColumnName" : "Sub Category"
                        }, {
                          "apiName" : "closedTime",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "CLOSEDTIME",
                          "type" : "DateTime",
                          "dbColumnName" : "Case Closed Time"
                        }, {
                          "apiName" : "isOverdue",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "ISOVERDUE",
                          "type" : "Boolean",
                          "dbColumnName" : "Is Overdue"
                        }, {
                          "apiName" : "isEscalated",
                          "isReadOnly" : false,
                          "isVisible" : false,
                          "searchColumnName" : "ISESCALATED",
                          "type" : "Boolean",
                          "dbColumnName" : "Is Escalated"
                        }, {
                          "apiName" : "classification",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CLASSIFICATION",
                          "type" : "Picklist",
                          "dbColumnName" : "Classification"
                        }, {
                          "apiName" : "happinessRating",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "SURVEY_RATING",
                          "type" : "Text",
                          "dbColumnName" : "Happiness Rating"
                        }, {
                          "apiName" : "agentRespondedTime",
                          "isReadOnly" : false,
                          "isVisible" : false,
                          "searchColumnName" : "AGENT_RESPOND_TIME",
                          "type" : "DateTime",
                          "dbColumnName" : "Agent Responded Time"
                        }, {
                          "apiName" : "commentCount",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "COMMENT_COUNT",
                          "type" : "Number",
                          "dbColumnName" : "Comment Count"
                        } ]
                      }, {
                        "apiName" : "articles",
                        "permissions" : {
                          "view" : true,
                          "import" : true,
                          "edit" : true,
                          "deleteComment" : true,
                          "editComment" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true
                        },
                        "moduleName" : "Knowledge Base",
                        "moduleId" : "2",
                        "fields" : [ {
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "SOLUTIONTITLE",
                          "type" : "Text",
                          "dbColumnName" : "Solution Title"
                        }, {
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "ANSWERS",
                          "type" : "Textarea",
                          "dbColumnName" : "Answer"
                        }, {
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "TOPIC_NAME",
                          "type" : "Text",
                          "dbColumnName" : "Topic"
                        }, {
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "SMOWNERNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Solution Owner"
                        }, {
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "ISPUBLIC",
                          "type" : "Boolean",
                          "dbColumnName" : "Public"
                        }, {
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "STATUS",
                          "type" : "Picklist",
                          "dbColumnName" : "Status"
                        }, {
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "SMCREATORNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Created By"
                        }, {
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "MODIFIERNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Modified By"
                        }, {
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CREATEDTIME",
                          "type" : "DateTime",
                          "dbColumnName" : "Created Time"
                        }, {
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "MODIFIEDTIME",
                          "type" : "DateTime",
                          "dbColumnName" : "Modified Time"
                        }, {
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "STATUS",
                          "type" : "Text",
                          "dbColumnName" : "Common Status"
                        }, {
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "DEP_ID",
                          "type" : "LookUp",
                          "dbColumnName" : "Department"
                        }, {
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "TAGS",
                          "type" : "Text",
                          "dbColumnName" : "Tags"
                        }, {
                          "apiName" : "cf_test_field",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "SOLUTIONCF51",
                          "type" : "Number",
                          "dbColumnName" : "Test field"
                        } ]
                      }, {
                        "apiName" : "products",
                        "permissions" : {
                          "view" : true,
                          "import" : true,
                          "edit" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true
                        },
                        "moduleName" : "Productssssssssssssssssss",
                        "moduleId" : "7",
                        "fields" : [ {
                          "apiName" : "ownerId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "SMOWNERNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Product Owner"
                        }, {
                          "apiName" : "productName",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "PRODUCTNAME",
                          "type" : "Text",
                          "dbColumnName" : "Product Name"
                        }, {
                          "apiName" : "productCode",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "PRODUCTCODE",
                          "type" : "Text",
                          "dbColumnName" : "Product Code"
                        }, {
                          "apiName" : "manufacturer",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "MANUFACTURER",
                          "type" : "Picklist",
                          "dbColumnName" : "Manufacturer"
                        }, {
                          "apiName" : "productCategory",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CATEGORY",
                          "type" : "Picklist",
                          "dbColumnName" : "Product Category"
                        }, {
                          "apiName" : "createdBy",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "SMCREATORNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Created By"
                        }, {
                          "apiName" : "modifiedBy",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "MODIFIERNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Modified By"
                        }, {
                          "apiName" : "createdTime",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "CREATEDTIME",
                          "type" : "DateTime",
                          "dbColumnName" : "Created Time"
                        }, {
                          "apiName" : "modifiedTime",
                          "isReadOnly" : true,
                          "isVisible" : true,
                          "searchColumnName" : "MODIFIEDTIME",
                          "type" : "DateTime",
                          "dbColumnName" : "Modified Time"
                        }, {
                          "apiName" : "common_status",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "STATUS",
                          "type" : "Text",
                          "dbColumnName" : "Common Status"
                        }, {
                          "apiName" : "unitPrice",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "UNITPRICE",
                          "type" : "Currency",
                          "dbColumnName" : "Unit Price"
                        }, {
                          "apiName" : "description",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "DESCRIPTION",
                          "type" : "Textarea",
                          "dbColumnName" : "Description"
                        }, {
                          "apiName" : "departmentIds",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "DEP_ID",
                          "type" : "Multiselect",
                          "dbColumnName" : "Department"
                        } ]
                      }, {
                        "apiName" : "calls",
                        "permissions" : {
                          "view" : true,
                          "import" : true,
                          "edit" : true,
                          "deleteComment" : true,
                          "editComment" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true
                        },
                        "moduleName" : "Calls",
                        "moduleId" : "9",
                        "fields" : [ {
                          "apiName" : "departmentId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "DEP_ID",
                          "type" : "LookUp",
                          "dbColumnName" : "Department"
                        }, {
                          "apiName" : "subject",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "SUBJECT",
                          "type" : "Text",
                          "dbColumnName" : "Subject"
                        }, {
                          "apiName" : "direction",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CALLDIRECTION",
                          "type" : "Text",
                          "dbColumnName" : "Direction"
                        }, {
                          "apiName" : "status",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "STARTTIME",
                          "type" : "DateTime",
                          "dbColumnName" : "Call Status"
                        }, {
                          "apiName" : "ticketId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CASEID",
                          "type" : "LookUp",
                          "dbColumnName" : "Request"
                        }, {
                          "apiName" : "contactId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CONTACTNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Contact Name"
                        }, {
                          "apiName" : "priority",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "PRIORITY",
                          "type" : "Picklist",
                          "dbColumnName" : "Priority"
                        }, {
                          "apiName" : "ownerId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "OWNERID",
                          "type" : "LookUp",
                          "dbColumnName" : "Call Owner"
                        }, {
                          "apiName" : "description",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "DESCRIPTION",
                          "type" : "Textarea",
                          "dbColumnName" : "Description"
                        }, {
                          "apiName" : "reminder",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "REMINDAT",
                          "type" : "DateTime",
                          "dbColumnName" : "Remind me"
                        }, {
                          "apiName" : "creatorId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CREATEDBY",
                          "type" : "LookUp",
                          "dbColumnName" : "Created By"
                        }, {
                          "apiName" : "modifiedBy",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "MODIFIERNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Modified By"
                        }, {
                          "apiName" : "createdTime",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CREATEDTIME",
                          "type" : "DateTime",
                          "dbColumnName" : "Created Time"
                        }, {
                          "apiName" : "modifiedTime",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "MODIFIEDTIME",
                          "type" : "DateTime",
                          "dbColumnName" : "Modified Time"
                        }, {
                          "apiName" : "teamId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "TEAM_ID",
                          "type" : "Text",
                          "dbColumnName" : "Team"
                        }, {
                          "apiName" : "cf_url_1",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CALLCF1",
                          "type" : "URL",
                          "dbColumnName" : "URL 1"
                        }, {
                          "apiName" : "cf_picklist",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CALLCF2",
                          "type" : "Picklist",
                          "dbColumnName" : "Picklist"
                        } ]
                      }, {
                        "apiName" : "events",
                        "permissions" : {
                          "view" : true,
                          "import" : true,
                          "edit" : true,
                          "deleteComment" : true,
                          "editComment" : true,
                          "create" : true,
                          "delete" : true,
                          "export" : true
                        },
                        "moduleName" : "Events",
                        "moduleId" : "10",
                        "fields" : [ {
                          "apiName" : "departmentId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "DEP_ID",
                          "type" : "LookUp",
                          "dbColumnName" : "Department"
                        }, {
                          "apiName" : "subject",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "SUBJECT",
                          "type" : "Text",
                          "dbColumnName" : "Subject"
                        }, {
                          "apiName" : "category",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CATEGORY",
                          "type" : "Picklist",
                          "dbColumnName" : "Category"
                        }, {
                          "apiName" : "status",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "STATUS",
                          "type" : "Picklist",
                          "dbColumnName" : "Status"
                        }, {
                          "apiName" : "startTime",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "EVENTSTARTDATETIME",
                          "type" : "DateTime",
                          "dbColumnName" : "Start Time"
                        }, {
                          "apiName" : "ticketId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CASEID",
                          "type" : "LookUp",
                          "dbColumnName" : "Request"
                        }, {
                          "apiName" : "contactId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CONTACTNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Contact Name"
                        }, {
                          "apiName" : "priority",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "PRIORITY",
                          "type" : "Picklist",
                          "dbColumnName" : "Priority"
                        }, {
                          "apiName" : "ownerId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "OWNERID",
                          "type" : "LookUp",
                          "dbColumnName" : "Event Owner"
                        }, {
                          "apiName" : "description",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "DESCRIPTION",
                          "type" : "Textarea",
                          "dbColumnName" : "Description"
                        }, {
                          "apiName" : "reminder",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "REMINDAT",
                          "type" : "DateTime",
                          "dbColumnName" : "Remind me"
                        }, {
                          "apiName" : "creatorId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CREATEDBY",
                          "type" : "LookUp",
                          "dbColumnName" : "Created By"
                        }, {
                          "apiName" : "modifiedBy",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "MODIFIERNAME",
                          "type" : "LookUp",
                          "dbColumnName" : "Modified By"
                        }, {
                          "apiName" : "createdTime",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "CREATEDTIME",
                          "type" : "DateTime",
                          "dbColumnName" : "Created Time"
                        }, {
                          "apiName" : "modifiedTime",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "MODIFIEDTIME",
                          "type" : "DateTime",
                          "dbColumnName" : "Modified Time"
                        }, {
                          "apiName" : "teamId",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "TEAM_ID",
                          "type" : "Text",
                          "dbColumnName" : "Team"
                        }, {
                          "apiName" : "cf_country",
                          "isReadOnly" : false,
                          "isVisible" : true,
                          "searchColumnName" : "EVENTCF251",
                          "type" : "Multiselect",
                          "dbColumnName" : "Country"
                        } ]
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "iscscope" : [ "SupCrmAPI" ]
            }
          },
          "clan-group" : "integration",
          "apihash" : "eb38e3f77989bfc5e19bb3db128347e0",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.SearchIntegService.myPermissions"
        }
      }
    },
    "/api/v1/searchInteg/lastAccessed" : {
      "get" : {
        "tags" : [ "SearchInteg" ],
        "operationId" : "getLastAccessed",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getLastAccessedResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "lastAccessedDepartment" ],
                  "properties" : {
                    "lastAccessedDepartment" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
[...]
