{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Skill",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "automation"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/skills" : {
      "get" : {
        "tags" : [ "Skill" ],
        "summary" : "List all skills",
        "description" : "This API lists all skills in a department",
        "operationId" : "getSkills",
        "parameters" : [ {
          "name" : "searchString",
          "in" : "query",
          "description" : "Search string, Used to filter skills by name starting with this string",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
            "description" : "Search string, Used to filter skills by name starting with this string"
          }
        }, {
          "name" : "skillTypeId",
          "in" : "query",
          "description" : "Skill Type Id, to Filter Skills by SkillType",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Skill Type Id, to Filter Skills by SkillType",
            "format" : "int64"
          }
        }, {
          "name" : "skillIds",
          "in" : "query",
          "description" : "The IDs of the skills to list separated by commas. You can pass upto 50 IDs.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : false,
            "description" : "The IDs of the skills to list separated by commas. You can pass upto 50 IDs.",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : [ false, false, false, "", false, "The IDs of the skills to list separated by commas. You can pass upto 50 IDs.", false, 10, ",", false, false, "0,5", false, false ]
            }
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "Department Id",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Department Id",
            "format" : "int64"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of skill to list, @allowed minimum value 1, maximum value 100,default is 100@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of skill to list, @allowed minimum value 1, maximum value 100,default is 100@",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the skills must be listed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the skills must be listed",
            "format" : "int32"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Active inactive filter for Skills. Values allowed are @ACTIVE@ and @INACTIVE@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Active inactive filter for Skills. Values allowed are @ACTIVE@ and @INACTIVE@",
            "enum" : [ "ACTIVE", "INACTIVE" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "skillsListViewResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "agentIds", "createdBy", "createdTime", "criteria", "departmentId", "description", "id", "modifiedBy", "modifiedTime", "name", "orderId", "skillType", "skillTypeId", "status" ],
                        "properties" : {
                          "modifiedTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "agentIds" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "skillType" : {
                            "required" : [ "skillTypeId", "skillTypeName" ],
                            "properties" : {
                              "skillTypeId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "skillTypeName" : {
                                "maxLength" : 50,
                                "minLength" : 1,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "orderId" : {
                            "minimum" : 1,
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "criteria" : {
                            "required" : [ "fieldConditions", "pattern" ],
                            "properties" : {
                              "fieldConditions" : {
                                "items" : {
                                  "additionalProperties" : false,
                                  "allOf" : [ {
                                    "required" : [ "condition", "fieldModule", "fieldName", "value" ],
                                    "properties" : {
                                      "condition" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "(.*|null|undefined)"
                                      },
                                      "fieldName" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                      },
                                      "fieldModule" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "products", "calls", "events", "activities" ]
                                      },
                                      "value" : {
                                        "uniqueItems" : false,
                                        "items" : {
                                          "oneOf" : [ {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                          }, {
                                            "uniqueItems" : false,
                                            "items" : {
                                              "maxLength" : 100,
                                              "minLength" : 0,
                                              "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                            }
                                          } ]
                                        }
                                      }
                                    },
                                    "additionalProperties" : false
                                  }, {
                                    "required" : [ "displayValue" ],
                                    "properties" : {
                                      "displayValue" : {
                                        "uniqueItems" : false,
                                        "items" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        }
                                      }
                                    }
                                  } ]
                                }
                              },
                              "pattern" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "(.*|null|undefined)"
                              }
                            },
                            "additionalProperties" : false
                          },
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Department Id",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "description" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]*"
                          },
                          "skillTypeId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Skill Type Id, to Filter Skills by SkillType",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "createdBy" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "name" : {
                            "maxLength" : 50,
                            "minLength" : 1,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "createdTime" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                          },
                          "modifiedBy" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "status" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "ACTIVE", "INACTIVE" ],
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Active inactive filter for Skills. Values allowed are @ACTIVE@ and @INACTIVE@",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "modifiedTime" : 1595508282574,
                        "agentIds" : [ ],
                        "skillType" : {
                          "skillTypeId" : "1000000173001",
                          "skillTypeName" : "Country"
                        },
                        "orderId" : "1",
                        "criteria" : {
                          "fieldConditions" : [ {
                            "displayValue" : [ "India" ],
                            "condition" : "is",
                            "fieldName" : "Subject",
                            "fieldModule" : "tickets",
                            "value" : [ "India" ]
                          }, {
                            "displayValue" : [ "987532114" ],
                            "condition" : "is",
                            "fieldName" : "Phone",
                            "fieldModule" : "tickets",
                            "value" : [ "987532114" ]
                          } ],
                          "pattern" : "(1or2)"
                        },
                        "departmentId" : "1000000013248",
                        "description" : "Country is India",
                        "skillTypeId" : "1000000173001",
                        "createdBy" : "1000000000059",
                        "name" : "India",
                        "createdTime" : 1595508282574,
                        "modifiedBy" : "1000000000059",
                        "id" : "1000000173029",
                        "status" : "ACTIVE"
                      }, {
                        "modifiedTime" : 1595509392994,
                        "agentIds" : [ "1000000000059" ],
                        "skillType" : {
                          "skillTypeId" : "1000000173001",
                          "skillTypeName" : "Country"
                        },
                        "orderId" : "2",
                        "criteria" : {
                          "fieldConditions" : [ {
                            "displayValue" : [ "Russia" ],
                            "condition" : "is",
                            "fieldName" : "Subject",
                            "fieldModule" : "tickets",
                            "value" : [ "Russia" ]
                          }, {
                            "displayValue" : [ "987532114" ],
                            "condition" : "is",
                            "fieldName" : "Phone",
                            "fieldModule" : "tickets",
                            "value" : [ "987532114" ]
                          } ],
                          "pattern" : "(1or2)"
                        },
                        "departmentId" : "1000000013248",
                        "description" : "Country is Russia",
                        "skillTypeId" : "1000000173001",
                        "createdBy" : "1000000000059",
                        "name" : "Russia",
                        "createdTime" : 1595509392994,
                        "modifiedBy" : "1000000000059",
                        "id" : "1000000173047",
                        "status" : "ACTIVE"
                      }, {
                        "modifiedTime" : 1595509671838,
                        "agentIds" : [ "1000000000059" ],
                        "skillType" : {
                          "skillTypeId" : "1000000173013",
                          "skillTypeName" : "Language"
                        },
                        "orderId" : "3",
                        "criteria" : {
                          "fieldConditions" : [ {
                            "displayValue" : [ "English" ],
                            "condition" : "contains",
                            "fieldName" : "Subject",
                            "fieldModule" : "tickets",
                            "value" : [ "English" ]
                          } ],
                          "pattern" : "1"
                        },
                        "departmentId" : "1000000013248",
                        "description" : "Language is English",
                        "skillTypeId" : "1000000173013",
                        "createdBy" : "1000000000059",
                        "name" : "English",
                        "createdTime" : 1595509671838,
                        "modifiedBy" : "1000000000059",
                        "id" : "1000000173097",
                        "status" : "ACTIVE"
                      }, {
                        "modifiedTime" : 1595509696891,
                        "agentIds" : [ "1000000000059" ],
                        "skillType" : {
                          "skillTypeId" : "1000000173013",
                          "skillTypeName" : "Language"
                        },
                        "orderId" : "4",
                        "criteria" : {
                          "fieldConditions" : [ {
                            "displayValue" : [ "Tamil" ],
                            "condition" : "contains",
                            "fieldName" : "Subject",
                            "fieldModule" : "tickets",
                            "value" : [ "Tamil" ]
                          } ],
                          "pattern" : "1"
                        },
                        "departmentId" : "1000000013248",
                        "description" : "Language is Tamil",
                        "skillTypeId" : "1000000173013",
                        "createdBy" : "1000000000059",
                        "name" : "Tamil",
                        "createdTime" : 1595509696891,
                        "modifiedBy" : "1000000000059",
                        "id" : "1000000173121",
                        "status" : "INACTIVE"
                      }, {
                        "modifiedTime" : 1595509716093,
                        "agentIds" : [ "1000000000059" ],
                        "skillType" : {
                          "skillTypeId" : "1000000173013",
                          "skillTypeName" : "Language"
                        },
                        "orderId" : "5",
                        "criteria" : {
                          "fieldConditions" : [ {
                            "displayValue" : [ "Malayalam" ],
                            "condition" : "contains",
                            "fieldName" : "Subject",
                            "fieldModule" : "tickets",
                            "value" : [ "Malayalam" ]
                          } ],
                          "pattern" : "1"
                        },
                        "departmentId" : "1000000013248",
                        "description" : "Malayali",
                        "skillTypeId" : "1000000173013",
                        "createdBy" : "1000000000059",
                        "name" : "Malayalam",
                        "createdTime" : 1595509716093,
                        "modifiedBy" : "1000000000059",
                        "id" : "1000000173145",
                        "status" : "ACTIVE"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 40,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "b7654fb693cb53de1b9e1e255a9354b7",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.SkillService.getSkills"
        }
      },
      "post" : {
        "tags" : [ "Skill" ],
        "summary" : "Create skill",
        "description" : "This API Creates a skill",
        "operationId" : "createSkill",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "criteria", "name", "skillTypeId", "status" ],
                "properties" : {
                  "skillTypeId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "agentIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "criteria" : {
                    "additionalProperties" : { }
                  },
                  "name" : {
                    "maxLength" : 50,
                    "minLength" : 1,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "description" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]*"
                  },
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "ACTIVE", "INACTIVE" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "skillTypeId" : "1000000173001",
                    "criteria" : {
                      "fieldConditions" : [ {
                        "condition" : "is",
                        "fieldName" : "Subject",
                        "fieldModule" : "tickets",
                        "value" : [ "India" ]
                      }, {
                        "condition" : "is",
                        "fieldName" : "Phone",
                        "fieldModule" : "tickets",
                        "value" : [ "987532114" ]
                      } ],
                      "pattern" : "(1or2)"
                    },
                    "name" : "India",
                    "description" : "Country is India",
                    "status" : "ACTIVE"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "201" : {
            "description" : "skillSingleResponseJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "agentIds", "createdBy", "createdTime", "criteria", "departmentId", "description", "id", "modifiedBy", "modifiedTime", "name", "orderId", "skillType", "skillTypeId", "status" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "agentIds" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "skillType" : {
                      "required" : [ "skillTypeId", "skillTypeName" ],
                      "properties" : {
                        "skillTypeId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "skillTypeName" : {
                          "maxLength" : 50,
                          "minLength" : 1,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "orderId" : {
                      "minimum" : 1,
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "criteria" : {
                      "required" : [ "fieldConditions", "pattern" ],
                      "properties" : {
                        "fieldConditions" : {
                          "items" : {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "required" : [ "condition", "fieldModule", "fieldName", "value" ],
                              "properties" : {
                                "condition" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(.*|null|undefined)"
                                },
                                "fieldName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "fieldModule" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "products", "calls", "events", "activities" ]
                                },
                                "value" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "oneOf" : [ {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                    }, {
                                      "uniqueItems" : false,
                                      "items" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                      }
                                    } ]
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "displayValue" ],
                              "properties" : {
                                "displayValue" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                }
                              }
                            } ]
                          }
                        },
                        "pattern" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(.*|null|undefined)"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "description" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]*"
                    },
                    "skillTypeId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "name" : {
                      "maxLength" : 50,
                      "minLength" : 1,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ACTIVE", "INACTIVE" ]
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1595509716093,
                      "agentIds" : [ "1000000000059" ],
                      "skillType" : {
                        "skillTypeId" : "1000000173013",
                        "skillTypeName" : "Language"
                      },
                      "orderId" : "5",
                      "criteria" : {
                        "fieldConditions" : [ {
                          "displayValue" : [ "Malayalam" ],
                          "condition" : "contains",
                          "fieldName" : "Subject",
                          "fieldModule" : "tickets",
                          "value" : [ "Malayalam" ]
                        } ],
                        "pattern" : "1"
                      },
                      "departmentId" : "1000000013248",
                      "description" : "Language is Malayalam",
                      "skillTypeId" : "1000000173013",
                      "createdBy" : "1000000000059",
                      "name" : "Malayalam",
                      "createdTime" : 1595509716093,
                      "modifiedBy" : "1000000000059",
                      "id" : "1000000173145",
                      "status" : "ACTIVE"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 1200000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "65925195dbb8d4ae6fbb1d91cd52a0ff",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.SkillService.createSkill"
        }
      }
    },
    "/api/v1/skills/order" : {
      "post" : {
        "tags" : [ "Skill" ],
        "summary" : "Reorder Skills in a Department",
        "description" : "This API lists reorders Skills in a Department",
        "operationId" : "reorderSkills",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "departmentId", "skillIds" ],
                "properties" : {
                  "skillIds" : {
                    "maxItems" : 200,
                    "minItems" : 2,
                    "uniqueItems" : true,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "departmentId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "skillIds" : [ "1000000173121", "1000000173029", "1000000173047", "1000000173097", "1000000173145" ],
                    "departmentId" : "1000000013248"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "0135351b61a6f2955b742a941aac5a30",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.SkillService.reorderSkills"
        }
      }
    },
    "/api/v1/tickets/{ticketId}/executeSkillbasedAssignment" : {
      "post" : {
        "tags" : [ "Skill" ],
        "summary" : "Execute Skill Based Assignment",
        "description" : "This API assigns tickets to agents according to their designated skills and routing preferences.",
        "operationId" : "executeSkillbasedAssignment",
        "parameters" : [ {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "skillBasedAssignmentResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "isAssigned", "newAssignee", "team" ],
                  "properties" : {
                    "isAssigned" : { },
                    "newAssignee" : {
                      "required" : [ "email", "emailId", "externalId", "firstName", "id", "lastName", "name", "photoURL", "roleName", "type", "zuid" ],
                      "properties" : {
                        "photoURL" : {
                          "maxLength" : 200,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "firstName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "lastName" : {
                          "maxLength" : 50,
                          "minLength" : 0
                        },
                        "name" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "roleName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "externalId" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "emailId" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                        },
                        "email" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        },
                        "zuid" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "team" : {
                      "required" : [ "id", "name" ],
                      "properties" : {
                        "name" : {
                          "maxLength" : 50,
                          "minLength" : 1,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "isAssigned" : true,
                      "newAssignee" : {
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/1000000000059/photo?orgId=111111",
                        "firstName" : "Alex",
                        "lastName" : "John",
                        "name" : "Alex",
                        "roleName" : null,
                        "externalId" : null,
                        "emailId" : "alex@zylker.com",
                        "id" : "1000000000059",
                        "type" : "AGENT",
                        "email" : "alex@zylker.com",
                        "zuid" : "1231232"
                      },
                      "team" : {
                        "name" : "Automation Team",
                        "id" : "1000000000089"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "3e364e1c6290c87151ad4e478ce1aed3",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.SkillService.executeSkillbasedAssignment"
        }
      }
    },
    "/api/v1/skills/{skillId}" : {
      "get" : {
        "tags" : [ "Skill" ],
        "summary" : "Get details of a skill",
        "description" : "This API Gets the details of a skill",
        "operationId" : "getSkill",
        "parameters" : [ {
          "name" : "skillId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "skillSingleResponseJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "agentIds", "createdBy", "createdTime", "criteria", "departmentId", "description", "id", "modifiedBy", "modifiedTime", "name", "orderId", "skillType", "skillTypeId", "status" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "agentIds" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "skillType" : {
                      "required" : [ "skillTypeId", "skillTypeName" ],
                      "properties" : {
                        "skillTypeId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "skillTypeName" : {
                          "maxLength" : 50,
                          "minLength" : 1,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "orderId" : {
                      "minimum" : 1,
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "criteria" : {
                      "required" : [ "fieldConditions", "pattern" ],
                      "properties" : {
                        "fieldConditions" : {
                          "items" : {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "required" : [ "condition", "fieldModule", "fieldName", "value" ],
                              "properties" : {
                                "condition" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(.*|null|undefined)"
                                },
                                "fieldName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "fieldModule" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "products", "calls", "events", "activities" ]
                                },
                                "value" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "oneOf" : [ {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                    }, {
                                      "uniqueItems" : false,
                                      "items" : {
                                        "maxLength" : 100,
                                        "minLength" : 0,
                                        "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                      }
                                    } ]
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "displayValue" ],
                              "properties" : {
                                "displayValue" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                }
                              }
                            } ]
                          }
                        },
                        "pattern" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(.*|null|undefined)"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "description" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]*"
                    },
                    "skillTypeId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "name" : {
                      "maxLength" : 50,
                      "minLength" : 1,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ACTIVE", "INACTIVE" ]
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1595509716093,
                      "agentIds" : [ "1000000000059" ],
                      "skillType" : {
                        "skillTypeId" : "1000000173013",
                        "skillTypeName" : "Language"
                      },
                      "orderId" : "5",
                      "criteria" : {
                        "fieldConditions" : [ {
                          "displayValue" : [ "Malayalam" ],
                          "condition" : "contains",
                          "fieldName" : "Subject",
                          "fieldModule" : "tickets",
                          "value" : [ "Malayalam" ]
                        } ],
                        "pattern" : "1"
                      },
                      "departmentId" : "1000000013248",
                      "description" : "Language is Malayalam",
                      "skillTypeId" : "1000000173013",
                      "createdBy" : "1000000000059",
                      "name" : "Malayalam",
                      "createdTime" : 1595509716093,
                      "modifiedBy" : "1000000000059",
                      "id" : "1000000173145",
                      "status" : "ACTIVE"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "2fd78c760524bf39928a2465343fa6f5",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.SkillService.getSkill"
        }
      },
      "delete" : {
        "tags" : [ "Skill" ],
        "summary" : "Delete skill",
        "description" : "This API deletes a skill from your help desk portal",
        "operationId" : "deleteSkill",
        "parameters" : [ {
          "name" : "skillId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.DELETE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "9b878ca17ffd8a2df074f6057b322332",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.SkillService.deleteSkill"
        }
      },
      "patch" : {
        "tags" : [ "Skill" ],
        "summary" : "Update skill",
        "description" : "This API Updates a skill",
        "operationId" : "updateSkill",
        "parameters" : [ {
          "name" : "skillId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "skillTypeId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "agentIds" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "name" : {
                    "maxLength" : 50,
                    "minLength" : 1,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "description" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "[0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]*"
                  },
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "ACTIVE", "INACTIVE" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "name" : "Malayalam",
                    "description" : "Malayali"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "skillSingleResponseJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "agentIds", "createdBy", "createdTime", "criteria", "departmentId", "description", "id", "modifiedBy", "modifiedTime", "name", "orderId", "skillType", "skillTypeId", "status" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "agentIds" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "skillType" : {
                      "required" : [ "skillTypeId", "skillTypeName" ],
                      "properties" : {
                        "skillTypeId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "skillTypeName" : {
                          "maxLength" : 50,
                          "minLength" : 1,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        }
                      },
                      "additionalProperties" : false
                    },
                    "orderId" : {
                      "minimum" : 1,
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "criteria" : {
                      "required" : [ "fieldConditions", "pattern" ],
                      "properties" : {
                        "fieldConditions" : {
                          "items" : {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "required" : [ "condition", "fieldModule", "fieldName", "value" ],
                              "properties" : {
                                "condition" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(.*|null|undefined)"
                                },
                                "fieldName" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "fieldModule" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "tickets", "tasks", "contracts", "accounts", "contacts", "products", "calls", "events", "activities" ]
                                },
                                "value" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "oneOf" : [ {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "[0-9a-zA-Z_\\-\\&\\.\\$\\@\\^\\(\\)\\{\\}\\~\\=\\-\\|\\*\\+\\?\\[\\]\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                    }, {
                                      "uniqueItems" : false,
                                      "items" : {
[...]
