{
  "openapi": "3.1.0",
  "info": {
    "title": "SLA",
    "version": "1.0.0",
    "x-clan-group": "automation",
    "x-module-group": "automation"
  },
  "servers": [
    {
      "url": "https://desk.zoho.com"
    }
  ],
  "paths": {
    "/api/v1/sla": {
      "get": {
        "tags": [
          "SLA"
        ],
        "summary": "List SLAs",
        "description": "Lists SLAs in a department with pagination. Optional status filter (ACTIVE or INACTIVE). When from is omitted or less than 1, listing starts at index 1. When limit is omitted, invalid, or greater than 100, the default page size is 50. Each SLA includes executeOn with triggerFieldInfo.fieldIds when field-update triggers are configured.",
        "operationId": "listSlas",
        "parameters": [
          {
            "name": "departmentId",
            "in": "query",
            "description": "ID of the department",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "readOnly": true
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Index number, starting from which the SLAs must be listed",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of SLAs to list",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of SLAs to list",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "To get SLA by status. Values allowed are ACTIVE and INACTIVE",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 100,
              "minLength": 0,
              "enum": [
                "ACTIVE",
                "INACTIVE"
              ]
            }
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "Unique ID of the organization",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-custom-parameters-attributes": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of SLAs in the department",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "readOnly": true
                          },
                          "name": {
                            "type": "string",
                            "maxLength": 100,
                            "minLength": 0
                          },
                          "status": {
                            "type": "string",
                            "maxLength": 100,
                            "minLength": 0,
                            "enum": [
                              "ACTIVE",
                              "INACTIVE"
                            ]
                          },
                          "departmentId": {
                            "type": "integer",
                            "format": "int64",
                            "readOnly": true
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 255,
                            "minLength": 0
                          },
                          "createdBy": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "createdTime": {
                            "type": "string",
                            "maxLength": 100,
                            "minLength": 0
                          },
                          "modifiedBy": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "modifiedTime": {
                            "type": "string",
                            "maxLength": 100,
                            "minLength": 0
                          },
                          "executeOn": {
                            "type": "object",
                            "required": [
                              "events"
                            ],
                            "properties": {
                              "events": {
                                "type": "array",
                                "maxItems": 10,
                                "minItems": 1,
                                "items": {
                                  "type": "string",
                                  "maxLength": 30,
                                  "minLength": 0,
                                  "enum": [
                                    "CREATE",
                                    "EDIT",
                                    "REPLY",
                                    "RESPONSE",
                                    "PRIVATE_INCOMING",
                                    "PRIVATE_OUTGOING",
                                    "AGENT_PUBLIC_COMMENT_ADD",
                                    "AGENT_PRIVATE_COMMENT_ADD",
                                    "CUSTOMER_COMMENT_ADD"
                                  ]
                                }
                              },
                              "triggerFieldInfo": {
                                "type": "object",
                                "required": [
                                  "fieldIds",
                                  "type"
                                ],
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "maxLength": 100,
                                    "minLength": 0,
                                    "enum": [
                                      "ALL",
                                      "ANY"
                                    ]
                                  },
                                  "fieldIds": {
                                    "type": "array",
                                    "maxItems": 3,
                                    "minItems": 1,
                                    "items": {
                                      "type": "integer",
                                      "format": "int64"
                                    }
                                  }
                                },
                                "additionalProperties": false,
                                "x-exclude-api-test": true
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    }
                  },
                  "additionalProperties": {}
                },
                "examples": {
                  "Valid response Definitions": {
                    "value": {
                      "data": [
                        {
                          "id": "6000000164005",
                          "name": "SLA With No Esclations",
                          "description": "SLA with Escalations",
                          "status": "ACTIVE",
                          "departmentId": "6000000027412",
                          "executeOn": {
                            "events": [
                              "CREATE",
                              "EDIT"
                            ],
                            "triggerFieldInfo": {
                              "type": "ALL",
                              "fieldIds": []
                            }
                          },
                          "createdBy": "6000000000523",
                          "createdTime": "2026-04-30T20:44:27.000Z",
                          "modifiedBy": "6000000000523",
                          "modifiedTime": "2026-04-30T21:09:41.000Z"
                        },
                        {
                          "id": "6000000164034",
                          "name": "Low Priority SLA",
                          "description": "LOW P",
                          "status": "ACTIVE",
                          "departmentId": "6000000027412",
                          "executeOn": {
                            "events": [
                              "CREATE",
                              "EDIT",
                              "REPLY"
                            ],
                            "triggerFieldInfo": {
                              "type": "ANY",
                              "fieldIds": []
                            }
                          },
                          "createdBy": "6000000000523",
                          "createdTime": "2026-04-30T21:17:36.000Z",
                          "modifiedBy": "6000000000523",
                          "modifiedTime": "2026-04-30T21:17:36.000Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "required": [
                        "errorCode",
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "errorCode": {
                          "type": "string",
                          "enum": [
                            "BAD_REQUEST",
                            "UNAUTHORIZED",
                            "INVALID_OAUTH",
                            "SCOPE_MISMATCH",
                            "OAUTH_ORG_MISMATCH",
                            "FORBIDDEN",
                            "LICENSE_ACCESS_LIMITED",
                            "URL_NOT_FOUND",
                            "METHOD_NOT_ALLOWED",
                            "RESOURCE_SIZE_EXCEEDED",
                            "UNSUPPORTED_MEDIA_TYPE",
                            "INVALID_DATA",
                            "EMPTY_PAYLOAD",
                            "UNPROCESSABLE_ENTITY",
                            "ONLY_LIVECHAT_USER",
                            "DUPLICATE_CONTRACT",
                            "INTEGRATION_ADMIN_ERROR",
                            "THRESHOLD_EXCEEDED",
                            "TOO_MANY_REQUESTS",
                            "INTERNAL_SERVER_ERROR"
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": {},
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "errorCode",
                            "message"
                          ],
                          "properties": {
                            "message": {
                              "type": "string"
                            },
                            "errorCode": {
                              "type": "string",
                              "enum": [
                                "BAD_REQUEST",
                                "UNAUTHORIZED",
                                "INVALID_OAUTH",
                                "SCOPE_MISMATCH",
                                "OAUTH_ORG_MISMATCH",
                                "FORBIDDEN",
                                "LICENSE_ACCESS_LIMITED",
                                "URL_NOT_FOUND",
                                "METHOD_NOT_ALLOWED",
                                "RESOURCE_SIZE_EXCEEDED",
                                "UNSUPPORTED_MEDIA_TYPE",
                                "INVALID_DATA",
                                "EMPTY_PAYLOAD",
                                "UNPROCESSABLE_ENTITY",
                                "ONLY_LIVECHAT_USER",
                                "DUPLICATE_CONTRACT",
                                "INTEGRATION_ADMIN_ERROR",
                                "THRESHOLD_EXCEEDED",
                                "TOO_MANY_REQUESTS",
                                "INTERNAL_SERVER_ERROR"
                              ]
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": [
                            "errors"
                          ],
                          "properties": {
                            "errors": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "required": [
                                  "errorMessage",
                                  "errorType",
                                  "fieldName"
                                ],
                                "properties": {
                                  "fieldName": {
                                    "type": "string"
                                  },
                                  "errorType": {
                                    "type": "string",
                                    "enum": [
                                      "invalid",
                                      "duplicate",
                                      "missing"
                                    ]
                                  },
                                  "errorMessage": {}
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "org-oauth": [
              "Desk.accessAll.ALL"
            ]
          },
          {
            "iam-oauth2-schema": [
              "Desk.automations.READ"
            ]
          }
        ],
        "x-authorisation": {
          "profile-permission": [
            "setup.automation"
          ]
        },
        "x-audience": [
          "company-internal"
        ],
        "x-custom-url-attribute": {
          "security": {
            "throttle": {
              "policy": "GetManyRecords_Policy"
            },
            "extraparams": {
              "disable": true,
              "ignore": false
            },
            "authentication": {}
          },
          "clan-group": "automation",
          "apihash": "",
          "module-group": "automation",
          "apimethod": "com.zoho.support.restapi.sla.SlaService.listSlas"
        }
      },
      "post": {
        "tags": [
          "SLA"
        ],
        "summary": "Create SLA",
        "description": "Creates an SLA in a department. Requires executeOn and at least one target (1–10 per SLA). Request body max 70000 bytes. Escalation id and level are server-computed from whenToEscalate order; do not send them in the request. Omit read-only criteria enrichments (displayValue, criteriaValues, staticFieldName, fieldType, i18nLabel, tableName, columnName).",
        "operationId": "createSla",
        "parameters": [
          {
            "name": "orgId",
            "in": "query",
            "description": "Unique ID of the organization",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-custom-parameters-attributes": {}
            }
          }
        ],
        "requestBody": {
          "description": "SLA create payload (slaJson template)",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "departmentId",
                  "executeOn",
                  "name",
                  "status",
                  "targets"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 100,
                    "minLength": 1
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 255,
                    "minLength": 1
                  },
                  "executeOn": {
                    "type": "object",
                    "required": [
                      "events"
                    ],
                    "properties": {
                      "events": {
                        "type": "array",
                        "maxItems": 10,
                        "minItems": 1,
                        "items": {
                          "type": "string",
                          "maxLength": 30,
                          "minLength": 0,
                          "enum": [
                            "CREATE",
                            "EDIT",
                            "REPLY",
                            "RESPONSE",
                            "PRIVATE_INCOMING",
                            "PRIVATE_OUTGOING",
                            "AGENT_PUBLIC_COMMENT_ADD",
                            "AGENT_PRIVATE_COMMENT_ADD",
                            "CUSTOMER_COMMENT_ADD"
                          ]
                        }
                      },
                      "triggerFieldInfo": {
                        "type": "object",
                        "required": [
                          "fieldIds",
                          "type"
                        ],
                        "properties": {
                          "type": {
                            "type": "string",
                            "maxLength": 100,
                            "minLength": 0,
                            "enum": [
                              "ALL",
                              "ANY"
                            ]
                          },
                          "fieldIds": {
                            "type": "array",
                            "maxItems": 3,
                            "minItems": 1,
                            "items": {
                              "type": "integer",
                              "format": "int64"
                            }
                          }
                        },
                        "additionalProperties": false,
                        "x-exclude-api-test": true
                      }
                    },
                    "additionalProperties": {}
                  },
                  "status": {
                    "type": "string",
                    "maxLength": 100,
                    "minLength": 0,
                    "enum": [
                      "ACTIVE",
                      "INACTIVE"
                    ]
                  },
                  "departmentId": {
                    "type": "integer",
                    "format": "int64",
                    "readOnly": true
                  },
                  "executeOnlyWithAccount": {
                    "type": "boolean"
                  },
                  "calculateDueDateFromTicketCreatedTime": {
                    "type": "boolean"
                  },
                  "targets": {
                    "type": "array",
                    "maxItems": 10,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "required": [
                        "resolutionDueIn",
                        "resolutionTimeUnit"
                      ],
                      "properties": {
                        "businessHourId": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "resolutionDueIn": {
                          "type": "integer",
                          "maximum": 1000,
                          "minimum": 1,
                          "format": "int32"
                        },
                        "resolutionTimeUnit": {
                          "type": "string",
                          "maxLength": 100,
                          "minLength": 0,
                          "enum": [
                            "MINUTE",
                            "HOUR",
                            "DAY"
                          ]
                        },
                        "responseDueIn": {
                          "type": "integer",
                          "maximum": 1000,
                          "minimum": 1,
                          "format": "int32"
                        },
                        "responseTimeUnit": {
                          "type": "string",
                          "maxLength": 100,
                          "minLength": 0,
                          "enum": [
                            "MINUTE",
                            "HOUR",
                            "DAY"
                          ]
                        },
                        "isResponseDueInOnlyForFirstResponse": {
                          "type": "boolean"
                        },
                        "isEscalatedOnlyDuringBusinessHours": {
                          "type": "boolean"
                        },
                        "criteria": {
                          "type": "object",
                          "properties": {
                            "fieldConditions": {
                              "type": "array",
                              "maxItems": 25,
                              "items": {
                                "type": "object",
                                "required": [
                                  "condition",
                                  "fieldName"
                                ],
                                "properties": {
                                  "fieldName": {
                                    "type": "string",
                                    "maxLength": 200,
                                    "minLength": 1
                                  },
                                  "value": {
                                    "type": "array",
                                    "maxItems": 25,
                                    "items": {
                                      "type": "string",
                                      "maxLength": 2000,
                                      "minLength": 0
                                    }
                                  },
                                  "condition": {
                                    "type": "string",
                                    "maxLength": 100,
                                    "minLength": 0
                                  },
                                  "fieldModule": {
                                    "type": "string",
                                    "maxLength": 100,
                                    "minLength": 0,
                                    "enum": [
                                      "tickets"
                                    ]
                                  },
                                  "displayValue": {
                                    "type": "array",
                                    "maxItems": 25,
                                    "readOnly": true,
                                    "items": {
                                      "type": "string",
                                      "maxLength": 2000,
                                      "minLength": 0
                                    }
                                  },
                                  "criteriaValues": {
                                    "type": "array",
                                    "maxItems": 25,
                                    "readOnly": true,
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayValue": {
                                          "type": "string",
                                          "maxLength": 2000,
                                          "minLength": 0
                                        },
                                        "value": {
                                          "type": "string",
                                          "maxLength": 2000,
                                          "minLength": 0
                                        }
                                      },
                                      "additionalProperties": false,
                                      "readOnly": true
                                    }
                                  },
                                  "staticFieldName": {
                                    "type": "string",
                                    "maxLength": 200,
                                    "minLength": 0,
                                    "readOnly": true
                                  },
                                  "fieldType": {
                                    "type": "string",
                                    "maxLength": 100,
                                    "minLength": 0,
                                    "readOnly": true
                                  },
                                  "i18nLabel": {
                                    "type": "string",
                                    "maxLength": 200,
                                    "minLength": 0,
                                    "readOnly": true
                                  },
                                  "tableName": {
                                    "type": "string",
                                    "maxLength": 200,
                                    "minLength": 0,
                                    "readOnly": true
                                  },
                                  "columnName": {
                                    "type": "string",
                                    "maxLength": 200,
                                    "minLength": 0,
                                    "readOnly": true
                                  }
                                },
                                "additionalProperties": false
                              }
                            }
                          },
                          "additionalProperties": false
                        },
                        "resolutionEscalations": {
                          "type": "array",
                          "maxItems": 4,
                          "items": {
                            "type": "object",
                            "required": [
                              "whenToEscalate"
                            ],
                            "properties": {
                              "whenToEscalate": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "escalationTimeUnit": {
                                "type": "string",
                                "maxLength": 100,
                                "minLength": 0,
                                "enum": [
                                  "MINUTE",
                                  "HOUR",
                                  "DAY"
                                ]
                              },
                              "agentNotificationTemplateId": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "contactNotificationTemplateId": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "escalationFieldUpdate": {
                                "type": "object",
                                "properties": {
                                  "agentId": {
                                    "type": "integer",
                                    "format": "int64"
                                  },
                                  "teamId": {
                                    "type": "integer",
                                    "format": "int64"
                                  },
                                  "priority": {
                                    "type": "string",
                                    "maxLength": 50,
                                    "minLength": 0
                                  }
                                },
                                "additionalProperties": false
                              },
                              "escalationRecepients": {
                                "type": "object",
                                "properties": {
                                  "agentIds": {
                                    "type": "array",
                                    "maxItems": 15,
                                    "items": {
                                      "type": "integer",
                                      "format": "int64"
                                    }
                                  },
                                  "lightAgentIds": {
                                    "type": "array",
                                    "maxItems": 15,
                                    "items": {
                                      "type": "integer",
                                      "format": "int64"
                                    }
                                  },
                                  "roleIds": {
                                    "type": "array",
                                    "maxItems": 15,
                                    "items": {
                                      "type": "integer",
                                      "format": "int64"
                                    }
                                  },
                                  "roleAndSubOrdinateIds": {
                                    "type": "array",
                                    "maxItems": 15,
                                    "items": {
                                      "type": "integer",
                                      "format": "int64"
                                    }
                                  },
                                  "teamIds": {
                                    "type": "array",
                                    "maxItems": 15,
                                    "items": {
                                      "type": "integer",
                                      "format": "int64"
                                    }
                                  },
                                  "otherRecepients": {
                                    "type": "array",
                                    "maxItems": 3,
                                    "items": {
                                      "type": "string",
                                      "maxLength": 500,
                                      "minLength": 0,
                                      "enum": [
                                        "TICKET_OWNER",
                                        "PRIMARY_CONTACT",
                                        "SECONDARY_CONTACT"
                                      ]
                                    }
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "responseEscalations": {
                          "type": "array",
                          "maxItems": 2,
                          "items": {
                            "type": "object",
                            "required": [
                              "whenToEscalate"
                            ],
                            "properties": {
                              "whenToEscalate": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "escalationTimeUnit": {
                                "type": "string",
                                "maxLength": 100,
                                "minLength": 0,
                                "enum": [
                                  "MINUTE",
                                  "HOUR",
                                  "DAY"
                                ]
                              },
                              "agentNotificationTemplateId": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "contactNotificationTemplateId": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "escalationFieldUpdate": {
                                "type": "object",
                                "properties": {
                                  "agentId": {
                                    "type": "integer",
                                    "format": "int64"
                                  },
                                  "teamId": {
                                    "type": "integer",
                                    "format": "int64"
                                  },
                                  "priority": {
                                    "type": "string",
                                    "maxLength": 50,
                                    "minLength": 0
                                  }
                                },
                                "additionalProperties": false
                              },
                              "escalationRecepients": {
                                "type": "object",
                                "properties": {
                                  "agentIds": {
                                    "type": "array",
                                    "maxItems": 15,
                                    "items": {
                                      "type": "integer",
                                      "format": "int64"
                                    }
                                  },
                                  "lightAgentIds": {
                                    "type": "array",
                                    "maxItems": 15,
                                    "items": {
                                      "type": "integer",
                                      "format": "int64"
                                    }
                                  },
                                  "roleIds": {
                                    "type": "array",
                                    "maxItems": 15,
                                    "items": {
                                      "type": "integer",
                                      "format": "int64"
                                    }
                                  },
                                  "roleAndSubOrdinateIds": {
                                    "type": "array",
                                    "maxItems": 15,
                                    "items": {
                                      "type": "integer",
                                      "format": "int64"
                                    }
                                  },
                                  "teamIds": {
                                    "type": "array",
                                    "maxItems": 15,
                                    "items": {
                                      "type": "integer",
                                      "format": "int64"
                                    }
                                  },
                                  "otherRecepients": {
                                    "type": "array",
                                    "maxItems": 3,
                                    "items": {
                                      "type": "string",
                                      "maxLength": 500,
                                      "minLength": 0,
                                      "enum": [
                                        "TICKET_OWNER",
                                        "PRIMARY_CONTACT",
                                        "SECONDARY_CONTACT"
                                      ]
                                    }
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        }
                      },
                      "additionalProperties": false
                    }
                  }
                },
                "additionalProperties": {}
              },
              "examples": {
                "Valid requestBody Definitions": {
                  "value": {
                    "name": "High Priority SL-Executes when Priority is High",
                    "description": "SLA with Escalations",
                    "status": "ACTIVE",
                    "executeOnlyWithAccount": true,
                    "calculateDueDateFromTicketCreatedTime": false,
                    "departmentId": "6000000027412",
                    "executeOn": {
                      "events": [
                        "CREATE",
                        "EDIT",
                        "REPLY"
                      ],
                      "triggerFieldInfo": {
                        "type": "ANY",
                        "fieldIds": [
                          "6000000002189",
                          "6000000002191"
                        ]
                      }
                    },
                    "targets": [
                      {
                        "resolutionDueIn": "2",
                        "resolutionTimeUnit": "HOUR",
                        "responseDueIn": "1",
                        "responseTimeUnit": "HOUR",
                        "isResponseDueInOnlyForFirstResponse": true,
                        "isEscalatedOnlyDuringBusinessHours": false,
                        "resolutionEscalations": [
                          {
                            "whenToEscalate": "-30",
                            "escalationTimeUnit": "MINUTE",
                            "agentNotificationTemplateId": "6000000027718",
                            "escalationFieldUpdate": {
                              "agentId": "6000000000523",
                              "priority": null,
                              "teamId": "6000000145001"
                            },
                            "escalationRecepients": {
                              "agentIds": [
                                "6000000000523"
                              ],
                              "roleIds": [],
                              "roleAndSubOrdinateIds": [],
                              "lightAgentIds": [],
                              "teamIds": [
                                "6000000145001"
                              ],
                              "otherRecepients": []
                            }
                          },
                          {
                            "whenToEscalate": "0",
                            "escalationTimeUnit": "MINUTE",
                            "agentNotificationTemplateId": "6000000027718",
                            "contactNotificationTemplateId": "6000000027726",
                            "escalationFieldUpdate": {
                              "agentId": null,
                              "priority": "High"
                            },
                            "escalationRecepients": {
                              "agentIds": [
                                "6000000000523"
                              ],
                              "roleIds": [
                                "6000000034848"
                              ],
                              "roleAndSubOrdinateIds": [
                                "6000000034848"
                              ],
                              "lightAgentIds": [],
                              "teamIds": [],
                              "otherRecepients": [
                                "PRIMARY_CONTACT"
                              ]
                            }
                          }
                        ],
                        "responseEscalations": [
                          {
                            "whenToEscalate": "30",
                            "escalationTimeUnit": "MINUTE",
                            "agentNotificationTemplateId": "6000000027682",
                            "contactNotificationTemplateId": "6000000027726",
                            "escalationFieldUpdate": {
                              "agentId": "6000000000523",
                              "priority": "Medium"
                            },
                            "escalationRecepients": {
                              "agentIds": [
                                "6000000000523"
                              ],
                              "roleIds": [
                                "6000000034848"
                              ],
                              "roleAndSubOrdinateIds": [
                                "6000000034848"
                              ],
                              "lightAgentIds": [],
                              "teamIds": [],
                              "otherRecepients": [
                                "PRIMARY_CONTACT"
                              ]
                            }
                          }
                        ],
                        "criteria": {
                          "fieldConditions": [
                            {
                              "condition": "is",
                              "fieldName": "Priority",
                              "fieldModule": "tickets",
                              "value": [
                                "High"
                              ]
                            },
                            {
                              "condition": "is",
                              "fieldName": "Priority",
                              "fieldModule": "tickets",
                              "value": [
                                "Critical"
                              ]
                            }
                          ]
                        }
                      },
                      {
                        "resolutionDueIn": "24",
                        "resolutionTimeUnit": "HOUR",
                        "responseDueIn": "4",
                        "responseTimeUnit": "HOUR",
                        "isResponseDueInOnlyForFirstResponse": false,
                        "isEscalatedOnlyDuringBusinessHours": false,
                        "resolutionEscalations": [],
                        "responseEscalations": [],
                        "criteria": {
                          "fieldConditions": [
                            {
                              "condition": "is",
                              "fieldName": "Subject",
                              "fieldModule": "tickets",
                              "value": [
                                "India"
                              ]
                            },
                            {
                              "condition": "is",
                              "fieldName": "Phone",
                              "fieldModule": "tickets",
                              "value": [
                                "987532114"
                              ]
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "SLA with targets and escalations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "readOnly": true
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 100,
                      "minLength": 0
                    },
                    "description": {
                      "type": "string",
                      "maxLength": 255,
                      "minLength": 0
                    },
                    "status": {
                      "type": "string",
                      "maxLength": 100,
                      "minLength": 0,
                      "enum": [
                        "ACTIVE",
                        "INACTIVE"
                      ]
                    },
                    "departmentId": {
                      "type": "integer",
                      "format": "int64",
                      "readOnly": true
                    },
                    "executeOnlyWithAccount": {
                      "type": "boolean"
                    },
                    "calculateDueDateFromTicketCreatedTime": {
                      "type": "boolean"
                    },
                    "executeOn": {
                      "type": "object",
                      "required": [
                        "events"
                      ],
                      "properties": {
                        "events": {
                          "type": "array",
                          "maxItems": 10,
                          "minItems": 1,
                          "items": {
                            "type": "string",
                            "maxLength": 30,
                            "minLength": 0,
                            "enum": [
                              "CREATE",
                              "EDIT",
                              "REPLY",
                              "RESPONSE",
                              "PRIVATE_INCOMING",
                              "PRIVATE_OUTGOING",
                              "AGENT_PUBLIC_COMMENT_ADD",
                              "AGENT_PRIVATE_COMMENT_ADD",
                              "CUSTOMER_COMMENT_ADD"
                            ]
                          }
                        },
                        "triggerFieldInfo": {
                          "type": "object",
                          "required": [
                            "fieldIds",
                            "type"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "maxLength": 100,
                              "minLength": 0,
                              "enum": [
                                "ALL",
                                "ANY"
                              ]
                            },
                            "fieldIds": {
                              "type": "array",
                              "maxItems": 3,
                              "minItems": 1,
                              "items": {
                                "type": "integer",
                                "format": "int64"
                              }
                            }
                          },
                          "additionalProperties": false,
                          "x-exclude-api-test": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "targets": {
                      "type": "array",
                      "maxItems": 10,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "readOnly": true
                          },
                          "slaGroupId": {
                            "type": "integer",
                            "format": "int64",
                            "readOnly": true
                          },
                          "businessHourId": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "resolutionDueIn": {
                            "type": "integer",
                            "maximum": 1000,
                            "minimum": 1,
                            "format": "int32"
                          },
                          "resolutionTimeUnit": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "maxLength": 100,
                            "minLength": 0,
                            "enum": [
                              "MINUTE",
                              "HOUR",
                              "DAY",
                              null
                            ]
                          },
                          "responseDueIn": {
                            "type": "integer",
                            "maximum": 1000,
                            "minimum": 1,
                            "format": "int32"
                          },
                          "responseTimeUnit": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "maxLength": 100,
                            "minLength": 0,
                            "enum": [
                              "MINUTE",
                              "HOUR",
                              "DAY",
                              null
                            ]
                          },
                          "isResponseDueInOnlyForFirstResponse": {
                            "type": "boolean"
                          },
                          "isEscalatedOnlyDuringBusinessHours": {
                            "type": "boolean"
                          },
                          "criteria": {
                            "type": "object",
                            "properties": {
                              "fieldConditions": {
                                "type": "array",
                                "maxItems": 25,
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "condition",
                                    "fieldName"
                                  ],
                                  "properties": {
                                    "fieldName": {
                                      "type": "string",
                                      "maxLength": 200,
                                      "minLength": 1
                                    },
                                    "value": {
                                      "type": "array",
                                      "maxItems": 25,
                                      "items": {
                                        "type": "string",
                                        "maxLength": 2000,
                                        "minLength": 0
                                      }
                                    },
                                    "condition": {
                                      "type": "string",
                                      "maxLength": 100,
                                      "minLength": 0
                                    },
                                    "fieldModule": {
                                      "type": "string",
                                      "maxLength": 100,
                                      "minLength": 0,
                                      "enum": [
                                        "tickets"
                                      ]
                                    },
                                    "displayValue": {
                                      "type": "array",
                                      "maxItems": 25,
                                      "readOnly": true,
                                      "items": {
                                        "type": "string",
                                        "maxLength": 2000,
                                        "minLength": 0
                                      }
                                    },
                                    "criteriaValues": {
                                      "type": "array",
                                      "maxItems": 25,
                                      "readOnly": true,
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "displayValue": {
                                            "type": "string",
                                            "maxLength": 2000,
                                            "minLength": 0
                                          },
                                          "value": {
                                            "type": "string",
                                            "maxLength": 2000,
                                            "minLength": 0
                                          }
                                        },
                                        "additionalProperties": false,
                                        "readOnly": true
                                      }
                                    },
                                    "staticFieldName": {
                                      "type": "string",
                                      "maxLength": 200,
                                      "minLength": 0,
                                      "readOnly": true
                                    },
                                    "fieldType": {
                                      "type": "string",
                                      "maxLength": 100,
                                      "minLength": 0,
                                      "readOnly": true
                                    },
                                    "i18nLabel": {
                                      "type": "string",
                                      "maxLength": 200,
                                      "minLength": 0,
                                      "readOnly": true
                                    },
                                    "tableName": {
                                      "type": "string",
                                      "maxLength": 200,
                                      "minLength": 0,
                                      "readOnly": true
                                    },
                                    "columnName": {
                                      "type": "string",
                                      "maxLength": 200,
                                      "minLength": 0,
                                      "readOnly": true
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "resolutionEscalations": {
                            "type": "array",
                            "maxItems": 4,
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "format": "int64",
                                  "readOnly": true
                                },
                                "level": {
                                  "type": "integer",
                                  "format": "int32",
                                  "readOnly": true
                                },
                                "whenToEscalate": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "escalationTimeUnit": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "maxLength": 100,
                                  "minLength": 0,
                                  "enum": [
                                    "MINUTE",
                                    "HOUR",
                                    "DAY",
                                    null
                                  ]
                                },
                                "agentNotificationTemplateId": {
                                  "type": "integer",
                                  "format": "int64"
                                },
                                "contactNotificationTemplateId": {
                                  "type": "integer",
                                  "format": "int64"
                                },
                                "escalationFieldUpdate": {
                                  "type": "object",
                                  "properties": {
                                    "agentId": {
                                      "type": "integer",
                                      "format": "int64"
                                    },
                                    "teamId": {
                                      "type": "integer",
                                      "format": "int64"
                                    },
                                    "priority": {
                                      "type": "string",
                                      "maxLength": 50,
                                      "minLength": 0
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "escalationRecepients": {
                                  "type": "object",
                                  "properties": {
                                    "agentIds": {
                                      "type": "array",
                                      "maxItems": 15,
                                      "items": {
                                        "type": "integer",
                                        "format": "int64"
                                      }
                                    },
                                    "lightAgentIds": {
                                      "type": "array",
                                      "maxItems": 15,
                                      "items": {
                                        "type": "integer",
                                        "format": "int64"
                                      }
                                    },
                                    "roleIds": {
                                      "type": "array",
                                      "maxItems": 15,
                                      "items": {
                                        "type": "integer",
                                        "format": "int64"
                                      }
                                    },
                                    "roleAndSubOrdinateIds": {
                                      "type": "array",
                                      "maxItems": 15,
                                      "items": {
                                        "type": "integer",
                                        "format": "int64"
                                      }
                                    },
                                    "teamIds": {
                                      "type": "array",
                                      "maxItems": 15,
                                      "items": {
                                        "type": "integer",
                                        "format": "int64"
                                      }
                                    },
                                    "otherRecepients": {
                                      "type": "array",
                                      "maxItems": 3,
                                      "items": {
                                        "type": "string",
                                        "maxLength": 500,
                                        "minLength": 0,
                                        "enum": [
                                          "TICKET_OWNER",
                                          "PRIMARY_CONTACT",
                                          "SECONDARY_CONTACT"
                                        ]
                                      }
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "responseEscalations": {
                            "type": "array",
                            "maxItems": 2,
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "format": "int64",
                                  "readOnly": true
                                },
                                "level": {
                                  "type": "integer",
                                  "format": "int32",
                                  "readOnly": true
                                },
                                "whenToEscalate": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "escalationTimeUnit": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "maxLength": 100,
                                  "minLength": 0,
                                  "enum": [
                                    "MINUTE",
                                    "HOUR",
                                    "DAY",
                                    null
                                  ]
                                },
                                "agentNotificationTemplateId": {
                                  "type": "integer",
                                  "format": "int64"
                                },
                                "contactNotificationTemplateId": {
                                  "type": "integer",
                                  "format": "int64"
                                },
                                "escalationFieldUpdate": {
                                  "type": "object",
                                  "properties": {
                                    "agentId": {
                                      "type": "integer",
                                      "format": "int64"
                                    },
                                    "teamId": {
                                      "type": "integer",
                                      "format": "int64"
                                    },
                                    "priority": {
                                      "type": "string",
                                      "maxLength": 50,
                                      "minLength": 0
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "escalationRecepients": {
                                  "type": "object",
                                  "properties": {
                                    "agentIds": {
                                      "type": "array",
                                      "maxItems": 15,
                                      "items": {
                                        "type": "integer",
                                        "format": "int64"
                                      }
                                    },
                                    "lightAgentIds": {
                                      "type": "array",
                                      "maxItems": 15,
                                      "items": {
                                        "type": "integer",
                                        "format": "int64"
                                      }
                                    },
                                    "roleIds": {
                                      "type": "array",
                                      "maxItems": 15,
                                      "items": {
                                        "type": "integer",
                                        "format": "int64"
                                      }
                                    },
                                    "roleAndSubOrdinateIds": {
                                      "type": "array",
                                      "maxItems": 15,
                                      "items": {
                                        "type": "integer",
                                        "format": "int64"
                                      }
                                    },
                                    "teamIds": {
                                      "type": "array",
                                      "maxItems": 15,
                                      "items": {
                                        "type": "integer",
                                        "format": "int64"
                                      }
                                    },
                                    "otherRecepients": {
                                      "type": "array",
                                      "maxItems": 3,
                                      "items": {
                                        "type": "string",
                                        "maxLength": 500,
                                        "minLength": 0,
                                        "enum": [
                                          "TICKET_OWNER",
                                          "PRIMARY_CONTACT",
                                          "SECONDARY_CONTACT"
                                        ]
                                      }
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "createdBy": {
                      "type": "integer",
                      "format": "int64",
                      "readOnly": true
                    },
                    "createdTime": {
                      "type": "string",
                      "maxLength": 100,
                      "minLength": 0,
                      "readOnly": true
                    },
                    "modifiedBy": {
                      "type": "integer",
                      "format": "int64",
                      "readOnly": true
                    },
                    "modifiedTime": {
                      "type": "string",
                      "maxLength": 100,
                      "minLength": 0,
                      "readOnly": true
                    }
                  },
                  "additionalProperties": {}
                },
                "examples": {
                  "Valid response Definitions": {
                    "value": {
                      "id": "6000000164005",
                      "name": "High Priority SL-Executes when Priority is High",
                      "description": "SLA with Escalations",
                      "status": "ACTIVE",
                      "executeOnlyWithAccount": true,
                      "calculateDueDateFromTicketCreatedTime": false,
                      "departmentId": "6000000027412",
                      "executeOn": {
                        "events": [
                          "CREATE",
                          "EDIT",
                          "REPLY"
                        ],
                        "triggerFieldInfo": {
                          "type": "ANY",
                          "fieldIds": [
                            "6000000002189",
                            "6000000002191"
                          ]
                        }
                      },
                      "targets": [
                        {
                          "id": "6000000164006",
                          "resolutionDueIn": "2",
                          "resolutionTimeUnit": "HOUR",
                          "responseDueIn": "1",
                          "responseTimeUnit": "HOUR",
                          "isResponseDueInOnlyForFirstResponse": true,
                          "businessHourId": null,
                          "isEscalatedOnlyDuringBusinessHours": false,
                          "criteria": {
                            "fieldConditions": [
                              {
                                "displayValue": [
                                  "High"
                                ],
                                "criteriaValues": [
                                  {
                                    "displayValue": "High",
                                    "value": "High"
                                  }
                                ],
                                "condition": "is",
                                "fieldName": "Priority",
                                "staticFieldName": "priority",
                                "fieldModule": "tickets",
                                "fieldType": "text",
                                "value": [
                                  "High"
                                ],
                                "i18nLabel": "Priority",
                                "tableName": "CrmCase",
                                "columnName": "PRIORITY"
                              },
                              {
                                "displayValue": [
                                  "Critical"
                                ],
                                "criteriaValues": [
                                  {
                                    "displayValue": "Critical",
                                    "value": "Critical"
                                  }
                                ],
                                "condition": "is",
                                "fieldName": "Priority",
                                "staticFieldName": "priority",
                                "fieldModule": "tickets",
                                "fieldType": "text",
                                "value": [
                                  "Critical"
                                ],
                                "i18nLabel": "Priority",
                                "tableName": "CrmCase",
                                "columnName": "PRIORITY"
                              }
                            ]
                          },
                          "resolutionEscalations": [
                            {
                              "id": "6000000164008",
                              "level": "1",
                              "whenToEscalate": "-30",
                              "escalationTimeUnit": "MINUTE",
                              "agentNotificationTemplateId": "6000000027718",
                              "contactNotificationTemplateId": null,
                              "escalationFieldUpdate": {
                                "agentId": "6000000000523",
                                "teamId": "6000000145001",
                                "priority": null
                              },
                              "escalationRecepients": {
                                "roleAndSubOrdinateIds": [],
                                "agentIds": [
                                  "6000000000523"
                                ],
                                "lightAgentIds": [],
                                "roleIds": [],
                                "otherRecepients": [],
                                "teamIds": [
                                  "6000000145001"
                                ]
                              }
                            },
                            {
                              "id": "6000000164009",
                              "level": "2",
                              "whenToEscalate": "0",
                              "escalationTimeUnit": "MINUTE",
                              "agentNotificationTemplateId": "6000000027718",
                              "contactNotificationTemplateId": "6000000027726",
                              "escalationFieldUpdate": {
                                "agentId": null,
                                "teamId": null,
                                "priority": "High"
                              },
                              "escalationRecepients": {
                                "roleAndSubOrdinateIds": [
                                  "6000000034848"
                                ],
                                "agentIds": [
                                  "6000000000523"
                                ],
                                "lightAgentIds": [],
                                "roleIds": [
                                  "6000000034848"
                                ],
                                "otherRecepients": [
                                  "PRIMARY_CONTACT"
                                ],
                                "teamIds": []
                              }
                            }
                          ],
                          "responseEscalations": [
                            {
                              "id": "6000000164010",
                              "level": "1",
                              "whenToEscalate": "30",
                              "escalationTimeUnit": "MINUTE",
                              "agentNotificationTemplateId": "6000000027682",
                              "contactNotificationTemplateId": "6000000027726",
                              "escalationFieldUpdate": {
                                "agentId": "6000000000523",
                                "teamId": null,
                                "priority": "Medium"
                              },
                              "escalationRecepients": {
                                "roleAndSubOrdinateIds": [
                                  "6000000034848"
                                ],
                                "agentIds": [
                                  "6000000000523"
                                ],
                                "lightAgentIds": [],
                                "roleIds": [
                                  "6000000034848"
                                ],
                                "otherRecepients": [
                                  "PRIMARY_CONTACT"
                                ],
                                "teamIds": []
                              }
                            }
                          ]
                        },
                        {
                          "id": "6000000164007",
                          "resolutionDueIn": "24",
                          "resolutionTimeUnit": "HOUR",
                          "responseDueIn": "4",
                          "responseTimeUnit": "HOUR",
                          "isResponseDueInOnlyForFirstResponse": false,
                          "businessHourId": null,
                          "isEscalatedOnlyDuringBusinessHours": false,
                          "criteria": {
                            "fieldConditions": [
                              {
                                "displayValue": [
                                  "India"
                                ],
                                "criteriaValues": [
                                  {
                                    "displayValue": "India",
                                    "value": "India"
                                  }
                                ],
                                "condition": "is",
                                "fieldName": "Subject",
                                "staticFieldName": "subject",
                                "fieldModule": "tickets",
                                "fieldType": "text",
                                "value": [
                                  "India"
                                ],
                                "i18nLabel": "Subject",
                                "tableName": "CrmCase",
                                "columnName": "CASESUBJECT"
                              },
                              {
                                "displayValue": [
                                  "987532114"
                                ],
                                "criteriaValues": [
                                  {
                                    "displayValue": "987532114",
                                    "value": "987532114"
                                  }
                                ],
                                "condition": "is",
                                "fieldName": "Phone",
                                "staticFieldName": "phone",
                                "fieldModule": "tickets",
                                "fieldType": "text",
                                "value": [
                                  "987532114"
                                ],
                                "i18nLabel": "Phone",
                                "tableName": "CrmCase",
                                "columnName": "PHONE"
                              }
                            ]
                          },
                          "resolutionEscalations": [],
                          "responseEscalations": []
                        }
                      ],
                      "createdBy": "6000000000523",
                      "createdTime": "2026-04-30T20:44:27.000Z",
                      "modifiedBy": "6000000000523",
                      "modifiedTime": "2026-04-30T20:44:27.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "This errorCode value appears if the authentication token in the API request is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errorCode",
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "BAD_REQUEST",
                        "UNAUTHORIZED",
                        "INVALID_OAUTH",
                        "SCOPE_MISMATCH",
                        "OAUTH_ORG_MISMATCH",
                        "FORBIDDEN",
                        "LICENSE_ACCESS_LIMITED",
                        "URL_NOT_FOUND",
                        "METHOD_NOT_ALLOWED",
                        "RESOURCE_SIZE_EXCEEDED",
                        "UNSUPPORTED_MEDIA_TYPE",
                        "INVALID_DATA",
                        "EMPTY_PAYLOAD",
                        "UNPROCESSABLE_ENTITY",
                        "ONLY_LIVECHAT_USER",
                        "DUPLICATE_CONTRACT",
                        "INTEGRATION_ADMIN_ERROR",
                        "THRESHOLD_EXCEEDED",
                        "TOO_MANY_REQUESTS",
                        "INTERNAL_SERVER_ERROR"
                      ]
                    }
                  }
                },
                "examples": {
                  "UnAuthenticatedErrorResponse": {
                    "value": {
                      "errorCode": "BAD_REQUEST",
                      "message": "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "errorCode",
                        "message"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "errorCode": {
                          "type": "string",
                          "enum": [
                            "BAD_REQUEST",
                            "UNAUTHORIZED",
                            "INVALID_OAUTH",
                            "SCOPE_MISMATCH",
                            "OAUTH_ORG_MISMATCH",
                            "FORBIDDEN",
                            "LICENSE_ACCESS_LIMITED",
                            "URL_NOT_FOUND",
                            "METHOD_NOT_ALLOWED",
                            "RESOURCE_SIZE_EXCEEDED",
                            "UNSUPPORTED_MEDIA_TYPE",
                            "INVALID_DATA",
                            "EMPTY_PAYLOAD",
                            "UNPROCESSABLE_ENTITY",
                            "ONLY_LIVECHAT_USER",
                            "DUPLICATE_CONTRACT",
                            "INTEGRATION_ADMIN_ERROR",
                            "THRESHOLD_EXCEEDED",
                            "TOO_MANY_REQUESTS",
                            "INTERNAL_SERVER_ERROR"
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "errors"
                      ],
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "errorMessage",
                              "errorType",
                              "fieldName"
                            ],
                            "properties": {
                              "fieldName": {
                                "type": "string"
                              },
                              "errorType": {
                                "type": "string",
                                "enum": [
                                  "invalid",
                                  "duplicate",
                                  "missing"
                                ]
                              },
                              "errorMessage": {}
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "Invalid Data Error Response": {
                    "value": {
                      "errorCode": "INVALID_DATA",
                      "message": "The data does not comply to the validation restrictions defined.",
                      "errors": [
                        {
                          "fieldName": "/contactId",
                          "errorType": "invalid"
                        },
                        {
                          "fieldName": "/departmentId",
                          "errorType": "invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "org-oauth": [
              "Desk.accessAll.ALL"
            ]
          },
          {
            "iam-oauth2-schema": [
              "Desk.automations.CREATE"
            ]
          }
        ],
        "x-authorisation": {
          "profile-permission": [
            "setup.automation"
          ]
        },
        "x-audience": [
          "company-internal"
        ],
        "x-custom-url-attribute": {
          "security": {
            "throttle": {
              "policy": "AddSingleRecord_Policy"
            },
            "extraparams": {
              "disable": true,
              "ignore": false
            },
            "authentication": {}
          },
          "clan-group": "automation",
          "apihash": "",
          "module-group": "automation",
          "apimethod": "com.zoho.support.restapi.sla.SlaService.createSla"
        }
      }
    },
    "/api/v1/sla/{slaId}": {
      "get": {
        "tags": [
          "SLA"
        ],
        "summary": "Get SLA",
        "description": "Returns an SLA by id with targets and escalations. Criteria fieldConditions may include read-only enrichments (displayValue, criteriaValues, staticFieldName, fieldType, i18nLabel, tableName, columnName) that must not be sent on create or update.",
        "operationId": "getSla",
        "parameters": [
          {
            "name": "slaId",
            "in": "path",
            "description": "ID of the SLA",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "readOnly": true
            }
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "Unique ID of the organization",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-custom-parameters-attributes": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SLA with targets and escalations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "readOnly": true
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 100,
                      "minLength": 0
                    },
                    "description": {
                      "type": "string",
                      "maxLength": 255,
                      "minLength": 0
                    },
                    "status": {
                      "type": "string",
                      "maxLength": 100,
                      "minLength": 0,
                      "enum": [
                        "ACTIVE",
                        "INACTIVE"
                      ]
                    },
                    "departmentId": {
                      "type": "integer",
                      "format": "int64",
                      "readOnly": true
                    },
                    "executeOnlyWithAccount": {
                      "type": "boolean"
                    },
                    "calculateDueDateFromTicketCreatedTime": {
                      "type": "boolean"
                    },
                    "executeOn": {
                      "type": "object",
                      "required": [
                        "events"
                      ],
                      "properties": {
                        "events": {
                          "type": "array",
                          "maxItems": 10,
                          "minItems": 1,
                          "items": {
                            "type": "string",
                            "maxLength": 30,
                            "minLength": 0,
                            "enum": [
                              "CREATE",
                              "EDIT",
                              "REPLY",
                              "RESPONSE",
                              "PRIVATE_INCOMING",
                              "PRIVATE_OUTGOING",
                              "AGENT_PUBLIC_COMMENT_ADD",
                              "AGENT_PRIVATE_COMMENT_ADD",
                              "CUSTOMER_COMMENT_ADD"
                            ]
                          }
                        },
                        "triggerFieldInfo": {
                          "type": "object",
                          "required": [
                            "fieldIds",
                            "type"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "maxLength": 100,
                              "minLength": 0,
                              "enum": [
                                "ALL",
                                "ANY"
                              ]
                            },
                            "fieldIds": {
                              "type": "array",
                              "maxItems": 3,
                              "minItems": 1,
                              "items": {
                                "type": "integer",
                                "format": "int64"
                              }
                            }
                          },
                          "additionalProperties": false,
                          "x-exclude-api-test": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "targets": {
                      "type": "array",
                      "maxItems": 10,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "readOnly": true
                          },
                          "slaGroupId": {
                            "type": "integer",
                            "format": "int64",
                            "readOnly": true
                          },
                          "businessHourId": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "resolutionDueIn": {
                            "type": "integer",
                            "maximum": 1000,
                            "minimum": 1,
                            "format": "int32"
                          },
                          "resolutionTimeUnit": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "maxLength": 100,
                            "minLength": 0,
                            "enum": [
                              "MINUTE",
                              "HOUR",
                              "DAY",
                              null
                            ]
                          },
                          "responseDueIn": {
                            "type": "integer",
                            "maximum": 1000,
                            "minimum": 1,
                            "format": "int32"
                          },
                          "responseTimeUnit": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "maxLength": 100,
                            "minLength": 0,
                            "enum": [
                              "MINUTE",
                              "HOUR",
                              "DAY",
                              null
                            ]
                          },
                          "isResponseDueInOnlyForFirstResponse": {
                            "type": "boolean"
                          },
                          "isEscalatedOnlyDuringBusinessHours": {
                            "type": "boolean"
                          },
                          "criteria": {
                            "type": "object",
                            "properties": {
                              "fieldConditions": {
                                "type": "array",
                                "maxItems": 25,
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "condition",
                                    "fieldName"
                                  ],
                                  "properties": {
                                    "fieldName": {
                                      "type": "string",
                                      "maxLength": 200,
                                      "minLength": 1
                                    },
                                    "value": {
                                      "type": "array",
                                      "maxItems": 25,
                                      "items": {
                                        "type": "string",
                                        "maxLength": 2000,
                                        "minLength": 0
                                      }
                                    },
                                    "condition": {
                                      "type": "string",
                                      "maxLength": 100,
                                      "minLength": 0
                                    },
                                    "fieldModule": {
                                      "type": "string",
[...]
