{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Slack",
    "version" : "1.0.0",
    "x-clan-group" : "integration",
    "x-module-group" : "integration"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/slackTeams/{integId}" : {
      "get" : {
        "tags" : [ "Slack" ],
        "summary" : "Slack Team Detail",
        "description" : "To get the Slack Team detail of the given Desk portal for the given teamId",
        "operationId" : "getTeamIntegrationDetails",
        "parameters" : [ {
          "name" : "integId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getTeamIntegrationDetailsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "integDetail" ],
                  "properties" : {
                    "integDetail" : {
                      "required" : [ "defaultChannel", "departmentChannelMapping", "displayName", "id", "isDepartmentChannelMapEnabled", "isEnabled", "logo", "notifyOn", "slackChannels", "teamName" ],
                      "properties" : {
                        "teamName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "isDepartmentChannelMapEnabled" : { },
                        "slackChannels" : {
                          "items" : {
                            "additionalProperties" : false
                          }
                        },
                        "displayName" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "notifyOn" : {
                          "maxProperties" : 10,
                          "minProperties" : 10,
                          "required" : [ "ticketAssignee", "ticketBP", "ticketClose", "ticketComment", "ticketCreate", "ticketEscalation", "ticketMove", "ticketRating", "ticketReopen", "ticketStatus" ],
                          "properties" : {
                            "ticketClose" : { },
                            "ticketBP" : { },
                            "ticketMove" : { },
                            "ticketComment" : { },
                            "ticketStatus" : { },
                            "ticketRating" : { },
                            "ticketEscalation" : { },
                            "ticketCreate" : { },
                            "ticketAssignee" : { },
                            "ticketReopen" : { }
                          },
                          "additionalProperties" : false
                        },
                        "isEnabled" : { },
                        "logo" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "departmentChannelMapping" : {
                          "items" : {
                            "maxProperties" : 3,
                            "minProperties" : 3,
                            "required" : [ "channel", "departmentId", "isEnabled" ],
                            "properties" : {
                              "departmentId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "isEnabled" : { },
                              "channel" : {
                                "additionalProperties" : false
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "defaultChannel" : {
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "teamName" : "helpdeskcorp.slack.com",
                      "mappedchannels" : [ "#champ", "#desk", "#Crm" ],
                      "defaultchannel" : "#champ",
                      "displayName" : "Help Desk Corp",
                      "notifyOn" : {
                        "ticketClose" : true,
                        "ticketCreate" : true,
                        "ticketAssignee" : false
                      },
                      "isEnabled" : true,
                      "logo" : "https://slack.com/team1",
                      "slackchannels" : [ "#champ", "#facebook", "#incoming", "#outgoing", "#zsdesk", "#supportnotify" ],
                      "id" : "1000000021010",
                      "departmentChannelMapping" : [ {
                        "departmentId" : "17364000000298215",
                        "isEnabled" : true,
                        "channel" : "#champ"
                      }, {
                        "departmentId" : "17364000000298215",
                        "isEnabled" : true,
                        "channel" : "#zohocrm"
                      }, {
                        "departmentId" : "17364000000298215",
                        "isEnabled" : false,
                        "channel" : "#proj"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.integrations.READ", "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 20,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "7a18e64febb6e3227d81ff0ee6f5fc00",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.SlackService.slackTeamInfo"
        }
      },
      "delete" : {
        "tags" : [ "Slack" ],
        "summary" : "Delete Slack Team Details",
        "description" : "To delete the Slack Team details of the given Desk portal",
        "operationId" : "deleteSlackTeam",
        "parameters" : [ {
          "name" : "integId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.integrations.DELETE", "Desk.settings.DELETE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 10,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "63cf1e42de3683b2e2bb16e272496b4c",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.SlackService.deleteSlackTeam"
        }
      }
    },
    "/api/v1/slackTeams" : {
      "get" : {
        "tags" : [ "Slack" ],
        "summary" : "Slack Team Details",
        "description" : "To get the Slack Team details of the given Desk portal",
        "operationId" : "getIntegratedSlackTeams",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getIntegratedSlackTeamsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "integDetail", "isEnabled" ],
                  "properties" : {
                    "integDetail" : {
                      "items" : {
                        "required" : [ "displayName", "id", "isEnabled", "logo", "mappedChannels", "teamName" ],
                        "properties" : {
                          "teamName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "displayName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "isEnabled" : { },
                          "logo" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "mappedChannels" : {
                            "items" : {
                              "additionalProperties" : false
                            }
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "isEnabled" : { }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "teamName" : "helpdeskcorp.slack.com",
                      "mappedchannels" : [ "#champ", "#desk", "#Crm" ],
                      "displayName" : "Help Desk Corp",
                      "isEnabled" : true,
                      "logo" : "https://slack.com/team1",
                      "id" : "1000000021010"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.integrations.READ", "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 20,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "14bb89d19ec334fcf8aabc36f7be59b9",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.SlackService.slackTeam"
        }
      },
      "delete" : {
        "tags" : [ "Slack" ],
        "summary" : "Delete Slack Integration",
        "description" : "To delete the Slack Integration for the given Desk portal",
        "operationId" : "deleteSlackIntegration",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.integrations.DELETE", "Desk.settings.DELETE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 10,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "27f1a3b1d4c34e8c2ec05b729cace059",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.SlackService.deleteSlackInteg"
        }
      },
      "patch" : {
        "tags" : [ "Slack" ],
        "summary" : "Update Slack Team Detail",
        "description" : "To update the Slack Team detail of the given Desk portal for the given teamId",
        "operationId" : "updateTeamIntegrationDetails",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "notifyOn" : {
                    "maxProperties" : 10,
                    "minProperties" : 10,
                    "required" : [ "ticketAssignee", "ticketBP", "ticketClose", "ticketComment", "ticketCreate", "ticketEscalation", "ticketMove", "ticketRating", "ticketReopen", "ticketStatus" ],
                    "properties" : {
                      "ticketClose" : { },
                      "ticketBP" : { },
                      "ticketMove" : { },
                      "ticketComment" : { },
                      "ticketStatus" : { },
                      "ticketRating" : { },
                      "ticketEscalation" : { },
                      "ticketCreate" : { },
                      "ticketAssignee" : { },
                      "ticketReopen" : { }
                    },
                    "additionalProperties" : { }
                  },
                  "integId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "defaultchannel" : "#champ",
                    "isDepartmentChannelMapEnabled" : true,
                    "notifyOn" : {
                      "ticketClose" : true,
                      "ticketCreate" : true,
                      "ticketAssignee" : false
                    },
                    "isEnabled" : true,
                    "id" : "1000000021010",
                    "departmentChannelMapping" : [ {
                      "departmentId" : "17364000000298215",
                      "isEnabled" : true,
                      "channel" : "#champ"
                    }, {
                      "departmentId" : "17364000000298215",
                      "isEnabled" : true,
                      "channel" : "#zohocrm"
                    }, {
                      "departmentId" : "17364000000298215",
                      "isEnabled" : false,
                      "channel" : "#proj"
                    } ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "updateTeamIntegrationDetailsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "required" : [ "integDetail", "integId", "isEnabled" ],
                    "properties" : {
                      "isEnabled" : {
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Slack Integ Status",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "integDetail" : {
                        "required" : [ "defaultChannel", "departmentChannelMapping", "displayName", "id", "isDepartmentChannelMapEnabled", "isEnabled", "logo", "notifyOn", "slackChannels", "teamName" ],
                        "properties" : {
                          "teamName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "isDepartmentChannelMapEnabled" : { },
                          "slackChannels" : {
                            "items" : {
                              "additionalProperties" : false
                            }
                          },
                          "displayName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "notifyOn" : {
                            "maxProperties" : 10,
                            "minProperties" : 10,
                            "required" : [ "ticketAssignee", "ticketBP", "ticketClose", "ticketComment", "ticketCreate", "ticketEscalation", "ticketMove", "ticketRating", "ticketReopen", "ticketStatus" ],
                            "properties" : {
                              "ticketClose" : { },
                              "ticketBP" : { },
                              "ticketMove" : { },
                              "ticketComment" : { },
                              "ticketStatus" : { },
                              "ticketRating" : { },
                              "ticketEscalation" : { },
                              "ticketCreate" : { },
                              "ticketAssignee" : { },
                              "ticketReopen" : { }
                            },
                            "additionalProperties" : false
                          },
                          "isEnabled" : { },
                          "logo" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "departmentChannelMapping" : {
                            "items" : {
                              "maxProperties" : 3,
                              "minProperties" : 3,
                              "required" : [ "channel", "departmentId", "isEnabled" ],
                              "properties" : {
                                "departmentId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isEnabled" : { },
                                "channel" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "defaultChannel" : {
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      },
                      "integId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Slack Integ Id",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "defaultChannel", "integDetail", "integId" ],
                    "properties" : {
                      "integDetail" : {
                        "required" : [ "defaultChannel", "departmentChannelMapping", "displayName", "id", "isDepartmentChannelMapEnabled", "isEnabled", "logo", "notifyOn", "slackChannels", "teamName" ],
                        "properties" : {
                          "teamName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "isDepartmentChannelMapEnabled" : { },
                          "slackChannels" : {
                            "items" : {
                              "additionalProperties" : false
                            }
                          },
                          "displayName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "notifyOn" : {
                            "maxProperties" : 10,
                            "minProperties" : 10,
                            "required" : [ "ticketAssignee", "ticketBP", "ticketClose", "ticketComment", "ticketCreate", "ticketEscalation", "ticketMove", "ticketRating", "ticketReopen", "ticketStatus" ],
                            "properties" : {
                              "ticketClose" : { },
                              "ticketBP" : { },
                              "ticketMove" : { },
                              "ticketComment" : { },
                              "ticketStatus" : { },
                              "ticketRating" : { },
                              "ticketEscalation" : { },
                              "ticketCreate" : { },
                              "ticketAssignee" : { },
                              "ticketReopen" : { }
                            },
                            "additionalProperties" : false
                          },
                          "isEnabled" : { },
                          "logo" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "departmentChannelMapping" : {
                            "items" : {
                              "maxProperties" : 3,
                              "minProperties" : 3,
                              "required" : [ "channel", "departmentId", "isEnabled" ],
                              "properties" : {
                                "departmentId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isEnabled" : { },
                                "channel" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "defaultChannel" : {
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      },
                      "integId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Slack Integ Id",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "defaultChannel" : {
                        "additionalProperties" : false
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "defaultChannel", "integDetail", "integId" ],
                    "properties" : {
                      "integDetail" : {
                        "required" : [ "defaultChannel", "departmentChannelMapping", "displayName", "id", "isDepartmentChannelMapEnabled", "isEnabled", "logo", "notifyOn", "slackChannels", "teamName" ],
                        "properties" : {
                          "teamName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "isDepartmentChannelMapEnabled" : { },
                          "slackChannels" : {
                            "items" : {
                              "additionalProperties" : false
                            }
                          },
                          "displayName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "notifyOn" : {
                            "maxProperties" : 10,
                            "minProperties" : 10,
                            "required" : [ "ticketAssignee", "ticketBP", "ticketClose", "ticketComment", "ticketCreate", "ticketEscalation", "ticketMove", "ticketRating", "ticketReopen", "ticketStatus" ],
                            "properties" : {
                              "ticketClose" : { },
                              "ticketBP" : { },
                              "ticketMove" : { },
                              "ticketComment" : { },
                              "ticketStatus" : { },
                              "ticketRating" : { },
                              "ticketEscalation" : { },
                              "ticketCreate" : { },
                              "ticketAssignee" : { },
                              "ticketReopen" : { }
                            },
                            "additionalProperties" : false
                          },
                          "isEnabled" : { },
                          "logo" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "departmentChannelMapping" : {
                            "items" : {
                              "maxProperties" : 3,
                              "minProperties" : 3,
                              "required" : [ "channel", "departmentId", "isEnabled" ],
                              "properties" : {
                                "departmentId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isEnabled" : { },
                                "channel" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "defaultChannel" : {
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      },
                      "integId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Slack Integ Id",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "defaultChannel" : {
                        "additionalProperties" : false
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "departmentChannelMapping", "integDetail", "integId" ],
                    "properties" : {
                      "integDetail" : {
                        "required" : [ "defaultChannel", "departmentChannelMapping", "displayName", "id", "isDepartmentChannelMapEnabled", "isEnabled", "logo", "notifyOn", "slackChannels", "teamName" ],
                        "properties" : {
                          "teamName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "isDepartmentChannelMapEnabled" : { },
                          "slackChannels" : {
                            "items" : {
                              "additionalProperties" : false
                            }
                          },
                          "displayName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "notifyOn" : {
                            "maxProperties" : 10,
                            "minProperties" : 10,
                            "required" : [ "ticketAssignee", "ticketBP", "ticketClose", "ticketComment", "ticketCreate", "ticketEscalation", "ticketMove", "ticketRating", "ticketReopen", "ticketStatus" ],
                            "properties" : {
                              "ticketClose" : { },
                              "ticketBP" : { },
                              "ticketMove" : { },
                              "ticketComment" : { },
                              "ticketStatus" : { },
                              "ticketRating" : { },
                              "ticketEscalation" : { },
                              "ticketCreate" : { },
                              "ticketAssignee" : { },
                              "ticketReopen" : { }
                            },
                            "additionalProperties" : false
                          },
                          "isEnabled" : { },
                          "logo" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "departmentChannelMapping" : {
                            "items" : {
                              "maxProperties" : 3,
                              "minProperties" : 3,
                              "required" : [ "channel", "departmentId", "isEnabled" ],
                              "properties" : {
                                "departmentId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isEnabled" : { },
                                "channel" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "defaultChannel" : {
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      },
                      "integId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Slack Integ Id",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "departmentChannelMapping" : {
                        "items" : {
                          "maxProperties" : 3,
                          "minProperties" : 3,
                          "required" : [ "channel", "departmentId", "isEnabled" ],
                          "properties" : {
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "isEnabled" : { },
                            "channel" : {
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "integDetail", "integId" ],
                    "properties" : {
                      "integDetail" : {
                        "required" : [ "defaultChannel", "departmentChannelMapping", "displayName", "id", "isDepartmentChannelMapEnabled", "isEnabled", "logo", "notifyOn", "slackChannels", "teamName" ],
                        "properties" : {
                          "teamName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "isDepartmentChannelMapEnabled" : { },
                          "slackChannels" : {
                            "items" : {
                              "additionalProperties" : false
                            }
                          },
                          "displayName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "notifyOn" : {
                            "maxProperties" : 10,
                            "minProperties" : 10,
                            "required" : [ "ticketAssignee", "ticketBP", "ticketClose", "ticketComment", "ticketCreate", "ticketEscalation", "ticketMove", "ticketRating", "ticketReopen", "ticketStatus" ],
                            "properties" : {
                              "ticketClose" : { },
                              "ticketBP" : { },
                              "ticketMove" : { },
                              "ticketComment" : { },
                              "ticketStatus" : { },
                              "ticketRating" : { },
                              "ticketEscalation" : { },
                              "ticketCreate" : { },
                              "ticketAssignee" : { },
                              "ticketReopen" : { }
                            },
                            "additionalProperties" : false
                          },
                          "isEnabled" : { },
                          "logo" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "departmentChannelMapping" : {
                            "items" : {
                              "maxProperties" : 3,
                              "minProperties" : 3,
                              "required" : [ "channel", "departmentId", "isEnabled" ],
                              "properties" : {
                                "departmentId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isEnabled" : { },
                                "channel" : {
                                  "additionalProperties" : false
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "defaultChannel" : {
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      },
                      "integId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Slack Integ Id",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "teamName" : "helpdeskcorp.slack.com",
                      "mappedchannels" : [ "#champ", "#desk", "#Crm" ],
                      "defaultchannel" : "#champ",
                      "displayName" : "Help Desk Corp",
                      "notifyOn" : {
                        "ticketClose" : true,
                        "ticketCreate" : true,
                        "ticketAssignee" : false,
                        "accNotify" : true
                      },
                      "isEnabled" : true,
                      "logo" : "https://slack.com/team1",
                      "slackchannels" : [ "#champ", "#facebook", "#incoming", "#outgoing", "#zsdesk", "#supportnotify" ],
                      "id" : "1000000021010",
                      "departmentChannelMapping" : [ {
                        "departmentId" : "17364000000298215",
                        "isEnabled" : true,
                        "channel" : "#champ"
                      }, {
                        "departmentId" : "17364000000298215",
                        "isEnabled" : true,
                        "channel" : "#zohocrm"
                      }, {
                        "departmentId" : "17364000000298215",
                        "isEnabled" : false,
                        "channel" : "#proj"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.integrations.UPDATE", "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "a9cb7f4760e89b684d779d8a3452dcd1",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.SlackService.slackTeamUpdate"
        }
      }
    },
    "/api/v1/slack" : {
      "patch" : {
        "tags" : [ "Slack" ],
        "summary" : "Update Slack Integ Detail",
        "description" : "To update the Slack Integ detail for the given Desk portal",
        "operationId" : "updateSlackTeamIntegrationStatus",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "integId", "isEnabled" ],
                "properties" : {
                  "isEnabled" : { },
                  "integId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "isEnabled" : true
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "No content"
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.integrations.UPDATE", "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 10,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "32373ba3780a3c5d65c51f3dd6e3a0df",
          "module-group" : "integration",
          "apimethod" : "com.zoho.support.restapi.SlackService.slackUpdate"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "mappedChannelsResponse" : {
        "items" : {
          "additionalProperties" : false
        }
      },
      "departmentChannelMappingArray" : {
        "items" : {
          "maxProperties" : 3,
          "minProperties" : 3,
          "required" : [ "channel", "departmentId", "isEnabled" ],
          "properties" : {
            "departmentId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "isEnabled" : { },
            "channel" : {
              "additionalProperties" : false
            }
          },
          "additionalProperties" : { }
        }
      },
      "teamIntegrationDetailResponse" : {
        "required" : [ "defaultChannel", "departmentChannelMapping", "displayName", "id", "isDepartmentChannelMapEnabled", "isEnabled", "logo", "notifyOn", "slackChannels", "teamName" ],
        "properties" : {
          "teamName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "isDepartmentChannelMapEnabled" : { },
          "slackChannels" : {
            "items" : {
              "additionalProperties" : false
            }
          },
          "displayName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "notifyOn" : {
            "maxProperties" : 10,
            "minProperties" : 10,
            "required" : [ "ticketAssignee", "ticketBP", "ticketClose", "ticketComment", "ticketCreate", "ticketEscalation", "ticketMove", "ticketRating", "ticketReopen", "ticketStatus" ],
            "properties" : {
              "ticketClose" : { },
              "ticketBP" : { },
              "ticketMove" : { },
              "ticketComment" : { },
              "ticketStatus" : { },
              "ticketRating" : { },
              "ticketEscalation" : { },
              "ticketCreate" : { },
              "ticketAssignee" : { },
              "ticketReopen" : { }
            },
            "additionalProperties" : { }
          },
          "isEnabled" : { },
          "logo" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "departmentChannelMapping" : {
            "items" : {
              "maxProperties" : 3,
              "minProperties" : 3,
              "required" : [ "channel", "departmentId", "isEnabled" ],
              "properties" : {
                "departmentId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "isEnabled" : { },
                "channel" : {
                  "additionalProperties" : false
                }
              },
              "additionalProperties" : false
            }
          },
          "defaultChannel" : {
            "additionalProperties" : false
          }
        },
        "additionalProperties" : { }
      },
      "integratedTeamsResponse" : {
        "required" : [ "displayName", "id", "isEnabled", "logo", "mappedChannels", "teamName" ],
        "properties" : {
          "teamName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "displayName" : {
            "maxLength" : 100,
            "minLength" : 0
          },
          "isEnabled" : { },
          "logo" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "mappedChannels" : {
            "items" : {
              "additionalProperties" : false
            }
          }
        },
        "additionalProperties" : { }
      },
      "integratedSlackTeamsResponse" : {
        "items" : {
          "required" : [ "displayName", "id", "isEnabled", "logo", "mappedChannels", "teamName" ],
          "properties" : {
            "teamName" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "displayName" : {
              "maxLength" : 100,
              "minLength" : 0
            },
            "isEnabled" : { },
            "logo" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "mappedChannels" : {
              "items" : {
                "additionalProperties" : false
              }
            }
          },
          "additionalProperties" : false
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "getTeamIntegrationDetailsResponse" : {
        "description" : "getTeamIntegrationDetailsResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "integDetail" ],
              "properties" : {
                "integDetail" : {
                  "required" : [ "defaultChannel", "departmentChannelMapping", "displayName", "id", "isDepartmentChannelMapEnabled", "isEnabled", "logo", "notifyOn", "slackChannels", "teamName" ],
                  "properties" : {
                    "teamName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "isDepartmentChannelMapEnabled" : { },
                    "slackChannels" : {
                      "items" : {
                        "additionalProperties" : false
                      }
                    },
                    "displayName" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "notifyOn" : {
                      "maxProperties" : 10,
                      "minProperties" : 10,
                      "required" : [ "ticketAssignee", "ticketBP", "ticketClose", "ticketComment", "ticketCreate", "ticketEscalation", "ticketMove", "ticketRating", "ticketReopen", "ticketStatus" ],
                      "properties" : {
                        "ticketClose" : { },
                        "ticketBP" : { },
                        "ticketMove" : { },
                        "ticketComment" : { },
                        "ticketStatus" : { },
                        "ticketRating" : { },
                        "ticketEscalation" : { },
                        "ticketCreate" : { },
                        "ticketAssignee" : { },
                        "ticketReopen" : { }
                      },
                      "additionalProperties" : false
                    },
                    "isEnabled" : { },
                    "logo" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "departmentChannelMapping" : {
                      "items" : {
                        "maxProperties" : 3,
                        "minProperties" : 3,
                        "required" : [ "channel", "departmentId", "isEnabled" ],
                        "properties" : {
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "isEnabled" : { },
                          "channel" : {
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      }
                    },
                    "defaultChannel" : {
                      "additionalProperties" : false
                    }
                  },
                  "additionalProperties" : false
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "teamName" : "helpdeskcorp.slack.com",
                  "mappedchannels" : [ "#champ", "#desk", "#Crm" ],
                  "defaultchannel" : "#champ",
                  "displayName" : "Help Desk Corp",
                  "notifyOn" : {
                    "ticketClose" : true,
                    "ticketCreate" : true,
                    "ticketAssignee" : false
                  },
                  "isEnabled" : true,
                  "logo" : "https://slack.com/team1",
                  "slackchannels" : [ "#champ", "#facebook", "#incoming", "#outgoing", "#zsdesk", "#supportnotify" ],
                  "id" : "1000000021010",
                  "departmentChannelMapping" : [ {
                    "departmentId" : "17364000000298215",
                    "isEnabled" : true,
                    "channel" : "#champ"
                  }, {
                    "departmentId" : "17364000000298215",
                    "isEnabled" : true,
                    "channel" : "#zohocrm"
                  }, {
                    "departmentId" : "17364000000298215",
                    "isEnabled" : false,
                    "channel" : "#proj"
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "getIntegratedSlackTeamsResponse" : {
        "description" : "getIntegratedSlackTeamsResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "integDetail", "isEnabled" ],
              "properties" : {
                "integDetail" : {
                  "items" : {
                    "required" : [ "displayName", "id", "isEnabled", "logo", "mappedChannels", "teamName" ],
                    "properties" : {
                      "teamName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "displayName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "isEnabled" : { },
                      "logo" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "mappedChannels" : {
                        "items" : {
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "isEnabled" : { }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "teamName" : "helpdeskcorp.slack.com",
                  "mappedchannels" : [ "#champ", "#desk", "#Crm" ],
                  "displayName" : "Help Desk Corp",
                  "isEnabled" : true,
                  "logo" : "https://slack.com/team1",
                  "id" : "1000000021010"
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "updateTeamIntegrationDetailsResponse" : {
        "description" : "updateTeamIntegrationDetailsResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "oneOf" : [ {
                "required" : [ "integDetail", "integId", "isEnabled" ],
                "properties" : {
                  "isEnabled" : {
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "replacementString" : "",
                      "allowInvalid" : false,
                      "descrption" : "Slack Integ Status",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  },
                  "integDetail" : {
                    "required" : [ "defaultChannel", "departmentChannelMapping", "displayName", "id", "isDepartmentChannelMapEnabled", "isEnabled", "logo", "notifyOn", "slackChannels", "teamName" ],
                    "properties" : {
                      "teamName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "isDepartmentChannelMapEnabled" : { },
                      "slackChannels" : {
                        "items" : {
                          "additionalProperties" : false
                        }
                      },
                      "displayName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "notifyOn" : {
                        "maxProperties" : 10,
                        "minProperties" : 10,
                        "required" : [ "ticketAssignee", "ticketBP", "ticketClose", "ticketComment", "ticketCreate", "ticketEscalation", "ticketMove", "ticketRating", "ticketReopen", "ticketStatus" ],
                        "properties" : {
                          "ticketClose" : { },
                          "ticketBP" : { },
                          "ticketMove" : { },
                          "ticketComment" : { },
                          "ticketStatus" : { },
                          "ticketRating" : { },
                          "ticketEscalation" : { },
                          "ticketCreate" : { },
                          "ticketAssignee" : { },
                          "ticketReopen" : { }
                        },
                        "additionalProperties" : false
                      },
                      "isEnabled" : { },
                      "logo" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "departmentChannelMapping" : {
                        "items" : {
                          "maxProperties" : 3,
                          "minProperties" : 3,
                          "required" : [ "channel", "departmentId", "isEnabled" ],
                          "properties" : {
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "isEnabled" : { },
                            "channel" : {
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "defaultChannel" : {
                        "additionalProperties" : false
                      }
                    },
                    "additionalProperties" : false
                  },
                  "integId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64",
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "replacementString" : "",
                      "allowInvalid" : false,
                      "descrption" : "Slack Integ Id",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  }
                },
                "additionalProperties" : { }
              }, {
                "required" : [ "defaultChannel", "integDetail", "integId" ],
                "properties" : {
                  "integDetail" : {
                    "required" : [ "defaultChannel", "departmentChannelMapping", "displayName", "id", "isDepartmentChannelMapEnabled", "isEnabled", "logo", "notifyOn", "slackChannels", "teamName" ],
                    "properties" : {
                      "teamName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "isDepartmentChannelMapEnabled" : { },
                      "slackChannels" : {
                        "items" : {
                          "additionalProperties" : false
                        }
                      },
                      "displayName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "notifyOn" : {
                        "maxProperties" : 10,
                        "minProperties" : 10,
                        "required" : [ "ticketAssignee", "ticketBP", "ticketClose", "ticketComment", "ticketCreate", "ticketEscalation", "ticketMove", "ticketRating", "ticketReopen", "ticketStatus" ],
                        "properties" : {
                          "ticketClose" : { },
                          "ticketBP" : { },
                          "ticketMove" : { },
                          "ticketComment" : { },
                          "ticketStatus" : { },
                          "ticketRating" : { },
                          "ticketEscalation" : { },
                          "ticketCreate" : { },
                          "ticketAssignee" : { },
                          "ticketReopen" : { }
                        },
                        "additionalProperties" : false
                      },
                      "isEnabled" : { },
                      "logo" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "departmentChannelMapping" : {
                        "items" : {
                          "maxProperties" : 3,
                          "minProperties" : 3,
                          "required" : [ "channel", "departmentId", "isEnabled" ],
                          "properties" : {
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "isEnabled" : { },
                            "channel" : {
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "defaultChannel" : {
                        "additionalProperties" : false
                      }
                    },
                    "additionalProperties" : false
                  },
                  "integId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64",
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "replacementString" : "",
                      "allowInvalid" : false,
                      "descrption" : "Slack Integ Id",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  },
                  "defaultChannel" : {
                    "additionalProperties" : false
                  }
                },
                "additionalProperties" : { }
              }, {
                "required" : [ "defaultChannel", "integDetail", "integId" ],
                "properties" : {
                  "integDetail" : {
                    "required" : [ "defaultChannel", "departmentChannelMapping", "displayName", "id", "isDepartmentChannelMapEnabled", "isEnabled", "logo", "notifyOn", "slackChannels", "teamName" ],
                    "properties" : {
                      "teamName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "isDepartmentChannelMapEnabled" : { },
                      "slackChannels" : {
                        "items" : {
                          "additionalProperties" : false
                        }
                      },
                      "displayName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "notifyOn" : {
                        "maxProperties" : 10,
                        "minProperties" : 10,
                        "required" : [ "ticketAssignee", "ticketBP", "ticketClose", "ticketComment", "ticketCreate", "ticketEscalation", "ticketMove", "ticketRating", "ticketReopen", "ticketStatus" ],
                        "properties" : {
                          "ticketClose" : { },
                          "ticketBP" : { },
                          "ticketMove" : { },
                          "ticketComment" : { },
                          "ticketStatus" : { },
                          "ticketRating" : { },
                          "ticketEscalation" : { },
                          "ticketCreate" : { },
                          "ticketAssignee" : { },
                          "ticketReopen" : { }
                        },
                        "additionalProperties" : false
                      },
                      "isEnabled" : { },
                      "logo" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "departmentChannelMapping" : {
                        "items" : {
                          "maxProperties" : 3,
                          "minProperties" : 3,
                          "required" : [ "channel", "departmentId", "isEnabled" ],
                          "properties" : {
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "isEnabled" : { },
                            "channel" : {
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "defaultChannel" : {
                        "additionalProperties" : false
                      }
                    },
                    "additionalProperties" : false
                  },
                  "integId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64",
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "replacementString" : "",
                      "allowInvalid" : false,
                      "descrption" : "Slack Integ Id",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  },
                  "defaultChannel" : {
                    "additionalProperties" : false
                  }
                },
                "additionalProperties" : { }
              }, {
                "required" : [ "departmentChannelMapping", "integDetail", "integId" ],
                "properties" : {
                  "integDetail" : {
                    "required" : [ "defaultChannel", "departmentChannelMapping", "displayName", "id", "isDepartmentChannelMapEnabled", "isEnabled", "logo", "notifyOn", "slackChannels", "teamName" ],
                    "properties" : {
                      "teamName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "isDepartmentChannelMapEnabled" : { },
                      "slackChannels" : {
                        "items" : {
                          "additionalProperties" : false
                        }
                      },
                      "displayName" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "notifyOn" : {
                        "maxProperties" : 10,
                        "minProperties" : 10,
                        "required" : [ "ticketAssignee", "ticketBP", "ticketClose", "ticketComment", "ticketCreate", "ticketEscalation", "ticketMove", "ticketRating", "ticketReopen", "ticketStatus" ],
                        "properties" : {
                          "ticketClose" : { },
                          "ticketBP" : { },
                          "ticketMove" : { },
                          "ticketComment" : { },
                          "ticketStatus" : { },
                          "ticketRating" : { },
                          "ticketEscalation" : { },
                          "ticketCreate" : { },
                          "ticketAssignee" : { },
                          "ticketReopen" : { }
                        },
                        "additionalProperties" : false
                      },
                      "isEnabled" : { },
                      "logo" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "departmentChannelMapping" : {
                        "items" : {
                          "maxProperties" : 3,
                          "minProperties" : 3,
                          "required" : [ "channel", "departmentId", "isEnabled" ],
                          "properties" : {
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "isEnabled" : { },
                            "channel" : {
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "defaultChannel" : {
                        "additionalProperties" : false
                      }
                    },
                    "additionalProperties" : false
                  },
                  "integId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64",
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "replacementString" : "",
                      "allowInvalid" : false,
                      "descrption" : "Slack Integ Id",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  },
                  "departmentChannelMapping" : {
                    "items" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "channel", "departmentId", "isEnabled" ],
                      "properties" : {
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "isEnabled" : { },
                        "channel" : {
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : false
                    }
                  }
                },
                "additionalProperties" : { }
              }, {
                "required" : [ "integDetail", "integId" ],
                "properties" : {
                  "integDetail" : {
                    "required" : [ "defaultChannel", "departmentChannelMapping", "displayName", "id", "isDepartmentChannelMapEnabled", "isEnabled", "logo", "notifyOn", "slackChannels", "teamName" ],
                    "properties" : {
                      "teamName" : {
                        "maxLength" : 100,
                        "minLength" : 0
[...]
