{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Snippets",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "automation"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/mysnippets" : {
      "get" : {
        "tags" : [ "Snippets" ],
        "summary" : "List MySnippets",
        "description" : "get all my snippets",
        "operationId" : "getMySnippets",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "no of snippets to be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "no of snippets to be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "from index",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "from index",
            "format" : "int32"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "snippetListResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "required" : [ "expandedContent", "snippetId", "snippetWord" ],
                    "properties" : {
                      "expandedContent" : {
                        "maxLength" : 32000,
                        "minLength" : 0
                      },
                      "snippetWord" : {
                        "maxLength" : 20,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "snippetId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "additionalProperties" : { }
                  }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : [ {
                      "expandedContent" : "Hi,Thank you for contacting us",
                      "snippetWord" : "hi",
                      "snippetId" : "4000000019143"
                    } ]
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "46549ae9d85b2c18e71eea1772fe2052",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.SnippetService.getMySnippets"
        }
      },
      "post" : {
        "tags" : [ "Snippets" ],
        "summary" : "Create a Snippet",
        "description" : "create a snippet",
        "operationId" : "create",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "expandedContent", "snippetWord" ],
                "properties" : {
                  "expandedContent" : {
                    "maxLength" : 32000,
                    "minLength" : 0,
                    "x-custom-parameters-attributes" : {
                      "xss" : "antisamyfilter_withstyletag"
                    }
                  },
                  "snippetWord" : {
                    "maxLength" : 20,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}])+"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "expandedContent" : "Hi! Welcome to Zoho Desk.. How can I help you?",
                    "snippetWord" : "greet"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "201" : {
            "description" : "snippetResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "expandedContent", "snippetId", "snippetWord" ],
                  "properties" : {
                    "expandedContent" : {
                      "maxLength" : 32000,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Snippet Content mapped for the keyword",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "xss" : "antisamyfilter_withstyletag",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "snippetWord" : {
                      "maxLength" : 20,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Snippet Keyword",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "snippetId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "expandedContent" : "Hi! Welcome to Zoho Desk.. How can I help you?",
                      "snippetWord" : "greetings",
                      "snippetId" : "4000000019145"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "5af17683db4b53adfa15be32c730bd6c",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.SnippetService.create"
        }
      }
    },
    "/api/v1/mysnippets/{snippetId}/apply" : {
      "post" : {
        "tags" : [ "Snippets" ],
        "summary" : "Apply Snippet",
        "description" : "Fetch the content to be replaced for snippet",
        "operationId" : "apply",
        "parameters" : [ {
          "name" : "caseId",
          "in" : "query",
          "description" : "Ticket id in which the snippet has to be applied",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Ticket id in which the snippet has to be applied",
            "format" : "int64"
          }
        }, {
          "name" : "snippetId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "applyAPIResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "replacedContent" ],
                  "properties" : {
                    "replacedContent" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "replacedContent" : "Welcome Stella"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "a4971b44bdb0c1fc7d8c1847fc6ab519",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.SnippetService.apply"
        }
      }
    },
    "/api/v1/mysnippets/{snippetId}" : {
      "get" : {
        "tags" : [ "Snippets" ],
        "summary" : "Get your Snippet",
        "description" : "get a particular snippet",
        "operationId" : "get",
        "parameters" : [ {
          "name" : "snippetId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "snippetResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "expandedContent", "snippetId", "snippetWord" ],
                  "properties" : {
                    "expandedContent" : {
                      "maxLength" : 32000,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Snippet Content mapped for the keyword",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "xss" : "antisamyfilter_withstyletag",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "snippetWord" : {
                      "maxLength" : 20,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Snippet Keyword",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "snippetId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "expandedContent" : "Hi! Welcome to Zoho Desk.. How can I help you?",
                      "snippetWord" : "greetings",
                      "snippetId" : "4000000019145"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "3c8d35886ed73d785df42c90fd5ed5d1",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.SnippetService.get"
        }
      },
      "put" : {
        "tags" : [ "Snippets" ],
        "summary" : "Update My Snippet",
        "description" : "update a snippet",
        "operationId" : "update",
        "parameters" : [ {
          "name" : "snippetId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "expandedContent" : {
                    "maxLength" : 32000,
                    "minLength" : 0,
                    "x-custom-parameters-attributes" : {
                      "xss" : "antisamyfilter_withstyletag"
                    }
                  },
                  "snippetWord" : {
                    "maxLength" : 20,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}])+"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "expandedContent" : "Hi! Welcome to Zoho Desk.. How can I help you?",
                    "snippetWord" : "greetings"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "snippetResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "expandedContent", "snippetId", "snippetWord" ],
                  "properties" : {
                    "expandedContent" : {
                      "maxLength" : 32000,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Snippet Content mapped for the keyword",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "xss" : "antisamyfilter_withstyletag",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "snippetWord" : {
                      "maxLength" : 20,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Snippet Keyword",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "snippetId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "expandedContent" : "Hi! Welcome to Zoho Desk.. How can I help you?",
                      "snippetWord" : "greetings",
                      "snippetId" : "4000000019145"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "43225ebf377e78f875481721e28e88d6",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.SnippetService.update"
        }
      },
      "delete" : {
        "tags" : [ "Snippets" ],
        "summary" : "Delete My Snippet",
        "description" : "delete a snippet",
        "operationId" : "delete",
        "parameters" : [ {
          "name" : "snippetId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "snippetResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "expandedContent", "snippetId", "snippetWord" ],
                  "properties" : {
                    "expandedContent" : {
                      "maxLength" : 32000,
                      "minLength" : 0,
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Snippet Content mapped for the keyword",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "xss" : "antisamyfilter_withstyletag",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "snippetWord" : {
                      "maxLength" : 20,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Snippet Keyword",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "snippetId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "expandedContent" : "Hi! Welcome to Zoho Desk.. How can I help you?",
                      "snippetWord" : "greetings",
                      "snippetId" : "4000000019145"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.DELETE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "06e614de58d3bad46f868c5642a4cc95",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.SnippetService.delete"
        }
      }
    },
    "/api/v1/snippetPlaceHolders" : {
      "get" : {
        "tags" : [ "Snippets" ],
        "summary" : "Get Snippet Placeholders",
        "description" : "Get Supported Snippet Placholders",
        "operationId" : "fetchPlaceHolders",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "placeHolderList template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "required" : [ "fields", "module", "modulei18nVal" ],
                    "properties" : {
                      "module" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "Cases", "Case Owner", "User", "Organization" ]
                      },
                      "modulei18nVal" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "fields" : {
                        "uniqueItems" : false,
                        "items" : {
                          "maxProperties" : 3,
                          "minProperties" : 3,
                          "required" : [ "fieldI18nVal", "fieldLabel", "mergeField" ],
                          "properties" : {
                            "mergeField" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "fieldLabel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "fieldI18nVal" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : [ {
                      "module" : "Cases",
                      "modulei18nVal" : "Ticket",
                      "fields" : [ {
                        "mergeField" : "${Cases.Account Name}",
                        "fieldLabel" : "Account Name",
                        "fieldI18nVal" : "Account Name"
                      }, {
                        "mergeField" : "${Cases.Contact Name}",
                        "fieldLabel" : "Contact Name",
                        "fieldI18nVal" : "Contact Name"
                      }, {
                        "mergeField" : "${Cases.Email}",
                        "fieldLabel" : "Email",
                        "fieldI18nVal" : "Email"
                      }, {
                        "mergeField" : "${Cases.Phone}",
                        "fieldLabel" : "Phone",
                        "fieldI18nVal" : "Phone"
                      }, {
                        "mergeField" : "${Cases.Subject}",
                        "fieldLabel" : "Subject",
                        "fieldI18nVal" : "Subject"
                      }, {
                        "mergeField" : "${Cases.Description}",
                        "fieldLabel" : "Description",
                        "fieldI18nVal" : "Description"
                      }, {
                        "mergeField" : "${Cases.Request Id}",
                        "fieldLabel" : "Request Id",
                        "fieldI18nVal" : "Ticket Id"
                      }, {
                        "mergeField" : "${Cases.First Name}",
                        "fieldLabel" : "First Name",
                        "fieldI18nVal" : "First Name"
                      }, {
                        "mergeField" : "${Cases.Last Name}",
                        "fieldLabel" : "Last Name",
                        "fieldI18nVal" : "Last Name"
                      }, {
                        "mergeField" : "${Cases.CUSTOMER_PORTAL_LINK}",
                        "fieldLabel" : "Customer Ticket Url",
                        "fieldI18nVal" : "Customer Ticket URL"
                      } ]
                    }, {
                      "module" : "User",
                      "modulei18nVal" : "Agent",
                      "fields" : [ {
                        "mergeField" : "${User.Support Rep Name}",
                        "fieldLabel" : "Support Rep Name",
                        "fieldI18nVal" : "Support Rep Name"
                      }, {
                        "mergeField" : "${User.Email}",
                        "fieldLabel" : "Email",
                        "fieldI18nVal" : "Email"
                      }, {
                        "mergeField" : "${User.Phone}",
                        "fieldLabel" : "Phone",
                        "fieldI18nVal" : "Phone"
                      }, {
                        "mergeField" : "${User.First Name}",
                        "fieldLabel" : "First Name",
                        "fieldI18nVal" : "First Name"
                      }, {
                        "mergeField" : "${User.Last Name}",
                        "fieldLabel" : "Last Name",
                        "fieldI18nVal" : "Last Name"
                      }, {
                        "mergeField" : "${User.Mobile}",
                        "fieldLabel" : "Mobile",
                        "fieldI18nVal" : "Mobile"
                      } ]
                    } ]
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "5492136f794b097c2a00a6fd1e2d4aee",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.SnippetService.fetchPlaceHolders"
        }
      }
    },
    "/api/v1/mysnippets/search" : {
      "get" : {
        "tags" : [ "Snippets" ],
        "summary" : "Search My Snippet",
        "description" : "search a snippet based on snippet word",
        "operationId" : "searchMySnippet",
        "parameters" : [ {
          "name" : "snippetWord",
          "in" : "query",
          "description" : "snippetWord to be searched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 20,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}])+",
            "description" : "snippetWord to be searched"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "no of snippets to be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "no of snippets to be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "from index",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "from index",
            "format" : "int32"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "snippetListResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "required" : [ "expandedContent", "snippetId", "snippetWord" ],
                    "properties" : {
                      "expandedContent" : {
                        "maxLength" : 32000,
                        "minLength" : 0
                      },
                      "snippetWord" : {
                        "maxLength" : 20,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "snippetId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "additionalProperties" : false
                  }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : [ {
                      "expandedContent" : "Hi,Thank you for contacting us",
                      "snippetWord" : "hi",
                      "snippetId" : "4000000019143"
                    } ]
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 30,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "4eca1d6519c5f8a84ff013ad1d5e65ad",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.SnippetService.searchMySnippet"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "snippetResponse" : {
        "required" : [ "expandedContent", "snippetId", "snippetWord" ],
        "properties" : {
          "expandedContent" : {
            "maxLength" : 32000,
            "minLength" : 0
          },
          "snippetWord" : {
            "maxLength" : 20,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "snippetId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "placeHolderResponse" : {
        "required" : [ "fields", "module", "modulei18nVal" ],
        "properties" : {
          "module" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "Cases", "Case Owner", "User", "Organization" ]
          },
          "modulei18nVal" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "fields" : {
            "uniqueItems" : false,
            "items" : {
              "maxProperties" : 3,
              "minProperties" : 3,
              "required" : [ "fieldI18nVal", "fieldLabel", "mergeField" ],
              "properties" : {
                "mergeField" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                },
                "fieldLabel" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                },
                "fieldI18nVal" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                }
              },
              "additionalProperties" : { }
            }
          }
        },
        "additionalProperties" : { }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "snippetListResponse" : {
        "description" : "snippetListResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "items" : {
                "required" : [ "expandedContent", "snippetId", "snippetWord" ],
                "properties" : {
                  "expandedContent" : {
                    "maxLength" : 32000,
                    "minLength" : 0
                  },
                  "snippetWord" : {
                    "maxLength" : 20,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "snippetId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : false
              }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : [ {
                  "expandedContent" : "Hi,Thank you for contacting us",
                  "snippetWord" : "hi",
                  "snippetId" : "4000000019143"
                } ]
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "applyAPIResponse" : {
        "description" : "applyAPIResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "replacedContent" ],
              "properties" : {
                "replacedContent" : {
                  "maxLength" : 100,
                  "minLength" : 0
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "replacedContent" : "Welcome Stella"
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "snippetResponse" : {
        "description" : "snippetResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "expandedContent", "snippetId", "snippetWord" ],
              "properties" : {
                "expandedContent" : {
                  "maxLength" : 32000,
                  "minLength" : 0,
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Snippet Content mapped for the keyword",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "xss" : "antisamyfilter_withstyletag",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "snippetWord" : {
                  "maxLength" : 20,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Snippet Keyword",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "snippetId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "expandedContent" : "Hi! Welcome to Zoho Desk.. How can I help you?",
                  "snippetWord" : "greetings",
                  "snippetId" : "4000000019145"
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "placeHolderList" : {
        "description" : "placeHolderList template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "items" : {
                "required" : [ "fields", "module", "modulei18nVal" ],
                "properties" : {
                  "module" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "Cases", "Case Owner", "User", "Organization" ]
                  },
                  "modulei18nVal" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "fields" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "fieldI18nVal", "fieldLabel", "mergeField" ],
                      "properties" : {
                        "mergeField" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "fieldLabel" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "fieldI18nVal" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        }
                      },
                      "additionalProperties" : false
                    }
                  }
                },
                "additionalProperties" : false
              }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : [ {
                  "module" : "Cases",
                  "modulei18nVal" : "Ticket",
                  "fields" : [ {
                    "mergeField" : "${Cases.Account Name}",
                    "fieldLabel" : "Account Name",
                    "fieldI18nVal" : "Account Name"
                  }, {
                    "mergeField" : "${Cases.Contact Name}",
                    "fieldLabel" : "Contact Name",
                    "fieldI18nVal" : "Contact Name"
                  }, {
                    "mergeField" : "${Cases.Email}",
                    "fieldLabel" : "Email",
                    "fieldI18nVal" : "Email"
                  }, {
                    "mergeField" : "${Cases.Phone}",
                    "fieldLabel" : "Phone",
                    "fieldI18nVal" : "Phone"
                  }, {
                    "mergeField" : "${Cases.Subject}",
                    "fieldLabel" : "Subject",
                    "fieldI18nVal" : "Subject"
                  }, {
                    "mergeField" : "${Cases.Description}",
                    "fieldLabel" : "Description",
                    "fieldI18nVal" : "Description"
                  }, {
                    "mergeField" : "${Cases.Request Id}",
                    "fieldLabel" : "Request Id",
                    "fieldI18nVal" : "Ticket Id"
                  }, {
                    "mergeField" : "${Cases.First Name}",
                    "fieldLabel" : "First Name",
                    "fieldI18nVal" : "First Name"
                  }, {
                    "mergeField" : "${Cases.Last Name}",
                    "fieldLabel" : "Last Name",
                    "fieldI18nVal" : "Last Name"
                  }, {
                    "mergeField" : "${Cases.CUSTOMER_PORTAL_LINK}",
                    "fieldLabel" : "Customer Ticket Url",
                    "fieldI18nVal" : "Customer Ticket URL"
                  } ]
                }, {
                  "module" : "User",
                  "modulei18nVal" : "Agent",
                  "fields" : [ {
                    "mergeField" : "${User.Support Rep Name}",
                    "fieldLabel" : "Support Rep Name",
                    "fieldI18nVal" : "Support Rep Name"
                  }, {
                    "mergeField" : "${User.Email}",
                    "fieldLabel" : "Email",
                    "fieldI18nVal" : "Email"
                  }, {
                    "mergeField" : "${User.Phone}",
                    "fieldLabel" : "Phone",
                    "fieldI18nVal" : "Phone"
                  }, {
                    "mergeField" : "${User.First Name}",
                    "fieldLabel" : "First Name",
                    "fieldI18nVal" : "First Name"
                  }, {
                    "mergeField" : "${User.Last Name}",
                    "fieldLabel" : "Last Name",
                    "fieldI18nVal" : "Last Name"
                  }, {
                    "mergeField" : "${User.Mobile}",
                    "fieldLabel" : "Mobile",
                    "fieldI18nVal" : "Mobile"
                  } ]
                } ]
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "OAuth Org Mismatch Error Response" : {
                "value" : {
                  "errorCode" : "OAUTH_ORG_MISMATCH",
                  "message" : "The OAuthToken is not valid for specified organization."
                }
              }
            }
          }
        }
      },
      "forbiddenErrorResponse" : {
        "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Forbidden Error Response" : {
                "value" : {
                  "errorCode" : "FORBIDDEN",
                  "message" : "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "urlNotFoundErrorResponse" : {
        "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Url Not Found Error Response" : {
                "value" : {
                  "errorCode" : "URL_NOT_FOUND",
                  "message" : "The URL you requested could not be found."
                }
              }
            }
          }
        }
      },
      "methodNotAllowedErrorResponse" : {
        "description" : "This errorCode value appears if the method in the API request is known by the server but disabled for the API requested.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Method Not Allowed Error Response" : {
                "value" : {
                  "errorCode" : "METHOD_NOT_ALLOWED",
                  "message" : "This HTTP method is not allowed on this URL."
                }
              }
            }
          }
        }
      },
      "resourceSizeExceededErrorResponse" : {
        "description" : "This errorCode value appears if the size of the resource exceeds the limit defined by the server.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Resource Size Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "RESOURCE_SIZE_EXCEEDED",
                  "message" : "Attachment size is too large. The maximum size supported is 20 MB."
                }
              }
            }
          }
        }
      },
      "unSupportedMediaTypeErrorResponse" : {
        "description" : "This errorCode value appears if the server refuses the request as a result of receiving the input in an unsupported format.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unsupported Media Type Error Response" : {
                "value" : {
                  "errorCode" : "UNSUPPORTED_MEDIA_TYPE",
                  "message" : "The given content type is not supported. Please provide the input Content-Type as application/json"
                }
              }
            }
          }
        }
      },
      "unprocessableEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The value passed for the 'from' query parameter is invalid."
                }
              }
            }
          }
        }
      },
      "missingEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not contain the mandatory parameters for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The mandatory parameter 'permission' is missing"
                }
              }
            }
          }
        }
      },
      "thresholdExceedErrorResponse" : {
        "description" : "This errorCode value appears if the user sends too many requests within a given amount of time (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Threshold Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "THRESHOLD_EXCEEDED",
                  "message" : "The maximum number of API calls that can be made per day has been exceeded."
                }
              }
            }
          }
        }
      },
      "concurrentRateLimitExceededErrorResponse" : {
        "description" : "This errorCode value appears if the user fires too many requests in a simultaneous/concurrent manner (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Concurrent Rate Limit Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "TOO_MANY_REQUESTS",
                  "message" : "The maximum number of Concurrent API Calls that can be made has been exceeded."
                }
              }
            }
          }
        }
      },
      "internalErrorResponse" : {
        "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Internal Server Error Response" : {
                "value" : {
                  "errorCode" : "INTERNAL_SERVER_ERROR",
                  "message" : "An internal server error occurred while performing this operation."
                }
              }
            }
          }
        }
      },
      "licenseErrorResponse" : {
        "description" : "This errorCode value appears if the user is unable to perform an action due to the limitations of the Zoho Desk edition in use\nThe possible values for the feature key are\n    *AGENTS*\n    *LIGHT_AGENTS*\n    *TEAM*\nThe possible values for the editionType key are\n    *FREE*\n    *PROFESSIONAL*\n    *ENTERPRISE*",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "editionType", "feature", "isTrial", "maxAllowedEntity" ],
                "properties" : {
                  "maxAllowedEntity" : {
                    "pattern" : "([0-9]+)"
                  },
                  "feature" : {
                    "enum" : [ "AGENTS", "LIGHT_AGENTS", "TEAM" ]
                  },
                  "editionType" : {
                    "enum" : [ "ENTERPRISE", "PROFESSIONAL", "STANDARD", "EXPRESS", "FREE" ]
                  },
                  "isTrial" : { }
                }
              } ]
            },
            "examples" : {
              "LicenseAccessLimited Error Response" : {
                "value" : {
                  "errorCode" : "LICENSE_ACCESS_LIMITED",
                  "maxAllowedEntity" : "10",
                  "feature" : "AGENTS",
                  "editionType" : "FREE",
                  "isTrial" : false,
                  "message" : "Your Zoho Desk Edition does not support this feature/operation."
                }
              }
            }
          }
        }
      },
      "multipleUnprocessEntityResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "anyOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "additionalProperties" : { },
                "allOf" : [ {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                }, {
                  "required" : [ "errors" ],
                  "properties" : {
                    "errors" : {
                      "items" : {
                        "required" : [ "errorMessage", "errorType", "fieldName" ],
                        "properties" : {
                          "fieldName" : { },
                          "errorType" : {
                            "enum" : [ "invalid", "duplicate", "missing" ]
                          },
                          "errorMessage" : { }
                        }
                      }
                    }
                  }
                } ]
              } ]
            }
          }
        }
      },
      "invalidDataErrorResponse" : {
        "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "errors" ],
                "properties" : {
                  "errors" : {
                    "items" : {
                      "required" : [ "errorMessage", "errorType", "fieldName" ],
                      "properties" : {
                        "fieldName" : { },
                        "errorType" : {
                          "enum" : [ "invalid", "duplicate", "missing" ]
                        },
                        "errorMessage" : { }
                      }
                    }
                  }
                }
              } ]
            },
            "examples" : {
              "Invalid Data Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_DATA",
                  "message" : "The data does not comply to the validation restrictions defined.",
                  "errors" : [ {
                    "fieldName" : "/contactId",
                    "errorType" : "invalid"
                  }, {
                    "fieldName" : "/departmentId",
                    "errorType" : "invalid"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "parameters" : {
      "limit" : {
        "name" : "limit",
        "in" : "query",
        "description" : "no of snippets to be fetched",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "([0-9]+)",
          "description" : "no of snippets to be fetched",
          "format" : "int32"
        }
      },
      "from" : {
        "name" : "from",
        "in" : "query",
        "description" : "from index",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "([0-9]+)",
          "description" : "from index",
          "format" : "int32"
        }
      },
      "snippetId" : {
        "name" : "snippetId",
        "in" : "path",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "pattern" : "([0-9]+)",
          "format" : "int64"
        }
      },
      "orgId" : {
        "name" : "orgId",
        "in" : "query",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "([0-9]+)",
          "format" : "int32",
          "x-custom-parameters-attributes" : { }
        }
      },
      "portalId" : {
        "name" : "portalId",
        "in" : "query",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "([a-zA-Z0-9\\-\\:])+",
          "format" : "int32",
          "x-custom-parameters-attributes" : {
            "decrypt" : true
          }
        }
      }
    },
    "requestBodies" : {
      "snippetJson" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "expandedContent", "snippetWord" ],
              "properties" : {
                "expandedContent" : {
                  "maxLength" : 32000,
                  "minLength" : 0,
                  "x-custom-parameters-attributes" : {
                    "xss" : "antisamyfilter_withstyletag"
                  }
                },
                "snippetWord" : {
                  "maxLength" : 20,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}])+"
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid requestBody Definitions" : {
                "value" : {
                  "expandedContent" : "Hi! Welcome to Zoho Desk.. How can I help you?",
                  "snippetWord" : "greet"
                }
              }
            }
          }
        },
[...]
