{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "SocialPosts",
    "version" : "1.0.0",
    "x-clan-group" : "integration",
    "x-module-group" : "social"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/socialBrands/{brandId}/instagramPosts" : {
      "get" : {
        "tags" : [ "SocialPosts" ],
        "summary" : "Get InstagramPosts",
        "description" : "Get InstagramPosts of Brand",
        "operationId" : "getInstagramPosts",
        "parameters" : [ {
          "name" : "cursor",
          "in" : "query",
          "description" : "Cursor for Pagination",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "\\{(.*)\\}",
            "description" : "Cursor for Pagination",
            "x-custom-parameters-attributes" : {
              "cursor" : {
                "removeExif" : false,
                "replacementString" : "",
                "filterMatchedContent" : false,
                "antivirus" : false,
                "allowInvalid" : false,
                "descrption" : "Cursor for Pagination",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              },
              "type" : {
                "removeExif" : false,
                "replacementString" : "",
                "filterMatchedContent" : false,
                "antivirus" : false,
                "allowInvalid" : false,
                "descrption" : "Type of Instagram Posts to be Fetched. Supported Types are posts and mentions",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              },
              "portalname" : {
                "removeExif" : false,
                "trim" : false,
                "replacementString" : "",
                "filterMatchedContent" : false,
                "antivirus" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "allowInvalid" : false,
                "secret" : false,
                "importUrl" : false,
                "decrypt" : false,
                "preserveCharsLimit" : 10
              },
              "orgId" : {
                "removeExif" : false,
                "trim" : false,
                "replacementString" : "",
                "filterMatchedContent" : false,
                "antivirus" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "allowInvalid" : false,
                "secret" : false,
                "importUrl" : false,
                "decrypt" : false,
                "preserveCharsLimit" : 10
              }
            }
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Type of Instagram Posts to be Fetched. Supported Types are posts and mentions",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Type of Instagram Posts to be Fetched. Supported Types are posts and mentions",
            "enum" : [ "posts" ]
          }
        }, {
          "name" : "brandId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getInstagramPosts template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "cursor", "data" ],
                  "properties" : {
                    "cursor" : {
                      "required" : [ "after", "before" ],
                      "properties" : {
                        "before" : {
                          "maxLength" : 500,
                          "minLength" : 0
                        },
                        "after" : {
                          "maxLength" : 500,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "data" : {
                      "items" : {
                        "oneOf" : [ {
                          "required" : [ "attachments", "author", "createdTime", "id", "likes", "replies" ],
                          "properties" : {
                            "attachments" : {
                              "items" : {
                                "required" : [ "href", "id", "type" ],
                                "properties" : {
                                  "href" : {
                                    "maxLength" : 500,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "type" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "IMAGE", "VIDEO", "photo", "shared_post_photo" ]
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "replies" : {
                              "required" : [ "canComment", "count" ],
                              "properties" : {
                                "count" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "canComment" : { }
                              },
                              "additionalProperties" : false
                            },
                            "author" : {
                              "required" : [ "href", "id", "name", "username" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "href" : {
                                  "maxLength" : 500,
                                  "minLength" : 0
                                },
                                "username" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : false
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "likes" : {
                              "required" : [ "count" ],
                              "properties" : {
                                "count" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "additionalProperties" : false
                        }, {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "required" : [ "attachments", "author", "createdTime", "id", "likes", "replies" ],
                            "properties" : {
                              "attachments" : {
                                "items" : {
                                  "required" : [ "href", "id", "type" ],
                                  "properties" : {
                                    "href" : {
                                      "maxLength" : 500,
                                      "minLength" : 0
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "type" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "IMAGE", "VIDEO", "photo", "shared_post_photo" ]
                                    }
                                  },
                                  "additionalProperties" : false
                                }
                              },
                              "replies" : {
                                "required" : [ "canComment", "count" ],
                                "properties" : {
                                  "count" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "canComment" : { }
                                },
                                "additionalProperties" : false
                              },
                              "author" : {
                                "required" : [ "href", "id", "name", "username" ],
                                "properties" : {
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "href" : {
                                    "maxLength" : 500,
                                    "minLength" : 0
                                  },
                                  "username" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "createdTime" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "likes" : {
                                "required" : [ "count" ],
                                "properties" : {
                                  "count" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "ticket" ],
                            "properties" : {
                              "ticket" : {
                                "required" : [ "departmentId", "encryptedTicketId", "id", "ticketNumber" ],
                                "properties" : {
                                  "ticketNumber" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "departmentId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "encryptedTicketId" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          } ]
                        }, {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "required" : [ "attachments", "author", "createdTime", "id", "likes", "replies" ],
                            "properties" : {
                              "attachments" : {
                                "items" : {
                                  "required" : [ "href", "id", "type" ],
                                  "properties" : {
                                    "href" : {
                                      "maxLength" : 500,
                                      "minLength" : 0
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "type" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "IMAGE", "VIDEO", "photo", "shared_post_photo" ]
                                    }
                                  },
                                  "additionalProperties" : false
                                }
                              },
                              "replies" : {
                                "required" : [ "canComment", "count" ],
                                "properties" : {
                                  "count" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "canComment" : { }
                                },
                                "additionalProperties" : false
                              },
                              "author" : {
                                "required" : [ "href", "id", "name", "username" ],
                                "properties" : {
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "href" : {
                                    "maxLength" : 500,
                                    "minLength" : 0
                                  },
                                  "username" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "createdTime" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "likes" : {
                                "required" : [ "count" ],
                                "properties" : {
                                  "count" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "message" ],
                            "properties" : {
                              "message" : {
                                "maxLength" : 65535,
                                "minLength" : 0
                              }
                            }
                          } ]
                        }, {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "required" : [ "attachments", "author", "createdTime", "id", "likes", "replies" ],
                            "properties" : {
                              "attachments" : {
                                "items" : {
                                  "required" : [ "href", "id", "type" ],
                                  "properties" : {
                                    "href" : {
                                      "maxLength" : 500,
                                      "minLength" : 0
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "type" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "IMAGE", "VIDEO", "photo", "shared_post_photo" ]
                                    }
                                  },
                                  "additionalProperties" : false
                                }
                              },
                              "replies" : {
                                "required" : [ "canComment", "count" ],
                                "properties" : {
                                  "count" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "canComment" : { }
                                },
                                "additionalProperties" : false
                              },
                              "author" : {
                                "required" : [ "href", "id", "name", "username" ],
                                "properties" : {
                                  "name" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "href" : {
                                    "maxLength" : 500,
                                    "minLength" : 0
                                  },
                                  "username" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "createdTime" : {
                                "maxLength" : 100,
                                "minLength" : 0
                              },
                              "id" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "likes" : {
                                "required" : [ "count" ],
                                "properties" : {
                                  "count" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "message", "ticket" ],
                            "properties" : {
                              "ticket" : {
                                "required" : [ "departmentId", "encryptedTicketId", "id", "ticketNumber" ],
                                "properties" : {
                                  "ticketNumber" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "departmentId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "encryptedTicketId" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "message" : {
                                "additionalProperties" : false,
                                "allOf" : [ {
                                  "required" : [ "attachments", "author", "createdTime", "id", "likes", "replies" ],
                                  "properties" : {
                                    "attachments" : {
                                      "items" : {
                                        "required" : [ "href", "id", "type" ],
                                        "properties" : {
                                          "href" : {
                                            "maxLength" : 500,
                                            "minLength" : 0
                                          },
                                          "id" : {
                                            "pattern" : "([0-9]+)",
                                            "format" : "int64"
                                          },
                                          "type" : {
                                            "maxLength" : 100,
                                            "minLength" : 0,
                                            "enum" : [ "IMAGE", "VIDEO", "photo", "shared_post_photo" ]
                                          }
                                        },
                                        "additionalProperties" : false
                                      }
                                    },
                                    "replies" : {
                                      "required" : [ "canComment", "count" ],
                                      "properties" : {
                                        "count" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int32"
                                        },
                                        "canComment" : { }
                                      },
                                      "additionalProperties" : false
                                    },
                                    "author" : {
                                      "required" : [ "href", "id", "name", "username" ],
                                      "properties" : {
                                        "name" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        },
                                        "id" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int64"
                                        },
                                        "href" : {
                                          "maxLength" : 500,
                                          "minLength" : 0
                                        },
                                        "username" : {
                                          "maxLength" : 100,
                                          "minLength" : 0
                                        }
                                      },
                                      "additionalProperties" : false
                                    },
                                    "createdTime" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "likes" : {
                                      "required" : [ "count" ],
                                      "properties" : {
                                        "count" : {
                                          "pattern" : "([0-9]+)",
                                          "format" : "int32"
                                        }
                                      },
                                      "additionalProperties" : false
                                    }
                                  },
                                  "additionalProperties" : false
                                }, {
                                  "required" : [ "message" ],
                                  "properties" : {
                                    "message" : {
                                      "maxLength" : 65535,
                                      "minLength" : 0
                                    }
                                  }
                                } ]
                              }
                            }
                          } ]
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "cursor" : {
                        "api" : {
                          "after" : "QVFIUk5BQUFwYUtyYlp3UmlsaXVlaldOWC04WDk1bGtMSFozMGdMRjZAZAOC1FZAlBuZAXprRzVtVGRORzl3dXVUU2RBb3phTFJYT1dKZAkxEa0QxZA2RlVE9ha0Rn"
                        }
                      },
                      "data" : [ {
                        "attachments" : [ {
                          "href" : "https://video-maa2-1.cdninstagram.com/v/t50.2886-16/104475206_910239179389370_5540860481722056563_n.mp4?_nc_cat=102&vs=18111808897137353_1651284509&_nc_vs=HBksFQAYJEdFWXFPZ2E2dWZLUzJ6c0RBSFAtQ2x0QUZfVk1ia1lMQUFBRhUAAsgBABUAGCRHRDVKS2dZQkl4UUZubWdDQUNvVURBVWo2cFJnYmtZTEFBQUYVAgLIAQAoABgAGwGIB3VzZV9vaWwBMRUAABgAFpLCsdmDpqxAFQIoAkMzLBdAPeZmZmZmZhgSZGFzaF9iYXNlbGluZV8xX3YxEQB16gcA&_nc_sid=59939d&efg=eyJ2ZW5jb2RlX3RhZyI6InZ0c192b2RfdXJsZ2VuLjY0MC5mZWVkIn0%3D&_nc_ohc=Z8NSlH17HngAX88VvMj&_nc_ht=video-maa2-1.cdninstagram.com&oh=cb84f29231dcfb9af8ddf4b2bfaac868&oe=5F4EEEE1&_nc_rid=16caf49637",
                          "id" : "17842398365251870",
                          "type" : "VIDEO"
                        } ],
                        "replies" : {
                          "count" : "8",
                          "canComment" : "true"
                        },
                        "author" : {
                          "name" : "senthil",
                          "id" : "17841432637041822",
                          "href" : "https://scontent-maa2-1.xx.fbcdn.net/v/t51.2885-15/92366120_524672075084909_6887993989245435904_n.jpg?_nc_cat=108&_nc_sid=86c713&_nc_ohc=8AkIFve42_MAX-HvqBR&_nc_ht=scontent-maa2-1.xx&oh=7c483849a34a97a1cd74671b1809713d&oe=5F5246C2",
                          "username" : "senthil_sandbox_mode"
                        },
                        "createdTime" : "2020-06-17T07:54:29+0000",
                        "id" : "17842398365251870",
                        "likes" : {
                          "count" : 0
                        }
                      }, {
                        "attachments" : [ {
                          "href" : "https://scontent-maa2-1.cdninstagram.com/v/t51.29350-15/116154462_161233662193785_1520572576788967175_n.jpg?_nc_cat=111&_nc_sid=8ae9d6&_nc_ohc=_8kDjDgfF4sAX_hS4vK&_nc_ht=scontent-maa2-1.cdninstagram.com&oh=a2121777dc98477f4b64b0975fd4faf8&oe=5F523A13",
                          "id" : "17865584842960784",
                          "type" : "IMAGE"
                        }, {
                          "href" : "https://scontent-maa2-2.cdninstagram.com/v/t51.29350-15/116264433_1200677313613371_2741215233563951050_n.jpg?_nc_cat=107&_nc_sid=8ae9d6&_nc_ohc=LWhR5qNdJKAAX-fvrY5&_nc_ht=scontent-maa2-2.cdninstagram.com&oh=4667d47eb8751ce4f6c69c62486254c8&oe=5F5232B3",
                          "id" : "17863166810008390",
                          "type" : "IMAGE"
                        }, {
                          "href" : "https://scontent-maa2-1.cdninstagram.com/v/t51.29350-15/116106007_198434758289311_3357203664577406720_n.jpg?_nc_cat=111&_nc_sid=8ae9d6&_nc_ohc=sz81ztWio3MAX8xQKr6&_nc_ht=scontent-maa2-1.cdninstagram.com&oh=29be5488863a91bec52c2b40a4d97646&oe=5F4FC0CA",
                          "id" : "17877363262761857",
                          "type" : "IMAGE"
                        }, {
                          "href" : "https://scontent-maa2-1.cdninstagram.com/v/t51.29350-15/116789403_1312524542415995_2766329963556922883_n.jpg?_nc_cat=100&_nc_sid=8ae9d6&_nc_ohc=UxQtrGxFiyYAX-7v-KZ&_nc_ht=scontent-maa2-1.cdninstagram.com&oh=4900c2bde24ee0b93bbf5d54b26150b3&oe=5F50E964",
                          "id" : "17897962846531073",
                          "type" : "IMAGE"
                        } ],
                        "replies" : {
                          "count" : "5",
                          "canComment" : "true"
                        },
                        "ticket" : {
                          "ticketNumber" : "102",
                          "departmentId" : "6000000013248",
                          "id" : "6000000018059",
                          "encryptedTicketId" : "edbsn4827fbfd55293d608e888a948e880d8b"
                        },
                        "author" : {
                          "name" : "senthil",
                          "id" : "17841432637041822",
                          "href" : "https://scontent-maa2-1.xx.fbcdn.net/v/t51.2885-15/92366120_524672075084909_6887993989245435904_n.jpg?_nc_cat=108&_nc_sid=86c713&_nc_ohc=8AkIFve42_MAX-HvqBR&_nc_ht=scontent-maa2-1.xx&oh=7c483849a34a97a1cd74671b1809713d&oe=5F5246C2",
                          "username" : "senthil_sandbox_mode"
                        },
                        "createdTime" : "2020-07-30T10:11:30+0000",
                        "id" : "17864986453977566",
                        "message" : "testing",
                        "likes" : {
                          "count" : 0
                        }
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.integrations.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 100,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 4000,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "2ef4fc3f9ff191d161351ebcc7c93373",
          "module-group" : "social",
          "apimethod" : "com.zoho.support.restapi.SocialService.getInstagramPosts"
        }
      }
    },
    "/api/v1/socialBrands/{brandId}/instagramPosts/{postId}/convertAsTicket" : {
      "post" : {
        "tags" : [ "SocialPosts" ],
        "summary" : "Convert instagramPosts to Ticket",
        "description" : "Convert instagramPosts to Ticket",
        "operationId" : "convertInstagramPostToTicket",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "query param department id",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "query param department id",
            "format" : "int64"
          }
        }, {
          "name" : "brandId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "postId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "convertInstagramPostToTicket template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "departmentId", "encryptedTicketId", "id", "ticketNumber", "webUrl" ],
                  "properties" : {
                    "ticketNumber" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "webUrl" : {
                      "maxLength" : 1000,
                      "minLength" : 0
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "replacementString" : "",
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "allowInvalid" : false,
                        "descrption" : "query param department id",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "encryptedTicketId" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "ticketNumber" : "103",
                      "webUrl" : "https://desk.zoho.com/support/newtest123/ShowHomePage.do#Cases/dv/6000000018164",
                      "departmentId" : "6000000013248",
                      "id" : "6000000018164",
                      "encryptedTicketId" : "6000000018164"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 15,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "e88d254d56e8ffbb5016166efa13d110",
          "module-group" : "social",
          "apimethod" : "com.zoho.support.restapi.SocialService.convertInstagramPostToTicket"
        }
      }
    },
    "/api/v1/socialBrands/{brandId}/instagramConversations/{conversationId}" : {
      "post" : {
        "tags" : [ "SocialPosts" ],
        "summary" : "Reply to InstagramConversation",
        "description" : "Reply to Instagram Conversation",
        "operationId" : "replyInstagramConversation",
        "parameters" : [ {
          "name" : "receiverId",
          "in" : "query",
          "description" : "To Profile which Reply has to be sent",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "To Profile which Reply has to be sent",
            "format" : "int64"
          }
        }, {
          "name" : "message",
          "in" : "query",
          "description" : "Message to be Replied",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 0,
            "description" : "Message to be Replied",
            "x-custom-parameters-attributes" : {
              "preserveCharsLimit" : 50,
              "preserveChars" : "5,6",
              "xss" : "antisamyfilter_custom",
              "mask" : "partial"
            }
          }
        }, {
          "name" : "conversationId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 500,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_]+)"
          }
        }, {
          "name" : "brandId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "required" : [ "file" ],
                "properties" : {
                  "file" : {
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "replyInstagramConversationResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "author", "conversationId", "createdTime", "id", "message", "to" ],
                    "properties" : {
                      "author" : {
                        "required" : [ "href", "id", "name" ],
                        "properties" : {
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "href" : {
                            "maxLength" : 500,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "conversationId" : {
                        "maxLength" : 500,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_]+)"
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "to" : {
                        "required" : [ "href", "id", "name" ],
                        "properties" : {
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "href" : {
                            "maxLength" : 500,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "id" : {
                        "maxLength" : 500,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_]+)"
                      },
                      "message" : {
                        "maxLength" : 65535,
                        "minLength" : 0,
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "Message to be Replied",
                          "secret" : false,
                          "preserveCharsLimit" : 50,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "5,6",
                          "xss" : "antisamyfilter_custom",
                          "importUrl" : false,
                          "decrypt" : false,
                          "mask" : "partial"
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "author", "conversationId", "createdTime", "id", "message", "to" ],
                      "properties" : {
                        "author" : {
                          "required" : [ "href", "id", "name" ],
                          "properties" : {
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "href" : {
                              "maxLength" : 500,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        },
                        "conversationId" : {
                          "maxLength" : 500,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_]+)"
                        },
                        "createdTime" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "to" : {
                          "required" : [ "href", "id", "name" ],
                          "properties" : {
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "href" : {
                              "maxLength" : 500,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "message" : {
                          "maxLength" : 65535,
                          "minLength" : 0,
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "replacementString" : "",
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "allowInvalid" : false,
                            "descrption" : "Message to be Replied",
                            "secret" : false,
                            "preserveCharsLimit" : 50,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "5,6",
                            "xss" : "antisamyfilter_custom",
                            "importUrl" : false,
                            "decrypt" : false,
                            "mask" : "partial"
                          }
                        }
                      },
                      "additionalProperties" : { }
                    }, {
                      "required" : [ "attachments" ],
                      "properties" : {
                        "attachments" : {
                          "items" : {
                            "required" : [ "href", "type" ],
                            "properties" : {
                              "href" : {
                                "maxLength" : 500,
                                "minLength" : 0
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "IMAGE", "VIDEO", "photo", "shared_post_photo" ]
                              }
                            },
                            "additionalProperties" : false
                          }
                        }
                      }
                    } ]
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "author", "conversationId", "createdTime", "id", "message", "to" ],
                      "properties" : {
                        "author" : {
                          "required" : [ "href", "id", "name" ],
                          "properties" : {
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "href" : {
                              "maxLength" : 500,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        },
                        "conversationId" : {
                          "maxLength" : 500,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_]+)"
                        },
                        "createdTime" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "to" : {
                          "required" : [ "href", "id", "name" ],
                          "properties" : {
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "href" : {
                              "maxLength" : 500,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "message" : {
                          "maxLength" : 65535,
                          "minLength" : 0,
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "replacementString" : "",
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "allowInvalid" : false,
                            "descrption" : "Message to be Replied",
                            "secret" : false,
                            "preserveCharsLimit" : 50,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "5,6",
                            "xss" : "antisamyfilter_custom",
                            "importUrl" : false,
                            "decrypt" : false,
                            "mask" : "partial"
                          }
                        }
                      },
                      "additionalProperties" : false
                    }, {
                      "required" : [ "ticket" ],
                      "properties" : {
                        "ticket" : {
                          "required" : [ "departmentId", "encryptedTicketId", "id", "ticketNumber" ],
                          "properties" : {
                            "ticketNumber" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "encryptedTicketId" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    } ]
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "author", "conversationId", "createdTime", "id", "message", "to" ],
                      "properties" : {
                        "author" : {
                          "required" : [ "href", "id", "name" ],
                          "properties" : {
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "href" : {
                              "maxLength" : 500,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        },
                        "conversationId" : {
                          "maxLength" : 500,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_]+)"
                        },
                        "createdTime" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "to" : {
                          "required" : [ "href", "id", "name" ],
                          "properties" : {
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "href" : {
                              "maxLength" : 500,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "message" : {
                          "maxLength" : 65535,
                          "minLength" : 0,
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "replacementString" : "",
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "allowInvalid" : false,
                            "descrption" : "Message to be Replied",
                            "secret" : false,
                            "preserveCharsLimit" : 50,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "5,6",
                            "xss" : "antisamyfilter_custom",
                            "importUrl" : false,
                            "decrypt" : false,
                            "mask" : "partial"
                          }
                        }
                      },
                      "additionalProperties" : false
                    }, {
                      "required" : [ "attachments", "ticket" ],
                      "properties" : {
                        "attachments" : {
                          "items" : {
                            "required" : [ "href", "type" ],
                            "properties" : {
                              "href" : {
                                "maxLength" : 500,
                                "minLength" : 0
                              },
                              "type" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "IMAGE", "VIDEO", "photo", "shared_post_photo" ]
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "ticket" : {
                          "required" : [ "departmentId", "encryptedTicketId", "id", "ticketNumber" ],
                          "properties" : {
                            "ticketNumber" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "departmentId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "encryptedTicketId" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    } ]
                  }, {
                    "required" : [ "code", "error" ],
                    "properties" : {
                      "code" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "error" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "attachments" : [ {
                        "href" : "https://pbs.twimg.com/media/DU64CEDUMAAHvlo.jpg",
                        "type" : "photo"
                      }, {
                        "href" : "https://video.twimg.com/tweet_video/DU7YHU4U0AAi5Oe.mp4",
                        "type" : "video"
                      } ],
                      "author" : {
                        "name" : "Rockstar",
                        "href" : "Some Url"
                      },
                      "conversationId" : "edbsn2ebbf87285607e4be60cb6657a66fb7535b22eb15dd1507fa797b9771e7f76c0e980b8911b23034ba8431aee11908780fdfaac33d77ba234574a6dccfcdc3d96b97f242fd34eceea4e6a7a21e9236c672abaa98baa243f9cc95e31c8f15f4f064c8edc10a83f8a86e02a92c17f20f88476c6e091eab15855557f8c127e7cfbb0ed9e015742b2c73a2de5ff3fcf77568b8dae404ae526a086b4ca52e9ba4f80adcaebe8365ecb8299a2779d34d1b98a3d",
                      "createdTime" : "2016-06-21T16:16:16.000Z",
                      "to" : {
                        "name" : "Rockstar Receiver",
                        "href" : "Some Url"
                      },
                      "id" : "1461347693133918217",
                      "message" : "Last Received Message's Snippet"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 15,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "integration",
          "apihash" : "4dfadee29c2f50df7213f2dd31f91a27",
          "module-group" : "social",
          "apimethod" : "com.zoho.support.restapi.SocialService.replyInstagramConversation"
        }
      }
    },
    "/api/v1/socialBrands/{brandId}/instagramPosts/comment" : {
      "post" : {
        "tags" : [ "SocialPosts" ],
        "summary" : "Post comment to instagram",
        "description" : "Post comment to instagram",
        "operationId" : "replyInstagramComment",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "description" : "ID of post or comment",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of post or comment",
            "format" : "int64"
          }
        }, {
          "name" : "message",
          "in" : "query",
          "description" : "Message to be Replied",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 0,
            "description" : "Message to be Replied",
            "x-custom-parameters-attributes" : {
              "preserveCharsLimit" : 50,
              "preserveChars" : "5,6",
              "xss" : "antisamyfilter_custom",
              "mask" : "partial"
            }
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Type of Instagram Posts to be Fetched. Supported Types are posts and mentions",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Type of Instagram Posts to be Fetched. Supported Types are posts and mentions",
            "enum" : [ "posts" ]
          }
        }, {
          "name" : "brandId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "replyInstagramComment template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "required" : [ "author", "createdTime", "id", "like_count", "likes", "message", "replies" ],
                      "properties" : {
                        "like_count" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "replies" : {
                          "required" : [ "canComment", "count", "data" ],
                          "properties" : {
                            "data" : {
                              "items" : {
                                "required" : [ "author", "createdTime", "id", "like_count", "likes", "message" ],
                                "properties" : {
                                  "like_count" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "author" : {
                                    "required" : [ "id", "username" ],
                                    "properties" : {
                                      "id" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int64",
                                        "x-custom-parameters-attributes" : {
                                          "removeExif" : false,
                                          "replacementString" : "",
                                          "filterMatchedContent" : false,
                                          "antivirus" : false,
                                          "allowInvalid" : false,
                                          "descrption" : "ID of post or comment",
                                          "secret" : false,
                                          "preserveCharsLimit" : 10,
                                          "trim" : false,
                                          "internalParam" : false,
                                          "preserveChars" : "0,5",
                                          "importUrl" : false,
                                          "decrypt" : false
                                        }
                                      },
                                      "username" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "createdTime" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64",
                                    "x-custom-parameters-attributes" : {
                                      "removeExif" : false,
                                      "replacementString" : "",
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "allowInvalid" : false,
                                      "descrption" : "ID of post or comment",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "0,5",
                                      "importUrl" : false,
                                      "decrypt" : false
                                    }
                                  },
                                  "message" : {
                                    "maxLength" : 65535,
                                    "minLength" : 0,
                                    "x-custom-parameters-attributes" : {
                                      "removeExif" : false,
                                      "replacementString" : "",
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "allowInvalid" : false,
                                      "descrption" : "Message to be Replied",
                                      "secret" : false,
                                      "preserveCharsLimit" : 50,
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "5,6",
                                      "xss" : "antisamyfilter_custom",
                                      "importUrl" : false,
                                      "decrypt" : false,
                                      "mask" : "partial"
                                    }
                                  },
                                  "likes" : {
                                    "required" : [ "canLike", "count" ],
                                    "properties" : {
                                      "canLike" : { },
                                      "count" : {
                                        "pattern" : "([0-9]+)",
                                        "format" : "int32"
                                      }
                                    },
                                    "additionalProperties" : false
                                  }
                                },
                                "additionalProperties" : false
                              }
                            },
                            "count" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "canComment" : { }
                          },
                          "additionalProperties" : { }
                        },
                        "author" : {
                          "required" : [ "href", "id", "name", "username" ],
                          "properties" : {
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "replacementString" : "",
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "allowInvalid" : false,
                                "descrption" : "ID of post or comment",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "href" : {
                              "maxLength" : 500,
                              "minLength" : 0
                            },
                            "username" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            }
                          },
                          "additionalProperties" : false
                        },
                        "createdTime" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "replacementString" : "",
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "allowInvalid" : false,
                            "descrption" : "ID of post or comment",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "message" : {
                          "maxLength" : 65535,
                          "minLength" : 0,
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "replacementString" : "",
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "allowInvalid" : false,
                            "descrption" : "Message to be Replied",
                            "secret" : false,
                            "preserveCharsLimit" : 50,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "5,6",
                            "xss" : "antisamyfilter_custom",
                            "importUrl" : false,
                            "decrypt" : false,
                            "mask" : "partial"
                          }
                        },
                        "likes" : {
                          "required" : [ "canLike", "count" ],
                          "properties" : {
                            "canLike" : { },
                            "count" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "additionalProperties" : { }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "like_count" : "0",
                      "replies" : {
                        "data" : [ ],
                        "count" : "0",
                        "canComment" : true
                      },
                      "author" : {
                        "name" : "senthil",
                        "id" : "17841432637041822",
                        "href" : "https://scontent-maa2-1.xx.fbcdn.net/v/t51.2885-15/92366120_524672075084909_6887993989245435904_n.jpg?_nc_cat=108&_nc_sid=86c713&_nc_ohc=8AkIFve42_MAX-HvqBR&_nc_ht=scontent-maa2-1.xx&oh=7c483849a34a97a1cd74671b1809713d&oe=5F5246C2",
                        "username" : "senthil_sandbox_mode"
                      },
                      "createdTime" : "2020-08-05T17:57:12+0000",
                      "id" : "17864214274989294",
                      "message" : "Instagram comments",
                      "likes" : {
                        "canLike" : false,
                        "count" : "0"
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "cookie-auth" : [ "cookie-auth" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 15,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
[...]
