{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "SubjectAccessRequest",
    "version" : "1.0.0",
    "x-clan-group" : "tickets",
    "x-module-group" : "tickets"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/subjectAccessRequests/exportAll" : {
      "post" : {
        "tags" : [ "SubjectAccessRequest" ],
        "summary" : "Export all subject data from Zoho Desk",
        "description" : "This API exports data related to the subject, from your Zoho Desk portal.",
        "operationId" : "sarExportAll",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "contactEmailId", "module" ],
                "properties" : {
                  "fieldConditions" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "condition", "fieldName", "value" ],
                      "properties" : {
                        "condition" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "is", "starts with" ],
                          "x-custom-parameters-attributes" : [ ]
                        },
                        "fieldName" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "All" ],
                          "x-custom-parameters-attributes" : [ ]
                        },
                        "value" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+",
                            "x-custom-parameters-attributes" : [ ]
                          },
                          "x-custom-parameters-attributes" : [ ]
                        }
                      },
                      "additionalProperties" : { },
                      "x-custom-parameters-attributes" : [ ]
                    }
                  },
                  "contactEmailId" : {
                    "maxLength" : 255,
                    "minLength" : 0,
                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                  },
                  "callBackUrl" : {
                    "maxLength" : 2000,
                    "minLength" : 0,
                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                  },
                  "module" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "allEntities", "contacts", "tickets" ]
                  },
                  "referenceTicketNumber" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int32"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "fieldConditions" : [ {
                      "condition" : "is",
                      "fieldName" : "Last Name",
                      "value" : [ "carol" ]
                    } ],
                    "contactEmailId" : "jackcarol@zylker.com",
                    "callBackUrl" : "https://test.com",
                    "module" : "contacts"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "subjectAccessRequestExportAllKeys template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "callBackUrl", "contactEmailId", "createdById", "createdTime", "downloadURL", "id", "modifiedById", "modifiedTime", "module", "query", "recordType", "referenceTicketNumber", "requestType", "sarNumber", "status", "type" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "contactEmailId" : {
                      "maxLength" : 255,
                      "minLength" : 0,
                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Email ID of the user who made the request.",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "callBackUrl" : {
                      "maxLength" : 2000,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "requestType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ACCESS_REQUEST", "ERASURE_REQUEST" ]
                    },
                    "recordType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ALL", "SPECIFIC" ]
                    },
                    "query" : {
                      "additionalProperties" : { }
                    },
                    "module" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "allEntities", "contacts", "tickets" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Name of the modules from which the resources must be fetched. Values allowed are @tickets@ and @contacts@. If you want to fetch resources from both modules, pass the value @allEntities@.",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "downloadURL" : {
                      "maxLength" : 1000,
                      "minLength" : 0
                    },
                    "type" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ALL", "SPECIFIC" ]
                    },
                    "modifiedById" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "referenceTicketNumber" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the ticket in which the subject access request was made",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "sarNumber" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "createdById" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "FAILED", "INITIATED", "INPROGRESS", "COMPLETED", "CANCELED", "EXPORTED", "PARTIALLY_COMPLETED", "PARTIALLY_EXPORTED" ]
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1603973511890,
                      "contactEmailId" : "jackcarol@zylker.com",
                      "requestType" : "ERASURE_REQUEST",
                      "recordType" : "ALL",
                      "module" : "allEntities",
                      "query" : null,
                      "downloadURL" : null,
                      "modifiedById" : "7000000000247",
                      "referenceTicketNumber" : null,
                      "sarNumber" : "141",
                      "createdTime" : 1603973511890,
                      "id" : "7000000092437",
                      "createdById" : "7000000000247",
                      "status" : "INITIATED"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 100,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 2700000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "54215be50e4ba6c1b23ed4eb3c6fe017",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.SarService.exportAll"
        }
      }
    },
    "/api/v1/subjectAccessRequests/fieldsAndConditions" : {
      "get" : {
        "tags" : [ "SubjectAccessRequest" ],
        "summary" : "Get fields and conditions",
        "description" : "This API fetchs possible fileds list and conditions",
        "operationId" : "getFieldsAndConditions",
        "parameters" : [ {
          "name" : "module",
          "in" : "query",
          "description" : "Name of the modules from which the resources must be fetched. Values allowed are @tickets@ and @contacts@. If you want to fetch resources from both modules, pass the value @allEntities@.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Name of the modules from which the resources must be fetched. Values allowed are @tickets@ and @contacts@. If you want to fetch resources from both modules, pass the value @allEntities@.",
            "enum" : [ "tickets" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "fieldsAndConditions template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "displayLabel", "fieldDetails", "name" ],
                  "properties" : {
                    "displayLabel" : {
                      "maxLength" : 120,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "tickets" ]
                    },
                    "fieldDetails" : {
                      "items" : {
                        "required" : [ "apiName", "availableConditions", "columnName", "fieldLabel", "i18NLabel", "type" ],
                        "properties" : {
                          "availableConditions" : {
                            "items" : {
                              "required" : [ "condition", "i18NCondition", "value" ],
                              "properties" : {
                                "condition" : {
                                  "maxLength" : 1000,
                                  "minLength" : 0
                                },
                                "i18NCondition" : {
                                  "maxLength" : 1000,
                                  "minLength" : 0
                                },
                                "value" : {
                                  "uniqueItems" : false,
                                  "items" : {
                                    "oneOf" : [ {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    }, {
                                      "uniqueItems" : false,
                                      "items" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    } ]
                                  }
                                }
                              },
                              "additionalProperties" : false
                            }
                          },
                          "apiName" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "fieldLabel" : {
                            "maxLength" : 120,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "i18NLabel" : {
                            "maxLength" : 120,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "type" : {
                            "maxLength" : 120,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "columnName" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "displayLabel" : "AllEntities",
                      "name" : "AllEntities",
                      "fieldDetails" : [ {
                        "availableConditions" : [ {
                          "condition" : "is",
                          "i18NCondition" : "is",
                          "value" : [ "${CUSTOM}" ]
                        }, {
                          "condition" : "isn't",
                          "i18NCondition" : "isn't",
                          "value" : [ "${CUSTOM}" ]
                        }, {
                          "condition" : "starts with",
                          "i18NCondition" : "starts with",
                          "value" : [ "${CUSTOM}" ]
                        }, {
                          "condition" : "is empty",
                          "i18NCondition" : "is empty",
                          "value" : [ "${EMPTY}" ]
                        }, {
                          "condition" : "is not empty",
                          "i18NCondition" : "is not empty",
                          "value" : [ "${NOTEMPTY}" ]
                        } ],
                        "fieldLabel" : "Phone",
                        "i18NLabel" : "Phone",
                        "type" : "text"
                      }, {
                        "availableConditions" : [ {
                          "condition" : "is",
                          "i18NCondition" : "is",
                          "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                        }, {
                          "condition" : "isn't",
                          "i18NCondition" : "isn't",
                          "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                        }, {
                          "condition" : "is after",
                          "i18NCondition" : "is after",
                          "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                        }, {
                          "condition" : "is before",
                          "i18NCondition" : "is before",
                          "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                        }, {
                          "condition" : "between",
                          "i18NCondition" : "between",
                          "value" : [ [ "${CURRENTTIME}", "${CUSTOM}" ], [ "${CURRENTTIME}", "${CUSTOM}" ] ]
                        }, {
                          "condition" : "not between",
                          "i18NCondition" : "not between",
                          "value" : [ [ "${CURRENTTIME}", "${CUSTOM}" ], [ "${CURRENTTIME}", "${CUSTOM}" ] ]
                        } ],
                        "fieldLabel" : "Created Time",
                        "i18NLabel" : "Created Time",
                        "type" : "dateTime"
                      }, {
                        "availableConditions" : [ {
                          "condition" : "is",
                          "i18NCondition" : "is",
                          "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                        }, {
                          "condition" : "isn't",
                          "i18NCondition" : "isn't",
                          "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                        }, {
                          "condition" : "is after",
                          "i18NCondition" : "is after",
                          "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                        }, {
                          "condition" : "is before",
                          "i18NCondition" : "is before",
                          "value" : [ "${CURRENTTIME}", "${CUSTOM}" ]
                        }, {
                          "condition" : "between",
                          "i18NCondition" : "between",
                          "value" : [ [ "${CURRENTTIME}", "${CUSTOM}" ], [ "${CURRENTTIME}", "${CUSTOM}" ] ]
                        }, {
                          "condition" : "not between",
                          "i18NCondition" : "not between",
                          "value" : [ [ "${CURRENTTIME}", "${CUSTOM}" ], [ "${CURRENTTIME}", "${CUSTOM}" ] ]
                        } ],
                        "fieldLabel" : "Modified Time",
                        "i18NLabel" : "Modified Time",
                        "type" : "dateTime"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "e92571c5a77c8fc3cbd98e43dc329807",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.SarService.getFieldConditions"
        }
      }
    },
    "/api/v1/subjectAccessRequests/{sarId}" : {
      "get" : {
        "tags" : [ "SubjectAccessRequest" ],
        "summary" : "Get subject access request",
        "description" : "This API fetches the details of a particular SAR.",
        "operationId" : "getSubjectAccessRequest",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Additional information related to the request. Values allowed are: @createdBy@ and @modifiedBy@. You can pass multiple values by separating them using commas in the API request.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Additional information related to the request. Values allowed are: @createdBy@ and @modifiedBy@. You can pass multiple values by separating them using commas in the API request.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "createdBy", "modifiedBy" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "sarId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getSubjectAccessRequestResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "createdBy" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : { }
                      },
                      "modifiedBy" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : { }
                      }
                    }
                  }, {
                    "oneOf" : [ {
                      "required" : [ "contactEmailId", "createdById", "createdTime", "downloadURL", "id", "modifiedById", "modifiedTime", "module", "query", "recordType", "referenceTicketNumber", "requestType", "sarNumber", "status", "type" ],
                      "properties" : {
                        "modifiedTime" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "contactEmailId" : {
                          "maxLength" : 255,
                          "minLength" : 0,
                          "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                        },
                        "requestType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ACCESS_REQUEST", "ERASURE_REQUEST" ]
                        },
                        "recordType" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ALL", "SPECIFIC" ]
                        },
                        "query" : {
                          "additionalProperties" : { }
                        },
                        "module" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "allEntities", "contacts", "tickets" ]
                        },
                        "downloadURL" : {
                          "maxLength" : 1000,
                          "minLength" : 0
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "ALL", "SPECIFIC" ]
                        },
                        "modifiedById" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "referenceTicketNumber" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "sarNumber" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int32"
                        },
                        "createdTime" : {
                          "maxLength" : 100,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "createdById" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "FAILED", "INITIATED", "INPROGRESS", "COMPLETED", "CANCELED", "EXPORTED", "PARTIALLY_COMPLETED", "PARTIALLY_EXPORTED" ]
                        }
                      },
                      "additionalProperties" : { }
                    }, {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "errorCode" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "URL_NOT_FOUND", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "INTERNAL_SERVER_ERROR", "EMPTY_PAYLOAD" ]
                        },
                        "message" : {
                          "maxLength" : 255,
                          "minLength" : 0
                        }
                      },
                      "additionalProperties" : { }
                    } ]
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "contactEmailId" : "carrol@zylker.com",
                      "requestType" : "ERASURE_REQUEST",
                      "recordType" : "SPECIFIC",
                      "module" : "tickets",
                      "query" : {
                        "criteriaFields" : [ {
                          "condition" : "is before",
                          "field" : {
                            "apiName" : "createdTime",
                            "fieldLabel" : "Created Time"
                          },
                          "value" : {
                            "primitive" : [ {
                              "displayKey" : "${CURRENTTIME}",
                              "key" : "${CURRENTTIME}"
                            } ],
                            "type" : "primitive"
                          }
                        } ],
                        "criteriaPattern" : "1"
                      },
                      "downloadURL" : null,
                      "modifiedById" : "7000000000247",
                      "createdBy" : {
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/7000000000247/photo?orgId=15273347",
                        "firstName" : "Nirmal",
                        "lastName" : "Kumar",
                        "id" : "7000000000247",
                        "email" : "nirmal@zylker.com"
                      },
                      "referenceTicketNumber" : null,
                      "sarNumber" : "141",
                      "createdTime" : 1603973511890,
                      "modifiedBy" : {
                        "photoURL" : "https://desk.zoho.com/api/v1/agents/7000000000247/photo?orgId=15273347",
                        "firstName" : "Nirmal",
                        "lastName" : "Kumar",
                        "id" : "7000000000247",
                        "email" : "john@zylker.com"
                      },
                      "id" : "7000000092437",
                      "createdById" : "7000000000247",
                      "status" : "INPROGRESS"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "5f779f50ebcd149d8f73fa7afbd788c4",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.SarService.getSar"
        }
      },
      "patch" : {
        "tags" : [ "SubjectAccessRequest" ],
        "summary" : "Update subject access request",
        "description" : "This API updates the details of a particular SAR.",
        "operationId" : "updateSar",
        "parameters" : [ {
          "name" : "sarId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "CANCELED" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "status" : "CANCELED"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "updateSarResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "required" : [ "contactEmailId", "createdById", "createdTime", "downloadURL", "id", "modifiedById", "modifiedTime", "module", "query", "recordType", "referenceTicketNumber", "requestType", "sarNumber", "status", "type" ],
                    "properties" : {
                      "modifiedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "contactEmailId" : {
                        "maxLength" : 255,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                      },
                      "requestType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "ACCESS_REQUEST", "ERASURE_REQUEST" ]
                      },
                      "recordType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "ALL", "SPECIFIC" ]
                      },
                      "query" : {
                        "additionalProperties" : { }
                      },
                      "module" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "allEntities", "contacts", "tickets" ]
                      },
                      "downloadURL" : {
                        "maxLength" : 1000,
                        "minLength" : 0
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "ALL", "SPECIFIC" ]
                      },
                      "modifiedById" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "referenceTicketNumber" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "sarNumber" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int32"
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "createdById" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "FAILED", "INITIATED", "INPROGRESS", "COMPLETED", "CANCELED", "EXPORTED", "PARTIALLY_COMPLETED", "PARTIALLY_EXPORTED" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Processing status of the request. Value allowed is @CANCELED@. ",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "errorCode" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "URL_NOT_FOUND", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "INTERNAL_SERVER_ERROR", "EMPTY_PAYLOAD" ]
                      },
                      "message" : {
                        "maxLength" : 255,
                        "minLength" : 0
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "contactEmailId" : "john@zylker.com",
                      "requestType" : "ACCESS_REQUEST",
                      "recordType" : "ALL",
                      "module" : "allEntities",
                      "query" : null,
                      "downloadURL" : null,
                      "modifiedById" : "7000000000247",
                      "referenceTicketNumber" : null,
                      "sarNumber" : "57",
                      "createdTime" : 1603206453795,
                      "id" : "7000000052297",
                      "createdById" : "7000000000247",
                      "status" : "CANCELED"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "ip-validations" : "trusted",
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "3cd3ea41b203633d4096dbc65a7138a4",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.SarService.update"
        }
      }
    },
    "/api/v1/subjectAccessRequests/eraseAll" : {
      "post" : {
        "tags" : [ "SubjectAccessRequest" ],
        "summary" : "Erase all subject data from Zoho Desk",
        "description" : "This API erases data related to the subject, from your Zoho Desk portal.",
        "operationId" : "sarEraseAll",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "contactEmailId", "module" ],
                "properties" : {
                  "fieldConditions" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxProperties" : 3,
                      "minProperties" : 3,
                      "required" : [ "condition", "fieldName", "value" ],
                      "properties" : {
                        "condition" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "is", "starts with" ],
                          "x-custom-parameters-attributes" : [ ]
                        },
                        "fieldName" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "All" ],
                          "x-custom-parameters-attributes" : [ ]
                        },
                        "value" : {
                          "uniqueItems" : false,
                          "items" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "[a-zA-Z0-9\\_\\-\\+\\?\\!\\.\\P{InBasicLatin}\\(\\)\\s]+",
                            "x-custom-parameters-attributes" : [ ]
                          },
                          "x-custom-parameters-attributes" : [ ]
                        }
                      },
                      "additionalProperties" : false,
                      "x-custom-parameters-attributes" : [ ]
                    }
                  },
                  "contactEmailId" : {
                    "maxLength" : 255,
                    "minLength" : 0,
                    "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                  },
                  "module" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "allEntities", "contacts", "tickets" ]
                  },
                  "referenceTicketNumber" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int32"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "fieldConditions" : [ {
                      "condition" : "is",
                      "fieldName" : "Last Name",
                      "value" : [ "carol" ]
                    } ],
                    "contactEmailId" : "jackcarol@zylker.com",
                    "module" : "contact"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "subjectAccessRequestExportAllKeys template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "callBackUrl", "contactEmailId", "createdById", "createdTime", "downloadURL", "id", "modifiedById", "modifiedTime", "module", "query", "recordType", "referenceTicketNumber", "requestType", "sarNumber", "status", "type" ],
                  "properties" : {
                    "modifiedTime" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "contactEmailId" : {
                      "maxLength" : 255,
                      "minLength" : 0,
                      "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Email ID of the user who made the request.",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "callBackUrl" : {
                      "maxLength" : 2000,
                      "minLength" : 0,
                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                    },
                    "requestType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ACCESS_REQUEST", "ERASURE_REQUEST" ]
                    },
                    "recordType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ALL", "SPECIFIC" ]
                    },
                    "query" : {
                      "additionalProperties" : false
                    },
                    "module" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "allEntities", "contacts", "tickets" ],
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Name of the modules from which the resources must be fetched. Values allowed are @tickets@ and @contacts@. If you want to fetch resources from both modules, pass the value @allEntities@.",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "downloadURL" : {
                      "maxLength" : 1000,
                      "minLength" : 0
                    },
                    "type" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "ALL", "SPECIFIC" ]
                    },
                    "modifiedById" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "referenceTicketNumber" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the ticket in which the subject access request was made",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "sarNumber" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "createdTime" : {
                      "maxLength" : 100,
                      "minLength" : 0
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "createdById" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "status" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "FAILED", "INITIATED", "INPROGRESS", "COMPLETED", "CANCELED", "EXPORTED", "PARTIALLY_COMPLETED", "PARTIALLY_EXPORTED" ]
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "modifiedTime" : 1603973511890,
                      "contactEmailId" : "jackcarol@zylker.com",
                      "requestType" : "ERASURE_REQUEST",
                      "recordType" : "ALL",
                      "module" : "allEntities",
                      "query" : null,
                      "downloadURL" : null,
                      "modifiedById" : "7000000000247",
                      "referenceTicketNumber" : null,
                      "sarNumber" : "141",
                      "createdTime" : 1603973511890,
                      "id" : "7000000092437",
                      "createdById" : "7000000000247",
                      "status" : "INITIATED"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 100,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 2700000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "bcd0e485e54f234b99312803224aae83",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.SarService.eraseAll"
        }
      }
    },
    "/api/v1/subjectAccessRequests" : {
      "get" : {
        "tags" : [ "SubjectAccessRequest" ],
        "summary" : "List subject access requests",
        "description" : "This API lists a particular number of subject access requests, based on the limit specified.",
        "operationId" : "getSubjectAccessRequestList",
        "parameters" : [ {
          "name" : "duration",
          "in" : "query",
          "description" : "Period in which the requests were made. Values allowed are: @TODAY@, @LAST_24_HOURS@, @LAST_7_DAYS@, @LAST_30_DAYS@, @CURRENT_WEEK@, and @CURRENT_MONTH@. ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Period in which the requests were made. Values allowed are: @TODAY@, @LAST_24_HOURS@, @LAST_7_DAYS@, @LAST_30_DAYS@, @CURRENT_WEEK@, and @CURRENT_MONTH@. ",
            "enum" : [ "TODAY", "LAST_24_HOURS", "LAST_7_DAYS", "LAST_30_DAYS", "CURRENT_WEEK", "CURRENT_MONTH" ]
          }
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Additional information related to the requests. Values allowed are: @createdBy@ and @modifiedBy@. You can pass multiple values by separating them using commas in the API request.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Additional information related to the requests. Values allowed are: @createdBy@ and @modifiedBy@. You can pass multiple values by separating them using commas in the API request.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "createdBy", "modifiedBy" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "contactEmailId",
          "in" : "query",
          "description" : "Email ID of the contact who made the request.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 150,
            "minLength" : 0,
            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
            "description" : "Email ID of the contact who made the request."
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of requests to list. The default value is @10@ and the maximum value supported is @100@.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number of requests to list. The default value is @10@ and the maximum value supported is @100@.",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the requests must be fetched.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the requests must be fetched.",
            "format" : "int32"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Processing status of the request. Values allowed are: @INITIATED@, @INPROGRESS@, @COMPLETED@, @CANCELED@, @EXPORTED@, @PARTIALLY_COMPLETED@, @PARTIALLY_EXPORTED@ and @FAILED@. You can pass multiple values by separating them using commas in the API request.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "description" : "Processing status of the request. Values allowed are: @INITIATED@, @INPROGRESS@, @COMPLETED@, @CANCELED@, @EXPORTED@, @PARTIALLY_COMPLETED@, @PARTIALLY_EXPORTED@ and @FAILED@. You can pass multiple values by separating them using commas in the API request.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "FAILED", "INITIATED", "INPROGRESS", "COMPLETED", "CANCELED", "EXPORTED", "PARTIALLY_COMPLETED", "PARTIALLY_EXPORTED" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "getSubjectAccessRequests template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "createdBy" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "modifiedBy" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : { }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "required" : [ "contactEmailId", "createdById", "createdTime", "downloadURL", "id", "modifiedById", "modifiedTime", "referenceTicketNumber", "requestType", "sarNumber", "status" ],
                          "properties" : {
                            "modifiedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "contactEmailId" : {
                              "maxLength" : 255,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Email ID of the contact who made the request.",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "modifiedById" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "requestType" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "ACCESS_REQUEST", "ERASURE_REQUEST" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Filter by type of the request. Values allowed are: @ACCESS_REQUEST@, @ERASURE_REQUEST@. You can pass multiple values by separating them using commas in the API request.",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "split" : ",",
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false,
                                "entity" : "Include"
                              }
                            },
                            "referenceTicketNumber" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "downloadURL" : {
                              "maxLength" : 1000,
                              "minLength" : 0
                            },
                            "sarNumber" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            },
                            "createdTime" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "createdById" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "FAILED", "INITIATED", "INPROGRESS", "COMPLETED", "CANCELED", "EXPORTED", "PARTIALLY_COMPLETED", "PARTIALLY_EXPORTED" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Processing status of the request. Values allowed are: @INITIATED@, @INPROGRESS@, @COMPLETED@, @CANCELED@, @EXPORTED@, @PARTIALLY_COMPLETED@, @PARTIALLY_EXPORTED@ and @FAILED@. You can pass multiple values by separating them using commas in the API request.",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "split" : ",",
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false,
                                "entity" : "Include"
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "referencereferenceTicketNumber" : "105",
                        "contactEmailId" : "john@zylker.com",
                        "modifiedById" : "7000000000247",
                        "createdBy" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/7000000000247/photo?orgId=15273347",
                          "firstName" : "Jack",
                          "lastName" : "Carol",
                          "id" : "7000000000247",
                          "email" : "jack@zylker.com"
                        },
                        "sarNumber" : "141",
                        "createdTime" : 1603973511890,
                        "modifiedBy" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/7000000000247/photo?orgId=15273347",
                          "firstName" : "Jack",
                          "lastName" : "Carol",
                          "id" : "7000000000247",
                          "email" : "jack@zylker.com"
                        },
                        "id" : "7000000092437",
                        "createdById" : "7000000000247",
                        "status" : "COMPLETED"
                      }, {
                        "contactEmailId" : "nirmal@zylker.com",
                        "modifiedById" : "7000000000247",
                        "createdBy" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/7000000000247/photo?orgId=15273347",
                          "firstName" : "Jack",
                          "lastName" : "Carol",
                          "id" : "7000000000247",
                          "email" : "jack@zylker.com"
                        },
                        "referenceTicketNumber" : null,
                        "sarNumber" : "140",
                        "createdTime" : 1603973416890,
                        "modifiedBy" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/7000000000247/photo?orgId=15273347",
                          "firstName" : "Jack",
                          "lastName" : "Carol",
                          "id" : "7000000000247",
                          "email" : "jack@zylker.com"
                        },
                        "id" : "7000000092243",
                        "createdById" : "7000000000247",
                        "status" : "INITIATED"
                      }, {
                        "contactEmailId" : "mark@zylker.com",
                        "modifiedById" : "7000000000247",
                        "createdBy" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/7000000000247/photo?orgId=15273347",
                          "firstName" : "Jack",
                          "lastName" : "Carol",
                          "id" : "7000000000247",
                          "email" : "jack@zylker.com"
                        },
                        "referenceTicketNumber" : "102",
                        "sarNumber" : "139",
                        "createdTime" : 1603973298838,
                        "modifiedBy" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/7000000000247/photo?orgId=15273347",
                          "firstName" : "Jack",
                          "lastName" : "Carol",
                          "id" : "7000000000247",
                          "email" : "jack@zylker.com"
                        },
                        "id" : "7000000092049",
                        "createdById" : "7000000000247",
                        "status" : "INPROGRESS"
                      }, {
                        "contactEmailId" : "john@zylker.com",
                        "modifiedById" : "7000000000247",
                        "createdBy" : {
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/7000000000247/photo?orgId=15273347",
                          "firstName" : "Jack",
                          "lastName" : "Carol",
                          "id" : "7000000000247",
                          "email" : "jack@zylker.com"
                        },
                        "referenceTicketNumber" : null,
                        "sarNumber" : "138",
                        "createdTime" : 1603972949954,
                        "modifiedBy" : {
[...]
