{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Team",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "users"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/departments/{departmentId}/teams" : {
      "get" : {
        "tags" : [ "Team" ],
        "summary" : "List teams in department",
        "description" : "This API fetches details of all the teams in a particular department.",
        "operationId" : "getTeamsInDepartment",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "teamListResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "teams" ],
                  "properties" : {
                    "teams" : {
                      "items" : {
                        "additionalProperties" : false,
                        "allOf" : [ {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "required" : [ "agents", "departmentId", "description", "name", "roles", "subTeams" ],
                            "properties" : {
                              "roles" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "departmentId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "name" : {
                                "maxLength" : 50,
                                "minLength" : 1,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "description" : {
                                "maxLength" : 255,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "subTeams" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "agents" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "rolesWithSubordinates" ],
                            "properties" : {
                              "rolesWithSubordinates" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            }
                          } ]
                        }, {
                          "required" : [ "derivedAgents", "id", "logoUrl" ],
                          "properties" : {
                            "derivedAgents" : {
                              "uniqueItems" : true,
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "logoUrl" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          }
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "teams" : [ {
                        "rolesWithSubordinates" : [ ],
                        "departmentId" : "60000000839483",
                        "roles" : [ "60000000098623" ],
                        "name" : "Sales Reps.",
                        "description" : "Sales teams for winning customers.",
                        "derivedAgents" : [ "6000000011313", "60000000120230" ],
                        "id" : "6000000083003",
                        "subTeams" : [ ],
                        "logoUrl" : null,
                        "agents" : [ ]
                      }, {
                        "rolesWithSubordinates" : [ ],
                        "departmentId" : "60000000839483",
                        "roles" : [ ],
                        "name" : "Support Teams",
                        "description" : "Support teams for solving customer issues.",
                        "derivedAgents" : [ "6000000011313" ],
                        "id" : "6000000083034",
                        "subTeams" : [ ],
                        "logoUrl" : null,
                        "agents" : [ "6000000011313" ]
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "system-auth" : "optional",
              "scoped-services" : [ "ZohoSupport" ]
            }
          },
          "clan-group" : "automation",
          "apihash" : "4918e7884512613dd6fc09b603e8fc50",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.api.team.TeamService.getTeamsByDeptId"
        }
      }
    },
    "/api/v1/teams" : {
      "get" : {
        "tags" : [ "Team" ],
        "summary" : "List teams from all associated departments",
        "description" : "This API fetches details of all teams created in all departments to which the current user belongs.",
        "operationId" : "getTeams",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "teamListResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "teams" ],
                  "properties" : {
                    "teams" : {
                      "items" : {
                        "additionalProperties" : false,
                        "allOf" : [ {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "required" : [ "agents", "departmentId", "description", "name", "roles", "subTeams" ],
                            "properties" : {
                              "roles" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "departmentId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "name" : {
                                "maxLength" : 50,
                                "minLength" : 1,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "description" : {
                                "maxLength" : 255,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "subTeams" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "agents" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "rolesWithSubordinates" ],
                            "properties" : {
                              "rolesWithSubordinates" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            }
                          } ]
                        }, {
                          "required" : [ "derivedAgents", "id", "logoUrl" ],
                          "properties" : {
                            "derivedAgents" : {
                              "uniqueItems" : true,
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "logoUrl" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          }
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "teams" : [ {
                        "rolesWithSubordinates" : [ ],
                        "departmentId" : "60000000839483",
                        "roles" : [ "60000000098623" ],
                        "name" : "Sales Reps.",
                        "description" : "Sales teams for winning customers.",
                        "derivedAgents" : [ "6000000011313", "60000000120230" ],
                        "id" : "6000000083003",
                        "subTeams" : [ ],
                        "logoUrl" : null,
                        "agents" : [ ]
                      }, {
                        "rolesWithSubordinates" : [ ],
                        "departmentId" : "60000000839483",
                        "roles" : [ ],
                        "name" : "Support Teams",
                        "description" : "Support teams for solving customer issues.",
                        "derivedAgents" : [ "6000000011313" ],
                        "id" : "6000000083034",
                        "subTeams" : [ ],
                        "logoUrl" : null,
                        "agents" : [ "6000000011313" ]
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 60000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "50cbef14e3f4c4a9b509eb4e9cc268f5",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.api.team.TeamService.getTeamsInAllAssociatedDept"
        }
      },
      "post" : {
        "tags" : [ "Team" ],
        "summary" : "Create team",
        "description" : "This API creates a team in your help desk portal.",
        "operationId" : "createTeam",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "departmentId", "name" ],
                "properties" : {
                  "roles" : {
                    "uniqueItems" : true,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "departmentId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "name" : {
                    "maxLength" : 50,
                    "minLength" : 1,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "description" : {
                    "maxLength" : 255,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "subTeams" : {
                    "uniqueItems" : true,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "agents" : {
                    "uniqueItems" : true,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "rolesWithSubordinates" : [ "6000000008684", "6000000008686" ],
                    "departmentId" : "6000000009893",
                    "roles" : [ "6000000011307", "6000000011309", "6000000011311" ],
                    "name" : "Sales Representatives",
                    "description" : "Sales teams for customer engagement.",
                    "subTeams" : [ "6000000012001" ],
                    "agents" : [ "6000000009086" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "teamResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "agents", "departmentId", "description", "name", "roles", "subTeams" ],
                      "properties" : {
                        "roles" : {
                          "uniqueItems" : true,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "name" : {
                          "maxLength" : 50,
                          "minLength" : 1,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "description" : {
                          "maxLength" : 255,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "subTeams" : {
                          "uniqueItems" : true,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "agents" : {
                          "uniqueItems" : true,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        }
                      },
                      "additionalProperties" : false
                    }, {
                      "required" : [ "rolesWithSubordinates" ],
                      "properties" : {
                        "rolesWithSubordinates" : {
                          "uniqueItems" : true,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        }
                      }
                    } ]
                  }, {
                    "required" : [ "derivedAgents", "id", "logoUrl" ],
                    "properties" : {
                      "derivedAgents" : {
                        "uniqueItems" : true,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : [ { } ]
                        }
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "logoUrl" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "rolesWithSubordinates" : [ "6000000008684", "6000000008686" ],
                      "departmentId" : "6000000009893",
                      "roles" : [ "6000000011311", "6000000011307" ],
                      "name" : "Sales Reps.",
                      "description" : "Sales teams for winning customers.",
                      "derivedAgents" : [ "6000000009086", "6000000012003" ],
                      "id" : "6000000014007",
                      "subTeams" : [ "6000000011303" ],
                      "logoUrl" : null,
                      "agents" : [ "6000000009086" ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.CREATE", "Desk.basic.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 60000,
                  "threshold" : 15,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 3600000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "4941dae6693ba41a288536cc18a255f6",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.api.team.TeamService.createTeam"
        }
      }
    },
    "/api/v1/teams/{team_id}/deleteTeam" : {
      "post" : {
        "tags" : [ "Team" ],
        "summary" : "Delete team",
        "description" : "This API deletes an existing team from your help desk portal. To reassign the open and on hold tickets and tasks of the deleted team to a different team, pass the <b>ticketNewTeam</b>, <b>taskNewTeam</b>, <b>ticketNewAgent</b>, and <b>taskNewAgent</b> team parameters in the API request. If you do not want to assign the tickets to another team, pass the values of <b>ticketNewTeam</b> and <b>ticketNewAgent</b> as null. However, in the case of tasks, either <b>taskNewTeam</b> or <b>taskNewAgent</b> must have a valid value. Both parameters cannot be passed as null.",
        "operationId" : "deleteTeam",
        "parameters" : [ {
          "name" : "team_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "taskNewAgent", "taskNewTeam", "ticketNewAgent", "ticketNewTeam" ],
                "properties" : {
                  "ticketNewAgent" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "ticketNewTeam" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "taskNewTeam" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "taskNewAgent" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "ticketNewAgent" : "5000000013005",
                    "ticketNewTeam" : "5000000013001",
                    "taskNewTeam" : "5000000013001",
                    "taskNewAgent" : "5000000013009"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.DELETE", "Desk.basic.DELETE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 3600000,
                  "lock-period" : 60000,
                  "threshold" : 15,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "c7b4853f42828a9707af4846583f6f9a",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.api.team.TeamService.deleteTeam"
        }
      }
    },
    "/api/v1/teams/{teamId}/associables" : {
      "get" : {
        "tags" : [ "Team" ],
        "summary" : "List associable teams",
        "description" : "This API lists the other teams that can be added as sub-teams to the current team.",
        "operationId" : "getSubTeamsIds",
        "parameters" : [ {
          "name" : "teamId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "associableTeamListResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "teams" ],
                  "properties" : {
                    "teams" : {
                      "items" : {
                        "format" : "int64"
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "teams" : [ 6000000011303, 6000000017021, 6000000017023, 6000000016013, 6000000017017, 6000000016015, 6000000017019, 6000000017013, 6000000017015, 6000000017009, 6000000012001, 6000000017011, 6000000017005, 6000000016025, 6000000017007, 6000000017059, 6000000016027, 6000000017001, 6000000016029, 6000000017003, 6000000016031, 6000000016017, 6000000015001, 6000000016019, 6000000016021 ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 3600000,
                  "lock-period" : 60000,
                  "threshold" : 15,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "a5e7a26c14383d764e112e37bbc2559f",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.api.team.TeamService.getAssociableTeams"
        }
      }
    },
    "/api/v1/roles/{role_id}/teams" : {
      "get" : {
        "tags" : [ "Team" ],
        "summary" : "List associated teams for a role",
        "description" : "This API fetches details of all the teams associated with a particular role.",
        "operationId" : "getAssociatedTeamsForRole",
        "parameters" : [ {
          "name" : "role_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "teamListResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "teams" ],
                  "properties" : {
                    "teams" : {
                      "items" : {
                        "additionalProperties" : false,
                        "allOf" : [ {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "required" : [ "agents", "departmentId", "description", "name", "roles", "subTeams" ],
                            "properties" : {
                              "roles" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "departmentId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "name" : {
                                "maxLength" : 50,
                                "minLength" : 1,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "description" : {
                                "maxLength" : 255,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "subTeams" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "agents" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "rolesWithSubordinates" ],
                            "properties" : {
                              "rolesWithSubordinates" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            }
                          } ]
                        }, {
                          "required" : [ "derivedAgents", "id", "logoUrl" ],
                          "properties" : {
                            "derivedAgents" : {
                              "uniqueItems" : true,
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "logoUrl" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          }
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "teams" : [ {
                        "rolesWithSubordinates" : [ ],
                        "departmentId" : "60000000839483",
                        "roles" : [ "60000000098623" ],
                        "name" : "Sales Reps.",
                        "description" : "Sales teams for winning customers.",
                        "derivedAgents" : [ "6000000011313", "60000000120230" ],
                        "id" : "6000000083003",
                        "subTeams" : [ ],
                        "logoUrl" : null,
                        "agents" : [ ]
                      }, {
                        "rolesWithSubordinates" : [ ],
                        "departmentId" : "60000000839483",
                        "roles" : [ ],
                        "name" : "Support Teams",
                        "description" : "Support teams for solving customer issues.",
                        "derivedAgents" : [ "6000000011313" ],
                        "id" : "6000000083034",
                        "subTeams" : [ ],
                        "logoUrl" : null,
                        "agents" : [ "6000000011313" ]
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 60000,
                  "threshold" : 15,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "6c4bb125a168adc566d2cc70a8b00d6c",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.api.team.TeamService.getTeamsByRoleId"
        }
      }
    },
    "/api/v1/agents/{agentId}/teams" : {
      "get" : {
        "tags" : [ "Team" ],
        "summary" : "List associated teams of agent",
        "description" : "This API fetches details of all the teams to which an agent belongs.",
        "operationId" : "listAssociatedTeamsForAgent",
        "parameters" : [ {
          "name" : "agentId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "teamListResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "teams" ],
                  "properties" : {
                    "teams" : {
                      "items" : {
                        "additionalProperties" : false,
                        "allOf" : [ {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "required" : [ "agents", "departmentId", "description", "name", "roles", "subTeams" ],
                            "properties" : {
                              "roles" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "departmentId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              },
                              "name" : {
                                "maxLength" : 50,
                                "minLength" : 1,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "description" : {
                                "maxLength" : 255,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "subTeams" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "agents" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "rolesWithSubordinates" ],
                            "properties" : {
                              "rolesWithSubordinates" : {
                                "uniqueItems" : true,
                                "items" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              }
                            }
                          } ]
                        }, {
                          "required" : [ "derivedAgents", "id", "logoUrl" ],
                          "properties" : {
                            "derivedAgents" : {
                              "uniqueItems" : true,
                              "items" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "logoUrl" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          }
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "teams" : [ {
                        "rolesWithSubordinates" : [ ],
                        "departmentId" : "60000000839483",
                        "roles" : [ "60000000098623" ],
                        "name" : "Sales Reps.",
                        "description" : "Sales teams for winning customers.",
                        "derivedAgents" : [ "6000000011313", "60000000120230" ],
                        "id" : "6000000083003",
                        "subTeams" : [ ],
                        "logoUrl" : null,
                        "agents" : [ ]
                      }, {
                        "rolesWithSubordinates" : [ ],
                        "departmentId" : "60000000839483",
                        "roles" : [ ],
                        "name" : "Support Teams",
                        "description" : "Support teams for solving customer issues.",
                        "derivedAgents" : [ "6000000011313" ],
                        "id" : "6000000083034",
                        "subTeams" : [ ],
                        "logoUrl" : null,
                        "agents" : [ "6000000011313" ]
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "23d471c352dd17c99e51c6f750c5b847",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.api.team.TeamService.getTeamsForAgent"
        }
      }
    },
    "/api/v1/teams/{team_id}/members" : {
      "get" : {
        "tags" : [ "Team" ],
        "summary" : "List details of team members",
        "description" : "This API fetches details of all the members of a particular team.",
        "operationId" : "getTeamMembersDetails",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Secondary information related to the team. Values allowed are @profile@, @role@. You can include all two values by separating them with commas in the API request.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "maxItems" : 2,
            "uniqueItems" : true,
            "description" : "Secondary information related to the team. Values allowed are @profile@, @role@. You can include all two values by separating them with commas in the API request.",
            "items" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "profile", "role" ],
              "x-custom-parameters-attributes" : [ ]
            }
          }
        }, {
          "name" : "team_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "teamMembersListResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "members" : {
                        "items" : {
                          "properties" : {
                            "role" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "id", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "profile" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "id", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : { }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "members" ],
                    "properties" : {
                      "members" : {
                        "items" : {
                          "required" : [ "emailId", "firstName", "id", "lastName", "photoURL", "profileId", "roleId", "zuid" ],
                          "properties" : {
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "photoURL" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                            },
                            "roleId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "profileId" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "emailId" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "zuid" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int32"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "members" : [ {
                        "firstName" : "",
                        "lastName" : "John",
                        "photoURL" : "https://contacts.zoho.com/file?t=user&ID=437793",
                        "roleId" : "7000000012324",
                        "profileId" : "7000000012339",
                        "emailId" : "john@zylker.com",
                        "id" : "7000000013328",
                        "zuid" : "437793"
                      }, {
                        "firstName" : "Steve",
                        "lastName" : "Kyle",
                        "photoURL" : null,
                        "roleId" : "7000000012324",
                        "profileId" : "7000000012339",
                        "emailId" : "kyle@zylker.com",
                        "id" : "7000000012958",
                        "zuid" : "5625416"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy,IscSignatureCalls_OrgPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "system-auth" : "optional",
              "scoped-services" : [ "ZohoSupport" ]
            }
          },
          "clan-group" : "automation",
          "apihash" : "788e43f265a33392fea26cb33c672895",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.api.team.TeamService.getTeamMembers"
        }
      }
    },
    "/api/v1/teams/{team_id}/logo" : {
      "get" : {
        "tags" : [ "Team" ],
        "summary" : "Get team logo",
        "description" : "This API gets the logo for given team",
        "operationId" : "getTeamLogo",
        "parameters" : [ {
          "name" : "team_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "File response",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "format" : "binary"
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basics.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 60000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "f2c02ae22806d57864fe4313d816886e",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.api.team.TeamService.downloadTeamLogo"
        }
      },
      "post" : {
        "tags" : [ "Team" ],
        "summary" : "Upload team logo",
        "description" : "This API sets the logo for given team",
        "operationId" : "updateTeamLogo",
        "parameters" : [ {
          "name" : "team_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "required" : [ "teamLogo" ],
                "properties" : {
                  "teamLogo" : {
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE", "Desk.basics.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 15,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "9a3db8f51dfdb7bfa981c5b3f66a8103",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.api.team.TeamService.uploadTeamLogo"
        }
      },
      "delete" : {
        "tags" : [ "Team" ],
        "summary" : "Delete team logo",
        "description" : "This API deletes the logo for given team",
        "operationId" : "deleteTeamLogo",
        "parameters" : [ {
          "name" : "team_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.DELETE", "Desk.basics.DELETE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 15,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 500,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "1029a38e916c238b79eafa0398f0e1a2",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.api.team.TeamService.deleteTeamLogo"
        }
      }
    },
    "/api/v1/teams/{teamId}" : {
      "get" : {
        "tags" : [ "Team" ],
        "summary" : "Get team",
        "description" : "This API fetches the details of a team.",
        "operationId" : "getTeam",
        "parameters" : [ {
          "name" : "teamId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "teamResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "agents", "departmentId", "description", "name", "roles", "subTeams" ],
                      "properties" : {
                        "roles" : {
                          "uniqueItems" : true,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "name" : {
                          "maxLength" : 50,
                          "minLength" : 1,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "description" : {
                          "maxLength" : 255,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "subTeams" : {
                          "uniqueItems" : true,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "agents" : {
                          "uniqueItems" : true,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        }
                      },
                      "additionalProperties" : false
                    }, {
                      "required" : [ "rolesWithSubordinates" ],
                      "properties" : {
                        "rolesWithSubordinates" : {
                          "uniqueItems" : true,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        }
                      }
                    } ]
                  }, {
                    "required" : [ "derivedAgents", "id", "logoUrl" ],
                    "properties" : {
                      "derivedAgents" : {
                        "uniqueItems" : true,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : [ { } ]
                        }
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "logoUrl" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "rolesWithSubordinates" : [ "6000000008684", "6000000008686" ],
                      "departmentId" : "6000000009893",
                      "roles" : [ "6000000011311", "6000000011307" ],
                      "name" : "Sales Reps.",
                      "description" : "Sales teams for winning customers.",
                      "derivedAgents" : [ "6000000009086", "6000000012003" ],
                      "id" : "6000000014007",
                      "subTeams" : [ "6000000011303" ],
                      "logoUrl" : null,
                      "agents" : [ "6000000009086" ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ", "Desk.basic.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "system-auth" : "optional",
              "scoped-services" : [ "ZohoSupport" ]
            }
          },
          "clan-group" : "automation",
          "apihash" : "8ce08314818cdca38e607eb79e1e88e4",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.api.team.TeamService.getTeam"
        }
      }
    },
    "/api/v1/teams/{team_id}" : {
      "patch" : {
        "tags" : [ "Team" ],
        "summary" : "Update team",
        "description" : "This API updates details of an existing team.",
        "operationId" : "updateTeam",
        "parameters" : [ {
          "name" : "team_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "roles" : {
                    "uniqueItems" : true,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "name" : {
                    "maxLength" : 50,
                    "minLength" : 1,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "description" : {
                    "maxLength" : 255,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "subTeams" : {
                    "uniqueItems" : true,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "agents" : {
                    "uniqueItems" : true,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "roles" : [ "6000000011307", "6000000011311" ],
                    "name" : "Sales Reps.",
                    "description" : "Sales teams for winning customers.",
                    "subTeams" : [ "6000000011303" ],
                    "agents" : [ "6000000009086" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "teamResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "agents", "departmentId", "description", "name", "roles", "subTeams" ],
                      "properties" : {
                        "roles" : {
                          "uniqueItems" : true,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "departmentId" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "name" : {
                          "maxLength" : 50,
                          "minLength" : 1,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "description" : {
                          "maxLength" : 255,
                          "minLength" : 0,
                          "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                        },
                        "subTeams" : {
                          "uniqueItems" : true,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "agents" : {
                          "uniqueItems" : true,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        }
                      },
                      "additionalProperties" : false
                    }, {
                      "required" : [ "rolesWithSubordinates" ],
                      "properties" : {
                        "rolesWithSubordinates" : {
                          "uniqueItems" : true,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        }
                      }
                    } ]
                  }, {
                    "required" : [ "derivedAgents", "id", "logoUrl" ],
                    "properties" : {
                      "derivedAgents" : {
                        "uniqueItems" : true,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : [ { } ]
                        }
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "logoUrl" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "rolesWithSubordinates" : [ "6000000008684", "6000000008686" ],
                      "departmentId" : "6000000009893",
                      "roles" : [ "6000000011311", "6000000011307" ],
                      "name" : "Sales Reps.",
                      "description" : "Sales teams for winning customers.",
                      "derivedAgents" : [ "6000000009086", "6000000012003" ],
                      "id" : "6000000014007",
                      "subTeams" : [ "6000000011303" ],
                      "logoUrl" : null,
                      "agents" : [ "6000000009086" ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE", "Desk.basic.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 60000,
                  "threshold" : 15,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "03f65d4c4a3fc849c2320dcce57c7fe7",
          "module-group" : "users",
          "apimethod" : "com.zoho.support.api.team.TeamService.updateTeam"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "teamRequestJson" : {
        "required" : [ "agents", "departmentId", "description", "name", "roles", "subTeams" ],
        "properties" : {
          "roles" : {
            "uniqueItems" : true,
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "departmentId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "name" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "description" : {
            "maxLength" : 255,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "subTeams" : {
            "uniqueItems" : true,
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "agents" : {
            "uniqueItems" : true,
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          }
        },
        "additionalProperties" : { }
      },
      "teamJson" : {
        "additionalProperties" : { },
        "allOf" : [ {
          "required" : [ "agents", "departmentId", "description", "name", "roles", "subTeams" ],
          "properties" : {
            "roles" : {
              "uniqueItems" : true,
              "items" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "departmentId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "name" : {
              "maxLength" : 50,
              "minLength" : 1,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "description" : {
              "maxLength" : 255,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "subTeams" : {
              "uniqueItems" : true,
              "items" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "agents" : {
              "uniqueItems" : true,
              "items" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            }
          },
          "additionalProperties" : false
        }, {
          "required" : [ "rolesWithSubordinates" ],
          "properties" : {
            "rolesWithSubordinates" : {
              "uniqueItems" : true,
              "items" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            }
          }
        } ]
      },
      "teamResponse" : {
        "additionalProperties" : { },
        "allOf" : [ {
          "additionalProperties" : false,
          "allOf" : [ {
            "required" : [ "agents", "departmentId", "description", "name", "roles", "subTeams" ],
            "properties" : {
              "roles" : {
                "uniqueItems" : true,
                "items" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "departmentId" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "name" : {
                "maxLength" : 50,
                "minLength" : 1,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "description" : {
                "maxLength" : 255,
                "minLength" : 0,
                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
              },
              "subTeams" : {
                "uniqueItems" : true,
                "items" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "agents" : {
                "uniqueItems" : true,
                "items" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              }
            },
            "additionalProperties" : false
          }, {
            "required" : [ "rolesWithSubordinates" ],
            "properties" : {
              "rolesWithSubordinates" : {
                "uniqueItems" : true,
                "items" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              }
            }
          } ]
        }, {
          "required" : [ "derivedAgents", "id", "logoUrl" ],
          "properties" : {
            "derivedAgents" : {
              "uniqueItems" : true,
              "items" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "logoUrl" : {
              "maxLength" : 200,
              "minLength" : 0,
              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
            }
          }
        } ]
      },
      "teamResponseArray" : {
        "items" : {
          "additionalProperties" : false,
          "allOf" : [ {
            "additionalProperties" : false,
            "allOf" : [ {
              "required" : [ "agents", "departmentId", "description", "name", "roles", "subTeams" ],
              "properties" : {
                "roles" : {
                  "uniqueItems" : true,
                  "items" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "departmentId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "name" : {
                  "maxLength" : 50,
                  "minLength" : 1,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                },
                "description" : {
                  "maxLength" : 255,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                },
                "subTeams" : {
                  "uniqueItems" : true,
                  "items" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "agents" : {
                  "uniqueItems" : true,
                  "items" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                }
              },
              "additionalProperties" : false
            }, {
              "required" : [ "rolesWithSubordinates" ],
              "properties" : {
                "rolesWithSubordinates" : {
                  "uniqueItems" : true,
                  "items" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                }
              }
            } ]
          }, {
            "required" : [ "derivedAgents", "id", "logoUrl" ],
            "properties" : {
              "derivedAgents" : {
                "uniqueItems" : true,
                "items" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "logoUrl" : {
                "maxLength" : 200,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              }
            }
          } ]
        }
      },
      "teamIds" : {
        "items" : {
          "format" : "int64"
        }
      },
      "teamMembersDetails" : {
        "required" : [ "emailId", "firstName", "id", "lastName", "photoURL", "profileId", "roleId", "zuid" ],
        "properties" : {
          "firstName" : {
            "maxLength" : 50,
            "minLength" : 0
          },
          "lastName" : {
            "maxLength" : 50,
            "minLength" : 0
          },
          "photoURL" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "roleId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "profileId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "emailId" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "zuid" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          }
        },
        "additionalProperties" : { }
      },
      "teamMembersDetailsList" : {
        "items" : {
          "required" : [ "emailId", "firstName", "id", "lastName", "photoURL", "profileId", "roleId", "zuid" ],
          "properties" : {
            "firstName" : {
              "maxLength" : 50,
              "minLength" : 0
            },
            "lastName" : {
              "maxLength" : 50,
              "minLength" : 0
            },
            "photoURL" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "roleId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "profileId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "emailId" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "zuid" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            }
          },
          "additionalProperties" : false
        }
      },
      "teamsObjectForGetAppliedBlueprintDetails" : {
        "required" : [ "id", "logoUrl", "name" ],
        "properties" : {
          "name" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "logoUrl" : {
            "maxLength" : 200,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          }
        },
        "additionalProperties" : { }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "teamListResponse" : {
        "description" : "teamListResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "teams" ],
              "properties" : {
                "teams" : {
                  "items" : {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "additionalProperties" : false,
                      "allOf" : [ {
                        "required" : [ "agents", "departmentId", "description", "name", "roles", "subTeams" ],
                        "properties" : {
                          "roles" : {
                            "uniqueItems" : true,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "departmentId" : {
[...]
