{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "TemplateFolders",
    "version" : "1.0.0",
    "x-clan-group" : "automation",
    "x-module-group" : "automation"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/templateFolders" : {
      "get" : {
        "tags" : [ "TemplateFolders" ],
        "summary" : "Listing Template Folders",
        "description" : "List all Template Folders in alphabetical order",
        "operationId" : "getTemplateFolders",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "the corresponding department to be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "the corresponding department to be fetched",
            "format" : "int64"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "number of folders to be retrieved Range 1-50, @DEFAULT 50@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "number of folders to be retrieved Range 1-50, @DEFAULT 50@",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "from index, @DEFAULT 1@",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "from index, @DEFAULT 1@",
            "format" : "int32"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "folderListResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "required" : [ "category", "createdBy", "createdOn", "departmentId", "folderAccessDetails", "folderDesc", "folderId", "folderName", "modifiedBy", "modifiedOn" ],
                    "properties" : {
                      "folderDesc" : {
                        "maxLength" : 32000,
                        "minLength" : 0
                      },
                      "modifiedOn" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "createdBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "folderAccessDetails" : {
                        "maxProperties" : 5,
                        "minProperties" : 5,
                        "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                        "properties" : {
                          "teams" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "roles" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "onlyMe", "allAgents", "restrictedAccess" ]
                          },
                          "rolesAndSubordinates" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "agents" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          }
                        },
                        "additionalProperties" : false
                      },
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "the corresponding department to be fetched",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "modifiedBy" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "folderName" : {
                        "maxLength" : 250,
                        "minLength" : 0,
                        "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                      },
                      "category" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "CUSTOM_FOLDER", "DEFAULT_FOLDER" ]
                      },
                      "createdOn" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "folderId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "additionalProperties" : { }
                  }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : [ {
                      "folderDesc" : null,
                      "modifiedOn" : 1588492006000,
                      "createdBy" : "11000000038001",
                      "folderAccessDetails" : {
                        "teams" : null,
                        "roles" : null,
                        "type" : "restrictedAccess",
                        "rolesAndSubordinates" : null,
                        "agents" : [ "11000000038001", "11000000058011" ]
                      },
                      "departmentId" : "11000000013068",
                      "modifiedBy" : "11000000038001",
                      "folderName" : "aaaa",
                      "category" : "CUSTOM_FOLDER",
                      "createdOn" : 1588460392000,
                      "templatesCount" : [ {
                        "templateType" : "Email",
                        "count" : {
                          "tickets" : "1",
                          "calls" : "0",
                          "solutions" : "0",
                          "accounts" : "0",
                          "contacts" : "0",
                          "tasks" : "0",
                          "events" : "0",
                          "products" : "0"
                        }
                      } ],
                      "folderId" : "11000000065077"
                    }, {
                      "folderDesc" : null,
                      "modifiedOn" : null,
                      "createdBy" : "11000000038001",
                      "folderAccessDetails" : {
                        "teams" : null,
                        "roles" : null,
                        "type" : "restrictedAccess",
                        "rolesAndSubordinates" : null,
                        "agents" : [ "11000000016526", "11000000038001" ]
                      },
                      "departmentId" : "11000000013068",
                      "modifiedBy" : null,
                      "folderName" : "accesible by agent1",
                      "category" : "CUSTOM_FOLDER",
                      "createdOn" : 1588489754000,
                      "templatesCount" : [ {
                        "templateType" : "Email",
                        "count" : {
                          "tickets" : "2",
                          "calls" : "0",
                          "solutions" : "0",
                          "accounts" : "0",
                          "contacts" : "0",
                          "tasks" : "0",
                          "events" : "0",
                          "products" : "0"
                        }
                      } ],
                      "folderId" : "11000000070193"
                    }, {
                      "folderDesc" : null,
                      "modifiedOn" : null,
                      "createdBy" : null,
                      "folderAccessDetails" : {
                        "teams" : null,
                        "roles" : null,
                        "type" : "allAgents",
                        "rolesAndSubordinates" : null,
                        "agents" : null
                      },
                      "departmentId" : "11000000013068",
                      "modifiedBy" : null,
                      "folderName" : "Agent Notification",
                      "category" : "DEFAULT_FOLDER",
                      "createdOn" : null,
                      "templatesCount" : [ {
                        "templateType" : "Email",
                        "count" : {
                          "tickets" : "13",
                          "kbCategory" : "10",
                          "calls" : "4",
                          "solutions" : "0",
                          "accounts" : "0",
                          "events" : "4",
                          "tasks" : "4",
                          "contacts" : "0",
                          "products" : "0"
                        }
                      } ],
                      "folderId" : "11000000013052"
                    }, {
                      "folderDesc" : null,
                      "modifiedOn" : null,
                      "createdBy" : null,
                      "folderAccessDetails" : {
                        "teams" : null,
                        "roles" : null,
                        "type" : "allAgents",
                        "rolesAndSubordinates" : null,
                        "agents" : null
                      },
                      "departmentId" : "11000000013068",
                      "modifiedBy" : null,
                      "folderName" : "Contact Notification",
                      "category" : "DEFAULT_FOLDER",
                      "createdOn" : null,
                      "templatesCount" : [ {
                        "templateType" : "Email",
                        "count" : {
                          "tickets" : "9",
                          "calls" : "0",
                          "solutions" : "0",
                          "accounts" : "0",
                          "contacts" : "0",
                          "tasks" : "0",
                          "events" : "0",
                          "products" : "0"
                        }
                      } ],
                      "folderId" : "11000000013048"
                    }, {
                      "folderDesc" : null,
                      "modifiedOn" : null,
                      "createdBy" : null,
                      "folderAccessDetails" : {
                        "teams" : null,
                        "roles" : null,
                        "type" : "allAgents",
                        "rolesAndSubordinates" : null,
                        "agents" : null
                      },
                      "departmentId" : "11000000013068",
                      "modifiedBy" : null,
                      "folderName" : "Public SMS Templates",
                      "category" : "DEFAULT_FOLDER",
                      "createdOn" : null,
                      "templatesCount" : [ {
                        "templateType" : "Email",
                        "count" : {
                          "tickets" : "0",
                          "calls" : "0",
                          "solutions" : "0",
                          "accounts" : "0",
                          "contacts" : "0",
                          "tasks" : "0",
                          "events" : "0",
                          "products" : "0"
                        }
                      } ],
                      "folderId" : "11000000013046"
                    }, {
                      "folderDesc" : null,
                      "modifiedOn" : null,
                      "createdBy" : null,
                      "folderAccessDetails" : {
                        "teams" : null,
                        "roles" : null,
                        "type" : "allAgents",
                        "rolesAndSubordinates" : null,
                        "agents" : null
                      },
                      "departmentId" : "11000000013068",
                      "modifiedBy" : null,
                      "folderName" : "Secondary Contacts Notification",
                      "category" : "DEFAULT_FOLDER",
                      "createdOn" : null,
                      "templatesCount" : [ {
                        "templateType" : "Email",
                        "count" : {
                          "tickets" : "8",
                          "calls" : "0",
                          "solutions" : "0",
                          "accounts" : "0",
                          "contacts" : "0",
                          "tasks" : "0",
                          "events" : "0",
                          "products" : "0"
                        }
                      } ],
                      "folderId" : "11000000013054"
                    }, {
                      "folderDesc" : null,
                      "modifiedOn" : null,
                      "createdBy" : null,
                      "folderAccessDetails" : {
                        "teams" : null,
                        "roles" : null,
                        "type" : "allAgents",
                        "rolesAndSubordinates" : null,
                        "agents" : null
                      },
                      "departmentId" : "11000000013068",
                      "modifiedBy" : null,
                      "folderName" : "Team Notification",
                      "category" : "DEFAULT_FOLDER",
                      "createdOn" : null,
                      "templatesCount" : [ {
                        "templateType" : "Email",
                        "count" : {
                          "tickets" : "6",
                          "calls" : "3",
                          "solutions" : "0",
                          "accounts" : "0",
                          "events" : "3",
                          "tasks" : "3",
                          "contacts" : "0",
                          "products" : "0"
                        }
                      } ],
                      "folderId" : "11000000013050"
                    }, {
                      "folderDesc" : "tset",
                      "modifiedOn" : 1588252173000,
                      "createdBy" : "11000000016526",
                      "folderAccessDetails" : {
                        "teams" : null,
                        "roles" : null,
                        "type" : "restrictedAccess",
                        "rolesAndSubordinates" : null,
                        "agents" : [ "11000000016526", "11000000038001" ]
                      },
                      "departmentId" : "11000000013068",
                      "modifiedBy" : "11000000016526",
                      "folderName" : "zzmyfolder",
                      "category" : "CUSTOM_FOLDER",
                      "createdOn" : 1588243095000,
                      "templatesCount" : [ {
                        "templateType" : "Email",
                        "count" : {
                          "tickets" : "39",
                          "calls" : "0",
                          "solutions" : "0",
                          "accounts" : "0",
                          "contacts" : "0",
                          "tasks" : "0",
                          "events" : "0",
                          "products" : "0"
                        }
                      } ],
                      "folderId" : "11000000057021"
                    } ]
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 600000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1200000,
                  "threshold" : 600,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "264c6a074c45e8fa32279d5aad1fd70c",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.TemplateFolderService.getTemplateFolderList"
        }
      },
      "post" : {
        "tags" : [ "TemplateFolders" ],
        "summary" : "Adding a Template Folder",
        "description" : "Adding a Template Folder",
        "operationId" : "addTemplateFolder",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "departmentId", "folderAccessDetails", "folderName" ],
                "properties" : {
                  "folderDesc" : {
                    "maxLength" : 32000,
                    "minLength" : 0
                  },
                  "folderAccessDetails" : {
                    "maxProperties" : 5,
                    "minProperties" : 5,
                    "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                    "properties" : {
                      "teams" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "roles" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "onlyMe", "allAgents", "restrictedAccess" ]
                      },
                      "rolesAndSubordinates" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "agents" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "departmentId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "folderName" : {
                    "maxLength" : 250,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "folderDesc" : "contains details",
                    "folderAccessDetails" : {
                      "type" : "allAgents"
                    },
                    "departmentId" : "4000000007039",
                    "folderName" : "New my Folder"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "201" : {
            "description" : "templateFolderResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "category", "createdBy", "createdOn", "departmentId", "folderAccessDetails", "folderDesc", "folderId", "folderName", "modifiedBy", "modifiedOn" ],
                  "properties" : {
                    "folderDesc" : {
                      "maxLength" : 32000,
                      "minLength" : 0
                    },
                    "modifiedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "folderAccessDetails" : {
                      "maxProperties" : 5,
                      "minProperties" : 5,
                      "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                      "properties" : {
                        "teams" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "roles" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "onlyMe", "allAgents", "restrictedAccess" ]
                        },
                        "rolesAndSubordinates" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "agents" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        }
                      },
                      "additionalProperties" : { }
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "folderName" : {
                      "maxLength" : 250,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "category" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "CUSTOM_FOLDER", "DEFAULT_FOLDER" ]
                    },
                    "createdOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "folderId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "folderDesc" : null,
                      "modifiedOn" : null,
                      "createdBy" : null,
                      "folderAccessDetails" : {
                        "type" : "allAgents"
                      },
                      "departmentId" : "1892000000082069",
                      "modifiedBy" : null,
                      "folderName" : "Public Email Templates",
                      "category" : "DEFAULT_FOLDER",
                      "createdOn" : null,
                      "folderId" : "1892000000082079"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 1200000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "9a5aab23503f1bef76bf8009142257c0",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.TemplateFolderService.addTemplateFolder"
        }
      }
    },
    "/api/v1/templateFolders/{folderId}" : {
      "get" : {
        "tags" : [ "TemplateFolders" ],
        "summary" : "Getting a single Template Folder",
        "description" : "Listing  a particular Template Folder",
        "operationId" : "getTemplateFolder",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "templateFolderResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "category", "createdBy", "createdOn", "departmentId", "folderAccessDetails", "folderDesc", "folderId", "folderName", "modifiedBy", "modifiedOn" ],
                  "properties" : {
                    "folderDesc" : {
                      "maxLength" : 32000,
                      "minLength" : 0
                    },
                    "modifiedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "folderAccessDetails" : {
                      "maxProperties" : 5,
                      "minProperties" : 5,
                      "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                      "properties" : {
                        "teams" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "roles" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "onlyMe", "allAgents", "restrictedAccess" ]
                        },
                        "rolesAndSubordinates" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "agents" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        }
                      },
                      "additionalProperties" : false
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "folderName" : {
                      "maxLength" : 250,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "category" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "CUSTOM_FOLDER", "DEFAULT_FOLDER" ]
                    },
                    "createdOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "folderId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "folderDesc" : null,
                      "modifiedOn" : null,
                      "createdBy" : null,
                      "folderAccessDetails" : {
                        "type" : "allAgents"
                      },
                      "departmentId" : "1892000000082069",
                      "modifiedBy" : null,
                      "folderName" : "Public Email Templates",
                      "category" : "DEFAULT_FOLDER",
                      "createdOn" : null,
                      "folderId" : "1892000000082079"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 1200000,
                  "threshold" : 25,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "447b329f66b948d21560e01a7dc5704d",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.TemplateFolderService.getTemplateFolder"
        }
      },
      "put" : {
        "tags" : [ "TemplateFolders" ],
        "summary" : "Updating a Template Folder",
        "description" : "Updating a Template Folder",
        "operationId" : "updateTemplateFolder",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "folderDesc" : {
                    "maxLength" : 32000,
                    "minLength" : 0
                  },
                  "folderAccessDetails" : {
                    "maxProperties" : 5,
                    "minProperties" : 5,
                    "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                    "properties" : {
                      "teams" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "roles" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "onlyMe", "allAgents", "restrictedAccess" ]
                      },
                      "rolesAndSubordinates" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "agents" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      }
                    },
                    "additionalProperties" : { }
                  },
                  "departmentId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "folderName" : {
                    "maxLength" : 250,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "folderName" : "NEw Folder"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "templateFolderResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "category", "createdBy", "createdOn", "departmentId", "folderAccessDetails", "folderDesc", "folderId", "folderName", "modifiedBy", "modifiedOn" ],
                  "properties" : {
                    "folderDesc" : {
                      "maxLength" : 32000,
                      "minLength" : 0
                    },
                    "modifiedOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "createdBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "folderAccessDetails" : {
                      "maxProperties" : 5,
                      "minProperties" : 5,
                      "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                      "properties" : {
                        "teams" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "roles" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "type" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "onlyMe", "allAgents", "restrictedAccess" ]
                        },
                        "rolesAndSubordinates" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "agents" : {
                          "uniqueItems" : false,
                          "items" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        }
                      },
                      "additionalProperties" : false
                    },
                    "departmentId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "modifiedBy" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    },
                    "folderName" : {
                      "maxLength" : 250,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                    },
                    "category" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "CUSTOM_FOLDER", "DEFAULT_FOLDER" ]
                    },
                    "createdOn" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                    },
                    "folderId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "folderDesc" : null,
                      "modifiedOn" : null,
                      "createdBy" : null,
                      "folderAccessDetails" : {
                        "type" : "allAgents"
                      },
                      "departmentId" : "1892000000082069",
                      "modifiedBy" : null,
                      "folderName" : "Public Email Templates",
                      "category" : "DEFAULT_FOLDER",
                      "createdOn" : null,
                      "folderId" : "1892000000082079"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 1200000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "6a018fe4e86cf1f9a1bf55a824b70748",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.TemplateFolderService.updateTemplateFolder"
        }
      },
      "delete" : {
        "tags" : [ "TemplateFolders" ],
        "summary" : "Delete Template Folder",
        "description" : "Delete a Template Folder",
        "operationId" : "deleteTemplateFolder",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.DELETE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 1200000,
                  "threshold" : 15,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 1800000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "automation",
          "apihash" : "3d5b1416ecb91bd74484e3f6feb70f35",
          "module-group" : "automation",
          "apimethod" : "com.zoho.support.restapi.TemplateFolderService.deleteTemplateFolder"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "templateFolderResponse" : {
        "required" : [ "category", "createdBy", "createdOn", "departmentId", "folderAccessDetails", "folderDesc", "folderId", "folderName", "modifiedBy", "modifiedOn" ],
        "properties" : {
          "folderDesc" : {
            "maxLength" : 32000,
            "minLength" : 0
          },
          "modifiedOn" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "createdBy" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "folderAccessDetails" : {
            "maxProperties" : 5,
            "minProperties" : 5,
            "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
            "properties" : {
              "teams" : {
                "uniqueItems" : false,
                "items" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "roles" : {
                "uniqueItems" : false,
                "items" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "type" : {
                "maxLength" : 100,
                "minLength" : 0,
                "enum" : [ "onlyMe", "allAgents", "restrictedAccess" ]
              },
              "rolesAndSubordinates" : {
                "uniqueItems" : false,
                "items" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "agents" : {
                "uniqueItems" : false,
                "items" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              }
            },
            "additionalProperties" : { }
          },
          "departmentId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "the corresponding department to be fetched",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "modifiedBy" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "folderName" : {
            "maxLength" : 250,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "category" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "CUSTOM_FOLDER", "DEFAULT_FOLDER" ]
          },
          "createdOn" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
          },
          "folderId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "folderListResponse" : {
        "description" : "folderListResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "items" : {
                "required" : [ "category", "createdBy", "createdOn", "departmentId", "folderAccessDetails", "folderDesc", "folderId", "folderName", "modifiedBy", "modifiedOn" ],
                "properties" : {
                  "folderDesc" : {
                    "maxLength" : 32000,
                    "minLength" : 0
                  },
                  "modifiedOn" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                  },
                  "createdBy" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "folderAccessDetails" : {
                    "maxProperties" : 5,
                    "minProperties" : 5,
                    "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                    "properties" : {
                      "teams" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "roles" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "type" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "onlyMe", "allAgents", "restrictedAccess" ]
                      },
                      "rolesAndSubordinates" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "agents" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      }
                    },
                    "additionalProperties" : false
                  },
                  "departmentId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64",
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "replacementString" : "",
                      "allowInvalid" : false,
                      "descrption" : "the corresponding department to be fetched",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  },
                  "modifiedBy" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "folderName" : {
                    "maxLength" : 250,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                  },
                  "category" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "CUSTOM_FOLDER", "DEFAULT_FOLDER" ]
                  },
                  "createdOn" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                  },
                  "folderId" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : false
              }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : [ {
                  "folderDesc" : null,
                  "modifiedOn" : 1588492006000,
                  "createdBy" : "11000000038001",
                  "folderAccessDetails" : {
                    "teams" : null,
                    "roles" : null,
                    "type" : "restrictedAccess",
                    "rolesAndSubordinates" : null,
                    "agents" : [ "11000000038001", "11000000058011" ]
                  },
                  "departmentId" : "11000000013068",
                  "modifiedBy" : "11000000038001",
                  "folderName" : "aaaa",
                  "category" : "CUSTOM_FOLDER",
                  "createdOn" : 1588460392000,
                  "templatesCount" : [ {
                    "templateType" : "Email",
                    "count" : {
                      "tickets" : "1",
                      "calls" : "0",
                      "solutions" : "0",
                      "accounts" : "0",
                      "contacts" : "0",
                      "tasks" : "0",
                      "events" : "0",
                      "products" : "0"
                    }
                  } ],
                  "folderId" : "11000000065077"
                }, {
                  "folderDesc" : null,
                  "modifiedOn" : null,
                  "createdBy" : "11000000038001",
                  "folderAccessDetails" : {
                    "teams" : null,
                    "roles" : null,
                    "type" : "restrictedAccess",
                    "rolesAndSubordinates" : null,
                    "agents" : [ "11000000016526", "11000000038001" ]
                  },
                  "departmentId" : "11000000013068",
                  "modifiedBy" : null,
                  "folderName" : "accesible by agent1",
                  "category" : "CUSTOM_FOLDER",
                  "createdOn" : 1588489754000,
                  "templatesCount" : [ {
                    "templateType" : "Email",
                    "count" : {
                      "tickets" : "2",
                      "calls" : "0",
                      "solutions" : "0",
                      "accounts" : "0",
                      "contacts" : "0",
                      "tasks" : "0",
                      "events" : "0",
                      "products" : "0"
                    }
                  } ],
                  "folderId" : "11000000070193"
                }, {
                  "folderDesc" : null,
                  "modifiedOn" : null,
                  "createdBy" : null,
                  "folderAccessDetails" : {
                    "teams" : null,
                    "roles" : null,
                    "type" : "allAgents",
                    "rolesAndSubordinates" : null,
                    "agents" : null
                  },
                  "departmentId" : "11000000013068",
                  "modifiedBy" : null,
                  "folderName" : "Agent Notification",
                  "category" : "DEFAULT_FOLDER",
                  "createdOn" : null,
                  "templatesCount" : [ {
                    "templateType" : "Email",
                    "count" : {
                      "tickets" : "13",
                      "kbCategory" : "10",
                      "calls" : "4",
                      "solutions" : "0",
                      "accounts" : "0",
                      "events" : "4",
                      "tasks" : "4",
                      "contacts" : "0",
                      "products" : "0"
                    }
                  } ],
                  "folderId" : "11000000013052"
                }, {
                  "folderDesc" : null,
                  "modifiedOn" : null,
                  "createdBy" : null,
                  "folderAccessDetails" : {
                    "teams" : null,
                    "roles" : null,
                    "type" : "allAgents",
                    "rolesAndSubordinates" : null,
                    "agents" : null
                  },
                  "departmentId" : "11000000013068",
                  "modifiedBy" : null,
                  "folderName" : "Contact Notification",
                  "category" : "DEFAULT_FOLDER",
                  "createdOn" : null,
                  "templatesCount" : [ {
                    "templateType" : "Email",
                    "count" : {
                      "tickets" : "9",
                      "calls" : "0",
                      "solutions" : "0",
                      "accounts" : "0",
                      "contacts" : "0",
                      "tasks" : "0",
                      "events" : "0",
                      "products" : "0"
                    }
                  } ],
                  "folderId" : "11000000013048"
                }, {
                  "folderDesc" : null,
                  "modifiedOn" : null,
                  "createdBy" : null,
                  "folderAccessDetails" : {
                    "teams" : null,
                    "roles" : null,
                    "type" : "allAgents",
                    "rolesAndSubordinates" : null,
                    "agents" : null
                  },
                  "departmentId" : "11000000013068",
                  "modifiedBy" : null,
                  "folderName" : "Public SMS Templates",
                  "category" : "DEFAULT_FOLDER",
                  "createdOn" : null,
                  "templatesCount" : [ {
                    "templateType" : "Email",
                    "count" : {
                      "tickets" : "0",
                      "calls" : "0",
                      "solutions" : "0",
                      "accounts" : "0",
                      "contacts" : "0",
                      "tasks" : "0",
                      "events" : "0",
                      "products" : "0"
                    }
                  } ],
                  "folderId" : "11000000013046"
                }, {
                  "folderDesc" : null,
                  "modifiedOn" : null,
                  "createdBy" : null,
                  "folderAccessDetails" : {
                    "teams" : null,
                    "roles" : null,
                    "type" : "allAgents",
                    "rolesAndSubordinates" : null,
                    "agents" : null
                  },
                  "departmentId" : "11000000013068",
                  "modifiedBy" : null,
                  "folderName" : "Secondary Contacts Notification",
                  "category" : "DEFAULT_FOLDER",
                  "createdOn" : null,
                  "templatesCount" : [ {
                    "templateType" : "Email",
                    "count" : {
                      "tickets" : "8",
                      "calls" : "0",
                      "solutions" : "0",
                      "accounts" : "0",
                      "contacts" : "0",
                      "tasks" : "0",
                      "events" : "0",
                      "products" : "0"
                    }
                  } ],
                  "folderId" : "11000000013054"
                }, {
                  "folderDesc" : null,
                  "modifiedOn" : null,
                  "createdBy" : null,
                  "folderAccessDetails" : {
                    "teams" : null,
                    "roles" : null,
                    "type" : "allAgents",
                    "rolesAndSubordinates" : null,
                    "agents" : null
                  },
                  "departmentId" : "11000000013068",
                  "modifiedBy" : null,
                  "folderName" : "Team Notification",
                  "category" : "DEFAULT_FOLDER",
                  "createdOn" : null,
                  "templatesCount" : [ {
                    "templateType" : "Email",
                    "count" : {
                      "tickets" : "6",
                      "calls" : "3",
                      "solutions" : "0",
                      "accounts" : "0",
                      "events" : "3",
                      "tasks" : "3",
                      "contacts" : "0",
                      "products" : "0"
                    }
                  } ],
                  "folderId" : "11000000013050"
                }, {
                  "folderDesc" : "tset",
                  "modifiedOn" : 1588252173000,
                  "createdBy" : "11000000016526",
                  "folderAccessDetails" : {
                    "teams" : null,
                    "roles" : null,
                    "type" : "restrictedAccess",
                    "rolesAndSubordinates" : null,
                    "agents" : [ "11000000016526", "11000000038001" ]
                  },
                  "departmentId" : "11000000013068",
                  "modifiedBy" : "11000000016526",
                  "folderName" : "zzmyfolder",
                  "category" : "CUSTOM_FOLDER",
                  "createdOn" : 1588243095000,
                  "templatesCount" : [ {
                    "templateType" : "Email",
                    "count" : {
                      "tickets" : "39",
                      "calls" : "0",
                      "solutions" : "0",
                      "accounts" : "0",
                      "contacts" : "0",
                      "tasks" : "0",
                      "events" : "0",
                      "products" : "0"
                    }
                  } ],
                  "folderId" : "11000000057021"
                } ]
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "templateFolderResponse" : {
        "description" : "templateFolderResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "category", "createdBy", "createdOn", "departmentId", "folderAccessDetails", "folderDesc", "folderId", "folderName", "modifiedBy", "modifiedOn" ],
              "properties" : {
                "folderDesc" : {
                  "maxLength" : 32000,
                  "minLength" : 0
                },
                "modifiedOn" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                },
                "createdBy" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "folderAccessDetails" : {
                  "maxProperties" : 5,
                  "minProperties" : 5,
                  "required" : [ "agents", "roles", "rolesAndSubordinates", "teams", "type" ],
                  "properties" : {
                    "teams" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "roles" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "type" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "onlyMe", "allAgents", "restrictedAccess" ]
                    },
                    "rolesAndSubordinates" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    },
                    "agents" : {
                      "uniqueItems" : false,
                      "items" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "departmentId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "modifiedBy" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "folderName" : {
                  "maxLength" : 250,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                },
                "category" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "enum" : [ "CUSTOM_FOLDER", "DEFAULT_FOLDER" ]
                },
                "createdOn" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                },
                "folderId" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                }
              },
              "additionalProperties" : { }
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "folderDesc" : null,
                  "modifiedOn" : null,
                  "createdBy" : null,
                  "folderAccessDetails" : {
                    "type" : "allAgents"
                  },
                  "departmentId" : "1892000000082069",
                  "modifiedBy" : null,
                  "folderName" : "Public Email Templates",
                  "category" : "DEFAULT_FOLDER",
                  "createdOn" : null,
                  "folderId" : "1892000000082079"
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "OAuth Org Mismatch Error Response" : {
                "value" : {
                  "errorCode" : "OAUTH_ORG_MISMATCH",
                  "message" : "The OAuthToken is not valid for specified organization."
                }
              }
            }
          }
        }
      },
      "forbiddenErrorResponse" : {
        "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Forbidden Error Response" : {
                "value" : {
                  "errorCode" : "FORBIDDEN",
                  "message" : "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "urlNotFoundErrorResponse" : {
        "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Url Not Found Error Response" : {
                "value" : {
                  "errorCode" : "URL_NOT_FOUND",
                  "message" : "The URL you requested could not be found."
                }
              }
            }
          }
        }
      },
      "methodNotAllowedErrorResponse" : {
        "description" : "This errorCode value appears if the method in the API request is known by the server but disabled for the API requested.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Method Not Allowed Error Response" : {
                "value" : {
                  "errorCode" : "METHOD_NOT_ALLOWED",
                  "message" : "This HTTP method is not allowed on this URL."
                }
              }
            }
          }
        }
      },
      "resourceSizeExceededErrorResponse" : {
        "description" : "This errorCode value appears if the size of the resource exceeds the limit defined by the server.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Resource Size Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "RESOURCE_SIZE_EXCEEDED",
                  "message" : "Attachment size is too large. The maximum size supported is 20 MB."
                }
              }
            }
          }
        }
      },
      "unSupportedMediaTypeErrorResponse" : {
        "description" : "This errorCode value appears if the server refuses the request as a result of receiving the input in an unsupported format.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unsupported Media Type Error Response" : {
                "value" : {
                  "errorCode" : "UNSUPPORTED_MEDIA_TYPE",
                  "message" : "The given content type is not supported. Please provide the input Content-Type as application/json"
                }
              }
            }
          }
        }
      },
      "unprocessableEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The value passed for the 'from' query parameter is invalid."
                }
              }
            }
          }
        }
      },
      "missingEntityErrorResponse" : {
        "description" : "This errorCode value appears if the input does not contain the mandatory parameters for successfully executing the API.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Unprocessable Entity Error Response" : {
                "value" : {
                  "errorCode" : "UNPROCESSABLE_ENTITY",
                  "message" : "The mandatory parameter 'permission' is missing"
                }
              }
            }
          }
        }
      },
      "thresholdExceedErrorResponse" : {
        "description" : "This errorCode value appears if the user sends too many requests within a given amount of time (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Threshold Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "THRESHOLD_EXCEEDED",
                  "message" : "The maximum number of API calls that can be made per day has been exceeded."
                }
              }
            }
          }
        }
      },
      "concurrentRateLimitExceededErrorResponse" : {
        "description" : "This errorCode value appears if the user fires too many requests in a simultaneous/concurrent manner (\"rate limiting\").",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Concurrent Rate Limit Exceeded Error Response" : {
                "value" : {
                  "errorCode" : "TOO_MANY_REQUESTS",
                  "message" : "The maximum number of Concurrent API Calls that can be made has been exceeded."
                }
              }
            }
          }
        }
      },
      "internalErrorResponse" : {
        "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Internal Server Error Response" : {
                "value" : {
                  "errorCode" : "INTERNAL_SERVER_ERROR",
                  "message" : "An internal server error occurred while performing this operation."
                }
              }
            }
          }
        }
      },
      "licenseErrorResponse" : {
        "description" : "This errorCode value appears if the user is unable to perform an action due to the limitations of the Zoho Desk edition in use\nThe possible values for the feature key are\n    *AGENTS*\n    *LIGHT_AGENTS*\n    *TEAM*\nThe possible values for the editionType key are\n    *FREE*\n    *PROFESSIONAL*\n    *ENTERPRISE*",
        "content" : {
          "application/json" : {
            "schema" : {
              "additionalProperties" : { },
              "allOf" : [ {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "message" : { },
                  "errorCode" : {
                    "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                  }
                }
              }, {
                "required" : [ "editionType", "feature", "isTrial", "maxAllowedEntity" ],
                "properties" : {
                  "maxAllowedEntity" : {
                    "pattern" : "([0-9]+)"
                  },
                  "feature" : {
                    "enum" : [ "AGENTS", "LIGHT_AGENTS", "TEAM" ]
                  },
                  "editionType" : {
                    "enum" : [ "ENTERPRISE", "PROFESSIONAL", "STANDARD", "EXPRESS", "FREE" ]
                  },
                  "isTrial" : { }
                }
              } ]
            },
            "examples" : {
              "LicenseAccessLimited Error Response" : {
                "value" : {
[...]
