{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Thread",
    "version" : "1.0.0",
    "x-clan-group" : "tickets",
    "x-module-group" : "tickets"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/tickets/{ticketId}/threads/{threadId}/cloneAttachments" : {
      "post" : {
        "tags" : [ "Thread" ],
        "summary" : "Clone attachments",
        "description" : "This API clones the files attached to a thread.",
        "operationId" : "cloneThreadAttachments",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64"
          }
        }, {
          "name" : "ticketId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "clonedAttachmentResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "href", "id", "name", "parentAttachmentId", "previewurl", "size" ],
                        "properties" : {
                          "previewurl" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "size" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "parentAttachmentId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "href" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "size" : "10247",
                        "name" : "sample_attachment_1.jpeg",
                        "parentAttachmentId" : "1000000211013",
                        "href" : "https://support.zoho.com/api/v1/uploads/1000000212005/content",
                        "id" : "1000000212005"
                      }, {
                        "size" : "11682",
                        "name" : "sample_attachment_2.png",
                        "parentAttachmentId" : "1000000211015",
                        "href" : "https://support.zoho.com/api/v1/uploads/1000000212007/content",
                        "id" : "1000000212007"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.CREATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "500205b3cca46b4f369a79c55f9cc3e1",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.NewConversationService.cloneAttachments"
        }
      }
    },
    "/api/v1/tickets/{ticketId}/threads/{threadId}/mailHeaders" : {
      "get" : {
        "tags" : [ "Thread" ],
        "summary" : "Get Mail Headers",
        "description" : "This API gets the headers of a specific mail thread (a conversation received via the Mail Channel) associated with a ticket. The headers include metadata such as Date, From, To, CC, Subject, Message-ID, and more. <br/><br/>_Note_:<br/> This API is only applicable to threads received via the Mail Channel and does not support other channels.",
        "operationId" : "getMailHeaders",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64"
          }
        }, {
          "name" : "ticketId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getMailHeadersResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "header", "value" ],
                        "properties" : {
                          "header" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "value" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "header" : "Received",
                        "value" : "from zylker.com.in\r\n\twith Thu, 20 Feb 2025 12:49:30 +0530 (IST)"
                      }, {
                        "header" : "Date",
                        "value" : "Thu, 20 Feb 2025 12:49:30 +0530 (IST)"
                      }, {
                        "header" : "From",
                        "value" : "zylker <abc@zylker.com>"
                      }, {
                        "header" : "Reply-To",
                        "value" : "support@gyhujikol.com"
                      }, {
                        "header" : "To",
                        "value" : "\"support\" support<@zylker.com>"
                      }, {
                        "header" : "Cc",
                        "value" : "<abc@zylker.com>"
                      }, {
                        "header" : "Message-Id",
                        "value" : "<17882df63bf.b181c6c3583.8110594270247400030@zylker.com>"
                      }, {
                        "header" : "In-Reply-To",
                        "value" : "<19487cad70b.110d5984c1121.3888424336739653360@zylker.com>"
                      }, {
                        "header" : "References",
                        "value" : "<19487cad70b.110d5984c1121.3888424336739653360@zylker.com>"
                      }, {
                        "header" : "Subject",
                        "value" : "Re:[## 103 ##] Hi, Need refund for my recent purchase"
                      }, {
                        "header" : "MIME-Version",
                        "value" : "1.0"
                      }, {
                        "header" : "Content-Type",
                        "value" : "multipart/alternative; \r\n\tboundary=\"----=_Part_3685_1377696227.1737445055469\""
                      }, {
                        "header" : "User-Agent",
                        "value" : "zylker"
                      }, {
                        "header" : "X-Mailer",
                        "value" : "zylker"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "8d0ce5761ef4ee107d3fd8ee53b59e66",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.NewConversationService.getMailHeaders"
        }
      }
    },
    "/api/v1/tickets/{ticketId}/draftReply/{threadId}" : {
      "patch" : {
        "tags" : [ "Thread" ],
        "summary" : "Update Draft",
        "description" : "This API updates a draft thread created via the @EMAIL@, @FACEBOOK@, or @FORUM@ channel.",
        "operationId" : "updateDrafts",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64"
          }
        }, {
          "name" : "ticketId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "discriminator" : {
                  "propertyName" : "channel",
                  "mapping" : {
                    "EMAIL" : "#/components/schemas/emailThreadSendReply",
                    "FACEBOOK" : "#/components/schemas/facebookSendReply",
                    "FORUMS" : "#/components/schemas/forumSendReply"
                  }
                },
                "oneOf" : [ {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "channel", "content" ],
                    "properties" : {
                      "channel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Channel through which the thread originated. Values supported are @FACEBOOK@, @TWITTER@, @EMAIL@ and @FORUMS@ .",
                        "enum" : [ "FACEBOOK", "TWITTER", "EMAIL", "FORUMS", "PHONE", "WEB", "FEEDBACK", "FEEDBACK_WIDGET", "TWITTER_DM", "ONLINE_CHAT", "OFFLINE_CHAT", "CUSTOMERPORTAL" ]
                      },
                      "content" : {
                        "maxLength" : 16000000,
                        "minLength" : 0,
                        "description" : "Content of the thread",
                        "x-custom-parameters-attributes" : {
                          "xss" : "antisamyfilter_withstyletag"
                        }
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "properties" : {
                      "ticketStatus" : {
                        "description" : "Status of the ticket. Includes the custom statuses configured in your help desk portal.",
                        "x-dynamic-enum" : true
                      },
                      "attachmentIds" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : [ { } ]
                        }
                      },
                      "to" : {
                        "maxLength" : 13000,
                        "minLength" : 0,
                        "pattern" : "(^((.*?)((<)*?[a-zA-Z0-9]([\\w\\-.+]*)@([\\w\\-.]*)(\\.[a-zA-Z]{2,22}(.[a-zA-Z]{2}){0,2})(>)*?(\\s)*((,|;)\\s*)?))+|^$)",
                        "description" : "To email ID in the thread, applicable only for @EMAIL@ channel"
                      },
                      "fromEmailAddress" : {
                        "maxLength" : 300,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                        "description" : "Mandatory parameter for creating an email thread. Applicable for @EMAIL@, @ONLINE_CHAT@, @OFFLINE_CHAT@, @CUSTOMERPORTAL@, and @FORUMS@ channels.",
                        "x-custom-parameters-attributes" : {
                          "entity" : "MailReplyAddress"
                        }
                      },
                      "contentType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Formatting type of the content. Applicable only for the @EMAIL@ channel. Values supported are @html@ and @plainText@ (default).",
                        "enum" : [ "html", "plainText", "text/html" ]
                      },
                      "isForward" : {
                        "description" : "Key that returns if the thread was sent as a forward. Applicable only for the @EMAIL@ channel."
                      }
                    }
                  }, { }, { }, {
                    "required" : [ "channel", "content", "fromEmailAddress" ]
                  } ]
                }, {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "channel", "content" ],
                    "properties" : {
                      "channel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Channel through which the thread originated. Values supported are @FACEBOOK@, @TWITTER@, @EMAIL@ and @FORUMS@ .",
                        "enum" : [ "FACEBOOK", "TWITTER", "EMAIL", "FORUMS", "PHONE", "WEB", "FEEDBACK", "FEEDBACK_WIDGET", "TWITTER_DM", "ONLINE_CHAT", "OFFLINE_CHAT", "CUSTOMERPORTAL" ]
                      },
                      "content" : {
                        "maxLength" : 16000000,
                        "minLength" : 0,
                        "description" : "Content of the thread",
                        "x-custom-parameters-attributes" : {
                          "xss" : "antisamyfilter_withstyletag"
                        }
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "properties" : {
                      "respondedIn" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Time taken by the agent to respond to the customer"
                      }
                    }
                  }, { }, { }, {
                    "required" : [ "channel", "content" ]
                  } ]
                }, {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "channel", "content" ],
                    "properties" : {
                      "channel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Channel through which the thread originated. Values supported are @FACEBOOK@, @TWITTER@, @EMAIL@ and @FORUMS@ .",
                        "enum" : [ "FACEBOOK", "TWITTER", "EMAIL", "FORUMS", "PHONE", "WEB", "FEEDBACK", "FEEDBACK_WIDGET", "TWITTER_DM", "ONLINE_CHAT", "OFFLINE_CHAT", "CUSTOMERPORTAL" ]
                      },
                      "content" : {
                        "maxLength" : 16000000,
                        "minLength" : 0,
                        "description" : "Content of the thread",
                        "x-custom-parameters-attributes" : {
                          "xss" : "antisamyfilter_withstyletag"
                        }
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "properties" : {
                      "respondedIn" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Time taken by the agent to respond to the customer"
                      }
                    }
                  }, { }, { }, {
                    "required" : [ "channel", "content" ]
                  } ]
                } ]
              }
            }
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "updateDrafts Response definition",
            "content" : {
              "application/json" : {
                "schema" : {
                  "discriminator" : {
                    "propertyName" : "channel",
                    "mapping" : {
                      "EMAIL" : "#/components/schemas/emailThreadResponseJson",
                      "FACEBOOK" : "#/components/schemas/faceBookThreadResponse",
                      "FORUMS" : "#/components/schemas/fourmsThreadResponse"
                    }
                  },
                  "oneOf" : [ {
                    "required" : [ "actions", "attachmentCount", "attachments", "author", "bcc", "canReply", "cc", "channel", "channelRelatedInfo", "content", "contentType", "createdTime", "direction", "fromEmailAddress", "fullContentURL", "hasAttach", "id", "impersonatedUser", "isContentTruncated", "isDescriptionThread", "isForward", "readReceipts", "replyTo", "responderId", "source", "status", "summary", "to", "visibility" ],
                    "properties" : {
                      "isDescriptionThread" : { },
                      "bcc" : {
                        "maxLength" : 13000,
                        "minLength" : 0,
                        "pattern" : "(^((.*?)((<)*?[a-zA-Z0-9]([\\w\\-.+]*)@([\\w\\-.]*)(\\.[a-zA-Z]{2,22}(.[a-zA-Z]{2}){0,2})(>)*?(\\s)*((,|;)\\s*)?))+|^$)"
                      },
                      "attachments" : {
                        "items" : {
                          "required" : [ "href", "id", "name", "previewurl", "size" ],
                          "properties" : {
                            "previewurl" : {
                              "maxLength" : 16000000,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "size" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "href" : {
                              "maxLength" : 500,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "isContentTruncated" : { },
                      "canReply" : { },
                      "channel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "EMAIL" ]
                      },
                      "source" : {
                        "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                        "properties" : {
                          "appName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "extId" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "permalink" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                          },
                          "appPhotoURL" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "content" : {
                        "maxLength" : 16000000,
                        "minLength" : 0
                      },
                      "impersonatedUser" : {
                        "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "channelRelatedInfo" : {
                        "required" : [ "externalLink", "isBestSolution", "isDeleted" ],
                        "properties" : {
                          "isDeleted" : { },
                          "isBestSolution" : { },
                          "externalLink" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "contentType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "text/plain", "text/html" ]
                      },
                      "direction" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "in", "out" ]
                      },
                      "cc" : {
                        "maxLength" : 13000,
                        "minLength" : 0,
                        "pattern" : "(^((.*?)((<)*?[a-zA-Z0-9]([\\w\\-.+]*)@([\\w\\-.]*)(\\.[a-zA-Z]{2,22}(.[a-zA-Z]{2}){0,2})(>)*?(\\s)*((,|;)\\s*)?))+|^$)"
                      },
                      "summary" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                      },
                      "visibility" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "public", "private" ]
                      },
                      "author" : {
                        "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "fullContentURL" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "isForward" : { },
                      "hasAttach" : { },
                      "responderId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "replyTo" : {
                        "maxLength" : 13000,
                        "minLength" : 0,
                        "pattern" : "(^((.*?)((<)*?[a-zA-Z0-9]([\\w\\-.+]*)@([\\w\\-.]*)(\\.[a-zA-Z]{2,22}(.[a-zA-Z]{2}){0,2})(>)*?(\\s)*((,|;)\\s*)?))+|^$)"
                      },
                      "attachmentCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "readReceipts" : {
                        "items" : {
                          "required" : [ "from", "recipientType", "senderName", "statusVsTime" ],
                          "properties" : {
                            "senderName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "recipientType" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "from" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "replacementString" : "",
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "allowInvalid" : false,
                                "descrption" : "The starting index for fetching conversation records",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "statusVsTime" : {
                              "items" : {
                                "required" : [ "Status", "Time" ],
                                "properties" : {
                                  "Status" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "Time" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "to" : {
                        "maxLength" : 13000,
                        "minLength" : 0,
                        "pattern" : "(^((.*?)((<)*?[a-zA-Z0-9]([\\w\\-.+]*)@([\\w\\-.]*)(\\.[a-zA-Z]{2,22}(.[a-zA-Z]{2}){0,2})(>)*?(\\s)*((,|;)\\s*)?))+|^$)"
                      },
                      "fromEmailAddress" : {
                        "maxLength" : 300,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                      },
                      "actions" : {
                        "items" : {
                          "required" : [ "href", "method", "rel" ],
                          "properties" : {
                            "method" : {
                              "maxLength" : 16000000,
                              "minLength" : 0
                            },
                            "rel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "send", "update", "delete" ]
                            },
                            "href" : {
                              "maxLength" : 16000000,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "SUCCESS", "PENDING", "FAILED", "DRAFT" ]
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "actions", "attachmentCount", "attachments", "author", "canReply", "channel", "channelRelatedInfo", "content", "contentType", "createdTime", "direction", "facebookProfile", "fullContentURL", "hasAttach", "id", "isContentTruncated", "isDescriptionThread", "readReceipts", "responderId", "source", "status", "summary", "visibility" ],
                    "properties" : {
                      "summary" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "Summary of the thread",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isDescriptionThread" : {
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : " Key that denotes if the thread is the description of the ticket",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "attachments" : {
                        "items" : {
                          "required" : [ "href", "id", "name", "previewurl", "size" ],
                          "properties" : {
                            "previewurl" : {
                              "maxLength" : 16000000,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "size" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "href" : {
                              "maxLength" : 500,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "isContentTruncated" : { },
                      "canReply" : {
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "Specifies whether replies can be added be added to this thread.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "visibility" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "public", "private" ]
                      },
                      "author" : {
                        "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "fullContentURL" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "channel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "FACEBOOK" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "Channel through which the thread originated. Values supported are @FACEBOOK@, @TWITTER@, @EMAIL@ and @FORUMS@ .",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "source" : {
                        "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                        "properties" : {
                          "appName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "extId" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "permalink" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                          },
                          "appPhotoURL" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "content" : {
                        "maxLength" : 16000000,
                        "minLength" : 0,
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "Content of the thread",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "xss" : "antisamyfilter_withstyletag",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "facebookProfile" : {
                        "maxLength" : 13000,
                        "minLength" : 0,
                        "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "Facebook profile of the contact.  This field is now @deprecated@",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : true,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "hasAttach" : {
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "States whether the thread has attachments",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "responderId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "channelRelatedInfo" : {
                        "required" : [ "externalLink", "isBestSolution", "isDeleted" ],
                        "properties" : {
                          "isDeleted" : { },
                          "isBestSolution" : { },
                          "externalLink" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "Time of creating the thread",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "attachmentCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "readReceipts" : {
                        "items" : {
                          "required" : [ "from", "recipientType", "senderName", "statusVsTime" ],
                          "properties" : {
                            "senderName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "recipientType" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "from" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "replacementString" : "",
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "allowInvalid" : false,
                                "descrption" : "The starting index for fetching conversation records",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "statusVsTime" : {
                              "items" : {
                                "required" : [ "Status", "Time" ],
                                "properties" : {
                                  "Status" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "Time" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "ID of the thread",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "actions" : {
                        "items" : {
                          "required" : [ "href", "method", "rel" ],
                          "properties" : {
                            "method" : {
                              "maxLength" : 16000000,
                              "minLength" : 0
                            },
                            "rel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "send", "update", "delete" ]
                            },
                            "href" : {
                              "maxLength" : 16000000,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "contentType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "text/plain", "text/html" ]
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "SUCCESS", "PENDING", "FAILED", "DRAFT" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "Status of the thread.Values supported are @SUCCESS@,@PENDING@,@FAILED@,@DRAFT@",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "direction" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "in", "out" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "Key that returns whether the thread is incoming or outgoing",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "actions", "attachmentCount", "attachments", "author", "canReply", "channel", "channelRelatedInfo", "content", "contentType", "createdTime", "direction", "fromEmailAddress", "fullContentURL", "hasAttach", "id", "isContentTruncated", "isDescriptionThread", "readReceipts", "responderId", "source", "status", "summary", "visibility" ],
                    "properties" : {
                      "summary" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "Summary of the thread",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "isDescriptionThread" : {
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : " Key that denotes if the thread is the description of the ticket",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "attachments" : {
                        "items" : {
                          "required" : [ "href", "id", "name", "previewurl", "size" ],
                          "properties" : {
                            "previewurl" : {
                              "maxLength" : 16000000,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "size" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "name" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "href" : {
                              "maxLength" : 500,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "isContentTruncated" : { },
                      "canReply" : {
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "Specifies whether replies can be added be added to this thread.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "visibility" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "public", "private" ]
                      },
                      "author" : {
                        "required" : [ "email", "firstName", "id", "lastName", "name", "photoURL", "type" ],
                        "properties" : {
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "END_USER", "AGENT", "TEAM", "TICKET", "ACTIVITY" ]
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "fullContentURL" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "channel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "FORUMS" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "Channel through which the thread originated. Values supported are @FACEBOOK@, @TWITTER@, @EMAIL@ and @FORUMS@ .",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "source" : {
                        "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                        "properties" : {
                          "appName" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "extId" : {
                            "maxLength" : 100,
                            "minLength" : 0
                          },
                          "permalink" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "type" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                          },
                          "appPhotoURL" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "content" : {
                        "maxLength" : 16000000,
                        "minLength" : 0,
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "Content of the thread",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "xss" : "antisamyfilter_withstyletag",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "hasAttach" : {
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "States whether the thread has attachments",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "responderId" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "channelRelatedInfo" : {
                        "required" : [ "externalLink", "isBestSolution", "isDeleted" ],
                        "properties" : {
                          "isDeleted" : { },
                          "isBestSolution" : { },
                          "externalLink" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "createdTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "Time of creating the thread",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "attachmentCount" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "readReceipts" : {
                        "items" : {
                          "required" : [ "from", "recipientType", "senderName", "statusVsTime" ],
                          "properties" : {
                            "senderName" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "recipientType" : {
                              "maxLength" : 100,
                              "minLength" : 0
                            },
                            "from" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "replacementString" : "",
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "allowInvalid" : false,
                                "descrption" : "The starting index for fetching conversation records",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "statusVsTime" : {
                              "items" : {
                                "required" : [ "Status", "Time" ],
                                "properties" : {
                                  "Status" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "Time" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  }
                                },
                                "additionalProperties" : false
                              }
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "ID of the thread",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "fromEmailAddress" : {
                        "maxLength" : 300,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "Mandatory parameter for creating an email thread. Applicable for @EMAIL@, @ONLINE_CHAT@, @OFFLINE_CHAT@, @CUSTOMERPORTAL@, and @FORUMS@ channels.",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false,
                          "entity" : "MailReplyAddress"
                        }
                      },
                      "actions" : {
                        "items" : {
                          "required" : [ "href", "method", "rel" ],
                          "properties" : {
                            "method" : {
                              "maxLength" : 16000000,
                              "minLength" : 0
                            },
                            "rel" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "send", "update", "delete" ]
                            },
                            "href" : {
                              "maxLength" : 16000000,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            }
                          },
                          "additionalProperties" : false
                        }
                      },
                      "contentType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "text/plain", "text/html" ]
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "SUCCESS", "PENDING", "FAILED", "DRAFT" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "Status of the thread.Values supported are @SUCCESS@,@PENDING@,@FAILED@,@DRAFT@",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "direction" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "in", "out" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "replacementString" : "",
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "allowInvalid" : false,
                          "descrption" : "Key that returns whether the thread is incoming or outgoing",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "mail",
          "apihash" : "bce34479ceeb6efeab92dffee987e40c",
          "module-group" : "mail",
          "apimethod" : "com.zoho.support.restapi.NewConversationService.updateDraft"
        }
      }
    },
    "/api/v1/tickets/{requestId}/threads/{threadId}/originalContent" : {
      "get" : {
        "tags" : [ "Thread" ],
        "summary" : "Get Original Mail Content",
        "description" : "This API get the orginal mail content including mail headers",
        "operationId" : "getOriginalMailContent",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64"
          }
        }, {
          "name" : "requestId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getOriginalMailContent template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "content", "date", "from", "messageId", "returnPath", "subject", "to" ],
                  "properties" : {
                    "date" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                    },
                    "returnPath" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                    },
                    "subject" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                    },
                    "messageId" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                    },
                    "from" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                    },
                    "to" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                    },
                    "content" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "(^([a-zA-Z0-9\\s\\.\\?\\_\\-\\,])*$|null|undefined)"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "date" : "Tue, 30 Mar 2021 16:53:12 +0530",
                      "returnPath" : "<abc@zylker.com>",
                      "subject" : "Testing Mail Service",
                      "messageId" : "<17882df63bf.b181c6c3583.8110594270247400030@zylker.com>",
                      "from" : "ReplyTo <abc@zylker.com>",
                      "to" : "\"support\" <support@zylker.com>",
                      "content" : "Delivered-To: support@zylker.com\nReturn-Path: <abc@zylker.com>\nDomainKey-Signature: a=rsa-sha1; q=dns; c=nofws; \n  s=zoho; d=zoho.com; \n  h=date:from:reply-to:to:message-id:subject:mime-version:content-type:user-agent; \n  b=E6QQb4TtZN7WU1zmeUJx3hjj9BL0l/m6NhQU/3Oi+YlvXXhxSL6BFK0+CsAqJ/BJY/Y9hmdGNOM2\n    I62RiQ5y8r9bUrVnGZH+Z9HvO3lPXZ4wM9kXypm9xmOo+gf0Dc2DxJKfPCvGrLT1QDzxeO+3tlPZ\n    Xeqt6AsiCjXsXLcNUwc=  \nReceived: from mail.zoho.com by zohomail.com.in\n\twith SMTP id 1617103392140118.88266397173629; Tue, 30 Mar 2021 16:53:12 +0530 (IST)\nDate: Tue, 30 Mar 2021 16:53:12 +0530\nFrom: ReplyTo <abc@zylker.com>\nReply-To: abc@zylker.com\nTo: \"support\" <support@zylker.com>\nMessage-Id: <17882df63bf.b181c6c3583.8110594270247400030@zylker.com>\nSubject: Testing Mail Service\nMIME-Version: 1.0\nContent-Type: multipart/alternative; \n\tboundary=\"----=_Part_1259_1074835283.1617103381439\"\nImportance: Medium\nUser-Agent: Zoho Mail\nX-Mailer: Zoho Mail\nX-ZohoMail-Owner: <17882df63bf.b181c6c3583.8110594270247400030@zylker.com>+zmo_0_abc@zylker.com\n\n------=_Part_1259_1074835283.1617103381439\nContent-Type: text/plain; charset=\"UTF-8\"\nContent-Transfer-Encoding: 7bit\n\nAldjfh Giri\n\n\n\n\n\nReplyTo\n------=_Part_1259_1074835283.1617103381439\nContent-Type: text/html; charset=\"UTF-8\"\nContent-Transfer-Encoding: 7bit\n\n<!DOCTYPE html PUBLIC \".//DTD HTML 4.01 Transitional//EN\"><html><head><meta content=\"text/html;charset=UTF-8\" http-equiv=\"Content-Type\" /></head><body><div style=\"font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt;\"><div><br /></div><div><br />Aldjfh Giri<br /></div><div id=\"\"><div><br /></div><div><br /></div><div>ReplyTo<br /></div><div><br /></div></div></div><br /></body></html>\n------=_Part_1259_1074835283.1617103381439--\n\n"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "7d38c93fb533d7f3df4a8b3cca0545d2",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.NewConversationService.getOrginalMailContent"
        }
      }
    },
    "/api/v1/tickets/{ticketId}/sendReply" : {
      "post" : {
        "tags" : [ "Thread" ],
        "summary" : "Send Email Reply",
        "description" : "This API sends an email reply. The from address in the email must be a from address configured in your help desk portal.",
        "operationId" : "sendReply",
        "parameters" : [ {
          "name" : "ticketId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "",
            "format" : "int64"
          }
        }, {
          "name" : "parentConversationId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "impersonatedUserId",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "discriminator" : {
                  "propertyName" : "channel",
                  "mapping" : {
                    "EMAIL" : "#/components/schemas/emailThreadSendReply",
                    "FACEBOOK" : "#/components/schemas/facebookSendReply",
                    "TWITTER" : "#/components/schemas/twitterSendReply",
                    "FORUMS" : "#/components/schemas/forumSendReply"
                  }
                },
                "oneOf" : [ {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "channel", "content" ],
                    "properties" : {
                      "channel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Channel through which the thread originated. Values supported are @FACEBOOK@, @TWITTER@, @EMAIL@ and @FORUMS@ .",
                        "enum" : [ "FACEBOOK", "TWITTER", "EMAIL", "FORUMS", "PHONE", "WEB", "FEEDBACK", "FEEDBACK_WIDGET", "TWITTER_DM", "ONLINE_CHAT", "OFFLINE_CHAT", "CUSTOMERPORTAL" ]
                      },
                      "content" : {
                        "maxLength" : 16000000,
                        "minLength" : 0,
                        "description" : "Content of the thread",
                        "x-custom-parameters-attributes" : {
                          "xss" : "antisamyfilter_withstyletag"
                        }
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "properties" : {
                      "ticketStatus" : {
                        "description" : "Status of the ticket. Includes the custom statuses configured in your help desk portal.",
                        "x-dynamic-enum" : true
                      },
                      "attachmentIds" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64",
                          "x-custom-parameters-attributes" : [ { } ]
                        }
                      },
                      "to" : {
                        "maxLength" : 13000,
                        "minLength" : 0,
                        "pattern" : "(^((.*?)((<)*?[a-zA-Z0-9]([\\w\\-.+]*)@([\\w\\-.]*)(\\.[a-zA-Z]{2,22}(.[a-zA-Z]{2}){0,2})(>)*?(\\s)*((,|;)\\s*)?))+|^$)",
                        "description" : "To email ID in the thread, applicable only for @EMAIL@ channel"
                      },
                      "fromEmailAddress" : {
                        "maxLength" : 300,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                        "description" : "Mandatory parameter for creating an email thread. Applicable for @EMAIL@, @ONLINE_CHAT@, @OFFLINE_CHAT@, @CUSTOMERPORTAL@, and @FORUMS@ channels.",
                        "x-custom-parameters-attributes" : {
                          "entity" : "MailReplyAddress"
                        }
                      },
                      "contentType" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Formatting type of the content. Applicable only for the @EMAIL@ channel. Values supported are @html@ and @plainText@ (default).",
                        "enum" : [ "html", "plainText", "text/html" ]
                      },
                      "isForward" : {
                        "description" : "Key that returns if the thread was sent as a forward. Applicable only for the @EMAIL@ channel."
                      }
                    }
                  }, { }, { }, {
                    "required" : [ "channel", "content", "fromEmailAddress" ]
                  } ]
                }, {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "channel", "content" ],
                    "properties" : {
                      "channel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Channel through which the thread originated. Values supported are @FACEBOOK@, @TWITTER@, @EMAIL@ and @FORUMS@ .",
                        "enum" : [ "FACEBOOK", "TWITTER", "EMAIL", "FORUMS", "PHONE", "WEB", "FEEDBACK", "FEEDBACK_WIDGET", "TWITTER_DM", "ONLINE_CHAT", "OFFLINE_CHAT", "CUSTOMERPORTAL" ]
                      },
                      "content" : {
                        "maxLength" : 16000000,
                        "minLength" : 0,
                        "description" : "Content of the thread",
                        "x-custom-parameters-attributes" : {
                          "xss" : "antisamyfilter_withstyletag"
                        }
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "properties" : {
                      "respondedIn" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Time taken by the agent to respond to the customer"
                      }
                    }
                  }, { }, { }, {
                    "required" : [ "channel", "content" ]
                  } ]
                }, {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "channel", "content" ],
                    "properties" : {
                      "channel" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Channel through which the thread originated. Values supported are @FACEBOOK@, @TWITTER@, @EMAIL@ and @FORUMS@ .",
                        "enum" : [ "FACEBOOK", "TWITTER", "EMAIL", "FORUMS", "PHONE", "WEB", "FEEDBACK", "FEEDBACK_WIDGET", "TWITTER_DM", "ONLINE_CHAT", "OFFLINE_CHAT", "CUSTOMERPORTAL" ]
                      },
                      "content" : {
                        "maxLength" : 16000000,
                        "minLength" : 0,
                        "description" : "Content of the thread",
                        "x-custom-parameters-attributes" : {
                          "xss" : "antisamyfilter_withstyletag"
                        }
                      }
                    },
                    "additionalProperties" : false
                  }, {
                    "properties" : {
                      "respondedIn" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "description" : "Time taken by the agent to respond to the customer"
                      }
                    }
                  }, {
                    "required" : [ "channel", "content" ]
                  } ]
                }, {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "channel", "content" ],
                    "properties" : {
                      "channel" : {
[...]
