{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "TicketTimer",
    "version" : "1.0.0",
    "x-clan-group" : "secModule",
    "x-module-group" : "timeEntry"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/allActiveTimers" : {
      "get" : {
        "tags" : [ "TicketTimer" ],
        "summary" : "List active timers",
        "description" : "This API lists a particular number of currently active timers in a department, based on the limit specified. ",
        "operationId" : "getActiveTimers",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department from which the timers must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the timers must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "entity" : "Departments"
            }
          }
        }, {
          "name" : "module",
          "in" : "query",
          "description" : "Zoho Desk modules from which the timers must be fetched. Values allowed are: Tickets, Tasks, Events, and Calls. You can pass multiple values by separating them using commas. If you do not pass a value, all modules are considered.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Zoho Desk modules from which the timers must be fetched. Values allowed are: Tickets, Tasks, Events, and Calls. You can pass multiple values by separating them using commas. If you do not pass a value, all modules are considered.",
            "enum" : [ "Tickets", "Tasks" ]
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of timers to list",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number of timers to list",
            "format" : "int32"
          }
        }, {
          "name" : "startTime",
          "in" : "query",
          "description" : "Point of time before or after which the timers were started. This parameter works in conjunction with the sortBy parameter. If the value of sortBy is startTime, the timers are listed in ascending order. If the value of sortBy is -startTime, they are listed in descending order. (Note: With startTime in play, the time value associated with the last timer in an API response is considered as the value from which the next set of timers must be fetched in the subsequent response.)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Point of time before or after which the timers were started. This parameter works in conjunction with the sortBy parameter. If the value of sortBy is startTime, the timers are listed in ascending order. If the value of sortBy is -startTime, they are listed in descending order. (Note: With startTime in play, the time value associated with the last timer in an API response is considered as the value from which the next set of timers must be fetched in the subsequent response.)",
            "format" : "int64"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Key that sorts the timers from oldest to latest (ascending order) or latest to oldest (descending order). Values allowed are: startTime (ascending order) and -startTime (descending order, which is the default sorting order). ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "(-?(startTime))",
            "description" : "Key that sorts the timers from oldest to latest (ascending order) or latest to oldest (descending order). Values allowed are: startTime (ascending order) and -startTime (descending order, which is the default sorting order). "
          }
        }, {
          "name" : "owners",
          "in" : "query",
          "description" : " Key that filters timers by Owner. Values allowed are any valid Owner ID or multiple Owner IDs separated by commas.",
          "required" : false,
          "style" : "simple",
          "explode" : true,
          "schema" : {
            "uniqueItems" : false,
            "description" : " Key that filters timers by Owner. Values allowed are any valid Owner ID or multiple Owner IDs separated by commas.",
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getActiveTimers template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "oneOf" : [ {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "required" : [ "entity", "owner", "startTime", "timer" ],
                            "properties" : {
                              "owner" : {
                                "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                                "properties" : {
                                  "photoURL" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  },
                                  "firstName" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "lastName" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "name" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "timer" : {
                                "required" : [ "hours", "minutes", "seconds", "state" ],
                                "properties" : {
                                  "hours" : {
                                    "maxProperties" : 3,
                                    "minProperties" : 3,
                                    "required" : [ "hours", "minutes", "seconds" ],
                                    "properties" : {
                                      "hours" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "seconds" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "minutes" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "seconds" : {
                                    "maxProperties" : 3,
                                    "minProperties" : 3,
                                    "required" : [ "hours", "minutes", "seconds" ],
                                    "properties" : {
                                      "hours" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "seconds" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "minutes" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "minutes" : {
                                    "maxProperties" : 3,
                                    "minProperties" : 3,
                                    "required" : [ "hours", "minutes", "seconds" ],
                                    "properties" : {
                                      "hours" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "seconds" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "minutes" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "state" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "RUNNING", "PAUSED", "INIT" ]
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "startTime" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Point of time before or after which the timers were started. This parameter works in conjunction with the sortBy parameter. If the value of sortBy is startTime, the timers are listed in ascending order. If the value of sortBy is -startTime, they are listed in descending order. (Note: With startTime in play, the time value associated with the last timer in an API response is considered as the value from which the next set of timers must be fetched in the subsequent response.)",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "entity" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "Tickets", "Tasks" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "ticket" ],
                            "properties" : {
                              "ticket" : {
                                "additionalProperties" : false,
                                "allOf" : [ {
                                  "required" : [ "depId", "depName", "id", "status", "subject", "ticketNumber" ],
                                  "properties" : {
                                    "ticketNumber" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "subject" : {
                                      "maxLength" : 1000,
                                      "minLength" : 0
                                    },
                                    "depId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "ID of the department from which the timers must be fetched",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false,
                                        "entity" : "Departments"
                                      }
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "depName" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "status" : {
                                      "x-dynamic-enum" : true
                                    }
                                  },
                                  "additionalProperties" : false
                                }, {
                                  "required" : [ "dueDate" ],
                                  "properties" : {
                                    "dueDate" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                    }
                                  }
                                } ]
                              }
                            }
                          } ]
                        }, {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "required" : [ "entity", "owner", "startTime", "timer" ],
                            "properties" : {
                              "owner" : {
                                "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                                "properties" : {
                                  "photoURL" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  },
                                  "firstName" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "lastName" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "name" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "timer" : {
                                "required" : [ "hours", "minutes", "seconds", "state" ],
                                "properties" : {
                                  "hours" : {
                                    "maxProperties" : 3,
                                    "minProperties" : 3,
                                    "required" : [ "hours", "minutes", "seconds" ],
                                    "properties" : {
                                      "hours" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "seconds" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "minutes" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "seconds" : {
                                    "maxProperties" : 3,
                                    "minProperties" : 3,
                                    "required" : [ "hours", "minutes", "seconds" ],
                                    "properties" : {
                                      "hours" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "seconds" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "minutes" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "minutes" : {
                                    "maxProperties" : 3,
                                    "minProperties" : 3,
                                    "required" : [ "hours", "minutes", "seconds" ],
                                    "properties" : {
                                      "hours" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "seconds" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "minutes" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "state" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "RUNNING", "PAUSED", "INIT" ]
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "startTime" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Point of time before or after which the timers were started. This parameter works in conjunction with the sortBy parameter. If the value of sortBy is startTime, the timers are listed in ascending order. If the value of sortBy is -startTime, they are listed in descending order. (Note: With startTime in play, the time value associated with the last timer in an API response is considered as the value from which the next set of timers must be fetched in the subsequent response.)",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "entity" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "Tickets", "Tasks" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "task" ],
                            "properties" : {
                              "task" : {
                                "additionalProperties" : false,
                                "allOf" : [ {
                                  "required" : [ "depId", "depName", "id", "status", "subject" ],
                                  "properties" : {
                                    "subject" : {
                                      "maxLength" : 300,
                                      "minLength" : 0
                                    },
                                    "depId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "ID of the department from which the timers must be fetched",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false,
                                        "entity" : "Departments"
                                      }
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "depName" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "status" : {
                                      "x-dynamic-enum" : true
                                    }
                                  },
                                  "additionalProperties" : false
                                }, {
                                  "required" : [ "dueDate" ],
                                  "properties" : {
                                    "dueDate" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                    }
                                  }
                                } ]
                              }
                            }
                          } ]
                        }, {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "required" : [ "entity", "owner", "startTime", "timer" ],
                            "properties" : {
                              "owner" : {
                                "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                                "properties" : {
                                  "photoURL" : {
                                    "maxLength" : 200,
                                    "minLength" : 0,
                                    "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                  },
                                  "firstName" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "lastName" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "name" : {
                                    "maxLength" : 50,
                                    "minLength" : 0
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "timer" : {
                                "required" : [ "hours", "minutes", "seconds", "state" ],
                                "properties" : {
                                  "hours" : {
                                    "maxProperties" : 3,
                                    "minProperties" : 3,
                                    "required" : [ "hours", "minutes", "seconds" ],
                                    "properties" : {
                                      "hours" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "seconds" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "minutes" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "seconds" : {
                                    "maxProperties" : 3,
                                    "minProperties" : 3,
                                    "required" : [ "hours", "minutes", "seconds" ],
                                    "properties" : {
                                      "hours" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "seconds" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "minutes" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "minutes" : {
                                    "maxProperties" : 3,
                                    "minProperties" : 3,
                                    "required" : [ "hours", "minutes", "seconds" ],
                                    "properties" : {
                                      "hours" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "seconds" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      },
                                      "minutes" : {
                                        "maxLength" : 100,
                                        "minLength" : 0
                                      }
                                    },
                                    "additionalProperties" : false
                                  },
                                  "state" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "RUNNING", "PAUSED", "INIT" ]
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "startTime" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64",
                                "x-custom-parameters-attributes" : {
                                  "removeExif" : false,
                                  "filterMatchedContent" : false,
                                  "antivirus" : false,
                                  "replacementString" : "",
                                  "allowInvalid" : false,
                                  "descrption" : "Point of time before or after which the timers were started. This parameter works in conjunction with the sortBy parameter. If the value of sortBy is startTime, the timers are listed in ascending order. If the value of sortBy is -startTime, they are listed in descending order. (Note: With startTime in play, the time value associated with the last timer in an API response is considered as the value from which the next set of timers must be fetched in the subsequent response.)",
                                  "secret" : false,
                                  "preserveCharsLimit" : 10,
                                  "trim" : false,
                                  "internalParam" : false,
                                  "preserveChars" : "0,5",
                                  "importUrl" : false,
                                  "decrypt" : false
                                }
                              },
                              "entity" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "Tickets", "Tasks" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "task", "ticket" ],
                            "properties" : {
                              "task" : {
                                "additionalProperties" : false,
                                "allOf" : [ {
                                  "required" : [ "depId", "depName", "id", "status", "subject" ],
                                  "properties" : {
                                    "subject" : {
                                      "maxLength" : 300,
                                      "minLength" : 0
                                    },
                                    "depId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "ID of the department from which the timers must be fetched",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false,
                                        "entity" : "Departments"
                                      }
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "depName" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "status" : {
                                      "x-dynamic-enum" : true
                                    }
                                  },
                                  "additionalProperties" : false
                                }, {
                                  "required" : [ "dueDate" ],
                                  "properties" : {
                                    "dueDate" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                    }
                                  }
                                } ]
                              },
                              "ticket" : {
                                "additionalProperties" : false,
                                "allOf" : [ {
                                  "required" : [ "depId", "depName", "id", "status", "subject", "ticketNumber" ],
                                  "properties" : {
                                    "ticketNumber" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "subject" : {
                                      "maxLength" : 1000,
                                      "minLength" : 0
                                    },
                                    "depId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "ID of the department from which the timers must be fetched",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false,
                                        "entity" : "Departments"
                                      }
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "depName" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "status" : {
                                      "x-dynamic-enum" : true
                                    }
                                  },
                                  "additionalProperties" : false
                                }, {
                                  "required" : [ "dueDate" ],
                                  "properties" : {
                                    "dueDate" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                    }
                                  }
                                } ]
                              }
                            }
                          } ]
                        } ]
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "owner" : {
                          "firstName" : "George",
                          "lastName" : "McKinson",
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/75485000000418459/photo?orgId=60708463",
                          "name" : "McKinson George",
                          "id" : "75485000000418459"
                        },
                        "timer" : {
                          "hours" : "137",
                          "seconds" : "38",
                          "minutes" : "17",
                          "state" : "RUNNING"
                        },
                        "ticket" : {
                          "ticketNumber" : "401",
                          "subject" : "Ticket for timer by another agent",
                          "dueDate" : null,
                          "depId" : "75485000000569047",
                          "id" : "75485000001513021",
                          "depName" : "TestDept",
                          "status" : "Open"
                        },
                        "startTime" : "1626290803841",
                        "entity" : "Tickets"
                      }, {
                        "owner" : {
                          "firstName" : "Lucas",
                          "lastName" : "Carol",
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/75485000000182033/photo?orgId=60708463",
                          "name" : "Carol Lucas",
                          "id" : "75485000000182033"
                        },
                        "timer" : {
                          "hours" : "192",
                          "seconds" : "23",
                          "minutes" : "38",
                          "state" : "RUNNING"
                        },
                        "ticket" : {
                          "ticketNumber" : "673",
                          "subject" : "Ticket for timer",
                          "dueDate" : null,
                          "depId" : "75485000000569047",
                          "id" : "75485000002473027",
                          "depName" : "TestDept",
                          "status" : "Open"
                        },
                        "startTime" : "1626150959474",
                        "entity" : "Tickets"
                      }, {
                        "owner" : {
                          "firstName" : "Lucas",
                          "lastName" : "Carol",
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/75485000000182033/photo?orgId=60708463",
                          "name" : "Carol Lucas",
                          "id" : "75485000000182033"
                        },
                        "timer" : {
                          "hours" : "216",
                          "seconds" : "10",
                          "minutes" : "47",
                          "state" : "RUNNING"
                        },
                        "task" : {
                          "subject" : "Task with ticket for timer",
                          "dueDate" : 1626244200000,
                          "depId" : "75485000000569047",
                          "id" : "75485000002466025",
                          "depName" : "TestDept",
                          "status" : "Not Started"
                        },
                        "ticket" : {
                          "ticketNumber" : "672",
                          "subject" : "checking active timer",
                          "dueDate" : 1626244200000,
                          "depId" : "75485000000569047",
                          "id" : "75485000002459023",
                          "depName" : "TestDept",
                          "status" : "Open"
                        },
                        "startTime" : "1626064031778",
                        "entity" : "Tasks"
                      }, {
                        "owner" : {
                          "firstName" : "Lucas",
                          "lastName" : "Carol",
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/75485000000182033/photo?orgId=60708463",
                          "name" : "Carol Lucas",
                          "id" : "75485000000182033"
                        },
                        "timer" : {
                          "hours" : "226",
                          "seconds" : "21",
                          "minutes" : "21",
                          "state" : "RUNNING"
                        },
                        "startTime" : "1626029581045",
                        "event" : {
                          "subject" : "Event without ticket ",
                          "dueDate" : null,
                          "depId" : "75485000000569047",
                          "id" : "75485000002463059",
                          "depName" : "TestDept",
                          "status" : "Not Started"
                        },
                        "entity" : "Events"
                      }, {
                        "owner" : {
                          "firstName" : "Lucas",
                          "lastName" : "Carol",
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/75485000000182033/photo?orgId=60708463",
                          "name" : "Carol Lucas",
                          "id" : "75485000000182033"
                        },
                        "timer" : {
                          "hours" : "274",
                          "seconds" : "42",
                          "minutes" : "26",
                          "state" : "RUNNING"
                        },
                        "task" : {
                          "subject" : "Task without ticket",
                          "dueDate" : null,
                          "depId" : "75485000000569047",
                          "id" : "75485000000572019",
                          "depName" : "TestDept",
                          "status" : "Not Started"
                        },
                        "startTime" : "1625856459759",
                        "entity" : "Tasks"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ", "Desk.activities.tasks.READ", "Desk.activities.calls.READ", "Desk.activities.events.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "6f8d71be8c6d482d55d891e2f40cf6db",
          "module-group" : "timeEntry",
          "apimethod" : "com.zoho.support.timer.TimerService.getActiveTimers"
        }
      }
    },
    "/api/v1/tickets/{caseId}/timer" : {
      "get" : {
        "tags" : [ "TicketTimer" ],
        "summary" : "Get Ticket Timer",
        "description" : "This API fetches the time elapsed in the ticket timer, along with the current state",
        "operationId" : "getTicketTimer",
        "parameters" : [ {
          "name" : "caseId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "ticketTimerJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "hours", "minutes", "seconds", "state" ],
                  "properties" : {
                    "hours" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "seconds" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "minutes" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "state" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "RUNNING", "PAUSED", "INIT" ]
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "hours" : 0,
                      "seconds" : 26,
                      "minutes" : 5,
                      "state" : "RUNNING"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "ce9f54cd268b31cfae9091f81107dc92",
          "module-group" : "timeEntry",
          "apimethod" : "com.zoho.support.timer.TimerService.getTimerForTickets"
        }
      },
      "post" : {
        "tags" : [ "TicketTimer" ],
        "summary" : "Performs Ticket Timer actions",
        "description" : "This API performs timer-related actions, such as START, STOP, PAUSE and RESUME ",
        "operationId" : "updateTicketTimerState",
        "parameters" : [ {
          "name" : "action",
          "in" : "query",
          "description" : " Action of the timer.Supported actions are  @START@, @STOP@, @PAUSE@ and @RESUME@",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : " Action of the timer.Supported actions are  @START@, @STOP@, @PAUSE@ and @RESUME@",
            "enum" : [ "START" ]
          }
        }, {
          "name" : "caseId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "ticketTimerJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "hours", "minutes", "seconds", "state" ],
                  "properties" : {
                    "hours" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "seconds" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "minutes" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int32"
                    },
                    "state" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "RUNNING", "PAUSED", "INIT" ]
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "hours" : 0,
                      "seconds" : 26,
                      "minutes" : 5,
                      "state" : "RUNNING"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Lenient_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "50c6b38aa31c11fd45eddd88f76e02ff",
          "module-group" : "timeEntry",
          "apimethod" : "com.zoho.support.timer.TimerService.saveTimerForTickets"
        }
      }
    },
    "/api/v1/myActiveTimers" : {
      "get" : {
        "tags" : [ "TicketTimer" ],
        "summary" : "Get Active Timer for an Agent",
        "description" : "This API fetches currently running timer details for an agent",
        "operationId" : "getMyActiveTimers",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department from which the timers must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the timers must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "entity" : "Departments"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of timers to list",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number of timers to list",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "from",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "from",
            "format" : "int32"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "getActiveTimerForEntity template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "owner" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : { }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "oneOf" : [ {
                            "required" : [ "entity", "task", "ticket", "timer" ],
                            "properties" : {
                              "timer" : {
                                "required" : [ "hours", "minutes", "seconds", "state" ],
                                "properties" : {
                                  "hours" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "seconds" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "minutes" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "state" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "RUNNING", "PAUSED", "INIT" ]
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "task" : {
                                "required" : [ "depId", "depName", "id", "status", "subject" ],
                                "properties" : {
                                  "subject" : {
                                    "maxLength" : 300,
                                    "minLength" : 0
                                  },
                                  "depId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64",
                                    "x-custom-parameters-attributes" : {
                                      "removeExif" : false,
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "replacementString" : "",
                                      "allowInvalid" : false,
                                      "descrption" : "ID of the department from which the timers must be fetched",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "0,5",
                                      "importUrl" : false,
                                      "decrypt" : false,
                                      "entity" : "Departments"
                                    }
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "depName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "status" : {
                                    "x-dynamic-enum" : true
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "ticket" : {
                                "required" : [ "depId", "depName", "id", "status", "subject", "ticketNumber" ],
                                "properties" : {
                                  "ticketNumber" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "subject" : {
                                    "maxLength" : 1000,
                                    "minLength" : 0
                                  },
                                  "depId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64",
                                    "x-custom-parameters-attributes" : {
                                      "removeExif" : false,
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "replacementString" : "",
                                      "allowInvalid" : false,
                                      "descrption" : "ID of the department from which the timers must be fetched",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "0,5",
                                      "importUrl" : false,
                                      "decrypt" : false,
                                      "entity" : "Departments"
                                    }
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "depName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "status" : {
                                    "x-dynamic-enum" : true
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "entity" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "Tickets", "Tasks" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "entity", "task", "timer" ],
                            "properties" : {
                              "timer" : {
                                "required" : [ "hours", "minutes", "seconds", "state" ],
                                "properties" : {
                                  "hours" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "seconds" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "minutes" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "state" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "RUNNING", "PAUSED", "INIT" ]
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "task" : {
                                "required" : [ "depId", "depName", "id", "status", "subject" ],
                                "properties" : {
                                  "subject" : {
                                    "maxLength" : 300,
                                    "minLength" : 0
                                  },
                                  "depId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64",
                                    "x-custom-parameters-attributes" : {
                                      "removeExif" : false,
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "replacementString" : "",
                                      "allowInvalid" : false,
                                      "descrption" : "ID of the department from which the timers must be fetched",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "trim" : false,
                                      "internalParam" : false,
                                      "preserveChars" : "0,5",
                                      "importUrl" : false,
                                      "decrypt" : false,
                                      "entity" : "Departments"
                                    }
                                  },
                                  "id" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64"
                                  },
                                  "depName" : {
                                    "maxLength" : 100,
                                    "minLength" : 0
                                  },
                                  "status" : {
                                    "x-dynamic-enum" : true
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "entity" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "Tickets", "Tasks" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "entity", "task", "ticket", "timer" ],
                            "properties" : {
                              "timer" : {
                                "required" : [ "hours", "minutes", "seconds", "state" ],
                                "properties" : {
                                  "hours" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "seconds" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "minutes" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "state" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "RUNNING", "PAUSED", "INIT" ]
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "task" : {
                                "additionalProperties" : false,
                                "allOf" : [ {
                                  "required" : [ "depId", "depName", "id", "status", "subject" ],
                                  "properties" : {
                                    "subject" : {
                                      "maxLength" : 300,
                                      "minLength" : 0
                                    },
                                    "depId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "ID of the department from which the timers must be fetched",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false,
                                        "entity" : "Departments"
                                      }
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "depName" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "status" : {
                                      "x-dynamic-enum" : true
                                    }
                                  },
                                  "additionalProperties" : false
                                }, {
                                  "required" : [ "dueDate" ],
                                  "properties" : {
                                    "dueDate" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                    }
                                  }
                                } ]
                              },
                              "ticket" : {
                                "additionalProperties" : false,
                                "allOf" : [ {
                                  "required" : [ "depId", "depName", "id", "status", "subject", "ticketNumber" ],
                                  "properties" : {
                                    "ticketNumber" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int32"
                                    },
                                    "subject" : {
                                      "maxLength" : 1000,
                                      "minLength" : 0
                                    },
                                    "depId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "ID of the department from which the timers must be fetched",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false,
                                        "entity" : "Departments"
                                      }
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "depName" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "status" : {
                                      "x-dynamic-enum" : true
                                    }
                                  },
                                  "additionalProperties" : false
                                }, {
                                  "required" : [ "dueDate" ],
                                  "properties" : {
                                    "dueDate" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                    }
                                  }
                                } ]
                              },
                              "entity" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "Tickets", "Tasks" ]
                              }
                            },
                            "additionalProperties" : false
                          }, {
                            "required" : [ "entity", "task", "timer" ],
                            "properties" : {
                              "timer" : {
                                "required" : [ "hours", "minutes", "seconds", "state" ],
                                "properties" : {
                                  "hours" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "seconds" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "minutes" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "state" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "RUNNING", "PAUSED", "INIT" ]
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "task" : {
                                "additionalProperties" : false,
                                "allOf" : [ {
                                  "required" : [ "depId", "depName", "id", "status", "subject" ],
                                  "properties" : {
                                    "subject" : {
                                      "maxLength" : 300,
                                      "minLength" : 0
                                    },
                                    "depId" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64",
                                      "x-custom-parameters-attributes" : {
                                        "removeExif" : false,
                                        "filterMatchedContent" : false,
                                        "antivirus" : false,
                                        "replacementString" : "",
                                        "allowInvalid" : false,
                                        "descrption" : "ID of the department from which the timers must be fetched",
                                        "secret" : false,
                                        "preserveCharsLimit" : 10,
                                        "trim" : false,
                                        "internalParam" : false,
                                        "preserveChars" : "0,5",
                                        "importUrl" : false,
                                        "decrypt" : false,
                                        "entity" : "Departments"
                                      }
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    },
                                    "depName" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "status" : {
                                      "x-dynamic-enum" : true
                                    }
                                  },
                                  "additionalProperties" : false
                                }, {
                                  "required" : [ "dueDate" ],
                                  "properties" : {
                                    "dueDate" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                    }
                                  }
                                } ]
                              },
                              "entity" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "enum" : [ "Tickets", "Tasks" ]
                              }
                            },
                            "additionalProperties" : false
                          } ]
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "owner" : {
                          "firstName" : "Sam",
                          "lastName" : "Jones",
                          "photoURL" : "https://contacts.zoho.com/file?t=user&fs=thumb&ID=56934690&nps=404&exp=20",
                          "name" : "Sam Jones",
                          "id" : "7000000020001"
                        },
                        "timer" : {
                          "hours" : 93,
                          "seconds" : 9,
                          "minutes" : 6,
                          "state" : "Running"
                        },
                        "userId" : "7000000020001"
                      }, {
                        "owner" : {
                          "firstName" : "Robert",
                          "lastName" : "Downey",
                          "photoURL" : "https://contacts.zoho.com/file?t=user&fs=thumb&ID=56934690&nps=404&exp=20",
                          "name" : "Robert Downey",
                          "id" : "7000000030001"
                        },
                        "timer" : {
                          "hours" : 19,
                          "seconds" : 24,
                          "minutes" : 9,
                          "state" : "Paused"
                        },
                        "userId" : "7000000030001"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 40,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "secModule",
          "apihash" : "4ed41fb506bfddf56e4927424c5fe503",
          "module-group" : "timeEntry",
          "apimethod" : "com.zoho.support.timer.TimerService.getActiveTimerForAgents"
        }
      }
    },
    "/api/v1/tickets/{entityId}/activeTimer" : {
      "get" : {
        "tags" : [ "TicketTimer" ],
        "summary" : "List ticket timers",
        "description" : "This API fetches the details of timers currently active in a ticket.",
        "operationId" : "getActiveTimersForTicket",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Secondary information related to the timers. Value supported is @owner@.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Secondary information related to the timers. Value supported is @owner@.",
            "enum" : [ "owner" ],
            "x-custom-parameters-attributes" : {
              "entity" : "Include"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of timers to list",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number of timers to list",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "from",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "from",
            "format" : "int32"
          }
        }, {
          "name" : "entityId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "getActiveTimerForEntity template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "owner" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "firstName", "id", "lastName", "name", "photoURL" ],
                              "properties" : {
                                "photoURL" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : false
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "oneOf" : [ {
                            "required" : [ "entity", "task", "ticket", "timer" ],
                            "properties" : {
                              "timer" : {
                                "required" : [ "hours", "minutes", "seconds", "state" ],
                                "properties" : {
                                  "hours" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "seconds" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "minutes" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int32"
                                  },
                                  "state" : {
                                    "maxLength" : 100,
                                    "minLength" : 0,
                                    "enum" : [ "RUNNING", "PAUSED", "INIT" ]
                                  }
                                },
                                "additionalProperties" : false
                              },
                              "task" : {
                                "required" : [ "depId", "depName", "id", "status", "subject" ],
                                "properties" : {
                                  "subject" : {
                                    "maxLength" : 300,
                                    "minLength" : 0
                                  },
                                  "depId" : {
                                    "pattern" : "([0-9]+)",
                                    "format" : "int64",
                                    "x-custom-parameters-attributes" : {
                                      "removeExif" : false,
                                      "filterMatchedContent" : false,
                                      "antivirus" : false,
                                      "replacementString" : "",
                                      "allowInvalid" : false,
                                      "descrption" : "ID of the department from which the timers must be fetched",
                                      "secret" : false,
                                      "preserveCharsLimit" : 10,
                                      "trim" : false,
                                      "internalParam" : false,
[...]
