{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "TicketTemplate",
    "version" : "1.0.0",
    "x-clan-group" : "tickets",
    "x-module-group" : "tickets"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/ticketTemplates/deleteMany" : {
      "post" : {
        "tags" : [ "TicketTemplate" ],
        "summary" : "Delete ticket template",
        "description" : "This API deletes a ticket template from your help desk portal.",
        "operationId" : "deleteTicketTemplates",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "ids" ],
                "properties" : {
                  "ids" : {
                    "uniqueItems" : false,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "ids" : [ "4000000083313", "4000000082105" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "This errorCode value appears if the authentication token in the API request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "UnAuthenticatedErrorResponse" : {
                    "value" : {
                      "errorCode" : "UNAUTHORIZED",
                      "message" : "You are not authorized to perform this operation."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "massActionListView template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "results" ],
                  "properties" : {
                    "results" : {
                      "items" : {
                        "required" : [ "errors", "id", "success" ],
                        "properties" : {
                          "success" : { },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "errors" : {
                            "required" : [ "errorCode", "httpCode" ],
                            "properties" : {
                              "errorCode" : {
                                "enum" : [ "UNPROCESSABLE_ENTITY", "UNAUTHORIZED", "FORBIDDEN", "INVALID_DATA", "SCHEDULED", "SUCCESS" ]
                              },
                              "httpCode" : {
                                "enum" : [ "401", "403", "422", "202", "200", 401, 403, 422, 202, 200 ]
                              },
                              "errorMessage" : {
                                "maxLength" : 100,
                                "minLength" : 0,
                                "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                              },
                              "errorJson" : {
                                "additionalProperties" : false
                              },
                              "error" : {
                                "maxLength" : 250,
                                "minLength" : 0
                              }
                            },
                            "additionalProperties" : false
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "results" : [ {
                        "success" : true,
                        "id" : "7000000027223",
                        "errors" : null
                      }, {
                        "success" : false,
                        "id" : "7000000043968",
                        "errors" : {
                          "errorCode" : "UNPROCESSABLE_ENTITY",
                          "httpCode" : "422"
                        }
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.DELETE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 500,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 1800000,
                  "threshold" : 2000,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "e0421d1a34e2a24dfad0cd2b35df8cf5",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.TicketTemplateService.deleteTicketTemplate"
        }
      }
    },
    "/api/v1/ticketTemplates/{ticketTemplateId}" : {
      "get" : {
        "tags" : [ "TicketTemplate" ],
        "summary" : "Get ticket template",
        "description" : "This API fetches the details of a particular ticket template.",
        "operationId" : "getTicketTemplate",
        "parameters" : [ {
          "name" : "ticketTemplateId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "addUpdateGetTicketTemplateResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "id", "layoutId", "showInCustomerPortal", "ticketTemplateName", "ticketTemplateValues" ],
                  "properties" : {
                    "showInCustomerPortal" : {
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Key that specifies if the template must be displayed in the help center or not",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "ticketTemplateName" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Name of the ticket template",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the ticket template",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "ticketTemplateValues" : {
                      "additionalProperties" : { },
                      "allOf" : [ {
                        "required" : [ "accountId", "assigneeId", "category", "cf", "channel", "classification", "contactId", "departmentId", "description", "dueDate", "email", "language", "phone", "priority", "productId", "secondaryContacts", "status", "subCategory", "subject", "teamId" ],
                        "properties" : {
                          "subCategory" : {
                            "description" : "Sub-category of the ticket",
                            "x-dynamic-enum" : true
                          },
                          "cf" : {
                            "additionalProperties" : false
                          },
                          "productId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the product associated with the ticket",
                            "format" : "int64"
                          },
                          "contactId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the contact who raised the ticket",
                            "format" : "int64"
                          },
                          "subject" : {
                            "maxLength" : 1000,
                            "minLength" : 0,
                            "description" : "Subject of the ticket"
                          },
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the department in which the ticket must be created",
                            "format" : "int64"
                          },
                          "dueDate" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                            "description" : "Date on or before which the ticket must be resolvede"
                          },
                          "channel" : {
                            "description" : "Channel through which the ticket was received",
                            "x-dynamic-enum" : true
                          },
                          "description" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "description" : "A brief description of the issue raised in the ticket"
                          },
                          "secondaryContacts" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "language" : {
                            "description" : "Language preference to set for the ticket",
                            "x-dynamic-enum" : true
                          },
                          "priority" : {
                            "description" : "Priority of the ticket",
                            "x-dynamic-enum" : true
                          },
                          "classification" : {
                            "description" : "Classification of the ticket",
                            "x-dynamic-enum" : true
                          },
                          "assigneeId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the agent assigned to resolve the ticket",
                            "format" : "int64"
                          },
                          "accountId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the account associated with the ticket",
                            "format" : "int64"
                          },
                          "phone" : {
                            "maxLength" : 120,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                            "description" : "Phone number of the contacto"
                          },
                          "teamId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the team assigned to resolve the ticket",
                            "format" : "int64"
                          },
                          "category" : {
                            "description" : "Category of the ticket",
                            "x-dynamic-enum" : true
                          },
                          "email" : {
                            "maxLength" : 150,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                            "description" : "Email ID of the contact"
                          },
                          "status" : {
                            "description" : "Resolution status of the ticket",
                            "x-dynamic-enum" : true
                          }
                        },
                        "additionalProperties" : { },
                        "description" : "{removeExif=false, replacementString=, antivirus=false, filterMatchedContent=false, description=A brief description of the issue raised in the ticket, allowInvalid=false, secret=false, preserveCharsLimit=10, trim=false, internalParam=false, preserveChars=0,5, name=description, xss=antisamyfilter_withstyletag, importUrl=false, decrypt=false}"
                      }, {
                        "required" : [ "ticketNumber" ],
                        "properties" : {
                          "ticketNumber" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        }
                      } ]
                    },
                    "layoutId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the ticket layout from which the template is derived",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "showInCustomerPortal" : true,
                      "ticketTemplateName" : "temptest",
                      "id" : "4000000020001",
                      "layoutId" : "4000000020012",
                      "ticketTemplateValues" : {
                        "subCategory" : null,
                        "cf" : {
                          "cf_severity_percentage" : "0.0"
                        },
                        "productId" : "4000000009012",
                        "contactId" : null,
                        "subject" : "UrgentProblem",
                        "departmentId" : "4000000007073",
                        "dueDate" : null,
                        "channel" : null,
                        "description" : null,
                        "secondaryContacts" : [ "4000000009076", "4000000009062" ],
                        "priority" : null,
                        "classification" : null,
                        "assigneeId" : null,
                        "accountId" : null,
                        "phone" : "9876545645",
                        "category" : null,
                        "email" : "jacks@zylker.com",
                        "status" : null
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Lenient_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "042dd143579d96d6471c20967e809c0e",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.TicketTemplateService.getTicketTemplate"
        }
      },
      "patch" : {
        "tags" : [ "TicketTemplate" ],
        "summary" : "Update ticket template",
        "description" : "This API helps update the details of a particular ticket template.",
        "operationId" : "updateTicketTemplate",
        "parameters" : [ {
          "name" : "ticketTemplateId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "showInCustomerPortal" : {
                    "description" : "Key that specifies if the template must be displayed in the help center or not"
                  },
                  "ticketTemplateName" : {
                    "maxLength" : 200,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : "Name of the ticket template"
                  },
                  "ticketTemplateValues" : {
                    "required" : [ "accountId", "assigneeId", "category", "cf", "channel", "classification", "contactId", "departmentId", "description", "dueDate", "email", "language", "phone", "priority", "productId", "secondaryContacts", "status", "subCategory", "subject", "teamId" ],
                    "properties" : {
                      "subCategory" : {
                        "description" : "Sub-category of the ticket",
                        "x-dynamic-enum" : true
                      },
                      "cf" : {
                        "additionalProperties" : false
                      },
                      "productId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the product associated with the ticket",
                        "format" : "int64"
                      },
                      "contactId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the contact who raised the ticket",
                        "format" : "int64"
                      },
                      "subject" : {
                        "maxLength" : 1000,
                        "minLength" : 0,
                        "description" : "Subject of the ticket"
                      },
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the department in which the ticket must be created",
                        "format" : "int64"
                      },
                      "dueDate" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "description" : "Date on or before which the ticket must be resolvede"
                      },
                      "channel" : {
                        "description" : "Channel through which the ticket was received",
                        "x-dynamic-enum" : true
                      },
                      "description" : {
                        "maxLength" : 65535,
                        "minLength" : 0,
                        "description" : "A brief description of the issue raised in the ticket"
                      },
                      "secondaryContacts" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "language" : {
                        "description" : "Language preference to set for the ticket",
                        "x-dynamic-enum" : true
                      },
                      "priority" : {
                        "description" : "Priority of the ticket",
                        "x-dynamic-enum" : true
                      },
                      "classification" : {
                        "description" : "Classification of the ticket",
                        "x-dynamic-enum" : true
                      },
                      "assigneeId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the agent assigned to resolve the ticket",
                        "format" : "int64"
                      },
                      "accountId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the account associated with the ticket",
                        "format" : "int64"
                      },
                      "phone" : {
                        "maxLength" : 120,
                        "minLength" : 0,
                        "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                        "description" : "Phone number of the contacto"
                      },
                      "teamId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the team assigned to resolve the ticket",
                        "format" : "int64"
                      },
                      "category" : {
                        "description" : "Category of the ticket",
                        "x-dynamic-enum" : true
                      },
                      "email" : {
                        "maxLength" : 150,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                        "description" : "Email ID of the contact"
                      },
                      "status" : {
                        "description" : "Resolution status of the ticket",
                        "x-dynamic-enum" : true
                      }
                    },
                    "additionalProperties" : false,
                    "description" : "{removeExif=false, replacementString=, antivirus=false, filterMatchedContent=false, description=A brief description of the issue raised in the ticket, allowInvalid=false, secret=false, preserveCharsLimit=10, trim=false, internalParam=false, preserveChars=0,5, name=description, xss=antisamyfilter_withstyletag, importUrl=false, decrypt=false}"
                  },
                  "layoutId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the ticket layout from which the template is derived",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "showInCustomerPortal" : false,
                    "ticketTemplateName" : "temptest",
                    "ticketTemplateValues" : {
                      "cf" : {
                        "cf_severity_percentage" : "60"
                      },
                      "productId" : "4000000009012",
                      "subject" : "UrgentProblem",
                      "departmentId" : "4000000007073",
                      "email" : "jacks@zylker.com"
                    }
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "200" : {
            "description" : "addUpdateGetTicketTemplateResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "id", "layoutId", "showInCustomerPortal", "ticketTemplateName", "ticketTemplateValues" ],
                  "properties" : {
                    "showInCustomerPortal" : {
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Key that specifies if the template must be displayed in the help center or not",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "ticketTemplateName" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Name of the ticket template",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the ticket template",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "ticketTemplateValues" : {
                      "additionalProperties" : false,
                      "allOf" : [ {
                        "required" : [ "accountId", "assigneeId", "category", "cf", "channel", "classification", "contactId", "departmentId", "description", "dueDate", "email", "language", "phone", "priority", "productId", "secondaryContacts", "status", "subCategory", "subject", "teamId" ],
                        "properties" : {
                          "subCategory" : {
                            "description" : "Sub-category of the ticket",
                            "x-dynamic-enum" : true
                          },
                          "cf" : {
                            "additionalProperties" : false
                          },
                          "productId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the product associated with the ticket",
                            "format" : "int64"
                          },
                          "contactId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the contact who raised the ticket",
                            "format" : "int64"
                          },
                          "subject" : {
                            "maxLength" : 1000,
                            "minLength" : 0,
                            "description" : "Subject of the ticket"
                          },
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the department in which the ticket must be created",
                            "format" : "int64"
                          },
                          "dueDate" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                            "description" : "Date on or before which the ticket must be resolvede"
                          },
                          "channel" : {
                            "description" : "Channel through which the ticket was received",
                            "x-dynamic-enum" : true
                          },
                          "description" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "description" : "A brief description of the issue raised in the ticket"
                          },
                          "secondaryContacts" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "language" : {
                            "description" : "Language preference to set for the ticket",
                            "x-dynamic-enum" : true
                          },
                          "priority" : {
                            "description" : "Priority of the ticket",
                            "x-dynamic-enum" : true
                          },
                          "classification" : {
                            "description" : "Classification of the ticket",
                            "x-dynamic-enum" : true
                          },
                          "assigneeId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the agent assigned to resolve the ticket",
                            "format" : "int64"
                          },
                          "accountId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the account associated with the ticket",
                            "format" : "int64"
                          },
                          "phone" : {
                            "maxLength" : 120,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                            "description" : "Phone number of the contacto"
                          },
                          "teamId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the team assigned to resolve the ticket",
                            "format" : "int64"
                          },
                          "category" : {
                            "description" : "Category of the ticket",
                            "x-dynamic-enum" : true
                          },
                          "email" : {
                            "maxLength" : 150,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                            "description" : "Email ID of the contact"
                          },
                          "status" : {
                            "description" : "Resolution status of the ticket",
                            "x-dynamic-enum" : true
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "{removeExif=false, replacementString=, antivirus=false, filterMatchedContent=false, description=A brief description of the issue raised in the ticket, allowInvalid=false, secret=false, preserveCharsLimit=10, trim=false, internalParam=false, preserveChars=0,5, name=description, xss=antisamyfilter_withstyletag, importUrl=false, decrypt=false}"
                      }, {
                        "required" : [ "ticketNumber" ],
                        "properties" : {
                          "ticketNumber" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        }
                      } ]
                    },
                    "layoutId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the ticket layout from which the template is derived",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "showInCustomerPortal" : true,
                      "ticketTemplateName" : "temptest",
                      "id" : "4000000020001",
                      "layoutId" : "4000000020012",
                      "ticketTemplateValues" : {
                        "subCategory" : null,
                        "cf" : {
                          "cf_severity_percentage" : "0.0"
                        },
                        "productId" : "4000000009012",
                        "contactId" : null,
                        "subject" : "UrgentProblem",
                        "departmentId" : "4000000007073",
                        "dueDate" : null,
                        "channel" : null,
                        "description" : null,
                        "secondaryContacts" : [ "4000000009076", "4000000009062" ],
                        "priority" : null,
                        "classification" : null,
                        "assigneeId" : null,
                        "accountId" : null,
                        "phone" : "9876545645",
                        "category" : null,
                        "email" : "jacks@zylker.com",
                        "status" : null
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 500,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 1800000,
                  "threshold" : 2000,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "2c07d8c68a9a969123faa64cca8cf9c9",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.TicketTemplateService.updateTicketTemplate"
        }
      }
    },
    "/api/v1/ticketTemplates" : {
      "get" : {
        "tags" : [ "TicketTemplate" ],
        "summary" : "List ticket templates",
        "description" : "This API lists a particular number of ticket templates, based on the limit specified.",
        "operationId" : "getTicketTemplates",
        "parameters" : [ {
          "name" : "showInCustomerPortal",
          "in" : "query",
          "description" : "Visibility of the templates in the help center",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "description" : "Visibility of the templates in the help center"
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department from which templates must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which templates must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "entity" : "Departments"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of templates to list. The default value is 10 and the maximum value supported is 100",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 99,
            "minimum" : 1,
            "pattern" : "([0-9]+)",
            "description" : "Number of templates to list. The default value is 10 and the maximum value supported is 100",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the templates must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the templates must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "layoutId",
          "in" : "query",
          "description" : "ID of the layout from which templated must be fetched for the given department ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the layout from which templated must be fetched for the given department ID",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "listTicketTemplateResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "id", "layoutId", "showInCustomerPortal", "ticketTemplateName" ],
                        "properties" : {
                          "showInCustomerPortal" : {
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "Visibility of the templates in the help center",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          },
                          "ticketTemplateName" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "layoutId" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64",
                            "x-custom-parameters-attributes" : {
                              "removeExif" : false,
                              "filterMatchedContent" : false,
                              "antivirus" : false,
                              "replacementString" : "",
                              "allowInvalid" : false,
                              "descrption" : "ID of the layout from which templated must be fetched for the given department ID",
                              "secret" : false,
                              "preserveCharsLimit" : 10,
                              "trim" : false,
                              "internalParam" : false,
                              "preserveChars" : "0,5",
                              "importUrl" : false,
                              "decrypt" : false
                            }
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "showInCustomerPortal" : true,
                        "ticketTemplateName" : "Template1",
                        "id" : "4000000020001",
                        "layoutId" : "4000000020121"
                      }, {
                        "showInCustomerPortal" : false,
                        "ticketTemplateName" : "Template2",
                        "id" : "4000000020063",
                        "layoutId" : "4000000020431"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Lenient_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "504c6cd6e29e593b3c014f9d905ca54c",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.TicketTemplateService.getTicketTemplates"
        }
      },
      "post" : {
        "tags" : [ "TicketTemplate" ],
        "summary" : "Create ticket template",
        "description" : "This API helps create a ticket template in your help desk portal.",
        "operationId" : "createTicketTemplate",
        "parameters" : [ {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "layoutId", "ticketTemplateName", "ticketTemplateValues" ],
                "properties" : {
                  "showInCustomerPortal" : {
                    "description" : "Key that specifies if the template must be displayed in the help center or not"
                  },
                  "ticketTemplateName" : {
                    "maxLength" : 200,
                    "minLength" : 0,
                    "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                    "description" : "Name of the ticket template"
                  },
                  "ticketTemplateValues" : {
                    "required" : [ "accountId", "assigneeId", "category", "cf", "channel", "classification", "contactId", "departmentId", "description", "dueDate", "email", "language", "phone", "priority", "productId", "secondaryContacts", "status", "subCategory", "subject", "teamId" ],
                    "properties" : {
                      "subCategory" : {
                        "description" : "Sub-category of the ticket",
                        "x-dynamic-enum" : true
                      },
                      "cf" : {
                        "additionalProperties" : false
                      },
                      "productId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the product associated with the ticket",
                        "format" : "int64"
                      },
                      "contactId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the contact who raised the ticket",
                        "format" : "int64"
                      },
                      "subject" : {
                        "maxLength" : 1000,
                        "minLength" : 0,
                        "description" : "Subject of the ticket"
                      },
                      "departmentId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the department in which the ticket must be created",
                        "format" : "int64"
                      },
                      "dueDate" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                        "description" : "Date on or before which the ticket must be resolvede"
                      },
                      "channel" : {
                        "description" : "Channel through which the ticket was received",
                        "x-dynamic-enum" : true
                      },
                      "description" : {
                        "maxLength" : 65535,
                        "minLength" : 0,
                        "description" : "A brief description of the issue raised in the ticket"
                      },
                      "secondaryContacts" : {
                        "uniqueItems" : false,
                        "items" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        }
                      },
                      "language" : {
                        "description" : "Language preference to set for the ticket",
                        "x-dynamic-enum" : true
                      },
                      "priority" : {
                        "description" : "Priority of the ticket",
                        "x-dynamic-enum" : true
                      },
                      "classification" : {
                        "description" : "Classification of the ticket",
                        "x-dynamic-enum" : true
                      },
                      "assigneeId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the agent assigned to resolve the ticket",
                        "format" : "int64"
                      },
                      "accountId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the account associated with the ticket",
                        "format" : "int64"
                      },
                      "phone" : {
                        "maxLength" : 120,
                        "minLength" : 0,
                        "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                        "description" : "Phone number of the contacto"
                      },
                      "teamId" : {
                        "pattern" : "([0-9]+)",
                        "description" : "ID of the team assigned to resolve the ticket",
                        "format" : "int64"
                      },
                      "category" : {
                        "description" : "Category of the ticket",
                        "x-dynamic-enum" : true
                      },
                      "email" : {
                        "maxLength" : 150,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                        "description" : "Email ID of the contact"
                      },
                      "status" : {
                        "description" : "Resolution status of the ticket",
                        "x-dynamic-enum" : true
                      }
                    },
                    "additionalProperties" : false,
                    "description" : "{removeExif=false, replacementString=, antivirus=false, filterMatchedContent=false, description=A brief description of the issue raised in the ticket, allowInvalid=false, secret=false, preserveCharsLimit=10, trim=false, internalParam=false, preserveChars=0,5, name=description, xss=antisamyfilter_withstyletag, importUrl=false, decrypt=false}"
                  },
                  "layoutId" : {
                    "pattern" : "([0-9]+)",
                    "description" : "ID of the ticket layout from which the template is derived",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "showInCustomerPortal" : true,
                    "ticketTemplateName" : "temp1",
                    "ticketTemplateValues" : {
                      "cf" : {
                        "cf_severity_percentage" : "0.0"
                      },
                      "phone" : "9876545645",
                      "departmentId" : "4000000007073",
                      "email" : "jacks@zylker.com"
                    },
                    "layoutId" : "4000000020012"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "addUpdateGetTicketTemplateResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "id", "layoutId", "showInCustomerPortal", "ticketTemplateName", "ticketTemplateValues" ],
                  "properties" : {
                    "showInCustomerPortal" : {
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Key that specifies if the template must be displayed in the help center or not",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "ticketTemplateName" : {
                      "maxLength" : 200,
                      "minLength" : 0,
                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "Name of the ticket template",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the ticket template",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    },
                    "ticketTemplateValues" : {
                      "additionalProperties" : false,
                      "allOf" : [ {
                        "required" : [ "accountId", "assigneeId", "category", "cf", "channel", "classification", "contactId", "departmentId", "description", "dueDate", "email", "language", "phone", "priority", "productId", "secondaryContacts", "status", "subCategory", "subject", "teamId" ],
                        "properties" : {
                          "subCategory" : {
                            "description" : "Sub-category of the ticket",
                            "x-dynamic-enum" : true
                          },
                          "cf" : {
                            "additionalProperties" : false
                          },
                          "productId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the product associated with the ticket",
                            "format" : "int64"
                          },
                          "contactId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the contact who raised the ticket",
                            "format" : "int64"
                          },
                          "subject" : {
                            "maxLength" : 1000,
                            "minLength" : 0,
                            "description" : "Subject of the ticket"
                          },
                          "departmentId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the department in which the ticket must be created",
                            "format" : "int64"
                          },
                          "dueDate" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                            "description" : "Date on or before which the ticket must be resolvede"
                          },
                          "channel" : {
                            "description" : "Channel through which the ticket was received",
                            "x-dynamic-enum" : true
                          },
                          "description" : {
                            "maxLength" : 65535,
                            "minLength" : 0,
                            "description" : "A brief description of the issue raised in the ticket"
                          },
                          "secondaryContacts" : {
                            "uniqueItems" : false,
                            "items" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            }
                          },
                          "language" : {
                            "description" : "Language preference to set for the ticket",
                            "x-dynamic-enum" : true
                          },
                          "priority" : {
                            "description" : "Priority of the ticket",
                            "x-dynamic-enum" : true
                          },
                          "classification" : {
                            "description" : "Classification of the ticket",
                            "x-dynamic-enum" : true
                          },
                          "assigneeId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the agent assigned to resolve the ticket",
                            "format" : "int64"
                          },
                          "accountId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the account associated with the ticket",
                            "format" : "int64"
                          },
                          "phone" : {
                            "maxLength" : 120,
                            "minLength" : 0,
                            "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                            "description" : "Phone number of the contacto"
                          },
                          "teamId" : {
                            "pattern" : "([0-9]+)",
                            "description" : "ID of the team assigned to resolve the ticket",
                            "format" : "int64"
                          },
                          "category" : {
                            "description" : "Category of the ticket",
                            "x-dynamic-enum" : true
                          },
                          "email" : {
                            "maxLength" : 150,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                            "description" : "Email ID of the contact"
                          },
                          "status" : {
                            "description" : "Resolution status of the ticket",
                            "x-dynamic-enum" : true
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "{removeExif=false, replacementString=, antivirus=false, filterMatchedContent=false, description=A brief description of the issue raised in the ticket, allowInvalid=false, secret=false, preserveCharsLimit=10, trim=false, internalParam=false, preserveChars=0,5, name=description, xss=antisamyfilter_withstyletag, importUrl=false, decrypt=false}"
                      }, {
                        "required" : [ "ticketNumber" ],
                        "properties" : {
                          "ticketNumber" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          }
                        }
                      } ]
                    },
                    "layoutId" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : {
                        "removeExif" : false,
                        "filterMatchedContent" : false,
                        "antivirus" : false,
                        "replacementString" : "",
                        "allowInvalid" : false,
                        "descrption" : "ID of the ticket layout from which the template is derived",
                        "secret" : false,
                        "preserveCharsLimit" : 10,
                        "trim" : false,
                        "internalParam" : false,
                        "preserveChars" : "0,5",
                        "importUrl" : false,
                        "decrypt" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "showInCustomerPortal" : true,
                      "ticketTemplateName" : "temptest",
                      "id" : "4000000020001",
                      "layoutId" : "4000000020012",
                      "ticketTemplateValues" : {
                        "subCategory" : null,
                        "cf" : {
                          "cf_severity_percentage" : "0.0"
                        },
                        "productId" : "4000000009012",
                        "contactId" : null,
                        "subject" : "UrgentProblem",
                        "departmentId" : "4000000007073",
                        "dueDate" : null,
                        "channel" : null,
                        "description" : null,
                        "secondaryContacts" : [ "4000000009076", "4000000009062" ],
                        "priority" : null,
                        "classification" : null,
                        "assigneeId" : null,
                        "accountId" : null,
                        "phone" : "9876545645",
                        "category" : null,
                        "email" : "jacks@zylker.com",
                        "status" : null
                      }
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.settings.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 500,
                  "hip" : false
                }, {
                  "duration" : 86400000,
                  "lock-period" : 1800000,
                  "threshold" : 2000,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "dc0b899c47fa8dee7fb3720ce5d7f9b5",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.TicketTemplateService.addTicketTemplate"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ticketTemplateValues" : {
        "required" : [ "accountId", "assigneeId", "category", "cf", "channel", "classification", "contactId", "departmentId", "description", "dueDate", "email", "language", "phone", "priority", "productId", "secondaryContacts", "status", "subCategory", "subject", "teamId" ],
        "properties" : {
          "subCategory" : {
            "description" : "Sub-category of the ticket",
            "x-dynamic-enum" : true
          },
          "cf" : {
            "additionalProperties" : { }
          },
          "productId" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the product associated with the ticket",
            "format" : "int64"
          },
          "contactId" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the contact who raised the ticket",
            "format" : "int64"
          },
          "subject" : {
            "maxLength" : 1000,
            "minLength" : 0,
            "description" : "Subject of the ticket"
          },
          "departmentId" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department in which the ticket must be created",
            "format" : "int64"
          },
          "dueDate" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
            "description" : "Date on or before which the ticket must be resolvede"
          },
          "channel" : {
            "description" : "Channel through which the ticket was received",
            "x-dynamic-enum" : true
          },
          "description" : {
            "maxLength" : 65535,
            "minLength" : 0,
            "description" : "A brief description of the issue raised in the ticket"
          },
          "secondaryContacts" : {
            "uniqueItems" : false,
            "items" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "language" : {
            "description" : "Language preference to set for the ticket",
            "x-dynamic-enum" : true
          },
          "priority" : {
            "description" : "Priority of the ticket",
            "x-dynamic-enum" : true
          },
          "classification" : {
            "description" : "Classification of the ticket",
            "x-dynamic-enum" : true
          },
          "assigneeId" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the agent assigned to resolve the ticket",
            "format" : "int64"
          },
          "accountId" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the account associated with the ticket",
            "format" : "int64"
          },
          "phone" : {
            "maxLength" : 120,
            "minLength" : 0,
            "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
            "description" : "Phone number of the contacto"
          },
          "teamId" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the team assigned to resolve the ticket",
            "format" : "int64"
          },
          "category" : {
            "description" : "Category of the ticket",
            "x-dynamic-enum" : true
          },
          "email" : {
            "maxLength" : 150,
            "minLength" : 0,
            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
            "description" : "Email ID of the contact"
          },
          "status" : {
            "description" : "Resolution status of the ticket",
            "x-dynamic-enum" : true
          }
        },
        "additionalProperties" : { },
        "description" : "{removeExif=false, replacementString=, antivirus=false, filterMatchedContent=false, description=A brief description of the issue raised in the ticket, allowInvalid=false, secret=false, preserveCharsLimit=10, trim=false, internalParam=false, preserveChars=0,5, name=description, xss=antisamyfilter_withstyletag, importUrl=false, decrypt=false}"
      },
      "ticketTemplateValuesResponse" : {
        "additionalProperties" : { },
        "allOf" : [ {
          "required" : [ "accountId", "assigneeId", "category", "cf", "channel", "classification", "contactId", "departmentId", "description", "dueDate", "email", "language", "phone", "priority", "productId", "secondaryContacts", "status", "subCategory", "subject", "teamId" ],
          "properties" : {
            "subCategory" : {
              "description" : "Sub-category of the ticket",
              "x-dynamic-enum" : true
            },
            "cf" : {
              "additionalProperties" : false
            },
            "productId" : {
              "pattern" : "([0-9]+)",
              "description" : "ID of the product associated with the ticket",
              "format" : "int64"
            },
            "contactId" : {
              "pattern" : "([0-9]+)",
              "description" : "ID of the contact who raised the ticket",
              "format" : "int64"
            },
            "subject" : {
              "maxLength" : 1000,
              "minLength" : 0,
              "description" : "Subject of the ticket"
            },
            "departmentId" : {
              "pattern" : "([0-9]+)",
              "description" : "ID of the department in which the ticket must be created",
              "format" : "int64"
            },
            "dueDate" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
              "description" : "Date on or before which the ticket must be resolvede"
            },
            "channel" : {
              "description" : "Channel through which the ticket was received",
              "x-dynamic-enum" : true
            },
            "description" : {
              "maxLength" : 65535,
              "minLength" : 0,
              "description" : "A brief description of the issue raised in the ticket"
            },
            "secondaryContacts" : {
              "uniqueItems" : false,
              "items" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              }
            },
            "language" : {
              "description" : "Language preference to set for the ticket",
              "x-dynamic-enum" : true
            },
            "priority" : {
              "description" : "Priority of the ticket",
              "x-dynamic-enum" : true
            },
            "classification" : {
              "description" : "Classification of the ticket",
              "x-dynamic-enum" : true
            },
            "assigneeId" : {
              "pattern" : "([0-9]+)",
              "description" : "ID of the agent assigned to resolve the ticket",
              "format" : "int64"
            },
            "accountId" : {
              "pattern" : "([0-9]+)",
              "description" : "ID of the account associated with the ticket",
              "format" : "int64"
            },
            "phone" : {
              "maxLength" : 120,
              "minLength" : 0,
              "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
              "description" : "Phone number of the contacto"
            },
            "teamId" : {
              "pattern" : "([0-9]+)",
              "description" : "ID of the team assigned to resolve the ticket",
              "format" : "int64"
            },
            "category" : {
              "description" : "Category of the ticket",
              "x-dynamic-enum" : true
            },
            "email" : {
              "maxLength" : 150,
              "minLength" : 0,
              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
              "description" : "Email ID of the contact"
            },
            "status" : {
              "description" : "Resolution status of the ticket",
              "x-dynamic-enum" : true
            }
          },
          "additionalProperties" : false,
          "description" : "{removeExif=false, replacementString=, antivirus=false, filterMatchedContent=false, description=A brief description of the issue raised in the ticket, allowInvalid=false, secret=false, preserveCharsLimit=10, trim=false, internalParam=false, preserveChars=0,5, name=description, xss=antisamyfilter_withstyletag, importUrl=false, decrypt=false}"
        }, {
          "required" : [ "ticketNumber" ],
          "properties" : {
            "ticketNumber" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            }
          }
        } ]
      },
      "listViewJson" : {
        "required" : [ "id", "layoutId", "showInCustomerPortal", "ticketTemplateName" ],
        "properties" : {
          "showInCustomerPortal" : {
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Visibility of the templates in the help center",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "ticketTemplateName" : {
            "maxLength" : 200,
            "minLength" : 0,
            "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "layoutId" : {
            "pattern" : "([0-9]+)",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "ID of the layout from which templated must be fetched for the given department ID",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          }
        },
        "additionalProperties" : { }
      },
      "data" : {
        "items" : {
          "required" : [ "id", "layoutId", "showInCustomerPortal", "ticketTemplateName" ],
          "properties" : {
            "showInCustomerPortal" : {
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Visibility of the templates in the help center",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            },
            "ticketTemplateName" : {
              "maxLength" : 200,
              "minLength" : 0,
              "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "layoutId" : {
              "pattern" : "([0-9]+)",
              "format" : "int64",
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "ID of the layout from which templated must be fetched for the given department ID",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            }
          },
          "additionalProperties" : false
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "addUpdateGetTicketTemplateResponse" : {
        "description" : "addUpdateGetTicketTemplateResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "id", "layoutId", "showInCustomerPortal", "ticketTemplateName", "ticketTemplateValues" ],
              "properties" : {
                "showInCustomerPortal" : {
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Key that specifies if the template must be displayed in the help center or not",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "ticketTemplateName" : {
                  "maxLength" : 200,
                  "minLength" : 0,
                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+",
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "Name of the ticket template",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64",
                  "x-custom-parameters-attributes" : {
                    "removeExif" : false,
                    "filterMatchedContent" : false,
                    "antivirus" : false,
                    "replacementString" : "",
                    "allowInvalid" : false,
                    "descrption" : "ID of the ticket template",
                    "secret" : false,
                    "preserveCharsLimit" : 10,
                    "trim" : false,
                    "internalParam" : false,
                    "preserveChars" : "0,5",
                    "importUrl" : false,
                    "decrypt" : false
                  }
                },
                "ticketTemplateValues" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
[...]
