{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "TicketApprovals",
    "version" : "1.0.0",
    "x-clan-group" : "tickets",
    "x-module-group" : "tickets"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/tickets/{ticketId}/approvals" : {
      "get" : {
        "tags" : [ "TicketApprovals" ],
        "summary" : "List approvals",
        "description" : "This API lists the approvals submitted in your help desk.",
        "operationId" : "getTicketApprovals",
        "parameters" : [ {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "listApprovalsResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "required" : [ "approver", "description", "id", "processedTime", "requestedTime", "requester", "status", "subject" ],
                          "properties" : {
                            "approver" : {
                              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "requester" : {
                              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "requestedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                            },
                            "subject" : {
                              "maxLength" : 1000,
                              "minLength" : 0
                            },
                            "description" : {
                              "maxLength" : 65535,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Approved", "Rejected", "Pending" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Key that filters the approvals by status",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "processedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                            }
                          },
                          "additionalProperties" : { }
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "errorCode" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "URL_NOT_FOUND", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "INTERNAL_SERVER_ERROR", "EMPTY_PAYLOAD" ]
                      },
                      "message" : {
                        "maxLength" : 255,
                        "minLength" : 0
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "approver" : {
                          "firstName" : "",
                          "lastName" : "raj",
                          "photoUrl" : "https://desk.zoho.com/api/v1/agent/4000000015001/photo",
                          "id" : "4000000015001",
                          "email" : "carol@zylker.com"
                        },
                        "requester" : {
                          "firstName" : "",
                          "lastName" : "saran",
                          "photoUrl" : "https://desk.zoho.com/api/v1/agent/4000000012629/photo",
                          "id" : "4000000012629",
                          "email" : "carol@zylker.com"
                        },
                        "requestedTime" : 1466514974000,
                        "subject" : "Testing",
                        "description" : "testing",
                        "id" : "1892000001054081",
                        "status" : "Approved",
                        "processedTime" : 1517998355000
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "665b14fdfec671cff68367952467c07a",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.RequestService.getApprovals"
        }
      },
      "post" : {
        "tags" : [ "TicketApprovals" ],
        "summary" : "Create approval",
        "description" : "This API creates an approval in your help desk.",
        "operationId" : "createTicketApproval",
        "parameters" : [ {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "approverIds", "subject" ],
                "properties" : {
                  "approverIds" : {
                    "uniqueItems" : true,
                    "items" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64",
                      "x-custom-parameters-attributes" : [ { } ]
                    }
                  },
                  "subject" : {
                    "maxLength" : 1000,
                    "minLength" : 0
                  },
                  "description" : {
                    "maxLength" : 65535,
                    "minLength" : 0
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "approverIds" : [ "1892000000042001" ],
                    "subject" : "New approval",
                    "description" : "new app desc"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "addApprovalResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "required" : [ "approvals" ],
                    "properties" : {
                      "approvals" : {
                        "items" : {
                          "required" : [ "approver", "description", "id", "processedTime", "requestedTime", "requester", "status", "subject" ],
                          "properties" : {
                            "approver" : {
                              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "requester" : {
                              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : false
                            },
                            "requestedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                            },
                            "subject" : {
                              "maxLength" : 1000,
                              "minLength" : 0
                            },
                            "description" : {
                              "maxLength" : 65535,
                              "minLength" : 0
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "status" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "enum" : [ "Approved", "Rejected", "Pending" ],
                              "x-custom-parameters-attributes" : {
                                "removeExif" : false,
                                "filterMatchedContent" : false,
                                "antivirus" : false,
                                "replacementString" : "",
                                "allowInvalid" : false,
                                "descrption" : "Key that filters the approvals by status",
                                "secret" : false,
                                "preserveCharsLimit" : 10,
                                "trim" : false,
                                "internalParam" : false,
                                "preserveChars" : "0,5",
                                "importUrl" : false,
                                "decrypt" : false
                              }
                            },
                            "processedTime" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                            }
                          },
                          "additionalProperties" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "errorCode" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "URL_NOT_FOUND", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "INTERNAL_SERVER_ERROR", "EMPTY_PAYLOAD" ]
                      },
                      "message" : {
                        "maxLength" : 255,
                        "minLength" : 0
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "approvals" : [ {
                        "approver" : {
                          "firstName" : "saran",
                          "lastName" : "raj",
                          "photoUrl" : "https://desk.zoho.com/api/v1/agent/4000000015001/photo",
                          "id" : "4000000015001",
                          "email" : null
                        },
                        "requester" : {
                          "firstName" : "aravind",
                          "lastName" : "a",
                          "photoUrl" : "https://desk.zoho.com/api/v1/agent/4000000012629/photo",
                          "id" : "4000000012629",
                          "email" : null
                        },
                        "requestedTime" : 1466514974000,
                        "subject" : "Testing",
                        "description" : "testing",
                        "id" : "1892000001054081",
                        "status" : "PENDING",
                        "processedTime" : null
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 50,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "0bd534a66f8554ca624792fd7668568b",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.RequestService.addApproval"
        }
      }
    },
    "/api/v1/tickets/{ticketId}/approvals/{approvalId}" : {
      "get" : {
        "tags" : [ "TicketApprovals" ],
        "summary" : "Get approval",
        "description" : "This API fetches the details of an approval.",
        "operationId" : "getTicketApproval",
        "parameters" : [ {
          "name" : "approvalId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getApprovalResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "required" : [ "approver", "description", "id", "processedTime", "requestedTime", "requester", "status", "subject" ],
                    "properties" : {
                      "approver" : {
                        "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "requester" : {
                        "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "requestedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                      },
                      "subject" : {
                        "maxLength" : 1000,
                        "minLength" : 0
                      },
                      "description" : {
                        "maxLength" : 65535,
                        "minLength" : 0
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "Approved", "Rejected", "Pending" ]
                      },
                      "processedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "errorCode" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "URL_NOT_FOUND", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "INTERNAL_SERVER_ERROR", "EMPTY_PAYLOAD" ]
                      },
                      "message" : {
                        "maxLength" : 255,
                        "minLength" : 0
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "approver" : {
                        "firstName" : "saran",
                        "lastName" : "raj",
                        "photoUrl" : "https://desk.zoho.com/api/v1/agent/4000000015001/photo",
                        "id" : "4000000015001",
                        "email" : null
                      },
                      "requester" : {
                        "firstName" : "aravind",
                        "lastName" : "a",
                        "photoUrl" : "https://desk.zoho.com/api/v1/agent/4000000012629/photo",
                        "id" : "4000000012629",
                        "email" : null
                      },
                      "requestedTime" : 1466514974000,
                      "subject" : "Testing",
                      "processedTime " : 1517998355000,
                      "description" : "testing",
                      "id" : "1892000001054081",
                      "status" : "Rejected"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Lenient_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "f5cf686ad5bac4ad4a6ba6a6dfc2313c",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.RequestService.getApproval"
        }
      },
      "patch" : {
        "tags" : [ "TicketApprovals" ],
        "summary" : "Update approval",
        "description" : "This API updates the details of an existing ticket approval.",
        "operationId" : "updateTicketApproval",
        "parameters" : [ {
          "name" : "approvalId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "status" ],
                "properties" : {
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "Approved", "Rejected" ]
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "status" : "Approved/Rejected"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "This errorCode value appears if the server encounters an unexpected condition that prevents it from fulfilling the request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "value" : {
                      "errorCode" : "INTERNAL_SERVER_ERROR",
                      "message" : "An internal server error occurred while performing this operation."
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "updateApprovalResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "required" : [ "approver", "description", "id", "processedTime", "requestedTime", "requester", "status", "subject" ],
                    "properties" : {
                      "approver" : {
                        "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "requester" : {
                        "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                        "properties" : {
                          "firstName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "lastName" : {
                            "maxLength" : 50,
                            "minLength" : 0
                          },
                          "photoURL" : {
                            "maxLength" : 200,
                            "minLength" : 0,
                            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          },
                          "email" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                          }
                        },
                        "additionalProperties" : false
                      },
                      "requestedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "[a-zA-Z_/\\-\\+0-9]*",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Time when the approval was requested ",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "subject" : {
                        "maxLength" : 1000,
                        "minLength" : 0,
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Subject of the approval",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "description" : {
                        "maxLength" : 65535,
                        "minLength" : 0,
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Description of the approval",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "ID of the approval",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "status" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "Approved", "Rejected", "Pending" ],
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Status of the approval",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      },
                      "processedTime" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "[a-zA-Z_/\\-\\+0-9]*",
                        "x-custom-parameters-attributes" : {
                          "removeExif" : false,
                          "filterMatchedContent" : false,
                          "antivirus" : false,
                          "replacementString" : "",
                          "allowInvalid" : false,
                          "descrption" : "Time when the approval was processed",
                          "secret" : false,
                          "preserveCharsLimit" : 10,
                          "trim" : false,
                          "internalParam" : false,
                          "preserveChars" : "0,5",
                          "importUrl" : false,
                          "decrypt" : false
                        }
                      }
                    },
                    "additionalProperties" : { }
                  }, {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "errorCode" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "enum" : [ "URL_NOT_FOUND", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "INTERNAL_SERVER_ERROR", "EMPTY_PAYLOAD" ]
                      },
                      "message" : {
                        "maxLength" : 255,
                        "minLength" : 0
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "approver" : {
                        "firstName" : "saran",
                        "lastName" : "raj",
                        "photoUrl" : "https://desk.zoho.com/api/v1/agent/4000000015001/photo",
                        "id" : "4000000015001",
                        "email" : null
                      },
                      "requester" : {
                        "firstName" : "aravind",
                        "lastName" : "a",
                        "photoUrl" : "https://desk.zoho.com/api/v1/agent/4000000012629/photo",
                        "id" : "4000000012629",
                        "email" : null
                      },
                      "requesterId" : "1892000000042001",
                      "requestedTime" : 1466514974000,
                      "approverId" : "1892000000042001",
                      "subject" : "Testing",
                      "description" : "testing",
                      "id" : "1892000001054081",
                      "status" : "Approved",
                      "processedTime" : 1517998355000
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Stringent_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "02f9ea58298714bb7f19aca3e4376b55",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.RequestService.updateApproval"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "approvalActor" : {
        "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
        "properties" : {
          "firstName" : {
            "maxLength" : 50,
            "minLength" : 0
          },
          "lastName" : {
            "maxLength" : 50,
            "minLength" : 0
          },
          "photoURL" : {
            "maxLength" : 200,
            "minLength" : 0,
            "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "email" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
          }
        },
        "additionalProperties" : { }
      },
      "approvalDetails" : {
        "required" : [ "approver", "description", "id", "processedTime", "requestedTime", "requester", "status", "subject" ],
        "properties" : {
          "approver" : {
            "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
            "properties" : {
              "firstName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "lastName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "photoURL" : {
                "maxLength" : 200,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "email" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
              }
            },
            "additionalProperties" : false
          },
          "requester" : {
            "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
            "properties" : {
              "firstName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "lastName" : {
                "maxLength" : 50,
                "minLength" : 0
              },
              "photoURL" : {
                "maxLength" : 200,
                "minLength" : 0,
                "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
              },
              "id" : {
                "pattern" : "([0-9]+)",
                "format" : "int64"
              },
              "email" : {
                "maxLength" : 100,
                "minLength" : 0,
                "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
              }
            },
            "additionalProperties" : false
          },
          "requestedTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
          },
          "subject" : {
            "maxLength" : 1000,
            "minLength" : 0
          },
          "description" : {
            "maxLength" : 65535,
            "minLength" : 0
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          },
          "status" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "Approved", "Rejected", "Pending" ],
            "x-custom-parameters-attributes" : {
              "removeExif" : false,
              "filterMatchedContent" : false,
              "antivirus" : false,
              "replacementString" : "",
              "allowInvalid" : false,
              "descrption" : "Key that filters the approvals by status",
              "secret" : false,
              "preserveCharsLimit" : 10,
              "trim" : false,
              "internalParam" : false,
              "preserveChars" : "0,5",
              "importUrl" : false,
              "decrypt" : false
            }
          },
          "processedTime" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
          }
        },
        "additionalProperties" : { }
      },
      "listApprovalsData" : {
        "items" : {
          "required" : [ "approver", "description", "id", "processedTime", "requestedTime", "requester", "status", "subject" ],
          "properties" : {
            "approver" : {
              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
              "properties" : {
                "firstName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "lastName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "photoURL" : {
                  "maxLength" : 200,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "email" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                }
              },
              "additionalProperties" : false
            },
            "requester" : {
              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
              "properties" : {
                "firstName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "lastName" : {
                  "maxLength" : 50,
                  "minLength" : 0
                },
                "photoURL" : {
                  "maxLength" : 200,
                  "minLength" : 0,
                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                },
                "id" : {
                  "pattern" : "([0-9]+)",
                  "format" : "int64"
                },
                "email" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                }
              },
              "additionalProperties" : false
            },
            "requestedTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
            },
            "subject" : {
              "maxLength" : 1000,
              "minLength" : 0
            },
            "description" : {
              "maxLength" : 65535,
              "minLength" : 0
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            },
            "status" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "Approved", "Rejected", "Pending" ],
              "x-custom-parameters-attributes" : {
                "removeExif" : false,
                "filterMatchedContent" : false,
                "antivirus" : false,
                "replacementString" : "",
                "allowInvalid" : false,
                "descrption" : "Key that filters the approvals by status",
                "secret" : false,
                "preserveCharsLimit" : 10,
                "trim" : false,
                "internalParam" : false,
                "preserveChars" : "0,5",
                "importUrl" : false,
                "decrypt" : false
              }
            },
            "processedTime" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
            }
          },
          "additionalProperties" : false
        }
      },
      "errorDetailArr" : {
        "items" : {
          "required" : [ "errorMessage", "errorType", "fieldName" ],
          "properties" : {
            "fieldName" : { },
            "errorType" : {
              "enum" : [ "invalid", "duplicate", "missing" ]
            },
            "errorMessage" : { }
          }
        }
      },
      "errorJson" : {
        "required" : [ "errorCode", "message" ],
        "properties" : {
          "message" : { },
          "errorCode" : {
            "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
          }
        }
      }
    },
    "responses" : {
      "listApprovalsResponse" : {
        "description" : "listApprovalsResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "oneOf" : [ {
                "required" : [ "data" ],
                "properties" : {
                  "data" : {
                    "items" : {
                      "required" : [ "approver", "description", "id", "processedTime", "requestedTime", "requester", "status", "subject" ],
                      "properties" : {
                        "approver" : {
                          "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                          "properties" : {
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "photoURL" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "email" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "requester" : {
                          "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                          "properties" : {
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "photoURL" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "email" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "requestedTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                        },
                        "subject" : {
                          "maxLength" : 1000,
                          "minLength" : 0
                        },
                        "description" : {
                          "maxLength" : 65535,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "Approved", "Rejected", "Pending" ],
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Key that filters the approvals by status",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "processedTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                        }
                      },
                      "additionalProperties" : false
                    }
                  }
                },
                "additionalProperties" : { }
              }, {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "errorCode" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "URL_NOT_FOUND", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "INTERNAL_SERVER_ERROR", "EMPTY_PAYLOAD" ]
                  },
                  "message" : {
                    "maxLength" : 255,
                    "minLength" : 0
                  }
                },
                "additionalProperties" : { }
              } ]
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "data" : [ {
                    "approver" : {
                      "firstName" : "",
                      "lastName" : "raj",
                      "photoUrl" : "https://desk.zoho.com/api/v1/agent/4000000015001/photo",
                      "id" : "4000000015001",
                      "email" : "carol@zylker.com"
                    },
                    "requester" : {
                      "firstName" : "",
                      "lastName" : "saran",
                      "photoUrl" : "https://desk.zoho.com/api/v1/agent/4000000012629/photo",
                      "id" : "4000000012629",
                      "email" : "carol@zylker.com"
                    },
                    "requestedTime" : 1466514974000,
                    "subject" : "Testing",
                    "description" : "testing",
                    "id" : "1892000001054081",
                    "status" : "Approved",
                    "processedTime" : 1517998355000
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "getApprovalResponse" : {
        "description" : "getApprovalResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "oneOf" : [ {
                "required" : [ "approver", "description", "id", "processedTime", "requestedTime", "requester", "status", "subject" ],
                "properties" : {
                  "approver" : {
                    "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                    "properties" : {
                      "firstName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "lastName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "photoURL" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "email" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                      }
                    },
                    "additionalProperties" : false
                  },
                  "requester" : {
                    "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                    "properties" : {
                      "firstName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "lastName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "photoURL" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "email" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                      }
                    },
                    "additionalProperties" : false
                  },
                  "requestedTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                  },
                  "subject" : {
                    "maxLength" : 1000,
                    "minLength" : 0
                  },
                  "description" : {
                    "maxLength" : 65535,
                    "minLength" : 0
                  },
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64"
                  },
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "Approved", "Rejected", "Pending" ]
                  },
                  "processedTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                  }
                },
                "additionalProperties" : { }
              }, {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "errorCode" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "URL_NOT_FOUND", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "INTERNAL_SERVER_ERROR", "EMPTY_PAYLOAD" ]
                  },
                  "message" : {
                    "maxLength" : 255,
                    "minLength" : 0
                  }
                },
                "additionalProperties" : { }
              } ]
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "approver" : {
                    "firstName" : "saran",
                    "lastName" : "raj",
                    "photoUrl" : "https://desk.zoho.com/api/v1/agent/4000000015001/photo",
                    "id" : "4000000015001",
                    "email" : null
                  },
                  "requester" : {
                    "firstName" : "aravind",
                    "lastName" : "a",
                    "photoUrl" : "https://desk.zoho.com/api/v1/agent/4000000012629/photo",
                    "id" : "4000000012629",
                    "email" : null
                  },
                  "requestedTime" : 1466514974000,
                  "subject" : "Testing",
                  "processedTime " : 1517998355000,
                  "description" : "testing",
                  "id" : "1892000001054081",
                  "status" : "Rejected"
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "addApprovalResponse" : {
        "description" : "addApprovalResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "oneOf" : [ {
                "required" : [ "approvals" ],
                "properties" : {
                  "approvals" : {
                    "items" : {
                      "required" : [ "approver", "description", "id", "processedTime", "requestedTime", "requester", "status", "subject" ],
                      "properties" : {
                        "approver" : {
                          "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                          "properties" : {
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "photoURL" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "email" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "requester" : {
                          "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                          "properties" : {
                            "firstName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "lastName" : {
                              "maxLength" : 50,
                              "minLength" : 0
                            },
                            "photoURL" : {
                              "maxLength" : 200,
                              "minLength" : 0,
                              "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                            },
                            "id" : {
                              "pattern" : "([0-9]+)",
                              "format" : "int64"
                            },
                            "email" : {
                              "maxLength" : 100,
                              "minLength" : 0,
                              "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                            }
                          },
                          "additionalProperties" : false
                        },
                        "requestedTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                        },
                        "subject" : {
                          "maxLength" : 1000,
                          "minLength" : 0
                        },
                        "description" : {
                          "maxLength" : 65535,
                          "minLength" : 0
                        },
                        "id" : {
                          "pattern" : "([0-9]+)",
                          "format" : "int64"
                        },
                        "status" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "enum" : [ "Approved", "Rejected", "Pending" ],
                          "x-custom-parameters-attributes" : {
                            "removeExif" : false,
                            "filterMatchedContent" : false,
                            "antivirus" : false,
                            "replacementString" : "",
                            "allowInvalid" : false,
                            "descrption" : "Key that filters the approvals by status",
                            "secret" : false,
                            "preserveCharsLimit" : 10,
                            "trim" : false,
                            "internalParam" : false,
                            "preserveChars" : "0,5",
                            "importUrl" : false,
                            "decrypt" : false
                          }
                        },
                        "processedTime" : {
                          "maxLength" : 100,
                          "minLength" : 0,
                          "pattern" : "[a-zA-Z_/\\-\\+0-9]*"
                        }
                      },
                      "additionalProperties" : false
                    }
                  }
                },
                "additionalProperties" : { }
              }, {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "errorCode" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "URL_NOT_FOUND", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "INTERNAL_SERVER_ERROR", "EMPTY_PAYLOAD" ]
                  },
                  "message" : {
                    "maxLength" : 255,
                    "minLength" : 0
                  }
                },
                "additionalProperties" : { }
              } ]
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "approvals" : [ {
                    "approver" : {
                      "firstName" : "saran",
                      "lastName" : "raj",
                      "photoUrl" : "https://desk.zoho.com/api/v1/agent/4000000015001/photo",
                      "id" : "4000000015001",
                      "email" : null
                    },
                    "requester" : {
                      "firstName" : "aravind",
                      "lastName" : "a",
                      "photoUrl" : "https://desk.zoho.com/api/v1/agent/4000000012629/photo",
                      "id" : "4000000012629",
                      "email" : null
                    },
                    "requestedTime" : 1466514974000,
                    "subject" : "Testing",
                    "description" : "testing",
                    "id" : "1892000001054081",
                    "status" : "PENDING",
                    "processedTime" : null
                  } ]
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "updateApprovalResponse" : {
        "description" : "updateApprovalResponse template definitions",
        "content" : {
          "application/json" : {
            "schema" : {
              "oneOf" : [ {
                "required" : [ "approver", "description", "id", "processedTime", "requestedTime", "requester", "status", "subject" ],
                "properties" : {
                  "approver" : {
                    "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                    "properties" : {
                      "firstName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "lastName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "photoURL" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "email" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                      }
                    },
                    "additionalProperties" : false
                  },
                  "requester" : {
                    "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                    "properties" : {
                      "firstName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "lastName" : {
                        "maxLength" : 50,
                        "minLength" : 0
                      },
                      "photoURL" : {
                        "maxLength" : 200,
                        "minLength" : 0,
                        "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                      },
                      "id" : {
                        "pattern" : "([0-9]+)",
                        "format" : "int64"
                      },
                      "email" : {
                        "maxLength" : 100,
                        "minLength" : 0,
                        "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                      }
                    },
                    "additionalProperties" : false
                  },
                  "requestedTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "[a-zA-Z_/\\-\\+0-9]*",
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "replacementString" : "",
                      "allowInvalid" : false,
                      "descrption" : "Time when the approval was requested ",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  },
                  "subject" : {
                    "maxLength" : 1000,
                    "minLength" : 0,
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "replacementString" : "",
                      "allowInvalid" : false,
                      "descrption" : "Subject of the approval",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  },
                  "description" : {
                    "maxLength" : 65535,
                    "minLength" : 0,
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "replacementString" : "",
                      "allowInvalid" : false,
                      "descrption" : "Description of the approval",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  },
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "format" : "int64",
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "replacementString" : "",
                      "allowInvalid" : false,
                      "descrption" : "ID of the approval",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  },
                  "status" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "Approved", "Rejected", "Pending" ],
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "replacementString" : "",
                      "allowInvalid" : false,
                      "descrption" : "Status of the approval",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  },
                  "processedTime" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "[a-zA-Z_/\\-\\+0-9]*",
                    "x-custom-parameters-attributes" : {
                      "removeExif" : false,
                      "filterMatchedContent" : false,
                      "antivirus" : false,
                      "replacementString" : "",
                      "allowInvalid" : false,
                      "descrption" : "Time when the approval was processed",
                      "secret" : false,
                      "preserveCharsLimit" : 10,
                      "trim" : false,
                      "internalParam" : false,
                      "preserveChars" : "0,5",
                      "importUrl" : false,
                      "decrypt" : false
                    }
                  }
                },
                "additionalProperties" : { }
              }, {
                "required" : [ "errorCode", "message" ],
                "properties" : {
                  "errorCode" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "enum" : [ "URL_NOT_FOUND", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "INTERNAL_SERVER_ERROR", "EMPTY_PAYLOAD" ]
                  },
                  "message" : {
                    "maxLength" : 255,
                    "minLength" : 0
                  }
                },
                "additionalProperties" : { }
              } ]
            },
            "examples" : {
              "Valid responses Definitions" : {
                "value" : {
                  "approver" : {
                    "firstName" : "saran",
                    "lastName" : "raj",
                    "photoUrl" : "https://desk.zoho.com/api/v1/agent/4000000015001/photo",
                    "id" : "4000000015001",
                    "email" : null
                  },
                  "requester" : {
                    "firstName" : "aravind",
                    "lastName" : "a",
                    "photoUrl" : "https://desk.zoho.com/api/v1/agent/4000000012629/photo",
                    "id" : "4000000012629",
                    "email" : null
                  },
                  "requesterId" : "1892000000042001",
                  "requestedTime" : 1466514974000,
                  "approverId" : "1892000000042001",
                  "subject" : "Testing",
                  "description" : "testing",
                  "id" : "1892000001054081",
                  "status" : "Approved",
                  "processedTime" : 1517998355000
                }
              }
            }
          }
        },
        "x-custom-response-attributes" : {
          "disable-safe-headers" : "[]"
        }
      },
      "emptyResponse" : {
        "description" : "No content"
      },
      "fileResponse" : {
        "description" : "File response",
        "content" : {
          "application/octet-stream" : {
            "schema" : {
              "format" : "binary"
            }
          }
        }
      },
      "badRequestErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "BAD_REQUEST",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "unauthorizedErrorResponse" : {
        "description" : "This errorCode value appears if the authentication token in the API request is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "UnAuthenticatedErrorResponse" : {
                "value" : {
                  "errorCode" : "UNAUTHORIZED",
                  "message" : "You are not authorized to perform this operation."
                }
              }
            }
          }
        }
      },
      "invalidOauthErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken is invalid or expired.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "Oauth Error Response" : {
                "value" : {
                  "errorCode" : "INVALID_OAUTH",
                  "message" : "The OauthToken is invalid or has expired."
                }
              }
            }
          }
        }
      },
      "scopeMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the OAuthToken does not contain the scope required to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "ScopeMisMatch Error Response" : {
                "value" : {
                  "errorCode" : "SCOPE_MISMATCH",
                  "message" : "The OAuthToken does not contain the scope required to perform this operation."
                }
              }
            }
          }
        }
      },
      "oauthOrgMisMatchErrorResponse" : {
        "description" : "This errorCode value appears if the user chooses a different organization while generating the OAuthToken instead of the organization in which they want to perform the operation.",
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "errorCode", "message" ],
              "properties" : {
                "message" : { },
                "errorCode" : {
                  "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                }
              }
            },
            "examples" : {
              "OAuth Org Mismatch Error Response" : {
                "value" : {
                  "errorCode" : "OAUTH_ORG_MISMATCH",
                  "message" : "The OAuthToken is not valid for specified organization."
[...]
