{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "TicketTag",
    "version" : "1.0.0",
    "x-clan-group" : "tickets",
    "x-module-group" : "tickets"
  },
  "servers" : [ {
    "url" : "https://desk.zoho.com"
  } ],
  "paths" : {
    "/api/v1/tickets/{ticketId}/tags" : {
      "get" : {
        "tags" : [ "TicketTag" ],
        "summary" : "List tags in a ticket",
        "description" : "This API lists tags associated with a ticket.",
        "operationId" : "getTicketTags",
        "parameters" : [ {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getTagsByTicketResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "tags" ],
                  "properties" : {
                    "tags" : {
                      "items" : {
                        "required" : [ "id", "name", "tagType" ],
                        "properties" : {
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^(?!^null$)[a-zA-Z0-9\\_\\.\\-\\+\\%\\P{InBasicLatin}\\s]{3,}$"
                          },
                          "tagType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "SYSTEM", "MANUAL" ]
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "tags" : [ {
                        "name" : "sample",
                        "tagType" : "MANUAL",
                        "id" : 123234324
                      }, {
                        "name" : "sample",
                        "tagType" : "MANUAL",
                        "id" : 123234324
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Lenient_UserPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "e4b59f138a0fb620555461bffdc52b21",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.TagsService.getTagsByTickets"
        }
      }
    },
    "/api/v1/tags/{id}" : {
      "put" : {
        "tags" : [ "TicketTag" ],
        "operationId" : "tagsRename",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "name" ],
                "properties" : {
                  "name" : {
                    "maxLength" : 100,
                    "minLength" : 0,
                    "pattern" : "^(?!^null$)[a-zA-Z0-9\\_\\.\\-\\+\\%\\P{InBasicLatin}\\s]{3,}$",
                    "description" : "Names of the tag"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : null
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : { },
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "tagJson template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "id", "name", "tagType" ],
                  "properties" : {
                    "name" : {
                      "maxLength" : 100,
                      "minLength" : 3,
                      "pattern" : "^(?!^null$)[a-zA-Z0-9\\_\\.\\-\\+\\%\\P{InBasicLatin}\\s]{3,}$",
                      "description" : "Names of the tag"
                    },
                    "tagType" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "enum" : [ "SYSTEM", "MANUAL" ]
                    },
                    "id" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : null
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "ab9070db35a96b2ce5da0f9b2b1f4525",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.TagsService.renameTag"
        }
      },
      "delete" : {
        "tags" : [ "TicketTag" ],
        "operationId" : "deleteTag",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.DELETE" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "ab9070db35a96b2ce5da0f9b2b1f4525",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.TagsService.deleteTag"
        }
      }
    },
    "/api/v1/tickets/{ticketId}/dissociateTag" : {
      "post" : {
        "tags" : [ "TicketTag" ],
        "summary" : "Dissociate Ticket Tags",
        "description" : "This API removes a single tag or multiple tags from a ticket.",
        "operationId" : "dissociateTicketTags",
        "parameters" : [ {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "tags" ],
                "properties" : {
                  "tags" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^(?!^null$)[a-zA-Z0-9\\_\\.\\-\\+\\%\\P{InBasicLatin}\\s]{3,}$",
                      "x-custom-parameters-attributes" : [ ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "tags" : [ "sample", "ticket", "tag" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy,IscSignatureCalls_OrgPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "system-auth" : "optional",
              "scoped-services" : [ "ZohoSupport" ]
            }
          },
          "clan-group" : "common",
          "apihash" : "5df4ffe2062f558c39c772931aa173cb",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.TagsService.dissociateTags"
        }
      }
    },
    "/api/v1/recentTicketTags" : {
      "get" : {
        "tags" : [ "TicketTag" ],
        "summary" : "List recent tags",
        "description" : "This API lists the five most recent tags associated with tickets.",
        "operationId" : "getRecentTags",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department from which the tags must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the tags must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "entity" : "Departments"
            }
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : { },
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getTicketTagResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "id", "name", "tagType", "ticketCount" ],
                        "properties" : {
                          "ticketCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^(?!^null$)[a-zA-Z0-9\\_\\.\\-\\+\\%\\P{InBasicLatin}\\s]{3,}$"
                          },
                          "tagType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "SYSTEM", "MANUAL", null ]
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "ticketCount" : "10",
                        "name" : "sample",
                        "tagType" : "MANUAL",
                        "id" : "12312312312"
                      }, {
                        "ticketCount" : "0",
                        "name" : "sample",
                        "tagType" : "MANUAL",
                        "id" : "12312312312"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "ab9070db35a96b2ce5da0f9b2b1f4525",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.TagsService.getRecentTags"
        }
      }
    },
    "/api/v1/recentTicketTags/{tagId}" : {
      "post" : {
        "tags" : [ "TicketTag" ],
        "summary" : "Update recent tags",
        "description" : "This API adds a tag to the list of recently viewed tags. tag_id is a mandatory parameter in the API request.",
        "operationId" : "updateRecentTags",
        "parameters" : [ {
          "name" : "tagId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No content"
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 50,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 200,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "ecf4af1e8c725568f2748ce4cfb91c04",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.TagsService.updateRecentTags"
        }
      }
    },
    "/api/v1/tags/{tagId}/ticketsCount" : {
      "get" : {
        "tags" : [ "TicketTag" ],
        "summary" : "Get ticket count by tag",
        "description" : "This API returns how many tickets contain a particular tag.",
        "operationId" : "getTicketsCountByTag",
        "parameters" : [ {
          "name" : "tagId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "getCountResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "count" ],
                  "properties" : {
                    "count" : {
                      "pattern" : "([0-9]+)",
                      "format" : "int64"
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "count" : "10"
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          },
          "404" : {
            "description" : "This errorCode value appears if the URL provided is invalid or does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Url Not Found Error Response" : {
                    "value" : {
                      "errorCode" : "URL_NOT_FOUND",
                      "message" : "The URL you requested could not be found."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "company-internal" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 180000,
                  "threshold" : 10,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 600000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "iscscope" : [ "SupCrmAPI" ]
            }
          },
          "clan-group" : "common",
          "apihash" : "c559436b16ed6f5076a641ccff958ade",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.RecordsCountService.getRequestCountByTag"
        }
      }
    },
    "/api/v1/tags/{currentTagId}/replace" : {
      "patch" : {
        "tags" : [ "TicketTag" ],
        "summary" : "Replace the specified tags",
        "description" : "This API replaces a tag to the specified tag. tag_id is a mandatory parameter in the API request.",
        "operationId" : "replaceTag",
        "parameters" : [ {
          "name" : "currentTagId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "id" ],
                "properties" : {
                  "id" : {
                    "pattern" : "([0-9]+)",
                    "description" : "Tag ID of the Replacing Tag",
                    "format" : "int64"
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "id" : "12312312312"
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No content"
          },
          "403" : {
            "description" : "This errorCode value appears if the user does not have all the permissions required to access the resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "errorCode", "message" ],
                  "properties" : {
                    "message" : { },
                    "errorCode" : {
                      "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                    }
                  }
                },
                "examples" : {
                  "Forbidden Error Response" : {
                    "value" : {
                      "errorCode" : "FORBIDDEN",
                      "message" : "You are not authorized to access this resource."
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.UPDATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 30,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "common",
          "apihash" : "dee086098203948fb31d4345cd657503",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.TagsService.replaceTag"
        }
      }
    },
    "/api/v1/ticketTags" : {
      "get" : {
        "tags" : [ "TicketTag" ],
        "summary" : "List tickets tags",
        "description" : "This API lists the ticket tags added in your help desk portal.�",
        "operationId" : "getTicketsTags",
        "parameters" : [ {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department from which the tags must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the tags must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "entity" : "Departments"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of tags to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number of tags to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the tags must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the tags must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Key that sorts tags by a specific attribute: createdTime or count. The default sorting order is descending.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Key that sorts tags by a specific attribute: createdTime or count. The default sorting order is descending.",
            "enum" : [ "createdTime", "count" ]
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "getTicketTagResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "id", "name", "tagType", "ticketCount" ],
                        "properties" : {
                          "ticketCount" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int32"
                          },
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^(?!^null$)[a-zA-Z0-9\\_\\.\\-\\+\\%\\P{InBasicLatin}\\s]{3,}$"
                          },
                          "tagType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "SYSTEM", "MANUAL", null ]
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "ticketCount" : "10",
                        "name" : "sample",
                        "tagType" : "MANUAL",
                        "id" : "12312312312"
                      }, {
                        "ticketCount" : "0",
                        "name" : "sample",
                        "tagType" : "MANUAL",
                        "id" : "12312312312"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy,IscSignatureCalls_OrgPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "system-auth" : "optional",
              "scoped-services" : [ "ZohoSupport" ]
            }
          },
          "clan-group" : "common",
          "apihash" : "f809afdfec4826748f7fc63f557ad621",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.TagsService.getTicketTags"
        }
      }
    },
    "/api/v1/tickets/{ticketId}/associateTag" : {
      "post" : {
        "tags" : [ "TicketTag" ],
        "summary" : "Associate Ticket Tags",
        "description" : "This API adds a single tag or multiple tags to a ticket.",
        "operationId" : "associateTicketTags",
        "parameters" : [ {
          "name" : "ticketId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "tags" ],
                "properties" : {
                  "tags" : {
                    "uniqueItems" : false,
                    "items" : {
                      "maxLength" : 100,
                      "minLength" : 0,
                      "pattern" : "^(?!^null$)[a-zA-Z0-9\\_\\.\\-\\+\\%\\P{InBasicLatin}\\s]{3,}$",
                      "x-custom-parameters-attributes" : [ ]
                    }
                  }
                },
                "additionalProperties" : { }
              },
              "examples" : {
                "Valid requestBody Definitions" : {
                  "value" : {
                    "tags" : [ "sample", "ticket", "tag" ]
                  }
                }
              }
            }
          },
          "x-custom-request-body-attributes" : {
            "non-empty" : false,
            "allow-invalid" : false
          }
        },
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if there are inaccuracies, such as duplicate entries or invalid IDs, in the data given by the user. The type of inaccuracy is identified by the errorType param.\nThe possible values for the errorType key are:\n*invalid* - the field contains an invalid value *duplicate* - the field contains a value that already exists *missing* - the field does not contain a value\nThe field that contains the inaccurate value is returned in the fieldName param, which is represented in the JSON Pointer convention",
            "content" : {
              "application/json" : {
                "schema" : {
                  "additionalProperties" : false,
                  "allOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "required" : [ "errors" ],
                    "properties" : {
                      "errors" : {
                        "items" : {
                          "required" : [ "errorMessage", "errorType", "fieldName" ],
                          "properties" : {
                            "fieldName" : { },
                            "errorType" : {
                              "enum" : [ "invalid", "duplicate", "missing" ]
                            },
                            "errorMessage" : { }
                          }
                        }
                      }
                    }
                  } ]
                },
                "examples" : {
                  "Invalid Data Error Response" : {
                    "value" : {
                      "errorCode" : "INVALID_DATA",
                      "message" : "The data does not comply to the validation restrictions defined.",
                      "errors" : [ {
                        "fieldName" : "/contactId",
                        "errorType" : "invalid"
                      }, {
                        "fieldName" : "/departmentId",
                        "errorType" : "invalid"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "commonTagResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "id", "name", "tagType" ],
                        "properties" : {
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^(?!^null$)[a-zA-Z0-9\\_\\.\\-\\+\\%\\P{InBasicLatin}\\s]{3,}$"
                          },
                          "tagType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "SYSTEM", "MANUAL" ]
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : { }
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "name" : "sample",
                        "tagType" : "MANUAL",
                        "id" : 123234324
                      }, {
                        "name" : "sample",
                        "tagType" : "SYSTEM",
                        "id" : 123234324
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.CREATE" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "WriteAPI_Standard_UserPolicy,IscSignatureCalls_OrgPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "system-auth" : "optional",
              "scoped-services" : [ "ZohoSupport" ]
            }
          },
          "clan-group" : "common",
          "apihash" : "0549ecb3d2deec92afe81371bfb93386",
          "module-group" : "views",
          "apimethod" : "com.zoho.support.restapi.TagsService.associateTags"
        }
      }
    },
    "/api/v1/tags/search" : {
      "get" : {
        "tags" : [ "TicketTag" ],
        "summary" : "Search tags",
        "description" : "This API searches for tags added in your help desk portal.",
        "operationId" : "getTags",
        "parameters" : [ {
          "name" : "searchVal",
          "in" : "query",
          "description" : "Search keyword related to the tag.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "[a-z0-9\\_\\-\\+\\%\\P{InBasicLatin}\\s]+",
            "description" : "Search keyword related to the tag."
          }
        }, {
          "name" : "departmentId",
          "in" : "query",
          "description" : "ID of the department from which the tags must be fetched",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "ID of the department from which the tags must be fetched",
            "format" : "int64",
            "x-custom-parameters-attributes" : {
              "entity" : "Departments"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of tags to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number of tags to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the tags must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the tags must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "422" : {
            "description" : "This errorCode value appears if the input does not fulfil the conditions necessary for successfully executing the API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "anyOf" : [ {
                    "required" : [ "errorCode", "message" ],
                    "properties" : {
                      "message" : { },
                      "errorCode" : {
                        "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                      }
                    }
                  }, {
                    "additionalProperties" : false,
                    "allOf" : [ {
                      "required" : [ "errorCode", "message" ],
                      "properties" : {
                        "message" : { },
                        "errorCode" : {
                          "enum" : [ "BAD_REQUEST", "UNAUTHORIZED", "INVALID_OAUTH", "SCOPE_MISMATCH", "OAUTH_ORG_MISMATCH", "FORBIDDEN", "LICENSE_ACCESS_LIMITED", "URL_NOT_FOUND", "METHOD_NOT_ALLOWED", "RESOURCE_SIZE_EXCEEDED", "UNSUPPORTED_MEDIA_TYPE", "INVALID_DATA", "EMPTY_PAYLOAD", "UNPROCESSABLE_ENTITY", "ONLY_LIVECHAT_USER", "DUPLICATE_CONTRACT", "INTEGRATION_ADMIN_ERROR", "THRESHOLD_EXCEEDED", "TOO_MANY_REQUESTS", "INTERNAL_SERVER_ERROR" ]
                        }
                      }
                    }, {
                      "required" : [ "errors" ],
                      "properties" : {
                        "errors" : {
                          "items" : {
                            "required" : [ "errorMessage", "errorType", "fieldName" ],
                            "properties" : {
                              "fieldName" : { },
                              "errorType" : {
                                "enum" : [ "invalid", "duplicate", "missing" ]
                              },
                              "errorMessage" : { }
                            }
                          }
                        }
                      }
                    } ]
                  } ]
                }
              }
            }
          },
          "200" : {
            "description" : "commonTagResponse template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data" ],
                  "properties" : {
                    "data" : {
                      "items" : {
                        "required" : [ "id", "name", "tagType" ],
                        "properties" : {
                          "name" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "pattern" : "^(?!^null$)[a-zA-Z0-9\\_\\.\\-\\+\\%\\P{InBasicLatin}\\s]{3,}$"
                          },
                          "tagType" : {
                            "maxLength" : 100,
                            "minLength" : 0,
                            "enum" : [ "SYSTEM", "MANUAL" ]
                          },
                          "id" : {
                            "pattern" : "([0-9]+)",
                            "format" : "int64"
                          }
                        },
                        "additionalProperties" : false
                      }
                    }
                  },
                  "additionalProperties" : false
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "name" : "sample",
                        "tagType" : "MANUAL",
                        "id" : 123234324
                      }, {
                        "name" : "sample",
                        "tagType" : "SYSTEM",
                        "id" : 123234324
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "policy" : "ReadAPI_Standard_UserPolicy,IscSignatureCalls_OrgPolicy"
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : {
              "system-auth" : "optional",
              "scoped-services" : [ "ZohoSupport" ]
            }
          },
          "clan-group" : "tickets",
          "apihash" : "b35327ed6215f4dc76fd8c4defff1f48",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.TagsService.getTags"
        }
      }
    },
    "/api/v1/tags/{tagId}/tickets" : {
      "get" : {
        "tags" : [ "TicketTag" ],
        "summary" : "List tickets by tag",
        "description" : "This API lists tickets containing the tag specified.",
        "operationId" : "getTicketsByTag",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Additional information related to the tickets. Values allowed are: @contacts@, @products@, @departments@, @team@, @isRead@ and @assignee@. You can pass multiple values by separating them with commas.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Additional information related to the tickets. Values allowed are: @contacts@, @products@, @departments@, @team@, @isRead@ and @assignee@. You can pass multiple values by separating them with commas.",
            "enum" : [ "contacts", "isRead", "products", "assignee" ],
            "x-custom-parameters-attributes" : {
              "split" : ",",
              "entity" : "Include"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of tags to fetch",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Number of tags to fetch",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Index number, starting from which the tags must be fetched",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "description" : "Index number, starting from which the tags must be fetched",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Key that sorts the tickets by a specific attribute: @dueDate@, @recentThread@, @createdTime@, or @ticketNumber@. The default sorting order is ascending. A - prefix denotes a descending order of sorting.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 0,
            "description" : "Key that sorts the tickets by a specific attribute: @dueDate@, @recentThread@, @createdTime@, or @ticketNumber@. The default sorting order is ascending. A - prefix denotes a descending order of sorting.",
            "enum" : [ "createdTime", "modifiedTime" ]
          }
        }, {
          "name" : "tagId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        }, {
          "name" : "orgId",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "([0-9]+)",
            "format" : "int32",
            "x-custom-parameters-attributes" : { }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "200" : {
            "description" : "ticketListViewArray template definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "properties" : {
                      "data" : {
                        "items" : {
                          "properties" : {
                            "product" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "id", "productName" ],
                              "properties" : {
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "productName" : {
                                  "maxLength" : 200,
                                  "minLength" : 0
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "contact" : {
                              "maxProperties" : 8,
                              "minProperties" : 8,
                              "required" : [ "account", "email", "firstName", "id", "lastName", "mobile", "phone", "type" ],
                              "properties" : {
                                "lastName" : {
                                  "maxLength" : 200,
                                  "minLength" : 0
                                },
                                "firstName" : {
                                  "maxLength" : 40,
                                  "minLength" : 0
                                },
                                "phone" : {
                                  "maxLength" : 50,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                },
                                "mobile" : {
                                  "maxLength" : 50,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "type" : {
                                  "x-dynamic-enum" : true
                                },
                                "email" : {
                                  "maxLength" : 255,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                },
                                "account" : {
                                  "maxProperties" : 3,
                                  "minProperties" : 3,
                                  "required" : [ "accountName", "id", "website" ],
                                  "properties" : {
                                    "website" : {
                                      "maxLength" : 120,
                                      "minLength" : 0
                                    },
                                    "accountName" : {
                                      "maxLength" : 200,
                                      "minLength" : 0
                                    },
                                    "id" : {
                                      "pattern" : "([0-9]+)",
                                      "format" : "int64"
                                    }
                                  },
                                  "additionalProperties" : { }
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "isRead" : { },
                            "assignee" : {
                              "maxProperties" : 5,
                              "minProperties" : 5,
                              "required" : [ "email", "firstName", "id", "lastName", "photoURL" ],
                              "properties" : {
                                "firstName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "photoURL" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "lastName" : {
                                  "maxLength" : 50,
                                  "minLength" : 0
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'&]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$"
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "team" : {
                              "maxProperties" : 3,
                              "minProperties" : 3,
                              "required" : [ "id", "logoUrl", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 50,
                                  "minLength" : 1,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "logoUrl" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                }
                              },
                              "additionalProperties" : { }
                            },
                            "department" : {
                              "maxProperties" : 2,
                              "minProperties" : 2,
                              "required" : [ "id", "name" ],
                              "properties" : {
                                "name" : {
                                  "maxLength" : 200,
                                  "minLength" : 0,
                                  "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                }
                              },
                              "additionalProperties" : { }
                            }
                          }
                        }
                      }
                    }
                  }, {
                    "required" : [ "data" ],
                    "properties" : {
                      "data" : {
                        "items" : {
                          "additionalProperties" : false,
                          "allOf" : [ {
                            "additionalProperties" : false,
                            "allOf" : [ {
                              "required" : [ "assigneeId", "channel", "dueDate", "email", "language", "phone", "priority", "productId", "subject" ],
                              "properties" : {
                                "productId" : {
                                  "pattern" : "([0-9]+)",
                                  "description" : "ID of the product to which the ticket is mapped",
                                  "format" : "int64"
                                },
                                "phone" : {
                                  "maxLength" : 120,
                                  "minLength" : 0,
                                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                                  "description" : "Phone number in the ticket",
                                  "x-custom-parameters-attributes" : {
                                    "filterMatchedContent" : true,
                                    "replacementString" : ""
                                  }
                                },
                                "subject" : {
                                  "maxLength" : 1000,
                                  "minLength" : 0,
                                  "description" : "Subject of the ticket"
                                },
                                "dueDate" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                                  "description" : "Due date for resolving the ticket"
                                },
                                "channel" : {
                                  "description" : "Channel through which the ticket originated.",
                                  "x-dynamic-enum" : true
                                },
                                "language" : {
                                  "description" : "Language preference to set for the ticket",
                                  "x-dynamic-enum" : true
                                },
                                "priority" : {
                                  "description" : "Priority of the ticket",
                                  "x-dynamic-enum" : true
                                },
                                "assigneeId" : {
                                  "pattern" : "([0-9]+)",
                                  "description" : "ID of agent to whom the ticket is assigned",
                                  "format" : "int64"
                                },
                                "email" : {
                                  "maxLength" : 150,
                                  "minLength" : 0,
                                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                                  "description" : "Email ID in the ticket"
                                }
                              },
                              "additionalProperties" : false
                            }, {
                              "required" : [ "accountId", "channelCode", "closedTime", "commentCount", "contactId", "createdTime", "customerResponseTime", "departmentId", "dueDate", "id", "isArchived", "isSpam", "lastThread", "onholdTime", "relationshipType", "responseDueDate", "sentiment", "source", "status", "statusType", "teamId", "threadCount", "ticketNumber", "webUrl" ],
                              "properties" : {
                                "ticketNumber" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "sentiment" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(POSITIVE|NEUTRAL|NEGATIVE)"
                                },
                                "customerResponseTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "statusType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "enum" : [ "Open", "Closed", "On Hold" ]
                                },
                                "relationshipType" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                },
                                "contactId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isArchived" : { },
                                "departmentId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "dueDate" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "threadCount" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "onholdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "lastThread" : {
                                  "required" : [ "channel", "direction", "isDraft", "isForward" ],
                                  "properties" : {
                                    "channel" : {
                                      "x-dynamic-enum" : true
                                    },
                                    "isDraft" : { },
                                    "isForward" : { },
                                    "direction" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "in", "out" ]
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "source" : {
                                  "required" : [ "appName", "appPhotoURL", "extId", "permalink", "type" ],
                                  "properties" : {
                                    "appName" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "extId" : {
                                      "maxLength" : 100,
                                      "minLength" : 0
                                    },
                                    "permalink" : {
                                      "maxLength" : 65535,
                                      "minLength" : 0,
                                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                    },
                                    "type" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "enum" : [ "SYSTEM", "INTEGRATION", "INSTANT_MESSAGE" ]
                                    },
                                    "appPhotoURL" : {
                                      "maxLength" : 65535,
                                      "minLength" : 0,
                                      "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                    },
                                    "uuid" : {
                                      "maxLength" : 100,
                                      "minLength" : 0,
                                      "pattern" : "([0-9a-zA-Z_\\-\\.\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s])+"
                                    }
                                  },
                                  "additionalProperties" : false
                                },
                                "closedTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "commentCount" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int32"
                                },
                                "accountId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "responseDueDate" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "webUrl" : {
                                  "maxLength" : 500,
                                  "minLength" : 0,
                                  "pattern" : "(^(ht|f)tp(s?)\\://[-.\\w]*(/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'/\\\\+=&amp;%\\$#_@]*)?$)"
                                },
                                "teamId" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "createdTime" : {
                                  "maxLength" : 100,
                                  "minLength" : 0,
                                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))"
                                },
                                "id" : {
                                  "pattern" : "([0-9]+)",
                                  "format" : "int64"
                                },
                                "isSpam" : { },
                                "status" : {
                                  "x-dynamic-enum" : true
                                },
                                "channelCode" : {
                                  "maxLength" : 100,
                                  "minLength" : 0
                                }
                              }
                            } ]
                          }, {
                            "required" : [ "category", "layoutId", "subCategory" ],
                            "properties" : {
                              "subCategory" : {
                                "x-dynamic-enum" : true
                              },
                              "category" : {
                                "x-dynamic-enum" : true
                              },
                              "layoutId" : {
                                "pattern" : "([0-9]+)",
                                "format" : "int64"
                              }
                            }
                          } ]
                        }
                      }
                    },
                    "additionalProperties" : { }
                  } ]
                },
                "examples" : {
                  "Valid responses Definitions" : {
                    "value" : {
                      "data" : [ {
                        "ticketNumber" : "101",
                        "statusType" : "Open",
                        "subject" : "Real Time analysis Requirement",
                        "dueDate" : 1466525776000,
                        "departmentId" : "1892000000006907",
                        "channel" : "Email",
                        "isRead" : true,
                        "language" : "English",
                        "closedTime" : null,
                        "contact" : {
                          "lastName" : "Carol",
                          "firstName" : "Lucas",
                          "phone" : "1 888 900 9646",
                          "mobile" : "8838109870",
                          "id" : "1892000000042032",
                          "isSpam" : false,
                          "type" : "paid",
                          "email" : "carol@zylker.com",
                          "account" : {
                            "website" : "www.desk.com",
                            "accountName" : "desk Account",
                            "id" : "1892000000975382"
                          }
                        },
                        "createdTime" : 1383564067000,
                        "id" : "1892000000042034",
                        "department" : {
                          "name" : "dasdasdasd",
                          "id" : "1892000000006907"
                        },
                        "email" : "carol@zylker.com",
                        "customerResponseTime" : 1383564067912,
                        "productId" : null,
                        "contactId" : "1892000000042032",
                        "threadCount" : "121",
                        "team" : {
                          "name" : "kjsdfjks",
                          "id" : "8920000000069071",
                          "logoUrl" : "https://desk.zoho.com/api/v1/teams/8920000000069071/logo?orgId=11278831"
                        },
                        "priority" : "High",
                        "assigneeId" : "1892000000056007",
                        "commentCount" : "1",
                        "accountId" : "189200000005345",
                        "phone" : null,
                        "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Cases/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                        "teamId" : "8920000000069071",
                        "assignee" : {
                          "firstName" : "dasca",
                          "lastName" : "vins",
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/1892000000056007/photo?orgId=298902",
                          "id" : "1892000000056007",
                          "email" : "jack@zylker.com"
                        },
                        "isSpam" : false,
                        "status" : "Open"
                      }, {
                        "ticketNumber" : "169",
                        "statusType" : "Open",
                        "subject" : "Hi. There is a sudden delay in the processing of the orders. Check this with high priority",
                        "dueDate" : null,
                        "departmentId" : "1892000000006907",
                        "channel" : "Facebook",
                        "isRead" : true,
                        "closedTime" : null,
                        "contact" : {
                          "lastName" : "Richard",
                          "firstName" : "Lucas",
                          "phone" : "1 888 900 9646",
                          "mobile" : "8838109870",
                          "id" : "1892000000093203",
                          "isSpam" : false,
                          "type" : "paid",
                          "email" : "richard@zylker.com",
                          "account" : {
                            "website" : "www.desk.com",
                            "accountName" : "desk Account",
                            "id" : "1892000000975382"
                          }
                        },
                        "createdTime" : 1394098493000,
                        "id" : "1892000000093205",
                        "department" : {
                          "name" : "dasdasdasd",
                          "id" : "1892000000006907"
                        },
                        "email" : "carol@zylker.com",
                        "customerResponseTime" : 1394524289618,
                        "productId" : null,
                        "contactId" : "1892000000093203",
                        "threadCount" : "43",
                        "team" : {
                          "name" : "kjsdfjks",
                          "id" : "8920000000069071",
                          "logoUrl" : "https://desk.zoho.com/api/v1/teams/8920000000069071/logo?orgId=11278831"
                        },
                        "priority" : null,
                        "assigneeId" : "1892000000042001",
                        "commentCount" : "0",
                        "phone" : null,
                        "webUrl" : "https://desk.zoho.com/support/zylker/ShowHomePage.do#Cases/dv/d126330fb061247d9ebddaeb9d93ba74750b0284bc703b38",
                        "teamId" : "8920000000069071",
                        "assignee" : {
                          "firstName" : "dasca",
                          "lastName" : "vins",
                          "photoURL" : "https://desk.zoho.com/api/v1/agents/1892000000042001/photo?orgId=298902",
                          "id" : "1892000000042001",
                          "email" : "jack@zylker.com"
                        },
                        "isSpam" : false,
                        "status" : "Open"
                      } ]
                    }
                  }
                }
              }
            },
            "x-custom-response-attributes" : {
              "disable-safe-headers" : "[]"
            }
          }
        },
        "security" : [ {
          "org-oauth" : [ "Desk.accessAll.ALL" ]
        }, {
          "iam-oauth2-schema" : [ "Desk.tickets.READ" ]
        } ],
        "x-audience" : [ "external-public" ],
        "x-custom-url-attribute" : {
          "security" : {
            "throttle" : {
              "inline" : [ {
                "scope" : "APPSERVER",
                "rules" : [ {
                  "duration" : 60000,
                  "lock-period" : 300000,
                  "threshold" : 20,
                  "hip" : false
                }, {
                  "duration" : 3600000,
                  "lock-period" : 900000,
                  "threshold" : 100,
                  "hip" : false
                } ],
                "window" : "ROLLING",
                "key" : "url.path+user.zuid"
              } ]
            },
            "extraparams" : {
              "disable" : true,
              "ignore" : false
            },
            "authentication" : { }
          },
          "clan-group" : "tickets",
          "apihash" : "9c958f702ded6f1e67e2b007e056a309",
          "module-group" : "tickets",
          "apimethod" : "com.zoho.support.restapi.RequestService.getTicketsForTag"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "tagJson" : {
        "required" : [ "id", "name", "tagType" ],
        "properties" : {
          "name" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^(?!^null$)[a-zA-Z0-9\\_\\.\\-\\+\\%\\P{InBasicLatin}\\s]{3,}$"
          },
          "tagType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "SYSTEM", "MANUAL" ]
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "data" : {
        "items" : {
          "required" : [ "id", "name", "tagType" ],
          "properties" : {
            "name" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "^(?!^null$)[a-zA-Z0-9\\_\\.\\-\\+\\%\\P{InBasicLatin}\\s]{3,}$"
            },
            "tagType" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "SYSTEM", "MANUAL" ]
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "additionalProperties" : false
        }
      },
      "getTicketTagJson" : {
        "required" : [ "id", "name", "tagType", "ticketCount" ],
        "properties" : {
          "ticketCount" : {
            "pattern" : "([0-9]+)",
            "format" : "int32"
          },
          "name" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^(?!^null$)[a-zA-Z0-9\\_\\.\\-\\+\\%\\P{InBasicLatin}\\s]{3,}$"
          },
          "tagType" : {
            "maxLength" : 100,
            "minLength" : 0,
            "enum" : [ "SYSTEM", "MANUAL", null ]
          },
          "id" : {
            "pattern" : "([0-9]+)",
            "format" : "int64"
          }
        },
        "additionalProperties" : { }
      },
      "getTicketTagData" : {
        "items" : {
          "required" : [ "id", "name", "tagType", "ticketCount" ],
          "properties" : {
            "ticketCount" : {
              "pattern" : "([0-9]+)",
              "format" : "int32"
            },
            "name" : {
              "maxLength" : 100,
              "minLength" : 0,
              "pattern" : "^(?!^null$)[a-zA-Z0-9\\_\\.\\-\\+\\%\\P{InBasicLatin}\\s]{3,}$"
            },
            "tagType" : {
              "maxLength" : 100,
              "minLength" : 0,
              "enum" : [ "SYSTEM", "MANUAL", null ]
            },
            "id" : {
              "pattern" : "([0-9]+)",
              "format" : "int64"
            }
          },
          "additionalProperties" : false
        }
      },
      "ticketData" : {
        "items" : {
          "additionalProperties" : false,
          "allOf" : [ {
            "additionalProperties" : false,
            "allOf" : [ {
              "required" : [ "assigneeId", "channel", "dueDate", "email", "language", "phone", "priority", "productId", "subject" ],
              "properties" : {
                "productId" : {
                  "pattern" : "([0-9]+)",
                  "description" : "ID of the product to which the ticket is mapped",
                  "format" : "int64"
                },
                "phone" : {
                  "maxLength" : 120,
                  "minLength" : 0,
                  "pattern" : "[0-9a-zA-Z_\\+\\-\\.\\(\\)\\$@\\?\\,\\:\\'\\/\\!\\P{InBasicLatin}\\s]+",
                  "description" : "Phone number in the ticket",
                  "x-custom-parameters-attributes" : {
                    "filterMatchedContent" : true,
                    "replacementString" : ""
                  }
                },
                "subject" : {
                  "maxLength" : 1000,
                  "minLength" : 0,
                  "description" : "Subject of the ticket"
                },
                "dueDate" : {
                  "maxLength" : 100,
                  "minLength" : 0,
                  "pattern" : "(((19|20)\\d\\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\\d]{0,3})?(Z))",
                  "description" : "Due date for resolving the ticket"
                },
                "channel" : {
                  "description" : "Channel through which the ticket originated.",
                  "x-dynamic-enum" : true
                },
                "language" : {
                  "description" : "Language preference to set for the ticket",
                  "x-dynamic-enum" : true
                },
                "priority" : {
                  "description" : "Priority of the ticket",
                  "x-dynamic-enum" : true
                },
                "assigneeId" : {
                  "pattern" : "([0-9]+)",
                  "description" : "ID of agent to whom the ticket is assigned",
                  "format" : "int64"
                },
                "email" : {
                  "maxLength" : 150,
                  "minLength" : 0,
                  "pattern" : "^[a-zA-Z0-9\\_]([a-zA-Z0-9\\_\\+\\-\\.\\'\\&\\~]*)@(?=.{4,256}$)(([a-zA-Z0-9]+)(([\\-\\_]*[a-zA-Z0-9])*)[\\.])+[a-zA-Z]{2,22}$",
                  "description" : "Email ID in the ticket"
                }
              },
              "additionalProperties" : false
            }, {
[...]
